[2019-08-05 20:06] JohannesLorenz commented on #5108
The question is also how to visualize that. I find the classical mixer window not suited for more than 2 channels, but I'd prefer a graph where each plugin is a node and you can connect to the inputs by using arrows ("edges"). What do the others think about the visualization?

True, but why is this more difficult with 6 channels than with 2?

[2019-08-05 22:17] ArashPartow commented on #5064
@tresf:  I'll do that and update this thread. But please do note the tag will be on the tip of the current master . The previous hashes in question are no longer there.

Going forward the LMMS build system should from now on checkout the specific tag it is interested in and not any specific hash.

[2019-08-05 23:13] famecastle opened #5116 "MuseScore Midi to LMMS Import Issues"
There are many issues complaining about the LMMS MIDI importing capabilities. However, I think this one is new (also in the aspect that I am using the latest software versions). I am using the latest stable **LMMS 1.2.0** in combination with the latest **MuseScore 3.2.5** . The latter program version is just for your information, because I think I can locate this issue back to LMMS.

There are sev

[2019-08-06 06:43] PhysSong commented on #5116
Duplicate of #2741 and #815.

[2019-08-06 06:43] #5116 closed

[2019-08-06 12:58] tresf commented on #5064
I'm sorry I was under the impression you were willing to (1) reconstruct the historical commits (e.g. from an undamaged fork), (2) commit them to a branch and then (3) create a release off of that branch.

Maintaining tags will certainly help as it discourages this from happening in the future, but it won't fix the historical worktree problems.

I believe git only stores the commit hash, regardles

[2019-08-06 13:39] JohannesLorenz commented on #5064
I was under that impression, too. That's also why submodules are not on any branch (but the HEAD is marked `detached`) when you have checked them out, even if the one who pushed the main repo specified a branch.

I also agree that this might help in the future, but it won't prevent force pushes that override tags.

@ArashPartow We normally use this workflow: Develop on your side branch, and once y

[2019-08-06 15:00] Gps2010 commented on #5104
Here is the other ? problem
I wanted to move some notes, and then this happens:

https://i.imgur.com/GbKOHdz.png

[2019-08-06 15:22] tresf commented on #5064
Preventing force-pushing is for multi-user projects.  If he's the sole maintainer of the project, you're just asking him to put a rule to prevent him from force-pushing, which is the same as him just promising not to force-push.

Force-pushing is fine in many circumstances, but when an important commit gets wiped out or the commits were written to 3rd party projects, that's when it causes problems

[2019-08-06 17:32] musikBear commented on #733
has something been 'lost'?
in a 1.0 project i see this in 1.2.0:
![pluginNotFound](https://user-images.githubusercontent.com/6662066/62562082-c6ac0e00-b880-11e9-80ec-ac55885de4a0.JPG)
Here there is no chance for getting the name of the 'not found' plugin,

[2019-08-06 21:23] ArashPartow commented on #5064
@tresf and @JohannesLorenz:

How about this approach: - I create a repo called exprtk_lmms, which will only include a single file (exprtk.hpp) initially based off  what is in the actual repo as of when it's created and then never force push on that.

LMMS can then use that repository - would that be simpler/viable option?

[2019-08-06 22:12] JohannesLorenz commented on #5105
@tresf I can do this, but as `cmake/modules/CheckSubmodules.cmake` is your file, it might be better if you'd do it. In the latter case, I could offer a review.

[2019-08-07 11:12] lleroy commented on #3086
I think the last buffer of samples from the instrument is dropped somewhere:

![rec_pulse](https://user-images.githubusercontent.com/43440559/62618338-46cf8380-b914-11e9-8c87-900796e2664d.png)

I wrote out the samples to a file in TripleOscillator::playNote() and in AudioPulseAudio::streamWriteCallback() and as you can see the plugin nicely uses  Instrument::applyRelease(), but somehow that last p

[2019-08-07 13:04] lleroy commented on #3086
I think this fixes the problem: delaying the removal of the finished PlayHandles until after the AudioPorts have processed their output, since AudioPort::doProcessing() iterates over the PlayHandles.

diff -ru lmms-1.2.0-orig/src/core/Mixer.cpp lmms-1.2.0/src/core/Mixer.cpp
--- lmms-1.2.0-orig/src/core/Mixer.cpp  2018-11-03 02:43:42.000000000 +0100
+++ lmms-1.2.0/src/core/Mixer.cpp       2019-08-0

[2019-08-07 13:29] tresf commented on #3086
@lleroy thanks for looking into this.  @PhysSong @JohannesLorenz I assume a PR is the best place to for this change?  This bug has been plaguing the software for a very long time.

[2019-08-07 16:24] JohannesLorenz commented on #5064
I don't know why you propose so complicated things while disabling force-pushes is so easy and common, and when I ask I don't get an answer @ArashPartow

Anyways... As long as we keep exprtk an LMMS submodule, I'm OK with **any** solution, since I'll just not init that submodule per #5105 . I'm OK with closing the issue or keeping it open. I unsubscribe from this issue, please don't tag me here un

[2019-08-07 16:31] tresf commented on #5064
It's a toggle switch, it's for safety (NOT for integrity) and it's easy to turn off.  It doesn't fix history.  It doesn't fix moving forward.

Who's?  I've honored his request to keep tags.  If I can shove back into a branch commits that we need, it could fix this, right?  There are two tasks:

1. Fix the past
2. Prevent this from happening in the future

Since @ArashPartow has already promised to

[2019-08-07 16:46] tresf commented on #5064
https://github.com/ArashPartow/exprtk/commits/f32d2b4 ✅exists
https://github.com/ArashPartow/exprtk/commits/aad301a ✅exists
https://github.com/ArashPartow/exprtk/commits/21bb5ec ✅exists

https://github.com/tresf/exprtk/commits/f32d2b4 🚫was missing

@JohannesLorenz is there a chance the only issue is my fork?  I probably cleaned it up on accident.  I've recreated it.  I'm still going through the co

[2019-08-07 17:27] tresf commented on #5105
This statement is not correct.  Submodules can be skipped by providing:

[code]

... as documented here: https://github.com/LMMS/lmms/blob/master/cmake/modules/CheckSubmodules.cmake#L13

That script was written with the intention of being as generic as possible.  Although a human can "infer" which submodule pertains to a plugin, it's not a 1:1.

Plugin Name | Submodule Name
-------------|---------

[2019-08-07 18:03] JohannesLorenz commented on #3086
Looks like a valid fix, good find. Indeed, `Instrument::applyRelease` does the release for TripleOscillator, so this is probably just removed by removing the play handles.

I'd like to check this in a PR, and I'd offer reviewing this.

Btw: Does anyone know why there are no clicks at the "start" of a (phase shifted) sine wave in TripleOscillator? I can't find out where a fade-in would be applied,

[2019-08-07 19:26] JohannesLorenz commented on #5105
Ahhh `cmake -DSKIP_SUBMODULES=plugins/Xpressive/exprtk ..` worked.

Some things that could be improved:
* Fail if you asked to skip a module that the script did not recognize
* Allow slashes at the end of the folders (`-DSKIP_SUBMODULES=plugins/Xpressive/exprtk/`)

Using this, CMake errors because it still wants to build the plugin:
[code]

Now, IIRC, if you just want to not build Xpressive, you h

[2019-08-08 01:36] #5094 closed

[2019-08-08 03:29] PhysSong commented on #5115
Reproduced with LV2. I'll see if it's related with #3623.

[2019-08-08 05:34] PhysSong commented on #5115
Dropping the caching system seems to fix this issue. I left with re-implementing the `One Instrument Track Window Mode` feature now.

[2019-08-08 16:39] musikBear commented on #3086
If the attack-point in the phase-shifted sine, is closer to 0 dB than the Non-phase-shifted sine, the risk of a click artefact would be less, i believe-
That opens a new Q: Is non-shifted sine actually in a 'wrong' phase?
Rem : 3oc have unwanted 'slide' in phase. The fix for that bug #2047, had to be abandoned: #3292.

[2019-08-08 20:32] SecondFlight commented on #3086
The issue in #2047 was not that oscillators start at the wrong phase. I believe they start with the expected phase and desync over time.

I don't believe this is what they were saying, but I could be wrong.

By "attack point", do you mean the value that the oscillator gives as its first sample?

[2019-08-09 14:40] musikBear commented on #3086
well for note off i suppose it would have the sine continue to the 0 value, before the sound is stopped
![image](https://user-images.githubusercontent.com/6662066/62786932-e67f4400-bac3-11e9-8e95-e85f3c5c25d5.png)

Green line is note-off. So the red shape should be continued to the black line (stippled) before it really is stopped. the blue shape can be stopped immediately

[2019-08-09 18:18] SecondFlight commented on #3086
It's not quite that simple.

Even if a signal stops at 0, extra high-frequency content will come through when the signal is converted from digital back to analog and sent to the speakers:

![image](https://user-images.githubusercontent.com/6700184/62800037-5edc0a00-bab0-11e9-8e7b-0fa9f9275e2a.png)

In the image above, the digital signal is represented by the dots, and the analog output from the D/

[2019-08-10 13:41] winniehell commented on #1911
I really love the design suggested here and understand that it's a lot of work, so I would like to help.

I can imagine that the following change in concept would be a first iteration into the right direction:

- Make all windows (song editor, beat editor, piano roll, ...) always full screen in the main window.
- Allow to detach each of them in a separate resizable window.

That is each window has

[2019-08-10 14:10] winniehell commented on #1911
To explain a bit the reasoning behind my suggestion:

I don't think implementing this new design all at once is a good idea because it does not only change how things look but also changes several workflows. In my experience it helps to break down such a big task in small bits that can be released individually. That way the maintenance cost for the fork or feature branch is reduced and also user s

[2019-08-10 14:21] NETMANSKY commented on #1911
@winniehell As you know @budislav offered a new one-windowed design of LMMS. It was absolutely revolutionary idea in that time. But community rejected him...  I still looking his design and crying. Maybe yet is not late? Is not too late?..
In my opinion:

- Song editor must be main window always. And transport panel must be general for each module, react on Space button and must be moved into top

[2019-08-10 14:25] tresf commented on #1911
@winniehell I believe your argument is, "lets cripple the interface now to prepare the users for the change".  I'm not sure I agree (I'm only one opinion, so take it with a grain of salt).
* The codebase suffers from a slow adoption of change.  We will be improving this now that `stable-1.2` is released, we plan to start releasing nightly builds of our `master` branch.  This means that something l

[2019-08-10 14:25] winniehell commented on #1911
It looks like this is already being worked on in https://github.com/LMMS/lmms/pull/3532. Sorry for the noise! :see_no_evil:

[2019-08-10 14:25] imdaveead commented on #4919
i've had this same problem here, and it happened before on another software. cool thing about the other software is they had something in the settings that let you change the user interface scale.

![image](https://user-images.githubusercontent.com/24465214/62822946-d9606480-bb58-11e9-90c9-f6a143352ecb.png)

since both of these programs started out with the 2x scale on first launch, i'm going to a

[2019-08-10 14:32] tresf commented on #1911
@winniehell here's what I'm talking about in regards to responsive layout: https://github.com/LMMS/lmms/pull/2068

This is an attempt by @michaelgregorius to make all of our LADSPA plugins "just fit" inside a container.   I feel we first need to move all UI components into responsive containers in order for single-window to be viable.

[2019-08-10 14:52] winniehell commented on #1911
@tresf No, my argument is "let's not change it all at once". :smiley: Given that from what I can tell shipping new things takes a while in the LMMS project (just to be clear: no blame here!), I would advocate against making the UI worse as a temporary state because "temporary" can be a while.

Of course "worse UI" is subjective in many cases. :sweat_smile:

Thank you for this insight! It seemed li

[2019-08-10 15:00] winniehell commented on #1911
— unnecessary state because we have "hidden" already

This has already been done in https://github.com/LMMS/lmms/pull/2983 and shipped with 1.2 but I didn't notice because I was still on 1.1. Sorry! :see_no_evil:

[2019-08-10 15:14] tresf commented on #1911
I had forggotten as well.  My apologies. :D

[2019-08-10 15:35] winniehell commented on #5097
I'd like to make the following suggestions:

1. Keep the green text color for the numbers to make them stick out better.
2. Put the labels above the numbers because all languages I know read from top to bottom.

![time-display](https://user-images.githubusercontent.com/1652293/62823769-26622c00-bb95-11e9-8f3e-6c3b1cfc44e1.png)

[2019-08-10 15:42] winniehell commented on #5097
Optionally we can keep the dark green text color (`#02200d`) for leading zeros:

![time-display](https://user-images.githubusercontent.com/1652293/62823828-fff0c080-bb95-11e9-94b9-9a06409007db.png)

Or just entirely remove them:

![time-display](https://user-images.githubusercontent.com/1652293/62823845-3d554e00-bb96-11e9-97da-0de6f81d918d.png)

[2019-08-10 15:57] winniehell commented on #5097
The change in context:

![Bildschirmfoto vom 2019-08-10 17-47-50](https://user-images.githubusercontent.com/1652293/62823998-0718ce00-bb98-11e9-8df6-270291696e26.png)

...and maybe we can do a similar transformation for the tempo and time scale? :thinking:

[2019-08-10 18:17] he29-net commented on #3086
It doesn't even need to go through D/A conversion; whenever you have a sharp angle like that in the signal, you are including high frequency components (sine waves) in order to make it.

To get a perfectly sharp change in the signal (e.g. a square wave) in the real world, you would have to include infinitely many of these components, expending infinite amount of energy. That's impossible, so the s

[2019-08-10 18:48] JohannesLorenz commented on #3086
Well, it [has always](https://github.com/LMMS/lmms/blob/stable-1.2/plugins/triple_oscillator/TripleOscillator.cpp#L367) been enabled by default.

Just for background info, zyn uses [S-formed envelopes for fade-in](https://github.com/zynaddsubfx/zynaddsubfx/blob/4e36e765f677dbc689461889e502d015c22966a5/src/Synth/ADnote.cpp#L1202-L1222) and [linear envelopes for fade-out](https://github.com/zynaddsu

[2019-08-10 19:58] he29-net commented on #3086
Oh, I thought there is only the standard "ADSR envelope" (second instrument tab), which is off by default. If the instruments individually manage their own fade-in and fade-out, this should not be a problem. (My mistake, I mainly reacted to the last two posts, without properly understanding the rest.)

[2019-08-10 22:06] winniehell commented on #5097
I have created https://github.com/LMMS/lmms/pull/5118 now with my suggestion.

[2019-08-11 14:22] musikBear commented on #3086
imo -a mistake

[2019-08-11 14:32] musikBear commented on #5097
i prefer same font & color for digit info on main. A thing to remember is that the main-realestate maby could be used for some of the other new *feature*-related additions, that tracker already have received.

[2019-08-11 15:21] JohannesLorenz opened #5119 "Triple Oscillator clicks if with phase shifting of 90 degrees"
Select sine wave only, start at 90 "PO" (oscillator phase shift). Play a note (for lower note, you'll hear it best). Then 3Osc starts with a click.

Should this be fixed? If you have an attack time of > 0, there is no additional fade in algorithm required. But if your attack time is = 0, I think a fade-in algorithm must be applied.

For background info, zynaddsubfx uses [S-formed envelopes for fad

[2019-08-11 15:21] JohannesLorenz commented on #3086
I just tested. It does clip on fade in if you take *90* degrees phase shifting. OT, but a bug IMO, so I opened #5119 .

[2019-08-11 18:35] winniehell commented on #5097
You mean white for labels and numbers?

Do you have an example of for those?

In my opinion the current play position is quite an important information that deserves a good amount of realestate. :smiley:

[2019-08-11 21:14] winniehell opened #5120 "Split CSS file into smaller ones"
The [current stylesheet](https://github.com/LMMS/lmms/blob/stable-1.2/data/themes/default/style.css) is almost 1000 lines long. That is quite a lot. I'd like to suggest to split it into smaller files by the top level widget the styles are affecting.

For example

[code]

would go into a `QTreeWidget.css`.

Some styles that affect a group of unrelated widget may still end up in a special `global.cs

[2019-08-11 21:14] winniehell commented on #5120
@lukas-w Given that you introduced the Qt Resource System (https://github.com/LMMS/lmms/pull/1891), I'd like to here your opinion on this.

[2019-08-12 09:04] lukas-w commented on #5120
As long as it can be split into logical subsets, why not. Plugin-specific styles such as the [`WatsynView`](https://github.com/LMMS/lmms/blob/db200fb90c64e6e1354103c9317b949477f07cd4/data/themes/default/style.css#L854-L888) can certainly be moved out of the main `.css` or even be moved to their respective plugin folder. One thing to keep in mind is that the order the `*.css` files are read will ma

[2019-08-12 09:07] lukas-w commented on #5120
Sorry, hit "Comment" accidentally.

The exact way the stylesheet is split is probably a matter of taste, so go feel free to do it the way you think is intuitive. I'd just prefer if we didn't end up with 50+ micro-files.

Side note, there may be other ways to simplify the stylesheet, for instance the text color `#d1d8e4` appears 16 times throughout the stylesheet even though it's already part of th

[2019-08-12 17:57] winniehell commented on #5120
@lukas-w Thank you for your thoughts! :bowing_man:

I agree that this can become a problem. The same problem can occur when moving blocks around in one big file. In my opinion the solution would be to make rules as specific as they need to be to take precedence.

My main goal behind this suggestion was to have a simple rule behind the split. Even a linter for

would be easy to write.

Defining "lo

[2019-08-12 18:09] musikBear commented on #5097
#387 uses the toolbar in a different configuration

[2019-08-12 18:33] winniehell commented on #5097
@musikBear Thank you for the link! :bowing_man: I think we can achieve this by reducing the font size. Maybe we can even make the toolbar resizeable and adjust the font size of the time display dynamically.

[2019-08-12 18:40] Veratil commented on #5120
Could this split benefit from using something like SCSS? I think it would allow writing themes to become a lot easier (if that's something someone wants to do).

[2019-08-12 18:42] winniehell commented on #5120
@Veratil I think SCSS can help reduce the overall size of the CSS. However I would make introducing it a separate step from the split because it adds some complexity to the toolchain.

[2019-08-12 18:49] Veratil commented on #5120
Agreed, the pros and cons must be weighed. The end result stylesheet might be the same size, but the ability to theme would become much easier (which I think could really open up customizing workflows to users needs). Introducing a new step in the toolchain should be a one-time thing, but it's adding a new dependency as well.

[2019-08-12 19:01] SecondFlight commented on #5097
I think it's a bit absurd to attempt to leave room for every possible future feature. If someone wants to implement #387, why not let them also rework the new time display? They would have to rework the current one as it stands.

[2019-08-12 19:04] SecondFlight commented on #5120
Isn't the CSS loaded dynamically? I'm worried allowing SCSS would require adding a dedicated SCSS compiler to LMMS, not just to the build chain.

[2019-08-12 19:07] winniehell commented on #5120
@SecondFlight You could compile the SCSS to CSS at build time and then check in the resulting the CSS before distribution. This would then leave the loading mechanism untouched.

However if we agree that introducing SCSS is not necessarily part of splitting the CSS, maybe we can continue discussion in a separate issue and keep this one focussed on the split?

[2019-08-12 19:14] SecondFlight commented on #5120
True, though that doesn't account for custom themes.

[2019-08-13 13:27] musikBear commented on #5120
👍 for separate CSS-files for specific components. That will make finding specific items simpler, and simpler is good.
Accessibility and intuitive code always have my support ;p
Not so sure about SCSS, mostly for the same reason. If the complexity goes up, where it could be kept simple, it exclude users

[2019-08-13 16:49] nctrd commented on #5067
UPDATE:

Found another feature of this issue. I have to start dragging control with Cmd pressed, but then drop it with Cmd released - it adds and works well. Not sure if that is intended or not. It does not drop with pressed Cmd though, as I've written above.

[2019-08-13 18:40] #323 closed

[2019-08-13 20:00] Reflexe commented on #1297
@tamb , @tecan : recording (with jack, sdl and pulseaudio) is pretty much ready. It includes a lot of internal changes so making it stable will take some time. I hope to get it ready to merge in a month and then merge it one month later.

[2019-08-13 23:17] tecan commented on #1297
Thanks, I would like to tip 100 next month and 100 the month after, hopefully it helps.

[2019-08-14 02:15] ryuneo9 opened #5122 "The sound is broken when you change it using automation tempo / bpm."
I am using version 1.2.0 (Stable Versions)

The sound is broken when you change it using automation tempo / bpm.

(ex) The first note that starts when you change from 60 to 54 is broken.

The instrument uses piano vsti.

Maybe it's a bug?

I attached the lmms file and the mp3 file.
[bug.zip](https://github.com/LMMS/lmms/files/3499551/bug.zip)

[2019-08-14 16:47] musikBear commented on #5122
ya, kind of, but if you analyse the event, you would realize that if a tempo change happens *discrete* inside a note, then an artefact is almost certain
The 'solution' is to use a non-discrete shape! -But over very short time. You will not hear that, but it give LMMS the necessary time to respond

[2019-08-14 17:00] SecondFlight commented on #5122
This may be specific to the VST you're using. Regardless of whether the issue is originating in LMMS or in the VST, I suspect it's happening because the note off signal from the first set of notes happens after the note on from the second set. Can you reproduce the same issue with TripleOscillator (or another built-in synth)?

I'd test it myself, but I'm at work.

[2019-08-14 22:47] alex-tee opened #5126 "License of resources in "data" is not clear"
What is the license of the resources in "data" (samples, projects, etc.)? It's not clear if I can redistribute them on their own or what are the terms if I do so. In effect they are possibly "all rights reserved" because they don't have an explicit license. Can we add explicit license statements? A common way to do this is to add a README in the directory that says what the files are licensed unde

[2019-08-14 23:29] ryuneo9 commented on #5122
Kontakt instrument vsti is broken too

But sound font instruments are not broken.
It seems to be related to vsti.

And it is not broken when tempo is less than 14

The rc8 version is not broken. But not perfect.

[2019-08-15 00:57] SecondFlight commented on #5122
Thanks for looking further into this. #3640 seems related. I can confirm that this is due to an artificial overlap due to the tempo change occurring either in the middle of a playing note or on the boundary between two notes. LMMS doesn't appear to handle tempo changes on notes that are currently playing.

[2019-08-15 05:25] Spekular commented on #5126
The license is unclear because we don't know where exactly the samples are from and what license they're under. In essence, all of LMMS's stock samples are queationably legal.

For this reason, we can't re-license them as CC-BY4.0. Even if we did, that'd be an unsuitable license for samples. We can't require everyone to credit "LMMS" for their samples in songs they release (or worse, credit the sa

[2019-08-17 10:21] Spekular opened #5128 "FLAC export not identical to WAV"
When exporting to FLAC with a recent master build, I noticed that the output had noticeable (sometimes severe) crackling not present in previous exports. Here's a comparison of the output waveform, with WAV on top and FLAC on the bottom:

![image](https://user-images.githubusercontent.com/8918426/63210043-49d32c80-c0e9-11e9-9b6e-99ff04473669.png)

Examining the top left of both waveforms, the FLAC

[2019-08-17 10:35] Spekular commented on #1471
Should "FX Mixer Support" be checked now that master allows sample tracks to be sent to FX channels?
I would also propose a related enhancement, "Settings per Clip". Applying different effects, volume adjustments, and fx mixer channels to different samples in the same track would be very flexible *cough* and FL Studio does it *cough*.

[2019-08-17 10:38] Spekular commented on #1471
Just noticed "Drag samples to new TCO segments" is also implemented in master. Sidebar samples, at least, can be dragged in. You can't drop a file on lmms to add a TCO, but that seems a bit like a separate issue or sub-issue.

[2019-08-17 10:43] Spekular commented on #2291
An additional enhancement: Remember auto-scroll setting when LMMS is closed/reopened. Auto scroll bothers me every time I forget to disable it on startup (read: often) and I wish it would just remember it's previous state instead.

[2019-08-17 11:04] Spekular commented on #5126
Voting to close.

[2019-08-17 11:19] Spekular opened #5129 "Instrument window's MIDI tab is wider than the rest"
In master, the MIDI tab has grown in width. The remaining tabs have stayed the same, however, leading to an awkward margin on the right hand side.

![image](https://user-images.githubusercontent.com/8918426/63210962-768b4200-c0f1-11e9-9c07-0845f5f06d6c.png)

Tested on Win 10, 2560x1440 screen.

[2019-08-17 13:34] Luraktinus commented on #4179
any news?

[2019-08-17 14:18] Reflexe commented on #4179
#562 blocks this issue.

[2019-08-17 16:00] BenMcLean commented on #1471
I have always wanted a way to quickly chop samples and add a distinct pitch and time stretch (adjusting pitch and time stretch separately) to each piece. FL Studio gets close to that with its WaveTraveller but not close enough.

[2019-08-17 16:56] DomClark commented on #5122
LMMS does support tempo changes for notes that are currently playing, as evidenced by testing with TripleOscillator. Before 1.2, this was broken for tempo changes just as a note starts (see #4928), which is probably the issue observed with rc8. The issue here is with the note overlap.

Here are the MIDI messages sent to the plugin in the provided project (buffer size of 256 at 44100Hz):
[code]
The

[2019-08-18 03:53] iansannar commented on #1436
With help from @DouglasDGI, I learned enough about LMMS native plugins to cobble it together. It can be found [here.](https://github.com/iansannar/lmms/tree/SynchroSynth)

I still have very little experience, but getting this working was incredibly fun. If there's anything I can do better, I am glad to hear how I can improve.

[2019-08-18 10:19] Spekular commented on #1530
As a note to anyone who decides to tackle this, this line is based the current PPQN:

https://github.com/LMMS/lmms/blob/e1ef5fad0d5d8ce9b74b0c970c128cb90d695783/src/gui/editors/SongEditor.cpp#L297

A doubled PPQN value should give `max(val, -7)` instead.

<guesswork> If PPQN is configurable, this needs to be updated whenever PPQN is, and that change needs to propagate down to whoever has called th

[2019-08-18 10:54] Spekular commented on #5095
As mentioned on Discord, I'm in favor of Maximal Visualization (along the lines of the current VST parameter list) whenever native behavior isn't available. Otherwise I prefer Minimal, i.e. behaving the same way that native knobs do when automated.

[2019-08-18 11:33] Spekular opened #5131 "Rename ConfigManager's directory functions"
The function names in ConfigManager are misleading.

`userSf2Dir` returns the *default directory* for sf2s. `sf2Dir` returns the *user's configured directory*. This is backwards, and the same applies for ladspa and gig. `userVstDir`, on the other hand, returns the configured VST directory (as does `vstDir`. How consistent.).

I propose the following naming scheme:

- `userXDir` should only be used

[2019-08-18 16:55] musikBear commented on #5126
why did we never pick up the pieces from the wreck of the Sample-review 'brawl'
Good contacts was established, but then disagreements derailed *all* ..idk
Angst for touching this?
I vote dumping all samples, and establishing a new *high* quality collection with c00 rights

[2019-08-18 17:04] musikBear commented on #5095
I voted *listing*. I did so, because it resembles the current 'list of connections' known from automation-tracks, and controller-rack. eg, the implementation would not clash with current, so it would be intuitive for users. *Maximal* is neat, yes -but i can see confusion if some are lists, and some are not, witch in the end perhaps lead to 'needs' for a re-design of the listed ones, bringing *them

[2019-08-18 19:50] Spekular opened #5132 "Master hangs when opening VST automation window"
Win 10 64 bit, happens regardless of which VST is loaded, but not in an empty VeSTige instance.

![image](https://user-images.githubusercontent.com/8918426/63229572-09b39d00-c202-11e9-8ab8-4f0bd7b9b028.png)

[2019-08-19 12:22] DomClark commented on #5095
A couple more comments, which are mostly VST3-specific, sorry. Feel free to disregard them for LV2 if they don't seem appropriate.

Since it is optional for VST3 plugins to expose locations of controls in their UI to the host, and to implement host context menu integration, some plugins will need the "maximal visualisation" option anyway. Given this is the case, I think implementing it for all plu

[2019-08-19 15:51] musikBear opened #5135 "export artefact with echo in zasfx"
LMMS 1.2.0 64B WIN10
listen to this export. The hiss is an artefact
[artefacts.zip](https://github.com/LMMS/lmms/files/3516607/artefacts.zip)
Also same hiss a in 24b and 32b
Export settings: default
I think its resonance?

[2019-08-19 16:53] SecondFlight commented on #5135
This can't be diagnosed unless we have steps to reproduce and/or a project file. Please provide at least one of those.

[2019-08-19 18:43] musikBear commented on #5135
file yes of-cause (added
I have digged in, and the export-artefact emerges, when *Echo-effects* are added :
Edit-instrument| Effect| Echo

[artefacts.zip](https://github.com/LMMS/lmms/files/3517223/artefacts.zip)

[2019-08-20 08:05] lleroy commented on #3086
I tried another fix last night... making the "release" smoother (2 x parabola - simple "s" shape, as mentioned above ).
I also abused the "release" to apply a similar fade-in at the beginning... I think it sounds a lot less clicky this way.

diff -r -u lmms-1.2.0-orig/src/core/Instrument.cpp lmms-1.2.0/src/core/Instrument.cpp
--- lmms-1.2.0-orig/src/core/Instrument.cpp     2018-11-03 02:43:42.0000

[2019-08-20 08:17] PhysSong commented on #3086
@lleroy BTW, you can add the code type at the beginning of the code block, ex. ` ```diff ` instead of ` ``` `.

[2019-08-20 08:36] javthon opened #5136 "Can't sign up at https://lmms.io/lsp/?action=register"
I wanted to sign up at https://lmms.io/lsp/?action=register and I input the right security code but it always shows "Invalid security code"

[2019-08-20 14:56] DomClark commented on #5132
I get a segfault clicking that button on master. Is this the issue you're observing?

`manageVestigeInstrumentView::manageVestigeInstrumentView` tries to create a new subwindow with a null widget: https://github.com/LMMS/lmms/blob/ce5c74432e83f0eaa617cc26332f4209bc4efc7f/plugins/vestige/vestige.cpp#L910-L911
But `MainWindow::addWindowedWidget` tries to get the size hint for the given widget: https

[2019-08-20 16:03] Spekular commented on #5132
I assume so.

[2019-08-21 05:37] Spekular commented on #5132
@DomClark will you make a PR for this?

[2019-08-21 19:00] artur-twardowski opened #5138 "MIDI Program Change to change the patches in VeSTige"
After loading a VST instrument into VeSTige we are able to walk through all the plugin's patches and try them out instantly. We can choose them using the mouse (clicking on [<], [>], [v] buttons) or the keyboard ([-] and [+] keys).

Many MIDI keyboards are able to send Program Change events (0xC_n_), so that we can change the patches directly from it. However, some VST instruments seem to ignore t

[2019-08-21 19:41] artur-twardowski opened #5139 "MIDI Program Change received with incorrect program number"
Setup:
- LMMS from current master under Linux (Ubuntu 18.04.3), compiled with VST support
- MIDI keyboard (used Alesis QX49)
- a2jmidid installed

**Preparation for Jack-MIDI:**
- In the LMMS settings window, select MIDI Interface "Jack-MIDI", then restart LMMS
- Execute the command: a2jmidid -e (in a separate terminal or in the background)
- Open the Connections window in Qjackctl and connect the

[2019-08-21 21:06] he29-net commented on #5089
So, while I was looking around before opening a new issue regarding various units and ranges constants (probably tomorrow), I noticed that while the linear scale matches the selected dB units, it does not work quite in the way as I originally intended.

Specifically, sine wave that goes from -1.0 to 1.0 is nearly clipping, so it should measure as being at 0 dBFS or 1.0 linear. But it is half the s

[2019-08-22 04:33] GoodFaithParadigm8 opened #5140 "Redo (ctrl+Y) in the Piano Roll does not work."
ubuntu 18.04
version LMMS 1.1.3

#### Behavior:

If a cord gets deleted, when I press the edit menu redo button or ctrl+Y it does not revise my previous session.

#### Expected behavior:

If I press the redo button or ctrl+Y in the piano roll I would like to time travel back through my previous edits.

[2019-08-22 04:44] GoodFaithParadigm8 opened #5141 "Piano Roll Select All Notes"
ubuntu 18.04
version LMMS 1.1.3

Behavior:

If there are many cords and I hold ctrl to select all the notes in the Piano roll I can not pan the screen and select more notes.

Expected behavior:

I would like to be able to select all the notes in the Piano Roll using ctrl or otherwise.

[2019-08-22 04:53] Spekular commented on #5141
Ctrl+A is the typical "select all" shortcut in most programs, and unless i'm mistaken it works in Piano Roll as well.

[2019-08-22 04:57] Spekular commented on #5140
Please test any bug reports with the latest version so you're not reporting something that's already been fixed. The latest official versions of lmms are available at lmms.io/download.

At time of writing, 1.2.0 is the latest version, so you should install that and see if the issue you describe still occurs.

[2019-08-22 05:21] GoodFaithParadigm8 commented on #5141
Ctrl + A does work. Thanks.

[2019-08-22 05:21] #5141 closed

[2019-08-22 05:28] GoodFaithParadigm8 commented on #5140
Not sure if it was a system resource snag or something, but when I tested the `crtl+A` to __copy all__ `ctrl+Z` and `ctrl+Y` worked as expected. There's been a couple times the program exited for whatever reason, just installed today, familiar with pro-tools and fruity-loops. Not a bad console once you get the hang of it.

[2019-08-22 05:28] #5140 closed

[2019-08-22 18:02] DomClark commented on #5138
Thanks for the enhancement suggestion! In order to keep our tracker clean and simple, I'm going to consolidate this issue into our MIDI placeholder issue #1472, which contains many other issues related to general MIDI improvement. If you'd like to have a go at implementing this yourself, we'd love the help.

[2019-08-22 18:02] #5138 closed

[2019-08-22 18:21] he29-net opened #5145 "Global definition of ranges, units, constants"
Hi,

as you may have noticed, the new spectrum analyzer made it possible to change amplitude and frequency ranges and FFT block size.

There are two issues I would like to address in the next update I'm working on:

 1) The range definitions are currently implemented as global constants in one of the header files. Apart from the fact that it is not very nice from the general design point of view,

[2019-08-22 18:59] michaelgregorius commented on #5139
Hi @artur-twardowski,

if I understand correctly you are compiling LMMS yourself? Have you tried if it works if you handle the case for `MidiProgramChange` separately and without subtracting `KeysPerOctave` in `MidiClientRaw::parseData`?

So the relevant code section would look as follows:
[code]
I don't really know LMMS' MIDI code but it looks quite strange that a value of 12 is subtracted for al

[2019-08-22 20:47] artur-twardowski commented on #5139
Hi,

Yes, I compile it myself from the yesterday's most recent commit on master (0db83c55).
The change you've proposed is exactly the same I did locally on my computer. Moreover, I modified the MidiAlsaSeq::run() function:

[code]
I tested these changes with both Jack-MIDI and ALSA Sequencer, they work correctly now.
I will create a pull request with that change shortly.

Regarding subtraction of

[2019-08-22 21:12] michaelgregorius commented on #5139
# More mappings
I have investigated a bit further and found that several MIDI values, e.g. for "Note On" and "Note Off" are manipulated in `MidiAlsaSeq::run` where a value of `KeysPerOctave` is subtracted as well. If I play an A4 on my MIDI keyboard I can see the debugger that the struct `ev` has a correct note value of 69 (see [here](https://www.inspiredacoustics.com/en/MIDI_note_numbers_and_cent

[2019-08-22 21:21] michaelgregorius commented on #1857
Here are some results that I have found while investigating #5139. I repeat them here because this issue is a good fit for them.

# Mapping/manipulation of MIDI note values
I found that several MIDI values, e.g. for "Note On" and "Note Off", are manipulated in `MidiAlsaSeq::run` where a value of `KeysPerOctave` is subtracted. If I play an A4 on my MIDI keyboard I can see in the debugger that the s

[2019-08-22 21:52] JohannesLorenz commented on #5079
Thanks for the votes so far. They imply that everyone at least wants to have the option to have only one UI. So having one UI could be an accepted solution for everyone, plus this is what Lv2 recommends.

So we should be implementing one plugin UI for both mono and stereo effects, allowing 2 for mono effects would be a possible feature request.

[2019-08-22 22:30] JohannesLorenz commented on #5095
Yeah, that's a very good argument for maximal visualization. I think that already decides the whole discussion.

The ability to sort/filter indeed seems like an advantage for having one group box for all. :+1:

[2019-08-23 07:35] BaraMGB commented on #5136
To clean up the tracker I will close this issue. I don't know how to help here and I hope someone can look at the login of the site. But this is definitely not an issue with lmms. If you have further problems with log in our discord is the better place to ask.

[2019-08-23 07:35] #5136 closed

[2019-08-23 10:10] Reflexe commented on #5132
Could someone verify that it does not happen in stable too?

[2019-08-23 15:43] zonkmachine commented on #1436
@iansannar Cool! Can you submit a Pull Request for this plugin? Just hit the button for this on the https://github.com/iansannar/lmms/tree/SynchroSynth branch.

[2019-08-23 15:53] Spekular commented on #5132
@Reflexe I've used this window a lot in 1.2 with no issues, but I just tested again to ensure it didn't regress in stable. Can't reproduce on stable 1.2.

[2019-08-23 17:38] #5132 closed

[2019-08-23 20:22] michaelgregorius commented on #1472
I think #1857 should be added to the "Basic Functionality" section.

[2019-08-23 23:57] pbondoer commented on #5103
I'll try to have a go at this during the weekend, if that's alright! 😄

[2019-08-24 04:15] iansannar commented on #1436
https://github.com/LMMS/lmms/pull/5147

[2019-08-24 04:47] #1436 closed

[2019-08-24 05:38] Spekular commented on #5103
Wouldn't this remove the ability to access a context menu with selected notes? Unless you mean that "deselect all notes" would be a context menu item.

A context menu for selected would be useful for eg cut/copy/quantize selected, and perhaps others in the future (flipping? Etc.).

[2019-08-24 07:49] fpesari commented on #1911
I understand, but this issue has been around for more than 4 years. That's a lot of time.

I've been around free software for a while, and I remember that for many, many years people complained about the fact that GIMP was not single-window. When the single-window mode was released, the complains mostly stopped but by shortly after that, many people were frustrated with it and Krita took a bit par

[2019-08-24 10:43] winniehell commented on #1911
@fpesari Sorry, my comment wasn't clear!

I definitely agree that we* want a single-window mode. However I also get that this is a big refactoring. So far I have never seen a refactoring of that scale being successful if done all at once.

* by "we" I mean the users of LMMS, including myself, and also potential contributors, including myself

[2019-08-24 12:08] pbondoer commented on #5103
@Spekular That is what I noticed while exploring the code. I'm not an LMMS user (yet!) as the UX is throwing me off from my years of using FL Studio. I don't know about other DAWs but FL will deselect notes if you enter a new note into the piano roll, or simply right click in a blank area.

I think it's important to weigh how much the context menu brings to the table compared to being able to quic

[2019-08-24 13:21] Spekular commented on #5103
@pbondoer yeah, left click to create a new note (followed by right click to delete, if it's unwanted) will deselect, as will ctrl + clicking an empty are (starts and immediately ends a new box select, resulting in no selected notes).

I suppose RMB is already occupied when clicking on notes though, so a context menu

[2019-08-24 13:28] Spekular commented on #5103
Whoops, accidentally hit "Comment" too soon. TL;DR of what I meant to write: RMB is already in use to delete notes, so a context menu on unmodified RMB is already out of the question. This suggestion is fine as is, imo, feel free to ignore my earlier comment.

[2019-08-25 11:57] musikBear commented on #5103
I caused this -i did not know that esc deselect already.  imo thats fine.
Afaik Esc is not bound to any song-editor feature, so isent the right way to go to set all deselct in song-editor, when esc is pressed.
Note  / Grouped notes right-click should be preserved for planned context-options.

[2019-08-25 12:12] BaraMGB commented on #5103
in master it is.

[2019-08-25 16:38] DomClark commented on #5108
Another issue I can see is fitting this around the instrument's built-in effect chain, which is only able to process a single stream of audio. Should we offer the option of multiple effect chains, one for each stereo channel pair, or should we disable the effect chain for multiple-output instruments, in the same way we disable envelopes for single-streamed instruments?

I like the idea of a graph,

[2019-08-25 16:42] Spekular commented on #5108
A sane default would be to apply the same chain to each stream, no? Additional flexibility would be great too, of course, but being unable to use effects on a plugin at all seems rather limiting.

[2019-08-25 16:54] DomClark commented on #5108
Certainly that would be ideal, but that may be difficult or impossible to implement. Playing each stream through the same chain won't work (imagine, say, a reverb effect where the input comes from a different source every 256 samples...). Having a single UI controlling multiple chains could be tricky, and some plugin types don't support this (in particular, though perhaps not limited to, VST2, and

[2019-08-25 17:11] Spekular commented on #5108
Ah, sorry, I meant "the same" as in equivalent. So adding a reverb to the instrument effect chain would "internally" add one reverb for each channel with their model linked to the same view/controller in the UI. I'm probably in over my head when it comes to this topic though so maybe that wouldn't work.

[2019-08-25 19:20] RossGammon opened #5150 "Fix some spellling errors"
Whilst packaging lmms for Debian, some spelling errors were found using the lintian tool. A patch was applied in Debian. I will create some PRs to fix them.

[2019-08-25 19:28] RossGammon commented on #5150
https://github.com/LMMS/lmms/pull/5151
https://github.com/LMMS/zynaddsubfx/pull/15
https://github.com/LMMS/veal/pull/7
https://github.com/swh/ladspa/pull/62

[2019-08-26 01:06] PhysSong commented on #5139
Fixed in #5154. @artur-twardowski Thank you!

[2019-08-26 01:06] #5139 closed

[2019-08-26 07:45] PhysSong commented on #2953
I think I'm still experiencing this issue. I'll try to find a reliable way to reproduce it. If I found one, I'll reopen this.

[2019-08-26 07:51] PhysSong commented on #2953
NVM, It seems like I used the old CALF plugin.

[2019-08-26 16:42] musikBear commented on #5103
o ke.. Is it more logical, in its bound Master functionality, than as a *general* de-select?
What does it do in Master?

[2019-08-27 17:58] michaelgregorius commented on #5108
In Reaper each mixer strip can have an arbitrary number of channels. If there are more than two channels the level meters just become narrower and show the level of each channel.

With regards to the plugins I think one has to take the perspective from the plugins capabilities. Each plugin has a certain number of input and output channels that it can process and output to. Therefore if you put a p

[2019-08-28 11:46] eland1 opened #5157 "select copy and paste in automation track"
it would be amazing if you could select, copy and paste in the automation track. it is also nice if you  can place two points right under eachother. i think it becomes a sidechain dream.

[2019-08-28 15:25] Spekular commented on #5157
Selection is a duplicate of of #4602.

[2019-08-28 17:57] mrshroomy commented on #5082
This worked on this setup right now:

Kernel: 5.3.0-1
Linux Distro: Manjaro XFCE
LMMS Version: 1.2.0 AppImage
Wine Version: 4.13 (Staging)

So i guess that wine got configured in a bad way in some way.

[2019-08-28 17:57] #5082 closed

[2019-08-28 20:04] artur-twardowski commented on #5138
Similar change to be implemented in Sf2 Player and GIG Player

[2019-08-29 08:30] artur-twardowski opened #5159 "API for debug logs"
I noticed that LMMS does not have a convenient mechanism for debug messages, printfs are used instead.

My proposal is to create a flexible, yet easy to use mechanism:
- The developer would use dedicated macros named, let's say, Log_Fatal, Log_Error, Log_Warn, Log_Info, Log_Dbg, Log_Dbg_Super - listed here in ascending level of verbosity
- The functions above would accept the same syntax as printf

[2019-08-29 15:22] musikBear commented on #5157
@eland1 In respect to that, you can just set **Q** -quantification to highest value. You will never be able to hear the difference between 'same value' and a distance of 1/192. That is not audible

[2019-08-29 17:51] iansannar commented on #4934
Just saw this. I'll take a look at those videos and work on understanding using QtCreator enough to make a tutorial.

[2019-08-29 18:35] he29-net commented on #5145
Since nobody replied in a week, I assume it is not as controversial / important as I thought it may be, so I'm closing this, keeping current constants and moving range definitions into `include/lmms_basics.h`.

[2019-08-29 18:35] #5145 closed

[2019-08-30 01:22] PhysSong commented on #5159
Possible duplicate of #3876.

[2019-08-30 08:03] artur-twardowski commented on #5129
I have noticed the same issue on my setup on Ubuntu.

Seems that "ENABLE MIDI OUTPUT" groupbox is too wide. I had an impression that captions under LcdSpinBoxes could be shortened. The problem was even more visible when I switched to Polish language.

Maybe the captions could be shortened so that they are never wider than the spin-box? Let's say "CHAN", "VEL", "PROG", "NOTE" (the last one is actua

[2019-08-30 09:09] artur-twardowski commented on #1472
Some ideas that have come up to my mind so far. If needed, I can open separate tickets for them.

- A possibility to assign MIDI controllers' buttons to toggle switches. Some controllers, such as Alesis QX49 are highly configurable and their buttons can be assigned a CC, even with defined values on both key-down and key-up. On the other hand, controllers such as AKAI Midimix send Note On and Note

[2019-08-31 00:04] Veratil commented on #4877
Not sure if this is the right place to comment for this, but I wanted to better organize, format, and generally prettify the Coding Conventions page for easier reading. Are we still wanting to have that page? I do see some other PRs now for clang-format and clang-tidy, but I'm not sure where things are going with it.

I did go ahead and make a [prettified version here](https://github.com/Veratil/l

[2019-08-31 08:40] BaraMGB commented on #4602
@Gabrielxd195 can you elaborate more what you mean by "free selection in song editor"?

[2019-08-31 09:01] Spekular commented on #4602
Also
- "Select multiple tracks in the song editor with selection tool or by pressing "Ctrl"." is already fixed in master since #3649 was merged
- I don't think "Select the desired parts of a clip, instead of selecting the entire clip." makes any sense. The only way I can imagine this working is cutting clips at the box selection boundary, whoch sounds terrible imo.
- Nothing under "Beat Bassline"

[2019-08-31 13:27] musikBear commented on #4602
Agree. And the right way to go would be a new method to *split the TCO*, then use the normal select.

Afaik *inverting selections* has not been implemented

I could see a way to 'borrow' a *named* part in a different file, but that should not lead to fully loading of the 'donor' project. In fact it could be as simple as *read-copy* a specified section in the donor-project-mmp, and a paste in the r

[2019-08-31 13:56] CYBERDEViLNL commented on #4628
I used the ghost notes in the automation editor so now and then but the manual scaling didn’t feel like it added something. The notes start and end are more important to see in the automation editor.

So I’ve made a second draft without a manual scaling/position slider, in this draft the notes will be centered and scaled if it doesn’t fit automatically. Top and bottom margins can be set in the sty

[2019-08-31 16:31] tresf commented on #4877
Thanks.  It's not, really.

This thread is for software workflow (not developer workflow).  Probably better for the "how to keep programmers" threads.

The organization of topics in the new version is nice.  The capitalization and italics for words like *NOT* (does the RFC recommend this sillyness?) aren't needed (I don't even see this weirdness in license agreements, where there's legal action).

[2019-08-31 19:53] Reflexe commented on #1297
@tecan Thanks! I appreciate it very much.

[2019-08-31 22:37] Veratil commented on #4877
I was going to comment on the closed Coding Conventions issue, but I'm not sure how y'all like commenting on closed issues, and you stated from that one that this superseded it.

That was my choice, RFC only states they are "often capitalized". I wanted to put emphasis on them to make them stand out. It can easily be removed. 😁

Sounds good! Thanks.

[2019-09-01 01:44] PhysSong commented on #3790
It seems like `AutomatableModel::loadSettings()` doesn't clear previous connection. It sounds like a bug to me, but I'm not sure if it's intended or not.

[2019-09-02 00:30] iansannar commented on #3347
This is purely cosmetic but having different colors for the branding appear on different kinds of builds could be a neat feature.

I posted this in the discord and got some positive reception. There's been some hearsay that nightly builds would completely replace release candidates, but considering how unstable nightly builds could be, I can still see stable release candidates being viable alongsi

[2019-09-02 14:44] tresf commented on #3347
Agreed.  @iansannar color coding is a great way to communicate quickly and effectively to users that they're on an unstable build.

We can do this programmatically with our automated build scripts by having a build type and colorizing a few key images respectively. (please adjust below as needed)

[code]

<img alt="orig" width="200px" src="https://user-images.githubusercontent.com/6345473/64121460

[2019-09-02 15:40] Spekular commented on #3347
If I may bikeshed a bit, I think red might be nice for nightlies. They're
"bleeding edge", and it completes the primary colors. A purple would also
evoke "nightly" for me, somehow. Yellow feels offputting to me, like it
would subtly discourage me from launching LMMS. Blue for RCs is a perfect
fit though, IMO.

This is a good initiative either way, so thanks for bringing it up!

On Mon, Sep 2, 2019

[2019-09-02 15:43] iansannar commented on #3347
I chose yellow to allude to the build being a "canary", like how coal
miners would bring one into mines to detect unbreathable air. But red for
"bleeding edge" is just as valid, and I do have a red svg ready to go at
home. I'll send all the svgs once I get back.

[2019-09-02 16:26] tresf commented on #3347
Canary is fairly common among "nightly" software.  Chrome Canary is a yellow icon. It should be off-putting, it's a nightly.  And yes, this thread is about master builds, not which color we prefer.  Proposing red is exactly "bikeshedding"... Arguing color when the engineering still needs to be done.  Mentioning it doesn't excuse it.  This topic is about nightly builds.

[2019-09-02 23:17] iansannar commented on #3347
Doing a quick google search on `.icns` reveals the OS X tool `iconutil`. I have a macbook so I'll mess around with it a bit, but I am not sure how that would function in practice (are the mac builds compiled on mac, or cross-compiled? Are third-party reasonable for creating something like an icon?) [Some documentation regarding `iconutil` here.](https://developer.apple.com/library/archive/document

[2019-09-03 05:50] iansannar opened #5164 "Logo inconsistency"
The logo for the repository, the LMMS organization on Github, and the favicon for the website uses the first iteration of the headphone logo rather than the flat silhouette logo used for the program icons & splash screen.

### Website favicon
![image](https://user-images.githubusercontent.com/8443754/64146885-d5340980-cddb-11e9-8db8-5a0f2b92a686.png)

### README.md
![image](https://user-images.git

[2019-09-03 06:11] PhysSong commented on #5164
If you make an icon for the organization logo, one of the admins(including myself) can update that.

[2019-09-03 06:22] iansannar commented on #5164
Here's two sizes depending on what you need.

### 64px
![lmms](https://user-images.githubusercontent.com/8443754/64148530-c13ed680-cde0-11e9-87de-1860383dcd7f.png)

### 1024px
![icon_512x512@2x](https://user-images.githubusercontent.com/8443754/64148570-d7e52d80-cde0-11e9-9c0e-19d273effcda.png)

[2019-09-03 07:37] PhysSong commented on #5164
@iansannar Thanks. I've changed the organization logo.

[2019-09-03 12:18] DeRobyJ opened #5165 "Windows msys2 setup, missing qt4"
Currently setting up the recommended building environment for Windows.

at this step:
`Download and install dependencies (about 1.6GB, 8.2GB installed)`
`pacman -S git mingw-w64-x86_64-pkg-config make cmake wget p7zip gzip tar binutils mingw-w64-x86_64-qt4 mingw-w64-i686-qt4 gdb diffutils perl-List-MoreUtils perl-XML-Parser`

it seems the two qt4 packages are missing. In fact, if I run
`pacman -Ss

[2019-09-03 14:32] tresf commented on #3347
With all due respect, this is a developer decision, and please no.  Simplifying human efforts using devops is going to make less maintenance, more productivity.

Let's not get out of hand.  5 builds is ridiculous considering we only have one today.  The original proposal is fine.

Right, again this thread is about master builds being continuous.   A step in that direction is to run a script to con

[2019-09-03 14:56] tresf commented on #3347
@iansannar if your concern about scripting the splash screen is the colors (and only the colors) I would strongly propose that we don't modify the splash at all.  If it's important from a branding perspective that the splash is also colorized, we can choose colors specifically to be those that work best with the `convert` command.

On a Mac (fortunately our CI's provide this environment).  There's

[2019-09-03 16:02] NoxWings commented on #416
I recently decided to use lmms to create the music for my next 64k intro. It fits the purpose of what I need quite well except this. Unfortunately I need to work with a synth that is compiled as a linux vst :(

[2019-09-03 16:08] iansannar commented on #3347
Fair.

These are just color options. I'm not proposing five separate builds. One or none of the options can be used.

Perfect! Mac was the only platform I was really worried about automating.

Then let's not for now. Less to worry about considering this is about currently unimplemented nightly builds. I was getting a bit ahead of myself.

[2019-09-03 16:49] tresf commented on #416
@NoxWings as a stop-gap you can try the Carla Instrument Rack.  It ships with 1.2.0 and supports many more plugin formats than we do.

[2019-09-03 16:50] tresf commented on #416
Correction, 1.2.0 ships with support for it.  It needs to be available on the system for LMMS to detect it.

[2019-09-03 18:59] iansannar commented on #3347
[Here's the progress so far.](https://github.com/iansannar/lmms/tree/dynamic-icon/cmake/graphics) It is now done fully by scripts. I have tested all three and they work as intended. The only thing I am not sure of is where to call these scripts from.

[2019-09-03 20:23] follower commented on #3975
Short answer is sort-of (i.e. I haven't abandoned it) but also I've found that the Carla plugin in 1.2 makes VSTs usable on Mac (although not perfect) in the interim.

[2019-09-03 20:48] DanielChabrowski opened #5167 "Unknown LADSPA plugin fbdelay_0.1s"
OS: xubuntu 19.04
lmms-1.2.0-linux-x86_64.AppImage

The following happens after opening "Thalendric - Armageddon" demo:
[code]

Even though the effect is visible and should be provided by CMT:
![Screenshot_2019-09-03_22-24-13](https://user-images.githubusercontent.com/10281628/64207104-36bbad00-ce9c-11e9-90d0-4310e779ca64.png)

[2019-09-04 12:04] NoxWings commented on #416
So are you saying Linux vst are supported on LMMS as long as they are available on the system path?

[2019-09-04 14:39] tresf commented on #416
Linux VSTs are not supported directly at all.  The 3rd party plugin "Carla" can open plugins of various formats.  Carla's a big app and it's actually bigger install than LMMS, so we don't bundle it, but direct Carla support is included in LMMS starting with version 1.2.0.

[2019-09-04 15:50] NoxWings commented on #416
Oh I didn't know that, thanks for the clarification.

[2019-09-04 17:49] tresf commented on #3347
@iansannar after discussing on Discord, I think we've chosen yellow as the new icon color, to bet set to the green color programmatically for stable builds only.  Please open a PR for this at your convenience and we can start the rebranded-master effort now.  It's not dependant on the continuous build system, so it can be merged as soon as it's ready.

[2019-09-04 17:54] AndyThePie opened #5169 "Shift + Scroll Wheel does not scroll space horizontally"
I don't know how to describe this well, but I'll try:

You can't scroll the LMMS window horizontally with shift+scroll wheel (this works in the song editor, though...)
The only way I can scroll the window horizontally is with the scroll bar at the bottom or with a trackpad.

(and just in case anyone's confused about "Scrolling the LMMS Window", I mean when an embedded window goes off-screen, and t

[2019-09-04 18:05] BaraMGB commented on #5169
I suppose you mean the QMdiArea.

[2019-09-04 18:46] zonkmachine commented on #5167
If you save that project as an mmp and change "fbdelay_0.1s" to "fbdelay_0,1s" it will open.

[2019-09-04 19:03] zonkmachine commented on #5167
This issue is present already on lmms-1.0.3

[2019-09-04 20:24] Sawuare commented on #5103
@pbondoer Since everyone seems to be fine with

[2019-09-05 02:23] PhysSong commented on #5167
It seems like CMT plugins use locale-dependent `sprintf` function to generate the plugin descriptor. Since LMMS relies on the label of the LADSPA plugin descriptor, the local dependence becomes a problem.
However, I'm still not sure how to handle this issue...

[2019-09-05 02:37] PhysSong commented on #5165
Actually, I've tested MSYS2 + Qt5 setup a while ago. IIRC, it worked fine.

`master` dropped Qt4 support while `stable-1.2` still supports it.

BTW, I think the Windows subsystem for Linux(WSL) is now preferred to MSYS2 now. @tresf wrote a script for WSL. See https://gist.github.com/tresf/3c739a739b56d8dc0679c3f2f85c349d.

[2019-09-05 09:10] DeRobyJ commented on #5165
Uh perfect, I already use wsl, I'll switch to it!

Still, it's probably better if the wiki gets updated about qt5

[2019-09-05 14:30] DanielChabrowski commented on #5167
Running `export LC_NUMERIC=en_US.UTF-8` before lmms is a possible workaround if someone is dying to listen to this demo in its full glory.

[2019-09-05 15:51] CYBERDEViLNL commented on #5157
I was looking into implementing this and found that most of the code is already there, it needs some modifications and some extra code. Is anyone working on this? Else I will give it a try :-)

[2019-09-05 16:44] iansannar commented on #3347
All discussion regarding the dynamic coloring will be moved to #5166.

[2019-09-05 18:00] tresf commented on #5165
The wiki is community maintained.  Anyone can help maintain it.  If someone willing to help needs access, just ping someone on #devonly on Discord.
* The current tutorial was written using Windows 7 at a time that Mingw's Qt4 didn't' ship with all of the components we use, so the tutorial did a very crude PPA fetching technique to obtain the mingw dependencies for Ubuntu.
   * The intent was to ge

[2019-09-05 18:42] BaraMGB commented on #5157
@CYBERDEVILNL  Actually I am on it. At first I want to implement the ability to have more than one control point per time key. I suppose you want to implement select, copy paste?

[2019-09-05 21:53] iansannar opened #5172 "Stale and unused branches"
There are a number of stale branches that haven't been touched in years, and show no indication of being merged or contributing to the project in any way.

![image](https://user-images.githubusercontent.com/8443754/64385882-dee48980-cff4-11e9-9f56-855386d3fd7a.png)

- [ ] [`unstable-0.4`](https://github.com/LMMS/lmms/tree/unstable-0.4) historic versions of LMMS from [0.0.9](https://github.com/LMMS

[2019-09-06 00:32] #3681 closed

[2019-09-06 00:38] Sawuare commented on #3627
Implemented in #3820:
`• Changed the restart warning from a QMessageBox to a QLabel that is shown when a setting that requires restarting is changed.`

Closing.

[2019-09-06 00:38] #3627 closed

[2019-09-06 00:50] AndyThePie commented on #5169
I don't know the correct names for the UI elements, but I hope this poorly highlighted images helps:
![image](https://user-images.githubusercontent.com/25379179/64393312-cc7f4580-d01e-11e9-90f4-9a727606fce5.png)

[2019-09-06 00:55] Veratil commented on #5169
I've been playing with this since I saw it reported just to learn a little more Qt stuff. It's `MainWindow`'s `m_workspace` that needs to be modified for this as far as I can tell. I've been playing around with it right now, but for some reason I only get `wheelEvent`s when the window can't scroll any more. If there's ability to scroll I don't get them.

[2019-09-06 14:13] CYBERDEViLNL commented on #5157
@BaraMGB all right that's awesome! Yes I was talking about the select, copy and paste. Let me know if I can help :-)

[2019-09-07 06:30] JohannesLorenz opened #5175 "Hacktoberfest 2019"
There will be another [hacktoberfest](https://hacktoberfest.digitalocean.com/) in October 2019. It basically means that any github user who creates 4 useful PRs in October (see the [FAQ](https://hacktoberfest.digitalocean.com/faq) for more info) will earn a T-shirt.

**Let's take the opportunity to get some new devs.**

As the FAQ states, any project should list issues recommended for Hacktoberfes

[2019-09-07 21:03] JohannesLorenz commented on #5115
No need to use the arrow keys. As @DouglasDGI reported, you can

1. add tracks for triple-oscillator and lv2-testsignal-generator
2. open triple-oscillator's instrument window
3. close it
4. open lv2-testsignal-generator's instrument window

Then, the testsignal generator will have the same size as the 3osc (which is wrong). @PhysSong does your fix also fix this issue?

[2019-09-07 23:13] PhysSong commented on #5115
It looks like an almost identical issue, and the same patch should fix it. I haven't tested that yet, though.

[2019-09-08 00:15] zonkmachine commented on #5167
It looks like CMT isn't managed upstream anywhere today so we may have to hack around this here. See comment in issue https://github.com/LMMS/lmms/issues/3963
`warning Very old. No upstream VCS. Available as a tarball only. May need to fork.`

[2019-09-08 02:18] #4984 closed

[2019-09-08 06:31] trebmuh commented on #5167
CMT has a released in Jan this year. [See there](http://www.ladspa.org/cmt/changes.html).

[2019-09-08 06:32] trebmuh commented on #3963
CMT had a release in January this year. [See there](http://www.ladspa.org/cmt/changes.html).

[2019-09-08 09:53] karmux commented on #3005
Exactly. I can't press same key twice quickly but multiple notes respond instantly.

[2019-09-08 09:53] karmux commented on #5028
Related to #3005.

[2019-09-08 12:21] qubodup opened #5176 "LMMS Error Report not resizable, only pros can copy, repeat errors"
(Trying to open https://lmms.io/lsp/?action=show&file=15367 )

![image](https://user-images.githubusercontent.com/18312/64488066-848d3800-d243-11e9-8c81-cae70ed113ba.png)

The Error Report window can't be resized. Allowing to resize it would help make make errors more readable.

Missing DLL errors are repeated. They could be consolidated.

It's possible to copy the error by right-clicking, then se

[2019-09-08 12:52] zonkmachine commented on #5028
Closed in #5127

[2019-09-08 12:52] #5028 closed

[2019-09-08 12:57] qubodup opened #5177 "Find missing (dll) files in LMMS"
It's hard (impossible?) to collaborate casually on lmms projects.

I'm trying to edit https://lmms.io/lsp/?action=show&file=15367

I downloaded the dlls listed in the error report (see https://github.com/LMMS/lmms/issues/5176 )

I placed the DLLs in one folder and told LMMS that it is the VST folder.

LMMS reports the same error.

I suppose if the project file was edit-able, I could modify XML pat

[2019-09-08 13:21] Spekular commented on #5177
In the future, LMMS will be able to handle relative paths for VSTs. Then all you would have to do is ensure that your VSTs are in the same location relative to your VST home folder as whoever you collaborate with.

There's also an open issue for the VSTs being "forgotten", so hopefully they won't do that either.

Do these two changes fix your problem? If so we can close this as a duplicate of thos

[2019-09-08 14:01] qubodup commented on #5177
Can't find the tickets (there are a lot about relative paths it seems) so I can't tell. Concluding from the given description:
[1] does not solve the issue of chaotic folders that completely ignore lmms' vst folder location
[2] might solve it - if it allows to change the vst location to replace it, without forgetting any of the configuration - which is what blender/olive/shotcut do - see above.

L

[2019-09-08 18:20] Spekular commented on #5177
The issues in question are #4646 and #4850

I'm not sure what you mean by "chaotic folders that completely ignore lmms'
vst folder location". If a user saves their VSTs in some random location
that isn't specified somewhere in LMMS, they can't reasonably expect the
project to be easily portable. With the above two issues solved they can
either:

1. Save VSTs in their LMMS specified VST directory*,

[2019-09-08 19:18] qubodup opened #5178 "Double-clicking russian-named mmpz file doesn't open it in Windows Explorer"
Double-clicking https://lmms.io/lsp/?action=show&file=15335 or https://lmms.io/lsp/?action=show&file=15325 doesn't open in LMMS.

I can open them using the file/open menu.

Renaming the file to "x.mmpz" or even "().mmpz" solves it as well.

[I searched for "open file explorer" to check for duplicate issues - very sorry if there already is one]

[2019-09-08 19:37] qubodup commented on #5177
I mean for example `C:/Users/[username]/Desktop/Plugin lmms/` containing all the VSTs on the computer where the song was made.

I suggest that lmms could allow any projects to be fixed in a new environment to allow collaboration notwithstanding unorganized folder discipline by composers. LMMS could list the missing files and give the user the option to manually select a correct location, as seen a

[2019-09-08 20:12] Spekular commented on #5178
A user in the subreddit had a similar issue, a sample with a russian
filename wouldn't load.

On Sun, Sep 8, 2019, 21:18 qubodup <notifications@github.com> wrote:

[2019-09-09 00:44] PhysSong commented on #5128
Reproduced. 16bit FLAC works fine, only 24bit FLAC is problematic.

[2019-09-09 01:03] PhysSong commented on #5178
It's related to Windows' character handling. To handle any command-line arguments which can't be represented in the local code page, one needs Windows API functions like `CommandLineToArgvW()`. It means the standard `argv` is not enough on Windows.
Fortunately, `QString` supports the Windows' wide character encoding. It means we can fix the bug without introducing many changes.

[2019-09-09 12:16] plater opened #5179 "RemoteVstPlugin fails to build with with -flto"
I've disabled vst build in openSUSE meanwhile but maybe it's easy for someone familiar with lmms to find a fix. I've attached the entire build log. See:
https://build.opensuse.org/package/show/multimedia:apps/lmms to view the patches.
Build failure point:
[code]
[rpmbuildlog.txt](https://github.com/LMMS/lmms/files/3590381/rpmbuildlog.txt)

[2019-09-09 13:30] PhysSong commented on #5179
It seems like it's a bug with Wine >= 4.14: https://bugs.winehq.org/show_bug.cgi?id=47710
According to https://github.com/doitsujin/dxvk/issues/1182#issuecomment-528132013, `-D__WIDL_objidl_generated_name_0000000C=` is a possible workaround.

[2019-09-09 15:59] musikBear commented on #815
@PhysSong If you look at the midi-import fails, then one more fail need to be mentioned
#4728
Eg LMMS cant import MIDI-files made by LMMS midi-export

[2019-09-09 18:17] artur-twardowski commented on #5175
The link to the FAQ seems to be incorrect

[2019-09-09 18:43] JohannesLorenz commented on #5175
@artur-twardowski Thanks, fixed.

[2019-09-09 19:27] DomClark commented on #5177
VST2 plugins all come with a FourCC identifier. Ideally we would implement VST scanning (#1837), then we can save the identifier for each VST in the project file and just look it up in the scanned VST database when the project is loaded. This way there's no need for collaborating users to have the same folder layout or anything.

[2019-09-09 19:50] GoAwayTee opened #5181 "Tap Tempo"
One thing I would love to see in LMMS is the Ability to Tap your own Tempo. It can either be tapped by your spacebar or by your Left Mouse Click. This way you will definitly assign the Tempo you want.

[2019-09-10 14:18] plater commented on #5179
With -D__WIDL_objidl_generated_name_0000000C="" included in the CXXFLAGS I get a link time error about an undefined ExitProcess due to the vst section choking on Link Time Optimization. This is a pity because everything else except vst builds with it. I've discovered that I can build the vst plugins without wine which is the best option for me, works with LTO as well.

[2019-09-10 14:49] iansannar commented on #5164
✅ `README.md` fixed in #5166.
⚠️ `favicon.ico` fixed in https://github.com/LMMS/lmms.io/pull/275 (pending review).

[2019-09-10 19:16] tresf commented on #5105
Done, `CheckSubmodules.cmake` now honors `PLUGIN_LIST`.  In order to accomplish this, I had to decouple the plugin listing code from the `plugins/CMakeLists.txt` and move it into a dedicated module (`cmake/modules/PluginList.cmake`) so that recursive inclusion doesn't happen too early in the build process.

This works by assuming `^plugin/` prefix in the submodule path (thus not impacting `src/3rd

[2019-09-10 23:17] PhysSong commented on #5179
That sounds like https://bugs.winehq.org/show_bug.cgi?id=41712

[2019-09-11 05:13] tresf commented on #3601
FYI, with macOS Catalina (10.15) not only do apps need to be digitally signed, but they have to pass strict Apple Notarization.  This means LMMS can be even harder to run once Catalina is released this fall.

https://developer.apple.com/documentation/security/notarizing_your_app_before_distribution

Notarization requires all code to be digitally signed (not just the installers, like it used to be)

[2019-09-11 06:44] plater commented on #5179
Can confirm it is.

[2019-09-12 06:21] PhysSong commented on #5128
It seems like there's a bug with `libsndfile`'s FLAC export: https://github.com/erikd/libsndfile/issues/309
Probably we can use `sf_writef_int` instead of `sf_writef_float` which is buggy for FLAC.

[2019-09-13 14:21] softrabbit commented on #3465
I'd point at the lack of logic to handle a fractional buffer at the end of rendering, this probably isn't fixed. ([ProjectRenderer.cpp](https://github.com/LMMS/lmms/blob/master/src/core/ProjectRenderer.cpp#L196) )

44100 Hz * 40 seconds / 256 = 6890.625 buffers, and that remainder is the 160 samples mentioned above.

[2019-09-14 13:57] JohannesLorenz commented on #5106
@PhysSong I'll assign you for this issue, as IIRC you already have the patch. Feel free to un-assign.

[2019-09-14 16:41] JohannesLorenz commented on #4904
@PhysSong I want to change my opinion. Both should have the value of B, because: If you drag a knob on an automation pattern, you want the knob to be automated by the pattern. So if you drag a knob A on a knob B, you want the knob A to be automated by knob B. Can you agree?

[2019-09-14 16:56] JohannesLorenz commented on #4904
@PhysSong I did some debugging. `AutomatableModel::m_value` is never being changed during the linking - not for any of the two. However, `AutomatableModel::linkModel` pushes back the other model to `m_linkedModels` for each, and then `AutomatableModel<float>::value()` returns `AutomatableModel::controllerValue()`, which returns `m_linkedModels.first()`. This should explain the crossover values. Do

[2019-09-14 17:09] zonkmachine commented on #5032
In https://github.com/LMMS/lmms/pull/4482/files#diff-463bf9a84ee53b7ed35f64c1a918887bL1035-L1038 I just swapped the translation for the original.
[code]

I'm not sure whether this is a good way to do it. Some other options that gives the same result (on the user side) would be to:

Delete the translation:
[code]

Using the unfinished tag:
[code]

Using the unfinished tag and some text/translation:

[2019-09-14 17:36] #4188 closed

[2019-09-15 13:02] tresf opened #5187 "AppImage has Travis-CI paths"
The AppImage's AppRun has some paths added that are benign but shouldn't be there, probably due to improper immediate variable expansion.

Most of these are benign because they'll never exist on a machine, but some, such as `/opt/qt59/bin` can cause issues, since the AppImage should prefer the Qt5 that it ships with.

[code]

[2019-09-15 13:17] PhysSong commented on #5187
https://github.com/LMMS/lmms/blob/0059c6e71f6431b4ed13d8e444f133642bbe933d/cmake/linux/package_linux.sh.in#L103
I think it should be `export PATH="\$PATH:/sbin"`.

[2019-09-15 14:18] #5187 closed

[2019-09-15 14:19] tresf commented on #5187
I've committed the patch directly to `master`.  If it causes major issues, we can cherry-pick it to `stable-1.2`.

[2019-09-15 14:26] CaBachhav opened #5188 "Preset save load support For effect plugins"
The Settings we do on LMMS-bundled-Effect -plugins while making a project must have Preset save load function so that in future it can be reused for diffrent project without losing time

[2019-09-15 14:31] CaBachhav opened #5189 "Midi or LMMS native format import- export suport for BB editor for running in different different projects."
The BB editor requires beat-bassline etc export import facility , in MIDI or a new LMMS format be invented.
So that in future this files can easily be imported in a current ongoing project , without disturbing work already being made.

[2019-09-15 14:35] CaBachhav opened #5190 "Default automation track which records all automation activity automatically in real-time i.e.Pitch Bender , Modulation etc."
the pitch bender , Modulation must be automatically recorded in real-time in an Automation track . So that time is saved & creative instincts remains more productive.

[2019-09-15 14:42] CaBachhav opened #5191 "WAV sample export for Instrument plugins"
This save preset as WAV function will be very useful .so that many intresting sounds we get after pressing randomiser button should be exported in WAV.
For both lmms native & third party instruments.

[2019-09-15 14:47] DomClark commented on #5188
Duplicate of #1680.

[2019-09-15 14:47] #5188 closed

[2019-09-15 14:49] CaBachhav opened #5192 "Random Beat Creator for BB EDITOR"
A RANDOMISER feature & button must be introduced to Beat-Bassline Editor so that producers can get outside of creative block , when they get Random beats on the step sequencer when they press RANDOMISER Button.
Those beat can be further modified by user for humans acceptance.

[2019-09-15 14:58] CaBachhav commented on #5188
Look, these same effects also come bundled with ARDOUR DAW , but they have Preset Save-load support . But in LMMS it doesn't.

[2019-09-15 15:09] CaBachhav commented on #1680
These same plugins have Preset save load support in ARDOUR DAW.
our lmms definitely needs this facility.

[2019-09-15 15:22] tresf commented on #5177
That's the enhancement request and the title should be modified to reflect it.  It's about giving the user the ability to fix the problem, and `.dll` is just how it may appear on Windows. It would have the same benefits on Linux, MacOS.

Option to allow fetching of missing files.
* Plugin files (`.dll`, `.dylib`, `.so`, etc)
* Sample files (`.wav`, `.ogg`, `.sf2`, etc)

I would recommend that on t

[2019-09-15 15:40] tresf commented on #5172
It had features that never made it to `stable-1.0` proper.  Reason is, it made lmms so unstable that the project completely reverted to 0.4.15 codebase for what eventually became stable-1.0.  A code review is needed before abandoning any abandoned features.

Same story as `unstable-0.4`, but for the `stable-1.1` release.  Yet again, developers got too progressive, yet again the work got abandoned.

[2019-09-15 15:54] Gps2010 commented on #5104
I would like to ask a question.

Have you guys been able to reproduce this problem?

I have been worrying if you guys would be able to reproduce it, since I reported this, because the problem is not consistent.

It would be a great relieve to me if you guys were able to reproduce it. :)

[2019-09-15 16:24] JohannesLorenz commented on #5172
2.5 is better than what we have at master right now. However, for Linux, zyn 3.0 can (and IMO should) completely be done via plugin. I'm just not sure if Lv2 works on Mac and Windows. Also IIRC @tresf mentioned there was a licensing issue with zyn plugin binaries, but this should not prevent us from using zyn on Windows via plugin?

Btw, if we want to get abandoned branches away but are not sure i

[2019-09-15 16:44] tresf commented on #5172
We can also create and close a PR against a comparable branch, which (I think) should keep the diff around forever even after the originating branch is gone.

[2019-09-15 16:44] Reflexe commented on #5172
I this branch is obsolete and can be removed. When ready (in the next month, hopefully) , I'll open a pull request and we'll merge recording into master.

[2019-09-16 16:13] musikBear commented on #5189
Supports^
the usecase could be making a library of Arpeggio/ percussionpatterns
Implementing could be
a) 'Export-tracks', but as MIDI
or:
b) Export unmuted track(s) as MIDI
b opens for several creative usages

[2019-09-16 16:17] musikBear commented on #5191
? thats just an recording. Its planned inside LMMS -soon, and not difficult to use Audacity for now. Cant see any need

[2019-09-16 16:19] musikBear commented on #5192
#1165 duplicate

[2019-09-16 16:21] DouglasDGI commented on #5192
@musikBear This is not a duplicate.  This issue requests randomization of note placement, while #1165 requests realtime randomization of qualities of the notes already placed (e.g. volume, panning, pitch, etc.).

[2019-09-16 16:36] DomClark commented on #5191
What's the advantage of saving the preset as a sample rather than a normal preset? A normal preset allows you to easily tweak the sound later, and will most likely provide better quality sound at other pitches compared to pitch-shifting the sample. If you really want to do this, however, you can just put your instrument and a note into a project and export it.

[2019-09-16 18:34] zonkmachine opened #5193 "Save dialogue - Glitchy filename test"
As mentioned [here](https://github.com/LMMS/lmms/pull/3526#issuecomment-304919073), there is a remaining problem with the save dialogue.

Quote by @tresf

Basically, we test for already existing files to avoid saving over them. We also test for existing file minus suffix as you can enter just the name and let LMMS/Qt add the suffix but this earlier didn't test for the proposed name 'with' suffix s

[2019-09-16 18:51] tresf opened #5194 "Knobs are erratic on macOS (and other systems)"
As the title suggests, all knobs behave "wonky" on macOS.

Originally [posted on Reddit](https://www.reddit.com/r/lmms/comments/d4qe3b/knobs_acting_strangely/), the OP (`u/Coelacanth2`) was kind enough to share a screen record.  Holding <kbd>Shift</kbd> helps, but they're still way off.
![A9tKsji](https://user-images.githubusercontent.com/6345473/64984558-1c68d280-d891-11e9-9fe5-f538597c19f1.gif)

[2019-09-16 19:50] deuteragenie opened #5195 "Running LMMS on Odroid N2"
Feature request: make LMMS OpenGL ES compatible.
I'd like to be able to run it on an Odroid N2.

[2019-09-17 06:56] CaBachhav commented on #5189
This is most needed function .

[2019-09-17 06:59] CaBachhav commented on #5192
This Function if introduced , will be our composing companion .many times user gets boredplaying same same beats . This tool will create its own unique beats as we go pressing RANDOM button.

[2019-09-17 07:10] CaBachhav commented on #5191
the tip you shared use many users but its time consuming . If this Function is introduced can be usefull for
1.That Sample can be played Reversed in our sampler.
2.Zynaddsubfx is great instrument yet users can't apply Pitch bender , glisando etc to its melody in today's lmms version.if its preset can be exported in wav,ogg quickly then all pithch bender , glide etc can be utilised.
3. Same for mil

[2019-09-17 12:39] PhysSong commented on #5195
Which OS are you using on the device? If you're on Ubuntu, you can compile and LMMS as if it were a Linux PC.
If you use Android, there's no way to run LMMS natively on Android. You may use Linux-on-Android apps as a workaround with possible performance degradation, though.

[2019-09-17 15:31] deuteragenie commented on #5195
I can use Ubuntu on that device, that is not an issue.

I am not quite sure that LMMS can run with OpenGL ES (instead of OpenGL) though.  Is there a compilation option to that effect ?

I am aware of possible performance degradation, but would like to try it out and see what it gives.

[2019-09-17 16:32] musikBear commented on #5191
Marginally more than using a dedicated editor
Im sure that when (soon)ish LMMS does get sound recording implemented, the next step will be ways to edit the clips -Have to, because the will click if they are not precisely cut, but in essence i feel you ask for the *freeze-feature* to be reintroduced. *freeze* did create a wave-sample of the instrument-output. Imo either *export as tracks* or intern

[2019-09-17 17:59] CaBachhav commented on #5191
Sir , what exactly I demanded is very clear. you also know it .my intention is to suggest an enhancement which are easy to compile and no other DAW has it. . We must include such functions in LMMS no other DAWmaker can even dreamt about.

[2019-09-18 07:23] CaBachhav commented on #5195
This is the most talked about topic among thousands of Lmms users , that LMMS on Androids should be given several  try . For latency issue it will use applicable that we should directly compile an APK for ARM processors . Ubuntu route should be avoided. several users are demanding that LMMS should come on Raspberry Pi platform.

[2019-09-18 07:26] PhysSong commented on #5195
On the Raspberry Pi, it's nothing more than the usual compilation.

[2019-09-18 07:49] softrabbit commented on #5195
I believe a lack of X11 would mean no ZynAddSubFX (at least no UI, could be that running it headless in LMMS is possible) and no VST support (can you even get VSTs in ARM versions?). Other than that, most parts should go through Qt AFAIK, so if you get a working Qt there shouldn't be any huge hurdles.

[2019-09-18 07:58] CaBachhav commented on #5195
Is it possible that , even though our lmms main code is in C,c++ , it can be wrapped in other devlopment framework like Android development Framework.?

[2019-09-18 08:10] PhysSong commented on #5195
Qt supports Android, but I'm not sure about other dependencies. Android support is *theoretically* possible, but I can't estimate how much efforts do we need to support Android.

[2019-09-18 08:43] CaBachhav commented on #5195
Plz see this developer

https://medium.com/@shigmas

[2019-09-18 18:39] deuteragenie commented on #5195
The Raspberry Pi is using Open GL (ie not Open GL ES) and is HW accelerated under X.11
Odroid N2 is not HW accelerated and is using Open GL ES.

[2019-09-18 20:09] zonkmachine commented on #3378
Or borrow space from the vertical part of the pixmap. Just continue writing the pixmap but roll back to 0, let it grow in size vertically and continue writing/reading.

[2019-09-19 06:50] Spekular commented on #3378
Wouldn't that vertical solution cause problems with resizing tracks
vertically? Unless I'm missing something, we must draw a taller pixmap
(height tied to track height) to retain sharp graphics when that happens.

On Wed, Sep 18, 2019, 22:09 Oskar Wallgren <notifications@github.com> wrote:

[2019-09-19 16:30] WattanaGaming opened #5198 "More control over MIDI export?"
I am making a cover of a game music in all-sf2 player but I also wanted to export the song to MIDI. Unfortunately this feature put everything on one MIDI channel which is not good for a music that's not exclusively piano. Is there any plan to improve the MIDI export feature?

[2019-09-20 16:28] musikBear commented on #5198
"Duplicate" but i cant find it. Its not an enhancement. It is a serious export-bug!
Confirming as bug! (LMMS1.2.0 win10-64)
LMMS MIDI export throws every exported MIDI channel into one track when re-imported
Import this:
[Greippi - Krem Kaakkuja (Second Flight Remix).zip]
(https://github.com/LMMS/lmms/files/3636857/Greippi.-.Krem.Kaakkuja.Second.Flight.Remix.zip)
Everything ends up in Track0
It bt

[2019-09-20 16:37] WattanaGaming commented on #5198
I thought the devs doesn't bother to make the option to control the exporting process

[2019-09-20 17:00] WattanaGaming commented on #4765
This issue report is mildly confusing

[2019-09-20 17:37] SecondFlight commented on #4765
What do you find confusing here? Tempo automation doesn't work with MIDI export:

[2019-09-20 17:45] SecondFlight commented on #5198
LMMS doesn't only work with real instruments, so what would be the expected behavior in that case (exporting the remix)? Adding the ability for someone to set a MIDI output channel and instrument would resolve the issue, but it would be adding functionality, not fixing existing functionality. I think that's the reasoning for calling it an enhancement instead of a bug.

Also, @WattanaGaming: in cas

[2019-09-20 18:27] CaBachhav commented on #4992
is Audio Quantize (snap to grid) function will be available here same as we Quantize Midi notes ?

[2019-09-20 19:05] musikBear commented on #5198
@SecondFlight

Definitively not jamming all tracks into track0

But surely if you try and import that MIDI-file, you see the bug?!

[2019-09-20 19:16] michaelgregorius commented on #3378
The current implementation seems to be quite inefficient with regards to memory performance. I have added some debug code to the implementation of `resizeEvent` in `Track.h`. The added code simply captures the new size of the widget.

If I open the project contained in the file [sampleend.zip](https://github.com/LMMS/lmms/files/794870/sampleend.zip) (see original attachment above), extend the heig

[2019-09-20 19:18] SecondFlight commented on #5198
It's a semantic difference - the difference between *desired* behavior and *expected* behavior. This feature works as the original implementer intended, so it's expected behavior. But it doesn't work as well as is optimal, so it's not desired behavior. Either way, it's still a problem worth fixing.

[2019-09-22 11:54] NETMANSKY commented on #5191
@CaBachhav I suspect you are new to LMMS. I hasten to inform you that not all users ' wishes are fulfilled here. In most of cases, the LMMS team sees development ways not like users see it. Not soon yet LMMS become like FL studio. It's a hard work but it's moving ahead. I hope to see somewhen as many of user requests will be implemented.

[2019-09-23 03:35] benwiley4000 commented on #1472
What's the main blocker for midi pitch bend recording support? I was recording a solo via midi and was surprised that even though the pitch bends were correct during the recording, they were missing during later playback. If there's something I could contribute to help this make it into a near-term release I'd be happy to look into it!

[2019-09-23 17:41] michaelgregorius commented on #1472
Hi @benwiley4000,

I had a quick look at the problem, i.e. I have checked what happens if you play a note while recording and what happens if the pitch wheel is moved. Unfortunately it seems that there is no quick solution to your problem. In my opinion the main blocker is that MIDI is not a first class citizen in LMMS. So you have asked your question in the correct issue. ;)

# MIDI and audio str

[2019-09-23 18:33] tresf commented on #5194
@michaelgregorius it may be the same underlying issue, but on macOS, it's so sensitive that it makes the knobs practically unusable, similar to trying to draw 1 pixel at a time with Gimp zoomed all the way out.

[2019-09-23 20:47] michaelgregorius commented on #5194
Thanks for the clarification @tresf. I notice two things in the screen recording which might indicate differences in Qt's implementation on macOS compared to for example Linux:
1. The mouse cursor stays visible on macOS when changing the values. According to the implementation it should be hidden as can be seen in `Knob::mousePressEvent` where the method `QApplication::setOverrideCursor( Qt::Blank

[2019-09-23 21:17] benwiley4000 commented on #1472
@michaelgregorius what do you think some actionable steps could be? The "perfectly correct" way, and also, what would actionable steps be if I'm totally selfish and only want to get *my* feature implemented? 😜 I'm brand new to the code base but if there's a small task I could start with that would be great.

[2019-09-24 02:03] PhysSong commented on #5194
It seems like macOS 10.14 requires the user to grant the "control the computer" permission to an app in order to use `QCursor::setPos()`. See [a comment on QTBUG-75786](https://bugreports.qt.io/browse/QTBUG-75786?focusedCommentId=463626&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-463626) for details.

[2019-09-24 02:28] PhysSong commented on #2510
As long as I've found:
- `QT_SCALE_FACTOR` affects both font size and scaling factors, on all monitors
- `QT_SCREEN_SCALE_FACTORS` affects only scaling factors, per-monitor
- `QT_FONT_DPI` has effects on X11 platforms only

[2019-09-24 03:25] tresf commented on #5194
@PhysSong (as usual) good find.  That fixes it.

Unfortunately, it's simply not going to be a long-term solution for macOS 10.14+.  Can we compromise on a solution that doesn't require bumping up against accessibility options?

Here's some example of knob UIs that are what I would consider to be more standard. http://anthonyterrien.com/demo/knob/.

Although rewriting the knobs is too large of a ta

[2019-09-24 03:52] tresf commented on #5194
So I've removed the calls to `QCursor::setPos` and `QApplication::setOverrideCursor/restoreOverrideCursor` but the bug still happens.  Is there other code that interacts with the processing of drag events that's not obvious or not in `knob.cpp`?

[2019-09-24 04:21] tresf commented on #5194
Ok, I see what's going on.  The relative position is 100% reliant on the fact that the mouse keeps getting moved back.

Somewhat working example is to change this code:
[code]

The downside is the cursor eventually hits the edges of the screen requiring subsequent click/release.

This code also severely exposes @michaelgregorius' point about the small drags having nearly no effect on the knob.

It

[2019-09-24 08:30] PhysSong commented on #5194
IIRC @gi0e5b06 made his fork use that kind of behavior, but I don't think that was better than the `LMMS/lmms` implementation(just a personal preference).

FYI, `QCursor::setPos( mapToGlobal( m_origMousePos ) );` is also known to cause issues with Wacom tablets(see #4376).

[2019-09-24 08:37] PhysSong commented on #4345
Should be fixed in #5142.

[2019-09-24 08:37] #4345 closed

[2019-09-24 10:09] Spekular commented on #5194
Having to "spin" the knob with your mouse seems gimmicky and far from
standard to me, I can't recally any software I've used that behaves like
that. Standard to me is a knob that reacts to up/right as increase, and
down/left as decrease.

On Tue, Sep 24, 2019, 10:30 Hyunjin Song <notifications@github.com> wrote:

[2019-09-24 17:46] michaelgregorius commented on #1472
Hi @benwiley4000,

I guess even a "selfish" and perhaps even "hacked" implementation that only solves this single problem would be rather complex. The base problem can be described as "MIDI events are generated but only some of them are recorded so only a subset of the input events will be played back". So you'd have to solve the following problems:
1. Find a way to record the events that are not

[2019-09-24 17:50] michaelgregorius commented on #5194
I agree with @Spekular. I have tried some VSTs in the past that implemented that "you have to move the mouse pointer in a circle exactly along the knob" behavior and they were very tedious to use, i.e. I did not use these plugins. :smile:

If I remember correctly I even checked in the past whether it is possible to get "raw" mouse input, e.g. only relative movements a la "the mouse moved a delta o

[2019-09-25 13:49] PhysSong commented on #698
BTW, Is it still worth supporting Windows VST on macOS?

[2019-09-25 13:53] tresf commented on #698
Not officially, no.  I guess we could close and offer to reopen if someone has more to share?

[2019-09-25 14:18] tresf commented on #5194
I'm testing out garageband and it's just up/down as we do now, not left/right.

Carla is up/down AND left/right.

@falkTX can we use your knob code?  It feels fine to me and Carla works just fine with Mojave, Catalina, etc.

[2019-09-25 17:25] MrTeeXD opened #5201 "[Feature Request] Portable Mode"
Some of us are not lucky enough to have our own PC and thats where this Feature Request comes in. Am example of this Request is OBS Studio. When a .txt file is created at the base of the installation, OBS will immediately go into Portable Mode, meaning all the Settings and important things will be stored in the Installation location such as a External Harddrive which can then be used to move from

[2019-09-26 06:43] PhysSong commented on #5201
When running LMMS from the build directory, LMMS detects `CMakeCache.txt` and use the value of `lmms_BINARY_DIR` from that file to locate the config file. It should be easy to implement the requested functionality with a similar trick.
The relevant code fragment is in the `ConfigManager` constructor.

[2019-09-26 08:04] InVaLiD-github opened #5203 "Allow sample tracks to go to the mixer"
Sample tracks can't go to the mixer, which is a crucial part of my mixing, and it's kinda infuriating that everything else can be assigned a fx track, but sample tracks cannot.

[2019-09-26 08:11] softrabbit commented on #5203
It's fixed in master, which should mean it will be in 1.3 or whatever number the next major release will be. See #3866.

[2019-09-26 08:44] InVaLiD-github commented on #5203
XD i'm using rc8 right now and didn't know that was already fixed. thanks for letting me know!

[2019-09-26 08:44] #5203 closed

[2019-09-26 09:55] Spekular commented on #5194
Not being able to move the knob when shift is pressed is probably not our bug. In my experience, laptops won't allow trackpad input while a key is held. If you can test with a USB mouse you'll likely find that shift + drag works.

[2019-09-26 17:05] tresf commented on #5194
You have it backward.  The "Palm Detect" feature of trackpads will temporarily disable when the keys are being pressed, not the other way around.  I agree that @PhysSong's issues are probably environmental, but I strongly disagree that <kbd>Shift</kbd> modifier is expected to malfunction when using a trackpad.

[2019-09-26 22:31] PhysSong commented on #5194
Strangely, sliders work fine with the same modifier key. :thinking:

[2019-09-27 23:28] ca3games opened #5205 "Allow to turn off the off scale notes."
Hi, I think it would be great if you could turn off the off scale notes while recoding a keyboard.

Sort of like autotune but for you playing a keyboard.

[2019-09-28 09:32] musikBear opened #5206 "Label suggestion : Consolidations"
Label suggestion : Consolidations
There is no simple way to find the comprehensive /consolidating topics. I needed to look for weather or not *note-features* had been consolidated, but only *play-head* consolidation appeared in the search. I believe there are several comprehensive topics

[2019-09-28 10:01] musikBear commented on #5205
Imediately that sounds like a great idea, but it is only till you need to insert your first sharp (#) in piano-roll. You will have to enable all notes again, and only then you can find the sharp you want to add. Iow. An Exclude-feature is *limiting* for your creativity!
Pro-tools has a kind of this, where you can *collapse* piano-roll, to only show notes that already is used in the composition, bu

[2019-09-28 10:22] musikBear opened #5207 "Relative velocities"
Currently LMMS only has **pr-note-block** editing of velocity, but that is limited to setting for either one specific note, or every note

 Suggest a method to set velocity percentage changes **globally** as well as pr **track** and a pr **note-block** feature.
Use-case:
A whole track may be unbalanced in velocity, in respect to other tracks in the project. Here we then would be able to change the

[2019-09-28 10:22] Spekular commented on #5206
We already have a label for meta issues: https://github.com/LMMS/lmms/issues?q=is%3Aopen+is%3Aissue+label%3Ameta

If there's a topic that should have a meta issue but doesn't, please list the IDs of the issues you think should be included. For example, this is issue 5206. Don't add a # sign before, or they'll all have links to this issue, which we don't want.

[2019-09-28 10:22] #5206 closed

[2019-09-28 10:41] ca3games commented on #5205
That could easily be solved by allowing to turn off and turn on individual notes, but I doubt begginers who need to have a sort of autotune feature will be too much concerned about off notes.
Having only the scale notes could help begginers, which is what I meant to help.

[2019-09-28 13:43] JohannesLorenz commented on #5172
Can anyone answer these two questions?

[2019-09-28 16:03] Reflexe commented on #4668
Ok, The problem is that SDL waits for the PulseAudio thread to exit but it won't quit for some reason. The strange thing is, that nothing is stuck on lmms side. I suspect it is an upstream bug.

[2019-09-28 17:13] Spekular opened #5208 "Tempo Synced Envelope Controller"
A new controller that:
- Allows the user to draw any arbitrary envelope via a graph (https://github.com/LMMS/lmms/pull/4367)
- Syncs to multiples of one beat by default, rather than providing a freq/time input

Would be immensely useful. It would for example do everything [Kickstart](https://www.kickstart-plugin.com/) does and more, but natively (and for free).

This is technically possible today

[2019-09-28 19:22] BaraMGB commented on #5208
Do you think it could have a midi side chain that triggers this?

[2019-09-28 20:13] Csini opened #5209 "Show current position from playback in beat+bassline editor"

[2019-09-28 20:27] Spekular commented on #5208
That's a good idea, it'd be extra flexible that way. I still think there
ought to be a way to use it without any additional input, but I like the
idea of manual input as an alternative to the "automatic" mode.

On Sat, Sep 28, 2019, 21:22 Steffen Baranowsky <notifications@github.com>
wrote:

[2019-09-28 20:30] tresf commented on #5172
MacOS should be fine.  Don't know about Windows.   Calf-studio gear has the following info on their site regarding LV2 + macOS support:

If Windows doesn't have LV2 support I'd guess it has to do with IPC communications, but I'd ping @DomClark for insight into that, he's our resident Windows expert.

I don't want to mislead anyone, Zyn's still open source.  That was only in regards to using pre-co

[2019-09-29 08:55] musikBear commented on #5206
@specular The label **Meta** does not hold one of the consolidating topic, not a single one

[2019-09-29 09:13] musikBear commented on #320
Sadly the bug exists
[ZASFX_HangNoteProblem.zip](https://github.com/LMMS/lmms/files/3666549/ZASFX_HangNoteProblem.zip)

Recreate:
It is the note E3 that creates the hang. The arpeggio caused the issue, but arpeggio -replay is not mandatory to invoke the fail.
Just press E3, and that note hangs
Arpeggio' relation is only by chance: E3 is 'pressed' in the arpeggio sequence, and that the initiate the

[2019-09-29 10:11] Spekular commented on #5206
*Every single meta issue* is a consolidation of other issues.

I don't know of these "consolidating topics" you've mentioned. Judging from
#5007 it looks like you've made your own version of a meta-issue? Github
issues that consolidate several others should be tagged with the meta
label. We shouldn't have two separate labels for the same thing.

On Sun, Sep 29, 2019, 10:55 musikBear <notifications

[2019-09-30 00:27] SecondFlight commented on #5209
I believe this is a duplicate of #1195. Let me know if that's not the case and I'll reopen.

[2019-09-30 00:27] #5209 closed

[2019-09-30 02:13] serdnab commented on #1240
I'm interested in fixing this, so @tresf, what's the desired behavior, manual reconnection or automatic?

[2019-09-30 11:42] musikBear commented on #5206
ok, would you then add meta tag to #5007

[2019-09-30 14:49] tresf commented on #1240
@serdnab I honestly don't know what's best behavior.  I'm not a JACK user, perhaps @Umcaruje or someone more familiar with Jack should weigh in on this?

I've read the bug description several times. What I'm reading is that when opening/closing the Zyn UI by causing an abrupt disconnect with the JACK server:

Probably.  Here's the list of commits leading up to the `stable-1.1` release: https://git

[2019-09-30 20:31] Csini commented on #1195
please implement this feature

[2019-10-01 02:37] PhysSong commented on #3682
Implemented via #5133.

[2019-10-01 02:37] #3682 closed

[2019-10-01 02:39] PhysSong commented on #5128
Another way is to clip samples on LMMS side before passing to the buggy `libsndfile` function.

[2019-10-01 03:03] PhysSong commented on #5135
Confirmed. Here's the comparison of exported(top) and normally played(bottom) audio samples.
![image](https://user-images.githubusercontent.com/12591074/65930745-c889ec00-e441-11e9-8207-223798fd4724.png)

[2019-10-01 04:53] PhysSong commented on #5135
The issue is from the fact that the delay time of the Zyn echo uses forward writing(instead of backward reading) and interpolates the value of the time.
Suppose there's a note at the beginning of the project. When exporting it, Zyn starts to interpolate the delay time. At the same time, Zyn plays the note and applies the echo effect. It results in the mentioned artifact.
The upstream worked around

[2019-10-01 12:04] DomClark opened #5213 "Assertion failure loading missing sample in MSVC debug build"
When loading a sample from a file, the file descriptor is passed to `sf_open_fd` without checking whether the file was opened successfully. On Windows, `sf_open_fd` then passes the file descriptor to `_get_osfhandle` to get the native file handle for the file descriptor. However, `_get_osfhandle` has an assertion to check the validity of the provided file descriptor, which is active in debug versi

[2019-10-01 22:55] DomClark opened #5215 "Initialisation and cleanup routines for plugin libraries"
Some LMMS plugin libraries may need to manage resources that outlive any particular instance of a plugin from that library, initialised either when the library is loaded or upon first use and disposed of when the library is unloaded. The natural approach here would be to handle these using RAII in a static/global object. However, on Windows there are [heavy restrictions](https://docs.microsoft.com

[2019-10-01 22:57] PhysSong commented on #5213
As the author of #4401 which introduced those changes, I should have added more checks before merging.
BTW, any commits which change the `SampleBuffer` code are very likely to conflict with the recording PR.

[2019-10-02 00:49] noahb01 commented on #5207
I might be misunderstanding, but isn't that exactly what the track volume knob does?

[2019-10-02 11:10] musikBear commented on #5135
Excellent dissect 👍

[2019-10-02 11:25] musikBear commented on #5207
@noahb01 No there is a difference between volume and velocity
Velocity is the impact-force on a key
Volume is how much juice you pass through your speaker
So a
* low-volume high-velocity sound would be 'aggressive' (hard & fast) but not loud
* high-volume low-velocity sound would be loud but the sound 'soft'
In a way it would b a difference between aggressive and soft attack or when a hammer in a

[2019-10-02 14:41] DomClark commented on #320
This should have been fixed in #4908. For arpeggiated notes, the base note doesn't send MIDI messages itself, only the child notes. However, the code checked whether the arpeggiator was enabled separately for note-on and note-off. Turning the arpeggiator on while the note played meant that the note-on message was sent, but not note-off. Since #4908 this condition is only checked at note-on, and a

[2019-10-02 14:59] bleonard252 commented on #5113
I'm on a 10.14 school Mac (for Digital Media) and can add/confirm instruments (likely loops, too) don't seem to snap.

[2019-10-03 00:06] DomClark commented on #5172
I'm not especially familiar with LV2, but I don't see why not. It seems to purely specify its own API without relying on POSIX APIs or anything. A more convincing argument, however, is that the LV2 and lilv source code contains `#ifdef _WIN32` checks, suggesting that it is indeed intended to be able to run on Windows.

How are we planning to encumber it? Hopefully not by including the demo version

[2019-10-03 01:08] tresf commented on #5172
Simply disable interfacing that's non-critical to it's functionality.  I'd argue simply disabling VSTi support would be sufficient, but I don't know the metrics on how the plugin is consumed by the masses.  If there's an "unlock" technique though C++ that can be invoked, that may also be viable.

Alternatively we could create an obfuscation, but that makes debugging harder.

No, agreed.

[2019-10-03 01:26] serdnab commented on #1240
I was doing more testing and I realized that it is better to leave the behavior as it is (manual) because changing it to automatic can complicate troubleshooting a bad connection with jack (in other cases apart from the problem with zyn gui).

[2019-10-03 01:50] serdnab commented on #1162
It is not a problem of lmms, but it is a normal jack behavior when an xrun occurs, try to increase the latency in the jack server and you will see how the artifacts disappear.

[2019-10-03 04:38] Veratil commented on #4704
@Gabrielxd195 if you're able to build the `master` branch, my PR for saving scale with the project (#5146) has been merged. I believe this would be considered fixed?

[2019-10-03 04:39] tresf commented on #5172
This makes sense.  To this point, we can delete anything with a tag, which I think is just `stable-1.1`.  @iansannar FYI, I noticed you haven't updated your branch descriptions with a summary of [why we may want to keep these branches](https://github.com/LMMS/lmms/issues/5172#issuecomment-531575834).

With this information, I've removed `stable-1.1` branch.

In regards to the ones without tags...

[2019-10-03 04:43] tresf commented on #5172
(@iansannar reacted with 👍)

@iansannar you reacted but didn't remove it?  Ok, well now I have with written permission from @Reflexe.

[2019-10-03 06:12] iansannar commented on #5172
Pretty sure I can't modify anything but my own fork, and deleting branches there doesn't affect the original repo, so 👇

Thanks 😁

[2019-10-03 08:33] softrabbit opened #5218 "Oversampling changes pitch for AFP"
See picture, count the waves.
Upper track: drums in AFP, 1x oversampling
Lower track: the same with 2x oversampling, sounds an octave too low.
![oversampling-broken](https://user-images.githubusercontent.com/6411463/66110718-04eb5280-e5d0-11e9-8475-76b73c1b91b9.png)

LMMS version: 1.2.0 in Windows 8.1 pro / 64 bit. Didn't find any fitting reported issue, and I think I've used oversampling successf

[2019-10-03 15:20] tresf commented on #4302
Duplicate of #5012.

[2019-10-03 15:20] #4302 closed

[2019-10-03 15:47] #5105 closed

[2019-10-03 16:46] musikBear commented on #320
That is strange!

It is, but that is only because **E3** is played BY the arp. The hang will initiate IF E3 is played, nomatter if it is pressed manually, OR played by the arp
So that make me think, that since YOU cant initiate the bug if you press E3, then it is my zasfx that 'keeps something' in a ? cache..?
Does that exist in the zasfx code???
Take a look at this
https://youtu.be/Jx7jCNv4lAI
*T

[2019-10-03 17:51] softrabbit commented on #5218
Checked and it looks like the bug is in master, too. 1.1.90 is OK.

[2019-10-03 20:09] DomClark commented on #320
I've managed to reproduce this in 1.2.0 using a MIDI keyboard. I can't trigger it reliably, but so far it's only E3 in this project that's got stuck. Since it can be triggered without the arpeggiator, however, I don't think it's related to this issue. Can you open a new issue for this?

[2019-10-03 20:15] MrTeeXD commented on #5201
I wonder if Samples can also follow this.

[2019-10-04 00:57] 2blackbar opened #5219 "-"
solved

[2019-10-04 01:01] #5219 closed

[2019-10-04 07:47] lukas-w commented on #5215
Additional exported initialisation & cleanup functions sounds like a good and clean way to solve this. The only other solution I can think of is to use a reference counter in the plugin's constructor/deconstructor, but this would mean cleanup is run when the plugin's last instance is destroyed, not when the plugin is unloaded (i.e. LMMS quits). Depending on the nature of the resources you manage t

[2019-10-04 12:51] musikBear opened #5220 "Hang-note in zasfx"
win10 1.2.0
First you should watch this:
https://youtu.be/Jx7jCNv4lAI
The behaviour was initiated as a arpeggio on E3 was playing, so i first found related to  #320. @DomClark mean it is a different issue, and asks  for a new bug-report -This is he....
Here is the file ZASFX_HangNoteProblem.zip
[ZASFX_HangNoteProblem.zip](https://github.com/LMMS/lmms/files/3690580/ZASFX_HangNoteProblem.zip)

Recre

[2019-10-04 12:51] musikBear commented on #320
Ok i did it with a PC-kb, but it is good that you could recreate, because now we know that this is not local inside zasfx

Done its 'Hang-note in zasfx' #5220

[2019-10-04 19:29] quaeched opened #5221 "Undefined symbol"
I have built master (that is 1.2.0.539) on OpenBSD 6.5. On launch, plugins cannot be loaded, complaining about undefined symbols, e.g.

`lmms:/usr/local/lib/lmms/libwatsyn.so: undefined symbol '_ZN6Plugin16staticMetaObjectE'`
`lmms:/usr/local/lib/lmms/libwatsyn.so: undefined symbol '_ZN6Plugin8loadFileERK7QString'`
`lmms:/usr/local/lib/lmms/libwatsyn.so: undefined symbol '_ZN9ModelView13doConnecti

[2019-10-05 18:48] Veratil commented on #250
This looks to be fixed.

[2019-10-05 18:48] #250 closed

[2019-10-06 01:46] PhysSong commented on #5218
The bug was introduced in #4991. It seems like `SampleBuffer::m_sampleRate` doesn't update on sample rate changes while the actual data does. I think `update()` or `normalizeSampleRate()` should handle the change.
@Reflexe Any ideas? BTW, it seems like #4994 removes those functions.

[2019-10-06 01:51] PhysSong commented on #5218
It seems like this bug makes the situation even worse: even changing the sample rate on export breaks stuff. This applies to sample tracks as well...

[2019-10-06 03:32] PhysSong commented on #5195
@deuteragenie I'm not sure, but it seems like Ubuntu 18.04 provides [the X11 driver for Mali GPUs](https://packages.ubuntu.com/bionic/mali-t62x-x11-driver).

[2019-10-06 04:22] Reflexe commented on #5218
I think I will have to cherry pick a few more changes from the recording branch. I don't want to duplicate my work.

[2019-10-06 13:31] noahb01 commented on #158
Old but I may still have this issue on 1.2.0. The sound is incredibly distorted and glitchy (lots of high freq. noise, almost like you took a reverb on master and bitcrushed it), but it always goes away if I adjust the audio volume on my system (arch linux, kde + pulseaudio, sdl as LMMS backend)

[2019-10-06 17:52] tecknixia opened #5225 "Automation point adjustment mouse wheel and double click"
https://cdn.discordapp.com/attachments/332258319228207114/629248936099708928/AutomationEditor2-2019-10-03_04.21.20.mp4

I have successfully made this usable already, but since I'm new to this, I'm not sure how what I did fits in with everything else, so it can be altered if necessary.  There are also elements of this issue that could use polishing, which are:

1. the values for detecting the point

[2019-10-06 18:00] zonkmachine commented on #5193
Meanwhile, the original issue I tried to solve has seem to have been at least partially fixed... :whale:
I can recreate the bug on LinuxMint-17.3 but not on LinuxMint-18.3 . The original issue pointed to a possible bug in Qt and it seem to have been fixed in the meantime.

I'm looking into the possibility of reverting, in order:
#4768 419321dd0146d9893f7934ef852cb54994ffd26f
#3526 9bdc0119049f41d0

[2019-10-07 12:33] Reflexe opened #5227 "Use ccache with appveyor"
Currently, we don't cache appveyor ccache results, with causes very long build times.

[2019-10-07 12:41] Reflexe opened #5228 "Use CircleCI for macOS builds"
Thanks to @tresf, we have access to macos builds on CircleCI. We should use it :)

[2019-10-07 15:41] softrabbit commented on #4045
Even nicer would probably be separating the BPM unit from the denominator, i.e. the time signature might be 12/8 and the tempo in dotted quarter notes per minute, like this: https://music.stackexchange.com/questions/66738/meaning-of-a-dotted-quarter-note-next-to-bpm-in-sheet-music

[2019-10-07 17:02] zonkmachine commented on #5225
Cool!

Can you submit this as a pull request instead?
There is info on how to do this in our wiki here:
https://github.com/LMMS/lmms/wiki/Submitting-a-patch

[2019-10-07 21:29] KodzghlyCZ opened #5231 "Peak controller maing clicking noises"
Whenever I add a peak controller to my project, it starts clicking, even when I have the "mute" button pressed, envelope settings didn't help at all, lowpass filter didn't help.

I currently have 1.2.0 version running on Windows 10 64bit with SDL audio output mode.
It happens all over my devices, so I would say, that it's not the soundcard problem.

The volume meter is not at red, nothing is going

[2019-10-07 23:10] tecknixia commented on #5225
Sure!  When I get a chance I'll take a closer look at the wiki, maybe do slight refactoring, and create a pull request.

[2019-10-08 12:37] SecondFlight commented on #5231
Could you create a simple test project that shows this issue?

[2019-10-08 20:16] quaeched commented on #5221
It is caused by this commit: https://github.com/LMMS/lmms/commit/4fd8e08f3bd02f173e97bb721a30565f17cd1dbc.

[2019-10-09 10:20] quaeched commented on #5221
Need to add
`SET_TARGET_PROPERTIES(lmms PROPERTIES LINK_FLAGS "${LINK_FLAGS} -Wl,-E")`
on the second to last line in `src/CMakeLists.txt`.
Closing.

[2019-10-09 10:26] PhysSong commented on #5221
I'll close once the regression is fixed on the LMMS side.

[2019-10-10 01:05] PhysSong opened #5234 "RemoteVstPlugin crashes on loading/saving presets if it fails to open the file"
Regression probably introduced in #4401.
Previously, `RemoteVstPlugin` used `read()`/`write()` to read/write data to file. From #4401, it uses `fread()`/`fwrite()` instead. It seems like `read()`/`write()` just fails if the `open()` failed, but `fread()`/`fwrite()` crashes if the corresponding `fopen()` fails and return the null pointer.
I think it shouldn't be difficult to fix this bug.

[2019-10-10 01:06] #5221 closed

[2019-10-10 15:31] JohannesLorenz commented on #4904
I'd like to provide a fix, but there are a few points...

1. As PhysSong asked above, should the shared value of dragging A and dropping on B be the one of A or the one of B?
2. If you unlink the controls, should both controls keep the shared value, or should the one that got its value removed (at the time of linking) now get its old value back?
3. There is currently no way to unlink the controls

[2019-10-10 17:09] softrabbit commented on #2029
Should this be closed as fixed through the memory manager change? https://github.com/LMMS/lmms/issues/3312#issuecomment-340432189

[2019-10-10 18:14] zonkmachine commented on #5032
Closed in https://github.com/LMMS/lmms/pull/5185

[2019-10-10 18:14] #5032 closed

[2019-10-10 20:04] michaelgregorius commented on #2029
Yes, I think it can be closed. Closing.

[2019-10-10 20:04] #2029 closed

[2019-10-11 15:04] CaBachhav commented on #5192
my little C++ knowledge suggest that their are some Random number generator library functions within C++ . These can be utilized For not only Random Beat Creator but Random Melody Creator , to randomize velocity , to randomise pan etc .moreover RANDOMISER can be included in each native LMMS instruments & effects. I agree with ideas in #1165

[2019-10-11 22:59] GingkathFox commented on #5181
Or even the opposite, where the tempo is tapped on the midi controller and LMMS syncs with it :D

[2019-10-11 23:05] GingkathFox commented on #4726
found this again, seems to be fixed now. closing.

[2019-10-11 23:05] #4726 closed

[2019-10-12 10:18] Reflexe commented on #5179
I think we can close this issue? @PhysSong

[2019-10-12 11:03] PhysSong commented on #5179
The `-flto` part is still not fixed, but I'm not sure if it's worth fixing it.

[2019-10-12 17:10] Minabsapi opened #5238 "Improvement: option to "equalize" notes length"
## Details of the feature
When using sound samples with the Audio File Processor, an option should be displayed somewhere to adapt a sound sample length; that is, regardless of the note played, having always the same sample length.

## How could we make it ?
Though it seems not possible, it is actually doable. Free audio processing softwares (with Audacity in mind) has a functionality allowing to

[2019-10-12 17:11] Spekular commented on #5238
Duplicate. Will link issue soon.

[2019-10-12 17:11] #5238 closed

[2019-10-12 17:15] Spekular commented on #5238
#1734, consolidated in #4877. Also mentioned in at least one other issue.

[2019-10-12 17:24] Minabsapi commented on #5238
My apologies, I didn't see these

[2019-10-12 18:02] softrabbit commented on #2047
Performance probably doesn't suffer much. See https://stackoverflow.com/questions/4584637/double-or-float-which-is-faster for a discussion. My proof of concept code in a comment above, https://github.com/LMMS/lmms/issues/2047#issuecomment-120009714, with slight modifications to run longer and print less gave results like this (seconds of user time):
![Screenshot from 2019-10-12 20-58-53](https://u

[2019-10-12 20:04] michaelgregorius commented on #2047
I think the phase update code is only a very small part of what LMMS is doing when it's playing a song and I am pretty sure that the code with the double implementation will never show up in profiler runs.

To quote Donald Knuth: _"The real problem is that programmers have spent far too much time worrying about efficiency in the wrong places and at the wrong times; premature optimization is the ro

[2019-10-12 21:14] stevphie commented on #5225
It would be nice if we could add custom values by double clicking the dots like in the velocity tab too, because the cursor movement while inside automation editor a little bit clunky e.g inconsistent value increment while adjusting each point with mouse

[2019-10-13 02:37] tecknixia commented on #5225
Oh, I didn't even think of that!  That would be a nice little enhancement as well.

I do think this works quite well though.

Btw, the code I originally posted is now out-of-date, the new code can be found in the pull request #5232  The increments work better now.

I think at some point there might be a way of refactoring the code for the mouse functions, instead of running a check for the mouse b

[2019-10-13 02:41] Deauthorized commented on #5225
i pray to god this feature is added for automation tracks as well

[2019-10-13 16:17] softrabbit commented on #1530
Just changing the `DefaultTicksPerTact` value in `MidiTime.h` works surprisingly well, with no glaringly obvious problems in playing or rendering, and MIDI import seems fine, too.

This allowed me to do a little unscientific render benchmark, using a MIDI file of close to 7 minutes with 10 SF2 player tracks. I toyed around with the ticks and rendered using default settings, 3 runs each, average us

[2019-10-13 23:28] Sawuare opened #5240 "Use native file dialogs everywhere"
Mainly for consistency with the rest of the interface, we currently [use themed file dialogs everywhere](https://github.com/LMMS/lmms/pull/4298), instead of native, but unlike native, they

- aren't familiar to users,
- don't have bookmarks and quick access,
- don't have thumbnails,
- require more code (4 files & 413 SLOC).

@Wallacoloo once wrote:

That being said, switching to native file dialog

[2019-10-14 10:24] Spekular commented on #5240
I disagree w/ this issue. Will post a proper explanation when I have time to type it out.

[2019-10-14 12:00] Spekular commented on #5240
- Some native file dialogues are awful. Every time I have to use [this browser](https://i.stack.imgur.com/mJDmC.png) I die a little inside.
- I don't know if it's possible for us to list our LMMS specific default locations in a native dialogue. If we can't list the working dir and stuff like that, the native dialogue is a downgrade.
- I wouldn't consider increment/decrement "useless" at all, it ce

[2019-10-14 18:56] softrabbit commented on #388
This is pretty much fixed now with the **1.2.0.xxx** version numbers, right?

[2019-10-14 20:03] CYBERDEViLNL commented on #4634
On the Carla repo there is also a issue for this: https://github.com/falkTX/Carla/issues/757 which is part of: https://github.com/falkTX/Carla/issues/873

[2019-10-15 14:15] musikBear commented on #5141
Should be mentioned here that notes can be added (or removed) to/from an *existing selection*, by pressing SH+CTRL in a mouse select.
Also, it is smart to use a low magnification, if you plan to make a big selection of notes, but that more like a 'best-method' recommendation, and not a feature.

[2019-10-15 14:36] musikBear opened #5241 "Send piano-roll notes to new track"
Except for the MIDI-special case, this is just suggested work-flow-improvements.
Add an option in semi-tone-context-menu : *Send-selected-to-new-track*
The result would be the same, as if we manually:
* Copy notes to clip-board
<close piano-roll>
<insert a new track of same instrument-type>
<insert an empty note-block in new track>
<Open new note-block in new piano-roll>
* Paste notes from clip-bo

[2019-10-15 14:49] zonkmachine commented on #5234
Fixed in https://github.com/LMMS/lmms/pull/5235

[2019-10-15 14:49] #5234 closed

[2019-10-15 16:30] zonkmachine commented on #5128
This sound like the best solution to me. The buggy libsndfile versions are going to be around for quite some time so I'm milestoning this.

[2019-10-15 19:33] zonkmachine commented on #5128
[This line](https://github.com/LMMS/lmms/blob/170d28ffbd39b1f0406e437eaeac39a07389f525/src/core/audio/AudioFileFlac.cpp#L97)

[code]

to

[code]

This works. I was thinking -1.0f as min value would work but it was still clipping.

[2019-10-16 08:00] Lathigos commented on #1911
Hey all! What is the status of this project? If nobody is currently working on implementing this great design, I would love to help. I have got plenty of experience programming in C++, as well as a decent amount of experience with Qt5.

Since doing everything at once is indeed a very large task, I'm eager to tackle it section-by-section. I would like to start to implement the toolbar (containing t

[2019-10-16 21:36] Reflexe opened #5242 "Move PeakController out of core"
@BaraMGB's https://github.com/LMMS/lmms/pull/2944 got into a problem with that. Therefore, I have implemented a way to load PeakController dynamically from a plugin and completely moved PeakController from the core since core components should not depend on plugins.

I'll open a PR for that in the next few days.

closes #2056

[2019-10-16 23:09] tecknixia commented on #5225
@Deauthorized you mean like this?

Working on it.

![automationPointEdit](https://user-images.githubusercontent.com/50790262/66965667-160c7880-f040-11e9-8e84-50b87128e882.png)

[2019-10-16 23:42] stevphie commented on #5225
@tecknixia yes... simple but neat

[2019-10-17 02:23] PhysSong commented on #5241
You can drag the pattern while pressing the <kbd>Ctrl</kbd> key and drop it on the new track. Isn't this simple enough?

[2019-10-17 04:50] Spekular commented on #5241
You can clone the track and then change instrument.

[2019-10-17 15:51] Minabsapi opened #5246 "[TEMP][EXPLANATION REQUEST] What is src_process ? Where is it declared ?"
Self-explanatory title, but I'll still add some things.
I am currently reviewing `SampleBuffer.cpp` to add a new functionality.
I know I need `src_data`, and what interests me is how it is processed (pitched).
Problem is: I know the processing is made with the `src_process` method, but I don't know where it is even declared, as well as the `SRC_DATA` type.
Could anybody point me to its origin ?

h

[2019-10-17 16:28] JohannesLorenz commented on #5246
`/usr/include/samplerate.h` from [libsamplerate](https://github.com/erikd/libsamplerate)

Does this solve the issue already?

[2019-10-17 20:12] michaelgregorius commented on #5128
I think clamping the samples inside of LMMS isn't a good idea. As written [here](https://stackoverflow.com/a/29957251) it's perfectly OK for a float encoded WAV file to have values that are outside of the [-1, 1] interval. Here's the relevant section from the link:

If you clamp the samples inside of LMMS this will not work anymore.

Therefore I think a better fix would be to integrate the newer v

[2019-10-17 20:29] michaelgregorius commented on #1911
@Lathigos, I don't really know if there's a redesign project going on as I am not the most active member here. :smile: I am also not on LMMS' Discord channel where such things might be discussed. However, in general I agree that it would be a good idea to start on something that's rather contained like the time display/tempo/BPM toolbar.

Please note that with #5118 there is already an open pull r

[2019-10-17 22:08] PhysSong commented on #5128
I mean, clipping on LMMS side only for 24-bit integer FLAC.

[2019-10-18 00:37] stevphie opened #5248 "Piano Roll/Song Editor Marker"
It would be nice if LMMS has this "Marker" feature as shown below

**NOTE**: The graphic representation is just a mockup made in photoshop

![lmmsMockup-marker](https://user-images.githubusercontent.com/7945083/67056751-9b467900-f177-11e9-95ac-98f9aace1545.jpg)

As a musician, when it comes to music composition most of us put a marker as a personal notes in our musical score/sheet. Most of the tim

[2019-10-18 13:33] Lathigos commented on #1911
@michaelgregorius Great! Thanks for the heads-up, and thanks for pointing me towards those pull requests. I'm not sure if I'll be able to use them, though :smile: — I have already started working yesterday, so I've managed to separate the code from SongEditor.cpp into a separate widget that now controls all of the toolbar's items. I've also reimplemented the min/sec/msec, tempo and time sig widget

[2019-10-18 14:19] Umcaruje commented on #1911
I loove how this looks. My main issue is the sliders though. They are a tad too long , and also the fader knobs aren't pixel perfect. I could make you some pixel perfect assets, I'll just need the size in pixels though.

I think you could just open a PR with the proposal once you get all your code working.

[2019-10-18 14:21] musikBear commented on #5241
@PhysSong That is the modus i describe in the 6 bullets. Yes its that 'simple', but a feature would be neat, and the MIDI-drums would be a drag

@Spekular Yes sure, but again a 'split' feature would be so simple, compared to cloning, and the MIDI-drum situation would be a drag

But as i said: just a work-flow-*improvement*. Eg a faster way to do something we already *can* do, in more complicated w

[2019-10-18 16:07] djnotes opened #5249 "Configuration error on Fedora 31: failure to link to fftw3"
Seems like there are some bugs in cmake files, as after installing all dependencies including fftw3, I am getting this output:

[code]

[2019-10-18 16:40] Lathigos commented on #1911
@Umcaruje Thanks! And yes, I agree entirely about those sliders! :stuck_out_tongue: They still need a lot of work. I was planning on making a pixel-perfect fader knob asset for it myself, but if you have a very specific one in mind, I'd love to see it! I don't really care what size you use. Currently it's 14x14 px, but I think I'll make it a little thinner (8x14 px or something).

On a general not

[2019-10-18 17:05] RoxasKH commented on #1911
Maybe i'm the only one, but i think that the green line of the slider should be vertical, because the slider is horizontal, like this

![sliderz](https://user-images.githubusercontent.com/40141826/67113633-4d169180-f1da-11e9-80a5-2df9a5f0f640.png)

[2019-10-18 17:13] Reflexe opened #5250 "VersionInfo: Not tagged refs should be resolved better"
Currently, for non-tagged commits, use parse version information from `--match v[0-9].[0-9].[0-9]*`.

That does no help a lot with non-tagged commit since it results something like `v1.2.0-14`. We should at least include the commit hash in the version info and the log and maybe also use `dev` for the `rc` field.

[2019-10-18 17:21] Reflexe commented on #5249
Do you have `pkgconfig` installed? What's the result of:
[code]

[2019-10-18 17:55] winniehell commented on #1911
@michaelgregorius @Lathigos The CPU meter got pushed to the right side and I wasn't sure why. So I started cleaning up the toolbar code (https://github.com/LMMS/lmms/pull/5125, https://github.com/LMMS/lmms/pull/5148). Unfortunately I didn't have time to continue that recently.

[2019-10-18 18:20] Lathigos commented on #1911
@winniehell Ah, I see! Still, thanks for the refactoring, it'll probably speed things up tremendously! :smiley:

@RoxasKH I've implemented your slider handle design! I've also made the sliders a little smaller and changed some of the widget spacing. How does this look?
![toolbar_implementation_rough_preview_002](https://user-images.githubusercontent.com/56608274/67117724-b058f180-f1e3-11e9-8ccd-0d

[2019-10-18 18:33] RoxasKH commented on #1911
@Lathigos I think it looks dope, i could design the gradient from above, but i got no time atm

[2019-10-18 19:08] tecknixia commented on #4671
How desirable is it to delete points while moving a point?
Would it better if the right button cancels the move?

If a point goes on top of another point, it is replaced.  Is it necessary to be able to delete multiple points while moving a point, when you can just delete the points before or after the move?  I just now came up with code that, when holding the left mouse button, and clicking the ri

[2019-10-18 23:42] Veratil commented on #3751
I've been reworking the Piano Roll editor for a few bugs and I could "fix" this, but it would make things more complex (code-wise) and honestly I don't believe it actually needs fixing.

1. Currently if you hover over the piano keys you'll also see which key you're hovering in the notes area related to the mouse position. This by itself should be easy enough to tell you what note you're clicking,

[2019-10-19 00:46] Sawuare commented on #3751
@Veratil Thanks for looking into this. Your reasons make some sense, especially the 3rd one.

However, I think we should do something about this issue and the inconsistency between the 2 piano views.

I suggest a new design: flat piano keys, where all of them have identical dimensions.
This will fix this issue, fix the inconsistency, and simplify the code **a lot**.

[2019-10-19 01:53] tecknixia commented on #5157
I've been rewriting the mouse functions for clarity and I decided I might as well look into this, so in order to figure out how it works, I wrote down something like a map of the process that's involved.  I figured it might help.

[code]
That is just defining them, so order doesn't matter (the above)

Here is my map (below):
[code]
It's confusing to me, but essentially it seems to me that it just

[2019-10-19 06:09] Veratil commented on #3751
Yep yep. I've been working on this for the past week so when I saw this I knew I could give some input. 😄

This would simplify a lot, yes.

Something I just thought of earlier: what if we flipped the keyboard? That way the "back" of the key is facing the notes area instead of the current "awkward" way.

[2019-10-19 15:51] tecknixia opened #5254 "Automation scroll limited by song editor"
If you create a one block segment for an automation track in the song editor, then open and edit that segment.  Then you zoom out along the x axis, draw a long pattern, then zoom back in... you are prevented from scrolling to the right to see the rest of the pattern you drew.

It seems that the range of view along the x axis is determined by the length of the segment in the song editor.

The left

[2019-10-19 18:16] djnotes commented on #5249
The output of `pkg-config fftw3f --libs`:

[code]

[2019-10-19 18:35] Reflexe commented on #5249
Stange. Have you tried removing the CMakeCache.txt? Also, could you upload `CMakeOutput.log`, `CMakeError.log` and `CMakeCache.txt`? Thanks.

[2019-10-19 18:57] djnotes commented on #5249
No, I have not removed CMakeCache.txt. I'll try it.
Here are the files you mentioned:
[CMakeError.log](https://github.com/LMMS/lmms/files/3747077/CMakeError.log)
[CMakeOutput.log](https://github.com/LMMS/lmms/files/3747078/CMakeOutput.log)
[CMakeCache.txt](https://github.com/LMMS/lmms/files/3747080/CMakeCache.txt)

[2019-10-19 18:59] djnotes commented on #5249
That is weird. Removed CMakeCache.txt and tried again running `cmake ..` and it worked. Why could this happen?

[2019-10-19 19:04] djnotes commented on #5249
Thanks @Reflexe for your pointer . It really helped.

[2019-10-19 19:04] Reflexe commented on #5249
That's because cmake caches the result of the search, even if it had failed. Removing it forces cmake to look for it again.
You probably had installed fftw after the first run of cmake.
We can actually solve that by checking the return value before caching it.

[2019-10-19 21:47] Reflexe commented on #5218
I'm retargeting it for 1.3 as a fix for 1.2.1 has been merged.

[2019-10-20 00:18] Sawuare commented on #3751
@Veratil I think that would look strange.

[2019-10-20 00:23] Veratil commented on #3751
Would it? Imagine this just rotated.

![](https://i.ytimg.com/vi/m5RmYEd1N9I/maxresdefault.jpg)

[2019-10-20 00:37] Sawuare commented on #3751
@Veratil That actually looks fine, but I don't see a benefit from switching to it.
Don't you think flat piano keys are the way to go?

For reference, Ableton Live piano roll:
![image](https://user-images.githubusercontent.com/25503477/67153011-1f9c1780-f2b0-11e9-87fe-b8024e225ccd.png)

[2019-10-20 00:54] GingkathFox opened #5257 "[Zyn] CPU meter redlines even when instrument is muted"
New issue, this time with Zyn.

Depending on how many Unison voices the preset has + the decay, Zyn will eat alot of cpu, especially when layering 3 or more notes in a single loop. This may not be just Zyn, but its the one ive noticed this issue most.

The issue is, whenever i mute a zyn instrument, the cpu still spikes. if i mute the actual loop, the cpu stops spiking. I'm assuming thats because

[2019-10-20 00:58] Veratil commented on #3751
I think that looks pretty good. I wouldn't mind replicating that.

I've already put up the PR for the rewrite I was doing (#5253), but I can still rework the key drawing. :)

[2019-10-20 00:58] tecknixia commented on #3301
I believe I may have fixed this problem in this PR:
#5232

The cursor now turns into a hand on the edges of the circle, and as soon as it does, when you right click it will delete.

I can't say the same for when you're holding and dragging the mouse, the same while loop and if statement is being used, but for some reason during a mouse move, it won't detect until the center (just on the left side)

[2019-10-20 01:06] Sawuare commented on #3751
@Veratil No need to. I will tackle that in a new PR soon.

[2019-10-20 01:12] Veratil commented on #3751
If you base it off my PR and have any questions let me know. I tried to make it as easy to follow as possible!

[2019-10-20 01:30] Sawuare commented on #5257
I believe this is correct. Muted tracks, unlike muted patterns, do redundant processing when played, so this is not ZASFX specific.

[2019-10-20 01:46] tecknixia commented on #4671
Despite creating a work-around to deleting points while dragging, using the select feature in Automation Editor (working on it), I've run into a problem of disappearing points while moving other points.

[2019-10-20 01:48] Sawuare commented on #5176
Duplicate of #4312. Closing.

[2019-10-20 01:48] #5176 closed

[2019-10-20 06:01] CaBachhav opened #5258 "SHORTCUT BUTTONS FOR MIDI-IN ENABLE & RECORDwithPlay functions near Solo & Mute Buttons."
On every LMMS track there are currently two buttons for solo & mute buttons.
But if we want to enable our midi keyboard we have to go much deep inside , similarly to record we have to go in piano roll. these are all time consuming & affect our workflow.
I am suggesting an idea for which no much coding is needed , only linking my suggested 1. Midi-in ENABLE/Disable,
2.Record&play small buttons to e

[2019-10-20 06:34] JohannesLorenz commented on #5079
The concept is not clear yet. :grimacing:  Assume you have the GUI closed for a mono effect. In the LMMS-internal UI, mono effects have a knob for each side (that's how we made it in LADSPA, so I inherited this for the internal UI). Now, imagine a knob is different between both sides. Then one GUI can't represent both values.

How to deal with this?
1. One idea is that if a user attempts to open a

[2019-10-20 07:40] vivi2004 opened #5259 "Delete the selection in automation track"
Actually we can just move the selection in automation track, and I often need to delete what I selected, so please add it.

[2019-10-20 07:56] CaBachhav commented on #5258
I tried uploading PNG 100 times but not uploaded.
Hence for just an idea plz refer this below

--------------
|  ◾◽ |
|   ◻  ◼.  |
-------------

1.MIDI IN ENABLE/DISABLE
2.RECORDwPLAY START/STOP
3.MUTE
4.SOLO

[2019-10-20 08:30] Spekular commented on #5259
Closing as duplicate of/merging with #5157

To me, a fequesr for selection in automation editor implies move/copy/cut/paste/delete functionality, otherwise the selection is useless.

[2019-10-20 08:30] #5259 closed

[2019-10-20 08:36] Spekular commented on #5157
Personally I think this should be two separate issues, one for group selection and one for placing points at the same time. However, given the huge number of open issues I believe they can stay as one for now. Perhaps if one part is implemented and the other remains, the remaining one can be split into a new issue and this can be closed.

[2019-10-20 08:51] RebeccaDeField commented on #1911
@Lathigos My only suggestion is to make sure that you're using shades of gray color picked with the same hue as what is elsewhere in the program so we don't end up with any clashing colors. This is looking great, and I think any other fine details can be finalized with the PR.

[2019-10-20 12:40] Lathigos opened #5260 "lmms/master sometimes not shutting down properly"
I did not have any time to investigate this further, but I have noticed that in the master branch of LMMS, when closing the main window, the process regularly doesn't properly get shut down and a process remains active in the task manager.

This can best be seen when starting LMMS through a terminal. Usually, when closing the main window, control is given back to the user. However, about 1/3rd of

[2019-10-20 13:22] tecknixia commented on #5254
Also, the same problem with "select all".

When select mode is updated and re-enabled, Ctrl+A only selects the amount shown in the song editor, instead of selecting everything.

![automationSelectAll](https://user-images.githubusercontent.com/50790262/67160057-2d828480-f312-11e9-9c5a-9383abe27751.png)

[2019-10-20 13:25] CYBERDEViLNL commented on #5260
Duplicate of https://github.com/LMMS/lmms/issues/4668?

[2019-10-20 14:14] mxmilkb commented on #1911
For Time Sig, might a formatting of "4/4" be a better fit than "04/04"?

[2019-10-20 15:13] tecknixia commented on #5157
In the branch I'm working on [above] I've managed to get select and move working, but I'm running into three issues that seem to be related.

1. Issue #5254  - Select All - only selects the length of measures in Song Editor

![automationSelectAll](https://user-images.githubusercontent.com/50790262/67161419-f5823e00-f31f-11e9-85e7-0058584c4014.png)

2. Issue #4671  - [Maybe related:] while moving a

[2019-10-20 15:31] Lathigos commented on #1911
@mxmilkb I think we should keep it as "04/04", since it is possible to have time signatures with numbers higher than 9. If we would remove (not just hide) the leading zero, then having a number higher than 9 would cause all widgets next to it to move.

@RebeccaDeField The gradient in the picture has roughly same hue as the area next to it according to a colour picker tool, but it has a lower value

[2019-10-20 15:36] mxmilkb commented on #1911
My thought was that the spacing for one number would be the same as for two numbers so as to keep the other widgets in a fixed position. As in to "just hide" the leading zero.

[2019-10-20 15:50] tecknixia commented on #5157
@Spekular

The more I play with this issue of moving a selection, the more it seems like the random points are disappearing as they move to a position on top of one another.  When I read what you said, I agreed about the separate issues, but then I noticed this.  It seems like the issues may be related after all.

[2019-10-20 16:11] Spekular commented on #5157
If two land on each other at least one will be deleted because we currently
don't support several points on top of each other. Points at the same
position is still a separate issue IMO, as you can implement (and benefit
from) one without the other (and this applies both ways).

On Sun, Oct 20, 2019, 17:50 tecknixia <notifications@github.com> wrote:

[2019-10-20 16:11] tecknixia commented on #5157
@Spekular

After thinking about it some more, if points are getting deleted because they're on top of each other, than allowing them to co-exist on the same tick would probably fix that issue.

However, this might involve some strategy in how the mouse functions run.  Even if the issues are related, I think you're right, it seems to deserve it's own issue because of the depth of the issue.  This i

[2019-10-20 16:31] tecknixia commented on #5157
Just realized... if it works when dragging a single point, why can't it work for multiple points?

I'll have to take a closer look, it seems likely possible to fix this without having to worry about the issue of two points occupying the same x position.

[2019-10-20 17:25] RebeccaDeField commented on #1911
@mxmilkb You will find that even the single UI theme has some hue variations as well as that does not necessarily = clashing. I recommend color picking the hues from a similar area as it is a good way to better foolproof designs where color theory is involved with other contributors. Budislav's design is also flat so the number of colors would be much more simplified than as it is now with more gr

[2019-10-20 18:23] zezic commented on #1911
Just a sight from aside: do not hardcode colors and use lightness/hue manipulation on very few colors from the base palette like it's done in Godot, Renoise and Ableton Live to allow different color schemes.

[2019-10-20 19:25] Lathigos commented on #1911
@mxmilkb Ah, I see! Yes, that could be possible - but I would rather work on key parts of the LMMS UI that need work the most before implementing that, because I think it looks alright as it is (unless everybody disagrees and demands this feature be implemented, of course :smile:).

@RebeccaDeField Can you take a look at the pull request #5261? I've included a full-window screenshot there in which

[2019-10-20 19:31] zonkmachine commented on #4830
Yes. This looks like the same issue. Closing.

[2019-10-20 19:31] #4830 closed

[2019-10-20 21:47] Veratil commented on #3005
While reworking the `mousePressEvent` of the Piano Roll I randomly had a thought about this and managed to solve it.

What happens is `mouseDoubleClickEvent` is processed but doesn't call `mousePressEvent` in the event that the double click is outside the area it's watching for double clicks. According to the documentation the default implementation calls `mousePressEvent`. Adding in the check to

[2019-10-20 22:12] zonkmachine commented on #3637
It's doesn't seem to be as prominent in master as in stable-1.2 but it still happens.

Also affects panning.

[2019-10-20 22:27] Sawuare commented on #3919
Seems fixed on master and 1.2.0.

[2019-10-21 00:49] Reflexe commented on #5218
@PhysSong Please comment when you're undoing something.

[2019-10-21 00:51] PhysSong commented on #5218
Sorry, I was going to sync branches and make this auto-closed.

[2019-10-21 02:19] #5218 closed

[2019-10-21 03:17] tecknixia commented on #5157
![selectionBoxMove](https://user-images.githubusercontent.com/50790262/67172881-ae796480-f382-11e9-8a13-d26a768f80dd.png)

- If m_selectedTick is greater than zero
- and if m_selectStartTick plus ticks_diff is less than zero
- then set ticks_diff equal to the negative of m_selectStartTick
- else, if m_selectStartTick plus m_selectedTick plus ticks_diff is less than zero
- then set ticks_diff to th

[2019-10-21 05:10] coderman64 opened #5263 "Add warning dialogue for "Remove this track" button in song editor."
I have noticed, while using the current release version of LMMS, it is incredibly easy to accidentally hit "Remove this track" when you mean to hit "Clone this track." In other applications, permanent operations like this would require a dialogue to make sure the user actually wants the track to be deleted and didn't click it by mistake. I propose a similar dialogue be implemented in LMMS, somewha

[2019-10-21 15:50] BluuDreamz opened #5265 "File Format Export Inconsistency"
Say the user wants to export their project as mp3.
However - they leave the initial file type as .wav within this explorer.

![Annotation 2019-10-21 113554](https://user-images.githubusercontent.com/39863151/67219969-f33ee300-f3f6-11e9-9e3e-70e7a9132356.png)

Then, on the final export window, the user selects mp3 as desired - then renders their project.

![image](https://user-images.githubusercont

[2019-10-21 16:53] zonkmachine commented on #5218
The short form for auto closing only works on the default branch. I think you could use a longer form looking something like `closes lmms/lmms/#5218`.

[2019-10-21 16:54] RoxasKH commented on #1911
I'm the only who'd like to see in the single-window lmms, both the color scheme of Budislav and Rebecca that were designed? So we could have a light and a dark theme, like atm there are the classic and the default theme.

[2019-10-21 18:39] musikBear commented on #3637
Very important that a fix, does **not** remove chords being played, if mouse is being left-pressed on the column-end.
![image](https://user-images.githubusercontent.com/6662066/67233085-dfb96980-f442-11e9-8718-a972875caefb.png)
Pressing this area, is the **only way** to hear a chord, without playback!

[2019-10-21 20:11] zonkmachine commented on #3919
This was fixed by @DomClark in https://github.com/LMMS/lmms/pull/4908.

[2019-10-21 20:16] zonkmachine commented on #3297
When asking I frased it that way. The actual quote by @Umcaruje on #devonly from 08/07/2017
was `@zonkmachine @tresf I can reproduce that bug`.

The issue may have been fixed in https://github.com/LMMS/lmms/pull/4908.

[2019-10-21 20:17] musikBear commented on #5220
Has anyone worked on zasfx in 1.2.1 ?
This bug has disappeared!
I cant initiate this hang in 1.2.1 <3
It may be too soon to go *Hoorayy* yet, but i looks like 1.2.1 have this fixed. It is not mentioned in the releasenotes, that any work has been done on zasfx, so this could be a lucky strike
@DomClark Can you confirm?

[2019-10-21 23:09] PhysSong commented on #5260
I think so.

[2019-10-21 23:09] #5260 closed

[2019-10-21 23:22] Gabrielxd195 opened #5266 "Ghost notes: Show ghost icon in tco."
The phantom notes are very useful when composing, but when I have many patterns or tco and I want to modify the pattern I use as a guide, sometimes I get lost looking for it, and this can affect the workflow.

I suggest adding a '' ghost '' icon to the pattern that has been set as '' ghost notes ''. after setting the pattern:
![Establecer el patron fantasma](https://user-images.githubusercontent.c

[2019-10-22 02:24] Gabrielxd195 opened #5267 "Ghost notes: Ghost icon inside piano roll."
Currently to set a piano roll pattern as a ghost, you have to do it from the song editor by clicking left on that pattern and executing the option `` set as ghost in piano-roll ''. good!!.
![Establecer el patron fantasma](https://user-images.githubusercontent.com/26127693/67255133-89eabe80-f44e-11e9-94f0-1da77537e161.png)
The problem is that when you modify the same pattern several times (either t

[2019-10-22 07:18] Spekular commented on #5267
Are you asking for a way to show/hide the ghost notes in piano roll? If so
that should be one toggleable button rather than two.

On Tue, Oct 22, 2019, 04:24 Gabriel Lopez <notifications@github.com> wrote:

[2019-10-22 07:20] Spekular commented on #5267
Ah wait, you mean you want to set the currently opened pattern as ghost notes, don't you? I still think that could be a single button, though.

[2019-10-22 12:44] musikBear commented on #5267
@Gabrielxd195 Im also a bit unsure what you mean, but if you ask for a way to create a Ghost-clipboard-image with a button in piano-roll, and a second piano-roll-button to set the clipboard-ghosts into a different piano-roll pattern, then its a good idea!
Since this would take place inside a piano-roll-pattern, it could even be made so **only selected notes** would go into the Ghost-clipboard-imag

[2019-10-22 12:47] alejandrocobo opened #5268 "Zynaddsubfx not working in LMMS 1.2"
When I try to add any Zynaddsubfx preset to the editor, it won´t be added. If I try to add any other synthesizer preset to the editor, they´ll work just fine.

I´m using Mageia 7 (lmms-1.2.0-1.mga7.x86_64.rpm).

Thanks.

[2019-10-22 12:52] SecondFlight commented on #5268
Hi, could you try using the appimage and see if the problem persists? You can get it here: http://lmms.io/download

[2019-10-22 18:17] Gabrielxd195 commented on #5267
Not exactly, it doesn't have to do to show or hide. What I am referring to is a button that does something similar to '' refresh ''. when you enter and modify the pattern that you set as a ghost, you just press that button to `` update '' the image of the ghost notes, without leaving piano roll.

[2019-10-22 18:19] Gabrielxd195 commented on #5267
That's what I mean, set it with the open pattern. but it is necessary to place a button for this to make it more visual.

[2019-10-22 18:24] Gabrielxd195 commented on #5267
That is not specifically my idea. wow !! but you just got an idea from another idea, this would be great! I recommend you make a thread with this idea to be taken into account.

[2019-10-23 01:18] PhysSong commented on #5250
It seems like we used to do it until #3011.

[2019-10-23 05:51] alejandrocobo commented on #5268
Appimage works just fine. Reporting to distro packagers.

Thanks!

[2019-10-23 13:36] SecondFlight commented on #5268
Awesome, glad to hear!

[2019-10-23 13:36] #5268 closed

[2019-10-23 14:46] Tromino commented on #5194
Something similar happens on Linux with Wayland support force-enabled (tested in GNOME and Sway). The mouse gets hidden properly, but its position isn't able to be set. A protocol to set cursor boundaries does exist, though I'm not sure how easy it would be to implement without Qt itself adding support. Running LMMS under Xwayland does work fine though.

[2019-10-23 14:53] BloodyRain2k commented on #3005
Accidental Features! :tada:

[2019-10-23 15:11] Tromino opened #5270 "Recorded MIDI notes sometimes start being placed incorrectly"
While recording notes in the piano roll using the keyboard, the notes being recorded will occasionally start being placed in the wrong positions (seemingly to where the note would've been placed the last time it was pressed). This seems to be able to be triggered consistently by stopping the recording using the spacebar while a note is being held, though I'm not sure if that's the only way to trig

[2019-10-23 15:23] zonkmachine commented on #3637
Bisected. The commit where this triggering started is f40329946024b93c92bdd9c2c46b8390a027d393
@tresf

[2019-10-23 15:43] JohannesLorenz commented on #5079
@DomClark Can you please help? It's closely related to #4964 and #4899 .

[2019-10-23 15:53] tresf commented on #3637
Nice find.  I don't have time to own this one, so marking it as good first issue and hoping someone else does.

[2019-10-23 16:06] zonkmachine commented on #3637
I don't see at a first glance why the triggering affects only sounds with envelope. I think the real bug could be somewhere else and this commit just made it surface.

[2019-10-23 16:07] david-geiger commented on #5268
I'm the mageia lmms package maintainer, I have also fixed this issue directly in our distro repo:

http://svnweb.mageia.org/packages?view=revision&revision=1455253

We had a libraries plugins rpath issue.

Regards,
David

[2019-10-23 18:21] zonkmachine commented on #3637
I think I fixed the issue in #5271

[2019-10-23 20:21] zonkmachine commented on #3983
https://gist.github.com/zonkmachine/9a36ec5e58623daa34befb8edb46cde9#file-mixercrash-diff
If no one is going to look into the suggested patch I think this issue should be closed.

[2019-10-24 12:16] itlives commented on #5263
If this is still open ill gladly take it. I used to contribute on lmms a while ago but I had to pause because of my job.

[2019-10-24 15:05] zonkmachine commented on #5263
@fschuelke Please fix this! :whale:

[2019-10-24 18:27] zonkmachine commented on #3637
![faderissue](https://user-images.githubusercontent.com/6368949/67512968-3076cf80-f69a-11e9-9c35-58db71db1e5c.png)

Q - I have selected one note in the chord to the left. I now get a bit naughty and try and move the fader for the note to the right. What should the outcome be?

[2019-10-24 20:43] DomClark commented on #5220
I can't reproduce it in 1.2.1, although I found it difficult to reproduce in 1.2.0 so it may just be that I haven't managed to trigger it yet. However, since you could reproduce it reliably, and now you can't, I'll assume it's fixed and close this issue for now. We can reopen it later if the bug reappears.

[2019-10-24 20:43] #5220 closed

[2019-10-24 21:00] DomClark commented on #3919
The bug certainly seems to have disappeared, but I'd hesitate to call that PR a proper fix for this issue.

Prior to it, note-on messages were sent when `NotePlayHandle`s were constructed during track processing, and then cancelled out by note-off messages sent from old `NotePlayHandle`s during play handle processing. Now that the note-on messages are also sent during play handle processing, they

[2019-10-24 21:03] DomClark commented on #5257
Is this really a bug? The mute button isn't there to stop an instrument using CPU, it's there to stop it making sound. The way this is currently implemented means that you can unmute an instrument and it will sound exactly as the same as if it had never been muted. Suspending processing for muted instruments could, for example, mess up the timing of envelopes, LFOs, and arpeggiators, or skip notes

[2019-10-24 21:38] DomClark commented on #5240
Some arguments in favour of this issue:
* Qt's non-native file dialogs are really slow. This is difficult to measure precisely, but the native Windows file dialog can be many times faster for folders not currently in the disk cache. I've had LMMS hang for nearly 30 seconds navigating to my downloads folder, which is not an issue I've run into with any other application.
* > Some native file dialog

[2019-10-24 23:18] DomClark commented on #5079
Once #4635 is merged, it should eliminate this problem and we can just use a single UI both internally and externally. If it seems likely that that PR will land in the same release as this one, then it might be best just to stick to a single UI from the start. In the meantime, the same effect can be achieved with FX sends and amplifier/stereo matrix effects.

If we don't want to do that, my person

[2019-10-25 17:38] EJTH opened #5273 "Everything is unusally blurry in windows 10 (1920x1080)"
I know there is lots of closed issues regarding scaling etc. on windows, but it is still a problem.

It can be mitigated very easily by overriding DPI scaling behavior for application.
![image](https://user-images.githubusercontent.com/4135908/67591899-c3793d80-f75e-11e9-8bf1-9938d0a6020e.png)

I will just mention it here so others have an easier time finding the solution. Feel free to close it ag

[2019-10-25 18:16] Veratil commented on #5254
Looks like the `updateLength` function isn't called (properly?) unless it's a `HiddenAutomationTrack`.

[code]

I played around and did this change above and it looks like it solved the general issue of not being able to scroll further. Although upon connecting a new object since it has a single point the length becomes near 0, so that's probably something that needs to be addressed otherwise.

[2019-10-25 18:17] #5273 closed

[2019-10-25 18:29] SecondFlight commented on #5273
Related: #2510

[2019-10-26 12:18] zonkmachine commented on #3637
In 1.1.3 when you have an active selection, the other notes faders are unresponsive. In 1.2.0 when you try and move another fader than of the selected note you will trigger that note but the selection fader will move instead. I see no use case for this behavior and am looking into a fix for it.

[2019-10-26 12:43] Spekular commented on #3637
I think only the actively selected notes should have editable velocities. Imagine you have a strummed chord, so the notes are delayed by 1/64th or something. If you select one note in the chord to edit its velocity, you don't want the other notes to change. This should also be simpler to code than making an exception for notes at a different position. So in your example, the velocity for the note

[2019-10-26 13:05] zonkmachine commented on #3637
I agree and this is actually how it works in master now so this part seem fixed already.

Yes.

[2019-10-26 20:18] zonkmachine commented on #3642
Isn't the reason that the gain is done by letting a separate function accessing the buffer?
https://github.com/LMMS/lmms/blob/3745bfbd7fb7b90f682eecd7cd9c7c264122f95f/plugins/Eq/EqEffect.h#L45

https://github.com/LMMS/lmms/blob/master/plugins/Eq/EqEffect.cpp#L176
https://github.com/LMMS/lmms/blob/master/plugins/Eq/EqEffect.cpp#L272

[2019-10-26 22:11] GingkathFox commented on #3981
Related thing: [.lmmsrc.json](https://gist.github.com/GingkathFox/d2f7180dabf799cac695248dcd48178b)

[2019-10-27 01:39] EFHIII commented on #4765
Not having this as a feature is really frustrating for me right now since I need to make heavy use of MIDI export.
Another note; it seems that LMMS screws with imported MIDI tempos; normalizing everything to integer tempos and placing them on beats lines if I'm not mistaken which is completely ruining a timing sync I need for a game, not to mention making imported MIDIs not sound quite right when

[2019-10-27 10:23] JohannesLorenz opened #5278 "Replace macros by delegating ctors"
Use delegating constructors instead of macros. For beginners, but requires C++11 knowledge.

Start your PR by branching from `stable-1.2`. Fix the following comments:

[code]

[2019-10-27 12:19] knittl commented on #5278
I've created a pull request to replace the macros with delegating constructors: https://github.com/LMMS/lmms/pull/5279

[2019-10-27 16:57] zonkmachine commented on #5104
This sounds like a crash and if you start lmms from within the gnu debugger (gdb) you can see this more clearly as you will get a debug statement when it hangs, stops responding. Do you think you can look into providing a backtrace with gdb?

[2019-10-27 17:51] #5249 closed

[2019-10-27 20:20] JohannesLorenz commented on #5278
Thanks for the PR :+1:

[2019-10-27 20:20] #5278 closed

[2019-10-27 22:47] Gps2010 commented on #5104
I am using the appimage right now, if I can start from the debugger, would love to help?

If I need to compile LMMS myself, it needs to wait until new pc is finished.

Getting there, but last week been battle windows 10 to install with UEFI.
Hope tomorrow to install Leap 15.1 (opensuse).

( amd ryzen 5 2600 wraith, 16 gig ram, rx 570  )

[2019-10-27 22:51] Reflexe commented on #5227
Closing since I want to actually drop appveyor and use github actions for that since it is much less limiting.

[2019-10-27 22:51] #5227 closed

[2019-10-27 22:52] PhysSong commented on #5104
You can debug AppImages with the following steps:
https://github.com/LMMS/lmms/wiki/Debugging-LMMS#debugging-an-appimage

[2019-10-27 23:17] zonkmachine commented on #3637
And this is how it works today but the sound still plays. It just gets a bit confusing because the fader of the selection moves. It's a bit of an edge case though and the current behavior is acceptable to me. #5271 should be merged.

[2019-10-28 02:34] zonkmachine commented on #5011
#4973 has been merged and the issue seem to have been fixed.

[2019-10-28 05:08] KimLennings opened #5281 "Preview samples with arrow keys."
Instead of having to click every sample to preview it, make it so that the sample plays when moving up or down using the arrow keys. This is much less strenuous on the hand and wrist when looking through thousands of samples.

[2019-10-28 15:54] musikBear opened #5283 "1.2.1 C* ChorusII distorts w. feedback>0,5"
Recreate:
Add:
* default 3oc (or any instrument)
* "C* ChorusII - Mono chorus/flanger modulated by a fractal -on FX-tab
* Turn "feedback" button above 0.5
* Play a note

Output:
Very severe distortion, and overclipping witch mutes the instrument.
Sound comes back, if the FX is muted
I cant remember i have seen this earlier, but i may not have tried this FX-plugin

[2019-10-28 16:30] zonkmachine commented on #5283
ChorusII has been dropped upstream and it looks like it's being dropped here to. https://github.com/LMMS/lmms/pull/4027

[2019-10-28 20:34] #5228 closed

[2019-10-28 23:19] PhysSong commented on #5281
Duplicate of #871, see #4877.

[2019-10-28 23:19] #5281 closed

[2019-10-28 23:22] PhysSong opened #5284 "AppImage doesn't work when the filename contains spaces"
Reported by `@tatan#6472` on Discord.
![appimagespaces](https://user-images.githubusercontent.com/12591074/67725102-8219b400-fa24-11e9-8922-ab9169569aef.png)
It seems like AppImage mounts its contents to a directory with spaces in this case. However, our `AppRun` doesn't handle this properly:
https://github.com/LMMS/lmms/blob/5e4e536bf0dad4dfa28e8b51b305638fefaee468/cmake/linux/package_linux.sh.in

[2019-10-28 23:25] PhysSong commented on #5270
@Tromino Could you please provide some more details? Like:
- LMMS version
- Screenshot of expected vs. actual result

[2019-10-29 03:26] Tromino commented on #5270
No. Goodbye.

[2019-10-29 03:26] #5270 closed

[2019-10-29 03:57] SecondFlight commented on #5270
If you don't provide information, we can't diagnose anything. Best of luck with your issue.

[2019-10-29 09:23] JohannesLorenz opened #5285 "Menu entry "remove all linked controllers" is bad wording"
It's bad because:

* you don't remove the controller, but the connection
* UI elements (like knobs) can also be linked to other UI elements (ctrl + drag-drop from one knob to another) instead of only to controllers.

Proposals:
1. remove all connections
2. remove all controller and model connections (does a user know what a model is? is the text too long?)

What shall we use?

[2019-10-29 09:29] JohannesLorenz commented on #4904
Poll:

* Dragging one knob onto another you can link both. Should the shared value of dragging A and dropping on B be the one of A (:eyes:) or the one of B (:heart:)?
* If you unlink two knobs, should both controls keep their shared value, or should the one that got its value removed (at the time of linking) (:tada:) now snap back to its old value (the one before removal) ? (:rocket:)

Discussions

[2019-10-29 09:37] softrabbit commented on #4904
You ctrl-drag to put a knob under automation control, so dragging A to B should make A the slave.

When unlinking, I'd be pretty surprised if the slave knob snapped back to a value it might've had before a lot of twiddling happened, maybe days ago.

[2019-10-29 09:39] JohannesLorenz commented on #4904
True, but some people have noted that ctrl-dragging an automation pattern to a knob should be enabled and do the same as ctrl-dragging a knob to an automation pattern.

[2019-10-29 09:54] Spekular commented on #5285
For what it's worth, Serum calls its equivalent "Remove all modulators".

Alt proposals:

- Remove all links
- Disconnect all / Unlink all
  - Disconnect from all / Unlink from all

I think your secons proposal is too long and "model" is a concept that the user shouldn't have to care about. After that I don't have much of a strong preference. Link/linked saves a few characters over connection/conn

[2019-10-29 10:03] Spekular commented on #4904
Intuitively for me, I would expect to drag the Master knob onto the Slave. This is also how Serum behaves. It also means there's no ambiguity about what happens if I drag a knob onto several other knobs, the first simply controls all the rest.

I can't deny that this would be inconsistent with the current automation behavior, but I think it might be worth it.

[2019-10-29 13:05] zonkmachine commented on #3637
Closed in https://github.com/LMMS/lmms/pull/5271

[2019-10-29 13:05] #3637 closed

[2019-10-29 13:53] Veratil commented on #5285
If we remove connections... `Disconnect all controllers`

[2019-10-29 14:48] zonkmachine commented on #5011
OK. Closing as fixed. Please reopen if you still can replicate the issue on the master branch.

[2019-10-29 14:50] #5011 closed

[2019-10-29 16:20] musikBear opened #5287 "Midi export broken"
The attached project was given to me, because it could not be exported.
I have tried to export with 1.2.1
It exports 51kb, and cuts off almost exactly one mins.
I have shaved it down to minimum, and added a control beeper at project end.
I also had to add an envelope to watsyn, due to clicks and pops
[crash.zip](https://github.com/LMMS/lmms/files/3784388/crash.zip)

( I have NO idea what this musi

[2019-10-29 16:48] JohannesLorenz commented on #5079
**Poll:**

For mono LADSPA effects, LMMS currently allows to apply the effect individually on each side. I.e. our internal LADSPA UIs consist of 1 "UI" for each side.

For Lv2, we could do the same, but since those shall (according to voting above, and according to Lv2 devs) only have 1 external UI for both sides, it's getting a strange mix: You'd have 2 internal UIs, but if you open the external

[2019-10-29 19:04] Tromino commented on #5270
I'm sorry that you're mentally disabled. Your software is dead and you know that. Give up.

[2019-10-29 19:09] zonkmachine commented on #5270
@Tromino Cut back on the insults.

[2019-10-29 19:55] Reflexe opened #5288 "Discussion: handling [out-of-date] dependencies"
# Introduction
To make sure we deliver consistent results for a variety of platforms, we deliver dependencies packaged with lmms. That makes us responsible to keep them up to date and secure.

# Current state
## Windows
We use MinGW and toby's ppa, which is very out of date and lacks of many security updates.
## Linux
We use AppImage on xenial, which delivers pretty old Qt. That causes many bugs.

[2019-10-29 20:10] Reflexe commented on #5288
# My solution
* For windows, use vcpkg on mingw (see  https://github.com/reflexe/vcpkg) for everything but qt.
* For linux, add another ppa for a newer qt.

# The second problem
I don't really know how to handle it. However, it is possible to get notifications for new releases and then open an issue (and it is automatable).

[2019-10-30 08:26] JohannesLorenz commented on #5285
Sounds good, though it still sounds like removing the modulators

Like mentioned above, connections don't always go to controllers.

So I'd be for "Disconnect everything". If no one disagrees within a few days, I'll open a PR.

Can such a PR go to stable-1.2? I ask because this will invalidate any translations... Not so good for a stable release? On the other hand, it's a bug fix...

[2019-10-30 08:30] PhysSong commented on #5285
I disagree because users may think it disconnects automation patterns.

[2019-10-30 08:54] Spekular commented on #5285
Oh, so it dosconnects everything except automation tracks? That's hard to convey concisely.

What about something like "unlink controllers/knobs" then?

Length comparison of a few variants. I'm partial to the first:

"unlink controllers/knobs"
"unlink controllers & knobs"
"unlink controllers and knobs"
"remove all linked controllers"

[2019-10-30 09:48] zonkmachine commented on #5246
@Minabsapi This question looks like it's been answered already. Closing.

[2019-10-30 09:48] #5246 closed

[2019-10-30 09:57] lukas-w opened #5289 "Drop Qt4 from Wiki"
Any objections to dropping all Qt4 related instructions from the wiki? Qt5 was released seven years ago, both `master` and `stable-1.2` support Qt5. I don't really see a point in continuing support for Qt4.

[2019-10-30 10:00] PhysSong commented on #5289
`stable-1.2` still supports Qt4, though using it is not recommended. Since `master` stopped supporting Qt4, I think it's okay to drop Qt4-related instructions from our wiki.

[2019-10-30 10:25] lukas-w commented on #5289
:+1: I'll go ahead and remove it then.

[2019-10-30 10:28] JohannesLorenz commented on #5285
I just tested what PhysSong said, it's indeed correct.

It's not just knobs. Can be LEDs, LCD widgets, whatever. That's why I proposed models, but I agree that no one understands that. Maybe "widgets"?

That's the current wording, with the issues mentioned in the 1st post.

Another idea: "Disconnect all except automation".

[2019-10-30 10:33] Spekular commented on #5285
Yes, I put it there as a reference for the current length of the string.

Would it be fair to consider LEDs, and spinboxes controls? Not in an MVC sense, but from a user perspective. "Unlink controllers and controls" doesn't sound great but might convey what it means.

However, I've been thinking:
- I was completely unaware that arbitrary controls could be dragged onto

[2019-10-30 10:34] lukas-w commented on #5289
Maybe we should think more about what this means for `stable-1.2` first: I'd suggest we make `WANT_QT5` default and keep a section in the wiki that tells you how to turn it off if you wish to use Qt4 instead. Sounds fine?

[2019-10-30 10:48] Spekular commented on #5285
Hit the wrong button, again. I've edited my comment above to what it ahould have been.

[2019-10-30 18:19] quatran opened #5290 "convert mmp into mmpz"
What is the  command to compress a *.mmp file into a *.mmpz file?

Basically I'm looking for the opposite of ` lmms -d inputfile.mmpz > output.mmp`.

[2019-10-30 19:09] JohannesLorenz commented on #5285
I'm against introducing new vocabulary like "driver", but I like the idea of your removed post to name them "controls". "Disconnect all controllers and controls" sounds good to me. Or "Disconnect all modulators" like in Serum.

[2019-10-30 19:29] Spekular commented on #5285
Well, it's not exactly "new" vocabulary, although I guess it depends on
which scope you're considering.

https://docs.blender.org/manual/en/latest/animation/drivers/index.html

The concept is pretty similar, for example:

"Control a property with an object’s transform. In this example, the Y
rotation of Object 2 will be driven by the X position of Object 1."

This seems quite similar to connecting

[2019-10-31 12:51] AndiEcker commented on #5290
There is an old python project at github (
https://github.com/AndiEcker/LmmsPrjMngr) that allows to convert mmpz to
mmp and visa versa.

The command line options -u converts mmpz to mmp and -c from mmp to mmpz. I
coded it 7 years ago and not touched it since then ... hope it still works
and helps.

If you have any problems let me know.

Am Mi., 30. Okt. 2019 um 18:20 Uhr schrieb Quang Tran <
notif

[2019-10-31 14:15] zonkmachine commented on #5290
That I don't think we have. I'm pretty sure it's an easy task to implement it though and I guess it would be consistent with the `--dump` argument. Do you have an example of when this would be needed?
Example: `lmms --compress inputfile.mmp > output.mmpz`

[2019-10-31 14:16] #4865 closed

[2019-10-31 15:18] zonkmachine commented on #3566
Tested this in 1.2.1 and it looks like it's something going on here for sure.
I can't test this properly right now and no apparent wrongs pop up with a first attempt with 'grep'.
@tresf Can you look into this under https://github.com/LMMS/lmms/pull/4027?

I think this would fall under upstream with the caps project. http://quitte.de/dsp/caps.html
Though the plugins delivered with lmms is currently

[2019-10-31 16:08] tresf commented on #3566
I feel strongly that this bug should be fixed separately from the submodule.  The submodule is likely to never be merged, or worse, merged and break a bunch of backwards compat.

If the wrong plugin is inserting, we just need to debug why that's occurring and patch.  In 1.2.x, we host all of the plugin code in the repo, so it's our bug to fix, and then we can tarball a fix upstream if it still exi

[2019-10-31 16:19] tecknixia commented on #5254
Which would be better, completely removing the if statement or using `if( getTrack())`?

Also, should probably do this in both `putValue()` and `removeValue()`.

I also noticed, as long as there are no notes drawn in the Piano Roll, the segment in the song editor is dark.  It would be nice to have the Automation Editor work the same way.

[2019-10-31 19:52] lukas-w commented on #2156
Note for anyone wanting to try their luck: This should be relatively easy to implement using [`QFileSystemWatcher`](https://doc.qt.io/qt-5/qfilesystemwatcher.html).

[2019-10-31 23:15] PhysSong commented on #5287
I can't see any issues with the MIDI export. @musikBear Could you provide more details?

[2019-10-31 23:58] Veratil commented on #5254
I believe completely removing the `if` would be best as long as it's not needed anymore.

Yes this should be in both put and remove.

Should be a change to a `paintEvent` most likely.

[2019-11-01 01:17] tecknixia commented on #4671
@PhysSong

`applyDragValue` occurs when releasing the left mouse button, which sets `m_dragging` back to `false`, but only when `m_action == MOVE VALUE`.  Dragging stops because when the right mouse button is pressed in `DRAW` mode while over a point, `m_pattern->removeValue(it.key());` is called, and `m_action` is set to `NONE`.  At this point, `m_dragging` is still `true`.

Basically, `m_action`

[2019-11-01 02:13] zonkmachine commented on #3183
This seem to be a remaining  issue from fixing #1150. Earlier fixed in #2665 and #1505.
From testing the issue it appeared to be the user added directories that already seemed counted for in
`top_index` when computing position for the delimiter.
https://github.com/LMMS/lmms/blob/fd203c3f7b8d2d7126c7dda51e47761d13de4972/src/gui/FileBrowser.cpp#L778

Either `top_index` need to go down or `m_dirCount

[2019-11-01 05:09] Reflexe commented on #5284
I think we should extract that into another file in order to avoid similar bugs and let shellcheck detect them.

[2019-11-01 05:24] PhysSong commented on #5284
Sounds good to me. Any objections?

[2019-11-01 06:37] WattanaGaming commented on #5198
Why is this issue dead tho

[2019-11-01 07:36] PhysSong commented on #5284
Fixed via #5297.

[2019-11-01 07:36] #5284 closed

[2019-11-01 07:36] #3005 closed

[2019-11-01 09:01] tecknixia commented on #4671
I have come up with a fix to cancel the dragging of an automation point by clicking right mouse button while dragging.

Should I go ahead and create a PR for it, or do we want it to function differently?

[2019-11-01 17:51] musikBear commented on #5287
Kaakkuja?!
Cant you hear that it is complete out of synch and tuning? What midi-player do you have? Mine is Anvil on Windows64.
If that project sound fine on your midi.player it would be great, because then Anvil have the problem, not LMMS!
This is what i can hear
[Kaakkuja.zip](https://github.com/LMMS/lmms/files/3799019/Kaakkuja.zip)
Pretty much unbearable :[ @PhysSong
**Also** -I cant **reimport

[2019-11-01 18:05] SecondFlight commented on #5287
Hi, I'm the author of the second song, and I can confirm everything there is working as expected.

The issue is that everything is exporting as piano, which includes drums. I'm using AFP for most of the drums in that song, and converting the drum notes directly to piano creates a bunch of awful off-tune stuff. It sounds to me like the non-drum notes are coming out correctly.

TL;DR: if the job of

[2019-11-01 18:09] SecondFlight commented on #5198
As of this writing, we have over 700 open issues and almost 100 open pull requests. There are only a handful of people actively working on code here, and there is only so much they can do. If you can contribute, a fix for this would always be welcome!

[2019-11-03 00:19] Sawuare commented on #5181
For simplicity and friendliness, I suggest to tap on any key/mouse press event on the widget.

[2019-11-03 05:26] MrcSnm opened #5301 "Different hotkey for pause and stop"
When playing on piano roll, there is an option on the tool bar to stop the current playing and to pause it.

The difference between them is that stop will go back to the 0:00 position, while pause will maintain the current track position, what I want is to correct a bug that Stop and Pause button have the same hotkey (Spacebar), and that is boring me to death, I don't want to be going back to 0 ev

[2019-11-03 09:46] dvzrv opened #5302 "RemoteVstPlugin.exe.so crashes lmms on "incompatible Qt library""
Hi, I'm maintaining lmms for Arch Linux and someone [reported a crash](https://bugs.archlinux.org/task/64356), that is caused by the Vestige VST plugin host.

In short:
lmms 1.2.1-1 was built against qt5-base 5.13.1. Then that person upgraded to 5.13.2 and now lmms crashes on loading a VST plugin.
I could reproduce this with TAL noisemaker:

[code]

Problematically, afterwards, there will be an in

[2019-11-03 12:17] lukas-w commented on #5302
@dvzrv This problem is tracked at https://github.com/lukas-w/qt5-x11embed/issues/3, unfortunately we know no way to solve this. `RemoteVstPlugin` uses `qt5-x11embed`, a port of [`QX11EmbedContainer`](https://doc.qt.io/archives/qt-4.8/qx11embedcontainer.html), a feature that was part of Qt4 but was removed in Qt5. This feature depends on Qt-internal private headers making it tied to a specific Qt v

[2019-11-03 16:10] GingkathFox commented on #5181
i agree, would be much better than clicking a button

[2019-11-04 17:21] Holaff opened #5303 "deleting an element with the backspace key"
Hi,

Deleting an element in a track of the song editor can be done with a middle-click. Having no middle buttons on their mouses, macOS users have to do ctrl+shift+click which is a little bit heavy for simply deleting an element. One intuitive option could be to be able to delete an element with the backspace key once it is selected.

[2019-11-04 21:54] tecknixia commented on #2375
If you're playing from the song editor, and the play head gets to the segment you have open in the piano, beat/bassline, or automation editor, I don't think it would hurt to have a different color play head (green?) appear in, and move across, those editors, to indicate the measure of the song editor play head.

Also, perhaps a tool tip could be used for the measure numbers.  If the mouse hovers o

[2019-11-04 23:40] zonkmachine commented on #3183
I'm still wrestling to fully understand the issue here but I think it's essentially related to https://github.com/LMMS/lmms/issues/1925 which was fixed in https://github.com/LMMS/lmms/pull/1934.

[2019-11-04 23:41] jombenedict opened #5305 "More specific beat markers."
The markers in the song editor are not very specific. If when you zoomed in it got more specific (showing more and more beat markers [a la 1/8, 1/16...], as you zoom). That would be much appreciated with the new recording function in 1.3.

[2019-11-05 03:16] noahb01 commented on #4612
Potentially related to #1048.

[2019-11-05 03:18] noahb01 commented on #4612
What I experience is that when a filter rapidly has it's cutoff dropped to near-zero, it resonates like that for a few samples.

[2019-11-05 03:42] noahb01 commented on #158
Also when this issue occurs it affects all system sounds, not just LMMS.

[2019-11-05 04:25] stevphie commented on #158
This very easy to trigger, pick one of the default samples/presets available (by hold and click) while playing your track

[2019-11-05 09:14] quatran commented on #5290
@AndiEcker
Your project looks interesting but have'nt tried it out yet.  I will provide feedback then.

@zonkmachine

Example: lmms --compress inputfile.mmp > output.mmpz

My use case would be writing an application that do some stuff with the project files and then finally convert them back.

[2019-11-05 11:55] SadaleNet commented on #158
Now that I come to think of it, I suspect that it could be caused by CPU issue. If the CPU is at 100%, this may happen.

Anyway I'm not going to verify this theory any time soon. I haven't used LMMS for quite a while.

[2019-11-05 17:20] piopier opened #5308 "Where to translate all those missing French translations ?"
Hi,

I've been on LMMS for 2 months, I've noticed a lot of untranslated texts in French language (eg on "Open an audio sample" popup), still in version 1.2.1. However I joined the translation team on Transifex, and it states that virtually any text is already translated ; and when I search for the English strings of this very popup, Transifex doesn't even find them.

How to solve this ?

[2019-11-06 01:57] enp2s0 opened #5310 "Trying to automate the Zoom dropdown or the Quantize dropdown results in a segfault"
### Bug Summary
if you ctrl-drag the Zoom dropdown or the Quantize dropdown onto an automation track, lmms segfaults.

#### Steps to reproduce
Drag one of the boxes onto the default automation track

#### Expected behavior
the boxes get linked to the automation track

#### Actual behavior
The lmms main thread segfaults

#### LMMS version used
1.2.1.561

#### Logs
<details>
  <summary>Click to expa

[2019-11-06 02:56] noahb01 commented on #5257
Perhaps this calls for a settings toggle?

Personally I find this very annoying, esp. when I have some CPU-heavy VSTs that aren't playing essential sounds so I mute them.

[2019-11-06 03:33] LoveBodhi opened #5312 "It's can no longer download Github files in China"
Downloading a file causes a "DNS Processing Error" in China, since the server is in amazon. Thus, LMMS is no longer available for Chinese users.

[2019-11-06 18:49] Sawuare opened #5313 "Settings should not use automatable widgets"
Settings currently use `LedCheckbox` which inherits `AutomatableButton` which is obviously automatable.

[2019-11-07 00:06] trebmuh commented on #5308
@piopier can you provide a screenshot?

[2019-11-07 01:25] PhysSong commented on #5312
@LoveBodhi Could you try again to make sure it's really blocked there?

[2019-11-07 03:18] grejppi commented on #5257
Just chiming in; if I remember correctly, sometime between 0.4.15 and 1.0 muted instruments were made to stop playing notes, and it was quickly reverted because of the unexpected behavior it caused with MIDI-based instruments among other things.

Some DAWs offer, in addition to a mute button, a separate option to disable a track and all its plugins. That could possibly give more control than a sin

[2019-11-07 03:41] LoveBodhi commented on #5312
Yes, it blocked in my location, Only downloadable via proxy.

[2019-11-08 09:05] fschuelke commented on #5313
My imagination of a workaround would be to add a bool flagging the automation, or are there any better ways?

[2019-11-08 14:23] Veratil commented on #5313
Alternative is split the class and have a normal `Button` with `AutomatableButton` inheriting it. This seems like a smarter way to go to me. It'd be less work to update `AutomatableButton` to add a flag, but forgetting a flag here or there could cause problems. Splitting the class is clearer, more readable, and more maintainable in the long run.

[2019-11-09 02:31] tecknixia commented on #4040
I think I figured it out.  All that needs to be done is to disable the mouse button until it's clicked again.

There's already a boolean `m_mouseDownRight` variable.  Just need to:

- create a `m_mouseDownLeft`
- set it to `true` in `mousePressEvent` when it's pressed
- set it to `false` right under the `drawLine` call in `mousePressEvent`
- set it to `false` again when released in `mouseReleaseEv

[2019-11-09 02:57] tecknixia commented on #5157
I had to redo some things, so I created a new branch for this with cleaner commits.
https://github.com/tecknixia/lmms/commits/autoSelectCopyPaste

- Select, move, cut, and copy all seem to be working now
- Fixed broken toolbar buttons, including right-click mode switching
- Made selection box transparent
- Enabled the ability to scroll while selecting
- Enabled "select all" but runs into an issue

[2019-11-09 05:48] jinkinson opened #5314 "Crackling"
### Whenever I try to play any combination of notes on the Triple Oscillator (i.e. holding one note down and then playing another), I get a really annoying crackling sound once I start playing the second note. I've tried fiddling around with a bunch of the settings in the Oscillator window, but this doesn't seem to help.

#### Steps to reproduce
Open the default interface for recording that comes

[2019-11-09 06:29] SecondFlight commented on #5314
Hi! Thanks for the well-written bug report.

What you're experiencing is clipping. This happens when a sound gets too loud, and causes the waveform to be "clipped" at the 0db mark, creating the sound that you're hearing.

This problem can be fixed by simply turning down the volume of TripleOscillator. Arguably the volume should be lower by default, but that's covered in #113. There are a variety o

[2019-11-09 06:29] #5314 closed

[2019-11-09 10:34] Spekular commented on #4040
There should be a way to query this instead. Perhaps [this function](https://doc.qt.io/archives/qt-4.8/qapplication.html#mouseButtons)

[2019-11-09 10:38] Spekular commented on #4040
It seems the function was moved in Qt5, now it's in [QGuiApplication](https://doc.qt.io/qt-5/qguiapplication.html#mouseButtons).

[2019-11-09 13:34] tecknixia commented on #4040
@Spekular
By query, do you mean read the state?  The idea is to intentionally dismiss the state of the mouse, which is the opposite of reading it.

Since I'm new to this, I don't yet understand the documentation.  It seems to me it's all talking about reading the state.

If there's a way to use `QGuiApplication` to change the state, independent of the actual state of the hardware, I'm unaware of h

[2019-11-09 13:45] Spekular commented on #4040
From what I understand, m_mouseDownLeft checks if LMB has been pressed and not released. In other words, is LMB held down. You "set it to true in mousePressEvent when it's pressed" and "set it to false again when released in mouseReleaseEvent".

If I'm understanding this correctly and you care about whether the left mouse button is down (hence "mouseDownLeft"), then that Qt function should do the

[2019-11-09 14:38] tecknixia commented on #4040
I care about whether the left mouse button is down, except during a given situation.  What I'm doing is replacing a conditional boolean check with a boolean variable that works very much the same way, except it allows me to set the variable independently from the direct state of the mouse.

The problem with the mouse grabbing the last point after drawing a line is due to a condition check in mouse

[2019-11-10 00:01] Sawuare commented on #2382
Related: https://github.com/LMMS/lmms/issues/5313.

[2019-11-10 03:21] tecknixia commented on #5157
I believe I made a little more progress with being able to drag multiple points (without deleting the others).  I think I know what needs to be done now.

- `mouseMoveEvent` (src/gui/editors/AutomationEditor.cpp)
- `setDragValue` (src/core/AutomationPattern.cpp)

The main problem is.. each time `setDragValue` is run:
- it's only being passed the coordinates of one point
- it deletes the point at t

[2019-11-10 04:49] tecknixia commented on #4671
Here's what it looks like to me now:

After `m_dragging` has been set to `true`, while dragging...
- `m_oldTimeMap` has a record of the points not being dragged from start of drag

When right button is pressed and edit mode is `DRAW`...
- `m_pattern->removeValue(it.key())`
- `m_action = NONE`

When right button is released...
- `m_action = NONE`
- `applyDragValue` not called

With left mouse butto

[2019-11-10 16:03] tecknixia commented on #4671
It seems to me that deleting while dragging is difficult to encode, due to the fact that right clicking is designed for erasure and removes the dragged value along with the mapped point.  I have not been able to create a workaround for this that does not involve heavy editing.   Deleting points while dragging also seems not very useful to me.

- The bug does not seem to be affecting other scenario

[2019-11-10 17:27] JohannesLorenz commented on #5285
I was so wrong. This comes from a German translation:

[code]

You don't need to be a German expert to understand what they translated wrong.

I still don't like "Remove", but don't see it as critical. I'm fine with a transifex fix for the German translation.

[2019-11-11 07:27] Eliyanan opened #5317 "Old version of LMMS on Fedora repo"
Hello there, I found the available LMMS software version found on fedora repo is 1.1.3 but the current stable version is 1.2.1 so please can you update it on fedora repo, thanks.

[2019-11-11 08:16] zonkmachine commented on #5317
We don't administer any of the linux distributions. You need to bring this up with the Fedora people. I recommend using the AppImage though.

[2019-11-11 08:16] #5317 closed

[2019-11-11 09:08] fschuelke commented on #5313
we could prevent this by setting a default value for the flag in the class constructor. This means we only have to look for UI components that should not be automatable and add the flag there (which we would have to do anyways), but your solution makes more sense looking from OOP

[2019-11-11 17:43] zonkmachine commented on #5317
Here is the Fedora bug report: https://bugzilla.redhat.com/show_bug.cgi?id=1678586

[2019-11-12 09:28] trebmuh opened #5318 "IRC topic is outdated"
Hi.

Just mentionning here that the #lmms IRC channel's topic is currently set to:

It'd be great to update it.

[2019-11-12 17:38] olivia8090 commented on #5290
Make Real Money That,s Real Job Not Fack

like Andrew responded I'm in shock that people able to profit $4494 in four weeks on the internet .my Aunt Kyler George got a very nice BMW X 3 S just by some part-time working online with a computer. take a look at the site here
:) AND GOOD LUCK.:)

HERE →→→→→ www.securework99.com

[2019-11-12 19:09] JohannesLorenz commented on #5079
While everyone was for only 1 internal UI for mono effects, balancing D/W still does not enable balancing single knobs. That means you can not balance the phase of a phaser, or the frequency or resonance of an effect. Especially the latter seems like a cool feature.

I don't think that 2 knobs are required for each control, but shouldn't there be one normal knob plus one balance knob (left<->right

[2019-11-12 21:05] SecondFlight commented on #5079
Is there a precedent for this besides our own LADSPA interface? Whether or not other LV2 host implementations have separate UIs for separate channels will likely influence whether LV2 plugin developers rely on this as a feature.

My instinct is that having two UIs adds complexity in every case where it is only needed in a very small subset of cases, and that for those cases, there are workarounds

[2019-11-12 23:59] OutbackMan opened #5319 "Global Tempo Automation Failing with VSTs"
#### Bug Summary
Creating a global tempo automation track causes silence and intermittent sounds to be played for VSTs.
Based off discussion from: [LMMS Forum Support](https://www.lmms.io/forum/viewtopic.php?t=31041)

#### Steps to reproduce

1. Download a VST, e.g. [Spitefire LABS VSTs](https://www.spitfireaudio.com/labs)
2. Insert a series of notes using the piano roll with this VST. It is easie

[2019-11-13 00:09] OutbackMan opened #5320 "Allow Direct Automation of VST Tempo"
### Enhancement Summary
Allow the ability to create a tempo automation track for a specific VST.
Based off discussion: [LMMS Forum Support](https://www.lmms.io/forum/viewtopic.php?t=31041)

#### Justification
Such a feature allows for the ability to create more diverse sounds and stimulate user creativity.

#### Mockup
After clicking the 'wrench' icon for the VST inside VeSTige, display a tempo sl

[2019-11-13 00:40] PhysSong commented on #5319
Possibly related: #3775

[2019-11-13 01:16] karmux commented on #3183
TripleOscillator now:
![Screenshot_20191113_090643](https://user-images.githubusercontent.com/2575235/68724107-94374d00-05f5-11ea-8999-2fdf02aae699.png)
(works correctly when there are no user directories but just files)

Zyn now has missing factory preset separator when there is user subfolder. Otherwise everything are marked as user files (factory files + user files) and nothing after separator.

[2019-11-13 08:28] Spekular commented on #5319
There's also #5122 and #3640.

[2019-11-13 08:41] Spekular commented on #5320
"Direct Automation" is a really weird phrasing for this. If this were implemented, it should be as a separate BPM per track, regardless of track type.

However, it's a really weird request either way. As far as I'm aware, no other DAWs support this. Separate tempos per track is an incredibly niche/experimental thing to do.

Are you **certain** that you're not looking to create a polymeter or polyr

[2019-11-13 09:03] OutbackMan commented on #5320
In FL Studio, only tracks **above** a tempo automation track are affected by it. This leaves everything below it unaffected. So you can control the tempo of a single track, albeit in a hackish way. I can't get this same behavior in LMMS. This is what led me to the 'direct automation' term.

[2019-11-13 10:10] Spekular commented on #5320
According to my friend (FL user) this is false. When I searched for per-track tempo automation in FL, several threads came up claiming it wasn't possible. Can you provide a video or something showing this behavior?

[2019-11-13 10:44] OutbackMan commented on #5320
Sorry, you are right. I re-opened my FL Studio project and realized that I had recorded the track with edison and then used it. My bad.

[2019-11-13 19:13] JohannesLorenz commented on #4904
Thanks for voting! Looks like most people want that dragging A on B makes B take A's value.

Now, to the implementation:

* First, I thought the information about who is slave and who is master is only required at linking time, since they act equally afterwards. However, imagine that a user has two knobs linked, has one knob controlled and now tries to control the other knob. Having a hierarchy wi

[2019-11-14 19:50] JohannesLorenz commented on #5079
@DomClark What's your opinion to my last post? Especially, I wonder what to do with #4964 . I think the idea of having multiple knobs for one control (one for each channel) does not make sense (like the voting showed), but what about letting the PR provide a panning knob (and minimum/maximum like described in my previous post) for each control?