[2017-12-25 01:46] PhysSong commented on #3853
Closing since #3786 is merged and it has been included in rc5.

[2017-12-25 01:46] #3853 closed

[2017-12-25 12:12] P4ndaJ commented on #4068
I know, I thought about it too but in these days I'm very busy and so I didn't want to deepen...

[2017-12-25 19:30] teeberg opened #4071 "Compiling on Mac OS doesn't find a number of libraries (portaudio, samplerate, sndio, ...)"
Ever since I've been compiling LMMS on Mac OS X, I've run into issues like this:
[code]

I basically build like this:
[code]
This consistently fails with the above error.

I used to "fix this" by running `make` with explicit link flags set through environment variables, such as `LDFLAGS=-L/usr/local/opt/portaudio/lib`, but I just noticed that cmake *does* detect all paths and link flags correctly,

[2017-12-25 23:36] Elias-Developpement opened #4072 "Sample track bug"
This is the process i use to get this bug :
- I've open an tack on a sample track
- I was playing the global song
- During the global song, i have deleted the following sample track
- Then the soft crash

[2017-12-26 01:42] teeberg commented on #4072
I can't seem to reproduce this on latest master and mac os. Which LMMS version are you using, and on which system?

[2017-12-26 04:38] Moth-Tolias commented on #4070
it'd be nice to have at least the option to use the OS-built-in interface on windows; I'm guessing that isn't a possibility on other platforms, though?

[2017-12-26 06:28] tresf commented on #4071
I've built on 10.7, 10.8, 10.12, 10.13 and our CI is 10.12, I've never seen this problem before.

Have you considered that there may be something broken with your build environment?

P.S.` libsoundio` and `sndio` are different back-ends despite their similarities in name.   We need to make this more clear, but `sndio` isn't available for macOS.

[2017-12-26 06:35] tresf commented on #4071
And `libsamplerate` is a hard dependency and is a pkgconfig-searched dependency, not a cmake one (e.g. `PKG_CHECK_MODULES` vs `FIND_PACKAGE`) so this would generally be a misconfigured `PGK_CONFIG_PATH` in the environment.  Is there a chance you have conflicting tools installed?

[2017-12-26 12:59] lukas-w commented on #3736
No reaction from @Fothcrah in five months, so we can only speculate what the cause of this is/was. Closing.

[2017-12-26 12:59] #3736 closed

[2017-12-26 13:12] musikBear commented on #4072
@Elias-Developpement
please post your:
* OS (+service-pack-version)
* lmms version
* hardware specification (ram & soundcard is the most important)
* Latency setting
* lmms instrument involved
* lmms preset (if a factory preset is used)
* a screenshots of error-state  -if any oddness appear
* a demo mmp as *.txt -You can attach directly on your post!

[2017-12-26 14:31] tresf commented on #4070
@Moth-Tolias, Qt has some native-style integration, but it would make the application inconsistently themed across platforms, so it's not something we're in a rush to support.  If someone wants to spearhead a native theme, we'd consider adding it to the list of native themes, but we would need a proof of concept first.

Here's the code for making Qt's Look and Feel behave close to the native OS's

[2017-12-26 14:45] HummusSamurai commented on #3651
Is it possible to have a pattern drawn instead of a different color?
That would solve the color-blind issues.

[2017-12-26 16:51] teeberg commented on #4071
Thank you for the quick response!

I don't actually have that environment variable set at all. From my understanding, using that environment variable should not be necessary if `pkg_config` is configured correctly, i.e. has access to the `*.pc` files for all those libraries. As far as I can tell, it does:

[code]

At any case, I reinstalled pkg-config. Not sure if that fixed it, but for some reaso

[2017-12-26 16:51] #4071 closed

[2017-12-26 16:54] tresf commented on #4071
Yes, you're correct.  Sorry, I meant that rather generically as a troubleshooting step (the tool couldn't find it's `.pc` files) .  You're right, it's blank on all systems by default.

I find this interesting because `cmake` has it's default search prefix too and I would have expected `PortAudio.cmake` to still give you issues.  I'm not sure how that was fixed, so I guess that will be a mystery un

[2017-12-27 05:37] tresf commented on #4052
@Hevedy @DomClark was nice enough to patch this.  Before we merge in the fix, we require testing.
 Can you please test and verify this build fixes your problem?

https://github.com/tresf/lmms/releases/download/v1.2.0-rc4/lmms-1.2.0-rc4.130-win64.exe

[2017-12-27 15:09] lukas-w commented on #4072
@musikBear Almost all of these points are irrelevant.

[2017-12-27 16:13] musikBear commented on #4072
@lukas-w  -for reproducing? I disagree. The more info about the crash, the merrier 🎄 Ooops.. better

[2017-12-27 16:18] musikBear commented on #3651
@HummusSamurai 'pattern' like hash-marked -It an idea, but i doubt it will be sufficient clear, and be stress-full for the eyes. I still think black is best as default

[2017-12-27 16:37] tresf commented on #4072
@musikBear, please see below why @lukas-w is right.

[2017-12-27 17:03] zonkmachine commented on #4066
It doesn't play its full length or it's playing at low volume?
Which version of lmms?

[2017-12-27 17:11] zonkmachine commented on #3756
@JordanKyser Please answer the questions above ^ ^^

[2017-12-27 17:25] teeberg opened #4073 "Extend range of supported notes in piano roll"
Reported in Discord: https://discordapp.com/channels/203559236729438208/332258319228207114?jump=395583597127532544

[2017-12-27 17:30] teeberg opened #4074 "Can't run BuzMaxi3 VST-limiter in RC5"
Reported in Discord: https://discordapp.com/channels/203559236729438208/242409373505159168?jump=394919444654194689

Some relevant bits of info:

[2017-12-27 18:27] vlad1777d commented on #3989
Why does note's length must change at all ?)
I think, that we must constrain only it's resizing...

[2017-12-28 00:01] michaelgregorius commented on #3460
This issue should be covered by #2539. The problem of missing "Note On" events is described in [this comment](https://github.com/LMMS/lmms/issues/2539#issuecomment-178814297). The issue also contains a discussion about ["MIDI Chase"](https://steinberg.help/cubase_pro_artist/v9/en/cubase_nuendo/topics/playback/playback_chase_c.html) as a potential solution.

[2017-12-28 00:44] zonkmachine commented on #4073
I think the range is moderated [here](https://github.com/LMMS/lmms/blob/a3d72def4dcc1af74a79142268c71d9d794c24fa/src/core/Note.cpp#L114).

[code]

[2017-12-28 09:17] gi0e5b06 opened #4076 "Midi events are modified by the MidiClients"
Most of the Midi clients modify the events in some way. For example:
- shifting one octave down
- computing pitchbend in different ways
The Midi events should never be altered.

1) Fix the funky design of MidiEvent
2) remove any shifting
3) fix pitchbending (panning, volume, etc)

[2017-12-28 13:28] jcelerier commented on #2797
From what I could read, the GPL doesn't cover stuff like function / structure / constant / macro declaration, only the definition: http://lkml.iu.edu/hypermail/linux/kernel/0301.1/0362.html which is basically the relevant parts of affectx.h. Besides, given the recent legal developments WRT API copyrightability (eg Google copying the *whole* Java API from Oracle falling under "fair use"), maybe thi

[2017-12-28 13:42] jcelerier commented on #2797
continuing with a bit of search on this, I'm not even sure that using the *original* VST SDK headers would be a problem, given this court case : http://www.zdnet.com/article/ruling-expressly-denies-express-logic-its-copyrighted-api-logic/

Here's the header being copied for instance: https://github.com/tony/gpc/blob/master/3rd_party/threadx/visual-studio/tx_api.h

[2017-12-28 17:41] Hevedy commented on #4052
Not sure if I will be able to test it right now, because activated the plugin via other paid tool, so now I don't get the second window to enter the email. But for sure if I manage to double check it will tell you if now works!

Ty!

[2017-12-28 21:41] Rikislav opened #4077 "Plugin embedding - using xembed protocol qt5 crash on linux"
Linux Ubuntu 16.04 - QT 5.9.1
When using VesTige with the xembed protocol option lmms crashes with this message:

`/lmms: symbol lookup error: /plugins/libvstbase.so: undefined symbol: _ZN18QX11EmbedContainerC1EP7QWidget`

[2017-12-28 22:11] PhysSong commented on #4077
Are you using AppImage, or manually compiled version?
Tagging @lukas-w.

[2017-12-28 23:37] Rikislav commented on #4077
I'm compiling directly, through QtCreator. Sending a screenshot
![screenshot at 2017-12-29 00 35 19](https://user-images.githubusercontent.com/13100084/34425840-677e0884-ec30-11e7-8419-33c502cdbc5d.png)

[2017-12-28 23:52] PhysSong commented on #4077
@Rikislav Could you change makefile generator to `Unix Makefiles` or similar?

[2017-12-29 01:56] Z3R0C commented on #4077
i get the same crashes (same message) with some vst's...if i'm switch to "no embed" option, i get a black empty window and a load average allround 25-30. it's like a freeze. all this testet vst's (zampler/trickster, a.n.a, dune2, nexus2) was working with RC4.

ubuntu 17.10, qt 5.9.1, compiled with GCC

[2017-12-29 17:28] Sawuare commented on #3651
@musikBear I think @HummusSamurai suggests making stamping scales possible, just like how stamping chords is possible.
@HummusSamurai I will open an issue for that, but this issue here should still be fixed.

[2017-12-29 18:28] Sawuare opened #4079 "Enable stamping scales in the Piano Roll editor."
Just like how stamping chords is enabled.

This functionality will require replacing the current scales and chords combo boxes with a **Stamp** combo box which has 2 menus: **Scales** and **Chords**, so it will not allow having a scale and a chord selected simultaneously.

Menus support should be added to [ComboBox](https://github.com/LMMS/lmms/blob/master/src/gui/widgets/ComboBox.cpp) in order to

[2017-12-29 18:41] Umcaruje commented on #4079
I don't understand, marking scales is already possible in the piano roll. What is stamping?

[2017-12-29 18:50] Sawuare commented on #4079
Stamping is that, when you have a chord selected and you click on the Piano Roll edit area, instead of creating a single note, a chord is created (stamped). The suggestion here is to enable the same functionality for scales.

[2017-12-29 19:55] Sawuare commented on #4079
The use-cases are the same as the ones for chord stamping. And for consistency.

[2017-12-29 22:07] Rikislav commented on #4077
Ok, I changed compiler to Unix Makefile, and in LMMS selected the XEmbed protocol, but there is no noticeable change when using a vst dll:

Starting using X11Embed protocol.
RemotePlugin::DebugMessage: inputs: 0  output: 8
RemotePlugin::DebugMessage: creating editor
RemotePlugin::DebugMessage: editor successfully created
/home/riki/git_from/lmms_debug/lmms: symbol lookup error: /home/riki/git_from

[2017-12-30 02:33] EtornaZ opened #4081 "LMMS won't export my sample-layered kick correctly."
Sample project: http://lmms.io:8008/lsp/?action=show&file=12271
I cannot export this kick at the very beginning of the track because the two clicks will not play at all when I do so. I tested this by muting the other 3 channels and only playing the two clicks, and as a result the .wav file was empty, no sounds at all.
However, if I move the kick forward a fourth note ahead, it will export correctl

[2017-12-30 07:31] HummusSamurai commented on #3651
I believe @musikBear actually understood what I'm going for.

[2017-12-30 09:28] Sawuare opened #4082 "Rubber bands persist when clicking a mouse button other than the drawing one."
Can happen in both the Song editor and the Piano Roll editor.
In the Piano Roll editor, only the below combination of mouse buttons works, and only one rubber band can exists at a time. In the Song editor, any combination of mouse buttons works, and multiple rubber bands can exist at a time.

To reproduce:
1. Enter the edit/select mode in any of the editors mentioned above.
2. Left-click and drag

[2017-12-30 13:09] musikBear commented on #4079
@Sawuare Cant understand why it would be *general* useable, to insert all notes in a scale in playable form. The exception would be music-teachers -they could perhaps save a few secd in class, but then the notes need to be distributed over time, but imo a very limited usability

[2017-12-30 13:52] qnebra commented on #4077
I have same issue, but with my own compilled version. VST plugins under official RC5 version works fine.

[2017-12-30 15:04] Spekular commented on #4082
Where is "rubber band" used to describe selection areas? "Selection
rectangle" makes more sense (IMO) and shows up with relevant search results
on google (although "rectangle selection" appears to be more common).
"Rubber band (software)" and "Rubber band (audio)" mostly return results
about a timestretch library. Personally the term makes me think of "rubber
banding" in online games, so the title

[2017-12-30 15:13] Sawuare commented on #4082
https://doc.qt.io/archives/qt-4.8/qrubberband.html

Yes, correct.

[2017-12-30 15:23] Spekular commented on #4082
"Rubber band selection" returns lots of relevant results, so it appears I
was out of the loop here. Sorry about that and thanks for the link.

On Dec 30, 2017 10:13, "Hussam Eddin Alhomsi" <notifications@github.com>
wrote:

[2017-12-30 18:47] GoAm opened #4084 "Synth1 preset settings are lost at upgrade from 1.1.3 to 1.2.0-RC5"
I finally did an upgrade from 1.1.3 Stable to 1.2.0-RC5 today.
Loaded an old project of mine and discovered that all used presets in Synth1 was replaced by Internal "Synth1 brastring".

Don't know if this happens with other VST's but I mainly use the Synth1 and this is why I discovered it.

*EDIT*
The presets are not saved if I pick them out again and save the project in 1.2.0-RC5

System setup:
W

[2017-12-30 23:57] StakeoutPunch opened #4086 "B&B editor does not show notes in quantizations smaller than the default"
**Verson:** !.2RC5 64bit
**OS:** Windows 10
**Issue:**
The B&B editor does not show notes with a smaller quanitization than the default 1/16.
![image](https://user-images.githubusercontent.com/6579031/34458091-ddb455b6-ed8a-11e7-8c43-a2cc654e3ee0.png)
Upon "Open in Piano Roll":
![image](https://user-images.githubusercontent.com/6579031/34458094-f660f524-ed8a-11e7-9161-75ad6de4cefc.png)

[2017-12-31 03:10] StakeoutPunch commented on #4086
Went back and tried this on some older versions (1.0.3, 1.1.0, 1.2RC2, RC3, and RC4).
Results:
![image](https://user-images.githubusercontent.com/6579031/34458825-d7a6c99a-eda5-11e7-8ff6-170014135a34.png)

[2017-12-31 03:35] zonkmachine commented on #4086
You're comparing beat notes (comment 1) with ordinary notes (comment 2).
The issue is discussed previously here: https://github.com/LMMS/lmms/issues/1681#issuecomment-71250559

[2017-12-31 03:50] StakeoutPunch commented on #4086
Good catch. Closing as duplicate of #1681.

[2017-12-31 03:50] #4086 closed

[2017-12-31 06:47] PhysSong commented on #4077
@lukas-w I don't know if this is related, but should this be `IF(WANT_QT5 AND LMMS_BUILD_LINUX)`?
https://github.com/LMMS/lmms/blob/96c5f05120ecff5694ce581bd71c71991e9ee43e/src/3rdparty/CMakeLists.txt#L4

[2017-12-31 07:02] PhysSong commented on #4081
I found that turning off the Calf Limiter(or replacing with other plug-in) lets clicks be exported. And I also found that Calf Limiter silences some samples from the beginning.
So I guess this is an issue with Calf Limiter. I'll try to figure out if this is a bug with LMMS or Calf plug-in.

[2017-12-31 07:06] PhysSong commented on #4082
I can reproduce with Windows(both `stable-1.2` and `master`, Qt 5.4.2), but not with Ubuntu 16.04 + Qt 5.5.1.

[2017-12-31 09:39] qnebra commented on #4077
1.2-rc5.1 - VST works fine
1.2-rc5.219 (latest master) - crash

[2017-12-31 10:44] BaraMGB commented on #4082
I'll look into it.

[2017-12-31 18:46] EtornaZ opened #4087 "Kontakt is buggy in LMMS (Explanation in Description)"
When I open LMMS (latest beta version, RC5,) I can have the Kontakt player running in order to use my sound pack, Lunaris. However, the problem is when I reopen LMMS. Kontakt will load up Lunaris, but all of the samples are turned off, and sometimes (randomly) Kontakt will open with only a small section of the VST UI, like so.

![image](https://user-images.githubusercontent.com/33297131/34463609-3

[2018-01-01 11:40] musikBear opened #4090 "High Quality Pitch Scaler + Hard Limiter results in artefact"
D.Ipsum reports this on forum:

Here with 3oc:
[issue_HardLimiterPitchScaler.txt](https://github.com/LMMS/lmms/files/1595887/issue_HardLimiterPitchScaler.txt)

[2018-01-02 07:03] tresf commented on #2937
The author of this request has left and no one's chiming in to help.  Closing due to lack of resources. It's with fair reason to assume the development team can provide means to obtain the source to dependent libraries upon request.

[2018-01-02 07:03] #2937 closed

[2018-01-02 12:16] lukas-w commented on #4077
@PhysSong `WANT_QT5` implies `QT5`: https://github.com/LMMS/lmms/blob/96c5f05120ecff5694ce581bd71c71991e9ee43e/CMakeLists.txt#L136-L137

@Rikislav @qnebra I'm guessing you're both on `master`. This appears to be a regression from #4041 (or rather a merge conflict between #4041 and #3786). #4041 removed Qt4 support and with it the `WANT_QT5` and `QT5` variables on `master`, while the checks for tho

[2018-01-02 14:18] qnebra commented on #4077
@lukas-w This have a lot of sense.

[2018-01-02 14:37] tresf commented on #4077
@lukas-w thanks for figuring this out.  I'm on it.

[2018-01-02 14:58] tresf commented on #4077
@Rikislav can you pull down the latest changes and report your findings?  Should be patched via 5c3c052.

[2018-01-02 17:32] Rikislav commented on #4077
Ok, I did as a fresh git clone then a submodule init and update recursive but the git doesn't get all submodules right. I recall someone already have figured out this submodule issue, can you just point me out where I can find the fix (sorry, I have little time)?

[code]

[2018-01-02 19:25] tresf commented on #4077
@Rikislav sorry, we're waiting on the upstream to comment on the broken `exprtk` plugin, or more specifically why he deleted the commit LMMS was working from.

You can disable it locally for now, sorry for the inconvenience.

[2018-01-03 09:49] lukas-w commented on #4087
@EtornaZ Did it work with LMMS 1.1.3? Can you change the "embed method" in the settings, restart LMMS, then try again and report with your results?

[2018-01-03 10:49] Rikislav commented on #4077
Hmmm. I did as suggested, commented out xpressive  in the plugins/CMakeLists.txt, but to ignore the expressive plugin had to also add  the string which bypasses the looking for its submodule in CheckSubmodules.cmake:

`SET(SKIP_SUBMODULES "exprtk")`

this issue was solved, but now there is another problem which didn't occur before, and it still seem to be related to the submodule:

[code]

[2018-01-03 10:51] qnebra commented on #4077
@tresf In my case commit:

https://github.com/LMMS/lmms/commit/5c3c052712f751048ca89c7051422da7f4001072

fixed issue.

[2018-01-03 11:32] Rikislav commented on #4077
@qnebra, @tresf  the current (last) pull I use is the one patched to https://github.com/LMMS/lmms/commit/5c3c052712f751048ca89c7051422da7f4001072 :

[code]

[2018-01-03 11:35] Umcaruje commented on #4077
@Rikislav do you have these packages installed: `libqt5x11extras5-dev qtbase5-private-dev libxcb-util0-dev libxcb-keysyms1-dev`

[2018-01-03 11:52] Rikislav commented on #4077
@Umcaruje checked out, yes, I do, tried cmake again in case:

![screenshot at 2018-01-03 12 49 40](https://user-images.githubusercontent.com/13100084/34519527-c2498baa-f084-11e7-83fc-474ac5a4122b.png)

[2018-01-03 11:59] lukas-w commented on #4077
@Rikislav Run `sudo apt-get install extra-cmake-modules` or `git submodule update --init --recursive`. Either way should work.

[2018-01-03 12:30] Rikislav commented on #4077
I did both and it works now:
this time I used the submodule update **--init** option. Before I did
`git submodule init `and then did `git submodule update --recursive`. Are they different?

As for the `extra-cmake-modules`, they were missing!!!

Thank you very much for the patience, but it seems to me there really are too many things to be accounted for to make things work (I refer to the whole co

[2018-01-03 12:33] lukas-w commented on #4077
No, they're equivalent.

They aren't actually needed as they are provided via submodules. This may be an issue with @tresf's submodule-fetching CMake script, maybe it doesn't fetch recursively?

[2018-01-03 12:34] lukas-w commented on #4077
I'm assuming 5c3c052712f751048ca89c7051422da7f4001072 fixed the issue for you as well, @Rikislav. Closing.

[2018-01-03 12:34] #4077 closed

[2018-01-03 22:04] milkmiruku commented on #4079
I think it would be handy to prime an arpeggiator or filter.

[2018-01-03 22:18] DeRobyJ commented on #4090
Tested

Actually, when two Higher Quality Pitch Scaler are active, they will produce strage sounds even if played alone.

So this looks like Higher Quality Pitch Scaler relies on some fixed memory locations that both instances try to use.

its source should be this
https://github.com/swh/ladspa/blob/master/pitch_scale_1194.xml

I guess it's not really our bug...

[2018-01-03 22:22] DeRobyJ commented on #4084
I can't reproduce this part: I loaded Synth1, I chose a preset from an external zip bank, saved the project, closed lmms, re-opened and the project loaded the preset correctly

Win 7 Sp1
LMMS 1.2.0-RC5 64-bit

[2018-01-03 22:26] DeRobyJ commented on #4073
The pianoroll has every possible note it can get from midi input...
You know, a midi note is described by 7 bits, so it can only go from 0 to 127...

What note number should the light get? How is it done by other software? Perhaps custom control change messages trigger by a "note"?

[2018-01-04 11:37] lukas-w commented on #2824
Changed milestone to 1.3.0 per https://github.com/LMMS/lmms/pull/2826#issuecomment-344504989

[2018-01-04 18:48] dullmachine opened #4091 "Crash when cursor is over AFP"
When a sample is opened, if the cursor is over the blue area in AFP, LMMS will crash instantly.

Umcaruje backtrace: https://gist.github.com/Umcaruje/b47ba8b2764896135f9b537046d0580d

[2018-01-04 18:53] dullmachine commented on #4081
When I layer kicks, I record them via Audacity and export them from there. That way if I use Calf Limiter, I won't have to deal with them being exported through LMMS.

[2018-01-04 19:18] EtornaZ commented on #4081
@dullmachine I'll do that in the future, thanks for the tip.

[2018-01-04 19:21] tresf commented on #4091
This may be a duplicate of https://github.com/LMMS/lmms/issues/3926.

[2018-01-04 23:40] emptyusernameempty opened #4092 "i found a bug in lmms and i think i found a way to fix it"
if you have the arpeggio on 50 ms or lower with the AM pitchshifter and the equalizer all turned on then the equalizer tends to not work correctly. when you open the project with one wave sound with all those programs turned on then this error comes and makes you only hear sound in one ear (the right one in my experience) . the detune mode might be one other reason this habens because when it goes

[2018-01-04 23:52] PhysSong commented on #4091
Closing as a duplicate of #3926, since the backtrace says this is the same bug.

[2018-01-04 23:52] #4091 closed

[2018-01-05 13:43] JackyYuenDacai commented on #1488
I think the drag on control really have a strict demand on having a mouse connected to the machine. Seems like currently it is almost impossible to use it only with keyboard.

[2018-01-05 13:43] JackyYuenDacai commented on #1488
Okay... I missed the one upon me

[2018-01-05 16:44] tresf commented on #4070
Closed via 59eba30.  @Mark-Agent003 thanks for the work on this, greatly appreciated!

[2018-01-05 16:44] #4070 closed

[2018-01-05 17:02] tuxutku opened #4094 "AppImage crash on clear linux"
<pre>
utku@clr-449e9b2a44f8458bb4885604dc172a1c ~ $ /home/utku/Programlar/llms/lmms-1.2.0-rc5-linux-x86_64.AppImage
Carla does not appear to be installed.  That's OK, please ignore any related library errors.
Jack does not appear to be installed.  That's OK, we'll use a dummy version instead.
Notice: could not set realtime priority.
VST sync support disabled in your configuration
Cannot load libra

[2018-01-05 17:03] tuxutku commented on #4068
I have the same issue:  https://github.com/LMMS/lmms/issues/4094

[2018-01-05 17:19] tresf commented on #4094
[code]

It appears jack needs to be installed for the AppImage to open.  It's because the portaudio library we bundle has a hard link to it.  Not sure if that can be easily fixed.  Can you install jack on that platform and see if it fixes the problem?  I was hoping [weakjack](https://github.com/LMMS/lmms/pull/3958) would correct this problem, but it appears it does not.

[2018-01-05 18:12] EtornaZ opened #4095 "iZotope plugins not working in LMMS"
I and another LMMS user on the Discord (howellsky) have problems with our iZotope plugins. Once we load our effects in (mine being the iZotope Ozone Imager and howellsky's being the iZotope Vinyl) nothing shows up, and the volumes on our instruments are muted. Turning the wet/dry knob on the effect in the effect list will make the volume come back, but that's about all the effect does.

@SirBother

[2018-01-05 18:24] tresf commented on #1389
@PhysSong @Reaper10 has been banned from our tracker so he can't reply to this.  I'll assign to @DomClark for now.

[2018-01-05 18:28] tresf commented on #2132
@Israel-D if this is still desired, please submit a PR with the appropriate change.

[2018-01-05 18:31] tresf commented on #2958
Closing, this was resolved a long time ago, we added better support for detecting various wine installations.    See also https://github.com/LMMS/lmms/pull/3708 although the code has moved around a bit, so the patches have changed since they were merged.

[2018-01-05 18:31] #2958 closed

[2018-01-05 18:35] tresf commented on #4054
Agreed.  Closing.  Probably a duplicate of #3136 if I'm reading it right.

[2018-01-05 18:35] #4054 closed

[2018-01-05 18:36] tresf commented on #2161
Sounds like #2958, #3708.  Closing.

[2018-01-05 18:36] #2161 closed

[2018-01-05 18:43] tresf commented on #2797
@jcelerier thanks for your feedback on this topic.  I agree that this ruling can have an impact on US rulings.  I'm going to close this issue out because the primary author -- @jasp00 -- hasn't shown a whole lot of interest in changing the one we ship so from an LMMS perspective, we won't be fixing this on our end, at least not in the foreseeable future.

[code]

[2018-01-05 18:43] #2797 closed

[2018-01-05 18:47] tresf commented on #3990
Description sounds like it may be a duplicate of #3631 however we've changed around some VST code in the the latest 1.2.0 betas so this may be new or may be AppImage related.

[2018-01-05 18:57] tuxutku commented on #4094
i installed the jack to:
/usr/local/jack-audio-connection-kit-0.125.0
is it the right program i don't know (my distribution has no package manager)
<pre>
utku@clr-449e9b2a44f8458bb4885604dc172a1c ~/Programlar/jack-audio-connection-kit-0.125.0 $ export LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:/usr/local/jack-audio-connection-kit-0.125.0/lib64
utku@clr-449e9b2a44f8458bb4885604dc172a1c ~/Programlar/jack-au

[2018-01-05 19:08] lukas-w commented on #2132
Don't we already have this option? (per 061333bb7cca52b65cddfd4acb3d6cab897ac696 and #2735)

https://github.com/LMMS/lmms/blob/bd8c27249fec77d4ade4bd6ddfeb242284f75b1c/CMakeLists.txt#L68

https://github.com/LMMS/lmms/blob/bd8c27249fec77d4ade4bd6ddfeb242284f75b1c/CMakeLists.txt#L452-L454

[2018-01-05 19:14] tresf commented on #4094
I don't know either.  The built-in OS equivalent of `LD_LIBRARY_PATH` would need to locate `libjack.so.1`, which is often located at `/usr/lib/libjack.so.0`.  If it does, the message "Jack does not appear to be installed.  That's OK, we'll use a dummy version instead." would then disappear.

I'm still thinking something is wrong with the `AppImage` though.  WeakJack was really created to fulfill A

[2018-01-05 20:08] tuxutku commented on #4094
<pre>
utku@clr-449e9b2a44f8458bb4885604dc172a1c ~ $ ls -l /usr/local/jack-audio-connection-kit-0.125.0/lib64/
total 1204
drwxr-xr-x 2 root root   4096 Jan  5 21:46 jack
-rwxr-xr-x 1 root root    988 Jan  5 21:46 libjack.la
-rwxr-xr-x 1 root root   1024 Jan  5 21:46 libjackserver.la
lrwxrwxrwx 1 root root     23 Jan  5 21:46 libjackserver.so -> libjackserver.so.0.0.28
lrwxrwxrwx 1 root root     23

[2018-01-05 22:54] tresf commented on #2132
I don't think @Israel-D did a good job of explaining the patch... Looking at the current code ([CMakeLists.txt#L444](https://github.com/LMMS/lmms/blob/bd8c27249fec77d4ade4bd6ddfeb242284f75b1c/CMakeLists.txt#L444)) we seem to look for Wine regardless of this option.

[2018-01-06 00:33] ArashPartow commented on #4077
Hi all, apologies for the late reply - wrt missing ExprTk module issue, Would it be possible to instead of using a particular revision of exprtk module to always use the tip of the master?

[2018-01-06 01:03] tresf commented on #4077
In our build system, we could coerce this, but no, git submodules do not permit this.  Is there a particular reason why the history was erased?  This is generally uncommon for a master branch and it also leaves a bit of ambiguity as to what occurred for a particular update.

Worse, it takes reliable builds completely out of our hands as we wouldn't know if a breaking change existed until after our

[2018-01-06 01:09] DomClark commented on #1389
I've tested as far back as 1.0.0 and I can't reproduce this. Given that @Reaper10 is banned so can't give any feedback, I vote that we close this issue for now and see if we have any further reports in the future.

[2018-01-06 01:10] tresf commented on #1389
👍

[2018-01-06 01:10] #1389 closed

[2018-01-06 01:18] DomClark commented on #4095
Confirmed on 1.2.0-RC5 (Win10 x64). I'll look into this.

[2018-01-06 01:29] DomClark commented on #4074
I've been unable to reproduce this on my machine, but we determined over Discord that the plugin was producing NaNs in the output. I'm trying to think of an easy way to continue trying to debug this remotely with the reporter if they're still interested.

[2018-01-06 02:39] ArashPartow commented on #4077
@tresf  The reset was due to an issue that arose when merging from another repo. As it is now https://github.com/ArashPartow/exprtk/commit/f32d2b4bbb640ea4732b8a7fce1bd9717e9c998b will be available indefinitely.  And all future updates/fixes will follow from there.

[2018-01-06 02:41] tresf commented on #4077
@ArashPartow ok, understood you have a uniquely large file to merge there so I'm sure it was warranted.  So is it safe to assume that all previous commits are encompassed inside that?  If so, we can bump the version in #4089 and we'll be in good shape again. 👍

[2018-01-06 11:03] tuxutku commented on #4094
i have installed jack to /usr/lib too, but it gives the same error message
I have tried to install normally with --prefix=/usr
I have tried to copy libraries from /usr/lib64 to /usr/lib (copied just for test, deleted after that)
Nothing works
here is the full terminal log:
<pre>
utku@clr-449e9b2a44f8458bb4885604dc172a1c ~/Programlar/jack-audio-connection-kit-0.125.0 $ ls /usr/lib64/*jack*
/usr/lib

[2018-01-06 12:18] lukas-w opened #4096 "Adopting Git Flow"
What do people think about more strictly following [Vincent Driessen's branching model](http://nvie.com/posts/a-successful-git-branching-model/)?

We get some pull requests that are started off or targeted to the wrong branch. Some new contributors start bug fixes based on `master` which causes problems when trying to merge them into `stable-1.2`.

Adopting this model may help avoid those kind of

[2018-01-06 12:36] lukas-w commented on #4094
@tuxutku Can you extract the AppImage by doing

[code]

and then give the output of these commands:

[code]

[2018-01-06 12:49] tuxutku commented on #4094
<pre>
utku@clr-449e9b2a44f8458bb4885604dc172a1c ~/Programlar/llms $ ls
lmms-1.2.0-rc5-linux-x86_64.AppImage  squashfs-root
utku@clr-449e9b2a44f8458bb4885604dc172a1c ~/Programlar/llms $ ldd ./squashfs-root/usr/lib/libportaudio.so.2
ldd: warning: you do not have execution permission for `./squashfs-root/usr/lib/libportaudio.so.2'
	linux-vdso.so.1 (0x00007ffd47b99000)
	librt.so.1 => /usr/lib64/librt.

[2018-01-06 12:51] tuxutku commented on #4094
i will try to build 32 bit jack to see if its will fix this

[2018-01-06 12:53] lukas-w commented on #4094
No, the AppImage is 64bit.

I'm afraid I don't really understand what's going wrong here… `ldd` shows that it your system finds `libjack.so.0`, the output of `objdump` shows that it does contain the `jack_client_open` symbol, so I have no idea why it's failing.

[2018-01-06 13:02] tuxutku commented on #4094
[jackbuildfiles.tar.xz.this_is_a_tar.xz_file.txt](https://github.com/LMMS/lmms/files/1608780/jackbuildfiles.tar.xz.this_is_a_tar.xz_file.txt)
this is my build folder for jack

[2018-01-06 15:05] Sauerstoffdioxid commented on #4074
_Finally made an account._
@DomClark Yes, I am still interested in solving this. Thank you.

Also, for the sake of completeness: I can confirm the plugin itself is not corrupted (works correctly in other software and i re-downloaded it). Using a copy with a different filename didn't change anything, too (I thought that maybe LMMS adressed it incorrectly). Re-installing LMMS didn't fix it either (t

[2018-01-06 15:29] musikBear commented on #4096
imo you raise a important issue. I have suggested more strict model in releases before. Just take this

[2018-01-06 16:13] lukas-w commented on #4096
@musikBear This is off-topic, the changes proposed here are unrelated to our release version names. This proposal only affects _branch_ names. Refer to #2365 and #2368 about the decisions made regarding version numbers, or open a new issue if you have any suggestions for improvement. 👍

[2018-01-06 17:18] tresf commented on #4096
We really need to adopt `master = stable`, that part of whole hearted agree with, but our features are so often breaking features that the "features" segment is purely hypothetical.  We really don't have a good QA process between feature and stable, so the new model doesn't fix that.

Another issue with this model is that it assumes that all feature requests come from developers work direct push a

[2018-01-06 17:32] tresf commented on #4096
The one downside to this approach that I can see is that `git` can be a bear to work with for resolving more complex conflicts and from my experience, collaborators don't always feel comfortable doing this on an upstream repo.  Sandboxing stuff like 30 CI commits and force pushes away from the main project reduces stress and exposure to the developer, at least from my experience with other project

[2018-01-07 00:43] EtornaZ opened #4097 "Enhancement: Ability to have both curved and straight lines in Automation Editor"
The Automation Editor cannot currently support both straight and curved lines in the same automation. This can be worked around by either making two automation boxes and lining them up side by side in the Song-Editor, or use the 1/192 note setting so that the value is almost straight up, but not all the way.
It would be more convenient if we could have both of these at the same time in the Automat

[2018-01-07 00:56] StakeoutPunch commented on #4097
FL handles this by using what they call tension. An automation curve is straight until you grab a handle in the middle of the line and add curvature in. Is this what you're asking for?
![image](https://user-images.githubusercontent.com/6579031/34645448-3670ae56-f313-11e7-9460-81bbbe353df4.png)

[2018-01-07 00:57] EtornaZ commented on #4097
Yes, it is.

[2018-01-07 11:02] lukas-w commented on #4097
I think this would be covered by #2381, which is implemented by #2466. I don't know about the state of that PR though.

[2018-01-07 16:31] vlad1777d commented on #3990
@tresf , btw., I installed new Linux Mint system, now this bug is absent.
I remember that in some pull request I described similar with it bug, figured out why it happened.

I'll find that info soon and update this issue.

[2018-01-08 02:50] fyrebreak commented on #4097
Thanks for mentioning this, EtornaZ! The inability to create dropshelves in LMMS is certainly frustrating XD
Also thanks Devs for paying attention to this ;)

[2018-01-08 09:14] zonkmachine commented on #3360
@tukkek Can you test the latest beta? You don't need to compile it as we now ship a binary (AppImage). Just download/make executable/run...
https://lmms.io/download/#linux

[2018-01-08 09:22] haicat opened #4098 "Piano roll crashes when window is scaled too large"
Tested on 1.2.0-rc5

LMMS will crash when the piano roll window is scaled too large. I found that it seems to be when it's scaled to around 1600-ish pixels in height.

[2018-01-08 14:52] tresf opened #4099 "Crash accessing settings"
macOS 10.13.2 seems to crash when the settings are accessed, LMMS 1.2.0-RC5.

This happens almost every time the settings are opened and for new installs, it can crash on launch when the settings dialog is initially displayed.

Backtrace (non-debug):
https://gist.github.com/tresf/5a53efb0b66b1db7e9dc77e0b1a7a051

When clicking "Relaunch" button after the crash, it seems to occur later, when the se

[2018-01-08 17:03] musikBear commented on #4098
is this related to HD monitors (4K etc)?

[2018-01-08 17:12] tresf commented on #4098
@musikBear it's related to the pixel-width of the monitor, which would be perpetuated by a higher-resolution monitor, yes.

[2018-01-08 19:12] GvMariani opened #4100 "Incomplete source tarball for 1.2.0 RC5 -> build error in src/3rdparty/qt5-x11embed"
Trying to package lmms 1.2.0 RC5 for Rosa Linux Fresh R10 (a Mandriva derivative) on x86_64.
Cmake stops with the error message:
************************************************
CMake Error at src/3rdparty/CMakeLists.txt:6 (add_subdirectory):
The source directory /tmp/abf/rpmbuild/BUILD/lmms-1.2.0-rc5/src/3rdparty/qt5-x11embed
does not contain a CMakeLists.txt file.
*******************************

[2018-01-08 19:16] tresf commented on #4100
@GvMariani you'll need to fetch the submodules.  `git submodule update --init --recursive`

[2018-01-08 19:18] lukas-w commented on #4100
@GvMariani We don't provide any source tarballs, these are generated by GitHub. Currently, the only way to get the complete source is by using git:

[code]

Or if you already cloned the repository using git but without submodules:

[code]

[2018-01-08 19:31] tresf commented on #4100
@lukas-w this may be something worth uploading at release time.  Here's a helper script that claims to tackle it.  https://github.com/meitar/git-archive-all.sh/blob/master/git-archive-all.sh

[2018-01-08 21:15] lukas-w commented on #4100
Agreed. Thanks for sharing.

[2018-01-08 21:38] iamvd opened #4101 "VST GUI is always on top"
Version 1.2.0-rc5 (Linux/i386, Qt 4.8.6, GCC 4.8.4)
Linux Mint 17.3

This happens with any VST-plugin. As you can see, the contents of the plugin window overlaps all other windows. But the header of the plugin window behaves normally.

![untitled- - lmms 1 2 0-rc5_290](https://user-images.githubusercontent.com/16133181/34692986-e1e3c4e0-f4e3-11e7-8fa6-727683b0305e.png)

[2018-01-08 22:26] RichardJECooke opened #4102 "Fix Drum Pro VST"
I installed [Drum Pro VST](https://www.studiolinked.com/drum-pro/) with Wine and tried to open it in LMMS with Vestige.

Everything 64 bit.

Got the error shown below.

![screenshot from 2018-01-09 09-22-41](https://user-images.githubusercontent.com/5468805/34695479-b7bf8aa4-f516-11e7-9515-2de192337736.png)

[2018-01-08 22:39] RichardJECooke commented on #416
I'm trying LMMS for the first time on Ubuntu and am unable to get VSTs to work - either Wine crashes trying to install them, or once installed LMMS' Vestige crashes trying to open them.

I hoped returning to Linux audio after seven years things would be much easier, but it still seems unusable. I really hope the team manages to get round to this 2014 issue some time.

[2018-01-08 22:59] Umcaruje commented on #4102
64 bit VST's are not currently supported on Linux.

[2018-01-08 23:01] Umcaruje commented on #4101
What do your settings say about the VST embedding method? Can you try the AppImage from https://lmms.io/download/#linux

[2018-01-08 23:23] iamvd commented on #4101
The embedding method is "Embed using XEmbed protocol". The issue is that such a behavior was not being appeared on my system in the previous releases (i.e. 1.1.3 and newer).

Unfortunatelly, I currently using a 32bit distribution, so I can't try the AppImage.

[2018-01-09 00:26] tresf commented on #4101
Cannot reproduce with Synth1/Qt 5.9/Ubuntu 14.04 x64.

* What window manager are you using?
* Is `winecfg`, `Graphics`, `Allow Window Manager to control the windows` selected?

![screen shot 2018-01-08 at 7 23 54 pm](https://user-images.githubusercontent.com/6345473/34699121-a6b157be-f4a9-11e7-901b-5286499724cf.png)

[2018-01-09 00:37] tresf commented on #4102
The 32-bit doesn't work either.  Seems to be incompatible with Wine.  Can someone test on Windows?  This may not be our bug.

Backtrace: https://gist.github.com/tresf/f96d81872ed8a3d0bab4e972549cd980

[2018-01-09 00:49] DomClark commented on #4102
Cannot reproduce on Windows 10 64-bit, LMMS 1.2.0-RC5. Both the 64- and 32-bit versions appear to function correctly.

[2018-01-09 00:53] RichardJECooke commented on #4102
Oh, ok, I installed the 32 bit version instead and it plays correctly.

But both it and Helm (installed with PlayOnLinux) flash the GUI when first loaded in Vestige, but then when you try work with it the GUI it becomes blank, see screenshot below. (The default preset sound still sounds, just no visuals so you can't alter the sound)

Is this another known bug?

![screenshot from 2018-01-09 11-49-4

[2018-01-09 01:18] tresf commented on #4098
I can't reproduce the crash on Linux, but I have a feeling it's related to the fact that we don't stop drawing the piano keys after we've left the playable area.

![screen shot 2018-01-08 at 8 17 22 pm](https://user-images.githubusercontent.com/6345473/34700407-fcc51c10-f4b0-11e7-8c7a-3ff6d2b6efce.png)

[2018-01-09 01:39] RichardJECooke commented on #4102
Both plugins work in Reaper using PlayOnLinux, I just gave that a try.

Never mind, I can use that instead, thanks.

[2018-01-09 01:39] #4102 closed

[2018-01-09 02:17] tresf commented on #4102
1.2.0 is the next stable version and bugs should be reported against the beta, available from our downloads page.  https://lmms.io/download

[2018-01-09 03:51] tresf commented on #4094
Reproduced.  This is an exact duplicate of #4068 which was incorrectly closed when the OP found a work-around.  This seems to be a regression caused by #3958.  Interim AppImage versions before this, such as [lmms-1.2.0-rc4.29](https://github.com/tresf/lmms/releases/download/v1.2.0-rc4/lmms-1.2.0-rc4.29-linux-x86_64.AppImage) didn't suffer this problem.

Apparently, removing `libjack.so.0` from the

[2018-01-09 03:55] PhysSong commented on #4100
@GvMariani You mean the tarball in our [release page](https://github.com/LMMS/lmms/releases)?

[2018-01-09 04:06] tresf commented on #416
This topic is about LinuxVST, so the Wine crashes seem to be misplaced.  As for the state of Linux audio in general, this tracker isn't the place to discuss that despite many people sharing your feelings on the topic.

That said, although the frustrations you are having are real, we really don't tolerate people coming on this tracker pointing out the shortcomings of a few volunteers.

Please keep

[2018-01-09 11:12] iamvd commented on #4101
* DE is MATE 1.12.0 (window manager is Caja).
* Qt version is 4.8.6.
* The "Allow Window Manager to control the windows" option is set.

Should I try to rebuild the program with Qt5?

[2018-01-09 11:26] lukas-w commented on #4101
@iamvd Yes, please. VST embedding has been rewritten for Qt5 and it's unlikely that we'll put a lot of work into fixing Qt4-only embedding bugs. Going forward with 1.3.0, Qt4 support will be dropped entirely.

It's strange that you report it used to work with 1.1.3 though. Not much has changed since then in the Qt4-specific code.

It'll be interesting to see whether switchiing to Qt5 fixes this fo

[2018-01-09 14:53] iamvd commented on #4101
Finally I've done with the building process, which required me to resolve lots of Qt5-related dependencies. And now I can say that the VST GUI works just fine.

Nevertheless, the mouse is going crazy, when I dragging the windows :)
![untitled- - lmms 1 2 0-rc5_293](https://user-images.githubusercontent.com/16133181/34726709-a2b93ea6-f576-11e7-9d41-4e8e18aca34e.png)

[2018-01-09 15:31] tresf commented on #4101
@iamvd which Qt5 version?

[2018-01-09 17:51] GvMariani commented on #4100
@PhysSong Exactly...
The usual workflow when updating a distro package (at least for a rpm-based distro, the compile-for-source ones are another matter) is taking the release tarball for the chosen release and using it, not starting by cloning the whole git devel tree (no matter how easy this would be)... But if cloning is needed this would not a big deal for me, anyway.
My point (i.e. what I woul

[2018-01-09 18:17] tresf commented on #4100
We won't be doing this.  We aren't going to put warnings on all of our releases.

There is, we just need to integrate it with our release cycle.  Thanks for the bug report.  Please see https://github.com/LMMS/lmms/issues/4100#issuecomment-356071148 for how we plan to do this.  This means future releases (hopefully 1.2.0-stable and onward) will have all submodules bundled as you've requested.

[2018-01-09 20:09] zonkmachine commented on #4102
Is this a case of needing better documentation and/or should we detect 64-bit and issue warning?

[2018-01-09 20:39] zonkmachine commented on #2845
No answer, closing. This would have been fixed in #4005.

[2018-01-09 20:39] #2845 closed

[2018-01-09 20:48] tresf commented on #4102
On Linux, yes, we should detect and warn if it's technically possible.  I'm also not sure why we don't support 64-bit.  Wine can run 64-bit binaries now.

[2018-01-09 21:19] zonkmachine commented on #3233
This.

[2018-01-09 22:07] zonkmachine commented on #4102
Open a separate issue for this then?

[2018-01-09 22:09] tresf commented on #4102
Probably a good idea.

[2018-01-10 00:02] PhysSong commented on #4099
Does it crash if built without SDL?

[2018-01-10 00:09] zonkmachine opened #4103 "64 bit VST on Linux/Wine"
Wine supports 64-bit since wine-1.2 but it doesn't seem to be working under linux/wine/lmms.
https://github.com/LMMS/lmms/issues/4102, https://lmms.io/forum/viewtopic.php?f=7&t=26647#p51235

- [ ] Assess the status/quality of 64-bit VST on Linux/Wine
- [ ] If possible, activate 64-bit VST on Linux/Wine
- [ ] Warn if needed/possible when running 64-bit VST on Linux/Wine
- [ ] Update documentation

[2018-01-10 01:38] zonkmachine commented on #2720
@WinLin97 Can you test this again with the latest beta of lmms 1.2 (lmms-1.2-rc5)?
https://lmms.io/download/#linux
Also, the latest stable of Wine is 2.0.4 which was released just a week ago.

[2018-01-10 02:16] tresf opened #4104 "Splash screen hides child windows"
There are several times opening LMMS on various platforms where the splash screen was on top of a subwindow.

Here's an example on MacOS
![screen shot 2018-01-09 at 9 14 14 pm](https://user-images.githubusercontent.com/6345473/34752739-2fa5e76e-f582-11e7-9ca6-c260884846a2.png)

The splash screen should not be "always on top" as it can hide important messages.

[2018-01-10 02:18] tresf commented on #4099
@PhysSong yes it still does.

https://gist.github.com/tresf/9c16fe362f43c90ee810897856b1476f

[2018-01-10 02:31] tresf opened #4105 "Compilation fails without SDL"
If LMMS is compiled on macOS with SDL disabled, compilation will fail with the following error message:

[code]

Adding `-framework CoreFoundation` fixes it.  My guess is that this dependency is getting implicitly added by SDL.  Although this is a quick and easy patch, finding the cause was not, hence the documented fix. :)

[2018-01-10 02:34] #4105 closed

[2018-01-10 02:53] tresf commented on #4104
I think we can simply do...

[code]
... however I'm having a hard time reproducing this pop-up window now for a baseline test.

[2018-01-10 03:12] tresf commented on #4099
I'm not sure if it's a coincidence but if I compile LMMS with `-DWANT_SOUNDIO=OFF` the problem seems to go away.  This is strange since soundio doesn't occur anywhere in this backtrace.

[2018-01-10 03:18] tresf commented on #2633
Closing as duplicate of #3357 since this problem seems to be isolated to macOS now.

[2018-01-10 03:18] #2633 closed

[2018-01-10 03:20] PhysSong commented on #4099
Then what happens if you enable every possible backends except libsoundio? How about other combinations?

[2018-01-10 03:25] tresf commented on #4099
@PhysSong `Dummy`, `Jack`, `PortAudio` and `SDL` won't crash on load and they don't crash on save.

[2018-01-10 03:50] PhysSong commented on #4099
@tresf Please let me know once you get a backtrace with `libsoundio`! I'll try to find what goes wrong, if I can. :smiley:

[2018-01-10 05:05] tresf commented on #4099
[code]

[2018-01-10 07:44] lukas-w commented on #4103
I did some work to make building 64-bit `RemoteVstPlugin` work on Linux in the `msvc/vst` branch, but it fails loading VSTs with the message
[code]

[2018-01-10 14:07] iamvd commented on #4101
@tresf, 5.2.1
Just ran the program. There are no mouse lags for now.

[2018-01-10 14:13] tresf commented on #4101
@iamvd are you OK if we close this issue?  It sounds like your problems have been resolved by switching to Qt5.  Note, we ship our AppImages with Qt 5.9 so any Qt-specific issues you encounter with 5.2.1 should be tested against the AppImage before filing a new bug.

[2018-01-10 14:21] iamvd commented on #4101
@tresf, no problem.

Many thanks to you, guys, for your support.
Best regards!

[2018-01-10 14:22] #4101 closed

[2018-01-10 17:25] musikBear opened #4106 "Add 'Power' in the Chord-table"
Enhancement
Add **power-chord** as an option in the  *Chord-selection-table*

[2018-01-10 17:34] DomClark commented on #4106
Is this not the same thing as the "5" chord already present?

[2018-01-11 12:23] Luraktinus opened #4107 "Fixing the Tags in this repository"
"digital" and "audio" and "workstation" makes no freaking sense... not only because you cant sort for multiple tags at once!

just use "daw" like everyone else!

https://github.com/VCVRack/Rack
https://github.com/Ardour/ardour
https://github.com/rserota/wad
https://github.com/monocasual/giada
and many other DAWs

[2018-01-11 13:17] karmux commented on #4107
I'd add `music`.

[2018-01-11 14:17] #4107 closed

[2018-01-11 14:43] Luraktinus commented on #4107
nice, thank you

[2018-01-12 17:39] Sauerstoffdioxid commented on #4074
Ok, so I was just loading this plugin right now to see if it still didn't work and it seems it miraculously fixed itself. It's working again.
Though this still leaves the question, _why_ it was broken in the first place. The only thing that changed (related to audio) on my system is that I got a new soundcard, but personally I don't believe that it really was the cause.
Anyway, the problem seems t

[2018-01-12 17:46] musikBear commented on #4106
@DomClark  loL it is i just dont see that single '5' at all - should it be *named* 'Power'? That would make it stand out and distinctively show, that it is different from any type of 'add-note-chord'

[2018-01-12 19:57] DomClark commented on #4074
Glad you got it working again!
As for why it was broken, that's no way we can really debug this anymore (or even determine clearly whether it was LMMS's fault or not) unless someone else has the problem again, so I'll indeed go ahead and close this issue. Thanks for letting us know. 😃

[2018-01-12 19:57] #4074 closed

[2018-01-13 11:39] Metalhead33 opened #4108 "Wine not detected on Gentoo"
I am a user of Gentoo Linux, and _"somewhat recently" (in November, 2017)_, [the other Gentoo people decided to completely repackage wine](https://wiki.gentoo.org/wiki/Wine:_New_Packaging). Gone were the days of having to emerge _"app-emulation/wine"_, instead it's now a combination of _"virtual/wine"_ and _"app-emulation/wine-vanilla"_, _"app-emulation/wine-staging"_ or _"app-emulation/wine-d3d"_

[2018-01-13 15:48] yosbelms opened #4109 "Have you thought of to provide a Flatpak bundle?"

[2018-01-13 16:21] zonkmachine commented on #4106
To the [right/bottom](
https://github.com/LMMS/lmms/blob/46512fdf19f42150d2728feb439b1c8441ce93dd/src/core/InstrumentFunctions.cpp#L137). It was added rather recently. I guess we could stick 'power' in there but I think it would fit better in as a tutorial. Knowing what a 'fifth' is in music is pretty basic.

[2018-01-13 17:17] musikBear commented on #4106
oki, lets sleep this

[2018-01-13 17:17] #4106 closed

[2018-01-14 14:28] lukas-w commented on #4096
Thanks for your thoughts. `master = stable` is the most important point I was trying to make, so I'm glad we agree on that.

It's true that the feature segment is hypothetical. You're making a good point regarding exposure to the developer, that's something I haven't considered yet.

I think it could still be useful for us at least with long-standing feature PRs. We can create a branch in the offi

[2018-01-14 14:34] lukas-w commented on #4108
@Metalhead33 Instead of symlinking, you can try passing `-DCMAKE_PREFIX_PATH=/path/to/your/wine` to CMake.

Did the location of Wine on the file system change with those packaging changes? If so, where to? Maybe we can add that path to our [`FindWine.cmake`](https://github.com/LMMS/lmms/blob/stable-1.2/cmake/modules/FindWine.cmake) script.

[2018-01-14 15:02] Metalhead33 commented on #4108
@lukas-w Thank you! Both _"cmake .. -DCMAKE_PREFIX_PATH=/usr/lib/wine-vanilla-2.20"_ and _"cmake .. -DCMAKE_PREFIX_PATH=/usr/lib/wine-vanilla-2.0.3"_ worked fine _(at least as far as executing cmake and making it recognize wine, didn't try compiling yet)._
But yes, it now packs wine into its own individual folders per version, like the ones I listed previously. Also, there is now _"/usr/include/wi

[2018-01-14 15:17] Metalhead33 commented on #4108
Aaaaaand, error!

[code]

[2018-01-14 16:35] lukas-w commented on #4108
@Metalhead33 That's a known bug with winegcc. It automatically links to 64bit libraries even when building 32bit binaries using the `-m32` flag.

What's the output of `winegcc -v -m32 /dev/zero` on your system?

[2018-01-14 16:39] Metalhead33 commented on #4108
I have found a temporary workaround:

**/tmp/lmms/plugins/vst_base/CMakeLists.txt:**
[code]

**/tmp/lmms/cmake/modules/FindWine.cmake:**
[code]

[2018-01-14 16:40] Metalhead33 commented on #4108
@lukas-w
**This:**
[code]

[2018-01-14 16:44] tresf commented on #4108
Reopening because this is likely something we can improve upon.

[2018-01-14 16:53] tresf commented on #4096
No, but without scope of change/break it's difficult to know the target branch and historically master has been unstable due to breaking features (such as the mixer improvements).  The proposal could make a "stable" branch "unstable" inadvertently.  I guess that was point.  It's hard to call it "stable" in some cases.

[2018-01-14 18:15] Sauerstoffdioxid opened #4110 "Strange problems when loading a project containing VST effects."
Please change the title to something more descriptive. I don't really know how to summarize this bug briefly.

I think this is best explained by a short video
[Capture_3.zip](https://github.com/LMMS/lmms/files/1629492/Capture_3.zip) (it's in the zip file)

Basically, when I load up a project with an effect plugin and open the controls window of an effect on the master channel (different channels n

[2018-01-14 22:53] lukas-w commented on #4103
Fixed the error via 631a3dbcfb37f59541cc4ebab4659728fb8aeae8. 64bit VSTs load perfectly now when hard-coding LMMS to always use the 64-bit version of `RemoteVstPlugin`.

Unfortunately, there's still something going wrong with the trial-and-error approach we're using for starting the right version:

https://github.com/LMMS/lmms/blob/631a3dbcfb37f59541cc4ebab4659728fb8aeae8/plugins/vst_base/VstPlugi

[2018-01-15 05:04] raindropsfromsky opened #4111 "Selected notes in the Piano Roll editor do not look much different from unselected notes"
Earlier, the selected bars in the Piano Roll Editor appeared deep blue, and the unselected bars appeared green. Thus they looked distinct from each other, and it was easy to tell them apart.

![image](https://user-images.githubusercontent.com/9047168/34927862-775fa002-f9df-11e7-97bb-5ca001aa4a79.png)

But now the selected bars have a different hue of green. As a result, it is very difficult to tel

[2018-01-15 05:07] raindropsfromsky opened #4112 "In Piano Roll Editor, the selection mouse pointer is not consistent"
The mouse pointer randomly changes between a leftward-tilted arrowhead:

![image](https://user-images.githubusercontent.com/9047168/34927916-d31f983e-f9df-11e7-950d-611a3ccf9f3a.png)

-and a vertical double-headed arrow:
![image](https://user-images.githubusercontent.com/9047168/34927921-dccc25e6-f9df-11e7-8ed3-aa9cf7d8dd3c.png)

**Desired:** Use only one shape.

[2018-01-15 06:02] PhysSong commented on #4098
Though I don't have large enough monitor to reproduce this issue, I was able to find possible cause for this issue.
https://github.com/LMMS/lmms/blob/46512fdf19f42150d2728feb439b1c8441ce93dd/src/gui/editors/PianoRoll.cpp#L3165-L3175

`m_startKey` becomes negative if piano-roll is too large and it may break some modular logics
([example](https://github.com/LMMS/lmms/blob/46512fdf19f42150d2728feb439

[2018-01-15 09:46] Spekular commented on #4111
I don't think yellow is a particularly good choice for selection as it's
just as close to green as the current blue selection color. Some indicator
other than color may be a better choice if we consider colorblindness.

"In males with protanopia, there are no working red cone cells. Red appears
as black. Certain shades of orange, yellow, and green all appear as yellow."

On Jan 15, 2018 06:04, "Na

[2018-01-15 15:01] tresf commented on #4111
@raindropsfromsky thanks for this, we'll put it on the to-do list for 1.2.0.  @Umcaruje let's make the contrast better here.  @Spekular thanks for the research.

[2018-01-15 15:37] Sawuare commented on #4112
The pointer shape in the first image is the desired shape.
The pointer shape in the second image, in this particular case, is a bug. It happens when the pointer gets in the note velocity/panning editing area at the bottom, and gets out, with the same pointer shape of that area.

[2018-01-15 16:28] raindropsfromsky commented on #4111
About the color: Blender 3D uses orange outline to indicate that a shape is selected.
![image](https://user-images.githubusercontent.com/9047168/34952233-10e9999e-fa3f-11e7-916f-f2f57f24d6e0.png)
In the scene, the cylinder is selected, and the cube is not.

[2018-01-15 17:51] musikBear commented on #4111
It is available as a CSS option. My lousy eyes have already prompted me to change both selections and how scales are shown.
![pianoroll_cssmb](https://user-images.githubusercontent.com/6662066/34955231-cbaedc56-fa23-11e7-9d73-fc08459cd727.JPG)
@raindropsfromsky Here is my file:
[Copy (4) of style.zip](https://github.com/LMMS/lmms/files/1632560/Copy.4.of.style.zip)
Substitute it with the one you ha

[2018-01-15 20:45] musikBear opened #4113 "SID: tiny delay before note is played"
RC4-6493
win32
There is a tiny DEL(ateting) of a notes initiation, and the actual sound.
Here i show identical notes, played with resp. SID and 3oc'
![sidlack](https://user-images.githubusercontent.com/6662066/34960735-7272d2be-fa3c-11e7-9029-174e639ef044.JPG)

Observe the red marked line.
That is a click at note initiation.
In 3oc the note plays at that point
In SID it does not

OOP : http://lmms

[2018-01-15 21:01] lukas-w commented on #4111
In case we want to take this into account without guess-working about what would look right, there's software like [Color Oracle](http://colororacle.org/) that applies a full-screen filter to simulate colour blindness.

[2018-01-15 22:01] tresf commented on #4111
This ColorOracle utility is very nice.  You don't need to install it either, you can just grab the JAR, which will open if you have Java installed already.

http://colororacle.org/ColorOracleJar.zip

Double-click the jar and then right-click the tray icon and select a color-blind profile it will temporarily switch your desktop to that color profile.

Interestingly enough, the selected notes actual

[2018-01-15 22:54] DanielRios549 opened #4114 "LMMS Plugins"
Why isn't there plugins for LMMS for Linux? This is simply ridiculous, the program has a Linux version but the plugins does not, all plugins only have versions for Windows and Mac... What can I do to use these plugins?

[2018-01-15 22:57] Umcaruje commented on #4114
Are you talking about Linux VST support? If so, this a duplicate of #416

[2018-01-15 23:00] tresf commented on #4114
Calling a project rediculous is not acceptable demeanor for our bug tracker.

[2018-01-15 23:00] #4114 closed

[2018-01-15 23:49] DanielRios549 opened #4115 "LMMS Plugins that hasn't a Linux version"
**First of all, I'm sorry about the last issue, It wasn't my intention offend the owners of the project, if it is possible, delete that issue, please.**

My doubt is how to use plugins that does not support Linux directly, for example, those we can download from websites such as meldaproduction and tal-software. I'm not sure if it is about the VST support, I only want to use these plugins, to help

[2018-01-16 00:18] tresf commented on #4115
@DanielRios549 LMMS has very limited support for plugins.

* VST2(i)/VST2(fx) - Windows 32-bit (Windows and Linux via Wine)
* VST2(i)/VST2(fx) - Windows 64-bit (Windows-only currently)
* LADSPAv1 (fx, no DSSI) - Platform-native versions Linux, Windows, Mac
* LV2 (instruments/fx) - Indirectly via Carla (Linux only currently)
* Native plugins available from the plugins sidebar

Carla supports a few

[2018-01-16 00:31] DanielRios549 commented on #4115
It's ok, I will try to use native plugins, but to use Windows VSTi plugins through Wine, I need only to change VST-Plugin Directory on settings, or I need to use the Windows version of LMMS with the wine prefix?

[2018-01-16 01:17] tresf commented on #4115
The easiest way to add Windows VSTi is to drag the DLL from the sidebar that has the file browser.

The directory in the settings is for the effects only.

[2018-01-16 09:01] vrghost242 opened #4116 "carla not recognized (LMMS 1.2.0-rc5.222 on Gentoo)"
So decided to try to build LMMS with VeSTige and Carla support on Linux. got as far as cmake to configure, and for some reason it will not accept my calra install

I use the cmake line

And I get the following error in the log

However, installed carla this morning (version 1.9.2 (2.0 beta5), information I took straight from carla, running on my machine

What am I missing?

[2018-01-16 12:07] NETMANSKY opened #4117 "RC5 inWin10x64 retarding system & many CMD in taskmanager"
LMMS RC5 doesn't crush unlike the previous RCs but retarding system In Win10x64 on i3/4GbRAM very hard! CPU usage reaches 90%. If expand LMMS branch In taskmanager may to see there are many running CMDLine processes. Is it right?

[2018-01-16 13:22] musikBear commented on #4111
It is even simpler here
http://www.color-blindness.com/coblis-color-blindness-simulator/
Just drop any picture
My suggestion is no good either.
Users with Blue-Weak/Tritanomaly wont see any difference at all

**Discuss:**
Wouldent this perhaps best be tackled with a **set** of CSS files?
I doubt it will be possible to retain a nice design, where all kind of color- impaired would see sufficient dif

[2018-01-16 13:26] tresf commented on #4117
Crush what exactly?  Can you show evidence that "Many running CMDLine process" have derived from LMMS?

[2018-01-16 13:30] raindropsfromsky commented on #4111
How about themes?

On 16-Jan-2018 18:52, "musikBear" <notifications@github.com> wrote:

[2018-01-16 13:41] tresf commented on #4116
The `carla-git` package is required for building with LMMS as described here: https://github.com/LMMS/lmms/wiki/dependencies-ubuntu#carla.

Unfortunately we don't have good Gentoo instructions, so those steps would be missed for a non-Ubuntu build machine.  Does that help?

[2018-01-16 13:42] tresf commented on #4116
Also, I think your `DCMAKE_PREFIX_PATH` syntax [is wrong](https://stackoverflow.com/a/31261919/3196753).  Can you try adding them all with semicolons separating them?

[2018-01-16 13:46] vrghost242 commented on #4116
Will try that, as I use Gentoo I'll have to find the git repository for the libraries?
(hoping I can find them, but also asking in general)

[2018-01-16 13:47] tresf commented on #4116
@vrghost242 `carla-git` is the name of the package from KXStudios and it contains some hooks that LMMS requires in order to talk to it.  I'll defer the question to the author -- @falkTX -- for how to compile `carla-git` from source.

[2018-01-16 13:51] vrghost242 commented on #4116
This was partially why I was asking, I installed it from carla-git, built from scratch hollowing the instructions in the install file. Do you know any files or anything it should be looking for, just so I can see if it is missing on my system or the system is looking in the wrong place.

[2018-01-16 13:59] tresf commented on #4116
Probably better to defer to @falkTX rather than speculating, but my notes have the following information:

* `carla/resources` contains PyQt scripts required for launch
* `libcarla_standalone2.so` is what our AppImage looks for

Here's a few PRs that might shed light on it: https://github.com/LMMS/lmms/issues/2429#issuecomment-348087032, https://github.com/LMMS/lmms/pull/4026

[2018-01-16 14:08] falkTX commented on #4116
`-DCMAKE_PREFIX_PATH=/usr/local/bin/carla-rack` is definitely wrong.
In order for lmms to find carla, you need to have it installed before and in a place where pkg-config can find it.
basically this command needs to return something useful:
`pkg-config --cflags --libs carla-standalone`

So maybe you're missing PKG_CONFIG_PATH env var.

[2018-01-16 14:12] tresf commented on #4103
@lukas-w if we do a quick file read on the DLL, we should be able to tell if it's 64-bit or not without the trial-and-error approach.  <https://stackoverflow.com/a/35418180/3196753>.

[2018-01-16 14:19] lukas-w commented on #4103
@tresf Thanks for sharing. That would work around the issue and I think we should implement it, but I suspect some deeper IPC bug causing this that may resurface, so I think this is worth investigating first.

[2018-01-16 16:48] vrghost242 commented on #4116
One (or all of you) where right. don't faff with DCMAKE_PREFIX_PATH for carla (but you might need to for wine)

So, if any other Gentoo users want to install LMMS from scratch (with Carla and Vestige)

To save your self time, emerge lmms (it is available but without Vestige and Carla), then just delete it, that way you get all the libs set up.
emerge --ask lmms

And bonus tip for Gentoo users, you

[2018-01-16 19:25] NETMANSKY commented on #4117
![12](https://user-images.githubusercontent.com/14283492/35007936-109bd9e8-fb0c-11e7-8b0c-28add179ddb4.png)
![13](https://user-images.githubusercontent.com/14283492/35007937-10e86dc6-fb0c-11e7-8dc4-b838e2bc14f4.png)
![14](https://user-images.githubusercontent.com/14283492/35007938-111a42ec-fb0c-11e7-8fa0-76c61c1de875.png)

[2018-01-16 19:28] NETMANSKY commented on #4117
![15](https://user-images.githubusercontent.com/14283492/35008143-9be919ca-fb0c-11e7-99f8-50b1a2889be8.png)

[2018-01-16 19:31] NETMANSKY commented on #4117
As you see LMMS playback. In prevouse RC it wasn't

[2018-01-16 19:31] NETMANSKY commented on #4117
CMDlines

[2018-01-16 22:31] Calendis opened #4118 "1.2.0 RC5 AppImage crashing on startup"
Whenever I open the AppImage obtained from the website, it loads the splash screen and crashes, never displaying the main LMMS UI. I ran from a terminal, and it gave this output. I shouldn't be missing any dependencies, because AppImages don't have dependencies, right?

`Carla does not appear to be installed.  That's OK, please ignore any related library errors.
/tmp/.mount_lmms-1hqlQgJ/AppRun: li

[2018-01-16 22:33] Calendis commented on #4118
open /dev/snd/seq failed: Permission denied cannot open stands out to me, but I am not the developer so I am only guessing. I am running on a Chromebook Acer 11 in a Ubuntu Zesty chroot. Installing LMMS from the repositories or the KXStudio repositories works fine

[2018-01-16 22:38] tresf commented on #4118
Can you please confirm this is a duplicate of  https://github.com/LMMS/lmms/issues/4094#issuecomment-356172525

[2018-01-16 22:48] Calendis commented on #4118
Ah, my bad. I hadn't used GitHub in so long I forgot to go through the ettiquette of searching for my bug first! :s
I am quite sure this is a duplicate.

[2018-01-17 06:32] lukas-w commented on #4118
Closing

[2018-01-17 06:32] #4118 closed

[2018-01-17 06:44] raindropsfromsky opened #4119 "BUG: The "Info" button does not work with the Controller Rack button in the 2nd row"
The "i" button does not work with the Controller Rack button in the 2nd row.
(It works with all 6 other buttons. Thus, technically this is a bug, but not worth much.)

In any case the "Info" button seems to be redundant: It does not add any value!
It just shows a tooltip when the mouse is hovered over buttons.
Well, that same tooltip is shown even without clicking on this button first!

It does no

[2018-01-17 06:52] PhysSong commented on #4119
Could you add a screenshot for this issue?

[2018-01-17 06:56] #4052 closed

[2018-01-17 06:56] #4095 closed

[2018-01-17 07:27] raindropsfromsky commented on #4119
Well, as the examples below show, there is no consistency in results:
1. In some controls, there is a ban symbol, and no tooltip.
2. In others, there is a ban symbol, but the tooltip is displayed.
3. In yet others, the tooltip is shown (which is shown even without clicking on the "i" button).

**After clicking on "i" button:**
![image](https://user-images.githubusercontent.com/9047168/35030158-12f

[2018-01-17 08:41] raindropsfromsky commented on #4119
BTW there is yet another problem:
Normally, after clicking on the "i" button, we can hover the mouse over multiple controls, and it goes on showing their tooltips.  But if I hover over the notes, LMMS comes out of the "info" mode automatically.

![image](https://user-images.githubusercontent.com/9047168/35030753-3c4b9a36-fb86-11e7-9fb7-9dc7913ed319.png)
There may be other controls that behave in t

[2018-01-17 09:06] Sawuare commented on #4119
I think we should remove the `What's this?` system because it's not fully implemented and has bugs.
Tooltips and documentation would be sufficient for teaching users.

[2018-01-17 11:26] raindropsfromsky opened #4120 "BUG: The tension parameter does not have the expected effect on the curve"
I thought that a higher "Tension" in automation curve should make it look more like linear progression, while a lower tension should allow a smoother transition between control points. Secondly, I expected this change to occur throughout the length of the curve.

But this is not so, as can be seen from the following samples:
This is the graph with the lowest tension:
![image](https://user-images.g

[2018-01-17 14:34] zonkmachine commented on #4109
Can you please add a description to this issue?

[2018-01-17 14:38] zonkmachine commented on #4112
I believe this is a duplicate of https://github.com/LMMS/lmms/issues/3306

[2018-01-17 14:38] #4112 closed

[2018-01-17 14:54] tresf commented on #4109
Nope, but we do offer an `AppImage`.

[2018-01-17 14:54] #4109 closed

[2018-01-17 14:56] tresf commented on #4109
For those wondering, they're really competing technologies.  More here:

https://www.reddit.com/r/linux/comments/4kxbqp/appimage_snaps_flatpak_pros_and_cons_comparison/

[2018-01-17 15:01] tresf commented on #4120
In a quick unit test, it seems to ignore the last two points.  Is that what you're observing?  The last point I believe is intentional, so I'd guess this is a simple off-by-one coding mistake.

[2018-01-17 15:12] zonkmachine commented on #4028
Closing out from lack of response.

@rdrpenguin04 Please reopen if you can recreate this issue on lmms-1.2.0
https://lmms.io/download/#windows

[2018-01-17 15:12] #4028 closed

[2018-01-17 15:14] raindropsfromsky commented on #4120
No on the whole I see a little movement only in the left (starting of the timeline). The rest of the curve remains more or less unchanged.

Secondly, the curve behaves exactly opposite compared to what I expect: More tension actually relaxes the curve.

Can I attach a video here?

[2018-01-17 15:20] tresf commented on #4119
Tooltips and documentation would be sufficient for teaching users.

I wholeheartedly agree with this.  Outside of LMMS, I've never used a help system like this before.

[2018-01-17 15:25] tresf commented on #4117
@NETMANSKY thanks for sharing.  Do you have your VSTs located inside a folder with non-ANSI characters?  This may be a duplicate of #2662.  The `Console Window Host` would then be a bug with the way the path is fed into LMMS.  Can you tell us the name of the folder that contains the VSTs?

[2018-01-17 15:40] zonkmachine commented on #3499
This should have been fixed in lmms-1.2.0-rc5 (or earlier). Closing.
@Floffah Please test the latest beta version of the new stable 1.2 here:
https://lmms.io/download/#windows

[2018-01-17 15:40] #3499 closed

[2018-01-17 16:18] raindropsfromsky commented on #4120
I created a random shape, and then varied the tension.
The yellow dotted line shows the original curve at tension=0.
Note that there is no difference in 2-3, 3-4, 4-5, 5-6 and 8-9 segments at all. (WHY??)
![image](https://user-images.githubusercontent.com/9047168/35053097-3d054208-fbcf-11e7-95b1-395edcd961a7.png)
There is a dramatic difference in segment 1-2 (at left).
In this case there is some c

[2018-01-17 16:25] raindropsfromsky commented on #4120
Bingo! I was thinking of InkScape when I made the observations.

In InkScape, the handles are not only made longer to simulate the increased tension, but the handles are turned toward the next/previous control point also. Thus as the tension is increased, the curve more and more resembles the linear progression curve.

[2018-01-17 16:33] tresf commented on #4120
Probably a good to-do for @codythecoder, related #2466.  Thanks for reporting @raindropsfromsky.

[2018-01-17 16:43] DomClark commented on #4117
The `Console Window Host` is actually a child process of `RemoteVstPlugin(32).exe` (or `RemoteZynAddSubFx.exe`) - the Windows Task Manager doesn't show the relationships in that much detail, but here's a screenshot from Process Hacker:
![conhost](https://user-images.githubusercontent.com/1873225/35053425-f6ff0f32-fba1-11e7-8cc8-032ec3da36f1.png)
The purpose of the process is to provide console han

[2018-01-17 16:44] raindropsfromsky commented on #4120
![image](https://user-images.githubusercontent.com/9047168/35054687-34a366b8-fbd3-11e7-942f-78e711ac183b.png)

I tried to add tangents (handles) with their lengths proportionate to the tension.
- The pale yellow arrows show handles for tension=0.
- The red arrows show handles for tension=1.

They do not seem to follow either of the two rules:
1. When tension increases, the force increases
2. When

[2018-01-17 16:44] musikBear commented on #4120
just a comment
Changing these curves influence old projects

[2018-01-17 16:46] tresf commented on #4120
Yes, any bug fixes need to carefully consider backwards compatibility, but we're not in the business of preserving bugs, so please save the comments for the PRs and the actually testing.

[2018-01-17 17:00] Sawuare commented on #4119
I will remove it. What branch should I target, `master` or `stable-1.2`?

[2018-01-17 17:02] tresf commented on #4119
@Sawuare it should be properly discussed I think, but `master`.

[2018-01-17 18:14] NETMANSKY commented on #4117
@tresf As I understood LMMS 1.2.x support recursive view of folder. This feature allows to place VSTs in a different folders of parent folder. My parent VST folder is %HOME%vst\... All characters created in Latin code but not Cyrillic or another code. Home folder name has Latin characters too.

[2018-01-17 18:16] yosbelms commented on #4109
@tresf What about to have both? Is it hard to maintain both?
I know an AppImage is available but regarding the increasing Flatpak popularity to the point that LinuxMint now supports it out of the box, I think it should be taken in consideration

[2018-01-17 18:20] NETMANSKY commented on #4117
Similar projects in Reaper don't slow down my system. Yeah, they launching longer but not overloading :(

[2018-01-17 18:51] tresf commented on #4109
@yosbelms we'd welcome a PR with this functionality but if that doesn't happen we won't be dedicated any time to this in the near future.  In regards to the effort someone would be taking on, please see https://github.com/LMMS/lmms/pull/3688.

In regards to popularity, that will change with time and we'd be happy to reopen this when most distros have chosen a stance on the underlying technology.

[2018-01-17 18:54] tresf commented on #4109
Tagging @probonopd incase he has some thoughts on the topic.

[2018-01-17 19:52] Naruto0 commented on #3660
I can do that.

[2018-01-17 22:07] #3660 closed

[2018-01-18 09:14] raindropsfromsky opened #4122 "The Instrument window GUI needs refactoring"
The layout of the **instrument window** does not reflect its functionality, in several places.
This can be confusing to new users.

The layout can be streamlined as follows:

## Part-1: Relocation of the filter section:
In the instrument window, the sound processing is as follows:
![image](https://user-images.githubusercontent.com/9047168/35087304-c483372c-fc55-11e7-935d-5c7f8b6884db.png)

Essenti

[2018-01-18 09:50] Spekular commented on #4122
The keyboard doesn't just change the base note, it can also be played with
mouse and displays what note is being played if another input is being used.

Your proposed logo doesn't represent what the final tab is intended to be
(miscellaneous options) and would not translate well to the small size the
icons are at.

Finally, while your suggestions may or may not be valid (I won't weigh in
here), I

[2018-01-18 09:57] Spekular commented on #4122
Actually I suppose I've already weighed in on this, in my previous message
and I'll add on to that:

The envelope settings are surrounded by a border. The selection between
volume/cutoff/resonance is inside this border. The filter selection is
inside a separate border. This signifies that these are two separate
subsections of the tab, hence there is no implication that three separate
filters would

[2018-01-18 10:06] raindropsfromsky commented on #4122
This can be done even after shifting the keyboard section. Finally, the main use of the keyboard is to match the pitch with another instrument.

At present, there is no other part of the window that needs to be viewed (like viewing two separate controls in a dashboard together to take decisions) along with the keyboard.

I also felt that. Well, my point was not about the symbol _per se_. It should

[2018-01-18 10:08] raindropsfromsky commented on #4122
Another logical thing to do is first select a filter and then apply env/LFO to it; not first apply env/LFO to "something" and then define what that "something" is.

[2018-01-18 17:07] Small-Develop opened #4123 "Problem with the Vestige to load external presets"
They do not load the sounds, when loading a .fxb (set of presets) the sounds are not loaded. and the set of available sounds is not shown! I have tried it in the stable version lmms-1.1.3-win32.exe and in the version lmms-1.20-rc5-win64.exe

[2018-01-18 17:17] tresf commented on #4123
@Small-Develop can you provide the name of the VST plugin you're testing with?

[2018-01-19 09:16] vrghost242 commented on #4108
So tried this, seemed to work (thank you Metalhead33), but now getting

`[ 66%] Building CXX object plugins/vst_base/CMakeFiles/vstbase.dir/VstPlugin.cpp.o
/mnt/stripe/media/lmmsbuild/lmms/plugins/vst_base/VstPlugin.cpp:41:33: fatal error: X11EmbedContainer.h: No such file or directory
 #  include "X11EmbedContainer.h"
                                 ^
compilation terminated.
make[2]: *** [plugin

[2018-01-19 15:11] zonkmachine commented on #3370
This sounds like a Qt bug.

@follower What version of macOS/Qt do you see this issue with?

[2018-01-19 15:54] zonkmachine commented on #3073
I believe this was fixed for 1.2 in 44f1d3df85afba439706ec01cc2b4b877a368001.

[2018-01-20 07:15] vrghost242 opened #4124 "Build fatal error: X11EmbedContainer.h: No such file or directory"
So been trying to get lmms to build on Gentoo, with Carla etc, and it has been more than a bit of a challenge, but soon I'll have a very cool DAW, potentially with YOUR help :) (See what I did there:) )

Just bit of background, had to install vine-2.20 vanilla on Gentoo first, then had to apply a hack the CMakeLists.txt for vst_base then FindWine.cmake (this thread if someone has the same issue on

[2018-01-20 07:26] vrghost242 commented on #4124
Not certain its a good fix, but seems to work
Just copy the file from ./src/3rdparty/qt5-x11embed/src/ to /plugins/vst_base/

It builds, not certain how well it will work though :)

[2018-01-20 10:06] #3073 closed

[2018-01-20 11:38] zonkmachine commented on #3762
#3649 is now merged.

[2018-01-20 13:19] zonkmachine commented on #2213
@ycollet Can you please try this with the latest lmms-1.2 release candidate? (currently rc5)

So it's an intermittent issue.

[2018-01-20 15:35] zonkmachine commented on #3824
@karmux [Game Music Emu 0.6.2 has been released](https://bitbucket.org/mpyne/game-music-emu/commits/67192a0dc496c7fc7c84d0888248e332b4349454). Do you think you could look into updating FreeBoy again?

[2018-01-20 15:45] tresf commented on #3824
It's a submodule now, since #3946.

[2018-01-20 15:47] zonkmachine commented on #3824
So it needs testing in master.

[2018-01-20 16:15] zonkmachine commented on #4073
Yes, but not in `Note::Note()` or `Note::setKey()` where qBound is used to limit the register.

Example:
[const int NumKeys = NumOctaves * KeysPerOctave;](https://github.com/LMMS/lmms/blob/fbfcb43aeb31595433e72cd960d8b807f1ba85ea/include/Note.h#L74)

NumOctaves = 9
KeysPerOctave = 12

`Note::setKey()` max value is NumKeys - 1 which is ( ( 9 * 12 ) - 1 ) = 107.
The top 20 MIDI keys are set to 107.

[2018-01-20 16:29] zonkmachine commented on #4072
This sound like what you would get on lmms-1.1.3 with a file larger than 100MB. The warning would be issued to the terminal and missed if you didn't start lmms from the command line.

@Elias-Developpement Was this sample over 100MB in size?
What version of lmms are you using?

[2018-01-20 17:37] zonkmachine commented on #2948
Back to the original issue.

This bug is on an old rc build and with the old MemoryManager. Closing.
@GNUMariano Please try the latest beta release, currently lmms-1.2.0-rc5, and reopen this issue if you still see this.

[2018-01-20 17:37] #2948 closed

[2018-01-21 06:42] PhysSong commented on #4076
See https://github.com/LMMS/lmms/issues/1857#issuecomment-318872278.

What do you mean there?

[2018-01-21 06:48] PhysSong commented on #4076
Why do you think the design of `MidiEvent` is funky? When you say "funky", there should be a reason for that.

Well, I think this can be a problem with conventions and consistency. Does the new suggestion have any merits or needs?

[2018-01-21 06:51] PhysSong commented on #3735
@gi0e5b06 What do you want to say with this issue? Do you think the visual should be better?

[2018-01-21 06:59] PhysSong commented on #3755
I guess https://github.com/gi0e5b06/lmms/commit/c2dcfa9df1f5c551d0788e04cf04ad44a171e51d and https://github.com/gi0e5b06/lmms/commit/cfc32d9f5a37b5099ec50c1d2c5c37ba1461da9d.
@gi0e5b06 Is it okay to pull your commits and open a pull request?

[2018-01-21 07:37] PhysSong commented on #4124
@vrghost242 Which branch you're building from? Is your branch up to date?

[2018-01-21 10:39] zonkmachine commented on #3920
So something like:

[code]

[2018-01-21 11:51] zonkmachine commented on #3918
@DomClark Can you please open an issue with JUCE?
https://github.com/WeAreROLI/JUCE
I wouldn't know how to word it.

Also, bumping helm @mtytel

[2018-01-21 12:07] musikBear commented on #3735
@PhysSong
when i look at the pictures, i can see issues.
In The top one, the length of the beat simply causes the display to be very condensed. It is difficult to insert events, without errors.
That gives me this idea:
If the B&B *input area* was scrollable, then there could be same-size event-boxes, in-dependent of  the length of the actual beat.
Not only would it look better, but it would also m

[2018-01-21 13:18] coreybruce opened #4125 "rpmalloc build error"
I get this error when trying to build the latest LMMS

`-- Configuring done
CMake Error at src/3rdparty/rpmalloc/CMakeLists.txt:3 (add_library):
  Cannot find source file:

    rpmalloc/rpmalloc/rpmalloc.c

  Tried extensions .c .C .c++ .cc .cpp .cxx .m .M .mm .h .hh .h++ .hm .hpp
  .hxx .in .txx

CMake Error: Cannot determine link language for target "rpmalloc".
CMake Error: CMake can not determi

[2018-01-21 13:20] Umcaruje commented on #4125
please run `git submodule update --init --recursive` this should fix your issues.

[2018-01-21 13:21] Umcaruje commented on #4124
Did you run `git submodule update --init --recursive`?

[2018-01-21 14:44] zonkmachine commented on #3574
@Lechetunes Can you still reproduce this on 1.2.0-rc5 ?
If so, can you zip and upload a failed exported file here?

[2018-01-21 14:58] zonkmachine commented on #3689
Bump flanger overlord @curlymorphic

[2018-01-21 15:10] zonkmachine commented on #3297
FluidSynth is now 1.1.9:
https://github.com/FluidSynth/fluidsynth/releases/tag/v1.1.9

@Umcaruje I believe you could reproduce this. Care to do a bisect?

[2018-01-21 15:13] gi0e5b06 commented on #4076
My branch has all of these issues fixed.

0a. #1857 So this is another one of these very old bugs. A major one but easy to fix.
0b. Midi pitchbend should be a value between 0 and 16383. Also it should be stored in 2x7bit LE.
1. I used "funky" insead of "bad" because of @tresf :) Anyway, MidiEvent should follow the Midi standard. Internal data should be easy to write to a midi byte stream.
4+5. I'm

[2018-01-21 15:19] gi0e5b06 commented on #3735
@PhysSong Look at my screenshot. Ugly and unpractical.
@musikBear I totally agree with making the area scrollable and adding a timeline.

[2018-01-21 15:27] Umcaruje commented on #3297
I have finals approaching and an exam tommorow, so I won't be able to bisect for some time.

[2018-01-21 15:37] gi0e5b06 commented on #3755
@PhysSong

1. Free software. Reuse the code the way you want. It's working (but it is also not finished because it doesn't support things like cover, lyrics, etc).

2. Not coded yet. Libsndfile has support for a small number of tags. Needs to map/iterate them calling the function sf_set_string()

[2018-01-21 15:42] coreybruce commented on #4125
Thanks but I ran into another issue

[code]

[2018-01-21 16:03] zonkmachine commented on #3297
OK. I bumped it to 1.2.0 so it stays in focus.

[2018-01-21 16:27] Umcaruje commented on #4125
run `sudo apt-get install wine-dev libwine-dev libwine-dev:i386 gcc-multilib g++-multilib libqt5x11extras5-dev qtbase5-private-dev libxcb-util0-dev libxcb-keysyms1-dev`

[2018-01-21 16:32] zonkmachine commented on #2774
Yes. They look like duplicates.

[2018-01-21 17:30] vwren commented on #3920
This should also be done for midiOut, I'm thinking, to ensure that all buffers are freed before closing.

[2018-01-21 17:46] zonkmachine commented on #3920
Yes.

PS. I'm not hacking this by the way. I'm not anywhere near a Windows.

[2018-01-21 18:22] zonkmachine commented on #2047
@PhysSong Since it looks like you've basically solved this, maybe bump it to 1.2.0 ?

[2018-01-21 18:40] zonkmachine commented on #3793
No response, closing!

@ImirTournevis Please reopen if this is still an issue.

[2018-01-21 18:40] #3793 closed

[2018-01-21 21:23] zonkmachine commented on #3005
Sounds like it could be related to https://github.com/LMMS/lmms/issues/3919

[2018-01-22 00:36] zonkmachine commented on #2814
@DarkenLX We're now on RC5 ;)
https://lmms.io/download/#windows

I'm closing this issue as it's most likely fixed. https://github.com/LMMS/lmms/issues/3049 looks like the same crash.
Please reopen if you can replicate this crash on a RC5 or later.

[2018-01-22 00:36] #2814 closed

[2018-01-22 01:23] zonkmachine commented on #2913
Commit fe5057063bd079a677cae1c99b583b45bd6d72bc in https://github.com/LMMS/lmms/pull/3296 addresses studio controllers.

[2018-01-22 11:43] zonkmachine commented on #3507
I believe this was fixed in #3773

[2018-01-22 12:51] dalanicolai opened #4126 "Only drumsynth samples provided by Fedora system repo's"
I am not sure to where to address this "bug". Anyway I'll first try it here...
So I installed LMMS on Fedora 27 from the standard repositories, however this installation provides only the 'drumsynth' directory as samples. When I installed LMMS in Windows it came with a bunch of other directories. I found no easy/straightforward way to obtain the other samples for fedora (besides just copying them

[2018-01-22 13:46] Sawuare opened #4127 "Sweeping active Equalizer bands generates audio artifacts."
Sweeping active Equalizer bands generates audio artifact (clicks & pops, DC offset), especially in the range near the minimum frequency.
Sweeping speed affects the intensity of the artifacts, and manual sweeping is more likely to generate them.

[Equalizer audio artifacts.zip](https://github.com/LMMS/lmms/files/1652208/Equalizer.audio.artifacts.zip)

[2018-01-22 13:55] zonkmachine commented on #4126
Thanks for reporting this!

This sound like a Fedora package issue. I suggest you report this with Fedora.
https://apps.fedoraproject.org/packages/lmms/

If you want to see what the full package should look like you can try the new lmms-1.2 Beta AppImage. https://lmms.io/download/#linux

[2018-01-22 14:36] Sawuare commented on #4092
I did this and the equalizer worked correctly and I did not face this issue.
@emptyusernameempty Please post an instrument preset that has this issue.

[2018-01-22 15:05] Sawuare commented on #3186
All LMMS audio should go through the master channel.
For previewing, master channel effects can be disabled by a simple click.

[2018-01-22 16:15] Sawuare commented on #4119
@tresf What aspect should be discussed? 🤔

Some info:
On `master`, searching for `WhatsThis` gives 121 results in 19 files, mostly `setWhatsThis()` and `QWhatsThis::showText()` (99 translatable strings), and some code for the functionality itself and its toolbar button.

[2018-01-22 16:17] tresf commented on #4119
@Sawuare, it's something that we should run past the #devtalk channel first I think.

[2018-01-22 17:56] tresf commented on #3277
@zonkmachine we'd have to hand-craft a new file from existing files to do it that way.  I think #4075 is pretty close to supporting this without any crazy converting.

[2018-01-22 19:15] emptyusernameempty commented on #4092
Hey I found out it was a older issue a few days ago, it has been fixed. :-)

On Jan 22, 2018 14:36, "Hussam Eddin Alhomsi" <notifications@github.com>
wrote:

[2018-01-22 19:20] #4092 closed

[2018-01-22 22:57] DomClark commented on #3918
Ah sorry, I completely forgot about this! I'll open an issue there soon.

[2018-01-23 03:32] PhysSong commented on #4127
Sounds similar to #3527. Tagging @curlymorphic as the author of the Eq plug-in.

[2018-01-23 07:14] NETMANSKY commented on #4117
Continued now! I launch LMMS by CMD to kill remotevst before and after work because sometime they hanging in memory after LMMS is closed. And now in work LMMS broke left channel and after I closed LMMs there appeared this picture (attached). LMMS hanged...
![16](https://user-images.githubusercontent.com/14283492/35262551-2b56209e-0026-11e8-94dd-71f97f994dbd.png)

[2018-01-23 11:48] #3507 closed

[2018-01-23 13:16] zonkmachine commented on #3277
http://polyphone-soundfonts.com/en/
https://github.com/davy7125/polyphone

From the Polyphone man page:
`sf2, sf3, sfz (import / export) and sfArk (import only) formats are supported. Conversions are possible via command lines.`

I don't see a clear connection between #4075 and .sfz.

[2018-01-23 13:41] dalanicolai commented on #4126
Thanks Oskar! I will have a look at the full package and if necessary
report the issue to fedora...

On 22 January 2018 at 14:55, Oskar Wallgren <notifications@github.com>
wrote:

[2018-01-23 13:52] #3234 closed

[2018-01-23 15:48] musikBear commented on #3186
@Sawuare nahh, you cant expect a newbe to realize that he need to disable master-chain FX-tab, it also really cumbersome and non-intuitive.
*Perhaps* it could be defended, that is the **MyPreset** sidebar was opened, Master channel was automatically without FX-train, but some kind of visual warning should be shown. It would also need an auto-shut, of the sidebar, if user press play... .. .

[2018-01-23 16:14] zonkmachine commented on #2766
@circuitfry Can you try again with the latest release, currently 1.2.0-rc5 ?
There's been updates to compiling on Windows.

[2018-01-24 01:03] coreybruce commented on #4125
`Note, selecting 'wine1.6-dev' instead of 'wine-dev'
E: Unable to locate package libwine-dev
E: Unable to locate package libwine-dev:i386`

Just letting you know these packages don't exist, thanks for the help I got it compiled!

[2018-01-24 01:08] #4125 closed

[2018-01-24 10:57] lukas-w commented on #4125
@coreybruce These package do exist. You're probably missing
[code]
This is described in the wiki: https://github.com/LMMS/lmms/wiki/dependencies-ubuntu#vst

[2018-01-24 14:38] zonkmachine commented on #588
@softrabbit Can you replicate this on 1.2 ? I believe this could possibly be an instance of https://github.com/LMMS/lmms/issues/3555 which has been fixed. There were other command line render crashes fixed too in 1.2 .

[2018-01-24 15:01] zonkmachine commented on #4104
Related: https://github.com/LMMS/lmms/issues/1882

[2018-01-24 15:25] tresf commented on #1882
I'm closing this as fixed by #1915.  If it resurfaces, we'll track it in #4104, which is a similar bug but written against a more modern software release.  Thanks @zonkmachine for linking the two. :)

[2018-01-24 15:25] #1882 closed

[2018-01-24 15:46] vlad1777d commented on #3277
@Mark-Agent003 , Carla supports loading .sfz, it uses libsfz library from Linux Sampler project.

I think, that it would be better to use Carla or to embed Linux Sampler into LMMS rather than to make separate .sfz player.

[2018-01-24 20:39] zonkmachine commented on #2090
@Coburn37 Yes. I suspect you had an earlier beta version 1.0.93 (1.1.0-RC3) that wasn't removed before installing lmms-1.1.3 . I'm closing this.
Please reopen if you still see this bug on a later version, 1.2.0-RC5 (or later).
https://lmms.io/download/#windows

[2018-01-24 20:39] #2090 closed

[2018-01-24 23:02] zonkmachine commented on #3285
No response. I'm closing this.
@amsynthdotcom Try a recent version of Wine. 3.0 was just released and looks like a good candidate. I can't replicate the issue on wine >= 2.0 .
Please reopen if you can replicate this issue on a recent Wine release.

[2018-01-24 23:02] #3285 closed

[2018-01-25 14:36] gi0e5b06 opened #4129 "Crash KickerOsc"
[code]
[test-kickosc.zip](https://github.com/LMMS/lmms/files/1664329/test-kickosc.zip)

[2018-01-25 18:21] Mark-Agent003 opened #4130 "File Browser Font Size"
This was originally included in #4085, but was removed so that that PR could focus on the highlights.
My proposal is that the `font-size` in the file browser be changed to 14px. This is a simple change that goes a long way. The file browser right now uses a 12px font size, and looks too small and tightly packed. Increasing the font size looks cleaner and adds a lot towards visibility.
Here are bef

[2018-01-25 18:25] zonkmachine commented on #4053
Also:
Which OS are you on?
What version of lmms? (rc number)

[2018-01-25 19:23] Umcaruje commented on #4130
l would suggest using a relative unit like em because of hidpi support

On 25 Jan 2018 19:21, "Mark-Agent003" <notifications@github.com> wrote:

This was originally included in #4085
<https://github.com/LMMS/lmms/pull/4085>, but was removed so that that PR
could focus on the highlights.
My proposal is that the font-size in the file browser be changed to 14px.
This is a simple change that goes a lo

[2018-01-25 21:01] Mark-Agent003 commented on #4130
@Umcaruje, font size only supports px and pt (at least for Qt)

[2018-01-25 21:24] tresf commented on #4130
Yeah, I don't see a good solution to this from Qt.  Here's an article sort-of explaining it... <http://doc.qt.io/qt-5/scalability.html#calculating-scaling-ratio>

[2018-01-25 21:56] zonkmachine commented on #2815
No response, closing!
@knockshore Please reopen if you still see this on a later build, lmms-1.2.0-rc5 or later.

[2018-01-25 21:56] #2815 closed

[2018-01-26 06:28] PhysSong commented on #4129
Can't reproduce crash, either on `stable-1.2` nor `master`. I can't even open the original project correctly because of additional `notehumanizing` and `noteduplicatesremoving`.
After removing them, I was able to open the project. I played this project, but LMMS didn't crash.

`this=0x0` says the `NotePlayHandle`(`_n`) doesn't have a valid plug-in data. For Kicker, it may happen if and only if `ki

[2018-01-26 12:57] zonkmachine opened #4131 "Automatically check for latest lmms version"
Make LMMS look for the latest release and inform the user if the package is outdated and no longer supported. This would help the user in trouble shooting and possibly take some load off the issue tracker/support channels.

Add an icon like :warning: with a descriptive text to the **About** window if there is a later release than the one used.

[2018-01-26 14:25] tresf commented on #4131
This was discussed quite a bit on the mailing list in in 2014.  I feel most of the points made are still valid.

http://linux-multimedia-studio-lmms.996328.n3.nabble.com/Roadmap-td6750.html

[2018-01-26 15:48] #3449 closed

[2018-01-26 17:12] zonkmachine commented on #3967
Upstream report here: https://sourceforge.net/p/zynaddsubfx/bugs/166/

[2018-01-26 17:39] musikBear commented on #3270
Zoom Tool (currently) Left Mouse Button = 200% and Right Mouse Button = 50%
Not a huge deal, but is this normal?

idk if its 'normal' but isent it intuitive? At least in my 🤡 head, i think:
making bigger == most common, so must be most common mouse-press -eg left-mouse. .. ?
Just feels 'weird' to magnify with right-mouse

[2018-01-26 17:48] musikBear commented on #4130
One thing i like to add.
If the wideness of the list-bar, is too narrow for the *whole* preset-name to be shown, a strange drop in font-size happens:
![fontsizetowidth](https://user-images.githubusercontent.com/6662066/35453149-6bf94c3e-02c9-11e8-80b5-bba879195d5e.JPG)

sufficient width : green
insufficient width : red

[2018-01-26 18:20] zonkmachine commented on #4131
Right. diizy suggested a `check for updates` button and that would work. Another way would be to just check if the date of the release if over something like one year old, and then suggest to (manually) look for updates.

Interacting with the net isn't my cup of tea but in my mind I would do something like:
 - Keap a list of the latest branches with the latest release in each of them.
 - Check aga

[2018-01-26 22:02] DouglasDGI opened #4132 "Connect to multiple Automation TCOs simultaneously"
Oftentimes, I have a very large number of automation clips on a single track, and I need multiple instruments attached to each one.  For example, I may need to automate the pitch of most, but not all of the instruments.

The issue is, each time I create a new instrument that needs that pitch automation (or any other automation, I'm just using pitch as an example), I need to Ctrl+Click+Drag the kno

[2018-01-26 23:17] zonkmachine commented on #3967
Fixed upstream of upstream but the submodule submodule needs to be synced first.

[2018-01-26 23:32] Umcaruje commented on #3990
I believe this is not a duplicate of #3631

It's an issue that happens to many users on linux. Users' VST plugin directory gets set to their home folder and LMMS hangs because of the magnitude of the files it needs to scan. I think there's some place in the config manager where we default to the home directory.

[2018-01-27 14:00] raindropsfromsky opened #4134 "It is difficult to auto-detect the LMMS window elements"
The details of the bug are provided here:
https://github.com/Snipaste/feedback/issues/796

The summary is as follows:
When the system DPI is larger than 100%, the beta version of LMMS works without any problem with UI Automation, but has issues with MSAA (Microsoft Active Accessibility).

The UI framework needs work to correct this issue. (HiDPI efforts: LMMS/lmms#2510)

@tresf please pardon if th

[2018-01-27 14:04] karmux commented on #3270
For me mouse button actions on these comboboxes do exactly how they should do in 1.2 and master.

[2018-01-27 14:26] zonkmachine commented on #1182
I close this bug as a duplicate of https://github.com/LMMS/lmms/issues/2774

[2018-01-27 15:56] breebee commented on #1387
@algorev
Looks like the only solution for all vsts in your daw to really do micro tonal music is to use bitwig studio and manually modify each note in the midi editor to pitch shift to the correct frequency. Alsit is only going to be a 2 decimal modification so not as precise as you might like. Otherwise if your using a mac logic pro has a generic global tuning but last time i checked it was very

[2018-01-27 19:16] zonkmachine commented on #890
This was added for the Qt5 builds in https://github.com/LMMS/lmms/pull/3329

[2018-01-27 19:16] #890 closed

[2018-01-27 19:32] raindropsfromsky opened #4135 "In Piano Roll Editor, the "Mark current scale" feature is grayed out; lines are too faint."
If I select a scale in the Piano Roll Editor using the ![image](https://user-images.githubusercontent.com/9047168/35475531-2233c9aa-03c6-11e8-8783-04be45e62048.png) button, and then right-click on the piano keys, I find that the "Mark current scale" option is grayed out.
![image](https://user-images.githubusercontent.com/9047168/35475543-5dfc0b28-03c6-11e8-8e88-de1902697872.png)

If I use the **Ma

[2018-01-27 20:06] zonkmachine commented on #4135
I believe this is a duplicate of https://github.com/LMMS/lmms/issues/3651

[2018-01-27 20:24] NETMANSKY opened #4136 "LMMS as VSTi"
Hi!
Long time I thought about how to link LMMS and some Daw. In practice it realised by Rewire but LMMS developers answered me it's unrealizable. Well, but there is another way to realise this idea - design special plugin to launch LMMS as VSTi in different hosts seams FL launching. In my opinion it's a good idea. Who supports this approach?

[2018-01-28 02:50] raindropsfromsky commented on #4135
Well, only the later half is duplicate.

I recorded two observations here, and the first half is still valid (the menu option itself is grayed out).

[2018-01-28 03:06] raindropsfromsky commented on #3651
I will liken this to the children's books for practicing the writing of alphabets.
In those books, they have to move the pencil along a dashed line.
In other words, the dashed curved line is to guide them.

In LMMS, the marked notes serve the exact same purpose (of guiding the user where to place his notes).

If we look at those books, they have black dashed line on white pages (highest contrast).

[2018-01-28 03:16] raindropsfromsky commented on #3651
Here are some combination of white and gray lines (both **solid** and **fine dashed**).

![image](https://user-images.githubusercontent.com/9047168/35478553-50c47fa4-0406-11e8-9e45-8efc44e6fc5f.png)

![image](https://user-images.githubusercontent.com/9047168/35478558-5f65f614-0406-11e8-829d-d36f0bdcfac5.png)

![image](https://user-images.githubusercontent.com/9047168/35478560-6f035ec2-0406-11e8-88

[2018-01-28 09:41] lukas-w commented on #1182
@zonkmachine I think these are separate issues. #2774 is about `lmms.exe` still running after exit, while this one is about `RemoteVstPlugin.exe` still running.

[2018-01-28 13:35] raindropsfromsky opened #4137 "Does the Piano Roll Editor have "volume control" or "velocity control"?"
In LMMS 1.2.0 RC5, the Piano Roll Editor has **Velocity control** rather than **volume control**. ([ref](https://en.wikipedia.org/wiki/Keyboard_expression#Velocity_sensitivity))

But not instruments are velocity-sensitive. According to Wikipedia:
- Acoustic pianos, such as upright and grand pianos, are velocity-sensitive—the faster the key strike, the harder the hammer hits the strings.
- Baroque-

[2018-01-28 13:52] Luraktinus commented on #4094
i also have this error
Debian 10

[2018-01-28 14:24] Mark-Agent003 commented on #4137
Are you saying that instead of the piano roll having velocity-sensitivity, it should have note-wise volume?

[2018-01-28 14:30] Spekular commented on #4137
I'd imagine the term "velocity" originally comes from velocity when playing
something like a piano, but it has a separate meaning in the context of a
DAW*. I don't think it needs to be relabeled, especially not if you're
suggesting some instruments have "displacement", others "after touch" and
yet others "velocity".

That said I do find it misleading that it falls back to just being a volume
contr

[2018-01-28 14:43] raindropsfromsky commented on #4137
I did not say that.

But it is my understanding that the sensitivity to velocity, OR after-touch pressure, OR displacement are the properties of the instrument; and NOT of the musical piece.

Therefore it should be adjustable in the Instrument window; not in Piano Roll Editor.

To give one example, if the same musician plays the same piece with identical expression on two different instruments, th

[2018-01-28 14:49] Umcaruje commented on #4137
I was the one who made this change. If you look at the MIDI standard, notes have Velocity, not volume, when you record something with your MIDI keyboard you're recording it's velocity, not the volume. LMMS has a bad habit in the code where Velocity = Volume and that is simply not the case.

Other DAWs call it Velocity too, I just checked in Bitwig and Ardour.

If the native instruments choose to h

[2018-01-28 14:51] raindropsfromsky commented on #4137
@Spekular

In LMMS, it is closest to volume, as it does not change the timbre and sustenance of the sound. (Two main noticeable things that happen in a Piano, but not in other instruments.)

But one thing is certain: It is not a property of the instrument.
It is the property of the specific keystroke.

Yes, it can be programmed to do different things. And it should be named after what it actually

[2018-01-28 14:52] Umcaruje commented on #4137
Also, before you open a new issue, please use the search function and look at the context of a change.
Issues #2316 #2553

[2018-01-28 14:53] raindropsfromsky commented on #4137
oops!

[2018-01-28 14:56] Umcaruje commented on #4135
also you're not setting the scale on the right button, the button you screenshoted is the chord selection button.

[2018-01-28 15:01] Umcaruje commented on #4135
![image](https://user-images.githubusercontent.com/6282045/35483598-7243aacc-0444-11e8-9ff8-418234562680.png)

[2018-01-28 15:02] #4135 closed

[2018-01-28 15:04] Mark-Agent003 commented on #4137
I see what you’re saying, but like @Spekular said, velocity means something a bit different in the context of a DAW. Velocity is used to describe the intensity of the sound. Synthesizers sometimes use velocity to affect the modulation, cutoff, or envelope. When using a multi-sampled instrument, the velocity may even change what sound file is played.
The term “velocity-sensitive” is especially usef

[2018-01-28 15:19] Umcaruje commented on #4136
I think there are a lot more features and fixes that need to be applied to LMMS for it to be stable and competitive with other software before we even start considering doing something like this.

[2018-01-28 16:08] tresf commented on #4136
I think a more reasonable approach is to support JACK transport (#523), which some have gotten working using @gi0e5b06's one-off code available here https://github.com/LMMS/lmms/issues/1467#issuecomment-341250582.

VST(i) is a bit too general, I feel.  LMMS isn't an instrument, but rather is a daw that can offer instruments.  I can't see an easy way to do as this request is suggesting.  Perhaps an

[2018-01-28 16:18] raindropsfromsky opened #4138 "Some windows in LMMS have white heading strip (instead of gray-shaded strip)"
Sometimes the heading of the window loses its gray shading, and appears as white strip with black text:
![image](https://user-images.githubusercontent.com/9047168/35484298-26558ef2-0474-11e8-8043-ec3b99f65ea4.png)

![image](https://user-images.githubusercontent.com/9047168/35484311-4f5ba836-0474-11e8-96f4-3573931b64b7.png)

![image](https://user-images.githubusercontent.com/9047168/35484322-8d359f

[2018-01-28 16:19] Umcaruje commented on #4138
The last one is weird but the rest is just regular windows window styling.

[2018-01-28 16:25] tresf commented on #4138
We need to be more consistent about how we decorate our modal windows.  GTK offers [popovers](https://askubuntu.com/questions/109321/popup-dialogs-attached-to-window-title-and-not-movable-how-to-detach-modal-dial), which are a bit more modern approach to a simple, modal input-dialog.

In regards to the description of this bug, I'd like it to be reproduced on a non-HiDPI display.  The Windows 8/10

[2018-01-28 18:24] musikBear commented on #3651
@raindropsfromsky :'p if you had been a lmms 'vet', you would have known, that dashed lines is one of the things that has been disposed of, because it is
* very disruptive for eyes
* cause headache
* horrible ugly
Dashed lines gets a HUGE 👎  from me

[2018-01-28 18:29] musikBear commented on #4138
@raindropsfromsky

vague, and
* what lmms
* what os

i have never seen this in win 32 fyi.

[2018-01-28 18:32] tresf commented on #4138
@musikBear He's on Windows 10 and he's using HiDPI as explained by my post just before yours.

On a side-note, until you've started working with various platforms, please stop demanding OS information from our bug submitters, it just adds unnecessary chatter.

[2018-01-28 20:52] NETMANSKY commented on #4136
@tresf You talking all time: "impossible, unrealizable, not necessery". Strange approach... Do you know why i like LMMS? For its step sequencer... Nice instrument that another DAWs has no. But LMMS can not be named DAW. Untill there is no support:
- work with sound files
- freezing tracks
- multi-channel vsti
- and many others features characterised for DAW...
LMMS primarily is sequencer and will

[2018-01-28 21:38] Mark-Agent003 commented on #4136
@NETMANKSY , https://en.m.wikipedia.org/wiki/Digital_audio_workstation

As @tresf has said, LMMS is a DAW. Implementing your request would require a lot of work that AFAIK is only desired by you. Insulting the developers hard work by saying that LMMS is not a “real DAW” until it meets your list of demands is IMO very rude.

[2018-01-28 22:20] tresf commented on #4136
Agreed and I'm locking this to avoid it escalating.  @NETMANSKY we'd be happy to accept a code contribution in the form of a Pull Request with the aforementioned feature.  Since we don't even implement non-Windows VSTi's properly, I'd also ask the submitter helps with that initiative.  Thanks for sharing your idea.

[2018-01-28 22:20] #4136 closed

[2018-01-29 05:27] PhysSong commented on #4124
`src/3rdparty/qt5-x11embed/src/X11EmbedContainer.h` already exists, but the issue is it the directory is not in the list of include directory.
I guess 5c3c052 should fix this if @vrghost242 is building from `master` between #4041 and that commit.

@vrghost242 Could you pull latest changes and try again?

[2018-01-29 17:09] Erudition commented on #3086
This is, IMHO, the most important bug in LMMS right now.

It is immediately obvious, even as soon as a complete newbie opens LMMS for the first time, and clicks on a default instrument. Click! Every time. For a sound studio, the way things sound is critical.

Not sure why this is tagged as UX. Let's be clear: the issue is **LMMS does not interpolate to new values** and thus has an effect _anywhere

[2018-01-29 17:58] tresf commented on #3086
I agree, this is a regression introduced somewhere, not a UX bug.  It's been masked as one because the envelope is a bandaid over the actual problem.

In regards to the severity you're adding to this problem, please remember, these bugs are introduced by volunteers and fixed by volunteers.  The vast majority of work happening is because someone that used the software decided to help fix it.  Often

[2018-01-29 19:25] BaraMGB commented on #4138
All these  windows aren't MDI windows. Only MDI windows have the gray shades window decoration.

[2018-01-29 20:05] tresf commented on #4138
Agreed.  I think this is a `wontfix` issue because the software uses some native windowing by default.

[2018-01-30 00:12] EtornaZ opened #4139 "Spectrum Analyzer on Master Bus for viewing multiple sound frequencies from different instruments at once."
![spanplus-large1024](https://user-images.githubusercontent.com/33297131/35541309-20cb2cda-0528-11e8-873c-70f1215e6cc1.jpg)
This image is a Spectrum Analyzer containing multiple sound frequencies from different synthesizers/instruments. I think it would be cool for the master bus to have this type of Spectrum Analyzer connected to it. One fader with multiple faders assigned to it could have this a

[2018-01-30 13:24] EtornaZ opened #4140 "2 VST Plugins freeze in LMMS"
https://www.auburnsounds.com/products/Graillon.html
https://www.auburnsounds.com/products/Panagement.html
These two VST effects will load in LMMS on a synthesizer just fine, no quirks at all. However, when a note is pressed on the synthesizer containing the effect, LMMS freezes. This was tested by myself and another Discord user on the LMMS server (Rytelier), who reported the issue to begin with.

[2018-01-30 13:36] DomClark commented on #4140
Reproduced on 1.2.0-RC5, but this seems to have been fixed in `stable-1.2` by #4061. Can you test it with the build in [this comment](https://github.com/LMMS/lmms/pull/4061#issuecomment-354055528) and see if you can still reproduce the hang?

[2018-01-30 13:40] EtornaZ commented on #4140
I will be sure to try it out today. Setting an alarm to remind myself now.

[2018-01-30 23:33] ajtribick opened #4141 "Compilation failure with Qt 5.9.1"
While compiling the stable-1.2 branch in Ubuntu 17.10, I ran into an issue that the third-party library used to replace QX11EmbedContainer depends on private files internal to Qt that are not present in Qt 5.9.1, these are referenced in X11EmbedContainer.cpp.

As a quick and nasty fix, I removed the references to this library from the code and the relevant CMakeLists.txt file and removed the code

[2018-01-30 23:45] DomClark opened #4142 "Transient VST causes stack overflow in RemoteVstPlugin"
This issue was discovered on Discord, not sure which operating system or version, but I have reproduced it on 1.2.0-RC5 on Windows 10. When opening an existing project containing the [Transient](http://www.vst4free.com/free_vst.php?id=1672) VST plugin, a stack overflow occurs in `RemoteVstPlugin.exe`. This seems to be because the plugin calls `hostCallback(audioMasterAutomate, ...)` in response to

[2018-01-31 01:10] zonkmachine commented on #3081
I did a quick test and added `addJournalCheckPoint();` [here](https://github.com/LMMS/lmms/blob/27007c258a7b83b8fb89bea753c9b4d767686ef3/src/tracks/Pattern.cpp#L214) which would let me undo one note at a time after recording. Should rather the whole last phrase be undone at the same time?

[2018-01-31 07:18] PhysSong commented on #4141
You need to do `git submodule update --init --recursive` if you've cloned the source code using Git, otherwise you need to re-download source code with `git clone --recursive https://github.com/LMMS/lmms`.

[2018-01-31 08:12] simonvanderveldt commented on #3081
I think different people will have different expectations, not sure what to choose. What to the commercial DAWs do?

Also, since it's better to have at least some way to undo vs none, I'd say this is already an improvement worth adding :)

[2018-01-31 12:12] lukas-w commented on #4141
@ajtribick We're using Qt 5.9 for our CI and for our AppImage builds without problems. The private files you're referring to are present in Qt 5.9.1. You're likely missing `qtbase5-private-dev` as @PhysSong pointed out.

[2018-01-31 12:51] Spekular commented on #3081
I think it makes a bit more sense to delete all the recorded notes.

Reasoning:

* Box selection might select undesired notes or require scrolling/zooming,
deleting everything with ctrl+z is far more convenient.
* Deleting X individual notes with ctrl+z should be about the same amount
of effort as deleting X individual notes with RMB

On Jan 31, 2018 09:12, "Simon van der Veldt" <notifications@git

[2018-01-31 13:03] difarem opened #4143 "Noticeable delay when using TAP Vibrato"
* Operating system: 64-bit Arch Linux
* LMMS version: 1.2.0-rc5.9

When using the bundled TAP Vibrato effect the sound is consitently delayed by a split second.

### Steps to reproduce
1. Load any project
2. Add a TAP Vibrato effect with [the following settings](https://i.imgur.com/aJV7AXM.png).

Expected behaviour: a vibrato is applied to the sound.

Actual behaviour: the vibrato is indeed applie

[2018-01-31 14:07] musikBear commented on #3081
Isent *that* just as simple as ctrl+a + del ?
all gone
Stepwise would give two different delete options.. idk...
-But if we are talking *phrase-wise* redo, then its another story, and i guess @Spekular reasoning is sound.
A *phrase* would then be: all notes captured between rec-pressed and stop-pressed -right?

[2018-01-31 14:18] zonkmachine commented on #3081
No. You can record over already recorded notes. If you add a checkpoint to when you start recording you can record something, stop and then record again, stop again and you wouild have two separate recordings in the same pattern. It would take two `<Ctrl>+z` to undo this if you add a checkpoint to the beginning of the recording function.

[2018-01-31 14:27] Umcaruje commented on #3081
This would be a lot better for UX, if you want to undo specific notes you might as well delete them.

Bitwig studio undos the whole last recorded phrase, can't check for other DAW's

[2018-01-31 14:29] zonkmachine commented on #3081
Fixed in #4144 There is some journalling already in stable-1.2 but it's incomplete and will delete the whole pattern AND shift view to the song editor. With the fix you get separate phrases and you will stay in the Piano Roll ready to continue recording.

[2018-01-31 15:12] zonkmachine commented on #4143
I can't replicate this on stable-1.2 but maybe you're on master?

Did you compile this yourself?
`git status` output?

[2018-01-31 16:21] zonkmachine commented on #4135
I may have been in a hurry. This issue is now closed but I'll look into it in a day or so to make sure I get the whole picture. There are quite a few issues on the same theme now.

[2018-01-31 18:04] tresf commented on #4143
`lmms -d ~/Downloads/tap_vibrato.mmpz |grep creatorversion` says `1.2.0-rc5.9` although this could be `stable-1.2` or `master`.

[2018-01-31 18:07] tresf opened #4145 "lmms -d is not possible on Windows"
This may be `wontfix` if we implement #3981, but on Windows, `lmms -d` and `lmms --dump` does not work in a Windows environment due to the lack of console output.  `lmms -d` should take an optional parameter to specify the output file (rather than blindly assuming that output redirection is available).

[2018-01-31 18:16] zonkmachine commented on #4137
MIDI Velocity comes from the very first MIDI standard. Basically it just describes the speed at which the key is struck and maps it to a 0 - 127 value. How the velocity is interpreted is then implementation specific. It can be synonymous with volume or it will be controlling the filter cutoff but it's really just another control signal on the palette.

It is a bit of both. Some instruments are sen

[2018-01-31 18:34] Umcaruje commented on #4135
I was in a hurry, I talked to the OP over on discord, they set a chord but not a scale which is why the option was grayed out.

[2018-01-31 19:50] ajtribick commented on #4141
Got it, cheers.

[2018-01-31 19:50] #4141 closed

[2018-01-31 20:15] lukas-w commented on #3086
@tresf How is this a regression? Hasn't LMMS always had this issue, i.e. a lack of interpolation?

@Erudition I think missing interpolation of MIDI signals is independent from this problem, even though it has similar symptoms. Better file a separate issue to track it.

[2018-01-31 20:37] tresf commented on #3086
@lukas-w Yes, this statement appears to be correct.  Sorry for any confusion.  Here's a side-by-side of 1.2.0-RC5 and 0.4.15 both running the default TripleOscillator preset.  Both do a fairly abrupt interpolation, which makes audible clicks when the timing is right.

![image](https://user-images.githubusercontent.com/6345473/35646206-731b49c8-069c-11e8-8bd2-ac999b51c846.png)

[2018-01-31 21:06] difarem commented on #4143
Yes, it's a custom build.

Output of `git status`:
[code]

Output of `git log -n1`:
[code]

This is an issue I've been having since I first started using LMMS a year or so ago, however.

[2018-01-31 23:49] zonkmachine commented on #2380
@DeRobyJ Attempt at implementing this: https://github.com/LMMS/lmms/pull/4146

[2018-02-01 00:46] zonkmachine commented on #3635
No response, closing.

@XXDrown Please reopen if you can reproduce this on a later build, RC5 or later.

[2018-02-01 00:46] #3635 closed

[2018-02-01 02:51] PhysSong commented on #3855
Both `QFile` and wide-char Windows API functions work fine with such file/directory names, even with emoji characters(ex. 뼱؁ѪѨ😃.dll). I'll create a pull request as soon as I can.

[2018-02-01 03:19] zonkmachine commented on #3973
I just adapted the Knob code to the Fader and it worked. I failed at making the Song Editor master sliders, Master volume and Master pitch, to work better with journalling with the same method. https://github.com/LMMS/lmms/pull/4147

[2018-02-01 05:34] zonkmachine commented on #3922
Yes. Fix the first two for 1.2 and the saving issue some other time.

[2018-02-01 05:37] NETMANSKY opened #4148 "Playback in Piano roll retarding LMMS"
In my project were loaded 22 remotevst processes. Basicaly there are fx in mixer and only 2 are VSTi. My system has params:
- i3-2370M 2X2.4 CPU
- 4 Gb RAM
- Win10
- project scope in taskman jumping from ~ 300 Mb to ~900 Mb
- CPU load in taskman is 30-40% at rest and it increase to 50%+ if playing notes in Piano rool. In this case playback are terrible warping and retarding LMMS.

[2018-02-01 07:23] zonkmachine commented on #459
Change `ppt >= 96` to `ppt >= 24` [here](https://github.com/LMMS/lmms/blob/27007c258a7b83b8fb89bea753c9b4d767686ef3/src/tracks/Pattern.cpp#L972) to cover 200%-1600% zoom. Lower resolution will simply grey out on my screen.

[2018-02-01 07:32] zonkmachine commented on #3922
Possibly related to https://github.com/LMMS/lmms/issues/1644

[2018-02-01 16:18] musikBear commented on #4148
What effect vst?
Can you check your page-file-usage, and see if you are low on ram?

[2018-02-01 16:35] musikBear commented on #4143
win32 rc5 -well there *is* a delay:
![vibratordelay](https://user-images.githubusercontent.com/6662066/35690399-06362b7c-0776-11e8-8783-fe7503e9a6e9.JPG)
It is *tiny*, but it is a delay..

[2018-02-01 17:37] zonkmachine commented on #4143
By a split second, yes. In the provided file you have setting wet/dry 1.0 on the BitInvader Effects Chain and no dry signal, meaning all wet, on the TAP plugin too. Since vibrato is a delay based effect, either a plain delay or some phasing stages, there should be a bit of a delay with no clean signal. I would expect an altering delay that would differ depending on where in the LFO cycle we're in.

[2018-02-01 18:45] #3081 closed

[2018-02-02 01:36] zonkmachine commented on #3973
Well, scrolling with the mouse wheel is affected the same way.

[2018-02-02 05:51] NETMANSKY commented on #4148
@musikBear Basically my VSTfx are GVST but it's not important. Because I can often use another VSTfx and VSTi. I dont use exotical VST. Picture is drawn the same. My past post contain tech params and I pay attention that project scale is too large and it are jumping. More loaded projects in another DAW scaled no more than 400-500 Mb. What params required to launch LMMS: winxp, 512 Mb RAM - or am I

[2018-02-02 16:48] musikBear commented on #4143
I thought the same, but did not 'know' -I think that is exactly what my picture shows : mSec 'delay' -Can OP make a similar picture of the *noticeable* delay he has? @difarem

[2018-02-02 16:57] musikBear commented on #4148
Will not do, >1gb is needed. 2 and you are fine.
I have NO idea what GVST is?
I will check your project for you if you like, and see if there is something that looks obvious.
*You* can check the influence of the GVST, by simply moving the dll to a different folder, then lmms will launch the project with a localization 'error', and it will without the GVST thing loaded -what result do you *then* ha

[2018-02-02 18:28] tresf commented on #4148
No, please keep communication in the tracker or on Discord.

As @musikBear has requested, to make a valid use-case you need to share one, exact VST plugin that causes this problem, then a developer can reproduce and see if there's a problem in the codebase.

Thanks for reporting this, but please remember that computing is (for the most part) and exact science.  If you give us the steps to reproduc

[2018-02-02 18:31] tresf commented on #4148
Mixer does not support VSTi, they support VST effects.  I think what I'm reading in this bug report is that something is happening in the Piano Roll editor of this project where notes are spawning new instances of the RemoveVST process.  This is likely a regression, a long standing bug or simply a bug with the VST.  Exact steps needed from 0 RemoteVST processes to 22 RemoteVST processes in an exac

[2018-02-02 20:35] difarem commented on #4143
From the OGG I posted:
* [No vibrato](https://i.imgur.com/oiAOI12.png)
* [Vibrato](https://i.imgur.com/lEu5isH.png)

[2018-02-02 20:56] tresf commented on #4143
@difarem can you test the plugin in another editor such as Audacity?  If it exists there too, you will have to file a bug report with Tom Szilagyi over at https://github.com/tomszilagyi/tap-plugins/issues.  LADSPA plugins are not written by LMMS Developers, we take them all from their upstream mirrors and bundle them as a courtesy.

[2018-02-02 21:58] difarem commented on #4143
https://i.imgur.com/TaFW1hz.png

By the looks of it, the delay is longer on the bundled LMMS version. Not by much though. Should I proceed closing this issue?

[2018-02-03 00:21] zonkmachine commented on #4143
I get 60ms delay in both lmms and audacity with 0% dry signal. I don't know what a vibrato effect usually has but it sounds a bit high. A quick search gave me the **tc electronic Shaker Vibrato** guitar pedal which sweeps from 0-20ms delay.

[2018-02-03 00:45] sewil opened #4149 "Doesn't start on Windows 7"
Installed v1.1.3 64-bit on win7 64-bit, running it gives me this error, no further information or logfile is given:

![image](https://user-images.githubusercontent.com/1498414/35760782-d2bcb050-0882-11e8-8d27-7bfc29c50434.png)

I also checked the system requirements on your wiki but it only says "windows"

[2018-02-03 00:48] zonkmachine commented on #4149
This is fixed in the latest beta versions of lmms-1.2 .
Download here: https://lmms.io/download/#windows

[2018-02-03 09:59] NETMANSKY commented on #4148
I forgot to add that my LMMS is RC5x64.
@musikBear GVST is http://gvst.co.uk
@tresf Of course I know that mixer doesnt support VSTi!!! I wrote about VSTfx in a mixer. I use VSTi in a tracks only.
Well, let me start from beginnig :-) What I can to share you to solve the trouble? Project file? But you have no VST I used... Or DLLs of used VST? But all my VST are recursive in root VST folder and its

[2018-02-03 12:23] zonkmachine commented on #3967
https://sourceforge.net/p/zynaddsubfx/instruments/ci/master/tree/banks/Arpeggios/

[2018-02-03 12:23] #3967 closed

[2018-02-03 16:06] musikBear commented on #4148
@NETMANSKY wrote

First try to do the remove-to-folder test. That will show what influence the effect-plugin's have
You need to let a dev see the project. It is not certain that the effects are the reason, maby the project is flawed, that was why i gave you a PM-option, but tresf say no-go, so you need to post it here -zip it and upload, or make an appointment on discord

[2018-02-03 16:21] noahb01 opened #4151 "More points on low-end of EQ spectrum"
In the native Equalizer plugin, there are noticeably less points on the lower end of the frequency spectrum, especially >120 Hz. I understand the reason for this (one point every x Hz), but the problem comes when you play, for example, a 40 Hz pure sine wave. The EQ will display the frequency as a large curve from ~20 Hz to ~60 Hz instead of the expected sharp point directly at 40 Hz.

The simples

[2018-02-03 17:20] tresf opened #4152 "Zyn causes audio to cut out on MacOS"
**Edit:** This is a running list of built-in presets that cause audio-cut out on MacOS and eventually find out why it happens.

* `presets/ZynAddSubFX/the_mysterious_bank_2/0037-ufo2.xiz`
* `presets/ZynAddSubFX/Arpeggios/0009-Arpeggio9.xiz`

[2018-02-03 18:25] Spekular opened #4153 "Sample TCO length not responsive to BPM"
To reproduce: Load a sample in a sample track, then drag on the BPM display to change BPM.

[Here's a video.](https://www.youtube.com/watch?v=lih9E0VP1Uo) First I try to "refresh" the clip by dragging it and zooming, then I try cloning it. After that I reload the sample by double clicking and selecting the same file, which does nothing. Finally, deleting and reloading the sample from scratch sets

[2018-02-03 22:18] NETMANSKY commented on #4148
Well that's here. If you let me I repeat one more time. RC5 came more stable in VST work that previous versions. But warping and retarding playback in Piano roll remained. Watch in LMMS cpu performance graph. Line becomes a red color if press Playback button in Piano roll. But if I press Record_notes_if_Playback button a playback is OK. Also in BB and Song editor a playback is OK. The trouble affe

[2018-02-03 22:37] tresf commented on #4148
What's interesting about this project is that it solely uses the Piano Roll within the BB Editor.  Anyway, you've failed to provide steps to reproduce.  Closing.

Here's a snippet from Musescore's "How to submit a bug report".  We don't have these written up (we assume they're fairly common sense), but we can't play guesswork with arbitrary steps, arbitrary plugins.  You've failed to mention speci

[2018-02-03 22:37] #4148 closed

[2018-02-03 22:39] NETMANSKY opened #4154 "Resizing pattern at the start"
Whether expect implement a resize of pattern at the start and not only at the end as now. The lack of this feature makes working with patterns in LMMS extremely uncomfortable :-(

[2018-02-03 22:40] tresf commented on #4148
Note, if you provide clear, concise steps to reproduce, we'd be happy to reopen and investigate further.

[2018-02-03 22:55] NETMANSKY commented on #4148
@tresf Are you kidding my English and you dont understand it? May be I have to show my screencats in Youtube then you undestand? I see you like to close my posts not first time and make me an idiot. Well... pretty good developer reaction of "exlusive" product! Thanks GOD for IT!

[2018-02-03 23:14] tresf commented on #4148
Your English fine, however this bug report is missing vital information for a developer to reproduce the problem without spending a large amount of time trying to reverse engineer what plugins, samples and effects you have chosen to use, better yet which steps cause the problem.

A bug submitter shouldn't have to share a screen for a basic bug report, the bug contents should have enough steps to r

[2018-02-03 23:16] tresf commented on #4154
Thanks.  This has been added to the master branch, available in a future release.  Sampletrack - resize from left

[2018-02-03 23:19] tresf commented on #4154
Just realized you may be talking about all patterns (BBEditor, Piano Roll, Automation).  Reopening. :)

[2018-02-04 16:50] musikBear commented on #4153
ehh...? :8| in your video, it *does* change *length* if BPM is changed, , as does mine.
What do you expect it to do? Change rhythm..? Resampling is needed for that.

I use this feature to make lmms into a *looper* software, like *Sony-asid*  -Here:
https://www.youtube.com/watch?v=cCTaCs_8j2M

[2018-02-04 16:55] Spekular commented on #4153
Are we looking at the same video? The waveform changes, but not the actual
TCO/Clip (orange frame around it).

On Feb 4, 2018 17:50, "musikBear" <notifications@github.com> wrote:

[2018-02-04 16:56] noahb01 commented on #4154
Agree! Would be especially useful for long buildups when you only want the last part in some circumstances. Currently you have to make a completely separate pattern.

[2018-02-04 16:56] musikBear commented on #4148
@tresf
"remove-to-folder test":

[2018-02-04 18:54] tresf commented on #4153
@musikBear take a second look.  He's talking about the actual end-stop-point of the original sample being mucked up.  You're right, the wave data is scaling properly.  I made the same mistake watching it.

[2018-02-05 04:55] noahb01 opened #4155 "Instrument-track measure ticks sometimes off by 1px"
In the song-editor, the ticks on each measure for the automation track are sometimes shifted forward by 1px.

**Reproduce:**
Open new project.
Make an instrument-track and an automation-track.
Put some random stuff into the tracks, about 8-16 measures is good.
Look at the ticks on the tracks, some will not line up!

[2018-02-05 06:32] zonkmachine commented on #4155
It looks like it's the Instrument track that is a bit off. The Automation and BBTracks align with the time line.
![ticksalign](https://user-images.githubusercontent.com/6368949/35791101-124a1d60-0a46-11e8-803e-a0992ab4f43a.png)

[2018-02-05 13:26] zonkmachine commented on #4149
Closing. Please reopen if updating to lmms-1.2.0-rc5 or later doesn't fix the issue.

[2018-02-05 13:26] #4149 closed

[2018-02-05 14:54] noahb01 commented on #4155
![screenshot from 2018-02-05 09-50-16](https://user-images.githubusercontent.com/22487040/35810515-01535350-0a5a-11e8-9a0c-ea634b84d5d2.png)

Interestingly on my system it appears as if the ticks "fall behind" on the Instrument tracks. The first few ticks line up but get worse as the track goes on.

Haven't looked at the code but I assume the ticks are drawn like this: Draw tick, move forward by X

[2018-02-05 14:59] noahb01 commented on #4155
BTW, I'm using LMMS 1.2.0-rc5, Qt 5.9.2, GCC 4.8.4 AppImage build.

[2018-02-05 17:00] musikBear commented on #4153
Ohh.. thatta way.. ok 😊
thx.

[2018-02-05 20:07] GvMariani opened #4156 "Build failure when linking carlabase.so: undefined references"
Still preparing a package of lmms 1.2.0 RC5 for Rosa Linux Fresh R10 (a Mandriva derivative) on x86_64: until a few days ago Rosa did not provide a package for Carla and libsoundio, hence their support was disabled in the cmake command line...
Now I managed to make a package for both things and tried to enable the support for Carla and libsoundio... hitting another (little) roadblock, as shown in

[2018-02-05 20:42] tresf commented on #4156
Thanks for the detailed write up.

This doesn't seem much different than how we do it on Ubuntu.  Tagging @falkTX for some insight.  From what I've seen, Carla is build the same as the rest of our plugins, I'm not sure what's different about it that would single it out on Mandriva and friends.

[2018-02-05 21:24] falkTX commented on #4156
The trigger here is -Wl,--no-undefined.
Did you try to build LMMS before without carla? Did it work?

From what I understood, LMMS plugins cannot have all symbols defined at link time because some of them are in the actually standalone application.
So your current link error seems normal and expected.

[2018-02-06 05:33] zonkmachine commented on #4155
It happened in commit 8c2ebf287d9de57466ffa8b1f4bda184c171dde8

[code]

Changing https://github.com/LMMS/lmms/blob/stable-1.2/src/tracks/Pattern.cpp#L887 to
`( width() - TCO_BORDER_WIDTH )` seem to help a bit. The ticks still look a bit off but it's the same for all tracks. @noahb01 If you want to poke this one a bit that's fine with me. I just get the feeling this could be a frustrating job of pu

[2018-02-06 10:07] lukas-w commented on #3086
@tresf Thanks for confirming. I'd suggest moving it to 1.3.0 then.

[2018-02-06 11:37] PhysSong commented on #4155
@zonkmachine `( width() - 1 )` looks better. See this:
https://github.com/LMMS/lmms/blob/c3b47678368d1a617c3d58b062901ee4b732c4c9/src/core/Track.cpp#L458-L461

And I think `x_base + static_cast<int>( ppt * t ) - 1` should be `x_base + static_cast<int>( ppt * t ) - 2` or `static_cast<int>( ppt * t )` [here](https://github.com/LMMS/lmms/blob/c3b47678368d1a617c3d58b062901ee4b732c4c9/src/tracks/Patter

[2018-02-06 17:39] GvMariani commented on #4156
Yes: as I already wrote, our build system pass by default this option to the linker to allow catching at build time all the situations of under-linking, because those easily can turn in runtime failures for the end user...
Perhaps this cannot be true for lmms + carla support because at runtime all the missing symbols are provided by some other lmms component and hence they are surely present on di

[2018-02-06 18:20] gg9192 opened #4157 "drag"
drag samples on empty instrument track like in fl

Place to record vocals

Auto-tune

more instruments

[2018-02-06 18:21] ghost opened #4158 "portamento?"
need I say more?

[2018-02-06 18:23] gg9192 opened #4159 "Graphic EQ?"

[2018-02-06 18:24] Umcaruje commented on #4159
Already there in version 1.2.0-rc5, please use the search function before opening new issues.

[2018-02-06 18:24] #4159 closed

[2018-02-06 18:25] tresf commented on #4158
Yes, please edit your bug report or it will be closed.

We have some limited portamento support for some instruments since https://github.com/LMMS/lmms/pull/41.  It's not ideal, but it works.

[2018-02-06 18:28] tresf commented on #4157
Please try again.  This isn't how you submit bug reports.  This is your final warning because you've opened three terrible bug reports in one day.  You will not be warned again.

[2018-02-06 18:28] #4157 closed

[2018-02-06 19:14] falkTX commented on #4156
Ok, then should be only something in the build scripts.
I don't know enough about cmake to even try to begin to tackle this.

But one thing to remember is that building without that flag is the default on pretty much all distros by default. And LMMS has been working there without issues.
A few applications build this way on Linux too.

Thanks for the deep investigation though, I don't want to seem

[2018-02-06 19:27] GvMariani commented on #4156
No problem...
I will document in the build file the reason behind the removing of our default --no-undefined linker option (for the posterity) and live with it.
Moreover given that, in my personal little tests, LMMS with carla support enabled seems to work OK.
Thank you for all your attention: closing the issue.

[2018-02-06 19:27] #4156 closed

[2018-02-07 01:19] noahb01 commented on #4155
Only the `( width() - 1 )` change was required to fix the issue for me. @PhysSong what is the effect of the core/Track.cpp change? Is it only for consistency or does it have an effect on the output?

![screenshot from 2018-02-06 20-12-06](https://user-images.githubusercontent.com/22487040/35893197-e83aea5a-0b7a-11e8-8314-ae3f089bf89b.png)

[2018-02-07 02:17] noahb01 commented on #4155
If this is all that needs to be fixed, should I make a pull request? Also, should I use the branch `master` or `stable-1.2`?

[2018-02-07 03:27] noahb01 opened #4160 "Failed title revert after render"
After rendering a song, the main window title fails to revert to its normal title and remains as "Rendering: 100%".

**Reproduce**
open a song
render it
look at main window title, even after the render is complete it stays as "Rendering: 100%"

This is probably a simple fix...

[2018-02-07 03:54] tresf commented on #181
This was closed a while ago by https://github.com/LMMS/lmms/pull/3551.  Closing.

[2018-02-07 03:54] #181 closed

[2018-02-07 03:57] tresf commented on #3574
We've never had steps to reproduce.  Closing.  If evidence surfaces proving this is an actual bug, please request a reopen.

[2018-02-07 03:57] #3574 closed

[2018-02-07 04:25] noahb01 commented on #4155
Also it should be noted that the code for this in `master` and `stable-1.2` is quite different...

[2018-02-07 18:43] musikBear commented on #4155
imo a 1.3+ 'issue'
noone should use time on this now -just saying
Currently there are two bug-categories: *Bug* & *Critical*. imo a category *Minor* could be used for things like this.

[2018-02-07 18:52] tresf commented on #4155
@musikBear is not a project maintainer.  @PhysSong is.  Please leave this decision to the maintainers.

[2018-02-08 16:20] musikBear commented on #4155
@tresf How about not going after the man, but the ball?

[2018-02-08 19:44] tresf commented on #4155
@musikBear I'm not a technical reviewer for this bug so I am leaving the decision up to those that understand the codebase well enough to milestone it.

It's not beneficial.  I've received multiple complaints from developers that read a comment of yours and believe it reflects on the project.  I'm letting @noahb01 know that your thoughts to no necessarily reflect the project as a whole.  The team

[2018-02-09 01:18] #4158 closed

[2018-02-09 02:20] zonkmachine commented on #4160
The function that resets the window title is [MainWindow::resetWindowTitle()](https://github.com/LMMS/lmms/blob/c3b47678368d1a617c3d58b062901ee4b732c4c9/src/gui/MainWindow.cpp#L666).
I could replicate this with the Qt5 AppImage but not on compiling the Qt4 version.

I dare you...

[2018-02-09 03:28] zonkmachine commented on #4155
As @PhysSong dived deeper into this he should probably be the one to answer. My first impression though is that it would be OK to fix `stable-1.2` with a one-liner and leave the rest for `master`. With 'the rest' here being the pattern shooting over to the right.

![patternglitch](https://user-images.githubusercontent.com/6368949/36010202-88888856-0d50-11e8-9c56-2b1893c0cc57.png)

I don't currentl

[2018-02-09 04:23] noahb01 commented on #4160
A one-line change was all that was needed, I've created a pull request with the change. Should I close this issue?

PR: #4161

[2018-02-09 04:34] tresf commented on #4160
@noahb01 thanks for taking the time to document and fix this!  This is really a good candidate for `stable-1.2`.  I'll take it from here.

[2018-02-09 04:41] #4160 closed

[2018-02-09 14:29] noahb01 commented on #3936
Maybe we could replace the knob with a toggle? I assume there is some technical reason for implementing the portamento control as an on/off instead of a gradual control.

[2018-02-09 19:50] superjosh364 commented on #3936
Well, if you have a portament knob, it usually determines the amount of time the pitch glides from one note to another. So there should be a toggle switch to turn it on, and then a knob for adjusting the length of the portamento.

[2018-02-09 21:09] Pyrif opened #4162 "Feature Request: Background Rendering"
It would be optimal to allow LMMS to render in the background and free up CPU for other programs, it can get rather annoying when LMMS is rendering something and I'm trying to type a message and my letters fall into the text box in chunks rather than one-by-one!

[2018-02-09 21:35] Spekular commented on #3936
From what I've seen, there tends to be a single knob w/ no toggle. Setting
the portamento time to 0 naturally turns it off.

On Feb 9, 2018 20:50, "Josh" <notifications@github.com> wrote:

[2018-02-09 22:28] lukas-w commented on #4162
@Pyrif What OS are you using? Your system shouldn't become unresponsive due to a single process. You can try lowering LMMS's priority in the system's task/process manager and see if that helps.

[2018-02-09 22:56] Pyrif commented on #4162
I'm requesting it as a feature because it's a good idea to implement it as one. Not all users know how to use Task Manager and know how/are willing to change their tasks' priorities. It's a feature built into many other DAWs, and should likely be a part of LMMS as well.

[2018-02-09 23:22] Umcaruje commented on #4162
Could you post an example, I've never encountered such a feature myself.

[2018-02-09 23:33] Pyrif commented on #4162
From FL Studio:
![image](https://user-images.githubusercontent.com/27585517/36055064-5f9b54b8-0dbf-11e8-90ae-90056547863b.png)

[2018-02-10 02:09] noahb01 commented on #3936
@Spekular @superjosh364 What I mean is that if there is no way to access the actual portamento value, we should replace it with an on/off toggle. If we can control that value, by all means do it.

[2018-02-10 02:22] PhysSong commented on #4110
I can see a strange box even after loading projects which contains VST effects with `guivisible="0"`.
![2018-02-10 11-09-50](https://user-images.githubusercontent.com/12591074/36057556-f2fd41d8-0e52-11e8-8e3d-508aae5dc6e1.png)

I believe we can remove the empty window easily, by not calling `createUI( NULL, false )` for VST effects. Removing the box looks trickier than the window, since it will re

[2018-02-10 03:40] noahb01 opened #4163 "Time dosen't recalculate after tempo change"
When changing the tempo during play, the time meter directly below the tempo display will not recalculate. Moving the play head will cause it to recalculate.

**Reproduce**
1. Make a long track.
2. Set tempo to a high value, i.e. 300.
3. play the track and put the play head to the clock reads about 2 mins.
4. Without pausing the song, drop the tempo to 10.
5. The clock will **stay at 2 mins**
6. M

[2018-02-10 11:10] PhysSong commented on #3898
Me too. @Z3R0C Can you reproduce this on 1.2.0-RC5?

[2018-02-10 11:18] PhysSong commented on #2234
Closing since this issue is too old and the OP haven't provided any way to reproduce this.

[2018-02-10 11:18] #2234 closed

[2018-02-10 11:23] PhysSong commented on #2047
Note that fixing this issue may cause performance degrade since it replaces single-precision(`float`) calculations with double-precision(`double`) ones.

[2018-02-10 11:50] lukas-w commented on #4110
I have a local WIP that does this. I'll polish it up a bit and push.

[2018-02-10 12:50] PhysSong commented on #4151
As a baseline comparison, here's the spectrum view of 40Hz sine wave in Audacity(FFT size 4096):
![2018-02-10 21-46-34](https://user-images.githubusercontent.com/12591074/36062268-e2dc160e-0eab-11e8-82f7-c50ac88ff4bb.png)
The way to work around this phenomenon is increasing FFT buffer size(currently 2048), but it has some side-effects(reduces time resolution and latency). Related: #3626.

[2018-02-10 12:55] multim0 opened #4164 "Can't start LMMS without root privileges"
When I try to start lmms using common user it refuses to start. It didn't happen while I used `--allowroot`
Log:
`
..././lmms-1.2.0-rc5-linux-x86_64.AppImage
Carla does not appear to be installed.  That's OK, please ignore any related library errors.
/tmp/.mount_lmms-1ptH48i/AppRun: linia 17: ldconfig: nie znaleziono polecenia
Jack does not appear to be installed.  That's OK, we'll use a dummy ver

[2018-02-10 12:56] lukas-w commented on #4110
@PhysSong Pushed to [fix/vst-effect-load](https://github.com/LMMS/lmms/compare/fix/vst-effect-load). I've only tested this on Linux with Qt5.

[2018-02-10 12:58] PhysSong commented on #4110
Okay. I'll test it on other platforms and/or with Qt4 as soon as possible.

[2018-02-10 13:35] zonkmachine commented on #4110
On Linuxmint 17.3, Qt4, 826a5289ebe0f979eefe7f9361a27dd6885e6a9a
![ambience](https://user-images.githubusercontent.com/6368949/36062554-580a9e56-0e6f-11e8-8efe-fb307080d5cc.png)

[2018-02-10 13:53] zonkmachine commented on #4110
[code]

[2018-02-10 15:56] musikBear commented on #3936
its just because the 'wrong' controller (red circle) were selected for the ui
![zynporta](https://user-images.githubusercontent.com/6662066/36063809-060fbf42-0e82-11e8-9f27-3878b9bea75a.JPG)
It should be *time.t* (green circle).
But as you can see, there are more advanced porta-settings available.
Perhaps the dial could be preserved, but default 'grayed-out' meaning *no-porta*. if enabled with lef

[2018-02-10 17:01] Sauerstoffdioxid opened #4165 "Crash when using Edit mode during playback of a song containing a Sampletrack"
When using the edit mode to move large parts of a song containing a Sampletrack, the square indicating what area is being selected seems quite frail. Eventually, after moving the selected parts a couple of seconds, LMMS may crash.

The selection:
![ezgif-4-e2d49f83b5](https://user-images.githubusercontent.com/35171164/36064417-0157e14c-0e8b-11e8-8f96-b9461e15da2e.gif)

And, after about 20 seconds

[2018-02-10 17:40] tresf commented on #4164
Are you on a platform with `locate` command?

[code]
The `.lmmsrc.xml` is responsible for loading up your last settings and you may have hit a bug.

The reason we don't encourage running as root is because this file can get [locked out](https://user-images.githubusercontent.com/6345473/36064808-d240d16a-0e5e-11e8-8adf-5e5c2515e4bf.png) if `--allowroot` is provided.

e.g.
[code]

Anyway, can you mo

[2018-02-10 17:46] tresf commented on #4165
@Sauerstoffdioxid thanks.  Yeah, there's a lot going on there that could trigger a crash, you have multiple events happening at once.

The fact that the audio keeps playing is suggestive that it's a bug in the UI, but we'll see if we can reproduce on a platform with a full backtrace and escalate as needed.

Note, for you or anyone interested in helping squash bugs like this, we have a stellar tuto

[2018-02-10 17:53] tresf opened #4166 "Recovery feature broken when double-clicking a project file"
This is likely a MacOS issue and I've tagged it as such.  Please remove the tag if this can be reproduced on Windows or Linux.

Steps to reproduce:
1. Create and save a project
2. Experience a crash
3. Relaunch from the project file (not from the LMMS launcher icon)

Expected behavior:
1. LMMS offers to recover file, click "Recover", recover file opens!

Actual behavior:
1. LMMS offers to recover

[2018-02-10 19:01] multim0 commented on #4164
I moved that file to another place, but that didn't resolve the problem. What's more log message is longer than before:
`Programy/./lmms-1.2.0-rc5-linux-x86_64.AppImage
Carla does not appear to be installed.  That's OK, please ignore any related library errors.
/tmp/.mount_lmms-1QkpiCj/AppRun: line 17: ldconfig: command not found
Jack does not appear to be installed.  That's OK, we'll use a dummy

[2018-02-10 19:31] tresf commented on #4164
@multim0 this sounds like a duplicate of #4094.  Can you confirm that this statement from #4094 is true for your machine?

In regards to how launching as root fixes it, I'm not sure, but I'll make mental note.

[2018-02-10 19:51] multim0 commented on #4164
Yes, it's the same when I downloaded older version, it works fine.

[2018-02-10 21:53] Sauerstoffdioxid commented on #4165
I won't be able to install Linux anytime soon but I can test the bug a bit more on Windows.

Firstly, I wanted to clearify the statement about the sound still playing: it's a short (~1 second) loop which is kinda what I'd expect from a music programme crashing. However, as long as the text box isn't closed, the UI of LMMS is still responsive, i. e. I can still drag around/move note patterns.

Seco

[2018-02-10 23:59] zonkmachine commented on #3936
Poking this one a bit in: https://github.com/LMMS/lmms/pull/4167

[2018-02-11 03:36] tresf commented on #2892
Since #3349, this really isn't an issue.  Only the "document" style icons are still in the menu system and they don't look that bad.

![screen shot 2018-02-10 at 10 35 17 pm](https://user-images.githubusercontent.com/6345473/36069185-c76ab1d0-0eb2-11e8-9a70-a95831e2baf3.png)

Closing as `wontfix`.

[2018-02-11 03:36] #2892 closed

[2018-02-11 03:36] GingkathFox opened #4168 "Mac port crashes when using note detune"
@PhysSong, @tresf told me that u would be able to find the bug in the backtrace, so here it is:
[code]

[2018-02-11 03:40] GingkathFox opened #4169 "Mac port crashes with Peak Controller"
I was using a limiter in the B/B Editor, and it crashed when I tried to place a note.
Backtrace:
`Process:               LMMS [7180]
Path:                  /Applications/LMMS.app/Contents/MacOS/LMMS
Identifier:            io.lmms
Version:               1.2.0-rc5 (1.2.0-rc5)
Code Type:             X86-64 (Native)
Parent Process:        ??? [1]
Responsible:           LMMS [7180]
User ID:

[2018-02-11 13:58] GingkathFox commented on #4163
What OS r u running?

[2018-02-11 14:50] noahb01 commented on #4163
![screenshot from 2018-02-11 09-33-11](https://user-images.githubusercontent.com/22487040/36074635-e7fd86da-0f10-11e8-9246-6f83ed7e3742.png)
![screenshot from 2018-02-11 09-45-43](https://user-images.githubusercontent.com/22487040/36074637-ec2c2cde-0f10-11e8-96ad-a9f2b4af9b14.png)
Running **Arch Linux**

[2018-02-11 14:51] GingkathFox commented on #4163
lemma see if it does the same on Mac

[2018-02-11 14:53] Sawuare commented on #4163
@GingkathFox It does the same everywhere. This is not an OS-specific issue.

[2018-02-11 14:55] GingkathFox commented on #4163
oh kk

[2018-02-11 15:18] noahb01 commented on #4163
Also, the Bar/Beat/Tick display **does** change when the tempo is changed, when it should not.

I feel like someone put some code in the wrong place...

[2018-02-11 16:08] pikachuk opened #4170 "Waon github source to add a "wave to notes" feature"
https://github.com/kichiki/WaoN
tresf asked me to post the link of the source here in order to keep track of it
i didn't really know what kind of title i was supposed to write so i wrote this

[2018-02-11 17:11] noahb01 commented on #4170
This is a console application, would we need to implement some sort of GUI for it?

[2018-02-11 17:12] noahb01 commented on #4155
I'm not closing this as the issue is still present in `master`, but it has been fixed in `stable-1.2` in PR #4171.

[2018-02-11 17:15] pikachuk commented on #4170
since this is the source code to see how it recognises the sounds, i think it could just be implemented as a kind of "record notes through voice or instrument" button that would record from microphone and make the notes appear

[2018-02-11 17:31] noahb01 commented on #4151
Maybe we could implement this as a slider/drop-down in the Settings window?

[2018-02-11 18:16] Umcaruje commented on #4151
I think this is a duplicate of #3626

[2018-02-12 22:24] Erudition commented on #3086
@tresf Don't worry, I understand that. I didn't mean to "add severity" to the problem, just wanted to clarify its importance (!= urgency) where I thought it was understated (as you noticed, it wasn't even tagged as a bug). I don't think of my comment as a "lecture" so much as a bump to keep the bug afloat after seeing no activity since the middle of last year. Perhaps some people are used to immed

[2018-02-12 22:26] Erudition commented on #3086
@lukas-w

I'm not sure why you tagged me, I never said a word about MIDI.

But come to think of it, that is an issue as well, so sure, it should be a separate bug.

[2018-02-13 07:30] lukas-w commented on #3086
@Erudition I was referring to this comment (https://github.com/LMMS/lmms/issues/3086#issuecomment-294708643):

[2018-02-13 15:43] DomClark commented on #4140
@EtornaZ has confirmed on Discord that these plugins work in `stable-1.2`.

[2018-02-13 15:43] #4140 closed

[2018-02-13 16:25] EtornaZ opened #4172 "Enhancement: Ability for Sample Tracks to be routed to the FX-Mixer."
Title says it all.

[2018-02-13 16:29] Umcaruje commented on #4172
Duplicate of #1471. Sea

[2018-02-13 16:30] #4172 closed

[2018-02-13 18:14] tresf opened #4173 "Trailing slashes can break relative paths"
This may be a long standing bug, but there's something in LMMS that appears to put additional trailing slashes in working paths.

e.g.
[code]

vs.
[code]

Although I'm not sure the exact cause of this, it's a benign problem when loading samples.  The issue seems to come into play when saving because the relative path logic is broken.

To reproduce, add an extra slash or two to the `LMMS WORKING DI

[2018-02-14 02:17] PhysSong commented on #4166
How about changing `if ( !queuedFile.isEmpty() ) {` into `if ( !queuedFile.isEmpty() && fileToLoad != recoveryFile ) {`?

[2018-02-14 09:20] lukas-w commented on #4110
I won't have any time to continue working on this in the near future, but I believe most of the work needed has been done so I invite anyone to finish this on the `fix/vst-effect-load` branch.

[2018-02-14 10:20] raindropsfromsky opened #4174 "Rename the "detune" button in Piano Editor as "pitch-bend" or "portamento""
When we say "detuning" of a real-world musical instrument, we really mean changing of its default scale. (=scale-shifting)

For example, changing the tension of strings in stringed instruments or certain drums (e.g. Tabla, pakhavaj, mrudangam).

This changes the playing characteristic of the instrument.

But in  Piano Editor, the button that is called "detune" actually adds a "pitch-bend" or "port

[2018-02-14 10:23] raindropsfromsky opened #4175 "The keyboard section at the bottom of the Instrument window should be called "Shift-Scale" section"
Currently, the section at the bottom of the Instrument window does not have a name.
However, its effect is to shift the reference scale.
Therefore it should be labeled as **Shift scale**.

![](https://cdn.discordapp.com/attachments/207159523616489473/413214990066253825/unknown.png)

[2018-02-16 19:28] noahb01 commented on #4174
In the DAW world de tuning refers to changing the pitch of a note, I believe this is the correct name.

[2018-02-16 19:33] noahb01 commented on #4170
Surely some sort of config would be needed, i.e. sensitivity, some sort of snap-to-grid feature, maybe automatic transposing, etc...

I don’t think this should be put in the Settings dialog as these settings may need to be changed on a per-file basis and shouldn’t require a restart of LMMS...

[2018-02-16 20:27] tresf commented on #4108
@PhysSong explains this in #4124.  Assuming you're on `master`, this was fixed in 5c3c052.

@Metalhead33 can you see if this patch helps? bdfb26a  Instead of hard-coding a bunch of volatile os-dependant paths, I've switched the logic to a search/replace which should scale better to various Linux distros.

[2018-02-16 21:15] tresf commented on #4170
Yes.

Agreed.

We really don't have any utility-plugins for creating track content.  The best example we have is the unmerged wave-recording feature #3947 so UI mockups are welcome here.  I would expect this module to live in `plugins` and use a submodule to fetch sources from https://github.com/kichiki/WaoN.  If it could be combined into the wave-recording feature, that may give it a better home.

[2018-02-17 04:09] PhysSong commented on #4110
VST effect dialog seems broken on Qt4, but it is broken on RC5 + Qt4 too.

[2018-02-17 11:05] lukas-w commented on #4170
There's also [aubio](https://aubio.org/) as a more popular and likely more sophisticated alternative that provides a C API.

[2018-02-17 15:48] TristexMusic opened #4177 "VST - Problem"
Dear LMMS - Team!

I have a problem with a VST - Plugin.
I tried to import the Bitsonic Piano via Vestige. It`s working fine.
But when I save my LMMS - Project and try to reopen it, it crashes loading at says:
'unable to load this instruments.'
Problem fixes?
PS: It is already in my VST folder
PPS: other VSTs work
PPPS: If you need some more (detail) information pls contact me via email:
tristexmu

[2018-02-18 03:24] PhysSong commented on #4173
Reproduced. I think this logic is problematic:
https://github.com/LMMS/lmms/blob/0f0b08b852196d14683e29e3d7be3a62d1f2539b/src/core/SampleBuffer.cpp#L1435-L1437
We may leverage from [`QDir::absolutePath`](http://doc.qt.io/qt-5/qdir.html#absolutePath) or [`QDir::canonicalPath`](http://doc.qt.io/qt-5/qdir.html#canonicalPath), which removes redundant `.`, `..`, and multiple separators.

[2018-02-18 03:25] PhysSong commented on #4151
Agreed. Close this?

[2018-02-18 03:30] PhysSong commented on #4129
Closing as `invalid`.

[2018-02-18 03:30] #4129 closed

[2018-02-18 03:36] noahb01 commented on #4151
Alright, closing.

[2018-02-18 03:36] #4151 closed

[2018-02-18 03:39] noahb01 commented on #4170
aubio looks like it may be more than we need, it has a lot of other filters/vocoder and is not just a wav-to-notes system.

Still, it could work.

[2018-02-18 05:15] PhysSong commented on #4163
That was fixed in #3711, but the fix applies to `master` only.

[2018-02-18 11:53] musikBear commented on #4177
This error indicates, that this particular VST, does not work in that version of LMMS. You have 2 options:

[2018-02-18 14:55] thmo commented on #4126
See https://src.fedoraproject.org/rpms/lmms/blob/master/f/README.fedora. The samples are not included in the Fedora package because for many of them the copyright status is unclear.

See also this discussion several years ago: https://sourceforge.net/p/lmms/mailman/message/21407315/.

[2018-02-19 12:12] Anonymouqs commented on #4174
I agree with noahb01, detune is a better name-especially for synths. Detune is used for the various oscillators on multiple additive synths, which is a perfect description of what it does. Usually, detune is kept permanent through the whole composition, it is usually used to create "uneven" harmonics. Pitch-bend is seen as a more temporary effect, which can already be achieved with the "Detune Mod

[2018-02-19 12:21] Anonymouqs opened #4178 "Improve SoundFont Support with Musescore Code"
Most of you are familiar with Musescore, another open-source music program. LMMS has been having difficulty with SoundFont support, while Musescore is able to use a wide variety of SoundFonts on every Platform. They even have support for SoundFont 2. Using their code, we should be able to give LMMS the same level of SoundFont support as they have.

I understand that you can use Polyphonic to conve

[2018-02-19 13:43] Umcaruje commented on #4177
Hey @DomClark could you take a look at this one?

[2018-02-19 14:11] Sawuare commented on #4174
"Detune" is to put out of tune, usually statically, as @Anonymouqs pointed out. So it does not describe this feature well.

I think we should designate "Portamento", a pitch sliding from one note to another, to a feature in instrument plugins which works like `PORT` in ZASFX.

For this feature, I think the best name is either "Pitch bend" or "Pitch glide/slide".

[2018-02-19 14:20] DomClark commented on #4177
Cannot reproduce on 1.2.0-RC5, Windows 10 x64. The VST appears to be created using the Maize Sampler, so this is most likely a duplicate of #3274 and fixed in #3776.

@TristexMusic Try downloading the latest beta version of LMMS, and please reopen this issue if you can still reproduce the crash there.

[2018-02-19 14:20] #4177 closed

[2018-02-19 14:24] Mark-Agent003 commented on #4178
As of #3895, SoundFont 3.0 files will be supported in LMMS.  This seems to be a duplicate of #3286.

[2018-02-19 14:30] noahb01 commented on #4174
I would say "Pitch Shift" mode would be more accurate than "Portamento". Portamento refers to sliding between notes, which is a common but not the only use of this feature.

[2018-02-19 14:32] DomClark commented on #4174
Personally, I would go with "pitch bend" or "pitch shift"; "pitch glide/slide" and "portamento" seem to refer to a change in this value, rather than the value itself.

[2018-02-19 14:41] raindropsfromsky commented on #4174
How about "glissando"?

[2018-02-19 15:05] noahb01 commented on #4174
@raindropsfromsky both "glissando" and "portamento" refer to sliding **between notes.** This is a common use of the detune feature but is not the only one -- simulating string bends on a guitar would not be "glissando," but it is  a common use of the feature.

[2018-02-19 16:21] Anonymouqs commented on #4174
- 👍  for Pitch-Bend Mode or Pitch-Shift Mode **in the Piano Editor**
- 👎  for keeping it named Detune Mode **in the Piano Editor**

[2018-02-19 16:32] InsertNameHereDotCo commented on #3964
Still having this issue, 1.2.0-rc5.17 on Arch (4.15.3-1)
8G Ram, i5-6200U
Intel Corporation Sunrise Point-LP HD Audio (rev 21)

[2018-02-19 19:15] musikBear commented on #3810
Im afraid it does. This time yet another user cant open his project's Soundfonts, in a different pc.
I made an experiment.
I Took a midi import, with my default SF2 and saved it as mmp.
I then opened this project in code-editor, and replaced the path to a different partition (from E to C)
Eg the exact same situation, as if i had changed pc.
This causes lmms rc5 to show
![relativepathsfails](https:

[2018-02-19 20:39] tresf commented on #3810
Don't talk about "another user".  Stop, stop, stop acting as a surrogate.

I'd you have a a bug with midi import, open a new bug report.  There's no "relaying bugs", there's no "experiments".  Either the software works or it does not and exact steps are required to reproduce.

There are rare exceptions to this where intermittent bugs can't be 100% reproduced, but this is not that case.  Please off

[2018-02-20 01:56] musikBear commented on #3810
Tresf - you need to read what is written.
My experiment demonstrates that the relative path does not work

It does exists in RC5, So this is a request to reopen the issue.
I gave a background for the experiment, but the experiment, ao guideline to reproduce, is *totally* transparent to any users problem.
And it has absolutely *nothing* to do with midi.

[2018-02-20 02:26] raindropsfromsky commented on #4174
Ok so the discussion generally agrees against using "detune", but added some more suggested terms:''
"Pitch-shift", "portamento", "glissando", "pitch-bend",  and "Pitch-shift".

I have tried to compare them in one place:

IMHO **"Pitch-shift"** is a completely different musical effect, where we change the scale of a few notes temporarily _within_ a song (some part of the song is rendered at a diff

[2018-02-20 02:35] tresf commented on #4174
Rename it pitch bend please.  Reasoning is sound.  No pun intended.

[2018-02-20 02:36] tresf commented on #3810
Steps to reproduce and we'll reopen.  I'm not sure how much clearer I have to be here.

[2018-02-20 02:59] tresf commented on #3810
There are two named settings that pertain to soundfonts and your most recent post makes this confusing (as is your original bug report) but I'll specify, clearly.  Please consider this in the future to avoid this back and forth which is a waste of developer time.

1. There's a path called "SF2 DIRECTORY"
2. There's a path called "DEFAULT SOUNDFONT FILE"

![screen shot 2018-02-19 at 9 50 51 pm](htt

[2018-02-20 03:07] tresf commented on #3810
**Edit:** So please ask the users to start using "LMMS HOME DIRECTORY" to avoid this problem in the future and contain the soundfonts within the LMMS provided folder.   That will be relocatable.

In regards to the 200 projects in the original bug report that are now "unusable", have the user drop over to `#programming` on [Discord](https://lmms.io/chat).  A few line script could export all 200 pro

[2018-02-20 18:30] Anonymouqs opened #4179 "Incorporate Zyn-Fusion"
As of 31/11/2017, ZynAddSub-Fx has open-sourced its new GUI known as "Zyn-Fusion", which is a more intuitive interface than the previous ZynAddSubFx. I feel we should incorporate fusion and replace the old Zyn, or keep the old Zyn for backwards compatibility.

A caveat: Its pre-built binaries have a price, but its source is open and may be compiled.

[2018-02-20 18:38] tresf commented on #4179
@Anonymouqs yes, we're well aware.  We may go the LV2 route and hit two birds, but we'd need some custom code for playing back the presets.  We don't have a lot of expertise on this with our active developers, so it's on the back burner until we have more help.

Historically, @fundamental was very helpful in integrating code.  I believe @JohannesLorenz has begun some of the LV2 incorporation code,

[2018-02-20 18:49] musikBear commented on #3810
There's a path called "DEFAULT SOUNDFONT FILE"

No that is not relevant. What i did is to *simulate* using a different pc:
If you have more pcs than one, you dont have to do this, just create a project on pc1 and open it on pc2.
I create a  *simulation*of  that situation this way:
* Create a mmp-project with a couple of sound-fonts
* Edit the mmp in code-editor
** change partition for lmms install

[2018-02-20 18:50] fundamental commented on #4179
*31/12/2017

[2018-02-20 19:51] tresf commented on #3810
@musikBear if you read the above reply, you can see the soundfonts must reside within the `samples` directory (NOT `projects`).  If you're not doing this, it won't work, I'm sorry.

If you'd like all files to be relevant to the project path, then you've opened a duplicate of #2982.  This has never been supported.

[2018-02-21 00:05] faiyadesu commented on #4179
+1 for working on LV2 support (with automation of course) instead of embedding new stuff.

users install their favorite plugins and plug them in to LMMS, thats how it should be IMO instead of embedding instruments.

[2018-02-21 04:44] tresf commented on #3810
Closing marking as duplicate of #2982.

[2018-02-21 04:44] #3810 closed

[2018-02-21 04:45] tresf opened #4180 "SF2 Directory Setting/Relative Paths"
Spin-off from #3810...

There are two named settings that pertain to soundfonts...

1. There's a path called "SF2 DIRECTORY"
2. There's a path called "DEFAULT SOUNDFONT FILE"

![screen shot 2018-02-19 at 9 50 51 pm](https://user-images.githubusercontent.com/6345473/36405505-1528e53c-15bf-11e8-967b-7a012202f236.png)

Unfortunately the software doesn't really make use of either of these when calcula

[2018-02-21 07:05] raindropsfromsky opened #4181 "User cannot see the FX Mixer connections at a glance: Some solutions"
LMMS does not have an easy visualization that shows which instrument is connected with which FX channel; and also which channels are connected with other FX Channels.

I found a couple of implementations (see below)

Personally, I like the **patch-panel matrix** of Ardour

![image](https://user-images.githubusercontent.com/9047168/36465934-9aacbc94-16fd-11e8-920c-89522640a1cf.png)

This implementa

[2018-02-21 15:31] Anonymouqs commented on #4179
What if we had an Atom Text Editor-esque plugin-handling system for free plugins? You would post a plugin and a user could install it via the plugin-handler. It might be complicated to set up the infrastructure for such though.

[2018-02-21 15:37] musikBear commented on #3810
I now see why i havent had this issue. I do not have 'stand-alone' soundfonts. 'All' (I have 5..) are embedded in *Lmms-soundfont-player* and saved *as* *.XPFs.
Thats why i did not know that strange prerequist for SF2s to be in samples, mine is not. they are *in* lmms-presets, and in XPF format
Now here is a longshot
Couldent mandatory SF2 embedding in soundfont-player and saved as XPFs be an idea

[2018-02-21 15:45] fundamental commented on #4179
@Anonymouqs if you want a plugin-handler for free as in FLOSS plugins, you want LV2 support. If you want a plugin-handler for free as in $0/freeware, then you want a full implementation of cross platform VST2 support. Perhaps you also want some sort of plugin-store like interface, though that's a separate issue.

[2018-02-21 15:50] musikBear commented on #4181
Or the user should use *Project-Notes* and write down what he connect, and maby more important, *why*. Im not sure a visualisation is worth that much.

[2018-02-21 15:55] tresf commented on #3810
There's no such thing as "embedding" a soundfont in an XPF file.  It's theoretically possible (e.g. base64 blob) but it won't ever happen because soundfonts are generally very large in size.

A `.sf2` file is a patch and we discussed for a while about where best to store these.  They're like a cross between a plugin and a sample, but actually store multiple samples inside them.  `.gig` files fall

[2018-02-21 16:08] tresf commented on #4179
In theory this sounds great, but conceptually you're mixing some technologies...

Atom/Electron works predominantly off of JIT-style interpreted code execution.  C++ on the other hand works predominantly from precompiled code.  Mixing these would only cause complexities and latency.

As @fundamental explains, two very popular compiled C++ interfaces already exist for most all of the worlds plugins

[2018-02-21 16:14] tresf commented on #4179
I think I misunderstood this.  You were talking generically about easy-installation of plugins.  That's a much larger initiative and can scale to samples, presets and projects.  @tobydox wrote a very early "online" sharing platform, documented in part here: https://github.com/LMMS/lmms/issues/661.  Of course, executing binary code is much riskier than a sample or preset file, so any system that al

[2018-02-21 17:10] Anonymouqs opened #4182 "Add "Junior Jobs" and "Hero Wanted" tags to Issue list and Development Practice."
In Godot development, they were able to speed up releases with "Junior Jobs". Easy-to-fix issues would be tagged with "Junior Job" and instead of the advanced developers using their time on simple jobs, the simple jobs would be fixed by beginners.

"Hero Wanted" jobs show where the issue might be and how to fix it, but someone else does the "dirty work", (since the issue might not be exactly where

[2018-02-21 17:20] tresf commented on #4182
We already have `Good first issue`.  We can rename it, but we need people to classify the hundreds of bugs we already have.  This is a discussion for #devtalk on Discord.  We do like user-engagement posts, but this topic has been discussed over and over.

Like nightly and experimental builds?  Yeah, [we're working on that](https://github.com/LMMS/lmms/pull/4041).

@Narayan is updating our PDF as w

[2018-02-21 17:57] fundamental commented on #4182
This sort of labeling/mentality helps when there's a larger crowd of individuals contributing, but IMO for that label to be useful in the scope of a project like LMMS it needs to have more of a focus on obtaining new contributors and introducing new individuals to the codebase. Since you've made the godot comparison take a look at the pulse graphs for each. Over the last month LMMS has had 5 commi

[2018-02-21 22:24] Anonymouqs commented on #4182
We have a lot of amazing and fun features to code(and documentation to fix might I add) yet we do not have the developers to code them:

1. We could code recording support
2. A more intuitive "pitch-bend" mode("instead of blindly aiming or doing some math we should be able directly "draw" the path with vector lines and whatnot on to the piano-roll)
3. Ability to send one channel to another, better

[2018-02-21 22:44] tresf commented on #4182
This isn't a competition.  If you can offer something, please do.  The pep rally is heartwarming, but the work remains.  If there's specific action you need out of this bug report, just let us know.  For example, if you are volunteering to go through the bugs and categorize, let us know so we can promote your access on the tracker.  Reputation matters so showing us you've helped maintain a project

[2018-02-22 00:33] fundamental commented on #4182
I agree that this is a problem. For there to be FLOSS developers, there must (IMO) be a hook to get them interested, an onboarding process to make it easy for their work be integrated, and some organization to help them continue to contribute once they've broken the ice. Open source should be fun for contributors IMO.

It looks like you agree with some of the initial process.

- "[reputation] on t

[2018-02-22 02:48] Anonymouqs commented on #4182
I really want to help with the coding, but I'm still learning how to code in C++ and use QT.  Just this Sunday, I built my first program from source-code on Windows(I feel like I passed into some sort of "technological manhood"... or puberty.) Currently, my strong suit is with markup languages, so for now, I'll be helping out with the docs.

I think Junior Job would be a better title which might e

[2018-02-22 03:15] fundamental commented on #4182
Perhaps a small amount, but this is a standard tag across github. So, "good first issue" *is* already a convention.

That's circular. You seem to be implying that we need Dev hours to reach feature parity before being able to attract devs.

How/Why/Who? Enthusiasm is fine, though to make real progress people need concrete things to work on.

[2018-02-22 03:43] Anonymouqs commented on #4182
My bad, I'm new to open-source development. My specialty is in writing stuff. Speaking of confusion, I think we should at least explain to newbies on the Get Involved page what that means because I literally thought it was just a really well-typed issue by a new guy :P

I meant in the far future. To attract even more devs and gain even more reputation once we have are notorious for being epic. I w

[2018-02-22 03:49] fundamental commented on #4182
This thread is getting off-topic...

I strongly disagree. After building other Linux Audio software on my computer, building ardour was darn near trivial. Building large software projects on windows and to a lesser extent on OSX can be difficult, but ardour doesn't contribute to the platform dependent complexity IMO.

[2018-02-22 06:20] Sawuare commented on #3017
Then how about "Mute output audio"?

[2018-02-22 10:10] Umcaruje commented on #3017
Redundant, it's the same as "Mute output" since we're always talking about audio here

[2018-02-22 10:46] Spekular commented on #3017
+1 to Umcaruje's point that "audio" is redundant. Out of the options
proposed so far I think I prefer tresf's "Mute Source".

Alternatively, what about labelling the LED "passthrough" and setting it to
be on by default.

There's no point adding a peak controller if you don't want your audio
input to drive a controller knob, so the main function of the effect must
be to do just that. By that logic,

[2018-02-22 13:26] Anonymouqs commented on #4182
Back to the general topic then: How can we attract more developers and supporters to LMMS in order to speed up development?

[2018-02-22 14:02] Sauerstoffdioxid opened #4183 ""Stay on top" bug when project contains VST effects"
When I load a project which contains at least one VST effect, the "stay on top" function is broken.

### Steps to reproduce

1. open LMMS
2. On the default project, add a VST effect to the master channel
3. Save the project
4. Load the project
5. Enable "Stay on top" on for instance the Controller Rack
6. Open e. g. the Piano Roll

### Expected

Everything works fine, i. e. windows interact as nor

[2018-02-22 14:23] TristexMusic commented on #4177
It worked with the Beta. Thanks for your help. 👍

[2018-02-22 16:13] musikBear commented on #3810
Ok, *that* is how i have my 5 SF2, and all as .XPF. I will then ofcause not have any SFs in samples library, and no issues loading them. 👍

[2018-02-22 19:03] musikBear commented on #4183
Yes i have also seen the 'echoed' graphic error, but also without enabling 'stay on top'. I think the glitch is more depending on what window is beneath it, and how that graphic scales  ( -Also reported earlier, when qt5(?) was chosen

[2018-02-22 19:12] JohannesLorenz commented on #4179
I'm indeed integrating zyn into LMMS and there will be a PR very soon. However, it won't be based on LV2 or anything similar, but on something new called "osc plugin".

IMO LV2 has more disadvantages than advantages. Maybe we should finally start a thread about arguing what's good and bad about it (in an objective way). For me, the decision whether I'll get fusion now with a protocol which does it

[2018-02-22 19:14] tresf commented on #3810
Again, storing samples relative to projects/presets is not yet supported, they must reside inside `samples` currently.  If you have any more information to offer the topic, they're best suited for the original bug report here: #2982.

[2018-02-22 19:17] DomClark commented on #4183
Reproduced on 1.2.0-RC5, Windows 10 x64. Occurs for both VST effects and instruments using both Win32 and Qt embeddings.

Some speculation: prior to embedding a VST, all the subwindows in LMMS are non-native ones entirely managed by Qt, but upon embedding, these all become distinct native windows, so this might be a Qt bug.

[2018-02-22 19:27] tresf commented on #4179
@JohannesLorenz thanks for the background information.  I'm happy to tackle the packaging and building decisions once the time comes.  Binary release would be a very nice option, but obtaining an application-wide license from @fundamental vs working with the [upstream build scripts](https://github.com/zynaddsubfx) is going to take some research to decide.  I'll contact @fundamental offline about b

[2018-02-22 20:11] tresf commented on #4182
I suggest you read: https://github.com/LMMS/lmms/issues/3483, https://github.com/LMMS/lmms/issues/2745, https://github.com/LMMS/lmms/issues/3447

Attracting developers is a recruitment and marketing strategy but one (as @fundamental has explained) comes with a promise of invested time, something we're quite short on currently.

Instead of asking what can "we" do, perhaps a better question is what

[2018-02-22 20:57] DomClark commented on #4183
This appears to be a Qt bug, I've managed to recreate it outside of LMMS. Here's a simple test case in Python: https://gist.github.com/DomClark/97b7e54b366b57bdfc5fed29c888c4ea

[2018-02-22 21:44] tresf commented on #1135
What about changing the default "LMMS WORKING DIRECTORY" to `~/Documents/lmms`.  Reasoning... by default Windows and MacOS make the `$HOME` directory hard to navigate to.  What I mean is, the default Finder/Explorer window doesn't have a shortcut to the `$HOME` directory so finding a project you just made or adding a custom sample isn't all that intuitive.

I understand Linux still treats the `$HO

[2018-02-23 01:56] midi-pascal commented on #1135
@tresf :+1: Linux has a ~/Documents anyways so, why not conciliate OS's the same way?

[2018-02-23 08:47] raindropsfromsky commented on #4182
Tres,

I do understand that we have plenty of ideas about GUI design and features.
But we do not have enough coders.
So when a newcomer piles on a bucketful of more ideas, having to explain
all this becomes a frustrating experience.
Worse, the newcomer in his enthusiasm may end up arguing and press a few
frayed nerves.

This can be avoided with a few low-effort

   1. Explain the "idea/resource" s

[2018-02-23 15:14] fundamental commented on #4182
How do you word that bluntly enough that new users encounter the text and understand it without it sounding like "we don't have resources, the project is semi-dead"?

What level of granularity would be present? I've seen this sort of suggestion elsewhere (not-LMMS related), but the major problem is that it's nearly impossible to estimate a specific date unless there's at least one person actively

[2018-02-23 15:22] #4178 closed

[2018-02-23 16:32] tresf commented on #4182
And this is why we can't have nice things. 🙄.  Seriously, @raindropsfromsky we do! https://lmms.io/get-involved/.  If you want to make this clearer, please issue a PR against the page here: https://github.com/LMMS/lmms.io/blob/master/templates/get-involved.twig. Getting involved isn't hard.  @Anonymouqs thanks for the PR, BTW!.  This is exactly what we need. (https://github.com/LMMS/lmms/pull/4184

[2018-02-23 16:36] Anonymouqs commented on #4181
Some artists just *feel*, they like to try stuff out; sometimes, the user might want to see a "summary" instead of reading the actual book. Also, hand-documenting connections is beyond tedious, it is soul-destroying in a complicated project.

Finally, such visualization has clearly become a standard. If we want to set a standard(by going beyond), we must first *meet* it.

And every (good) standard

[2018-02-23 16:50] Spekular commented on #4181
Just as an FYI, FL has a display with "cables" connecting channels:
https://www.image-line.com/support/FLHelp/html/mixer_index.htm

FWIW I'm more of a fan of the line connections (2 lists or FL style) than a
matrix display.

On Feb 23, 2018 17:37, "Orbital Ink" <notifications@github.com> wrote:

[2018-02-23 17:01] fundamental commented on #4182
@tresf Perhaps I'm misreading point 3, but my interpretation was to list specific skills/keywords Qt, C++, french translations, audio DSP, etc with a focus on the easier end of the spectrum.  There's a reasonable number of eyes looking at a project like LMMS, it's a matter of selling the idea of contributions. One approach is to say "We need this skill that you have" and being specific can help wi

[2018-02-23 17:11] tresf commented on #4182
@fundamental perhaps I need to be more inviting with the branding side of things, but for those wanting to help maintain this information, we invite you to.  I think the resources above give everything needed to get started.  I am NOT volunteering to maintain yet another constantly changing portion of our software for speculative gain, but I'd be happy to answer questions.

[2018-02-23 18:20] #4108 closed

[2018-02-23 18:28] Anonymouqs commented on #4181
matrix display.

What if we support both types? Speaking of line-based views, I like OpenOctave's rendition a lot.

[2018-02-23 18:33] tresf commented on #4181
We wouldn't turn down any of the above proposals.  The cable routing would fit within our current UI a bit better for the short-term.  The matrix view may be better off as a full-mixer spectrum analyser so that each channel can be monitored without adding a visual plugin over and over; soloing; whatever we do today.

[2018-02-23 22:47] ElectricBee1 opened #4185 "Sample Files don't export with Midis"
Hello! For some reason, midi samples (for instruments) don't export when I export a song that I use a sf2 soundfont with. In other words, everything defaults to a piano when I export my song as a MIDI. Is there a workaround until sample exporting becomes native to LMMS?

[2018-02-23 23:32] tresf commented on #4185
As far as I know MIDI export simply exports a plain "MIDI" file with any specific "instrument type" information.  This means that the instrument mapping MIDI composers would be use to are never going to make it in properly and this is by design since we wouldn't really know.  MIDI is designed more as a way to export note information.  MIDI export is not intended to work properly out of the box wit

[2018-02-24 00:26] Anonymouqs commented on #4185
The only standard you could really use is the GM standard, but even there, it can get pretty hectic in percussion instruments. (There's no standard encoding for Snare except a regular stroke in GM)

I have been able to export midi **from** MuseScore 2.0 and into LMMS and have it play it correctly with each of the instruments.

@ElectricBee1  Please give steps to reproduce, I don't know if you're t

[2018-02-24 08:12] tresf commented on #4094
Please pardon the incorrect version number, but this build below is the latest `stable-1.2` with the aforementioned patches, code here: #4186

https://github.com/tresf/lmms/releases/download/v1.2.0-rc4/lmms-1.2.0-rc4.207-linux-x86_64.AppImage

@tuxutku can you please test on Clear Linux?  @Umcaruje can you please test on your system with Jack available?  It should work with existing jack installat

[2018-02-24 11:39] raindropsfromsky opened #4187 "in FX Mixer channel, the SEND+arrow should be replaced with a more intuitive arrangement"
Currently, the internal connection is denoted by SEND and an up/down arrow.

This is not intuitive, because the word "send" itself means "outward signal".
How can it be understood to mean "send in" and "send out"?

There are several options (all discussed at devtalk channel of Discord), which I am summing up here.
1. Instead of showing  **SEND** in gray+green, change the button to IN and OUT.

2.

[2018-02-24 11:49] TrashCorres opened #4188 "Mark/unmark corresponding octave semitones crash (LMMS 1.2.0-RC5)"
**Steps to reproduce**

- open piano roll
- mark any note on the piano roll keyboard with RMB "mark/unmark current semitone"
- on the same note use RMB "mark/unmark corresponding octave semitones"
- LMMS crashes

Above doesn't occur while using "mark/unmark corresponding octave semitones" on note selected using "mark/unmark corresponding octave semitones" option.

OS: Windows 7 (64)

[2018-02-24 12:02] Umcaruje commented on #4185
Nope, you have a standardized MIDI sound bank across all manufacturers to ensure all files are played properly. This is what's known as the [General MIDI Standard](https://en.wikipedia.org/wiki/General_MIDI) So I think we should be exposing a way for the users to set channels on their midi tracks as well as a desired patch number for the instrument.

[2018-02-24 12:39] Spekular commented on #4187
I don't quite understand what issue you see with the current design, and
your proposal doesn't seem more intuitive to me.

"SEND" only appears when a channel is selected (and the channel displays an
upwards/outwards arrow), so it's clear to me that it means "send the
selected channel here" (here being the channel where you press "SEND").

The current "SEND" button is also very compact. I believe y

[2018-02-24 15:50] musikBear commented on #4188
True, also on win 32
Good find!

[2018-02-24 15:54] musikBear commented on #4187
njea.. infact 'SEND' should read 'RECEIVE' or 'GET' or similar

[2018-02-24 15:58] zonkmachine commented on #4188
I get a crash with only this step.

[code]

[2018-02-24 16:47] tresf commented on #4187
Well, if we [take a lesson from ImageLine](https://user-images.githubusercontent.com/6345473/36632736-54efaf88-1958-11e8-8b66-8545bbb294c2.png), the less text the better.  This also helps non-English users.

Related discussion is here: #4181

[2018-02-24 23:51] zonkmachine commented on #4188
This issue is present in https://github.com/LMMS/lmms/issues/2193 / 56a04072e22e3afbd3d798064bc64953da203edf that introduces the "**Mark/unmark all corresponding octave semitones**" function.  @waxspin

[2018-02-25 00:14] zonkmachine commented on #4188
[code]

[2018-02-25 02:36] PhysSong commented on #4188
I think fixing this crash won't be hard, but what's the desired behavior in this situation? Here are some candidates:

* Unmark the note
* Mark all octave semitones
* Mark all octave semitones and unmark the note

[2018-02-25 13:44] musikBear commented on #4188
This mirrors the crash-usecase:
The user has marked one note already.
Then he realizes that he wants all similar notes marked **too**
So the behaviour should be:
Keep **all**already marked, and mark all corresponding semitones for **the** semitone that the event was initiated on.

[2018-02-25 16:43] NETMANSKY opened #4190 "Metronome pre-roll"
It's uncomfortable to record midi whithout metronome pre-rool but would be good if it will.

[2018-02-25 16:47] tresf commented on #4190
Sounds like #3394/#3467

[2018-02-25 16:49] zonkmachine commented on #4190
And https://github.com/LMMS/lmms/issues/869

[2018-02-25 16:50] #4190 closed

[2018-02-25 17:13] abhaskumarsinha opened #4191 "LMMS Crashes when Clicking ZynAddSubFX"
I'm not sure what's really happening to me. I've looked at previous Duplicates for this ticket but didn't get anything fixed. So, I'm posting my problem here -

**When I click on the Show GUI Option of the Plugin, the Plugin as well as LMMS Crashes,**

I'm running Windows 7 32bit as Administrator, so there's no problem with permissions.

Sorry no steps to reproduce because few days ago (don't reme

[2018-02-25 17:14] NETMANSKY opened #4192 "Saving condition of playback management button"
Condition of playback management button in song editor is not saving in project. Every time after launch of project need to press this button to setup playback as it should.

[2018-02-25 17:20] NETMANSKY commented on #869
BUT HOW it can work in BB editor where no one can setup marker before recording pattern? It's not clear...

[2018-02-25 21:52] fraunos opened #4193 "No MIDI devices [1.2.0-rc5]"
I found out i just got an update and noticed there's no MIDI devices list. I thought it's a feature, but I couldn't get my MIDI keyboard to work.
## Description
When I click the gear icon by the instrument and mouseover the MIDI menu item it shows two check boxes "Input" and "Output" instead of lists of MIDI devices. MIDI devices menu is missing also in the instrument's MIDI panel as seen below.

[2018-02-25 22:39] GingkathFox commented on #4193
What is ur OS?

[2018-02-25 22:50] fraunos commented on #4193
It's Linux Manjaro 4.15 if I'm not mistaken.

[2018-02-25 22:52] GingkathFox commented on #4193
oh
crap, I don't run Linux
have u tried the Documentation?
https://lmms.io/documentation/

[2018-02-25 22:58] fraunos commented on #4193
You mean I should post some logs? I'll try tomorrow if I don't forget to. If you meant something else, please clarify.

[2018-02-26 02:10] GingkathFox commented on #4193
u should post the logs, and I meant to see if the Docs had help on MIDI

[2018-02-26 02:29] tresf commented on #4193
@fraunos, how are you installing and launching RC5?  Are you doing it from the `.AppImage`?

If you're doing it from the AppImage, please start the AppImage from terminal and copy/paste the output here.

If you are compiling from source or downloading from an ArchLinux style repository, please explain that clearly as we don't build any of the 3rd party copies of LMMS that are in the wild.

[2018-02-26 04:40] tresf commented on #4152
Changed bug to running-list of built-in presets.  `ufo2` and `Arpeggio9` are two that immediately kill LMMS sound playback on MacOS.

[2018-02-26 06:05] PhysSong commented on #4193
@fraunos Could you check the MIDI interface? You can find that in setting dialog. Please try .hanging that to ALSA-Sequencer if you can. Note that the change applies after restarting LMMS.

[2018-02-26 13:40] musikBear commented on #4191
@abhaskumarsinha  what lmms version?

[2018-02-26 13:45] musikBear commented on #869
@NETMANSKY -there is no record option in BB, but there is in BB opened as piano-roll, and then the issue is transparent.

[2018-02-26 15:53] Anonymouqs opened #4195 "Allow Channel Chaining to allow better Signal Flow"
Can we have support for an effects channel to send to another channel instead of a master channel?
This would allow us to:
* Apply effects in a more efficient manner. By allowing us to apply effects to groups of groups of signals.
* Organize signals better.
* For example, someone might want all of the bass to have a certain effect applied to them, but then individual groups of the bass might have

[2018-02-26 16:03] Sawuare commented on #4195
This is already implemented in LMMS 1.2.0-rc.5.
![image](https://user-images.githubusercontent.com/25503477/36680648-6c6d450a-1b27-11e8-8b2a-2acc77a2ced8.png)

[2018-02-26 16:04] tresf commented on #4094
@Luraktinus do you have the ability to test the above build?  We'd like to get confirmation before merging.

[2018-02-26 16:04] Anonymouqs commented on #4182
We need to advertise that we need to advertise to circles **outside** of LMMS far and wide.

What I eventually want to do is create a tutorial of DAW programming based on LMMS, so once people finish it, they can be confident with programming for LMMS.

For now, I'm still learning QT and C++ programming since it is immensely different from the glorious Python Master Race ;D

[2018-02-26 16:11] fundamental commented on #4182
Specifically who? What individuals? What organizations? What websites? What type of content? etc. Specifics are needed otherwise it's just throwing ideas into an abyss.

If you want to write tutorials you're in an interesting spot as the problems you are encountering are likely the same problems other beginners are encountering (or will encounter in the future). Take notes, write documentation, an

[2018-02-26 16:23] abhaskumarsinha commented on #4191
@musikBear I'm using LMMS v1.1.3

[2018-02-26 17:02] tresf commented on #4191
Yeah, the Zyn we bundle won't run on it's own like that.  That's normal.

[2018-02-26 17:05] tresf commented on #4195
Yes, everything including circular detection are in 1.2.0.  Closing.

https://github.com/LMMS/lmms/commit/d9d085d14e8258340d61f3e2402ee05bc675cbd4

[2018-02-26 17:51] Anonymouqs commented on #4195
How do I use the send feature? The documentation doesn't help me at all.

[2018-02-26 17:54] NETMANSKY commented on #869
@musikBear Thanks. But countdown is not working in BB pianoroll that's the whole point. In FL it's working as I know. I think it must be setting option. I hope someday it will.

[2018-02-26 18:02] Anonymouqs commented on #4195
Apologies, I found directions in the documentation. Can we add tooltips to the send channels? It's a bit confusing at first glance and would enhance user-friendliness.

[2018-02-26 18:13] zonkmachine commented on #4195
There is a PR for this against master. https://github.com/LMMS/lmms/pull/4128
There is currently info (what's this text) available but no tooltip. Right click the `send` label and select 'Help' (bottom).

[2018-02-26 18:15] Umcaruje commented on #4094
@tresf did a quick test, connects to jack with no issues and works splendidly.

[2018-02-26 18:27] tresf commented on #4195
@Anonymouqs, in addition to the PR that @zonkmachine linked, @raindropsfromsky has proposed a more intuitive UI here: https://github.com/LMMS/lmms/issues/4187, https://github.com/LMMS/lmms/issues/4181.

[2018-02-26 18:29] tresf commented on #4138
Closing due to lack of response by the OP.  This is just the default behavior for modal dialogs combined with what I believe to be multi-monitor bugs with Qt's font sizing.

[2018-02-26 18:29] #4138 closed

[2018-02-26 18:32] tresf commented on #4094
@Umcaruje thanks.  Since @Luraktinus says he can test today, I'll give him a bit and then merge. 👍

[2018-02-26 18:39] tresf commented on #4191
What didn't help?  Rebooting, purging and reinstalling LMMS from scratch?  Checking for Qt file conflicts?  Updating your sound drivers?  Removing the `.lmmsrc.xml` file or scanning your drive for errors?

Those steps are quite involved.  A blanket statement like "They didn't work" isn't how one gauges assistance from the development team.

Please don't make blanket statements like this.  This sta