[2020-04-23 10:47] #5464 closed

[2020-04-23 10:58] coye88 commented on #5455
install alsa on computer perhaps threw terminal change your sound seeting to alsa and put pulse or jack or oss as your device.

[2020-04-23 17:42] SecondFlight commented on #5463
Hi! Thanks for the report. This has also been reported in #701, and has been fixed in #3487. The fix will be released in 1.3.

[2020-04-23 17:42] #5463 closed

[2020-04-23 21:26] Spekular commented on #4098
Can confirm that this diff caps the note area correctly (letting the note *edit* area grow). The line numbers didn't match up for me but I manually merged the diff here: https://github.com/Spekular/lmms/tree/SongEditorCrash

Unfortunately, I can't reproduce the crash (neither with a 1.2 build on linux, nor 1.2.0 or 1.2.1 on windows) so I can't confirm if it's fixed.

[2020-04-23 21:39] Veratil commented on #4098
If you move the subwindow titlebar to the bottom of the screen and resize up multiple times you should be able to get it to crash (without the patch).

[2020-04-23 21:41] Spekular commented on #4098
I used this method on linux (laptop), but all I get is a misaligned keyboard, no crash. On windows (desktop) I'm able to resize without cheating, but the result is the same, no crash.

[2020-04-24 05:06] Veratil commented on #4098
There's a few oddities when playing with the window and resizing with this patch:
* there's always one key not displayed, so the scroll never goes away
* when the window is sized very large, trying to resize the note edit area you have to go about an octave above the line before it starts to resize
* not sure if this is normal or with this change, but the very top key is half hidden
* when resizin

[2020-04-24 05:11] Veratil commented on #4098
With my PR #5449, comparing:

* all keys will be visible (except one, see below)
* resizing note area works as expected
* mine seems to be missing B8, A#8 is half hidden
* note edit area stays the same
* bonus: I can resize the window so the note edit area handle is hidden, as well as the keys; scrolling doesn't work so you have to resize up to then resize the note area down 🤔

[2020-04-24 12:51] hfiguiere commented on #4109
I am currently working on a solution to install (and package) plugins in Flatpak. It's not specific to LMMS but will definitely work with it. I managed to load some LV2 plugins through Carla. I still have to build Carla in LMMS to make this work because it looks for Carla as a dependency.

[2020-04-24 14:37] BrunoVernay commented on #4109
PipeWire may not be so far to be usable? https://pipewire.org/

[2020-04-25 18:45] zonkmachine commented on #4281
This seem indeed to have been fixed. Closing.

[2020-04-25 18:45] #4281 closed

[2020-04-25 22:40] zonkmachine commented on #4201
I couldn't find where we set that. The places where we specifically set `Qt::PointingHandCursor` we don't specify the coordinates for the hot-spot and it works well anyway. Also the error changes with the number of beat steps and if the BBEditor is expanded or not so that suggests the algorithm is at play here. Could be a bit of both but I went ahead and tweaked the algorithm a bit. https://github

[2020-04-26 06:10] PhysSong commented on #5450
Can you try changing the "VST plugins embedding" setting on the settings dialog?

[2020-04-26 06:19] PhysSong commented on #5418
@LeoBoudet If there are any problems with audio playback, could you try increasing the buffer size in the settings dialog?

[2020-04-26 06:20] #5409 closed

[2020-04-26 06:23] PhysSong commented on #5394
It sounds similar to #3833. I think we can consolidate this and that into single issue.

[2020-04-26 06:26] PhysSong commented on #5254
@Veratil Could you *revive* this abandoned issue by opening a pull request?

[2020-04-26 06:44] PhysSong commented on #4082
I'm not sure if it's a bug of LMMS or Qt or something else, but I can't reproduce it with builds from `master` anymore.
Please feel free to reopen this if you still experience this with `master` builds.

[2020-04-26 06:44] #4082 closed

[2020-04-26 07:00] PhysSong commented on #5305
@jombenedict I don't clearly get what you mean. Do you mean the grid, or something else?

[2020-04-26 07:07] PhysSong commented on #5231
@KodzghlyCZ Could you please answer the question by @SecondFlight if it's still relevant?

[2020-04-26 07:15] JohannesLorenz commented on #5409
Thanks, I keep forgetting to hit that close button :+1:

[2020-04-26 07:17] PhysSong opened #5468 "Better logging system"
Currently, LMMS uses several functions to print logs, e.g., `printf()`, `fprintf()`, `qWarning()`, etc. It has several issues and can be improved.

- [ ] Print log into a file (#3876)
- [ ] Better and unified logging API (#5159)
- [ ] Log viewer in the GUI

Please add comments if you have any suggestions.

[2020-04-26 07:17] PhysSong commented on #5159
Consolidated into #5468.

[2020-04-26 07:17] #5159 closed

[2020-04-26 07:17] PhysSong commented on #3876
Consolidated into #5468.

[2020-04-26 07:17] #3876 closed

[2020-04-26 07:27] #5036 closed

[2020-04-26 07:38] PhysSong commented on #4919
Can we move to #2510?

[2020-04-26 07:43] PhysSong commented on #5104
Closing as a duplicate of #4885.

[2020-04-26 07:43] #5104 closed

[2020-04-26 07:43] PhysSong commented on #4885
See also: #5104

[2020-04-26 09:00] zonkmachine commented on #5342
Fixed in https://github.com/LMMS/lmms/pull/5467

[2020-04-26 09:00] #5342 closed

[2020-04-26 09:38] Spekular commented on #5394
Am I correct in understanding that the issue with piano roll was fixed by #4393?

[2020-04-26 09:38] Spekular commented on #3833
Closing as duplicate of #5394

[2020-04-26 09:38] #3833 closed

[2020-04-26 11:24] harsan81 commented on #5450
Changed the Plugin Embedding on Settings to "No Embedding" and voila, it's working!
Thank you very much PhysSong!!!

[2020-04-26 13:13] Veratil commented on #5254
Sure, it's been a while since I looked at that section of the code, so I'll double check things. 👍

[2020-04-26 14:12] KodzghlyCZ commented on #5231
I'm sorry, I can't currently make any sample project, but if you just make any project with sidechain and apply it to some kind of bass or whatever, with basically any settings it pops. This was irritating me so much, I purchased Ableton the next day and now the issue is surprisingly gone 😄
I hope you can solve this issue, my thought on this is, that there is the signal ending on other level, that

[2020-04-26 20:21] #5254 closed

[2020-04-26 20:32] Spekular commented on #5439
Milestoning for 1.3. If the new sample library isn't ready by then I suppose we may as well fix this in the meanwhile.

[2020-04-26 23:35] zonkmachine commented on #5354
@ca3games Basically this is implemented already. You can select a chord or scale and highlight the corresponding notes in the Piano Roll. Watch @musikBear's post above.

1. Select a scale or chord in the menu.
2. Right click the keyboard to the left and choose to highlight a scale or chord. Done...

I'm closing this feature request.

[2020-04-26 23:35] #5354 closed

[2020-04-27 00:02] zonkmachine commented on #5303
@Holaff Some improvements were made for macOS already via https://github.com/LMMS/lmms/pull/4851
@tresf You're the Mac guy. I believe the request here is to change [this line](https://github.com/LMMS/lmms/blob/9efb6f9a8ee63490d6706d36a8dbdcfabb946558/src/gui/editors/SongEditor.cpp#L507) from
`else if( ke->key() == Qt::Key_Delete )`
to
`else if( ke->key() == Qt::Key_Delete || ke->key() == Qt::Key_B

[2020-04-27 00:13] zonkmachine commented on #5363
@musikBear If I select quantization 1/1 and a time signature of 5/4. Where do you want the grid lines?

[2020-04-27 00:32] zonkmachine commented on #5192
Sure. We use it here to add randomization to the arpeggiator and sfxr (pluggin) has random settings.
https://github.com/LMMS/lmms/blob/a4f677362d3c37e5436884c70c8869f0cc9174cd/src/core/InstrumentFunctions.cpp#L415

[2020-04-27 01:54] PhysSong commented on #5394
Yes. However, the method doesn't work well with the song editor. I'm investigating it.
However, it's easy to allow reset the editing mode by hitting the control key again.

[2020-04-27 02:08] rdrpenguin04 commented on #5290
Wow, I was actually kinda looking for something like this without realizing it! I'm writing a converter from SDAT to MMP, so this would be a nice final step. I was thinking of implementing this, but it seems it has a PR already.

[2020-04-27 02:39] FrozenPixell commented on #5439
if its okay i would like to take this one

[2020-04-27 06:27] Spekular commented on #5439
@FrozenPixell go ahead! As an additional note, please use the following format when renaming them:

(From https://github.com/LMMS/assets/blob/master/Samples/README.md)

[2020-04-27 13:32] IMTG-Music opened #5473 "VST research by LMMS"
### Enhancement Summary
VST plugins in a project are saved with their adress on the computer they are used on (Ex : C:/Music/Installed Plugins/PluginName) and that creates issues with VSTs not opening when changing of laptop or when exchanging projects with other producers where VSTs aren't arranged the same.

An auto research in the folder of work for VSTs could solve that (similar to how FL Stud

[2020-04-27 13:56] IMTG-Music opened #5474 "Allow looped samples to stretch based on project tempo"
Loop users would love to see their samples automatically adapt to the project BPM. ~~The audio file processor uses a resample method which changes both BPM and pitch. A stretching option could allow BPM adaptation only.~~ #3103

[2020-04-27 14:13] SecondFlight commented on #5231
Thank you for the response, @KodzghlyCZ!

This is claimed to have been fixed (see #1281), but that was before 1.2 and whatever fix that was should've made it into 1.2. Spekular seems to confirm this in #2534. I can't test on master right now but this will need some investigation to see if it's still relevant.

A test project or detailed set of steps to reproduce would clear up some ambiguities:
-

[2020-04-27 14:19] SecondFlight commented on #5474
Time stretching is a duplicate of #3103. When you say sample BPM detection, do you mean like what's in FL, where the sample can be automatically stretched to fill a bar (or some fraction or multiple of a bar)?

[2020-04-27 14:21] SecondFlight commented on #5473
I believe this is a duplicate of #4907. Please let me know if you believe this issue is not related.

[2020-04-27 14:21] #5473 closed

[2020-04-27 14:23] IMTG-Music commented on #5474
Yes that's what I meant, sorry for the duplicate I didnt see it !

[2020-04-27 14:34] hfiguiere commented on #4109
In time, but right now this is not a blocker. LMMS do work as intended, with just a little glitch about the Carla icons I haven't been able to figure out. See flathub/io.lmms.LMMS#4

[2020-04-27 18:12] tresf commented on #5303
I'm fine testing/approving the PR, but I won't be coding this feature myself anytime soon, so if someone issues the PR, I can step in and help.  Note, although a Mac is needed for final testing, the backspace key can be coded and tested on any platform.  This is only macOS by utility, not by environment, not by compiler, not by any other means.

[2020-04-27 20:44] zonkmachine commented on #4201
I was wrong. Everything is there in the issue description by @tukkek  If you switch to the classic theme or copy over the old icon **hand.png** to the default theme the problem is gone. Closing #5466

[2020-04-27 20:49] thmueller64 commented on #5461
I've noticed another inconsistency: The comment to `Effect::checkGate` states that "Effects should call this at the end of audio processing", which is not the case here. The buffer is processed after (if fixed above) incrementing `outSum`. In, e.g., Bitcrush.cpp and Flanger.cpp `outSum` is calculated using the processed buffer, while in CrossoverEQ.cpp, Amplifier.cpp and BassBooster.cpp it is calc

[2020-04-27 20:50] Veratil commented on #5363
A whole note is still a whole note, and as such I believe the alignment should be at the start of a bar. Time signature represents the bar, and we're currently drawing for the "whole song". With odd time signatures this really starts to show itself in the grid because we're trying to divide up things unevenly, starting from bar 1 instead of the current bar.

So if we have 5/4, this is what 1/1 qua

[2020-04-27 21:15] zonkmachine commented on #5363
Borrowing your ascii art a bit. This is how notes are quantized today with 5/4 beat.

[code]

...or we can just stick with the 1/4 quantization grid?   :)

[2020-04-27 21:37] Veratil commented on #5363
Remove the 1/1, 1/2, and 1/4, eh? I like your style. 😂

But this is a problem that goes deeper than the no visual difference, which I don't want to off topic this issue to, but there needs to be a rethinking of the way it's displayed overall.

[2020-04-28 05:39] #4679 closed

[2020-04-28 05:41] PhysSong commented on #5063
Fixed in #5472.

[2020-04-28 05:41] #5063 closed

[2020-04-28 08:00] brotenet commented on #5457
By all means, I'm nowhere near being an experienced user.. :sweat_smile:

amm... what is a PR? and how do I get it running?? :sweat_smile:

[2020-04-28 17:18] JohannesLorenz commented on #5457
I just mean, at least, you can use it in a basic level :smiley:

Pull Request. See the sections "Cloning the source code" and "compiling" of [our wiki main page](https://github.com/LMMS/lmms/wiki). Feel free to ask here or in our discord channel (linked on lmms.io) if you want to give it a try and need help.

[2020-04-28 18:20] zonkmachine commented on #4201
The mouse cursor is selected here:
https://github.com/LMMS/lmms/blob/e199f72686224011fe8da23b8db8befb5a0bd2b4/src/core/Track.cpp#L296
and possibly here too:
https://github.com/LMMS/lmms/blob/e199f72686224011fe8da23b8db8befb5a0bd2b4/src/core/Track.cpp#L612

If I change `setCursor( QCursor( embed::getIconPixmap( "hand" ), 3, 3 ) );` to
`setCursor( QCursor( embed::getIconPixmap( "hand" ), 6, 3 ) );`

[2020-04-28 19:55] JohannesLorenz commented on #5461
@thmueller64 thanks for the analysis. Funnily, @DomClark and me found this issue 2 days ago, too. Like he said, it must be the effect's output we look at, not the input (consider a reverb effect). Even for simple amplifiers, we need to look at the output, in order to use the "gate" properly (the gate works by silencing the effect when the output falls below the gate).

We were wondering why this h

[2020-04-28 20:06] Veratil commented on #4201
4. Add two `Q_PROPERTY` for the mouse hotspot that tells where it should be.

[2020-04-28 20:09] tresf commented on #4201
Good recommendation... the `Q_PROPERTY` will definitely be the most scalable for potential future mouse cursor customizations.

[2020-04-28 20:18] thmueller64 commented on #5468
What do you think of the header-only version of spdlog?
https://isocpp.org/blog/2014/11/spdlog
https://github.com/gabime/spdlog

[2020-04-28 20:34] thmueller64 commented on #5468
What do you think about the header-only version of spdlog?
https://isocpp.org/blog/2014/11/spdlog
https://github.com/gabime/spdlog

[2020-04-28 21:08] thmueller64 commented on #5461
Thanks for your answer and suggestions @JohannesLorenz.

For now, I also can not think of a compelling reason to leave this up to the user.
Currently, `m_autoQuitDisabled` is `True` by default (see @DomClark s explanation for this in #5352), but `outSum` is always calculated, even if it is not used according to this default. The performance impact is probably negligible, but that would be another

[2020-04-28 23:13] Veratil commented on #5363
So playing around with the beat lines, how's this idea? Didn't include the bar lines though, and this is just poorly coded in test.
![lmms-quan-11-43](https://user-images.githubusercontent.com/2244945/80546272-d9202780-897a-11ea-89c3-3ce936aa802e.PNG)
![lmms-quan-11-44](https://user-images.githubusercontent.com/2244945/80546273-dae9eb00-897a-11ea-9375-cf906642f042.PNG)
![lmms-quan-12-43](https://u

[2020-04-29 04:24] JohannesLorenz commented on #5461
That's another good point for adding the out sum calculation into `Effect::checkGate`.

That would be cool. :+1:

[2020-04-29 22:36] thmueller64 commented on #5016
I would like to work on this, if it is okay.

[2020-04-30 02:57] #2934 closed

[2020-04-30 03:13] PhysSong commented on #5392
Closing as a duplicate of #3170.

[2020-04-30 03:13] #5392 closed

[2020-04-30 03:35] PhysSong commented on #5386
The problem is that FLTK 1.3 doesn't support High-DPI scaling well.

[2020-04-30 03:40] PhysSong commented on #5335
@lee-yunseok What's your exact request? Is releasing AppImages for ARM sufficient?

[2020-04-30 03:43] #5090 closed

[2020-04-30 03:45] PhysSong commented on #388
Yes, it is.

[2020-04-30 03:45] #388 closed

[2020-04-30 03:54] PhysSong commented on #903
Fixed in the default theme for 1.2.

[2020-04-30 03:54] #903 closed

[2020-04-30 03:57] PhysSong commented on #900
Closing, since there's a new and better feature request #5301.

[2020-04-30 03:57] #900 closed

[2020-04-30 03:59] PhysSong commented on #4974
Fixed in #5003.

[2020-04-30 03:59] #4974 closed

[2020-04-30 04:00] PhysSong commented on #822
FYI, 1 and 3 are implemented in the `master`(development) branch.

[2020-04-30 04:06] victor00101 opened #5476 "Lmms Crashes when using M-audio mini 32 midi keyboard"
### Bug Summary
lmms crashes using ALSA without any vst plugins, when I play my midi keyboard on it.  Not right away, but in the middle of my projects unpredictably using m-audio mini 32 midi keyboard

#### Steps to reproduce
use the keyboard for 20 minutes or a half-an-hour

#### Expected behavior
I'm not sure, that lmms shouldn't crash

#### Actual behavior
crashes even if I'm not using the keyb

[2020-04-30 04:11] PhysSong commented on #5476
LMMS 1.1.3 is too old. Could you try the 1.2.1 release from our official homepage?

[2020-04-30 04:40] PhysSong commented on #3421
For example, Calf Filter has a control called "Intertia" for that purpose.
https://calf-studio-gear.org/doc/Filter.html

[2020-04-30 04:44] PhysSong commented on #3288
Closing, since there's a new and better feature request #5301.

[2020-04-30 04:44] #3288 closed

[2020-04-30 04:53] PhysSong commented on #3862
Should be fixed in #4862.

[2020-04-30 04:53] #3862 closed

[2020-04-30 05:06] #4689 closed

[2020-04-30 05:25] lee-yunseok commented on #5335
@PhysSong Yes Appimage for RPi.

[2020-04-30 12:12] zonkmachine commented on #5335
@PhysSong Travis ARM builds is in alpha.
https://docs.travis-ci.com/user/multi-cpu-architectures

[2020-04-30 13:10] victor00101 commented on #5476
okay

[2020-04-30 14:39] victor00101 commented on #5476
I tested it, and it didn't crash..  and played fine until I tried to connect some of the buttons to master volume.  But I could use it just fine otherwise during playback, and further more just leaving the keyboard plugged in did Not cause any problems either.

Thanks for recommending LMMS 1.2  This seemed to have fixed 9/10's of the problems.

[2020-04-30 14:39] #5476 closed

[2020-04-30 17:15] musikBear commented on #5363
@Veratil  Great that you addresses this
What do you think about
![image](https://user-images.githubusercontent.com/6662066/80738477-6303f800-8b15-11ea-8000-19281ba4a4be.png)
When Q has the red settings, there are no option for placing notes in between the vertical dividers, so i think this would be fully logical in respect to what we have for 1/8 and smaller.
The second part of the dividers starti

[2020-04-30 19:55] thmueller64 commented on #5016
Here is my suggestion for the basic layout. I wanted to follow the design of the Sf2 Player mentioned in the issue. What do you think about the layout? I did some basic testing by adjusting the range and the master pitch during playback and, from what I can tell, it is behaving as expected. Next, I'll look at the behavior when automating the master pitch and adjusting the range simultaneously. Whe

[2020-04-30 23:01] jshamble opened #5479 "Range slider to adjust the Volume slider range to Exceed 200%"
# Range Slider to Adjusting the Volume slider range to Exceed 200%.

For inspiration / the mock, please see https://github.com/LMMS/lmms/issues/5016
The way that this issue would be solved is similar to the PR above (and will affect the automation editor as well in a similar fashion), but this time it affects the volume slider to the left of the master pitch. One difference though, is that the ran

[2020-04-30 23:04] jshamble commented on #5016
@thmueller64 Looks good so far, thanks for picking this up!

In regards to the layout is seems fine to me, although it kind of stands out as it's on its own, perhaps to rectify this and balance the scales we can a similar range selector to the master volume slider to the left of it as well, I've opened a PR for that as well: https://github.com/LMMS/lmms/issues/5479

------

At a deeper level I wou

[2020-05-01 00:33] thmueller64 commented on #5016
Thanks @jshamble for your input.

You're right, it does not really fit this way.

I get the idea, however, this could probably overload the UI with an option that is not very likely to be used. Thanks for opening #5479, it would be nice to get more opinions on this.

I followed your steps for the pitch range in sf player. Regarding automation, the clamping-but-preserving behavior is the same for t

[2020-05-01 19:17] brotenet commented on #5457
I tied building but I get an error when it tries to  get the source for x11embed.
Also, there are no errors printed in CMakeOutput.log file.

After running  `cmake ../`

[code]

Attachments:
[CMakeCache.txt](https://github.com/LMMS/lmms/files/4565960/CMakeCache.txt)
[CMakeOutput.log](https://github.com/LMMS/lmms/files/4565975/CMakeOutput.log)

[2020-05-01 20:23] zonkmachine commented on #4602
@Gabrielxd195 I wonder this too. What does 'free selection' mean?

@Spekular Maybe you're thinking of `Ctrl + Shift + A`, which deselects all selected notes? Same as `Esc`. I'm testing inverting selection in the Piano Roll Editor and I'm using `Ctrl + Shift + I`.

[2020-05-01 21:53] qnebra commented on #5008
Great UX improvement idea.

[2020-05-01 22:00] Veratil commented on #5008
I've added this in my PR for the Piano Roll #5253

[2020-05-02 18:12] thmueller64 commented on #4749
I've opened a draft PR on this one. Unfortunately, I could not get it to work with pseudo-states. See the PR for the reasoning. Maybe someone can test it and provide feedback. I still have to look for resource leaks etc., so it is a draft PR for now.

![knob_theming](https://user-images.githubusercontent.com/64359888/80872254-20772280-8cb1-11ea-8059-0e8465f501bb.gif)

[2020-05-02 21:27] bluebear94 opened #5483 "Crash when loading a project: ipatch_container_init_iter: assertion 'IPATCH_IS_CONTAINER(container)' failed"
### Bug Summary

When loading the attached project, LMMS crashes.

[bpkwn.mmpz.zip](https://github.com/LMMS/lmms/files/4568957/bpkwn.mmpz.zip)

#### Steps to reproduce

Unzip the attached file, which contains bpkwn.mmpz. Open LMMS and then open bpkwn.mmpz.

#### Expected behavior

The project loads completely.

#### Actual behavior

LMMS gets stuck on loading Track 8/10, then crashes. See logs bel

[2020-05-03 03:44] #3306 closed

[2020-05-03 03:49] PhysSong commented on #4049
There are a lot of problems with off-grid automation points. To solve it, I need to rewrite the logic for dragging automation points.

[2020-05-03 05:07] PhysSong commented on #5483
The project file has no path for the target SoundFont file. In this case, LMMS treats an empty string as the relative path to the SoundFont file and calls `fluid_synth_sfload()` with the directory.
It seems like version 2 of `libfluidsynth` crashes if the C runtime library allows opening directories as files. I think it's a bug of the upstream, but it's possible to avoid that kind of situation on

[2020-05-03 05:26] PhysSong commented on #5483
FluidSynth 2's `fluid_synth_sfload()` even fails for a text file or an image file. :confused:

[2020-05-03 08:21] Sawuare commented on #3751
And I never opened the PR...

@Veratil Feel free to implement flat piano keys in your PR.

[2020-05-03 14:00] Veratil commented on #3751
Alright!

[2020-05-03 17:23] Veratil commented on #3751
I've made the keys customizable in width and brush (color/gradient) through CSS instead of being a loaded pixmap:
![lmms-keyroll-compare](https://user-images.githubusercontent.com/2244945/80920909-70e59300-8d38-11ea-83b1-be6cd7f97b7e.PNG)
![lmms-keyroll-customization](https://user-images.githubusercontent.com/2244945/80920912-7347ed00-8d38-11ea-998b-7d57156e13c6.PNG)

[2020-05-04 07:01] PhysSong commented on #5483
I think the crash is from a bug of `libinstpatch`. The library was not checking for errors(the failed assertion in this case) when it should.
[code]

However, it seems like `fluid_is_soundfont()` fails without crashes for directories or unsupported files. I think we can use it as a workaround.

[2020-05-04 07:11] PhysSong commented on #5483
Should we add the workaround for 1.2? It's a simple test.
For references, here's the link for the upstream bug report: https://github.com/swami/libinstpatch/issues/48

[2020-05-04 11:04] lukas-w commented on #4096
@tresf Apologies for never getting back to you on this. I still believe a stable `master` + unstable `develop` branch for "nightly" releases combined with a quick stable release cycle would be a good choice, but it's been a while since I've actively collaborated. I should have no say in a workflow that I'm no longer a part of, even if I'd like to be. Closing. Maybe I'll come back to this one day w

[2020-05-04 11:04] #4096 closed

[2020-05-04 11:33] zonkmachine commented on #5483
Yes.

[2020-05-04 15:24] Veratil commented on #4096
There's also [OneFlow](https://www.endoflineblog.com/oneflow-a-git-branching-model-and-workflow)

Also, in case one hasn't read, the original author of the GitFlow wrote a [note of reflection](https://nvie.com/posts/a-successful-git-branching-model/) on it on March 5th this year.

[2020-05-04 15:37] tresf commented on #4096
@Veratil what's interesting about the note of reflection is he links and article from GitHub that basically just describes how PRs work, directing projects to just using the model that exists by default.

One flow is very similar to how we do it today.  We don't name the branches the same way, but we do have feature branches and release branches.  The main difference is we don't collaborate on fea

[2020-05-04 20:07] Spekular commented on #4201
Using the same cursor as a temporary fix should be as simple as copy + pasting [this hand.png](https://github.com/LMMS/lmms/blob/master/data/themes/default/hand.png) over [this one](https://github.com/LMMS/lmms/blob/master/data/themes/classic/hand.png) right?

[2020-05-04 21:09] zonkmachine commented on #4201
The fastest fix is the other way around. The old theme hand is in tune with the code. If you use the new one you'll get the same problem with the Classic theme unless you also adopt the code but this could create similar glitches on other actions where the cursor is used. I know I experienced this when I was testing the bug. If you hack this I'll help and test it.

[2020-05-06 04:14] musikBear commented on #2380
@DeRobyJ I am making this now.
What is the minimum size of individual distance between the notes in the chord, that make sense?
Or should it be the Q-value that sets the distance?
ATM i have 'made' it with 1/64 as distance, and that can be repeated in steps to n distance, but i kind of like the Q idea -What do you think?
('made' because ATM it only goes in direction to to bottom. I also want it to

[2020-05-06 04:20] musikBear commented on #4877
@tresf -Note "humanization" #1165 is done (No PR yet)
But maybe it should be marked 'in progress' or 'done' idk how you normally do that.
Implementation:
https://www.youtube.com/watch?v=jlQo5lVIbEU

[2020-05-06 04:28] musikBear commented on #2380
Should this be marked 'in progress' i cant do that
@tresf

[2020-05-06 05:17] tresf commented on #4877
@musikBear great news, thanks for the update.  I'll reopen, assign and change to `in progress`.

[2020-05-06 05:18] tresf commented on #1165
@musikBear claims this is `in progress`, marking and assigning as such.

[2020-05-06 05:56] Spekular commented on #2380
I think you should set the distance with a knob and then interpolate as accurately as possible in between. A sweep with 1/192 offset between notes is definitely distinguishable from all of them hitting at once. Another possibility would be to use both a q knob and a distance knob, I suppose.

[2020-05-06 09:27] DeRobyJ commented on #2380
Nice!

I think the ideal would be to have a knob with milliseconds that can sync to tempo, just like the Arpeggio Time knob.

I'm not sure what you mean here. I think we can just have a menu similar to the Arpeggio one. But I feel like there's not enough space, so I'm not really sure about the UI.

I'm also not really sure of what the Q knob does, is it like some random time variation to make it m

[2020-05-06 13:02] lukas-w commented on #4929
@tresf I wouldn't call myself familiar with auto-publishing but I'd like to help. Can you give me a short overview of the current status and what exactly would need to be done? I haven't been following the project's progress lately and I'm quite out of date especially with CI changes.

[2020-05-06 15:51] tresf commented on #4929
High level:
* Each commit to hit master that yields a successful build gets uploaded to a `Nightly`release area on Github.
* Downloads page has a `Nightly` button

For consistency purposes, we should match branding between downloads page, github release tag and in-app branding.  https://github.com/LMMS/lmms/pull/5166/files#diff-fbae549c95b393e3b412d5cd08b02112R65

At the time of writing this:
* St

[2020-05-06 17:06] musikBear commented on #2380
@Spekular & @DeRobyJ
You both favour a knob, but then there is a question of real-estate. The way  i have it atm is a button. It can be clicked and the strum pattern is made (atm from top-to-down -That what i mean about left / right-click Like this:
![image](https://user-images.githubusercontent.com/6662066/81205643-49f2bf80-8fcb-11ea-9fb4-6633e465195a.png)
If dials/ knobs also could react on mous

[2020-05-06 17:28] DeRobyJ commented on #2380
I think I've missed something. Are you making a button for the Pianoroll editor?

I think that's another feature, just like the Chord list in PianoRoll is a different feature from the Chord/Stacking Function in the Plugin window.

It's neat for the piano-roll, but it's not related to this issue I believe.

[2020-05-06 17:56] JohannesLorenz commented on #5461
Should I leave this open for `plugins/Eq/EqEffect.cpp`, or should we open a new issue report? I think this one will auto-close as soon as stable-1.2 will be merged to master, so I'd vote for opening a new one.

[2020-05-06 18:09] Veratil commented on #4929
As in a single nightly image or multiple per commit that day?

[2020-05-06 18:49] tresf commented on #4929
For simplicity, I'd say each commit to hit the branch.  I realize this may be undesired when devs are going on a merge-spree, but any other design requires a separate process to fire the build, so it's a bit of a toss-up.

[2020-05-06 18:52] Veratil commented on #4929
Actually this might be beneficial to quickly find regressions. If the previous nightly didn't have it but the latest does, and there are 5 commits between, that would help bisecting quickly. Perhaps we should keep the past X days of nightly builds.

[2020-05-06 18:55] tresf commented on #4929
Assuming we manage it as a release in GitHub, keeping these wouldn't be trivial.  We can do it, but it would require a rotation process.

[2020-05-06 19:09] tresf commented on #4929
Rotate brainstorming...

If we choose rotation, a proposal is to use non-numeric placeholders...

* `continuous-apple` 🍎
* `continuous-lemon` 🍋
* `continuous-peach` 🍑
* `continuous-grape` 🍇
* `continuous-melon` 🍉

A slight downside to this is lmms/lmms/releases will show these 5 items before stable.  An alternative is to use a single release and use the filename as a filter.

![image](https://user

[2020-05-06 19:19] liushuyu commented on #4929
Looking at other projects that I have contact with, it probably doesn't hurt to have another repository to just store the nightly builds: https://github.com/yuzu-emu/yuzu-nightly vs https://github.com/yuzu-emu/yuzu.

[2020-05-06 22:46] musikBear commented on #2380
Yes it is for piano-roll. All staked notes, reacts and become strumming-notes, so also those you insert as chords from the chord-table, i know that is a but different from one more feature on the 'Stacked-chords', but as you said 'a button could also work'
It is what tresf made a picture of here:

[2020-05-06 22:57] DeRobyJ commented on #2380
I see

Well, it can do too, might actually be more useful

[2020-05-06 23:02] musikBear commented on #2380
it would be for all stacks instead of only those chosen in *chord-table*. It also 'works' for a collection of chords.
again 'works' because i have a glitch. I dont know if its a Linux issue, or a code issue, but after the 'strumming' only root-note will play, until one more note has been added.. That illudes me.. :|
'Otherwise' (ya..right) it works

[2020-05-06 23:13] trebmuh opened #5484 "theme problem when renaming a track"
### Bug Summary

When renaming an instrument, selecting a part of the string isn't very readable because the background color is pretty much the same than the normal color.

#### Steps to reproduce
Rename a track (right-click left-double-click).
Select a part of it.

#### Expected behavior
You can easily see the selection because of a background colors difference

#### Actual behavior
You can't ea

[2020-05-07 00:46] MetalMaxMX commented on #1911
That looks like an interesting idea! I also like how the mockup was designed around the single window. I wonder how's progress on this?

[2020-05-07 08:57] DeRobyJ commented on #2380
I could try and have a look at the code, which of your branches is it?

[2020-05-07 17:21] musikBear commented on #2380
It not on github yet, i only have it locally, but i can update :)
I will look at it later today

[2020-05-07 17:36] zonkmachine commented on #4081
It looks like the sample project has been deleted from the sharing platform so there is nothing to work with. It sounds like the Calf Limiter and is thus an up-stream issue. Please reopen if there is any new information or if the file is found and can be re-uploaded. (here zipped!)

[2020-05-07 17:36] #4081 closed

[2020-05-07 21:12] zonkmachine commented on #4162
that's actually what we're doing in void [ProjectRenderer::startProcessing()](https://github.com/LMMS/lmms/blob/1a6f4c1104e8ecd469db5f27eb230994b9ee9ee2/src/core/ProjectRenderer.cpp#L157-L161). We set priority to `QThread::HighPriority` on all but win32. This sounds wrong to me. I think this should be set to a low priority, something lower than the OS default.
https://doc.qt.io/qt-5/qthread.html#P

[2020-05-08 00:44] trebmuh opened #5485 "Missing LADSPA when loading Socceroos-Progress"
### Bug Summary

When loading this demo, we've presented with an error window telling us that 2 LADSPA plugin are missing.

#### Steps to reproduce
Open LMMS
Open the demo song named "Socceroos-Progress"

#### Expected behavior
It loads fine.

#### Actual behavior
It loads with an error message.

#### Screenshot
![lmms-Socceroos-ladspa-error](https://user-images.githubusercontent.com/8705846/81358

[2020-05-08 01:53] RebeccaDeField commented on #1911
@MetalMaxMX it's a great mockup that is referenced for many of the more recent design tweaks and continues to be incorporated into the UI as people have time or ability to within the current codebase. I'm currently converting icons to .svgs which is hopefully one step towards better scalability, something this mockup keeps in mind :)

[2020-05-08 02:12] PhysSong commented on #4162
No, I think users should be able to choose between a low priority and a high priority. Someone may want to use higher because they want to render the project quickly, while someone like the OP will want a lower priority for running other tasks smoothly.

[2020-05-08 09:15] DeRobyJ commented on #2380
Ok it appears that you copied the quantizeNotes() function for reference.
I'd rather take the "Shift pos" function as reference, as what we are actually doing is shifting notes, although I'm not sure if they are at the same "level".

::shiftPos() have three more updating methods:

- m_pattern -> rearrangeAllNotes()
- m_pattern -> dataChanged()
- m_pattern -> updateLength()

These are methods of th

[2020-05-08 09:37] demmm opened #5486 "LMMS 1.2.1 fails to build with Qt 5.15.0RC"
### Bug Summary
Qt 5.15 introduces the need to include QPainterPath.  Try to build with 5.15.0-rc, and the build fails at multiple places due this missing include.
#### Steps to reproduce
Build with Qt 5.15
To workaround this issue, following patch was used, fixes the build, app runs properly with it:
https://github.com/KaOSx/apps/blob/master/lmms/qt5.15.diff

#### Affected LMMS versions
1.2.1

[2020-05-08 13:00] zonkmachine commented on #4162
If you want it to render quickly, all you need to do is not touching the computer. If you start a web browser because you get bored while rendering then do you really want the render job to have priority over the browser? Most likely not. On my slowest computer I see no difference in render speed nor is my other activity prohibited by rendering with any of the priority levels (Or the priority code

[2020-05-08 15:29] #5453 closed

[2020-05-08 15:41] musikBear commented on #2380
m_pattern -> rearrangeAllNotes()
    m_pattern -> dataChanged()
    m_pattern -> updateLength()

Ahaa.. I will see what they do! Thanks!
Where do you find the methods. Do you simply open the class .h and look for them, or does a class-API exists (NoOooo.. i think....... 😞

[2020-05-08 16:47] JohannesLorenz commented on #5483
I'll try this issue.

[2020-05-08 17:05] DeRobyJ commented on #2380
Yeah it's pretty much try and find some comments about the methods!

[2020-05-08 18:50] zonkmachine commented on #4162
Changing the QThread priority probably just affected the processes within lmms and not how it's loading down the OS. I still think the idea is good though. From what I understand I think it means lowering lmms priority something like this, as snatched from main.cpp.

[code]

[2020-05-08 20:39] zonkmachine commented on #5485
I don't get this message and the project plays without any errors.
The missing plugins are both Calf. Can you try and add an effect to an instrument and search 'calf' and see if any plugins show up and if Reverb and Exciter are missing.

I believe you're on linux, right?
Where did you get lmms-1.2.1?

[2020-05-08 20:45] zonkmachine commented on #5484
Yes. It's the default theme that is a bit on the dark side.

[2020-05-08 20:52] trebmuh commented on #5485
Mmm ok, I know where the issue is nested then. I'm build my own .deb package and I'm emptying the calf-ladspa package to avoid the famous c[l,r]ash between calf-ladspa and calf-lv2. So, if the Socceroos-Progress demo is calling the a calf-ladspa plugin, that's expected to get this message then.
Sorry for the noise. Closing here then.

[2020-05-08 20:53] #5485 closed

[2020-05-09 04:23] #5039 closed

[2020-05-09 05:59] JohannesLorenz commented on #4201
@Veratil I don't know what you mean. Where do you want to add two `Q_PROPERTY`s? Can you please make a draft branch and push it? Then I'd complete it to a working PR.

[2020-05-09 07:05] PhysSong commented on #4201
@JohannesLorenz Simply add some `qproperty-key: value;` pairs to stylesheet files and use them by ` Q_PROPERTY` macros in some relevant classes.

[2020-05-09 07:14] JohannesLorenz commented on #4201
Yes, but in which classes? Is the plan to inherit `QCursor`?

[2020-05-09 07:14] Veratil commented on #4201
Something like this. Not tested.

[code]

[2020-05-09 07:33] JohannesLorenz commented on #4201
I'm trying to get this working now.

[2020-05-09 08:27] JohannesLorenz commented on #4201
I [pushed](https://github.com/LMMS/lmms/pull/5489) it as a draft PR. The offset numbers are still wrong, but let's first check the relevant things.

I took your draft @Veratil . The only changes I had to do:
* I had to replace the `MEMBER` in `Q_PROPERTY` (`MEMBER` is Qt5 only) with the normal `READ`/`WRITE`.
* Calling `setCursor` in the CTOR does not work. The properties are set *after* the CTOR,

[2020-05-09 08:29] JohannesLorenz commented on #4201
And btw, many thanks for the draft @Veratil !

[2020-05-09 20:53] zonkmachine commented on #3989
I tested https://github.com/LMMS/lmms/pull/3998 again and it works well.

I think we both misunderstood each other.
No. Se case 5 below. If I don't let go of the left mouse button when resizing it will remember its old length and the quantized value is added or retracted from it. This is the same today as with my patch. No difference. The difference is that by default there is a minimum note lengt

[2020-05-09 22:02] zonkmachine commented on #3989
PR reopened and updated. Binaries here: https://github.com/LMMS/lmms/pull/3998#issuecomment-626238605

[2020-05-10 01:24] zonkmachine commented on #3780
I'm calling this one closed in https://github.com/LMMS/lmms/pull/3706

[2020-05-10 01:24] #3780 closed

[2020-05-10 06:50] #5450 closed

[2020-05-10 06:50] #5418 closed

[2020-05-10 07:52] #5305 closed

[2020-05-10 19:42] L00sedna commented on #4919
This fixed the large lmms gui that occurs when dragging from a 24inch to a 22inch in a dual monitor environment. Hope it helps:
echo "export QT_AUTO_SCREEN_SCALE_FACTOR=0" >> /etc/X11/Xsession.d/99gnome-qt

[2020-05-10 20:55] musikBear commented on #3989
Yes, your PR @zonkmachine has better logic. With Q == 1/16 the note should not be dragged below *that* length, *without* using the drag-modifier key Alt+drag (that *is still* possible -right?

[2020-05-10 20:56] zonkmachine commented on #3989
Yes

[2020-05-11 11:17] DeRobyJ opened #5493 "Sample "bassdrum01.ogg" has a really low volume hiss"
### Bug Summary
https://github.com/LMMS/lmms/blob/master/data/samples/drums/bassdrum01.ogg
Contains a constant hiss at around 3800Hz

#### Steps to reproduce
Drag and drop the sample in a track.
Put a high-pass filter at 3000Hz.
Put the Clip effect to amplify around 40dB.
Hear the hiss. I analyzed it using Audacity and its Spectrogram, since it's not simple to see this hiss in a Spectroscope such

[2020-05-11 11:27] Spekular commented on #5493
IMO this is a wontfix issue, as it will be irrelevant when the sample library is replaced.

Fixing the sample shouldn't be hard either, but it does technically break user projects.

[2020-05-11 11:36] DeRobyJ commented on #5493
Yeah, I'm just leaving this here for those that might be interested. I got this info from a subscriber from my channel who needed this sample.

[2020-05-11 19:44] Spekular commented on #5493
Then do you mind if I close it? It will still show in searches for "bassdrum01" or when browsing closed issues.

[2020-05-11 19:44] #5493 closed

[2020-05-12 10:57] #4098 closed

[2020-05-12 10:57] #5461 closed

[2020-05-12 18:12] qnebra opened #5494 "Icons and comboboxes mismatch in arpeggiator in Instrument Editor"
### Bug Summary
Misaligned icons and combobox in Arpeggio editor inside Instrument Editor

#### Steps to reproduce
Open Instrument Editor, Go to "Chord stacking & arpeggio" and look down.

#### Expected behavior
Evenly aligned icons and combobox.

#### Actual behavior
Misaligned icons and combobox, which create feeling of amateur project, regarding of it's actual impressive quality.

#### Screensh

[2020-05-12 20:33] zonkmachine commented on #5494
Confirmed. The combo boxes are more narrow so their content doesn't fit.

[2020-05-12 21:22] zonkmachine commented on #5494
![new](https://user-images.githubusercontent.com/6368949/81746279-7e241f80-94a6-11ea-88a7-3358f03bb5df.png)

1.2.1 to the left and some older version to the right. The arpeggiator area has been pushed upward a bit so the components has less vertical space to share.

[2020-05-12 21:33] zonkmachine commented on #5494
The issue is there already in 1.2.0-RC5

[2020-05-13 09:38] qnebra commented on #5494
Theoretically, simplest solution will be to increase combobox height to have arrow icon centered in it. But, this was global or local thing?

[2020-05-13 15:16] zonkmachine commented on #5494
Yes. I think this could be a global thing that just happened to be troublesome in the arpeggiator control section.

[2020-05-13 18:34] musikBear commented on #5494
ehhhr
is this
![image](https://user-images.githubusercontent.com/6662066/81850613-83da3d80-9558-11ea-8c3e-714a5e0bdbe8.png)
the subject..
The triangle ..not centred?

... Wont keep me awake ....

[2020-05-13 18:55] qnebra commented on #5494
Well, nope. There were at least two different comboboxes height in lmms.

Also Bear, I see your comment before deleting. This is kind of details which create overall feeling of quality in software.

[2020-05-13 19:47] zonkmachine commented on #5494
Probably because there are two combobox classes being used. QComboBox and our own [Combobox](https://github.com/LMMS/lmms/blob/master/include/ComboBox.h) class.

[2020-05-13 20:31] he29-net commented on #5494
I don't think the main problem is that two different classes are used, but rather that some of the Comboboxes have a fixed height set to 22 and some do not. I ran into the issue a few days ago when adding a new Combobox to the instrument Misc tab -- without setting the fixed height, it would "collapse" just as pictured here.

The proper way to address it would be probably by setting a minimum heig

[2020-05-13 22:41] Krvstal opened #5495 "Workflow and general improvements"
I had the opportunity to use FL Studio for a very long time but I don't have it no more for several reasons. The thing is that while I was searching for a DAW to work compatible with my PC I ran across LMMS. It's a very complete free DAW and I really appreciate your commitment and work. That said, during the time I've been using this software I noticed about some things that could be actually impr

[2020-05-13 22:51] Spekular commented on #5495
Haven't bothered to read this whole thing yet but huge thumbs down for removing the play button from piano roll 😬

You can already preview the track + piano roll content with one of the play buttons, so it's not even the case that your preferred behavior is missing.

[2020-05-14 00:13] Krvstal commented on #5495
@Spekular I'm sorry if I didn't explain myself correctly and generated some kind of confusion but what I mean is that when you are working in the paino-roll and you press spacebar LMMS automatically plays the piano-roll patern while I'm trying not to play just the pattern but the whole project if that makes any sense. It really is a bother for me to click on the play button of the song-editor and

[2020-05-14 00:23] Veratil commented on #5495
Keybindings could use some improvement. Although it will be a while, things will improve when we move away from MDI into a single window form. (See Windows reply below)

The button won't be deleted, I'm 99.99% positive of this (until we go single window, maybe even then it won't go away). If you want to hear the whole thing you can set the playhead in the song editor and loop that area, modify in

[2020-05-14 00:59] Krvstal commented on #5495
@Veratil First of all thanks for your comment. It looks like I didn't explain myself correctly when I talked about the play button in the piano-roll. I already answered this to the person above. That button doesn't really bother me, what bothers me is that I cannot use spacebar to play the song-editor, it won't work, I have to use my mouse instead so at those times I wonder why do I hace a spaceba

[2020-05-14 01:28] Veratil commented on #5495
Oops! I'm sorry! I always associate the AFP with Sample Track. 😩

I'm not sure the difference in CPU usage between this, it would be an interesting thing to look at though.

We have an issue for this #4877 😁

Gotcha! It's a shortcut issue then. 😉

[2020-05-14 02:32] jshamble commented on #5016
@thmueller64 Yes, I do agree with that - but I still think that this solution is better than nothing - I would rather have a solution rather than no solution. If agreed, I'd like to push this for the next release, and perhaps come up with an improved user experience widget design in another open issue.

[2020-05-14 17:06] qnebra commented on #5495
Freezing tracks can be really useful in large scale projects, when user had a lot of big plugins and synths running and lmms was struggling to keep this smooth and without cracks. Freeze track mitigate this performance issue.

Also, lmms cannot be just copy of FL Studio with all its quirks inherited.

[2020-05-15 08:47] Krvstal commented on #5495
@qnebra I agree , LMMS should go to Cakewalk territory speaking of UI elements but I was just talking about the workflow and some errors I see in LMMS. I don't know if people usually overlook this (workflow) or not but it's really important, if you have a good workflow you produce easier, faster and in a more fun way. But yeah, you right! Thanks for your comment

[2020-05-15 15:41] zonkmachine commented on #5303
Quite. https://github.com/LMMS/lmms/pull/5497

[2020-05-15 16:54] JohannesLorenz commented on #5486
@demmm Many thanks for reporting and analyzing!

I'll turn this into a PR now.

[2020-05-15 17:16] #5303 closed

[2020-05-15 17:45] JohannesLorenz commented on #5486
Will be fixed by #5498 .

@demmm Can you please test if my fix works? Just clone `https://github.com/JohannesLorenz/lmms.git`, checkout `fix/#5486` and see if it compiles.

[2020-05-15 22:32] rulatir commented on #3829
Seriously, lack of this feature is ABSURD. It is an absolutely ESSENTIAL feature. Done with LMMS, looking for alternatives.

[2020-05-15 22:51] Veratil commented on #3829
We're all volunteers here on an open source project. If you wish to help implement this feature to help out the whole community with it, then we'd love the help!

[2020-05-15 23:49] zonkmachine commented on #5128
The FLAC export clips the sample already in:
`sf_command(m_sf, SFC_SET_CLIPPING, nullptr, SF_TRUE);`
If you remove this the export becomes even more destroyed. You need to clip it to prevent issues if the signal goes above/below +/-1.0 and libsndfile provides this function (If the code works that is).

I tried some exporting options with a loud decaying sinewave.
1. wav
2. 16 bit flac
3. 24 bit fl

[2020-05-16 01:00] zonkmachine commented on #5128
As I understand it then we need a 24 bit version of `AudioDevice::convertToS16`. Too much work for the same result. I'll pull a fix clipping the negative side instead.

[2020-05-16 05:39] JohannesLorenz commented on #4201
Will be fixed by #5489 .

[2020-05-16 13:32] zonkmachine commented on #5414
Can you add a project that demonstrates this?

[2020-05-16 16:01] zonkmachine commented on #2714
Another case, this time with the position marker only. Song is stopped and you don't need any other windows open.

1. Drag the Automation Editor down until it's mostly off screen.
2. Drag it up while zig zagging.

![AutomationEditorGlitch](https://user-images.githubusercontent.com/6368949/82124159-78c41f00-979d-11ea-92b9-4ddcc2979fc4.png)

[2020-05-16 16:14] zonkmachine commented on #4749
Tested. This works lovely, thanks!

And what's a pseudo state?  :)

[2020-05-16 16:18] musikBear commented on #5414
Here it is:
I stupidly named it monstro, but its as you can see watsyn :|
[monstrClick1000ms.zip](https://github.com/LMMS/lmms/files/4638708/monstrClick1000ms.zip)
Just press base-note for a secd+ and you can hear the click

[2020-05-16 16:40] zonkmachine commented on #5414
I think that's just the decay (same row as the attack) being turned down to 0.
Is there a Watsyn manual? I only find [this one](https://docs.lmms.io/user-manual/5-built-in-instruments/5.18-watsyn) and I don't think it's that helpful to be honest.

[2020-05-16 21:12] qnebra commented on #5495
Well, @Krvstal I agree with you in terms of LMMS needing some UX improvements, to being software much easier to learn for beginners. In my own opinion it should be something incredibly easy to use, allowing even first time users to make music. And current UX can be very tricky for them, especially without clear indication which window is active and what was exactly happen.

[2020-05-16 21:17] Veratil commented on #5495
This is why the goal is to eventually move to a single window workspace. We could improve the active window color though. I'm not sure if this is something that can change in the theme or not.

[2020-05-16 21:28] qnebra commented on #5495
In my mind this was more like icons for active editors having much clearer state "this is active editor", this mean in current lmms color scheme was green background for icon for example. Mainly because I decided to use in daily production lmms with some currently waiting PRs, especially #5261, just for testing. And user didn't have clear information about "this editor is active" which can be some

[2020-05-16 22:19] zonkmachine commented on #5404
@musikBear The step size is set by the `0.001` value in these two models. Poke there.

https://github.com/LMMS/lmms/blob/953a0b17c154b5246d6162ec7c56681e7dc585d4/plugins/sfxr/sfxr.h#L132

https://github.com/LMMS/lmms/blob/953a0b17c154b5246d6162ec7c56681e7dc585d4/plugins/sfxr/sfxr.h#L153

[2020-05-17 06:51] JohannesLorenz opened #5504 "Invalid warning about "dummy-MIDI-client""
### Bug Summary

LMMS is a digital audio workstation ([DAW](https://en.wikipedia.org/wiki/Digital_audio_workstation)). In order to control how audio is being played (e.g. to send notes to LMMS), the [MIDI](https://en.wikipedia.org/wiki/MIDI) protocol can be used. This enables you to connect a virtual or real keyboard to LMMS and play music.

There are different libraries that allow LMMS to use MID

[2020-05-17 08:00] JohannesLorenz commented on #4935
Maybe we can speed up steps of the review?

Review requires 3 steps:

1. testing
2. style review
3. functional code review

### Testing

There are some tests that require code know-how, but most tests do not (in my experience).

We could need some testers. Developers are very rare (as @PhysSong noted), but we have hundreds of users in Discord. With the help of the LMMS bot it's easy to test a PR.

[2020-05-17 08:12] JohannesLorenz opened #5505 "Setting new loop markers is complicated"
### Bug Summary

We have loop markers, e.g. in the song editor, to only play a part of a song in a loop. That part will be colored green. Originally, you could use middle and left click to comfortably select the markers.

There must have been some PR that changed the behavior on master. Now, only the right click works, and it always sets that marker that is closest to your mouse.

I find this not

[2020-05-17 08:28] Spekular commented on #5505
The old controls are unusable on devices without a MMB (every laptop I've
used), and surprisingly many hotkeys are already used for this area.

LMB: Set playhead position
Shift + LMB: Group select everything in this range
Ctrl + LMB: Nothing (Same as LMB)
RMB: Set loop pos
Ctrl + RMB: Set loop pos (fine adjust)
Shift + RMB: Nothing (Same as RMB)

Alternatively, perhaps we could rework these to be

[2020-05-17 08:45] JohannesLorenz commented on #5505
We could at least keep allowing the middle mouse key next to the new behavior, unless we plan to use it otherwise. That would at least help with the left marker.

I like this even more. Tooltips would help to find out what the right shortcuts are.

[2020-05-17 11:17] musikBear opened #5506 "Open source code for both time-stretching and sampler"
### Enhancement Summary
Found this site https://github.com/openAVproductions/
There is Open source code for both time-stretching and a sampler.
Surely something that could be useful.
I am not smart enough to tackle neither
#### Justification
We need both
#### Mockup
no

[2020-05-17 11:45] musikBear commented on #4657
in reference #1257

[2020-05-17 12:01] musikBear commented on #4580
Do not understand this feature.
Why cant the 'mark all corresponding' be used for this?

@Pyrif wrote

F Lydian is a mode, not a key
Should the 'f-note' stand out in a *different shading* than a marked *scale*?
Is that it ?

[2020-05-17 13:01] musikBear commented on #4214
So to clarify:
Atm 1.2.1 a sarch for *brass* will open this result:
![image](https://user-images.githubusercontent.com/6662066/82147203-681fb180-984e-11ea-865b-56d3a73955cb.png)
But in fact the prefered display would be
![image](https://user-images.githubusercontent.com/6662066/82147259-d9f7fb00-984e-11ea-842e-a8bbe6247133.png)
So all folder are expanded to show all subfolders, but **not** the act

[2020-05-17 13:30] musikBear commented on #4073
Looking for 'doables', but isent this one misunderstood?
In respect to audible notes, lmms is doing *fine*.
This very specific request is much better addressed with a  new *type* of track -we could name it *MIDICtrTCO* a track where *events* are inserted as points, and where each point has a midi-output-value.
Infact -an automation-track, but only with points.
Like:
![image](https://user-images.gi

[2020-05-17 13:49] zonkmachine commented on #2074
I can confirm that fixing the name of the function in afp pretty much fixes this. It will play for the duration of the sample. It will not include looping and ping-pong as expected. It's hard with any of the looping modes to know what would be the proper length. Perhaps the duration of the rest of the beat?

[code]

[2020-05-17 13:54] zonkmachine commented on #2074
Does those notes stops the previous note playing also in FL? So if I start a beat loop starting it again wouldn't overlap the previous one playing but stop it and start over again?

[2020-05-17 16:07] Veratil commented on #4580
The green octave line is under F instead of C.

This shouldn't be too much of a change to implement. I can work on it with #5253, and it could work well with #5204 even.

[2020-05-17 16:17] musikBear commented on #3799
Is this best fixed with savable / loadable  FX-chains, as a new file-*type* ?

[2020-05-17 16:32] musikBear commented on #4782
Isent this 'fixed' with Masters
![image](https://user-images.githubusercontent.com/6662066/82154189-7e3c6a80-986c-11ea-8443-3e852a04c345.png) feature?
eg option to set TCOs between bars, but still in synch ?

[2020-05-17 16:36] Spekular commented on #4782
Good catch! The denser grid isn't inplemented but there's already another issue open for that.

[2020-05-17 16:36] #4782 closed

[2020-05-18 01:59] musikBear commented on #2074
FLs has then two method for ending notes with other note. The other being '*cut-yourself*', witch is important to get in lmms too. Fast notes 'arpeggio-type' results in dis-harmonics when notes has reverb, or just a longish release

[2020-05-18 02:01] musikBear commented on #5404
@zonkmachine Great spot! This should be simple -can you assign me to this?

[2020-05-18 02:05] musikBear commented on #5414
Naeh, that is not optimized ;p
Odd -i thought i wrote a piece for this some month back, maybe i diddent save it correctly :| - I should have a copy locally

[2020-05-18 07:14] #5414 closed

[2020-05-18 15:39] tresf commented on #4214
If you re-read the OP's request, we want the mess.  I've never used a search box (ever) that doesn't return the child matches of that request (or at least previews the matches in condensed form).  We want messy.  Perhaps at some point, we can cleanup the mess by condensing the parents.  It's the best we can offer until we bring in some form of tree condensing view.

[2020-05-18 15:44] tresf commented on #3799
No, it's more of a "commonly used" or "recently used" feature.  Presets are nice and can serve as a temporary solution to this, but that's a separate feature.   Presets are more important to workflow which takes a considerable amount of time to get the settings just right.  (e.g. Stacking or adjusting knobs precisely).   On the contrary, this feature is more like the "Quick Access" or "Recently Op

[2020-05-18 15:57] SecondFlight commented on #5506
Could this instead be a comment on #1734 / #3103 / #5474 / etc? I'm tempted to close this as a duplicate of #1734 as time stretching isn't a new request.

[2020-05-18 16:28] zonkmachine commented on #5506
^This. And also, prior to this you should consider bringing it up in discord #techtalk. And if you do, please link to the actual software and not a general page with many different links that most are irrelevant. Feel free to continue the discussion here. Closing.

PS. Precisely what licenses are we talking about?

[2020-05-18 16:28] #5506 closed

[2020-05-18 16:59] tresf commented on #5486
Merged, closing.

[2020-05-18 16:59] #5486 closed

[2020-05-18 17:07] hfiguiere commented on #4109
macOS is macOS. Flatpak is different and is meant to sandbox applications so simply put no. Carla has to be built in the flatpak. Even a stand alone Carla wouldn't work. (do you support macOS VST? AudioUnits? just to have a reference)

No. And loading binaries from `$HOME` is doomed to fail. (if it works you are lucky)

However, now there is general support for loading audio plugin installed as fl

[2020-05-18 17:17] tresf commented on #5448
Merged #5486, left feedback on #5360, requested changes for #5487.

[2020-05-18 17:39] tresf commented on #4109
Right, and we had to fork and refactor Calf since LV2 reused the `calf.so` name and segfaults.   This change is only on `master` currently.

This is flatpak's philosophy and it's their prerogative, but it's a serious design mistake to assume all plugins in which are supported are bundled into our app.  It even sends the wrong impressions ot our users as we don't (nor are we interested in) bundling

[2020-05-18 17:43] tresf commented on #4109
I double-checked this statements, and it appears LMMS does honor this here:

https://github.com/LMMS/lmms/blob/ce5c74432e83f0eaa617cc26332f4209bc4efc7f/src/core/LadspaManager.cpp#L45

[2020-05-18 17:58] hfiguiere commented on #4109
No you misunderstand. I am saying that right now there is support to load plugins, but they also have to be build as flatpak. I do have *locally* (the submission process to flathub is in progress) a bunch of plugins in various format, and Carla see them all, from within LMMS. And from within other applications.

And it seems with LMMS I can only do that with Carla:

![Screenshot from 2020-05-18 13

[2020-05-18 18:14] tresf commented on #4109
Well, historically the package manager would grab it once added: https://kx.studio/Repositories and then we'd build support, but this has had a bit of a rocky history.  I guess some components that falktx added required PyQt which meant we had a custom version called `carla-git` but then we upgraded our CI and the PPAs weren't available so we switched to a weak-linking technique here: https://gith

[2020-05-18 18:27] tresf commented on #4109
LMMS has very limited plugin support (at time of writing this, just LADSPA and Windows VST2 through wine), so there's a good chance LMMS won't be able to load plugins with UIs (e.g. LinuxVST won't work, LV2 won't work)
* LinuxVST support is being tracked here: #416
* LV2 is mostly being tracked here:  #4899

Some plugins (e.g. Calf) have migrated to LV2, so we still bundle a custom version of them

[2020-05-18 19:22] hfiguiere commented on #4109
Basically what the flatpak is doing: build it and ship it. Just the standard fare.

I'll need to check what's happening, maybe it is just that the plugins that ship with LMMS are the same I have as plugins.

Which is how I got things to work. The problem now is have plugins to appear on flathub for users.

So we are good. It's mostly how everything is working at the moment.

(and there are more is

[2020-05-19 01:45] hfiguiere commented on #4109
So I checked again and yes I only had LADSPA plugins that were in lmms.

I installed "vlevel" (I just did flatpak for the occasion) and it appears in the LADSPA plugin list now.

[2020-05-19 02:34] #5119 closed

[2020-05-19 15:00] tresf opened #5507 "Natural scrolling is backwards for knobs, spinboxes"
Quoting https://github.com/LMMS/lmms/pull/5360#issuecomment-630293637:

[2020-05-19 15:07] tresf commented on #4109
I'm still curious what you're doing for Carla though. Is it working?  If so, how?  Do we need to change any code so that it can be found?

[2020-05-19 15:18] hfiguiere commented on #4109
It is built as a dependency like any other dependency and shipped in the flatpak. (includes building sip and PyQt5) It's like if it was installed by your distro package manager, but in a different prefix.

My only only issue is that its icon doesn't appear in the UI. See https://github.com/flathub/io.lmms.LMMS/issues/4

And I haven't figured out why.

[2020-05-19 16:02] tresf commented on #4109
Ok, and then we invoke `carla` to find where it is?  That makes sense.

I had the same issues here: https://github.com/LMMS/lmms/pull/4813#issuecomment-575681414 and when it fixed itself I didn't have an explanation as to why.

In regards to the mallets bug in the linked bug report, it probably need a code change.  Currently, we look in a relative path for AppImages as they're running from `/tmp`.

[2020-05-19 16:06] tresf commented on #4109
Correction, the images were fixed with this commit, but I just couldn't explain why... https://github.com/LMMS/lmms/commit/f8add690c46ef6ae825b37c8a7661103993271ad

[2020-05-19 16:06] hfiguiere commented on #4109
There was a bug with the mallet-stk installation that I fixed. The OP never confirmed it was fixed, but to me it does work.

[2020-05-19 16:15] #4565 closed

[2020-05-19 17:03] zonkmachine commented on #5290
Fixed in https://github.com/LMMS/lmms/pull/5341

[2020-05-19 17:03] #5290 closed

[2020-05-19 19:50] musikBear commented on #4214
..oh dear
well at least the request was better dissected and specified.
I may return to this, and give you a heads up for assigning, right now i am looking at 5404
Its assigned.

[2020-05-19 19:55] musikBear commented on #5506
yes, perhaps a consolidation on everything sample-stretching ?

@zonkmachine -You are correct, i have not looked at license, that is important

[2020-05-19 23:28] JohannesLorenz commented on #4935
About Testing: We now have an experimental "#testing" Channel in Discord. Thanks to @he29-net for the idea and @Umcaruje for setting it up!

[2020-05-20 01:22] hfiguiere commented on #4109
`lmms/plugins/carlabase/CMakeLists.txt` uses a glob to get all png added as resource, and the plugin likely expects the resource. But it end up being the same for Rack and Patchbay.

[2020-05-20 02:37] tresf commented on #4109
Yeah, I just was a bit puzzled why it actually worked, since the code was largely unchanged from previous versions.  Did it help our your situation?

[2020-05-20 02:58] hfiguiere commented on #4109
Definitely.

[2020-05-20 08:59] zynskeywolf opened #5508 "Ability to control hardware synthesizers"
Although some software synthesizers are capable of very impressive things, there are cases when you can't avoid using some "metal". Being able to use hardware MIDI synthesizers is one of the many things that would make LMMS a much more professional program. There are many synths on the market that have no manual controls, only a black box with some ports, so MIDI is the only way of controlling the

[2020-05-20 16:30] Spekular commented on #5408
Shouldn't this be closed now that the fix is merged to stable? Then a new issue can be created for the fundamental issues, that isn't milestoned for 1.2.2.

[2020-05-21 03:06] PhysSong commented on #5507
Qt 5.7 provides `QWheelEvent::inverted()` which allows checking for natural scrolling. FYI, LMMS currently requires Qt 5.6.

[2020-05-21 05:35] tresf commented on #5507
Why does the master volume work just fine though?

[2020-05-21 05:36] PhysSong commented on #5507
Because `QAbstractSlider` uses that by default.

[2020-05-21 05:37] tresf commented on #5507
So a precompiler check plus the inverted should do it?

[2020-05-21 10:22] Baccanno commented on #258
Hi sorry to bother you on another subject. Could you remove my personal name from your quote ? Best regards.

[2020-05-21 12:12] Spekular commented on #258
@Baccanno I've edited the post now. FYI quoting you now gives

[2020-05-21 13:19] Baccanno commented on #258
Thank you very much

[2020-05-21 13:31] musikBear commented on #5263
I have inserted a response control through a messagebox:
![image](https://user-images.githubusercontent.com/6662066/82563847-0f1a8b00-9b78-11ea-9d0e-eda719c6df49.png)
This can be closed.

[2020-05-21 13:42] Spekular commented on #5263
Not until you've opened a PR that's been reviewed, approved, and merged. For starters it should say "Removing a track can't be *undone*." and I would prefer the OP's suggested "Are you sure you want to remove [track name]?" over "Do you want to proceed".

Secondly, I would personally appreciate if this dialogue could be disabled in settings or via a "don't ask me again" checkbox as it's never been

[2020-05-21 16:11] tresf opened #5511 "Trackpad sensitivity for knobs and spinboxes"
See also:
* #5360 (knobs moving too fast)
* #5507 (natural scrolling is backwards)

When using a trackpad to "scroll" (e.g. a two-finger gesture -- supported by Windows, Linux and Mac), LCD Spinboxes are too sensitive.  Knobs aren't sensitive enough.

Note, the master volume slider feels OK.  According to @PhysSong this is because it uses `QAbstractSlider`.  Perhaps we could borrow some sensitivy

[2020-05-21 16:12] zonkmachine commented on #5263
Thirdly there is a PR adressing this already and I was just about to bump it.
https://github.com/LMMS/lmms/pull/5274

[2020-05-21 20:01] thmueller64 commented on #4749
Thank you for the testing! I had a discussion on Discord with @Veratil about that feature and refactored the PR quite a bit. I'll open a new one, but this time not as a draft.

With a pseudo state you can easily control the theming based on the state of a Widget, like:
[code]

[2020-05-21 20:20] thmueller64 commented on #5504
Did not know that referencing an issue in the commit message and pushing to the fork on my own repository would result in these commits appearing here! Sorry for that.

[2020-05-22 01:03] musikBear commented on #5263
:p so
![image](https://user-images.githubusercontent.com/6662066/82620213-343ee600-9bd8-11ea-93ce-91c43851272a.png) Means *'done and in PR'*, i only looked at the date ..nov 2019..
Nwm i thought myself usage of QmessageBox, through input of a user' response
Time well spent anywitch

[2020-05-22 01:13] musikBear commented on #3784
I wonder if this 'oldie' isent fixed with the Master-feature of *snapping outside bar-divider* in song-editor? If the granularity is all down to 1/192, i would say it is, but what is the general opinion on that?

[2020-05-22 01:41] musikBear commented on #3138
I would like to do this, if its alright?
If so please assign me (I cant do that my self -right? *Assigning to an issue* -why not?)

I practically already have made it as 'humanizer' just need to remove randomness and find out how to make a key-combo

[2020-05-22 02:15] coderman64 commented on #5263
Sorry about the confusion, but to be fair, fschuelke's PR is linked right above your first comment.

[2020-05-22 09:23] Spekular commented on #3784
Yes, this can easily be accomplished by moving the sample track forward the appropriate amount, or with a delay effect. Thanks for the heads up :)

[2020-05-22 09:23] #3784 closed

[2020-05-22 09:30] Spekular commented on #3138
I would assume you should look inside keyPressEvent in PianoRoll.cpp. It may be useful to know that Shift+Arrow moves notes left/right by one step of the current Q.

[2020-05-22 10:21] Qwertie- opened #5513 "Crashes on start when JACK is selected via settings"
### Bug Summary
Changed my audio interface to jack via the LMMS settings and now it crashes on start
#### Steps to reproduce
Set jack as the audio interface and restart
#### Expected behavior
It uses jack and works
#### Actual behavior
It crashes while starting every time
#### Screenshot

#### Affected LMMS versions
1.2.1 appimage. Running on Fedora 32

#### Logs
<details>
  <summary>Click to expa

[2020-05-22 12:22] zonkmachine commented on #5408
Closed in #5452

[2020-05-22 12:22] #5408 closed

[2020-05-22 12:59] JohannesLorenz commented on #5513
@Qwertie- Thanks for the report. I think this *should* already be fixed. Can you please take the Bot's image from #5452 , or, even better, compile the current `stable-1.2` branch? Does it still occur?

[2020-05-22 13:18] musikBear commented on #5263
@coderman64 i see it now, but not earlier, i am partly blind -no joke 🦇

[2020-05-22 13:25] musikBear commented on #5404
This was a failure
It seams that the point-of-change is not possible to 'catch'
I worked on several dials, but Change| ChangeSpd gave the most understandable result
In stable 1.2.1 we have a super short sound at setting 0.746.
At 0.74**7** the whole sweep through all octaves
In my Master, i therefore changed the input to 0.0001 that was expected to catch the output from sweetspot 0.746 to 0.746 +

[2020-05-23 00:50] Qwertie- commented on #5513
Yep, latest build works fine

[2020-05-23 00:50] #5513 closed

[2020-05-23 05:02] xytk4 commented on #5508
Here's an idea... what if instead of having a special dedicated track for external MIDI control, a new "External Instrument" instrument plugin were to be added (similar to any of the LMMS internal synths), which had options for MIDI output device, MIDI channel, etc.
This sort of design (in my humble, non-designer opinion) is more user-friendly than having a whole separate type of track that does t

[2020-05-23 07:18] Sawuare commented on #5505
I changed the behavior in #4034.

[2020-05-23 08:39] JohannesLorenz commented on #5457
I'm sorry, I did somehow not see your message. Anyways, we have now solved that other issue, but it does not fix your issue.

So let's keep this issue open.

[2020-05-23 13:00] dj-pixus commented on #5508
That's a reasonable solution too.
Also, if we use the Vol and Pan knobs as CC controllers, all the user-created knobs could have such a name according to the [General MIDI specs](https://www.midi.org/specifications-old/item/table-3-control-change-messages-data-bytes-2). Some controls are labelled "Undefined" or "General Purpose", these could be just called the CC number. As the controls 32-63 have

[2020-05-23 23:16] zonkmachine commented on #5404
So you basically found a quirk in sfxr. I kind of suspected it but there's no knowing if it can be usable without probing into the matter. Now we know. Closing for now.

[2020-05-23 23:16] #5404 closed

[2020-05-24 10:14] zonkmachine commented on #746
This issue was accidentally closed with #5216

[2020-05-24 10:50] Spekular commented on #746
It was closed even before then since it's consolidated ;)

[2020-05-24 10:53] zonkmachine commented on #746
;)

[2020-05-24 19:34] JohannesLorenz commented on #562
Lv2 core is in master now (2a66e83).

Some stats about the Lv2 core PR, just for fun:

* 434 days PR open
* 299 comments
* 155 commits
* 39 files changed
* 6 reviewers

Thanks to everyone making this possible!

[2020-05-24 19:34] JohannesLorenz commented on #562
Meanwhile, the Lv2 URID feature PR is ready for review: #5517 .

[2020-05-25 17:52] badosu commented on #562
Great job all involved!

[2020-05-26 17:50] tresf commented on #746
As the closer of many of these types of bug reports, feel free to reopen whatever you want.  That consolidation was mean to cleanup the hundreds of redundant or never worked on issues.  If something's finally active, it's often nice to reopen the bug report to encourage feedback, etc.

[2020-05-26 18:03] oeai commented on #746
Sorry guys, it's an offtopic here, but i just received that thread and it is not so much popular as discord, so i'd like to ask you first here.
you know virus etc i designed a mask from paper [https://imgur.com/a/hARRvOI](https://imgur.com/a/hARRvOI)
![mask2en](https://user-images.githubusercontent.com/2557665/82934431-1d134600-9f94-11ea-9b3c-65f26a91d7a4.jpg)
it makes mask more hermetic, so if yo

[2020-05-26 18:11] zonkmachine commented on #746
Yes, that is off topic anywhere on lmms github pages.

[2020-05-26 18:16] oeai commented on #746
Well it's DIY and you can use Glue i guess .' )

[2020-05-26 18:19] zonkmachine commented on #746
The old lmms forum has one of those virus threads. Post this there. Not here.

[2020-05-26 18:23] zonkmachine commented on #746
Thread cleared from off topic content.

[2020-05-26 18:35] oeai commented on #746
this could save someone life and the machine deleted that... that's why they hate machines

[2020-05-26 18:46] tresf commented on #746
Admins, FYI, you can hide comments too.  @oeai we have a strict policy against off-topic content.  Your contributions to the tracker are valuable, but let's treat it as a bug tracker and use the forums for other items as zonk has recommended, otherwise we'll be forced to remove the access. ❤️

[2020-05-27 12:40] dj-pixus opened #5518 "Misaligned knob in the BitCrush effect"
In the Hungarian translation, the Gain knob is misaligned due to the longer word:
![erosites](https://user-images.githubusercontent.com/65627470/83018950-72983300-a026-11ea-9ef8-580295dcbf1e.png)
LMMS 1.2.1, 64 bit AppImage from lmms.io.
I don't know however, what would be a better name for this. The closest meaning of "erősítés" is more like amplification rather than gain.

[2020-05-27 16:33] #5128 closed

[2020-05-27 18:53] KCGD opened #5519 "The ability to stretch / slow down parts audio without changing pitch"
I was watching a production stream of someone using abelton and it had a really cool feature of stretching specific parts of audio (in this case vocals) to fit parts of the baseline, and without changing the pitch of the audio.

Ive faced this issue alot, having to re import vocals from another editor because it didnt fit the beat.
[This video](https://youtu.be/TwY9jZxMJx8?t=296) has a really good

[2020-05-27 18:55] Spekular commented on #5519
Duplicate.

[2020-05-27 18:55] #5519 closed

[2020-05-27 18:58] Spekular commented on #5519
For example:
#3103
#4653

And mentioned here: #1471

[2020-05-27 21:30] mohsenuss91 opened #5520 "Recording module"
### Enhancement Summary
Recording module

#### Justification
Using LMMS to record voice directly without using other softwares.

#### Mockup

[2020-05-27 21:36] Spekular commented on #5520
Duplicate.

[2020-05-27 21:36] #5520 closed

[2020-05-27 21:38] Spekular commented on #5520
See #1297, #4994.

[2020-05-28 05:46] gatodev commented on #5052
I found the steps to reproduce.
Open piano-roll.
Move piano-roll if song-editor is entirely hidden.
Focus song-editor.
Pressing some modifier key, click on piano-roll.

[2020-05-28 08:24] Spekular commented on #5052
The recent scroll direction fix also had to do with stuck modifiers, I wonder if that fixed this as well:

https://github.com/LMMS/lmms/commit/42f7e262e9d9353671a3920215f8e41658590891

@gatodev can you test a build of LMMS from master branch and see if the issue is still here? If you pick a minor PR on master branch and use the test binary from it you don't have to build it yourself.

[2020-05-28 11:02] gatodev commented on #5052
I tested version 1.2.1.681 and confirmed it was fixed.

[2020-05-28 11:09] Spekular commented on #5052
Great, thanks for testing! :)

[2020-05-28 11:09] #5052 closed

[2020-05-28 11:12] Spekular commented on #5052
Or, should this stay open since it's not fixed in 1.2? I think I lean towards having it closed since a fix is merged, but if someone disagrees please reopen.

[2020-05-28 13:47] GingkathFox commented on #5113
gonna close this cause i havent had these issues with the latest build

[2020-05-28 13:47] #5113 closed

[2020-05-28 13:47] #4553 closed

[2020-05-28 15:31] Firepal commented on #4514
I've had this occur twice this year, this is pretty irritating

[2020-05-28 17:32] musikBear commented on #4514
What OS ?
1.2.1 or earlier version?
Do you remember anything else about the situation, like what you just did before or similar
Did you
* Use ctrl+s
* Used speedbar icon
* Used Menu
Can tell you that i *never* had a fail-save from 2006 to now..

[2020-05-28 20:14] Firepal commented on #4514
![image](https://user-images.githubusercontent.com/29317321/83188807-86c85700-a130-11ea-92ab-b42986ebcd36.png)

Ubuntu Studio 19.10

1.2.1, AppImage from lmms.io

I had low laptop battery, saved and shut off my computer both times. I hit CTRL-S.

Code changes in time. I never had this happen to me in 1.1.3.
I skipped 1.2.0 but I tried a 1.2 release candidate a while ago.

[2020-05-29 00:20] he29-net commented on #1387
Comming soon(-ish):
![screen](https://user-images.githubusercontent.com/20932751/83206279-d1f26200-a150-11ea-8e7d-11c1c3e27a49.png)

The first PR will be only for native, non-MIDI-based instruments (to keep the PR size reasonable and to gather some feedback first, before building more stuff on top of it).

What's left to do is saving / loading (both .scl / .kbm and in project) and some GUI-related

[2020-05-29 10:45] DomClark commented on #4514
When you shut off your computer, did you shut it down properly through the OS, or just turn off the power? It's quite common for OSes to cache files before writing them to disk, and if the computer loses power before they are written for real, the contents can be lost. People have lost projects this way before.

[2020-05-29 12:46] PaulBatchelor commented on #3421
The code for `sp_port` can be used as a smoothing filter:

[2020-05-29 15:57] musikBear commented on #4514
Properly why. If you can, always plugin, and then save

[2020-05-29 20:42] Firepal commented on #4514
I did shut off the laptop by forcing it to shut down by holding down the power button. (bad habit...)

I never knew! Is that for reducing the amount of disk read/writes in case of several disk operations occurring in a small timespan? If so, very clever. Otherwise, interesting nonetheless.

[2020-05-29 20:49] Veratil commented on #4514
Correct, it will try to write in one sweep so it doesn't hit the hard drive all the time (reducing lifespan).

[2020-05-30 14:51] zonkmachine commented on #4514
https://doc.qt.io/qt-5/qsavefile.html (since Qt 5.1)

_While writing, the contents will be written to a temporary file, and if no error happened, commit() will move it to the final file. This ensures that no data at the final file is lost in case an error happens while writing, and no partially-written file is ever present at the final location. Always use QSaveFile when saving entire documents to

[2020-05-30 15:39] musikBear commented on #3138
This is now 'finished'
Not in PR and not reviewed
Implemented as keypress on
* '+' : elongate selected notes 1/192
* '-' : shortens selected notes 1/192

I have 5 ' Hub-#mark' features implemented by now. When is it common to make a PR-request?
Should i do that now, or later?

[2020-05-30 16:01] rezbyte commented on #5181
Mind if I give this issue a shot?

[2020-05-30 17:37] zonkmachine commented on #3138
?

Depends on if you need help with it. It's hard to give feedback without looking at the code. Just open a PR for the one you think is most ready and see what unfolds.

[2020-05-31 11:05] musikBear commented on #4877
In respect to

I want to give a heads-up:
I have used '+' and '-' in piano-roll for resp. elongating, and shorten *selected* notes, with a simple keypress. (Implements #3138)

[2020-05-31 11:34] musikBear commented on #3740
@Sawuare wrote

How about
**static Qt.Key | Key_Pause**
The key top, outmost right on qwerty kb?
If that is acceptable(?), i will ask for *assignment* to implement that key for *pause*

[2020-05-31 11:39] musikBear commented on #3138
@zonkmachine oki will do

nb Hub-#mark -i meant issues / enhancements *tickets* on gitHub

[2020-05-31 12:10] zonkmachine commented on #3740
I believe there is an assignment for this in one of the duplicates for play/pause behavior. You also have three assignments already and you're kind of new to lmms developing so maybe you should focus on those ones before taking on any new tasks?

[2020-05-31 12:43] zonkmachine commented on #3740
https://github.com/LMMS/lmms/issues/5301
https://github.com/LMMS/lmms/pull/5332

[2020-05-31 12:47] zonkmachine commented on #5301
As you have volunteered to fix this and have a PR open I have assigned you to this issue.

[2020-05-31 18:00] zonkmachine commented on #3880
I've split the duplicate/skipped notes into two separate tickets. The duplicate notes come from note lengths being calculated wrong causing extra space at the end for a new note to be generated.

[2020-05-31 19:35] zonkmachine commented on #3880
Proposed fix for the 'extra notes' here: https://github.com/LMMS/lmms/pull/5523

[2020-05-31 22:09] musikBear commented on #3740
@zonkmachine  wrote

I have made them

![image](https://user-images.githubusercontent.com/6662066/83363719-d199d700-a39b-11ea-8897-511101393cd6.png)
Done

+ Humanize note-pos and humanize velocity
+ new default envelope for general instrument-class
Also done
(needs a new default template that uses a new 3oc, but that is very simple

So 'slate empty' thats why i asked.

[2020-05-31 22:13] Lathigos commented on #1911
Since I am preparing another branch in which I will attempt to remove MDI from LMMS, I have a few questions regarding the intended design. I can resize all the widgets to fit into the new single-window design properly, except for the VSTs and other external plugins which come with a predefined _fixed_ frame size.

I am unsure how to incorporate this unknown size constraint into the somewhat fixed

[2020-05-31 22:53] qnebra commented on #1911
In my opinion VST should have their separate container/window, as we see a lot of variety in their interface sizes. From tiny to really big. This mean all internal LMMS components can be part of single-window interface, but those external are in separate window.

[2020-05-31 23:12] SecondFlight commented on #1911
VSTs in Ableton and Bitwig are both opened in separate windows:
![image](https://user-images.githubusercontent.com/6700184/83364895-9df68700-a372-11ea-991e-4e1682e02a31.png)
![image](https://user-images.githubusercontent.com/6700184/83364898-a3ec6800-a372-11ea-92c9-eaba3b5ee5ce.png)

[2020-06-01 00:21] zonkmachine commented on #3740
Done where? That's a screenshot. Of what? We need to see the actual code. If it's not merged it's actually not done. Here, no code here: https://github.com/LMMS/lmms/pulls/musikBear

Just push your branches to your github lmms fork and then via the github web interface you open a pull request.

[2020-06-01 07:24] RoxasKH commented on #1911
Yeah, i was gonna say the same, also reaper and cakewalk have vsts in a separate window.
The exception could be FL, that anyway uses a separate window and it's a weird MDI, but still i agree vsts should have separate windows. Also if we use no embedding like Ableton, Reaper ecc this way we're gonna get rid of all the embedding problems, like the resizing ones and other little things like the menu

[2020-06-01 13:52] musikBear commented on #3740
You are correct i have not made any PR. I thought it was to little for a PR, and asked on 'Discord, when it was common to make PR, answer was no rules, make one when you like.
I will make one then.

[2020-06-01 14:17] #4201 closed

[2020-06-01 14:17] #5483 closed

[2020-06-01 14:17] #5504 closed

[2020-06-01 14:17] #5194 closed

[2020-06-01 14:33] tresf commented on #3740
That's in regards to PR vs. committing directly.  If you commit directly, you can still link the commit here!

[2020-06-01 18:46] qnebra commented on #1911
Also what if unify VST instruments and effects lmms workflow. Basically, from my perspective, those are completly the same except being more wonky in instruments, as they had two separate windows. And I know, there is more stuff going on like arpeggiator, effects and so on in "instruments" Vestige.

[2020-06-02 00:55] PaulBatchelor commented on #3421
Did some digging.

The crossover EQ filter is made up of a few instances of `StereoLinkWitzRiley` filters, which is a basic filter type used all over LMMS. It only calculates things on a per-sample basis, and there is no support for block-rate parameter smoothing.

It actually turns out in the same file where the `StereoLinkWitzRiley` filters are defined ([BasicFilters](https://github.com/LMMS/lmm

[2020-06-02 01:48] #5462 closed

[2020-06-04 10:45] 6r1d opened #5525 "Carla segmentation fault"
### Bug Summary
Immediate segmentation fault happens when I add Carla Rack or Carla Patchbay. It might be either Carla or LMMS issue, I'll move it to falkTX's repo if I should.

OS: Ubuntu [18.04.4](https://releases.ubuntu.com/18.04.4/) LTS (Bionic)
Hardware: Lenovo IdeaPad 330S-15ARR
QT version: `5.9.5`
GCC version: `7.5.0`
Last commit in log: `a05306`

#### Steps to reproduce
* Open Lmms build i

[2020-06-05 17:17] opekope2 commented on #5302
I have Manjaro 20 KDE with QT 5.14.2 and wine 5.9.
LMMS 1.2.1 shows QT 5.14.0. This crashes.
The AppImage variant shows 5.9.7. This works fine for me and does not crash.
The Flatpak variant does not have VeSTige and shows QT 514.2.

[2020-06-06 01:58] musikBear opened #5527 "Almost all presets has no envelopes"
# Bug Summary
I have searched, but no issue seams to address this, but Almost all presets in LMMS has no envelopes. The zasfx presets does, but they are of cause internal, and not related to LMMS own ENV/LFO tab.
Most problematic are the *samples*, where many clicks and pops, but i have not been through all preset, so i cant say how many we got with artefacts.

#### Argumentation
On youTube LMMS i

[2020-06-06 17:18] dj-pixus commented on #5527
This is a job for me. Can I do it?

[2020-06-07 05:46] gatodev opened #5528 "Can't give a segment the same name as the track"
#### Affected LMMS versions

1.2.1

[2020-06-07 21:01] Veratil commented on #5528
This isn't a bug, but [normal behavior](https://github.com/LMMS/lmms/blob/dac59a5fa056048ccc4655b06102406ac7c502ac/src/tracks/Pattern.cpp#L890-L891).

[2020-06-07 21:39] gatodev commented on #5528
But for what?
When I rename a track to the same name as a segment, all the same of the segments disappear. Is that expected, too?

[2020-06-07 21:46] Veratil commented on #5528
It was done in [this commit](https://github.com/LMMS/lmms/commit/461cb2bb3cd1c6173fa0f1730a3ee83d247f3d13) as part of [this PR](https://github.com/LMMS/lmms/pull/3699). As for why, I wasn't around then so I don't know. @PhysSong I see you were around when this PR was open, do you recall anything about this?

[2020-06-08 02:23] PhysSong commented on #5528
@Veratil No, it's was there way much before that PR.
https://github.com/LMMS/lmms/commit/dd1db7d2b76a1c677642f610d3501a6f3b42218b

[2020-06-08 02:39] Veratil commented on #5528
Interesting. I don't see a reason why other than "improve appearance".

[2020-06-08 10:28] zonkmachine commented on #5528
Let me see If I get this right. When we create a new pattern we set the name to the track name here:

https://github.com/LMMS/lmms/blob/a05306131b29ae29af2eac89794f5461f0521567/src/tracks/Pattern.cpp#L61

Then some people think that's a bit spammy (I tend to agree with that after removing the code to filter out the track name), so we forbid lmms to write that name on the pattern. It's better to no

[2020-06-08 11:26] zonkmachine commented on #5528
Something like this. It will make a whole lot of tracks out there reveal hidden track names. I don't know what to do about that though.

[code]

[2020-06-08 11:31] Spekular commented on #5528
Should be possible to write an upgrade routine that clears the pattern name if it matches the track name. It wouldn't break anything, since those names are already invisible the behavior is unchanged for existing projects.

[2020-06-08 11:50] zonkmachine commented on #5528
Yes. I have a rather poor track record with DataFile.cpp though, so I pass that on to someone else. ;)

[2020-06-08 17:40] musikBear commented on #5527
@dj-pixus Wooo!
Are you *done*?
Have you tested *every* preset in both instruments and samples?
That was quick!  👍

[2020-06-08 19:52] dj-pixus commented on #5527
I fixed the problematic presets of builtin instruments except for LB302, as it does not support envelopes.
Samples are a different thing. The default preset of the AFP is what needs to be changed in order to eliminate the "problem", the samples themselves have little to do with it. If you cut a wave at a non-zero value, then it will unavoidably click, this is just how sampling works.
Again this is

[2020-06-08 21:45] BoxedFruits commented on #5439
Has this issue been handled yet? I would love to tackle it! I found a tool that can get the BPM of .ogg files.

[2020-06-09 08:16] Spekular commented on #5439
I'm not sure. @FrozenPixell, how's it going?

Most DJ software also has this functionality built in. That includes free software like Mixxx, and free versions of commercial options like Serato DJ Lite, VirtualDJ, and others. You would also need to manually confirm that the detected BPM is correct.

[2020-06-10 00:21] pmerry96 commented on #5248
I like this idea, how much information should accompany the markers? I can imagine it would be something like color/category, title, and a text field for notes.

Also would it be a better practice/valuable setting to keep this on discrete note intervals, or allow a more continuous time-offset from 0:00? I think this might make a good first issue for me...

[2020-06-11 15:28] RiedleroD opened #5533 "force mute when exporting tracks to avoid automation unmuting an instrument"
#### Bug Summary
When exporting tracks, all instruments except for the active one get muted. So far soo good. When I put a automation line that mutes and unmutes instruments to create a stutter effect, it gets activated by the automation line when another instrument is active. I found a workaround, which consists of the automation line muting a FX channel that is linked to the instrument.
#### Ste

[2020-06-11 16:51] musikBear commented on #5527
The replacement of all samples has been 'on the table' for .... guess 5-6 y...!
Once it was well in the makings, but then everything went seriously sour. Work was lost, so was people. I cant see a replacement in the near future
About Bitinvader envelopes:
They are **fine**! Those are an example og how  *all* our presets *should* have been made! They are perfect, The *Sustain* is not inverted, it i

[2020-06-11 17:48] zynskeywolf opened #5534 "ZynAddSubFx glitch on high sample rate"
Please tell me if it's a duplicate, but didn't find anything similar:
When exporting a specific project using the settings below, the waveform shows abnormalities. It Might be related to the envelopes in ZynAddSubFx, but it happens too randomly to be sure.

Steps to reproduce:
- Open [this](https://github.com/LMMS/lmms/files/4766257/exportbug.zip) project.
- Click File -> Export and save as WAV.
-

[2020-06-11 21:26] dj-pixus commented on #5527
The sustain, i mean the lowest value is 0, highest is 1 at most instruments. But in BitInvader, 0 is 1 and 1 is 0. Not a problem with the sounds itself, but a technical inconsistency that made me recheck everything 6 times.
About allpass filters: I really don't see much sense using them. Can be used for phase effects, but nothing really useful in this situation. A low-pass can be good for killing

[2020-06-11 22:39] he29-net commented on #5431
About half a minute after trying to use #5522 for something else than testing and debugging, I found myself wanting exactly something like this. The problem with completely custom scales and keymaps is that any intuition you may have flies completely right off the window. You simply don't know "what to press next", at least until you learn the new scale and mapping and use it for a while I assume.

[2020-06-12 04:05] hfiguiere opened #5535 "stk path is hardcoded to be in `/usr`"
### Bug Summary

The STK mallet path is hardcoded (on Linux) to be in `/usr` in the source code

#### Steps to reproduce

See https://github.com/LMMS/lmms/blob/8c7e63b35b1f929dff7176406a7a1c69e6262d92/src/core/ConfigManager.cpp#L559

#### Expected behavior

A configurable option at build time.
Context: in flatpak it is `/app`, which also happen to be the prefix because it is all built there.
See h

[2020-06-12 16:41] musikBear commented on #5527
👼 to *that*

[2020-06-12 18:10] rah2501 commented on #5508
Just came here to say, after trying LMMS for the first time I was surprised this kind of functionality wasn't already present and that an issue had only just been raised 23 days ago.  I have lots of hardware MIDI synthesizers that I would love to use with LMMS, it looks quite comprehensive and useful.

[2020-06-12 18:22] DeRobyJ commented on #2047
I we really don't want to switch to double, we could at least work around the LFO syncing problem by secretly _faking_ it.

Like resetting the value to initial phase every time we get to a new measure.
This behavior would be activated once the Sync to Tempo feature is used, and it would be deactivated as soon as the LFO speed is changed in any other way.

A more proper, but quite longer, fix would

[2020-06-13 09:07] michaelgregorius commented on #2047
Hi @PhysSong,

can you please create a pull request of your changes so that we can put them through a profiler?

To be frank, I find it a bit sad that this issue is five years old now and that it's still open although we know what the problem is, what the solution is and are very close to fixing it. I am pretty sure that if the oscillator had been implemented from the start using `double` precisio

[2020-06-13 09:11] michaelgregorius commented on #1911
Another argument for separate windows is that many modern VSTs are resizable.

[2020-06-13 10:09] Krvstal commented on #1911
That's an amazing work man I wonder when are we going to be able to work with with this beautiful lmms.

[2020-06-13 10:16] zonkmachine commented on #2047
I'm one of those users on a weaker machine. I vote double precision.

[2020-06-13 12:29] qnebra commented on #1911
Well, it is complicated. Because this is really nice looking UI, but more important in this kind of apps is UX, this mean "How user will interact and use lmms, and how hard it is to use", because nobody wants something pretty but harder than Dark Souls on nightmare-hard difficulty level to use.

[2020-06-13 20:48] Krvstal commented on #1911
Well I'm pretty sure it's easier than the actual interface where you end up opening windows instead of making music.

[2020-06-13 22:21] DomClark commented on #3964
### Steps to reproduce:
* Create a new instrument TCO (or use an existing one, but be careful not to break your project!)
* Click on the very right of the TCO. If successful, the cursor should remain a hand cursor, and not change to a move cursor.
* Try to copy the TCO. It should fail, creating an empty TCO instead. (You can also save and reload the project to see that the TCO is missing, as in th

[2020-06-13 22:25] DomClark commented on #5073
Duplicate of #3964

[2020-06-13 22:25] #5073 closed

[2020-06-14 00:10] RebeccaDeField commented on #1911
As stated above by devs in previous comments, we already agree that this mockup is the right direction to head in and already make efforts with the abilities, manpower, and steps possible with where LMMS is at now, as we can't work with a version of LMMS that doesn't exist yet.

All design-related pull requests end up referencing this mockup and there's no argument over whether or not we should, j

[2020-06-14 08:44] Spekular commented on #1911
I'm locking this conversation, as it gets a lot of comments that are essentially just "+1", or debating issues that (1) have already been resolved or (2) aren't relevant or useful to discuss right now.

If you'd like to say something about this issue, feel free to do so in the LMMS Discord server. Perhaps those of us with access to comment on locked threads can copy over any useful comments.

[2020-06-14 14:08] zonkmachine commented on #3964
Great! Any idea where it happened? I can't replicate this in 1.1.3 .

[2020-06-14 16:13] DomClark commented on #3964
It looks the code in `src/core/Track.cpp` which leaves journalling turned off was introduced in e81c970. The code in `src/core/JournallingObject.cpp` which disables serialisation of objects with journalling off was introduced in c3c5501.

It looks like in 1.1.3 that instrument TCOs were not correctly flagged as auto-resized, which meant that the second condition in `mousePressEvent` was always tru

[2020-06-16 01:13] jbwaylett opened #5539 "Could not open C:/Users/Administrator/Document/LMMS/recover.mmp .."
I get pop up window every few minutes stating:

"Could not open C:/Users/Administrator/Document/LMMS/recover.mmp for writing. You probably are not permitted to write to this file. Please make sure you have write-access to the file and try again".

I am signed in as Administrator and am opening LMMS as Administrator. I have full rights and access to the directory LMMS. So, I should not be getting t

[2020-06-16 07:10] Spekular commented on #5539
If you navigate to the recovery file in explorer and check it's file permissions, what do you find? Does the issue still occur if you delete the file?

[2020-06-16 18:14] paddymahadeva opened #5540 "lmms 1.1.3 - Fedora Linux 32 - Not able to load VST plugin - Freezes on project loading"
### Bug Summary
Tried to load an existing LMMS project which has some VST-plugins. The project open is stuck at 71% with message, loading VST-Plugin

#### Steps to reproduce
Installed new lmms from fedora repo using
`sudo dnf install lmms`

Launched LMMS from command line & saw the below error

[code]
Post this tried to load an existing project created in lmms (linux), the load is stuck at 71% & s

[2020-06-16 19:21] DomClark commented on #5540
Can you download the latest AppImage (version 1.2.1) from our website (https://lmms.io/download#linux) and see if you can still reproduce the issue there?

[2020-06-17 00:13] jbwaylett commented on #5539
The recovery file does not exist. It does not get set up. I can load a midi
file into LMMS and start working on it but the message window keeps coming
up with the warning. Very strange.

____________________

John B. Waylett
www.johnwaylett.com

[image: https://www.youtube.com/channel/UCn7wkz2WEGwKjhMujvDyE_w/videos]
<https://www.youtube.com/channel/UCn7wkz2WEGwKjhMujvDyE_w/videos>    [image:
http

[2020-06-17 07:07] akimaze commented on #5540
I think this could be the bug with Plugin Embedding. Please try set Embedding to **No embedding** in Settings, More info at https://github.com/LMMS/lmms/issues/5104

[2020-06-17 09:15] Spekular commented on #5539
Is it actually located in `C:/Users/Administrator`, or is "Administrator" a placeholder for your account name? Or is your account name actually "Administrator"?

I ask because my recovery file is in `C:/Users/[my username/[...]`.

Also, why are you running LMMS as an administrator? It should work fine without doing so, and using "run as administrator" may even be the cause of this issue. Please te

[2020-06-17 11:07] jbwaylett commented on #5539
Hi and thanks for your help. Much appreciated. The only User accounts I
have set up are Administrator, Public and Default. I only use
Administrator. All my files are under Administrator (i.e. Documents,
Videos, Music, .....). When I open LMMS all looks fine. When I import a
midi file I very soon get the message, even when I stop running LMMS as
Administrator.
See screen shot. Same thing.

[image:

[2020-06-17 22:12] DomClark commented on #3964
Fixed in #5537.

[2020-06-17 22:12] #3964 closed

[2020-06-18 12:56] zonkmachine commented on #3964
Yes, the master branch labelled after the last merged stable is pretty confusing.

Right. Jurassic code.

Thanks for fixing this.

[2020-06-18 22:24] sorath72 opened #5541 "Being able to modify automation data within song editor automation track"
So I searched for a similar feature on the feature request and apparently it seems to nether exist or couldn't find one. Being able to make curves and modify automation in the song editor track of the automation would be a great tool. Cause sometimes its hard to see where the automation begins and ends for the song editor automation when your calculating it via the measuring tool on top it can get

[2020-06-19 02:02] jbwaylett commented on #5539
Is there some way I can escalate this issue? It may be me but I can't see
what I could be doing wrong.
No matter what I do I keep getting the same message.
Thanks,
John

On Wed, 17 Jun 2020 at 07:07, John B. Waylett <jbwaylett@gmail.com> wrote:

[2020-06-19 06:42] Spekular commented on #5541
Technically mentioned in #5495, but this report is more specific so I won't mark duplicate.

However, I'll consolidate this into #4877. Discussion about this suggestion can continue here even though it's marked as closed.

[2020-06-19 06:42] #5541 closed

[2020-06-19 06:48] Spekular commented on #5539
Unfortunately I'm about out of ideas, but here's two more shots in the dark:
- Try installing and using LMMS on a different Windows account, that isn't named Administrator. Perhaps this is a reserved name in some way and that's causing issues.
- Try checking what the file permissions for C:\Users\Administrator\Documents\LMMS to ensure your current user has access to the folder.

[2020-06-19 11:11] patryk-tech commented on #5302
Same problem after upgrading to Qt 5.15.

@lukas-w maybe it would be a good idea to add a `qt5-x11embed` package to the [AUR](https://wiki.archlinux.org/index.php/Arch_User_Repository), and tie it to the Qt version (e.g. `qt5-x11embed-5.15.0`). Then it would be possible to update the version in the `PKGBUILD` file whenever Qt gets updated, and users could install the latest version.

For anyone wh

[2020-06-19 11:27] lukas-w commented on #5302
@patryk-tech Sure, I'd be happy to submit the package to the AUR, but I don't think we can have an AUR `qt5-x11embed` dependency in the non-AUR package `lmms`. So I think it may make more sense to add it as a package to the community repo. Maybe as an alternative we can modify LMMS so that we can have `qt5-x11embed` be an optional dependency. Waiting on @dvzrv's input on this.

[2020-06-19 13:54] jbwaylett commented on #5539
I changed to a non-administrator account. I uninstalled and re-installed
LMMS via this non-administrator account.
The same problem occurred .. this time for for the non-administrator
account.

[image: image.png]

Are there any LMMS SW developers that have seen this behavior before?
This is so strange.

____________________

John B. Waylett
www.johnwaylett.com

[image: https://www.youtube.com/chann

[2020-06-19 15:52] zonkmachine commented on #5539
Yes, but it's always been easy to fix. On Linux I can easily recreate this issue by changing the LMMS working directory to `/`, the root directory, which an ordinary user don't have writing access to. You can change this in `Edit/Settings/Paths`. The quick fix for you would be to turn off the Auto-save function. You do this in `Edit/Settings/Performance settings`. Unfortunately I know preciously l

[2020-06-20 13:23] dvzrv commented on #5302
@lukas-w sorry for the long delay. `ETOOMANYPACKAGES` ;-)

Hm, tough cookie. An alternative could be indeed to link dynamically against a qt5-x11embed as it would probably be faster to rebuild than lmms.
Given that this library would only be in use for lmms defeats the purpose a little though.

AFAICS the cleaner and more forward compatible solution would probably be to get rid of this dependency

[2020-06-20 13:36] dvzrv commented on #5302
@lukas-w After consulting the qt5 maintainer for Arch Linux on this matter I think the "separate package to link against" option is not really worth it. Qt5 is feature frozen and qt6 will be coming in November.

I think it would make more sense to find ways of replacing qt5-x11embed with something native, which will ease the maintenance burden on both sides and increase the long term stability of

[2020-06-20 14:44] wujekbrezniew opened #5542 "Lmms Vestige cannot open Carla's GUI when loading as VST2."
Bug Summary:
Carla's 2.1.1 GUI cannot be opened after loading it as VST2 both on Windows and Linux Wine.

Steps to reproduce:
Download lastest Carla 2.1.1 from KX Studio site, load it as VST2 plugin by selecting CarlaVstShell.ddl from carla.vst folder. Plugin loads but Carla's GUI cannot be opened by "Show/hide GUI" button.
If i run Carla standalone in Windows or in Wine I'm able to open Carla in

[2020-06-20 15:43] DomClark commented on #5542
The Carla VST appears to be a "shell" plugin, which exposes a number of sub-plugins for the host to choose from. LMMS doesn't currently support this type of VST.

[2020-06-20 16:21] lukas-w commented on #5302
@dvzrv I think we're out of luck here, qt5-x11embed was created precisely because of the removal of this feature in Qt5. It's a port of the `QtX11EmbedContainer` class from Qt4 which I wrote because no replacement was available.

[2020-06-20 19:00] jbwaylett commented on #5539
Ok .. thanks for your help. I will try your suggestions.
Best regards,
John
____________________

John B. Waylett
www.johnwaylett.com

[image: https://www.youtube.com/channel/UCn7wkz2WEGwKjhMujvDyE_w/videos]
<https://www.youtube.com/channel/UCn7wkz2WEGwKjhMujvDyE_w/videos>    [image:
https://www.facebook.com/johnbwaylett/]
<https://www.facebook.com/johnbwaylett/>    [image:
https://www.linkedin.co

[2020-06-21 04:19] tank-trax commented on #5179
try commenting out

`/*__WIDL_objidl_generated_name_0000000C */`

I had to do this to compile [Carla](https://github.com/falkTX/Carla/issues/914)

[2020-06-21 05:48] plater commented on #5179
I've revisited openSUSE's lmms build and the only build flag I have to remove is -m64 to allow the wine-32 build to succeed. grepping the build log finds 167 instances of -flto=auto so I don't understand the issue with lto. The only modification to the build is sed out -m64 and add -D__WIDL_objidl_generated_name_0000000C="" to the build flags.

[2020-06-22 12:03] AdityaKumarCos commented on #266
Is there anyone working on this issue presently?

[2020-06-22 12:05] zonkmachine commented on #266
@AdityaKumarCos I think not.

[2020-06-23 19:48] zonkmachine commented on #266
No. Bump us if you want to be assigned to this issue.

[2020-06-24 02:35] russiankumar commented on #266
If we decide on a shortcut/hotkey, then I could very well try resolving this (I have a pull request to work on as well, so I may delay a little bit).

[2020-06-24 22:16] LNooteboom commented on #1472
@tresf
With the merge of pullrequest #5499
"Faster access to MIDI assignment/auto-assignment" can be ticked now I think.

[2020-06-26 11:33] svsdval opened #5545 "Lmms 1.2.1 vestige cannot load carla's libs and VST GUI not rendering, but the sound works ;)"
Debian Sid, LMMS 1.2.1, vestige cannot load carla's libs and VST GUI not rendering/updating.

Log acquired by running Lmms through console:
https://pastebin.com/M4S7NApN
![Снимок экрана_2020-06-26_18-22-15](https://user-images.githubusercontent.com/6585839/85852717-5d582500-b7db-11ea-8bd8-6752de0dbf4b.png)

[2020-06-26 14:28] SecondFlight commented on #5545
Hi! Thanks for the report. Did you get LMMS through [lmms.io](https://lmms.io/download#linux) or from your distro?

[2020-06-26 16:39] svsdval commented on #5545
I got LMMS from lmms.io in logs i run lmms-1.2.1-linux-x86_64.AppImage :)

[2020-06-26 17:45] SecondFlight commented on #5545
Thanks for the info. Sorry, I missed the link.

[2020-06-26 18:10] Bronxio opened #5546 "Can't move decay and reverb wheels on LMMS v1.2.x under Windows 10"
### Bug Summary
I came from this [forum thread](https://lmms.io/forum/viewtopic.php?f=17&t=33156&sid=67c1c27baf1b092fbf86d5b0e9e313df).

When I add an effect to any instrument under Windows 10, I can't move the wheels "decay" and "reverb": the mouse acts like there isn't any control in that zone. If I create a project, save it, open it under other OS (Windows 7 and Ubuntu is what I've tested as we

[2020-06-26 18:18] Spekular commented on #5546
This is the expected behavior if you have "keep effects running without input" enabled, and I believe this is a duplicate issue.

[2020-06-26 18:18] #5546 closed

[2020-06-26 18:19] Spekular commented on #5546
Duplicate of: #5352

Relevant: #4749

[2020-06-26 22:13] Bronxio commented on #5546
You're right. I tested that and wheels are working with that option disabled. Thank you!

[2020-06-27 10:34] softrabbit opened #5548 "Garbage in audio when exporting tracks"
### Bug Summary
Exporting tracks leaves a few samples of garbage at the start of the audio files. Might be some buffer that should be cleared after each render but isn't?

#### Steps to reproduce
Export tracks as 16-bit WAV @ 44100 Hz.

#### Expected behavior
No garbage at start of audio files.

#### Actual behavior
Garbage at start of audio files, except for the first one rendered.

#### Screensh

[2020-06-30 19:59] DimitriyPS opened #5550 "Record Track in a separate channel"
### Enhancement
Necessary to output the "Record Track" to a separate channel. This is necessary for the exclusive control of track frequencies when composing a work.

#### Justification
I am trying to replace FL Studio with LMMS in my work. I immediately ran into the problem that adding a “Record Track” I cannot output it to a separate channel, I cannot filter it separately, I cannot impose effect

[2020-06-30 21:48] thmueller64 commented on #5016
Sorry @jshamble for the delay, I totally missed your comment on this! I'm fine with that, although a second opinion on the topic would be great before working on a pull request.

[2020-06-30 22:41] thmueller64 commented on #5548
I could not reproduce this behavior with the current master and libsndfile 1.0.28-7. Could you maybe share a project file?

[2020-07-01 00:15] DomClark commented on #5550
Duplicate of #133. This is implemented on `master` and should be available in 1.3 when it is released. See #3866.

[2020-07-01 00:15] #5550 closed

[2020-07-01 00:17] DomClark commented on #3268
Fixed in #3866.

[2020-07-01 00:17] #3268 closed

[2020-07-01 05:08] russiankumar opened #5551 "Allow saving external samples into the .mmp file"
### Enhancement Summary
This is an idea borrowed from Blender. Blender allows saving external textures, data, etc etc in the project file, which allows for easier sharing over the internet, or say opening the project on a laptop (when the project was made on a desktop) where you don't have enough storage space to store your massive sample library. I don't believe any other DAW has this and it woul

[2020-07-01 05:52] russiankumar commented on #4929
Hey!

As a new developer who recently started to contribute, I'd like to throw in my two cents on some things that I (and probably other new coders like me) would like to see, and what I believe is good in the current system.

### Pros
- At least for me, it is easy to get questions resolved such as which functions to use, where to find certain files, etc etc both in the PR and on Discord. Everyone

[2020-07-01 09:35] Spekular commented on #5551
Duplicate of #4922

[2020-07-01 09:35] #5551 closed

[2020-07-01 12:19] qnebra commented on #5551
Well, Cakewalk save project in that way. When user save project in Cakewalk program create new folder with desired filename, and inside this location it save project file and copy of corresponding samples.

[2020-07-01 20:10] softrabbit commented on #5548
[issue-5548-shorter.mmpz.zip](https://github.com/LMMS/lmms/files/4859477/issue-5548-shorter.mmpz.zip)

A few more things I noticed:
- the garbage seems identical between files from the same export.
- looks like some degree of oversampling is needed for the bug to pop up, 1x seems to work fine.

Did a rebuild just in case something wasn't right, blowing away and recreating my `build` and `target` d

[2020-07-01 23:01] #5540 closed

[2020-07-02 08:11] russiankumar commented on #266
@zonkmachine do I take this up? It's techincally still my first issue so...

[2020-07-02 11:08] thmueller64 commented on #5548
I can reproduce the behavior now with oversampling > 1. From what I can tell, the issue is that libsamplerate sometimes generates less samples than lmms expects. Could you please try out the draft PR above and check if the problem persists?

[2020-07-02 11:30] softrabbit commented on #5548
Cool! I'll check the PR tomorrow or possibly later today.

[2020-07-02 13:56] russiankumar commented on #5301
Hey, is this being worked on? The PR seems inactive and I'd be glad to work on this if I am allowed to.

[2020-07-03 03:54] russiankumar opened #5553 "Sample track cuts off first buffer of the sample"
I believe a similar issue has been posted before, but that was related to export of audio files, while this one is related to playing the project itself.

### Bug Summary
When using sample tracks to play anything, the first buffer does not play. This is especially noticeable when used with kicks and snares, as the impact is greatly reduced. The sample tracks do work as expected when soloed.

####

[2020-07-04 13:13] trebmuh opened #5556 "Missing lmms_1.2.2.tar.xz in the assets"
Hi all.
Congratz for the 1.2.2 release!
It seems the lmms_1.2.2.tar.xz is missing from the assets on https://github.com/LMMS/lmms/releases

[2020-07-04 13:27] PhysSong commented on #5556
I was going to remove automatic `.exe` builds, but it seems like I moved `.tar.xz` as well. I'll upload it.

[2020-07-04 14:03] PhysSong commented on #5556
Uploaded, thanks!

[2020-07-04 14:03] #5556 closed

[2020-07-04 15:46] curlymorphic opened #5557 "Licence in about dialog GPL 2, not GPL 2 or later"
#### Bug Summary

The About LMMS dialog box and LICENSE.txt  state "GPL 2" and do not mention or later. This would be incompatible with "GPL 3" as used by external code and QT.  I feel this is just an oversight as a quick grep of the code base shows "GPL 2 or later"

#### Affected LMMS versions

Only checked 1.2.2

#### Logs
<details>
  <summary>Click to expand</summary>
<pre>

</pre>
</details>

[2020-07-05 19:23] herodotas commented on #5377
Sorry for very late reply, project attached, you need free PG-8X synth to play it.

[exmpl.zip](https://github.com/LMMS/lmms/files/4875437/exmpl.zip)

[2020-07-05 20:31] wujekbrezniew opened #5558 "Rack with controls to send Midi CC messages."
I was looking for some workaround to try to automate Carla in LMMS 1.2.x and I found that if i launch external virtual controller (outside of LMMS of course) with capability of sending Midi CC messages and then I properly route this messages trough Jack, LMMS and Carla I can control anything i want.
So i started to thought why not add a controller to LMMS which will be capable of sending MIDI CC m

[2020-07-05 20:59] Sandwall opened #5560 "Custom Backup Directory"
## Enhancement Summary
I want to suggest that a new option be added to the directories settings, that lets you choose the location of the .bak files made as backups of project files. Maybe a few on/off buttons that let you choose whether you want to use the custom directory, the default directory, or both as well.

#### Justification
An hour or two ago, I accidentally permanently deleted all my pr

[2020-07-06 00:26] FrozenPixell commented on #5439
Im really sorry, I completely forgot :|
Ill get on it right away haha

[2020-07-06 06:44] he29-net commented on #5560
One problem I can see with this suggestion is name collisions: imagine you make `projectA/test.mppz` and `projectB/test.mppz` -- then you have two backup files with the same name being saved to the same backup directory.

You could try to number the copies automatically, but how would a project know which copy it should overwrite the next time the project is opened and saved? Making folders like `

[2020-07-06 15:26] SeleDreams commented on #5201
I'll look into implementing it

[2020-07-06 15:39] DomClark commented on #5301
Fixed in #5554.

[2020-07-06 15:39] #5301 closed

[2020-07-07 00:52] gatodev opened #5562 "Muted states not saved when soloed"
#### Steps to reproduce

Mute some tracks
Solo a track
Save the project
Restart LMMS
Reopen the project
Unsolo the track

#### Expected behavior

All tracks remember their states, or unsoloed before saving.

#### Actual behavior

Some tracks don't remember if they were muted.

#### Affected LMMS versions

1.2.2 (Linux/x86_64, Qt 5.9.7, GCC 5.4.0 20160609)

[2020-07-07 09:20] IanCaio commented on #5562
The mute state before the solo is stored during runtime in a variable called `Track::m_mutedBeforeSolo`. It's probably not saved on the project file so LMMS doesn't know what the mute state should be after unsoloing. What has to be decided is if we should store this variable on the project file to remember the previous mute state during a solo or make solo a runtime thing and all tracks be loaded

[2020-07-07 21:16] IanCaio commented on #5562
I just submitted a PR with a fix for this bug. It's linked above and soon there should be builds available to download. Older project files can't be fixed though, because they didn't store the muted states before the solo, so those files will just set every track to unmuted when you disable the solo. But new project files should now store this information and you'll be able to recover the state af

[2020-07-08 07:43] musicsd opened #5566 "Source"
Please take source code to GitLab.

[2020-07-08 08:01] Spekular commented on #5566
Please write better issue reports.

[2020-07-08 08:01] #5566 closed

[2020-07-08 12:37] NimiStix opened #5567 "tap to add tempo"
# Please search the issue tracker for existing feature requests before submitting your own. Delete this line to confirm no similar request has been posted yet.

### Enhancement Summary

#### Justification

#### Mockup

[2020-07-08 12:46] JohannesLorenz commented on #5448
I'll leave this open just in case we'll do an 1.2.3.

[2020-07-08 14:28] DomClark commented on #5567
Duplicate of #5181

[2020-07-08 14:28] #5567 closed

[2020-07-09 01:49] PhysSong commented on #5553
The first commit of #4994 seems to fix this issue. I can confirm `stable-1.2` is okay.

[2020-07-09 03:00] russiankumar commented on #5553
I believe this is an issue only with `master`, so as it has been fixed, you may close this when the PR merges (though judging by the merge conflicts and the relative inactivity, I don't know how soon that'll be).

[2020-07-09 08:40] iurienistor opened #5568 "Carla build error"
Hi,

I have the following compiling errors regarding carla plugin:

carla.cpp:350:88: error: invalid conversion from ‘float**’ to ‘const float**’ [-fpermissive]
         fDescriptor->process(fHandle, rBuf, rBuf, bufsize, fMidiEvents, fMidiEventCount);
                                                                                        ^
plugins/carlabase/CMakeFiles/carlabase.dir/build.make:75:

[2020-07-09 10:38] Spekular opened #5569 "Many file menu actions use incorrectly sized icons"
### Bug Summary
File menu icons should be 16x16 in order to display pixel perfect. Only two of the actions in the file menu are actually at this size.

#### Screenshot
![Screenshot of file menu, side to side by excerpt from LMMS icons file](https://user-images.githubusercontent.com/8918426/87028218-99798580-c1de-11ea-85d2-a0660b4242b9.png)
Image key:
- Red: Icon is not available in the correct siz

[2020-07-09 11:13] russiankumar commented on #5569
Does LMMS code default to higher res pixmaps or 16x16 pixmaps? If it's the former the orange should be an easy fix imo.

[2020-07-09 11:39] Spekular commented on #5569
I don't believe there's any defaulting at all, pixmaps are selected directly by their filename from what I can tell (with .png excluded)

[2020-07-09 14:07] DomClark commented on #5568
Duplicate of #4909, #4951, #5047?

[2020-07-09 14:24] Spekular opened #5570 "Xpressive help dialog maximize behavior"
Xpressive's help dialogue does not fill the screen when maximized, which looks awkward and also allows un-maximized window to be placed on top of it.

#### Steps to reproduce

Add an Xpressive instance to the song editor, open it's instrument window, and press the button  labeled "HELP?". Next, press the maximize button belonging to the new window that appears.

#### Expected behavior

(1) Text ar

[2020-07-09 14:29] Spekular commented on #5570
I would prefer if the window didn't have a maximize button which should be a fairly simple fix. There are several windows without maximize buttons already:
- Controller rack
- Mixer
- Instrument windows

[2020-07-09 14:33] Spekular commented on #5568
PhysSong says in #4951:

[2020-07-09 14:57] iurienistor commented on #5568
Ok, anyway I think Carla project should decide what to do with this because it not part of LMMS only used in LMMS.

[2020-07-09 14:57] #5568 closed

[2020-07-09 15:28] Spekular commented on #3989
Close? With #5512 merged, you can't end up with "weird" note lengths unless you intentionally create one at some point. If you only use multiples of 1/2, the smallest length you can achieve is equal to the smallest quantization you've used, I think.

The same applies if you only use multiples of 1/3. Things get a *bit* less predictable if you mix and match, where you could create lengths like (1/2

[2020-07-09 15:54] Spekular commented on #5528
If anyone gets around to this before me, go ahead. Just assigning myself so I don't forget that I want to work on this.

[2020-07-09 20:08] #5129 closed

[2020-07-09 20:16] DomClark commented on #5570
In my opinion, this sort of documentation belongs on https://docs.lmms.io/, not in the software itself. Can we just remove the window altogether?

[2020-07-09 20:28] Spekular commented on #5570
That's a fair point. On the other hand, this dialogue ensures that you have access to the info even if you don't have internet access, and the info within might be something you need to reference more frequently than the instructions for our other synths.

[2020-07-09 21:47] Spekular opened #5571 "Display hover-sensitive info in top right corner of toolbar"
I think this would be a nice addition, but I want to gauge interest in/resistance to the idea* before investigating more, since it'd probably be a fairly big undertaking. The concept, as seen from the user's view, is:

- No more "what's this"/explanatory/documentation-esqe tooltips show up
- All info along those lines shows up the dedicated hover-text area
- More hover text can be added now that i

[2020-07-10 00:17] DomClark commented on #5571
It's important to make sure the hover text is translatable, and I'm not sure how easily we can do that with external hover text files, especially in conjunction with standard Qt translation.

An alternative approach on how to display these:
* Set the hover text in a property on the widget, e.g.
[code]
* The hover text renderer installs a global event filter listening for `QEvent::Enter` and `QEven

[2020-07-10 02:07] PhysSong commented on #5062
I found that `.git/info/exclude` also works.

[2020-07-10 04:14] SeleDreams commented on #5062
does it mean I should create this file in my local repo and use it like a gitignore ?

[2020-07-10 07:34] Spekular commented on #5571
I know ableton has separate files for each language for their tutorials, so hopefully this would be solveable somehow.

This approach is what I had in mind with the "better approach", I guess with the difference that you propose keeping the hint text in code. You definitely fleshed it out better though.

[2020-07-11 21:53] Sawuare commented on #5181
The following is my GUI vision for the feature:
• Access to it would be through an action in the Tools drop-down of the menu bar, or an action in the context menu of the Tempo LcdSpinBox.
• It would be a small pop-up widget with a button for tapping. The button would show the current tempo.

[2020-07-12 12:53] mnini opened #5575 "Porting file input and output out of main event loop."
The interface freezes on file operations, like write or read, maybe making them asynchronous would be good.

[2020-07-12 12:55] mnini opened #5576 "Channel selector for sidechain compressor"
Title says it all.

[2020-07-12 14:39] Spekular commented on #5576
Not really. The sidechain compressor is controlled via the S/C level knob, which you connect to a controller, so there's no channels involved anywhere. If this has anything to do with sending two streams of audio to the sidechain compressor, it's blocked by #5108 either way.

I'm closing this, but if you'd like to elaborate perhaps it could be reopened.

[2020-07-12 14:39] #5576 closed

[2020-07-12 16:11] dj-pixus opened #5578 "Strange behavior of Mute and Solo buttons when connected to MIDI CC"
The Mute and Solo buttons of the tracks behave very sick if controlled via MIDI input.

Steps to reproduce:
- Connect any of the Mute or Solo buttons to a MIDI toggle button.
- Toggle the value between 0 and 127.

Expected behavior:
The buttons should function normally without any glitches.

Actual behavior:
See the video below:
[solomutemidi.mkv.zip](https://github.com/LMMS/lmms/files/4908795/sol

[2020-07-13 14:01] softrabbit commented on #5548
Looks like closing time, the fix is merged.

[2020-07-13 14:01] #5548 closed

[2020-07-14 02:16] #5562 closed

[2020-07-14 08:08] russiankumar commented on #5571
Is this similar to the tooltip box in FL Studio? (The one at the top left I believe which displays information about the track) If so, this is definitely something useful as the hint is immediate and doesn't obstruct the workspace.

I also had an idea to move the loading project window (the one which says loading track 10 of 25... and etc.) over to this widget, hiding the workspace from mouse even

[2020-07-14 16:19] musikBear commented on #5181
@Sawuare wrote

Not that way. Ergonomically it is quite difficult to finger-click in a consistent way (it has to do with anatomical mehhee ) If you try you will either find your self banging on the mouse, or pressing quite hard. After a while your finger start to hurt ;p (Tendonitis alert..).
No the easy way to keep a steady rhythm, is to tab on **space**, where the motion is in the *wrist*, not t

[2020-07-14 16:55] IanCaio commented on #5181
Mind me giving my two cents? It doesn't really matter whether the mouse or space is used (maybe make both a possibility?), but IMHO the BPM calculation would have to take to account an average of many user taps. The difference of the time between beats of 120bpm and 110bpm is 0.045s. Meaning that if you always calculate the difference between the last two taps you'll have a lot of different BPMs o

[2020-07-14 16:56] RoxasKH commented on #5181
Go telling that to Image-Line xD

FL one works exactly like that, and you don't really need to be precise, only to get an idea of the tempo you want you can simply adjust later.

[2020-07-14 17:50] qnebra commented on #5181
Single window with Big Friendly Button with text "Tap Spacebar when active to set tempo" on it.

[2020-07-14 23:34] johan-boule commented on #4314
Can you please correct the main authors of Psycle? These are Arguru and JosepMa. I only contributed to it.

[2020-07-15 20:53] tresf opened #5582 "It does not make sense to draw an image when [NSGraphicsContext currentContext] is nil"
### Bug Summary

Master branch builds from CI won't load on macOS.  Below is the command line output:

[code]

... apparently it did break in the future.  macOS 10.14 at least loads an empty GUI.  macOS 10.16 (beta) doesn't load any interface at all.

#### Affected LMMS versions

Master branch.  Tested download available in https://github.com/LMMS/lmms/pull/5579 on macOS 10.14, 10.16 (beta).

 * 1

[2020-07-16 00:28] rdrpenguin04 opened #5583 "AudioFileProcessor doesn't recognize AIFF loops"
### Enhancement Summary
AIFF audio files are unique in that they can contain additional instrument data, particularly looping. AFP should have the capability to detect these loops and (optionally?) apply them to the looping settings.

#### Justification
There are several other properties, but looping is a good start, and most instruments stored in AIFF format will have looping available. Unfortuna

[2020-07-16 03:51] PhysSong commented on #5582
Test results:
- Qt 5.13 from Homebrew, for macOS 10.13: works fine on macOS 10.15
- Qt 5.15 from Homebrew, for macOS 10.13: broken on macOS 10.15
- Qt 5.15 from Homebrew, for macOS 10.15: works fine on macOS 10.15

Possibly related: https://bugreports.qt.io/browse/QTBUG-81370

[2020-07-16 08:44] softrabbit commented on #5583
Not that unique: https://sites.google.com/site/musicgapi/technical-documents/wav-file-format#smpl

Related: https://github.com/LMMS/lmms/issues/2154

[2020-07-16 09:35] jirislav commented on #4535
Hi, I've also encountered this problem, with fresh setup of LMMS 1.2.2 64 bit & with salamander piano imported via VST: https://vst4free.com/plugin/2564/ .. this sadly also prevents me from using LMMS :/ probably going to switch to Audacity with raw audio input in microphone jack

[2020-07-16 14:36] rdrpenguin04 commented on #5583
Ah, did not realize that. Would you prefer me to add this issue onto that one, or should I keep it separate, since it's a different format?

[2020-07-16 15:56] #5335 closed

[2020-07-16 18:32] tresf commented on #5582
@PhysSong thanks, so do you think this an upstream issue or is it something related to how we start the application or display the splash screen?  If it were that widespread, I'd expect people to be complaining in droves about this, yet they're not.

[2020-07-16 18:36] gnudles commented on #3951
Hi, this issue can be closed, right?

[2020-07-16 18:53] tresf opened #5584 "macOS: Song Editor patterns won't snap to grid"
### Bug Summary

Something's very wrong on macOS with the song editor, the patterns won't snap to grid.

Since the default snapping behavior is common for composers, this renders LMMS mostly useless for users relying on this behavior.  This is a major detriment to any macOS user.

Tested:
* 🚫 broken: macOS 10.16 (beta)
* 🚫 broken: macOS 10.14

Oddly, it works when using the build of LMMS targeted

[2020-07-17 01:43] PhysSong commented on #5582
I'm not entirely sure. It might be from ABI incompatibility or something like that.

[2020-07-17 03:38] russiankumar opened #5585 "Reorganising ZynAddSubFX presets"
### Enhancement Summary
Reorganise ZynAddSubFX presets by type (Bass, Keys, Lead, Pad) rather than by collection. Files can be renamed to `TYPE - Sound Name [collection].xpf` or something similar.

#### Justification
I think it's much more useful for producers to be able to pick sound by type, and what collection that sound comes from isn't exactly something that's necessary for that. Files can be

[2020-07-17 03:47] russiankumar commented on #5570
Working on this.

[2020-07-17 04:31] russiankumar commented on #5570
Have working versions of both proposals. Your call on which one to be merged.

[2020-07-17 06:02] PhysSong commented on #5584
I can confirm it. Strangely, if I build LMMS 1.2.2 on macOS 10.15, everything works fine there.

[2020-07-17 14:53] Spekular commented on #4877
A lot of the "closed" issues under the 1.3 milestone are actually consolidated here. In order to make it easier to see what's left to do in the milestone, I've added annotations to all the items on this list that have a milestone.

[2020-07-17 16:39] JohannesLorenz opened #5587 "Supply all distributions with LMMS 1.2.2"
The goal is to supply all distributions/package managers with our new LMMS 1.2.2 (and to find out how to inform the distributions in general).

| Distribution   | current Version   | method to inform distributor | next task  |
|---|---|---|---|
| Arch | 1.2.2 :heavy_check_mark: | flag as outdated | - |
| Debian | 1.2.2 :heavy_check_mark:  | ? | ? |
| Gentoo   | 1.2.2 :heavy_check_mark:  | ? | -  |

[2020-07-17 16:55] tresf commented on #5584
@PhysSong I assume it's confused about a `Qt::ControlModifier` (or Meta)  key somewhere (which should help us find an upstream bug report), but I don't know where this flag is checked on stable.  Any pointers?

[2020-07-18 01:28] PhysSong commented on #5584
I think it's `TrackContentObjectView::draggedTCOPos()` for `master` and `TrackContentObjectView::mouseMoveEvent()` for `stable-1.2`.
BTW, this might be some compatibility issue between different OS versions and/or compiler versions, like #5582.

[2020-07-18 02:09] PhysSong commented on #5584
I've created macOS 10.14+ build with Qt 5.15.0 and tested it. It seems to fix both this and #5582. I will upload it to the release page and add a warning.

[2020-07-18 05:29] plater commented on #5587
Got the message, I'll update this morning

[2020-07-18 06:59] tresf commented on #5584
@PhysSong thanks for that.  I can confirm that it's working fine on 10.16 (beta) as well.  Shall we close these both as `upstream` ?

[2020-07-18 07:00] tresf commented on #5582
Quoting @PhysSong from #5584

I've downloaded the 10.14+ build and can confirm that this works.

[2020-07-19 00:11] IanCaio commented on #5571
I really like the idea! It opens the possibility to document things much better than the current tooltip does. Say there's a knob on a plugin that has a less obvious functionality. We'd be able to have a small instruction for it as a hover text, while currently we might avoid using a tooltip because of how it affects the user space.

As for the coding approach, both sound good. I think the decisio

[2020-07-19 01:55] RebeccaDeField commented on #3069
Since changing the button to be green seems to be at a standstill, I'm thinking about changing active icons to be green. It solves the immediate issue of confusion which is making some newer icons already outside of the palette and style.

If I don't hear any objections about this, I will make a PR for it.

[2020-07-19 09:26] Daniele71 commented on #5587
For openSuSE i already available in GeekOsDaw repo.

[2020-07-19 16:29] musikBear commented on #3069
@RebeccaDeField Good idea, except maby for this
![image](https://user-images.githubusercontent.com/6662066/87879800-2f868a80-c9ed-11ea-92f4-64e0f9e45cc0.png), because it is always selected in one of its states. Else all  should  be green i guess..

[2020-07-19 16:54] RoxasKH commented on #3069
I know probably importante decision had already been made. But anyway i think in the future LMMS should get an highlighted background for that button whn is active, something like this (i know it's horrible it's just to give an understanding, so like pressed but with a green background)

![Senzanome](https://user-images.githubusercontent.com/40141826/87880255-948faf80-c9f0-11ea-884e-5d19bd998895.p

[2020-07-20 02:38] #5107 closed

[2020-07-20 02:39] #5201 closed

[2020-07-20 03:49] RebeccaDeField commented on #3069
@RoxasKH I agree, this would be ideal. The coding work behind implementing that seemed to be at a standstill so I was looking for a workaround that I could make happen. If we could implement it this way, we already have the improved icon ready.

An older mockup we had settled on some time ago:
![8f872262-8d4e-11e6-95a2-3c2abf47e3d0](https://user-images.githubusercontent.com/7960169/87897734-1687d4

[2020-07-20 03:51] RebeccaDeField commented on #3069
As a follow up, if someone is able to team up with me to work on this, I can make improved mockups for it.

[2020-07-20 03:56] russiankumar commented on #3069
Not a designer, but I can help in coding if required.

[2020-07-20 05:32] russiankumar commented on #120
Sorry to be dropping on this dead issue, but I feel like even now this is a nice change to have, and it would be much more friendly for newcomers to LMMS (as Pattern Editor is a more standard name, and Beat+Bassline may seem to some as if only drums and basslines can be edited here). Judging by this conversation there's a lot of changes to be made which definitely can't happen in one PR. Can we br

[2020-07-20 05:36] russiankumar commented on #4877
#5573 enables track coloring. Can you check that box xD?

[2020-07-20 05:55] russiankumar commented on #3300
Seems to be stagnating, maybe I can take over the PR?

[2020-07-20 09:07] RoxasKH commented on #3069
That green gradient is kinda weird, maybe it shuld be lighter, but i got it. I love the transaprency of the second mockup.

The problem is that that button can't be styled in the css because all buttons use the same class as i experienced when i was making my theme.
If we can get a separate class for that button that could be implemented through css and be also themeable. But maybe is a bad workar

[2020-07-20 14:35] tresf commented on #3069
LcdWidget uses a style parameter to change its behavior.

https://github.com/LMMS/lmms/blob/174630087ef24899dfb52ef2e892c68a7fd7caf2/src/gui/widgets/LcdWidget.cpp#L255

This isn't the same thing as overloading the CSS, but might be helpful.

Knob does something closer to what's being described, it makes a special class for implementation-specific version:

https://github.com/LMMS/lmms/blob/ce5c744

[2020-07-20 14:41] tresf commented on #3300
I think this comment was somehow deleted?  @russiankumar feel free to take this over!  Feel free to discuss in the closed bug reports.  We can even reopen them if needed.  They're all closed for consolidation purposes because it's hard to track what's actually being worked on.

[2020-07-20 14:43] RebeccaDeField commented on #3069
I'll take care of the design refinements.

Yeah, I agree that the old mockup needs some revisiting and rethinking.

[2020-07-20 14:56] tresf commented on #3069
Also will need to be tested against the selection-rectangle.

![image](https://user-images.githubusercontent.com/6345473/87952334-b2ecbe00-ca77-11ea-82d3-fe1f30579f5d.png)

[2020-07-20 15:01] tresf commented on #4877
@russiankumar it's marked as in-progress with that PR mentioned.  Once it's merged, yes, we'll check it off, thanks!!!

[2020-07-20 15:46] tresf commented on #120
It'll happen and we welcome the change.  Previous attempts were mostly superficial making the code a bit harder to read, but you breakdown of it is what we'd really like to tackle.  Feel free to open a brand new bug report and have this one closed if needed.  If you're going to refactor many components, it will probably serve as a better bug report than simply "The titles says it all." 🤣

Furthemo

[2020-07-20 15:53] tresf commented on #5570
To @Spekular's point, offline documentation is valuable.  Whether or not it belongs here is a tricky one.  First, this plugin isn't just buttons and knobs, it's an interpreted language.

... but to @DomClark's point, if we're to have long-winded documentation, it should be stashed somewhere more digestible (such as online and/or a built-in help function).  I vote that we merge #5586 to close the b

[2020-07-20 16:38] #5570 closed

[2020-07-20 16:58] russiankumar commented on #120
Nah, I think I'll stick to this one. There's a satisfying feeling closing a six year old issue when it's already solved rather than just renewing it. Don't know, just my preference honestly xD. Though if you prefer convenience, I can open a new bug report.

Oh I can see the wave of disappointed developers coming my way for this :D
I think active PRs need to be finalised and merged before this, and

[2020-07-20 16:59] Veratil commented on #120
If we're going to rename files, let's please organize them better, too.

[2020-07-20 17:01] russiankumar commented on #3300
@tresf, yeah, I did delete it because I thought that's a lot of issues I wanna take over for one day xD. But yeah, this will be a part of the renaming project (discussed in #120 towards the bottom) so I suppose sooner or later someone will have to take over the PR, fix it and merge it. May be me, may not be me, let's see :)

[2020-07-20 17:12] tresf commented on #120
There's a style one that @JohannesLorenz was waiting to merge.  That's the first that comes to mind.  Also, your very nice color PR (thanks!).  Anything stale gets punished for going stale.  At some point, people have to rebase and rewrite stuff.  To quote my mother cleaning a room...

To reference a time when a large sweeping change occurred: https://github.com/LMMS/lmms/pull/1353

The conversati

[2020-07-20 17:19] claell commented on #3300
@russiankumar Since I did not finish my PR until now since I did not really have time to do it, feel free to take over :+1:

Just let me know when you start. I might have some time in the near future, so that would avoid double effort :smiley:

[2020-07-20 17:31] russiankumar commented on #120
@Veratil, any suggestions? I’ve got no idea on how to go about reorganising myself.

@tresf,

Well said. Cuts off some nice features (like that Toolbar PR) but then again not like they were going to merge soon.

I guess we’ll let my color PRs and Johannes’ PR merge (and any other non-stale ones), and then start working on this. I suppose that nobody will be able to make a stable PR at this time, a

[2020-07-20 17:38] russiankumar commented on #3300
Thanks a lot @claell! I expect to start as soon as all non-stale PRs merge (1-2 weeks hopefully). If you happen to be free at that time, I could leave it to you (since there’s a lot to work on and sharing this work makes it easier). You can ping here if you are ready, and then you can rebase your current PR probably and merge it accordingly.

[2020-07-20 17:54] tresf commented on #120
Exactly.  Most PRs are great btw, some just aren't as obviously great.  I'm an offender of stale PRs as are many other devs.  It's just part of the job and most devs are sympathetic to this.

[2020-07-20 18:02] Veratil commented on #120
I'll have a look around and come back with one. 👍

[2020-07-20 18:37] claell commented on #3300
Alright. I will have a look on the progress of the overall refactoring and might help with this specific issue when everything is ready for these changes if I have the time.

[2020-07-21 08:29] russiankumar commented on #120
You know what, I think a new issue would be better for this. Not exactly easy navigating through this huge discussion. In case somebody has something to say later on, we could point them back here I guess. Will create a new issue soon for better organisation.

[2020-07-21 09:44] ryuukumar opened #5592 "Reorganising LMMS, renaming editors and classes and everything in between (cont. #120)"
**If you are here because your PR is mentioned** then check the instructions at the bottom of the comment.

This is an issue continued on from #120. We're mostly following on from what was decided there, though if you have something to say, feel free to.

These are the draft steps that we will have done one-by-one in order to achieve this massive task:

- [x] Freeze code on December 5th, 2020
- [x

[2020-07-21 10:47] qnebra commented on #5592
Best way to know that PR is active or not is just to peek into commit history. If there is nothing happen in more than 1 year then PR is stale.

[2020-07-21 10:59] russiankumar commented on #5592
When there's 87 PRs... it would be a lot easier to have devs help too. Don't wanna be doing the whole thing myself xD

[2020-07-21 11:12] claell commented on #5592
Hm, I know that #5261 is probably not stale, however I don't know whether the dev currently has time. The problem with some PRs is that it takes much time until the code is reviewed and when that finally happens the dev is no longer free to address the requested changes. Two weeks might be a pretty tough goal, but let's see.

Can we use some automation to see which PRs will be affected and maybe a

[2020-07-21 11:24] russiankumar commented on #5592
I'm pretty sure every PR will be affected considering the size of these changes

Yes, that has to be what will be used (like maybe a find+replace across all files) because doing everything manually will take forever. If you have suggestions on how to go about this, would love to hear them.

[2020-07-21 11:28] Spekular commented on #5592
With regards to my PRs:
- #5117 isn't stale, I intend to get it merged before this reorganization
- #5427 is a draft so it can stay marked as stale
- #5524 is in limbo. Its pretty much in the same state as #5117, it's just less important to me to get merged

[2020-07-21 11:32] russiankumar commented on #5592
Updated, thanks!

[2020-07-21 11:32] Spekular commented on #5592
In regards to this

I say this is a good opportunity to split the Track classes (including subclasses like SampleTrack, AutomationTrack) into separate files. Those files are *huge* right now and among other things it makes it harder to keep track (pun) of which members come from which classes. Potentially making compilation more granular is a big plus too.

[2020-07-21 11:32] claell opened #5593 "Outer border for melody clips is drawn one pixel too much to the right and bottom"
The melody pattern appears a little bit off (on the right side) compared to the rest.

![image](https://user-images.githubusercontent.com/26451259/87219529-9f579e00-c379-11ea-8a78-c770be37397c.png)

_Originally posted by @russiankumar in https://github.com/LMMS/lmms/pull/5573#issuecomment-657010886_

Creating this issue to keep track of this bug.

[2020-07-21 11:46] russiankumar commented on #5592
Yeah, it definitely is HUGE. How about three files (+ includes): `Track` (Track & TrackView), `TrackWidget` (TrackOperationsWidget, the likes) and `Clip` (current TCO and TCOView -> Clip & ClipView)

[2020-07-21 11:58] Spekular commented on #5592
I'm a fan of one file per class, but if that's not a popular proposal then three would at least be a step in the right direction.

[2020-07-21 12:30] claell commented on #5592
Maybe we can come up with one or several bash scripts that contain the relevant commands.

[2020-07-21 14:00] russiankumar commented on #5592
Do approvals from people without write-access count towards mergeability? Github says not but maybe the mods here take it differently?

[2020-07-21 14:16] claell commented on #5593
I finally tracked this down now: https://github.com/LMMS/lmms/blob/master/src/tracks/Pattern.cpp#L1126

Apparently each TCO class (instrument, sample track, beat and bassline and automation track) implement their own function for this. There is alot of overlapping functionality, so that should probably be improved in the future.

The current problem could be simply be solved by adjusting the relev

[2020-07-21 14:23] Spekular commented on #5593
Looks like the original title was correct though, the outer border is drawn too far right rather than the inner border being drawn too far left. Not only that, but it also appears to be drawn to far down on the bottom. Here's the screenshot from the OP cropped further and scaled up without interpolation, for easier viewing.
![image](https://user-images.githubusercontent.com/8918426/88066745-6932cf

[2020-07-21 14:32] claell commented on #5593
Jup, I changed the title based on your comment in the other issue. Now I adjusted it again based on your observations. The scaled screenshot you attached shows that pretty nicely.

See the linked PR I just created. It should fix the problem.

[2020-07-21 15:25] russiankumar commented on #5593
Again, a suggestion for #5592.

[2020-07-21 16:23] IanCaio commented on #5592
My PRs:

- #5503 : Stale. It's functional and there are not any requested changes, but I think it didn't raise much interest in people. Wouldn't mind if it didn't get merged.
- #5547 : Not stale. Functional and no current requested changes unresolved. Just waiting for review to get merged (it's a small PR so it shouldn't be a hard review).
- #5581 : Not stale. Functional and no current requested c

[2020-07-21 16:35] #5593 closed

[2020-07-21 18:20] Veratil commented on #5592
My PRs:
* #5123 approved but needs testing, no conflicts
* #5124 approved but needs testing, no conflicts
* #5174 need to update IRT one review, has conflicts easy to resolve
* #5196 needs to be reviewed and tested, has conflicts easy to resolve
* #5204 Proof of concept, meant for discussion, but works (at the opening of the request)
* #5229 Step 2 in removing global automation from #403, needs a

[2020-07-21 23:08] he29-net commented on #5592
@russiankumar Just FYI, this "ping" did absolutely nothing in my case. I happen to be obsessively reading the GitHub log on Discord, so I noticed this issue, but I imagine most of the PR authors have better things to do and won't notice anything since it did not generate an e-mail notification.

So by marking all PRs that don't get any response as "stale", we may be simply discarding a lot of good

[2020-07-22 02:20] vlad0337187 commented on #3989
@Spekular , thank you very much ))

[2020-07-22 02:34] russiankumar commented on #5592
Thanks for the PR updates, everyone.

Many of you have pointed out a concern that two weeks is nowhere near enough to finish reviewing and merging as many PRs as possible. I am convinced, so I suppose time till mid to end of August should be enough? That essentially does leave one month and a bit for everything.

As @he29-net pointed out, waiting for too less or too long are both problems. It's in

[2020-07-22 03:03] russiankumar commented on #5593
PR fixing this has been merged, can you close this?

[2020-07-22 18:19] rdrpenguin04 commented on #4273
Still an issue it seems, but, since this thread exists, I at least knew which package to install. Thank you!

[2020-07-22 20:08] softrabbit commented on #5592
I noticed this issue by luck, really. It's not like I keep going back to read my PRs every now and then, I've always expected relevant activity to throw a mail in my direction.

Anyway, I'm guilty of these:
#5236: Stale, I guess. It took 5 months, but a better way to do it appeared. Which kinda points at the long process being a good thing?
#5239: Stale. Something I totally forgot about and never

[2020-07-22 21:47] claell commented on #5592
Since there is no email notification sent out the current way, maybe you can ping the devs by adding them to the first comment on this issue @russiankumar, like I tagged you in this comment. Hopefully that should trigger an email notification so the relevant devs are aware of this.

[2020-07-23 03:09] russiankumar commented on #5592
@claell sure, for those PRs which haven't responded I'll do as you say.

@softrabbit, could you clarify on whether you will finish the PRs or not? I'm marking them as stale in case you do want to restart work on them and get them ready for merge.

[2020-07-23 03:36] tresf commented on #5592
Let's not do this.  Just focus on the large, active ones.   I need to turn it into a circus

[2020-07-23 03:38] russiankumar commented on #5592
Okay, as you say.

[2020-07-23 03:40] tresf commented on #5592
@DomClark made a good point on Discord about the formatting PR, that we should pair that with a CI style enforcement-type job to keep the style guidelines from drifting.  Might be an important precursor to large refactoring.

[2020-07-23 03:45] russiankumar commented on #5592
I think it's better to do that after we merged all the PRs that are going to be merged, then we don't need to redo it each time a PR is merged.

[2020-07-23 03:46] tresf commented on #5592
Yes as part of or as compliment of the code formatting PR.

[2020-07-23 07:50] Cyp commented on #5592
Didn't know #5304 hadn't been merged. Just fixed some merge conflicts.

[2020-07-24 01:01] messmerd opened #5595 "Cloning an automation track does not copy pattern contents if pattern is connected to a control"
### Summary

When I clone an automation track, the contents of a pattern in that automation track are not copied if that pattern is connected to a control, nor is the connection to the control copied. If a pattern is not connected to a control, however, the contents of that pattern will copy over successfully as expected.

### My Thoughts

I am not sure if this is a bug or is intentional.

If it i

[2020-07-24 18:44] thmueller64 commented on #5592
#5502: In progress, will be finished this weekend.
#5549: Ready from my side, the PR fixes the issue. I'll try to incorporate the suggestions by @Veratil (gradients instead of colors) in time, but those aren't strictly necessary for fixing the issue.

[2020-07-25 05:20] Clutterbyte commented on #5527
i did some changes to initial presets that could give a better audio experience. it is a mmpz compressed.
[example.zip](https://github.com/LMMS/lmms/files/4974933/example.zip)

[2020-07-25 06:19] RebeccaDeField commented on #5592
#5588 is going to be merged within the week, which will, in turn, make #4255 fine to close out (was going to after mine is merged in but if we want to speed things along I guess we can do so now?).

[2020-07-25 06:29] he29-net commented on #5592
@russiankumar I just noticed your table says that 4397 waits for 5522 -- I never said anything like that, these are completely unrelated PRs. o_O

4397 is waiting for someone with write access, who can merge my branch (where I finished and fixed the PR) into the branch of the original author (who can't work on it anymore).

[2020-07-25 13:16] musikBear commented on #5527
@Clutterbyte The issue is already coded in a PR -Have you made **code-changes**, or are your changes made inside lmms?

[2020-07-25 15:11] qnebra commented on #5527
There were changes only inside lmms project, not in code. Also clicking was more to attack with value 0.0, not to hold have value 1.0

[2020-07-26 15:57] DomClark opened #5596 "Where does help belong?"
This issue is to discuss where documentation and help should be kept, and how to make it available to users.

Most of the documentation for the software is currently only available online at https://docs.lmms.io/. Some recent changes and exceptions:
* The `stable-1.2` branch has a "what's this" feature. This is rather incomplete and has been removed in `master`.
* `master` has a new "Xpressive" sy

[2020-07-26 15:58] DomClark commented on #5570
Issue opened: #5596.

[2020-07-26 16:32] Spekular commented on #5571
Since we use transifex, I checked the [formats](https://docs.transifex.com/formats/introduction) category of their docs. [Structured JSON](https://docs.transifex.com/formats/json/structured-json) looks like a good choice to me.

[2020-07-26 16:43] musikBear commented on #5527
@Clutterbyte Oki, but there is an issue with your idea, or perhaps a better expression would be: Your idea is good, but it must be done differently.
The issue is, that the ENV is general! There is only *one*. All LMMS instruments will initially be 'born' with exact same ENV-setting.
In 1.2.2 That is an absolute awful setting:
![image](https://user-images.githubusercontent.com/6662066/88484130-d4b0

[2020-07-26 17:15] Spekular commented on #5596
I like the idea of making GitBook downloadable, but in combination with some in-software docs (as evidenced by me opening #5571).

I think shorter and more location-specific documentation is suited for hover text, everything else makes more sense on GitBook (probably with some overlap). "Time taken for note to reach full volume" is short and relates specifically to the attack knob of the envelopes

[2020-07-26 21:14] dj-pixus commented on #5527
Envelope is saved in presets themselves, and even presets are hard-coded in projects. So why would a default setting break compatibility, I ask?

[2020-07-27 10:36] Spekular opened #5597 "Replace Amplifier (Mono) and Amplifier (Stereo) with native Amplifier"
There's no good reason to have four separate amplifier effects built into LMMS. It's confusing to new users, contributes to our un-browseable number of effects plugins, and takes time to pick the specific amplifier that you want.

From what I can tell:
- Amplifier (Mono) is equivalent to turning the volume knob in our native amplifier, with the exception that it ranges [0, 10] instead of [0%, 200%

[2020-07-27 17:02] tresf commented on #5596
@Spekular I don't think we need a separate downloads for docs, no need to modify the downloads page, we should simply include the docs, always.

What'd be nice is if we could add a "__`more info`__" link which jumps to an anchor point in a PDF.  I'm sure this is [hard to do for all readers](https://helpx.adobe.com/acrobat/kb/link-html-pdf-page-acrobat.html), but would allow use to somewhat integra

[2020-07-27 17:14] tresf commented on #5596
Assuming we try to remove redundancies at all costs, I would recommend we document unstable features using the "Since x.x.x" syntax.  For example:

This may beg the question... what is "1.3.0" ? and that's an important "beta" versioning question that needs to be answered first, but I believe this solution allows new/experimental features to coincide with stable features.  It also encourages more t

[2020-07-27 17:14] Clutterbyte commented on #5527
@musikBear ok, so envelope cannot start active and with a diferent configuration in every generator, but as i understand, is posible to change another parameters in vanilla instruments like organic volume from 100 to 50%, watsyn oscs to -12db, etc?

[2020-07-27 20:24] JohannesLorenz opened #5598 "Fix annoying Qt5 deprecated warnings"
### Bug Summary

LMMS brings tons of Qt5 deprecated warnings (e.g. `QFlag`) which can make it hard to see relevant compiler issues. The warnings are justified, they should be fixed (suppressing them would not be the solution).

#### Steps to reproduce

Compile LMMS (master) with Qt5.

#### Expected behavior

No Qt5 warnings.

#### Actual behavior

Tons of Qt5 warnings (e.g. `QFlag`, see *Logs*; ha

[2020-07-27 20:49] JohannesLorenz commented on #5587
@plater What's the status?

Or should the package from the GeekOsDaw repo be reused?

[2020-07-27 22:09] musikBear commented on #5527
@dj-pixus

Because non of the AFP-*presets* has any envelope at all!
If we then added a default envelope, that envelope would for some odd/ ugly reason be invoked for all soundfile-presets in LMMS, and a lot of the AFP-presets plays only correctly, if they are allowed to play without an envelope.
Its a really dumb thing.. The 'solution' is to create sane envelopes for every AFP-preset, then the en

[2020-07-28 05:28] plater commented on #5587
lmms-1.2.2 has been in Tumbleweed and multimedia:apps since shortly after the update was brought to my attention

[2020-07-28 05:36] JohannesLorenz commented on #5587
ah now I see it. Thanks!

[2020-07-28 15:11] Spekular commented on #4180
Finally, I can close this 🎉

[2020-07-28 15:11] #4180 closed

[2020-07-28 15:15] Spekular commented on #4646
Closed by #5117. There's still improvements to be had here (scanning standard VST directories, locating VSTs by ID rather than path), but this specific issue is fixed.

[2020-07-28 15:15] #4646 closed

[2020-07-28 15:20] Spekular commented on #5598
Is your proposed fix to suppress these warnings, or to update the code to avoid deprecated code?

[2020-07-28 15:28] Spekular commented on #5587
Re: Debian: I found a few pages via [packages.debian.org's search](https://packages.debian.org/search?suite=default&section=all&arch=any&searchon=names&keywords=lmms), all of which have a link to this [Developer Information](https://tracker.debian.org/pkg/lmms) page. Should we contact debian-multimedia@lists.debian.org?

[2020-07-28 15:56] JohannesLorenz commented on #5598
I think they should be fixed properly. Suppressing deprecate warnings does not seem good to me.

[2020-07-28 17:33] Spekular commented on #5598
Ok great, that's what I was thinking as well. Just wanted clarification since it wasn't mentioned in the issue.

[2020-07-28 22:14] Spekular commented on #5592
#5131 might be a candidate to include in the refactor.

[2020-07-28 22:33] Spekular commented on #942
Issue 1 is solved. I'm not sure if 2 warrants an issue all by itself, but it should probably be a quick fix if so.

[2020-07-29 03:14] Clutterbyte commented on #5527
@musikBear ive an idea: make that lmms recognize old projects (created in previous version) and automatically for no break projects with AFP, disable envelope if it is off.
it could work but tell me if its impossible.

------------------------------------------------------------------------------------------------------------------------------------------
[Mmpz.zip](https://github.com/LMMS/lmms/fi

[2020-07-29 08:23] Spekular commented on #489
Close? I think this issue is poorly defined and there are better ways to achieve what OP wants.

Please reopen if you disagree.

[2020-07-29 08:23] #489 closed

[2020-07-29 11:19] allejok96 opened #5599 "Make mouse actions visible in GUI"
Showing available mouse modifiers/actions in GUI would help users get the most of LMMS.

There are 3 things that makes it harder for users to discover these modifiers:

* Mouse modifiers are unintuitive, sometimes ctrl is copy, sometimes shift is copy (#1488).
* Mouse pointer does not give feedback when a modifier is held - only in piano roll.
* There is no info in the GUI about available mouse ac

[2020-07-29 11:37] Spekular commented on #5599
Related #5571

[2020-07-29 12:21] DomClark commented on #942
(2) is a duplicate of #740, fixed in #1563.

[2020-07-29 12:21] #942 closed

[2020-07-29 18:00] allejok96 opened #5602 "Insert/remove bar buttons in Song Editor"
Seems like [back in 2006](https://github.com/LMMS/lmms/commit/b762ad706f0f51e309fa16e12c1f3c44e72dcec1#diff-ae607795716a886f388ce789ff37cc55L332) the insert/remove bar buttons was removed from song editor, keeping only the keyboard shortcut shift+insert. I just recently learned about this useful feature. Like pointed out in #5599 having keyboard-only features is not user friendly, due to lack of d

[2020-07-29 18:36] GingkathFox opened #5603 "[LMMS 1.2.2, Linux Mint 20] Vestige doesn't load vsts"
# Please search the issue tracker for existing bug reports before submitting your own. Delete this line to confirm no similar report has been posted yet.

### Bug Summary
VSTs dont load in Vestige, even though LMMS says that its loading it.

#### Steps to reproduce
- get a vst, any vst
- attempt to load it
- profit(?)
#### Expected behavior
The VST is loaded and ready for use.
#### Actual behavior

[2020-07-29 18:38] GingkathFox commented on #5603
Loading a effect vst (using the effects button) works fine though, and i also loaded my synth vsts (though obviously with no ui)

[2020-07-29 18:56] KeronCyst opened #5604 "Be able to preview sample sounds by keyboard selection (up/down arrow keys)"
### Enhancement Summary

When exploring samples in the sidebar, it would be nice to be able to hear the sounds by arrow keys instead of only by clicking them.

#### Justification

Having to click to preview each sample is too much visual work; I'd like to listen to samples more quickly by using the arrow keys.

Thank you so much.

[2020-07-29 19:16] Spekular commented on #5604
Duplicate of #871

[2020-07-29 19:16] #5604 closed

[2020-07-29 20:05] KeronCyst commented on #5604
Sorry, I couldn't find it despite searching. At least it's in the works!

[2020-07-29 20:32] allejok96 commented on #5267
@Spekular, couldn't we have both? "Toggle ghost notes" and "Set as ghost notes". The later one could be restricted to selection...

Atm, opening up piano roll you see the Clear ghost note button, but no way to create them. Having to move out to song editor and right click a track is not the first thing you think about.

[2020-07-29 21:03] allejok96 commented on #4628
A somewhat related proposition:
How about having a drop down menu in the automation editor, in which you can select ghost track?

![ghost tracks](https://user-images.githubusercontent.com/7693838/88852174-303dce80-d1ee-11ea-8699-efaba08a9e10.jpg)

It would default to the last/currently open piano roll track.

If both the automation track and the ghost track were placed in song editor, they could s

[2020-07-30 10:56] claell commented on #5592
At least pinging the authors is only fair. Maybe they don't need to wind up their PRs until then, but not notifying them appropriately is not nice imho, especially given the fact that the reason many PRs are still open is partly on LMMS side (no offense).

In addition to notifying, I think it would be nice to make incorporating the made changes to outstanding PRs as easy as possible (as suggested

[2020-07-30 15:21] tresf commented on #5592
My point was [already made in a few words](https://github.com/LMMS/lmms/issues/5592#issuecomment-662803238).   If PRs are waiting excessive times on reviewers, that's a valid concern, but I'm not sure it's related to pinpointing "large, active ones".  80/20 rule should apply.  If that's "not nice", it's not personal, it's just part of large changes.  Perhaps to put it more bluntly, no large change

[2020-07-30 15:26] tresf commented on #5592
Note, if there's real conflicts, this is [rarely a one-liner](https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/resolving-a-merge-conflict-using-the-command-line) but devs are always happy to help over on #techtalk. <3

[2020-07-30 15:27] musikBear commented on #5527
@Clutterbyte

It has been suggested many times :p
It is not 'directly' impossible, and upstream it may even be a necessity, but it is not wanted.  The issue is that we already has several version-dependencies, and it gets messy.

Sorry No! That we can not use! Those instruments would technically be *presets*, and then they belong in the folder **My-presets**.
That could however be an option. Makin

[2020-07-31 12:59] claell commented on #5592
Alright, maybe I got the few words wrong and misunderstood your goal. I guess we agree on notifying the devs in general, then and your point was rather about whether it makes sense to try everything to merge before the deadline, even where the effort might not be worth the benefit.

Regarding the bash script: The idea was to have a script that should apply the refactoring to the branch of a PR and

[2020-07-31 18:03] tresf commented on #5592
GitHub has a visual merge conflict resolution that helps, but in my experience, if it's in conflict with GitHub it'll be in conflict on the command line and there's generally no series of small, short commands that fixes it (but rather the painstaking process of hand-editing the conflicts).   If I'm wrong, please share.

Well, as an example, I was tagged for #5510 which is just a few lines and it'

[2020-07-31 22:15] Spekular commented on #5603
Are you testing 32 bit or 64 bit VSTs?

[2020-08-01 02:51] GingkathFox commented on #5603
after this i learned that stable doesnt support 32bit, and forgot to close this

found a new bug in stable though, will make a new issue on that

[2020-08-01 02:51] #5603 closed

[2020-08-01 02:55] GingkathFox opened #5606 "[LMMS 1.2.2, Linux Mint 20] UI is unclickable after a delay"
### Bug Summary
After loading in a VST and opening the GUI, LMMS appears to create some sort of invisible window that covers the entire screen. I can't even click my dock.
#### Steps to reproduce
1. Load in a VST
2. turn a couple knobs or play audio from the vst
3. profit ig
#### Expected behavior
I can tweak as usual.
#### Actual behavior
UI is blocked.
#### Screenshot
Cant take a screenshot of s

[2020-08-01 12:14] russiankumar commented on #5592
@claell actually considering the fact that we're doing more than renaming, we're actually rearranging files in new directories and splitting large files into more files and stuff, I really doubt whether it's possible to have a bash script do that.

I will update the table with updates ASAP, sorry for the delay.

[2020-08-02 00:40] Clutterbyte commented on #5527
@musikBear

No problem! i would known if The 'solution' of "sane envelopes for every AFP-preset" will come before budislav´s ui change, or it isnt planned in a near future.

[2020-08-02 15:16] slahiruk commented on #3671
Anyone / group of people looking at this?

[2020-08-02 16:28] musikBear commented on #5527
I think that is far away. 2.0 or .. -Not sure its being worked atm

[2020-08-02 22:10] ballerburg9005 opened #5608 "patterns should be passable by reference"
Currently if you copy a note pattern in the song-editor it creates a new pattern that is identical to the original. Changes in either one are not reflected in the other.

**The feature:**

If patterns were passable by reference, a copy would create a copy of the reference only and therefore changes made to the pattern would be consistent across the entire song. Pattern "duplication" as a second op

[2020-08-02 22:33] qnebra commented on #3671
No

[2020-08-03 01:02] GingkathFox opened #5609 "[Linux Mint 20] Appimage creation fails"
### Bug Summary
The title.
#### Steps to reproduce
- Build LMMS.
- Attempt to `make appimage`.

#### Expected behavior
Appimage is created.
#### Actual behavior
something named "linuxdeployqt-continuous-x86_64.appimage" is created, but no lmms appimage.

#### Screenshot

#### Affected LMMS versions
1.2.2, i guess?

#### Logs
i finally have logs
<details>
  <summary>Click to expand</summary>
<pre>

[2020-08-03 01:05] GingkathFox commented on #5606
i think i mightve found the issue? i ran the `lmms` command, and after the bug occurred i got this:

[code]

[2020-08-03 01:16] Veratil commented on #5527
I want to target single window UI for 2.0. Currently the only work on it is the #5261. There's a lot of core work that needs to go into it though.

[2020-08-03 02:32] PhysSong commented on #5606
Possible duplicate of #5104/#4885.

[2020-08-03 04:00] messmerd opened #5610 "Metronome plays when dragging play-head, even when song is paused"
### Bug Summary

Under certain conditions, the metronome sounds play while dragging the play-head around in the Song Editor or Piano-Roll Editor.

#### Steps to reproduce

- Enable metronome in an LMMS project (click "Toggle metronome")

- Press play in the Song Editor or Piano-Roll Editor, then press it again to pause play-head position

- Left-click drag the play-head around in the Song Editor o

[2020-08-03 07:58] Spekular commented on #5608
Duplicate of #3100

[2020-08-03 07:58] #5608 closed

[2020-08-03 16:01] ballerburg9005 commented on #3100
I wrote the issue "patterns should be passable by reference #5608" as linked above, and I urge anyone to read it in addition to this issue. Because it expresses quite tangibly and verbosely what the feature really means, what it means to not have it and how it could be expanded on.

While I also agree with this issue, as it describes in essence the same thing, it puts it into a perspective of "thi

[2020-08-03 16:04] musikBear commented on #5527
Sound great -One thing to at least consider could be ability to *scale* all text -The bat 🦇 whispered :p

[2020-08-03 16:14] musikBear commented on #4628
@allejok96 I can definitively understand your suggestion, but the current ghost-note function is implemented with a different logic:
1 : select a pattern to be used as ghosts
2 : make ghost-notes visible
The strength in your proposal, would be ability to change from one ghost-pattern to an other -Very good!
But in that case current ghost-note-method would need to be like *that* globally. It will b

[2020-08-03 20:31] allejok96 commented on #4628
Lemme just clarify that the ghost track in my suggestion would not use the current "snapshot" implementation, but instead be a *live* representation of the source track, with the correct offset...

This would be a game changer for automation, because right now it's really hard to know what comes where when you're drawing the curves. I see the current ghost notes as merely a quick fix to the proble

[2020-08-03 20:48] allejok96 commented on #4628
I see. If song editor tracks has unique IDs and the Automation editor knew the global starting time of the currently edited pattern, it would be theoretically possible with "live" / instantly updated ghost notes?

[2020-08-04 03:59] NETMANSKY opened #5611 "Need to make Replace FX"
# Please search the issue tracker for existing feature requests before submitting your own. Delete this line to confirm no similar request has been posted yet.

### Enhancement Summary

#### Justification

#### Mockup

There is uncomfortable to remove FX in chain only. It forces you to rebuild the chain again if you had mistake. Better to add a replace FX in this case. Is it?

[2020-08-04 04:48] SecondFlight commented on #5611
Duplicate of #2168.

Also, please consider removing the "delete this line to confirm no similar request has been posted" bit next time :)

[2020-08-04 04:48] #5611 closed

[2020-08-04 17:03] musikBear commented on #4628
Ahh -So you are talking about having note-representation *during* playback, projected *into* the automation-editor, so you can *record* automation, in relation to the visual displayed notes. You call that *live*
Is that correctly understood?

That was not what i aimed at at all.
I am only talking about drawing the automation over one ghosted MIDI-TCO, and where lmms is in idle state. It should how

[2020-08-04 18:52] allejok96 commented on #4628
No, I didn't mean recording. With "live" I meant that when I change the notes in the track the ghost notes was taken from, the ghost notes will change automatically to match the source. The ghost notes will be a reflection, not just a snapshot.

So I agree 100% with the last part of your comment @musikBear.

[2020-08-05 16:50] musikBear commented on #4628
Ahh thatta way :) So after ghost-source changes there will be no need for any update of ghosts
Yes that would be helpful

[2020-08-05 23:16] Gabrielxd195 commented on #4628
Guys, I think the best solution in the first place would be to be able to group the automation tracks within the piano roll or sample track (as I explain in #4614, and StakeoutPunch in #735).

Create automation tracks and drag them to the corresponding piano roll or sample track, this way it would be tidier, more practical and automatically both editors would be synchronized in the timeline and th

[2020-08-05 23:57] Gabrielxd195 opened #5613 "More options within the pitch bend."
### Summary of improvements
Add a menu with the options of: velocity, panning, pitch bend within the pitch bend editor on the piano roll.

#### Justification
With the pitch bend editor I can work with piano roll notes individually, and it would be very useful to add a menu with the options of: velocity, pan, pitch bend within a menu. Currently this can be done with separate automation tracks but t

[2020-08-06 00:45] Gabrielxd195 opened #5614 "Focus the mouse pointer on the zoom."
### Summary of improvements
Focus the mouse pointer with the zoom.

#### Justification
Currently when you zoom with ctrl plus the mouse wheel, the zoom is directed to the beginning of the track, it would be more practical to zoom in on the part where the mouse pointer is located as it does ardor.

#### Sketch

Current zoom behavior.
![Zoom de lmms](https://user-images.githubusercontent.com/2612769

[2020-08-06 16:36] Spekular commented on #5614
Already implemented in master.

[2020-08-06 16:36] #5614 closed

[2020-08-06 16:36] #5610 closed

[2020-08-06 18:02] Spekular commented on #5613
Automating velocity doesn't make sense. Velocity represents the speed at which a key is pressed, and as such cannot change over the course of a note. I'd be surprised if the MIDI spec supported changing the velocity of a note over time, and even more so if any major instruments supported it.

Per-note detune automation is also different from automating the pitch knob, as it applies to individual n

[2020-08-06 18:43] Gabrielxd195 commented on #5613
You are right, I confused speed with volume. but I think the concept of what I'm trying to explain is very clear.

The pattern automation system is different from the note automation system, because the latter automates the notes individually. and it would be useful to have the possibility of automating the volume of the note, because although you can do this by automating the pattern, it is less

[2020-08-06 18:54] Gabrielxd195 commented on #5614
Dude, one question: when will you have master releases?

[2020-08-06 18:57] qnebra commented on #5614
"Master" is just main branch in lmms repository with latest code. It depends on user to compile his own release with latest code, or just to wait to official release by team.

[2020-08-06 19:15] Gabrielxd195 commented on #5614
I understand that master is not recommended for everyday use, but in my opinion it would be good for all users to be up to date with all the corrections and features that are implemented in master that stable does not yet have. because not all of us know how to compile from the source code. what do you think?

[2020-08-06 19:21] Spekular commented on #5614
Nightly builds (releases compiled from master once a day) will likely be available at some point, but it's impossible to say when @Gabrielxd195

Some of the work required has been done already, but not all of it. I don't know what's left to do nor do I feel qualified to estimate how difficult/time consuming it'll be.

[2020-08-06 19:53] Gabrielxd195 commented on #5614
It must be hard to deal with all the work. they certainly do their best to keep this great app.

For my part I think (as a common user of lmms), that they prioritize more the releases of the master version, because lmms 1.3 is light years away, and currently master is not so affordable for the common user, and stable does not have the improvements and corrections that has a master.

Once released

[2020-08-07 14:29] Spekular commented on #5614
Nightlies would be automatically created, so this isn't a concern. Regular stable releases would also still be made, to be clear.

[2020-08-08 03:33] Gabrielxd195 commented on #5614
That's great. Friend I do not want to seem intrusive, but this topic should be the main one in discussion, since many users do not know the master branch or all the improvements it has, stable does not include them. many don't even know github. I think having continuous or more frequent launches would attract more users.

I opened this thread about zooming because I didn't know they had already im

[2020-08-08 15:09] dj-pixus opened #5615 "LB302 filter doesn't adjust to sample rate correctly"
When exporting with a sample rate other than 44.1 kHz, LB302's filter frequency goes higher than the set value.

Steps to reproduce:
- Drag LB302 to the song editor and make some pattern.
- Set the filter so that its effect is hearable
- Export the project with oversampling or higher sample rate

Expected behavior:
The sound sounds the same as in the editor.

Actual behavior:
The filter frequency

[2020-08-08 17:50] thmueller64 commented on #5615
There was a similar issue with exports and oversampling that is now fixed on master. Could you try to reproduce this on a master build?

[2020-08-09 00:48] musikBear commented on #4628
True, @Gabrielxd195 That would be fine, but i would favour at design where the automation occupies the same 'realstate' as the notes. If there are to yet another subdividing field in piano-roll, then it can be difficult to get a decent overview of f.i. chords in 6+ layers. So your mixed in automation-pattern, but with toggle on/of option, and transparently . *overlaying* the notes.
The ability to

[2020-08-09 05:22] Gabrielxd195 commented on #4628
You're right, that idea sounds great. But that's why in the first place we will need to create automation groups, an option within the tracks menu or an '' A '' button (as in ardor) to display the automation tracks grouped within the piano roll or sample pattern. track that we are going to automate.

Within the grouped automation tracks and within the main piano roll pattern there would be a butto

[2020-08-09 05:30] allejok96 commented on #4628
This has just turned into a debate over how #1959 would be designed.

I can agree with @musikBear  on the space saving design with piano roll and automation overlaying each other (https://github.com/LMMS/lmms/issues/1959#issuecomment-93627465) But that but that would mean merging the piano roll editor with the automation editor...

@Gabrielxd195 what you suggest with the grouping of automation tra

[2020-08-09 06:14] russiankumar commented on #5592
Considering that the number of PRs is steadily holding at 80-ish, I'm not very sure if we will be able to resolve them all soon (especially with new PRs still being made). I suppose that it would make sense to make a call on whether to postpone this or entirely focus on closing existing PRs (and actually do as decided), else this change will never happen.

[2020-08-09 08:33] dj-pixus commented on #5615
Oh yes, master also has the issue. Investigating further, it is not a problem with oversampling, but with rendering at higher sample rates generally.
The real problem appears to be that LB302 filter does not adjust itself to the sampling freq.

[2020-08-09 09:18] thmueller64 commented on #5615
I followed your steps to reproduce and compared the 44.1kHz export to a 96kHz and 192kHz export. The filter frequency appears to be the same for the exports, at least there is no noticeable difference. Could you please share a project file where the problem appears? Maybe it is related to more specific settings.

[2020-08-09 10:17] dj-pixus commented on #5615
Sure.
[lb302-bug.zip](https://github.com/LMMS/lmms/files/5047156/lb302-bug.zip)

[2020-08-09 10:19] dj-pixus commented on #5615
Sure.
[lb302-bug.zip](https://github.com/LMMS/lmms/files/5047165/lb302-bug.zip)

[2020-08-09 20:46] thmueller64 commented on #5615
Could you please check out the PR above and see if this fixes the problem? For me the export now sounds the same for different sampling rates. The problem turned out to be related to the 24dB filter.

[2020-08-09 21:01] JohannesLorenz commented on #5592
Dom and me just finished #5517, feel free to mark it as solved/remove it from list.

[2020-08-09 21:04] JohannesLorenz commented on #562
Lv2 URID feature is now supported on master (7a9b336). Next will probably be more atom support (events for piano-based instruments) or the options extension.

[2020-08-09 21:19] zicklag commented on #1467
Sorry for the ping if commenting like this is discouraged, but I would love to have Jack transport support. I sync up MuseScore with Ardour to add digital instruments to my recordings, but LMMS has a lot more features from an effects and automation standpoint so it would give me a lot more powers if I could sync LMMS with Ardour.

[2020-08-09 21:58] trebmuh commented on #1467
@tresf : what about adding #5456 in https://github.com/LMMS/lmms/issues/1467#issue-52483742?

[2020-08-09 23:02] Veratil commented on #5592
Merged #5253 (finally!)

[2020-08-09 23:14] Veratil commented on #4628
That's all deleted unfortunately. The user doesn't exist anymore, the `ghost` account is a placeholder.

Combining automation into the piano roll is something I'd like to see, and as a developer that's spent a lot of time in the paino roll recently, let me tell you right now it'll be a bit of work to get working nicely. I'm still going through the paint event and cleaning it up as best as I can. T

[2020-08-10 03:33] Gabrielxd195 commented on #4628
@ allejok96 In the first place what I suggest is to group the tracks within other tracks therefore this also includes grouping their patterns

Now I answer your questions with a single answer: '' what if we wanted to connect an automation pattern to many piano tracks? Would updating one update the other? Where would an automation track be located if it controlled, say, the master volume? ''

If th

[2020-08-10 03:47] Gabrielxd195 commented on #4628
If you could read my previous comments, you will realize that my suggestion is very different from # 1959, I literally speak of a '' fusion '' of which its tools would function and work together in the same editor, but with your Suggestion of the drop-down menu, but I do not open the thread because later it is marked as duplicate. regards

[2020-08-10 04:17] Gabrielxd195 commented on #4628
@Veratil

That is precisely the idea of ​​having both editors working, we could edit the piano roll notes and the automation points within the same editor, choosing the automation tracks from a drop-down menu or dialog box. the tools of both editors would share their tools, but that would only work if we could group the automation tracks within piano roll or sample track tracks.

I don't know how

[2020-08-10 08:38] Spekular commented on #5456
Consolidated into #1467

[2020-08-10 08:38] #5456 closed

[2020-08-10 08:39] Spekular commented on #1467
@trebmuh done!

[2020-08-10 08:56] dj-pixus commented on #5615
I tested the PR and yes, the problem went away. LB302 works well now, but turns out there might be more similar bugs with other instruments. For example .ds presets behave strangely too, but I believe that's a different issue.
Anyway, the PR is right.

[2020-08-10 09:55] russiankumar commented on #5592
Great, thanks for the ping!

[2020-08-10 13:18] uthidata commented on #5598
I would like to work on this if nobody else is doing it.

[2020-08-10 13:21] JohannesLorenz commented on #5598
@uthidata Thanks for your reply. Currently no one volunteered, so you can do it.

[2020-08-10 13:39] claell commented on #5592
We seem to talk about different things here. I was proposing a script that could apply the changes to PRs, so that no merge conflicts (or at least less) would occur.

I agree that there are probably several open PRs that are not ready to merge in the current state and with the author having no time to complete it currently (plus maybe also not so hard to rebase). I also share the opinion that thos

[2020-08-10 14:18] VilhelmEnt commented on #3170
If your problems are just beeping, it is because the effect is on a certain instrument. I fixed this problem by adding it as an effect for the overall effect bar

[2020-08-10 15:10] trebmuh commented on #5484
Still affecting 1.2.2.

[2020-08-10 15:21] trebmuh commented on #5587
1.2.2 is now available in LibraZiK-3 . See the [Mastodon message](https://mastodon.xyz/@LibraZiK/104665754032663320).

[2020-08-10 15:23] uthidata commented on #5598
I encountered an issue while trying to fix the QWheelEvent warnings

In Automation Editor, when the user press Ctrl + Alt while scrolling, the quantize model should change.
In the old code, this was done by comparing `wheelEvent->delta()`, which is now deprecated.

The suggested fix is to turn it into `wheelEvent->angleDelta()`. The `angleDelta()` function returns a `QPoint`, so I had to add `.y()

[2020-08-10 15:39] JohannesLorenz commented on #5598
Good found.

The sum can also be retrieved using `QPoint::manhattanLength`. Alternatively, you could try `qMax(.x(), .y())`. It's probably try and error what's best.

[2020-08-10 16:27] uthidata commented on #5598
Sadly manhattanLength returns the sum of absolute values whereas we need signed values. I will use .x and .y for now.

[2020-08-10 19:00] SecondFlight commented on #5575
I'm going to call this a duplicate of #5240 or #3792, even though this is worded a solution and not the problem.

As I understand it, the core issue in this case is that Qt's custom file dialogs are synchronous, not that LMMS is synchronous.

It's possible I'm wrong here, so please add a comment here if you have any additional info about the issue or possible solutions.

[2020-08-10 19:00] #5575 closed

[2020-08-10 19:15] SecondFlight commented on #5062
I'm not completely sure what PhysSong means there (sorry!), but this is what is meant by a global `.gitignore`:

https://stackoverflow.com/questions/7335420

@JohannesLorenz I'll close this in a few days if I don't hear otherwise. I switched my vote as I apparently now disagree with past me.

[2020-08-10 19:41] SecondFlight commented on #3989
Closing as suggested

[2020-08-10 19:41] #3989 closed

[2020-08-10 19:46] SecondFlight commented on #4314
Fixed :)

[2020-08-10 20:02] DomClark commented on #5062
Changing my vote too. I wasn't aware of `.git/info/exclude`, and so was against forcing LMMS's decision about project files onto users' global settings. In fact, the [Git documentation](https://git-scm.com/docs/gitignore) recommends the use of `.git/info/exclude` exactly for this purpose:

[2020-08-10 20:56] uthidata commented on #5598
The results of PR #5619 shows that my fixes are not appropriate for Qt 5.12, since some of the functions that show up as deprecated on my machine is not yet there until Qt 5.14, namely:
- QAtomicPointer::loadRelaxed()
- QSet(list.begin(), list.end())
- QWheelEvent::position()

The result being that it could not build for Ubuntu 16.04.
I can change the appveyor config to make it build on Windows, b

[2020-08-10 21:05] Veratil commented on #5598
@PhysSong what do you think?

[2020-08-10 21:34] uthidata commented on #5598
Well, scratch that, it cannot build for Ubuntu 20.04 either. Qt 5.14 is planned to land in Ubuntu 20.10.

I'm thinking of guarding these specific parts with preprocessors, and add a `#pragma message` telling about multiple versions instead. This way when the toolchain is eventually updated, maintainers would know which parts can be removed.

[code]

[2020-08-10 21:51] JohannesLorenz commented on #5598
Good idea.

If it happens more often you may want to wrap this into a function, like `T* loadRelaxed(const QAtomicPointer<T>&)`.

[2020-08-10 22:09] uthidata commented on #5598
Ok, so this is what I'm going to do:
- update AppVeyor config to build with qt 5.14 on Windows
- add preprocessors around parts that will get deprecated soon
- keep fixes of parts that are already deprecated in 5.12

[2020-08-10 22:19] musiczboy opened #5620 "Allow sample tracks to go to the FX-Mixer"
I don't know if this has been fixed yet, but for some reason I can't link my sample tracks to any FX-Mixer and this is really important to me. Please add this feature because other users are having problems with this.

[2020-08-10 22:44] qnebra commented on #5620
Fix is already in "master" branch.

[2020-08-10 22:50] qnebra commented on #5587
1.2.2 is avalaible in Debian Sid. https://packages.debian.org/sid/lmms and in Ubuntu 20.10 https://launchpad.net/ubuntu/+source/lmms/1.2.2+dfsg1-1

[2020-08-10 23:01] qnebra commented on #5587
And in Arch "community" repo: https://www.archlinux.org/packages/community/x86_64/lmms/

[2020-08-11 00:08] musiczboy commented on #5620
Can you show me by screenshot or video?

[2020-08-11 00:11] musiczboy commented on #5620
I have 5 different sample tracks and I need 5 different FX-Mixer to mix and I don't want to master my whole track down. How do you do that?

[2020-08-11 01:03] qnebra commented on #5620
I refer "master" as branch in lmms Git repository.

![image_2020-08-11_030008](https://user-images.githubusercontent.com/11295229/89845440-c377ec00-db7e-11ea-85bc-58266c02165a.png)

This was not in 1.2 because this patch landed in repository after 1.2 was "feature frozen", with only bugfixes allowed in 1.2

[2020-08-11 02:18] PhysSong commented on #5598
Some comments:
- I think we should keep supporting Qt 5.9, and probably 5.6.
- Fixing those warnings will help us supporting Qt 6 which will be released at the end of this year.

I think we should first try not breaking builds with old Qt5 releases.

[2020-08-11 03:33] SecondFlight commented on #5620
This is indeed implemented in master in #3866. Closing as a duplicate of #133.

[2020-08-11 03:33] #5620 closed

[2020-08-11 03:34] SecondFlight commented on #5203
Duplicate of #133, fixed in #3866.

[2020-08-11 09:07] Spekular commented on #2704
Implemented by #5589.

[2020-08-11 14:10] musiczboy commented on #5620
Can you show me how to do this step by step using screenshots?

[2020-08-11 14:37] Spekular commented on #5620
@musiczboy this isn't available in any released version, so you can't do this without installing an unstable version of LMMS. If you do, there's no guarantee that everything will work correctly.

If you still want to do it, go to [this comment](https://github.com/LMMS/lmms/pull/5601#issuecomment-665750723) and download the relevant installer for your OS. I recommend installing the new version to a

[2020-08-11 15:20] uthidata opened #5622 "Speed up CI builds"
### Enhancement Summary
Some tricks can be used to enhance build times on Travis and AppVeyor.
- Use caches for homebrew
- Use Ninja instead of MsBuild

#### Justification
- Currently the various continuous integration pipelines take roughly 40 minutes to to finish in ideal condition (no unfinished builds, good internet). My last push took almost 2 hours and still building. This drags out the time

[2020-08-11 15:21] Veratil commented on #5592
Merged #5123

[2020-08-11 15:26] uthidata commented on #5598
Thanks for the feedback. I've made it so that it still runs on older versions of Qt.

I've also added preprocessor switches for some of these parts, along with a deprecation message printed with `#pragma message` for each. For deprecated or soon to be deprecated parts that are used in multiple files, I've added `DeprecationHelper.h`.

Compared to master branch, these warnings have dropped from 280

[2020-08-11 19:39] DigArtRoks commented on #5494
I  made a new pull request as I messed up a bit my fork, trying to keep it synced.

[2020-08-11 20:15] DomClark commented on #5598
I'm not sure how useful the `#pragma message` is; the motivation here is partially to avoid annoying messages during compilation, so I'm not convinced that we want to substitute our own instead. Knowing which parts can be removed later is easy - just search the codebase for `QT_VERSION`. This is something we've already done before, to remove Qt 4 compatibility code.

[2020-08-11 20:42] uthidata commented on #5598
Understandable, I will do a quick rebase along with the formatting.

[2020-08-11 21:37] musiczboy commented on #5620
I cant' find the download. Send me screenshot of where the download is.

[2020-08-11 21:50] SecondFlight commented on #5620
Click on the arrow

[2020-08-11 22:59] musiczboy commented on #5620
I can't find the arrow. Screenshot it so I know where it is and i'm sorry if i'm bothering you because i'm new to github.

[2020-08-12 05:17] AbaddonBent opened #5624 "Time Stretching Audio"
I've noticed that LMMS has a issue with time stretching meaning that the **sound quality with a sample is altered the lower or higher a note may go**. This may or may not be a feature, but it's quite odd.
To be able to edit a sample so that it only changes the pitch rather both speed and pitch would be a major improvement as working with only synths can be a pain especially if one **using a vst sa

[2020-08-12 07:37] #5624 closed

[2020-08-12 07:41] Spekular commented on #5624
Duplicate of several existing issues: #495 #3103 #4653

[2020-08-12 07:47] drbree82 opened #5625 "ARM64 windows build"
Hi,

Apologies if this sounds a bit #choosingbeggars but is someone able to compile for ARM64 windows?

I'm still pretty new to C++ and can only compile in linux environments but was hoping to see how this runs on the Surface Pro X.

If this isn't appropriate and someone closes, I understand.

[2020-08-12 12:39] uthidata commented on #5625
It seems that Qt itself does not support ARM64 except for UWP apps so I think it's not possible right now.

[2020-08-12 14:56] SecondFlight commented on #5620
![image](https://user-images.githubusercontent.com/6700184/90030802-7a14c300-dc8a-11ea-975f-36c124e8c338.png)

[2020-08-12 14:59] SecondFlight commented on #5620
![image](https://user-images.githubusercontent.com/6700184/90031087-d5df4c00-dc8a-11ea-8c7b-ca9b074038af.png)

[2020-08-12 15:01] Spekular commented on #5620
Actually, I'd click the .AppImage.exe/.dmg rather than the build link. That gets you a direct download.