[2014-12-19 13:41] #1162 closed

[2014-12-19 17:22] mikobuntu opened #1468 "VST/(i) Debug message."
Hi ,

I always get a debug ( _non fatal and has been happening since the 0.4.x series_ ) message whenever I load a VST instrument or effect into LMMS :-        **" failed getting shared memory "**

The debug message originates from include/RemotePlugin.h:1161: and include/RemotePlugin.h:1180:

What I would like answered:- Is shmem actually being allocated to the VST's?

Is there an understandable

[2014-12-20 14:51] #3 closed, assigned to nobody

[2014-12-20 14:57] #4 closed, assigned to nobody

[2014-12-20 15:16] tresf opened #1471 "Better Sample Track support"
This is a placeholder to consolidate Sample Track related issues and requests. If a new Sample Track bug is reported on the tracker, close it out and mark it as a duplicate of this bug, (#1471)

![screen shot 2014-12-20 at 10 15 30 am](https://cloud.githubusercontent.com/assets/6345473/5515264/2dec11f8-8831-11e4-9d86-98329c07636d.png)

---

**Basic Functionality:**
- [x] Pan Sample Track #1080 #13

[2014-12-20 15:19] #495 closed, assigned to nobody

[2014-12-20 15:20] #133 closed, assigned to nobody

[2014-12-20 15:20] #1080 closed, assigned to nobody

[2014-12-20 15:20] #131 closed, assigned to nobody

[2014-12-20 15:21] #701 closed, assigned to nobody

[2014-12-20 15:49] #522 closed, assigned to nobody

[2014-12-20 15:52] #704 closed, assigned to nobody

[2014-12-20 16:01] #1409 closed, assigned to nobody

[2014-12-20 16:07] #1379 closed, assigned to nobody

[2014-12-20 16:09] #851 closed, assigned to nobody

[2014-12-20 16:15] #1306 closed, assigned to nobody

[2014-12-20 16:15] tresf opened #1472 "Better MIDI support"
This is a placeholder to consolidate MIDI related issues.  If a new MIDI enhancement is reported on the tracker, close it out and mark it as a duplicate of this bug (and naturally add to this list as needed) (#1472)

**Note:** As opposed to our other placeholder bug reports, MIDI is slightly different as it is mostly feature-complete.  Version-specific MIDI bugs should remain open and tracked on a

[2014-12-20 20:25] #699 closed, assigned to nobody

[2014-12-20 20:33] #1189 closed, assigned to nobody

[2014-12-20 20:48] Sti2nd opened #1475 "User definable shortcuts"
Proposal: A new setting tab where you can redefine the keys used for each shortcut. You could allow MIDI controllers here so that stop and play could be started with it, for example. https://github.com/LMMS/lmms/issues/1071

Why? Cause we are different, we have different computers and different equipment.

[2014-12-20 20:58] #972 closed, assigned to nobody

[2014-12-21 01:24] Moth-Tolias opened #1477 "Playback Cursor in AudioFileProcessor out of sync with playback"
The cursor reaches the end of the display and then wraps round as one would expect it to do while in loop mode to continue until playback ceases.

While in loop mode, the effect is cumulative.
The effect is most notable when playing a longer sample with clearly defined strikes  (for example, latin_guitar02) at a lower pitch, but all samples and all pitch rates seem to be affected.

[2014-12-21 23:20] #943 closed, assigned to nobody

[2014-12-22 04:31] #1049 closed, assigned to tobydox

[2014-12-22 05:43] #555 closed, assigned to nobody

[2014-12-22 13:18] Sti2nd opened #1484 "Export as loop wrap-around"
Background: If you plan to loop a song/audio snippet with (long) reverb you cannot export as loop as that will cut out the reverb.

Proposal: Render the last bar/two bars or something, then clip out that audio and place that/those bars on top of the first bar(s).

[2014-12-22 16:31] #1477 closed, assigned to nobody

[2014-12-23 00:50] Sti2nd opened #1488 "New default shortcuts (table)"
#### Phase 4; Revision 1 in progress

**Goals:**
1. Same key for same action across different Editors, and parts of the program.
2. Easy to remember and fast/easy to press.
3. Future compatible! Should allow new futures added into LMMS. For example https://github.com/LMMS/lmms/issues/1421 This can be hard to predict, therefore low importance.

Tables based on the existing http://lmms.io/wiki/index

[2014-12-23 02:27] #920 closed, assigned to nobody

[2014-12-23 13:45] #1267 closed, assigned to nobody

[2014-12-23 13:46] #1408 closed, assigned to nobody

[2014-12-23 13:55] #54 closed, assigned to nobody

[2014-12-23 13:59] #1229 closed, assigned to nobody

[2014-12-23 14:12] #614 closed, assigned to nobody

[2014-12-23 14:15] #1192 closed, assigned to nobody

[2014-12-23 14:25] #1037 closed, assigned to nobody

[2014-12-23 14:47] #1338 closed, assigned to nobody

[2014-12-23 21:25] Moth-Tolias opened #1492 "Nescaline crash when playing very high note"
**edit @tref 2014-12-24, added steps to reproduce**

Steps to reproduce:
 * Open a blank project
 * Add Nescaline instrument to project
 * Open Nescaline instrument window, set "base note" to far left:<br>
  ![screen shot 2014-12-24 at 4 04 28 pm](https://cloud.githubusercontent.com/assets/6345473/5551040/8fbc6402-8b86-11e4-9fea-98f93a8ec611.png)
 * Open a new Piano Roll for same instrument
 * Cli

[2014-12-24 18:07] megakott opened #1496 "Export in LMMS (> 1.0.0) is not working with active ru.qm locale"
Export in LMMS is not working with active ru.qm locale, i.e. for almost all installations in russian.

Affected versions: 1.0.1, 1.0.2, 1.0.3, ..., 1.1.0 (true for Windows, not sure for Linux)

Steps to reproduce:
1.) Take russian installation or emulate it. To emulate, replace file LMMS/data/locale/en.qm with file ru.qm from the same folder
2.) Try to export any LMMS project. Eternal 0%, LMMS han

[2014-12-25 21:47] DeRobyJ opened #1499 "Organic glitches"
While trying some presets, I came to organic ones and I saw a little problem with all of them.

At the start and at the end of a note there is a glitch, a little click.
What's worse is that you can't avoid it because even if you play with the envelope you will still hear it when playing a note just after or during another one.

I exported some score with a 1osc preset, so without actually doing ad

[2014-12-25 23:18] #535 closed, assigned to nobody

[2014-12-25 23:30] Sti2nd opened #1500 "Delete in Song Editor like in Piano Roll and Automation Editor"
In Piano Roll and Automation Editor you can just hold down the right mouse button and drag over the notes or points you would like to delete. In Song Editor you have to press on top of each Track Container box / pattern.

Proposal: When the delete key combination is held down, hovering over the TCO box / pattern in the Song Editor will delete it.

With the undo working in the Song Editor for patte

[2014-12-25 23:34] Sti2nd opened #1501 "Tool glitch with select tool in Piano Roll"
Steps to reproduce. You need some notes in the Song Editor.
1. In the Song Editor, Ctrl + right click on the pattern to mute it. You can click anywhere, really.
2. Open the pattern or just move your cursor into the Piano Roll if it already is open. You are now using the select tool, but the GUI isn't reflecting that.

I think the program wrongly thinks you are holding down the Ctrl button.

[2014-12-26 03:11] crank123 opened #1502 "Wrong Slash in Windows."
In the Windows version the slash before the lmms dir should be \ not /. However, it's /.

[2014-12-26 10:01] badosu opened #1504 "Open/Hide arbitrary files"
So, occasionally I am browsing through my samples and I find some `txt` of `pdf` files related to them and I want to check about it.

At least for linux and OSX it would be very straightforward to launch an application to open files that are not opened natively on lmms (as opposed to .wav, .ogg, .xpf). For example, it's very common to have `xdg-open` available on linux distros. On OSX you have `op

[2014-12-26 17:19] musikBear opened #1508 "Undesirable loop marker behavior"
sadly, the loopmarkes are now again _not_ specifically linked to ONE userevent, but they flip around depending on what currently is downstream for the mouse-user-event (click/combo)
It _was_ fixed:
sh+RM moved start-loop
RM moved end-loop
Now its bogded -again :ghost:

[2014-12-26 17:55] badosu opened #1511 "Muting tracks does not work"
Most of the tracks are not respecting the mute setting on the song and B/B editors. The ctrl+right click muting works fine.

Verified for https://github.com/LMMS/lmms/commit/1cd8c0e2c45d37c65463c5e3d171b3ea9acd710a on linux 64bit.

[2014-12-26 18:13] curlymorphic opened #1512 "track muting doesn't work"
This issue was on the mailing list. copying here for completeness.

track muting doesn't work
Probably caused by recent changes in NotePlayHandles and AudioPorts. I
think this can be fixed in AudioPort, where all the NPH's output is
mixed to the AudioPort - add a check if the instrument track that is
associated with the AudioPort is muted, and if so, skip the processing
of the AudioPort, including

[2014-12-26 18:20] #1511 closed, assigned to nobody

[2014-12-26 20:07] #1508 closed, assigned to nobody

[2014-12-27 00:19] unfa opened #1515 "ZynAddSubFX windows attack!"
http://youtu.be/FX3LY0VkS2Q

There's an issue with ZynAddSubFX windows and project rendering in LMMS.

When the rendering finishes, all previously opened ZynAddSubFX instances steal my focus. That is - they pop on my screen if they were minimized or just pushed to the bottom of the window stack. But not all at once - they do that one by one in one-second interval or so. It's really annoying, espec

[2014-12-27 11:52] musikBear opened #1518 "1.1 export problem with russian localization (qt_ru.qm)"
here:
http://lmms.io/forum/viewtopic.php?f=7&t=1524&start=20
issues specific for russian localization are described
qt_ru.qm should block exporting
I remember a somewhat similar issue in chinese localization (?)
Do not know if it can be called 'related', though

[2014-12-27 13:32] #1518 closed, assigned to nobody

[2014-12-27 19:31] unfa opened #1520 "Port ZynAddSubFX multi-parametric EQ into a standalone LMMS effect plugin?"
One of the features that I find extremely handy is the EQ that I find in ZynAddSubFX.

![eq](https://cloud.githubusercontent.com/assets/491704/5562150/2ae82e16-8e07-11e4-8ead-7e0b32621c0e.png)

· It has 8 toggleable filters of choosable type (much like in the Dual Filter effect) with f, Q, gain and # stages controls for each;
· It has a visual graph showing the whole frequency spectrum and what am

[2014-12-28 00:08] josh-audio opened #1521 "Triple Oscillator modulators as a plugin?"
I think this could be a very cool idea - a plugin that accepts two inputs, combines them using the same algorithms that 3osc uses, and then outputs the result. My idea is that the plugin would have a selection of blend modes (PM, FM, AM, SYNC), and a knob for modulation amount. I can make a mockup if that would be helpful.

[2014-12-28 07:36] #55 closed, assigned to nobody

[2014-12-28 08:30] badosu opened #1522 "Noise at the end of Sample previews"
Steps to reproduce:

1. Start a new project
2. Open the my samples section on the left
3. Open the basses folder
4. Click and hold on `bass01.ogg` until the noise gets audible.

I am filing this issue because I could not fix it myself using the instructions on the mailing list (by @diizy):

[2014-12-28 18:10] Sti2nd opened #1523 "Autoscroll when using selection tool"
When using the selection tool it would be great if  the scrollbars started scrolling when you reached one of the four sides of the window, it would scroll in the same direction as the side.
- When using selection tool
- When playing an instrument with the mouse (clicking and dragging) https://github.com/LMMS/lmms/issues/1556

[2014-12-29 00:28] #1520 closed, assigned to nobody

[2014-12-29 00:33] #1501 closed, assigned to nobody

[2014-12-29 11:33] BaraMGB opened #1526 "Bug: Watsyn shows wrong Osc"
I'm using LMMS in One-Window-Mode for Instruments. If I switch the instrument and then get back to watsyn then it shows the waveform A1 though B2 is selected.

![lmms1](https://cloud.githubusercontent.com/assets/6502580/5568270/b178b720-8f56-11e4-9fce-f224a8ed09ed.png)

[2014-12-29 13:25] #446 closed, assigned to nobody

[2014-12-29 14:03] #1352 closed, assigned to nobody

[2014-12-29 18:54] josh-audio opened #1527 "Channel note on indicator doesn't fire when a very high note is played."
May be related to #1492.

Steps to reproduce:
![bug1](https://cloud.githubusercontent.com/assets/6700184/5571642/3a312c2c-8f62-11e4-9064-a3dc5f31c096.png)

[2014-12-30 13:37] softrabbit opened #1530 "More PPQN?"
Right now LMMS is running 192 ticks/whole note = 48 PPQN (parts per quarter note). It might be a bit on the low side for recorded MIDI and things like that, and it looks like something like 960 PPQN is a pretty common number in other software.

Now, what would changing this mean? Some speculation:
- Project files wouldn't be backwards compatible unless some "save for LMMS 1.1" feature is implement

[2014-12-30 16:24] musikBear opened #1531 "Instrument drop-zone indicator"
**Edited 2014-12-31 @tresf, added comments from @DeRobyJ's bug report, mockup of drag-zones**

![image](https://cloud.githubusercontent.com/assets/6345473/5581095/494ba0fa-9022-11e4-9121-38bec873e394.png)

![image](https://cloud.githubusercontent.com/assets/6345473/5581061/d28f9714-9021-11e4-8aca-8007dba34d39.png)

---

The way an <i>empty</i> instrument from sidebar, can be added to a project, ca

[2014-12-30 17:42] SecondFlight opened #1532 "Tracks in song editor cannot be moved in pattern select mode."
Steps to reproduce:
1. Open a new project
2. At the top of the song editor window, click the "Edit Mode" button (to the right of the pencil button)
3. Attempt to move a track up or down in the song editor window by clicking and dragging

[2014-12-30 20:33] unfa opened #1533 "Remove all "NOT FOUND!" plugins with one click"
When I load a project and I have any "not found" plugins I frequently just search throught the whole project to delete the "not found" plugins. This way the project is WYSIWYG - no surprises in the future.

[2014-12-30 20:37] unfa opened #1534 "Add a message pane - no more error dialog spam on project loading"
This idea was brought up years ago.

Instead of showing an error window for each missing plugin, display a closable, non-view-blocking yet obvious pane that would hold each message in one line.

Additionally, this could also display info about missing samples, or other files external to the project.

[2014-12-30 21:31] #1527 closed, assigned to nobody

[2014-12-30 23:27] unfa opened #1535 "Making "Stop" button actually stop ALL sounds"
EDIT: The previous title of this issue was "Panic button", but we already have one - the stop button. It only needs improvement.

![panic button 01](https://cloud.githubusercontent.com/assets/491704/5584075/bbe4aa92-9083-11e4-8ae5-e89d5765fc89.png)

I sometimes find myself in need to silence all sounds - sticky notes, delay/reverb tails etc.

Do you think it'd be good to have such a tool? It might

[2014-12-31 16:18] Spekular opened #1536 "Clicking title bar for toggleable features in instrument views toggles them"
That title is pretty horrid but I can't think of a better one, feel free to suggest something.

In the instrument view there are many toggleable features, such as the filter in the ENV/LFO tab.
When the title bar for these is pressed they are toggled. (The user can click anywhere in this area:
![filter](https://cloud.githubusercontent.com/assets/8918426/5588796/ef2cef12-9110-11e4-91fa-dfe667034c55

[2014-12-31 18:38] #59 closed, assigned to nobody

[2014-12-31 18:44] #60 closed, assigned to nobody

[2014-12-31 19:21] #1536 closed, assigned to nobody

[2014-12-31 22:58] oeai opened #1537 "Adding sampletrack in bassline editor with 2 kickers error"
just pressed twice .ogg file while playing kickers and got freeze

called Track::getTCO( 0 ), but TCO 0 doesn't exist
QObject: Cannot create children for a parent that is in a different thread.
(Parent is InstrumentTrack(0x7f13ecb745a0), parent's thread is QThread(0x23b3950), current thread is QThread(0x2f25450)

[2015-01-01 00:06] tresf commented on #696
Yeah, it should.  Thanks.

[2015-01-01 00:06] #696 closed

[2015-01-01 00:07] tresf commented on #399
Yeah, these were implemented.   Thanks!!

[2015-01-01 00:07] #399 closed

[2015-01-01 09:45] ryukusu commented on #1464
It affects me too. :'(
For 1.1 release i've found, that vmpk doesn't record notes! I even lost my played melody!
Xubuntu 12.04.5. Tried different midi channels - still no effect. I remember, that for 0.4 there was the same bug, but only zynaddsubfx wasn't recorded notes, but now it affects all synthesizers!
I'm very sad. There so much banks and other stuff, but I have to return to previous version

[2015-01-01 10:48] musikBear commented on #1531
A quite simple idea, could be to not have dragging at all, but to simply only add empty instruments through a context-menu
* Open as new in BB
* Open as new in SE
* Send to active instrument in BB
* Send to active  instrument in SE

Problem fix, and consistent with context in *Presets*

[2015-01-01 10:58] musikBear commented on #1464
sorry i never saw the @me Q
I will look into this later, and report back
It went under the radar
.. HNY to all :tada:

[2015-01-01 11:38] softrabbit commented on #432
@Spekular, save an .mmp and edit the version number to simulate newer versions?

[2015-01-01 13:10] Spekular commented on #432
@softrabbit I was going to but I can't remember how mmpz files are
compressed. Opening it in gedit gives me a bunch of garbage.

[2015-01-01 14:09] Umcaruje commented on #432
compressed.

This should be helpful: http://linux-multimedia-studio-lmms.996328.n3.nabble.com/is-it-possible-to-decompress-an-mmpz-file-without-lmms-dump-td3491.html

But you can open LMMS, click save as and instead of `filename.mmpz` edit it so it's `filename.mmp` That will give you an uncompressed file that you can edit.

[2015-01-01 14:18] tresf commented on #432
... or change the version info in `CMakeLists.txt`,  compile, save,  change version info back.

[2015-01-01 14:21] badosu commented on #1537
Was able to reproduce on master, you only need 1 kicker to trigger it.

[2015-01-01 14:26] badosu commented on #1535
I guess we could make it so that every time that we discover a case where the stop button does not cess all sounds is a bug, we schedule priorities as needed.

[2015-01-01 14:28] tresf commented on #1464
@ryukusu, the original bug report turned our to be for our unstable branch.

If you encounter this issue, please confirm you are running from the stable-1.1 branch, not master.

[2015-01-01 14:32] tresf commented on #1531
@musikBear, to be fair, consistency with presets would include both dragging AND context menu.

[2015-01-01 15:59] psilhavy commented on #1329
Since version 1.1.0 ( branch stable-1.1,  last commit 62df7688961bac6892e82e8ba609ded058a75bc6)  bug disappears .

[2015-01-01 16:04] musikBear commented on #1207
in this context, if the default volume are to be changed, how about changing the default 3oc wave-shapes too? I know that it is quite common, to have 3 sine forms, in many daw's, but it is by far the most 'boring' output, that 3oc can produce -kind of annoying test-signal.
If 3 saws was chosen, a new user would emediately hear the potential of the instrument, making the first expirience of sound f

[2015-01-01 16:59] Spekular opened #1539 "Update copyright info?"
At the beginning of every file I've seen is some copyright info. Usually it's just
"Copyright (c) 2005-*Whenever* Tobias Doerffel <tobydox/at/users.sourceforge.net>", but the last year varies. Should these be updated to 2015 now? DummyEffect.h for example is 2006-2014 and was updated during @tobydox 's last commit to it [here](https://github.com/LMMS/lmms/commit/465aa1afbc107d7bd57769e4c68347ea284

[2015-01-01 17:12] Sti2nd commented on #1207
New thread please? 3 different sine forms? Don't answer this comment here, do it in your new thread.

[2015-01-01 17:30] Sti2nd commented on #1531
I think this is logical and will solve the problem.
Dropping on top of the instrument, represented by its icon and the instrument track will replace. Dropping on top of the segments (notes) will add new instrument.

![new_replace_area](https://cloud.githubusercontent.com/assets/6373430/5592792/b3d8fb58-91e3-11e4-8593-802dbaac8225.PNG)
PS: I shouldn't have outlined the B&B track, it should be a nor

[2015-01-01 17:35] Umcaruje commented on #1539
Yeah, that should be fixed. I can probably do another global search-replace in the texts :) Will get on it ASAP

[2015-01-01 17:35] Sti2nd commented on #1535
Huh. Mixed feelings here. I think it is cool that you can hear the reverb when you stop the song at any time, very useful, but if pause did that and it already does, I don't really have anything against your suggestion Tres.

[2015-01-01 17:46] Sti2nd commented on #51
Is the difference between glissando and pitch bend that with pitch bend there will be silence when the new note starts playing and the pitch bend note is released, whereas glissando makes this seamlessly?

I think unfa suggests the ability to draw glissando/pitch bends in the Piano Roll, not having to open the Automation Editor.

[2015-01-01 17:50] grejppi commented on #1539
Aren't they supposed to reflect the last year when it was modified?

[2015-01-01 17:51] Sti2nd commented on #1539
^

[2015-01-01 19:46] tresf commented on #1329
:+1:

[2015-01-01 19:46] #1329 closed

[2015-01-01 19:54] tresf commented on #1539
IMO, the dates are mostly meaningless and almost immediately outdated.  Furthermore, these things fall more under a copyleft IMO.   I vote we keep them untouched and let the 2.0 initiative update them on those files which get drastically changed, but not on files which remain in the same basic shape as they did when they were written.

[2015-01-01 19:56] tresf commented on #1535
Then perhaps a double-stop implementation?

[2015-01-01 20:01] tresf commented on #51
IIRC the main difference is just the way it is used for composing.  Note
accuracy from a piano roll perspective.  FLStudio and Ableton for example,
have what is being described inside the piano roll editor.

[2015-01-01 20:17] Umcaruje commented on #1539
Oh well, time to ditch my commit then. Should this be closed as a wontfix?

[2015-01-01 20:24] unfa commented on #1535
I've changed the issues' title.

Double stop would be intuitive for me.

There could be a hint displayed near it after the user pressed it once saying:

"Press STOP twice to quiet all sounds (same as a panic button)"

[2015-01-01 21:01] tresf commented on #1539
:confused:

[2015-01-01 21:44] Umcaruje commented on #1539
Well I made a PR after all: #1540

[2015-01-02 07:46] ryukusu commented on #1464
tresf, thank you very much!
i've downloaded lmms sources from tar.gz, not via clonegit and now everything works! :+1: :)

btw, i created my own instrument, but they are not counts as complete pack. Where should i write to submit my own pack with electronic and space ambient oriented instruments?

[2015-01-02 10:09] ryukusu commented on #1496
Yes, it affects linux version. At least 1.1.0 compiled from sources.
There is an error in the terminal:
___
Mode initialization failed: invalid parameters for bitrate
___
If you replace ru.qm to en.qm project exported.
I think it's related with localization, because if you have russian language, you first letters in English for the menu items then russian localization.
Also I replace ru.qm from th

[2015-01-02 10:36] Sti2nd commented on #1464
Pack? Native LMMS instruments? :D

[2015-01-02 10:36] ryukusu commented on #1464
Yes. Zynaddsubfx instruments.

[2015-01-02 10:54] badosu commented on #1496
I traced the bug is going as far back as 2da7804c8230fb04d1963c63b12581c4a7255501...

[2015-01-02 11:16] Sti2nd commented on #1464
Oh presets. Well we do have a lot of Zyn presets from before, but you can make a pull request so we can hear them.

[2015-01-02 11:19] Sti2nd commented on #1504
unreasonable request IMO

Were you thinking about opening them with the notepad? Maybe that would work actually :high_brightness:

[2015-01-02 11:45] Sti2nd opened #1541 "Placeholder folders (and files) in user directory for Ladspa, VSTs, themes and templates"
I believe the working directory could be the only place the user needs to care about. Currently the user has to access the installation directory to paste new themes and Ladspa effects.

Proposal: Ladspa effects, themes, VST effects, SoundFonts and GIG files? get a folder in user directory, just like the user presets have. The path in settings would default to this folder, the user can still chang

[2015-01-02 12:09] Spekular commented on #1541
:+1: As a user who can't always paste to the install directory (stupid
windows permissions), yes please. Makes sense from a consistency standpoint
too.

[2015-01-02 12:40] diizy commented on #1537
Yeah, sampletracks in bb-editor isn't really supported functionality
yet, that's why there is no "add sampletrack" button in bb-editor.
Probably this will be fixed when sampletracks get finished.

[2015-01-02 12:46] diizy commented on #1207
Btw, nitpick here: don't use the term "loudness" to mean volume, because
it has a different meaning in audio/DSP context.

(Loudness is "perceived volume", analoguous to how luminance is
"perceived lightness" in image manipulation)

[2015-01-02 12:53] diizy commented on #1536
On 12/31/2014 06:27 PM, Spekular wrote:

No it doesn't. It's basic GUI design, the text beside a checkbox should
always toggle the checkbox. It's convention and standard pretty much
everywhere with well-designed GUIs.

[2015-01-02 12:54] diizy commented on #1536
On 12/31/2014 08:34 PM, Tres Finocchiaro wrote:

Yes: all LED checkboxes should react to label clicks. Someone should get
on that.

[2015-01-02 13:27] Spekular commented on #1207
@diizy in this case loudness would be appropriate though, right? It matters
more than presets sound consistent than that their actual volume is the
same. Not that there should be all too big of a difference.

[2015-01-02 14:33] diizy commented on #1207
On 01/02/2015 03:27 PM, Spekular wrote:

Difference is up to 60 dB for different frequencies.

http://en.wikipedia.org/wiki/Equal-loudness_contour

[2015-01-02 16:02] tresf commented on #1541
No they don't.  I'm not sure how you've setup your workstation, but this isn't true at all, user defined folders can and should be used for all customizations to the Themes, LADSPA effects plugins, VST effects plugins, etc.

If there is something confusing about how we have it today then please share so that we can improve it.

-Tres

[2015-01-02 16:05] tresf commented on #1504
I would never mention that application by name in a feature request, but yes, the `default text editor` would be invoked via the system's file association configuration.  On Ubuntu, this tends to be `gedit`, Mac is `TextEdit`, KDE is `Kate` (iirc), Windows is `notepad` :+1: .  But we wouldn't really need to know or care about that, we'd just let C++ open the default text editor. :smile:

[2015-01-02 16:11] tresf commented on #1464
Normally, send them to us, we prefer the use of a "Pull Request" via GitHub, it's a tremendously powerful way to review changes to our code or our samples/project/presets.

However, Zyn is a special use case because we don't make our own, we use the ones that are provided "upstream" by the Zyn team.  In your case, you should first recommend the pack to them, and if they are accepted, we'll get the

[2015-01-02 16:14] tresf commented on #1496
@DanWin great find!

[2015-01-02 16:58] diizy commented on #1464
On 01/02/2015 06:11 PM, Tres Finocchiaro wrote:

Frankly, I don't think we need any more presets for Zyn or Triple Osc.
We have those particular instruments well covered. If someone wants to
create presets for LMMS, they should concentrate on instruments that
have very few if any of them. Monstro, Kicker, AFP, Vibed, SID, etc...

[2015-01-02 17:00] tresf commented on #1464
:+1:

[2015-01-02 18:05] Sti2nd commented on #1504
Darnit, totally wrong written. I meant Project Notes.

[2015-01-02 18:09] Sti2nd commented on #1541
![stian_user_folder](https://cloud.githubusercontent.com/assets/6373430/5598238/c3a4873a-92b2-11e4-956b-f027f915c5d2.PNG)

My user directory, how do yours look like? Where are you putting a theme here?

[2015-01-02 18:46] tresf commented on #1541
Put it wherever you want and set it in your preferences.  Perhaps we just need to make a placeholder folder there so it's more obvious?  I just go to settings, click browse and done.... How do you do it?

-Tres

![image](https://cloud.githubusercontent.com/assets/6345473/5598506/a8886c1e-9285-11e4-86e9-96c1d451a3fe.png)

[2015-01-02 18:53] Sti2nd commented on #1541
OMG. Yes, placeholder would be better! So basically placeholder folder for each of those paths.

[2015-01-02 19:07] tresf commented on #1541
:+1:

If you could make a mock-up of what the structure would look like, that would help.  We can append it to the original post as well.

[2015-01-02 19:09] tresf commented on #1504
Oh, you'd like to preview it internally?  I guess that is possible, but we would want to consider implementing a dedicated widget for it.

[2015-01-02 19:20] Sti2nd commented on #1504
Yes, that would be cool, when you want to make a commercial track for example, you can then quicky open the licence.txt file to find out if that sample, vst, ladspa can be used.

[2015-01-02 19:24] Sti2nd commented on #1541
![image](https://cloud.githubusercontent.com/assets/6373430/5598854/5ca1a882-92bd-11e4-9c56-5b666418b00b.png)

[2015-01-02 19:44] tresf commented on #1541
Yeah, I agree... We need some consistency here...

I think a folder called "plugins" would be better and then inside there have something like "vsteffect", "ladspaeffect", "vstinstrument", etc.  Soundfonts are a bit of a gray area between samples and plugins, but I wouldn't be opposed to having them in the plugins folder too.

Once decided, what this does is gives us the ability to treat plugins l

[2015-01-02 19:46] tresf commented on #1541
Also, the other issue is that a good portion of VSTs are installed to Program Files\, so I'm not sure how to accommodate those from a "show up in the GUI" perspective.  Is there a centralized registry/list we can read from in Windows which lets us know about which VSTs should be available to the system?

[2015-01-02 19:55] Umcaruje commented on #1541
Note that lv2 and ladspa folders are not necessary for linux, because IIRC LMMS (and carla) look up `~/.ladspa`, `/usr/lib/ladspa`, `/usr/local/lib/ladspa`, `~/.lv2`, `/usr/lib/lv2` and `/usr/local/lib/lv2` which are sufficient IMO. Almost any plugin will install there by default.

[2015-01-02 20:00] tresf commented on #1541
I think this is the major problem on Windows (or simply with VSTs in general), there's no default installation location for such plugins.

[2015-01-02 20:38] rgwan opened #1544 "Import some MIDI File cause program hang-up"
For example, this:
http://svr.weirm.info:81/usr/uploads/2015/01/2218985877.mid
http://svr.weirm.info:81/usr/uploads/2015/01/3903726651.mid
And, lmms seems ignore MIDI percussion channel.

[2015-01-02 21:45] Spekular commented on #1207
@diizy From what I remember midtones are louder because that's good for
listening to speech, and the lower and higher frequencies get quiter. The
graph seems to confirm that extremes make the biggest difference, and I'm
wasn't sure we had presets in those areas. I suppose kicks would be rather
noticeable though.

[2015-01-02 22:26] diizy commented on #1207
On 01/02/2015 11:45 PM, Spekular wrote:

The sounds are loudest at the low end. There's just a slight bump at
around 1000hz which helps speech recognition. It makes sense because low
freq sounds generally penetrate matter most efficiently.

Kicks are just fast frequency sweeps.

Anyway, all this doesn't really matter - the point is just that
"loudness" is the wrong term to use here. Evening out th

[2015-01-02 22:50] Sti2nd commented on #1541
Well, I wouldn't know with commercial ones, I copy what I need (which usually is only licence and .dll file) over to my VST or VSTi folder on my external hard drive. I rarely download executable files, for me it is mostly extracting an archive to get a folder with the VST.

A user on this site said that vst plugins gave you the (default) option to install in it's own directory because of different

[2015-01-04 11:26] musikBear opened #1547 "1.1 wrong version labels in OpenSuse 13.1 (checks of labels in general)"
From forum i got this info:
*LMMS_1.1.0 in OpenSuse (13.1), but LMMS still indicates version 1.0.100 in the about box and in the application title bar*
Are other releases also labeled incorrect
I checked my win32 -That is correct 1.1.0 but is still also marked as a 'pre-release'

[2015-01-04 13:42] tresf commented on #1547
This needs to be filed upstream.  We don't maintain any linux packages currently, so we can't fix this.

[2015-01-04 13:48] #1547 closed

[2015-01-04 15:15] #1512 closed

[2015-01-05 01:25] Blue-EyesWhiteDragon commented on #699
Thanks, tresf!

[2015-01-05 01:40] tresf opened #1552 "Build with debug symbols"
We need a better way to enable Debug symbols for our developers, better explained below.

Quoted per the lmms-devel mailing list:

---

 **2015-01-04 @badosu wrote:**

**2015-01-04 @Lukas-W wrote:**

[2015-01-05 11:53] softrabbit commented on #1544
Agreed, I get 100% crashes importing MIDI in master branch. Stable-1.1 seems a lot better.
Looks like it's an SF2 player/Fluidsynth problem.
[code]

[2015-01-05 12:08] softrabbit commented on #1544
Additionally, if I comment out the call to `fluid_synth_pitch_bend` in line 652, the crash will occur at  `fluid_synth_pitch_wheel_sens` a few lines down, bypassing that import works again. Something uninitialized being passed too far?

[2015-01-05 15:13] tresf commented on #1289
Closed per #1486

[2015-01-05 15:13] #1289 closed

[2015-01-05 17:41] SecondFlight opened #1556 "Odd behavior when clicking and dragging out of visible range on the left side of the instrument keyboard"
When you click and drag on the keyboard for a synth and you go move your mouse beyond the visible keyboard, it doesn't act the same as when the mouse is on the visible part.

When you have your mouse lined up with the white keys and move it back and forth, it plays a chromatic scale (all notes, including black keys):
![image](https://cloud.githubusercontent.com/assets/6700184/5616965/7748c35c-94d7

[2015-01-05 18:20] tresf commented on #1556
I would like to see an auto-scroll feature happen in this (as well as some other) context(s).

I'll mark it as a bug for now, although tracking usability of components we can't see ranks pretty low on the priority list. :)

[2015-01-05 22:08] curlymorphic commented on #1350
@tresf is there any chance of a summary of what's wanted here please?

sorry after reading this im confused to what is required.

[2015-01-05 22:17] Sti2nd commented on #1350
Increase the min height allowed, to the height of a newly added track. So that you can only increase the height of a track in the future and not discover the bad GUI. Please implement track grouping at the same time, jk, but not really.

[2015-01-05 23:10] curlymorphic commented on #1350
cool, thats sounds simple.

is there a discussion on this yet?

It would need to know how this should be implemented, what is required, gui decisions, is this just for visuals or is audio grouped. Im sure there are plenty of more details to work out.

I would be up for doing this.

[2015-01-05 23:17] tresf commented on #1350
And the moon and the stars?  Don't be preposterous! :)

[2015-01-06 00:19] Sti2nd commented on #1488
Ok, so this is what I propose @tresf @softrabbit @diizy @musikBear @Umcaruje @SecondFlight @Spekular

Now you should look in the New Shortcut Key column. Where it stands (reserved) the function is not yet coded. Where it doesn't stand Same or (reserved) it is a new shortcut.

Here is a document overview over which keys the inconsistent ones have turned into, also explains a little. https://docs.go

[2015-01-06 00:22] M374LX opened #1561 "Changing from Edit to Draw mode does not unselect anything"
It does not make sense keeping elements selected on the song editor in Draw mode.

[2015-01-06 00:25] Sti2nd commented on #1350
I was just asking, someone has to implement it...

Here it is @curlymorphic https://github.com/LMMS/lmms/issues/735 This might be serious shit, good job so far, and you decide if you want to have a go at it or not. :)

[2015-01-06 00:27] Sti2nd commented on #1561
It does when you think about the way Piano Roll works with fast select by holding down Ctrl, and that the Song Editor will work the same way soon https://github.com/LMMS/lmms/issues/1488

[2015-01-06 00:29] tresf commented on #1350
Well, I see you changed the tone of your original question, but let's please be mindful not to look a gift horse in the mouth, so to speak.

[2015-01-06 01:35] curlymorphic commented on #735
Going to have a look at this, but before I start I have a few questions. It would be nice to have some specs to work to. even if they do have to be re evaluated.

How are we going to visually differentiate between child and  parent, icon, color, border, font?

is this all to be done from the gear icon ( parenting, unparenting, collapsing, expanding )?

is it fair to assume, when you parent a track

[2015-01-06 01:50] tresf commented on #1561
Fundamentally on some level this may be true, but the selection tool doesn't allow the moving of notes, so until that behavior is fixed what you are describing will only cause turmoil.

[2015-01-06 02:04] tresf commented on #1350
Closed per #1560, thanks Dave!

[2015-01-06 02:04] #1350 closed

[2015-01-06 02:08] curlymorphic commented on #1350
:)

[2015-01-06 02:13] curlymorphic commented on #517
Export between loop markers is an easy way to set the end point for rendering.

[2015-01-06 02:17] tresf commented on #735
You may want to target 2.0 for this... I sounds like quite a design change which requires more prototyping than most enhancements and that version/branch may be a good candidate for it.

[2015-01-06 02:22] tresf commented on #735
Also, the OP seems to focus mostly on Automation tracks, which can quickly start to take up a lot of space... perhaps the concept of nesting those could segway into this concept a bit...

[2015-01-06 05:16] falkTX commented on #1001
FYI I've been toying a bit with LMMS zyn using NTK instead of FLTK and this issue is also present there.

One thing I noticed is that the initial choice of beginner vs advanced Zyn UI is not remembered, so there might be some config file conflicts.

[2015-01-06 07:56] Spekular commented on #1488
Looks good to me. Might be easier if the old keys were listed for
comparison and the explanation were moved to a separate column.

[2015-01-06 10:20] Sti2nd commented on #1488
@Spekular I understand you have been looking at the google document, the old list is in the top table ^ and the new shortcuts too, but not the reason for the new keys.

[2015-01-06 10:27] Sti2nd commented on #735
I wouldn't like to group my automation tracks together... but it is a temporarily solution :)

[2015-01-06 10:34] Spekular commented on #1488
Oh! I was looking at this from my mail, so the first post wasn't updated.
Oops.

[2015-01-06 10:42] Spekular commented on #1488
I definitely like alt for precision, and I'd love if you could press alt
befire dragging to precision move/scale patterns (pressing afterwards feels
odd). Also perhaps just space or shift space for play? Ctrl seems to be
mostly for selection whereas shift seems to be the main modifier key.
On Jan 6, 2015 11:34 AM, "Spekular R" <spekularr@gmail.com> wrote:

[2015-01-06 10:42] Sti2nd commented on #735
@diizy Is probably the one who tell you that. I am picturing the parent like a Beat/Bassline track where the icon is a folder, and maybe you could colorize the children in the same colour? This is the among the most important to figure out now, indention won't work, right?

Well, if you are going to have a context menu for it, why not list up the available track folders you can put it in? Yes, I w

[2015-01-06 10:44] Sti2nd commented on #1488
and pause. Good call, it will work either way, but you are right in that Shift might be more logical, updating the table now.

[2015-01-06 10:46] Spekular commented on #735
Well theres a big difference between bparent and folder style track groups,
so we need to decide on that. For BB patterns I can see making alt version
the child of the base, but in other cases/in general I feel a folder/group
style is more flexible. It might look really odd, but what if we squished
all the tracks in a group into the vertical space of the groups (same as a
regular track I'm thinkin

[2015-01-06 10:55] softrabbit commented on #1552
What about:
* change line 373 to: `SET(CMAKE_C_FLAGS_DEBUG "-DLMMS_DEBUG -O0 -g")`
* add similar `CMAKE_CXX_FLAGS_DEBUG` settings (`-DLMMS_DEBUG` in it seems to break the build ATM, but the rest seems OK, at least on GCC)
* inform more about how to build debug versions, as of now the `-DCMAKE_BUILD_TYPE=Debug` option is only mentioned in the Apple-specific compile instructions. Maybe a dedicated W

[2015-01-06 11:18] Spekular commented on #735
Here's an idea for an open group where the group track disappears and only the children are visible. Clicking the (ugly mocked up) label would close it.

[2015-01-06 11:36] Spekular commented on #735
Here's a much better idea and a much better mockup for open track groups:
![open track group better](https://cloud.githubusercontent.com/assets/8918426/5627958/938308e2-95a0-11e4-8621-23ebc1650dd4.png)

[2015-01-06 11:47] Lukas-W commented on #1552
Ooops, accidentally assigned myself...

As I wrote on the mailing list, it should be enough to remove `-O2´ and ´-g´ from lines 371 and 372. As far as I know, CMake automatically adds the `-g` option for debug builds. I don't know about what optimization flag CMake chooses for release builds though.

[2015-01-06 11:49] Spekular opened #1562 "Drag & Drop Deletion of Patterns"
Being able to drag and drop a pattern from the song editor to outside the track area/outside the window area would be an intuitive way to delete patterns imo. Alternatively (as patterns seem to ignore vertical dragging), patterns could be dragged up/down past a certain limit and dropped to be deleted (with a visual cue like fading out to communicate this limit/the "impending deletion" to the user)

[2015-01-06 12:11] curlymorphic commented on #735
Im liking the indentation, very clean.

Yep, that is one of the fundamentals

This sounds cool,

[2015-01-06 12:59] curlymorphic commented on #300
Im confused as to whats needed?

are we trying to stop previewing vst instruments, or any instrument with a vst effect on?

[2015-01-06 13:13] tresf commented on #300
Yes.

Not sure about effects.  Probably good to disable them too but for now, disabling the VST instrument  presets would be a big win (or we focus on fixing the underlying crash).

-Tres

[2015-01-06 13:17] musikBear commented on #1001
FYI in the vst version of zyn they have added a new button "Update Banks"
(This vst version btw also have fixed the crash when instruments based on AbSine (and one more i cant remember.. ) wave-shape is opend
I hoped i could use this feature, to manage *that* problem, but the VST-saved zyn-instruments, reverts to default when loaded in lmms)

[2015-01-06 13:18] tresf commented on #1562
... sounds like something an Apple user would say.

Just remember, if you want to drag-to-nowhere delete, you should propose it everywhere... :+1:

Android does this for its launcher icons, they can be "tossed" in the direction of a recycling bin.

That said, I don't know if this has much value on a mouse/keyboard GUI, so I would vote to shelve this idea until if/when we get a more touch-centric i

[2015-01-06 13:18] curlymorphic commented on #300
I cant reproduce a crash, but i do end up with orphaned vst effects.

Can someone test to see if this crash is still reproducible with master please?

[2015-01-06 13:19] tresf commented on #1562
Also, this "trash a pattern" idea is generally something that works with undo, which doesn't currently work for song editor patterns.

[2015-01-06 13:22] tresf commented on #300
If you are on Linux, Wine may be handling this better.  In this case, we may have to make a Windows installer to reproduce the actual crash.

[2015-01-06 13:26] tresf commented on #1001
Unlikely.  It's more likely that they use a different toolchain to build their binaries which is compatible with XP.  We aren't going to change our toolchain for this bug so please let this specific bug rest.

Why use the VST version of Zyn when we have it native already?  Upgrade your OS please.

Again, please use the built-in version.  Features, bugs or otherwise in the VST version do nothing to

[2015-01-06 13:29] tresf commented on #1552
Or we just fix this debug flag as Lukas outlined?  We should be able to query a CMAKE variable and set these at configure time.

[2015-01-06 13:31] Spekular commented on #1562
@tresf the dragging up/down + fade was inspired by my android phone/the
youtube app where you swipe to kill programs/close videos. The drag drop
thing was just something I thought of while using a touchpad, since it's a
pain to right click and select delete.

[2015-01-06 13:37] tresf commented on #1562
That makes sense, although the entire software interface is pretty bad on a touch interface currently, so again, I think we shelve ideas like this until if/when we can make the interface more touch friendly as a whole. :)

[2015-01-06 13:39] tresf commented on #1488
:+1: :+1:

[2015-01-06 13:39] Spekular commented on #1562
@tresf Maybe we add a master "touch enhancements" issue similar to midi
support and close out some issues?

[2015-01-06 13:40] tresf commented on #1562
If you can find enough to justify such a thread, sure.  I'm not sure we have that many.  Tag them here if you find them and we can consider consolidating.

[2015-01-06 14:12] Sti2nd commented on #1488
The proposal will allow this indeed, but it needs to be coded first :)

[2015-01-06 15:37] diizy commented on #1350
On 01/06/2015 01:10 AM, Dave wrote:

This should be postponed for 2.0.

[2015-01-06 15:41] diizy commented on #735
On 01/06/2015 03:35 AM, Dave wrote:

Better not for now. There's so many changes in track functionality
scheduled for 2.0, it's not really a good idea to start messing even
more with them right now. It'll be much easier, all things considered,
if this is handled after all the other track changes have been done and
stabilized.

[2015-01-06 16:00] tresf commented on #735
Since these things can be moving targets, will there be a point where you think collaboration on this will be viable, or is this something you'd rather tackle yourself?  Furthermore, to support Dave's offer of help...  is collaboration possible on any items in 2.0? (Yes, I understand this is a bit of a loaded question).

[2015-01-06 17:55] softrabbit commented on #1552
I'm reading the favored proposal as "disable optimization in the default build settings, but don't add debug info unless explicitly asked". What I'm aiming for is "optimize as before by default, but disable optimization if debug is selected".

(I had a look, and it seems like CMake (2.8.12.2) really doesn't add any `-O` on its own (i.e. no optimization by default if the `-O2` is dropped). And the

[2015-01-06 18:05] badosu commented on #1552
@softrabbit I agree with you.

[2015-01-06 19:01] tresf commented on #1552
I think that was only an interim solution until we've fixed CMakeLists.txt, no?

[2015-01-06 19:02] Sti2nd commented on #1562
Hmmm, if we didn't already have so easy shortcuts from before, Shift + Right click or Middle click, yes it could be something. Then my thinking goes on about autoscroll https://github.com/LMMS/lmms/issues/1523 which couldn't coexist with this feature, which again makes me say no to this.

Again. Shift + right click works in LMMS 1.1.0
Probably tag invalid?

[2015-01-06 19:05] Sti2nd commented on #1001
I have experienced this, one time... Can not reproduce, Zyn remembers in 1.1.0.

[2015-01-06 19:11] tresf commented on #1562
Normally yes, but I'll let @Spekular decide whether or not to close.  He's started coding his own features, so I feel he's well qualified to make this determination himself! :+1:

[2015-01-06 19:33] diizy commented on #735
On 01/06/2015 06:00 PM, Tres Finocchiaro wrote:

Yes. The lmms2 branch is public and pull requests can be filed to it
like in any other branch. It's just the current state of the branch is a
bit chaotic, there's lots of unfinished plumbing work going on which
means a lot of functionality is temporarily disabled right now.

When things stabilize a bit, it'll hopefully become a bit more orderly
and

[2015-01-06 19:33] Lukas-W commented on #1552
I tested it and CMake does select `-03` for release builds, and `-g` and no optimization for debug builds. Everything fine the way I suggested it.

[2015-01-06 20:02] softrabbit commented on #1552
I'm not talking about release builds, I'm talking about the defaults you get when not selecting any build. That's how e.g. Ubuntu builds LMMS, quite a few `-O2 -g` lines in there:
https://launchpadlibrarian.net/185589092/buildlog_ubuntu-trusty-amd64.lmms_1.0.0%2Bstable-0ubuntu1_UPLOADING.txt.gz

OK, no problem if the info gets out well in advance that the default settings will become a lot worse (

[2015-01-06 20:56] badosu commented on #1552
@Lukas-W If it's working we may send a PR.

Do you wanna make it?

[2015-01-06 21:14] tresf commented on #1552
I agree with @softrabbit, I feel we should expect people are building for release and optimize those defaults and have debug reverse those optimizations (If I'm reading this all correctly, feel free to tell me to shut up at any time) :)

[2015-01-06 21:27] Lukas-W commented on #1552
Of course there are, because with our current CMakeLists.txt you can't even turn them off. That's the main problem I see.

Then let's make release the default build type. ;)

[2015-01-06 22:07] #1552 closed

[2015-01-06 23:59] Sti2nd commented on #1239
No, he means TCO/segment/pattern in Song Editor

[2015-01-07 00:10] Sti2nd opened #1564 "Store lmmssrc outside user folder?"
Wouldn't it be better to store it inside the user folder?
![image](https://cloud.githubusercontent.com/assets/6373430/5638630/f66f4150-9609-11e4-8fc1-22f935433d18.png)

[2015-01-07 00:26] Lukas-W opened #1565 "Travis build fails on Nescaline"
[code]

Surrounding code in [`Nes.cpp`](https://github.com/LMMS/lmms/blob/master/plugins/nes/Nes.cpp#L379):
[code]

`NOISE_FREQS` is an array of length 16.

[2015-01-07 01:46] curlymorphic commented on #1565
Nice to see travis catch this one.

it is possible that line 379 is accessing the 17 element;

the bound in ln 372 clamps the index to 15, the 16 element.

the ++freqN increments before using, so using the value of 16 as the index, that would be the 17th element;

i'm being nosy, what's changed for travis to pick up on this now?

[2015-01-07 02:32] tresf commented on #1565
Seems to be some code differences between master and stable-1.1, perhaps the cause?

For example, this offset seems to be missing from stable.  Perhaps @diizy hasn't synced some changes?
https://github.com/LMMS/lmms/blob/master/plugins/nes/Nes.cpp#L573

[2015-01-07 03:07] tresf commented on #1564
I don't like this because I want `lmms` to be portable, and carrying around a platform-specific config file everywhere my folder goes is bad news.

[2015-01-07 03:08] tresf commented on #1564
Actually, can you explain what single thing you feel is better about this proposal?

[2015-01-07 03:18] tresf commented on #1496
:+1:

[2015-01-07 03:18] #1496 closed

[2015-01-07 04:24] diizy commented on #1565
On 01/07/2015 04:32 AM, Tres Finocchiaro wrote:

No, that's not supposed to be in stable.

[2015-01-07 04:33] StakeoutPunch commented on #735
@tresf I dunno what you meant about me focusing on automation tracks, I wanted any and all tracks to be able to be grouped.

[2015-01-07 09:25] Lukas-W commented on #1096
Closed via #1546

[2015-01-07 09:25] #1096 closed

[2015-01-07 10:32] Sti2nd commented on #1564
Oh, that makes sense. I should probably asked about this on the mailing list instead, I wanted to know why it is stored outside.

[2015-01-07 10:32] #1564 closed

[2015-01-07 12:27] Khomkovm opened #1567 "Vestige dont work in linux mint 17"
![2015-01-07 15 17 14](https://cloud.githubusercontent.com/assets/10434650/5645499/043706b6-9681-11e4-8e35-e22da8a760cc.png)

Vestige dont work in linux mint 17, 17.1, etc.
Wine has been installed before.
Why?

[2015-01-07 14:03] badosu commented on #1239
Oh, ok, sorry.

[2015-01-07 15:01] Sti2nd commented on #1239
musikBear in combination with stuff with no names, I can see why you were confused :bear:

[2015-01-07 15:56] badosu commented on #1239
Confirmed, pasting accurate image: the black patterns touched by selection should present some kind of highlighting.

![2015-01-07-134937_1920x1080_scrot](https://cloud.githubusercontent.com/assets/347552/5648346/f85c7bc0-9674-11e4-85cb-dee37c19edb1.png)

[2015-01-07 16:34] tresf commented on #1567
Sorry, perhaps I was unclear.... Your platform of choice is terrific to use, we just don't package LMMS ourselves for it.  Someone else does that.  This is most common in the Linux world.  We do package the Windows and Mac versions because they can be run on nearly any Windows/Mac versions.  Linux packaging is usually specific to the Linux version you run.  For now, we don't package our Ubuntu/Deb

[2015-01-07 16:54] falkTX commented on #1567
If you're using the KXStudio repositories, make sure "lmms-vst-full" package is installed.
And also that you have a working Wine.

Not much that I can say, lmms + vestige still working fine here.

[2015-01-07 17:13] diizy commented on #1565
Ok I really don't see why this is suddenly failing - there hasn't been changes in the code for a while, especially not in that part of the codebase. Have we changed some settings or compiler flags in Travis?

FYI - there's no way for the array to actually be out of bounds here (that I can see) since the pointer is incremented only when wlen == 0, and wlen can't be 0 if freqN is last because wlen d

[2015-01-07 17:52] curlymorphic commented on #1388
The blanking of pattern name, is that to only happen if copying to another track, or if copying to same track aswell?

[2015-01-07 17:55] Khomkovm commented on #1567
Thanks falkTX, tresf, everything is working fine now.
The problem was in lack of "lmms-vst-full".
That is great, thank you! I truly appreciate all your help.

[2015-01-07 18:06] badosu commented on #1567
The same happens on Arch, you have to get `lmms-vst` or `lmms-git` from AUR to get lmms with VST support.

[2015-01-07 18:16] tresf commented on #1567
@badosu can you confirm this command so that we can add it to our downloads page.

[code]

[2015-01-07 18:21] curlymorphic commented on #1565
Not sure if this is related, but i just done a rebase on master, and travis passes it fine on my fork.

[2015-01-07 18:26] badosu commented on #1565
@curlymorphic Mine is up to date as well and is failing.

[code]

See: https://github.com/LMMS/lmms/pull/1568

Maybe it's something related to this commit? https://github.com/LMMS/lmms/commit/13357e57c43644cb82413da2d2abac3da1fe4f51

[2015-01-07 18:32] badosu commented on #1567
@tresf AUR is user repositories for Arch, so it's not available via `pacman` by default.

The user must install a pacman wrapper, see [this list](https://wiki.archlinux.org/index.php/AUR_helpers), or enable the `community` repo for pacman.

In my case I use [yaourt](https://wiki.archlinux.org/index.php/Yaourt) so my command is `yaourt -S pacman-vst`.

[2015-01-07 18:33] tresf commented on #1567
[code]

Is this a typo for:

[code]

[2015-01-07 18:34] badosu commented on #1567
It is, sorry : ).

This should be fixed in the future, see: https://bugs.archlinux.org/task/41302

[2015-01-07 18:35] badosu commented on #1567
Anyway, I guess we can close this one, right?

[2015-01-07 18:36] Sti2nd commented on #1388
I must take if for granted you mean when it is the default name (name of the instrument). Only between different tracks. No point in deleting the default name copied in the same track as it doesn't show anyway, and as Tres explains it can be useful that the instrument name is there.

I wonder if it would make sense that the copied patterns take the name of the instrument you are copying... Actuall

[2015-01-07 18:36] badosu commented on #1567
@tresf Instead of changing the pacman command, just point the user to https://wiki.archlinux.org/index.php/LMMS where the issues are described.

[2015-01-07 18:48] tresf commented on #1567
@badosu, thank you kindly.  Done via https://github.com/LMMS/lmms.io/commit/84c47bcd7011942a164bf9ca70fb37ac8251d2d7

Direct links to the page content:
http://lmms.io/download/#linux-arch
http://lmms.io/download/#linux-debian

Please let me know if you find any errors.

[2015-01-07 18:48] #1567 closed

[2015-01-07 18:48] badosu commented on #64
@Coppolaemilio Since the issue with the notes appearance has been improved, and the "hand" idea probably is not going to be accepted: do you think we can rename this issue title and description to be about the min-width of the piano roll window?

[2015-01-07 18:54] tresf commented on #1388
Hard to explain so I'll give some use-case examples.

Scenario 1: Don't use the default name.

 * First instrument track called "TripleOscillator"
 * Second instrument track called "Nescaline"
 * Make new Piano Roll segment in TripleOscillator
 * Copy to Nescaline, it now has the name "TripleOscillator".  This is **NOT** desired.

---

Scenario 2:  Do use the custom name.

 * First instrument trac

[2015-01-07 19:12] badosu commented on #1567
@tresf Great! Thanks!

Just be aware that you used a `h3` probably where it would be better to use a `h4` as the VST support section is related to the Arch instructions..

[2015-01-07 19:17] Coppolaemilio commented on #64
I think it's better to close this issue and create a new one instead, otherwise it will be super messy. Thanks!

[2015-01-07 19:17] #64 closed

[2015-01-07 19:47] Sti2nd opened #1569 "Context menu for notes in Piano Roll"
Placeholder for ideas, feel free to comment and edit.

Actions
* Mute
* Detune
* Razor / Glue https://github.com/LMMS/lmms/issues/746
* Put to the background/place behind (when notes overlapping)
* Delete all notes behind (all overlapping notes on the same note label)
* Show information?

Information?
* Note label (C4, G#4/Ab4)
* Note duration/lenght
* Note velocity/volume
* Note panning value

[2015-01-07 19:53] badosu commented on #1239
@musikBear @Sti2nd I submitted a PR that should fix this issue, see above.

[2015-01-07 20:01] badosu commented on #1255
@tresf Can we close this one? #1506 was merged.

[2015-01-07 20:09] Sti2nd commented on #1239
I saw it, it looks perfect :)

[2015-01-07 21:24] #1239 closed

[2015-01-07 21:31] tresf commented on #1255
:+1:

[2015-01-07 21:31] #1255 closed

[2015-01-07 21:33] tresf commented on #1567
@badosu yeah, I went back and forth between `<h3>` and `<h4>`.  `<h4>` didn't look right either... :confused:

[2015-01-07 21:42] badosu commented on #1567
@tresf It's cool

[2015-01-08 01:33] M374LX opened #1571 "Completely wrong sound"
After loading a project, the sound output is sometimes completely wrong. The tempo also seems to be higher than what is set in the song editor. When this happens, even trying to restart LMMS does not fix the problem.

Unpredictably, everything sometimes goes back to normal. In other cases, the program crashes.

May this be caused by an uninitialized variable?

The tests were done in a x64 system.

[2015-01-08 01:38] tresf commented on #1571
Yes, I've experienced this too, but it's too random and unpredictable to know the cause.  In my case, changing the sound driver and/or rebooting seems to fix it.  If we can reproduce it, we can certainly start debugging it. :confused:

[2015-01-08 03:51] tresf commented on #1565
Yes, but it is version specific per:
https://github.com/LMMS/lmms/blob/master/CMakeLists.txt#L366

Travis shows it only failing for Windows though, perhaps we just need to add it to [`./build_mingwXX`]( https://github.com/LMMS/lmms/blob/master/build_mingw32#L6)

-Tres

[2015-01-08 04:51] #1565 closed

[2015-01-08 04:54] tresf commented on #1565
I would guess there is slightly different mingw32/64 behavior processing the build parameters between the old method versus the new in terms of `Release` and `Debug` flags.  So for now, I just force the `-Wno-array-bounds` on all Windows builds, which seems to get us past the array out of bounds optimizer checks.

[2015-01-08 08:07] mqbaka02 opened #1575 "drumkit"
what about drumkits?

[2015-01-08 08:12] mqbaka02 opened #1576 "LFO speed"
in the LFO controllers it is not really handy to set the speed we aim, its just like a lack of accuracy . It will be quite good if you can fix this

[2015-01-08 08:23] curlymorphic commented on #300
Some progress

@tresf  your if statement was nearly there

	if(dataFile.content().elementsByTagName( "vestige" ).length() == 0 )

is what we needed. But this leads onto another issue, what to do when i know its a vestige?

if i simply dont loadTrackSpecficSettings , then a preview of the last selected previewed track will play.
If there was no last preview then lmms segfaults.

I think the cleanes

[2015-01-08 09:37] Lukas-W commented on #1388
Is there any use for the default track name, i.e. wouldn't it be cleaner to make default names empty?

[2015-01-08 10:00] Lukas-W commented on #1575
What about them?

[2015-01-08 10:00] #1575 closed

[2015-01-08 11:58] Spekular opened #1577 "Replace art without source with remade versions"
The LMMS/Artwork directory is missing sources for a lot of icons, perhaps these could be replaced with remade versions so that we can have a source for them? I've tried recreating the "add_track" icons as an example (The plus is a lot sharper but I can "fix" that if necessary):
![icon grid](https://cloud.githubusercontent.com/assets/8918426/5662165/f1071a6c-9735-11e4-8200-30c5b108cb05.png)

[2015-01-08 12:10] musikBear commented on #1571
never seen that on win32
perhaps that is first excluder -eg this could be a x64 only ??

[2015-01-08 12:17] musikBear commented on #1576
ambigious
*LFO controllers*
Do you mean the dial on the LFO-tab, or the actual LFO widget?

*to set the speed we aim*
What would that be, LFO can be synchronized to speed

(btw i found a method for any dial synchronization, and made a vid on it
https://www.youtube.com/watch?v=cyMroQY31NU

btw2 tech questions are better placed in forum
http://lmms.io/forum/viewforum.php?f=7

[2015-01-08 12:19] Spekular commented on #1576
@mqbaka02

What would you like instead? Also, this isn't really a "fix" since it's working fine, it's more a matter of personal preference.

[2015-01-08 13:29] tresf commented on #300
Hmm... We have the concept of dummy instruments.  A dummy preview/preset may be a good option.

[2015-01-08 14:53] tresf commented on #1576
Please clarify your bug report and reopen.  This sentence doesn't help us fix bugs or add enhancements to the project.

http://www.chiark.greenend.org.uk/~sgtatham/bugs.html

https://developer.mozilla.org/en-US/docs/Mozilla/QA/Bug_writing_guidelines

http://www.softwaretestinghelp.com/how-to-write-good-bug-report/

-Tres

[2015-01-08 14:53] #1576 closed

[2015-01-08 14:54] tresf commented on #1576
@musikBear thanks for the reference material BTW. :+1:

[2015-01-08 14:56] tresf commented on #1571
There could be 1,000 causes.  This is why bug reports shouldn't be vague.  Please reopen this when someone has steps to reproduce and feel free to mention this bug report #1571 in other that you feel may be related.

[2015-01-08 14:56] #1571 closed

[2015-01-08 15:12] tresf commented on #1577
Very nice work!  Wrong project tho, we have LMMS/Artwork for these bug reports.  Please coordinate this with @diizy as he made the majority of the artwork.

Please reopen this on the right project repository! :+1: :+1: :+1:

[2015-01-08 15:15] Spekular commented on #1577
@tresf well it applies here too, since it would require the icons to be
updated. I was also thinking the people here would want to review the
icons. I'll open it in /artwork instead I guess.

[2015-01-08 15:16] #1577 closed

[2015-01-08 15:18] Lukas-W commented on #1577
Actually, the SVG source files are already in the artwork repository.
We could however have Qt load the SVGs instead of the rendered PNG files, that'd make icons scale better.

[2015-01-08 15:28] tresf commented on #1577
Well, yes, every bug report really applies to LMMS/lmms because that's our main project.  Everything we do revolves around the desktop software, but your request is 99.9% about our Artwork repository and 1% about the software.

That's a valid point, but since Vesa made all of these, you should be able to tag him and anyone else you feel needs notification in the other Repo.  I guess this isn't the

[2015-01-08 15:34] tresf commented on #1388
I believe it is fine either way.  Empty is probably slightly better from a usability perspective. i.e.
Preset is called "LowBass.xpf".  Instrument track is called "LowBass".  Pattern is called "LowBass".
 * I rename it to "LowBass Pattern1", I've saved a few keystrokes by having the name pre-populated
 * I rename it to "Main Bassline", I had to hit backspace first.

-Tres

[2015-01-08 15:38] Spekular commented on #1577
@Lukas-W mind linking me to these three? I can't find them in src (where they should be) and I even checked rendered. Searching doesn't show them either...

[2015-01-08 15:42] Lukas-W commented on #1577
They are in those files:
icons1.svg, icons2b.svg, icons3.svg, icons3b.svg, icons4.svg, icons22.svg

Each of those files contains several layers with different icons. For instance `icons2b.svg` contains the BB icon.

[2015-01-08 15:52] #1388 closed

[2015-01-08 15:52] Spekular commented on #1577
@Lukas-w ok. I was just checking to see if any files in
lmms/data/themes/default were missing identically named svg equivalents in
lmms/artwork/src, so I missed that. Any reason they're stored that way?
Wouldn't separat files make more sense and allow for svg diff checking if
they were to get updated/pull requests made?

[2015-01-08 15:54] tresf commented on #1577
Perhaps, depends on how Vesa originally created and edited them.  We could probably put text files in their place if its not obvious.  There's also a chance he planned to make similar buttons all a single pixmap down the road, which is very common for theme engines.

[2015-01-08 17:38] badosu commented on #176
It looks like it's primarily designed for JACK, I could not find any reference for other compatibility layers.

This would be a show-stopper since we allow the use of lmms without JACK.

If this could be ported to LV2 we could include it by default on lmms as soon as LV2 support lands.

[2015-01-08 18:37] Sti2nd commented on #1571
or Windows at all?

[2015-01-08 19:49] M374LX commented on #1571
I experinenced those problems on Linux.

[2015-01-08 19:51] tresf commented on #176
Ok, thanks for looking into this.  I did not examine the code but I was under the impression that if it had enough similarities to ZynAddSubFX, we would have the ability to treat it as a native plugin with some helpers.

[2015-01-08 19:54] badosu commented on #176
@tresf I didn't look really in depth, maybe it is.

[2015-01-08 22:14] SecondFlight opened #1581 "Dynamics processor causes waveshaping, even with the highest possible attack and decay values"
I could be wrong about how the dynamics processor is supposed to work, but as I understand, it should work like a compressor with a custom curve. If you have experience with compressors, you probably know that a compressor will start doing strange things if the attack (or decay) is set to a value that is too short. If you have an attack that is too short, the compressor will change the shape of th

[2015-01-08 22:50] diizy commented on #1577
On 01/08/2015 01:58 PM, Spekular wrote:

No it's not. All the icons you claimed missing are included. They're in
some of the "iconsxx.svg" files.

[2015-01-08 23:01] diizy commented on #1577
On 01/08/2015 05:18 PM, Lukas W wrote:

Yeah, we already have the ability to use SVGs in LMMS, just it hasn't
been really utilized yet. It probably won't matter with most of the
icons (I've scaled/rendered them in a way that makes the bitmaps not
need to be scaled when used) but could be useful in some things, like
the BB-editor steps.

[2015-01-08 23:02] diizy commented on #1577
On 01/08/2015 05:55 PM, Tres Finocchiaro wrote:

I was just lazy and uploaded the original SVGs to the repo as-is...

[2015-01-08 23:24] diizy commented on #1581
On 01/09/2015 12:14 AM, SecondFlight wrote:

Flaw, just one of many in the DP design. Others including the linear
scale of the wavegraph (but that requires compat-break to fix so must be
done in 2.0).

This particular problem however is caused by the envelope-following
code... I sort of know how to get it right, I just haven't had the time
to fix it properly.

[2015-01-08 23:28] SecondFlight commented on #1581
Ah, okay. I guess I won't use them in this project then. I'm trying to do multiband compression with dynamics processors, and they really mess up the sound. :3

[2015-01-08 23:45] SecondFlight commented on #1581
It does seem to work alright for straight lines though.

[2015-01-09 00:44] tresf commented on #1577
So @Spekular if you wish to rename them or put some note about them, feel free. :+1:

[2015-01-09 01:32] tresf commented on #1539
Closing as wontfix per popular vote in #1540 due to the time needed to do this and the value (or lack there of) it would add to the project.  Feel free to reopen or reference at a later time.

[2015-01-09 01:33] #1539 closed

[2015-01-09 04:06] RebeccaDeField commented on #880
Hi Everyone,

I just wanted to give an update. I am excited for 2015 because I have a lot more time to work on this and already have been able to spend numerous hours getting the icons done in the days that have already passed. I am going to be taking a look at the code to see what I can do, but my coding skills are limited. I noticed a file in the themes folder and asume that is the file that I n

[2015-01-09 04:33] diizy commented on #880
On 01/09/2015 06:06 AM, Rebecca DeField wrote:

styles.css defines the css code for the theme. The syntax is mostly just
basic css which is very easy, you can pretty much learn it from example
and by trial & error.

[2015-01-09 04:56] RebeccaDeField commented on #880
Thanks for the info dizzy, that is what I thought. :)

[2015-01-09 05:08] tresf commented on #880
@RebeccaDeField if you have any problems with the CSS or what it means, in addition to Vesa (diizy) who is the most knowledgable, you can feel free to also tag myself, @mikobuntu, @Umcaruje.

I'll also go out on a limb and say @DanWin and @curlymorphic could help out too.

The reason I mention this is that not all people are subscribed to this bug report by default, so knowing who to ping on this

[2015-01-09 12:50] liftarn commented on #1471
Would it be possible to do drag and drop of samples between tracks?

[2015-01-09 13:07] badosu commented on #1471
I just don't understand why we have track samples if an AudioFileProcessor is much more versatile and integrates better with the LMMS environment.

Is there any advantage in using a Sample track compared to AudioFileProcessor?

[2015-01-09 13:42] tresf commented on #1471
Most people are already using AFP.  I think the main advantage is multiple samples per track, which AFP doesn't really allow.

-Tres

[2015-01-09 13:47] badosu commented on #1471
It's difficult, because today the only kind of sample treatment that I am aware of can be done natively by lmms is using AFP, things like slicing etc...

But these features are somewhat orthogonal with how AFP is designed today.

Maybe Sample Tracks will be useful in the future if we are able to add these features?

[2015-01-09 13:53] tresf commented on #1471
Right...

I tend to agree with your original statement... Reuse AFP at all costs. (or subclass it).  But that's a very high-level hypothetical wish.  I can't speak to the complexity of the implementation.

One thing is that AFP has some features which would almost certainly have to be disabled for SampleTrack, such as loop points, and probably most of the envelope features.

[2015-01-09 13:57] badosu commented on #1471
Yeah, sorry for digressing a little, I just wanted to understand what is the role of Sample Track on LMMS today. This is relevant to plan how to enhance it.

[2015-01-09 14:13] Sti2nd commented on #880
Or just make a new folder anywhere and go to settings-->paths and select the new artwork folder

[2015-01-09 14:15] tresf commented on #1471
Absolutely.  I don't see any digressing here.  Part of solving a problem is understanding it, and I'm a huge proponent of that! :+1:

When it comes to solving this problem, I think we'll be faced with two approaches (improve SampleTrack versus extend AFP).  Since basic wave editing is critical to sample track implementations in all DAWs, I would say AFP if the place to be. :)

[2015-01-09 14:15] Sti2nd commented on #1471
Of course it is, they are fundamental different, you don't use a Sampletrack for a drum kick, and you don't use AFP for a one minute long audio file.

[2015-01-09 14:37] tresf commented on #1471
Speak for yourself please. :wink:

[2015-01-09 14:46] liftarn commented on #1471
I often use sample tracks for beats I have made earlier. It is a bit tedious to copy one beat across an entire track. I tried to use AudioFileProcessor for it, both in piano roll and the beat editor, but I couldn't get them to line up correctly.

[2015-01-09 14:50] Umcaruje commented on #1471
Also Sample Tracks can be used to consolidate(resample) your instruments. You take and Render your CPU-heavy instrument, and import it back as a sample track, thus reducing CPU usage. It's be wierd to use AFP for that.

[2015-01-09 15:04] tresf commented on #1471
Well, we're talking functionally.  AFP can do exactly as you are describing, it just requires the use of a Piano Roll and is limited to a single sample per track.  Yes, it is weird, but what you are describing is how I've chosen to use long samples anyway.  Without the standard FX assignment, you can't EQ or add compression to lengthy recordings.

I think what you are referring to is the Song Edit

[2015-01-09 15:08] tresf commented on #880
:+1:

:+1:

Thanks for offering your help Stian. :+1:

[2015-01-09 15:09] LandonPowell commented on #1576
I believe he's saying the knobs rotate too quickly. They're much too sensitive when using the mouse. About three pixels of mouse-movement would jerk the knob from one extreme to the other. Personally, I've resorted to double-clicking on the knobs and typing in an exact amount.

[2015-01-09 15:12] LandonPowell commented on #880
That beat pattern looks sick. I'd recommend some octagonal buttons for play/pause/stop. as well as removing the yellow and red from the CPU and slider. This should keep things more uniform.

[2015-01-09 15:12] tresf commented on #1576
I have this same problem when recording automations myself, the wheel is not accurate enough... Although automation recording is a relatively new feature, so I wouldn't have has such a problem previously.

I think we need a modifier key on the keyboard which allows finer knob adjustments, or a pop-up widget slider that can be used to fine-tune these things...

[2015-01-09 15:16] Umcaruje commented on #1471
Because of these limits I use AFP too, but @badosu asked about the point of Sample Tracks, so I said what they can be used for :) I hope they will get more features soon and become worthy using, but I agree that in their current state they are mostly useless.

[2015-01-09 15:25] tresf commented on #1471
Not trying to nitpick here, but he asked in comparison to AFP.  You're example works fine with AFP, minus the weirdness. :turtle:

-Tres

[2015-01-09 16:50] badosu commented on #880
@RebeccaDeField This update looks so cool! I would love to help, but I guess we would have to harmonize the current buttons dimensions to make it more suitable. Maybe it's a matter of preference but I have difficulty as they are so small.

[2015-01-09 19:10] badosu opened #1584 "Crash when moving mixer channels to left/right"
Sometimes you are able to cause a Segmentation Fault when using the "Move Right"/"Move Left" functionality on mixer channels.

I was not able to identify how to reproduce this error deterministically, but you should be able to trigger this just moving nearby channels at the rightmost part of the mixer.

The backtrace shows that this is the offending line: https://github.com/LMMS/lmms/blob/40438689

[2015-01-09 20:20] tresf commented on #1584
#1545

[2015-01-09 20:49] badosu commented on #1584
@tresf I don't know if this is exactly the same bug. But may be

[2015-01-09 21:28] tresf commented on #1584
Yeah, I just wanted to link them in case they are.  I should have put a contextual message with that tag. :rooster:

[2015-01-09 22:32] Lukas-W commented on #1584
Same issue as #872

[2015-01-09 22:49] tresf commented on #300
Closed via #1587

[2015-01-09 22:49] #300 closed

[2015-01-10 02:11] tresf commented on #1261
I'm closing this since @DeRobyJ is fine with just doing a pull request instead.  Feel free to submit a pull request with presets you feel should go in.  I'll tag a few testers in it for feedback prior to merging.

-Tres

[2015-01-10 02:11] #1261 closed

[2015-01-10 02:12] tresf commented on #1274
@cubician, still want to work on this?

-Tres

[2015-01-10 02:13] tresf commented on #1249
Closing per #1490.  Please reopen if you feel this bug was closed in error.

[2015-01-10 02:13] #1249 closed

[2015-01-10 02:16] tresf commented on #1515
@unfa I finally watched the video.  This is quite comical (sorry!).

But Amadeus offered to look into this and you never gave him instructions to reproduce.   It is also the only report of this happening.  This will be closed in a few days if no one else can reproduce it.

[2015-01-10 02:17] tresf commented on #1233
Closing since no one has been able to reproduce.  Please reopen if you feel this was closed in error.

[2015-01-10 02:17] #1233 closed

[2015-01-10 02:18] tresf commented on #1194
Closed via #1476.

[2015-01-10 02:18] #1194 closed

[2015-01-10 02:26] tresf commented on #1124
Tried to reproduce on Apple to no avail.  This may be a windows-only bug or it may be fixed.  @musikBear I'm closing it out for now, but please reopen if you can still reproduce.

[2015-01-10 02:26] #1124 closed

[2015-01-10 02:28] #1544 closed

[2015-01-10 02:28] tresf commented on #1190
Closed via #1555.

[2015-01-10 02:28] #1190 closed

[2015-01-10 02:28] tresf commented on #1090
Closed via #1555.

[2015-01-10 02:28] #1090 closed

[2015-01-10 02:30] tresf commented on #1150
Closed via #1505

[2015-01-10 02:30] #1150 closed

[2015-01-10 02:32] tresf commented on #1018
@HDDigitizerMusic come back and finish this pack. :(  Closing.

[2015-01-10 02:32] #1018 closed

[2015-01-10 02:34] tresf commented on #1066
Sounds similar to #1124.  Can anyone reproduce this on latest master?

[2015-01-10 02:35] tresf commented on #1110
Bumping to 1.3 because Vesa said we could. :)

[2015-01-10 02:36] tresf commented on #1008
@Umcaruje do you have the ability to do an interim Windows build to see if #1049 fixes this?

[2015-01-10 02:39] tresf commented on #856
Closed via #856.

[2015-01-10 02:39] #856 closed

[2015-01-10 02:42] tresf commented on #562
Bumping to 1.3 (really 2.0) since it will get lost in 1.2. :pizza:

[2015-01-10 05:40] HDDigitizerMusic opened #1589 "Update On The New Sample Library Project"
Hello All,

Popular artists, Markus Hakala, Subaqueous and Deficio have recently replied in email. They have confirmed that the samples they are letting LMMS use in its upcoming sample library are 100% free. They will let anyone use the samples in the library as long as we give them credit in the program's about area. I asked the artists if we could put the samples under CC0, and I linked to the l

[2015-01-10 07:46] Spekular commented on #1589
Excellent news!

[2015-01-10 11:16] Sti2nd commented on #1576
I think that is a great idea. When connected to an automation track and recording the knob could go through two decimals for example, and else only one or none. Ideally both cases could be user definable. I am for example really annoyed about having to use a lot more time to set volume to 50.0/51.0 percent than before when dragging, because of the decimals.

[2015-01-10 11:26] Sti2nd commented on #1471
Apparently Tres' description of how he uses AFP is also a workaround for the lack of functionality in Sampletracks. It would be easier to understand the difference if you didn't explain how you potentially could use AFP for the same as a Sampletrack with more effort, Tres :) I get that as of now there isn't really so much benefits of using a Sampletrack, and thus AFP integrates better as of today

[2015-01-10 12:48] curlymorphic commented on #1502
@crank123

Where abouts do you see this? , im on linux so trying to do this blind :)

[2015-01-10 13:00] curlymorphic commented on #1345
How about an LedCheckBox, or do we already have link/unlink icons. in thinking about ui consistency?

[2015-01-10 13:07] Sti2nd commented on #1589
And provide proof please. I don't see why these answers cannot be public :)

[2015-01-10 13:09] grejppi commented on #1589
Good to see you back. They have been waiting for you.

* https://github.com/LMMS/Samples/issues/10
* https://github.com/LMMS/Samples/issues/15

[2015-01-10 13:17] Umcaruje commented on #1589
Some Bad news for you though:

Due to your inactivity, your push access to the repo was revoked. If you have a valuable explanation on why you avoided any kind of communication for 5 months, I'd vote you perhaps get it back (Not sure what are @StakeoutPunch's and @Sti2nd's thoughts on this).

Also please provide proof that these emails exist, its not that I don't trust you, but I really don't.

[2015-01-10 13:29] tresf commented on #1589
Welcome back.  Looking forward to regaining the momentum we had before.

[2015-01-10 13:32] Sti2nd commented on #1345
Depends where you want it? I think it could become very little space in the instrument track if both a new LED and indention is going to be a reality https://github.com/LMMS/lmms/issues/735
![image](https://cloud.githubusercontent.com/assets/6373430/5691731/6ea0cab8-98d5-11e4-819f-a74abd8e23f9.png)

[2015-01-10 13:37] curlymorphic commented on #1345
I was more refering to this mock up from tres , sorry should have said that

![image](https://cloud.githubusercontent.com/assets/7412852/5691736/6f76fc62-98cd-11e4-9e71-7067a06383fe.png)

[2015-01-10 13:58] Umcaruje commented on #1008
Yeah, will do. master branch, right?

[2015-01-10 14:06] tresf commented on #1502
Here you are: :)

![image](https://cloud.githubusercontent.com/assets/6345473/5691829/cf5992f0-98a7-11e4-8858-fcff4b396d0a.png)

[2015-01-10 14:07] tresf commented on #1502
P.S. @curlymorphic some of these bug reporters don't sign back in or the email goes gets flagged as promotional/spam and they simply don't see it, or not for a while at least.

For the windows-only bugs, feel free to tag **`@Sti2nd @StakeoutPunch @Umcaruje`** or **`@SecondFlight`**.  I know I missed a few here, but you get the point. :snowman:

[2015-01-10 14:08] softrabbit commented on #1345
Can't say I have a better place for it, but a button next to (and grouped with) the pitch knob and range selector looks to me like it would turn off the instrument pitch bending and not just ignore master pitch.

[2015-01-10 14:11] tresf commented on #1471
6 now, have a dozen later, I'm not sure what you are driving at.  A feature is a feature.  Mind that I also examined the sample track code and tried to fix a few bugs.  I'm not firing off a wish list here, this is deductive problem solving and the question "WHY NOT USE AFP INSTEAD" is completely valid.  non one is saying I want AFP functionality in the GUI, so don't think we're trying to candy coa

[2015-01-10 14:19] tresf commented on #1345
Good point.  Can we have Green (inherited) Yellow (non inherited) and Off/Red (disabled) ?

[2015-01-10 14:23] tresf commented on #1211
Closed via #1590

[2015-01-10 14:23] #1211 closed

[2015-01-10 14:23] tresf commented on #1008
:+1:

[2015-01-10 14:25] #888 closed

[2015-01-10 14:26] Umcaruje commented on #1008
Well, just got an error with gigplayer while compiling:
[code]

I'll probably make an issue later, gonna compile without gig for now.

[2015-01-10 14:26] curlymorphic commented on #1345
Im confused, i dont understand the inherited state.

I though an instrument was to follow global pitch or not, I obviously am missing something?

[2015-01-10 14:32] tresf commented on #740
Closed via #1563

[2015-01-10 14:32] #740 closed

[2015-01-10 14:33] tresf commented on #1522
Closed via #1558

[2015-01-10 14:33] #1522 closed

[2015-01-10 14:36] tresf commented on #1345
Yes it should.  @softrabbit's point is that such an LED may be suggestive of enabling/disabling pitch entirely.  I was simply proposing a way to help although we don't really have 3-state LEDs yet... :confused:

[2015-01-10 14:38] tresf commented on #1008
Sounds good.  May be a GCC version-specific issue.

[2015-01-10 14:42] curlymorphic commented on #1345
But i simply dont understand the 3 states? sorry

anyway a quick screenie of what I have

![image](https://cloud.githubusercontent.com/assets/7412852/5691944/c2d98ad8-98d6-11e4-9eca-1de3bfc585fc.png)

Do we need txt? the Led control has no label
Is it in the right place?

[2015-01-10 14:45] tresf commented on #1345
State 1 - Pitch is enabled and inherited from master pitch
State 2 - Pitch is enabled but inheritance is broken from master pitch
State 3 - Pitch is disabled completely

[2015-01-10 14:53] curlymorphic commented on #1345
Now I understand.

Is this a real need though, the disabling of pitch, as pitch is applied on a track by track basis.
I feel a tri state could be confusing, and inconsistent.

[2015-01-10 16:02] StakeoutPunch commented on #880
@badosu The icons she linked earlier are the same dimensions as the current theme's icons.

[2015-01-10 16:08] Spekular commented on #1345
I think a led next to the pitch knob or somewhere in that area is clear
enough as long as it has a hover text explaining it. There also seems to be
room for two leds (vertically), so there could be one for "inherit master
pitch" and one for "enable pitching", both on by default.

[2015-01-10 16:09] StakeoutPunch commented on #1589
I second @Umcaruje. I'm awaiting both the messages you sent and received, verbatim, before I form an opinion.

As @Sti2nd said, we will need to cut these packs down to size. Reviewing and selecting the samples should be carried out by two people for ease of communication (6 people at once is a mess, even with a G doc), with peer review afterwards.

[2015-01-10 16:41] tresf commented on #1345
I feel a tri state could be confusing, and inconsistent.

Good point.  Shall we do green/yellow then?  I still tend to agree with @softrabbit that the "off" indicator is misleading when directly besides those components.

[2015-01-10 16:47] curlymorphic commented on #1345
The only problem with that, iirc is our LedCheckBox's only use 1 color.

[2015-01-10 16:53] tresf commented on #1345
Yes good point... it appears to be hard-coded with the off pixmap.  We can worry about aesthetics later I suppose.

https://github.com/LMMS/lmms/blob/master/src/gui/widgets/LedCheckbox.cpp#L119

[2015-01-10 16:57] curlymorphic commented on #1345
Wll this was done ages ago, except for labeling.

LedCheckBox has no label, or hint text.

If i place a label below the checkbox, there is insufficent space for any meaningful text.

[2015-01-10 16:58] softrabbit commented on #1345
There's room for one more tab in the instrument settings, maybe that should be created and this pitch switch thing could go there?

[2015-01-10 17:02] curlymorphic commented on #1345
well making silly claims like that publicly jolted my brain

![image](https://cloud.githubusercontent.com/assets/7412852/5692351/2a3eea34-98ea-11e4-8738-6b0ad355e61f.png)

thats with mouse over the check box, (sorry screen shot dont show cursor)

A tab just for a checkbox?

[2015-01-10 17:10] DanWin commented on #1008
@Umcaruje GigPlayer wasn't able to build for you, because no one had enabled the windows builds yet. I made a pull request that should fix your issues #1591 But as travis uses ubuntu presice and not trusty, the package is missing in the ppa as it failed to build for precise. If you want to, you can apply my changes by hand and enable building, as long you use the trusty ppa.

[2015-01-10 17:18] Sti2nd commented on #1471
Oh, ok. You were talking code. Yes you could use the same code I suppose, I thought @badosu didn't understand why one would have two different instances/plugins/tracks playing audio files, that is what I tried to answer.

[2015-01-10 17:45] softrabbit commented on #1345
It may sound like overkill, but sooner or later there'll be something else that needs a checkbox or knob that doesn't fit in the other tabs, so why not stake out some territory for expansion. Call it "MISC" or something like that.

[2015-01-10 17:47] curlymorphic commented on #1345
sure

[2015-01-10 17:54] Reaper10 commented on #1379
I tried to use to the Envelope in all setting to try to play long samples and it didn't work.  So just add hold key button so you can play all of the sample without any changing the volume no matter how long it is. this way you can use lfo, filters, cutoff all loop mode buttons and reverse button, Envelope or anything you want so you don't need to the hold the keys down yourself. without needing a

[2015-01-10 18:23] Umcaruje commented on #1008
Ok so here are some builds :
win64: https://drive.google.com/file/d/0B49dcRGtm8vJUzBSRzYza2REUjA/view?usp=sharing

win32: https://drive.google.com/file/d/0B49dcRGtm8vJMllKeGhFSUpyYjA/view?usp=sharing

They do not include Gig player.

P.S. @DanWin thanks for the solution!

[2015-01-10 18:55] Sti2nd commented on #1379
Why didn't you say that??? You are supposed to use SampleTrack to play long sample, but you can use AFP and make really long notes instead.

[2015-01-10 19:01] Sti2nd commented on #1008
Information: I will not download Kontakt for this, someone with Kontakt can test it out please, @radiarc (don't remember his github name)

[2015-01-10 19:04] Reaper10 opened #1592 "Longer envelope support for AFP"
**Edited @tresf 2015-01-10**

from @Reaper10

and from @HGRoyal

and from @curlymorphic

---
*Original post*

I tried to use the Envelope in Envelope settings to try to play a long sample without the volume of the sample  fading away without needing to hold the keys down myself and it didn't work.  So can you just add a hold key button so you can play all of the sample without any changing the vol

[2015-01-10 19:55] Umcaruje commented on #1592
Please do not make duplicates for your own issues. The last one already got closed, what do you think will happen to this one?

[2015-01-10 20:06] tresf commented on #1592
IIRC, the problem with the previous bug report was lack of clarity.  This one is a bit better because he explains what he is trying to achieve, which is all we were asking for.

What it sounds like he wants is just a way to hold a given key on the keyboard without switching back to the piano roll or using a midi device.

So @Reaper10, where would you like this button?  Can you give us a mockup?

[2015-01-10 20:08] tresf commented on #1592
Also, please try to be generic as possible with your requests.  AFP may be where you need it, but this functionality is better sold as a new feature if you can apply it to all of our instrument plugins. :+1:

[2015-01-10 20:14] tresf commented on #1008
Really?  Don't they have a demo?  We don't have many Windows testers, so to flat out state you won't test something without reason is a bit alarming.

[2015-01-10 20:19] tresf commented on #1592
Also, do you want this to happen w/ midi input or mouse input?  I'm a bit confused as to the use case you describe.  Be as specific as possible please.

[2015-01-10 20:22] tresf commented on #1345
Sorry, late to the convo, but I think this is cleaner and less confusing. :+1:

[2015-01-10 20:25] tresf commented on #1471
Right... He's trying to tackle it from a coding perspective.  Something like shortening the sample length for example has already been handled in AFP.  So has the chaining of FX effects, pitch support, FX channel assignment, etc.  When fixing SampleTrack one must stop and ask "how much effort is worth it when we have most of this code already written".

I would like to see AFP operate in dual mode

[2015-01-10 20:48] Reaper10 commented on #1592
I tried to use the Envelope in Envelope settings to try to play a long sample without the volume of the sample  fading away without needing to hold the keys down myself and it didn't work.  So can you just add a hold key button so you can play all of the sample without any changing the volume no matter how long it is. this way you can use LFOs, filters, cutoff all loop mode buttons and reverse but

[2015-01-10 20:55] tresf commented on #1592
Ok...

I finally think I see what you are asking for...

You want a longer envelope hold feature.

-Tres

[2015-01-10 21:00] tresf commented on #1592
I tend to agree, the envelope is useful but often the hold is often too short for long samples.

So next, please create a set of samples of varying length and tell us where the hold breaks.  As far as I can see, the hold's max value on AFP samples is "2".  That's not 2 seconds, so we'll have to determine what it is in actual reference to.  Then we'll talk about what needs to be changed to fix this

[2015-01-10 22:01] Reaper10 commented on #1592
test 1 sample 2:14 held until 1:50
test 2 sample 3:51  held until 3:35
my beat guess

I still want a way to hold a given key on the keyboard without needing to hold, ie just need to push the key and not hold it down to play the long sample.

[2015-01-10 22:10] Reaper10 commented on #1592
Why did you remove my  icon mockup?

[2015-01-10 23:30] Sti2nd commented on #1008
It is huge, at least the last time I downloaded it, and then I never used it... So if no one else really have Kontakt installed I guess I can do it as a backup plan

[2015-01-11 01:03] HDDigitizerMusic commented on #1589
Hello all,

Here was my message to the producers:

Hello,

I just wanted to confirm that the samples you have let us put in the library and or sample packs will be CC0. (https://creativecommons.org/publicdomain/zero/1.0/) If you could reply with your confirmation of this, that would be great.

The samples that you have kindly contributed to LMMS will be under review by the developers so they may o

[2015-01-11 03:48] tresf commented on #1008
If we have to pull teeth for help, forget it.  I'll do the testing.  This VST is important to our users, regardless of the 20 minute burden this may have to download install and verify.

[2015-01-11 03:57] tresf commented on #1589
So we are still promising accreditation for CC0 samples.  This was our original problem.  Do you see the problem with this?  We want to make sure no one is being misled and when you go off on your own drafting these emails, it silos your efforts, don't you think?

We want this to work out... But we also want to be clear about our intentions. :confused:

[2015-01-11 09:50] sgtGarcia commented on #1589
@tresf I think accreditation will be only within LMMS scope, not in produced music, so it is not a bad situation. Or do You think it will be still a problem?

[2015-01-11 10:37] Sti2nd commented on #1589
Actually, HDD has somehow come up with accreditation, but neither we nor the artists we are contacting have claimed they need it.. That is so strange, but I can agree on having them credited in the about section.

@HDDigitizerMusic It would be so much better if you simply had them respond, "yes I agree that my samples is CC0" -_- The only one I am unsure about now, though, is Markus Hakkala

Never

[2015-01-11 10:37] Sti2nd commented on #1589
Yes of course, the samples are now CC0, no accreditation is demanded whatsoever.

[2015-01-11 12:47] Sti2nd opened #1595 "Instrument track activity LED lights when muted"
Shouldn't the LED stay off, and more important, does this means LMMS is actually processing muted tracks?
![image](https://cloud.githubusercontent.com/assets/6373430/5695246/d073ffe0-9997-11e4-80a1-ee3e1b498a24.png)

LMMS 1.1.0

[2015-01-11 13:27] Spekular commented on #1595
I think the led should still flash but in a different color, like light
blue? Disabling processing of muted tracks could perhaps be a checkbox
under the performace options (I like seeing the muted tracks' leds flashing)

[2015-01-11 13:52] Sti2nd commented on #1595
blue?

Why? And that implies still processing each note...?

[2015-01-11 14:22] tresf commented on #1595
Probably a valid request.  Interested to see some more opinions....

[2015-01-11 14:28] DanWin commented on #1206
@tresf Can we close this issue? The feature got merged.

[2015-01-11 14:42] tresf commented on #1589
It is less of a matter of if we can (permissive, courtesy) and more of a matter if we have to (legal, obligatory).  CC0 means we don't legaly have to.  This conflicts with the obligatory promise.  We can make no such promise, we can only offer accreditation as a courtesy.

[2015-01-11 14:59] tresf commented on #1206
@DanWin thanks for the diligence. :+1:

[2015-01-11 14:59] #1206 closed

[2015-01-11 15:03] tresf commented on #1592
For the same reason that the other bug got closed, it's way too confusing and it was the same mockup as used in the closed bug report (and you're copying and pasting your text, which is insulting to those asking questions).

I don't yet think that this is an AFP feature but rather an AFP bug.  If our envelope doesn't allow playing an AFP sample all the way through, we should probably tweak it.  Ca

[2015-01-11 16:01] tresf commented on #1345
Closed via #1593

[2015-01-11 16:01] #1345 closed

[2015-01-11 16:15] Reaper10 commented on #1592
Oh okay are you still going make it so you don't have to hold the keys down to play all of the sample?

[2015-01-11 20:52] crank123 opened #1600 "ALSA shouldn't be default in LMMS"
When using LMMS on Linux using the default settings one large problem is apparent. At any moment the sound can become very very distorted. Sometimes restarting pulseaudio will fix it. Other times you will have to restart the computer. However, switching to SDL will ALWAYS solve this problem. SDL does take up a bit more resources, but it is manageable. I ran LMMS on SDL on a RPI without overclockin

[2015-01-11 20:53] crank123 commented on #1600
#1600 whoot whoot!

[2015-01-11 21:00] diizy commented on #1600
On 01/11/2015 10:52 PM, Gabe Bauer wrote:

Don't use PulseAudio.

[2015-01-11 21:04] diizy commented on #1595
On 01/11/2015 02:47 PM, Stian Jørgensrud wrote:

Yes muted tracks are processed, their FX chains are not though.

[2015-01-11 22:01] crank123 commented on #1600
By default LMMS uses ALSA. Which is the cause of this problem. However, this problem is not apparent when using SDL. But, SDL is not the default.

[2015-01-11 22:47] diizy commented on #1600
On 01/12/2015 12:01 AM, Gabe Bauer wrote:

ALSA works just fine. PulseAudio is the problem. Setup your ALSA backend
to use ALSA directly, instead of letting PulseAudio intercept the output.

[2015-01-11 22:54] tresf commented on #1600
IIRC it already is default on Windows, for similar reasons (the direct sound drivers had bugs that made the startup experience bad for the majority of users)

I see no problem with changing this if it is the general consensus.  I'd like to hear from more people that compose on Linux and see if this would appease the masses.

The solution "don't use PulseAudio" is like telling Windows users not to

[2015-01-11 23:00] diizy commented on #1600
On 01/12/2015 12:55 AM, Tres Finocchiaro wrote:

We can expect a bit more from Linux users than we can from Windows
users. Linux users are generally more tech-savvy and know how to setup
their computers, it's a much more DIY environment.

ALSA works just fine for most people. SDL causes more overhead and is an
additional dependency which not everyone may want to install. Everyone
has ALSA installe

[2015-01-11 23:05] Sti2nd commented on #1592
Yes

[2015-01-11 23:07] tresf commented on #1600
So the argument is a dependency and performance argument?

The performance problems exist identically on all platforms, but in Windows Core Audio just doesn't work 90% of the time.  Fortunately for the proprietary OSs, these SDL libraries are bundled, so the dependency argument is out the Window for those platforms.

It is unfortunate that the very platform our software is built on can't use it OO

[2015-01-11 23:09] tresf commented on #1600
... and from a performance perspective, from what I observe, SDL uses a lot of resources at idle, but performs quite well otherwise.  This seems to be consensus on SDL in general due to the way its engine is written.

[2015-01-11 23:10] crank123 commented on #1600
I completely agree. It preformed well on a Raspberry Pi using SDL. So, we know it doesn't take up THAT many resources.

[2015-01-11 23:13] tresf commented on #1592
Ideally.  I think the envelope should offer some type of functionality like this.

[2015-01-11 23:14] Sti2nd commented on #1600
diizy is right in that because PortAudio is default on Ubuntu (right?) it interferes with Alsa which is default for LMMS. At least that sounds familiar, look at the last Q/A https://lmms.io/documentation/User_FAQ

users.

It is evening out though, linux is starting to become so simple, what a shame...

[2015-01-11 23:15] Sti2nd commented on #1592
I think I have asked this before. How does the hold button work again, cause 1 isn't 100% of the sample!

[2015-01-11 23:20] crank123 commented on #1600
Not every linux user is advanced. If you are new and just want to install LMMS and have it work out of the box than it would make sense to have SDL by default. You want this project to get better right? If your answer was yes than you should do everything in your power to do so. Which, would include making the audio work universally out of the box. If your answer was no than you should have nothin

[2015-01-11 23:21] tresf commented on #1600
Is this a statement or a question?  Have you ever composed on Linux?  If you're saying he's right about the wiki, we can deduct that ourselves, thank you.  Peanut gallery is over to the right.

Is has been this way for years and years.  So has PulseAudio.   PulseAudio pisses off many Linux users, however with its anger it has brought some of the most basic multi-tasking capabilities out of cheap s

[2015-01-11 23:26] crank123 commented on #1600
And, switching to SDL doesn't mean you can't switch back. There is a reason for the settings. That being said, I do like the idea of the simple <code>lmms-nosdl</code>

[2015-01-11 23:26] tresf commented on #1600
... but that said, I do agree with Vesa that the average Linux user is used to this sort of crap.  That's what I'd like to sample the Linux users a bit.  I'd like to know how the community usually configures their system and if the majority of them are already doing this, or if they are utilizing our workarounds in our wiki.

[2015-01-11 23:27] Sti2nd commented on #1600
Statement, but it is a long time ago since I used Ubuntu now, and if I recall correctly they changed sound driver sometime the last five years? That is why I were unsure what sound driver they use now. Talking about Ubuntu.

Oh, so it isn't just a LMMS problem? I agree on that out of the box is the best, so yes, if SDL works on more distros/computers it should be default on linux too

[2015-01-11 23:29] crank123 commented on #1600
Linux users who have used for more than a year are <h6>generally</h6> used to crap like this. But, that is exactly what it is...crap. Users shouldn't be force to go through useless steps to get a single application to work.

[2015-01-11 23:31] diizy commented on #1600
On 01/12/2015 01:20 AM, Gabe Bauer wrote:

Opinions are like arseholes: everyone has one.

It's obvious that this is going nowhere. We've heard your view,
repeating it over and over is not going to change anything. I consider
this issue closed.

[2015-01-11 23:35] tresf commented on #1600
Careful... These are fighting words and Vesa's opinion matters here regardless of whether or not you agree with it.  Furthermore, he does belong on this project.   He's our 2nd most active coder in the history of ever.  (both 2nd and 3rd according to our about dialog). Let's not bite the hand that feeds us now. :)

[2015-01-11 23:37] tresf commented on #1592
@Sti2nd that is the exact issue we're discussing.  Thanks for joining.

[2015-01-11 23:38] diizy commented on #1600
An audio software/DAW is not like a notepad or a browser flash game. It requires some investment and RTFM to get going. That's how it should be. LMMS does not need to be "a DAW for the dummies" and we really need to be careful not to head towards that direction. I've written about the reasons why we should avoid that before on the mailing list, and don't really care to repeat it here...

ALSA is c

[2015-01-11 23:39] tresf commented on #1595
IIRC, what we do now with muted patterns is visually remove the color saturation from them (grayscale-ish).  Would it be reasonable to change the fading LED color when muted?

[2015-01-11 23:47] tresf commented on #1600
I think the creative process appeals differently to all types of artists.  I also feel there is a difference between an "Easy Button" and saner defaults.   This is why I think opinions matter here.  Hopefully we'll get some more feedback about this....

What happens if SDL is not available?  Does it fall back to Dummy Audio, or does it fall back to ALSA?

[2015-01-11 23:53] Sti2nd commented on #1592
That was a questions, I know what the topic was.

[2015-01-12 00:15] Umcaruje commented on #1600
I use ALSA, but I always specify my device. If I leave it at `default` PulseAudio adopts it and the sound becomes crap. As a linux user I don't see why SDL shouldn't be default though. Its the only audio backend that worked out of the box every time, on any platform.

Also, SDL does not take over your soundcard like ALSA. Sure, it is more CPU heavy, but its a relief for people with only one soundc

[2015-01-12 03:09] teeberg opened #1603 "CMake doesn't generate lmms manual page"
I pulled the latest cmake refactoring and tried to compile with the new code. I however get the following during a make install:

    -- Installing: /home/jonas/code/lmms/build/bin/lmms
    CMake Error at src/cmake_install.cmake:60 (FILE):
      file INSTALL cannot find "/home/jonas/code/lmms/build/lmms.1.gz".
    Call Stack (most recent call first):
      cmake_install.cmake:255 (INCLUDE)

I also

[2015-01-12 06:44] StakeoutPunch commented on #1589
If I recall correctly, this was the exact reason this project slowed to a crawl last time. We are aware that the artists responded positively - we have known that for months. However, unless you (@HDDigitizerMusic) are saying that you sent additional emails that clarified what exactly CC0 meant to the artist, and that it could potentially mean NO accreditation later on down the road, then you are

[2015-01-12 06:52] teeberg opened #1605 "Detune mode broken"
Commit 02006f98557526add0dc8f555b9b7cd68ab2fb41 broke the "Detune mode" in the piano roll. You can open the dialog, but it's empty.

[2015-01-12 09:24] Lukas-W commented on #1605
Oh, I thought I'd tested that.

[2015-01-12 09:52] Lukas-W commented on #1605
Nope, works for me. Or are you describing something different?

![untitled](https://cloud.githubusercontent.com/assets/2879917/5701271/09b1e16c-9a49-11e4-8b1d-6492f04ac07a.png)

[2015-01-12 10:05] Lukas-W commented on #1605
Please check if commit 58507c28ecc73469ec37c073c6321124a99a2f85 fixes the issue for you.

[2015-01-12 10:14] softrabbit commented on #1600
Could be that the LMMS ALSA output isn't 100% compatible with PulseAudio. Did a quick test, and on this system it went like this:

* ALSA "default" -> PA: distorted sound
* ALSA -> hw:0,0: OK
* SDL -> PA (not sure if this goes through some ALSA interface as well): OK
* straight to PA: OK

I won't make any guesses at this point whether it's LMMS or PA that's buggy.

[2015-01-12 10:19] Lukas-W commented on #1603
Closed via #1604

[2015-01-12 10:19] #1603 closed

[2015-01-12 13:07] softrabbit opened #1607 "SF2 player per-note bending"
I believe the SF2 player could get per-note bending with a little tweaking. Looking at the available settings at http://fluidsynth.sourceforge.net/api/index.html#CreatingSettings hints that the number of MIDI channels can be increased to 256 (`synth.midi-channels`).

If then the same program is selected for all channels and each note sent to Fluidsynth on its own channel (ATM they all simply go on

[2015-01-12 13:33] tresf commented on #1600
So should PulseAudio be default then? That we are not relying on optional packages?

I started looking around for the SDL packages last night on Ubuntu and wasn't able to find them.  Are they installed by default now?  Is the dependency argument moot for the *buntus?

[2015-01-12 13:34] tresf commented on #1600
Update PA says "Bad latency!", so I assume that isn't a good option.

[2015-01-12 14:16] diizy commented on #1600
On 01/12/2015 12:14 PM, Raine M. Ekman wrote:

Yeah, what we need is to get the Jack backend working. It's the only
real option for pro-quality audio on Linux, which also allows other
sound sources working at the same time.

And to do that we need to make the engine RT-safe...

[2015-01-12 14:23] diizy commented on #1600
On 01/12/2015 03:33 PM, Tres Finocchiaro wrote:

PA is the worst possible choice for audio work. Latencies are horrible,
etc. If SDL uses PA as a backend then SDL probably will have problems
with latencies as well.

I see absolutely no point in encouraging users to use inferior backends
just to make it "easier" for them - it'll only hurt them in the long
run, they'll have to learn how to setup the

[2015-01-12 14:28] diizy commented on #1607
On 01/12/2015 03:07 PM, Raine M. Ekman wrote:

Possibly, if it can be done without affecting performance too much (and
without adding any more locks...)

[2015-01-12 14:47] tresf commented on #1600
That is a good point.  @Umcaruje can you confirm this?

Perhaps what you are describing is a growing problem, but the problem in bug #1600 is not about things being dumbed down.  It's not about coddling our users.  This is about a default setting that breaks our software for most users and if we have the ability to improve this out of the box.

I still fail to see what this setting hurts.  If your

[2015-01-12 15:00] diizy commented on #1600
On 01/12/2015 04:47 PM, Tres Finocchiaro wrote:

Performance.

What we should do (as I already mentioned) is make configuring the ALSA
backend easier. Replace textbox with dropdown. Instead of offering an
inferior backend to make things "easier", offer the users the tools they
need to more easily setup their system for good quality audio playback.

[2015-01-12 15:31] tresf commented on #1600
We should fix DirectSound support too, but instead we ship with SDL enabled on Windows until we can fix it (assuming it CAN be fixed).  That's the point here.  Saner defaults.

But we really need some test results to make any Performance arguments.  @crank123 @Umcaruje can you please offer some use-case tests. We need to know if SDL suffers from the `Bad latency!` issues documented with PulseAudio

[2015-01-12 15:51] tresf opened #1608 "(P)roject menu vs (F)ile menu"
This is a minor thing, but does anyone feel the word "File" would be more consistent with a standard menu in the main menu instead of the word "Project"?

![image](https://cloud.githubusercontent.com/assets/6345473/5705796/dea283fe-9a49-11e4-857b-d281da5f226b.png)

Most Linux software I use registers the first item as "File" (Gimp, Audacity, QT Linguist, VirtualBox, KeePass, etc).  Even Chrome inv

[2015-01-12 17:06] M374LX commented on #1608
One more detail is that most software have the "Sabe As..." option right after "Save".

[2015-01-12 17:32] Lukas-W commented on #1608
Because most software doesn't have such a cool "Save as new version" feature :smirk:

[2015-01-12 19:06] #1292 closed

[2015-01-12 19:29] Sti2nd commented on #1608
I don't mind changing it.

[2015-01-12 19:36] tresf commented on #1502
Closed per #1609

[2015-01-12 19:36] #1502 closed

[2015-01-12 19:38] tresf commented on #1502
Unrelated, but Dave is our 7th most active committer already.

![image](https://cloud.githubusercontent.com/assets/6345473/5709529/a31271ae-9a68-11e4-82b9-cb3d7f68bc48.png)

[2015-01-12 19:42] tresf commented on #1608
Yeah we could probably rearrange those. :)

[2015-01-12 20:02] Spekular commented on #1608
Save as should definitely come before Save as new version imo.

[2015-01-12 20:24] mikobuntu commented on #1600
@diizy @tresf  I did a quick test on my system ( ubuntu-12-04 ) which has standard pulseaudio installed, and realtime enabled on a user level i.e Im a member of the @audio group and have pulse running in a higher priority, but anyway my test was disabling pulseaudio temporarily ( turning off autospawn ) and running LMMS with the SDL backend, which gives audio, proving SDL does not require pulseaud

[2015-01-12 20:34] tresf commented on #1600
@mikobuntu Thanks for the feedback.  I'm going to fire up dedicated hardware on vanilla 14.04 to see for myself.   Had to pull an old laptop from the archives.  It is a bit slow.  Hopefully I can get some good test results from it.

[2015-01-12 20:39] mikobuntu commented on #1600
@tresf  no problem ;) And it is actually a good idea to test on an older machine as not every user will be running state of the art hardware. You will find that unless you have LMMS running realtime, all the system calls etc will grind it to a halt, and if your soundcard is sharing a port or IRQ with something else, expect to get lots of jitter and latency .. check with command :-  cat /proc/inter

[2015-01-12 22:25] Lukas-W commented on #1608
What do you think of introducing GitHub labels like `severity:minor` `serverity:major`?

[2015-01-12 22:55] Umcaruje commented on #65
This was fixed by #1497, should be closed.

[2015-01-12 23:06] Umcaruje commented on #362
This was fixed by #1476, should be closed.

[2015-01-13 00:22] Umcaruje commented on #552
Implemented by #1482, should be closed.

[2015-01-13 00:56] #362 closed

[2015-01-13 00:59] #65 closed

[2015-01-13 01:14] tresf commented on #552
Thanks for the cleanup mr uros!

[2015-01-13 01:14] #552 closed

[2015-01-13 01:23] tresf commented on #1608
Enhancements are generally all minor whereas bugs are split about 50/50.  I think prioritization is important, but I'm not sure if a severity tag is the way to do it...

We may consider doing this with milestones too... *shrug*

[2015-01-13 01:28] badosu commented on #1233
@tresf I've been out for a few days and noticed a lot of cleanup of stale issues, good work! :+1:

[2015-01-13 01:28] badosu commented on #1194
Nice @curlymorphic! :-)

[2015-01-13 01:34] tresf commented on #1233
The real thanks goes to these code contributors! :+1: Thanks for the gratitude though, it goes a long way. :)

[2015-01-13 02:23] tresf commented on #1429
Closed via #1553

[2015-01-13 02:23] #1429 closed

[2015-01-13 02:25] tresf commented on #1429
It appears this is now possible via `ALT+Left`, `ALT+Right`.

[2015-01-13 02:32] badosu opened #1614 "Crash when rendering project via CLI"
This was probably introduced on the recent application/gui refactorings.

I was rebasing https://github.com/LMMS/lmms/pull/1525 when I noticed that exporting was not working anymore, it looks like some kind of gui check was removed on the recent changes.

Backtrace:

[code]

[2015-01-13 02:37] tresf commented on #1614
Thanks.  IIRC @Lukas-W is still doing some re-factoring so this doesn't come as a surprise.  I'll leave this open as a WIP.

Lukas is starting some testing libraries which are really depending on CLI, so this stuff should get sorted out soon enough.  Feel free to debug if you wish, but don't kill yourself on it.

-Tres

[2015-01-13 02:40] badosu commented on #1614
@tresf Thanks for the input, I'll wait until this gets sorted out.

[2015-01-13 02:57] tresf opened #1615 "Menu separators are not visible"
In our style sheet, `QMenu::separator` shares the same color as the `QMenu` class.

I tried tweaking it to make it visible... Here's what `background: #8d8d8d;` looks like... (not sure if all platforms display this correctly tho).

https://github.com/LMMS/lmms/blob/master/data/themes/default/style.css#L71

Since @diizy made this theme, I'll give him a chance to chime in before making any changes.

[2015-01-13 03:44] diizy commented on #1615
On 01/13/2015 04:57 AM, Tres Finocchiaro wrote:

It's fine :)

[2015-01-13 04:13] #1615 closed

[2015-01-13 04:18] teeberg commented on #1605
Commit 58507c2 dit not fix it, but a94ccb851592e12f3f8f9cc355159388bb5e3c0b did. :-) Either way, it's fixed now, thanks very much!

[2015-01-13 04:18] #1605 closed

[2015-01-13 09:32] #1614 closed

[2015-01-13 11:29] badosu commented on #221
@unfa @eagles051387 @Sti2nd

Is it possible to reproduce this error today? I could not...

[2015-01-13 12:00] eagles051387 commented on #221
will need to pull any changes and recompile on mac but will have to be
later on today to confirm as I am currently at work.

On Tue, Jan 13, 2015 at 12:29 PM, Amadeus Folego <notifications@github.com>
wrote:

--
Jonathan Aquilina

[2015-01-13 13:12] tresf commented on #221
Once again Jonathan filed two bugs against the same issue.  He can reopen this if it is valid.  The description and his followup post are completely separate bugs so even he can't get this one straight.  It's not our job to decipher.

-Tres

[2015-01-13 13:12] #221 closed

[2015-01-13 13:13] tresf commented on #221
@badosu thanks for finding this one.  Greatly appreciated. :+1:

[2015-01-13 13:35] badosu commented on #604
@unfa Please check https://github.com/LMMS/lmms/pull/1572, maybe we can close this issue?

[2015-01-13 13:43] tresf commented on #604
@badosu since his request is in the context of the instrument, we may want to extend this feature into there as well.

[2015-01-13 14:22] eagles051387 commented on #221
@tres this could have been one i copied over from source forge which most
likely was the case.

On Tue, Jan 13, 2015 at 2:13 PM, Tres Finocchiaro <notifications@github.com>
wrote:

--
Jonathan Aquilina

[2015-01-13 15:03] #1608 closed

[2015-01-13 15:24] tresf opened #1620 "Ubuntu packaging"
Better Ubuntu Packaging:
- [ ] Our information for `stable-1.0` could be improved.  Details noted in screenshot below
- [ ] We could use a person or process which packages this for us into the Ubuntu repositories.  Israel's notes here:  [`Packaging-Ubuntu-PPA`](https://github.com/LMMS/lmms/wiki/Packaging-Ubuntu-PPA)

---

![image](https://cloud.githubusercontent.com/assets/6345473/5722921/3f519522

[2015-01-13 15:31] badosu opened #1621 "Issues with BB Editor on project load"
So, the BB Editor simply disappears after loading a different project:

![2015-01-13-132528_1211x343_scrot](https://cloud.githubusercontent.com/assets/347552/5723068/5f0dd4b0-9b28-11e4-9a9e-37e212d3c740.png)

You should be able to reproduce this by simply loading a project that has as many BB Tracks as enough to overflow the BB window vertically, something like 10 tracks should be enough.

You can

[2015-01-13 15:32] tresf commented on #1621
Recent changes are here.

https://github.com/LMMS/lmms/commits/master/src/gui/editors/SongEditor.cpp

P.S.   @Lukas-W is already looking into this.

[2015-01-13 15:42] tresf commented on #1600
FYI - On Ubuntu 14.04 32-bit, `stable-1.0` is 127MB download.

[2015-01-13 16:58] Sti2nd commented on #1600
And maybe a soundfont? I don't remember where I read it, but I recall Israel telling about having added a 50mb, or was it 100mb, as optional on Ubuntu.

[2015-01-13 17:22] Sti2nd commented on #794
Could you update the title @musikBear "Move selection in AFP with mouse on GUI/waveform" or something.

[2015-01-13 17:24] tresf commented on #1600
Test results:

 * **Hardware:**  Dell Inspiron 6000
 * **Audio:**  Onboard (Intel ICH6)
 * **CPU:**  Intel Pentium M 760 "Centrino", 2000.0 MHz
 * **OS:** Ubuntu 14.04-1 x86, with updates applied

---

**UNFA SPOKEN TEST**

**ALSA**
 * `unfa-Spoken.mmpz` - Unplayable with any device settings

**SDL**
 * `unfa-Spoken.mmpz` - Unplayable with any device settings

**PulseAudio**
 * `unfa-Spoken.mmpz`

[2015-01-13 20:10] diizy commented on #1600
On 01/13/2015 07:24 PM, Tres Finocchiaro wrote:

What period size were you using? Try with different period sizes, as
this affects things like latency very much. I use 256 frames usually.

[2015-01-13 20:53] tresf commented on #1600
Default. (IIRC 256).

-Tres

[2015-01-13 21:02] diizy commented on #1600
On 01/13/2015 10:53 PM, Tres Finocchiaro wrote:

Cool. I however get *very* noticeable latencies on the PA backend. Like
almost a second of latency, making any live playing practically
impossible... and from what I hear this is not an uncommon case.

[2015-01-13 21:03] tresf commented on #1600
Yeah, I remember that symptom too but it has been a while (sorry!).  This is the first I've tried it out on shitty hardware.  Is SDL just as bad for you?

[2015-01-13 21:09] tresf commented on #1600
Related to SDL performance.... IIRC, Fets on Fire (similar to Guitar Hero) uses SDL and I'd assume latency is quite important for the timing on that game.

[2015-01-13 21:54] diizy commented on #1600
On 01/13/2015 11:03 PM, Tres Finocchiaro wrote:

Just tried it - and yes, it is. The same outrageous latency is
noticeable with both SDL and PA.

[2015-01-13 22:55] crank123 commented on #1600
So, overall we seem to get the same results when using either SDL or PA. Increase in CPU a

[2015-01-13 22:55] crank123 commented on #1600
That was a mistake...sorry

[2015-01-13 23:21] crank123 commented on #1600
HP Stream
RAM - 2 GB
OS - Ubuntu 14.10 64-bit
CPU - 2.16GHz
HD - 29.6 GB

CPU Usage
Idle (LMMS not running) - 20-25%
Idle (LMMS running) - 40-45%
unfa-Spoken.mmpz (playing-ALSA) - 100% and sound distorted
unfa-Spoken.mmpz (playing-PA) - 93-100% horrible latency
unfa-Spoken.mmpz (playing-SDL) - 93-100% no problems

[2015-01-13 23:30] crank123 commented on #1620
Another thing, WINE is a dependency...why?

[2015-01-13 23:32] badosu commented on #1620
@crank123 For VST support.

[2015-01-13 23:34] diizy commented on #1600
On 01/14/2015 01:21 AM, Gabe Bauer wrote:

Try with ALSA with the device setting configured properly.

[2015-01-13 23:37] crank123 commented on #1620
Wouldn't it have VST support anyway?

[2015-01-13 23:46] badosu commented on #1620
I am not particularly familiar with this part of the code, so someone more experienced can chime in.

VST's are usually dlls, which in linux means we need to simulate windows api to be able to execute them, that's where wine comes in.

I guess for windows support is native.

[2015-01-14 00:44] crank123 commented on #1533
I can't figure out how it lists the plugins. Is there anyway I could take a variable which stores the file names like lets say "file" and do something like QFileInfo (check(path)); if (!file.exists){ //code needed to remove it from list }? If so what variable is it? What do I need to do to remove it from the list?

[2015-01-14 01:33] tresf commented on #1533
The software already checks for existance.  I'd say if instance is DummyPlugin, remove. :)

[2015-01-14 01:35] tresf commented on #1620
Shoukd be optional.  At least that was always the intention.  Why Wine?  Because 99% of VSTs are win32.  They van exist for other platforms, but almost never exist natively for Linux....

[2015-01-14 02:13] tresf commented on #1600
VirtualBox + 12.04 x64 seems to work well with the SDL option as well.

All sounds in general have about 60ms latency due to the virtualization layer.

ALSA seemed to work ok using `pasuspender` and `hw:0,0` but I accidentally started lmms up witih SDL and `pasuspender` and system sounds never recovered afterward requiting a reboot.

Overall within VirtualBox, SDL seems to do a better job of halti

[2015-01-14 04:06] diizy commented on #1600
On 01/14/2015 04:13 AM, Tres Finocchiaro wrote:

No, just set the device, and set period size. Larger period size ->
better performance (but worse latency + worse accuracy on
non-sample-exact controls).

[2015-01-14 04:22] badosu commented on #1620
@tresf And even those that exist for linux we don't support, if I am not mistaken.

[2015-01-14 04:25] tresf commented on #1620
Correct.

[2015-01-14 04:36] diizy commented on #1620
On 01/14/2015 06:23 AM, Amadeus Folego wrote:

We do, via Carla.

Support is still experimental though, so things like automations aren't
supported yet.

[2015-01-14 04:37] diizy commented on #1620
On 01/14/2015 03:35 AM, Tres Finocchiaro wrote:

That used to be true. There's actually quite a bunch of LinuxVST's these
days. Not as much as win32 ones, but still.

[2015-01-14 04:41] tresf commented on #1600
Hmm... Do we do any prioritization with QThreads now?
http://stackoverflow.com/questions/21918344/how-to-lower-qt-gui-thread-priority

The back ends seem to be invoked by QThreads already.

Win32 seems to be a horse of a different color tho... Some proprietary windows API hooks for prioritizarion on a system level.

[2015-01-14 04:56] diizy commented on #1600
On 01/14/2015 06:41 AM, Tres Finocchiaro wrote:

Not to my knowledge.

The mixer thread handles the backend. What we need is to make the mixer
thread completely non-blocking.

[2015-01-14 05:06] romabysen commented on #1621
I have the same problem except I can't get the Beat+Bassline editor window working, no matter how much a click on it or resize it.

[2015-01-14 05:29] badosu commented on #1621
@romabysen Even after clicking play?

[2015-01-14 05:43] romabysen commented on #1621
Oh wait, I do but only after I have loaded a few songs. After making a new project and then load a song it's back to not working and then I load a few songs and I can get it working by resizing the window.

[2015-01-14 11:34] Umcaruje commented on #1376
The EQ plugin has been accepted into master, should this be closed?

[2015-01-14 12:00] #1376 closed

[2015-01-14 12:16] musikBear commented on #794
@Sti2nd done :)

[2015-01-14 12:21] musikBear commented on #1621
is this graphic glitch on all platforms -?  Never saw it on win 32  (?)
However sometimes some of the gui sliders are 'obscured' (1.1)
'windowing' and back to full-screen fix it, but theee are of the type i like to call 'glitch' or bug2, annoying, but not critical

[2015-01-14 13:41] badosu commented on #1621
@musikBear @romabysen This was introduced recently and should not be present on any stable version.

I am going to take a look at it.

[2015-01-14 13:52] tresf commented on #1600
Hmm.. I'm not sure we're on the same page here...

What you are describing... blocking... is a thread waiting on something we told it to.

What I'm talking about it prioritization, which is the CPU deciding to let one process take priority over another.

Generally the GUI runs on a dedicated thread (which can block other threads if they have concurrent objects with locks).  So.... changing a volum

[2015-01-14 14:00] tresf commented on #1600
Ok... Here's a place that we seem to change priority [`Mixer.cpp#L141`](https://github.com/LMMS/lmms/blob/master/src/core/Mixer.cpp#L141)

I'm interested to know the effect of doing something similar on the GUI thread, but lower -- although I'm not sure where the GUI thread is initialized (inherited by the main window?).  I'll look around.

[code]

[2015-01-14 14:20] tresf commented on #1600
So it looks like QT objects are self-aware of parent threads.  This is very nice as it alleviates us trying to  track the GUI thread throughout our code.

This means in any QObject code (such as in the constructor of MainWindow.cpp) we should be able to put:

[code]

The possible values are:
[code]

By default the parent's priority by default, but as you can see in the snippet above, Mixer threads

[2015-01-14 14:37] tresf commented on #1600
Ok, I set an execution cap on the VM and that setting in the constructor `MainWindow.cpp` really doesn't seem to help all that much by itself although I invite others to try.

@diizy do you think that in some of our MixerWorkerThreads we are updating the GUI on accident (such as the `FadeButton`)?

If we're attaching GUI slots to worker theads, what is promising that they are not being fired with

[2015-01-14 15:04] tresf commented on #1600
Debugging `QThread::currentThread()->priority()` in `FadeButton's` paint event, I've confirmed that the `FadeButton` priority matches that of the `MainWindow` which is a good sign... still investigating... :)

[2015-01-14 15:14] diizy commented on #1600
On 01/14/2015 03:52 PM, Tres Finocchiaro wrote:

They're related issues. Because blocking can lead to something called
priority inversion (lower priority thread blocks higher priority
thread). If the main mixer thread is completely non-blocking, then it
obviously can't be blocked by lower-priority threads.

Nope, changing a volume knob is not a blocking action.

Atomics don't use locks, unless the

[2015-01-14 15:17] diizy commented on #1600
On 01/14/2015 04:37 PM, Tres Finocchiaro wrote:

No... if a function is called from a thread, it is executed in that same
thread. Ie. if we call a function that updates FadeButton from a DSP
thread, it gets executed in the DSP thread.

Slots/signals shouldn't be used in DSP at all. This is one reason we
need to rework the instrument API, so that we can get rid of
signals/slots in instruments.

[2015-01-14 15:34] tresf commented on #1600
I still don't understand what you are saying... The idea of "blocking" is waiting for something on the thread.  What does that have to do with an unrelated simultaneous threads (unless of course they use mutual blocking objects)?

You'd know better than me, but what I'm describing is changing the model, and what I'm not sure of is how a GUI thread changes a model that's attached to a separate thre

[2015-01-14 15:48] tresf commented on #1600
Ok, I can confirm that the fade button's `activate()` function is getting put on `HighPriority` on song playback, but not on instrument playback...  On instrument playback it matches the priority of `MainWindow`... Now to find out where.... :smiling_imp:

-Tres

[2015-01-14 15:51] tresf commented on #1600
![image](https://cloud.githubusercontent.com/assets/6345473/5741746/1a7eec86-9bdb-11e4-98ba-c91fac7cc85c.png)

[2015-01-14 16:07] tresf commented on #1600
So the offending line was advice you gave Dave (@curlymorphic).  We should change that back and also be more mindful of the performance impact of these decisions.  Queuing up GUI change is what we want, and if SIGNALS/SLOTS do that for us naturally, we should be using them until we roll our own equivalent.

[2015-01-14 16:47] badosu commented on #1177
@unfa Are you able to reproduce this bug on 1.1.0?

[2015-01-14 16:51] badosu commented on #1009
@tresf @diizy @Sti2nd

What do you think of closing this feature request in favour of https://github.com/LMMS/lmms/pull/1572?

[2015-01-14 16:54] badosu commented on #604
@unfa @tresf Adding a modified version of the new FxChannel context menu to the Fx Spinner would deliver this feature?

[2015-01-14 17:04] tresf commented on #604
@badosu yes, I think it would.  I'm not sure where to put it on the GUI, but I think the proposal is in the right direction.

[2015-01-14 17:06] tresf commented on #1009
Agreed.  Reopen or reference if needed.

[2015-01-14 17:06] #1009 closed

[2015-01-14 17:30] badosu commented on #604
@tresf This was discussed as an option on https://github.com/LMMS/lmms/issues/921 as well.

Basically, the most simple way would be to add the "Assign to new FX Channel" action to the context menu when right-clicking the Fx Spinner. The more sophisticated would be to port the idea of also being able to assign to a different mixer like https://github.com/LMMS/lmms/pull/1572.

[2015-01-14 17:31] tresf commented on #604
Context menu is simple and sweet IMO. :+1:

[2015-01-14 17:32] badosu commented on #577
@popsip @Lukas-W I also was not able to reproduce this error, I use this feature extensively and never had this problem.

[2015-01-14 17:34] tresf commented on #577
This is from April.  No need beating ourselves up over it.  Feel free to repopen if this becomes reproducible. :+1:

[2015-01-14 17:34] #577 closed

[2015-01-14 17:57] curlymorphic commented on #1600
These are the way Qt does block free cross thread communication.

I was going to try and give an explanation. but rather than giving miss information I will link the the 4 pages in the Qt manual that explain it so much clearer than i ever could.

http://qt-project.org/doc/qt-4.8/threads-qobject.html
http://qt-project.org/doc/qt-4.8/threads-reentrancy.html
http://qt-project.org/doc/qt-4.8/threads-s

[2015-01-14 18:25] curlymorphic commented on #1595
Technically yes, aslong as it's one of the predefined colors red, yellow, green.

[2015-01-14 18:43] tresf commented on #967
I've written the code to bump LMMS to `High` priority in [`main.cpp#L410`](https://github.com/LMMS/lmms/blob/master/src/core/main.cpp#L410).  I'm putting it right under the realtime Linux code:

[code]

This is tested and working on Windows 8.1 x64.  LMMS launches with "High" priority as default.

![image](https://cloud.githubusercontent.com/assets/6345473/5744941/f667ce04-9bf2-11e4-8ddb-5945d384a

[2015-01-14 19:14] tresf commented on #967
RemoteVstPlugin was very similar [`RemoteVstPlugin.cpp#L1870`](https://github.com/LMMS/lmms/blob/master/plugins/vst_base/RemoteVstPlugin.cpp#L1870)

[code]

Unfortunately the `REALTIME_` flag seems to max out on `High`, but I believe that is a security feature in the OS.

[2015-01-14 19:47] Spekular commented on #967
@tresf If you do manage to set anything to realtime on windows it'll be
higher priority than some/most system proccesses. So yeah, don't do that,
pretty dangerous.

[2015-01-14 20:23] tresf commented on #967
@Spekular don't worry, its not allowed.

And yes, I understand the implications. :)

[2015-01-14 20:42] Sti2nd commented on #1009
We'll see

[2015-01-14 21:41] Sti2nd opened #1631 "Muted automation patterns is not saved"
Steps to reproduce:
- Make automation
- Mute it
- Reopen project, remember to save first!

Win7 64bit, LMMS 1.1.0

[2015-01-15 00:19] Snarfdog commented on #51
I've always wanted to be able to do this in the piano roll too. I luckily came across an open source project file that had exactly what you guys are talking about. Take a look at this picture:
![pitch bend in piano roll](https://cloud.githubusercontent.com/assets/10539590/5750358/db617856-9c21-11e4-8712-4cfc7057267d.jpg)

In the song it does a perfect glissando down one octave over the length of t

[2015-01-15 02:35] tresf commented on #51
That little blue automation graph button does that.

[2015-01-15 03:29] romabysen commented on #1621
Yep, it was introduced after the 1.1.0 release. I've only built from git source on Linux but I presume it also happen on Windows.

[2015-01-15 03:32] tresf commented on #967
Closing for now via #1629 as I feel the rest of the issues will be core-peformance related.  Please reopen this during or after 1.2 testing if we deem necessary.

[2015-01-15 03:33] #967 closed

[2015-01-15 03:44] tresf commented on #1620
So we could really use a package maintainer for the Canonical flavors.  Israel was nice enough to send over his packaging cheat sheet, but I've yet to try any of it.

https://github.com/LMMS/lmms/wiki/Packaging-Ubuntu-PPA

Volunteers? @mikobuntu? @Umcaruje? :pizza:

[2015-01-15 04:02] Snarfdog commented on #51
Oh, just figured it out. Sorry, I'm an LMMS noob :)

[2015-01-15 04:06] tresf commented on #51
I just figured it out last week myself... No worries. :)

It's really the same thing, but if you look at unfa's diagram, glissando is usually note-based rather than pitch based.  Most piano rolls just have note sliding available.  Try the LB302 with the slide button on and you'll quickly notice how much faster it is to slide note-to-note rather than pitch to pitch. :pizza:

[2015-01-15 04:08] tresf commented on #51
Agreed, unless we decide to introduce some note grouping functionality -- such as color assignments.

[2015-01-15 04:51] tresf opened #1633 "MainWindow.cpp - Build fails on Apple"
@Lukas-W, not sure if this is related to some refactoring, some namespace issues, or what, but wanted to do some early 1.2 build testing on Apple to prepare for the eventual RC1.

[code]

[2015-01-15 05:03] tresf commented on #1633
Ok, this looks like a compatibility issues with the initializer list and Clang.  We should remove the shortcut code for compat.

http://stackoverflow.com/questions/10991274/initializer-list-in-clang

[2015-01-15 05:08] tresf commented on #1633
Proposal:

[code]

[2015-01-15 05:14] tresf opened #1634 "Allow drag-and-drop of project files"
As the title suggests, it may be intuitive to a user to be able to drag a project file into the Song Editor like most other items are, rather than double-clicking it.

[2015-01-15 05:49] Spekular commented on #1634
@tresf Would you consider this something that could be part of the drag n
drop/touch enhancements consolidation issue? I haven't had the time to go
through github and check the other issues yet, but i should be able to soon.

[2015-01-15 05:51] Spekular commented on #1631
@sti2an by "reopen" i suppose you mean save, close, open lmms, load? Just
clarifying because I wouldn't consider saving to be part of the process of
reopening.

[2015-01-15 06:25] diizy commented on #1600
On 01/14/2015 05:34 PM, Tres Finocchiaro wrote:

You answered your own question...

Changing the model is just a matter of calling a function in the model.
If a function is called in thread 1, and the model is owned by thread 2,
the function is still executed in thread 1, regardless of the ownership
of the model. Thread 3 may read the value of the model with another
function, and that function is

[2015-01-15 06:42] diizy commented on #1595
On 01/14/2015 08:25 PM, Dave wrote:

No, it doesn't need to be predefined. It would need a new qproperty that
can be defined in CSS so that the colour can be defined in the theme, as
the fadebutton's colour currently already is (IIRC).

[2015-01-15 09:47] Sti2nd commented on #1631
Neither would I, but to test if mute can be saved you kind of want to try saving. Thanks for the comment, updated.

[2015-01-15 09:48] Sti2nd commented on #1631
@tresf Wouldn't this qualify for a bug fix release? Instead of waiting for 1.2, I mean.

[2015-01-15 09:51] softrabbit commented on #1631
Tested on stable-1.1 and what I see could be described more like "muting of automation pattern is not saved". Tracks seem to save and load just like they should.

[2015-01-15 09:57] Lukas-W commented on #1633
Clang supports initializer lists as of 3.1. Try changing
[code]
to
[code]
(putting parentheses around the initializer list)

[2015-01-15 14:27] tresf commented on #1631
@Sti2nd, yes it could.  GitHub hides those because the milestone has been reached (should tag it 1.1.1 or something).  But from a priority standpoint, I'm not sure how much demand there is for this. :confused:

[2015-01-15 14:33] tresf commented on #1600
So as long as that added CPU cycle isn't blocking our playback, we accept it and move on.  We can improve this later, but for now recommending to fire a priority 4 GUI animation on our processing thread is bad and needs to be fixed.

[2015-01-15 14:37] tresf commented on #1600
When you spend time in another language trying to manage GUI changes from separate threads you quickly realize this QT signal/slot design is tremendously efficient.  I'm not sure how many more of these mistakes have been made, but we need to eradicate them.  Queuing GUI changes on the GUI thread is what we want and need.  Unless you have a better proposal for this, we will be changing this back an

[2015-01-15 14:38] badosu commented on #403
Can we decide between removing this feature or suggesting a mockup for an UI improvement?

I'd like to take a shot at this issue..

[2015-01-15 14:38] badosu commented on #783
Can we centralize this discussion at #403 and close this issue?

[2015-01-15 14:39] tresf commented on #1600
No, this is not obvious to me, but I'd rather talk about that in the futuremap, rather than here, since this is a stable-1.2 problem, and RT safety is a stable-2.0 and/or beyond problem.

[2015-01-15 14:41] #783 closed

[2015-01-15 14:43] tresf commented on #1634
I'm not sure what this has to do with touch?  It could go towards general usability, but it is likely a pretty quick fix that could be targeted at 1.2.

[2015-01-15 14:44] diizy commented on #1600
On 01/15/2015 04:33 PM, Tres Finocchiaro wrote:

We don't need to accept it.

That's not what is recommended. The function called from the
instrumentTrack shouldn't do any animation, it should just set a flag on
the GUI element, letting it know it needs to fire. The GUI element
should still handle the animation in its own thread.

[2015-01-15 14:47] tresf commented on #1600
But this is what the slot does.  The slot sets a flag to fire the function on a separate thread.  What part of this do you not understand?  Why hold 1000 bool's when we can use the tried and trued technologies we already have in place?

[2015-01-15 14:49] tresf commented on #1600
Yes, we do.  It is our code design and eradicating it blindly will plague the code.  We need to come to an agreement on this, and rewriting all of our signals and slots before 1.2 isn't a possibility.

[2015-01-15 14:49] badosu commented on #121
Is this still a thing? If so, could someone point out how this change would affect LMMS holistically? I guess this would not just be a change to the window label but a fundamental terminology change.

[2015-01-15 14:51] tresf commented on #121
Yeah, it's still under (dormant) discussion.  Most of the devs agreed for better names and this topic still remains relevant. :)

[2015-01-15 14:51] badosu commented on #121
Oh, just noticed that this discussion is more elaborated at #120. I'll check there.

[2015-01-15 14:54] diizy commented on #1600
On 01/15/2015 04:38 PM, Tres Finocchiaro wrote:

No, no it really is not. Each signal/slot call causes extra overhead and
there's no guarantee of RT-safety. Convenience (for the programmer) is
not the same thing as efficiency.

I have. Signals/slots should be used for internal GUI stuff only. If we
need something executed in another thread, then a message should be
passed to that thread to let it

[2015-01-15 14:56] diizy commented on #1600
On 01/15/2015 04:47 PM, Tres Finocchiaro wrote:

Inefficiently, with extra overhead, with no guarantee of RT-safety. What
part of this do you not understand?

Because performance matters more than doing things the easy way.

[2015-01-15 14:58] diizy commented on #1600
On 01/15/2015 04:39 PM, Tres Finocchiaro wrote:

Even if we can't make LMMS completely RT-safe right now, that doesn't
mean it's OK to just completely ignore it. We should be doing what we
can to improve it right now so that there's less work to do in the future.

[2015-01-15 15:01] diizy commented on #1600
On 01/15/2015 04:49 PM, Tres Finocchiaro wrote:

No one is talking about eradicating all signals and slots. They just
shouldn't be used in any DSP context. When they're confined to GUI only,
or transient one time events (eg. button clicks, moving a FX channel)
they're fine. They shouldn't be used in anything that is linked to DSP,
such as models.

Also, if a signal only ever connects to one slot,

[2015-01-15 15:12] tresf commented on #1600
That is opinion, not fact.  How a slots are architected from an API perspective has merits, regardless of how many callers it has.

Your hypothetical `bool` has no guarantee of RT-safety either, so please don't use that as an argument.  The inefficiencies you mention are very well accepted methods for notify the GUI of changes.  A good idea today is better than a great idea tomorrow and firing thi

[2015-01-15 15:21] tresf commented on #1600
But performance is the exact issue here, is it not?  In your experience, how common is it for us to fire slots from DSP code currently?

I'd really like to shelve this conversation for a rainy day, but it seems to be a focus of most of your arguments...

Internally, the underlying technology around Signals and Slots use atomic variables for thread safety.  I don't know much about real-time safety,

[2015-01-15 15:28] diizy commented on #1600
On 01/15/2015 05:12 PM, Tres Finocchiaro wrote:

Uh, no, it's a fact that signals/slots cause extra overhead. It's even
stated in the Qt documentation.

No. The only real value of signals/slots is if you a) have a signal and
b) want to connect it to an arbitrary number of slots, which may change
dynamically. If you always know the exact slots you want to call, then
it's always cheaper to just call

[2015-01-15 15:31] tresf commented on #1600
Is the fear that the amount of time it takes QT to queue this function call is slowing down your DSP code?  Reason being is that we need to queue it either way and writing our own sleep threads for this stuff is a nightmare when QT already provides the queuing framework for it.  I'm not trying to pretend that I know more about signals/slots, but I can say with all certainty that queuing the call o

[2015-01-15 15:40] tresf commented on #1600
You used the word "flag", I assumed `bool` but there's no reason to argue semantics on a hypothetical.

This is one of the selling points of the technology to prevent us from rolling out our own thread queue management, but here's a decent article on it:

https://mayaposch.wordpress.com/2011/11/01/how-to-really-truly-use-qthreads-the-full-explanation/

[2015-01-15 15:41] diizy commented on #1600
On 01/15/2015 05:21 PM, Tres Finocchiaro wrote:

Look at anywhere where a model's dataChanged() signal is connected to a
slot in a DSP object. This is all too common in our effect & instrument
plugins. The result of this is that when you automate the knob that is
connected to that model, that signal gets fired every tick...

With instrument plugins, the way our instrument API currently works,
it's

[2015-01-15 15:48] diizy commented on #1600
On 01/15/2015 05:31 PM, Tres Finocchiaro wrote:

It's extra overhead that we don't need. The metaobject system gets
invoked with each signal: the fired signal looks up the connections from
the metaobject system, gets pointers to the slot functions, then either
calls those functions directly or informs (in some way) another thread
that it needs to call those functions.

When there's only one functi

[2015-01-15 16:01] tresf commented on #1600
Well I hope we can agree that 1. We're not all perfect and 2.  We all make mistakes.

In the case of the offending code, a mistake was made and I'm trying to understand 1.  Why.  2.  Has this mistake been made before.

In this case, the GUI needs notification of a change.  I'm still uncertain as to the problem though.  To your argument, the GUI is QT and will always fall victim to RT safety issues

[2015-01-15 16:15] diizy commented on #1600
On 01/15/2015 06:01 PM, Tres Finocchiaro wrote:

Implementing a simple message-passing mechanism shouldn't be a drastic
operation.

[2015-01-15 16:23] tresf commented on #1600
Well, can we agree that if this isn't implemented for 1.2, the slot call is going back in?

[2015-01-15 16:25] tresf commented on #121
Yeah, the renames should probably be organized and consolidated since nomanclature in general tends to affect a lot of the code.

[2015-01-15 16:28] tresf commented on #1633
@Lukas-W, I tried that last night and again just now for sanity's sake... No dice here...

![image](https://cloud.githubusercontent.com/assets/6345473/5761460/9fb828da-9ca9-11e4-9c78-d7c3b1d07d90.png)

[2015-01-15 16:36] Lukas-W commented on #1633
Hm… What Qt version are you using? I just saw in the Qt docs that QList's constructor supports initializer_list since Qt 4.8, but I wonder why Travis (Qt 4.6) isn't failing there if that's the case.

[2015-01-15 16:44] Lukas-W commented on #1633
Ah scratch that, Travis has Qt 4.8.

[2015-01-15 16:46] tresf commented on #1633
As linked in the article, I think it's a language standard that needs to be enabled in Clang.  I don't know much about these, but since it compiles fine otherwise, I don't see the harm in splitting this out. :dancers:

[2015-01-15 16:48] tresf commented on #1633
Specifically, the part that says:

That might help here... I started looking into these standards when fixing SWH plugins and my mind exploded.

[2015-01-15 16:50] Lukas-W commented on #1633
That'd be `--std=c++0x`, but that should already be enabled in our [`CMakeLists.txt`](https://github.com/LMMS/lmms/blob/master/src/CMakeLists.txt#L65).

So you're using Qt 4.8? That's most likely the cause of this issue.

[2015-01-15 16:53] Lukas-W commented on #1633
Well, initializer_list is a great addition of C++11, so I think it's important to know if the issue you're having is Qt or Clang related

[2015-01-15 16:55] tresf commented on #1633
`4.8.6_0` according to macports.

![image](https://cloud.githubusercontent.com/assets/6345473/5762042/60f6e060-9cad-11e4-8982-341cc9978263.png)

[2015-01-15 19:07] diizy commented on #1600
On 01/15/2015 06:23 PM, Tres Finocchiaro wrote:

sure

[2015-01-15 19:13] tresf commented on #1633
According to what I'm reading, the `-stdlib=libc++` is also needed, but adding it doesn't seem to help.

I started researching other places this might have been broken to no avail...

[2015-01-15 19:17] Lukas-W commented on #1633
Take a look at https://trac.macports.org/changeset/102010

Apparently C++11 is not enabled in Macport's Qt by default.

[2015-01-15 19:55] tresf commented on #1633
Good find.  (or bad find, given the impact).  What do you recommend we do?  I can do an `#ifdef`, but it seems meaningless to write redundant compat code in this instance.

[2015-01-15 19:56] tresf commented on #1633
... Also we can switch to Homebrew and hope they've fixed this, but I won't have time to do that for a few weeks at least.

[2015-01-15 19:56] Lukas-W commented on #1633
Either we change that code to not use C++11 or you recompile Qt with C++11 support on your machine. The latter sounds a lot more time-consuming ;)

[2015-01-15 19:59] drrammstein opened #1636 "Don't work export in audio formats"
If i try export any file - program freeze on 0%, after closing export window - it crashes.

[2015-01-15 20:01] tresf commented on #1391
@Lukas-W there may be some macports and homebrew support built into the travis environments already... Here's a project that appears to use them...

https://github.com/matplotlib/mpl_mac_testing/blob/master/.travis.yml#L34

[2015-01-15 20:02] tresf commented on #1636
@drrammstein, which LMMS version and OS version?  Please be as specific as possible.

[2015-01-15 20:05] Lukas-W commented on #1391
@tresf I guess I'm one step ahead :) https://github.com/LMMS/lmms/blob/travis-osx/.travis.yml

Will take forever to compile Qt form sources every single build though…

[2015-01-15 20:05] tresf commented on #1633
Yes, and not just my machine... Any machine (such as Jonathan, or more likely, Travis).

-Tres

[2015-01-15 20:08] drrammstein commented on #1636
Sorry that i not told this. LMMS 1.1.0 (trying 64 and 32 bit versions)  OS Windows 7 SP1 64bit.

[2015-01-15 20:14] DanWin commented on #1636
@drrammstein I assume your locale is Russian? #1496 This got fixed in source code, but no new builds for stable were made since then.

[2015-01-15 20:18] tresf commented on #1526
Closed via #1599

[2015-01-15 20:18] #1526 closed

[2015-01-15 20:20] tresf commented on #1499
@diizy is this a long-standing bug?

Shall we push it out to 1.2 (or further) milestone?

-Tres

[2015-01-15 20:20] tresf commented on #1492
Closed via #1601.

[2015-01-15 20:20] #1492 closed

[2015-01-15 20:21] tresf commented on #1636
@DanWin good call.  We should release a patch release `1.1.1` for this as well as a few other fixes.  I'll get on that.

[2015-01-15 20:22] drrammstein commented on #1636
Yes, Russian. Thanks, i will try this method. And sorry for my English)

[2015-01-15 20:26] Lukas-W commented on #1633
Fixed via c7e3ab3d46cc083dd2946b749416ac754ba295ae

[2015-01-15 20:26] #1633 closed

[2015-01-15 20:34] drrammstein commented on #1636
Thank You! All works.

[2015-01-15 20:37] tresf commented on #929
Closed via #1491.

[2015-01-15 20:37] #929 closed

[2015-01-15 21:00] tresf opened #1638 "calcSlope1 was not declared"
@diizy, for some reason `stable-1.1` travis is failing with the following message:
[code]

Not sure if this is Travis upset or if it is an actual bug... The commit says it failed too... https://github.com/LMMS/lmms/commit/e33645f9aba8dc4e007dc02f94c8084bfc4eba74
https://travis-ci.org/LMMS/lmms/builds/47164992

[2015-01-15 21:20] oeai opened #1640 "VST & x64"
git pull
CmakeLists.txt ->WANT_VST=OFF
cmake / make /make install
/usr/local/bin/lmms ->
VST sync support disabled in your configuration
VST_PATH not set, defaulting to /home/user/vst
segmentation fault
was there a version change for 1.1.1 at splash screen? i got 1.1.0

[2015-01-15 21:22] DanWin commented on #1638
I just created a pull request that should fix these issues, caused by changes that were added to master, but only partly to stable-1.1

[2015-01-15 21:59] tresf commented on #1638
Thanks!!

[2015-01-15 21:59] #1638 closed

[2015-01-15 22:53] badosu commented on #1526
Great work @curlymorphic !

[2015-01-15 22:56] badosu commented on #1638
Good one! :+1:

[2015-01-16 00:15] #1391 closed

[2015-01-16 05:19] tresf commented on #1640
If CMakeLists says 1.1.1 the splash will too.  Try cleaning up your cmake cache.... So.e thing sounds off.

[2015-01-16 09:23] oeai commented on #1640
deleted lmmsrc.xml
got setup screen, trying to change alsa \ pulseaudio
restart and again segmentation fault
cmakeLists got 1.1.0 version branch master

[2015-01-16 10:05] softrabbit commented on #649
Had a look at the backtrace, and... why is libfluidsynth calling into CoreAudio? AFAIK it shouldn't be doing any audio output to anywhere besides LMMS.

[code]

[2015-01-16 10:47] romabysen opened #1641 "Allow "select all" in Song Editor"
It would be nice if Ctrl+a in the Song Editor would select everything. This makes things a lot easier if you need to add something to the start of your song. Sure, you could zoom out really far and probably select everything manually and then zoom back in but it would be much nicer if you could just select all.

[2015-01-16 12:19] Gps2010 opened #1642 ""Set Linear" not saving properly"
**Edited 2015-01-16 @tresf**

The `Set Linear` function in some plugins doesn't seem to be saving properly.  Steps to reproduce:

 1. Open a new project
 2. Add `Calf Reverb` effect to master channel
 3. Change `Bass Cut` knob to `Set linear`
 4. Save project.
 5. Reopen project, examine `Bass Cut` `Set linear` knob settings was not saved

**Note:**  If this is done on both `Bass Cut` as well as `

[2015-01-16 12:26] musikBear commented on #1641
In fact you do not need to select anything, in iorder to move everything!
Place you playhead at the wanted posistion. It can be any pos, also in middle of your project
Hold sh, and tab either :
* insert : All blocks to the right of playhead wil move to the right
* delete  All blocks to the right of playhead wil move to the left -mat result in overlapping!!
For more smart keys: https://lmms.io/docu

[2015-01-16 13:33] musikBear opened #1643 "PianoRoll Shift+Insert/Shift+Delete Shortcut"
would be intuitive if sh+ins / del, worked exactly as in song-editor, eg simply moved all notes right of playhead.
Distance should be current note-lenght
The functionality should be independent of selections

[2015-01-16 13:35] tresf commented on #1642
@Gps2010 since the automation track can control a lot of different components, we'll need to know exactly how to reproduce this issue.

Please provide step-by-step instructions to reproduce.

-Tres

[2015-01-16 13:38] romabysen commented on #1641
Hah! Totally missed those keyboard shortcuts. Nice to know.

[2015-01-16 13:46] tresf commented on #649
Well, I'm not explicitly linking against any CoreAudio files in the bundle, so I think it's a problem with a mutex lock, but I'm not very good with debugging these things...

The closest thing I could find for an explanation is here:
http://stackoverflow.com/a/8472145/1466873

I don't know if it matters, but this doesn't crash every time if the instrument is added manually.  I can get the instrume

[2015-01-16 13:47] tresf commented on #1641
No worries... Most of us didn't know about these either until recently. :+1:

[2015-01-16 13:49] tresf commented on #1640
got setup screen, trying to change alsa \ pulseaudio
restart and again segmentation fault
cmakeLists got 1.1.0 version branch master

with pulseaudio
Connection established.
Stream successfully created
segmentation fault

Are you running it or building it?  Please don't be vague.  We expect higher quality bug reports from the experienced submitter such as yourself. :)

[2015-01-16 14:38] softrabbit opened #1644 "Zynaddsubfx preview remembers previous arpeggio"
1. Preview a preset with arpeggio for any other instrument (e.g. TripleOscillator, ArpeggioPing.xpf)
2. Preview a ZynAddSubFX preset and it will arpeggiate like the preset in step 1.

This happens at least on stable-1.1. Couldn't try master ATM (crashes on this system for some reason).

[2015-01-16 14:51] Gps2010 commented on #1642
I just checked my pc, I stil have an older file with this issue.
Will uploading the project file help ?

The only thing I did update lmms, and load the project made with the previous version.
Then some distortion happens on a track were I used the automation editor.

[2015-01-16 14:55] tresf commented on #1642
@Gps2010 at least tell us what the automation track is connected to.  Screenshots usually help too.

[2015-01-16 15:26] tresf commented on #1644
Reproduced, thanks.   I would expect the data model isn't clearing out a value.

[2015-01-16 16:02] tresf commented on #320
Closing due to lack of response from OP.  Please reopen if you still experience this bug. :beer:

[2015-01-16 16:02] #320 closed

[2015-01-16 16:03] tresf commented on #1644
@softrabbit so I've been crawling through the code and I can't find an obvious change or cause... I think this one has been around for a while though...

This is just a hunch, but is there a chance we're re-using the noteplayhandle on presets that play for longer than 3 seconds per:

https://github.com/LMMS/lmms/blob/stable-1.1/src/gui/FileBrowser.cpp

[2015-01-16 16:04] tresf commented on #1644
Sorry, I didn't link the line number:

[2015-01-16 16:05] BetoVickers commented on #1642
Hi, I'm the guy who started the forum topic, this happens when you load an old project, but... to "reproduce" it from scratch in 1.1.0 you need to add an effect, for example Calf Reverb, set Bass Cut and Treble Cut to linear, add and set an automation track for ONE of the knobs (Treble Cut for example), save, restart and load the project.
You will see that one of the knobs switch back.
![lmms valu

[2015-01-16 16:10] tresf commented on #1644
Scratch that... the one you linked is less than 3 seconds and the playback bug only affects Zyn, I'm looking in the wrong place... Still investigating.

[2015-01-16 16:13] musikBear commented on #1642
yes i think a mmp would be a good thing -please upload

[2015-01-16 16:18] oeai commented on #1640
i'm building
then running that was a kind of what i get in terminal

[2015-01-16 16:34] BetoVickers commented on #1642
(V2 is a fix attempt)
https://www.dropbox.com/s/151og3e4fz0qb0k/LMMS%20Banned%20From%20BCH%20ProjFiles.zip?dl=0

[2015-01-16 16:35] tresf commented on #1644
So the major difference I see is that Zyn is loaded as a plugin, so the presets are loaded slightly differently:

https://github.com/LMMS/lmms/blob/stable-1.1/src/core/PresetPreviewPlayHandle.cpp#L131

I've tried to trace the `xpf` loading process but got stuck in some of the casting that occurs.  I would expect this is a problem with the Instrument being reused for plugins without first checking

[2015-01-16 16:42] tresf commented on #1642
@musikBear If we can reproduce it without downloading someone's mmpz, that is better and @BetoVickers is doing just that.

@BetoVickers,

Is it a visual problem with the automation editor, or are the values actually wrong?  The OP says "redoing automation" fixes this, but I'm still a bit confused as to the exact bug that is occurring here.

Thanks for the patience.

-Tres

[2015-01-16 16:48] tresf commented on #1640
[code]

Well before installing it permanently to your system, I would recommend installing it in user space to `/target/` to make sure everything is working.

But if you are building  you should please tell me if you did a clean build as originally asked.

 * Git pull the latest version
 * Remove CMakeCache.txt
 * make clean
 * configure and build to `/target/`
 * If it runs from `/target/`, insta

[2015-01-16 16:59] Gps2010 commented on #1642
Here is as screenshot ( if needed) http://s1158.photobucket.com/user/Guus_Poort/media/desktop4_zps06f24556.png.html?sort=9&o=0
The two autoamtion track contraol the track snare.
One to fade it in, one the pan the sound from left to right.
And here is the file:
https://www.dropbox.com/s/64i3qgnrdxygvkb/biscaya5.mmpz.bak?dl=0

[2015-01-16 17:05] Gps2010 commented on #1642
@tresf I am not sure if its the same problem as BetoVickers is having, The one thing I did noticed we both used an automation track. That why I added my reply to his topic on the lmms forum.

[2015-01-16 17:23] oeai commented on #1640
i'm doing
git pull
mkdir build
cd build
cmake .. etc
i did twice with copy of lmms git-dir to /tmp it's not working from /build

[2015-01-16 17:33] BetoVickers commented on #1642
@Gps2010 I have a scale problem with knobs, but somehow it seems that affects the automation track too.

[2015-01-16 17:33] DanWin commented on #1640
I was able to reproduce this. This seams to happen since yesterday. I made a pull request that should fix this: #1645
It got introduced in c7e3ab3d46cc083dd2946b749416ac754ba295ae committed about one hour before your report, so I assume you reported this immediately after trying out?
Note: git pull fetches from the master branch, as it is the default now. If you want to use the stable branch, you

[2015-01-16 18:02] oeai commented on #1640
ok thanks, i'll wait for merge

[2015-01-16 18:02] #1640 closed

[2015-01-16 18:12] softrabbit commented on #649
This looks like an identical crash: http://www.juce.com/forum/topic/coreaudio-possible-deadlock-when-moving-mavericks

So, SDL or PortAudio uses CoreAudio, and when libfluidsynth goes about using it as well, a deadlock happens if the timing is right. I'm leaning strongly towards this being a libfluidsynth bug.

[2015-01-16 18:25] diizy commented on #649
On 01/16/2015 08:12 PM, Raine M. Ekman wrote:

Hm... yet another reason to roll our own soundfont player?

[2015-01-16 19:08] tresf commented on #649
Hey!... That same bug is in my original post. :)

[2015-01-16 19:46] Gps2010 commented on #1642
I dont have a clue what happens at the start of the project I uploaded.

From the first time I used the newer lmms, there is some distortion in beginning of the project I uploaded, at the start.
It seems to go away when the songs playes on, and the knobs, pan and volume, change from, Left to centre, to right, and the volume from 0 to 100.

Because there was no distortion, when I muted the automati

[2015-01-16 19:59] tresf commented on #1642
:smile:

Well... we do trust them.  We trust them to do exactly as told, and they're pretty good at that.

We should be able to reproduce this with the information provided.  Thanks for the information.  We'll post here when we have an update to this specific bug.

[2015-01-16 20:01] tresf commented on #1644
Reproduced on 0.4.15.  This is an old one... :+1:

[2015-01-16 20:33] tresf commented on #1640
Sure, but that's not `1.1.1`, that's `master`.  `1.1.1` looks like this:
https://github.com/LMMS/lmms/blob/stable-1.1/src/gui/MainWindow.cpp#L533

-Tres

[2015-01-16 21:06] tresf commented on #1642
Ok, unless someone can clarify, automation has nothing to do with this.  This is what I observe:

The `Set Linear` function in some plugins doesn't seem to be saving properly.  Steps to reproduce:

 1. Open a new project
 2. Add `Calf Reverb` effect to master channel
 3. Change `Bass Cut` knob to `Set linear`
 4. Save project.
 5. Reopen project, examine `Bass Cut` knob settings were not saved

**

[2015-01-16 21:11] diizy commented on #1642
On 01/16/2015 11:06 PM, Tres Finocchiaro wrote:

That's odd, I distinctly remember fixing this bug before. Can you take a
look at how the relevant .mmp looks with both settings (linear/log)?

For me, at least knobs that are linear by default get properly saved as
log when set as such. Maybe it just doesn't work the other way around
for some reason...

[2015-01-16 22:01] tresf commented on #1642
log when set as such. Maybe it just doesn't work the other way around
for some reason...

Thanks for the feedback.  Yeah, it works for me too, but it might be some strange off-by-one problem, because one knob is saved whereas the other is not.

Will do this now.

[2015-01-16 22:06] tresf commented on #1642
Hmmm... different results on Apple from the testing earlier...

I'll fire up 12.04 and see how that compares...

![screen shot 2015-01-16 at 5 04 27 pm](https://cloud.githubusercontent.com/assets/6345473/5785206/cec07d0a-9da1-11e4-9acc-1f9760eda82d.png)

[code]

[2015-01-16 22:15] tresf commented on #1642
Sorry, that was bad data... deleting... here's something better:

![image](https://cloud.githubusercontent.com/assets/6345473/5785321/4449c3c8-9da3-11e4-9638-98f7d4ce16e6.png)

![screen shot 2015-01-16 at 5 12 44 pm](https://cloud.githubusercontent.com/assets/6345473/5785298/029a5c62-9da3-11e4-8261-3ce62fe59a85.png)

[2015-01-16 22:16] tresf commented on #1642
@diizy is the problem that the knobs are explicitly logarithmic in code, but never overriden in the xml?  Is seems the preference is wiped out when set to linear.

[2015-01-16 22:40] softrabbit commented on #649
Right, must've been a case of scrolling blindness on my part.

[2015-01-16 23:20] tresf commented on #649
or TL;DR on my part :cake:

[2015-01-17 11:17] diizy commented on #1642
On 01/17/2015 12:06 AM, Tres Finocchiaro wrote:

Ah, yeah, I think this might be a problem in LadspaControl... I'll take
a look at it when I have the chance.

[2015-01-17 11:23] diizy commented on #1642
On 01/17/2015 12:16 AM, Tres Finocchiaro wrote:

They're set to logarithmic because the LADSPA plugin gives a hint to do
so. The override should set the same variable from log to linear. For
some reason the saveSettings() call, either in AutomatableModel or
LadspaControl (not sure yet which is the problem) doesn't respect this.

[2015-01-17 13:09] oeai opened #1647 "cannot write midi input"
i can play music with ZYna +midi connected, but when i push record in note editor midi input is not recording or dispalyed, while music still goes and i see  green light blinking when sound is on
in the same time i can play with keyboard that is recording normally

before this issue was for Zyna only and i was able to record midi with another instrument
now it does not work at all

also notes play

[2015-01-17 15:57] oeai opened #1648 "feat. req. Stretch\Shrink\Split pattern"
To split pattern - just set a pointer on timeline and split one selected note pattern for two fragments

Stretch\Shrink is not the same it should convert notes in pattern moving them and stretching too or shrinking - it is like resizing picture and split is like crop, this should act like for each pattern part i can set different tempo.
for example if i've played some part slower then needed, then

[2015-01-17 18:28] tresf commented on #1648
#746

[2015-01-17 20:29] tresf commented on #1647
Which branch?

[2015-01-17 20:43] pbella opened #1649 "Mallets synthesizer segfault"
As of 1.1, the mallets synthesizer segfaults when attempting to play any note on Linux.  I believe this was working in the previous release.

[2015-01-17 21:03] tresf commented on #1649
Linux builds can vary across distributions so we'll need more information about your specific setup to know if this is a bug or not. For starters, the OS and where you got the LMMS software package from so that we can reproduce.

[2015-01-17 21:45] oeai commented on #1647
master

[2015-01-17 21:48] oeai commented on #746
can this be done with menu entry?

[2015-01-17 21:54] tresf commented on #1647
Duplicate of #1464.

[2015-01-17 21:54] #1647 closed

[2015-01-17 22:54] pbella commented on #1649
I'm running the latest LMMS packages from http://ppa.launchpad.net/kxstudio-debian/* on Debian 8 testing (Jessie).  On this setup, all that needs to be done to reproduce is to drag the Mallets instrument into a song editor track, open the instrument window and press a key on the virtual keyboard.

[2015-01-17 22:56] unfa commented on #746
Or toolbar buttons?
17 sty 2015 22:48 "Ra" <notifications@github.com> napisał(a):

[2015-01-17 23:03] unfa commented on #1642
Oh this gave me real headache recently. I started using Dual Filter for
fikter sweeps because if this problem. I'm using 1.0.100
17 sty 2015 12:23 "Vesa V" <notifications@github.com> napisał(a):

[2015-01-17 23:32] Sti2nd commented on #1631
More demand than any of the features you can throw at me. No point in a mute feature if you cannot save it?

[2015-01-17 23:50] Sti2nd commented on #1643
Please check the new shortcut key table. It is already listed there, I hope that would've be enough attention needed.

[2015-01-17 23:55] Sti2nd commented on #1641
Already proposed as a shortcut in the new shortcut table :-) Read the wiki, the only place to learn LMMS(?) Did you know about it? Is reading boring? I am not kidding, answer as truthful ad possible.

[2015-01-18 00:11] Sti2nd commented on #1642
Don't use that Unfa. Derp. If it is because of Kx Studio ppa, you have my condolences

[2015-01-18 02:24] tresf commented on #1641
You have to really shut up.  I am not kidding.

[2015-01-18 02:32] tresf commented on #1643
@Sti2nd, Link the issue and make your point without the side comments please.

[2015-01-18 02:37] tresf commented on #1631
Excuse me? We don't throw features at you.  Dont be rude.

[2015-01-18 11:37] BetoVickers commented on #1642
No, but there is one more thing... when you change the scale, the automation track doesn't update the "position" of the points, that affects the values.
The picture corroborates that in some way. On the left is set to linear and the right to "log", points are in the same position but having different values.
![lmms values differences](https://cloud.githubusercontent.com/assets/10542453/5792092/3cf

[2015-01-18 12:16] Umcaruje commented on #1642
Do you honestly have a clue about what you are talking about? The KXStudio version isn't broken, it just has a misleading version number. Last time I checked, you were a windows user. How do you know if the  ppa is bad?

[2015-01-18 13:14] oeai commented on #1464
i found one more error while trying to debug

QObject::connect: Cannot queue arguments of type 'Note'
(Make sure 'Note' is registered using qRegisterMetaType().)

[2015-01-18 13:41] #1636 closed

[2015-01-18 14:47] BaraMGB opened #1650 "Enhancement: volume knob for preview samples and presets"
The volume of the preview samples and presets is too high in the most cases.  Whats about an knob to control the volume?

[2015-01-18 16:09] Sti2nd commented on #1642
Tres said they weren't identical, he built those versions. They are almost equal, though, I shouldn't claim it is the version's fault.

Isn't it strange that KX hasn't updated to the latest?

Check again, Uros. And one really must be a linux user to know? Sorry, I didn't knew that.

[2015-01-18 16:14] Sti2nd commented on #1631
Oh god, my English. I meant that I rather want the existing features to work than new features, mostly at least.

You work hard on new features, I appreciate it a lot :)

[2015-01-18 16:16] tresf commented on #1642
@Sti2nd if you have nothing further to offer, please let this thread progress on its own.

This bug exists in any build with Logarithmic knobs.

As far as the KXStudio build number... Thst is mostly cosmetic and mostly my fault (minir version release without CMakeLists.txt version bump).

[2015-01-18 16:19] Sti2nd commented on #1641
Is it this that offended you? I am asking questions to find out about the users relationship to our resources. You mean I shouldn't have asked here on github?

[2015-01-18 16:20] Sti2nd commented on #1643
Yes, will link, I am on phone now.

[2015-01-18 16:20] tresf commented on #1631
"We" do.  And that should include you too.  We need help on these bugs and I hope we are all marching in the same direction.

[2015-01-18 16:21] tresf commented on #1641
Fine, I'll be blunt..... The next RTFM comment to our users is getting deleted.

[2015-01-18 16:26] tresf commented on #1650
Yes, we need to make these quieter in general.
We haven't decided exactly how to tackle this....

 Thanks for the bug report.   :beers:

[2015-01-18 16:28] Sti2nd commented on #1631
I think LMMS2 is hard to gather around when I know so little about what it is. Apart from LMMS2 I guess bug fixing is the direction?

[2015-01-18 16:36] tresf commented on #1631
This is milestoned for 1.2.  What are you talking about?

[2015-01-18 16:47] Sti2nd commented on #1631
I thought you were talking about the whole project. Yes, direction LMMS 1.2 I am totally in for.

[2015-01-18 17:03] Sti2nd commented on #1641
I understand explicit. Great that you tell me, hard to guess what to do and not to do when you are fresh. This is probably normal etiquette for developers with work experience. Are there guidelines on how to assist users on a tracker? If so I would love to learn them.

[2015-01-18 17:29] Sti2nd commented on #1648
Strech/Shrink would add and remove one bar to all notes in a pattern?

[2015-01-18 17:35] tresf commented on #1631
And I thought you were on topic.  This bug is staged for 1.2.  If you have problems with that vent elsewhere.

[2015-01-18 17:36] badosu opened #1651 "Inconsistent steps on Beat/Bassline"
Suppose you are writing a beat with small steps, somethings like this:

![2015-01-18-152720_574x170_scrot](https://cloud.githubusercontent.com/assets/347552/5793357/e5f66728-9f27-11e4-9b5c-9baa516bce73.png)

And then you notice you want to add another instument to play off-beat (I don't know if this exists in english but would be written as "contratempo" on my language) to the first, so you drag a

[2015-01-18 18:26] tresf commented on #1651
Marking as an enhancement for now, since this has been default behavior since the beginning of time.

I'm not sure your illustrations are accurate though...

I would expect the patterns to play:
[code]

Which simply means we should shrink each pattern to its appropriate width as compares to the widest (no?)

-Tres

[2015-01-18 18:32] badosu commented on #1651
You can reproduce my steps and see if this is not the case, I used master.

You mean, adding steps and make everything consistent? If this is your proposal I agree and outline it as option number 2 on the list of proposals to fix this.

[2015-01-18 18:35] badosu commented on #1651
If I did not make my point clear, this is what should happen (in my opinion) if you add another instrument:

![2015-01-18-163010_575x179_scrot](https://cloud.githubusercontent.com/assets/347552/5793559/eb2e61c0-9f2f-11e4-8112-cd74e6892523.png)

[2015-01-18 18:38] tresf commented on #1651
No, we are saying the same thing... the three patterns set me off, but we're certainly saying the same thing.

Sure, or show the right half as blank until they are filled in (or alternately repeat it on playback but not visually, right?)

-Tres

[2015-01-18 18:44] Sti2nd commented on #1651
Auto extend with GUI like the last picture by badosu is a good approach IMO.

[2015-01-18 18:51] oeai commented on #1648
No, this is a one of possibilities, but i thought that this can be done with split
and shrink\stretch should add or remove 1 quant per bar and lower\increase size of note.
this should make tempo of this pattern higher or lower.

For example 5 bars 4\4 with temp 120 i want to stretch for temp 140 while all other paaterns are already written in 140. my pattern will be slower than all others, i need

[2015-01-18 18:57] Sti2nd commented on #1648
Well, I don't follow you on your last comment since a one bar instrument pattern is a one bar long pattern not matter what tempo you choose. Maybe you are suggesting shrink/strecth on sample track patterns?

What I thought you were suggesting is a feature where the notes inside the pattern filled up the newly created space, a bit similar to the shortcut Shift + resize selection in Piano Roll.
- If

[2015-01-18 19:34] oeai commented on #1648
no it's not for sampletracks
this is the case when you need to play notes faster then it is or slower and length of notes should be changed as well

[2015-01-18 20:10] diizy commented on #1651
We've talked about per-pattern time signature. With that change, each
bb-pattern would also have its own time sig, and length would be an
adjustable property also.

The idea is that after this change the b/b-patterns will no longer have
"add bar" or "remove bar" buttons, instead those would be replaced with
a length widget which controls the length of the bb-pattern in bars, and
a time sig widget

[2015-01-18 20:15] curlymorphic commented on #818
So we just want to set the default saveas filename to the name of the preset ( with obvious formatting )?

[2015-01-18 20:55] mohamed--abdel-maksoud commented on #258
Hey, I've been a silent fan of lmms for a while and I'd like to see the MIDI export added. I volunteer to implement it if needed.

[2015-01-18 22:25] tresf commented on #258
@mohamed--abdel-maksoud,

Great.

It doesn't appear anyone else is actively working on it.  Please issue a pull request once you start so we know progress is being made and have the opportunity to offer advice asking the way. :)

[2015-01-18 22:32] badosu commented on #258
@mohamed--abdel-maksoud Amazing! Any help is greatly appreciated :-)

[2015-01-19 05:03] teeberg commented on #1649
I'm getting weird segfaults when I don't have the `stk` package installed. Do you have that installed?

[2015-01-19 08:08] curlymorphic commented on #1649
Looking into this now.

[2015-01-19 09:20] Spekular commented on #1562
@tresf Alright, I've finally had time to go through all the issues. I tried to check every UI related one and organize them into groups, so perhaps some of these could be consolidated. Also I think we need a "UI" tag.

There are quite a few drag n drop issues:
-Drag & Drop Deletion of Patterns #1562
-Allow drag-and-drop of project files #1634
-Drag-and-drop instrument behavior #1531
-Drag-and-drop

[2015-01-19 09:44] Lukas-W commented on #1651
That feature is in the pattern's the context menu:
![screenshot - 190115 - 10 42 09](https://cloud.githubusercontent.com/assets/2879917/5798489/f6265d7e-9fc7-11e4-87a9-f68c8ed2aee4.png)

[2015-01-19 10:13] pbella commented on #1649
I had stk 4.4.4-5+b1 installed while getting this segfault.  I should also mention that this is for a 64-bit build as this may also be relevant.

[2015-01-19 10:14] mohamed--abdel-maksoud commented on #258
cool, I'll have a go on it from today, wish me luck :)

[2015-01-19 11:12] curlymorphic commented on #258
nice :)

[2015-01-19 12:28] musikBear commented on #1651
or open in piano-roll
Know its darn obvious, but just want to mention it
You have to do it anywhitch, if you need 'swing' on the events. -A dial for *that* would be a serious improvement

[2015-01-19 13:32] tresf commented on #1562
@Spekular congratulations you just linked 60 bug reports to this one...

I appreciate the diligence here, but we should be careful not to over-organize our bugs.

MIDI, Jack and Sample Track were good candidates because they have had very little progress in recent history but are continually mentioned in new bug reports.

I don't want to over-consolidate on everything because it makes it harder to

[2015-01-19 13:34] tresf commented on #1562
That said, if there is one category that stands out as all being related, we can do some housekeeping, I just don't want to do it for the sake of having less open bugs.  Many of these bug you've listed above are mini-projects in themselves and will see some attention in the coming months. :+1:

[2015-01-19 13:44] #818 closed

[2015-01-19 14:14] Sti2nd commented on #1648
Alt is busy, still not sure what you want. Have you tried resizing in Piano Roll and holding down Ctrl?

[2015-01-19 14:23] tresf commented on #1649
@teeberg, you claim this has started happening since d68f8d7, but that commit you are referring to should be master branch only, right?  Isn't this bug in reference to `stable-1.1` ?

[2015-01-19 14:30] tresf commented on #1648
@Sti2nd there are multiple requests in this bug report (which is a problem) but from a stretch/shrink perspective, I believe he's referring to this:

**Normal:**
![image](https://cloud.githubusercontent.com/assets/6345473/5801875/97465e58-9fbd-11e4-85d3-ef169bb39ff0.png)

**Shrink:**
![image](https://cloud.githubusercontent.com/assets/6345473/5801883/a6f6cfb8-9fbd-11e4-8dbd-dece2d22ef22.png)

**St

[2015-01-19 14:35] curlymorphic commented on #1649
The source of my confusion, we may be looking at 2 different bugs here

[2015-01-19 14:36] Spekular commented on #1562
@tresf Oooooooooppps. Sorry. Wasn't thinking about that particular feature when I copied the names.
I feel like perhaps the shortcut stuff could be integrated into @Sti2nd 's shortcut reorganization issue, and maybe the some of the colored track/mixer ones could be integrated into my Improving Colored tracks issue? Other than that I don't think there are too many issues here that could be consolid

[2015-01-19 14:42] tresf commented on #1562
@Spekular, thanks tremendously for the initiative.  I agree those are two good candidates.  Please do.  First create the parent ticket linking all children.  Then paste a comment in the children tickets referencing that the issue is consolidated (not closed) with some instructions to the users (feel free to model this after another consolidated item).  Once I see that message, I'll review the chil

[2015-01-19 14:54] tresf commented on #1649
Yeah, the OPs bug is likely more related to the libraries than the `stk/rawwaves` missing.  We may need a full stacktrace to resolve this.

-Tres

[2015-01-19 15:13] Umcaruje commented on #1648
That is allready possible in the Piano Roll, just select all notes and hold shift when you resize them :)

[2015-01-19 15:15] tresf commented on #1648
Hot damn.  How long has that been around?

[2015-01-19 15:20] tresf commented on #661
Cloud comparisons:

[2015-01-19 15:31] Spekular commented on #1648
I knew about the shift drag functionality, but I assumed this bug report
was about porting that to song editor as well.

[2015-01-19 15:34] Umcaruje commented on #1648
I learned about it acidentally, while I used 1.0, but I believe it was around in 0.4.15. I can check.

[2015-01-19 16:01] Umcaruje commented on #1648
Yup, it existed in 0.4.15 too :
![0.4.15](http://i.gyazo.com/cb2336a9e4950f27c3cb554dd08a7683.gif)

[2015-01-19 16:43] tresf commented on #1648
Thanks @Umcaruje.  Elite GIF skills there... :)

@oeai is this safe to close? We have a split bug report open and milestoned already and the stretch and shrink appears to be enabled and working well, unless we are wrong in our assumptions. :)

[2015-01-19 16:52] Sti2nd commented on #1648
You could potentially extend the stretch/shrink functionality from Piano Roll so that resizing a pattern in Song Editor will make use of the Shift shortcut and also stretch the notes.

[2015-01-19 16:54] tresf commented on #1621
Partly closed with #1657.  Will leave open for BBEditor.

[2015-01-19 16:54] tresf commented on #1648
Yes, this would be nice... Is that what he's saying?

[2015-01-19 17:37] Sti2nd commented on #1648
This is my best guess. It seems like that is what he is saying after reading again

[2015-01-19 18:10] oeai commented on #1648
yes. i think it is thanks =)

[2015-01-19 18:38] tresf commented on #1648
Closing.  "Split" is a duplicate of #746.  The other features are already implemented.

On a side-note, I'm glad these bug reports come in... otherwise I'd never know the feature exists! :)

[2015-01-19 18:41] tresf opened #1658 "Stretch/Shrink/Shorten Patterns via SongEditor"
For some time we've had the ability to stretch a piano roll pattern in the piano roll editor via `Select All` and the `Shift` modifier key when dragging a note.

![image](https://cloud.githubusercontent.com/assets/6345473/5978859/07693cf8-a871-11e4-92ad-a3f899efcda2.png)

Possible functionality:
1. Open Song Editor
2. Create a new Piano Roll pattern
3. Draw some notes
4. Go back to Song Editor
5.

[2015-01-19 18:42] tresf commented on #1648
Created #1658 for song editor functionality.

[2015-01-19 18:42] #1648 closed

[2015-01-19 18:54] tresf commented on #1642
@diizy, could this be causing it https://github.com/LMMS/lmms/commit/1cd3c9be2c4cddc0bdc7acef5d2fe6254293c06e ?

It seems like if `isAutomated()` returns false, then it can have strange side effects.

This would also explain the inconsistencies in our test results, right?  Originally it was saving one control but not the other, but that was reproducing the automation track per original bug descrip

[2015-01-19 20:21] pbella commented on #1649
Here is what I can see when running from the command line:
$ lmms
Got bus address:  "unix:abstract=/tmp/dbus-jo1eUW7bkC,guid=0c3a295d8f4e6b9354387f5354bd6263"
Connected to accessibility bus at:  "unix:abstract=/tmp/dbus-jo1eUW7bkC,guid=0c3a295d8f4e6b9354387f5354bd6263"
Registered DEC:  true
VST sync support disabled in your configuration
Connection established.

Stream successfully created

Segmen

[2015-01-19 21:07] ShurikMur opened #1659 "Playback interrupts hardly when plaing from piano roll and moving cursor over it"
Version 1.1.0, win 32, audio output: SDL (can't select anything else...)

Using almost any VST instrument (anything beside built-in instruments), moving a mouse over piano roll while playing causes playback interrupts (with a short period of silence) up to several times a second, that's hurting ears as hell and almost destroying creative process.
Moving a selected note also produces glitchy interr

[2015-01-19 21:31] pbella commented on #1649
Here's what gdb reports:

$ gdb lmms
GNU gdb (Debian 7.7.1+dfsg-5) 7.7.1
Copyright (C) 2014 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.  Type "show copying"
and "show warranty" for details.
This GDB was configured

[2015-01-19 21:47] curlymorphic commented on #1649
@pbella  thank  you for putting so much effort into this bug report. I cant seem to tigger this on my ubuntu system. I am going to try and clone your setup. would you be able to provide me with links to a few things please?

1) the debian distro you are using
2) the lmms package
3) the stklib

thanks,

[2015-01-19 22:09] pbella commented on #1649
No problem.  I'm also the person on lmms-devel having issues building lmms (I figure one way or another, we'll get things sorted out :-)

1) Debian 8 testing via https://www.debian.org/devel/debian-installer/
2) Using the kxstudio repo https://launchpad.net/~kxstudio-debian/+archive/kxstudio/+files/kxstudio-repos_7.2.0~kxstudio1_all.deb pointed to by https://lmms.io/download/#linux-debian
3) stkli

[2015-01-19 22:15] curlymorphic commented on #1649
i will try :)

[2015-01-19 22:18] tresf commented on #1659
Possible duplicate of #967.

Can you confirm that you are using Windows?  This should be better in 1.2.  Until then, you may want to try changing the CPU priority of RemoteVSTPlugin.exe per #967.  Please confirm.

[2015-01-19 22:19] #1659 closed

[2015-01-19 22:32] ShurikMur commented on #1659
Yes, alerting CPU priority levels of VSTs, as proposed in #967, works.
Hope the issue will be fixed permanently in the next versions.
Thanks!

[2015-01-19 22:37] tresf commented on #1659
@ShurikMur we should have some beta versions of 1.2 available in the coming weeks.  Please check our downloads page for the yellow download button to appear.  We value our test results greatly prior to release.  Thanks for the quick response.

[2015-01-20 03:34] tresf commented on #1183
Duplicate report, but on our forums:  [`t1609`](https://lmms.io/forum/viewtopic.php?f=7&t=1609)

[2015-01-20 05:13] teeberg opened #1660 "Mallets segfault when stk is not installed"
I wrongly reported this in #1649, but it is indeed unrelated (my bad!).

On current master, installing `libstk0-dev` makes cmake succeed, saying that Stk Mallets are "OK", yet trying to add them to the Song Editor will cause a segfault. Additionally installing the package `stk` (in Ubuntu) fixes the problem.

Commit 1ba308855 on stable-1.1 mitigates the situation a little, but it would need mergin

[2015-01-20 10:08] caLRo opened #1662 "Clicks and pops on VST tracks that are assigned to FX channels"
Loading up a VST through VeSTige and assigning it to an FX channel causes clicks and pops to be audible when playing notes or the entire song. They are also present in .wav and .ogg renders. When unassigned, the problem is gone. This problem does not occur when assigning non-VST tracks to FX channels.

LMMS 1.1.0 64 bit

[2015-01-20 13:03] tresf commented on #1660
Thanks.  So what exactly are the steps to reproduce, just `sudo apt-get remove stk` ?

[2015-01-20 13:36] tresf commented on #1662
@caLRo thanks for the bug report.  I installed `mda Delay` VST effect to reproduce this.

Unfortunately, I'm having a hard time reproducing.  Can you please supply some additional information:

1.  Does this occur when the VST is assigned to the instrument and not the FX channel?
1.  Can you link a VST that is freely available that we can reproduce on.

Thanks.

-Tres

[2015-01-20 14:09] caLRo commented on #1662
@tresf

1. I'm not sure what you mean by assigning the VST to the instrument. The bug occurs when the VST is assigned to a channel on the FX mixer. After loading a VST as an instrument track on the song editor, I click on the plus sign on the FX mixer to add an unused channel (FX 1), then click the VST instrument track in the song editor and then set its FX from 0 to 1. The effects chains are empt

[2015-01-20 14:47] tresf commented on #1662
Oh these are VST instruments?  We support VST effects too, I thought this was separate than https://github.com/LMMS/lmms/issues/1662 but it appears to be a duplicate or very similar.

Are you saying VSTs work fine unless they are assigned to an FX channel?  Does it play properly when routed through `0` (master) ?

[2015-01-20 14:50] tresf commented on #1662
I just assigned DSK musicbox to an empty FX channel 1 and could not reproduce.  You'll have to provide some more details as I cannot reproduce what you are experiencing.

[2015-01-20 14:53] tresf commented on #1662
Tested with Darkness Theory as well.  Still cannot reproduce.

[2015-01-20 15:04] diizy commented on #1660
On 01/20/2015 07:13 AM, Jonas Trappenberg wrote:

Seems like a distro problem to me. libstk-dev should automatically pull
stk as well.

[2015-01-20 15:54] caLRo commented on #1662
The clicks and pops appear inconsistently when only 1 VST instrument is assigned to 1 FX channel. When multiple instances of a VST instrument are loaded and each of them are assigned to a separate channel (FX 1 for instrument a, FX 2 for b, etc.) there are more clicks and pops.

And yes, they work fine again when they are unassigned and are routed through to the master.

Some additional details th

[2015-01-20 16:04] ShurikMur commented on #1569
Agreed.
BTW can't find a feature to change color of notes, it also can be done in a context menu.

[2015-01-20 16:05] tresf commented on #1662
Thanks.  The VBScript mentioned in the other bug report changes CPU priority on all RemoteVSTPlugin processes.  Have you confirmed this does not fix the issue?

[2015-01-20 16:12] Spekular commented on #1662
Ate we sure this isn't the same/simiar to bug that was fixed by setting
high priority? @calro What OS are you using? Have you tried setting
VSTsomething.exe to high?

[2015-01-20 16:19] caLRo commented on #1662
@Spekular I have tested with a project with 6 VST instances assigned to 6 FX channels. I have manually changed the 6 RemoteVstPlugin.exe processes to high, and the clicks and pops are still there.

[2015-01-20 16:34] Spekular commented on #1662
@caLro hmm. I guess it isn't the same. Thanks for the thorough testing.

[2015-01-20 16:41] caLRo commented on #1662
You're welcome, hopefully I've given you guys enough info to squash this bug. Squash it real good.

[2015-01-20 17:08] Sti2nd commented on #1008
I asked a guy on facebook which had the error to install the LMMS builds by Uros, it couldn't start for him.

https://www.facebook.com/makefreemusic/posts/853110868078438

Unrelated: I thought I posted a comment yesterday about this... now it is gone, and this have happened before.

[2015-01-20 17:40] Sti2nd opened #1663 "Infinity range of knobs (and faders?)"
Idea: Instead of showing the whole range from 0-100db (if the knob/fader supports that), you decide what to show 0-10db for example, and then the user can choose to scroll further up. It would be like a dynamic knob?

[2015-01-20 18:33] Spekular commented on #1562
@tresf ok, just to confirm: consolidate drag n' drop, consolidate color issues, ask Stian to consolidate shortcut issues? Or consolidate color + shortcuts, collaborating with Stian on the shortcut issues?

[2015-01-20 18:35] pbella opened #1664 "Bad/old wiki links issue with DuckDuckGo"
There have been several times when I have searched for 'lmms <whatever>' and the top results that come back don't appear to be the most current / relevant for LMMS.  Most of these issues have been occurring with DuckDuckGo and when I attempted to replicate via Google, it did not have this issue so it appears to be search engine specific.

For example,  when searching for 'lmms piano roll' (without

[2015-01-20 18:56] Spekular opened #1665 "Better Color Handling"
This is a placeholder to consolidate colored tracks/mixer channels/etc related issues and requests. If a new related bug is reported on the tracker, close it out and mark it as a duplicate of this bug, #1665.
##
###### Enhancements:
- [ ] FX-mixer strip color indicating its type #1214
- [ ] Improving Colored Tracks #1176
- [ ] Enhancement: Get option to custom color instruments tracks like beat an

[2015-01-20 18:59] Spekular commented on #1214
@tresf to be consolidated into #1665.

[2015-01-20 18:59] Spekular commented on #1176
@tresf to be consolidated into #1665.

[2015-01-20 18:59] #1176 closed

[2015-01-20 19:00] Spekular commented on #1160
@tresf to be consolidated into #1665.

[2015-01-20 19:00] Spekular commented on #560
@tresf to be consolidated into #1665.

[2015-01-20 19:00] Spekular commented on #1006
@tresf to be consolidated into #1665.

[2015-01-20 19:02] Sti2nd commented on #1664
Probably not. Search engines have algorithms that tries to find the best link for you, usually popularity seems to be the most important consideration, so if 100 000 have clicked the old link you must perhaps click the new link 100 000 times before it will be on top.

I can only guess google has a better algorithm which perhaps consider the age of the site and/or how many visitors the site got too

[2015-01-20 19:03] tresf commented on #1176
:+1:

Just make sure to explicitly explain why.

[2015-01-20 19:05] Sti2nd commented on #1562
I feel you can just tell me (comment on the thread) as I have already done that (consolidated?) in a way, at the bottom of the table https://github.com/LMMS/lmms/issues/1488

[2015-01-20 19:11] Spekular commented on #1488
@sti2nd You've probably already seen these in 1562, but issues 1643, 1500, 1488, 615, 625, 621, 1475, 1421,and 741 are all related to shortcuts. (Attempting to not link everything together like I did over there by leaving out the # , sorry for the inconvenience)

[2015-01-20 19:12] Spekular commented on #1562
@Sti2nd done. I'm just not sure if the other issues should be closed as duplicates of yours and if so how they would be integrated.

[2015-01-20 19:44] badosu commented on #1651
@Lukas-W Never noticed that, great! So that fixes my issue with the step assignment inconsistency, at least I can move on with my projects when I need to add new tracks to BB.

However I still feel that we have a problem... It's not clear to me how tracks with different steps quantity should behave, and for me the current behaviour is bad. Does anyone know how commercial DAW's solve this issue? An

[2015-01-20 19:51] tresf commented on #1651
IIRC, FLStudio relies on time signature and expands all of them.  IIRC, Ableton uses a drum kit instrument stacker interface, but writes midi-style notes to a piano roll.

The step sequencer is really a simplified piano roll, so I can see why some DAWs simply use the piano roll out of the box.

[2015-01-20 19:54] tresf commented on #1562
Sorry missed the drag-and-drop part.  Please leave them as-is.  Drag and drop needs improvement as a whole, but this requests are quite specific I feel.

[2015-01-20 20:04] Sti2nd commented on #246
Now that I think about it, this behavior seems wrong. LMMS previously worked so that you could fine adjust with middle mouse button.

LMMS had three alternatives of adjusting a knob
- Drag with left mouse button (adjusts on a higher level)
- Scroll with mouse wheel (fine adjust)
- Double click and enter the exact number you want

https://github.com/LMMS/lmms/pull/77 Now with this code some knobs a

[2015-01-20 20:18] diizy commented on #246
On 01/20/2015 10:04 PM, Stian Jørgensrud wrote:

What? No it didn't. It's shift (hold shift after clicking on the knob)
and it still works just the same as always.

[2015-01-20 20:20] diizy commented on #1663
On 01/20/2015 07:40 PM, Stian Jørgensrud wrote:

The issue will become moot once we convert all volume knobs to use dBV
units.

[2015-01-20 20:22] Sti2nd commented on #246
and it still works just the same as always.

It did. I just installed 0.4.15 and confirmed I were right. You are right too, you can do the same with Shift. So I really don't see any benefits in the decimals on normal drag.

[2015-01-20 20:23] Sti2nd commented on #1663
:+1: