[2015-05-23 15:52] repsej commented on #340
This is still an issue (1.1.3 win64) - and I think it has gotten worse recently.

I've made a very simple example that shows it.

![image](https://cloud.githubusercontent.com/assets/116525/7784754/5bcf5d14-0171-11e5-986a-aa3a6d8397e7.png)

There are just two half notes in the piano roll and the arpeggio time setting is also set to half a note.

Playing this yields a lot of overlapping notes and st

[2015-05-23 16:01] repsej commented on #340
A short video with some of the arpeggio problems.

https://youtu.be/tDRmTxxEYSA

[2015-05-23 19:40] dednikko commented on #2067
This seems like a really cool tool. Is there a preset file we can use?

Any chance you could share an mmpz so we could see what that would look
like in action? Maybe just use one of ZynADDSubFX's wind presets?

Actually, maybe we could look into devs and users coming up with more
presets for the built in instruments. I can think of a few presets we could
toss in that are based on included sounds/p

[2015-05-24 04:32] diizy opened #2070 "Piano roll volume of selected notes"
Ok so someone has apparently made some changes to the piano roll's vol/pan bars...

So now it seems that there's no way to adjust the volume of a note that is at the same time as another note... before you could select one of the notes and adjust only it but now that feature seems to be broken... who is responsible for this? How are we supposed to change the vol. of a single note in a chord now?

[2015-05-24 05:48] tresf commented on #2070
Thanks for the report, we'll find and link the commit which introduced this behavior.

Please note, finger pointing is not well received.  We're all in this together.

[2015-05-24 05:54] eagles051387 commented on #2070
Would you like me to look into git bisect?
http://git-scm.com/docs/git-bisect

this will find the change with introduced a bug.

On Sun, May 24, 2015 at 7:48 AM, Tres Finocchiaro <notifications@github.com>
wrote:

--
Jonathan Aquilina

[2015-05-24 06:10] tresf commented on #2070
Based on the titles, I'm looking into the following PRs...

#1963, #1874, #1855, #1716, #1674

[2015-05-24 06:14] tresf commented on #2070
So, the symptom is that despite the note selected, the one closest to the mouse is still adjusted.

This means that the problem is less related to the old functionality being remove, but more related to a bug with a commit which now adjusts notes on proximity regardless of whether or not they are highlighted.

In other words, whatever notes your mouse are closest to get adjusted as well as the one

[2015-05-24 06:38] tresf commented on #2070
I see some potential changes in #1804 (per bug report #322).  Investigating...

[2015-05-24 07:09] tresf commented on #2070
I think I found it, [`PianoRoll.cpp#L2101`](https://github.com/LMMS/lmms/blob/master/src/gui/editors/PianoRoll.cpp#L2101)

[code]

should be:

[code]

The problem is that `isUnderPosition` should only be valid when there are zero notes selected.  This seems to fix it.

[2015-05-24 07:42] Wallacoloo commented on #2070
Nice troubleshooting!

[2015-05-24 11:47] musikBear commented on #340
interesting! and tchanging the BMP, other weird things happens
when we get below 50 the 'double-note' is replaced by silence. The playhead moves over the note, but there is no sound.
I think that might be the case also at higher bmp, but there its not possible to discriminate the silence  ?
fi:
at 60 bmp. arp: 2 octaves. TeimeSync : ½-note
beat1 sound
beat2 silence
beat3 sound
beat4 silence
or..
1

[2015-05-24 17:55] #2070 closed

[2015-05-24 21:09] Reaper10 opened #2071 "multi audio output from a single plugin to feed multiple sample tracks"
The idea is to allow a user to set up a multi audio output from a single plugin to feed multiple sample tracks if you want to. Ie you can set up the input by using a midi Chanel, by keymap or a plugin's built in  mixers outputs.
The keymaping is for those plugin have no other way to set the in thtput ie the plugin doesn't have a mixer built in them, or Midi  Chanel output.
When there is a Midi  Ch

[2015-05-24 23:33] davetbass2 commented on #1472
Hey I definitely don't want to be pushy, because after all it's a volunteer project that you guys put massive amounts of time into, but (haha) is there a way to prioritize based on what the average or potential users need.

To me these 2 are the most basic:

 MIDI pitch-bend support #1918
MIDI modulation wheel, sustain pedal and expression pedal support #1918 #1917 #1890 #1700 #1953

Again, just a

[2015-05-25 00:00] tresf commented on #1472
Someone could certainly do this.  We've had some polls in the past.  What we need more than anything is a few more people getting their hands dirty with the code, which a poll won't necessarily fix.

[2015-05-25 17:31] davetbass2 commented on #1472
Cool I hear you, I've actually started learning c++ (I had taken 2 semesters of c in school) but I think it'll be a while before I could contribute.

Thanks

[2015-05-26 12:25] musikBear commented on #1935
This is one lmms could do something better rather fast
![paste](https://cloud.githubusercontent.com/assets/6662066/7812453/902abbd8-03b2-11e5-97fa-c5dbbb5b94aa.png)
When loudness is dimmed, it is as if the notes blend in with the scale-display, and the notes are really difficult to see -Even for peeps with normal sight
- a simple style-sheet option could fix this?

[2015-05-26 12:29] tresf commented on #1935
Knock yourself out. :)

[2015-05-26 17:26] ycollet opened #2072 "ZynAddSubFX presets "Splited" and "Splitted" are identical"
I used the current lmms master.
In the  ZynAddSubFX presets directory, presets in "Splited" and "Splitted" directories are identical.

[2015-05-26 17:33] ycollet opened #2073 "Mismatch between selected tools in instrument editor"
I use lmms 1.1.3 compiled from sources on fedora 21 64 bits.

* Create an instrument sequence.
* Clone this sequence in the song editor (via control + click + drag)
* Open the instrument editor via a double clic on the cloned sequence

-  the selected tool in the button bar is pencil, but the tool associated to the cursor is erasor.

[2015-05-26 18:35] grejppi commented on #2072
Most likely it was changed in Zyn upstream, and when they were copied to LMMS tree the old folder remained there.

[2015-05-26 19:24] Spekular commented on #2073
I think this has been fixed, and I'm certain that it's been reported, but I
can confirm that this happens for me too, Win 7, x64, 1.1.3.

[2015-05-26 20:31] ycollet commented on #2073
I tried to test on lmms from master but I was not able to perform the ctrl + click + drag. The sequence is not cloned and an empty sequence is dropped.

[2015-05-27 11:27] musikBear opened #2074 "Zero-length beat notes end too soon"
a Q in forum made me do some experiments with B&B and audio-loops over 1-2 bars (typical commercial percussion loops, f.i)
They are actual quite difficult to get to play right _and_ loop right
Only way i can get this somewhat working, is to use very long notes, but then the _'only-play-from-note-start'_ cravat kicks in
Could the green no-length-notes in BB have a logic, where they always played _e

[2015-05-27 15:51] midi-pascal opened #2075 "Automation Editor: Missing pixmap files"
In automation editor, the pixmaps files associated with the buttons "Flip vertically" (flip_y.png) and "Flip horizontally" (flip_x.png) are missing in the default theme directory. (Master)

[2015-05-27 16:47] Spekular commented on #2075
@diizy I think you said that tou would create these, since you worked on
the retheme?

[2015-05-27 17:21] tresf commented on #2074
Zero-length notes play a sample until completion.  Why isn't that working for you?

-Tres

[2015-05-28 04:39] circuitfry opened #2077 "Opening/Saving/Exporting Projects crashes program."
-- Pending support request. Yes, using 1.1.3

Accessing the file browsing dialogue in any context with a fresh installation of the new version of LMMS causes the program to hang up and crash. I have to make copies of existing projects, rename them, and associate their filetype with the program in order to open them. Exporting them has no workaround, so I cannot produce music, at the moment.

Steps

[2015-05-28 05:06] Wallacoloo commented on #2077
Hey Circuitfry. It's neat to see your name around here.

The newest version of LMMS is actually 1.1.3 (not 1.1.0), which can be downloaded [here](https://lmms.io/download/#windows). Perhaps writing "1.1.0" was a typo, but if not, you should definitely try upgrading to 1.1.3.

[2015-05-28 05:16] Wallacoloo commented on #2077
And for what it's worth, I installed LMMS 1.1.3 for 64 bit windows from that download link on a Windows 8.1 computer on which LMMS had never been installed before, and I could not reproduce the hang/crash for any of the 3 cases you listed.

[2015-05-28 05:26] Wallacoloo commented on #2073
I'm getting slightly different results in 64 bit Windows 8.1 for the 1.1.3 version. The same thing happens, except the selected tool is the pencil and the actual tool becomes the *selection box*.

[2015-05-28 05:38] tresf commented on #2077
@circuitfry,

Some strange things can happen during the install process that cause stability problems in Windows.

Below are instructions to completely purge LMMS manually.  If they don't work, a DLL may be shared on your system with the same name as one that ships with LMMS.  If that is the case, we'll have to run LMMS.exe against [Dependency Walker](http://www.dependencywalker.com/) to help find

[2015-05-28 05:42] Wallacoloo commented on #1463
Are there still any operations for which undo/redo need to be implemented?

[2015-05-28 05:53] tresf commented on #2073
Related:  #431

[2015-05-28 05:55] tresf commented on #1463
@Wallacoloo I'm not sure, but here's @curlymorphic's last write-up from https://github.com/LMMS/lmms/pull/1699 that I can remember on the topic:

[2015-05-28 11:03] musikBear commented on #2074
Good question - I also thought so , but after i tested, it only plays for one bar.
Try latin_guitar01.ogg. That samples length is ~3.2 bar in length
A no-length-note play this sample for 1 bar, then cuts off
To reproduce you need piano-roll loop-points 0..4 bar, in order to force the playhead past the one bar vertical, but the no-length-note stops playing
It surprised me too 8|

[2015-05-28 13:46] circuitfry commented on #2077
Thanks for the support, tresf. The manual purge unfortunately did not resolve it, so I'll go with you on the assumption of a conflicting DLL. I'm assuming Dependency Walker is a program that searches LMMS' dependencies with other programs' dependencies.

[2015-05-28 13:54] circuitfry commented on #2077
After opening LMMS.exe in DependencyWalker, it is telling me that these files cannot be found:
* API-MS-WIN-CORE-KERNEL32-PRIVATE-L1-1-1.DLL
* API-MS-WIN-CORE-PRIVATEPROFILE-L1-1-1.DLL
* API-MS-WIN-SERVICE-PRIVATE-L1-1-1.DLL
* API-MS-WIN-CORE-SHUTDOWN-L1-1-1.DLL
* EXT-MS-WIN-NTUSER-UICONTEXT-EXT-L1-1-0.DLL

The last one likely isn't important if I'm not an NT User (Windows 8.1). The first one may

[2015-05-28 14:19] tresf commented on #2077
Did you upgrade from a 32-bit OS?

You may need to reinstall the  Visual C++ Redistributable Packages per http://answers.microsoft.com/en-us/windows/forum/windows8_1-performance/32-bit-application-fails-to-start-after-81-upgrade/b825723e-e2a2-4c8f-bd1f-10446a5d7059

I'm very interested in knowing the cause and solution to this.

[2015-05-28 14:23] circuitfry commented on #2077
This is a pretty new computer with 64-bit windows 8 to 8.1 so thankfully that's not the issue, we'll just have to and it just fixed itself that's just great I sure love it when computers act like magic and fix themselves that doesn't tick me off at all

I'm gonna go with "the purge worked and it was a delayed fix for whatever reason" for $200, Alex.

[2015-05-28 14:56] tresf commented on #2077
Ok closing with status of `computers act like magic and fix themselves`. :)

[2015-05-28 14:56] #2077 closed

[2015-05-29 10:57] musikBear opened #2078 "enhancement Allow user to save export-settings"
self explicit from topic
Let user have a list of named setting-setups for project export
Could be some users sometimes like to export in HQ, other times file-size is most important, and they like a setting that create just that.
A list of named saved settings, could be useful in that respect.

[2015-05-29 17:41] tresf commented on #2078
Related to #678.

[2015-05-29 17:43] tresf commented on #2078
Would simply a few presets do the trick?
 * Lossless - Largest File Size, Best Quality
 * Default Settings - Moderate Size and Good Quality
 * Compact - Smallest Size, Moderate Quality

-Tres

[2015-05-29 18:51] Wallacoloo commented on #2078
I think we could probably get away with "draft" and "final" export options
if they remembered whatever tweaks the user makes to them.

Otherwise, I don't think non-customizable presets would benefit many users,
as most audio guys like to have full control over these settings so they'd
likely be tweaking them further than the built-in presets.
On May 29, 2015 10:43 AM, "Tres Finocchiaro" <notificat

[2015-05-29 19:28] tresf commented on #2078
@Wallacoloo,

I agree.

[2015-05-30 11:13] musikBear commented on #2078
i was thinking is terms of having user-named, user-defined sets of saveable settings
'Presets' would be too rigid, and not fit everyone.

[2015-05-31 01:02] Reaper10 opened #2079 "Adding Video Support to LMMS"
This is  a long  term enhancement Could you build the Video support into LMMS? Why you may ask it would be good for those who are working on a movie and you're doing the soundtrack or sound FXs or voice over, you can see  the video and hear the sound from the video inside of LMMS  .

XJADEO - The Video Monitor

The first way to do this is built in the XJADEO - The Video Monitor to LMMS. . The gear

[2015-05-31 10:18] musikBear commented on #2074
Have anyone re-tested this behavior, as described?
If no-length-notes are supposed always to play the whole sample, there is a bug (1.1.3 x32)

[2015-05-31 13:55] tresf commented on #2074
No, no one has re-tested this.  Perhaps the warm weather in the northern hemisphere combined with academia has the helpers with other endeavors. :sun_with_face:

[2015-06-01 04:34] bradharms commented on #2034
Indeed, it's a random problem. Some days it happens and some days it doesn't, and I can't find a consistent way to reproduce it. However its not a graphical glitch because the UI behaves as if the space is empty, ie. I can click in the empty space to create a new segment, rectangle select picks up nothing for that region, etc.

@tresf, sorry for my choice of file share service. I was not aware it

[2015-06-01 04:54] tresf commented on #2034
No worries, the free storage solutions are notorious for this.  If you can host a project or provide steps which reproduce this problem, we'll be able to take a deeper look into it.

[2015-06-01 06:09] Wallacoloo commented on #2074
@musikBear I just tested the behavior. By the way, for anyone reading this not knowing what AFP stands for (me, previously), it's the "Audio File Processor" - the sampler that is implicitly instantiated when you drag a sample into the instrument track list.

I opened the Beat/Bassline editor, dragged latin/latin_guitar01.ogg into it and created a note on the first beat. Playing the pattern resulte

[2015-06-01 10:51] musikBear commented on #2034
a derail .. ->  the LSP - how about a category for temporary files?
There really are no 'good' category for files that demonstrate issues or bugs.
I have used 'tuts |misc' for some, but they are misplaced imo..

[2015-06-01 10:57] musikBear commented on #2074
@Wallacoloo Thanks for confirming
 its a bug, so il post a new ticket

[2015-06-01 12:15] tresf commented on #2074
Thanks Colin.  Sounds like it bares some resemblance to #1592.

-Tres

[2015-06-01 12:19] tresf commented on #2034
The LSP lacks quite a bit of basic features.  I agree we could use a bug tracking category.  It's just a matter of taking the time to update the database similar to https://github.com/LMMS/lmms.io/issues/54#issuecomment-63312025.  We've open sourced the entire codebase, so hypothetically anyone can do this, but you're right, it is a derail and not only off-topic, but also on the wrong repository.

[2015-06-03 06:40] zonkmachine commented on #1660
This is a real bug. Lmms goes down bad when trying to drop 'Mallets' into your project if you lack stk.

Remove stk and then drag-and-drop Mallets in your project.

I went 'git bisect' on this and found a possible culprit:
7588f235ee158f782bf3f687bce53dc9ad079d95 is the first bad commit

The messages I get when running 7588f235ee158f782bf3f687bce53dc9ad079d95 from the terminal and trying to drag M

[2015-06-03 06:57] zonkmachine opened #2080 "New arpeggiator functions"
Yo!

I'm updating the source from pull request https://github.com/LMMS/lmms/pull/687 and am preparing a brand new pull request. It still lacks a proper GUI though and I'm looking into it.
The functionality we need here is similar to what's going on in the plug-in 'Mallets', which switches layout depending on which instrument you select.

![arpeggiator](https://cloud.githubusercontent.com/assets/63

[2015-06-03 08:02] Wallacoloo commented on #2080
Huh. This is an interesting idea. I don't actually use arpeggiators when sequencing. But I do *occasionally* use them when doing improv stuff in private.

I really can't judge how useful these features will be before trying them (and I would definitely fiddle around for them a bit once they're ready). It seems that they could be really great for certain niches though. My only concern is that it wi

[2015-06-03 12:26] tresf commented on #2080
This one is the big win in my opinion per #1836.

Related #1298 #340 #687 (previously linked)

I tend to agree with the complexity observation, but mostly because this is a default tab for most instruments and we should make the most commonly used ARP features easier to locate if possible.

[2015-06-03 12:28] tresf commented on #2080
Also, @zonkmachine thanks for taking the time to work on this! :+1: :beers:

[2015-06-04 13:46] theguitarplayer commented on #2059
To clarify:

I would like it if the automation tracks would over-ride all input.  The reason I want this function is because every time I record an automation track I must remove connection from the MIDI controller in order to play it back correctly.  But I don't want to remove the connection.  That is a lot of work to do that every time I record.  So it would be easier if the automation track wou

[2015-06-04 13:55] theguitarplayer commented on #2080
While you are on the topic of the arpeggiation function, I had the idea of choosing a certain key and then making all the arpeggios played to be in that certain key.  Right now, we only have the option to choose types of arps like maj, min, etc.  But my idea is for every note that is arpegiated, the arpeggios stay in the key.  That means, no major arpeggio in a minor key, unless it is your v chord

[2015-06-04 19:40] william1835 opened #2081 "Can't set other BPM values, keeps resetting to 240"
Basically, every time I try to set the tempo, for example, to 140, it holds that value. However when I play it, it sets it back to 240. Can someone explain this for me?
Thanks.
P.S The first image shows the BPM before playing and the second during and after.#
Edit: This is only when playing in the Song-Editor. The Piano-Roll and Bass+Beatline Editor don't change the tempo when playing.
![image](ht

[2015-06-04 19:59] william1835 commented on #2081
Edit 2: Sorry, another edit. I've realised that there's automation on the BPM, though I don't know how it got set the first place. Maybe you should look into this?

[2015-06-04 19:59] tresf commented on #2081
Can you try this:

https://github.com/LMMS/lmms/issues/1252

[2015-06-04 20:01] william1835 commented on #2081
Yes, I've realised what has to be done. So this a known error?

[2015-06-04 20:04] tresf commented on #2081
If you can reproduce it, yes.  If you can't, then it's an unknown-known error. :laughing:

[2015-06-04 20:04] #2081 closed

[2015-06-04 20:34] Wallacoloo commented on #661
I think this is a GREAT opportunity to play around with [IPFS](http://ipfs.io/). It's more-or-less one giant, globally accessible distributed file system that combines a bunch of technologies developed in version control systems and torrent / peer-to-peer communications.

All that would have to be done is on the server side, install the IPFS daemon and mount IPFS to some directory (it behaves as a

[2015-06-04 20:39] tresf commented on #661
@Colin,

Cool concept.  The only issue is that currently our LSP is managed by a database, so the filesystem isn't really what most would consider a filesystem since the files are arbitrarily named and receive their actual file name only at download time.

-Tres

[2015-06-04 20:53] Wallacoloo commented on #661
@tresf if I were to add IPFS support to the LSP, would it be welcomed? And if so, what would be the preferred way to implement it? I could implement it as a **separate** service which downloads newly uploaded files through the http interface and stores them in an IPFS folder (thus acquiring their correct name in the process), or I could add a hook into the upload process that copies the files to t

[2015-06-04 20:59] Wallacoloo commented on #2059
@theguitarplayer I understand what you're requesting. Though I'm not convinced that I agree with it. It seems more natural to me that midi controls would override automations so that you can try new things live. Maybe the way to go is:

When play is pressed, any automation tracks initially have control over their associated values.
If at any time a MIDI controller is changed, then it takes control

[2015-06-04 20:59] tresf commented on #661
Good question.  I think an LSP rewrite would be a better use of time, personally.  The technology is attractive, but I'm not sure what type of demand we'd have for it.  From an accessibility perspective, I think leveraging a webservice which lists the projects and presets directly in the software is much more robust and a better delivery to the user over a 3rd party plugin, personally.  It's not m

[2015-06-04 21:02] tresf commented on #661
That said, if you decided to integrate and convert our LSP into a content-management-type front end (perhaps one that tied into our forums logins) that would be a nice win.  Our LSP is in dire need of maintenance.

Also, if you do jump into the LSP database, we have some procedures for setting it up here:

https://github.com/LMMS/lmms.io/wiki/LSP-Installation

[2015-06-04 21:20] Umcaruje commented on #661
I agree that this is a really cool idea, but I think that LSP should have a rewrite (something angular,js based maybe?), rather than patching the old php code, since using an existing framework would probably make maintaining a bit easier. That said, I realize there isn't a lot of manpower for that, so maybe patching the php code is the best that can happen atm.

[2015-06-05 01:12] tresf commented on #661
@Umcaruje, note that @Lukas-W has converted the majority of the website to use some newer technologies which can greatly simplify the LSP code if we do a rewrite.  He uses a php package manager called "composer" and it does some heavy lifting in terms of using 3rd party APIs, templating, custom URL routing, etc.

Someone with some time to learn these technologies could shrink the LSP code-base to

[2015-06-05 02:32] groboclown opened #2082 "sigabrt when removing triple oscilator from bassline editor while playing"
Working off of the main branch.

While playing the audio, I removed a triple oscilator instrument from the bassline editor.  The program crashed with:
[code]

[2015-06-05 12:53] theguitarplayer commented on #2059
Thanks for your reply Wallacoloo.  Is it too complex to be intuitive?  No.  Auto tracks are auto tracks.  We shouldn't care about the MIDI if there is an auto track.  That is why auto tracks should reign supreme and over-ride the MIDI.  MIDI is important for recording purposes IF there is an automation track.  And IF you don't want to record any more, you simply "set record" and that should "set r

[2015-06-05 19:10] theguitarplayer commented on #2059
My bad I agree with what you are saying but it's not working that way for me.  When I press pause and then play the automation track doesn't take control of what it's controlling.  Is this a bug?

[2015-06-05 20:27] theguitarplayer opened #2083 "Automation set/clear record button"
Implement record botton onto song editor like this:

![setclear record](https://cloud.githubusercontent.com/assets/6945072/8014521/9ce7aab2-0b9f-11e5-95df-cebfe219d629.png)

[2015-06-05 21:27] Wallacoloo commented on #2059
Depends on your definition of a bug :P

I think the original authors just didn't explicitly define this behavior.
So what you're seeing probably effects everyone.

But yes, I think this warrants a code patch to change the behavior as per
above, unless somebody speaks out against the proposed behavior.
On Jun 5, 2015 12:10 PM, "theguitarplayer" <notifications@github.com> wrote:

[2015-06-06 12:58] Moth-Tolias opened #2084 "Pitch Controls / Automation of VST plugins ignored when Exporting"
When an export is made, custom pitch values and automation relating to such are ignored.
Widows 64-bit, Version 1.1.3

[2015-06-06 13:17] Moth-Tolias opened #2085 "VST tuning off"
I have tested several VSTs. Many seem to have a tuning bug where they are, well...
![pitch a](https://cloud.githubusercontent.com/assets/10255268/8019725/7b25e11c-0c55-11e5-90a5-f86ef491c70d.png)
Triple Oscillator, playing a single sinewave at C (in tune)

![pitch b](https://cloud.githubusercontent.com/assets/10255268/8019726/7b284f60-0c55-11e5-9d23-6393e11bfe2c.png)
Glureeds VST, playing at C (ou

[2015-06-06 13:20] tresf commented on #2084
You have to be more specific.  We had this issue with OpulenZ and fixed it in 1.1.3, so this statement may oblybbe true for certain instruments.

[2015-06-06 13:23] Moth-Tolias commented on #2084
Ah! Apologies, i really should have put that down... It's a VST problem

[2015-06-06 14:05] tresf commented on #2084
:+1:

[2015-06-06 16:24] Umcaruje commented on #2085
Hi, have you tried loading the VST's in some other DAW (Reaper or FL Studio) and checking if they register out of tune there too? If that is the case, then that's not our bug, and it can only be fixed by the plugin developers.

[2015-06-06 21:43] Moth-Tolias commented on #2085
Downloading the demo of FL studio now, will report later.

[2015-06-07 09:45] musikBear opened #2086 "VST-Instrument cross-dragging, crashes lmms"
1.1.3 win32 xp
It is possible to drag a simple instrument (native) from one project to another. (2 instances open at same time, of cause) If that is attempted with a VST (Synth1), lmms crash and hang.
Release only through taskMng

[2015-06-07 11:59] tresf commented on #2086
Thanks for the report.  FYI, we dont officially support running more than one instance at the same time, our code will break in other places as well.

[2015-06-07 20:30] theguitarplayer commented on #2083
Or this is neater:

![setclear record 2](https://cloud.githubusercontent.com/assets/6945072/8025863/82f9e73e-0d32-11e5-91f1-741ea3770e45.png)

[2015-06-07 20:54] Wallacoloo commented on #2083
Why have you closed this? I thought it was a useful idea, I'm just not
familiar enough with recording in lmms to provide any input.
On Jun 7, 2015 1:30 PM, "Gordon White" <notifications@github.com> wrote:

[2015-06-07 21:21] Umcaruje commented on #2083
I think this is a totally valid enhancement, we already have a set/clear record for automation in the track menu, and it'd be much more accessible as a button in the track.

[2015-06-07 22:49] zonkmachine commented on #1436
@cubician Cool thing!

I see that you've put the thing on your page.
https://github.com/cubician/Karnex

Do you want people to fork that and send you pull requests?

[2015-06-07 23:05] Wallacoloo commented on #1436
@zonkmachine

It doesn't look like that repository has all of the code needed to build Karnex. Just looking in [Karnex.cpp](https://github.com/cubician/Karnex/blob/master/Karnex.cpp), most of the functions declared in the header aren't actually filled out in the source file.

It looks to me like that repository was the author's attempt to port Karnex to LMMS, and he either lost interest or lost th

[2015-06-08 00:42] zonkmachine commented on #1436
It's a bit intimidating to get started with coding for a project of this ~~size~~ complexity. I don't think there is a function in flowstone to export as C++ code (I may be wrong here) so the synth probably needs to be more or less reimplement. If he just needs the GUI stuff to get going and interface with his functions that should be a pretty easy task for someone here to assist with.

[2015-06-09 14:56] Umcaruje commented on #1937
Should this be closed? #1987 was merged.

[2015-06-09 15:15] tresf commented on #1937
:+1:

[2015-06-09 15:23] Umcaruje commented on #1937
Closed via #1987

[2015-06-09 15:23] #1937 closed

[2015-06-09 18:49] cubician commented on #1436
Hey! So the original Karnex flowstone file was lost. My laptop got
destroyed (violently) and I no longer have the file.
However, I have been working on a remake of it, but I have nothing worth
sending you guys yet. I can sketch a flowchart thing to show how it works,
and maybe you guys can work on it from there. I know nothing of C++. Hence
the empty .cpp files.

Here's how Karnex works in theory:

[2015-06-09 19:12] cubician commented on #1436
Here is a really bad flowchart.

On Tue, Jun 9, 2015 at 12:48 PM, Ian Sannar <ian.sannar@gmail.com> wrote:

[2015-06-09 19:20] Reaper10 commented on #1471
Could you add the amplify knob from the AFP to the Sample Track it'll act  as what other DAWs call the clip gain fader?

[2015-06-09 23:43] Wallacoloo opened #2087 "Saving a project forces mixer/automation/* windows to background"
This only occurs when you have one of the windows in LMMS' maximized, as shown in the gif below (most commonly, people do this with the song editor, but you can do it with the piano roll and automation editors too).

In this case, if I have any other window, like the Mixer, in the foreground and I hit Ctrl+S (or save manually via the file menu), such windows will be sent to the background. It can

[2015-06-10 00:10] smokedawg17 commented on #2085
i dont know where to post this, but why dont you guys look into making everything microtonal.. even the vestige plugins like they do on logic. Ive seen a max plugin for ableton that you can midi detune for microtonal music on all vst's, i think that would be a super feature to bring lmms to the top! dont mind me just popping by (A4=432hz, pythagorean ratios accross 12 notes MAGIC)

[2015-06-10 00:10] Wallacoloo commented on #2087
What's more, this seems to also happen whenever LMMS autosaves - I left the window idle with the mixer on top and every minute on the dot the mixer would be sent to the background (and I would recall it to the foreground manually). Again, this only happened when I had another window inside LMMS maximized.

FURTHERMORE, if another application has focus during the autosave, LMMS forces itself to the

[2015-06-10 13:18] softrabbit commented on #2087
I think the first spot where this happens is here:
https://github.com/LMMS/lmms/blob/master/src/core/Song.cpp#L1076

Something in those ```saveState()``` calls does it. Tried commenting out the call to ```gui->pianoRoll()->saveState()``` and LMMS stopped behaving badly when the piano roll was maximised. Will drill deeper later, unless someone else beats me to it.

[2015-06-10 14:55] musikBear commented on #2087
fyi: not reproduceable on 1.1.3 win 32
(I strongly favor a better behavior for 'smaller windows', in order to bring them forward, and have them staying there. Imo that could be **default behavior**, but a small 'tag-icon' in the window tittle-bar, could work. It is to cumbersome to use the context-menu for every window that opens (imo:) )

[2015-06-10 15:08] musikBear opened #2088 "crash when/after closing LMMS"
1.1.3 win 32 on xp
wonder if others experience this.
ever now and then (randomly.. alas) windows throw an **'An error occurred LMMS had to close' ** popup
We all know which one..
But here is the odd thing:
This happens 'several' (5~10) seconds *after* i *have saved* my project, and deliberately and normally (eg X in right cornor)  *have closed* the program.
Nothing is missing in the file
The file

[2015-06-10 15:23] Wallacoloo commented on #2088
If you're using ZynAddSubFX, it's likely due to the conflicting "Engine"
class names. I'm in email, so can't look up the relevant
issues/pull-requests, but there are a lot of recent relevant ones on the
issue tracker and the PR about moving lmms into a namespace aims to solve
that issue.
On Jun 10, 2015 8:08 AM, "musikBear" <notifications@github.com> wrote:

[2015-06-10 15:31] tresf commented on #2088
class names.

Isn't that issue relatively new to master?  I've never encountered that on 1.1.3.

@musikBear there could be many causes, one of them could be sound driver related.  On Apple for example, this happens when going to sleep.

The issue with any Windows issue is the lack of debugging tools, so if you can reproduce the issue on Linux, that would be ideal.  Also, Wine tends to be a bit mor

[2015-06-10 15:45] musikBear commented on #2088
darn, cant - still dont have an installation
But until this oddness has been confirmed by other win-users **ON !:!:3** Then this could simply be my pc only, so **unless** someone confirm, this is either 'irrelevant' or 'not our bug'

[2015-06-10 16:51] mikobuntu commented on #2088
You could always run a live USB with a linux distro such as Ubuntu, which loads into RAM at runtime and install LMMS ( which will only be temporary unless you allow persistance i.e n/GB on the USB )Google  " ubuntu unetbootin live usb with persistance "

thanks Mikobuntu ;)

Date: Wed, 10 Jun 2015 08:45:54 -0700
From: notifications@github.com
To: lmms@noreply.github.com
Subject: Re: [lmms] weird r

[2015-06-10 17:30] Wallacoloo commented on #2088
Right, I missed the part about 1.1.3 - not the zyn issue then.

I wonder if we should install a segfault handler to log a stack trace
whenever lmms crashes. That would make Windows debugging a little easier.
On Jun 10, 2015 9:51 AM, "Mikobuntu" <notifications@github.com> wrote:

[2015-06-10 18:04] tresf commented on #2088
whenever lmms crashes. That would make Windows debugging a little easier.

Just getting the console output on Windows would be a good start, then perhaps we offer debug builds along side our stable.  I thought we had a bug for this, but I lost it.

[2015-06-10 23:19] Coburn37 opened #2090 "Crash when dragging new sound clip onto AudioFileProcessor"
Windows 8.1 Pro 64-bit
Microsoft Surface Pro 3
LMMS 1.1.3

When I create a new AudioFileProcessor, either through the "Instrument Plugins" tab or just dragging a sound file from the "My Samples" tab, and then try to drag a new audio file from the "My Samples" tab onto the AudioFileProcessor instrument gui, it crashes.

To reproduce:
1) Open a new project
2) Create a new AudioFileProcessor instrume

[2015-06-11 08:24] softrabbit commented on #649
@tresf, I never got around to filing an issue, but revisiting this now I have an idea. Could you try adding a line:

```fluid_settings_setstr(m_settings, "audio.driver", "file");```

right after ```new_fluid_settings()``` in the constructor for the ```sf2Instrument``` ? That should prevent Fluid from defaulting to CoreAudio.

https://sourceforge.net/p/fluidsynth/wiki/FluidSettings/

[2015-06-11 08:26] softrabbit commented on #812
Close?

[2015-06-11 08:51] softrabbit commented on #2087
Maybe every window should store its geometry every time it gets a resize or move event and isn't maximized or minimized. And then save that without needing the maximization trickery.

[2015-06-11 10:40] musikBear commented on #2090
but this does only happen sometimes - right?
try your 1..5 but with:
folder 'drums'
1. file bassdrum01.ogg
2. file clap01.ogg
That does not crash anything -right?
So what file swap exactly, will cause a crash **every** time?

[2015-06-11 10:45] harryhaaren commented on #812
Yep, as #1800 has been merged, closing now.

[2015-06-11 10:45] #812 closed

[2015-06-11 11:03] Coburn37 commented on #2090
Yup, it still crashes.
It seems to only happen when I drag it over the sample waveform portion. Anywhere else and it doesn't crash.

![image](https://cloud.githubusercontent.com/assets/6759176/8105532/35eb5c06-103a-11e5-9a37-06b8c2af6e05.png)

[2015-06-11 11:37] musikBear commented on #2090
oki, thats is different for me on win32xp 1.1.3
I can abuse the drag /drop really seriously, (fast, sloppy-drop, repeated same file) and i cant get a crash at all
64x issue only??
Is 'MS-surface' ok for lmms?

[2015-06-11 12:12] musikBear opened #2092 "Making a good first-view impression"
I hope this can be understood in the correct context, but think about how a new user see the program for the *very first time*.
It is quite overwhelming.
What about this:
![welcome](https://cloud.githubusercontent.com/assets/6662066/8106576/a7001b68-1042-11e5-985f-cedce0e0e6fe.PNG)
It is clean and set focus on the first item most users would like to test/ play with emediately :
The piano!
It also

[2015-06-11 12:57] tresf commented on #2092
Agreed that our default template isn't very useful.

Project notes shouldn't advertise any sites IMO.

[2015-06-11 12:58] tresf commented on #2090
Yes, it is just a PC in a small form factor with a very high resolution.

-Tres

[2015-06-11 12:59] tresf commented on #2090
Edit: It also has touch screen and a stylus which could make a difference.

[2015-06-11 13:37] Coburn37 commented on #2090
I am not using either the touch screen or the stylus for this but yes, it does have those.
The resolution I'm using is at max (2160x1440). I've had problems with Open Broadcast Software where it doesn't work correctly due to DPI scaling on the surface.

[2015-06-11 13:48] #1812 closed

[2015-06-11 13:51] tresf commented on #1812
Closed via: #2091.  Added to 1.2.0 changelog.

-Tres

[2015-06-11 14:18] unfa commented on #2092
Maybe a little "first run" dialog with useful links?

Or something like:

*Hi there!*
Welcome to LMMS, a free and opensource electronic music production
environment.
We hope you'll enjoy your ride. If you encounter any problems or have any
questions, suggestions or feedback, feel free to contact our friendly
community at http://lmms.io
May the sound be with you!
[x] don't show this message at star

[2015-06-11 16:02] grejppi commented on #2092
Chances are the user has already been to lmms.io if they are using the software.

[2015-06-11 19:00] Wallacoloo commented on #2087
Ohhh. Interesting. So the purpose of the lines around 696 in MainWindow.cpp is to also save the non-maximized/minimized geometry so that pressing the window's restore button will work the same now as when you load the file at a later time.

Perhaps there's a variant of `showMaximized()` that doesn't call the maximized window to focus? Maybe just [setWindowState](http://doc.qt.io/qt-4.8/qwidget.htm

[2015-06-11 19:07] Wallacoloo commented on #2087
The other option is to enumerate the `saveWidgetState()` calls by widget depth and hide()/show() every window so that the order is still retained afterward. You may have to additionally direct focus back to the window that originally had focus (not sure). It's a bit wasteful and hacky though, so I think saving the geometry upon resize events would be preferable to this option.

At the very least,

[2015-06-11 19:51] Wallacoloo commented on #2087
I did some digging to try to figure out how `showNormal()` figures out how to position the window even though `normalGeometry()` reports `QRect(0,0, -1x-1)`.

The code is very simple (from [here](https://github.com/mirror/qt/blob/3593380d9d88d0d73eae9ff87a02ae2d975333ea/src/gui/kernel/qwidget.cpp#L3184)), basically amounting to this:
[code]

So it looks like the magic happens somewhere inside the

[2015-06-11 22:28] ddcovery opened #2093 "In piano roll view, change to another track without losing the time position"
Hi... I'm erally new in LMMS and I don't know if there is an easy way to solve this difficulty:

Basically, I need to change between instruments mantaining the time position in the piano roll allowing me to compare notes between tracks easily (Like the old Voyetra Sequencer Plus or ...)

Actually, LMMS forces me to double-click on "Song-editor"  window each time I need to change viewed track... th

[2015-06-12 00:06] zonkmachine commented on #1660
@tresf I think this bug should be reopened.
 @curlymorphic Yo! My bisecting activities of last week hints that there may be some issues with pull request #1557

[2015-06-12 00:23] curlymorphic commented on #1660
Pull request #1557 loads instruments asynchronously to stop race conditions. As a result Instruments cant access the ui while loading, maybe this bug could be handled better by moving gui code from Mallets loader. I will take a look when i have time.

[2015-06-12 01:40] tresf commented on #1660
Fair enough. :)

[2015-06-12 01:43] tresf commented on #2093
Very valid request, although your use-case is very similar to #1438

[2015-06-12 03:56] tresf commented on #649
:+1:

![screen shot 2015-06-11 at 11 55 43 pm](https://cloud.githubusercontent.com/assets/6345473/8123326/73d1557e-1095-11e5-82e6-42767d077024.png)

[2015-06-12 04:09] tresf commented on #649
Ok.. I took the line back out and it's not crashing... I'm not sure how conclusive these findings are now. :crying_cat_face:

[2015-06-12 04:21] tresf opened #2094 "SF2 drag-and-drop behavior"
Has anyone tried dragging a SF2 file from the file browser on master branch?

I'm working with @softrabbit on a potential fix for SF2 on Apple, and this is what shows when I try dragging in an SF2 file:

![screen shot 2015-06-12 at 12 16 33 am](https://cloud.githubusercontent.com/assets/6345473/8123492/75903094-1098-11e5-9f35-59059df47b99.png)

![screen shot 2015-06-12 at 12 18 02 am](https://clou

[2015-06-12 04:26] tresf commented on #649
I installed on native hardware and the bug still exists with the recommended patch.

![screen shot 2015-06-12 at 12 25 56 am](https://cloud.githubusercontent.com/assets/6345473/8123553/a9d999a2-1099-11e5-86fb-e9945d46ac1c.png)

[2015-06-12 07:37] softrabbit commented on #649
Me too. And that's the direction the earlier backtraces point as well.

Can you load a project containing only one SF2 track or does that crash too?

[2015-06-12 09:02] softrabbit commented on #2094
This happens immediately on mousedown, before dragging, so I'd say LMMS tries to preview the file. Right-click and "open in new instrument track" works.

Console output:
[code]

[2015-06-12 12:48] tresf commented on #2094
That `qUncompress` seems strikingly familiar to some issues we had after some file browser enhancements.  Tagging @curlymorphic. :)

[2015-06-12 13:05] tresf commented on #649
That crashes too.  It's technically an "infinite hang" symptom that occurs and it happens regardless of whether or not an actual SF2 file is loaded into the instrument or not.

![image](https://cloud.githubusercontent.com/assets/6345473/8130621/ed7679ee-10e1-11e5-9b6e-b37fea26acf2.png)

[2015-06-12 17:58] #2094 closed

[2015-06-12 21:09] #1660 closed

[2015-06-12 22:02] midi-pascal commented on #2090
I tried this - many times - under Linux (Ubuntu 12.04) - and no crash here wherever I drop the sample.

[2015-06-12 23:39] midi-pascal commented on #1679
Was this fixed in master branch?
I get a crash each time I click "Remove unused channels" on projects imported from 1.0.3.
Ubuntu 12.04, master branch.

[2015-06-13 10:55] tecan opened #2098 "fast click crash while previewing sound presets."
if you click too fast while previewing sound preset xpm a crash occurs. a possible workaround could be to add a minimum play time to the previewing of xpm's

[2015-06-13 11:26] musikBear commented on #2098
could you be more specific 'xpm' is that presets for a vst?
I do not have any *.xpm file in default lmms at all?

[2015-06-13 14:58] Fyuchanick opened #2099 "Can't edit settings?"
Whenever I go into settings and hit "ok", it gives me an alert saying I must restart LMMS before changes are applied. However, if I quit and reopen LMMS, the changes are not applied, making it impossible for me to change the sound output from "dummy".

[2015-06-13 15:06] tecan commented on #2098
xpf sorry https://lmms.io/lsp/?action=show&file=4211  here is a good example , happens more on complex sounds

[2015-06-13 16:50] zonkmachine commented on #2098
I can confirm this on commit 979fa2fb930f0b95ec408082540124bbb265b2db
@curlymorphic Your the go-to guy on everything that happens to the left, right? :D

Segmentation fault (core dumped)

It either hangs or crashes with the above Qt comment.

[2015-06-13 18:17] Wallacoloo commented on #2099
What version of lmms are you running, and on what operating system?

[2015-06-13 18:24] Fyuchanick commented on #2099
I'm running windows, and lmms version 1.1.0

[2015-06-13 20:19] Fyuchanick commented on #2099
I updated to the latest version and had the same problem.

[2015-06-13 20:23] tresf commented on #2099
Please run CMD as administrator and paste this command and tell us your results:

[code]

[2015-06-13 21:51] Ali-Zaid opened #2100 "Trying to open the ZynAddSubFx plugin gui takes me to the login screen"
Whenever I try to access the ZynAddSubFx plugin gui within LMMS, I'm taken to the system login screen. This happens whether I choose the beginner gui or advanced gui. I can load ZynAddSubFx standalone just fine. Using gdb, I can get a backtrace of the program up to where I can choose which gui. Beyond that, when the system logs out, the gdb log on the terminal is gone when I log back in:

(gdb) r

[2015-06-13 22:09] Wallacoloo commented on #2100
Sounds like you're crashing your X server. It's quite likely a driver
issue, but that doesn't mean there aren't workarounds.

I'm guessing you're using Unity. If you want an adventure, you could try
this in a different desktop environment, like gnome or KDE and see what
happens. You could also try disabling hardware graphics acceleration and
just using software graphics, though that's obviously su

[2015-06-13 22:58] Wallacoloo commented on #2015
At some point in the last few weeks, something was changed in master that prevented this error from arising. Now that #2048 was merged though, this segfault should hopefully not resurface.

[2015-06-13 22:58] #2015 closed

[2015-06-13 23:56] zonkmachine opened #2101 "Demo projects that are missing samples."
Some projects miss drum samples:
https://github.com/LMMS/lmms/tree/master/data/projects/demos/Zakarra

Downstream bug:
https://bugs.launchpad.net/ubuntu/+source/lmms/+bug/1386542

Demo projects last changed in commit ce0a56a482819f728fdcfba01f6ba3ceb32e2ff7
miss some (or all) samples.
@cubician  Do you have the original files so you can complement the projects?

_Edit: Fix links_

[2015-06-14 02:15] Wallacoloo commented on #2087
I did a bit of toying around with a solution today. I'm not intimately familiar with Qt, but it turns out that all of the LMMS subwindows are created by calls to `gui->mainWindow()->workspace()->addSubWindow(x)`. This corresponds to [QMidArea::addSubWindow](http://doc.qt.io/qt-4.8/qmdiarea.html#addSubWindow), which accepts either a QWidget or a QMdiSubWindow object. In the former case, it will sim

[2015-06-14 08:25] ryandesign commented on #2044
They've switched to github: https://github.com/calf-studio-gear/calf

The above diff is now available at: https://github.com/calf-studio-gear/calf/commit/aaca6447de6ed07bb39f376095bb246cc8f3580a

So, what's involved in updating lmms' copy of calf to the latest upstream code?

[2015-06-14 09:37] musikBear commented on #2098
also confirmed on 1.1.3 win32
I have to click **like insane**, but then it does hang

[2015-06-14 09:42] musikBear commented on #2099
@Fyuchanick you should also look at our forum
http://lmms.io/forum/index.php
, and maybe sign up?
Questions like this one really does belong under *Troubleshooting* in forum, not in the dev-bug-tracker :)

[2015-06-14 11:14] musikBear commented on #2093
@ddcovery This
https://www.youtube.com/watch?v=FlWdTLfc80k
is in no way exactly what you ask for at all, but it does allow you to find a specific part of notes in your project, in a fast way. Perhaps it can be useful..

[2015-06-14 19:38] #1958 closed

[2015-06-15 04:11] Wallacoloo commented on #2087
Proposed fix via PR #2103.

[2015-06-15 05:57] Wallacoloo commented on #2098
I seem to be getting a different error every time I try this on master w/ 64 bit Ubuntu 15.04. Half of the time it's a segfault in `~Engine()` (see #2049), other times it's a segfault in another part of ZynAddSubFX, and sometimes it even hangs somewhere when trying to acquire a lock on something.

Here's one stacktrace for a segfault that occasionally occurs on the very first press (regardless of

[2015-06-15 06:26] Wallacoloo commented on #2098
Here's the Valgrind log that I get when I click the .xpf file for the first time (it plays ok and does not crash - but that's probably just thanks to Valgrind): https://gist.github.com/Wallacoloo/f28e905edea6cb0102b1

All of the errors Valgrind catches point to essentially the same piece of code. Let's take this one:
[code]

If you'll notice, it looks like we're experiencing a similar name-conflic

[2015-06-15 07:15] Wallacoloo commented on #2082
@groboclown thanks for the bug report. Was there any console output immediately before the crash? (given that the stack trace involves `qt_message_output`, I would hope for an error message.)

Also, can you provide more detailed instructions on how to reproduce the crash? I tried making a pattern in which the tripleosc had notes, playing that pattern on loop and removing the tripleosc while it was

[2015-06-15 08:24] Lukas-W commented on #1866
Fixed via #2027 aaed66ecebd7053b9784e6523dd02b61ecf44bd2

[2015-06-15 08:24] #1866 closed

[2015-06-15 08:45] softrabbit commented on #2044
At a glance, it looks like LMMS is using just the ```src``` directory of the calf tree, with ```CMakeLists.txt``` instead of the ```Autotools``` stuff, could be a matter of copying files.

There might be some LMMS-specific changes to sort out, though.

[2015-06-15 12:44] zonkmachine commented on #1762
I can confirm this on both 1.0~ and 1.1.3
I've seen it many times but didn't knew how to reproduce it. This is true in both song editor and bbTrack. The difference between the two is that 1.1.3 also crash if I try to delete the hung track while 1.0 lets me continue working after deleting the track.

[2015-06-15 13:44] badosu commented on #1679
@midi-pascal This PR fixes it: https://github.com/LMMS/lmms/issues/1707

However, it uses a solution that relies on QObject, a better approach needs to be implemented.

[2015-06-15 14:22] midi-pascal commented on #1679
@badosu Thanks for the hint!
I did not check this PR since it is closed.
I will live with the manual editing of the project files for now :)

[2015-06-15 14:28] badosu commented on #1679
@midi-pascal I just took a look, and actually that PR contains the new approach that should fix this issue without introducing QObject inheritance, but I could'nt make it work.

[2015-06-15 15:39] zonkmachine commented on #1762
OK. I bisected the code to try and find why the bug change in quality from hanging with a cool drone to crashing when removing ZynAddSubFx(while playing said cool drone).

44c42d9d38bc11fafeda8e7d4094da8169328e85 is the first bad commit
commit 44c42d9d38bc11fafeda8e7d4094da8169328e85
Author: Colin Wallace <wallacoloo@gmail.com>
Date:   Thu Apr 2 05:14:27 2015 +0000

:040000 040000 5f9edaa603496ce0

[2015-06-15 16:28] zonkmachine commented on #1762
Could be related: https://github.com/LMMS/lmms/issues/1644 " Zynaddsubfx preview remembers previous arpeggio"

[2015-06-15 16:37] curlymorphic commented on #2098
@Wallacoloo nice research

As far as the engine name clash goes. In the ZSAF 2.5 upgrade, I moved the engine class to the Zyn namespace during my tidying up of the pull request over the weekend.

[2015-06-15 20:55] zonkmachine commented on #1436
There's kind of a gap between "to chip in" and "maybe you guys can work on it from there". I was rather aiming for the first of them.   ;-)
It's not unrealistic to learn C++ enough to pull it off though. You know how to lay out an algorithm enough to work in FlowStone and that's a good start.

The closest to FlowStone I know that works cross platform is Faust. The site is down right now but I leav

[2015-06-15 22:02] Wallacoloo commented on #1762
@zonkmacine That commit introduced the errors in #2049. It's because the LMMS' Engine class now implements virtual methods, and that causes a conflict with ZynAddSubFX's Engine class since their vtables get muddled up. It looks like it'll at least be fixed once our Zyn version is updated to 2.5, if not sooner.

Nice job with the bisect. I'll have to learn how to use that tool. Note that that parti

[2015-06-15 22:41] zonkmachine commented on #1762
Well thanks, I think I've found a hobby within the hobby. Next step is to script the bisect sessions. That will be glorious!

Correct, I was on master~ish.

But none of this explains the original problem (OP) then does it?

[2015-06-16 12:35] softrabbit opened #2107 "Qt5 build wrongly configured since commit 2f7820a?"
I tried my hand at building with Qt5 and didn't get too far, as the compiler couldn't find the Qt header files. Git bisect points at 2f7820a6d90bfdbd603c5c5a6617bf5fa81b9bd8 being the point where this bug was introduced.

CMake 3.0.2 on Ubuntu 15.04, if that makes any difference. And master branch of course.

[2015-06-16 13:56] softrabbit commented on #2107
And it seems to me like shortcircuiting this if clause so the "else" part runs fixes this problem: https://github.com/LMMS/lmms/blob/master/src/CMakeLists.txt#L68

@Lukas-W, any thoughts?

[2015-06-16 14:20] midi-pascal commented on #2107
This looks to me as if the operands in this "if" should be "AND" instead of "OR"...

[2015-06-16 14:28] softrabbit commented on #2107
Not quite that simple. More like ```major > 2 or ( major == 2 and ( minor > 8 or (minor == 8 and patch > 7 ) ) )```. But luckily, there's only ever been one CMake version (2.4.8) released that would hit that bug :smiley:

[2015-06-16 14:35] Lukas-W commented on #2107
Yeah… That version comparison is stupid. I should have used CMake's [builtin version comparison](http://www.cmake.org/cmake/help/v2.8.12/cmake.html#command:if), didn't know about it back then.

[code]

Could you try using that? If that doesn't fix the issue, let me know and I'll try to build against Qt5 myself.

[2015-06-16 15:23] #2107 closed

[2015-06-16 15:42] Lukas-W commented on #2107
Fixed epr aaaa11c

[2015-06-16 19:45] badosu opened #2109 "Change settings without restarting LMMS"
I am posting this issue more as a place to discuss whether it's possible or not to change settings without having to restart LMMS.

I believe some cases will be very difficult or impossible to implement, but maybe we can track these cases and only require restarting for those?

[2015-06-16 20:46] taupter commented on #2109
Being able to change configurations without restarting LMMS is a nice feature to have. Tracking the cases where it is currently implementable will take some time.
I see some:
Audio backend/device;
Plugin paths;

Audio backend/device may imply stopping/starting the audeio engine, what may be problematic to do without restarting.
Plugin paths involve plugin discovery. If you load a song with missing

[2015-06-16 20:54] badosu commented on #2109
@taupter

Before attempting something as ambicious as creating a new dialog only for plugin paths, I'd recommend making the current configuration manager reload configurations without having to restart LMMS.

This will solve a problem that is shared for both old and new ways and cement the path for your feature request.

If you want to submit your feature request with mockups/discussion I recommen

[2015-06-16 21:02] taupter commented on #2109
Ok. I'll take a look at it. It involves rescanning directories and maybe sending signals to reload things. Some options to reload plugins may be necessary, that's why I talked about hte ui. Of course it can be done hardcoded for debugging purposes, but exposing such features sooner or later would be fine.

[2015-06-16 21:09] badosu commented on #2109
@taupter Regarding the plugin path reloading process, I am not sure if we really need to rebind all plugins that are already loaded.

In my understanding this should affect only the discovery of plugins on the dialogs. What happens on other DAWs?

[2015-06-16 21:15] Wallacoloo commented on #2109
We can absolutely track which cases need restarting explicitly. The code that updates the settings & shows that dialog is [here](https://github.com/LMMS/lmms/blob/f40329946024b93c92bdd9c2c46b8390a027d393/src/gui/SetupDialog.cpp#L938).

We could add a simple line:
[code]

While we're at it though, the settings dialog could really use some refactoring in the form of abstraction. There are a number o

[2015-06-16 21:19] tresf commented on #2109
I like this idea and the topic.  We can start by binding the fields to a boolean of whether or not a restart is actually required, as the dialog itself is ambiguous as to whether or not a restart is needed.

Another item that may be useful is to offer a "restart now" button which could (on most platforms at least) save and restart the application.

Then, we can start knocking off the biggest pain-

[2015-06-16 21:29] taupter commented on #2109
FL Studio and Sonar offer such funtionality. FL particularly offers to scan only new, scan previously failed and rescan those already ok.
If you change paths, some previously available plugins may not be anymore. If some plugins were overwritten (new versions) if may make sense to verify if previously failed plugins are able to load now. Being able so select what and how we scan is a nice feature,

[2015-06-16 21:33] badosu commented on #2109
@taupter Well, one thing that's clear for everyone is that this area needs some love.

I think any work you could put here would be very welcome. If you want to take a look at this we can discuss the details on the Pull Request itself/

[2015-06-16 21:41] tresf commented on #2109
It already does in many areas.  It's the cheapest and it runs on the most platforms, so it is a competitor in many markets.

I'm not even sure what this statement means,  especially the part "should be a breeze".  Handling blind execution of someone else's code (albeit often proprietary) is one of the toughest tasks you can ask of a programmer.  In regards to "huge numbers", we do.  We support LAD

[2015-06-16 23:29] M374LX opened #2110 ""Show/hide" controller rack"
In the **View** menu, all options before the separator are supposed to show and hide or bring focus to a window, but only the last option contains "Show/hide" in its label, which is unnecessary.

[2015-06-17 03:18] Wallacoloo commented on #2110
Good eye @M374LX. Here's a PR to resolve that: #2111

[2015-06-17 03:50] Wallacoloo opened #2112 "Bar:Beat:Tick / Min:Sec:Msec timer values disagree with playhead"
Steps to reproduce (I recommend dialing the tempo down to ~20 bpm to make things easier to see):
1. Open LMMS and create an empty pattern on the tripleosc track.
2. Open said pattern in piano roll, hit play.
3. Hit pause in the piano roll.
4. In the song editor, move the playhead to some non-zero position.
5. Hit play in the song editor.

The Bar:Beat:Tick counter should reset and begin counting f

[2015-06-17 04:00] tresf commented on #2112
Related?  #1673

[2015-06-17 04:13] Wallacoloo commented on #2112
@tresf it very well might, though I did have a bit of trouble following that report's description. I could not reproduce it by following the steps in the description.

However, @badosu's interpretation of the bug report does still seem to apply.

Although not shown in the gif, when I hit play in the song editor, the piano roll's playhead does reset to 0. It may be that the timer is still tracking

[2015-06-17 07:31] softrabbit commented on #2109
I tried to put together a proposal of this kind, but ended up scrapping it as too incoherent or something... but here are a few points I think I had in it:

* More than one value could be stored in the SetupOption: loaded, modified, command line override. Command line overrides would be temporary and not saved to the config file unless explicitly asked for, and modified values could be reverted be

[2015-06-17 14:13] taupter commented on #2109
Em terça-feira, 16 de junho de 2015, Tres Finocchiaro <
notifications@github.com> escreveu:

@tresf <https://github.com/tresf> Yes, it does compete. Even Voyetra still
competes. Yes, LMMS is pretty competent and featureful, with a lot of extra
goodies and and excellent bang for the buck. It has the potential to
compete in even more markets. But there are a lot of possibilities of
improvement. Ther

[2015-06-17 15:13] taupter commented on #2109
@softrabbit May I take a look at it?

AFAICS we need a flag for each subsystem that could need a reboot. I'd name it "reload" or something like that, as I believe reloading a module/subsystem instead of restarting the full program would be the saner thing to do. When saving/applying configurations such flags should be checked and acted upon: the modules/subsystems that reloading is not implemented

[2015-06-17 15:18] groboclown commented on #2082
I wasn't able to reproduce this precisely again, unfortunately.  I was able to get many hangs (no signal) while adding an instrument to a playing song, and I was able to get a SIGSEGV while removing a triple oscilator (below), but not this sigabt again.

[code]

[2015-06-17 15:24] tresf commented on #2109
We could talk endlessly about how LMMS needs to improve, but the [proof is in the pudding](https://en.wiktionary.org/wiki/the_proof_of_the_pudding_is_in_the_eating), so to speak.

Our software can drag SF2s and VSTs (and others) directly from the file browser into a new track.  That's pretty easy.  Management of them in a single dialog may be clumsy, sure, but that is mostly a UI improvement.

say

[2015-06-17 15:25] tresf commented on #2109
Also apologies to @badosu as this thread has gone way off-topic.

[2015-06-17 15:30] tresf commented on #2109
Yes, please do although this can grow into a fairly large project.  I'd recommend opening a Pull Request as soon as you have a basic proof of concept started so that the team can have plenty of time to review and approve your approach.

[2015-06-17 16:36] badosu commented on #2109
@tresf

This thread appearead as a spin-off of a discussion with @taupter on what he wanted to collaborate to LMMS.

[2015-06-17 16:45] taupter commented on #2109
2015-06-17 12:24 GMT-03:00 Tres Finocchiaro <notifications@github.com>:

I agree that we stop beating such a dead horse called nomenclature. It
doesn't matter if one names it clumsy, difficult, complex, whatever. It's
broken, should be fixed.

Whatever. I believe I made my point understood. Particular perceptions
about nomenclature should be out of scope. It's broken, should be fixed.

 It's broke

[2015-06-17 16:48] taupter commented on #2109
2015-06-17 12:30 GMT-03:00 Tres Finocchiaro <notifications@github.com>:

Yes, it seems to be deeper than expected. Maybe some heavier refactoring
may be necessary. I'm afraid of changing too many things and making a pull
request too big. Let's see if I can take it in lesser parts.

[2015-06-17 16:56] badosu commented on #2109
@taupter

![](https://xen-orchestra.com/blog/content/images/2014/Aug/1386271588578.jpg)

[2015-06-17 16:56] taupter commented on #2109
@badosu LOL

[2015-06-17 19:55] tresf commented on #2028
Closed via #2033

[2015-06-17 19:55] #2028 closed

[2015-06-17 20:29] Wallacoloo opened #2115 "Descriptive Undo/Redo Text"
Currently, under the edit menu, there are options labeled "Undo" and "Redo". I think it may be useful to add a little extra context to those actions. For example, if you just deleted a note from the piano roll, it might say "Undo delete note", or if you just changed a note's volume, it could say "Undo change note volume".

The main use for this is for when you're undoing many actions in order to g

[2015-06-17 22:00] tresf commented on #2115
I am a fan of the feature.  Maintainability and code complexity would be my concerns.  For example, would our Journal Entries need to have a new parameter added that offers a description or do we have enough information with the calling member that we can infer the action (such as `VOL` `Knob`).

If we can pull this off without adding a bunch redundant of descriptions to our codebase.

[2015-06-18 07:44] softrabbit commented on #2109
I like the idea of subsystems holding their own configuration, it makes sense for the audio and MIDI drivers that need to figure out exactly what interfaces and options are available. But independent saving and loading sounds a bit like overkill to me, it's not like there's a huge number of subsystems with huge numbers of config items. And it would either mean saving in separate files (new format,

[2015-06-18 08:58] Hgroyal opened #2117 "Sample Lengths"
I have and issue/question.  I have been trying to use my own samples in lmms.  I upload the samples using the AFP.  However, when I try to play a sample that is for example 7 seconds long, I will only get may 3 or 4 seconds of the sample.  The only way that I can get the entire sample to play is if I choose to play the sample across the notes, but I do not like this option because I cannot control

[2015-06-18 09:35] musikBear commented on #2117
similar to #1471

[2015-06-18 15:22] taupter commented on #2109
2015-06-18 4:44 GMT-03:00 Raine M. Ekman <notifications@github.com>:

Well, what was done in Kopete (disclaimer: I'm a Kopete contributor):

We have for each subsystem a pair of modules: one that implements the
subsystem functionality (a subproject inside libkopete, let's say,
libkopete/avdevice) and one that implements the configuration UI (usually
in kopete/config, in my example it is kopete/con

[2015-06-18 16:35] drummyfish commented on #1472
So MIDI export works now? How?

[2015-06-18 16:37] tresf commented on #1472
@drummyfish in a future release, 1.2.0.

[2015-06-18 22:46] ThomasJClark commented on #2050
I guess there wouldn't be interest in a PR for this fix (let me know if I'm wrong about this), but since it's stupid simple, here's the patch I've been using.  In case anyone finds it useful.

[code]

I've been using this applied on top of `stable-1.1` (`master` crashes a lot for me)

[2015-06-19 02:20] tresf commented on #2117
@musikBear, this is an AFP bug, not a Sample Track bug.  This is a bug, not an enhancement.  The duplicate is here:  #1592, specifically here:  https://github.com/LMMS/lmms/issues/1592#issuecomment-70837313

[2015-06-19 02:21] #2117 closed

[2015-06-19 02:30] Gnurou commented on #1875
Same issue, also with Arch Linux 64 bit. Will try to investigate a bit further if I can find the time.

[2015-06-19 07:14] Wallacoloo commented on #2050
Interesting. This seems like a bug that has appeared intermittently throughout development. It **does** effect the current master (commit https://github.com/LMMS/lmms/commit/96a1d412dda700efaf525992e6eb579b7d0a1190), however I have an older install from 4 weeks ago that is immune to this bug.

To reproduce on current master, just launch LMMS and hit F7 (shortcut to open Piano Roll) once it loads.

[2015-06-19 07:17] Wallacoloo commented on #2050
And if you submit a PR for this, I'd say to target it against master since 1.1 is so near the end of its life.

[2015-06-19 18:25] Ali-Zaid commented on #2100
I found the X server logs and also found out that one of the log files, Xorg.1.log, shows that it was a segfault error. The contents of the log file are pasted here.

[  1579.180]
X.Org X Server 1.17.1
Release Date: 2015-02-10
[  1579.180] X Protocol Version 11, Revision 0
[  1579.180] Build Operating System: Linux 3.2.0-61-generic x86_64 Ubuntu
[  1579.180] Current Operating System: Linux ali-Sat

[2015-06-19 18:42] tresf commented on #2100
@Ali-Zaid please use Gist for large logs.  Also, wrap logs in triple backticks to prevent arbitrary auto-linking to other but reports (edited it for you this time)

[2015-06-20 11:36] spider-mario commented on #2100
I used to have this problem with both standalone ZynAddSubFX and the LMMS plugin, but not anymore, and unfortunately, I have no idea what changed…

[2015-06-20 22:26] Wallacoloo opened #2120 "AudioFileProcessor: Allow sample loading from OS' drag-and-drop"
Currently, you can load a sample into the AFP by dragging it from one of the file browsers in the left pane and dropping it somewhere over the AFP's UI. I propose that you should be able to do the same thing by dragging an audio file _from any other program_ (specifically the operating system's file browser) and releasing it over the AFP as well.

This shouldn't be too difficult to do, as I believ

[2015-06-20 22:48] Wallacoloo opened #2121 "Refreshing the File Browser should not collapse all folders"
Currently, clicking the refresh icon in the lower right of a file browser in the left pane of LMMS will cause all of its folders to be collapsed.

Ideal behavior, in my mind, is to preserve the collapsed/expanded state of all folders that existed before the refresh and have only the newly created folders default to being collapsed. Similarly, if a file/folder was selected before the refresh, it sh

[2015-06-20 23:06] midi-pascal commented on #2050
IMHO This PR should be merged. I tested it and it works :+1:

[2015-06-20 23:14] Wallacoloo commented on #2050
I'm closing this now that @ThomasJClark's fix has been merged.

[2015-06-20 23:14] #2050 closed

[2015-06-21 00:10] Gps2010 commented on #562
I like the third this request, because I just found out, I could use calf studio plugin in lmms if we had an lv2 host.

[2015-06-21 04:45] Wallacoloo commented on #2112
So I did the first 4 steps and then used gdb to put a watch on the Song's `m_elapsedMilliSeconds` variable, which drives the time lcds.

I got this:
[code]

In other words, the call to `playSong()` under these conditions causes the millisecond count to be reset, but **not** the Song's bar/beat/tick values, which is likely why everything else still works. Note that after the watchpoint is first tri

[2015-06-21 05:39] Wallacoloo commented on #2112
As far as the best way to fix this... I think what's best is if inside the `playSong()` function, *after* calling `stop()` and setting m_playMode, we mimick the behavior of dragging the playhead to bar/beat/tick that we're scheduled to play from and then play the song. The playhead logic just takes the tick mark and divides it by the current tempo in order to get the time, so that's trivial. We co

[2015-06-21 10:21] kpone33 opened #2123 "Link Piano-Roll editor and Automation editor playback"
I think it would be nice to be able to have an option to playback an automation track synchronized with the Piano-Roll playback to have a better way to edit for example pitch automation without having to solo the corresponding track in the song editor and use loop markers to have automation applied as expected.

As mentioned, it would be very useful, if you use pitch automation or something else t

[2015-06-21 11:44] musikBear commented on #2121
I have already once made a topic around this, but it was dismissed. I have to chime in on this one, because the current behavior is a real anointment (imo)
Considder why the *refresh* is used:
The user open a folder, where he expect to find a particular preset
User enters s search-token
The search gives no usable result
The reason must be that the token was wrong OR the folder was wrong
so:
1 Toke

[2015-06-21 11:48] musikBear commented on #2123
copy of #857

[2015-06-21 13:32] tresf commented on #2120
I'd like to add that this should be extended to work with all file types supported (samples, patches, vst instruments, presets, projects) as the string-pair drag and drop logic already exists for all of them.

[2015-06-21 13:59] fundamental commented on #2100
Sounds like the bug discussed here:
http://www.kvraudio.com/forum/viewtopic.php?f=47&t=440054&sid=331c5810b2f0c35f74814223e45ea91a

If you can verify that it is this particular bug, please report it to your distro as an *X11* bug, not one in lmms or zynaddsubfx.

[2015-06-21 22:56] jaehyunmicro opened #2125 "Midi doesn't work on Mac"
No matter what I do or how much I try I can't get my Korg microKEY to work on LMMS. Help?

[2015-06-21 22:59] Umcaruje commented on #2125
Hi, yes this is a known bug: #1153

Unfortunately, we don't have that many mac developers, so I can't give you an estimate of when this issue will be fixed.

[2015-06-21 22:59] #2125 closed

[2015-06-22 12:46] musikBear opened #2128 "is the message 'Your project is now saved' shown to soon?"
Some eledgely have lost project, because they have turned the pc off, just after saving. The 'saved' mmpz has no data.
Personally i have always said that the user must wait until the message *disappear*! -But that is not intuitive in respect to the words in the message
Perhaps the **logic** is ok, but then the message could be something like
**'Please wait Your project is now being saved'**
That w

[2015-06-22 13:23] Wallacoloo commented on #2128
If this is true, it's likely that we just aren't flushing the file before
showing the message, unless we actually are showing that message in the
wrong order.

[2015-06-22 13:37] Umcaruje commented on #2128
Could /you/ offer some steps to *reproduce*? I 'never' encountered this __issue__!?

[2015-06-22 15:11] michaelgregorius commented on #2128
I have just checked the code. The saving is done in `Song::guiSaveProject` and the message is shown after the file was written. In `DataFile::writeFile` there is also another coarse check whether anything was written at all (checks if the file size is greater than 0).

Don't know if it really makes sense to explicitly flush the file (or whether `QFile` really supports what would be needed in the f

[2015-06-22 19:47] Reaper10 commented on #1460
that's what I'm doing.

[2015-06-22 22:15] Reaper10 commented on #1974
When the sends changes from this
![8aed812c-c281-11e4-9093-3d0599010c32 1](https://cloud.githubusercontent.com/assets/8137561/8294347/81c7b320-1901-11e5-9b1c-9339c1212917.png) to this
![e9366c66-c282-11e4-9fca-535c462495cc 1](https://cloud.githubusercontent.com/assets/8137561/8294367/c6d85258-1901-11e5-8afe-ec5384d6e48d.png) you can put pan knob where the send knob is right now.

[2015-06-22 22:33] Umcaruje commented on #1974
Nobody said sending will change to that. Imo that way of routing seems way clunky and bulky for the UI.

[2015-06-23 02:11] #2110 closed

[2015-06-23 09:19] musikBear commented on #2128
@Umcaruje No neither have i, but after what @michaelgregorius has deducted from the code-base, it is literally *impossible* that this could happen, in the way the orr opp describe it, in the forum post.
So the backend of this, is that i twice has tried to aid 2 different peeps that has lost mmpz-projects after they *-allegedly-* turned off their pc, just after they saw that message. But that train

[2015-06-23 09:19] #2128 closed

[2015-06-23 10:33] Baccanno opened #2129 "can't export as loop with CLI"
Options do not precise how to export as loop from the command line.
And looking at main.cpp it does not seem possible right now.

We have 100+ sounds to export so it would be great to automate this :)

[2015-06-23 12:10] zonkmachine commented on #2080
This was also the main concern with the previous pull request. I'm trying out an advanced switch right now and for the time being it resides in the 'Settings' menu.

This is a separate topic but a good one. We could make something like a 'master key track' that you can choose from the arpeggiator menu.

[2015-06-23 13:01] Wallacoloo commented on #2128
I wouldn't be so quick to discredit their reported experiences. In file
i/o, there is often both an operating system buffer and an
application-operated buffer. This means that if you write to a file and
don't call flush, the data may still be residing inside the application's
buffer and not the operating system's.

However, closing the file or destroying the C++ object that represents the
file han

[2015-06-23 13:51] zonkmachine commented on #2080
This is what it looks like in it's current incarnation.

![arpeggiatorx](https://cloud.githubusercontent.com/assets/6368949/8307574/7b9cd2fa-19bf-11e5-9030-1894b756533c.png)

[2015-06-23 16:57] michaelgregorius commented on #2129
Should be fixed with pull request #2131. Hope it helps you with your conversions. :smiley:

[2015-06-23 17:15] tresf commented on #2080
This looks pretty good and it is much simpler than the originally proposed idea.  I vote to make it default and skip the settings dialog altogether.

-Tres

[2015-06-23 17:32] Baccanno commented on #2129
We did it by hand this time -_-, but it will be much appreciated for the following work :)

Thx

[2015-06-23 17:52] zonkmachine commented on #2080
Yes, but this is only a selection of the functions to try out the settings dialog.  I agree that this could be a good new default but I can think of a whole lot more to do if I can figure out a good gui solution.

[2015-06-23 18:33] Reaper10 commented on #1974
You could just move the send from top of the mixer to bottom of the mixer, then add the pan where the send was.

[2015-06-24 12:20] DeRobyJ commented on #1472
For the "MIDI mapping using custom key ranges #1743 #1381 #1792 ", we could use the new tab in the plugin window, the one used to disable transposition.
It's a really important feature: with that you can use the B+B editor as a drum sampler #1460.

[2015-06-24 13:53] Israel-D opened #2132 "WANT_VST_NOWINE in CMakeLists.txt"
Hi,
@falkTX packages lmms for KXStudio and includes a patch to give the CMakeLists.txt a WANT_VST_NOWINE variable (as well as some debian specific code that uses and sets this).
AFAIK currently this would _probably_ not adversely effect other Linux builds, as they wont set this variable to true... basically

[code]

Are there any downsides to doing this?  Would this cause undue hardships, or be a

[2015-06-24 14:10] grejppi commented on #2132
This option doesn't even do anything.

[2015-06-24 14:49] falkTX commented on #2132
This option enables the LMMS-VST without actually building the code.

It's used on 64bit builds where the code for it isn't actually built (since it only works for 32bit afaik),
but we still want to enable the vst option.

The module is installed in a separate 32bit-only package, which when installed on a 64bit system makes lmms able to load 32bit vsts.

[2015-06-24 15:30] tresf commented on #2132
@falkTX in your opinion, do you recommend we use that option moving forward?  Or is this more of a matter of permanently fixing the CMakeList.txt to reflect exactly what you're describing with a new flag for controlling it?

Ideally we'd like our upstream code to accommodate the packaging requirements.

[2015-06-24 15:41] falkTX commented on #2132
that option is fine, it's not going to hurt anyone.

the reason that option is needed is because of some weird debian oddities when building packages that use winelib.
As I explained it needs a way to enable wine stuff even if it's not going to be built.

It's not an option for end users, only for packagers.

[2015-06-24 16:17] tresf commented on #2132
Then we should have no issue merging it in. :+1:  :)

[2015-06-25 15:24] Umcaruje commented on #51
I think this should be closed, since pitch automation is shown correctly in the piano roll now, and the pitch knob has a range.

[2015-06-25 15:30] Umcaruje commented on #117
@mikobuntu could you draw a mockup for this feature, and further explain it? I'm having a hard time understanding this enhancement.

[2015-06-25 15:40] Umcaruje commented on #158
Is this still an issue? I've been using lmms with alsa for over 2 years now and I never encountered this. Can someone still reproduce?

[2015-06-25 15:56] tresf commented on #158
Yes, this is still relevant for me and I can confirm that Apple has these identically described issues.  60 seconds is a bit extreme though.  Pausing and playing again after about 5 second pause fixes it every time.

[2015-06-25 16:07] tresf commented on #51
Perhaps, but the "between selected notes" description unfa originally asked for hasn't been implemented yet, just an arbitrary graph which has no control over which note it is landing on.

I actually find the per-note pitchbend to be less granular than an automation graph, which is a separate issue entirely, but speaks to the difficulty in getting the note slide correctly, which is really what thi

[2015-06-25 16:58] Umcaruje commented on #260
@boulder74 can you still reproduce this issue?

[2015-06-26 17:36] Umcaruje commented on #355
@musikBear Since #1627 was merged, I'm closing this as fixed, if you believe some parts of this request weren't implemented, please open a new issue.

[2015-06-26 17:36] #355 closed

[2015-06-26 17:39] Umcaruje commented on #375
Since #1593 was merged, I'm closing this issue as fixed. If you believe this was closed in error, feel free to reopen the issue.

[2015-06-26 17:39] #375 closed

[2015-06-26 17:53] Umcaruje commented on #429
Closed via #1938

[2015-06-26 17:53] #429 closed

[2015-06-27 00:17] Reaper10 opened #2134 "Impact Zone plug-in"
*Edited 9/12/2015 by @tresf, fix formatting*

**Impact Zone plug-in**
 * A pad-based drum machine (similar to MPC hardware pad)
 * This is not for replacing the B&B editor.
 * 1 to 17 outputs
 * 16 drum pads
    ![impactzone](https://cloud.githubusercontent.com/assets/6345473/9832482/2cca2252-594a-11e5-85a9-cc9274904b37.png)

**The Master Section**
 * In #1987 adds a switcher buttons to the instru

[2015-06-27 00:43] Reaper10 commented on #1460
Impact Zone plug-in #2134

[2015-06-27 01:43] grejppi commented on #2134
Is there anything this plugin can do that you couldn't already do with the Beat/Bassline editor?

From a technical view, the keyboard widget isn't something that you can't take away from an instrument, because it is not part of an instrument plugin in the first place. This proposal would either require a near-complete overhaul of the instrument API, or a completely new track type (not good). ~~Ova

[2015-06-27 01:50] Reaper10 commented on #2134
Feel free to chage what need just an idea

[2015-06-27 01:59] grejppi commented on #2134
When would you like to see this implemented?

[2015-06-27 02:15] Reaper10 commented on #2134
when ever you can

[2015-06-27 02:18] Reaper10 commented on #2134
can you keep the name?

[2015-06-27 02:22] tresf commented on #2134
The author of the plugin would have to decide that., but the name isn't bad.  It is catchy and very appropriate, so you may get your wish if it ever gets to fruition.

[2015-06-27 02:35] grejppi commented on #2134
In my opinion LMMS could benefit more from a general purpose layer plugin, or at least something along the lines of "note sends" analogous to audio sends in the mixer. But that'd be the subject for a different issue.

We already have a way to use our instrument plugins as drums, and it is called the Beat+Bassline Editor. In my opinion a new plugin for that would be completely redundant.

[2015-06-27 02:40] Reaper10 commented on #2134
shoud I close this

[2015-06-27 02:43] tresf commented on #2134
I disagree strongly.  A drum pad as mentioned several times over and present in many DAWs is needed IMO.  Perhaps not so much from a functionality perspective.... as we can achieve the effect in several ways already as you've mentioned.... This would be more of a productivity improvement per  #1460

[2015-06-27 08:48] softrabbit commented on #2134
Edited the OP a bit to make a few spots more readable.

First impression: why the 4x4 grid interface? What's wrong with a list that can be as long as it needs to be, like in the B&B-editor? Is it because some other software looks like this or is it to mimic some famous piece of hardware?

[2015-06-27 11:18] Umcaruje commented on #465
@musikBear could you please offer some steps to reproduce this issue?

[2015-06-27 11:25] Umcaruje commented on #498
Duplicate of #1332

[2015-06-27 11:25] #498 closed

[2015-06-27 11:31] Umcaruje commented on #493
@musikBear can you confirm this issue still exists? There have been some changes in the way vst data is handled in #1480.

[2015-06-27 14:41] musikBear commented on #493
@Umcaruje i dont have a binary Master. Im still on 1.1.3 off. release, so sorry no.

[2015-06-27 14:47] musikBear commented on #465
No, this is apparently random behavior, but should be given lowest priority possible. In fact, its better that the project asks for a save, than the user looses his edits  (f.i. if bocks are moved in S.E.
I would take that to the extend, that opening always should be regarded as a edit, at least until all actual changes **do** count as *edited*

[2015-06-27 15:42] Reaper10 commented on #2134
This is not for replacing the B&B editor it's a pad basted drum machine like the MPC.

[2015-06-27 18:48] michaelgregorius commented on #1600
I have implemented the selection of the ALSA device via a combo box. Please check pull request #2135 to see how it looks. Thanks!

[2015-06-27 19:07] midi-pascal commented on #1600
:+1:

[2015-06-27 19:32] swellbastion opened #2136 "Jack audio support on windows"
I don't know if this is the proper place for a feature request like this, but eventually it would be cool to have [jack](http://jackaudio.org/) support on windows. There are obviously much more pressing things to work on though.

[2015-06-28 13:06] musikBear commented on #2088
just want to add, that this is not totally harmless. If the project has any VST, then this 'after closing crash' will creates 'orphans' and memory-leak

[2015-06-28 19:17] Wallacoloo opened #2137 ""Locale Updater" listed under contributors section"
In the `Help` -> `About` -> `Involved` textbox which lists all authors of LMMS ordered by commit count, along with their email address, there is an author called "Locale updater" with no email listed. This seems like an accident.

Similarly, there is a "Ubuntu \<ubuntu@ubuntu-1204.(none)\>" user, whom I would suspect was somebody who didn't set up their git id correctly.

This data is generated in

[2015-06-28 19:33] midi-pascal commented on #2137
Hum... I think it is me :-1:
I am not very efficient with git and recently discovered how to setup this when committing.
And pascal <pascal@TDE.(none)> is me too
What a shame :(

[2015-06-28 20:21] Wallacoloo commented on #2137
"Locale updater" appears to originate in a commit @Lukas-W made back in January: https://github.com/LMMS/lmms/commit/85fb0aca82379b51287855f770300d2eb63e5c8d

I do not know if it's possible to map ownership of that commit back to him, or if he'd even think it's worth the effort.

The "Ubuntu" author comes from these commits (reverse-chronological):
1. f601e018115baea67e3b097d73361aaa4cd71ebb
2. 82

[2015-06-28 20:29] midi-pascal commented on #2137
@Wallacoloo At least I am clear for one of the two since the other one - "pascal <pascal@TDE.(none)>" - is me for sure. I remember the commits I made with this name.
Sorry to have polluted the contributors list.

[2015-06-28 20:41] Wallacoloo commented on #2137
My recommendation: since the authors of these commits already appear elsewhere in the github repository with their correct email/name, they are still credited on the CONTRIBUTORS list. By simply blacklisting the invalid author data from the CONTRIBUTORS list generation, we fix the relevant portion of the issue, but every author of LMMS who ought to be credited will still show up on the list.

The

[2015-06-28 20:53] midi-pascal commented on #2137
@Wallacoloo Since it is my mistake, I cannot complain but if my old author name does not cause any problems I prefer to <i><b>not</b></i> have it blacklisted. I already mentioned it in my CV for a job...

[2015-06-28 20:56] Wallacoloo commented on #2137
@midi-pascal I don't have a problem with that. I only really have a problem with things being listed on there that are obviously not *people* (i.e. "Locale Updater" and "Ubuntu .,.")

[2015-06-28 20:58] midi-pascal commented on #2137
@Wallacoloo :+1:

[2015-06-28 22:31] Wallacoloo opened #2138 ""Export between loop markers" causes inaccurate progress bar display"
In the export menu, if you select "export between loop markers" and the loop markers are placed somewhere besides the beginning and end of the song, the progress bar will show inaccurate percentages whilst exporting.

I believe the issue is simply that the progress is calculated as (index of bar being exported) / (number of bars in the song), and so it discards things like which bar you started ex

[2015-06-28 22:37] Wallacoloo commented on #2138
Indeed, the issue is on [ProjectRenderer.cpp:176](https://github.com/LMMS/lmms/blob/f40329946024b93c92bdd9c2c46b8390a027d393/src/core/ProjectRenderer.cpp#L176)

[code]

[2015-06-29 01:27] tresf commented on #2137
In termd of "Ubuntu".... For some strange reason despite using the proper un/pw, this happens (happenned?) when the VM of choice didn't have the account info entered in git CLI.  Without rewriting history, the best approach IMO is to filter it out completely forever.  I'm sure one of my 10/VMs will continue to do this in the future, so filtering it out is the most accurate thing to do without writ

[2015-06-29 01:32] tresf commented on #2137
Just read about midi-pascal... If we can combine them at compile time, that would be ideal.  Several addresses are bound to change, so that would be a well received addition, if feasible.

[2015-06-29 06:50] Lukas-W commented on #2137
Using "Locale Updater" as an author was not an accident. :)
I used that author in 85fb0aca82379b51287855f770300d2eb63e5c8d because all I did was run `cmake update-locales`, so all changes in the commit were made by a machine, but is still has ~80,000 additions/deletions. I didn't want to credit myself (or any person) with that.

[2015-06-29 06:57] Lukas-W commented on #2137
When an author has used different addresses over time, adding them to the [`.mailmap`](https://github.com/LMMS/lmms/blob/master/.mailmap) file should fix the author being listed several times.

[2015-06-29 12:33] tresf commented on #2137
:+1:

[2015-06-29 12:59] Umcaruje commented on #587
@musikBear could you please further explain this request? It seems like a mixture of already submitted enhancements.

[2015-06-29 13:01] Umcaruje commented on #588
Can you comfirm that this is still an issue @softrabbit?

[2015-06-29 13:04] midi-pascal commented on #2137
@Lukas-W :+1:  This is great! May I add my two entries myself in this file?

[2015-06-29 13:36] Umcaruje commented on #528
Confirmed on lmms 1.1.3 on Ubuntu 15.04 x64.

[2015-06-29 13:42] Umcaruje commented on #594
Duplicate of #905

[2015-06-29 13:42] #594 closed

[2015-06-29 13:43] Umcaruje commented on #905
@davidgerard can you still reproduce this issue?

I haven't managed to do so on 1.1.3, Ubuntu 15.04

[2015-06-29 13:50] Umcaruje commented on #597
What's the status with this issue now? @DanWin and @midi-pascal made some improvements on this field.

[2015-06-29 14:01] Umcaruje commented on #610
@oeai Can you reproduce this issue on the current master branch?

[2015-06-29 14:04] Umcaruje commented on #621
Closed by https://github.com/grejppi/lmms/commit/cdcba9f68519a53f3218fa02f62ae79ef59abf1f

[2015-06-29 14:04] #621 closed

[2015-06-29 14:15] midi-pascal commented on #597
@Umcaruje I think most - if not all - of the problems about missing strings in translation files have been solved by the PR #2065 (commit ecbeaf7). The main cause was the usage of tr() inside macro's so the strings were not found by lupdate, and some other minor bugs in the code.

[2015-06-29 14:31] Umcaruje commented on #656
@musikBear can you please elaborate this feature a bit more, or offer some screenshots or video. Is it reproducible in 1.1.3?

[2015-06-29 14:43] davidgerard commented on #905
Not seeing it in 1.1.3, and in fact I don't recall seeing it in 1.1.3. I think this might have been fixed along the way.

[2015-06-29 14:43] #905 closed

[2015-06-29 14:46] Umcaruje commented on #905
Awesome :+1:

[2015-06-29 16:50] zonkmachine commented on #503
I'm working on this.

[2015-06-29 16:54] Umcaruje commented on #681
Duplicate of #2014

[2015-06-29 16:54] #681 closed

[2015-06-29 17:08] Umcaruje commented on #690
@oeai Could you please further explain this request? I think this is something that can be added to #1471

[2015-06-29 17:10] Umcaruje commented on #706
@DarkFlameSquirrel can you reproduce this issue with a fresh install of LMMS 1.1.3?

[2015-06-29 17:16] Umcaruje commented on #709
Duplicate of #1175

[2015-06-29 17:16] #709 closed

[2015-06-29 18:30] musikBear commented on #656
yes for 1.1.3
i will make a vid tomorrow

[2015-06-29 18:44] Wallacoloo commented on #706
Umcaruje: `# make install` does not configure file associations or file
icons for me on Ubuntu 15.04 / Xfce.

However, I am unsure if it's supposed to configure those, or if that's the
job of a .deb file.
On Jun 29, 2015 10:10 AM, "Umcaruje" <notifications@github.com> wrote:

[2015-06-29 18:52] Umcaruje commented on #711
@musikBear can this request be concidered a duplicate of #1965?

[2015-06-29 19:38] tresf commented on #706
Yeah, the OP is using Windows, so this bug can't really can't be applied to other platforms or any other installers.

We likely won't ever do registration at `make install` time because `make install` is generally a command only developers (or *nix hobbyists) would run.  We could entertain a helper script, but it will have overlap with our packagers.  Mac, for example, needs a special [`Info.plist

[2015-06-29 19:38] #706 closed

[2015-06-29 21:28] Umcaruje commented on #706
:+1:

[2015-06-29 22:00] Umcaruje commented on #328
@lmmsUser can you confirm this issue on LMMS 1.1.3?

[2015-06-29 22:27] Umcaruje commented on #733
Closed by #1236

[2015-06-29 22:27] #733 closed

[2015-06-30 01:38] Wallacoloo commented on #2087
Closed via #2103.

[2015-06-30 01:38] #2087 closed

[2015-06-30 01:52] Wallacoloo commented on #2137
@midi-pascal Please do!

[2015-06-30 02:37] midi-pascal commented on #2137
@Wallacoloo Done! :-)

[2015-06-30 03:38] Wallacoloo commented on #2137
So should we go ahead and map `Locale Updater <>` to `anonymous <>`, and `<ubuntu@ubuntu-1204.(none)>` back to @tresf? (Or would you prefer the latter also be mapped to anonymous in case somebody else mistakenly commits under the same generic email?)

[2015-06-30 03:38] Wallacoloo commented on #2137
Sorry, hit the wrong button :P

[2015-06-30 03:59] tresf commented on #2137
Well, `<ubuntu@ubuntu-1204.(none)>` is certainly me (it's how I name my VMs) so that's safe to keep I think as it is unlikely someone will use that exact same username and hostname to commit back to GitHub on our project. :)

[2015-06-30 04:00] tresf commented on #2137
So, yes, what you said. :+1:

[2015-06-30 04:17] Wallacoloo commented on #2137
Alright, I was able to take care of yours @tresf through #2142 , but I couldn't figure out how to do anything with the Locale Updater, since it doesn't have an actual email address. Neither `anonymous <> Locale updater <>
` nor `anonymous <> <>` (which is a bit riskier) actually do anything.

[2015-06-30 04:22] Wallacoloo commented on #2137
Scratch that. By adding an extra space, I was able to get `anonymous < > Locale updater <>
` to work. @Lukas-W if you can take a look at the proposed change and chime in when you get the chance, 'twould be appreciated.

[2015-06-30 04:32] tresf commented on #2137
You can put  `<support@lmms.io>` if you'd like.  It's valid.

[2015-06-30 05:05] Wallacoloo commented on #2137
@tresf if somebody sends a letter to that email address, will it actually reach anyone?

[2015-06-30 05:09] tresf commented on #2137
It is intended to arrive at `lmms.service@gmail.com`, our service account.  I tested it and it doesn't appear to be forwarding at this exact moment when I send to it, but it was asked to be configured as a forwarding address by our hosting provider, as was `webmaster` and `notifications`, respectively.

[2015-06-30 05:11] tresf commented on #2137
In terms of which inbox receives a copy, just me last I checked, although a few others have access to the inbox.

[2015-06-30 05:33] Wallacoloo commented on #2137
Ok, I changed it to support@lmms.io. Should probably migrate any remaining discussion to the PR (#2142). Still want to get approval from @Lukas-W before merging.

[2015-06-30 09:15] DeRobyJ commented on #597
In 1.1.3, the only field that I know has translation in the .qm files but is shown in English is the whole Instrument Plugin tab.
The title, the description of the tab and each instrument description are still in English, while I remember reading some translated in previous versions.
I'm waiting for 1.2 to update Italian loca, and it would be good to have these fields translated!

[2015-06-30 09:31] DeRobyJ commented on #2092
In fact, some people ask me where to download the latest version...

Anyway, I think the current default is not so bad, since it shows all the kinds of tracks. The 3OSC default preset can be changed, but instead of having a "welcome" note, it would be fine to have a "lessons" section, just like ableton, with a lot of screenshots to display where things are...

The first lesson should be about the

[2015-06-30 09:34] Umcaruje commented on #2092
We already have a 'lessons' section, its called documentation: https://lmms.io/documentation/Getting_Started

[2015-06-30 10:01] Umcaruje commented on #716
I'm closing this bug for inactivity, since zyn is getting updated to 2.5 there are high chances this bug is fixed.

If it resurfaces though, @musikBear feel free to reopen this issue.

[2015-06-30 10:01] #716 closed

[2015-06-30 10:08] Umcaruje commented on #753
+1

[2015-06-30 10:08] musikBear commented on #711
no, not really. ENV/LFO tab just gives room for more direct zasfx dials
This topic is about connecting sub-synth and add-synth's resonance and frequency to the existing dials (front-tab)
BUT
there is no reason to try to do this for **ADD-synth**, and it may even be causing serious problems if it was done!
ADD-synth's need for actually building a complete new table of samples for *every* change in

[2015-06-30 10:11] DeRobyJ commented on #2092
Well ok, just saying... I only see that people find very convenient to have a tutorial just in the same program window... Not everybody likes to read a lot. But  it's just my opinion

[2015-06-30 10:11] Umcaruje commented on #711
Ok, it makes sense now. Tagging @curlymorphic for his opinion, since he is doing the zyn 2.5 upgrade.

[2015-06-30 10:19] musikBear commented on #2092
in fact quite a lot of peeps dont like to read *att all*
I have just answered 'questions' of how to get different notes in PiRoll  :p
Its quite easy to find good 'literature' about *that* in our wiki :pray:
(soorryy:)

[2015-06-30 10:21] musikBear commented on #711
:+1:
@Umcaruje ...sorry to have to ask, but what was that thing you asked for video about
I cant find that notification any longer..
Can i somehow get old already read notifications back? :speak_no_evil:

[2015-06-30 10:34] curlymorphic commented on #711
This feature may soon be solved.

ZASF has a midi learn feature, That I did test, and added some extra knobs to the lmms zyn instument host, These then could be assigned to contols in zasf, The issue at the time, was zasf never saved these "midi learns", so the contols and recorded automation would no longer work after the current session.
 I have spoken to @fundamental about this, with a view to

[2015-06-30 10:35] Umcaruje commented on #711
Yeah you can, just go to the [notifications page](https://github.com/notifications) and select 'All notifications':

![image](https://cloud.githubusercontent.com/assets/6282045/8429048/59da8c60-1f24-11e5-9221-5238904439a7.png)

[2015-06-30 10:37] Umcaruje commented on #747
@unfa This is the current behaviour in master, when you use Shift+alt to scale notes:
![gifrecord_2015-06-30_122847](https://cloud.githubusercontent.com/assets/6282045/8429076/95e05280-1f24-11e5-801d-a7edb89284c4.gif)

(sorry bout the tad glitchy gif)

I believe we can close this issue as fixed.

[2015-06-30 10:42] midi-pascal commented on #753
+1

[2015-06-30 10:44] musikBear commented on #656
@Umcaruje
Here is the video
http://youtu.be/zYSLStvKrQo

[2015-06-30 10:46] Umcaruje commented on #765
Reproduced on current master - ubuntu 15.04 x64

Steps to reproduce:
* Open new project
* Maximize the song editor
* Open the TripleOscillator
* Move the TripleOscillator outside the main view
* Click back on the Song editor so it gains focus
* Open TripleOscillator again, it now can't be moved.

Here is a gif of the behavior:
![gifrecord_2015-06-30_124032](https://cloud.githubusercontent.com/asse

[2015-06-30 10:47] musikBear commented on #711
:p ahh you 'caught me' before i edited the post, i found it just after i have posted the first time :p
Its my eyes, they are not doing so well with gray text on white background, so i diddent see the sidebar
Thanks for bothering to help me :+1:

[2015-06-30 10:53] Umcaruje commented on #656
Ok yeah this is a bug, thanks for the clarification.

[2015-06-30 11:27] Umcaruje commented on #724
I'm closing this as a won't fix, since not many people will open their 2009 projects inside lmms, and the problem is only in one plugin, so its fairly easy to fix the issue by replacing it inside your project.

[2015-06-30 11:27] #724 closed

[2015-06-30 11:30] midi-pascal commented on #753
In the same spirit, an other little missing feature in song editor:
The last button "After stopping go back to begin" does what is supposed to do (the marker is back) but the song editor does not scroll back so you have to scroll manually to the beginning of the song.
I think this would be useful too.
@Umcaruje Should I open an other issue for this?

[2015-06-30 11:30] musikBear opened #2143 "opening a VST preset should not open the VST GUI"
tittle says it, but it is unnecessary that all VST GUI is opened, either when the user picks a single VST-preset from 'My-presets' _and_ when a project with VST-presets is opened
All these GUIs are just a tedious windows-closing-task, that has to be done, because the presets are not meant to be changed! The Lmms-vst-ctlr-page is where the user will automate dials.
I would prefer VST loading, witho

[2015-06-30 11:32] Umcaruje commented on #753
Yeah, go ahead, sounds like a valid enhancement.

[2015-06-30 11:44] midi-pascal opened #2144 "Track name not shown in PianoRoll titlebar"
A useful - IMHO - little plus would be to display the current track name in the Piano Roll titlebar.
This could avoid some mistakes when editing a track with the piano roll - I experienced this already -.
The current track is already highlighted in the song editor but it can be scrolled out of view then one cannot see which track is displayed in the piano roll hence modifying the wrong track.

[2015-06-30 11:47] midi-pascal opened #2145 "Song editor scroll back"
A little feature missing in the song editor:
The last button "After stopping go back to begin" does what is supposed to do (the marker is back) but the song editor does not scroll back so you have to scroll manually to the beginning of the song.
I think this would be useful.

[2015-06-30 11:48] midi-pascal commented on #753
@Umcaruje Ok, I opened issue #2145

[2015-06-30 12:30] DeRobyJ commented on #2092
Thing is, I'm running some tutorials in Italian on my channel, and 2 different users couldn't find where to add plugin instruments, even if I showed it on my video.

Of course it's kinda stupid... As a user, you must have your way into the program, but a sort of initial lessons that asks you to move your mouse to the instrument tab could be a step foreward for some of these users... You know, Able

[2015-06-30 13:34] Umcaruje commented on #815
@softrabbit was this issue fixed by your recent improvements of MIDI importing?

[2015-06-30 13:52] midi-pascal commented on #2144
As I dig in the code, this appears to be a bug since the code to do it is in PianoRoll.cpp at line 581:
setWindowTitle( tr( "Piano-Roll - %1" ).arg( m_pattern->name() ) );
but the window title is not displayed :(
I put a breakpoint on it while debugging and this code is effectively executed but with no result.

[2015-06-30 14:38] Wallacoloo commented on #2144
@midi-pascal (by the way, that's a neat username) editors like the Piano
Roll are all split into two classes - I think one's named "PianoRoll" and
the other is "PianoRollEditor", or something. In terms of UI, one is the
parent and handles all the window menus (the stop/play buttons, etc) and
one is the child, which renders the main content.

I don't know which is which off the top of my head, but

[2015-06-30 14:39] Lukas-W commented on #2137
I approve. ;-)

[2015-06-30 15:04] Umcaruje commented on #794
Well, I'm not sure when this was implemented, but this issue is fixed in the master branch:
![gifrecord_2015-06-30_170204](https://cloud.githubusercontent.com/assets/6282045/8434131/e8e4d314-1f49-11e5-84f8-f11d8116575c.gif)

So I'm closing it.

[2015-06-30 15:04] #794 closed

[2015-06-30 15:16] #2137 closed

[2015-06-30 16:12] midi-pascal commented on #2144
@Wallacoloo The setWindowTitle() was already there. I did not change anything (yet :-)

[2015-06-30 16:42] Umcaruje commented on #843
Reproduced on ubuntu 15.04 x64 - master branch

Slightly different steps to reproduce though:
* Insert a note in a BB track
* Open track in piano roll
* Move note in piano roll
* Close the piano roll and then reopen the track in it

Here is a gif of the behaviour:
![gifrecord_2015-06-30_182903](https://cloud.githubusercontent.com/assets/6282045/8436319/b919872a-1f57-11e5-9f9c-89f33a5622ec.gif)

[2015-06-30 16:47] Umcaruje commented on #836
Duplicate of #1643

[2015-06-30 16:47] #836 closed

[2015-06-30 16:51] Umcaruje commented on #864
@musikBear is this still an issue? There have been changes in how VST data is handled.

[2015-06-30 17:01] Umcaruje commented on #869
I think the best approach to this would be that one bar plays just with the metronome before you start recording. Its a simple, clean solution. I don't think there is a need for user inserting ms values or stuff like that, since its just overcomplicating it.

[2015-06-30 17:05] Umcaruje commented on #871
:+1:

@Sti2nd this should probably be added to #1488

[2015-06-30 17:07] Umcaruje commented on #873
@mikobuntu can you reproduce this on the current master branch, and on @curlymorphic's zyn branch (don't know the exact name)?

[2015-06-30 17:14] Umcaruje commented on #879
Confirmed on Ubuntu 15.04 x64.

Have a gif:
![gifrecord_2015-06-30_191124](https://cloud.githubusercontent.com/assets/6282045/8436960/37148450-1f5c-11e5-8879-9b1199bc81fc.gif)

[2015-06-30 17:18] Umcaruje commented on #881
This request has been consolidated into a more encompassing Sample Track enhancement bug report and will be closed as duplicate for better tracking. #1471

Please feel free to reference this bug report or even amend or add comments if needed, but it will remain closed for better tracking purposes.

[2015-06-30 17:18] #881 closed

[2015-06-30 17:24] Umcaruje commented on #898
Closing, since TAP vibrato is a 3rd party plugin, and since the OP is satisfied with the workaround @diizy  posted.

[2015-06-30 17:24] #898 closed

[2015-06-30 17:31] tresf commented on #873
IIRC, zynwin should be a safe branch to compile.  https://github.com/curlymorphic/lmms/tree/zynwin

[2015-06-30 17:33] curlymorphic commented on #873
Yes that is the current branch.

[2015-06-30 17:35] tresf commented on #873
More specifically...

[code]

[2015-06-30 17:36] tresf commented on #871
:+1:

[2015-06-30 17:45] tresf commented on #869
Agreed.

[2015-06-30 17:47] tresf commented on #864
We can probably consolidate all VST crashes into a mega-issue and then close them individually afterwards since fixing a chunk of VST data for one may fix it for others as well.  IIRC, not much has been fixed in terms of VST support, so if this crashed in 1.0, it will likely crash in 1.1 and 1.2.

-Tres

[2015-06-30 18:00] Umcaruje commented on #904
I have no problems copying notes between two lmms instances in the current master, so I'm closing this as invalid.
![gifrecord_2015-06-30_195728](https://cloud.githubusercontent.com/assets/6282045/8437911/911ea934-1f62-11e5-96fe-c6246974a00c.gif)

If you believe this was closed in error, feel free to reopen this issue.

[2015-06-30 18:19] #1792 closed

[2015-06-30 18:39] davidgerard commented on #904
Umcaruje - no, you've duplicated the action the original report already said worked: "If I open the piano roll editor in the first and the second, I can cut and paste the notes from the first to the second OK (so there is a workaround)."

Can you try with the original reported problem? "I go into the bassline editor in both instances, I copy a sequence from the first BB editor, paste it in the sec

[2015-06-30 19:41] Umcaruje commented on #904
Oh, I'm sorry, I completely misread your bug report :confused:

Yeah I'm not able to copy patterns from one instance to another. I'll mark this as an enhancement.

Sorry for the inconvenience.

[2015-06-30 19:51] davidgerard commented on #904
Thanks :-) It's definitely "enhancement", given it's abusing LMMS beyond what it's actually meant to do ... but it's extremely useful in practice.

[2015-06-30 21:11] mikobuntu commented on #873
ok I'm cloning @curlymorphic 's branch now , I will build and test the aforementioned bug and also test with master next and report back guys ;)

[2015-06-30 21:15] mikobuntu commented on #873
@curlymorphic  my Liblo-dev package is not up to date ( running ubuntu-12.04 on this machine ) will not having OSC enabled affect my results? thanks

[2015-06-30 22:09] curlymorphic commented on #873
@mikobuntu

sudo apt - get install liblo-dev liblo7 should work fine on 12.04,

if you are running into problems, can you link me the results of running cmake please.

[2015-06-30 23:28] Umcaruje commented on #950
Duplicate of #250

[2015-06-30 23:28] #950 closed

[2015-06-30 23:35] Umcaruje commented on #980
Confirmed on Ubuntu 15.04 x64

[2015-06-30 23:44] mikobuntu commented on #873
@curlymorphic @tresf @Umcaruje   Ok I was able to build the zynwin branch and on testing the bug still exists. I will test this further and report back any findings .

[2015-06-30 23:45] Reaper10 commented on #2000
My vote is for Gstreamer.

[2015-07-01 00:24] Wallacoloo commented on #747
Yup! Pattern scaling was fixed a bit over a month ago :)

[2015-07-01 10:14] musikBear commented on #864
@Umcaruje im still on 1.1.3 - if you can make a binary Master x32, i will test the blue-cat, and others with this behavior

[2015-07-01 10:26] musikBear commented on #904
(i know this is totally out of context, but i need to tell you a serious surprising ability:
If you open a project as XML and copy the whole section of a BB with f.i. 10 patterns, and then drop this into an different project, something really interesting will happen.
In the new project there will only be *ONE* BB-track
But then the fun begins:
Press Add-BB-track
As by magic :p Now 2 of the orr 10

[2015-07-01 11:24] midi-pascal commented on #2144
This bug is not as trivial as it looks... I dug more and still do not understand what is wrong with the PianoRoll code. This should be tagged as a bug anyway.

[2015-07-01 15:36] michaelgregorius commented on #2144
Please note that this bug might be related to issue #1267 and might even be a problem with Qt itself (for more details see #1267).

[2015-07-01 15:47] musikBear commented on #2088
Happed the first time i used MASTER of 1. jul test binaries (lmms-1.1.3-010715-win32.exe)
Kindly supplied by @Umcaruje
Unfortunately this shows that the problem persist in Master
(several other issue exists, but i will make a list, referencing the relevant '#'numbers )

[2015-07-01 19:31] BaraMGB commented on #2145
I think, the auto-scroll has a bug.

[2015-07-01 19:39] BaraMGB commented on #2145
Oh, I tested only with an empty project. The auto-scroll follows the playhead only if there is something to play. I think that's not a bug it's a feature. But I can confirm the playhead jumps to start but the editor not.

[2015-07-01 19:51] Umcaruje commented on #2144
I don't think that's the case here, since this bug is only present in the master branch. I don't experience it in the `stable-1.1` branch

[2015-07-01 20:15] midi-pascal commented on #2144
@Umcaruje You are right, the PianoRoll titlebar is Ok in the documentation screenshots and also in stable-1.1.
I dug in PianoRoll.cpp history but found nothing that could explain this bug.
I must admit, I am stalled on this one :-(

[2015-07-01 20:18] midi-pascal commented on #2145
@BaraMGB That's the point: the playhead is Ok but not the Song Editor. When you have a long piece of music, this is a real annoyance.

[2015-07-01 20:23] tresf commented on #2144
Shot in the dark, but perhaps related to #2103?

[2015-07-01 21:08] midi-pascal commented on #2144
@tresf I read #2103 carefully and I don't think it is related. The window geometry problem under X11 is well known - I added a hint about this in #2103 - but this is the first time I see a problem setting a window title unless the object is not part of the windows family, in which case the code does not even compile.
So I stay really clueless on this one :-(

[2015-07-01 21:09] zonkmachine commented on #900
I'll look into this and pull request #728 again and I'm all warm and fuzzy about peoples requests. Probably the best thing though would be to make the short cuts configurable by the user.

[2015-07-01 21:43] michaelgregorius commented on #2144
Problem is fixed with pull request #2146. @Wallacoloo gave the right tip. The top level MDI widget is not `PianoRoll` but `PianoRollWindow`.

[2015-07-01 21:52] midi-pascal commented on #2144
@michaelgregorius Wow! :+1:

[2015-07-02 03:23] #2144 closed

[2015-07-02 03:25] Wallacoloo commented on #2144
Fixed by @michaelgregorius in #2146 with the following caveat:

[2015-07-02 07:53] musikBear commented on #815
@Umcaruje
in win32x yes! -eg *this* & 2033 and related can be marked ok for win32x
Closing is to early, because the other OS's need to be confirmed too -right?

[2015-07-02 07:57] musikBear commented on #493
@Umcaruje unfortunately Master still hangs when the chunk-heavy VST-effect is included in a saved project
Issue not solved
(tested with BlueCat effect-plugins on win 32x

[2015-07-02 08:02] musikBear opened #2147 "Master ( as off 1.07.2015) - Not possible to copy note-Blocks in song-editor"
win32x
cant copy note**blocks** NEITHER INSIDE A TRACK OR from one track to another

(Notes copied from inside one block can correctly be copied to any other block)

---------

This is more complicated than i thought -I had a crash, and after the crash, i CAN copy whole blocks - not sure whats happened, except i removed the orphan VSTs manually
Has anyone else seen this 'not-block-copy' thing?

[2015-07-02 12:15] zonkmachine commented on #1499
Probably. It's not a bug as much as just how the oscillators work so it's not only Organic. Try a 3xOsc with only one sinewave and turn the SPD knob. When you offset one of the waves the oscillator will simply make it start right there in the middle of the wave. Biggest leap is at SPD settings 90 and 270. This isn't a problem with saw or squarewave as much as sine which is only the fundamental.

Y

[2015-07-02 13:17] tresf commented on #493
I can't locate the exact conversation, but we need to fix the way VST presets are loaded in a few circumstances.  It is likely this is the cause for a few other bug reports as well.

Possibly related #1183 #1389 #260 #328 [forums/#1609](https://lmms.io/forum/viewtopic.php?f=7&t=1609)

[2015-07-02 13:26] Wallacoloo commented on #2147
Can you clarify what you mean by "noteblock"? Are you attempting to select
multiple notes in the Piano Roll and then copy them? Or are you trying to
copy whole patterns in the song editor? Or something else?

[2015-07-02 14:02] Spekular commented on #843
This has happened to me in master, but only some notes disappeared after I moved a sequence forwards. Checking piano roll confirmed they were all in positions that should be visible. However, saving, restarting, and opening the project fixed it for me.

[2015-07-02 14:05] Spekular commented on #2074
I'm not sure if it helps but I can confirm this on the current master. Just as wallacoloo said, it stops just under one bar.

[2015-07-02 14:42] Spekular commented on #864
@musikbear Here's a link to Windows 32 and 64 bit installers, thanks to Umcaruje: https://drive.google.com/folderview?id=0B49dcRGtm8vJcV9LU0xqZW81QjQ&usp=sharing

[2015-07-02 15:16] Spekular commented on #1651
I was going to add an issue for the scaling of piano roll patterns in the BB editor but as I described it I realized it's the same as this issue. If your piano roll pattern has as many bars as your BB pattern, you can eye the pattern to see where a note starts and ends:
![1](https://cloud.githubusercontent.com/assets/8918426/8479956/42e002d4-20db-11e5-9d90-d44a85154542.png)
![2](https://cloud.gith

[2015-07-02 15:38] Spekular opened #2148 "BB-pattern length in song editor doesn't update"
Adding or removing bars from a BB-pattern in the BB-editor should change the distance between notches on said pattern in the song editor, but this doesn't take effect until you grab the pattern in the song editor.Here's an ugly demonstration:
![ugly](https://cloud.githubusercontent.com/assets/8918426/8480960/0c56104a-20e1-11e5-9760-f66ed48d22cf.png)

[2015-07-02 18:46] Umcaruje commented on #2147
@musikBear please offer steps to reproduce, AND STOP USING CAPS LOCK. Nobody likes being yelled at.

[2015-07-02 18:57] Umcaruje commented on #982
@musikBear Can you please clarify this issue and offer some screenshots/steps to reproduce.

[2015-07-02 18:58] Moth-Tolias opened #2149 "LFO "Collision" in AudioFileProcessor"
I did a search and it looked like there wasn't a report on this yet, so:

-Connect an LFO controller to the AFP loop- startpoint
-Connect an LFO controller to the AFP loop- endpoint
-change the speed of one LFO to engineer a collision
-lmms crashes

[2015-07-02 19:11] tresf commented on #2149
Reminds me a bit of #1134.  The code affected should be similar as it handles the start and endpoint barriers.

[2015-07-02 19:33] tresf commented on #982
I believe the issue to be with the per-note bending where the vertical axis can only zoom in so much.  This should be closed.

[2015-07-02 19:47] Umcaruje commented on #890
Marking this as an enhancement. It seems logical that pressing the refresh button resets the search field.

[2015-07-02 19:58] Reaper10 commented on #2120
Will you be able to do this with audio clips from a sample track?

[2015-07-02 20:38] Umcaruje commented on #1050
@unfa can you reproduce this issue on the current master branch?

[2015-07-02 20:50] Umcaruje commented on #1012
@musikBear this is the behaviour of AFP in current master:
![gifrecord_2015-07-02_224652](https://cloud.githubusercontent.com/assets/6282045/8487460/98bcd7d2-210c-11e5-97a7-12b39379b7ed.gif)

I think this issue should be closed.

[2015-07-02 21:02] Umcaruje commented on #1055
@pauljs75 can you reproduce this issue on 1.1.3?

I can't seem to reproduce this on ubuntu 15.04 x64, with both the master and stable-1.1 branches.

[2015-07-02 21:24] Spekular commented on #1012
@Umcaruje Just gotta say, nice sample you got there!

[2015-07-02 21:26] Umcaruje commented on #1062
@enrydj can you still reproduce this on the current master branch? I can't seem to reproduce this issue, when I put the release to 0 all sound goes away.

[2015-07-02 21:33] Umcaruje commented on #1068
@rawthought can you still reproduce this issue on the master branch?

[2015-07-02 21:37] Umcaruje commented on #1105
Reproduced on Ubuntu 15.04 x64, lmms 1.1.3

[2015-07-02 21:49] Umcaruje commented on #1119
Reproduced on Ubuntu 15.04 x64 - Can't select no-length notes using `ctrl + a`.

[2015-07-02 21:59] Umcaruje commented on #1156
Reproduced in Ubuntu 15.04 x64

[2015-07-02 22:07] Umcaruje commented on #1177
@unfa do you get this bug when you are not using `zita-rev`? If you are experiencing this with that plugin only, then this is not our bug.

[2015-07-02 22:09] Umcaruje commented on #1188
@friedemann- can you still reproduce this issue? If you do, please provide a backtrace of the segfault.

[2015-07-02 22:17] Umcaruje commented on #1123
Duplicate of #1195

[2015-07-02 22:17] #1123 closed

[2015-07-02 22:18] Umcaruje commented on #1200
@KloppsKopp can you reproduce this issue on lmms 1.1.3?

[2015-07-02 22:25] zonkmachine commented on #1091
I've actually implemented swing before but this was on a much simpler hardware sequencer. Since we've seen coding on the MIDI side of LMMS lately, probably the most sane way to go about it would be through groove templates.

Here's an interview with Roger Linn as a bonus   :)
http://www.attackmagazine.com/features/roger-linn-swing-groove-magic-mpc-timing/

[2015-07-03 00:24] Wallacoloo commented on #2149
Do you actually need an LFO on both the endpoint and startpoint to cause a
crash? Or can this be reproduced with just one LFO?

[2015-07-03 00:30] Wallacoloo commented on #2120
@Reaper10 yes, that should be possible. Not sure if sample tracks are
already set up for drag and drop,  but Qt's drag and drop system is very
capable.
On Jul 2, 2015 12:58 PM, "Reaper10" <notifications@github.com> wrote:

Will you be able to do this with audio clips from a sample track?

—
Reply to this email directly or view it on GitHub
<https://github.com/LMMS/lmms/issues/2120#issuecomment-118

[2015-07-03 01:02] Wallacoloo commented on #2149
I was able to reproduce this by just automating the loop endpoint actually, and ramping it from some high value down to zero. Once it reaches zero, I got the following:
[code]

In this case, an attempt is made to `memcpy` 9599-9640 = **-**41 frames (which gets turned into an absurdly large unsigned value). I did this with looping enabled, and as you can see with the if statement, there are likely

[2015-07-03 01:55] Wallacoloo commented on #2149
For the record, I am upset that the `SampleBuffer::getSampleFragment` function was ever allowed into this codebase written as it is. It has numerous parameters whose meaning is totally unclear from their name/context (e.g. a clearly non-temporary parameter [as the function allocates, but never frees it] named "_tmp" - what the fuck?), and nobody bothered to document anything about it.

[2015-07-03 09:32] unfa opened #2153 "General live performance reliability"
One of the bigger concerns I have right now with LMMS (and linux audio software in general) is the uptime of a single program.

Random crashes are very frequent, making me very unlikely to perform in front of an audience. Musicians can make most income from live gigs. I think focusing on this "live safe" aspect of our software can also bring us more serious users, and possibly more people and mone

[2015-07-03 09:35] liftarn opened #2154 "Add support for acidized samples"
An “Acidized” file is a standard .WAV file, but it takes advantage of an audio-file feature that allows non-audio data to be embedded into a file’s header. This extra information provides ACID with a loop’s length (in beats and bars), time signature, slice points and the base transposition key.

[2015-07-03 10:59] musikBear commented on #843
yes! this bug is only visual (as i orr. wrote) - the *logic* is fine. It is just the interpretation of the logic, to visual objects, that has a flaw
Or in other words :
Those events that make sure a new projects logic is displayed visually correct, are not being re-called after a no-length-note are moved in piano-roll
This **may** be as simple as just finding the event that actually maintain this

[2015-07-03 11:08] musikBear commented on #1651
(....aaaaa...nnn....dddd      ...the new fancy 'bubble' notes that natively *looks* larger than they actually are made logically, does *so absolutely* **not** help determine the visual size of a very small note in P-roll )
*sigggggghhhh*

insert very sad kitten here..

[2015-07-03 11:19] musikBear commented on #2147
No this 'bug' disappeared
I did a complete clean Master test install, so it had not to do with garbage form the old 1.1.3 - I honestly dont know what caused it, and wish i had recorded ..diddent
I have closed / opend, multitude of times -and even reinstalled, but i cant make it happen again
For now i think this is 'invalid', but i sadly knows all to well, that if a weird random behavior has apeare

[2015-07-03 11:43] musikBear commented on #982
nae - this is one is my fault
this is what i saw
![autoprc](https://cloud.githubusercontent.com/assets/6662066/8498584/edb7e39a-2188-11e5-888a-ff086868e0f7.PNG)
here we have a pattern with auto-scaling
Then i changed to scaling 100%
![100prc](https://cloud.githubusercontent.com/assets/6662066/8498596/0c2eed78-2189-11e5-9e64-cc6c141cf8ba.PNG)
What i saw, was that the pattern now was compressed, and

[2015-07-03 11:43] #982 closed

[2015-07-03 11:50] musikBear commented on #1012
yes this looks fixed - especially if you look at the logic information -eg the *'Sample-length:..'* line. That value does not change at all, when the wave is moved! So it is not important that the display is a tiny wobbely. The size if fixed!
Good work!
Closed

[2015-07-03 11:50] #1012 closed

[2015-07-03 11:58] musikBear commented on #1062
@Umcaruje i can reproduce it om your Master
Do you want
*the file?
*a video?

[2015-07-03 12:08] mattdeckard commented on #1153
Is anyone still working on this? I'd be happy to help if needed.

[2015-07-03 12:10] tresf commented on #2154
Acid is one of many programs the can recognize wave cue markers, so "acidized" is probably the wrong term to use here.  We've discussed allowing AudioFileProcessor to read these for as an enhancement to the looping functionality, but I'm not sure where that left off.

This enhancement should probably be split into AudioFileProcessor and Sample Track, where Sample Track would care about time signat

[2015-07-03 12:12] tresf commented on #1153
@mattdeckard, no one is actively working on this.  Help would be greatly appreciated.

[2015-07-03 12:15] tresf commented on #2153
I think we all want to be there...

Yes, it is a matter of squashing bugs -- and in some cases -- rewriting core components.  It's not an overnight process.  The 2.0 branch was aimed to help making this possible, but it is currently stalled.  The 1.x branch is getting there, but as you can see from our tracker, we have a lot to fix. :+1:

[2015-07-03 13:37] Moth-Tolias commented on #1471
bug. Quite surprised this hasn't been reported before, actually.

-put a sufficiently long sample in the sample-track (Most notable if you put a whole song in)
-hit "play"
-notice that:
--a: sample-track waveform becomes out-of-sync with currently playing audio
--b: audio stops prematurely

[2015-07-03 13:57] musikBear opened #2155 "note-block context menu : Clean all notes If vol <= 1"
If someone would implement a new item in _note-block context menu_ allowing the user to delete notes in _that specific block_, if note-volume <=1, then LMMS has ghost-notes!
( '0' may be too hard a rule, '0.1' would properly be fool-safe

First a dev need to chime in and say if this can be done relatively 'easy', and without conflicts, then  this can function as perfect ghosts-notes, in combinatio

[2015-07-03 14:07] tresf commented on #1471
@Moth-Tolias  added to bugs section.

[2015-07-03 17:16] musikBear commented on #2098
@Umcaruje -where are we with this ?
Your Master (1.1.3.1.7.15) crashes almost emediately if pre-veiw in 'MyPresets' is attempted, but this pre-view ticket is also still open, so i guess this is already known about Master (?)

[2015-07-03 18:57] rawthought commented on #1068
@Umcaruje
Hi, I've made a little test and things seems to work well.
But I'm not using the same OS anymore, I have migrated on Debian 8 Jessie 64 bits...

[2015-07-03 21:22] Umcaruje commented on #1068
Ok then, I'll close this. If you ever encounter the same problem, and have a reliable way of reproducing it, feel free to reopen this issue :)

[2015-07-03 21:22] #1068 closed

[2015-07-03 21:28] Umcaruje commented on #2098
@musikBear this issue will be solved by either #1991 or #2064 or #2118. I can't quite understand your question though. If an issue is fixed, it will be closed. If its not fixed its open. This issue is open, which means its not fixed.

[2015-07-03 21:37] Umcaruje commented on #2153
I really want to say that I think this is currently the weakest point in LMMS. To me, audio recording and all the other enhancements don't really matter if the software isn't stable like a concrete block. That said, I know that the path to this is hard, and we have a lot of people working on solving these bugs, and I'm really happy about that, and I think LMMS will reach this stability at some poi

[2015-07-03 21:39] #2147 closed

[2015-07-03 21:40] Umcaruje commented on #1062
Could you make a gif? I'm on limited internet rn, so I don't really have bandwidth to look at videos.

[2015-07-03 21:50] Umcaruje commented on #441
Closing as a duplicate of #1257

[2015-07-03 21:50] #441 closed

[2015-07-03 22:13] Umcaruje commented on #1298
Closing in favor of #2080

[2015-07-03 22:14] #1298 closed

[2015-07-03 22:22] Umcaruje commented on #532
Duplicate of #1466

[2015-07-03 22:27] #532 closed

[2015-07-03 22:49] badosu commented on #1651
@musikBear The new fancy 'bubble' notes actually occupy *less* area than the previous layout. Could you explain you complaints with an understandable discourse?

[2015-07-03 23:49] cubician commented on #2134
So like Ableton's Drum Rack? This would be nice, especially since many MIDI files organize percussion in a single track. Not having to separate them would save hours of time when importing MIDI.

[2015-07-04 00:30] Wallacoloo commented on #890
I am in agreement with @diizy here. I do not see why hitting the refresh button should reset the search field. Envision yourself doing the following:

1. Add new files to my sample directory
2. Search for them in LMMS -- search brings up nothing as I forgot to refresh.
3. Refresh the file browser.

That's the primary scenario in which I refresh my file browser, and it clearly benefits from having

[2015-07-04 00:38] tresf commented on #2134
Yes.

[2015-07-04 00:55] Wallacoloo opened #2156 "Implement directory watching / auto-refresh for file browser"
Under linux, there exists a tool called [inotify](https://en.wikipedia.org/wiki/Inotify) which allows an application to watch a directory and be notified whenever something about it changes (new file added/deleted, existing file modified, etc).

A natural way to use such a tool is to monitor all the open folders in the file browser and update the UI in real-time as the folders are modified, saving

[2015-07-04 02:30] Wallacoloo commented on #1679
Btw this doesn't appear to fix all issues. The "remove unused channels" feature still results in memory access errors, though many seem to be due to synchronization errors.

Here's one example (valgrind):
[code]

In this case, the Fx Channel has already had a render job scheduled, but the actual FxChannel gets deleted while the job is still in the queue, resulting in an error once the job is proce

[2015-07-04 03:01] mhdaouas opened #2157 "Crash after clicking on Dexed VST "init" button several times"
Hello everyone,

I noticed that when you open Dexed VST (https://github.com/asb2m10/dexed) on LMMS and click several times on the "init" button (sometimes even 2 times are enough), LMMS freezes and needs to be closed/opened again to be usable. I have also made the same test on FL Studio 12 and couldn't reproduce the issue.

Used LMMS configuration:
Buffer size: 64
Latency: 1.5ms

My PC configurati

[2015-07-04 03:35] badosu commented on #1679
@Wallacoloo You're right, that's why I said I was not able to make this work. This PR still has some convo from the `QObject::deleteLater` approach, sorry for the confusion.

[2015-07-04 07:03] liftarn commented on #2154
At http://www.recordingmag.com/resources/resourceDetail/323.html there is a description from a user standpoint. WAV files with markers are most often called Acid or acidized. The article also mentions ReCycle (REX) files and Apple Loops. Those may also be nice to have support for, but they are not as popular as acidized loops.

[2015-07-04 10:36] musikBear commented on #1062
@Umcaruje -dont have any windows software that can make those nice animated gifs, i will see if i can setup a file where automation can initiate that strange thing

[2015-07-04 10:43] Umcaruje commented on #1062
@musikBear https://gyazo.com/ is very useful and easy to use for gifs.

[2015-07-04 11:00] musikBear commented on #1651
@badosu for me it is more difficult to see the exact tick-position of a bubble-note, than a right-angled rectangular-note
-Especially on videos, where the image-quality is limited

Here i have an old screny
![oldshape](https://cloud.githubusercontent.com/assets/6662066/8507650/2386db98-224c-11e5-952b-de96da2182c4.PNG)
My eyes can see that these notes are place similar

Here the new shape
![newshap

[2015-07-04 11:28] musikBear commented on #890
consensus is propl not achievable
How about both?
left-click preserve search-token
right-click cleans search-token
(?)

[2015-07-04 13:02] Spekular commented on #890
I don't think it makes sense for a refresh button to clear the search
field. It's also faster to remove a search than to retype one, in cases
where you want the search field empty after refreshing.

[2015-07-04 14:36] mattdeckard commented on #1153
Okay, I'm taking a look at it. I may have questions since I'm new to this codebase.

[2015-07-04 14:46] tresf commented on #1153
Great. You'll have a lot of help.  We have a great team to assist.

[2015-07-04 15:13] grejppi commented on #890
I was the one who made the search field retain its text (#542), and @Wallacoloo and @Spekular  above describe the exact reasons for why I did it.

But if there were to be a button to clear the box... today it is common to have it embedded in the text entry widget itself:

![GTK+ 3](https://cloud.githubusercontent.com/assets/772336/8508392/e39376ec-2276-11e5-899d-c741f5ec9c9d.png)

![Bitwig Studio]

[2015-07-04 15:17] grejppi commented on #1651
@badosu, is there a reason for the rounded notes other than being rounded? Does it provide new functionality, or is it just for the looks?

[2015-07-04 15:41] Wallacoloo commented on #890
@grejppi a clear button does seem like a good addition.

@musikBear while differentiating between left-click and right-click is
possible, and I wouldn't be totally against it, it isn't all that common of
a UI practice for right clicking a button to perform any operation (except
context menus, sometimes). So I'm not sure very many users would think to
do it.

[2015-07-04 16:15] tresf commented on #890
^---- :+1:

[2015-07-04 16:31] zonkmachine commented on #1091
I change that to: The easiest way is to have swing quantization in the Piano Roll editor. I don't think that would be picked up easily by the arpeggiator though but you wouldn't have to mess with the timing directly but just change the notes. I also had a look at the arpeggiator to see if it was feasible to make a swing knob in there but even if it's doable it would mess up the code pretty much. A

[2015-07-04 17:14] Wallacoloo commented on #1153
Feel free to hop on IRC if you have any questions: #lmms on freenode.
Though it's not always very active, so it's a bit of a hit or miss as to
whether someone knowledgeable will be online.

[2015-07-04 18:13] badosu commented on #1651
@musikBear Your comparison is somewhat unfair, the last 2 notes have a different size (you peobably hold alt while painting them). Using the same pattern would be better.

@grejppi See: https://github.com/LMMS/lmms/pull/1507

I simplified code for drawing notes and just rounded them, this can be easily reverted.

In terms of LMMS as a whole I think the square notes really degrade the experience in

[2015-07-04 19:37] Umcaruje commented on #1651
Well the problem I have with the rounded notes is that they don't look very clear to me and tbh they have a lot of shades of the same color. If the rounded rectangles were borderless, they'd be more visually appealing to me.

Again this is personal preference, and I personally am a big fan of flat design, and if I was in charge of the UI, I'd probably take out a lot of gradients from it, since the

[2015-07-04 19:43] badosu commented on #1651
@Umcaruje I agree with you that the Piano Editor need some work to improve the readability/usability/look.

I feel like unless we have a full art direction going on and a commitment to implement it, any work on this area will be overriden. Anyway, feel free to suggest reverting the border changes or improving it, it's not very hard to make it look better.

But one thing that would make wonders and

[2015-07-04 20:30] Umcaruje commented on #1534
@unfa since #1285 and #1525 were merged, can this issue be closed as fixed, or do you think there is still some room for improvement?

[2015-07-04 20:35] Umcaruje commented on #1475
@Sti2nd can you please extend this request with some ideas how this could be implemented, and a mockup?

[2015-07-04 21:09] Umcaruje commented on #1670
I think this should be closed as a won't fix too.

[2015-07-04 21:09] Wallacoloo commented on #1651
Is this rounded notes issue something we could leave to themes? I.e. make
it possible for a theme to choose to what degree the notes are rounded and
how thick their border is? In this way we could accommodate both
preferences.

[2015-07-04 21:12] Umcaruje commented on #1651
Yeah, that would be the best solution. Notes could have the `border-radius` and `border-width` css properties.

[2015-07-04 22:13] Umcaruje opened #2159 "Master branch can't find ladspa effects"
In the master branch, LMMS does not seem to find any of the ladspa effects that come shipped with it. It finds all my external ladspa's from the hard-coded places fine (`/usr/lib/ladspa` and `~/ladspa`).

I suspect that this has something to do with #1908, since that was the only major thing that has changed about the ladspa paths that I can think of.

I also can't seem to change my ladspa paths i

[2015-07-04 22:18] badosu commented on #1651
@Wallacoloo @Umcaruje Yes, this could be totally themeable. This would require turning the specific notes into widgets though. Today they are drawn under the `paintEvent` of the PianoRoll.

[2015-07-04 22:34] Wallacoloo commented on #2159
I have similar issues. In my case, my ladspa path in the settings dialog looks like `/usr/local/bin/../lib//ladspa/,/home/colin/lmms/plugins/ladspa/`, and I cannot modify it. The double slash looks indicative of a possible error somewhere. Indeed, if I symlink `/usr/local/lib/ladspa` to `/usr/local/lib/lmms/ladspa`, then LMMS can properly find the effects.

I'm thinking [ConfigManager.cpp:380](htt

[2015-07-04 22:43] Wallacoloo commented on #1651
@badosu I believe we could make these properties of PianoRoll instead. `style.css` would look like:
[code]

The downside is of course that "border-width" and "border-radius" are standard CSS properties whereas these new ones are not.

On the other hand, it may make sense to split the PianoRoll apart into widgets. Looking at that 505 line long `paintEvent()` function, every time a small portion of

[2015-07-04 22:50] badosu commented on #1651
@Wallacoloo This would be at your convenience, adding a `QProperty` would be much easier than refactoring the PianoRoll to use note widgets.

[2015-07-05 05:02] ruggiero opened #2161 "Fixing Wine problems during compilation in Debian 8"
I couldn't compile the development version with VST support. First I got the following message after running `cmake ..`, and then `make` would fail after some time compiling, when it got to the VST plugins.

The solution was to add /usr/lib/i386-linux-gnu/wine/bin to PATH (`export PATH=$PATH:/usr/lib/i386-linux-gnu/wine/bin`). After removing CMakeCache.txt and running `cmake ..` again, I still got

[2015-07-05 10:20] musikBear commented on #1651
exactly my preferences too - I will favor functionality over design always
Take a look at this picture from the visual-impaired topic #1935
Is that design really thought through (i DO NOT mean this as any bashing of anyone at all)
https://cloud.githubusercontent.com/assets/6662066/7812635/7369d644-03b4-11e5-88fe-4f2b8f36a44b.png

[2015-07-05 10:34] musikBear commented on #2159
On @Umcaruje your 1.1.3.01.07.15 binary Master, i have noticed that it takes ~ 3-5 times longer, to open the FX-collection (both on mixer fx-tab, and on preset-fx-tab) , compared to time on  the 1.1.3 -Could the prolonged time be related to this?

[2015-07-05 15:11] tresf commented on #2161
Our windows build tutorial is our best maintained place for these things.

Thanks!  I don't see any harm in just adding this to our build script directly, but for now, I've added it to our build instructions per:  [Compiling-lmms-(Windows)#compile](https://github.com/LMMS/lmms/wiki/Compiling-lmms-(Windows)#compile)

@Lukas-W has taken charge of most of our build items.  I'll allow some time for hi

[2015-07-05 19:40] mattdeckard commented on #1153
Awesome, that will be very helpful. Thanks @Wallacoloo

[2015-07-05 20:04] Reaper10 opened #2162 "A New track Type"
The New track Type is a midi keyboard track. Is for plugins like ZynAddSubFx  that use midi channels for sounds now you can use  all 16 midi channels in one ZynAddSubFx plugin  without needing to clone the track. With this  track a user can all so send midi from another jack supported software to LMMS. A user can all so use it with hardware with it's own sounds in it. When a user has hardware with

[2015-07-05 20:34] Umcaruje commented on #1758
@pbella can you confirm that this crash still happens on @curlymorphic's zynwin branch?

`git clone -b zynwin https://github.com/curlymorphic/lmms `

[2015-07-05 20:51] Umcaruje commented on #1813
+1

[2015-07-05 20:57] softrabbit commented on #815
There shouldn't be much OS dependent code in the MIDI import, but it never hurts to confirm on as many systems as possible.

And as for this particular problem file, I won't say anything. Very short notes were dropped previously, now they are imported. Maybe that's why "several tracks" were missing.

[2015-07-05 21:03] Umcaruje commented on #1854
@mikobuntu what's the status on this issue?

[2015-07-05 21:09] Umcaruje commented on #1873
@M374LX I think that you would get a lot more feedback on this refactoring if you issued a Pull Request with the changes.

[2015-07-05 21:11] Umcaruje commented on #1875
Can any of you confirm this bug on Arch if you manually compile LMMS and not use the packages?

[2015-07-05 21:15] Umcaruje commented on #1895
@etuardu can you confirm this issue on the latest version of lmms (1.1.3)?

[2015-07-05 21:17] Umcaruje commented on #1878
@M374LX Please issue a Pull Request with the appropriate changes, you will get a lot more feedback on this.

[2015-07-05 21:22] Umcaruje commented on #1926
@tresf were you ever able to confirm this issue on Apple?

[2015-07-05 21:24] Umcaruje commented on #1930
@musikBear I'm not quite getting this request. Could you offer a mockup and further explain it?

[2015-07-05 21:29] Umcaruje commented on #1947
Confirmed on the `master` branch - Ubuntu 15.04 x64.

It seems that the filter gets turned off when you mute the BB-track.

[2015-07-05 21:38] Umcaruje commented on #2023
Confirmed on the current `master`.

[2015-07-05 21:41] Umcaruje commented on #2031
@kpone33 can you please offer some steps to reproduce your problem.

[2015-07-05 21:43] Umcaruje commented on #2034
@bradharms can you please upload your example file onto an bloatware-free filehost (dropbox, mega, google drive, lsp, etc.)?

[2015-07-05 21:49] Umcaruje commented on #2040
Reproduced with @michaelgregorius's steps.

[2015-07-05 22:10] obszczymucha commented on #1875
I've built multiple versions from the source. Same problem. I'll try and build the latest 1.1.3 version and let you know the outcome.

[2015-07-05 22:17] obszczymucha commented on #1875
Just built 1.1.3 - the issue is still there.

[2015-07-06 00:22] Wallacoloo commented on #1873
Agreed. This function could definitely benifit from being broken down into methods. A PR doing such would most certainly be welcomed.

[2015-07-06 06:20] tresf commented on #1926
@Umcaruje

Yeah, sorta.  A better description is that songs start out as crackling, which happens on other platforms as well.  Closing.  We can track in another issue that actually is written properly. :)

[2015-07-06 06:20] #1926 closed

[2015-07-06 07:13] Gnurou commented on #1875
Yes, this is from a source build. I have started looking at it, but could not rootcause it yet, excepted that it seems to be a miscommunication between the main process and RemoteVstPlugin. That part of the code is not particularly easy to comprehend to new eyes. Here is the top of the backtrace from the main process:

    #0  0x00007ffff7bcdc1d in recvmsg () from /usr/lib/libpthread.so.0
    #1

[2015-07-06 08:37] Umcaruje commented on #1926
:+1:

[2015-07-06 11:07] softrabbit commented on #2134
I think this could be realized as a kind of a "view" on the B&B-editor, as the underlying idea is related, a container for instruments. And this could even become a more general purpose layer plugin with just one small modification: allow for note ranges instead of just one note per pad.

What functionality is missing along that line? Off the top of my head these are most obvious:
- The instrument

[2015-07-06 11:19] musikBear commented on #1930
added pictures - hope that clarify it?

[2015-07-06 11:28] musikBear commented on #1959
If so, then im fine with it, just *looked* like it was permanently present :p
It would indeed be very informative, and intuitive, so in *that* context big :+1:

[2015-07-06 13:45] unfa commented on #2153
I'd like to take part in a crash-hunting campaign.

I just need to learn how I can help. Is there a tutorial for this?

[2015-07-06 14:25] Umcaruje commented on #1930
Yup it does, thanks.

[2015-07-06 14:49] midi-pascal commented on #1930
There is a simple way to do this right now:
1- Select the notes
2- Use the Copy button
3- Move the loop indicator where you want to paste
4- Paste the notes with the Paste button
5- Change the note(s) as you like in the pasted notes
6- Move the loop indicator to the next place to paste
7- Paste the notes with the Paste button. At this point, the pasted notes are the ones copied on step 2
8- Repeat

[2015-07-06 14:50] bradharms commented on #2034
Sorry, but I no longer have that file. But anyway I don't think it was related to that specific file, as I have had it happen with arbitrary files, and once it starts happening it happens for all files. Then it stops happening just as randomly.

[2015-07-06 14:59] musikBear opened #2163 "enhancement : show loudness % when B&B blocks are mouse-scrolled"
Inside BB-editor we can change the loudness with mouse-scrolling on a step-editor block:

https://lmms.io/wiki/images/6/60/BeatBassline_step_editor1.0.0.png

This is audible -ofcause, but there is no exact read-out of actual value.
(Only in piano-roll, can we read-out the vol, as an exact value.)
It would make sense, that this read-out, was possible directly in BB-editor

[2015-07-06 15:05] Umcaruje commented on #2034
@bradharms We need a reliable way of reproducing this issue, so we can fix it. If you can't provide steps to reproduce this issue, or some screen recording of it, I'm afraid I'll have to close it.

[2015-07-06 15:07] Umcaruje commented on #2163
A bit off-topic: @musikBear Please stop adding 'enhancement', 'bug' or  'feature request' to the titles of your issues. That's what we have labels for. If your issue is valid, it will be properly labeled.

[2015-07-06 15:40] Lukas-W commented on #2161
@ruggiero Please pull the latest changes from `master` and check if f770164730349e5da0235c04c058c96cf2ab1b94 fixes the problem.

[2015-07-06 16:02] Wallacoloo commented on #2163
This seems like a good feature to have. I think it should be fairly easy to
accomplish.

[2015-07-06 16:27] cubician commented on #2134
I think implementing it as a plugin would be more useful. Again, many MIDI
files have all percussion in the same MIDI track, and if this is realized
as a plugin there will be no need to separate the percussion tracks (which
takes a very long time.)
But I can't code so whatever you devs decide on will be okay. I would just
prefer a Drum Rack.

On Mon, Jul 6, 2015 at 5:07 AM, Raine M. Ekman <notific

[2015-07-06 16:59] musikBear opened #2164 "Master 01.07 Main volume slider. Broken value-display, when scrolled"
This
https://lmms.io/wiki/images/f/fa/Master_volume_1.0.0.PNG
controller, will not show changed values if it is mouse-wheel scrolled.
If it is grabbed and then pushed, it does show correct changed values.
(pitch-slider works correct)

[2015-07-06 18:01] Reaper10 commented on #1471
The Sample Track should have drag & drop support of a audio file to add a sample track with the audio file in it. This way a user can  drag & drop a audio file on a blank spot on the Song Editor to add a Sample Track with the audio file in it. This just to add another way to add a sample Track.

[2015-07-06 18:07] tresf commented on #2134
files have all percussion in the same MIDI track, and if this is realized
as a plugin there will be no need to separate the percussion tracks (which
takes a very long time.)

:+1:

[2015-07-06 18:42] softrabbit commented on #588
Different crash today, but segfault anyway.
[code]

[2015-07-06 19:28] ruggiero commented on #2161
@Lukas-W, I could compile the current `master` out of the box this time. But I still got those two warnings after `cmake`.

[2015-07-06 19:54] michaelgregorius commented on #2164
Fixed with pull request #2166.

[2015-07-06 20:11] Umcaruje commented on #2164
This has to be the fastest fix for an issue that I've seen so far :+1:

[2015-07-06 20:28] Wallacoloo commented on #2153
Hey @unfa, here's a basic tutorial for debugging on the wiki: https://github.com/LMMS/lmms/wiki/Debugging-LMMS

Just get a debug build using the `-DCMAKE_BUILD_TYPE=RelWithDebInfo` up and running, and then whenever you use lmms, launch it via `gdb ./lmms` and type "run" at the prompt. If you ever get a crash, return to the gdb prompt and type "backtrace" & share the printout.

Running through gdb

[2015-07-06 20:34] midi-pascal commented on #2153
@Wallacoloo What is the difference between -DCMAKE_BUILD_TYPE=RelWithDebInfo and -DCMAKE_BUILD_TYPE=DEBUG?
I use -DCMAKE_BUILD_TYPE=DEBUG now. Which one is the best?

[2015-07-06 20:38] #2164 closed

[2015-07-06 20:46] michaelgregorius commented on #2164
@Umcaruje It wasn't such a big issue anyway. :)

The tip that the pitch slider works correctly also helped a lot because I could simply check the structure of the pitch slider code and apply it to the volume slider. Thanks @musikBear!

[2015-07-06 20:46] Wallacoloo commented on #2153
@midi-pascal The difference between `Debug` and `RelWithDebug` is that the first passes `-g -O0` to gcc, and the second passes `-g -O2`.

`-O0` means optimization level 0, i.e. no optimizations. This is useful when you really get into in-depth debugging because you can inspect the value of every variable in the code, etc. When you use a higher optimization level, sometimes variables get completely

[2015-07-06 20:54] midi-pascal commented on #2153
@Wallacoloo Thanks for the explanation! So I will stick to the DEBUG option because the -O2 flag optimize out too much local variables to offer a full debugging context - to my taste -

[2015-07-06 21:16] Umcaruje commented on #2047
Yeah, this is a bug. The oscillators should stay in phase if you do not change the phase offset manually.

[2015-07-06 21:21] Umcaruje commented on #2066
Closed via #2065

[2015-07-06 21:21] #2066 closed

[2015-07-06 21:27] Umcaruje commented on #2085
@Moth-Tolias did you ever test these plugins in some other daw?

[2015-07-06 21:35] Umcaruje commented on #2099
@Fyuchanick have you tried changing your device settings to SDL? That's our recommended backend for windows.

[2015-07-06 21:42] Umcaruje commented on #2055
@musikBear can you please further explain this request and perhaps offer a mockup?

[2015-07-06 21:43] grejppi commented on #2047
This is likely to be a floating point precision thing. Getting the frequency for a note involves a lot of divisions, multiplications, powf() calls and whatnot. The tiniest errors add up and result in the oscillators getting out of phase.

I made a [test project](https://gist.github.com/grejppi/0bf7818a24c48d76f64d) with two oscillators. The first one has no detuning and plays the notes D4, D4, D4.

[2015-07-06 21:51] Umcaruje commented on #2148
Confirmed on the master branch on Ubuntu 15.04 x64

Here is a gif of the behaviour:
![gifrecord_2015-07-06_234809](https://cloud.githubusercontent.com/assets/6282045/8534127/b9a180da-2439-11e5-855f-0683a36768c7.gif)

[2015-07-06 22:05] tresf commented on #2085
@smokedawg17 is your request covered by #1472 (last item), per #1387?

[2015-07-06 22:20] Wallacoloo commented on #2148
It appears to me that [TrackContentWidget::paintEvent](https://github.com/LMMS/lmms/blob/master/src/core/Track.cpp#L1455) is responsible for the relevant portion of rendering that occurs in the song editor here.

This should just be an issue of tying either [TrackView::update](https://github.com/LMMS/lmms/blob/master/src/core/Track.cpp#L2464) or [TrackContentWidget::update](https://github.com/LMMS

[2015-07-06 23:58] midi-pascal commented on #815
@softrabbit Agreed. I experienced the problem of missing tracks containing very short notes - especially drums tracks - for a long time. With the Midi import fix, the problem has been solved.
I use Midi Import a lot with Midi type 0 and 1 for re-orchestration on files from various sources and never noticed a missing track since then so, I assume the problem is solved.

[2015-07-07 00:06] Reaper10 opened #2167 "LMMS convolution reverb plugin"
LMMS could use a built in convolution reverb plugin AKA impulse reverb, this is for those who don't want to download extra plugins.

[2015-07-07 05:24] zonkmachine opened #2168 "Replace effect"
![replacefx](https://cloud.githubusercontent.com/assets/6368949/8539189/9ef00d44-2478-11e5-8ac9-230df238137c.png)

A pretty common function is to be able to replace a unit. Instead of doing "delete + add + move" you go "replace" which gives you the effect select dialog, hit enter, and presto! It's done.
I'm implementing this and currently it's up and running and just need to stop crashing a bit. ;

[2015-07-07 05:37] softrabbit commented on #2167
Duplicate of #641, please continue that discussion instead of starting a new one.

[2015-07-07 05:37] #2167 closed

[2015-07-07 08:38] Umcaruje commented on #2168
+1, I really like this idea.

[2015-07-07 10:32] musikBear commented on #1930
@midi-pascal -yes, thats one way to do it
I tend to just copy a 'template' to all bars, and then manipulate the few notes in each bar, but that again exclude simple reuse of an **altered** bar (as does your suggestion) -thats where the 'break-selection-temprary' method would be needed (lots of things more important, though:)

[2015-07-07 10:46] musikBear commented on #2055
If In the mixing process, one FX-channel shows a problem, the user could right-click on **that** FX-mixer-channel, and have an option to open the preset-gui for **that** channel.
Eg, the user is spared
* loose focus of fx-mixer
* shift to song-editor
* browse to the correct preset
*open that preset
* set it to stay on tp
* if needed close song-editor
* bring FX-mixer up again

All those steps woul

[2015-07-07 10:58] softrabbit commented on #2055
So, the context menu would need a list of all instruments connected (there can be more than one)? What about other mixer channels sending to the channel, they should probably be listed too?

[2015-07-07 14:42] musikBear commented on #2055
You detected one more bump in this - i thought about NULL and multiples, but those group-allocations, are also an element in the problem
This may not be simple stuff at *all*

[2015-07-07 15:03] unfa opened #2169 "Make LMMS capable of sending crash reports to the devs"
A lot of programs allow the user to send a crash report to the developers when a crash occurs, we might be able to get a lot more debugging material if we implemented this kind of functionality into LMMS. What do you think?

[2015-07-07 15:55] Reaper10 commented on #2167
sorry I did see that closed

[2015-07-07 16:05] softrabbit commented on #2047
Rendering that test project, I get a perfectly silent .wav. Can't see any action on the master output "scope" when playing it either. @grejppi, am I doing something wrong? This on master from approx. yesterday (Linux x86_64, Qt 5.4.1, GCC 4.9.2).

[2015-07-07 16:54] michaelgregorius commented on #2047
@grejppi The file works for me but I think the problem is not about using two instances of the Triple Osc. If I change the Triple Oscs in your example to only play a sine wave and move the phase of one of the synths by 180° I get perfect silence when playing in LMMS as is expected. In other words: the phases of the two Triple Oscs do not go out of sync (at least in that small example).

I also rea

[2015-07-07 19:13] softrabbit commented on #2047
I get phase drift when trying the original recipe from @musikBear, an 18 bar D3. And it looks to me like the drift increases with increasing sampling frequency; can't notice anything when exporting 44100x1, but with more oversampling the problem gets stronger. Smells like precision, rounding or something of that kind.

[2015-07-07 20:13] curlymorphic commented on #2169
@unfa I am not sure how to implement this, but i could be a very good idea.

Some sort of combination of stack trace, and project journal could be useful. If we produced a stack trace, It would have no debugging symbol information, but may be of some use.

I seem to recall @Wallacoloo mentioning an segfault handler in the past, but I may be mistaken.

[2015-07-07 22:32] mikobuntu commented on #1854
@Umcaruje If you don't mind keeping this one open, I will get to work on it the 1st chance I get ..thanks ;)

[2015-07-08 05:11] unfa opened #2170 "Highlight last created clip in the Song Editor."
Some brighter outline could be used to emphasise the last created (not selected) clip in the Song Editor.
This could be especially useful for seeing if we accidentally created an unwanted B+B clip.

What do you think?

[2015-07-08 05:39] unfa opened #2171 "Disabling or changing the Song Editor's Bar Grid"
I'd love to be able to modify the bar grid in Song Editor to my needs. By default it's highlighting every other group of four bars. Sometimes I'd like to turn this off, or cut one or two bars out to break the pattern when my composition requires it. Sometimes I need to compose with one-bar offset which is kind of difficult - turning the bar grid off would make things easier in such cases.

[2015-07-08 05:51] tresf commented on #2171
I remember another bug report mentioning this but I cannot find it... The somewhat stalled "futuremap" (#908) mentions it as well... and slightly in #874,

[2015-07-08 07:58] softrabbit commented on #2134
That option wasn't really in my mind, as I said _"broadcasting the note data from the track onto all the instruments"_. Yes, it could be easier to get all the notes into a plugin which then hosts other plugins, but it shouldn't be impossible in some other solution either.

[2015-07-08 08:37] softrabbit commented on #1475
Maybe something here helps for the keyboard part?
http://doc.qt.io/qt-5.4/qshortcut.html
http://stackoverflow.com/questions/13487352/how-to-create-a-hotkey-field-in-qt

[2015-07-08 08:54] softrabbit commented on #2085
Looks like it's a case of 44100 vs 48000 Hz.

44100/48000 = 0.91875, plug that in to the calculator at http://www.sengpielaudio.com/calculator-centsratio.htm and you get -146.7, which is a semitone and 47 cents down, fits exactly with the first screenshot.

[2015-07-08 10:01] musikBear commented on #2170
so far i have never missed that feature .. i dunno
a mil + 1 things i rather see first, im afraid :)

[2015-07-08 10:06] musikBear commented on #2171
wouldent a user-controlled snap value be a better idea?
Then 'rhythmic'  placing is preserved, but user has a free choice
We can already move anything *without* snap in songeditor (ctrl+drag), but i fear that a disabled grid, just will lead to a shower of Qs in forum

[2015-07-08 10:16] musikBear opened #2172 "mouse-over readout in fx-mixer"
It can be a little difficult to read the vertical labels in fx-mixer.
Perhaps a mouse-over-readout, like in this mockup
![mouseover](https://cloud.githubusercontent.com/assets/6662066/8568099/119d2500-256b-11e5-90e6-97ab16b876d5.PNG)
could be a nice feature

[2015-07-08 11:00] musikBear commented on #181
I have redone the auto v manual saving on @Umcaruje Master of 01.07.15
![recovervauto](https://cloud.githubusercontent.com/assets/6662066/8568625/add5ea84-256f-11e5-8971-598e7b754ff0.PNG)
there is still quite some usage, and also influence on the work being done in lmms at the time of auto-save-event.
imho autosave takes place far to often
Other programs auto-backup every 5-10 min
But again: Why n

[2015-07-08 13:57] softrabbit commented on #1947
So far, I've come to believe the problem is ```InstrumentSoundShaping::processAudioBuffer()``` not being called, and that is happening because ```NotePlayHandle::isBbTrackMuted()``` returns true, in https://github.com/LMMS/lmms/blob/master/src/tracks/InstrumentTrack.cpp#L171

Will dig deeper later, to figure out why a notePlayHandle from a non-BB-track gets a BBTrack assigned to it (https://github

[2015-07-08 15:25] Umcaruje commented on #1854
:+1:

[2015-07-08 17:26] softrabbit commented on #1651
No, not much. :) I thought what came before it was even worse, so I intended it as an improvement...

[2015-07-08 17:28] NathanSomethingMusic opened #2173 "No vestige?"
There is Wine for mac (wine is an application that allows you to run windows based programs on mac or linux) so if vestige was on LMMS for mac, then we could actually use vsts plug-ins.

[2015-07-08 17:29] tresf commented on #2173
Duplicate of #698

[2015-07-08 17:29] #2173 closed

[2015-07-08 18:43] softrabbit commented on #2154
Rex files are proprietary and AFAIK they haven't been successfully reverse engineered. I have no idea about Apple Loops, but they should at least be readable as aiff.

Libsndfile, which LMMS already uses, handles a lot of the info found in acidized wavs. Right now AFP could use loop points and root note, but any beat, meter and tempo info is at the moment mostly useless, until time stretching is f

[2015-07-08 19:27] Umcaruje commented on #2171
I think this could be solved by having a project-specific 'Grid Offset' setting in the Edit menu.

[2015-07-08 19:34] Sti2nd commented on #1475
I think how Musescore does it was what I had in mind. Whatever is easy to make, that link ^ is ok as well, maybe even the exact same as Musescore use Qt as well?

![image](https://cloud.githubusercontent.com/assets/6373430/8580121/0d6a773c-25b9-11e5-865d-a8208c602566.png)

[2015-07-08 20:49] Spekular commented on #181
+1 for thise suggestions.

[2015-07-08 20:51] Spekular commented on #2169
I think netcode is evil.

[2015-07-08 21:20] Umcaruje commented on #2075
I've started making these icons. Here is what I have so far:
![image](https://cloud.githubusercontent.com/assets/6282045/8582550/cde11cd8-25c7-11e5-94f0-9e0d82b4362f.png)

Feedback appreciated.

[2015-07-08 22:13] midi-pascal commented on #2075
:+1:

[2015-07-08 23:39] Moth-Tolias commented on #2085
@Umcaruje not yet, sorry. I've almost learnt FL to the point where I can test and report back, but a lot of school deadlines have been coming in and I simply haven't had the time to spare

[2015-07-09 01:58] tresf commented on #2075
:+1:

[2015-07-09 03:07] Wallacoloo commented on #2169
I do not know what netcode is, however, with these crash reports always
being optional and obvious (I.e. "LMMS has crashed. Send bug report to help
the developers fix this bug?"), I see nothing inherently evil with them.

Yes, it's pretty easy to install a segfault handler and obtain backtraces
(especially on Linux). If we continue to omit debug symbols on prebuilt
binaries, it's still possible to

[2015-07-09 06:23] Spekular commented on #2169
Netcode refers to "anything that somehow relates to networking in online games". I was assuming it could be used to describe any network code and therefore online connectivity in LMMS, but wikipedia claims it "is not recognized as an actual computer science term."

In the past this idea (or a similar one) was brought up but was decided against (iirc) due to the added complexity and security issues

[2015-07-09 08:34] softrabbit commented on #2085
I have 0 experience with VST on LMMS, but the first spot I'd try is removing the if clause:
https://github.com/LMMS/lmms/blob/master/plugins/vst_base/RemoteVstPlugin.cpp#L578
and just call ```updateSampleRate();``` for all plugins. That check might of course be there for a reason, but I guess it doesn't hurt (much) to try.

[2015-07-09 10:54] musikBear commented on #2075
:+1: nice!

[2015-07-09 11:50] unfa opened #2174 "Don't ever overwrite or delete recover files"
I just lost some serious progress because I closed LMMS after recovering from a crash and forgot to save the project. LMMS deleted the recover.mmpz file and my progress is lost forver. It'd be great if it didn't do that, and name the recover files with Process ID and date like this:

recover_PID7632_2015-07-09-1348.mmpz

It'd make all recover files be there if needed. They are not very big, could

[2015-07-09 14:49] softrabbit commented on #2047
OK, now I'm sure. It's a precision problem, see https://gist.github.com/softrabbit/d8232cda4bbc3b61cdbc
Download, compile and run. Change the one ```#if 0``` to ```#if 1```, compile and run again. The last line shows the phases of the oscillators at 8x oversampling at the end of a 40 second note.

To quote the final lines from both runs on my 32-bit system:
[code]

Looks like this is one of the pl

[2015-07-09 17:01] zonkmachine commented on #2174
Ouch! Sorry about your data loss. Been there...

The line removing the recovery file is here:
https://github.com/LMMS/lmms/blob/master/src/gui/MainWindow.cpp#L1259

How does other programs do it?
I can recall seeing recovery files popping up in other programs and they would make some "noise" like adding a red border saying recovery file. I think a good way to deal with this would be to just add th

[2015-07-09 17:12] unfa commented on #2174
Thanks, I managed to redo it more or less. Anyway, I'd like to expand the autosave funcionality a bit.

[2015-07-09 17:14] unfa opened #2175 "AFP and sample track: allow relative sample paths like ./sample.flac"
I'd like to be able to place my project file and samples it uses in the same directory, then ZIP the whole thing and send t to a friend, so he can load the project and play it with the samples in place.
But it looks like LMMS saves the absolute paths to samples and there's no way to choose otherwise, so the samples never work when I move the files to another machine.

Am I missing something?

[2015-07-09 18:02] zonkmachine commented on #2174
OK. I'm going to look into how recover files are handled.

[2015-07-09 18:53] zonkmachine commented on #2174
Which version of LMMS are you using?

[2015-07-09 19:18] zonkmachine commented on #2174
In master, if I put a "recover.mmp" in the top of my ~/LMMS directory, I can not make LMMS delete it without first asking me to save it. If I just open and then close it, the manly way with Ctrl + C from the command line, it will not delete the file but remind me the next time.

In 1.0.0 however I can see the behaviour of Issue #722, which has already been fixed, but nothing else.
Do you have a me

[2015-07-09 20:20] tresf commented on #2175
Yes you are.  Just set your home directory properly and save everything within that home directory and you should be all set.  I've had the best results placing samples in `samples`, projects in `projects`, etc.

My collaboration team uses a cloud storage service that syncs locally and we all have different places where LMMS is installed (some on different OSs) and if the home directory is setup p

[2015-07-09 20:43] zonkmachine commented on #2171
Yeah. Either this or in the Song editor tool bar. Settings 'on/off' and 'offset' should be easy to add.

![songeditor](https://cloud.githubusercontent.com/assets/6368949/8606358/60f92240-268b-11e5-8630-b82fbebd144f.png)

[2015-07-09 21:02] unfa commented on #2175
Ok, I don't like placing samples in samples folder and projects elsewhere, because I want to sort files by projects - when I move a project, I move one directory and everything else that belongs to the projects goes with it. Keeping samples in /samples directory makes it looks like I'm installing a unix program (binaries in /usr/bin, data in /usr/share/ etc.) I don't like that personallly. Would t

[2015-07-09 21:10] zonkmachine commented on #2174
I'm going to hack this a bit to give us a question box on closing a recovery file.

[2015-07-10 00:25] tresf commented on #2175
With a large enough sample collection, this approach is usually preferred.  It doesn't work well for the track-specific samples though as they tend to never be re-used.

In this case, I would say the "export" feature is really what you want to allow archiving.

Well, for starters we should treat everything in the home directory as relative (rather than the current method of looking for samples in

[2015-07-10 02:58] Wallacoloo commented on #2175
Long-term, I'd like to see a solution where the audio sample is hashed and
we store that hash as an identifier (maybe alongside the filename). Then,
if the sample or project folder ever moves, or the user reorganizes their
samples directory, we can build a list of all the samples on the user's
system and figure out the new location by matching hashes.

Since audio sample *could* be modified outsid

[2015-07-10 03:14] tresf commented on #2175
we store that hash as an identifier (maybe alongside the filename). Then,
if the sample or project folder ever moves, or the user reorganizes their
samples directory, we can build a list of all the samples on the user's
system and figure out the new location by matching hashes.

That is quite a complex proposal for a few moved sample files, don't you think?  I guess it could be nice though for sca

[2015-07-10 03:59] Wallacoloo commented on #2175
@tresf I don't think it'd be THAT complex, though there is a reason that I
said "long term".

Whenever an audio clip is loaded, calculate its hash & store that as a
property on the clip. Then when the project is saved, also store the hash.

If you ever try to open a project and a file cannot be found, a dialog
would pop up and say "x cannot be found at y. It may have been moved. Have
lmms try to l

[2015-07-10 04:27] tresf commented on #2175
the hashes for the user's sample library on disk. But since the lookups
only happen on very rare occasions, you could probably get away without
doing any caching.

Well, for a single file perhaps.  You do a project where 20 samples have been moved in a library of 1,000 samples times the average time for the hash algorithm (larger files calls for a larger hash usually, right?) and this could quickl

[2015-07-10 04:51] Wallacoloo commented on #2175
Actually, my thinking was that it becomes more justifiable when you're
searching for more files. It's ok to cache the hash:file mappings in ram
since the files aren't likely to chance on disk during the brief period of
time that's spent searching, so on each successive lookup the number of
hashes you're likely to need to calculate decreases.

But yes, I don't see a good way around dealing with dup

[2015-07-10 05:16] unfa commented on #2175
+1 for relative sample paths. Maybe for backwards compatibility relative paths should always start with a dot:

Linux:

    ./sample.flac
    ../vocal samples/hello world.flac

Windows:

    .\sample.flac
    ..\vocal samples\hello world.flac

This way the old paths can be recognized as absolute ( I think users should be able to force any of these anyway), because they don't start with a dot:

Lin

[2015-07-10 05:29] tresf commented on #2175
folder as the project (or a deeper folder nested within it) are stored
relative to the project file is best?

Yeah that's probably best.  The relative path "dot" rule unfa mentioned will likely work as I don't believe dots work currently in any practical fashion (they didn't work in my testing, as they probably look for the file relative to the lmms executable, which IMO we'd never use).  This jus

[2015-07-10 05:34] unfa commented on #2175
Hmm, and what if I want to have project files like:

    album/tracks/project.mmpz
    album/samples/sample.flac

The relative path from project.mmpz to sample.flac would be

    ../samples/sample/flac

This would be impossible with the "same or sub directory" approach. In such cases I'd prefer a checkbox "use relative path" and not relay on any automatic, that won't understand my vision.

[2015-07-10 05:47] tresf commented on #2175
Right... or just stop putting your samples in the sample directory and let the relative logic work its magic, which was the point of this to begin with (right?).

[2015-07-10 05:48] tresf commented on #2175
Actually your example would still be fine with the proposed logic so as long as "album" isn't your LMMS home directory.

[2015-07-10 05:52] unfa commented on #2175
No but "album" migth be _under_ LMMS home directory. Sometimes it it, sometimes it isn't.

[2015-07-10 05:56] Wallacoloo commented on #2175
Rather than trying to figure out when to store the path as relative and
when to use an absolute one, could we just store BOTH the absolute and
relative path, and then when the project loads, try relative first and fall
back onto the absolute path if the relative path no longer points to a
valid file?

[2015-07-10 05:59] unfa commented on #2175
That sounds like the most rugged solution! And it will always work automagically without user interaction.

[2015-07-10 07:05] softrabbit commented on #2175
Right now you should be able to work around this if you create a directory under ~/lmms (add /projects to that if you like) and keep all the files the project needs there. Tried that some time back when someone on IRC was asking about collaboration through git. NB. if you rename the project directory the paths in the file will be invalid.

Absolutely. And I'd go as far as having all data files the

[2015-07-10 08:07] unfa commented on #2175
Ok, but why not allows paths to folders up the tree (../../../)?

[2015-07-10 10:59] musikBear commented on #2047
Very nice bughunt there :+1:

[2015-07-10 11:05] musikBear commented on #2174
so sad @unfa - if you had seen what i suggested the other day
 #181
you would have liked it
I reference to this because i think it has very strong relation to this thread, and the handling of recover in a whole

[2015-07-10 11:11] musikBear commented on #2175
am i missing something? i thought it was agreed that the exporting should include a 'export.to-zipped-folder' option, where lmms would collect all and store it in a 'ready to go' zip folder
Anyone else remember that discussion?
could that have been a dream ..naaa  :p

[2015-07-10 11:35] unfa commented on #2175
Ok. Exporting to a ZIP sounds nice.

I use Syncthing for collaboration (a bit like Dropbox, more like Bittorent Sync, only opensource and cooler) and relative paths with ../ would be cool.

[2015-07-10 11:58] softrabbit commented on #2175
Don't your collaborators get at least a bit annoyed if you use a file that's outside the shared folders?

[2015-07-10 12:21] musikBear commented on #864
did update on a different thread, but perhaps also here, just for clarification (we have way to many circular references..)
perhaps:
http://linux-multimedia-studio-lmms.996328.n3.nabble.com/gitHub-perhaps-using-hash-reference-somewhat-less-td11830.html
not to bash in any direction at all..

Unfortunately, yes -BlueCat and many others still hang on reload

[2015-07-10 12:29] musikBear opened #2177 "windows -Better crash info for vst"
im sitting with Master 01.07.15 and have some crashes, and i realize that those are not easy to 'locate'
Lmms throw a **RemoteVSTPlugIn had an issue and have to close** message, but *what* vst-plugin?
That is not possible to see, and then it is not easy to figure out where this problem came from.
If somehow the error could contain the name of the failing vst, then it would be much more useful to u

[2015-07-10 13:03] tresf commented on #2177
Yes, better overall windows debugging in general is what we need.

This is a two-step process...

 * First is making a separate debug installer downloadable for our users.
 * Second is finding a way to capture the debug symbols on Windows so that they can be provided in a bug report.

Another item that would help this is to get lmms compiling on Windows, which we've [started but never got working]

[2015-07-10 14:03] unfa commented on #2175
We'd share the whole tree.

[2015-07-10 14:05] unfa commented on #2175
A is the shared folder - the root of the collaboartion tree:

A/tracks/1.mmpz
A/tracks/2.mmpz
A/tracks/3.mmpz
A/samples/1.flac
A/samples/2.flac
A/samples/3.flac

[2015-07-10 16:51] midi-pascal commented on #2075
Merge, someone? :smile:

[2015-07-10 16:54] zonkmachine commented on #2075
:+1:

[2015-07-10 17:09] Umcaruje commented on #2075
![](https://cloud.githubusercontent.com/assets/6282045/8621475/0cb129d0-2726-11e5-96bf-bbfdbfeeb1bb.png)

That's the final look. Opened PR #2178

[2015-07-10 17:22] Reaper10 opened #2179 "Live Pattern Play Mode"
Live Pattern Play Mode is for turning a B&B Track into a live Pattern that a user can use a key the New Midi keyboard track  #2162  to act as the play/ stop  buttons just for that pattern. Why? This is for those who want to use the B&B as a loop track without needing to have anything in the B&B track in the Song Editor, ie the B&B track is an empty track in the Song Editor but the user has tracks

[2015-07-10 20:22] zonkmachine commented on #2075
Cool! They blend in well with the other buttons.

[2015-07-11 16:24] michaelgregorius commented on #2172
In my opinion using some mouse over pop ups / tool tips does not really solve the problem. I think the cause of the problem is that the labels are vertical in the first place and that some other newer features, e.g. the send mechanism, seem to have been implemented without the labels in mind. This becomes rather obvious in the image above where the labels are partly covered by the channel display

[2015-07-11 17:13] grejppi commented on #2172
@michaelgregorius: Mind opening a new issue for your redesign? It looks like something that could be developed further.

[2015-07-11 17:38] Umcaruje commented on #2172
I agree with @grejppi. Your redesign looks really promising.

[2015-07-11 21:16] Wallacoloo commented on #2172
I absolutely agree with the vertical text decision. Seriously - vertical text is such an anti-pattern that its use here is nearly useless. **I don't actually identify channels based on the label text**, because trying to read a dozen+ tilted lines of text is frustrating. Instead, I end up identifying channels more by their meter readout as the song is playing and some amount of memorization.

Wide

[2015-07-11 22:28] michaelgregorius commented on #2172
Hi all,

I don't want to create a PR yet as the sends are not working in my branch. However, I have just pushed the branch to GitHub. So if you want to play with it or finish the implementation of the sends feel free to clone it. :smiley: You can find it here:
https://github.com/michaelgregorius/lmms/tree/fx-mixer-redesign

Please note that there are still some rough edges in the code, e.g. some p

[2015-07-12 02:22] #2075 closed

[2015-07-12 02:23] tresf commented on #2075
:+1:

[2015-07-12 06:15] qubodup opened #2180 "Remember Export Settings"
Whenever I `Project/Export` audio, the setting is 44.1kHz.

I have to change it to 96kHz each time.

The dialog should save the last used settings instead.

[2015-07-12 11:10] Umcaruje commented on #2075
:+1:

[2015-07-12 11:12] Umcaruje commented on #2180
Duplicate of #678. Related to #2078.

[2015-07-12 11:12] #2180 closed

[2015-07-12 12:25] musikBear commented on #2172
Not a hijack imo, more like a deepened view on the same issue, and it looks very good

But i still think that a here-and-now solution could be mouse-over, because implementing a brand new fx-mixer, could be rather huge (or?)

[2015-07-12 15:16] michaelgregorius commented on #2172
Quick fix implemented in #2181.

[2015-07-12 19:05] zonkmachine opened #2183 "this BBEditor... command line messages on auto save."
@Wallacoloo
Since commit 908591ba7dc186e942305e76463029643aa21593 the terminal is 'flooded' with messages every time the auto save function hits in.

908591ba7dc186e942305e76463029643aa21593 is the first bad commit commit 908591ba7dc186e942305e76463029643aa21593 Author: Colin Wallace <wallacoloo@gmail.com>
Date:   Mon Jun 15 03:26:07 2015 +0000
Have MainWindow and others make use of the new SubWin

[2015-07-12 19:40] Wallacoloo commented on #2183
Ah, I left a debug statement in MainWindow.cpp:693 and it seems nobody
caught it in the review process...

Thanks for tracking down the relevant commit though. I'll submit a patch
for it later today unless somebody beats me to it.

[2015-07-12 19:57] zonkmachine commented on #2183
:+1:

[2015-07-12 23:00] Wallacoloo commented on #2183
Just submitted a fix: #2184.

[2015-07-12 23:17] #2183 closed

[2015-07-13 10:34] musikBear commented on #2088
Want to add a link to a guy from forum, that has a crash every time he closes lmms. He has a keyboard connected, so the issue is not exactly the same, but there may be relations (?)
I add the link, in order to collect the complere picture of 'crash-after-close'
http://lmms.io/forum/viewtopic.php?f=7&t=3463&p=11016#p11016

[2015-07-13 13:48] Partago commented on #1008
I am able to reproduce this error in 1.1.3, latest version (as of 13 juli 2015). When I have a fresh project, in which I add the Kontakt 5 Player vst (64 bit), the vst loads fine and within one second. When I open up an existing project which contains the Kontakt 5 Player, it loads the project fine, loads the vst, and after the vst is fully loaded and the GUI is visible, LMMS hangs and gets unresp

[2015-07-14 02:29] Wallacoloo opened #2186 "Double-clicking on instrument's Fx Channel LED gives focus to mixer channel, but only if mixer is already open"
I apologize for the long title. Anyway, when you open an instrument, there's an LED control that routes an instrument to a mixer slot. If the mixer is open, even in the background, double-clicking on this LED will bring the mixer to the front and automatically have it focus on whatever channel the instrument is connected to (see image below).

![lmms-fx-link](https://cloud.githubusercontent.com/as

[2015-07-14 02:35] tresf commented on #2186
:+1:

[2015-07-14 08:43] zonkmachine commented on #475
I'm looking into this. At a bare minimum I'll fix an on/off button and a setting to switch it default on/off.

[2015-07-14 10:37] midi-pascal commented on #2186
:+1:  For the usability enhancement and :+1: for the idea

[2015-07-14 17:18] musikBear commented on #2186
I would like to do the vis-a-vi as well:
double-clicking on the mixer-channel-LED would then open the instrument preset, and bring it on top -it would now be the focused-preset.
(a different ticket? or related here)

[2015-07-14 17:36] tresf commented on #2186
Different.  But a question for you.... what if there's more than one instrument routed?

-Tres

[2015-07-14 17:48] Wallacoloo commented on #2186
@musikBear That was actually discussed in another thread - dunno which one
though. Conclusion was similar to what @tresf pointed out: some mixer
channels are fed by multiple instruments, some by none - any implementation
of the requested behavior would be wrought with inconsistencies.

[2015-07-14 20:24] budislav commented on #1911
Are anyone works on this??

[2015-07-15 02:35] Wallacoloo commented on #1911
@budislav Not to my knowledge (but maybe someone will pipe in differently).

LMMS is in "feature freeze" as we prepare for the next release, meaning that most of the developers are focusing on fixing bugs over adding major new functionality.

After feature-freeze though, I think we'll see some gradual progression along this front. I certainly plan to do my part, though I will probably be doing mor

[2015-07-15 03:07] Wallacoloo commented on #2186
Issued a fix: #2187 - only needed to add one missing line of code.

[2015-07-15 03:07] Wallacoloo commented on #2138
Fixed via #2139

[2015-07-15 03:07] #2138 closed

[2015-07-15 09:11] musikBear commented on #2186
true

[2015-07-15 10:48] musikBear commented on #2171
Now an addition grid-feature is requested in forum
For 'recording' midi-notes, it should be possible to disable all snap, so the played notes (midi-keyboard ao pc-kb) would be exactly as they are layed, in respect to both timing-position, and length
Guess that could be called 'free.mode'
That is so closely related, that it fit on same ticket.
ref:
http://lmms.io/forum/viewtopic.php?f=3&t=3450#p110

[2015-07-15 11:43] zonkmachine commented on #2171
Sorry. Not even close.

[2015-07-15 12:14] Umcaruje commented on #2171
@zonkmachine is right. That forum post has no connection with this request. I think it can be related to #1530 though.

[2015-07-15 16:19] budislav commented on #1911
@Wallacoloo thanks for answer. That sounds nice.
Do you know approximately how long it will be "feature freeze"?

[2015-07-15 16:23] tresf commented on #1911
Probably a month or so.  The major holdup is one of our plugins "ZynAddSubFX" which went through a small code upgrade and getting it working without bugs has taken a considerable amount of time and attention.

[2015-07-15 17:30] budislav commented on #1911
@tresf thank you. I wish you success in that.

[2015-07-15 22:32] Moth-Tolias commented on #475
Being able to set an offset would be of valuable assistance when dealing with latency.

[2015-07-16 00:11] Wallacoloo commented on #1911
Btw, @tresf I think that after this release we should discuss the
possibility of entering feature freeze at the same time the first (alpha)
release candidate is released, and no earlier.

Spending 2-3 months in a feature freeze seems suboptimal, and it's a bit
misleading when we're actually still waiting for one more feature to be
completed (zyn upgrade).

[2015-07-16 01:46] tresf commented on #1911
release candidate is released, and no earlier.

Yeah, IIRC, the title "feature freeze" was introduced by Vesa in one of the few posts he has made since April.  This thread probably isn't the place to discuss this, but since we're on the topic I'll elaborate a bit...

At this point, we could easily freeze and release RC1 without Zyn and @curlymorphic and I are both OK with this.

@Umcaruje, yoursel

[2015-07-16 01:51] tresf commented on #1911
To bring this back on topic regards to the feasibility of the single-window interface, was the plan to move to the future Zyn GUI framework?

[2015-07-16 02:54] Wallacoloo commented on #1911
@tresf I don't think there's a solid plan for it. There are many ways to approach it though, and each with various timeframes, etc.

Doing things properly, we need to work on decoupling the core from the gui. If we go with a message-passing system, in which the gui thread/code never directly modifies anything but just requests the core to do something, then we can move away from all the locking an

[2015-07-16 03:03] tresf commented on #1911
I find the OSC GUI rendering/framework portions to be particularly interesting because as Mark has stated, some of the C++ and/or QT code gets quite lengthy for some of the more basic concepts.

I feel like an overwhelming amount of our GUI code is statically managing layout because of the lack of a proper flow container for widget items.  Perhaps the initiative will vastly shrink the codebase as

[2015-07-16 03:05] tresf commented on #1911
*zyn-ui rather, not OSC....  (for lack of a better name)

[2015-07-16 07:06] curlymorphic commented on #1911
Most of my thoughts on this have been brought up in the last few posts, so I wont repeat them.

The use of a messaging system, and separating core form the ui would be a very good step in the right direction, and could be done as a separate project, With the size and complexity of this task I feel It may be a good idea to try and implement this, before any actual gui changes.

As for messaging sys

[2015-07-16 12:00] musikBear commented on #1911
a micro tiny comment on the freeze
lmms is -one- method away from having *the*feature, that perhaps has been the most requested over time. Lmms 1.2 can have ghost-notes, if only 2155 was addressed..

[2015-07-16 12:14] curlymorphic commented on #2155
This does not sound like a correct solution to me, more of  work around, with the key feature to this workaround being an unimplemented hack.

If there is a valid use for this function, or if it can be decided that this is a valid use case, I can see no reason why this could not be implemented with relative ease in the piano editor.

[2015-07-16 12:29] tresf commented on #2155
@musikBear can you please remove the creeper wording from the title and body. ![image](https://cloud.githubusercontent.com/assets/6345473/8722645/b5bbcf90-2b94-11e5-85eb-fd1db27b8f6d.png)

[2015-07-16 12:30] tresf commented on #2155
First, you explain the problem, how to reproduce, and in this case your proposed workaround. :+1:

[2015-07-16 12:48] tresf commented on #1911
@musikBear please don't lobby for other bug reports in this one. :+1: We all know the popularity of ghost notes.  :+1: Popularity doesn't drive features (yet).  Perhaps we'll be there some day, but for now, we do all what we can.

[2015-07-16 15:03] musikBear commented on #2155
@curlymorphic i understand what you mean. There is no real general benefit from deleting notes < 1 in *other* circumstances, that is true.
I actually also thought of two different ways to accomplish the same thing
The first has to do with the behavior in piano-roll's volume-section.
Current right-mouse implementation will delete the notes if the mouse **passes** the bar.
If the delete behavior was

[2015-07-16 16:20] fundamental commented on #1911
@Wallacoloo yeah, that sort of multi-stage implementation/upgrade plan is basically what's required. Fixing up architectural problems is a messy affair, but doable when the rework is an organized effort.

[2015-07-17 07:50] softrabbit commented on #2154
Libsndfile takes care of the format-specific details, so this would go somewhat like:
[code]

[2015-07-17 08:55] softrabbit commented on #1911
I'm not out to pee on anyones parade, but after letting this proposition sink in for a while, I can't help but wonder. And I've seen enough designers being very firm about their Vision, so I just have to ask:

Looking at the blue drawing of the window subdivision, I read things like "MIXER or AUTOMATION EDITOR or MIDI EDITOR". Is the intention really to:
- Force users to have e.g. the mixer in the

[2015-07-17 15:25] J5lx commented on #1911
IMHO realizing that drawing similar to [the way Blender's UI works](http://www.blender.org/manual/getting_started/basics/interface/introduction.html) would be a really nice solution to both problems you listed. However I *believe* Blender uses some tightly coupled Python code for it's UI, so I don't now whether it could just be dropped into LMMS or had to be written from scratch.

[2015-07-17 16:26] budislav commented on #1911
@softrabbit  This is the fastest solution from me. Layout should be configurable but I working on that and some other things. That is not the problem right now and it is not a reason for not doing anything.

[2015-07-18 03:21] RebeccaDeField commented on #880
Update:

I have been dealing with a couple of setbacks due to some computer issues (which lead to some file loss on the theme, but nothing that will not be too hard to recreate). At the same time, I am more determined than ever to get this theme wrapped up. I know that we are in no hurry to get this completed, but I really interested in getting this finished (I am very thankful for how patient eve

[2015-07-18 03:43] budislav commented on #1911
Ok, I made solution for configurable layout and multiple monitors.

User can click on tab then drag and drop on some other section.
He can save layout from menu bar and he can switch between them from drop down select button from main toolbar.
LMMS should have some default layouts like mixing, arranging,..
User also can collapse tabs by double click on tab. Left and right sections will collapse in

[2015-07-18 03:56] tresf commented on #880
Thanks fir the update.

You should seriously consider setting up a Dropbox, Google Drive or even a GitHub repo for the artwork as there's few reasons not to backup hard work when the services are free and very easy to setup. :+1:

[2015-07-18 12:37] musikBear commented on #2147
@Umcaruje Just as expected it did resurface, here is a video of the behavior.
https://youtu.be/4U6EtpvfUcA
and now i know more.
I **saved** the project, (had save message) and then closed lmms.
When i reopened the project, the block that i had tried to copy, was not there.
So it is not the actual copy-event that does not take place, it is in fact a not-registrated   or not-seen block that fails to

[2015-07-18 15:01] haakonn commented on #1001
Still reproducible on LMMS 1.1.3 (KXStudio packages) on Ubuntu 15.4. Very annoying.

[2015-07-18 16:02] musikBear opened #2191 "Blocks can disapear at random"
win32 Master 12.07.15
So far i have no ways to reproduce. This happens at random

The situation is that blocks can exist but not being recognized, and not saved
as seen in related #2147 (which need to be reopened) a block can exist in song-editor, but not being recognized as a real object
But! It replays inside its own pianoroll -eg there is no warning, that this block is fake!
If the project is s

[2015-07-18 18:29] Umcaruje commented on #2191
@musikBear I consider this a duplicate of #2034 - do you agree?

You know you can reopen your own bug reports, right? There's that shiny 'Reopen' button on the end of the page. There is no need to post duplicates for your own bug reports.

[2015-07-18 19:44] Umcaruje opened #2192 "Random crashes while playing"
While using LMMS, I found that it crashes frequently while you play a pattern, BB track or the whole song and change parameters while doing that. It will also crash while just playing a project. I can't offer steps to reproduce, as this behavior is quite random. However, I made a debug build and collected backtraces from the crashes: [`gist.github.com/Umcaruje/bf88cfb78948224120a9`](https://gist.g

[2015-07-18 19:50] RebeccaDeField commented on #880
@tresf Yes, I agree. After this, I will definitely be getting a backup solution in place, as well as the github repo.

[2015-07-18 20:12] Umcaruje commented on #880
@RebeccaDeField I just want to say that I too will be very happy to help you with the code side of things. I've been fiddling with the theme for quite some time now, so I have a good understanding of how it all works :) So whenever you need any help, you can @mention me here on github, or find me over on __#lmms__ on freenode.net

[2015-07-19 02:13] zonkmachine commented on #181
I've fixed some of the issues mentioned in this thread. Nothing merged yet though.
Work done here #2176

:+1:  I don't know how problematic it is though considering that we're multi platform and here we have to call the OS directly so this would probably be done differently depending on what OS we're working against. And I suck on OS's. I basically use my mouse to whack the computer...
@musikBear

[2015-07-19 10:21] musikBear commented on #2191
@Umcaruje
No, this is different. From 2034 tresf says

in *This* bus a block will be *lost* even though it playback **in pianoroll!!!!* but **properly** not in song-editor. *That* part i still havent nailed.
So in summery:
2034 describes blocks that are user-deleted (explicitly deleted) and are 'invisible' but DO play!
*This* describes blocks that are *visible* **before** normal saving, but are *c

[2015-07-19 10:58] musikBear commented on #2192
could you mention some of these 'parameters' specifically?
Are they automateable ?

[2015-07-19 11:05] musikBear commented on #181
@zonkmachine no the measures are more empiric, eg comparing prior to current. I can however tell you that in the case of autosave in lmms, there has always been a serious connection to usability and lag. Back when autosave first was implemented, the lag was so awful that it was impossible to do editing (I got a lot on that story, because Toby extremely kindly made me a special .exe back then :)

[2015-07-19 13:23] musikBear opened #2193 "Marked semitones should be marked across all octaves."
I think it would be better if this marked/unmarked all *identical semitones* over *all* octaves
(or 'over all octaves' could be added as new option)

(thought its been up before, but search did not reveal anything..?)

[2015-07-19 13:48] zonkmachine commented on #181
I trust you all on the "it's been bad" part. I haven't actually used autosave myself until now. I also haven't addressed any of the problems concerning performance when the autosave kicks in but I can see it can be a bit of a problem to fix. The autosave needs to take a snapshot of a project before it changes so it has to work hard and fast. Someone who has really big projects like Unfa will be mo

[2015-07-19 14:01] tresf commented on #181
If you're using signals and slots to set priority: http://doc.qt.io/qt-4.8/qthread.html#Priority-enum

There are several places in our code which are fired by a particular priority and should be lowered (or raised).

Here's a good conversation on it:

https://github.com/LMMS/lmms/issues/1600#issuecomment-69928753

-Tres

[2015-07-19 14:06] #2159 closed

[2015-07-19 14:15] curlymorphic commented on #2192
@Umcaruje I have merged the fix for #2159 now

I would be really helpful if you could describe "Change Parameters", :)

I am concerned this is a bug from 1.1, and this is the first report, but that does not mean much.

Could you possibly test master for this now #2159 is fixed, when you get time please