[2015-04-11 08:48] softrabbit commented on #1946
Theme problem, you're loading an old theme instead of the one that comes with the sources.

[2015-04-11 08:53] Wallacoloo commented on #1946
Interesting. That was indeed the causes of the issue.

Thanks.

[2015-04-11 08:53] #1946 closed

[2015-04-11 10:22] unfa commented on #1600
On 12 Jan 2015 15:23, "Vesa V" <notifications@github.com> wrote:

I think that appealing to beginners is also a good thing, as they might
grow up and become a valuable part of our community. And if they install 5
DAWs to try out where one has distorted sound from the beggining - it means
our future with that user might cease to exist.

On the other hand - Ardour, the most professional GPL DAW I kn

[2015-04-11 10:48] Spekular commented on #1600
I agree with unfa that it should be set up in a way that makes it easiest
for beginners. If you care about what backend you're using, you're probably
also capavle of changing it and setting it up. If you don't, then it's much
better if it just works.

[2015-04-11 11:06] softrabbit opened #1947 "Muting B&B-track affects sound (filter?) in unrelated track when playing from piano roll (master)"
TripleOscillator, preset "Dirty Reece", master branch.

The picture should explain how to reproduce, but in brief:
- If playing a pattern from the piano roll, the sound will be different when an unrelated B&B-track is muted
- The B&B-editor doesn't need to contain any instruments
- Notes played during editing in the piano roll (e.g. moved notes) are unaffected.

The change happens around the hump

[2015-04-11 13:26] Umcaruje commented on #1600
put there.

The device box is there so you select the desired soundcard to use with alsa.

You can see a list of all your devices by doing `aplay -l` in the terminal:

![screenshot from 2015-04-11 15 13 21](https://cloud.githubusercontent.com/assets/6282045/7101533/13e55e10-e05e-11e4-93fd-ec6b90e0a23a.png)

then you put the name of the desired soundcard inside lmms in the `hw:X,X` format:
![screen

[2015-04-11 14:08] curlymorphic commented on #1860
- [x] Multiple internal instances :)

As for some presets not loading @fundamental has been really helpful on irc. I am going to start work on this now.  I want a "working build" that can start being tested this weekend. It will probably still need some cleaning up. We will need windows dependancys before I will be able to make windows installers.

[code]

[2015-04-11 20:59] curlymorphic commented on #1860
Finally at a stage with a build for testing. I am expecting bugs and it would be really good if they can be listed here.

@softrabbit @mikobuntu @Umcaruje

https://github.com/curlymorphic/lmms/releases/tag/zyn25.00

@unfa  what os are you using? as your input on this will be of great use.

There is no windows build yet.

Although it is possible to load and play  ````unfa-Spoken```` there is an iss

[2015-04-11 21:54] Reaper10 opened #1948 "LMMS quick start menu"
LMMS could use a quick start menu for loading project or template files or start a new  project or template file.

LMMS quick start menu
![loading screen](https://cloud.githubusercontent.com/assets/8137561/7103379/f6adcede-e069-11e4-9496-ecf052a7c28d.PNG)
It can show a list of tracks and all track info.
new will load the basic track you have now when open LMMS.

Pro Tools quick start menu
![screen

[2015-04-11 22:56] Wallacoloo commented on #1948
We already have File -> Recently Opened Projects and the "My Projects"  browser in the left pane (which includes a templates directory) that serves for opening projects and templates easily/quickly (likely more quickly than that mockup).

It might be worth considering making the "My Projects" browser expanded by default at start though (to serve as a quasi-quickstart type thing). The biggest benef

[2015-04-12 00:07] #1948 closed

[2015-04-12 00:49] Reaper10 commented on #746
this needs to be in song editor and work with the sample track

[2015-04-12 02:23] Reaper10 opened #1949 "Link the Mute and Solo LED Together"
Link the song editor and B&B editor Instrument tracks Mute and  Solo LED to the the mixer's  Mute and  Solo LED.so work together.

[2015-04-12 09:39] mikobuntu commented on #1860
Ok dl'd the source so I will get onto testing this. We have to remember that ZASF 2.4 is still buggy in the current stable build, so maybe this will address those issues aswell.

thanks Mikobuntu ;)

Date: Sat, 11 Apr 2015 13:59:25 -0700
From: notifications@github.com
To: lmms@noreply.github.com
CC: chrissy.mc.1@hotmail.co.uk
Subject: Re: [lmms] Updating Zynaddsubfx to v2.5 (#1860)

Finally at a s

[2015-04-12 11:32] musikBear commented on #1471
One thing thats not been mentioned at all, is *naming*
For almost the first time i looked at Sample Track, not just for test reason, but actual usage :p. I had 7 smallish pieces of wave, and i was rather annoyed as i found out, that there is no way to 'mark' these fragments, so they are easy to recognize,  and re-use in other parts of the piece.
* Naming
a.o.
* color-change
would be a huge help in

[2015-04-12 13:26] Sti2nd commented on #1405
Cause we are out of butter

[2015-04-12 13:31] Sti2nd commented on #1376
Yeah, it is a difference there... ^

[2015-04-12 14:27] unfa commented on #1949
Well, I kind of disagree. If you want to send multiple instruments to one mixer channel, you might want to mute just one of them.

To make this consistent it'd require of further binding of instruments to mixer, which in the long run could be beneficial, but also not quick and easy to do.

I keep looking at Ardour - every track creates a mixer strip, but you also can create mixer buses, which are

[2015-04-12 14:41] unfa opened #1950 "Make the controller mapping functions work"
![maaping function](https://cloud.githubusercontent.com/assets/491704/7105963/9f3c51f2-e131-11e4-8530-27af8ae53769.png)

LMMS has a _placeholder_ for this, but it's not functioning since I'm using LMMS (version 0.4.5).

I'm starting to think about creating a live set for performing with a band and LMMS seems like the best option. Yet it'd be great if I could transform the input values.

Right now

[2015-04-12 14:53] unfa commented on #1935
I guess we'd need a small team of dedicated developers who would work just on this. As we're generally short on coding people, this is probably not happening very soon :(

[2015-04-12 18:42] Reaper10 commented on #1360
Sample Track Routing Box

![sample track routing box](https://cloud.githubusercontent.com/assets/8137561/7106987/c4ee0b4c-e119-11e4-9929-5ef4506e0ae3.png)

[2015-04-12 18:43] Reaper10 commented on #1471
Sample Track Routing Box

![sample track routing box](https://cloud.githubusercontent.com/assets/8137561/7106987/c4ee0b4c-e119-11e4-9929-5ef4506e0ae3.png)

[2015-04-12 19:14] curlymorphic commented on #1949
I agree with @unfa, mutes and solos on the instruments, serve a different purpose.

lmms is the first daw I have used that does not function like that.

[2015-04-12 20:17] tresf commented on #1471
@musikBear, added `Sample distinction via naming / color coding`.

[2015-04-12 21:00] TheSaucySoviet commented on #1048
Yo I just got LMMS today, I am a complete newbie to this, and I was messing around with some drum sounds and I got this exact thing. But the worst part is that it is affecting my whole computer. Any audio that I play ends up doing this

[2015-04-12 21:35] tresf commented on #1860
Agreed.  Would be nice to close out some 2.4 items with this effort. :+1:

[2015-04-12 22:04] Wallacoloo commented on #1048
What operating system are you using (and if you know, which sound driver
are you using)? Is this affecting audio output only while lmms is running,
or is audio still broken after you close lmms? If the second case, can you
confirm that lmms actually gets closed (if in Windows, open task manager
and click the *processes* tab)?

What are the exact steps it takes to reproduce the error? (I.e. include

[2015-04-12 22:08] Wallacoloo commented on #1949
I actually quite like the way lmms does things in which each instrument has
an FX channel on the instrument panel itself rather than the mixer, as this
allows for presets to include both instrument configuration and associated
effects config.

The workflow could always be improved though.
On Apr 12, 2015 12:14 PM, "Dave" <notifications@github.com> wrote:

[2015-04-13 02:14] Reaper10 commented on #1471
LMMS could use Punch Recording
Punch Recording pro tools
https://www.youtube.com/watch?v=8U-CGDNXs3E

[2015-04-13 14:48] tresf commented on #1471
How about we set our sites on simply recording for now (something we have no support for currently).  We aren't aren't on the same level as pro-tools so please practice discretion when posting these things.  Your request is the equivalent of asking for a faster elevator in a one story building.

[2015-04-13 16:33] Reaper10 commented on #1949
ok ill close this

[2015-04-13 16:33] #1949 closed

[2015-04-13 16:44] Reaper10 commented on #1471
ok sorry that for latter it would be nice thi

[2015-04-13 20:22] tresf commented on #1807
@curlymorphic how are we with test results on this?  Should we merge?

-Tres

[2015-04-13 20:34] tresf commented on #1885
Closed via #1897

[2015-04-13 20:34] #1885 closed

[2015-04-13 20:46] tresf opened #1952 "Travis build failing, mingw related"
In file included from /home/travis/build/LMMS/lmms/src/core/ConfigManager.cpp:245:0:
/opt/mingw32/i686-w64-mingw32/include/shlobj.h:37:3: error: 'EXTERN_C' does not name a type
   SHFOLDERAPI SHGetFolderPathW (HWND hwnd, int csidl, HANDLE hToken, DWORD dwFlags, LPWSTR pszPath);
[code]

[2015-04-13 20:55] tresf commented on #1877
Closed via #1887.  Please reopen if this resurfaces or if a scenario was missed (as explained in #1887).

[2015-04-13 20:55] #1877 closed

[2015-04-13 21:03] curlymorphic commented on #1860
Todays update.

Unfa spoken, now full loads, plays, can open all the ui's. afaik It now works as well as zyn 2.4

There is still the same instability when opening or closing the ui as 2.4.

The issue is caused by lmms hosting zyn internally, when there is no ui, when the ui is opened, the zyn parameters as saved to a file, the the internal zyn is deleted, then zyn is opened as an external process,

[2015-04-13 21:14] curlymorphic commented on #1807
@tresf

So far this has only been tested by myself and @musikBear , My test releases seem to not get too much attention.

I would say merge it,

[2015-04-13 21:14] tresf commented on #596
Closing.  Please reopen or reference if this issue resurfaces.

[2015-04-13 21:14] #596 closed

[2015-04-13 21:16] tresf commented on #1002
Closing as this is not our bug and we're switching to 2.5 shortly via #1860

[2015-04-13 21:16] #1002 closed

[2015-04-13 21:16] tresf commented on #1002
Oh yeah, please file a bug upstream if needed.

[2015-04-13 21:18] tresf commented on #1860
Not too many surprisingly.... #703 #1001 #1912

I know you can't readily test the Apple one... Myself or @eagles051387 would likely try that, but it suffers the packaging issues of Windows, so that might have to wait... :)

[2015-04-13 21:21] #1807 closed

[2015-04-13 21:23] tresf commented on #1807
Tremendous Dave.  This puts a big smile on my face. :rocket:

[2015-04-13 21:23] Reaper10 commented on #1071
then main transpor

[2015-04-13 21:24] tresf commented on #1071
@Reaper10, yes your transport request is valid and still open here:  #1357

[2015-04-13 21:26] Reaper10 commented on #1071
The Play and Stop, buttons  on the B&B Editor needs to be assigned to deferent MIDI CC numbers then main transport, so you can assign them to deferent buttons on your  MIDI controller then the main transport.

[2015-04-13 21:32] Reaper10 commented on #1472
The Play and Stop, buttons  on the B&B Editor needs to be assigned to deferent MIDI CC numbers then main transport, so you can assign them to deferent buttons on your  MIDI controler then the main transport.

[2015-04-13 21:38] curlymorphic commented on #1860
#703 could well be down to the way we swap internal and external zyn's. I will just have to do the best I can, and hope it works on apple.  Are there any cost effective ways for me to test apple builds?

#1001 if im reading the bug reports correctly is now fixed
![image](https://cloud.githubusercontent.com/assets/7412852/7125898/cf57019c-e22c-11e4-84e0-56f74c9cbc22.png)

#1912 time will tell. up u

[2015-04-13 21:41] curlymorphic opened #1953 "sustain pedal not working in Zynaddsubfx"
irctc665 Has reported on irc that zyn does not respond to sustain midi messages in lmms. As a standalone Zyn responds correctly for this user in the same setup.

[2015-04-13 21:43] curlymorphic commented on #1807
:)

[2015-04-13 21:55] knobo opened #1954 "Playback cursor for Beat+Baseline Editor"
Is it possible to make a playback cursor for BBE, or make the tombs flash each time they play a note?

[2015-04-13 21:58] knobo opened #1955 "make Zynaddsubfx's window name the same as the track name"
All zynaddsubfx windows comes up with the same name. If I have two tracks with zyn, it is a bit dificult to keep track which one is which.

[2015-04-13 22:12] Wallacoloo commented on #1954
I second both of those suggestions. They sound like very useful features to have.

[2015-04-13 22:33] Wallacoloo commented on #1950
This does sound generally useful, however I'm not convinced that editing the mapping as *text* is the right way to go about it. That opens up the possibility of the user inputting illegal mapping commands, etc. and it just isn't very user-friendly in general.

I think a better approach may be to do it graphically. Where the mapping function text is currently, replace that with a graph in which X r

[2015-04-13 22:48] Wallacoloo commented on #1952
Here's the source for the current ming shlobj.h: http://sourceforge.net/p/mingw-w64/code/HEAD/tree/trunk/mingw-w64-headers/include/shlobj.h

Also, I feel that your line numbers are somehow off (actually, it looks like the file was just recently edited. `ConfigManager.cpp:245` in master is just a `return (void);` statement, so I don't see how that could be causeing a compilation error in shlobj.h.

[2015-04-13 22:52] Wallacoloo commented on #1952
Looks like that's supposed to be defined in [basetyps.h](http://sourceforge.net/p/mingw-w64/code/HEAD/tree/trunk/mingw-w64-headers/include/basetyps.h) (not a typo). Try adding `#include <basetyps.h>` right before `#include <shlobj.h>` to see if that can solve the issue.

[2015-04-14 01:16] tresf commented on #1954
Duplicate of #1195

[2015-04-14 01:16] #1954 closed

[2015-04-14 01:17] tresf commented on #1954
I realize that bug title doesn't appear to be a dupe, but the part about the steps being indicated I think is close enough to call it one. :)

Thanks for the bug report :)

[2015-04-14 01:23] tresf commented on #1952
@Wallacoloo, thx, it looks like we have a new one now per [`jobs/58370993`](https://travis-ci.org/LMMS/lmms/jobs/58370993)... :)

[code]

[2015-04-14 03:14] tresf commented on #1955
Thanks @knobo.

For now, there is a feature in the preferences which reuses the same instrument window.

@curlymorphic, shall we roll this feature in with the 2.5 upgrade?  Seems like a very basic request. :)

[2015-04-14 03:15] tresf commented on #1071
That is a good point @Reaper10 . :+1:

[2015-04-14 03:19] tresf commented on #1953
Possibly related:  #1700 #1918

Not really related, but worth mentioning: #1632

@curlymorphic Does the OP know if this was ever working?  May be #1472.

[2015-04-14 03:26] tresf commented on #1860
There are some cloud services that let you rent one, but they're usually too expensive for my blood.  I do have an OSX Lion VM (running on legit hardware -- because hackintoshes are simply too much work) that I use for creating releases.  I could install Splashtop on it and you could use the Linux client to connect, but I'd rather we coordinate that together privately if we go down that route.  Th

[2015-04-14 03:28] Wallacoloo commented on #1952
So what caused the break? Can we trace it back to a specific commit, or was
it a change in the mingw version that Travis tests against? It seems odd
for this problem to just appear from nowhere.
On Apr 13, 2015 6:23 PM, "Tres Finocchiaro" <notifications@github.com>
wrote:

[2015-04-14 03:42] tresf commented on #1952
Well, the issue I linked in the original post suggests mingw, but that is a pretty blind assumption.  If you look at how they fixed it, it wasn't a missing import, but rather a dynamic load which fixed the issue.

I would suspect an mingw bug because the similar  issues I found were mostly recent.

As far as commits to our code, I'll take a look back, but I don't recall anything surrounding this c

[2015-04-14 03:50] tresf commented on #1952
I went back quite a few commits to no avail on our end per:

https://github.com/LMMS/lmms/commits/master/src/core/ConfigManager.cpp

[2015-04-14 03:55] tresf commented on #1952
You've probably realized this now, but this bug is on Travis, so my computer will likely only be affected once I update my packages, and even then, it wouldn't surface until a Windows installer is made. :)

[2015-04-14 07:58] knobo commented on #1955
Which setting is that?

[2015-04-14 08:16] curlymorphic commented on #1955
I would prefer to get the 2.5 upgrade at least tested and working with it's current features. before adding any new features.

I am happy to look into these additional features, but would prefer to do them as separate issues.

[2015-04-14 09:17] curlymorphic commented on #1860
This could be the most practical, but lets wait and see if it's really needed. It's is  possible that once we run the seperate ui, as mention above, that this bug fixes it's self.

[2015-04-14 09:21] curlymorphic commented on #1953
The only information I have is the following irc conversation

[code]

[2015-04-14 10:35] musikBear commented on #1955
@tresf i think you misunderstood knobo, and the issue is FAR from simple
I believe knobo is referring to the zasfx sub windows. If he has 2 or more **OPEN** zasfx instruments **GUIs-**, these sub-windows (forms) are identical, and it is not possible at all to see, where they belong. This is not a lmms issue, but a zasfx

@knobo The setting tresf refereed to is the *One instrument track window mode

[2015-04-14 10:36] softrabbit commented on #1953
Tested this with master and VMPK, if VMPK sends on channel 1, sustain works unless "forward MIDI Control changes" in the instrument window is off. But if VMPK sends on any other channel, Zyn ignores sustain.

So, I'd say LMMS always sends notes to Zyn on channel 1, but the sustain CC goes through without any modification and ends up turning the sustain on for some other part. Maybe LMMS should cat

[2015-04-14 10:42] knobo commented on #1955
I tested the "one instr mode", and it does not help much.

I think we could consider this two issues. One issue settingn zyn's main window and one setting sub-window names which is a zyn issue and not lmms.

[2015-04-14 11:06] curlymorphic commented on #1953
@softrabbit nice investigating, and solution :)

[2015-04-14 14:41] tresf commented on #1955
Sub-windows and sub-dialogs sound like an upstream feature request to the Zyn team then.  Probably a `Not our bug` categorization if that is the case as this is out of our control.

[2015-04-14 18:18] mikobuntu commented on #1860
A couple of things that I noticed on initial testing:- I will make a more verbose report when testing more thoroughly.

(1) A  pid file for ZASF is written to /tmp/ it seems on 1st opening an instance of ZASF, this pid file then cannot be overwritten on a new instance of ZASF being opened ( permissions are not the issue , it may be that the actual ref to the pid file is lost on opening a new insta

[2015-04-14 19:26] curlymorphic commented on #1860
Thankyou @mikobuntu for taking the time and effort for this bug report.

This is ZSAF way of checking there is only 1 instance running in a process. This is not the case for lmms.
I was trying not to change too much from upstream here. I simply removed the EXIT() after the test. If we are happy for me to change more, removing this check is doable, @tresf  whats your thoughts on this please?

This

[2015-04-14 19:49] mikobuntu commented on #1860
@curlymorphic No problem Dave ;) Oh one more thing, It might be specific to this build tho... we get an error when trying to drag a ZASF preset from the file browser :-

qUncompress: Z_DATA_ERROR: Input data is corrupted
at line 1 column "error occurred while parsing element"

All other methods of opening the presets seems to work on this build...

note on my own stable build "1.1.3" this issue do

[2015-04-14 19:59] curlymorphic commented on #1860
This issue is both caused and fixed on master. This was fixed with #1886, I have kept my fork based on tobys zynExperimental branch, as I am yet to work out how to make the pull request.

[2015-04-14 20:10] mikobuntu commented on #1860
@curlymorphic Ok that's cool .. I'l test with any branch that it requires, I'm sort of stuck in limbo anyway with my build due to errors with Carla not building on stable1.1 , but that's a whole different story.

[2015-04-14 23:33] fundamental opened #1958 "LMMS Does Not Launch Correctly Without Installing"
Currently launching lmms from the build directory without installing results in a mostly broken setup. A fair number of plugins complain that they cannot be found and virtually all UI graphics missing. A user should not be forced to install the software (regardless to the fact that you can specify the install directory) in order for it to be functional.

## Steps to replicate.
1. get a system with

[2015-04-14 23:52] geedubess commented on #1958
It makes sense to me that the program would require some level of installation step; why would I expect that the object tree has the same structure as the output tree for all components?

On the other hand, you don't *have* to install to your system directory. My build script looks like:

rm -rf build target; mkdir build target
cd build
cmake ../lmms -DCMAKE_INSTALL_PREFIX=../target && time make -

[2015-04-15 04:41] tresf commented on #1958
Mark,

AFAIK, Lukas has stared this feature per #1719

[2015-04-15 11:11] curlymorphic commented on #1860
I have a latest build for testing, I think this should be ZASF 2.5  integrated as well as 2.4 is, well I have my fingers crossed :)

https://github.com/curlymorphic/lmms/releases/tag/0.01

[2015-04-15 12:11] tresf commented on #1860
I've had a similar problem and had to purge Carla (easy for me since I don't use it).

I'm pretty sure this is already resolved, but if we're missing plugins from one version to the next, we should file bug reports. :)

@curlymorphic tremendous!

[2015-04-15 12:30] mikobuntu commented on #1860
@tresf  the Carla issue seems to be specific to stable1.1 , I was able to build it by adding the missing switch manually, but it could have been some error on m,y side with not cleanly updating before switching branches or something to that effect. Yeah it was only a missing sample from Unfa-spoken so we should be good to go.... cool @curlymorphic I'm building now as I speak, so hopefully I cannot

[2015-04-15 12:33] mikobuntu commented on #1860
@curlymorphic Do you prefer we build with QT5 or is that irrelevant ? I ask because even setting the cmake prefix path to my QT5 libs still throws errors as though it is not found... Building with QT4 for now tho...

[2015-04-15 12:36] mikobuntu commented on #1860
@curlymorphic oops Crash almost instantly... I will run now in debug to see if I get any output....

[2015-04-15 12:44] curlymorphic commented on #1860
:)

I have been build with qt4, I must look into that, good catch.

Im really sorry, I will be back at my pc in about an hour, to see what ive done wrong,

[2015-04-15 12:53] mikobuntu commented on #1860
@curlymorphic  I hav'nt been able to reproduce it again, but my test was vigirously opening and closing the ZASF GUI while playing in midi notes from my MIDI keyboard. The actual GUI was not opening right away but the GUI part where you pick between Advanced and beginner, then clicking Advanced, all still while playing notes. The openiong of the GUI gives quite a large CPU spike, which I think is

[2015-04-15 12:54] tresf commented on #1860
IIRC, there were some lingering issues with QT5.   Probably should have a separate issue to track for that rather than sending Dave off in the middle of the Zyn stuff. :)

[2015-04-15 12:58] mikobuntu commented on #1860
@tresf yeah sounds right, It will probably be a long time before QT5 is standard for most distros anyway.... In the meantime I have now managed to "freeze" LMMS/ZYN during debug mode...
![frozen](https://cloud.githubusercontent.com/assets/335217/7159076/8352820c-e377-11e4-8dc6-9b70a9c1e4bc.png)

[2015-04-15 12:59] tresf commented on #1860
@mikobuntu Thanks for helping debug this. :)

[2015-04-15 12:59] mikobuntu commented on #1860
@tresf  My pleasure ;)

[2015-04-15 13:09] #1325 closed

[2015-04-15 13:17] mikobuntu commented on #1860
I can reliably Crash LMMS now with this method:-

(1) Open a new project drag ZASF to BB_Editor
(2) Open Piano roll and draw in steps of 1/16th to fill 1 bar
(3) Play loop in Piano_Roll
(4) Now press rapidly the "Show GUI" button in ZASF ( you should move the actual ZASF internal instrument so that it is not being blocked by the popup window of ZASF remote plugin.
(5) you will see high spikes in C

[2015-04-15 13:19] theguitarplayer opened #1959 "Automation track improvement ideas"
Here is an idea to make automation of preset tracks easier to see.  Instead of putting automation tracks in the song editor, I would suggest putting the tracks in the piano roll of a certain preset that the automation is being used for.

![lmms 1](https://cloud.githubusercontent.com/assets/6945072/7159301/30a23a2a-e34f-11e4-9ef3-2e26844211b4.png)

This way, it is easier to see which notes are bein

[2015-04-15 14:01] curlymorphic commented on #1860
@mikobuntu thank you so much for this.

I think I know the cause of the problems when rapidly opening and closing the ui, It is an issue we have currently with no real way to send messages to the mixer. what lmms does is simply delete instruments on gui click. If this gui click is pressed during the audio process loop the instrument is deleted while the mixer is trying to process it, causing the s

[2015-04-15 15:02] curlymorphic commented on #1952
I can confirm I can make windows builds on an old vm, but not on a new one with fresh packages.

[2015-04-15 15:25] mikobuntu commented on #1860
@curlymorphic  No problem ;) also note I get a "FREEZE" when just rapidly opening ZASF gui without playing , with the output :- QProcess: Destroyed while process is still running ( this is an oldie too as I rem seeing this some time ago ). I'm going to test further with other instruments etc to see if there is anymore useful output.

[2015-04-15 19:14] Spekular commented on #1959
Hmm, this might be a duplicate of something, but I'll post some feedback
anyways.

Since just about anything can be automated, not all automations make sense
to have in a piano view. In addition, filter frequency, q, volume, pitch
and more are all possible to automate for every preset, so there could be
quite a few automation tracks to display for one instrument track even if
we limit it to only p

[2015-04-15 19:26] Wallacoloo commented on #1959
An overlay (or rather something that lays *behind* the notes) does sound
like a better approach to me.

I'm not familiar with lmms I'm depth, but would this actually be useable in
the B/B editor? Since I think beats & bassline patterns are only shallow
copied, there is no single time at which the pattern is played, so there's
no way to map the automation into the piano roll's time.

I think it wor

[2015-04-15 19:38] Spekular commented on #1959
I think it should work the same way for bb tracks, I'm assuming the time of
the pattern would be obtained from the song editor rather than the pattern
itself.

[2015-04-15 20:01] Reaper10 opened #1960 "Sample Track Trimming Bug"
#1471 I don't know if I am nitpicking on the Sample Track but, I tried trimming an audio clip down in length from it's original length that I loaded into the Sample Track and it played the hole sample back even tho I trimmed it down.

PS You should be able to be able to trim the sample down from the beginning and not just the end of the sample.

step1
![step 1](https://cloud.githubusercontent.com/

[2015-04-15 20:44] theguitarplayer commented on #1959
Thanks for the comments.

"filter frequency, q, volume, pitch
and more are all possible to automate for every preset, so there could be
quite a few automation tracks to display for one instrument track even if
we limit it to only preset related automation."

True.  But that shouldn't be a problem (correct me if I'm wrong).
Also, BBline works the same way as song editor, so automating in bb tracks

[2015-04-15 21:41] mikobuntu commented on #1960
I believe this is a known bug. There are plans for the future as far as I am aware of for better sampletrack integration in general, where the actual part of the sample that the timeline is passing over will be played. Right now as it stands sampletracks are only triggered at their starting point and play right through, regardless of length of clip set.

[2015-04-15 21:45] mikobuntu commented on #1960
@Reaper10  please see this post #1471

[2015-04-15 21:55] #1960 closed

[2015-04-15 22:00] theguitarplayer opened #1961 "Make automation recordable"
We can already record in the piano roll from midi devices and channel piano.  My idea is to record automation from a device that controls levels directly while the song is playing - exactly what piano roll is able to do.

[2015-04-15 22:31] Reaper10 commented on #1471
The sample track should be able open and use mp3 files in it.

[2015-04-15 22:35] Reaper10 opened #1962 "AFP using MP3"
The AFP should be able to open and use mp3 files in it

[2015-04-15 22:41] Reaper10 commented on #1961
Like a hardware mixer?

[2015-04-15 22:45] #1962 closed

[2015-04-15 22:49] Umcaruje commented on #1961
![screenshot from 2015-04-16 00 48 18](https://cloud.githubusercontent.com/assets/6282045/7170891/672fc17e-e3d2-11e4-93d1-60af9de7854b.png)

Already possible in LMMS 1.1

This should be closed.

[2015-04-15 23:08] theguitarplayer commented on #1961
Thanks Umcaruje!

[2015-04-15 23:12] Reaper10 commented on #1962
hy is this closed?

[2015-04-16 01:36] Reaper10 commented on #1218
I like this

[2015-04-16 02:45] #1961 closed

[2015-04-16 02:46] tresf commented on #1926
@eagles051387 did you create a new tag called "Apple Bug" ?

[2015-04-16 02:50] tresf commented on #1488
@Sti2nd please update `CTRL + SHIFT + A` per #1693.

[2015-04-16 02:55] tresf commented on #1876
CTRL + SHIFT + A has kindly been implemented by @Wallacoloo via #1963 (#1488)

[2015-04-16 03:22] tresf commented on #1959
I like the idea in principal.  Most track-based automation overlays the thumbnails or previews anyway, so I would rather take this a bit further and have the lines drawn right over the patterns in the Song Editor, like most video editing software does for fade in/fade out.

-Tres

[2015-04-16 04:01] tresf commented on #1952
Upstream has some more dialog about this.  I'll quote it because the mailing archive tends to be hard to read:

together they all provide EXTERN_C, DECLSPEC_IMPORT and WINAPI macros,
which are needed by shlobj.h directly or indirectly.*

[code]

Without mucking with upstream, the OP had success using:

[code]

Although there seems to be comments about this never working in a true Windows build env

[2015-04-16 04:34] tresf commented on #1952
No dice...

Just discovered that CMake is having issues as well per:

[code]

I'll go back on a few Travis builds and see if this is normal or not...

[2015-04-16 04:47] tresf commented on #1952
And here are some changes from about a month ago:

https://sourceforge.net/p/mingw-w64/mingw-w64/ci/524630a9662c5a012f85023a4af49d6aa1c74a1d/

[2015-04-16 05:01] eagles051387 commented on #1926
Ya i did makes it a bit easier to identify which bugs are related to osx.
if you want to remove it feel free. I did this as I was having some issues
distinguishing apple specific bugs in the tracker and when searching.

On Thu, Apr 16, 2015 at 4:46 AM, Tres Finocchiaro <notifications@github.com>
wrote:

--
Jonathan Aquilina

[2015-04-16 05:05] tresf commented on #1926
We dont have tags for other OSs.

I didn't add it, you did.

I'm maintaining the list of apple bugs.  They can be found easily because I put `(Apple)` in the title.  Is that too difficult to search for?

[2015-04-16 05:07] eagles051387 commented on #1926
no but the way the tracker search seems to work is based on tags I could be
wrong there.

On Thu, Apr 16, 2015 at 7:05 AM, Tres Finocchiaro <notifications@github.com>
wrote:

--
Jonathan Aquilina

[2015-04-16 05:09] tresf commented on #1926
You are talking in circles.  If you cant justify it, please remove it.

[2015-04-16 05:40] Wallacoloo commented on #1952
That Cmake issue looks to be because Travis doesn't have pkg-config (which
is an application wholly separate from CMake) installed. Perhaps try adding
`apt-get install pkg-config' (or whatever variation is needed based on
permissions) somewhere in travis.yml before the CMake build gets invoked.
Make sure that the pkg-config installation directory is added to the $PATH
if it isn't already.
On Apr 1

[2015-04-16 06:17] Wallacoloo commented on #1488
That should have been a reference to #1963 :P

[2015-04-16 10:04] musikBear commented on #1876
:+1:

[2015-04-16 10:16] musikBear commented on #1959
yes, but then again not so sure. The mock-up will definitely *not* be sufficient. That is way too condensed, and small, and that lead to the next idea - inside piano-roll, it-self
Emediately that *sounds* as a reasonable idea, but it will not be one.
Piano-roll would be seriously messy and confusing, and it would put really bad strain on the eyes, resulting in head-aches
But the solution is very s

[2015-04-16 11:04] musikBear opened #1965 "ZynAddSubFX: use the empty ENV/LFO tab to control Zyn's envelopes"
as all knows, zasfx has a 'free /empty' tab-page ENV/LFO.
Why leave this tab empty
Wouldent it be a neat thing to fill it with lmms controllers for f.i. zasfx's Amp-envelope, Amp-lfo & Filter-envelope ?

[2015-04-16 13:18] tresf commented on #1965
This may be a good idea for any remote plugins.

[2015-04-16 14:46] musikBear commented on #1965
nje it wont work for vst, because -how would you link lmms-controllers to unknown features- i cant imagine how. But with zyn, we know exactly what dials we link, and those are static links, a discussion about which are most valuable, is ofcause needed before any decisions. I just listed some i think would be really neat :)

[2015-04-16 15:04] tresf commented on #1965
:+1:

[2015-04-16 16:05] mikobuntu commented on #1965
This would be a neat idea. I just wonder how far along ZASF development is in reference to what all controls are exposed to midi... I have only so far found this documentation http://zynaddsubfx.sourceforge.net/doc_3.html

[2015-04-16 17:37] curlymorphic commented on #1965
hmmm. looks like I didnt click comment earlier :(, it was a lovely post with pics.

I was suggesting we use this space for assignable midi cc controllers, ZASF and many vst's can do "midi learning" allowing the user to assign these controls how they like.

[2015-04-16 17:44] mikobuntu commented on #1965
@curlymorphic  that is a hateful feeling when you have spent ages preparing a great post esp with pics only to forget to actually post it :zap:       yeah I have to agree here , I'm thinking the term is now called "macros" according to a few other daws :)

[2015-04-17 07:17] softrabbit commented on #772
Fixed or not, 1.0 is EOL since July. Close?

[2015-04-17 07:52] softrabbit commented on #254
Looks like this was fixed along with #255 a year ago. Close?

[2015-04-17 08:17] softrabbit commented on #375
This transposition idea could move forward now, the checkbox exists in master.

[2015-04-17 09:06] softrabbit commented on #472
Looks like this was fixed, works for me in master. Close?

[2015-04-17 09:10] simon-v opened #1966 "Segmentation fault when wiggling the mouse in automation editor"
Steps to reproduce:
1. Open a connected automation pattern in the automation editor
2. Wiggle the mouse in the automation editor window

Sooner or later (usually ten or twenty seconds in) LMMS will crash with a SIGSEGV (and a core dump). Intuitively, it seems to be connected to the drawing of tooltips.

Backtrace obtained with GDB:
[code]
Basic system information:
Distro: Arch Linux x86_64
Kernel:

[2015-04-17 09:23] musikBear commented on #1965
@curlymorphic ..woot thats even better! im all for more flexibillity and user options -always, i just have NO knowledge of midi / midi-assign or macros with midi, so im kind of in the blanc, in respect to the actual functionalities
(done that posting thing, too.. *sigh* ..also on other pages, and FB ..its such a fail feeling of wasted time:)

[2015-04-17 09:33] musikBear commented on #1966
left?? mouse down simultaneous  i suppose??, then 'wiggle'
Cant make that happen in win32
A new point is ofcause created, and that can be dragged around in editor as much as i like -is this 'dragging around' the same as 'wiggle'?

[2015-04-17 09:52] mikobuntu commented on #1965
@musikBear Macros are basically knobs which work in the traditional way of 0-127 [value] or from centre to either -64/+64 that control a parameters "range". Macros can be assigned to multiple controls simultaneously and each control can be set to it's own range too..... then to take it further you can automate or modulate these macros, the possibilities are quite endless.
Heres macros in action on

[2015-04-17 10:16] musikBear commented on #1045
sorry to bump this up the chain, but This needs attention.
It has been brought forward in forum:
http://lmms.io/forum/viewtopic.php?f=7&t=3269
Just to mention one: If you move a block in song-editor, it is not recognized as a change, and that is a significant difference in a project!
Even copying in song-editor is not recognized, whereas *removing* a block *does* trick 'edited'
How about that 'rep

[2015-04-17 10:25] mikobuntu commented on #1966
I can't reproduce:-
Distro:    Ubuntu 14.04 x86_64
Kernel:   3.13.0-49-generic
Version: lmms-1.1.0 stable built from source.
Qt:         4:4.8.5+git192-g085f851+dfsg-2ubuntu4

Where is the packaged version of LMMS from? Would you be willing to build LMMS from source ( you can install to a user folder temporarily for testing purposes, while still keeping your local copy )?

[2015-04-17 10:50] curlymorphic commented on #1965
I feel macros as described above to be a really useful feature, especially when linking controls across various instruments and fx in a chain. Live has a similar feature that I have used. This can be very useful when making presets, setting up a macro exposing the parameters most suited to tweaking.

 What I can see here is two separate features.

1. to expose more external parameters
2. create a

[2015-04-17 11:01] tresf commented on #772
Yeah close. :)

[2015-04-17 11:01] #772 closed

[2015-04-17 11:37] simon-v commented on #1966
I have reinstalled LMMS from git (version 1.1.0-r1012) and now i cannot reproduce the issue myself. I'll give it a few days to see if it happens again. If not, perhaps the packager knows something that can help.

[2015-04-17 11:53] mikobuntu commented on #1966
:+1:

[2015-04-17 12:12] softrabbit opened #1967 "MIDI import: Pitch bend range CCs ignored and wrong default"
First the easy part, the default range should be adjusted for instrument tracks imported from MIDI:
http://www.blitter.com/~russtopia/MIDI/~jglatt/tech/midispec/wheel.htm

And second, if there are any pitch bend range messages, they should be handled. And they aren't plain CCs, I'm afraid:
http://kurzweil.com/knowledgebase/pc1x/internal_voices-program_mode/33/

[2015-04-17 12:14] tresf commented on #1966
@simon-v Hi and thanks for the great bug report.

Not related to the bug itself, but if you use a code block (triple backticks) around your stack trace it will prevent the auto-linking to old bug reports.

That way your #1 looks like `#1`. :)

[2015-04-17 12:21] tresf commented on #472
Sure.  We can easily re-open if it resurfaces.  Thanks! :)

[2015-04-17 12:21] #472 closed

[2015-04-17 13:12] tresf commented on #254
@softrabbit agreed although there are still a few problems with the cursor in Song Editor and Piano Roll Editor. :+1:

[2015-04-17 13:12] #254 closed

[2015-04-17 13:22] tresf commented on #1952
permissions) somewhere in travis.yml before the CMake build gets invoked. Make sure that the pkg-config installation directory is added to the $PATH if it isn't already.

Yeah I agree, this needs to be addressed although upon further investigation, that error goes back quite a ways and shouldn't be related to the mingw build error we are receiving now.

In regards to the mingw problem, I'm not sur

[2015-04-17 18:53] Reaper10 opened #1969 "All-in one editor windows and editing toolbar"
In A Better Transport #1357 I  moved a lot of stuff so now you have room for a the all editing toolbar:

The copy, cut, paste options should be in the Edit Menu.
The Razor/Glue Tool #746  should be on all toolbars and work on audio clips and not just on midi clips. The eraser is  delete for all clips and automation or midi, double click to a clip to open the clip. The zooms are an all purpose ie y

[2015-04-17 19:07] Umcaruje commented on #1969
Why would you have controls from the automation editor in the B&B editor?

This doesn't make any sense

[2015-04-17 19:27] Reaper10 commented on #1969
You have the controls from the automation editor in the B&B editor for when you have a automation track in the B&B editor this way the toolbar is all in one .

[2015-04-17 19:29] tresf commented on #1969
@Umcaruje is right in this instance.  We wouldn't combine the toolbars unless the editors allowed it.

[2015-04-17 19:34] Reaper10 commented on #1969
This will help in a New UI Concept - Single Window #1911

[2015-04-17 19:41] #1584 closed

[2015-04-17 23:20] lmmsuser1001 opened #1971 "Midi Import hang"
In version 1.1.3 (win32) the import of larger midi files hangs always at 66%.

In version 1.0.0 (win32) the import does not hang but the drum channels are not imported.

Does a workaround exist (for example converting midi files to a lmms project file with an external tool)?

[2015-04-17 23:24] Wallacoloo commented on #1971
Could you provide a midi file for which this problem occurs? That would
make it easier for us to verify and track down the error.
On Apr 17, 2015 4:20 PM, "lmmsuser1001" <notifications@github.com> wrote:

[2015-04-17 23:31] Reaper10 commented on #1969
just an idea

[2015-04-17 23:38] lmmsuser1001 commented on #1971
Unfortunately, it is not possible to attach a midi file.

But most of the files that you can download from the link below will hang (e.g. Twenty_4_Seven-Take_Me_Away.mid) on win XP.

http://www.eurokdj.com/ringtones/index_midis.php

[2015-04-18 00:05] Reaper10 commented on #1969
This will help in Simplifying the  Single Window.

The Simplified Single Window
![the simplified ui single window](https://cloud.githubusercontent.com/assets/8137561/7212861/f4c3cc26-e533-11e4-8f79-d8334f09beb7.png)

[2015-04-18 00:12] tresf commented on #1969
Stop bumping your own posts with no content.  Deleted, deleted, deleted.

[2015-04-18 00:22] StakeoutPunch commented on #772
I dunno, did the bug end up fixed? I never checked in 1.1 because at the time I had eliminated soundfonts from my workflow because of this bug.

[2015-04-18 04:08] Wallacoloo opened #1972 "Give piano roll focus when it opens"
I often open up the piano roll by double-clicking on a pattern in the song editor. But even though the window is on top and has focus, the piano roll editor ignores all keyboard events until I first click inside of it. This disrupts common workflow practices like opening a pattern, selecting all notes with `ctrl+a` and shifting them up an octave via `ctrl+up`, as it requires an extra mouse press s

[2015-04-18 06:30] softrabbit commented on #1971
Importing drums has improved a bit in master, but there are probably files where it still sucks badly.

[2015-04-18 07:06] Wallacoloo opened #1973 "SFXR "Squre Duty" and "Squre Sweep" tooltip typos"
![lmms-squre-duty](https://cloud.githubusercontent.com/assets/1210751/7214364/71480b90-e598-11e4-8ed6-7d90b75ec22b.png)

I'm fairly certain "Squre" should be "Square" for both the "S.DUTY" and "S.SPD" tooltips. But I'm not positive, because it seems unlikely for a typo like that to occur in two different labels *and* a [code comment](https://github.com/LMMS/lmms/blob/fe797cb09fb897ade99bacdb014fc6

[2015-04-18 09:49] musikBear commented on #1965
@mikobuntu Thanks for the link! - That looks very interesting, indeed.
That is a whole new angle on automation. Making dials 'intelligent', and 'learn' sequence of movements of other controllers.. wow!

[2015-04-18 09:54] musikBear commented on #1972
oh yes, for all who owns a midi-kb, i can understand, because you have to do an 'extra step', before you can get tones from a key-down event. :+1:

[2015-04-18 09:56] musikBear commented on #1971
sometimes it help to convert the problem file to 'midi1'
Anvill-studio (free) can do that

[2015-04-18 11:42] Iniquitatis commented on #1911
Sorry for bumping this thread, but this UI looks _really_ amazing! Absolutely can't wait for the release. *_*

[2015-04-18 12:48] curlymorphic commented on #847
Out of the 3 types of separation offered, what ones(s) do we want to use?

Do you feel the multiband feature is useful?

Should we have a "led button" to select what effects are active, or should we leave them all running in series, as is the current case?

There was some feedback given on irc, @Umcaruje  @softrabbit  can you please give your thoughts here.

Once this is determined @Umcaruje can w

[2015-04-18 13:35] softrabbit commented on #1971
Looks like the example file has so short notes in the drum track that LMMS rounds them down to 0 ticks and ignores them. I'm thinking a simple addition of ```ceil()``` in https://github.com/LMMS/lmms/blob/master/plugins/MidiImport/MidiImport.cpp#L398 should do it.

Didn't get a hang on Linux with master branch, but the window did go dark while importing, which might be related to the hang, e.g. LM

[2015-04-18 13:39] Reaper10 opened #1974 "Mixer needs a pan knob"
All mixer strips needs an pan knob on them.

[2015-04-18 13:45] Umcaruje commented on #1974
I think a Pan knob would just overcrowd the mixer. You can pan any instrument already, and if you need panning on a mixer track, you can simply add an amplifier and pan with it:
![image](https://cloud.githubusercontent.com/assets/6282045/7215644/dbcfbe2e-e5e1-11e4-94cd-01bee9c66604.png)

[2015-04-18 14:05] Umcaruje commented on #1973
I'm fairly certain that that is a typo, this is a screenshot of the original SFXR:
![image](https://cloud.githubusercontent.com/assets/6282045/7215721/6fe62ace-e5e4-11e4-9cb1-24103a49325c.png)

And the settings listed are 'Square Duty' and 'Duty Sweep', which is probably 'Square Sweep'

[2015-04-18 14:19] tresf commented on #1973
Uros, good research!

[2015-04-18 15:44] DeRobyJ commented on #1971
I've had this problem too. Sometimes, if you're luck, you just have to wait 3 o 4 minutes. But most of the times it will stop responding forever.

[2015-04-18 16:34] Wallacoloo commented on #1971
Sounds like we aren't calling qApp->processEvents() regularly during the
import process.
On Apr 18, 2015 8:44 AM, "Roberto Giaconia" <notifications@github.com>
wrote:

[2015-04-18 16:46] Spekular commented on #1962
We already have an issue for imptovements to sample tracks, that's why.

[2015-04-18 17:22] Spekular commented on #1959
I don't see the difference between overlaying automation on notes vs
overlaying notes on automation. It's to be assumed that the user will
select which automation track to preview and turn it on and lff, right?

[2015-04-18 20:34] Reaper10 opened #1977 "LMMS Audio Routing, Jack Audio Routing and Midi Routing all in one Routing window"
The LMMS tab is only for inputs and outputs of LMMS tracks ie, the Inputs box will show all of your track outputs of your Group Tracks, Instrument Tracks and Sample Tracks. The Output box will show all of your track inputs of your Group Tracks, Instrument Tracks, Sample Tracks.

The Jack tab is any for Jack Audio inputs and outputs ie, the inputs box will show all of your LMMS track outputs ie, yo

[2015-04-18 20:40] Reaper10 commented on #1471
#1977

[2015-04-18 20:45] Reaper10 commented on #1467
#1977

[2015-04-18 20:55] Spekular commented on #1959
Actually it would be cool if this track overlay were implemented between
all track types, perhaps with a little checkbox and dropdown in the toolbar
to enable/dosable and choose a track. What I think would be extra cool
would be a little "switch" button. Say I were overlaying an automation on a
melody and decide it needed to be modified, I would hit switch and the
piano roll would be replaced with

[2015-04-18 21:08] Reaper10 commented on #524
#1977

[2015-04-18 21:34] #1973 closed

[2015-04-18 21:52] Wallacoloo commented on #1966
I am unable to reproduce on Ubuntu w/ latest git either.

[2015-04-18 23:01] midi-pascal opened #1981 "Midi Import crash in master branch"
Midi Import crash when importing some files in master branch.
Version 1.0 does not crash when importing the same files.

The bug lies within the MidiImport::readSMF method when tracing unhandled Midi events.
The crash occurs there:
`				if(!handled) {`
`					printf("MISSING GLOBAL THINGY\n");`
`					printf("     %d %d %f %s %s\n", (int) evt->chan,`
`					       evt->get_type_code(), evt->time,`
`

[2015-04-19 00:24] Reaper10 commented on #1920
#1977

[2015-04-19 01:05] Reaper10 commented on #1472
#1977

[2015-04-19 02:41] Wallacoloo commented on #1472
@Reaper10 in the future, try to provide some context when you link to another issue. For example, say something simple like "#1977 should be added to this list" so that we know *why* you're linking us there.

[2015-04-19 04:43] Wallacoloo opened #1983 "When you add vestige, have it automatically pop the find VST plugin dialog"
This is something from the ancient [TO-DO](https://github.com/LMMS/lmms/blob/master/TODO) file from before lmms was on github.

I believe the rational for this is that to load a VST, you currently have to do 3 steps:
1. Drag VeSTige from the plugin browser onto the track list.
2. Click on the newly created plugin instance.
3. Click "Open other VST-plugin" from within VeSTige & browse to the VST pl

[2015-04-19 04:53] Wallacoloo commented on #434
I think what would be better than a default VST plugin is if VSTs could be displayed in the plugin browser and then you just drag them into the song editor like any other plugin & it opens in Vestige.

[2015-04-19 04:56] Wallacoloo commented on #1983
#434 is a relevant discussion that suggests having new instances of Vestige open some user-assigned default VST upon instantiation instead.

[2015-04-19 05:15] Wallacoloo commented on #1937
I like this idea. Did a quick search and the Vestige plugin already has a similar set of buttons that are used for changing presets. So we already have the icons for it, if we want, as well as some code to reference.

[2015-04-19 07:54] Wallacoloo commented on #1937
The biggest problem that arises with this is what happens when you have (in your example) one window open for `Brass Crescendo`, another open for `Timpani Drum`, and in the first window you hit the right arrow. Now you should have two windows both editing `Timpani Drum`. First of all, from me familiarizing myself with the UI code, it looks like it would take some significant refactoring just to ma

[2015-04-19 09:46] musikBear commented on #434
ehh.. you mean 'Stars' in sidebar ?? -eg presets, not plugins ??
thats totally possible now
I have saved several VSTs **as lmms-presets**, they do show up in preset browser, and loads perfectly **if** you use the context menu choose *"Send to Active Instrument Track"*  **not** drag, because you will create an orphan preview, if left clicked!

[2015-04-19 10:17] musikBear commented on #1937
i kind of understand, but theres a substantial difference between the *internal* presets in a VST, and *external* versions of zasfx or 3oc instances
Quite often the sequence of presets in a vst are 'related' -eg 1-12 are basses, 13-25 are pads, aso
Here it make sense to 'try the next one' in the 1-12 sequence *if you are trying to find a suitable bass!!!*
The sequence of zasfx or 3oc *instruments*

[2015-04-19 10:39] Wallacoloo commented on #1937
@musikBear I may have misunderstood the original feature request, but I don't think this has anything to do with presets. The left and right arrows are used to switch between different instruments that you've already dragged into the song editor (instrument tracks? I don't know the terminology). So for in the example, clicking the right arrow would switch the window currently titled "Brass Crescen

[2015-04-19 10:56] Wallacoloo commented on #434
@musikBear I meant the "Instrument Plugins". As an end user, it would be ideal if LV2 + native + VST plugins were all treated the same in the UI, as functionally, they're all instruments.

It's nice to know about that preset trick though.

[2015-04-19 11:13] Wallacoloo commented on #256
This no longer appears to be an issue - I can drag the playhead in the song editor, automation editor or piano roll and the min:sec:msec or bar:beat:tick display updates correctly. Somebody in the LMMS group should probably close this issue.

[2015-04-19 12:46] musikBear commented on #256
only works in 'time'-mode - switch to 'bar'-mode, and the counter will not react to any playhead dragging

[2015-04-19 14:51] softrabbit commented on #1981
I filed a pull request for this bug yesterday, so it should be fixed soon-ish in master.

[2015-04-19 14:55] midi-pascal commented on #1981
Ha!
Thanks a lot.
I can stop investigating this issue...

[2015-04-19 15:01] tresf commented on #1983
This was before we could drag+drop from the sidebar file browser.

If we are to add auto-promot for file - based plugins, we should remain consistent and do it for all.

It is my personal experience that people at the plugin level tend to be advanced enough to not need to be spoon fed a blocking dialog, so if we do this:

 1.  We make it configurable
 2.  We do it for all plugins that require a fi

[2015-04-19 15:06] tresf commented on #1972
Closed via #1978

[2015-04-19 15:06] #1972 closed

[2015-04-19 15:20] michaelgregorius commented on #1981
Hi @softrabbit,

you beat me by about half an hour. :smile: I have a fix this bug as well (my first pull request):
https://github.com/LMMS/lmms/pull/1984

I fixed it a bit differently by adding checks for the conditions which are asserted during get_atom_value. How can I attach my example file that I have used to reproduce the crash to this issue?

[2015-04-19 16:56] Wallacoloo commented on #256
It's working in both modes for me using the latest git. I'll make a video
when I get a chance.
On Apr 19, 2015 5:46 AM, "musikBear" <notifications@github.com> wrote:

[2015-04-19 17:14] tresf commented on #256
@Wallacoloo thanks.  We can reopen if needed. :+1:

[2015-04-19 17:14] #256 closed

[2015-04-19 18:16] simon-v commented on #1966
Closing, because i couldn't reproduce it myself with a two-day old git build. I will be looking for my answers elsewhere.

Thank you for the efforts and apologies for wasting your time.

[2015-04-19 18:16] #1966 closed

[2015-04-19 19:07] Reaper10 commented on #1472
#1977 should be added to here

[2015-04-19 20:22] curlymorphic commented on #1860
With the feature freeze coming I want to get this submitted. I have 2 questions.

1. I based my work on LMMS:master-zynaddsubfx-experimental, tobys branch, I am unsure of how you want this pull request, based on the same branch, or rebased against master.

2. afaik we still need the mingw dependencies for lo and rtosc. @tobydox is is this still the case.
   If I put the time In to learn mingw, I s

[2015-04-19 21:43] michaelgregorius commented on #1862
File operation do not necessarily have to be RT unsafe. I think the coarse recipe for these cases is as follows. Let's say you want to switch a sample that's played in a sampler.

1. Each time the RT thread is executed it uses the buffer with the soon-to-be old sample.
2. The GUI triggers the loading of a different sample.
3. The new sample is loaded in a thread which is **not** the RT thread and

[2015-04-19 22:05] tobydox commented on #1860
I'll deal with adding the libraries to the MinGW repository tomorrow.

[2015-04-19 22:10] curlymorphic commented on #1860
@tobydox Thank you :).

[2015-04-20 01:06] tresf commented on #1860
IIRC, we have to split the PR into two branches:
 1.  https://github.com/LMMS/lmms
 2.  https://github.com/LMMS/zynaddsubfx

I don't even know where to start on this though.  @tobydox and @Lukas-W may be better advisers. :)

[2015-04-20 01:21] davetbass2 commented on #702
Hi, Sorry if I'm not doing this correctly but, can this be reopened?

Mod wheel movements can not be recorded and played back in Vestige.

Thanks!
Dave

[2015-04-20 01:24] tresf commented on #702
@davetbass2 is there a chance there is overlap with https://github.com/LMMS/lmms/issues/1472?

[2015-04-20 01:25] tresf commented on #1977
Stop submitting garbage.  This is atrocious.

![image](https://cloud.githubusercontent.com/assets/6345473/7222352/9d5b3980-e6da-11e4-98ed-b73472e07af1.png)

[2015-04-20 01:25] #1977 closed

[2015-04-20 01:26] tresf commented on #1977
Also, we don't shamelessly plug your bug reports on every bug you think is related just to promote it.  It is rude, selfish and abusive.  Deleting all shameless plugs.

[2015-04-20 01:27] tresf commented on #1471
@Reaper10 MP3 support violates the GPL license.  Start offering fixes and not wish lists please.

[2015-04-20 01:32] tresf commented on #1977
@Reaper10 I have to make this very clear... you are wasting people's time on here because you are littering our bug report with cleanup tasks that should be put toward other items.

This bug report is better than some you've created, but the strange oversized glyph icons make it terrible to read and I have lost patience with cleaning up your posts.  Please create a new one that's cleaner, and let

[2015-04-20 01:39] #1953 closed

[2015-04-20 01:42] davetbass2 commented on #702
Hi tresf thanks! I think the mod wheel issue itself might have gotten a little lost, I looked through all the numbers under:
MIDI modulation wheel, sustain pedal and expression pedal support
the closest one was:
https://github.com/LMMS/lmms/issues/1917
this has been closed.
I couldn't find a separate open issue on recording and playing back Mod Wheel movements for VSTs
If a mod wheel knob was adde

[2015-04-20 01:48] Reaper10 commented on #1977
I'm really I'll work on a new one was rotuing  box ok?

[2015-04-20 01:49] tresf commented on #702
@davetbass2 is the mod wheel movement not part of the missing MIDI messages?  I guess what I'm asking is, is this a standard MIDI feature that works fine on other items but is simply missing from the VST plugin?

[2015-04-20 02:01] davetbass2 commented on #702
Hi thanks again for quick response! because I don't know enough about MIDI, I'll try to explain what I'm trying to do, and hopefully there is a easy MIDI answer

The mod wheel works when I'm playing the synth, but the mod wheel movements can't be recorded and played back using the automation tracks

The pitch bend can be recorded and played back using the automation tracks, by dragging the pitch k

[2015-04-20 02:04] tresf commented on #702
@davetbass2 I think that is the problem... the MOD wheel is expected to have a knob in order to be recordable and if the plugin doesn't offer it, we can't automate it.

So it sounds like MOD should be visible regardless of whether or not the plugin offers it, which I think is part of LMMS having better support for capturing all MIDI messages.

@softrabbit do you have any feedback on this conversat

[2015-04-20 02:16] davetbass2 commented on #702
Thanks, you have stated the answer clearly when you said:
"MOD should be visible regardless of whether or not the plugin offers it"
That would solve it from my point of view as a player.

Thanks again!

[2015-04-20 02:18] Reaper10 opened #1986 "All-in-one routing window"
The LMMS tab is only for inputs and outputs of LMMS tracks ie, the Inputs box will show all of your track outputs of your Group Tracks, Instrument Tracks and Sample Tracks. The Output box will show all of your track inputs of your Group Tracks, Instrument Tracks, Sample Tracks.

The Jack tab is any for Jack Audio inputs and outputs ie, the inputs box will show all of your LMMS track outputs ie, yo

[2015-04-20 02:21] Reaper10 commented on #1977
#1986

[2015-04-20 02:28] tresf commented on #702
@davetbass2 right, I guess I just don't know if the placeholder bug report covers that with the blanket "all midi messages" statement or if perhaps this is important enough to just tackle on its own.  Thanks for the feedback.

[2015-04-20 03:05] Wallacoloo commented on #1471
@tresf have the LMMS developers already considered using LAME for mp3 decoding? (despite the name, it can decode as well as encode). LAME is [licensed](http://lame.sourceforge.net/license.txt) under LGPL.

[2015-04-20 05:00] tresf commented on #1471
@Wallacoloo, probably worth starting a new topic over.  I know the US, Europe and Japan historically have had some issues with the library but from a pure licensing perspective, you appear to be correct, we should be able to use it.

I know the users would be largely in support of MP3 support, so this would be a very nice feature indeed.

[2015-04-20 05:08] tresf commented on #1937
For those not automatically notified of Pull Requests, please take a look over at #1987. :+1:

[2015-04-20 07:07] softrabbit commented on #1981
@michaelgregorius, I don't think you can attach anything that's not an image, it has to be made available somewhere else. I wonder if one could create a (self-extracting) archive of some kind in a valid PNG file?

[2015-04-20 10:05] curlymorphic commented on #702
Agreed, and sustain and expresion.

I am not sure if our internal synths support these features? But this is a must for plugins.

maybe this crosses over with #1965

[2015-04-20 10:58] musikBear commented on #1983
Is that fixed in Master? No longer an orphan pre-'view' window on left-click ?  Great job :+1: !

[2015-04-20 11:15] musikBear commented on #1471
Perhaps a look at http://mp3licensing.com/royalty/
 Frauenhofer-institute is not nice to do battles with..
How many weekly dl right now.. 5000.. ?   -> $16250 .... pr WEEK !
-And that is with  Frauenhofers lowest rates (software 2.5..5) for encoding

[2015-04-20 11:19] musikBear commented on #1937
1987 makes it much clearer :p :blush:
(those ani giffs are nice! What proggy do you use to make them?)

[2015-04-20 12:01] curlymorphic commented on #1471
I feel that mp3 support is overdue, but we must be careful with this.

Does lmms need to be able to encode as well as decode? im unsure of the licence requirements to just read an mp3.

Users could still encode there creations in  3rd party software, but would be able to use mp3 as samples.

[2015-04-20 12:08] curlymorphic commented on #1983
This is my feelings, just written better. :+1:

There is no need to dumb down the lmms experience. This issue may have been more relevant 6 years ago, but I feel less so today.

[2015-04-20 12:19] softrabbit commented on #1965
I'm not sure you want ZynAddSubFX to expose all its parameters to LMMS, there are quite a few...
http://linuxmusicians.com/viewtopic.php?f=48&t=11404&start=45#p49118

[2015-04-20 12:44] curlymorphic commented on #1965
We Could Make use of the Zyn Midi learn feature, then the user gets to select what one of the 6 million parameters they want to control,

[2015-04-20 13:05] tresf commented on #1983
You're talking about presets, we're talking about plugins.  In the case of this request, the idea is to prompt the user when an empty plugin is added to the Song Editor or BB Editor to reduce the amount of clicks.  Since 1.1, DLL's can be dragged directly from the left pane file browser into the Song Editor, and they're denoted with a `V` icon so people know they're VST plugins.

What you are desc

[2015-04-20 13:08] tresf commented on #1983
@Wallacoloo yes, I agree... with the default VST argument.  If we can find a GPL licensed VST plugin (one which wasn't compiled against the proprietary Steinberg headers) then this would be a very nice option.

[2015-04-20 14:27] tresf commented on #1471
@musikBear if we did mp3, I believe it would be a reverse-engineered open source library, not the official Frauenhofer one.

[2015-04-20 14:28] tresf commented on #1471
@curlymorphic we would have tremendous value for both cases.  Decode for importing samples, vocals, etc.  Import for exporting (as an alternative to ogg).

[2015-04-20 14:30] #170 closed

[2015-04-20 14:38] tresf commented on #1937
Good point.

The underlying models should actually support this pretty seamlessly (no different than an automation event, right?)  Although it could certainly be confusing to have two identical instrument dialogs open, it may not have the hard limitations one would initially expect.

[2015-04-20 14:42] tresf commented on #1981
:laughing: ^---- Voodoo magic... :)

There's actually quite a few people doing this, but most of them involve text from what I'm reading.... :)

[2015-04-20 14:55] curlymorphic commented on #1937
I have had 2 ui for the same effect hacked up ok before, I have not looked into the instruments, to see how they stand on separation of concerns.

[2015-04-20 15:07] curlymorphic commented on #1471
I can see very good use cases for both myself, but was wondering if it helped with legal issues.

I think we need to tread careful on this one. I know many projects do use reverse-engineered open source libraries, But we are larger than most of them, so more likely to be seen.

[2015-04-20 17:19] CMG-UTOPIA opened #1992 "LMMS Randomly Freezes/Crashes (Ubuntu 14.04.2 32bit)"
It's been happening for a few days ever since i upgraded from LMMS 1.0 to LMMS 1.1.3.  This is the report it gave me when I used GDB in the terminal.

-----------------------------------------------------------------------------------------------------------
[code]

[2015-04-20 17:50] curlymorphic commented on #1992
@CMG-UTOPIA Can you provide steps to reproduce please?

[2015-04-20 17:52] tresf commented on #1992
And please use codeblock \`\`\` tags to prevent linking bug reports like `#22`, `#23`. :)

[2015-04-20 18:55] softrabbit commented on #1847
With the feature freeze coming up, I think some kind of immediate notification, AKA option 2, is the way to go, leaving the almighty log and notification infrastructure to be created for 1.3 or 2.0... or whatever it will be called.

And BTW, I just got sound out even if both my settings dialog and lmmsrc.xml say "dummy"...

[2015-04-20 19:18] Wallacoloo commented on #1937
@musikBear

They sure are :-) They're really useful to get more input from people who don't have the time to pull the changes, build & test. I use [byzanz](https://github.com/GNOME/byzanz) (specifically the command-line tool `byzanz-record`, since I don't use Gnome & didn't want to figure out the applet stuff). It's available in some PPA somewhere too, not sure where.

[2015-04-20 19:35] CMG-UTOPIA commented on #1992
@curlymorphic it happens at random... whether i'm adding sounds to the song editor, when i'm removing tracks, after a save... the crashes/freezes are never consistant

[2015-04-20 19:44] tresf commented on #1992
I recall a full disk drive causing this for a user a while back....

[2015-04-20 21:17] tobydox commented on #1860
@curlymorphic regarding instrument deletion: that's what the global mixer lock is for. If you lock the mixer, the GUI thread will block until the current period is rendered and the mixer does not access any instrument anymore. However this usually should be managed by the generic code for instantiating and deleting tracks and/or instruments.

[2015-04-20 21:24] Wallacoloo commented on #1992
Could this possibly be due to library version incompatibilities? I.e. lmms
was built against a different version of some dependency than what you have
installed? This can cause problems when a library's ABI changes.

I recall a full disk drive causing this for a user a while back....

—
Reply to this email directly or view it on GitHub
<https://github.com/LMMS/lmms/issues/1992#issuecomment-9455105

[2015-04-20 21:38] badosu commented on #1860
@curlymorphic @tresf this looks like a case for using a [git submodule](http://www.git-scm.com/book/en/v2/Git-Tools-Submodules) pointing to our fork of zynaddsubfx.

Then you would pull the new version from zasfx via git submodule update and perform the local changes.

[2015-04-20 21:47] tobydox commented on #1860
@curlymorphic liblo now available as mingw32-x-liblo and mingw64-x-liblo packages. rtosc to come, having some difficulties with compiling ("src/cpp/ports.cpp:392:38: error: 'index' was not declared in this scope" etc.)

[2015-04-20 22:17] davetbass2 commented on #702
Awesome, thanks again guys looking forward to it,

Is there anyway I could help? I'm not a programmer, but I have done some bug reporting and testing in my real job (accounting)

[2015-04-20 22:19] CMG-UTOPIA commented on #1992
@tresf  Define "Full"  I have a 1TB Hard Drive and I only have used 133GB out of it

@Wallacoloo  If it helps, i installed LMMS 1.0 from the Ubuntu Software Center some months back, then decided to follow the instructions for KXStudio's Repository to do the upgrade

[2015-04-20 22:59] tresf commented on #1992
I assume this is satirical.

Yeah, this is most likely a problem with the installation and upgrade paths.  Namely, 1.0.0 was a mistake as the Ubuntu packager had accidentally committed the unstable branch.  Furthermore, care should always ve taken on a large project like LMMS when trusting an upgrade path from two separate PPAs as one may not have been cleaned up properly.

But in every way we pla

[2015-04-20 23:02] tresf commented on #702
Often 50% legwork for a bug can be the research.  If you can get the technical details on the mod wheel stuff and help find a good place in the GUI for it, you might get someone with the technical skills to hack it in.

[2015-04-20 23:07] tresf commented on #1992
... Sorry that read a bit dismissive... What I mean is we can't fix something that isn't broken.

I would recommend you roll back KXStudio build with --purge, reinstall Ubuntu build, roll back Ubuntu build with --purge, reinstall KXStudio build.

The other options you have are looking for scattered libraries on your system and hand-purging them, but that can get hairy really quickly.

[2015-04-20 23:36] CMG-UTOPIA commented on #1992
@tresf Ah k fair enough.  I uninstalled & reinstalled LMMS with only the KXStudio repositories (not from Ubuntu Software Center), and its working better now.

[2015-04-20 23:49] Wallacoloo opened #1993 ""Muted" vs "Solo" wording mismatch"
If you right-click on a track's mute button in the song editor (the green box in the default theme), the name of the control will appear in the context menu as "Muted". If you do the same on the solo button, its context menu shows "Solo".

There is a minor discrepency there: it should either be "mute" and "solo", or "muted" and "soloed", but the tenses should definitely match (I vote for the forme

[2015-04-21 00:39] tresf commented on #1993
The translation files have a history of breaking other PRs from being merged automatically as they can cause merge conflicts, but don't let that stop you. :)

In regards to the wording, I vote for the former as well. It is easier to maintain and probably easier to translate.  As far as the broken translations... past tense translation is still better than no translation. :+1:

-Tres

[2015-04-21 00:41] tresf commented on #1992
Thanks for the status update.  I'm closing this out for now, but please feel free to continue using it to document your problem, even after it is closed (closed topics still allow comments).

[2015-04-21 00:41] #1992 closed

[2015-04-21 01:12] curlymorphic commented on #1860
@tobydox

We seem to currenly have trouble with this deleting issue on most if not all instruments, it's not isolated to ZASF. I will take a look at the global mixer lock.

ty :)

Thanks for your efforts.

[2015-04-21 01:51] Reaper10 opened #1994 "X-Y Pad Waveform Drawler Enhancement"
The idea is to add a  X-Y Pad Waveform Drawler pad to:
1 Waveshaper
2 Vibed
3 BitInvader
add this to any other plugins like them.
Why this is good, it's for those who have  a midi keyboard with a X-Y Pad. Nothing else will change in the plugins. The lock button will lock  the X-Y Pad in place until you unlock it.

X-Y Pad Waveform Drawler
![waveshaper vibed bitinvader xy pad](https://cloud.githubu

[2015-04-21 07:42] liftarn commented on #1471
It's a moot point since patents required to implement MP3 expired in most countries by December 2012, 21 years after the publication of ISO CD 11172. An exception is the United States where patents filed for anything disclosed in ISO CD 11172 a year or more after its publication are questionable. If only the known MP3 patents filed by December 1992 are considered, then MP3 decoding may be patent-f

[2015-04-21 07:56] softrabbit commented on #1971
And the import really is awfully slow. I compared Rosegarden (3 seconds) and LMMS (25 seconds) opening the file mentioned above.

After some poking around I believe most of the time (~18 seconds in my test or some 70-ish %)  is spent in this if clause: https://github.com/LMMS/lmms/blob/master/plugins/MidiImport/MidiImport.cpp#L435. Even if there is a huge number of pitch bends or something in that

[2015-04-21 08:22] Spekular commented on #1981
Encode the png in an audio file, then place the audio file in a game and
require players to bring radios to certain locations to hear it. :+1:

[2015-04-21 08:35] mikobuntu commented on #1981
You can easily embed an audio file into a .gif by using " cat some.gif some.mp3 > another.gif " but for easy extraction I'm unsure.

[2015-04-21 08:56] ryukusu commented on #1001
I don't know maybe someone wrote that before me.
Looks like there is some kind of overlay for zynaddsubfx if you launch it from lmms.
I've compared standalone zynaddsubfx and zynaddsubfx launched from lmms.
It affects not only banks but also some another UI elements. I've also found that you can rebrush zynaddsubfx, but it doesn't help to deal with banks.
![2015-04-21-1429605644](https://cloud.git

[2015-04-21 11:03] musikBear commented on #1937
ahhh linux magic the win-user silently *sighed*  :droplet:

[2015-04-21 11:22] unfa opened #1995 "[Linux] Double click fails to open project if path contains non-ASCII characters"
I'm nurring KX Studio, the file manager is Dolphin (KDE).

When I doubleclick on a project file, LMMS opens but shows this dialog:

![lmms-doubleclick-project-load-fail](https://cloud.githubusercontent.com/assets/491704/7251191/4d0e85e0-e829-11e4-810b-a125e69133df.png)

And creates new session.

Opening the same file via File>Open dialog works fine.

[2015-04-21 11:31] tresf commented on #1995
At a glance looks related to #1325, where the latin1 version of the text is being processed rather than the utf8, etc

[2015-04-21 11:31] unfa opened #1996 "LMMS seems to crash my whole computer"
It's something I'm expiriencing for a bout a month, using LMMS 1.1.3.
My laptops started to randomy crash every now and then - it violently powers off without any warning.

Hadware: ASUS K52Jc laptop.
Software: KX Studio 14.04 64-bit

    uname -a Linux unfa-K52Jc 3.13.0-48-lowlatency #80-Ubuntu SMP PREEMPT Thu Mar 12 11:33:22 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

I tried logging dmesg kernel b

[2015-04-21 12:20] softrabbit commented on #1387
@fundamental, does Zyn support some kind of MIDI tuning messages?

[2015-04-21 12:36] mikobuntu commented on #1996
I found my problem with crashes was due to mainly distribution upgrading from ubuntu-12.04 to ubuntu-14.04, this really bugged out my .xorg
files or some driver or who knows what else ..., now since clean installing 14.04 I have not had 1 single crash. I was blaming my audio apps at the time, but I guess it may have been down to the fact that I use audio apps including LMMS more frequently than an

[2015-04-21 12:54] tresf commented on #1001
What you are looking at is the NTK themed version of Zyn, LMMS is bundled with the FLTK themed version of Zyn.  This is a compile-time option.

That said, I'm glad to see the stand-alone has the same bug, but unless you are on version 2.5, it won't be addressed because the code base has undergone significant changes.

I don't know the answer to this, but historically I've edited the fluid sources

[2015-04-21 12:56] softrabbit commented on #1995
To rule out an oddly named folder, I'd like to see confirmation that:
* Dolphin shows the folder name OK
* Doubleclicking other files in the same folder works fine
* The folder name looks OK on the command line

[2015-04-21 12:57] tresf commented on #1001
If you're looking to help fix/debug this on LMMS, time is probably better spent working with Dave on the 2.5 upgrade and seeing if it still exists there.

[2015-04-21 13:59] fundamental commented on #1387
@softrabbit all of those look like SysEx messages which zyn does not support

[2015-04-21 14:27] Reaper10 opened #1997 "Automatable/Assignable Controller Rack On/Off"
The controller rack LFOs needs a on/off button on them. This way you assign the on/off button on to the LFO a on/ off button to a button on your midi keyboard.

[2015-04-21 14:36] unfa commented on #1996
I'm waiting for new KX Studio live-DVD release to install a clean system, but well, this isn't really a solution to anything, just a way to escape the problem.

[2015-04-21 14:40] unfa commented on #1995
Dolphin show the file name fine.
Doubleclicking other files (WAV for example in the same dir) works.
Running form comandline:

    lmms /unfa/Projects/Mieczysław Szymasiewicz/Krainy Oniryczne/Muzyka/Zona/unfa-Zona-01.mmpz

Failed

    cd /unfa/Projects/Mieczysław Szymasiewicz/Krainy Oniryczne/Muzyka/Zona/
    lmms ./unfa-Zona-01.mmpz

Worked

[2015-04-21 14:45] musikBear commented on #1387
o m g .. and if.. how.. -and then some
![paste](https://cloud.githubusercontent.com/assets/6662066/7254831/b1d084a8-e845-11e4-9b37-d5a33b8a80a1.png)

You can set your own of-scales as crazy as you can imagine .. its absurdly versatile
In fact -no reason to ask : *Can zasfx.......*
If its relevant ..it **can**

[2015-04-21 14:51] mikobuntu commented on #1996
yeah I agree Unfa, it is sometimes the only way whenever your system gets into an unstable state.
I'm sure you have already checked the numerous /var/log/* files for possible culprits to your problem?

thanks Mikobuntu ;)

Date: Tue, 21 Apr 2015 07:36:03 -0700
From: notifications@github.com
To: lmms@noreply.github.com
CC: chrissy.mc.1@hotmail.co.uk
Subject: Re: [lmms] LMMS seems to crash my whole

[2015-04-21 15:05] Reaper10 commented on #1357
All tracks needs a viable blinking LED record button  next to the mute and solo buttons to act as a ready to record button, the main record button starts recording on all of the record ready tracks got the idea from ardour.

[2015-04-21 15:08] unfa commented on #1974
That's true, although a bit strange, looking at other DAWs.

[2015-04-21 15:46] tresf commented on #1996
This is just a classic problem with open source.  There's no possible way anyone can reasonably account for all libraries everywhere all on their own.

So proper troubleshooting would require finding libraries that are loaded at the start of every application and looking for ones that might be misplaced or left over from an upgrade.

When that effort is compared against the time it takes to simply

[2015-04-21 16:00] curlymorphic commented on #1860
I did try to use ````Engine::mixer.lock() / unlock()```` but this still resulted in a priority inversion dead lock.
I have managed to over come this issue, with the use of 2 flags, to ensure that the audio buffer is allows to process before deleting the plugin.

Now in english

ZASF no longer freezes or segfaults when opening and closing the ui.

Steps I used to stress test this

1) open unfa-spok

[2015-04-21 16:39] mikobuntu commented on #1860
@curlymorphic  Good work 'Sherlock' on figuring this one out and fixing it :)

[2015-04-21 16:40] curlymorphic commented on #1001
@ryukusu I have taken some screen shots of the new zasf 2.5 imported into lmms. Are the issus mentioned addressed?

![image](https://cloud.githubusercontent.com/assets/7412852/7257417/73cf9cc2-e84d-11e4-8894-3852619f79a6.png)

[2015-04-21 16:45] Umcaruje commented on #1860
Zyn used to be a submodule, but then there were some complications for the users (see #315) so the idea was abandoned.

[2015-04-21 16:53] tresf commented on #1001
... ah... a picture is worth 1,000 words. Thanks @curlymorphic Dave!

[2015-04-21 16:56] tresf commented on #1997
Well, it has one, it's just impossible to drag to an automation editor.

![image](https://cloud.githubusercontent.com/assets/6345473/7257743/c9d65160-e825-11e4-98b0-ffd9cae6c636.png)

[2015-04-21 16:58] tresf commented on #1860
@curlymorphic,

Dave, we should also consider preventing click-jacking that button and disable it between timely operations, which should also help with the multiples in regards to race conditions.

-Tres

[2015-04-21 17:07] curlymorphic commented on #1860
nice idea :+1:
https://github.com/curlymorphic/lmms/blob/zynUpgrade/plugins/zynaddsubfx/ZynAddSubFx.cpp#L656

[2015-04-21 17:10] softrabbit commented on #1995
Yes, looks like ```QString```s constructed from ```char *``` are converted using ```fromAscii()```. Should probably use ```fromLocal8Bit()``` instead.

[2015-04-21 17:36] tresf commented on #1995
Thanks for the sample text.  It is being triggered here:  [`DataFile.cpp#L126`](https://github.com/LMMS/lmms/blob/master/src/core/DataFile.cpp#L126) by improper encoding of the `dark L` or `L with stroke`, i.e. `ł`.

Had this been a UTF8 issue, the solutions proposed seemed simple, but to my surprise, I've had no luck getting them to fix the issue.

So I dug a bit deeper and stumbled upon this....

[2015-04-21 17:43] tresf commented on #1995
Looks like @softrabbit and I did similar work here.  I'd recommend we don't override the default encoding settings, but rather use the Qt recommended approach for reading application parameters, as if we force UTF8, we may run into issues with Windows-CP1252, etc.

-Tres

[2015-04-21 18:25] softrabbit commented on #1995
The ```fromLocal8Bit()``` idea came straight from here: http://doc.qt.io/qt-5/qcoreapplication.html#arguments so it should be pretty much safe.

[2015-04-21 18:33] tresf commented on #1995
Good catch, that seems to work.

![image](https://cloud.githubusercontent.com/assets/6345473/7259714/49131302-e833-11e4-9ff4-b1f68152bffa.png)

We'll need to patch it into several places due to the command line rendering, etc.

[2015-04-21 18:52] Wallacoloo commented on #1993
So I did search through the code, and it looks like this is the only place in which "muted" occurs within a string passed to `tr()`. So it *should* be safe to **replace** the "muted" translations with "mute", rather than have duplicate "muted" and "mute" translations.

So should I keep around the translations for "muted"? Or should I just replace them altogether? We can always bring them back via

[2015-04-21 18:52] Reaper10 commented on #1997
what  about adding  on/off button on to the LFO so you can Assign it to a button on midi keyboard?

[2015-04-21 18:57] tresf commented on #1995
@softrabbit can you take a look at #1998 and see if I missed anything?

[2015-04-21 19:00] Wallacoloo commented on #1993
Oh, the translations are hierarchical, so I don't have to worry about the translation being used elsewhere.

[2015-04-21 20:23] tresf commented on #1993
Closed via #1999

[2015-04-21 20:23] #1993 closed

[2015-04-21 20:58] tresf commented on #1997
Thanks that is tremendously useful over your previous statement. :)

[2015-04-21 21:07] tobydox commented on #1860
The packages mingw32-x-rtosc and mingw64-x-rtosc are now available as well so you should be able to cross compile the new ZASF branch for Win32 and Win64. If there are any issues, please let me know!

[2015-04-21 21:10] curlymorphic commented on #1860
@tobydox  tyvm :) do you have any suggestions for the ubuntu packaging of rtosc. It is not in the ubuntu repos, We was just discussing it in #1991

Im am going to test this under windows now:)

[2015-04-21 22:55] Wallacoloo opened #2000 "Add mp3 encoding and/or decoding support"
*edited @tresf, added checklist*

The MP3 patents have finally expired.  Since LAME is available on all platforms, LAME will be used and bundled to provide this functionality.

* [x] Export song to mp3 via GUI (#3615)
* [x] Export song to mp3 via CLI(#3641)
* [ ] Import tracks as mp3 via SampleTrack, AudioFileProcessor(#6750)

---

The discussion on #1471 recently led to some talk over the possibi

[2015-04-21 22:57] Wallacoloo commented on #1471
Let's continue this mp3 discussion over on #2000 to avoid cluttering the original issue.

[2015-04-22 00:12] tresf commented on #2000
Some general questions....

Since the majority of proprietary OSs already have mp3 playback and encoding support (i.e. ripping mp3s with iTunes, Windows Media Player, playback) is licensing an issue on those platforms that already have the capabilities?

Furthermore are there any methids that provide fallback on an existing API?

Last, how much is unlimited licensing?  Could we kickstart the licen

[2015-04-22 01:29] tresf commented on #1952
Here's another project (mxe) with the same issue.  https://github.com/mxe/mxe/issues/664

[2015-04-22 08:58] softrabbit commented on #2000
http://gstreamer.freedesktop.org/documentation/plugins.html, looks like Gstreamer uses LAME for encoding mp3, and libmad for decoding. Both listed as "ugly", i.e. distribution might pose problems, license- or patentwise. So, adding gstreamer would be quite a lot of stuff just to end up using LAME.

US$ 15k/year minimum, $0.75/unit for decoding, $2.50 to have it both ways.
http://mp3licensing.com/r

[2015-04-22 10:35] musikBear commented on #2000
Honestly.. is it worth the hazzle /hazard
afaik ogg has better sound quality than mp3 -right?
Anyone that want to use mp3, can just export to wave, and then use like.. audacity to convert.
Imho lmms could use founds **much** more creative, and gain more quality, than pouring mulahh in fraunhofers money-bin - (not that Fraunhofer is a bad thing, isent, and *that* is also worth a thought, before 'ci

[2015-04-22 11:14] curlymorphic commented on #2000
15k a year minimum, is alot, If we added this feature, we would then have the added stress or raising this money every year,

I am not sure kickstarter would raise that sort of money just to add mp3 to an already existing project. I would not expect kickstarter to raise this year after year for an already implemented feature.

A thought that I just had, was to offer an option on export to open the

[2015-04-22 12:38] tresf commented on #2000
Thanks for the licensing research... I think the vast majority of our proprietary OS users are already licensed for decoding and encoding as the licensing costs are covered by Microsoft, Apple.

**libaudiodecoder**

Here's a project which claims to leverage the licensed versions of the libraries already on the OS (originally part of the mixxx project):

The license is MIT, so I think we'd likely n

[2015-04-22 16:33] Wallacoloo commented on #2000
The option of opening a wave in audacity (or another program) sounds
relatively easy to implement & could be useful for more than just
conversions. I think licensing mp3 for lmms is definitely out of the
question and frankly just not worth anywhere near that amount of money.

But I really like @tresf's idea of using the OS licenses if that turns out
to be possible. MIT is *far* more permissive tha

[2015-04-22 16:53] mikobuntu commented on #2000
How about a command line equivalent instead of having to use a GUI program such as Audacity. Openshot video editor uses Blender in the background ( i think through python scripts )  for rendering of animated titles. The problem would perhaps be making this cross platform?

[2015-04-22 17:30] Wallacoloo commented on #2000
@mikobuntu great idea. It's pretty easy to execute something of the form
"<program name> [args ...]" in a cross platform manner, and we can use %
operators to let the user substitute the file name, etc. We could also do
the same for decoding mp3's. Though it does limit that functionality to
more advanced users. We may be able to provide guides in our wiki like
audacity does in its wiki though (I t

[2015-04-22 18:11] ryukusu commented on #1001
@tresf
looks like you misunderstood. left is the stand alone zynaddsubfx. it has no such bug. I just mentioned that on the standalone it has no overlay while lmms version (right side) has some kind of overlay.

@curlymorphic should I downgrade then to previous lmms version, change sources and compile from sources or wait for next release?

[2015-04-22 18:43] tresf commented on #1001
What is misunderstood?  You have a screenshot NTK Zyn and we don't use NTK.  If someone understand your point, please translate.

P.S.  The lime-green screenshots make your screenshots quite distracting to look at. ;)

[2015-04-22 18:49] falkTX commented on #1001
@tresf I think he's using the kxstudio packages, which uses NTK.

[2015-04-22 18:53] tresf commented on #2000
Unless we're doing batch conversion, I strongly disagree with this approach, at least for MP3 features topic... Here's why:
 1. There's no easy cross-platform way of knowing where the software is installed, so we'll get into a mess when locating and launching.
 2. There's no common command-line utility on these OSs for MP3 encoding/decoding.
 3. Audacity only has support for MP3 encoding when LAME

[2015-04-22 18:54] softrabbit commented on #2000
@tresf, keep digging :+1:

**libaudiodecoder:**
Only Windows and OSX, not Linux. A solution covering at least those 3 would be better. Still probably the best out of this bunch.

**Allegro:**
One mention of mp3 on their site, in a code snippet demonstrating how to add your own formats... not very promising. http://alleg.sourceforge.net/stabledocs/en/alleg026.html#register_sample_file_type

**Windo

[2015-04-22 19:04] tresf commented on #2000
@softrabbit here's something I read from a libaudiodecoder dev per https://plus.google.com/+RJRyan/posts/5QgqTsjJqXA.

Although I don't have the capacity to code this all in, I agree with this statement.  Linux MP3 isn't really the problem as the user has to intentionally install the Bad/Ugly codecs which the OSs put up plenty of warnings against and it would be something we support, but don't shi

[2015-04-22 20:19] tresf commented on #1001
@falkTX, Do you have a custom build script?

[2015-04-22 21:18] falkTX commented on #1001
Yes, it's some changes to cmake and also some quick build-script to make things work.
I didn't manage to do everything via cmake yet, otherwise I'd have sent in a patch.

Anyway, yeah the zynaddsubfx in the lmms kxstudio packages uses ntk.
It has the same bug as the regular fltk build.

[2015-04-22 23:11] Reaper10 opened #2001 "Sample Track Playback Bug"
I tried to play a sample back in the Sample Track and it stuttered when I tried to play it back.  I tried Wav & Ogg, try it and see if it dose it to you.
https://drive.google.com/open?id=0B0Ar66xX6aiROG92ajFOeEpKSkk&authuser=0
In file Project, Ogg File & Wav File.

[2015-04-22 23:16] Reaper10 commented on #1471
Please look at this Sample Track Playback Bug #2001.

[2015-04-22 23:31] Sti2nd commented on #1488
Yup, Tres, added. Reason I haven't made progress on this is partly BoL v2, partly life, and partly that I didn't manage to build LMMS on my Ubuntu when I tried this Easter. Not sure I'll have so much more time now since exams are coming up, but I will definetely try again to build somewhere after 22nd of May.
If you want to help.
I think the problem I had was with Qt. That was what the terminal wa

[2015-04-22 23:37] Sti2nd commented on #1950
Graphically is so much better than text input for stupid users like me. Other than that, I have just used my computer keyboard with LMMS...

[2015-04-22 23:38] tresf commented on #1488
@Sti2nd, perhaps we track the QT5 stuff in a separate conversation?

[2015-04-22 23:40] tresf commented on #2001
Steps to reproduce are required.

[2015-04-22 23:40] #2001 closed

[2015-04-22 23:41] tresf commented on #1471
Stop littering again.  You will be banned.

[2015-04-22 23:50] Sti2nd commented on #434
That would be really nice Wallacoloo! Possibly differ between VST instruments and the native, but could certainly be useful

[2015-04-22 23:52] Reaper10 commented on #2001
sorry about that
! Load file in sample track
2 press play.

[2015-04-22 23:54] Sti2nd commented on #1983
Sounds really smart! Should have been implemented year ago, really

[2015-04-22 23:57] Reaper10 opened #2002 "Sample Track Playback Bug"
tried to play a sample back in the Sample Track and it stuttered when I tried to play it back. I tried Wav & Ogg, try it and see if it dose it to you.
https://drive.google.com/open?id=0B0Ar66xX6aiROG92ajFOeEpKSkk&authuser=0
 In file Project, Ogg File & Wav File.
 Steps to reproduce are:
 ! Load file in sample track
 2 press play.

[2015-04-22 23:58] tresf commented on #2001
Can't reproduce.  Invalid.

[2015-04-22 23:59] tresf commented on #2002
Deleted.

[2015-04-22 23:59] #2002 closed

[2015-04-23 00:01] tresf commented on #434
(the need for an empty vst-instrument was fixed in 1.0, afaik)

Please open a bug report if something is broken.

[2015-04-23 00:01] Reaper10 commented on #2001
It mite just be me, Sorry

[2015-04-23 00:03] Sti2nd commented on #1997
So basically he wants to be able to turn the controller on and off with automation?

[2015-04-23 00:04] tresf commented on #1001
It has the same bug as the regular fltk build.

Thanks and apologies to @ryukusu for the misunderstanding.

[2015-04-23 00:06] tresf commented on #1997
Yeah, which a perfectly valid request.  We use a `Modal` dialog now, which blocks users from automating the LED since they can't drag the automatable LED.

His point is to just add an ON/OFF switch on the controller rack itself, which would be the most consistent with the rest of our software.  Either could get the job done. :+1:

[2015-04-23 00:13] Reaper10 commented on #2001
the sample tack problem just be me then, Sorry

[2015-04-23 01:27] Reaper10 commented on #1357
The record while playing song button/ icon could be used as a record mode called Monitor Record mode. When it's on you will see the record while playing song button/ icon and not just record.  To turn this mod on right click the record button/ icon and click the option or CTRL R & spacebar..

[2015-04-23 01:49] waxspin commented on #1764
Taking a look at this one.

[2015-04-23 02:28] tresf commented on #1764
@waxspin thanks.  FYI, not sure if the code is related, but this was just recently fixed #1584 via #1678.

[2015-04-23 07:50] liftarn commented on #2000
What about making a US version (without MP3) and a rest-of-the-world version (with MP3)?

[2015-04-23 10:36] Umcaruje commented on #1994
What is a drawler?

[2015-04-23 12:44] musikBear commented on #1950
.. i wish someone with serious **in depth** MIDI knowledge, would take time to write a *'MIDI for dummies'* chapter in wiki, because i have absolutely NO idea about how to setup, use, or what benefits im missing out on -Ive done just as you Stian -Only used pckb, and i really do not know if there is a whole lot to gain, with a midi-kb - I f.i. have the 'idea' (stupid), that only *one* preset can l

[2015-04-23 12:51] musikBear commented on #1983
wooo *that* i did not know :|
:+1:
-Need to documented wiki wise - I will try the workflow, and then add a paragraph, to 'working with vst'

[2015-04-23 13:35] tresf commented on #1983
Can we close this request out then?  I think current functionality beats the proposal from the OP (which was copied from an old TODO).

I understand there's a want for the VSTs to show as actual instruments somewhere as a long-term solution, but I believe that is a different objective.

[2015-04-23 14:24] musikBear commented on #1983
one thing though, it is not **only** vst-dll's that are marked with a 'V', it is **all** dll's. That makes the workflow less intuitive, and not as potent as i expected.
(i have added a paragraph to the wiki, btw)

[2015-04-23 14:44] Reaper10 commented on #1994
in my muckup

[2015-04-23 14:59] tresf opened #2003 "Distinguish between VSTi and VST-FX"
This is a placeholder to distinguish the difference between a VST Instrument and a VST Effects programatically.

This distinction will have the following benefits:
- DLLs that aren't VeSTige compatible can be filtered from certain file views
- Effects browser can filter out non-FX related DLLs
- Instrument browser can filter out non-Instrument related DLLs

Since this has been discussed already, I

[2015-04-23 15:40] curlymorphic commented on #2003
I already have this working in a bare bone way, but stopped to progress on 1.2 issues

What I already have, Is the scanning of the vsts, with inputs and outputs.

What still needs to be done.

 [ ] Do the scanning at a sensible time
 [ ] Save the scanned data,  Its just in a QList atm
 [ ] use this data to just show vst Effects, When adding effects
 [ ] Present The Instruments in the required plac

[2015-04-23 15:44] tresf commented on #2003
@curlymorphic I assume your "inputs" scenarios also cover the case of something like a vocoder plugin?  "Talkbox" is an example I can think of off of the top of my head...

http://mda.smartelectronix.com/

[2015-04-23 15:47] Wallacoloo commented on #1983
@musikbear that happens in the Fx selector too.

[2015-04-23 15:47] #1983 closed

[2015-04-23 15:47] curlymorphic commented on #2003
does lmms support that configuration?

[2015-04-23 15:52] tresf commented on #1983
Sure, but that's already on our radar per:  https://github.com/LMMS/lmms/issues/1807#issuecomment-86239225

So we don't lose track, I've added a dedicated bug report for it here:  #2003

[2015-04-23 15:55] tresf commented on #2003
Clunky, but yes.  https://www.mail-archive.com/lmms-devel@lists.sourceforge.net/msg03650.html

The short of it...

@Sti2nd @Umcaruje do we have this in our wiki yet?

[2015-04-23 16:20] curlymorphic commented on #2003
@tresf
 "Talkbox" uses sidechaining, A Technique Of passing audio from the mixer back into a plugin.

This single plugin excepts Audio and midi

   https://www.mail-archive.com/lmms-devel@lists.sourceforge.net/msg03650.html
There is no plugin in this example that takes both note and audio data.

One of the reasons this is not possible in LMMS in it's current configuration. Is we process all the in

[2015-04-23 18:15] tresf commented on #2003
@curlymorphic It's likely two audio streams currently.  Just sanity checking that it fits your design proposal (from what I'm reading it does, just throwing it out there).

[2015-04-23 18:23] curlymorphic commented on #2003
@tresf

To be honest the logic above would not cover the case of instruments with sidechaining ie "TalkBox" , It would require checking for midi input as well.

A case I had not considered, so good catch,  better realised now that the 1.3 testing phase :)

[2015-04-23 18:42] Umcaruje commented on #2003
@curlymorphic
Tip: [Nabble](http://linux-multimedia-studio-lmms.996328.n3.nabble.com/lmms-devel-f3.html) is a much nicer way of going through the dev-list archive ;)
________
@tresf

No, we currently don't have that on the wiki. It could be added to the [Working with LADSPA effects](http://lmms.io/wiki/index.php?title=Working_with_LADSPA_effects) page.

[2015-04-23 18:47] curlymorphic commented on #2003
:+1:

[2015-04-24 10:07] musikBear commented on #2003
ehrmm.. there **used** to be a tutorial in wiki, i tried it, and the resulting sound is absolutely *horrible*!
I do believe that it was diiz who wrote this panning stuff in that article, but it is not there. Used to be 3 longer separate articles in the end of links on the first page. Not there anymore ?!
I can add this panning stuff to the suggested section, but @tresf - Have you been able to get

[2015-04-24 10:10] oeai opened #2004 "ASIO support"
i'll add this issue, so it was here and maybe someone would do this sometimes.
i've tried LMMS under win7 with portaudio - works only 1 no midi working
i've digged a little about asio, but not sure what can be helpful
audacity and foobar both are using it, but audacity asks to download ASIO SDK
one of examples on codeproject is about 18kb source code, so maybe it's not so hard
Why? to solve a prob

[2015-04-24 10:28] softrabbit commented on #2003
audio outputs > 0 and inputs == 0 Instrument
audio outputs > 0 and inputs > 0 Effect.

The LADSPA plugin code in LMMS says  ```0 < audio outputs < 3 and inputs == outputs``` for effects, IIRC. And that's really all the audio routing options available in the effect channels. Support for 1->2 or 2->1 plugins could be easy to add, but is there a big need for that?

[2015-04-24 11:21] curlymorphic commented on #2003
@softrabbit nice investigation

If we already have logic, then I feel we need to remain consistent.

[2015-04-24 11:30] tresf commented on #2003
@musikBear the vocoder works.  Sorry to link my own track here, but sometimes the the proof is in the pudding, so to speak...

https://m.soundcloud.com/tres-finocchiaro/aint-nobody-vocoder-trial

[2015-04-24 12:50] tresf commented on #2004
Duplicate of #1173.

[2015-04-24 12:50] #2004 closed

[2015-04-24 12:52] tresf commented on #1996
Closing as invalid as no one can reproduce.  Please feel free to reopen this at a later time if you have steps to reproduce.

[2015-04-24 12:52] #1996 closed

[2015-04-24 12:55] #1927 closed

[2015-04-24 12:56] #1995 closed

[2015-04-24 12:57] musikBear opened #2005 "Vocoder FX plugin: Distorted output"
The orr. hijacked thread was this one #2003
Would someone on windows follow the suggested workflow, (
@tresf post

and confirm, that vocoder *also* works in windows.  It does not for me on xp
https://soundcloud.com/musikbear/vocoderrecord
(Hardware could ofcause also be an issue)

[2015-04-24 12:57] tresf commented on #1995
Closed via #1998. Added to release notes under "Fixes" section.

[2015-04-24 12:58] musikBear commented on #2003
@tresf ! nice, but -Thats on**Linux!** Right?
Guess this should be on its own ticket -so: #2005

[2015-04-24 12:59] tresf commented on #2005
You should clarify the LMMS version you would like tested.  The track that I posted was composed and rendered on Windows 7 using the 1.0.x build.

-Tres

[2015-04-24 13:00] tresf commented on #2005
Also, you should copy/paste the relevant information from that bug report into this one so people know how to reproduce the issue.

[2015-04-24 13:01] tresf commented on #2003
No, that track was composed on Windows 7 x64 running the 1.0.x branch.

[2015-04-24 13:13] Spekular commented on #2005
I've tested an autotune and vocoder in 1.0 on Win 7 and they worked fine
for me, using a Q6700 (2.66Ghz quad core) with 4Gb RAM. Perhaps you're
using bad inputs?

[2015-04-24 13:27] curlymorphic commented on #2003
There may be different results here, because those instructions say ````Vocoder for LMMS```` and I believe "tresf  uses talkbox, per the soundcloud title.

[2015-04-24 13:30] tresf commented on #2003
@curlymorphic, They're very closely related per #356.  In short, I used the talkbox plugin first, then pinged the dev team to get vocoder working too.

[2015-04-24 13:36] curlymorphic commented on #2003
Sorry I thought they were 2 separate effects, nice tune btw :+1:

[2015-04-24 13:41] tresf commented on #2003
You are right, they are separate effects.  musikBear seemed to state that the approach always generates "muffled garbage", but his post reads a bit confusing to me as I don't find it clear exactly what he's trying to do (hence the need for a dedicated bug report and exact steps to reproduce).

[2015-04-24 14:23] tresf commented on #1974
Agreed with @Umcaruje.  We simply don't have room for this in our current interface.  Closing as wontfix.

[2015-04-24 14:33] tresf commented on #1969
This is really a direct duplicate of #1911.  We know we'll need to move our buttons for single-window and we don't need another bug report to track the granular details of that unless we start development, which we haven't.

In regards to the keyboard shorcuts, we have #1488 to track that.

Lastly, please taking screenshots of commercial software.

[2015-04-24 14:33] #1969 closed

[2015-04-24 14:35] musikBear commented on #2005
witch makes this thread redundant.  Obviously vocoder works, just not for me, and thats just my problem, not related to the project
Thanks for testing :+1:
Suggest mark: 'not our bug'

[2015-04-24 14:38] tresf commented on #1955
Closing as not-our-bug (we don't write Zyn).  Please file an enhancement with the Zyn project to add the ability to make the preset name automatically appear in the title of the Zyn window.

[2015-04-24 14:38] #1955 closed

[2015-04-24 14:40] tresf commented on #2005
@musikBear to be fair, both tests passed in the 1.0 branch.

Please test if this is newly introduced with 1.1 branch and we can proceed from there.

[2015-04-24 15:20] musikBear commented on #2005
I can actually get 'something' where at least the words are recognizable, but it is in a different way, or at least something else is needed too.
As i ..'investigated' this, i realized that there is a huge unknown in this:

*What **instrument** was used*!!

I get very different results with different instruments. Best first result with 'Nescaline', but then i started to experiment with added white

[2015-04-24 15:38] Umcaruje commented on #2005
@musikBear where do you pan your vocal track? [The vocal should be panned to left, and the carrier (your instrument) to the right.](http://www.sirlab.de/linux/download_vocoder_ladspa.html)

[2015-04-24 15:51] musikBear commented on #2005
@Umcaruje oh yes, thats done, and as i say, i now have reasonable good output, and as i experiment more with EQs and percentage of noise, i get better and better results. What absolutely do NOT work at all is sine. Saw gives the highest clearness, and there must be at least one in a very low register. The higher the register, the worse is the distortion. I will upload a demo more, because it is ve

[2015-04-25 02:19] Wallacoloo commented on #2000
@tresf

The advantage of the "cli" approach is that it frees the developers of most responsibility for users breaking their local laws. That is, since such a feature wouldn't be targeted *specifically* at mp3 encoders or decoders, we are less liable if it gets used for illegal mp3 encoding.

It's kind of like if a c++ compiler compiles a binary that is used to bypass DRM, the compiler writers aren

[2015-04-25 02:24] Wallacoloo commented on #2000
libaudiodecoder looks like a good solution in terms of avoiding liabilities to me though.

[2015-04-25 04:43] budislav commented on #1911
Thank you all :)

@Lukas-W  Why not Kickstarter?

[2015-04-25 07:16] ryukusu commented on #1001
Thank you for clarifications. :+1:
I knew that I shouldn't use KXStudio, but I was lazy to get the sources.
OK I will install lmms from sources and tell you if anything goes wrong. :)

[2015-04-25 07:49] Wallacoloo commented on #1472
So with these huge lists: if I want to discuss one specific item in depth, should I do it here or on the original issue that is linked (even though it's already closed)?

[2015-04-25 07:51] Wallacoloo commented on #1815
Hey, what's the status on this? My keyboard is effected by this & I'd like to see it working better.

[2015-04-25 09:50] falkTX commented on #1001
There's nothing wrong with the kxstudio packages.
In fact because it uses NTK zyn will look a bit nicer than usual.

[2015-04-25 11:58] ryukusu commented on #1001
I agree, that it looks more like flstudio. It's OK for me.
But when I decide to remove it and install fluidsynth-dev to compile from sources I've encountered dependency problem(with held packages). I will figure it out but looks like i'd better avoid using custom repos if I can compile from sources and it is not something critical for system.

[2015-04-25 13:58] musikBear commented on #2005
zasfx experiments gives this. A lot of work with the carrier is needed to get good result. One strange thing, was that distortion improves the result significantly(?)
https://soundcloud.com/musikbear/voco3
No extra curriculum-points for guessing what happen in the end..  :p
(why, im not sure... :|
I have noticed *huge* cpu spikes, if the notes ends before the carrier ends. That i have no explanati

[2015-04-25 14:26] tresf commented on #2005
3xosc, but it was done with TalkBox, before Vocoder was fixed.  I can export the preset if needed.

[2015-04-25 14:50] falkTX commented on #1001
the kxstudio's lmms package purposefully conflicts with libfluidsynth-dev so it always uses fluidsynth-static instead.
the reason to use static libs is that kxstudio only builds once, and for the oldest available distro supported (debian 6) the libfluidsynth it has is too old.
(we could build against a new libfluidsynth version but then it wouldn't work on debian 6 or ubuntu 12.04)
take a look at

[2015-04-25 15:55] musikBear commented on #2005
ahh - yes i see, then its a whole different thing, and not all that relevant, but i think i have an ok result now, but its *no-way* out of the box. I spend an hour+ tinkerling with dials and effects
Do you think current vocoder is 'broken'?

[2015-04-25 16:13] softrabbit commented on #2005
@musikBear, sine is a bad choice for the carrier. It just doesn't have enough overtones. Saw has more of them and distortion adds overtones, so they work better. And note stacking also helps. Bottom line: there has to be something for the vocoder's filters to work on. It comes with the design.

As for the CPU spikes, it's probably denormals or something like that creeping in. The 1.0 series wasn't

[2015-04-25 23:32] davetbass2 commented on #702
Thanks,
I think this could be modeled on the existing PITCH knob that is in VeSTige

it works for every VSTi and is linked to the Pitch Wheel of my controller, however I have found out that the Pitch Wheel is a dedicated MIDI controller and doesn't have a MIDI CC number

A MOD knob could be added next to the PITCH knob on the GUI and linked to MIDI CC 1?

Sorry, this is probably obvious and not he

[2015-04-25 23:56] Wallacoloo commented on #1905
It looks like all of the relevant logic for this is confined to lines [2471](https://github.com/LMMS/lmms/blob/d61075972dd55c9833fdfbeaf6a8bcd2c86f3ded/src/gui/editors/PianoRoll.cpp#L2471) through 2476 and lines [2498](https://github.com/LMMS/lmms/blob/d61075972dd55c9833fdfbeaf6a8bcd2c86f3ded/src/gui/editors/PianoRoll.cpp#L2498) through 2516 of gui/editors/PianoRoll.cpp.

[2015-04-26 00:06] Wallacoloo commented on #1905
In fact, it looks like the logic error is on line 2510: `shift_offset += off_ticks;`. If the cursor is dragged 3 ticks to the left, then this causes the first note to be shifted 0 ticks, the second -3 ticks, the third -6 ticks, and so on. The result is that if your pattern is 5 ticks long and contains three notes, the third note can be shifted up to -10 ticks (i.e. behind the start of the pattern)

[2015-04-26 00:25] Wallacoloo commented on #702
According to the Vestige.cpp [source](https://github.com/LMMS/lmms/blob/fe797cb09fb897ade99bacdb014fc6fb97af6583/plugins/vestige/vestige.cpp#L4), it was Tobias Doerffel (he goes by tobydox on Github).

[2015-04-26 04:24] Wallacoloo commented on #1905
#2010 should fix this issue. I'd greatly appreciate it if you can test it out when you have some time @musikBear, since you seem to use this functionality more than I.

[2015-04-26 06:07] Wallacoloo opened #2011 "Drag instrument track label onto mixer slot to assign instrument's FX channel"
LMMS would benefit from an easier way of linking an instrument to a newly created FX channel. I think one way to do that is to mimic the way controls are assigned to automations via `ctrl+drag`. In this case, `ctrl+dragging` an instrument track view onto a mixer slot would set up the instrument to route its output to that FX channel.

Here's a rather poor image, but hopefully it will do a decent j

[2015-04-26 06:32] Wallacoloo opened #2012 "Use OS-defined shortcuts for common operations"
Right now we have shortcuts for open (`ctrl+o`), undo (`ctrl+z`), redo (`ctrl+y`), etc, hardcoded. But the actual conventions for these common shortcuts vary subtly across OS's. For example, whereas Windows favors `ctrl+y` for redo, Macs favors `cmd+shift+z`. We should really be making use of [QKeySequence::StandardKey](http://doc.qt.io/qt-4.8/qkeysequence.html#standard-shortcuts) in order to be c

[2015-04-26 06:35] Spekular commented on #2012
Sounds good to me!

[2015-04-26 07:13] Wallacoloo opened #2013 "Add Ctrl+F shortcut to preset/sample browser"
The project/preset/sample/directory browser at the left edge of the LMMS window supports filtering files by name via typing into a textbox at the bottom of the pane. Whenever that pane has focus, I think `Ctrl+F` should give focus to the filter textbox.

[2015-04-26 09:45] musikBear commented on #2005
Make sense, also adding overtones in zasfx, was also one of the ways i improved the output

win32 1.1.3 off. release
If 1.1 should protect against denormals, then there might be something wrong there?

I will update the wiki, and outline some of the trickery that make better vocoder result

[2015-04-26 09:49] musikBear commented on #1905
@Wallacoloo would be most obliged, but i can only run x32 win binaries. No linux installation, sorry.

[2015-04-26 09:58] musikBear commented on #2011
is related to #355
imo a button on the preset (355) gives more intuitive workflow:
Drag in instrument
make a preset
name it
click new fx-connect-button
New named fx-channel is added to mixer
This workflow does not need more than one window (preset) opend, and allow for the whole event to take place.

[2015-04-26 10:11] musikBear opened #2014 "Better workflow with adding B&B-lines"
already the workflow for presets & mixer #355 #2011 is on tracker, a similar issue exists for adding new B&B to a project. Current workflow is not intuitive.
**Current workflow:**
User need to
- open B&B-editor
- click _add beat&bassline_ button
- compose
- open song-editor and find _Beat/basslineNm_ in the bottom of the project
- right-click the new BB
- Name it

**Proposed workflow:**
- open B&B

[2015-04-26 10:29] Wallacoloo commented on #2014
If we do this, we should enforce some level of consistency across the board. That is, the "+" button in the Mixer should also raise a popup for the name of the new channel.

[2015-04-26 12:04] tresf commented on #2012
Or we honor both.  OSs aren't really that consistent with undo/redo as the applications seem to use what they want.  If we support both versions of Redo we are likely to get the most positive feedback.

For example, IntelliJ defaults to CTRL+Shift+Z despite Windows favoring CTRL+Y.

In terms of copy/paste, QT already habdles the CTRL modifier for us automatically, so this is a very minor detail.

[2015-04-26 12:20] tresf commented on #1472
@Wallacoloo either is fine.

The closed topics are closed more for organization purposes, (technically they are still open and still valid) so feel free to use the original bugs as needed if you want to prevent bugs like this from turning into run-ons.

The consolidation was done because as you can see above, we have many, many duplicates and many related bugs that would otherwise be quite difficu

[2015-04-26 12:36] tresf commented on #1911
@budislav that bounty page seems to have some good integration with issue trackers, and the bounty is on the bug itself so it puts onus (and thus contract) on the bounty hunter.

Kickstarter campaigns often are promoted, led and organized by the project team.  Kickstarters also tend to promise much more features and have the tendency to raise monetary amounts so large that the project may not be a

[2015-04-26 13:49] tresf commented on #2012
From http://doc.qt.io/qt-4.8/qt.html

| Constant | Value | Description |
|-------------|----------|-----------------|
| Qt::Key_Control | 0x01000021 | On Mac OS X, this corresponds to the Command keys. |

As far as `CTRL + SHIFT + Z`, @Wallacoloo is correct, this seems to be overwhelmingly preferred on OSX over `CTRL + Y`.  Tested:  TextWranger, Chrome, Firefox, Safari.

I'm still not opposed to h

[2015-04-26 14:16] musikBear commented on #2014
agree :+1: , but i hope you can see the difference:
In adding fx-channels, the whole operation are made in one window
In adding BBs you need to open 2 windows, and scroll one

[2015-04-26 17:18] softrabbit commented on #2005
Looks like it was decided to not require SSE on 32-bit builds just yet, which means denormal protection is off. Maybe time to reopen that issue...

I did try to get CPU spikes using the vocoder in a 32-bit Linux build, but didn't see any. @musikBear, could you share a project somewhere with that problem? And what is your CPU? Some handle denormals better than others.

[2015-04-26 18:30] Wallacoloo commented on #2012
Alright. Then I guess we'll have to go through this on a case-by-case basis.

For redo, we should support both ctrl+y and ctrl+shift+z. Which one should
we have displayed in the edit->redo menu action text? There's only room for
one. Should we have the menu item display the OS-preferred shortcut?
On Apr 26, 2015 6:49 AM, "Tres Finocchiaro" <notifications@github.com>
wrote:

[2015-04-26 19:16] tresf commented on #2012
If possible, yes. :)

[2015-04-26 19:29] Wallacoloo commented on #2012
@tresf yup! That should be fairly trivial to do. I'm going to hold off
until #2009 is settled though so as to avoid any merge conflicts.
On Apr 26, 2015 12:16 PM, "Tres Finocchiaro" <notifications@github.com>
wrote:

[2015-04-26 19:35] Sti2nd commented on #2011
Agreed, Ctrl + drag would be wonderful!

[2015-04-26 19:40] Sti2nd commented on #2014
Never :exclamation: I would rather want a random string name I can edit later.

Also I hate musikBears proposal, pop-ups are evil.

[2015-04-26 21:10] Wallacoloo opened #2015 "Illegal memory access in TimeLineWidget destructor"
I ran Valgrind on the most recent github master. The following output should be reproducible by opening LMMS and then closing it once it has fully loaded:

[code]

The error is triggered by this code, which could potentially cause a segfault instead of failing silently depending on how lucky you are:
[code]

`m_pos` is a *reference* to a `Song::PlayPos` object, and by the time that this code is re

[2015-04-26 21:58] budislav commented on #1911
@tresf I believe that bounty is the best for software project, but Kickstarter is better for bringing more money. If we make a detailed project plan and with posting on social networks this can work, like Krita https://www.kickstarter.com/projects/krita/krita-open-source-digital-painting-accelerate-deve/description

[2015-04-26 22:16] Wallacoloo commented on #1911
Ok, so right now is this thread about taking the UI code fundamental added to Zynaddsubfx and integrating that into LMMS? Or is the goal to just achieve a look similar to the mockup using whatever tools fit best with the current LMMS codebase?

[2015-04-26 22:24] tresf commented on #1911
@budislav too much money is a pretty big problem right now (I'd rather not go into specifics in this thread).

@Wallacoloo from what I am reading, a bit of both, depending on approach

[2015-04-26 22:46] davetbass2 commented on #702
Cool thanks! I didn't really that was there, i guess I could buy "Learn C++ in 24 hours" and do it myself haha

[2015-04-26 22:59] tresf commented on #1911
@Wallacoloo  to clarify a bit...

Single window is a pretty big initiative on its own and many of the tasks are quite separate from the theming initiatives.

To do this proper, we probably would be best splitting this initiative into some higher level components and go from there.

What is tempting about the Zyn GUI framework is that it may solve some of our problems and reduce efforts in the long

[2015-04-27 00:26] #1905 closed

[2015-04-27 00:31] davetbass2 commented on #702
@tobydox, Hi, sorry if this is not the best way to ask you this, but if I understand it you wrote Vestige?

Is the suggested enhancement (adding a Mod Wheel knob to the front of Vestige to enable recording and playback of mod wheel movements for all VSTis) something that would be fairly straightforward, if it was modeled after the way the PITCH knob on Vestige works?

Thanks!
Dave

[2015-04-27 06:09] andrewRybakin opened #2016 "Can't set tempo to 135 bpm"
When I'm trying to set tempo for 135 bpm, LMMS rounds it to 130, or 125 to 120, etc.

[2015-04-27 06:45] Wallacoloo commented on #2016
I see you closed this issue quickly after opening it. Was that an accident, or did you figure out the tempo issue?

[2015-04-27 10:17] musikBear commented on #2005
Sure I have attached a mmpz project here:
http://lmms.io/forum/viewtopic.php?f=1&t=2260

CPU: Intel Core 2 Duo E6750, 2.667GHz, 1333SB 1.116,00

[2015-04-27 10:23] musikBear commented on #2014
How can a naming field option be evil?!
It just let you name the new fx-channel! So seen**once** in connection with the creation event. That is **exactly** as most OOP editors does, as you add a new object. Did you understand the proposal?

[2015-04-27 11:37] grejppi commented on #2014
It distracts the user from the actual goal which is to simply create a new track. The user shouldn't be forced to come up with a name first in order for LMMS to do it.

[2015-04-27 11:42] musikBear opened #2019 "enhancement -beat and bass editor playhead"
Not sure if mentioned previously (?), but BB-editor need a playhead. It would be good if it was possible to follow the bb-lines 'active' sound
This feature could  be optional enabled  in BB-editor (no need to waste cpu)

[2015-04-27 12:16] tresf commented on #2019
Duplicate of #1954 #1195

[2015-04-27 12:16] #2019 closed

[2015-04-27 12:22] tresf commented on #2014
@Sti2nd and @grejppi are correct in terms of blocking dialogs, they quickly become evil.

Perhaps a quicker solution to this problem is to stop using blocking dialogs for renames and instead do something like this:

![image](https://cloud.githubusercontent.com/assets/6345473/7347417/82418190-ecb6-11e4-9e59-050e6aa05ae6.png)

The idea would be that the rename becomes immediately possible, but click

[2015-04-27 12:34] curlymorphic commented on #2014
I like this solution. Same improvements as @musikBear proposal, but less intrusive.

[2015-04-27 12:39] tavasti commented on #1815
Got buried under real-life (including work), and still missing passing that one value from GUI to real handler.

[2015-04-27 12:44] Umcaruje commented on #2014
I agree with @Sti2nd and @grejppi, modal dialogs are just evil. @tresf's proposal seems much nicer, but since your issue is about easy renaming the B&B editor without going to the SE, how about that right clicking the title of your pattern inside the BB editor allows you to rename it?
![bbeditor](https://cloud.githubusercontent.com/assets/6282045/7347742/dbbd5d90-eceb-11e4-9c55-2f750077dc73.png)

[2015-04-27 12:50] tresf commented on #2014
@Umcaruje or to be as consistent as possible, we switch to something like @Wallacoloo's instrument bar, making the BB title directly editable, just like an instrument...

![image](https://cloud.githubusercontent.com/assets/6345473/7347837/54b938d6-ecba-11e4-892b-1e24a75c0980.png)

[2015-04-27 13:51] tresf commented on #2011
We have to exercise caution when re-using a shortcut such as `CTRL + Drag`, as it can confuse the end-user a bit, as the `CTRL + Drag` for a very long time has been associated with adding automation events.  Once we re-use this same shortcut for a different purpose, it has the possibility of confusing people.

This also a two-way street IMO... Dragging a track to an FX channel should probably be t

[2015-04-27 13:53] tresf commented on #2013
:+1: And possibly other areas of the DAW.

[2015-04-27 14:25] musikBear commented on #2019
i searched beat and baseline playhead, nothing came up
bnwm - as long as this has a ticket

[2015-04-27 14:29] tresf commented on #2019
Third result:

https://github.com/LMMS/lmms/search?q=playhead&state=open&type=Issues&utf8=%E2%9C%93

[2015-04-27 15:17] tresf commented on #1952
I'm changing this to use `getenv("ProgramFiles")`.

The one downside to this is the 32-bit Windows version will return `C:\Program Files (x86)\` and the 64-bit version will return `C:\Program Files\`, which is slightly different than what the `SHGetKnownFolderPath` method would return.

The only area of the code currently using the offending function is the logic which tries to set a default value

[2015-04-27 16:39] Wallacoloo commented on #1952
@tresf I'd say it's worth the trade-off - we need to get Travis back
online. Glad to see you're working to fix this.
On Apr 27, 2015 8:17 AM, "Tres Finocchiaro" <notifications@github.com>
wrote:

[2015-04-27 16:42] curlymorphic commented on #1952
@tresf :+1:

[2015-04-27 16:45] #1952 closed

[2015-04-27 18:17] Umcaruje commented on #1994
Not sure how useful this will be, considering midi keyboards with XY pads are pretty rare.

[2015-04-27 18:23] Umcaruje commented on #1981
@michaelgregorius can you confirm that this was fixed with #1984?

[2015-04-27 18:42] tresf commented on #1696
Closed via #1915

[2015-04-27 18:42] #1696 closed

[2015-04-27 18:43] tresf commented on #1696
Just realized this was for a progress bar too, which #1915 doesn't cover... Feel free to open a second bug report if you deem that necessary.

[2015-04-27 18:55] Wallacoloo commented on #2015
After studying the organization of the code a bit, I think the proper approach here is to make it so that the Song (a core class) is entirely unaware of the existence of the TimeLineWidget (a gui class), and so m_pos won't even need the m_timeLine property at all.

I'll try to gradually work towards this over the next week or two.

[2015-04-27 19:08] softrabbit commented on #2005
I couldn't see an attachment in the forum, but no worries, I got CPU spikes. Had to try an older CPU than yesterday, and the AMD Phenom was clearly affected.

I built LMMS with ```-mfpmath=sse``` to ensure all math is in the SSE unit, where denormal protection works, and the spikes were gone. So it's pretty much confirmed that it's a denormal problem.

[2015-04-27 19:12] michaelgregorius commented on #1981
@Umcaruje No, unfortunately I cannot confirm with 100% certainty that #1984 fixes the issue described in this ticket. I was only able to reproduce a crash using one of my own MIDI files. To ensure that this issue is fixed by #1984 we'd need one of the files that @midi-pascal used.

[2015-04-27 19:17] tresf commented on #2015
@Wallacoloo for now, can't we use `deleteLater()` from QObject?  I know its not ideal, but its been used in a few places historically to prevent a lot of refactoring for relatively rare segfault events until a proper fix is created.

[2015-04-27 19:24] Wallacoloo commented on #2015
@tresf feel free to do that yourself if you want to get this fixed by 1.2, and I can work off of that.

Otherwise, since this error appears to only be possible on shutdown and doesn't even cause a segfault under most memory allocators, I'm just going to take the route of fixing it properly.

[2015-04-27 19:25] tresf commented on #2005
@softrabbit is this something we consider wont-fix, or do we have the ability to correct this problem?

[2015-04-27 19:28] tresf commented on #2015
Sounds like a plan.  If people report this specific crash, we'll quickly patch it, otherwise, we'll leave track it here. :+1:

[2015-04-27 19:56] midi-pascal commented on #1981
I will build and test rigth now and let you know if the problem is fixed
in a few minutes.

On 15-04-27 03:12 PM, Michael Gregorius wrote:

[2015-04-27 20:28] midi-pascal commented on #1981
Hi,

I updated from Git and rebuild lmms from scratch.
As far as can see, the issue is fixed.
I imported my two killer Midi files with no crash.

FYI, the crash was occuring with Midi files that contain lyrics - kind
of karaoke Midi files - when decoding the lyrics track.
In MidiImport::readSMF(), evt->get_attribute() returns "tracknames" but
evt->get_update_type() returns "u" instead of "a".
Not

[2015-04-27 20:32] tresf commented on #1981
Thanks!

Closed via #1984

[2015-04-27 20:32] #1981 closed

[2015-04-27 21:28] michaelgregorius commented on #1971
I did some profiling with Valgrind and it turns out that there are two main causes for the slow import of the aforementioned MIDI file (`Twenty_4_Seven-Take_Me_Away.mid`):
* The call to `TextFloat::displayMessage` in `AutomationPattern::addObject`. It seems like `TextFloat::displayMessage` is called over and over again during the import (for that file).
* The calls to `createDetuning` in `Note::No

[2015-04-27 21:51] softrabbit commented on #1971
@michaelgregorius, see https://github.com/softrabbit/lmms/commit/1e29da4aae9f0491de7d19919a6504c06ed64fe1 for my thoughts on ```AutomationPattern:addObject``` in this context.

[2015-04-27 21:57] Wallacoloo commented on #1971
@michaelgregorius That's very useful info - thanks for sharing it here. I don't know enough about the internals to answer the DetuningHelper question, but all I can say is to be careful when using Valgrind as a profiler. On top of executing each instruction, it does a whole host of dependency tracking (in order to catch uses of uninitialized variables) and such *for every instruction*. This means

[2015-04-27 22:07] Wallacoloo commented on #2005
@softrabbit so no matter how the vocoder is built, the performance is all down to whether or not LMMS is built with sse? That indicates that the vocoder effect is outputting denormalized values then, and its the processing of those *within LMMS* that causes the spikes, right?

If that is the case, we could explicitly check for denormalized fx outputs and flush them to zero before doing any process

[2015-04-27 22:55] Wallacoloo commented on #1882
#1915 just got merged earlier today & should make the splash screen disappear upon clicking it. If you get a chance @blendi-93, could you see if this solves your issue? Note that on the first run, or if you run lmms without installing it, it may be unresponsive for a few seconds while it's generating its wavetables (which is an operation just performed on the first run).

[2015-04-28 04:26] Wallacoloo commented on #2012
#2022 should more-or-less take care of this.

[2015-04-28 04:37] Wallacoloo opened #2023 "MemoryManager: Null pointer deallocation attempted"
Steps to reproduce:
1. Open LMMS & be presented with the default template: 1 3xOSC track, 1 Sample Track, 1 Beat/Bassline track and 1 Automation track.
2. Click on any bar in the row of the song editor corresponding to the sample track (this should create a 1 bar long waveform that is just a flat line).
3. Undo the action with `ctrl+z` or by using the edit menu.
4. Redo the action with `ctrl+y` or

[2015-04-28 04:47] Wallacoloo commented on #2023
And here's a backtrace for all you lovely folks:
[code]

[2015-04-28 04:50] tresf commented on #2012
Don't mind the OS L&F differences here... We intentionally build on a Lion VM per #1270...

Tested:

 * CTRL + Z (Pass)
 * CTRL + Y (Pass)
 * CTRL + SHIFT + Z (Pass)

[code]
![screen shot 2015-04-28 at 12 45 22 am](https://cloud.githubusercontent.com/assets/6345473/7362947/e7dc3480-ed3f-11e4-9341-73e15e7684e7.png) ... ![screen shot 2015-04-28 at 12 45 09 am](https://cloud.githubusercontent.com/ass

[2015-04-28 04:52] Wallacoloo commented on #2012
@tresf "L&F"? Anyway, that looks nice! Pretty much all the common shortcuts except for `undo` are more-or-less the same across operating systems, so I'd consider this resolved.

[2015-04-28 04:52] #2012 closed

[2015-04-28 04:54] tresf commented on #2012
Look & Feel.  Yosemite changed fonts and other items quite a bit, so I wanted to fully disclaim that.

[2015-04-28 04:56] Wallacoloo commented on #2023
Also, this error is triggered by a part of the [SampleBuffer.cpp](https://github.com/LMMS/lmms/blob/fe797cb09fb897ade99bacdb014fc6fb97af6583/src/core/SampleBuffer.cpp#L1355) code that's conditionally compiled. It can only be reached when building **without** FLAC (i.e. LMMS_HAVE_FLAC_STREAM_DECODER_H is undefined).

[2015-04-28 05:10] tresf commented on #2023
FYI - This was mostly committed here https://github.com/LMMS/lmms/commit/9c25be1bde33247a8fb0c435950864e1d8345e51#diff-cc740586f26342e6e68642925c6fc52bR61 as part of the `memmgr` improvements.  @diizy wrote this almost entirely and I believe it was first introduced in `stable-1.1`

Don't know if that's much help...

Off-topic, but I found these lines interesting [`SampleBuffer.cpp#L1068-1069`](htt

[2015-04-28 05:54] Spekular commented on #1696
Nah, I don't think a progress bar is necessary.

[2015-04-28 07:19] Wallacoloo commented on #2023
@tresf well those lines *are* interesting! So then I guess this error ought to be present on builds regardless of FLAC support.

[2015-04-28 08:54] softrabbit commented on #2005
@Wallacoloo, the vocoder is part of the LMMS distribution, and it's built with whatever ```CMAKE_C_FLAGS``` are passed to the LMMS build process, unless overridden in some CMakeList along the way (looks to me it isn't). So it's either the vocoder or LMMS per se that causes spikes.

@tresf, it should be a matter of adding a flag or two to the build recipes, i.e. making SSE math the default for 32-b

[2015-04-28 09:11] musikBear commented on #2014
@Umcaruje got it!
That would be the best solution.
Remember: This is all about being able to create a new BB-track, in only the window where it is intuitive -Eg BB-editor!

:+1:

[2015-04-28 09:27] musikBear commented on #2005
arhh ..no that was disabled during the spam attack - i should have checked - sorry
well here it is..
https://lmms.io/lsp/?action=show&file=6759
Perhaps others like to see the setup

[2015-04-28 09:58] musikBear commented on #2011
Instead of that drag, which is a more difficult thing to do with the mouse, Why not
![pastelmmsknap](https://cloud.githubusercontent.com/assets/6662066/7367133/78986b12-ed9d-11e4-92cc-cc7f725525ba.PNG)
Simply having the fx-selecter designed as a button?
pressing it would connect to FX-mixer, and copy the chosen instrument name into FX-mixers name-field.
Scrolling mouse-wheel over ut, would scroll

[2015-04-28 12:32] tresf commented on #2011
@musikBear we're getting there... #1572 :)

[2015-04-28 13:40] tresf commented on #1971
FYI, in regards to the MIDI files.... for uploading files, it looks like GitHub will have a storage solution very soon....

https://github.com/early_access/large_file_storage/

Thought it was slightly on-topic in regards to hosting some of these files. :)

[2015-04-28 18:11] Reaper10 commented on #1994
This would also help with touch screen monitor, touch screen laptops and tablets..

[2015-04-28 19:01] michaelgregorius commented on #1971
@Wallacoloo I think Valgrind was pretty accurate in this case. Here is what I did in my profiler run using a release build:

1. Start the application
2. Import the MIDI file
3. Close LMMS

After the analysis of the results I then commented out the calls to `TextFloat::displayMessage` and the two calls to `createDetuning` in `Note::Note`, recompiled and tested the import in a release version withou

[2015-04-28 19:58] Espyo commented on #1971
I just want to drop in some help as well. An example of a MIDI file I used to be able to open just fine, but now can't, as per all that's been discussed so far, is the Koopa Cape MIDI on this page http://www.vgmusic.com/music/console/nintendo/wii/ (check under Mario Kart Wii).

[2015-04-28 20:50] michaelgregorius commented on #1971
@Espyo Do you mean that the Koopa Cape MIDI file just opens slowly or that you cannot open it at all? Just asking because on my local master build the file is imported successfully.

Again if I comment out the call to `TextFloat::displayMessage` in `AutomationPattern::addObject` the performance during import is a difference like night and day.

I assume that the current implementation of `Automati

[2015-04-28 20:57] Espyo commented on #1971
@michaelgregorius Sorry, should've been more detailed. Yeah, that MIDI is one of the cases where it slowly imports, and then hangs on the 66% mark.

[2015-04-29 19:26] michaelgregorius commented on #1971
@Espyo No problem. :) The problem with the failing import should be fixed in master.

[2015-04-29 19:54] tresf commented on #1971
@michaelgregorius, ok to close?

[2015-04-30 08:35] michaelgregorius opened #2028 "Performance: Slow MIDI import due to message being shown repeatedly"
The MIDI import is quite slow due to `TextFloat::displayMessage` being called repeatedly in `AutomationPattern::addObject`.

An example MIDI that can be used to reproduce the issue can be found at http://www.vgmusic.com/music/console/nintendo/wii/mkwii-koopacape.mid (please also refer to #1971 for further sources). If you comment out the call to `TextFloat::displayMessage` performance improves qui

[2015-04-30 08:47] michaelgregorius opened #2029 "Performance: Creation of DetuningHelper in class Note slows down file load and MIDI import"
I did some profiling with Valgrind and it turns out that the loading of files and the import of MIDI files is slowed down by the creation of `DetuneHelper` in `Note`.

You can test the impact of the code for file loading as follows:
1. Compile a vanilla version from master.
2. Start LMMS and load the file `DnB.mmpz` from the Demos folder.
3. Close LMMS.
4. Comment out the calls to `createDetuning`

[2015-04-30 08:49] michaelgregorius commented on #1971
@tresf I guess it should be OK to close the issue. I have create two new issues which cover the performance problems.

[2015-04-30 08:49] Wallacoloo commented on #2028
I don't deal with midi files enough to know if it's worth leaving the message in under interactive mode or not, but if you do leave the message in interactive modes, I agree with your decision to use option 1 over option 2.

Especially seeing as how AutomationPattern is in the core and not the gui, AutomationPattern should really be totally unaware of the existence of the gui's `textFloat` class.

[2015-04-30 11:00] #1971 closed

[2015-04-30 11:11] Umcaruje commented on #1971
:+1:

[2015-05-01 01:42] davetbass2 commented on #702
Sorry, I might be missing something obvious, but over at the KVR forum the guy who made the PG8X

"Any host which can record MIDI should be able to record the Mod Wheel."

So am I just missing something really obvious? again, all I'm trying to do is play a synth line with pitch and mod wheel movements, and then when the song is played back the pitch and mod wheel movements are still there.

Thanks

[2015-05-01 03:16] blrzzzt opened #2030 "Numerator Automation"
LMMS only exports song until automation track changes the value for the numerator. Then the export stops and I'm left with half a song :(

I'm on LMMS 1.1.3 Windows 10

[2015-05-01 03:44] Wallacoloo commented on #2030
Hi benjammin93, thanks for reporting this.

For the record, I'm able to reproduce this in Ubuntu 14.10 with the latest git build. By starting with a time signature of 4/4 and automating the time signature's numerator up to 12 in the middle of a song, it doesn't immediately stop exporting once the automation begins, but rather after 1-2 bars have passed.

[2015-05-01 07:14] Sti2nd commented on #702
Does that mean that if you implement MIDI record you automatically achieve functionality to record mod wheel, or is it a statement that he thinks all software should have both...

[2015-05-01 12:20] tresf commented on #702
Right, I think this is the exact issue, better explained in #1159

Well, I think it is obvious by the vast number of bug reports that we have some area to improve here. :+1:   Thanks for taking the time to explain.

Since we have this on our radar including most of the technical details, it is just a matter of getting someone to help code it in.  It's on the list. :+1:

![image](https://cloud.gith

[2015-05-01 15:38] softrabbit commented on #2029
I don't think so. You could pass the same empty ```DetuningHelper``` to all the ```Notes```. Then you'd need to add a way to swap in another somehow, I don't think there is one now. Or maybe allow ```Notes``` with no ```DetuningHelper```, which could mean adding checks for null pointers in a lot of places and potential bugs.

Would that be faster? There'd still be a pointer to an ```AutomationPatt

[2015-05-01 19:20] kpone33 opened #2031 "VSTi crash on Windows (both 32 and 64 bit)"
On Windows I can't use VST Instruments using VeSTige as it causes LMMS and the remote VST plugin to freeze. This happens on both 32 and 64 bit versions of LMMS 1.1.3 (current release).

On 64 bit it takes about 10 seconds to a few minutes. It happens when the VSTi GUI is visible. I've tested this with an old version of VB-1 by Steinberg and with SFZ by rcg audio. Also, it's rather random when it o

[2015-05-01 19:41] tresf commented on #2031
@kpone33 is there a chance it is related to #1389 or #1183 (both issues are still open).

-Tres

[2015-05-01 19:55] kpone33 commented on #2031
@tresf the issues sound similar, but those aren't the same VSTs. This randomly happens to some other VSTs as well as I've just tested. It's mostly when the mouse cursor is inside the VST GUI or in anything corresponding to it (like a file open dialog)

[2015-05-01 20:05] tresf commented on #2031
@kpone33 thanks.

The best thing you can do for the devs is to make a list of steps to reproduce this every time, i.e.:

[code]

If it's not reproducible in Linux, we can try out the steps in Wine on a Linux machine and see if we experience the same thing, as Wine gives some more detailed output for these types of things. :+1:

[2015-05-01 21:00] davetbass2 commented on #702
Sounds good man, again, me and alot of people really appreciate the time you guys put into make this work, and hopefully by bugging you guys I'm doing my part haha!

I noticed MIDI pitch bend support is up there, but as far as recording pitch bend movements, we can do that now by dragging PITCH from vestige into an automation track and enabling record

Could a shot term fix be adding MODWHEEL knob

[2015-05-02 04:53] UglinessInTheUI opened #2032 "LMMS 1.1.3 not working properly"
@tresf deleted May 2nd

[2015-05-02 05:00] tresf commented on #2032
Deleted.  Please use manners or go away.  The team owes you nothing and you have no right to disrespect the developers, artists or users.

[2015-05-02 05:02] #2032 closed

[2015-05-03 21:06] bradharms opened #2034 "Invisible Song Segments"
Sometimes my project files enter a state where none of the song segments can be truly deleted. I can move them, but deleting them actually just turns them invisible, and they still play when the play head moves over where they used to be. If I save and then reload the song, they reappear and I can move them around, but still can't truly delete them. The problem occurs for all segments, whether the

[2015-05-04 12:39] tresf commented on #2034
Please find an alternate hosting solution, that one you sent is full of garbage.

![image](https://cloud.githubusercontent.com/assets/6345473/7453615/0c72a5b0-f239-11e4-8013-395eeb5e15f2.png)

[2015-05-04 12:53] musikBear commented on #2034
@bradharms That file you see this fail with, will that **always** have that behavior? I *have* seen the visual bug in songeditor, but only 'once' -Eg not reproduceable.
I doubt the file will show this odd behavior if you reload? or?
The glitch as i have seen it is entirely graphical, there is no lost project parts, and the 'invisible' blocks **re- appear** if you click on them -right?

[2015-05-04 13:32] tresf commented on #2034
@musikBear I know what you are describing (blocks not appearing).  His problem is the opposite as it reads, his blocks are being explicitly deleted and they still play.

[2015-05-04 19:33] ycollet opened #2035 "Lmms hangs when loading a song with zynaddsubfx over an already opened song"
I use lmms from git repo on fedora 21 64 bits.
I opened https://lmms.io/lsp/?action=show&file=4274 (a song with a zynaddsubfx song).
I played it and then, I play this song: https://lmms.io/lsp/?action=show&file=819
lmms hangs while loading.
Here is the gdb trace:
(gdb) where

[code]

A "temporary" workaround:

[code]

[2015-05-04 20:24] tresf commented on #2035
Thanks for the bug report.

Reminder, using  \`\`\` around codeblocks will prevent hot-linking a bunch of old bug reports. :)

![image](https://cloud.githubusercontent.com/assets/6345473/7461732/0cce5504-f27a-11e4-9cc6-a11700de0ae1.png)

[2015-05-04 20:27] ycollet commented on #2035
OK, thanks for the comment and the edit.

[2015-05-05 16:21] StakeoutPunch commented on #2034
I have had this issue before, but I can't tell you how to reproduce. It always happened randomly to me.

[2015-05-05 18:35] UglinessInTheUI commented on #2032
![113 pianoroll](https://cloud.githubusercontent.com/assets/12206146/7480004/452d2af6-f31a-11e4-94f2-5a906074a27f.jpg)

I'm not trying to disrespect anybody just trying to figure out how did it get so instantly to version 1.1.3
and become so ugly and broken in the piano roll when version 0.4 still runs fine without graphical
glitches. You guys are scamming it too much on the version numberings and

[2015-05-05 18:45] Spekular commented on #2032
No, see, you admitted to deleting the artwork, and now you're complaining
that it's ugly. PEBKAC. It's no developers fault if you don't like your own
personal modifications to the program. Also, aside from the wonderful new
theme (which is much improved over 0.4), there have been tons of features
added and bugs fixed and so on. Feel free to browse the merged pull
requests or solved issues.

[2015-05-05 19:02] UglinessInTheUI commented on #2032
Yes I deleted the artwork because I tried a few downloaded skins and none of those worked properly.
All the skins that I tried so far made everything look way worse and not better so of course then I restored the original skin but it's still showing ugly numbers in the piano roll. The uninstaller was supposed to restore all settings and clean up but it didn't. That's illegal right there. It's call

[2015-05-05 19:16] Spekular commented on #2032
Huh, I somehow missed your screenshot the first time. Everything looks fine
there though, what's the issue? The numbers and letters are note labels,
they're an optional feature and disabled by default. You can toggle them in
Settings>General>"Enable note labels in piano roll".

[2015-05-05 19:26] UglinessInTheUI commented on #2032
I see. Thanks for your help. I was thinking it's some kind of graphical glitch or a bug.  I tried to install a different skin and everything got really ugly. It looked way worse than the default skin. Is there a way to change the background color in the piano roll or replace the piano roll background bitmaps to show note lanes like in FL Studio ? That's why I installed different skins because I wa

[2015-05-05 19:36] Umcaruje commented on #2032
Old themes are not supported on newer versions of LMMS. You can edit the `style.css` file in your theme folder to change the appearence of  the piano roll.

I would have to ask you to watch your language. There is no need to call people scammers and call the software crap-ware. If you keep insulting others and being ignorant, your comments will be deleted.

[2015-05-05 19:55] UglinessInTheUI commented on #2032
Feel free to delete my comments, no problem there but how exactly do you expect people to know not to try old skins on this new version ? Have you seen it what the UI looks like when you try to use an old skin on this new version ? Plus those note numbers looked like nothing usable and more like covering the entire piano roll with some graphical glitches.

Also try this. Go to the settings menu ,

[2015-05-05 20:14] tresf commented on #2032
If you think things need to be improved, please help, otherwise, go away.

For example, if you have a sound font that you created and are willing to share with the team, you could request the file type be added to the LSP rather than creating a display name of `Top Secret Classified Information N/A 2 Scammers` on the LSP and uploading the tarball to the themes directory.  YOU are the problem.  Fix

[2015-05-05 20:29] tresf commented on #2032
glitches.

The preference to display notes on the piano roll (normally off by default) may have been improperly upgraded from a future version.  If you can open a separate bug report outlining the steps to reproduce, we'd be happy to take a look.

Google can answer this question, but I'll give into your laziness and quote Wikipedia

...

Who is a third party to judge the decision to move to 1.1.3?

[2015-05-05 20:31] UglinessInTheUI commented on #2032
Ok first of all I'm here to help but you guys need to take it one step at a time. I uploaded that SF2 in the themes directory because the website is not allowing me to upload files with extension .sf2 it only allows tar.bz2 and even then it gives no option where do I want to upload it. The only option available was the Themes folder. How is that my fault ? I don't see how.

Second of all , you guy

[2015-05-05 20:34] tresf commented on #2032
Can you please provide a reference to this misinformation you are spewing?

[2015-05-05 20:36] UglinessInTheUI commented on #2032
What are you saying ? That if I want to upload a LMMS song or some presets or some sound fonts I need to create a corporation ? That's what your website tried on me when I signed up.

[2015-05-05 20:38] tresf commented on #2032
You want to use a 4 wheeler to get from your house to your friends house but:
 1. You don't have a driver's license
 2. You can't drive a 4 wheeler on the road.

So you decide to drive the 4-wheeler across your neighbors yard.  When the grass gets torn up:
 1. Is it the state's fault for mandating a drivers license?
 2. Is it your neighbors fault for having a property between you and your friend?

[2015-05-05 20:42] tresf commented on #2032
Wrong, what are YOU saying is the question.  Don't answer a question with a question.  I asked you a question.  I am challenging your statement which I believe to be false. When you issue blame, the burden of proof is on you.  That is something most judicial systems know every well.

[2015-05-05 20:44] UglinessInTheUI commented on #2032
This has nothing to do with any driver license from anywhere. Your website tried to force me to sign up for a corporation or whatever business account when all I wanted to do is upload a song or some presets. Does that make https://github.com look like illegal scammers ? Yes it does. Is https://github.com guilty ? Of course it is. Can I punish https://github.com extremely if I want ? You bet. How

[2015-05-05 20:46] tresf commented on #2032
This isn't our website.  You are clearly too naive to understand that, but this is github.com.  This is a free bug tracker we use.  Our site is http://lmms.io.

[2015-05-05 20:48] tresf commented on #2032
P.S. No one owes you anything.  I'm not sure why you feel you can upload tarballs anywhere anytime.  You are clearly more obsessed with justifying your bad behavior then you are with resolving the upload problem, and that ignorance to progress is a waste of everyone's time.

[2015-05-05 20:49] UglinessInTheUI commented on #2032
Ok , so then github is guilty and forget about it. No big deal. That explains the nickname right there.
That's why the name says: "Top Secret Calssified Information N/A 2 Scammers"

[2015-05-05 20:50] tresf commented on #2032
Forget about it?  Is that a half-assed apology?  You need to step back and appreciate life a little.  GitHub is the best thing that's happened to open source software in a long time.   Your high expectation are guilty of much more than GitHub.  Find another project.  We don't want you.

[2015-05-05 20:50] UglinessInTheUI commented on #2032
How is me trying to upload a song for the LMMS community a bad behavior ?

[2015-05-05 20:51] tresf commented on #2032
4-wheeler, back yard torn up.  I couldn't make it more clear.

[2015-05-05 20:51] UglinessInTheUI commented on #2032
I don't apologize to scammers so tell github to get a clue.

[2015-05-05 20:53] tresf commented on #2032
No, I'm telling you to.  GitHub is terrific, they offer us a lot.  You are not and offer us slander for something we didn't do and can't have the human decency to say sorry.  Piss off, please.

[2015-05-05 20:55] UglinessInTheUI commented on #2032
I'm still waiting for that magical solution. You guys are avoiding the answer. How do you restore your precious LMMS to default settings after you delete the path to "ARTWORK DIRECTORY" by mistake ?

It's not enough for github to offer stuff only to you. It needs to treat everybody else fairly and it failed so far.

[2015-05-05 20:58] UglinessInTheUI commented on #2032
GitHub will soon become my property so I can piss on it if doesn't get a clue quick.

[2015-05-05 20:59] tresf commented on #2032
The solution is to buy FLStudio.

[2015-05-05 21:02] UglinessInTheUI commented on #2032
Stop avoiding the issue. I already have all versions of FL Studio with forever lifetime upgrades. That's not the point. The point is, how do you restore LMMS to default settings if you delete the "ARTWORK DIRECTORY" path by mistake. Answer the super important question already. Does anybody know ?

[2015-05-05 21:07] tresf commented on #2032
Uninstall LMMS completely.  You have lost your opportunity to be treated "fairly".  You are hereby sentenced to life without parole.  We are no longer accepting plea agreements.

[2015-05-05 21:09] UglinessInTheUI commented on #2032
You guys have pissed on my court room right here without even the courtesy of calling it rain and without paying properly for a permit. Stop screwing around and tell people the answer to the supper important buggy question. Uninstalling LMMS and reinstalling it doesn't solve the problem.

[2015-05-05 21:13] UglinessInTheUI commented on #2032
How do you restore the entire LMMS to it's default settings if you delete the path to the ARTWORK DIRECTORY by mistake ? That's the only question that matters and you guys have failed so far to provide a solution or an answer.

[2015-05-05 21:23] mikobuntu commented on #2032
@tresf Don't waste your time replying here, the team needs you to keep focused on positive things that matter !! ;)

[2015-05-05 21:24] UglinessInTheUI commented on #2032
Uninstalling LMMS is the most positive thing we can do ? Wow ! Seriously ? That's the best we can do ?

[2015-05-05 21:27] UglinessInTheUI commented on #2032
Tell GitHub to waste their storage space on something more useful in that case. Uninstalling LMMS is the best idea we can come up with ? Seriously ? That's fucking weak. So weak, it should be illegal.

[2015-05-05 21:33] UglinessInTheUI commented on #2032
Where's that damn source code for LMMS cause I'll have to recode this crap myself somehow. If I wait for you guys to fix it's pretty clear it will never get there anytime soon.

[2015-05-05 21:34] Umcaruje commented on #2032
Ok so @UglinessInTheUI you actually created a black hole inside your processor when you removed that directory. Nothing will help you, and there is nothing we can do about it. Expect your PC to self destruct very soon.
______

You must be enjoying this sad little game in your sad life, but nobody here owes you anything. If you are polite, people will help you, but acting like a prick will piss peo

[2015-05-06 14:57] musikBear opened #2036 "purpose of folders in 'disk':\Documents and Settings\'usename'\lmms"
Cant remember if this been up before -searching was negative
In fore mentioned folder l, lmms has the infamous .lmmsrc.xml + 4 other folders

samples
preset
plugins
projects
-Mine are empty
* Why at all have *anything* outside the user-known installation? I cant see reasons for that..?
* what are the folders meant for?
* why use a 'dot' file for configuration (creates mishaps, if the user fumbles

[2015-05-06 15:34] tresf commented on #2036
This is standard for many config files as it hides the file on most unix or linux platforms.

This **IS** the user-known installation.  If you're asking about why a user would want items being stored outside of these folders -- that should be obvious -- but it is because some items, such as VST plugins, LADSPA plugins may already be installed to the system.

That what users should use for projects

[2015-05-06 15:34] #2036 closed

[2015-05-06 15:44] tresf commented on #2036
Also...
 *  `Documents and Settings` hasn't been used since Windows XP.
 * `%USERNAME%` is the wildcard on Windows which will work for representing a home folder for Windows NT 4.0 and higher.
 * All other platform simply refer to the user directory as `$HOME` or sometimes referred to as `~`, which the devs would be using when reproducing a bug report.

[2015-05-07 07:43] rghvdberg opened #2037 "Some VST plugins don't fit in window"
**Specs:**
- Ubuntu 14.10 with KX Studio repos (http://kxstudio.sourceforge.net/Repositories)
- lmms 1.1.3 (package 1:1.1.3-1kxstudio4  amd64)
- wine 1.6.2 / 1.7.41 (tried both version)
- hardware
  - Dell Inspiron 3847
  - cpu Intel(R) Core(TM) i5-4460  CPU @ 3.20GHz
    - configuration: cores=4
  - memory   8GiB
  - display GeForce GT 705
    - driver nvidia-331
  - multimedia Series/C220 Series

[2015-05-07 12:31] tresf commented on #2037
Thanks for the extremely detailed bug report.

That is strange.  Maybe due to DPI or graphics driver or a bug with the way the plugin is placed.  Does this occur on DSK Musicbox too?

[2015-05-07 14:26] rghvdberg commented on #2037
DSK Musicbox loads fine ...
tried different window managers
marco (mate) and kwin, all have some sort of problem with placing the windows

[2015-05-08 14:59] rghvdberg commented on #2037
installed linux mint 17.1
no problems here

[2015-05-08 15:11] tresf commented on #2037
@rghvdberg, so this problem is resolved with Linux mint?  Can you tell us the QT and Wine versions for what works and what has the graphic anomalies?

[2015-05-08 18:27] Wallacoloo commented on #2037
So I'm a bit late here but:

The way the ui stuff is laid out for *native* instruments is that there is
a top-level widget inside the instrument's window. If you accidentally
reposition this widget programmatically, when you meant to reposition the
window, you get this exact same graphical glitch.

I don't know if this is similar to how VSTs are handled, but if it is,
there could be some code path

[2015-05-08 22:57] Reaper10 commented on #414
With FX or without FX.

[2015-05-09 18:48] Spekular commented on #1175
Perhaps this and #709 could be merged somehow? They're not quite duplicates, but very close.

[2015-05-10 00:21] RebeccaDeField commented on #880
I am excited to post on this thread with an update. This thread may have not been super active, but I sure have ;) I have just completed recreating all of the LMMS icons in the style for this theme. I must say that I am very impressed with the current icon set as is. That is why I based a lot of my icons upon it. Good job to those who were involved in creating those :thumbsup:

To organize things

[2015-05-10 00:46] UglinessInTheUI opened #2039 "LMMS source code is incomplete and not able to compile on Windows"
I downloaded LMMS source code and it's incomplete. Also is missing the CompileAndRun button. That part is illegal right there in any country and any court room not just in my court room right here.
Source code needs to include all the compilers and dependencies , all libs and all those extras in order to compile and run as soon as I download it and unpack it. Why is the CompileAndRun button missin

[2015-05-10 01:11] tresf commented on #2039
Not sure if this is supposed to be funny, but our compile instructions are complete and in the wiki.  Feel free to take a gander when you are done with your ranting.

[2015-05-10 01:11] #2039 closed

[2015-05-10 05:38] eagles051387 commented on #880
I love them Keep up the good work and cannot wait to see them integrated
into LMMS

On Sun, May 10, 2015 at 2:21 AM, Rebecca DeField <notifications@github.com>
wrote:

--
Jonathan Aquilina

[2015-05-10 06:11] Spekular commented on #880
Well these are like the ones I've been making, but better. I guess I can't
really compare until both themes are done though. Incredible work!

[2015-05-10 07:45] RebeccaDeField commented on #880
@Spekular If these are similar to anything you are making feel free to download the source files and modify them to fit what you have in mind. The more themes the better! And art is subjective so there is no use comparing. Thank you for the compliment and for your contribution. Making a theme is no easy task ;)

[2015-05-10 14:01] Umcaruje commented on #880
@RebeccaDeField wow those icons look fantastic. Pure mint :ok_hand:

[2015-05-10 15:18] tresf commented on #880
Great work!

Feedback:

We should consider consolidating the one-off sizes (13x19, 14x16) into the next closest size (20x20, 16x16 respectively) to help standardize.

We technically have support for SVG graphics although we don't use them yet, so using these in vector form should help us with the super-hires screen issues (once we sort that all out programaticaly, of course)

[2015-05-10 15:52] tecan opened #2040 "basseditor adding sounds crashing"
during playback of the beatline-basseditor adding sounds to it causes crashing.

[2015-05-10 16:43] michaelgregorius commented on #2040
Don't know if it is related to the original problem reported by @tecan but here are some steps that can be used to make the GUI freeze with regards to the B+B Editor (using 2f969c1e1c7194538c9e047b039f39d0b8e304d7):

1. Start LMMS.
2. Click the "Play" button in the Beats+Bassline Editor.
3. Remove the Kicker.
4. Pull some samples into the editor, e.g. "My Samples/drums/bassdrum04.ogg". If I do thi

[2015-05-10 20:39] Astrognome commented on #1875
I can also produce this issue on Arch using the provided packages. This also happens when I use the git version from AUR.

[2015-05-11 12:26] rghvdberg commented on #2037
the problem is resolved in Linux Mint 17.1 cinnamon
hope this helps

ii  libqtcore4:amd64                            4:4.8.5+git192-g085f851+dfsg-2ubuntu4               amd64        Qt 4 core module
ii  libqtcore4:i386                             4:4.8.5+git192-g085f851+dfsg-2ubuntu4               i386         Qt 4 core module
ii  qtcore4-l10n                                4:4.8.5+git192-g085f851

[2015-05-11 15:02] Bloody95 opened #2041 "valgrind error on vestige plugins initialization failure"
On Linux, when loading a vestige plugin fails (improper wine configuration), the vestigeInstrument::loadFile() function calls closePlugin();

In this case, the m_scrollArea field is not initialized.

sha1 : 388dfbc38ccf4a5e2779b2260e5a4d0dbb1c332a

[code]

[2015-05-11 15:07] Bloody95 opened #2042 "valgrind error in SampleBuffer::decodeSampleSF()"
valgrind reports an error in the sf_open() call at the beginning of the SampleBuffer::decodeSampleSF() function. According to the sf_open() documentation, the format field of the sf_info structure must be initialized.

sha1 : 388dfbc38ccf4a5e2779b2260e5a4d0dbb1c332a

[code]

[2015-05-11 15:25] Bloody95 opened #2043 "Random crashes when accessing m_fxChannels[] field"
I just experienced frequent crashes on not so complex compositions (4 or 5 instruments, no VST).
I recompiled this morning the end of branch (sha1 388dfbc38ccf4a5e2779b2260e5a4d0dbb1c332a) on Linux and had crashes when simply playing the tracks.

I run gdb on lmms and had most of the crashes when accessing m_fxChannels, in FxMixer::masterMix() (when clearing the audio buffer) or in FxMixerView::up

[2015-05-11 16:10] ryandesign opened #2044 "32-bit build failure: no matching member function for call to 'lerp_table_lookup_float'"
Hello, I'm the maintainer of lmms for the MacPorts package management system. I noticed that on my 64-bit Mac, I can build lmms 1.1.3 64-bit but not 32-bit. Here are the warnings and errors that were displayed:

[code]

Some possibly relevant system info:

[code]
[code]
[code]

[2015-05-11 19:10] tresf commented on #2044
@ryandesign thanks for the bug report.  Since you've already issued a PR over at #2045, I assume you're on top of this.  In regards to the 32-bit detection, GCC seems to have a "wontfix" bug report about that behavior, so the fix you supplied may serve to benefit Clang compilers only, but if there's no harm merging, we can get it upstream.

**Offtopic**

1. We've switched to building our code on L

[2015-05-11 19:17] ryandesign commented on #2044
#2045 doesn't fix this problem, and I don't know what does; I'm not really a C programmer.

[2015-05-11 19:33] tresf commented on #2044
This code is actually part of the Calf project and AFAIK 32-bit Apple (Snow Leopard) isn't something we ever plan to support, so the quickest approach right now is to diff the offending plugins to "OFF" via something like:

https://github.com/LMMS/lmms/blob/master/CMakeLists.txt#L29

I'm not sure if this will help though as progressive code changes such as in #1633 will just continue to make this

[2015-05-11 22:34] ryandesign commented on #2044
While it's true that Mac OS X 10.6 Snow Leopard is the last version that supports 32-bit Intel Macs, it is still possible and sometimes useful to build software in 32-bit mode on newer versions of OS X, including the current version 10.10. Since your cmake files attempt to check if the system is 32-bit or 64-bit, I assumed you intended your code to be buildable on 32-bit and 64-bit systems. Are yo

[2015-05-12 00:15] tresf commented on #2044
Yes, 32-bit Windows and Linux build fine.  These LADSPA Calf plugins have been around for quite a while, mostly untouched.

Correct.  The discussion I had linked about initializer lists was in regards to our master (i.e future 1.2) branch.  Unless we di the suggested workaround, 1.2 won't build on Lion any longer.

[2015-05-12 01:01] friedemann- opened #2046 "patch for some issues (NumKeys bug; piano roll resize bug; multiple note volume change added; shiftSemiTone border behaviour corrected; context menu shortcuts in song editor)"
I'm not sure how I attach a patch, so please excuse any inconveniences due to my lack of knowledge.

I fixed some minor issues, that occured to me, while working with lmms.

 - const NumKeys (note.h) was used differently, sometimes including c9, sometimes not, resulting in some bugs / strange behaviour around the upper border of the piano roll editor.
   in the piano roll editor it was possible to

[2015-05-12 01:53] tresf commented on #2046
This is great!

@friedemann, We really prefer [Pull Requests](https://github.com/LMMS/lmms/wiki/Submitting-a-patch) via Git/GitHub now, which is much preferred over DIFFs.  This has the benefit that it will be tracked as a code change review (separate from the bug tracker) in its own issue and also allows us to comment directly on a line of code.  It also attributes your GitHub account to the chan

[2015-05-12 02:14] Wallacoloo commented on #2013
Closed via #2024.

[2015-05-12 02:14] #2013 closed

[2015-05-12 03:58] RebeccaDeField commented on #880
@tresf  Thank you for the feedback! I agree that those sizes should be consolidated and will get on that.

I am excited to hear about the SVG support. When you say "sort out the code portion" do that mean that there needs to be some coding involved to make these work as SVGs? I was currently exporting the icons as PNGs but if we want to try using vector graphics instead I would love to give that a

[2015-05-12 03:59] tresf commented on #2044
Can you ammend the original bug report with steps to reproduce and also cleanup the non-relevant warnings from the log?

I tried reproducing this tonight to no avail.  I assume there are some CMAKE flags to set, but the ones I tried from #2045 couldn't get past 0%.

-Tres

[2015-05-12 04:02] tresf commented on #880
I've never tried the SVG support, but I've read enough devs say it is supported to say it too with confidence.

In regards to the code portion, that was in regards to the super-hires scaling issues we have. :+1:

[2015-05-12 05:29] Wallacoloo commented on #2015
Summarizing my findings from the last few hours of tweaking code:

Although Song can exist with `m_playPos[...].m_timeLine == null`, TimeLineWidgets rely upon the validity of their `MidiTime m_pos` throughout their lifetime. This validity is lost when Song goes out of scope, since it owns those MidiTimes.

So with the existing memory model, everything will work fine if we ensure that Song always g

[2015-05-12 10:15] rghvdberg commented on #2037
Tested in virtualbox debian 8, same glitch appears.

ii  libqtcore4:amd64                      4:4.8.6+git64-g5dc8b2b+dfsg-3       amd64        Qt 4 core module
ii  qtcore4-l10n                          4:4.8.6+git64-g5dc8b2b+dfsg-3       all          Qt 4 core module translations

wine-1.7.41

[2015-05-12 12:35] musikBear opened #2047 "TripleOscillator: Oscillators are getting out of sync"
I have spend some time trying to figure out, why lmms sounds less 'punchy/ agressive' than other daw's
during that i have seen something strange
To reproduce
insert a std 3oc
set all 3 osc to saw
insert a 18 bar long note in D3
play
The sound variates in a sweep-like fashion:
![paste](https://cloud.githubusercontent.com/assets/6662066/7587156/79f8c944-f8b4-11e4-8856-e39e8fb08444.PNG)

Why?
There a

[2015-05-12 13:35] friedemann- commented on #2046
Thanks, I'll try to figure out, how pull requests work and put it there in the next days.

[2015-05-12 15:01] tresf commented on #2046
Thanks.  If you get confused by any part of it, please ask. :)

[2015-05-12 18:40] Sti2nd commented on #2047
Maybe you haven't removed the default limiter from FL? I haven't got a clue how synthesis really work, but I can easily imagine that there are different algorithms for making a sine wave... TripleOscillator for LMMS is not the same instrument as 3OSC for FL!

[2015-05-12 19:07] michaelgregorius commented on #2047
@Sti2nd I think it's really a bug (if it is not an intended feature).

To get an idea of what might be causing this behaviour and to simplify the conditions I have set all three oscillators to play a sine wave instead of a saw. The same effect can still be observed which means that we can likely eliminate the aliasing in the saw oscillators as a possible cause. My guess is that the three oscillato

[2015-05-12 19:10] mikezn commented on #1937
I like this idea.
1. I think the dropdown option to select an instrument from is a great idea, easier and quicker to use than buttons. Flicking through instruments with the scroll wheel whilst mouse over the dropdown would add so much value to it too (mind you that could work if you designated a scroll region over the arrows if they were added).

2. To me LMMS is sequencer driven, it would be so b

[2015-05-12 19:22] Wallacoloo opened #2049 "Segfault in zynaddsubfx/src/Nio/NulEngine.cpp destructor"
As reported by @jayay in his [comment](https://github.com/LMMS/lmms/pull/1991#issuecomment-100551390), the NulEngine destructor appears to cause a segfault. He kindly provided a stack trace for this: https://gist.github.com/jayay/b62b1ec3b5320820a3d6

This problem affects my system as well. The stacktrace is very confusing in that no possible code path should lead to the lmms Engine being destroye

[2015-05-13 00:48] fundamental commented on #2049
To my knowledge multiple conflicting definitions of the same class in the same namespace is resulting in a case where the vtable of one is getting overwritten by the other (same name/namespace means same vtable symbol). One of them needs to be renamed or namespaced.

[2015-05-13 02:43] Wallacoloo commented on #2049
That would make sense, as it could explain why the error arose after
changing lmms' Engine to subclass QObject (before it was a base class with
no virtual methods).

On the other hand, I thought this was what name mangling was for. Don't
these classes actually get assigned different symbol names in the binary
based upon the layout of their members/parents?
On May 12, 2015 5:48 PM, "Mark McCurry" <

[2015-05-13 03:17] fundamental commented on #2049
On 05-12, Colin Wallace wrote:

Nope, symbol mangling is mainly designed to handle various arguments to
functions/methods/etc and their scope.
For example looking at another project of mine, the class 'zVBar' results
in the symbol _ZTV5zVBar which c++filt translates to the vtable symbol
for that class.
Nothing in that symbol provides information about the class itself, it
just states that "_ZTV" i

[2015-05-13 03:48] Wallacoloo commented on #2049
I can confirm that placing Zyn's Engine class inside its own namespace does resolve this issue. If we go with a namespace fix, I think it makes more sense to place all of LMMS' classes in a `lmms` namespace from a maintenance point of view.

What do you say, is there any reason we should *avoid* placing all lmms classes into an lmms namespace?

As a side note, it looks like both the LMMS Engine.h

[2015-05-13 12:06] tresf commented on #2049
I'd like to hear @Lukas-W's thoughts on this.  :)

[2015-05-14 12:52] psilhavy opened #2050 "SIGSEGV when closing empty PianoRoll"
Platform  :  Linux chaos 4.0.2  SMP x86_64 , qt-4.8.5
LMMS Version 1.1.3
LMMS from git stable-1.1
How to cause SIGSEGV :
- open empty PianoRoll
- hit ^W

[code]

[2015-05-14 12:56] kyle-rader opened #2051 "Beat+Bassline Editor: Edits affecting all beats in song editor."
## Description
It appears the drop down menu at the top of the beats+baseline editor doesn't actually change the selected beat/bassline being edited.  **Or** I just don't fully understand the intended functionality.

## Example
1. Add a beat in the song editor
2. Select a measure to play this beat
3. Right click that measure and open in beats+bassline editor
4. Add a sound there.
5. In the song ed

[2015-05-14 13:11] tresf commented on #2051
@kyle-rader Your first sentence reads like a bug, but after reading your detailed steps (thanks) I believe you're reporting a duplicate of #453.

[2015-05-14 13:16] kyle-rader commented on #2051
@tresf Aha!  Yes that is exactly the kind of feature I would intuit.

[2015-05-14 13:16] #2051 closed

[2015-05-14 13:18] tresf commented on #2050
Thanks for submitting the bug report.  Please surround backtrackes in \`\`\` tags.  I've done this for you out of courtesy.

Also, can you edit your original bug report with specific information about how to reproduce.  This must include:

 * Platform
 * LMMS Version
 * Where you got LMMS from
 * Step-by-step instructions for a developer to reproduce the crash in an identical environment

-Tres

[2015-05-14 13:19] tresf commented on #2051
:+1:

[2015-05-14 13:24] psilhavy commented on #2050
Platform  :  Linux chaos 4.0.2  SMP x86_64 , qt-4.8.5
LMMS Version 1.1.3
LMMS from git stable-1.1
How to cause SIGSEGV :
- open empty PianoRoll
- hit ^W

[2015-05-14 13:31] tresf commented on #2050
@psilhavy, thanks, we'll take a look.

[2015-05-15 10:47] musikBear opened #2052 "illogical controller for level on Calf Equalzer 12 bands ladspa"
imo the _Level_ controllers are illogical. They are now calibrated for span ~0..~64, but logically levels for an EQ should be calibrated **around 0** - like -32..0..32. This would allow the user to add and subtract from the chosen freq. (just as f.i. in the **C*Eq**)
Furthermore are the graining for _level_ and _gain_, much too rough, and could easily be divided with a factor 10 -at least. That wo

[2015-05-15 12:18] tresf commented on #2052
Can you please take screenshots and illustrate what you are describing?

The code for the EQ is here: https://github.com/LMMS/lmms/blob/master/plugins/LadspaEffect/calf/src/modules_eq.cpp

I don't see anything in the EQ class specifically bound to the range you are describing, so if you can help locate the place in the code that is limiting this range it will make fixing this issue more likely.

P

[2015-05-15 12:35] softrabbit commented on #2044
[code]
That is one huge lookup table, 8 GB if a float is 32 bits... :open_mouth:

The plugin that the _errors_ here relate to is the CALF organ plugin that LMMS can't use anyway, so an easy fix could be to disable it for the time being.

[2015-05-15 12:57] softrabbit commented on #2052
No need for screnshots, on Linux you can use ```analyseplugin``` to figure out properties of LADSPA plugins, e.g. ```analyseplugin /usr/lib/i386-linux-gnu/lmms/ladspa/calf.so```. Some interesting control ranges for this EQ:

[code]

[2015-05-15 13:30] tresf commented on #2052
:+1:

https://github.com/LMMS/lmms/blob/master/plugins/LadspaEffect/calf/src/metadata.cpp#L706

-Tres

[2015-05-15 13:36] softrabbit commented on #2050
Looks like this might be fixed in master? I get the crash on stable-1.1 but not on master.
LMMS 1.1.3 (Linux i386, Qt 4.8.6, GCC 4.8.2), Ubuntu 14.04.2 LTS

[2015-05-16 00:56] Reaper10 commented on #1460
I'm working an idea for a drum machine / sound design plugim.

[2015-05-16 07:08] Spekular commented on #1460
@reaper10 I'm fairly certain we already have an issue/issues for this.
Therefore I think it'd be better if you waited until your idea was done
before posting, and posted it there.

[2015-05-16 12:50] ycollet opened #2053 "lmms hangs when render a project to wav file via command line"
I use lmms compile from git repo (master branch at commit 2f969c1e1c7194538c9e047b039f39d0b8e304d7) on fedora 21 64 bits.
I use lmms from command line to export a project to WAV:

[code]

When this command line is used, lmms hangs:

[code]

[2015-05-16 12:52] ycollet commented on #2053
Tested with lmms-1.1.3 compiled from sources and it works fine here.

[2015-05-16 15:57] Wallacoloo commented on #2053
Thanks for reporting this. This error seems to be caused by #2049.

[2015-05-16 17:02] ycollet commented on #2053
And maybe also #2035.

[2015-05-16 18:51] Reaper10 opened #2054 "Song editor overview window"
The Song editer could use a song overview window at top or bottom.
IE  Ardour

![overview](https://cloud.githubusercontent.com/assets/8137561/7667605/a6c2bca6-fbd3-11e4-8fd4-24028a02fe9b.png)

[2015-05-16 19:24] Reaper10 commented on #1974
Ardour  has one in the mixer

[2015-05-16 20:59] Wallacoloo commented on #1974
@Reaper10 Cool. But as you probably noticed by now, this is not the Ardour forum.

[2015-05-16 21:03] Wallacoloo commented on #1974
@Reaper10 The only way in which bringing Ardour (or any other DAW) into the conversation could be useful is if you show that Ardour had a similar problem with overcrowding their mixer after adding a pan knob and then describe how they solved it, and explain how their experience might be useful to lmms.

[2015-05-16 23:38] unfa commented on #113
I personally would not want any DAW I use to perform some hidden "sound enhancements" because I want total manual control over my sounds and this would be more of a problem than a feature. I don't like what FL Studio does to it's output, it confuses me.

[2015-05-16 23:41] RebeccaDeField commented on #880
@tresf Thanks for the clarification. I will give it a go when I get the chance and let you know if I run into any issues.

[2015-05-17 00:10] Wallacoloo commented on #113
One option I haven't heard is to make the default volume of placed notes something like 50% instead of 100%. This doesn't introduce any compatibility issues.

Personally, I am in favor of just adding a limiter to the default template, as suggested previously. I think this would do more good than harm. I don't know anyone who exports final songs without a limiter, so it saves time for everyone out

[2015-05-17 09:40] unfa commented on #880
Fantastic work! It's definitely a move towards proffesional look!

---
Tobiasz Karoń
http://soundcloud.com/unfa
On 17 May 2015 01:41, "Rebecca DeField" <notifications@github.com> wrote:

[2015-05-17 10:38] musikBear commented on #113
ehh.. limiter on master is commonly used by most?
(?)
I have read the exact opposite. (and have never used limiters on anything, except a specific preset)  Is compressing perhaps what was in mind?
Compressing on master is considered good, limiter is not
-im confused now :confounded:
(btw im with Vesa too, leave master sound /output/ raw, with no trickeries)

[2015-05-17 13:02] musikBear opened #2055 "enhancement: FX-mixer-channel context-menu: New item "Open this preset""
A neat way to access a specific instrument, that perhaps acts badly in the mixing process, or has other issues. A context-menu access, would allow the user to find and open the instrument in one operation.
(could even be a tiny hotspot on the mixer-channel for toggling allocated preset up/down)

cravat: behavior if no instrument is allocated / NULL return

[2015-05-17 19:35] Umcaruje commented on #2054
What does 'Song editer' mean?

[2015-05-17 22:46] Wallacoloo opened #2056 "Core PeakController class depends on plugins/peak_controller_effect"
Typically, "plugins" are optional tools that can be compiled alongside the program, but are not necessary to the core program's behavior. That is, the main program should not actually *depend* on any plugins.

But if you look at line 36 of [src/core/PeakController.h](https://github.com/LMMS/lmms/blob/fe797cb09fb897ade99bacdb014fc6fb97af6583/src/core/PeakController.cpp#L36), it has a dependency on

[2015-05-18 02:03] Wallacoloo commented on #2056
There's another, more minor dependency offense on line 272 of [InstrumentTrack.h](https://github.com/LMMS/lmms/blob/master/include/InstrumentTrack.h#L272) in which the FlpImport plugin relies upon InstrumentTrack (an LMMS class) explicitly sharing its private members with FlpImport, when in theory InstrumentTrack should not even know that FlpImport exists, since its a plugin.

Am I alone in thinki

[2015-05-18 12:51] tresf commented on #2056
A couple of things... the plugins you are mentioning are base plugins, so it likely won't surprise anyone that the code was never decoupled properly.

Whether or not they are bad practice is a good question and much like whether or not our core and GUI should be completely isolated.  The short answer is "yes, they are bad practices".  The reality of it is much less black-and-white.   For example,

[2015-05-18 18:38] Reaper10 commented on #2054
Song editor sorry about that.

[2015-05-18 21:33] Reaper10 opened #2057 "Making LMMS a Non-Destructive Editing DAW"
Could you make LMMS a Non-Destructive Editing DAW?  Ie make it so if you cut a part out of a clip and change your mind and want the part back  you can just stretch the end of the clip back out, and the part is restore.

[2015-05-18 22:59] jack126guy commented on #2057
I thought it was non-destructive...

[2015-05-18 23:10] Reaper10 opened #2058 "ardour like editing tools"
Ripple edits and crossfading
https://youtu.be/43ES7p4ejX0?t=7m4s
https://www.youtube.com/watch?v=x7L6gc2lmHQ
Fade In / out
https://youtu.be/43ES7p4ejX0?t=7m4s

[2015-05-18 23:18] tresf commented on #2058
Stop.

[2015-05-18 23:18] #2058 closed

[2015-05-18 23:19] #2057 closed

[2015-05-18 23:21] tresf commented on #2057
@Reaper10 has a track record for poor quality bug reports and spamming our tracker with never-ending and often redundant enhancement requests.

[2015-05-18 23:23] tresf commented on #2054
Yes, it could.

[2015-05-18 23:23] #2054 closed

[2015-05-19 02:44] ryandesign commented on #2044
Why does lmms build things it doesn't need? :smile:

I have now set up a 32-bit Intel iMac with OS X v10.6.8, and was able to compile lmms 1.1.3 from MacPorts just fine using the default compiler on that system (Apple gcc-4.2.1) and it ran and played the demo songs fine too. So there doesn't seem to be anything inherently 32-bit-incompatible here, I suspect there's just something about this code t

[2015-05-19 03:10] Wallacoloo commented on #2054
I think this does have merit. It's something that a lot of code editors do, for example, which I find mildly useful. Being able to drag around that semi-opaque white box in the overview of Reaper10's screenshot would make navigating songs slightly easier.

Did you close this due to a lack of resources?

[2015-05-19 03:23] tresf commented on #2044
I've tackled some of the `inline` bugs in the swh plugins through a very painstaking trial and error via stuff like this: https://github.com/swh/ladspa/commit/d07c1cbb2fd60a0a552982d58e0692994a138469.

But that was just one snag... I also hit a for-loop problem per: https://github.com/swh/ladspa/commit/79864921afa98bfd7430028cd4606040a81c1532

And some mystery problems like this if/else block:
htt

[2015-05-19 03:30] tresf commented on #2054
No, strictly out of [punitive measures](https://github.com/LMMS/lmms/issues?q=is%3Aissue+author%3AReaper10+is%3Aclosed).  If someone finds the feature useful, they can open a well written bug report.

[2015-05-19 03:34] tresf commented on #2054
Well, resources too I suppose.  Keeping up with the OP's requests is a full time job. :rocket:

[2015-05-19 04:13] Wallacoloo commented on #2044
Hmm, so the first actual error:
[code]

corresponds to [this](https://github.com/LMMS/lmms/blob/master/plugins/LadspaEffect/calf/src/calf/organ.h#L156) code:

[code]

And the fixed_point class starts off with:
[code]

Also, the function definition that it fails to match because of a ridiculous array bounds of 2147483649 (that's `0b10000000000000000000000000000001` in binary) is ([fixed_point.h:233

[2015-05-19 04:40] Wallacoloo commented on #2044
So I whipped up a quick test. If you compile [this](https://gist.github.com/Wallacoloo/ea79a5ed52d0e80ccc14) file, which makes use of the `fixed_point` in the same way as the Calf code, `(unsigned int)(1<<IntBits)+1` comes out to `1` when using gcc 4.9 or 4.8 on my Linux system, and clang++-3.6, 3.5 and 3.4 always print a different value for `(unsigned int)(1<<IntBits)+1` (perhaps recognizing that

[2015-05-19 04:44] Wallacoloo commented on #2044
Dur, compiling the linked example with the `-m32` flag gives this (ignore that the file is named test.cpp instead of main.cpp):
[code]

Notice that the array size is the same as originally reported in this thread, and I am using Ubuntu. So this does not seem to be a mac-specific error. g++ will still happily compile this with only a warning.

[2015-05-19 05:37] Wallacoloo commented on #2049
Well I moved everything in src/* into a new `lmms` namespace (thus the plugins remain in the global namespace). This has fixed the issue with Zynaddsubfx, but I'm currently getting some minor graphical glitches. Specifically, the grey cog next to each track is rendering as an oversized empty grey button, some colors are slightly different, and the timeline of the song editor only has vertical line

[2015-05-19 05:53] Wallacoloo commented on #2049
Looks like the theming issues is due to Qt's style sheet automatically taking namespaces into account ((link)[http://doc.qt.io/qt-5/stylesheet-syntax.html#widgets-inside-c-namespaces]). Thus

[code]

needs to be changed to
[code]

An easy fix, but it breaks theme compatibility.

[2015-05-19 05:57] ryandesign commented on #2044
A reproduction recipe using MacPorts is, on a 64-bit Mac with OS X 10.7 or later, to install all lmms dependencies universal (i.e. for 32-bit and 64-bit), which I think the following command should be sufficient to do:

[code]

Then, build lmms 32-bit:

[code]

Don't know, but I'll make the change suggested by Wallacoloo and see if anything else stops the build.

This fix benefits users with 32-bi

[2015-05-19 12:54] theguitarplayer opened #2059 "MIDI Controller use in Automation Tracks"
In order to playback a song in the editor that has recorded automation tracks in it, it is necessary to disconnect the MIDI controller from whatever it is controlling. Otherwise the automated knob, fader, etc. will remain at whatever the MIDI Controller's knob or fader level is at.  The automation tracks in the song editor should really over ride the MIDI Controller in Playback.

[2015-05-19 13:01] tresf opened #2060 "Locked Down Deployment - Hiding Volumes/Drives"
On the forums, we received a PM about the ability to hide drive letters for deployment in an education environment where the student's workstations wouldn't normally be able to view the available drives on the PC.

The short answer is, no, we don't have a built-in setting to do this automatically although the [OS may provide a mechanism to help](http://www.windowsvalley.com/hide-and-restrict-drive

[2015-05-19 13:38] tresf commented on #2049
FYI, We've stopped providing theme support between minor releases via [`#1442`](https://github.com/LMMS/lmms/pull/1442/files), it is just too volatile until we get the refactoring, renaming and decoupling finished (e.g. [`#1353`](https://github.com/LMMS/lmms/pull/1353/commits)).

If you'd like to entertain the possibility of upgrading styles, we could offer an `upgrade()` function in [`LmmsStyle.c

[2015-05-19 13:42] softrabbit commented on #2044
Maybe time to sync changes from upstream? That left shift bug is fixed there: http://sourceforge.net/p/calf/code/ci/aaca6447de6ed07bb39f376095bb246cc8f3580a/tree//src/calf/fixed_point.h?diff=d727afe27999f888452204cc09fb3b190741ab53

[2015-05-19 14:28] rghvdberg commented on #2037
Test in Linux Mint 17.1 Mate , everything works ok
Could it be that the displaymanager (mdm) has something to with it ?

[2015-05-19 21:16] darkscrap commented on #113
Wow. I didn't realize this conversation has been going on for over a year.

I mentioned it on the IRC, but my vote is to not do anything to the instruments themselves. I like @Wallacoloo idea of changing default note volume. I also think having a limiter (or a compressor, since @musikBear likes that idea better) on the main FX channel is a good option to prevent those loud noises on some instrumen

[2015-05-19 23:23] midi-pascal opened #2061 "Sf2Player: Chorus tooltip assigned to reverb"
In Sf2Player the Chorus tooltip is assigned to the Reverb effect and the Chorus effect has no tooltip.
Something like a wrong copy/paste :-)
I submit a patch right now!

FYI: I found this while checking/adding French translations for lmms.

[2015-05-20 00:33] tresf commented on #2061
Closed via #2062

[2015-05-20 00:34] #2061 closed

[2015-05-20 03:27] tresf commented on #113
I agree that they all need to be quieter by default.  I'd even go as far to say that presets should never be over a certain DB level -- since presets are often the entry point into an instrument, they would need to adhere to the same quality standards.

I think the major task here is someone with a good sense of sane defaults sitting down and sanitizing things.   First run should be the instrument

[2015-05-20 10:34] musikBear commented on #113
I would suggest a spreadsheet
default factory 3oc could be base value
All instruments & all presets tested on same system, and all measured up against base-value.
Then note how many dB each differ from base-value, in the spread-sheet.
This would ensure that any specific settings on anyones specific pc, would be transparent.
But there is a serious cravat:
*Are the sounds loudness equally comparable

[2015-05-20 13:35] unfa commented on #113
I think we should not drop this all on one person who has the feel of sane defaults, but work to create a standards that can be measured and evened out even automatically. Like a function to normalize plugin/preset/sample volume for use in library.

I think ebur128 can be a nice tool for the measuring purpose:

ebur128 When_You_Fly,_Frostbyte.flac
Integrated loudness:      8.5 LU
Loudness range:

[2015-05-20 23:11] Reaper10 opened #2063 "Old Movie Projector Sound FX plugin"
Could someone make a movie projector sound simulator FX plugin? It could be a Fx plugin like your vinyl plugin.   As an Fx plugin  you can have it on a buss track and you can have unlimited tracks sened to the bus and set the amount of the send.  What if you're recording your guitar lick on the sample trackor a whole track and you need it to sound like it's coming out of a Old Movie Projector.  If

[2015-05-20 23:21] mikobuntu commented on #2063
A plugin for just one sound is not logical and I doubt very much that it will be implemented into LMMS. Try freesound or ccmixter for a similar sample instead please.

[2015-05-20 23:27] Reaper10 commented on #2063
it could be a Fx plugin like your vinyl plugin.

[2015-05-20 23:30] tresf commented on #2063
@Reaper10 this may already be possible via our plugins by using a series of distortions, etc.  If that is not possible, some basic automation can likely create it too.  Probably best for the forums.

In terms of an FX plugin, that would be a different story.  Might want to look for a VST plugin that does this and import it in.

[2015-05-20 23:32] mikobuntu commented on #2063
@Reaper10 . I was just thinking the same thing about the vinyl plugin ( which is a bundled LADSPA effect ) someone could probably write this quite easily. I would look at using ZynAddSubFX and using some wizardry with effects you could get close to this sound.

[2015-05-20 23:32] dednikko commented on #2063
If anything, you might modify the vinyl plugin, but, honestly, you could
just snag a sampled recording from Freesound.

I did just that for a short film intro.

On Wed, May 20, 2015, 6:27 PM Reaper10 <notifications@github.com> wrote:

[2015-05-20 23:41] Reaper10 commented on #2063
I tried looking of a plugin couldn't fine one I'll try other pugins but could look into it as a FX plugin someday?

[2015-05-21 01:09] Wallacoloo commented on #2041
Good catch. If you submit this (and your other reports) as a [pull request](https://help.github.com/articles/using-pull-requests/), then one of the project administrators can easily merge this fix and the changes will be linked against your github account / email address, which is generally useful information to preserve.

[2015-05-21 01:28] Wallacoloo commented on #2049
I created a new pull request that solves this issue (and others): #2064.

Qt doesn't expose its internal css parsing functions necessary to preserve theme compatibility (css isn't quite simple enough for a string replace of the old class names with the namespaced ones to do the job error-free), so maintaining compatibility with existing themes would take more effort than it's likely worth.

[2015-05-21 13:46] musikBear commented on #2063
ahemm.. eh.. how about .. well eh ..Record or ... dl the actual  ... file you linked to ?! :mouse:

[2015-05-21 13:53] midi-pascal opened #2066 "Instruments description not translated in Instrument plugins browser"
The description of the instruments is not displayed in the current language in the Instrument plugins browser even where translation exists.
In PluginBrowser.cpp, the code is there to display the translated description but is does not work.
PluginBrowser::tr( m_pluginDescriptor.description ) always return the English description.

I am looking for the glitch right now...

[2015-05-21 15:57] Reaper10 commented on #2063
But as an Fx plugin  you can have it on a buss track and you can have unlimited tracks sened to the bus and set the amount of the send.  What if you're recording your guitar lick on the sample track and you need it to sound like it's coming out of a Old Movie Projector.  If it's a plugin you can tweak the sound more then you can a sample.

[2015-05-21 16:01] midi-pascal commented on #2066
Found the translation problem:
PluginBrowser::tr() does not work in this case. One must use qApp->translate() instead as per Qt documentation.
Creating a pull request right now...
The same problem occurs for the plugins description in "Add effect" window.
Now looking a it!

[2015-05-21 16:07] tresf commented on #2063
I hate it when my guitar licks the sample track. :lips:

Agreed though, an FX plugin is ideal.

[2015-05-21 16:15] Reaper10 commented on #2063
guitar lick on the sample track sorry about that LOL :laughing:

[2015-05-21 16:45] Reaper10 commented on #1471
The Sample Track needs a pitch knob and pitch range box.  This way you can do a tape stop FX right form The Sample with out a plugin. You can all so just drop down the pich of the track with out a plugin to do it.

[2015-05-21 16:57] tresf commented on #1471
^--- added.

[2015-05-21 17:03] midi-pascal commented on #2066
Found!
Added to PR #2065

[2015-05-21 19:35] Wallacoloo commented on #2050
Not affecting me on master either - using Ubuntu 15.04 & gcc 4.9.

[2015-05-21 19:50] tresf commented on #2050
Since we've no plans to patch `stable-1.1` at this point, this likely won't receive a patch but instead be fixed after upgrading to the future `1.2` release.  If it is determined that we need to packport a fix, we can do that too. :+1:

[2015-05-22 00:15] Reaper10 opened #2067 "LMMS doppler FX plugin"
Using parts from Amplifier, LFO controller, Dual filter and the XY pad and the gain slider form the new delay plugin you can make a LMMS version of grm tools doppler.

What is grm tools doppler:
https://youtu.be/MCyTBNlZK-I?t=1m50s

How it works:
up and down on xy pad = volume
side to side on xy pad = pan
![lmms doppler](https://cloud.githubusercontent.com/assets/8137561/7761693/a676d6a0-ffee-11e4

[2015-05-22 01:00] tresf commented on #2067
You really have to stop it.  Just buy these commercial plugins or learn C++.

[2015-05-22 01:00] #2067 closed

[2015-05-22 01:10] Reaper10 commented on #2067
I would buy  it but it's  an Rtaz plugin ie only on Pro Tools I like LMMS better can afford Pro Tools.

[2015-05-22 02:52] tresf commented on #2067
Regardless, it costs hundreds of dollars/euros.  If you cherry-pick every plugin you like, it will be a never ending list.  Perhaps you should have a dedicated thread called "Reaper10's wish list" and just type whatever you like in there.

[2015-05-22 03:00] tresf commented on #2067
P.S. The documentation on that plugin says this:

enhancement and design. They are available in AAX, Audio Unit and **VST** (32 & 64 bits) and
RTAS (32 bits) formats, and also as Stand-Alone application.

Are you sure it doesn't work with LMMS?

[2015-05-22 05:45] aaronfjerstad commented on #1651
Most other pattern editors will simply have a grid, with each row representing an instrument. Since steps and piano-roll input are mutually exclusive for a given bassline, piano-roll inputs can take up the whole row just as they do now. Having a four step instrument take up the same amount of room as an eight-step instrument leads to a GUI that doesn't represent what the user hears. Having not loo