[2017-08-15 14:18] Spekular commented on #3768
Ping to let email users know I've updated the first post.

[2017-08-15 14:56] musikBear commented on #3769
Confirming for rc3 x32
Its quite amusing, because i was actually getting aware of this 'problem' *yesterday*. RC3 loads projects quite slow on my 2 cpu 10y old pc, so i wanted to check mail. Lmms broke in every time a VST was 'successfully loaded'. 🤡 Buuu..t i would hardly call this a bug, most with good hw wont be bothered at all
imo: can wait to 1.2.x

[2017-08-15 14:59] musikBear commented on #3768
imo, not a needed feature 👎

[2017-08-15 15:02] Spekular commented on #3769
I'd say it's bad either way. I have projects slow enough (especially with
VSTs) to want to do something else, and that's with an i5-4590 and projects
+ LMMS on an SSD.

On Aug 15, 2017 16:56, "musikBear" <notifications@github.com> wrote:

[2017-08-15 15:05] Spekular commented on #3768
@musikBear is there any downside to it, though (other than opportunity
cost)? I'm sure there are people who would appreciate it, including myself
and tresf (afaik).

[2017-08-15 15:09] tresf commented on #3768
@musikBear this is a UI/UX feature and for long project exports (and perhaps large projects loading), it's valuable.   The purpose of the bug tracker is to document, code and test bugs.  Adding a thumbs down to a well thought proposal is OK, but please understand that it isn't very constructive.

[2017-08-16 00:07] zonkmachine commented on #2612
Closed. Fixed by @serdnab in https://github.com/LMMS/lmms/pull/3753 and backported to stable-1.2 in 94646e28fe5652dba8de568f56a8d3ebb858f0bf.

[2017-08-16 00:07] #2612 closed

[2017-08-16 13:00] #3606 closed

[2017-08-16 15:18] musikBear commented on #3769
wooo... ok, thats surprises me, other have talked about benchmarks around 5-10 secd, for even large project, like unfa spoken
Was better in 1.0..

[2017-08-16 15:22] musikBear commented on #3768
Wouldent it prolong the loading, with yet another process / thread in that process?

[2017-08-16 17:21] tresf commented on #3768
We already use progress indicators, this is just to display it in a progress bar as well.

[2017-08-17 11:57] #3709 closed

[2017-08-17 21:28] Sawuare commented on #3695
Yes the mixer is a bigger feature and you do more stuff in it, but your audio will be processed by what is in the controller rack, then sent to the mixer, which is the last stage before the audio output, isn't it?

Think of the processing of the audio in the controller rack as part of the audio, which will be processed later in the mixer.

[2017-08-18 06:23] Spekular commented on #3695
In this case, BB editor would go before song editor, and Automation Editor + Piano roll before that.

[2017-08-18 08:28] Sawuare commented on #3695
So for the first 4 buttons, you're suggesting this order: automation editor > piano roll > BB E > song editor, right?
To get the BB E you will first need the song editor ;)
I can't understand why you want the automation editor and piano roll in that order.

This is my opinion on the order of the buttons based on streamlined workflow:
I think everyone will agree that the last 4 buttons should be:
c

[2017-08-18 08:49] Spekular commented on #3695
I don't want Automation->Piano Roll->BB Editor->Song Editor. I'm just
pointing out that if we're ordering the way you suggested we'd have to have
something like that.

You wanted the controller rack to go before the mixer because controllers
affect the audio that goes into the mixer.

Piano roll and Automation editor patterns can be inside a BB track and
therefore affect it. BB tracks affect what

[2017-08-18 20:23] Sawuare commented on #3756
Can't re-produce using Windows 10 Pro, 64-bit OS, x64-based processor with LMMS 1.2.0-rc.3.
Actually, closing LMMS while playing audio doesn't produce any audio glitches and is very smooth for me.

@JordanKyser
I you can re-produce it successfully, can you provide steps for doing so?
Like what @musikBear said, this is probably a problem with your audio system.

[2017-08-19 02:56] serdnab commented on #3757
@PhysSong are you on this?
If not I will take a look at it.

[2017-08-19 03:33] PhysSong commented on #3757
I need to investigate some related behaviors, so I'm not on this now.

[2017-08-19 09:05] Sawuare commented on #3651
@musikBear
![image](https://user-images.githubusercontent.com/25503477/29485154-deb51644-84d5-11e7-889d-8bf431235a41.png)
Yes, marked notes should be a little bit brighter. I take back my "hard to see" statement as they are fine for me actually, but a little bit more of brightness would be better.

[2017-08-19 12:47] Sawuare commented on #3682
@gi0e5b06

The LMMS GUI is from left to right, I don't think positioning the sidebar on the right only is a good idea, but giving the option is probably a good idea (read below).

Is a subwindow the same as a normal window like the piano roll?
If it is, some benefits to the subwindow over the sidebar are movability and resizability from all directions, which is good, and that will also let you cho

[2017-08-19 14:36] Sawuare commented on #3433
Looks like SingerBot is a text-to-speech (TTS) synthesizer. 😮
The forum topic Tres linked to dates back to 2012. ⌛️
When was SingerBot introduced and when and why was it removed?

[2017-08-20 07:42] Sawuare commented on #3740
Related: #3288.

I agree with Spekular and Umcaruje.

I was going to suggest that we use "**Alt + Space**" in _Windows_ and "**Command + Space**" in _macOS_ because these keys are very close to each other and they're name descriptive because we are altering what a normal "**Space**" would do, which is stoping, but "**Alt + Space**" in _Windows_ is used for pop up window menu, unfortunately.
I sugg

[2017-08-20 14:42] Sawuare commented on #3751
I would like to fix this issue by myself.
I think what I need to know to do so is where the code of the rectangle that when is clicked its black key is played. I think the code is in _src/gui/editors/PianoRoll.cpp_ but the file is too big and I couldn't find what I'm looking for.
I think limiting the size of this rectangle to the size of the black key, so clicks to the right of it won't play it, s

[2017-08-24 03:37] PhysSong opened #3775 "Envelope + (Rapidly) varying tempo give undesirable output."
[TempoNaN.mmp.zip](https://github.com/LMMS/lmms/files/1247655/TempoNaN.mmp.zip)

The tempo model is connected to a LFO controller. Instruments with envelope sounds weird, some notes may be skipped.
If arpeggio is enabled, it sounds more glitchy. Infs and/or NaNs are also generated.

[2017-08-24 04:59] floft commented on #3289
I really like the piano on https://www.linuxsampler.org/instruments.html but it's something like 500 MiB uncompressed. I like the idea of linking to some good ones in the docs.

[2017-08-24 05:05] floft commented on #3233
So, the ADSR info is included in the .gig file (the EG1PreAttack, EG1Attack, EG1Decay1, etc.). I didn't know if it'd be more useful for you to specify it in LMMS or using the ones in the .gig file. Maybe by default use what's in the file but have an option to override it?

[2017-08-24 16:15] gi0e5b06 commented on #3755
Implemented.

[2017-08-24 16:18] Spekular commented on #3755
I don't believe so. Please link a merged pull request if so.

[2017-08-25 12:26] Umcaruje commented on #3755
This has not been implemented @gi0e5b06 where did you see that?

[2017-08-25 15:34] Sawuare commented on #1994
@Reaper10

Like what @Umcaruje said, your proposed feature will only be useful for users with MIDI controllers/keyboards with X-Y pads, and those users are a minority, and I don't think they would even use it to draw shapes.

I can't understand how your proposed feature would help touch screens or monitors users.
Touching and dragging in touch screens and monitors is the same as clicking and dragg

[2017-08-25 17:06] Sawuare commented on #1986
Great idea!

Please correct "the Inputs box will show all of your track outputs" in the audio, JACK and MIDI paragraphs.
It should look like "the Inputs box will show all of your track inputs", not outputs.

[2017-08-25 17:18] Sawuare commented on #1986
I suggest these names for the window:
"Routes map" or "Connections map".

I suggest a new tab for instrument and effect plug-ins parameters called "Parameters".
This tab will show

[2017-08-25 18:46] Umcaruje commented on #1994
@Sawuare The community member has since this been banned from our tracker for abusing it, so they won't be able to reply to you

[2017-08-25 18:46] Sawuare commented on #1974
How about a horizontal slider for panning?I think it will look great with the vertical slider for volume.
Whatever the widget for the panning is, I think it should be positioned above the volume slider.

The design I'm describing can be seen in the mixer of Qtractor.

[2017-08-26 04:04] PhysSong commented on #3757
Fixed via #3774.

[2017-08-26 04:04] #3757 closed

[2017-08-26 05:22] zonkmachine opened #3777 "Glitch with layered sustained notes"
Got one more glitch with recording sustain that I unfortunately missed when testing. Some layered notes seem to finish early and the lost length is added to the following note. True both for chords and single notes played multiple times when under sustain.

Example. C-maj played struck twice:
![sustain](https://user-images.githubusercontent.com/6368949/29738776-58bf9b38-8a2d-11e7-8af5-f3ef3416c2db

[2017-08-26 08:31] PhysSong commented on #3777
https://github.com/LMMS/lmms/blob/v1.2.0-rc3/src/gui/editors/PianoRoll.cpp#L3486
The if clause compares only the notes' keys, not their positions. So lengths can be mixed.

[2017-08-26 20:52] zonkmachine commented on #3747
I pulled the above code in https://github.com/LMMS/lmms/pull/3778. It's a partial fix and a good compromise for 1.2.0 .

[2017-08-27 11:45] lukas-w commented on #1912
I can't reproduce this on `stable-1.2`. Close?

[2017-08-27 11:47] lukas-w commented on #1873
Closing as this issue has no real value on our bug tracker. 90% of our code needs refactoring. Feel free to submit a PR, @M374LX.

[2017-08-27 11:47] #1873 closed

[2017-08-27 12:05] lukas-w commented on #3720
Duplicate of #762

[2017-08-27 12:05] #3720 closed

[2017-08-27 14:13] lukas-w commented on #777
I get a crash similar to this one when rendering the project from #3223 after increasing the buffer size (`BM_INITIAL_BUFFERS`). In this line:

https://github.com/LMMS/lmms/blob/efd0d34f2babd0020d0a1d76c4dc3c4458e67458/src/core/MixerWorkerThread.cpp#L57

`m_queueSize` overflows resulting in the segfault.

[code]

[2017-08-27 16:21] unfa opened #3780 "zita-reverb breaks projects"
I have stopped using zita-reverb plugin in LMMS, becasue it made my projects go mute on the Master bus. The only way I found to get the sound back is to remove all zita-reverb instances, save and reload.

I guess it's something with NaNs or whatever.

[2017-08-27 16:27] zonkmachine commented on #3780
Can you upload one of those buggy projects?

[2017-08-27 16:38] unfa commented on #3780
Here's a project that exhibited such behavior:

[unfa-FightingMyself-10.zip](https://github.com/LMMS/lmms/files/1254549/unfa-FightingMyself-10.zip)

I loaded it again after a while and it's fine, but sometimes it's impossible to carry on with such projects.

[2017-08-27 16:43] unfa commented on #3780
Here's a project that exhibited such behavior:

[unfa-FightingMyself-10.zip](https://github.com/LMMS/lmms/files/1254549/unfa-FightingMyself-10.zip)
The faulty zita-reverb is placed on FX-channel 24 (Square bass).

I loaded it again after a while and it's fine, but sometimes it's impossible to carry on with such projects.

[2017-08-27 16:50] unfa opened #3781 "Control links are lost when duplicating automation clips"
When using Copy/Paste or Ctrl+Drag to duplicate  an automation clip, the link to a control is lost.

This makes it very tedious to duplicate automation clips, as one needs to restore the links manually for each clip.

LMMS 1.2 RC3 Linux.

[2017-08-27 16:51] tresf commented on #3781
+1, hit this all the time. This must be an order of operations problem because one you Ctrl + drag the control back it fixes it.

[2017-08-27 19:12] zonkmachine commented on #3780
What versions of LMMS do you see this on? We've taken care of

Yeah, I know what you mean. I'm testing this with our new floating point debug compile option and the project is a bit too big to test zita-reverb specifically as I get other floating point errors in there. If you can replicate the error in a minimal project that would be super. Another problem is that reverb in general tend to aggrava

[2017-08-27 21:19] karmux commented on #3781
This doesn't always happen with me but from time to time. Right now I'm unable to reproduce.
Also related bug is that pasted automation clip will have duplicate connections when target automation clip already has same connection.

[2017-08-28 15:25] musikBear commented on #3781
This i reported earlier, and it is a renewed fail.
In 1.190 This worked
Automation could be copied by
* ctrl-drag
* using context-copy
* copy-tool
This was iow (re)introduced between 1.1.90 and RC2
I will search for the link to the post, / pictures, later

[2017-08-29 17:49] musikBear opened #3782 "AFP: 3 dials moves if sample is moved"
win32 RC3
Insert any sample in a AFP
Magnify sample for best visual
point on the spectrum in either end
The hand-cursor is shown
move the sample
Observe the dials, for start, end and loop, they will turn, and the settings are also changed (eg the span of the selection is not fixed)
I would expect only the sample to move, not the selection

[2017-08-30 21:34] musikBear opened #3784 "Sample track: delay feature"
*Suggestion 1.2.x*
Just as we have **DEL** in default instrument-ENV, a DELay would be very useful in *Sample-track.*
A DELay with 1½ bars span, would make it easy to synchronize a sample, with the beat in the project. That is a difficult task with current sample-track features
-Ideally sample-track should have default ENV and LFO, inculuding default filters, but DEL is a minimum requirement

[2017-08-30 23:32] BaraMGB commented on #3784
Why you don't move the sample to the right position?

[2017-08-31 01:37] PhysSong commented on #3784
You can use Ctrl + Drag(press Ctrl key after you start dragging) to adjust sample positions precisely.

I think including filter is a good idea, too.

[2017-08-31 10:23] gi0e5b06 opened #3785 "Project loading doesn't end (AllPass effect)"
`            <effect autoquit="1" gate="0" autoquit_syncmode="0" autoquit_numerator="4" name="ladspaeffect" wet="1" on="1" autoquit_denominator="4">
              <ladspacontrols link="1" ports="6">
                <port02 link="1" data_syncmode="0" data_denominator="4" data_numerator="4" data="60"/>
                <port03 link="1" data_syncmode="0" data_denominator="4" data_numerator="4" data="7

[2017-08-31 16:00] musikBear commented on #3784
@BaraMGB @PhysSong

That is exactly what we need to do now, and it would imo be much better to turn a dial, during playback. Mouse dragging to correct ms, is not perfect. Turning a dial would be a quality-method

[2017-08-31 16:04] musikBear commented on #3785
The xml you have posted here is not a *complete* project. It would not load.
imo your issue belongs in forum| support
http://lmms.io/forum/viewforum.php?f=7

[2017-08-31 19:56] lukas-w commented on #2970
Closing as duplicate of #2855 – VST support on Linux is broken with Qt5.

[2017-08-31 19:56] #2970 closed

[2017-09-01 08:38] gi0e5b06 commented on #3785
I know. I just posted the faulted part. Basically there is something wrong with this effect. The loading never ends and the CPU goes up to 100%.

[2017-09-01 13:24] lukas-w commented on #3785
@gi0e5b06 Please provide a complete project file to test or exact steps to reproduce.

[2017-09-01 14:17] lukas-w commented on #3435
@R-033 As far as I know, Ubuntu 16.04 doesn't ship with LMMS's VST plugin. You'll have to use another source, such as the KXStudio Repo: http://kxstudio.linuxaudio.org/Repositories

[2017-09-01 14:17] #3435 closed

[2017-09-01 16:57] gi0e5b06 commented on #3768
http://doc.qt.io/qt-5/qsystemtrayicon.html
Don't use anything else.
(btw for Linux this a standard D-bus service)

[2017-09-01 17:03] dhulipala opened #3787 "Time signature resets when playing."
The time signature denominator keeps resetting to 4 when I hit the play button or when new tracks are added. Attached zip contains a screen-recording and the version of LMMS I am using. Is this a bug, or am I doing something wrong? Please review.

[time_sig_reset.zip](https://github.com/LMMS/lmms/files/1270963/time_sig_reset.zip)

![image](https://user-images.githubusercontent.com/26237353/2998001

[2017-09-01 17:37] gi0e5b06 commented on #3682
@Sawuare
1) The trend is to put such a sidebar on the right side. In the old days, it was more often on the left side. In all cases, it should be an option.
2) Yes. Also make things easier in the case of a tabbed ui.

[2017-09-01 18:08] gi0e5b06 commented on #3785
[code]

[2017-09-01 18:22] tresf commented on #3682
I use sidebars in dozens of applications.  They're overwhelmingly on the right.  This makes sense, UI is generally left to right, so navigation panes stick to the left.  There are a few exceptions to this when software puts the toolbar on the left instead, but left is an overwhelmingly adopted standard.

Inkscape and Gimp both  use floating toolbars on the left, which is more common for graphical

[2017-09-01 18:22] tresf commented on #3682
Typo...

[2017-09-02 02:52] PhysSong commented on #3787
Can you try
1. Right click the dominator LCD.
2. Click something like "Remove global automation".
?

[2017-09-02 07:05] PhysSong commented on #3775
`NotePlayHandle::resize( const bpm_t _new_tempo )` changes `m_totalFramesPlayed`, so `EnvTotalFrames` and `EnvReleaseBegin` in `InstrumentSoundShaping::processAudioBuffer()` can have wrong values.
`NotePlayHandle::resize()` has introduced in 52d9ca47, which was done in 2007. I don't know why it exists and why it should be there.

[2017-09-02 12:41] musikBear commented on #3785
win32 RC3
Loads emediately
@gi0e5b06
The fault must be your sample, the one thats not included here.

[2017-09-02 13:58] trebmuh commented on #3286
awesome !

[2017-09-02 14:11] michaelgregorius commented on #3785
Same here. Loads without problems (except the missing sample) in the current master (12edb58c773dd8f5a7ceea78ace6146cbe2aeeb7). The allpass delay line in the effect chain of the Audio File Processor is loaded as well.

[2017-09-02 18:15] tresf opened #3788 "Crossover Distortion Stuck Note"
Not sure if this is bug in the Zyn instrument or with the crossover distortion plugin but combining Zyn's `Cormi_Sound/Ghost Whistle` with the LADSPA swh Crossover Distortion effect seems to play a note forever.  Crossover settings for reference:

![screen shot 2017-09-02 at 2 13 45 pm](https://user-images.githubusercontent.com/6345473/29997735-247ecf80-8fe9-11e7-80a2-3f43450c6a92.png)

[2017-09-02 18:42] gi0e5b06 commented on #3785
Anyone can try on Ubuntu 16.10?
Also could you try again with a copy of sample renamed bug3785.wav?
That's said, I'm quite sure it is OS-specific.

[2017-09-02 18:48] gi0e5b06 commented on #3682
Having use both, the sidebar on the right is a lot more confortable and practical.
Anyway, we could argue for years but that's just 5-7 lines of code to add the option. So let's just implement it and move on. And by the way, the best technical solution is the one used by Qt Designer (I think the sidebars are floatable toolbars you can move around).

[2017-09-03 06:25] PhysSong commented on #3788
@tresf Can you provide an example project file? I can't reproduce with these steps.

[2017-09-03 07:27] PhysSong commented on #3663
The code reads value from wrong indexes.
https://github.com/LMMS/lmms/blob/v1.2.0-rc3/plugins/vibed/vibrating_string.h#L133
Here -1 is missing :/

[2017-09-03 07:40] PhysSong commented on #3663
This is the reason `i = 0` when the FPE occurs...

[2017-09-03 11:09] gi0e5b06 opened #3790 "Uncomplete cleaning: Controllers"
Bug: (Midi) Controllers (on the faders of the mixer) are not removed when switching to an another project

[2017-09-03 12:01] PhysSong commented on #3790
Confirmed. To reproduce:
1. Connect a MIDI controller to master FX fader.
2. Open a new or existing project.

Not only for faders, but also for tempo, time signatures, master pitch and master volume.

[2017-09-03 14:01] PhysSong commented on #3383
If the R value for sfxr is large, you will get a buzz regardless of its settings. Can be reproduced without B&B.

[2017-09-03 14:36] unfa commented on #3780
I never had problems like this with any other reverb plugin in LMMS, only with zita-reverb.
The GxZita-Rev1 Lv2 plugin that I use in Ardour didn't seem to break stuff also.
The standalone Zita-rev1 didn't ever wreck havoc on my either.

Catching this in a small project might be hard, because it's rather random/

[2017-09-03 14:37] unfa opened #3791 "Sample Track: allow sending to FX-mixer"
I really miss an option to route a Sample Track output to a channel in the FX-Mixer.

[2017-09-03 14:39] Umcaruje commented on #3791
Duplicate of #2619, #133, which are a part of #1471

@unfa please search the tracker before posting so we avoid duplicate issues.

[2017-09-03 14:39] #3791 closed

[2017-09-03 14:44] unfa commented on #3791
Oh, sorry - I messed up :(

[2017-09-03 16:38] gi0e5b06 commented on #3785
@musikBear in lmms/samples/

[2017-09-03 19:40] Sawuare opened #3792 "LMMS usually crashes when opening specific folders via file dialogs."
LMMS **usually** crashes when I open a specific folder via file dialogs.
The crash happened with all file dialogs in LMMS but didn't happen with any in FL Studio.

_An example where I open a folder normally then open the one that causes the crash_:
![folder opening bug](https://user-images.githubusercontent.com/25503477/30005991-70be2b48-90f7-11e7-81ba-3f2a3007f698.gif)

The folder that caused the

[2017-09-04 04:00] tresf commented on #3792
I've seen this before and I think this is correct.

However... I don't believe LMMS is crashing.  I believe you're getting impatient and doing a force-close.  If you wait and don't interrupt the operations with clicking "close" does it eventually become responsive?  If you use another Qt application such as Qt Linguist does it still occur?

[2017-09-04 07:57] ImirTournevis opened #3793 "Missing folder when trying to start LMMS a second time (Qtcore4.dll)"
When I first downloaded LMMS, it started as normal, but the next time I wanted, a folder was missing (name is "Qtcore4.dll"). It advised me to redownload LMMS, what I have done.

But that has restarted. The first time it works, but the second time the folder (always the same btw) is missing. So I checked in the folders of LMMS ans I CAN FIND IT. WTF? I can find the folder it tells me it's missing,

[2017-09-04 09:51] Sawuare commented on #3792
I tested opening the same folder again and waiting:
* First test: after hibernating the system, the window does not become unresponsive, but the folder is opened after 1 minute and 12 seconds.
* Second test: after the first test, the folder is opened almost immediately.

I think this a caching issue, because the startup time also increases noticably when starting after hibernating the system.

I d

[2017-09-04 14:09] musikBear commented on #3792
I have seen this, and it is indeed indexing. I noticed that it was your folder *'Download* -i bet you have zips in that :)
I believe it is zipped folders, that causes this -there may even be some unzipping to temporary folders going on

[2017-09-04 15:38] Spekular commented on #3792
If musikbear is correct, this may be relevant:
https://www.howtogeek.com/howto/windows-vista/prevent-explorer-from-freezing-with-large-zip-files-on-vista/

On Sep 4, 2017 16:09, "musikBear" <notifications@github.com> wrote:

[2017-09-04 15:41] Sawuare commented on #3792
I don't have any zipped folders in "Downloads" or "Setups & downloaders".

[2017-09-04 15:46] tresf commented on #3792
It's free and easy to install and would help point at the cause (e.g. possibly not our bug).  Please consider testing with another Qt application's File Open dialog.

[2017-09-04 17:13] Sawuare commented on #3792
I downloaded QT Linguist from http://www.softpedia.com/get/Others/Home-Education/Qt-Linguist.shtml and tested the open file dialog a couple of times, it opened the same folder immediately.

[2017-09-05 10:38] Snakezer commented on #2745
@tresf @Umcaruje A kickstarter can be marketed easily,by making a promotional video which discusses new features for the future and the working prototypes for those ideas.The 1.2.0 RC's can also be shown with some new demo's to market the campaign.

[2017-09-05 10:45] Snakezer commented on #2745
@tresf @Umcaruje As for the goals of the project,it could be to add features such as #2616 and #1911 and also add new instruments or #2689.The general goal however could just be to "accelerate development".This is what Krita did with their first kickstarter (https://www.kickstarter.com/projects/krita/krita-open-source-digital-painting-accelerate-deve?ref=nav_search).The prices and timelines have t

[2017-09-05 10:56] Snakezer commented on #2745
@tresf @Umcaruje The kick-backs to pledges could be as simple as ready-to run builds from alpha milestones such as 1.3.0 or some extra preset packs or even samples.(The presets can really be contributed by anyone,as long as they are good quality). Youtubers such as @cubician can also be asked to make some extra paid tutorials for pledges and other users who would pay.However,this would incur colla

[2017-09-05 11:01] Snakezer commented on #2745
@tresf @Umcaruje The cross-training can also be mostly avoided if @ghost's comment on better docs for developers is followed on with.This would make it very easy for new developers (paid or volunteers) to understand the LMMS codebase.

[2017-09-05 13:05] tresf commented on #3793
This is generally a sign that the software was still in memory when installation occurred or that your drive has corrupted the files needed by LMMS.

The fact that it works the first time only is suggestive that something is corrupt.

Please do the following which will correct both problems:

1. Reboot
2. Uninstall LMMS
3. Run a scandisk on the computer (requires reboot)
4. Reinstall LMMS

[2017-09-05 14:34] musikBear commented on #3793
In addition to what tresf said -do remember to get rid of the LMMS-config-file:
read: https://lmms.io/wiki/index.php?title=LMMS_Settings#Problems_with_Settings

[2017-09-05 14:37] tresf commented on #3793
@musikBear thanks.  That helps with LMMS problems in general, but the `.dll` missing can only occur if `lmms.exe` is having problems loading.  Nothing inside the config file points to `QtCore4.dll` (plugins, yes -- some of them, Qt, no). :)

[2017-09-05 16:48] tresf commented on #3788
@PhysSong are you reproducing with RC3?  This may have been fixed with a recent patch.  Can reproduce right away on Windows RC3 as well.

[2017-09-06 01:45] cubician commented on #2745
I'd be willing to contribute extra videos for and LMMS crowdfuning project like @Snakezer suggested. I'm also going to be doing some official LMMS channel videos as well once the EQ is released in a stable build.

[2017-09-06 08:57] #3663 closed

[2017-09-06 10:39] softrabbit commented on #3754
First off, the way something is "supposed to" behave is in this case largely defined by how an actual OPL2 chip would behave in the same circumstances. This instrument is based on emulation code, after all, and those who dabble in that area take things seriously enough to decapsulate chips and analyzing them under microscopes to get every 1 and 0 right.

That being said, it could be that the chip

[2017-09-06 11:03] PhysSong commented on #3775
That function is there because notes should be resized when the tempo changes. However, it shouldn't change `m_totalFramesPlayed`. Instead of this, **left frames** should be recalculated.
There are some exceptions, like notes from MIDI input or arpeggio sub-notes(if tempo-sync is disabled, at least). Creating a new variable `m_shouldBeResized` may be handy, in my opinion.

[2017-09-06 13:37] Snakezer commented on #2745
@cubician Thanks. I have been watching your videos for a while and they are awesome.It really helped me start out.

[2017-09-06 13:43] Snakezer commented on #2745
I am writing a sort of action plan here for any crowdfunding project:-
-Somebody needs to write the documentation for the LMMS Architecture page (https://github.com/LMMS/lmms/wiki/LMMS-Architecture).

-Somebody needs to be a mentor to any developers who come from crowdfunding support or train somebody to be a mentor.
-The crowdfunding developers could write comments in the code and work on new fea

[2017-09-06 13:50] tresf commented on #2745
@Snakezer If you're going to start triaging this, the admins can either continually edit the original post or we can supercede this with a bug report that you're maintaining.

The two things you've mentioned that isn't in the original post I believe are 1. fixing the architecture page and 2. in-code commenting.

[2017-09-06 14:02] Snakezer commented on #2745
@tresf I can maintain a bug report,if I am given one.

[2017-09-06 16:59] tresf commented on #2745
@Snakezer just make a new one, we'll crosslink. 👍

[2017-09-06 18:16] Snakezer opened #3794 "LMMS Crowdfunding Project"
After having a discussion and proposing an idea in #2745 and on the LMMS Discord Server.I have decided to open up a issue for the proposal.
The proposal requires the following things,to be executed properly:-

- Developers who understand the core codebase to write documentation on the developer wiki.Specially,the architecture page(https://github.com/LMMS/lmms/wiki/LMMS-Architecture).
(@PhysSong ha

[2017-09-06 18:20] Snakezer commented on #2745
@tresf @Umcaruje The issue is open and online.(#3794).

[2017-09-07 04:59] PhysSong opened #3795 "Song editor mode is changed permanently with Ctrl key(master branch)"
To reproduce:
1. Set the song editior to draw mode.
2. Press Ctrl key, in order to change to select mode(temporarily).
3. Click any other subwindows(ex. piano roll, bb editor, etc.)
4. Release Ctrl.

Now the song editor is in the select mode, which is undesirable. Note that it isn't there in 1.2 branch, since this behavior was introduced in #3649, which was merged into `master` branch.

[2017-09-07 05:03] PhysSong commented on #3795
Tagging @BaraMGB as the author of that PR.

[2017-09-07 07:32] BaraMGB commented on #3795
Thank you. I will look into this.

[2017-09-07 12:29] irrenhaus3 commented on #3741
@gi0e5b06 If you have a clean solution to the problem, please follow these steps:
* Create a new git branch in your fork, based on this repo's stable-1.2 branch
* Implement your solution on that branch
* Create a new Pull Request of your branch into stable-1.2 of this repo.

There are no size restrictions on PRs, although complex or large changes may take longer to review. See also: https://github

[2017-09-07 14:38] musikBear commented on #3794
imo a guarantee of not selling of commercializing the project is a prerequist before this future project 2.0? is initiated -Maybe just one of my typicals annoying self-obvious mehehs, but i have seen Gamemaker go that way down the drain, even after promises given! So i have prios belly-punching in the history of open and free software!

[2017-09-07 14:46] tresf commented on #3794
@musikBear Commercializing LMMS isn't on the roadmap currently, so let's try to keep speculation aside of @Snakezer's thread so that he can use this to triage concrete steps towards a campaign.

Crowdfunding and commercializing are two quite separate tasks.  If LMMS were to go commercial, it would certainly stir a lot of commotion but it would also require a good business plan.  Crowdfunding is a

[2017-09-07 15:13] musikBear commented on #3795
duplicate of piano-roll situation:
Sti2end made a list over problem with icon-hangs/ changes here
https://github.com/LMMS/lmms/issues/906#issuecomment-48371989
Dont know if the issue is the same, but maby ?

[2017-09-07 15:37] fundamental commented on #3794
Don't forget taxes on the crowdfunding list. If you hit the point of receiving (non-trivial amounts of) money through one person and paying multiple other people in different countries taxes (and organizational status) become rather complex.

[2017-09-07 15:48] tresf commented on #3794
@fundamental unless you're talking about officers receiving company funds in several countries, as far as I understand the US makes it pretty simply.  [Hired work is simply a company expense](https://money.stackexchange.com/a/35658).  The tax burden is on the recipient, not on the organization.

[2017-09-07 18:23] gumbo-cms commented on #2101
I've just installed v1.1.3 from dnf in Fedora and I've only got drumsynth for samples,,,, Can I at least get a hold of the built-in samples somewhere so I can install them manually? thx

[2017-09-07 18:28] tresf commented on #2101
This is off-topic.  We do have a support channel on Discord that you can seek out troubleshooting help.  https://discord.gg/3sc5su7

[2017-09-07 18:34] tresf commented on #2101
@gumbo-cms and yes to answer the question for others finding this on Google, if you `git clone https://github.com/lmms/lmms` you can pull them from the `data` folder.  Please direct further questions to our `#support` channel on Discord.  https://discord.gg/3sc5su7

[2017-09-07 18:56] gumbo-cms commented on #2101
thx a lot tresf, that's just what I was looking for!

[2017-09-08 00:33] PhysSong commented on #3790
In my opinion, every midi controller connection should be disconnected when new project is loading.

[2017-09-08 15:08] Sawuare opened #3797 "Support various behaviors when increasing sample length after drawing a waveform in BitInvader"
To re-produce:
1. Load a default BitInvader.
2. Decrease the sample length (e.g., to `64`).
3. Draw a waveform or click any waveform button (e.g., sine wave button).
4. Increase the sample length (e.g., to `128`).

The odd behavior:
![image](https://user-images.githubusercontent.com/25503477/30217720-b0926088-94bf-11e7-8d73-dfbfbe1dcc1a.png)

The expected behavior:
![capture20170908175912396](http

[2017-09-08 21:09] unfa opened #3799 "Improving effect plugin selector dialog"
I often would like to be able to manage a list or favourite plugins, - I could find what I need much faster this way.

Maybe there are some other cool things that could be done there like a tab that tracks what plugins do I add most often and give me quick access to those aswell:

![image](https://user-images.githubusercontent.com/491704/30231303-96cce6ac-94ea-11e7-8ee6-aa4980795f1a.png)
![image](

[2017-09-08 21:14] #1183 closed

[2017-09-08 21:14] #1468 closed

[2017-09-08 21:14] #2157 closed

[2017-09-08 21:14] #2784 closed

[2017-09-08 21:14] #3274 closed

[2017-09-08 22:55] BaraMGB commented on #3799
I would like to see all plugins in a browser in our left sidebar.

[2017-09-09 00:43] miketurn commented on #3794
test

[2017-09-09 01:22] miketurn commented on #3794
Obviously this proposal is in its beginning stages so I don't expect these questions to have answers, but I have a couple of questions.  (Also keep in mind that I don't know a ton about crowdfunding)

1.) Will the crowd funding go just towards larger projects that involve complete new coding, or will it also go towards things such as minor updates / bug fixes?

2A.) Does this crowd funding mean th

[2017-09-09 01:34] miketurn commented on #3794
6.) What about items that will benefit LMMS but don't get the funding raised?
Will need something put into place so that small little fixes / updates don't get overlooked, due to limited/no funding.

[2017-09-09 03:03] budislav commented on #3799
@BaraMGB I made this mockup long time ago as a part of single window.
![ladspa](https://user-images.githubusercontent.com/3619927/30236534-053af24c-951c-11e7-954a-db4df23e2825.png)

[2017-09-09 04:44] tresf commented on #3794
The campaign, --  if formed -- must outline this.  No campaign has been formed at this time.   You're jumping the gun.

2B.) If so what if many people work on a project together?
2C.) What about other people (non-coders) involved such as the person who comes up the idea and or request / person who creates graphics / etc?

Stop.  The campaign defines goals.  Who gets paid is subjective to the perso

[2017-09-09 04:57] tresf commented on #3794
To elaborate a bit.... What's important to remember is LMMS uses a source-code license -- GPL -- that guarantees it will be open source forever.

This makes no guarantee (ever, even now) that it will be make available for download for free.  GPL protects source, not binary.  This is why free beer is different than freedom of speech and you need to know this before pitching money at anything.

In r

[2017-09-09 06:57] PhysSong commented on #3797
Introduced in #1362, from changes in `Graph.cpp`. After that PR, the waveform is preserved on resizing, but doesn't clear its invisible "tail" part on waveform change.
See [differences](https://github.com/LMMS/lmms/pull/1362/files#diff-117e2406b2d89518666fbc4b44a66e44R492) for details.

[2017-09-09 11:42] musikBear commented on #3359
A rather important thing is that this erroneous behaviour was introduced **before** @lukas-w made his 3382 read-back enhancement for automation.
It cant be the 3382 enhancement that caused this new bug.

[2017-09-09 13:11] Sawuare commented on #3787
@PhysSong Your suggestion would work if the problem is only when playing the song, but @dhulipala says it happens when adding tracks too, which is odd. 🤔

@dhulipala Are you sure this happens when adding tracks? If you are,  what track types does it happen with?
I couldn't play the file you attached.
Can you zip the project file with this behavior and attach it to your first comment? It will help

[2017-09-09 14:58] Sawuare commented on #1048
This is most likely caused by the _crossover distortion_ effect.
**When you have the effect's parameters values like this:
_Crossover amplitude_ higher than `0` and _Smoothing_ not `0` or not `1`.
After playing a sound with the effect enabled, it generates a wave (it's the first half of a square wave, but it's continuous), the higher the _Crossover amplitude_ the louder it is (there's isn't a patt

[2017-09-09 15:01] Sawuare commented on #3788
I can reproduce using Windows 10 Pro, 64-bit OS, x64-based processor with LMMS 1.2.0-rc.3.

This is caused by the _crossover distortion_ effect, but for some reason, the distorted sound generated is never ending.
Related: https://github.com/LMMS/lmms/issues/1048#issuecomment-328282376

[2017-09-09 15:07] Sawuare commented on #1048
To fix the problem, use the _DC offset remover_ effect after the _crossover distortion_ effect.

[2017-09-09 16:05] gi0e5b06 commented on #3741
@irrenhaus3 I posted the code. Feel free to go from there.

[2017-09-09 16:58] unfa commented on #3799
Would this also handle effect plugin presets?

I see the left-side browser idea as a long-term solution.

But maybe a quick and dirty Favourites tab would solve the problem for a time being before that major rehaul is going to take place?

[2017-09-09 17:32] Sawuare commented on #3148
This behavior happens when clicking the left, right, middle mouse buttons or using the scroll wheel on anything in this area, even the blank space:
![image](https://user-images.githubusercontent.com/25503477/30242350-778f0dde-959d-11e7-824d-93bc1c6e4d9c.png)

When the song is stopped, rewinding doesn't work, but fast forwarding goes to the second bar, and refuses to fast forward. @zonkmachine Is t

[2017-09-10 02:02] budislav commented on #3799
Yes just under that arrow you can open and see all presets there. This is I think how it works in A. Live. I found this to be more intuitive way. You can insert an instrument or his preset from same place quickly.

[2017-09-10 02:25] dhulipala commented on #3787
I have attached the project file.

I think I understand what the issue is now. This is an issue with MIDI tracks only.

Here is what happens:
1. Import midi track - midi has time sig of 10/4.
2. Change time sig in LMMS to 10/16.
3. Hit play - the time sig resets to whatever is in midi.

I guess this is expected behavior - and I should have my midi at the same signature as in LMMS.

[padava-01.zip]

[2017-09-10 04:10] PhysSong commented on #3787
Reproduced when playing, but can't reproduce when adding tracks. If you want to change the time signature or the tempo, you can remove song-global automations and try again.

Can you try with LMMS 1.2.0-rc3 and post the result, what happens if you add tracks with LMMS 1.2?

[2017-09-10 07:06] #3308 closed

[2017-09-10 12:41] Sawuare opened #3800 "Automations continue after the end of their TCOs."
![automations tcos bug](https://user-images.githubusercontent.com/25503477/30249122-4f90262e-963d-11e7-9e51-6cd62537fa1d.gif)

_The project file:_ [Automations TCOs bug.zip](https://github.com/LMMS/lmms/files/1290519/Automations.TCOs.bug.zip)

The automation in the GIF and the project automates the volume of BitInvader.
Automation TCO 1 is the same as 2, but 1 is shortened.
Automation TCO 1 behave

[2017-09-10 13:20] PhysSong commented on #3800
Related: #3382, #662.

[2017-09-10 13:39] musikBear commented on #3799
I generally like the idea. but it is on the other hand not something i have missed. The current token-search is very efficient, so in some respect, this would be a luxurious feature

[2017-09-10 13:43] musikBear commented on #3787
.. but added tracks would be influenced just as the ones that are in the midi. If you change the BPM it will also reset. That is the nature of MIDI-files
*Remove-global-automation* **is** the solution

[2017-09-10 13:51] musikBear commented on #3800
Confirm win32 RC3
Could be related to the smart addition of setting automation value according to play-head pos - eg #3382

[2017-09-10 14:08] tresf commented on #3799
I can confirm with @unfa that I spend a bit of time searching for the right plugin and then setting the right presets and often find myself using a similar stack of presets when achieving a particular sound.  Recent and favorite would be nice.  (Never a fan of "favorite", personally, but similar concept).

[2017-09-10 16:31] sv1it opened #3801 "receive mute"
From time to time when returning from transmit to receive the receive audio is muted and I need to restart the mchf. Any ideas?

[2017-09-10 17:30] miketurn commented on #3794
@tresf
Thank you for your responses, like I said in the beginning of my post I understand that this concept is in the beginning stages, so I was not expecting full abosolute accurate answers, but again thank you for touching upon each topic, this was helpful.

My post was getting lengthy so I tried to limit the specifics my question #4 about the C++ developers contained.  I imagined that QT5 was b

[2017-09-10 20:24] softrabbit commented on #3756
I believe one important question here is **which audio output system are you using**? Is it sdl, portaudio, sndio...?

[2017-09-10 21:27] tresf commented on #3794
Qt is C++, which really has no limits as a programming language in regards to DSP and hardware performance.

If a port to mobile happens, there may need to be some other languages, but Qt is a C++ API, not a language and it is a very well developed and supported language and is used for much more complicated tasks than processing audio (e.g. see VirtualBox)

[2017-09-11 03:27] Lars-mcHF opened #3802 "Can it be possible to save a frequency and the DSP, BW and other relavent settings to be opened up later?"

[2017-09-11 03:33] Lars-mcHF commented on #3802
During operation of the mcHF radio it would be nice to find really good setting and then come back to them at a later time. This can also be seen as a good way to test different settings to eliminate noise, QRM or other settings that affect the audio. Save the frequency and the settings that go along with it and make changes to the settings and then compare to see if it is better or not better.

[2017-09-11 03:37] Lars-mcHF commented on #3802
I am not sure this is where or how to use this web site, and I see this is not the place where I want my question asked, I am looking for the MCHF group.

[2017-09-11 04:02] zonkmachine commented on #3802
This is't it. We're coding a music studio here. :wink:

The closest I could find was these accounts:
https://github.com/imoldovavan/mcHF-SDR
https://github.com/df8oe/UHSDR

http://www.m0nka.co.uk/?page_id=2

[2017-09-11 04:02] #3802 closed

[2017-09-11 04:08] zonkmachine commented on #3802
According to [this description](https://github.com/df8oe/UHSDR/wiki#the-mchf), [This yahoo group](https://uk.groups.yahoo.com/neo/groups/M0NKA-mcHF/info) is where the development is made.

[2017-09-11 10:24] PhysSong commented on #3379
It occurs when the tco index of the pattern is not greater than the number of BB tracks. I think this is a part of #1947.

[2017-09-11 10:35] PhysSong commented on #1947
This bug can be fixed easily by not setting BB track for play handles from instrument track(and/or sample track) not in BB track container. I will open a pull request soon.

[2017-09-11 13:07] Umcaruje commented on #3801
Sorry, this is the issue tracker for an open source DAW, not mchf. Quoting @zonkmachine:

[2017-09-11 13:07] #3801 closed

[2017-09-11 13:12] sv1it commented on #3801
Sorry

From: Umcaruje [mailto:notifications@github.com]
Sent: Δευτέρα, 11 Σεπτεμβρίου 2017 4:07 μμ
To: LMMS/lmms
Cc: sv1it; Author
Subject: Re: [LMMS/lmms] receive mute (#3801)

Sorry, this is the issue tracker for an open source DAW, not mchf. Quoting @zonkmachine <https://github.com/zonkmachine> :

I am looking for the MCHF group.

This isn't it. We're coding a music studio here. 😉

The closest

[2017-09-11 13:27] PhysSong commented on #493
#3776 have fixed various VST-related hangs/deadlocks and it will be included in rc4, which will be likely to be released very soon. @musikBear Can you test it with rc4 once it is released?

[2017-09-11 13:50] irrenhaus3 commented on #2633
Since no linux reports came in so far, let me assist. I'm not a particularly heavy-duty user, but since coming across this issue, I've been paying attention to the behavior of 1.2, especially upon exit. I haven't experienced any crashes in regular usage (without a MIDI controller in use). Quitting the program after letting it sit idle for a while works fine, as does quitting during playback of a 1

[2017-09-11 14:02] tresf commented on #2633
@irrenhaus3 that's a good theory however as the creator of this bug report and a Mac user, I can confirm this still happens rather frequently and Mac doesn't support VST yet.

Since the crash logs specify `AudioDummy` this may be related to rendering actually.  I will post an updated crashlog the next time this happens.

[2017-09-11 14:23] musikBear commented on #493
@PhysSong Yes, i can test win 32, just make a '-@' with my name, if/ when you have a binary

[2017-09-11 15:42] tresf commented on #493
`-@musikBear` here you are https://github.com/tresf/lmms/releases/download/v1.2.0-rc4/lmms-1.2.0-rc3.49-win32.exe

[2017-09-11 16:07] Spekular commented on #3787
I don't think it's intuitive for an imported midi file to lock the tempo
with no indication though. Global automations certainly ought to be visible
and I'd argue that perhaps importing BPM from MIDI should be optional.

On Sep 10, 2017 15:43, "musikBear" <notifications@github.com> wrote:

[2017-09-11 16:09] Spekular commented on #3799
Personally the biggest improvement for me would be for the search field to
grab focus so I can open Add FX and immediately type, or perhaps scroll to
plugins starting with *X* when typing outside the search field.

On Sep 10, 2017 16:08, "Tres Finocchiaro" <notifications@github.com> wrote:

[2017-09-11 21:47] Lars-mcHF commented on #3802
thank you for closing

my mistake

i did find the right group

                       n_n

On Sep 10, 2017 9:02 PM, "Oskar Wallgren" <notifications@github.com> wrote:

[2017-09-12 00:13] PhysSong commented on #3268
#3632 should fix this. :+1:

[2017-09-12 03:33] DomClark commented on #493
I've tested this with the latest stable-1.2; Kairatune still fails to load, but LMMS doesn't hang anymore. I expect this is due to this passing `true` to `waitForMessage` in [`VstPlugin::loadChunk`](https://github.com/LMMS/lmms/commit/fe98a9aa431c1e463d698ece014c60bb99693196#diff-bc8b9fa441040182dbed68fd51f78bb4R643), so LMMS notices that RemoteVstPlugin has crashed and stops waiting on a reply. I

[2017-09-12 04:36] tresf commented on #2633
Crash logs from 1.2.0-rc3
[code]

[2017-09-12 13:44] musikBear commented on #3787
I remember we have agreed on *removing* global-automation completely. Its a bad feature, and should be killed. The discussion has already been done once..

[2017-09-12 14:13] musikBear commented on #493
@tresf  -Thanks i will test those on the *"Not-working"* List, and the *BlueCat-FX-collection*

[2017-09-12 16:35] musikBear commented on #493
Tried once more after a reboot, and now it installs
Should ofcause have rebooted before install 🤡

[2017-09-12 17:06] DomClark commented on #493
The issue is in [`RemoteVstPlugin::loadChunkFromFile`](https://github.com/LMMS/lmms/blob/7429cb8155238dbc839bac45d6400740bb63e72d/plugins/vst_base/RemoteVstPlugin.cpp#L1386).

Currently, this tries to allocate memory for the chunk by calling `pluginDispatch( 23, 0, 0, &chunk )` (23 is the opcode for getting a chunk from the VST plugin). If this memory is not large enough, the method allocates memo

[2017-09-12 17:06] tresf commented on #493
It's `RC3.49`, exactly as named.  This is `RC3` + `49` additional commits.  `RC4` has not been released.

[2017-09-12 17:11] tresf commented on #493
My vote is we do that and monitor the impact.  We [release emergency fixes for stable releases on occasion](https://github.com/LMMS/lmms/releases/tag/v1.1.2) and if this is a breaking change, we can handle it that way.  Furthermore, if this breaks plugins, you'll have data to work with instead of a rather obscure historical commit to go from.

[2017-09-12 17:14] Sawuare commented on #1488
Let's get rid of `Ctrl + Shift  + A` and only use `Esc` for deselecting.
Much easier, faster and memorizable. 😉
This will solve https://github.com/LMMS/lmms/issues/2898#issuecomment-230683540.

[2017-09-12 17:23] musikBear commented on #493
I am happy to tell you all that RC3.49 loads and reloads **BlueCat** effects, and analytic tools.
* The presets in blue-cat can be saved
* Individual dials can be saved
* Dials can be automated over the lmms-dial-array
Tested with both BC-Flanger, and BC-FreqAnalyst
This has *never* been possible before!
I will continue testing other effects, that has been buggy, but alone being able to use the BC

[2017-09-12 17:25] tresf commented on #1488
@Sawuare can we have both?

[2017-09-12 17:38] tresf commented on #1488
Because UX doesn't have to be a one-way street.  Did you know that Firefox allows `/`, 'F3' and `Ctrl + F` to search a page because they are so commonly used in other programs?

[2017-09-12 19:59] BaraMGB commented on #3795
Closed by https://github.com/LMMS/lmms/issues/3796

[2017-09-12 19:59] #3795 closed

[2017-09-12 22:11] PhysSong commented on #493
Oops...

[2017-09-12 22:13] PhysSong commented on #3788
Now I can. :)

[2017-09-13 09:31] Sawuare opened #3806 "Cursor shape changes to double-headed after left-clicking on the left of a move grip of a track."
![bags](https://user-images.githubusercontent.com/25503477/30369682-fe166d2e-987d-11e7-9d8e-c6f5a96b7a8b.gif)

• Can happen in both song editor and beat+bassline editor.
• Only happens when the editor's window is maximized.
• The cursor returns to it's normal shape after crossing the border of the editor, or after left or right clicking anywhere except on the left of a move grip of a track.

I thi

[2017-09-13 10:05] Sawuare opened #3807 "Window title in title bar blinks after adjusting specific knobs related to time or speed."
![title bar](https://user-images.githubusercontent.com/25503477/34035842-5b231cce-e194-11e7-8c53-0caa0e9a1524.png)
After adjusting specific knobs related to time or speed, like ARPEGGIO's `TIME` and LFO's `SPD`, the window title in the title bar (underlined in the image above) blinks.

Unfortunately, my GIF recorder wasn't able to catch the blinking. 😅

[2017-09-13 23:09] #2384 closed

[2017-09-14 05:35] PhysSong commented on #3797
Before we fix this, we should discuss what is the desired behavior. I think the second picture is what the BitInvader supposed to behave. Since the second behavior was in 1.1 and there were no related bug reports as far as I know. And, current behavior is very weird. :-1:
However someone might think other waveform(such as two periods of sine wave) should be there. So we need to discuss.

[2017-09-14 13:29] musikBear commented on #3797
@PhysSong -Yes, periodic repeats would imo be the solution to go for. The reason would be, that *perfect* periodic repeats are very difficult to draw manually, whereas a simple strait line (img 2) is very easy to make manually, so imo: let the computer do the difficult thing.

[2017-09-15 14:00] #2616 closed

[2017-09-16 01:21] tresf commented on #2633
Ok... I was having a hard time reproducing this until I closed it from the taskbar.  Perhaps this sheds some light.  Closing it from the "X" in the upper left wasn't causing the crash to occur.

`lldb` backtrace available:

[code]

[2017-09-16 13:28] musikBear opened #3810 "Hardcoded Path in project-files"
I wonder why lmms has hardcoded path information in project-files. The reason is a forum-user that has bought a new pc.
His former pc was quite weirdly partitioned -dont ask why, i dont know
But he had a folder structure
`D:/a/b/c/d/`
And then a folder with soundfonts
*That* was his default sf path, and the one he had in his *lmms settings*
So ~200 projects had this information in each project:
[c

[2017-09-17 17:33] lukas-w commented on #2633
I also get this backtrace occasionally. The `QHash` instance is probably the one in `embed.cpp`.

[code]

[2017-09-18 09:33] unfa opened #3811 "Improve Equalizer plugin's RTA dB range"
The analyzer in the built-in Equalizer plugin is very nice - but it has a very limited loudness range. I often have to crank my sounds just to be able to see the peaks on the spectrum analyser.

As a quick fix I'd propose changing the lowest visible dB level to -60 dBFS (instead of current -16 or so).
The next step would be making the dB range adjustable by the user.

What do you think?

[2017-09-18 09:58] flynn16 commented on #3558
Using the script above, I am able to build LMMS with Qt 5.9 and make a working AppImage. `ldd` complained that `libjasper.so.1` (a Qt 5.9 dependency) was not found. I simple ran
[code]
and after that the AppImage built successfully.

![LMMS AppImage](https://user-images.githubusercontent.com/22479257/30536951-76122ac8-9c9a-11e7-9952-4d68142b2ad3.png)

I thought the GUI of LMMS would scale when com

[2017-09-18 09:59] PhysSong commented on #3811
Duplicate of #3624

[2017-09-18 09:59] #3811 closed

[2017-09-18 13:21] tresf commented on #3558
Why are the dev libraries needed?  How would Qt otherwise run without it?  Generally speaking, the `dev` libraries shouldn't be needed for runtime loading, but rather for linking against when building (and we're not building Qt).

We can bundle this library too, but `linuxdeployqt` should handle that, especially considering it's a Qt dependency.  @probonopd is the maintainer of `linuxdeployqt`.

@

[2017-09-18 13:24] tresf commented on #3558
Ok, it looks like the `libjasper` issue is a duplicate of upstream bug report https://github.com/probonopd/linuxdeployqt/issues/109.

[2017-09-18 13:54] flynn16 commented on #3558
I added [that line](https://stackoverflow.com/questions/20464814/changing-dpi-scaling-size-of-display-make-qt-applications-font-size-get-rendere#36058882) to `gui/GuiApplication.cpp`. I compiled a LMMS AppImage with Qt 5.9. Then I set an environment variable:
[code]
The beautiful GUI showed up. (Ubuntu 16.04)
![Properly scaled GUI](https://user-images.githubusercontent.com/22479257/30545319-d1dd8d

[2017-09-18 14:24] flynn16 commented on #2510
Added 1 line to source code, compiled LMMS with Qt 5.9, set an environment variable, and boom:

![HiDPI](https://user-images.githubusercontent.com/22479257/30545319-d1dd8d0e-9cbb-11e7-9c42-93454497605a.png)

(See [#3558](https://github.com/LMMS/lmms/issues/3558#issuecomment-330228987))

[2017-09-18 14:26] flynn16 commented on #2510
Please note that you need at least Qt 5.6 to use `Qt.AA_EnableHighDpiScaling` and `QT_AUTO_SCREEN_SCALE_FACTOR`

[2017-09-18 17:44] unfa opened #3812 "Bar numbers in Piano Roll alignment is misleading"
Hey!

I got used to bar numbers being displayed over the middle of a bar, and in 1.2 RC3 they are shown near the left border - I miss the spot all the time because of this change.

I guess this was a rather A E S T H E T I C change, but it's actually affecting my productivity in a negative way.

![selection_024](https://user-images.githubusercontent.com/491704/30555958-81a6d6ae-9ca9-11e7-80b6-a1dc

[2017-09-18 17:47] Spekular commented on #3812
Same thing here.

[2017-09-18 18:18] gi0e5b06 commented on #3812
Make it an option. (left, center, right).
Personnally I prefer to have them on the right but that's probably not the best for every one
![bars_pos](https://user-images.githubusercontent.com/30031949/30557437-8b33dce4-9cae-11e7-9c7a-a0c327e6e957.jpg)
.

[2017-09-18 18:38] tresf commented on #2510
@flynn16 currently, we pass environmental variables to LMMS here: [`cmake/linux/lmms.desktop#L11`](https://github.com/LMMS/lmms/blob/stable-1.2/cmake/linux/lmms.desktop#L11).  Would you be willing to create a Pull Request with this feature enabled?  We'll also need to add it to our [`AppImage` desktop file](https://github.com/LMMS/lmms/pull/3688/files#diff-5b07d65c1f1bdd29f324c363c12c9c9bR109) as

[2017-09-18 18:57] tresf commented on #3812
Whatever makes sense is what we should default it to.  If a handful of musicians can come to an agreement, we us that.  Another option is to provide an override in the theme file, but we don't normally do this for alignment.  A sane default is what we need.

[2017-09-18 19:02] tresf commented on #2510
@flynn16 thanks for the information, we'll get this added for the next release candidate.

[2017-09-19 14:34] flynn16 commented on #2510
Tres is looking for Mac testers. If you have a Mac computer with a Retina display, you can subscribe to #3814.

[2017-09-19 15:01] musikBear commented on #3812
opinions wanted?..
Im fine with left-most or center.
Rightmost seams to be weird to me.
Fls has them leftmost, as do pro-tools..
@Umcaruje -How does bitwig place them?

[2017-09-19 15:17] zonkmachine commented on #3812
I think to the left is most common and a good default.

[2017-09-19 16:19] Umcaruje commented on #3812
On the left side:
![image](https://user-images.githubusercontent.com/6282045/30603155-f41d7a5e-9d66-11e7-9f4e-a58f76d871ec.png)

 I can't say I've had an issue with this when using either LMMS or Bitwig.

[2017-09-19 16:56] tresf commented on #3812
* @zonkmachine says "I think to the left is most common and a good default"
* @Umcaruje says "On the left side [...] I can't say I've had an issue with this"
* @musikBear says "Fls has them leftmost, as do pro-tools [...] Im fine with left-most or center.

BTW, Hydrogen is left-most as well.   Sorry @unfa, you'll just have to get used to this.

[2017-09-19 16:56] #3812 closed

[2017-09-20 17:19] tresf commented on #2510
@flynn16 thanks for the work on this.  I've updated the original bug report to reflect our progress on this feature.

[2017-09-20 18:40] gi0e5b06 commented on #3812
That's why LMMS is going nowhere.
Important stuff is discarded just to avoid adding three lines of code...

[2017-09-20 18:48] tresf commented on #3812
Please don't confuse consensus with avoidance.  I had gotten used to the old too, but progressive change is good.  We're coding to the standards -- not the old habbits -- which should be encouraged, not discouraged.

Please keep arguments objective.  Regression happens when subjective arguments get in the way of objective ones. <3

[2017-09-20 19:15] Fighter19 commented on #326
I was going to post a bug report when I found that it's in fact this issue (To me it still persists):
Version 1.1.3 (Ubuntu 17.04)

When changing notes, FreeBoy often emits a noise, even though all channels except for Channel 2 are muted.

![noise](https://user-images.githubusercontent.com/1475802/30661988-ebbef736-9e45-11e7-8bff-cb085b4d5282.png)

The picture above shows, how it should look like

[2017-09-20 19:33] tresf commented on #3812
@gi0e5b06 if you have a particular theme in mind that will suffer as a result of this change, we'll take the feature back in a CSS-property update, but the software would default to the left moving forward and UI decisions will be based with that assumption in mind.

[2017-09-20 20:30] musikBear commented on #3247
win32
Sadly in RC3-49 zynAddSubFX crashes again, if  *show-gui* is pressed. This happens for both old existing presets, and new from *Instruments*
Iow: The bug has been re-introduced between 27 jun, and RC3-49

[2017-09-20 22:00] #493 closed

[2017-09-21 11:23] PhysSong opened #3816 "FM or heavy PM in TripleOscillator makes outputs odd for some target waveforms"
Step to reproduce:
1. Add a TripleOscillator.
2. Set Osc 1 waveform to one of triangle/saw/moog saw/exponential.
3. Set Osc1 + Osc2 to FM.
4. Peak amplitude is larger than one without FM(Osc2 and Osc3 volume is zero).

Example: [oscbug.mmp.zip](https://github.com/LMMS/lmms/files/1320928/oscbug.mmp.zip)

[2017-09-21 11:29] PhysSong commented on #3816
I think it is an issue of `Oscillator` class.
Most of other instrument don't behave like our 3osc does.

[2017-09-21 12:23] PhysSong opened #3817 "Adding a new native (sidechain) compressor"
LMMS currently have various native effects such as EQ, Reverb, Delay, and so on. However, There are no native compressors/limiters in LMMS.
And sidechaining is not easy, since it requires peak controllers(and external sidechain compressors for better quality of output), so it can't be done with just one effect in effect chain. If a native plugin supports it, it would be much easier than now.
Imple

[2017-09-21 13:29] Umcaruje commented on #3817
we could implement an audio send plugin/controller that would handle sending the sidechain signal to the compressor.

I really agree with the idea of a native compressor, because it would allow for visual feedback when compressing, I find this very crucial when using other software

[2017-09-21 13:40] tresf commented on #3817
Agreed.

It's going to get tricky to handle the various scenarios that the mixer can already do.  Perhaps for starters we just make a wizard that assumes 1 channel compresses 1 other channels and links the peak controller to the effect wet/dry (**cough** #3262, **cough**).  Side-chaining -- although common for mixing can really be exploited for so many other purposes, but reinventing what the mixe

[2017-09-21 13:48] musikBear commented on #3816
Could this be related to the 3oc problem here?
#2047
As written here https://github.com/LMMS/lmms/issues/2047#issuecomment-277440706
The fix had to be omitted, because of #3292.
A follow up question would be: Should 3oc be changed? What about backward issues?
I think this issue could be compared to FLs 3oc versus the Wasp. Wasp is in essence a 3oc too, so imho it would not be completely crazy to h

[2017-09-21 14:06] musikBear commented on #3817
what are your opinion on the way FLs handles 'sidechaining' ?
They draw a graph for the volume-output in the whole bar
It opens for any creative form of output and are not at all related to what happens in other mixer-channels. -Or is that not proper sidechaining at all?
Beside that- 👍 for a native compressor

[2017-09-21 14:39] tresf commented on #3817
Right, this is less of a side-chaining display and more of an "effective effects filter" display.  We really need a spectrum analyser for all effects.  This is just a place where it becomes pressing because the real-time display is needed for adjusting levels.

I currently do this with an EQ now, but it only shows the after, not the before vs. the after, like most compressor UIs would.

[2017-09-22 19:31] killjoyrekt opened #3819 "some vsts do not open after saving them"
I just tried to use the orion sound module and everytime that i use it, it works fine until i save and open the project again, this crashes lmms and makes it unresponsive. After i force quit the application, a popup says that the instrument failed to load (it says maize sampler player) also, anything made with maize sampler player doesnt work and reacts the same way as the orion sound module. pls

[2017-09-22 19:36] tresf commented on #3819
@killjoyrekt thanks for the bug report.  This is most likely a duplicate of #3776 or #3805 (#1008, #1183, #3274).  These patches will be made available in the next beta version, 1.2.0-RC4.  We'll post an update on Facebook as soon as it's released.

I'm going to mark this as duplicate.  Please ask us to reopen it if RC4 does not fix your issue.

[2017-09-22 19:36] #3819 closed

[2017-09-22 23:56] mendomusic commented on #2384
Thanks to everyone who made this happen!

[2017-09-23 17:10] Texxiliator opened #3821 "LcdSpinBox Inconsistency with "4""
If you edited/looked at the custom Lmms numbers you would notice the the "4" is by 1 pixel off unlike the others :
![image](https://user-images.githubusercontent.com/29334338/30775361-405bd0ae-a092-11e7-9bce-a6cf06c2d58a.png)

I know its 1 pixel but it still looks weird. Here is how it should look like :
![image](https://user-images.githubusercontent.com/29334338/30775372-76fa29bc-a092-11e7-9373-7

[2017-09-23 17:13] tresf commented on #3821
@Texxiliator this should be patched for all versions of our LCD.  If you submit a pull request, we'd happily accept it.  https://github.com/LMMS/lmms/tree/stable-1.2/data/themes/default

[2017-09-23 17:15] BaraMGB commented on #3821
Can you please provide a pull request for the correct png?

[2017-09-23 17:36] Texxiliator commented on #3821
Ok
But what is the pink lcd used for? @tresf

[2017-09-23 18:08] tresf commented on #3821
@Texxiliator I don't believe the others are being used by the codebase, but until we [pull support for them](https://github.com/LMMS/lmms/blob/32f07ac317b42dda42a1d00b0a3b1fa1feef0655/src/gui/widgets/LcdWidget.cpp#L273) we should keep them consistant.

[2017-09-23 21:30] musikBear commented on #3781
Of cause you already knows this, but in case you do not..
The only thing that is missing for the connection to re-established, is the `objectID`
Here is the xml for only a automation TCO
[code]
If i simply copy the objectID into the second block, like this
[code]
The TCO get the curve shape back, and works on the automated control
`<object id= />` is for some reason, not copied when a automation T

[2017-09-24 06:26] PhysSong opened #3822 "TCOs in BB editor are draggable since #3649"
Steps to reproduce:
1. Create a new project.
2. Open BB editor.
3. Add TCOs by any possible ways(put notes, add automation track or sample track, etc.)
4. Try to drag them.

Note that this behavior is only in `master` branch.
@BaraMGB

[2017-09-24 07:18] Texxiliator commented on #3821
@tresf We could also rename the lcd_19pink.png to lcd_19purple.png since thats the actual color. Or we could change it a little bit to be more pink and use it for SF2 Player.

[2017-09-24 10:27] unfa opened #3823 "Some system icons are invisible on the gray background in file selection dialog"
I'm runnning Linux Mint 18.2 with KDE 5 with  dark system theme.

File selection dialog in LMMS 1.2 RC3 looks like this:

![selection_033](https://user-images.githubusercontent.com/491704/30781651-6e3093fc-a123-11e7-8b27-a75be873b56b.png)

As you can see on the top the icons have a color so close to the button's background that it's hard to locate the "Up one level" / "cd .." button.

I'm not sure

[2017-09-24 12:21] musikBear commented on #3823
I agree
In windows the icons are not invisible, but they are tiny, and the image is not possible to see. The tool-tip is needed

[2017-09-24 12:37] tresf commented on #3823
Duplicate of https://github.com/LMMS/lmms/issues/3362 I believe.

[2017-09-24 13:45] BaraMGB commented on #3822
I'll have a look.

[2017-09-24 16:31] Fighter19 opened #3824 "FreeBoy creating noise"
I was going to post a bug report when I found that it might be related to this issue:
~~Version 1.1.3 (Ubuntu  @17.04)~~
Also with the newest build from master.

When changing notes, FreeBoy often emits a noise, even though all channels except for Channel 2 are muted.

![noise](https://user-images.githubusercontent.com/1475802/30661988-ebbef736-9e45-11e7-8bff-cb085b4d5282.png)

The picture above s

[2017-09-25 09:38] gdd71 opened #3825 "Bug on Gigasampler Player 100% CPU"
This is confirmed by another user
Test used in project "RGD Kit 5.gig" sample link + Video demo:
https://drive.google.com/file/d/0B8RY2vt8PBm8NV9qN3Y2LU0tRUU/view
All info in LSP:
https://lmms.io/lsp/?action=show&file=11446
Tested in RC3 latest code and older RC3 versions also.

[2017-09-25 13:24] Texxiliator commented on #3825
You might just have a weak PC. I remember saying you couldnt play some lsp lmms project since it also was 100% but for me it was fine.

[2017-09-25 14:05] gdd71 commented on #3825
This is not weak PC - Read info in LSP! High quality SF2 samples work fine, Any GIG not.
You can see in the video how it gets, gradual accumulation in CPU load to full blocking.

[2017-09-25 14:44] musikBear commented on #3824
I believe its because channel 2 is FOR adding noise, so channel 2 simply *ned* to be muted, if noise is unwanted

[2017-09-25 16:25] musikBear opened #3827 "record notes fail"
win32
RC3-49
Recording notes into piano-roll can fail in RC3-49
![failkeyrecord](https://user-images.githubusercontent.com/6662066/30819164-2af85fec-a21e-11e7-8a89-438c8a207e40.gif)
I do not have a reproduceable method yet
Here is the file:
[failedRecord.txt](https://github.com/LMMS/lmms/files/1330156/failedRecord.txt)
(rename .mmp

[2017-09-25 18:31] Fighter19 commented on #3824
Channel 4 is for noise.

[2017-09-25 18:43] Fighter19 commented on #3824
I've also experimented a bit, by disabling the setting of the bass.
It seems like the waves start with a lower potential than they should,
then they get compensated towards the center. Then when a new wave starts, it interferes with the old wave, instead of replacing it.

[2017-09-25 19:18] musikBear opened #3828 "8 of lmms' default instruments will not record notes in piano-roll"
LMMS RC3 0.49  win32
To reproduce
* Insert any of the 8 instruments (list below) in a new project
* make one TCO and click either one of the record-buttons
* play some notes
No notes are recorded

These are the 8 instruments
lb303
mallets
opulenz
organic
sfxr
VST
Vibed
zasfx

[2017-09-25 19:34] tresf commented on #3828
Is #3827 a duplicate?  If so, please close it.

[2017-09-25 19:36] zonkmachine commented on #3828
I believe this was fixed in https://github.com/LMMS/lmms/pull/3803

[2017-09-25 19:41] tresf commented on #3828
@zonkmachine thanks.  @musikBear can you please carefully read #3757 and decide if it's the same problem?

[2017-09-25 20:01] oeai commented on #3677
maybe because of this?
    <message>
        <source>.fxp</source>
        <translation>.fxp</translation>
    </message>
    <message>
        <source>.FXP</source>
        <translation>.FXP</translation>
    </message>
    <message>
        <source>.FXB</source>
        <translation>.FXB</translation>
    </message>
    <message>
        <source>.fxb</source>
        <translation>.fxb</translati

[2017-09-26 08:23] oeai commented on #3677
i remember that there were the same problem with converting to ogg, when values for converting were taken from the selected string (that was also translated) and same problem happened in chinese.
what i propose is to change the code programing paradigm for example search_file_by_pattern function if there is any, so it was taken strict file extensions not from "(String_from_gui_defined_by_brackets)

[2017-09-26 13:04] musikBear commented on #3828
@tresf No, 3827 shows that the instruments that DO record, can do that apparently in *random* positions, even though the playhead moves correctly linearly over piano-roll -It is what the gif shows.
The 2 issues are not the same

[2017-09-26 16:31] michaelgregorius commented on #3825
I can confirm this problem. On my machine the CPU load also increases over time which really baffles me because if someone told me to explicitly implement such a behaviour I would have to think really hard how to accomplish this. 😉

I have also done some profiling with valgrind and got the following result (please click on the image for full size):
![3825 - valgrind adsr](https://user-images.githu

[2017-09-26 17:00] michaelgregorius commented on #3825
Here's a profiling result when replacing `ADSR::value()` with `return 1.;`:
![3825 - valgrind adsr quick return](https://user-images.githubusercontent.com/9293269/30873249-d2674e72-a2ec-11e7-998d-948259c29657.png)

In this case it's dominated by calls to `GigInstrument::play` and `GigInstrument::loadSample`.

[2017-09-26 17:04] michaelgregorius commented on #3825
Here are the full profiling results:
* [callgrind.out.10639.zip](https://github.com/LMMS/lmms/files/1334053/callgrind.out.10639.zip)
* [callgrind.out.14521.zip](https://github.com/LMMS/lmms/files/1334055/callgrind.out.14521.zip)

[2017-09-26 18:33] #3223 closed

[2017-09-27 00:58] PhysSong commented on #777
I think implementing thread safe and extendable queue will resolve this problem. However, I wonder if there would be some performance issues.
Another way is waiting until job queue isn't full and then queue the job. IDK which would be better...

[2017-09-27 03:52] PhysSong commented on #3828
This is https://github.com/LMMS/lmms/pull/3774#issuecomment-325090531, should be fixed in rc3.52

[2017-09-27 04:13] tresf commented on #3828
@PhysSong thanks for the link.  Closing as duplicate of https://github.com/LMMS/lmms/pull/3774#issuecomment-325090531.  @musikBear please request a reopen if this still exists in RC4 once released.

[2017-09-27 10:20] #3828 closed

[2017-09-27 12:50] gi0e5b06 opened #3829 "Ability to cut/join patterns in the sequencer"
It would be very useful.

[2017-09-27 12:54] gi0e5b06 opened #3830 "Post-process features when exporting"
Including:
- remove (real) silence (beginning, end)
- peak normalization (eventually other types too)

[2017-09-27 13:00] Umcaruje commented on #3829
Duplicate of #746

[2017-09-27 13:01] Umcaruje commented on #3829
Oh, ok #746 asks for this only for Piano Roll but this should be useful in all editors

[2017-09-27 14:08] gi0e5b06 commented on #3829
Notes and Patterns are two different things.

[2017-09-28 00:55] #1947 closed

[2017-09-28 00:55] #3379 closed

[2017-09-28 09:03] killjoyrekt opened #3831 "Adding a better sampler"
Hi guys I was just wondering if it would be possible to add a new better sampler that would change the pitch of the sample without changing the speed. The current one does this. Like when i want to use samples of drums with different pitch they sound slightly different in length. Hopefully this could be possible. Thanks.

[2017-09-28 09:57] lukas-w commented on #3831
Duplicate of #1734.

[2017-09-28 09:57] #3831 closed

[2017-09-28 11:25] gi0e5b06 commented on #3829
Not a duplicate at all.
Please re-open it.
@Umcaruje @tresf @lukas-w @zonkmachine @BaraMGB

[2017-09-28 11:59] Sawuare opened #3833 "Holding control then opening a window then releasing control while the window is open changes the mode."
In LMMS 1.2.-rc.3, the issue happens with the piano roll editor only.
In `master`, the issue happens with the piano roll editor and the song editor.

While holding control, the mode is changed from draw to edit, and the mode returns to edit when control is released. The issue is that after holding control then opening a window then releasing control while the window is open, the mode doesn't retur

[2017-09-28 12:38] BaraMGB commented on #3833
For song editor it should be fixed by https://github.com/LMMS/lmms/pull/3796

[2017-09-28 13:55] Z3R0C opened #3834 "zoom bug"
![bildschirmfoto vom 2017-09-28 15-17-00](https://user-images.githubusercontent.com/32363130/30969500-e4c2d830-a462-11e7-93b0-133826e76e48.png)

hi,

in every second project i get this zoom bug. if i save, close and open a project again, it can be there. thats like bingo. i have this problem with all larger projects every time.

![bildschirmfoto vom 2017-09-28 15-29-17](https://user-images.githubu

[2017-09-28 14:09] zonkmachine commented on #3834
Thanks! I believe this is a duplicate of issue https://github.com/LMMS/lmms/issues/3721.
Closing.

[2017-09-28 14:09] #3834 closed

[2017-09-28 18:19] zonkmachine commented on #3721
I had a go and this works for track height.

[code]

No. Since the date is potentially wrong and earlier tracks didn't reload saved track height anyway it's better to not upgrade. Since this is a pretty disruptive issue, if no one has a fix in the works, I think we should either revert https://github.com/LMMS/lmms/pull/3692 or I can pull the fix above at least as a temporary solution.

[2017-09-28 19:49] vktec opened #3836 "Folder tracks"
Many DAWs have folder tracks as a way to categorise other tracks. For example, the percussion section of a song could be contained within a folder which can be collapsed when not working on percussion, cleaning up the track list.

Ideally, this would work both in the Song Editor and the Beat+Bassline Editor.

[2017-09-28 19:50] Spekular commented on #3836
Duplicate of #735, I believe

On Sep 28, 2017 21:49, "Samadi van Koten" <notifications@github.com> wrote:

[2017-09-28 19:52] vktec opened #3838 "Multi-monitor support"
When working with multiple monitors, it's really nice to be able to have one window on each monitor. For example, when working with Ardour, I tend to have the main window open on one monitor and the mixer on the other.

This is more of a wish for the future than anything else, since I don't expect it will be easy to separate LMMS' single-window interface into multiple bits, but I thought it would

[2017-09-28 19:53] vktec commented on #3836
Oops. Subscribed to that instead. Thanks!

[2017-09-28 19:53] #3836 closed

[2017-09-28 19:54] vktec commented on #3836
This is why we need isaacs/github#253...

[2017-09-28 19:59] lukas-w commented on #3838
We already have an issue for this, so I'm closing this is a duplicate of #1259. Also, see #3532 for a PR that tries to improve the situation. It'll probably make it into 1.3.

[2017-09-28 19:59] #3838 closed

[2017-09-28 20:03] vktec commented on #3838
Excellent! Thanks @lukas-w.

[2017-09-29 15:33] zonkmachine commented on #3721
https://github.com/LMMS/lmms/pull/3840

[2017-09-30 13:25] Sawuare opened #3842 "Opening a project with LB302 with specific waveforms produces a noise burst."
🔊

To reproduce:
1. Load an LB302 instrument.
2. Change the waveform to one of the following underlined types:
![image](https://user-images.githubusercontent.com/25503477/31046039-63199622-a5fa-11e7-9165-9264fc174a93.png)
3. Save the project (the format of the project file doesn't matter).
4. Open the project.

_An example project file:_ [LB302 noise burst.zip](https://github.com/LMMS/lmms/files/1

[2017-09-30 14:25] zonkmachine commented on #3842
This is there already in 1.0.3 .

[2017-09-30 14:51] Umcaruje commented on #3207
I can confirm this still happens on the `master` branch.

[2017-09-30 18:26] zonkmachine commented on #3800
As @musikBear points out this is from #3382. It's by design. @tresf Right?

[2017-09-30 18:51] zonkmachine commented on #3544
Isn't this a duplicate of https://github.com/LMMS/lmms/issues/1947 which was closed in https://github.com/LMMS/lmms/pull/3804 ?
@PhysSong

[2017-09-30 18:54] Umcaruje commented on #3800
@zonkmachine I'm pretty sure that this is a bug, because the value should stay from the last value of the automation clip, not from the values that are hidden. @lukas-w do you agree?

[2017-09-30 19:29] zonkmachine commented on #3800
Right. Now I got it. It's a bug, sorry.

[2017-09-30 19:51] mamins1376 commented on #3544
It's fixed on stable-1.2 but it behaves a little odd when you mute the BnB while it's playing (from BnB, not piano-roll). actually the last note which was playing will last until it's ending. is this desired?

[2017-09-30 19:52] lukas-w commented on #3800
Definitely a bug.

[2017-09-30 21:01] zonkmachine commented on #3544
When I mute the BBTrack in the Song Editor and there is a note on it's like turning off the envelope.

Nope.

[2017-09-30 21:08] michaelgregorius commented on #3842
@Sawuare, this should be fixed with #3844.

[2017-10-01 03:20] PhysSong commented on #3689
We may add something like this in the LFO controller class, in order to reset a flanger's LFO:
https://github.com/LMMS/lmms/blob/e5db27542b3b05fe0b0cbdfe277f1ad187cf48d0/src/core/LfoController.cpp#L61-L62

[2017-10-01 05:09] zonkmachine commented on #3544
Right. I had another go at bisecting this. As it turns out there was a related mute issue with single tracks in a bbtrack. https://github.com/LMMS/lmms/issues/1512, which was closed in https://github.com/LMMS/lmms/commit/146577d34b32ed04a426a223eb55a053d214028f by @grejppi

[2017-10-01 09:54] michaelgregorius commented on #3842
Closed with the merge of #3844 into `master`.

[2017-10-01 09:54] #3842 closed

[2017-10-01 11:16] PhysSong commented on #3544
I can explain the reason.
Short answer: mute from track blocks sound, mute from BB blocks note on.

Long answer: `AudioPort::doProcessing()` tests whether related objects(including tracks) is muted, and block sounds if it is muted.
However, mute from BB is handled in `BBTrack::play()`. If a BB track is muted, it doesn't call subtracks' `play()` function. In such situations, it blocks adding notes

[2017-10-01 11:53] Sawuare commented on #3797
Periodically repeating a wave is just increasing its frequency/pitch...
IMO, this is useless, as there is already a pitch parameter

Drawing a straight line at a level of zero (silence) is hard.

IMO, adding silence when increasing sample length is the best behavior.

[2017-10-01 20:16] ycollet opened #3846 "Some headers are not checked by cmake"
Under linux, the following headers are not checked by the cmake script:
pulse/pulseaudio.h
vorbis/codec.h

Tested after a fresh install of fedora 26.

[2017-10-02 12:18] oeai opened #3847 "VST changes preset value on load"
i'm not sure if this bugs vst, vestige or sound core
when i open in windows my vst that is bound to hardware i hear very different sound, it's not the same as i hear in another DAW with ASIO support (not WDM or else).
i didn't mention if it asks me to save preset, if yes then it changes, i'll test it.
is there some kind of save latest config for vst? and if it tries to apply, then this can lead to

[2017-10-02 12:29] Sawuare opened #3848 "Holding a note while an instrument is not in focus then getting LMMS out of focus holds the note until closing the instrument."
To reproduce:
1. Open an instrument.
2. Load an effect in the effect chain and open its controls and focus it.
3. Hold a note using the keyboard.
4. Get LMMS out of focus by minimizing its window or opening another window.
6. Release the note.

[2017-10-02 12:35] oeai commented on #3847
well, what I see is when I change presets inside of vst, values in the window of lmms managing-vst are not changing, so it is not reading from vst\preset,
only if I press vst-sync button it changes.
so if it is changing output in anyway, then those changed inside of vst params will not actually change
solution is in auto-sync depending on choosed window, since all apps opens inside of lmms-desk

[2017-10-02 12:53] zonkmachine commented on #3847
Is this on the latest lmms-1.2.0-RC4 ?

[2017-10-02 13:09] zonkmachine commented on #3848
Confirmed on both stable-1.2 and master.

[2017-10-02 15:23] zonkmachine opened #3850 "Improve debug info"
We could include some more debugging info to the **About** window. Either in a separate tab or in the first about tab.

This is how FreeCAD does it:

![debuginfo](https://user-images.githubusercontent.com/6368949/31084825-c515baee-a795-11e7-9bb2-d81c26074a2d.png)

Data copied to the clipboard:

[code]

[2017-10-02 15:39] Sawuare commented on #3850
The "copy to clipboard" functionality will help a lot as the version text is not selectable.

[2017-10-02 15:42] zonkmachine commented on #3850
The version text actually is selectable. Try it!

[2017-10-02 15:48] Sawuare commented on #3850
It didn't work for me. 😞

[2017-10-02 15:53] zonkmachine commented on #3850
So this perhaps doesn't work on Windows. I can either double click or right click and choose 'Select All'.

[2017-10-02 16:01] Sawuare commented on #3850
Selecting and the context menu stuff work, the issue is that there isn't a differenet background color for selected text.

For me, double-clicking selects a word, not the whole string.

[2017-10-02 16:49] musikBear commented on #3827
This issue is solved in RC4!

[2017-10-02 16:50] #3827 closed

[2017-10-02 20:53] zonkmachine commented on #3407
Can you please test the latest development release for lmms 1.2.0 .
It has a bunch of fixes for VST related issues.
https://lmms.io/download/#windows

[2017-10-02 21:12] zonkmachine commented on #2784
Can you please test the latest development release for lmms 1.2.0 and confirm if this is fixed?
https://lmms.io/download/#windows

[2017-10-02 23:04] Umcaruje commented on #3822
Closed via #3832

[2017-10-02 23:04] #3822 closed

[2017-10-02 23:06] Umcaruje commented on #3821
This should be a change in the actual svg files over on [`LMMS/artwork`](https://github.com/LMMS/artwork) as well. I'll look into this

[2017-10-02 23:51] gi0e5b06 commented on #3785
Follow up: The bug is still there on Ubuntu 17.04, Lmms 1.2rc4.

[2017-10-03 00:00] gi0e5b06 commented on #3696
Loops are now correctly saved and restored. I kept the attributes lp0pos and lp1pos for backward-compatibility with the old releases of Lmms (1.2 and before).

`
    <timeline lp0pos="3840" lpstate="1" lp1pos="4608">
      <loops>
        <loop start="0" end="768"/>
        <loop start="768" end="2304"/>
        <loop start="2304" end="3072"/>
        <loop start="3840" end="4608"/>
        <loop

[2017-10-03 07:12] piece-o-ham opened #3853 "Clicking on VST interface moves/offsets it on certain VSTs"
On at least 2 VSTs, clicking the UI moves/offsets the UI within the VST window. Below are some screenshots demonstrating this behavior with the Helm VST:

![screenshot_2017-10-03_01-48-03](https://user-images.githubusercontent.com/10082900/31113135-5a017002-a7dd-11e7-9a0d-0d081c350621.png)

This is what it looks like initially. Clicking on the VST changes it to this:

![screenshot_2017-10-03_01-48

[2017-10-03 07:26] karmux commented on #3853
I've experienced same problem with some plugins before I started to use newer implementations of VST windows in LMMS. They somehow fixed this annoying bug for me. Could you compile PR #3786 and see if it still happens? That pull request will be in 1.2 release.

[2017-10-03 07:56] piece-o-ham commented on #3853
Yep. Fixed it. Thanks.

[2017-10-03 07:59] PhysSong commented on #3544
It seems to be related to #1088, but not to the memory manager. As you can see, the PR includes some changes, which seems unrelated to the memory manager.

The second one is, but the original issue isn't. It is related to what I explained above.
Muting a BB track doesn't block sound but **does** block note on and everything in `InstrumentTrack::processAudioBuffer()`. So notes which were playing be

[2017-10-03 12:37] oeai commented on #3847
it was rc3, but i've tested rc4 just now it works the same way. and automatisation button hides all knobs for furst time, then unhides, but nothing changes on third push

[2017-10-03 13:21] musikBear commented on #3850
rc4 on windows, the tab 'About' cant be screen-captured, but all the other tabs content *can*.
There is also a clear difference between the tabs font
I love the idea, but how about a button 'Send info to clipboard', then when a user has a problem, we can simply ask him to click the button and paste the text. It should include:
* OS (+service-pack-version)
* lmms version
* hardware specification (r

[2017-10-03 13:37] Sawuare commented on #3850
@musikBear

I can screen capture the about tab, using Windows 10 Pro, 64-bit OS with LMMS 1.2.0-rc.3.

[2017-10-03 13:39] musikBear commented on #3847
@oeai you mention 'VST' so does this mean that ALL VSTs has this fail, or is this *one* specific VST
Please try one on the testetVST-list

Regarding the sync button: YES and yes! 👍  Bi-directional sync between both the VST UI and LMMS-dial-array would be marvellous, and it would fix all VST-issues emediately, because then lmms would only need to save *its own arrays values* No more nonsense with t

[2017-10-03 14:32] oeai commented on #3847
Tyrell works same way
Zebralette not reading presets to lmms at all
VST3 - no .dll, can't

[2017-10-03 16:30] Umcaruje commented on #3847
Those are both u-he vst's, does this happen with some vst's that are not
from them?

On 3 Oct 2017 16:33, "Ra" <notifications@github.com> wrote:

[2017-10-03 16:57] musikBear opened #3854 "RC4 : Export mp3 tests"
rc4 win32 xp_3
@zonkmachine - as discussed
Has tested MP3 export. Looks very good! 👍
Tests:
**Onion** -> mp3
[code]
All rendered mp3 soundfiles with excellent sound quality. Surprisingly low disk-usage.

Cancel during render: No crash. File is *saved* upto press of cancel 👍
Would like if
* user could choose *his* default export-settings
* sinc & oversampling was not shown unless it works in chosen

[2017-10-03 17:46] oeai commented on #3847
first synth was Proteus

[2017-10-03 18:06] zonkmachine commented on #3854
Please just post bugs and feature requests. Not what works. I suggest deleting everything before the second :+1:

https://github.com/LMMS/lmms/issues/678

Sinc and oversampling apply to all output formats. First you render and then the encoding is applied. I read a comment somewhere on oversampling perhaps being defunct but that's an issue of it's own.

[2017-10-03 20:28] Umcaruje commented on #3821
@RebeccaLaVie is looking into the issue.

[2017-10-03 20:38] Seedix1 opened #3855 "ZynAddSubFX resets its sound to default"
An issue in LMMS 1.2.0-rc4. When you open ZynAddSubFX and you create a sound and then close ZynAddSubFX, it resets the sound to default.
The sound resets when you click on "Show GUI" to close the GUI.

Running Windows 10/64 bit

I'm adding a video of me showing that issue: https://youtu.be/NJ4zkQKZa74

[2017-10-03 23:38] BumblingCoder opened #3856 "Code style should be enforced by tooling."
Currently the code style for LMMS is enforced only through code review. This leads to inconsistencies as reviewers miss style violations and delays when developers find out about these violations. It would be convenient to have a tool such as clang-format enforce a style so that developers didn't have to worry about it.

The current coding style is described at https://github.com/LMMS/lmms/wiki/Co

[2017-10-04 07:02] PhysSong commented on #1644
I can reproduce this for drag&drop. The steps are:
1. Drop a Zyn preset on the song editor.
2. Drop another preset(ex. `TripleOscillator/Arpeggio.xpf`).
3. Drop the preset in step 1 into the track created in step 2.
4. Compare settings of two tracks.

Since `Plugin::loadFile()` is used for Zyn presets(`.xiz` files), track-specific settings aren't reset automatically. In most of other cases, howeve

[2017-10-04 07:14] PhysSong commented on #3855
@Seedix1 Could you try this and tell me what happens?
1. Drop a ZynAddSubFX preset into song editor.
2. Play a note.
3. Open ZynAddSubFX GUI.
4. Play the same note.

If it sounds different after opening GUI, it can be a permission error or something similar.

[2017-10-04 07:53] PhysSong commented on #3800
There are some tricky things. For discrete progression, the value should stay the last value **before** the end point(the value **at** the end point shouldn't be included), while it should be the value at the end point for other progressions.
Anyway, I found that `TrackContainer::automatedValuesAt()` doesn't check automation patterns' length. We may check the length there.

[2017-10-04 08:18] gi0e5b06 commented on #3785
The sample doesn't matter but here is another version (I just changed the path of the sample).
In my config, I forgot to mention kxstudio.

[bug3785.txt](https://github.com/LMMS/lmms/files/1355036/bug3785.txt)

[2017-10-04 08:37] killjoyrekt opened #3857 "some bug with lmms"
![screenshot 31](https://user-images.githubusercontent.com/32206707/31166741-52edd710-a922-11e7-8fa5-57dc6e631b1f.png)

[2017-10-04 08:38] killjoyrekt commented on #3857
plz help cos this happens quite often

[2017-10-04 15:15] gi0e5b06 commented on #3856
https://isocpp.github.io/CppCoreGuidelines/CppCoreGuidelines

[2017-10-04 15:18] BumblingCoder commented on #3856
Did you mean to link to a specific rule or to the guidelines in general?

[2017-10-04 15:20] BumblingCoder commented on #3857
Is there a particular sequence of actions that triggers the issue? Unfortunately that error message is a generic message from the operating system that doesn't give any information to debug the issue.

[2017-10-04 15:33] musikBear commented on #3847
@oeai > device window

Wait one secd -Are you referring to the difference between selecting a VST-patch in the VST-UI, and selecting it in LMMS' UI?
It is true, LMMS will not recognize a change of patch *graphically* if it is made in the VST-UI, but it is changed *logically*, and for the VSTs in the *tested-list* the patch is saved inside the project, but the name is shown as 1. patch-option on th

[2017-10-04 15:45] Seedix1 commented on #3855
@PhysSong I did it and it sounds different after opening GUI. It resets to the default sound again.

[2017-10-04 16:51] oeai commented on #3847
@musikBear yes, i'm about that, but I don't know which UI will override another (if I save or render) because of that.

[2017-10-04 18:42] gi0e5b06 commented on #3856
Everything.

[2017-10-05 01:45] zonkmachine commented on #3342
I think I nailed this one at least but the arpeggio sync problems is a bit tricky.

[2017-10-05 02:04] PhysSong commented on #3855
It seems to be a `QTemporaryFile` issue. Does it occur if you run LMMS as administrator?

[2017-10-05 02:24] zonkmachine commented on #3855
Related? https://github.com/LMMS/lmms/issues/2854

[2017-10-05 02:51] tresf commented on #3855
We don't set permissions on files and this plugin hasn't changed.  I would advise against this advise on all platforms.  It can cause more problems with other files created.

[2017-10-05 08:33] zonkmachine opened #3859 "Instrument 'on' glitch"
On instrument tracks. If the volume is really low, as is often the case with some of the louder pluggins (3osc, bitinvader...) , there is shot noise the first time the track is switched on. When you press play the first time after loading a project or if the track was saved in a muted state, when you unmute it.

Steps to reproduce.
Default project, turn volume all the way down.
Enter one note and

[2017-10-05 10:13] PhysSong commented on #3859
Tested, it **is** related to the value buffer. Uninitialized `m_oldValue` causes that. I think it was present before 1.1, but occured very rarely. I think memory manager increased memory reuse and that's the reason of increased rate of many bugs, especially related with uninitialized variables.
https://github.com/LMMS/lmms/blob/e7e24935b35a15066c549f4634b35ffb81910226/src/core/AutomatableModel.cpp

[2017-10-05 10:25] softrabbit commented on #3825
This is a guess, based on the load increasing, but are the notes being disposed of properly? From reading the code it looks to me like a note that ends up in the `PlayingKeyUp` state won't be erased until all its samples have ended. Which I'm not sure happens every time.

[2017-10-05 10:43] PhysSong commented on #3857
If your audio backend is set to PortAudio, please try SDL instead.

[2017-10-05 17:29] musikBear commented on #3342
Good job! Over time i think it would make sense to re-furbish arpeggio. Options like in Oatmeal and Synth, where different delays on selected notes are possible, would open for amazing new sound.

Believe the arp has been bugged from day one, has always only had success with the *sorted* setting

[2017-10-05 18:01] musikBear commented on #3855
RC4 win32 xp3
@PhysSong I cant reproduce this bug.
The method-steps you advised here:
https://github.com/LMMS/lmms/issues/3855#issuecomment-334069243
i have exact the same output from Arpeggio| Arp0007
* before i open the zasfx gui
* during opening of gui
* after closing gui

Can others reproduce on win32? / win64??

[2017-10-05 18:06] musikBear commented on #3857
@killjoyrekt On forum you can find several c++ runtime solutions, but we ned to know more about your system:
please post your:
* OS (+service-pack-version)
* lmms version
* hardware specification (ram & soundcard is the most important)
* Latency setting
* lmms sound device chosen
Best on a forum help-ticket
http://lmms.io/forum/viewforum.php?f=7

[2017-10-05 19:26] zonkmachine commented on #3859
OK, cool!

I suggest you assign this to yourself and pull something... ;)

[2017-10-06 09:59] Sawuare commented on #2582
I can confirm and refute some stuff, using Windows 10 Pro, 64-bit OS, x64-based processor with LMMS 1.2.0-rc.4 using SDL.

- The buffer looping only happens with SDL.
- It happens when opening any project using any method while playing.
- It ends when the project is loaded.
- It sometimes leads to a crash.

[2017-10-06 23:34] piece-o-ham commented on #1358
Another problem with the main waveform display is that it isn't synced to whatever note is being played. This means you can't really see the waveform of an instrument since it is constantly moving. Now, obviously the main waveform display shows the waveform of all sound being played, so how could you sync it to an instrument? [Helm](http://tytel.org/helm/) has an "oscilloscope" is synced to the no

[2017-10-07 02:46] PhysSong commented on #3817
#2993 seems to be related, but a little bit different. Could we merge two issues into single issue?

[2017-10-07 03:07] PhysSong commented on #1389
@Reaper10 Various VST-related crashes are fixed in #3776, and the fix is included in 1.2.0-rc4. Could you re-test this?

[2017-10-07 03:23] PhysSong commented on #3859
A simple workaround for this: initialize `m_oldValue` in suitable positions, such as constructor and/or `loadSettings()`.

The code above is for smooth automation processing. However, non-automated changes or even uninitialized variables may generate unnecessary(and somtimes nonsense) value buffers. So I think we should fix that logic.

[2017-10-07 08:33] PhysSong commented on #3855
@Seedix1 Does your user name contain non-ASCII character? It may cause several problems.

[2017-10-07 10:21] killjoyrekt commented on #3857
th update to rc4 was better i think, it doesnt happen anymore since i updated it

[2017-10-07 10:41] Sawuare opened #3861 "Odd behaviors when renaming the master mixer channel."
Windows 10 Pro, 64-bit OS.

GUI bugs. They happen most of the time.

They are present in RC.4, but not in `master`.

- Bug 1:
To reproduce:
1. On the master mixer channel, double-click it or right-click it then select "Rename channel".
The green border of the naming box isn't there.
![image](https://user-images.githubusercontent.com/25503477/31306954-8c3968d4-ab63-11e7-943f-6991920d5578.png)
2. Cl

[2017-10-07 11:09] Seedix1 commented on #3855
@PhysSong Yes it does. In 1.1.3 ZynAddSubFX worked perfectly though.

[2017-10-07 13:41] Sawuare opened #3862 "Crash when copying audio TCOs between LMMSs."
Using Windows 10 Pro, 64-bit OS, x64-based processor with LMMS 1.2.0-rc.4.

To reproduce:
1. Open 2 LMMSs.
2. In each LMMS, add either a sample track or an AFP.
3. Add a TCO with info (not an empty sample track or AFP) to the track of a LMMS.
4. Control and drag the TCO from one LMMS's track to the other to make a copy.

Once the copied TCO enters the track, LMMS will crash, the runtime error wind

[2017-10-07 15:04] BaraMGB commented on #3861
I cannot reproduce these bugs. I have the green border by renaming. ( Windows 10, 64 bit RC4)

What I can see is: While renaming I click outside of LMMS the mixer channel looks like your second pic:

![](https://user-images.githubusercontent.com/25503477/31306963-a482cbf6-ab63-11e7-9ff1-f5917898aca3.png)

[2017-10-07 17:17] musikBear commented on #3855
@Seedix1 is your win 10 Enterprise ed. ?
There is an issue with unsigned software afaik

[2017-10-07 17:30] musikBear commented on #3862
Could not recreate *exactly* on win32. rc4 xp3
However, for** AFP **the actual TCO is *stripped* and only the instrument is copied to 2. instance of LMMS
Copying a *3oc track* with TCO went perfect
Copying a *sample-track* track with TCO went perfect

[2017-10-07 17:32] musikBear commented on #3861
win 32 rc4 -no error eg -cant reproduce

[2017-10-07 17:39] musikBear commented on #3847
@oeai imo this is only graphical, not logical. What i think is that the VSTs you have problems with, simply does not pass the 5 point test:
https://lmms.io/wiki/index.php?title=Working_with_VSTs#The_five_point_VST_test
The behaviour you describe, is also in Synth1, but the chosen patch is preserved and reloaded with all user settings.
The fact that the name is not updated in LMMS ui is correct.

[2017-10-08 07:50] follower commented on #3371
A couple of additional MIDI-related example crash logs in my notes here: <http://www.labradoc.com/i/follower/p/notes-lmms#20171008>. (Seem to be different to issue fixed by <https://github.com/LMMS/lmms/pull/3655>.)

[2017-10-08 11:38] Sawuare commented on #3861
I forgot to mention my specs and that these bug happen most of the time, but not always.
Updated the original comment.

[2017-10-09 01:23] millicow opened #3863 "Crash when hitting play directly after un-muting 4+ mixer channels"
I'm not quite sure how this works or if I understand it correctly, but it's something like that. This screen recording can show it better than I can explain it: https://youtu.be/SnAo0ng14ec . (Sorry about the weird glitches showing my wallpaper. That happens sometimes when I record my screen.)

In the video when I get the project open, up until 0:50 I show how playing, stopping, playing works fine

[2017-10-09 01:50] zonkmachine commented on #3863
The mixer crashes has been fixed already. If you want to try the latest version, which is 1.2.0-rc4 ( 4th beta release ), you can either build it from source or download an AppImage from [here](https://github.com/LMMS/lmms/pull/3688).
Just download and make it executable and it should run directly from the downloads directory.

I'm closing this as fixed. Please reopen if you can replicate the bug

[2017-10-09 01:50] #3863 closed

[2017-10-09 06:45] RebeccaLaVie commented on #3821
I have created a pull request for the short term alignment fix here #3864.

Longer term, all references to the additional LCDs should be removed as the primary green color is all that is necessary.

[2017-10-09 08:11] lukas-w opened #3865 "Poor Memory Manager performance"
`MemoryManager` causes a performance regression and should be replaced by a faster algorithm or, if we fail to find/implement one, just `malloc` and `free`, which still provides better performance than the current implementation.

Here are a couple of existing lock-free allocators I found:

* ~~[Streamflow](http://people.cs.vt.edu/~scschnei/streamflow/) ([GitHub project](https://github.com/scotts/

[2017-10-09 13:07] musikBear commented on #2084
This may be related
http://lmms.io/forum/viewtopic.php?f=7&t=26365&p=49533#p49533
He cant export VSTs in correct pitch from win10 -1.1.3 64b

[2017-10-09 13:42] PhysSong commented on #3865
Though I don't have a precise benchmark result, `MemoryManager::alloc()` seems to take average >100μs per allocation(depends on how long have LMMS been run),  and it gets worse when I keep using LMMS.
IMO new memory manager doesn't strictly need to be lock-free, but it should be fast enough and guarantee suitable worst-case performance.

[2017-10-10 04:05] #3342 closed

[2017-10-10 04:08] zonkmachine commented on #3342
Fixed in #3858  #3867

[2017-10-10 06:37] gdd71 commented on #3825
RC4 testted, Windows 8.1 and Ubuntu 16.04 64bit. -> The problem is still available.
What makes an impression yet:
Load 200MB SF2 file -> RAM increases by 200MB -> Play OK
Load 500MB SF2 file -> RAM increases by 500MB -> Play OK
Load 200MB GIG file -> RAM increases by 10MB -> Play not OK
Load 500MB GIG file -> RAM increases by 10MB -> Play not OK
I do not know if it matters but GIG does not load in

[2017-10-10 15:45] Z3R0C opened #3869 "LMMS 1.2.0-rc4.113 have some trouble with csladspa in Ubuntu 17.10"
LMMS did'nt run in Ubuntu 17.10 with installed ubuntustudio-audio-plugins.

`*** Error in `/opt/zeroc-DATEN/git/lmms/build06/lmms': free(): invalid pointer: 0x00007fffffffe5b3 ***

Thread 1 "lmms" received signal SIGABRT, Aborted.
__GI_raise (sig=sig@entry=6) at ../sysdeps/unix/sysv/linux/raise.c:51
51	../sysdeps/unix/sysv/linux/raise.c: Datei oder Verzeichnis nicht gefunden.
(gdb) backtrace
#0  0

[2017-10-10 16:27] Sawuare opened #3870 "All animations except for the progress bar should be disabled during export."
Examples:
• note playing indicators.
![image](https://user-images.githubusercontent.com/25503477/31396922-4bcabbcc-aded-11e7-9cb4-7e26c73d1d3d.png)
![image](https://user-images.githubusercontent.com/25503477/31397285-44e9577c-adee-11e7-8f82-9449f64aa4f7.png)
• automated parameters (knobs, faders, etc.).
• time-line position marker.
![image](https://user-images.githubusercontent.com/25503477/313969

[2017-10-10 16:41] ghost opened #3871 "Mouse contronl on logarithmic models changes the value in linear scale"
Not all but some effects have much more value on one side then other making it hard to control.
Ill show example with : GLAME Butterworth Lowpass
Here is maximum :
![image](https://user-images.githubusercontent.com/29334338/31398602-d35a07f4-ade9-11e7-954b-4233ecfff405.png)
Here is 50% :
![image](https://user-images.githubusercontent.com/29334338/31398650-f0bf171c-ade9-11e7-9612-6f49a47b505a.png)

[2017-10-10 17:07] zonkmachine commented on #3821
Fixed in https://github.com/LMMS/lmms/pull/3864.

[2017-10-10 17:07] #3821 closed

[2017-10-10 17:11] tresf commented on #3871
@Texxiliator I think this is due to the plugin making incorrect use of the logarithmic flag.

https://github.com/LMMS/lmms/blob/32f07ac317b42dda42a1d00b0a3b1fa1feef0655/plugins/LadspaEffect/swh/butterworth_1902.c#L588-L589

See also https://github.com/LMMS/lmms/issues/293.

[2017-10-10 17:51] Seedix1 commented on #3855
@musikBear It's Windows 10 Home

[2017-10-10 20:53] michaelgregorius commented on #3825
@softrabbit You are right that it has to do with the disposal of the `GigNotes`. The problem seems to be that every note is played for 10 seconds before it is disposed of although the samples in the example that I have used only sound for a very short time because it is a drum set. I found this out by adding debugging code to the place where notes are added to the `QList` `m_notes` and where they

[2017-10-10 21:07] Spekular commented on #3870
Is there evidence that the power used isn't negligible? I don't entirely
disagree with this, but moreso from an aesthetic standpoint in that it
looks rather chaotic to have these animations play out in the background
when the export window is supposedly in focus.

On Oct 10, 2017 18:27, "Hussam Eddin Alhomsi" <notifications@github.com>
wrote:

[2017-10-10 21:18] michaelgregorius commented on #3825
I have replaced the original GIG file used in my testing (found here: https://drive.google.com/file/d/0B8RY2vt8PBm8NV9qN3Y2LU0tRUU/view) with another GIG file and cannot reproduce the problem anymore. Here's what I did:
1. Download the archive of GIG files provided here: https://musical-artifacts.com/artifacts/77/g-town-church-samples-gig.zip (source: https://musical-artifacts.com/artifacts/77).
2

[2017-10-11 00:51] tresf commented on #3870
disagree with this, but moreso from an aesthetic standpoint in that it
looks rather chaotic to have these animations play out in the background
when the export window is supposedly in focus.

Then you're arguing a moot point.  Please don't burden the devs with unnecessary benchmarks, they have enough work to do.

[2017-10-11 00:53] tresf commented on #3870
... and for the record, the UI [isn't exactly innocent](https://github.com/LMMS/lmms/issues/1932) from a performance perspective. 🍺

[2017-10-11 04:12] alextappin opened #3874 "No sound for imported wav file unless started from beginning."
Hi everyone,

I am encountering an issue where I cannot navigate the track. For example, in the photo below, when I click start, my wav file starts playing.

![image](https://user-images.githubusercontent.com/7875255/31421910-1c46ec92-adff-11e7-867b-c6b56bea90ca.png)

If I stop the track and click my mouse to like the photo below (middle of the track), when I click play, nothing plays.

![image](h

[2017-10-11 04:16] tresf commented on #3874
This is fixed in a future release. Can you try the beta?

https://lmms.io/download, scroll down to beta.

[2017-10-11 04:19] alextappin commented on #3874
For sure! I am downloading it at the moment. I will report back.

[2017-10-11 04:21] alextappin commented on #3874
Thank you for the quick response. Downloaded the beta 1.2.0-RC4 and can confirm it is working. Closing.

[2017-10-11 04:21] #3874 closed

[2017-10-11 05:25] softrabbit commented on #3871
Logarithmic is perfectly OK here. All these intervals are one octave and sound the same musically:
- 100 - 200 Hz
- 1000 - 2000 Hz
- 10000 - 20000 Hz

[2017-10-11 09:27] gdd71 commented on #3825
@michaelgregorius, "G-Town_Church_Dual_Snare_01.gig" works same as you.

Рroblem not with the GIG file.. entire collection "RGD Kit 2.3.4.5" (RGD Kit 5.gig has been submitted for testing ) and "FS-Gibson Les Paul Neck Pick-Up Electric Guitar Direct In" work great in Ardour - 20% CPU, same files in LMMS not.
...we are talking about high quality large size files
I have also tested high quality SF2 l

[2017-10-11 12:10] gdd71 commented on #3825
So.. I converted same used "RGD Kit 5.gig" file to SF2 with "Extreme Sample Converter" software.
Tested "RGD Kit 5 DRY.sf2" work great!
I clone 15 tracks worked togeder..  without video recording works fine!
Another feature that can be seen is that the high CPU load is available even with turn-off GIG plugins.
I also provide a detailed video file for more clarity (download file for better 1920x108

[2017-10-11 13:16] musikBear commented on #3855
@Seedix1 the issue here is that it is not a general fail. It must be local on your pc. What i would do was to backup all own stuff, remove lmms *completely* (including config file), and then reinstall in a folder structure *with only* ISO characters in all names and path. It would be great if you would report the result back

[2017-10-11 13:23] musikBear commented on #3870
Would a completely blanc export-screen + a percentage display, be an option?
I also want to mention the delay between apparently finished export, and when the file has been closed: eg * render-finished indication *
#3854

[2017-10-11 13:32] musikBear commented on #3871
Imo the situation often with lmms dials, are that nothing or all comes 'out' within a very short span. The issue here, is that f.i. a filter pass can be quite difficult to automate. perhaps a 1.2.x could introduce something like an 'expander' in dials context menu, making the 'functional' span fit better inside the full span of the dial.

[2017-10-11 13:38] tresf commented on #3870
Ideally, we'd lock out the UI and use a notification area.  We can also [leverage the platform-specific progress area in the dock](#3768).

[2017-10-11 13:41] tresf commented on #3768
@gi0e5b06 thanks for the link, but can you please explain how this is related to the dock area?  The system tray is a completely separate part of the desktop and also one that we do not leverage (not have we had a need to leverage).

[2017-10-11 14:34] PhysSong commented on #3855
I can confirm this bug. If I use non-ASCII username, Zyn resets sound when toggling GUI as @Seedix1 experienced.
@musikBear I think it *is* a general problem.

[2017-10-11 14:45] tresf commented on #3855
Possible duplicate of #2662, #1191.

Somewhat related because of UTF8-ness: #1998 #1325 #1933 #1995

[2017-10-11 15:28] PhysSong commented on #3855
Yes. Seems related. For Zyn(this issue) and VST(#2662), we may re-convert UTF-8 string into `QString` and somehow use that.
However, fixing the issue for samples(#1191) looks tricky since we use 3rd-party libraries (ex. `libsndfile`) which expects C-style string(or `std::string`).

[2017-10-11 16:33] tresf commented on #3855
I saw that too.  `QSTR_TO_STDSTR`, `QString::fromStdString(...)` and [this Windows logic](https://stackoverflow.com/a/4644922/3196753) should do the trick, no?

[2017-10-11 16:35] tresf commented on #3855
... actually, read the 5th comment here... https://stackoverflow.com/a/4214397/3196753.  Seems Qt5 has improved this a `toStdString()` a bit.  Platform compat may be a moot point?

[2017-10-11 17:18] michaelgregorius commented on #3825
I did some further investigations. The problem is caused in part by the file and in part by LMMS.

### The file's part
The file defines a release time of 10 seconds for the sample. This can be seen when setting a break point in the method `ADSR::ADSR` as defined in the file `GigPlayer.cpp` after the following statement:
[code]
This sets the release of the ADSR to 9.99999905 seconds. Please note th

[2017-10-11 17:58] michaelgregorius commented on #3825
There is already a test that checks if all samples have been played. It can be found on [this line](https://github.com/LMMS/lmms/blob/4d26654534a4ac136734ecc89e16e2c3be02d868/plugins/GigPlayer/GigPlayer.cpp#L383). However, it's coupled with the additional condition `it->isRelease == true` which never seems to become `true` ([line above the other one](https://github.com/LMMS/lmms/blob/4d26654534a4a

[2017-10-11 20:10] SirBothersome opened #3875 "Add Analog Channel Toggle"
This is an issue I've been meaning to post for a while. Currently, the instrument channel interface looks like this.
![channel](https://user-images.githubusercontent.com/20342439/31463962-df53ae52-ae9d-11e7-810d-f057196aaecf.PNG)

 in order to change the mixing channel of an instrument, you need to hover over the LED and scroll in the respective direction of the channel. I only discovered this fea

[2017-10-11 20:45] #3875 closed

[2017-10-11 21:01] NETMANSKY opened #3876 "Log file in LMMS"
LMMS lacks log file to trap bugs. It will help devs to fix troubles.

[2017-10-11 21:05] tresf commented on #3876
Some context https://github.com/LMMS/lmms/issues/3561#issuecomment-302405321 as to why this is so important, at least on Windows.

[2017-10-11 21:06] tresf commented on #3875
Some context, @SirBothersome closed this after talking on [Discord](https://lmms.io/chat) #support channel.  The beta of 1.2.0 has both the double-click popup which has up/down as well as right click quick assignment, so he found the bug report to be invalid.

[2017-10-11 21:12] softrabbit commented on #3870
I did some benchmarking in `ProjectRenderer::run()`. Basically the first example from this doc: http://pubs.opengroup.org/onlinepubs/009695399/functions/times.html inserted at the beginning and end.
Exhibit A is TobyDox-Psycho, available in your LMMS source tree, rendered with the windows like they come out of the box, i.e. the cursor scrolls out and there is only the master channel in the mixer.

[2017-10-11 22:34] PhysSong commented on #3855
But the problem is: Windows doesn't allow to use UTF-8 for C-style strings, due to some compatibility issues. And `QString::toLocal8Bit()` is lossy on Windows.If a filename contains

[2017-10-11 22:35] PhysSong commented on #3855
Clicked wrong button... :/

[2017-10-12 02:03] PhysSong commented on #3855
The problems are:
- `QString::toLocal8Bit()` is lossy, so it can't represent some characters(ex. `Ѭ` for english code page).
- Our `QtXmlWrapper` is used for both communication with LMMS and internal file loading/saving, so we should make sure fixing one doesn't break the other.

[2017-10-12 03:28] PhysSong commented on #3855
`QTemporaryFile` path issue also affects VST chunk loading/saving. According to [QDir documentation](http://doc.qt.io/qt-5/qdir.html#tempPath), it seem to use `TEMP` or `TMP` enviornment variable. I think we may force `QTemporaryFile` to use some appropriate path (ex. `C:\Temp`) on windows.

[2017-10-12 03:37] tresf commented on #3855
@PhysSong we should use the system value of temp.  `C:\Temp` isn't valid and we shouldn't make assumptions.  I think we just need to support UTF8 properly.

[2017-10-12 04:14] Spekular commented on #3870
Quick check of how much slower "B, gui" is when compared to "B, gui, all
editors hidden (1 run)" percentage-wise, so anyone else curious doesn't
have to take out their calculator.

Real Time:
7236/6977 = ~103.7% => ~3.7% slower

System Time:
2864/2771 = ~103.4% => ~3.4% slower

On Oct 11, 2017 23:13, "Raine M. Ekman" <notifications@github.com> wrote:

[2017-10-12 05:28] tresf commented on #3870
Wouldn't it theoretically be closer to CLI?  Hiding editors may reduce paint sequences, but the UI is still having functions and slots called.

[2017-10-12 06:16] softrabbit commented on #2662
That wasn't supposed to fix anything apart from drag & drop.

[2017-10-12 07:15] gi0e5b06 commented on #3876
Logs make every thing slow.Logs never help with bugs.
Use qWarning/qDebug when coding/testing.
Use qFatal for runtime checks (during the development phase).
Keep those statements as comments once your code is stable.

[2017-10-12 08:48] softrabbit commented on #3870
Could be. Depends on how much heavy lifting happens in those functions and slots, guess the reality is somewhere between those numbers.

I'm a bit surprised that the impact of hiding editors is that small, really. Probably another thing in need of some care and attention...

[2017-10-12 09:45] gi0e5b06 commented on #3768
@tresf Displaying progress in the taskbar is neither common nor standard. Most apps use notifications instead (often displayed in the system tray). My point was to suggest not to use anything which is not Qt.

[2017-10-12 13:23] musikBear commented on #3855
@PhysSong it general, IF user has non-ISO characters in their local installation -Thats why i asked him to remediate that.
Non-ISO chars will also hamper usage of VSTs on windows. It is however news to me, that even a *username* with non-ISO chars, can cause this 👻 ..spooky

[2017-10-12 15:28] tresf commented on #3768
The code may not (yet) be standard, but the UX is and we're talking about UX improvements.  Gnome doesn't recognize it, but [hopefully Ubuntu changes that as they switch 17.04 to gnome/wayland](https://wiki.ubuntu.com/ArtfulAardvark/ReleaseNotes).  Gnome also doesn't believe in minimize buttons, so they're the ridiculous exception, not the standard.  I digress.  We can code this and it's not a lot

[2017-10-12 15:42] tresf commented on #3876
No, it's simply not there at all.  `mconsole` is needed.  We may need to create an `lmms-console.exe` for debugging purposes.  It's a shitty limitation of the OS unfortunately.

[2017-10-12 15:42] tresf commented on #3876
For the record though, Wine has access to it, so that's what I've used historically, but it's not the same environment, so it's a crapshoot.

[2017-10-12 16:53] zonkmachine commented on #340
Closing as a duplicate of https://github.com/LMMS/lmms/issues/2606
The later issue goes into more depth.

[2017-10-12 16:53] #340 closed

[2017-10-12 17:16] zonkmachine commented on #2606
Closed #340 as a duplicate of this one.

[2017-10-12 17:21] zonkmachine commented on #2606
A simple fix would be good actually. Just for the sake of helping to trouble shoot the arpeggiator, so we can take this one out of the equation. I don't mean merging something that wastes unnecessary cpu cycles.

[2017-10-12 18:39] musikBear opened #3877 "Cant remove dial-memory pos"
rc4 win 32
recently a feature was presented, where the dial pos value before an automation was initiated, would be 'remembered' by the dial.
(cant remember / find the ticket)

Very nice, but how to get rid of the value?
I tried to make a gif illustrating the issue.
Here i
* *manually* set the dial to 100%
* then press play.

The dial will flip back to a previous tried value of 30%

![insta](https:

[2017-10-12 19:33] NickAcPT commented on #3768
I think this is a good idea, **but not for LMMS**.
In order to make this proposal into reality, the developers would need to depend on **different OS specific code**.
We, people, need to think ahead.
What if some people grouped up to port LMMS to Android/iOS devices? What if they wanted to have one source code that would produce binaries to Windows/Linux/MacOSX/Android/iOS, all in one codebase? Th

[2017-10-12 20:22] gi0e5b06 commented on #3876
@tresf Check this:
http://doc.qt.io/qt-5/qtglobal.html#qInstallMessageHandler

[2017-10-12 20:54] gi0e5b06 commented on #3768
@tresf That was a long answer :)
I was suggesting to notify the same way as when you copy files.
Anyway, what you're looking at is this:
https://code.qt.io/cgit/qt-creator/qt-creator.git/tree/src/plugins/coreplugin/progressmanager

[2017-10-12 22:21] PhysSong commented on #3877
@musikBear Could you post the affected project file?

[2017-10-12 22:34] tresf commented on #3877
@musikBear it's from https://github.com/LMMS/lmms/pull/3382.  Your automation is putting it there because you don't have any volume set prior.  Tagging @lukas-w.

[2017-10-12 22:37] tresf commented on #3768
We're [bikeshedding](https://en.wiktionary.org/wiki/bikeshedding).  Again. The obstacles to Android and iOS are far greater than a stupid progress indicator.  Sound-backend alone is already largely platform dependent as is MIDI support.  Although we appreciate articulated answer, please stop speculating, it takes away from the otherwise well thought out conversation.

@gi0e5b06 thanks for the code

[2017-10-12 22:46] tresf commented on #3876
Context please?

What I'm stating is that the console is gone in a GUI app for Windows.  You need to compile it as a console app if you want output and that console will appear until closed.  It's a limitation of the OS.  What are you suggesting?

[2017-10-12 22:47] tresf commented on #3876
@gi0e5b06 Check this:
https://stackoverflow.com/a/3370017/3196753

[2017-10-13 07:05] NickAcPT commented on #3768
Android Marshmallow introduced a MIDI API.
I still haven't searched if there is a MIDI API for iOS devices

Yeah, I know that.
When I talked about "Android and iOS with the same codebase", I was subconsciously thinking about Xamarin. In this case, the downside of Xamarin, is that you'll need to  migrate code to c#.
Also, with a small search I got to [this](https://stackoverflow.com/questions/18849

[2017-10-13 07:29] eagles051387 commented on #3768
Your iOS statement is inaccurate. In the early days iOS was objective c only now you can develop with c/c++ as well for iOS

Sent from my iPhone

[2017-10-13 08:13] softrabbit commented on #3768
Also, with a small search I got to this question on StackOverflow that talks about using C++ code on Xamarin.

Qt should cover those two mobile OSes, see http://doc.qt.io/qt-5/supported-platforms.html

[2017-10-13 09:42] softrabbit commented on #3870
I made some quick changes: stopped emitting the `periodicupdate` signal in `MainWindow::timerEvent`, which turned off the mixer VU meters and the position counter updating. Then added a fast exit to `SongEditor::updatePosition` and `TimeLineWidget::updatePosition` to stop the playhead from moving in the song editor. Next up was not emitting `newNote` in `InstrumentTrack::processOutEvent` which sto

[2017-10-13 12:51] musikBear commented on #2582
im *so* confused.. *opening a project while playing.*
Playing *what*? Another project?
Are using *two* instances the case ?

[2017-10-13 13:13] Sawuare commented on #2582
Are using two instances the case ?

Playing audio (e.g., song editor) in the currently opened project, then opening another project.
I'm using one instance.

[2017-10-13 15:14] budislav commented on #2582
I can also confirm that sound in 1.1.3. when one project is opened and song is playing, then if you open another project from browser and I think from file folder but don't stop music it will produce that annoying sound. This is on windows 10 but I think on Linux also.

[2017-10-13 15:44] gi0e5b06 commented on #3876
Good enough for Windows.

[code]

[2017-10-13 16:20] gi0e5b06 commented on #3696
Some new automatable buttons, midi-mappable to the pads (for example).
When playing, the pads let you choose the next loop.
When editing, jump at the beginning of the selected loop.
Green is the current loop, blue the next one, red the other available ones.
![loops-mapping](https://user-images.githubusercontent.com/30031949/31555912-2064fa76-b043-11e7-9244-d5e8f365b443.jpg)

[2017-10-13 16:34] tresf commented on #3876
So logging is only a performance problem when it affects the system you use?

[2017-10-13 17:13] tresf commented on #3768
👍

Thanks for joining the discussion. :)  Thanks for the information, that's useful if we ever port to mobile.  Let's not minimize the effort though, please.  This run-on conversation started when it was suggest we do NOT use platform specific code for a particular feature due to the impact it would have on other OSs, specifically mobile OSs.

Although we'd garner a bunch of happy users if we port

[2017-10-13 18:45] gi0e5b06 commented on #3876
Writing to a file is faster than writing to the console.
Not really needed for Linux because every user knows 2>&1 1>/dev/null

[2017-10-13 18:54] tresf commented on #3876
Please explain or stop contradicting yourself.  Logs are standard in large applications.  If logs are needed for support, they're helpful, regardless of the system.  If they drag down the software, they should do it to all platforms equally.   Perhaps we disable them by default but these blanket statements are unnecessarily provocative.  Please spend more time explaining and less time dropping con

[2017-10-13 19:36] gi0e5b06 commented on #3876
I write code, not books ;)
No contradiction: doing nothing is faster than writing to a file, which is faster than writing to the console.

I'm not aware of any large desktop application writing logs, and if there is, I don't know where these logs and I never ever looked at them. If anyone is using an other DAW, I would be interested to see what their logs look like.

[2017-10-13 19:47] gi0e5b06 opened #3879 "Crash on 1-tick loops"
LMMS crashes on playing 1-tick loops, but 2-ticks loops are fine.
(rc4 master alsa)
[memory20171013.zip](https://github.com/LMMS/lmms/files/1383828/memory20171013.zip)

[2017-10-13 19:57] qnebra commented on #3879
In my case lmms holds this 1-tick loop fine, very glitchy but no crash at all. But I have compiled version with merged bunch of PRs.

[2017-10-13 20:23] gi0e5b06 commented on #3879
You tried the new file? If yes, then that means it is not a logical mistake...
(btw, which OS and audio?)
Not an out of memory mistake.
Maybe a memory mistake (Segmentation fault (core dumped)) thread-related?
For me, it is not glitchy (cpu usage is low because only the instruments that don't use a lot of cpu are active) but it crashes after half a second. No problem with the 2-tick loop.

[2017-10-13 20:54] qnebra commented on #3879
I tried this one you provide in first post of this thread.
(Ubuntu 17.10, lmms use SDL2)

[2017-10-13 21:08] gdd71 commented on #3825
Test File check info:
Real.Giga.Drums.GIGA-DELiRiUM by Best Service
http://www.bestservice.de
Release Type ...  GIGA
                         Format       ...  Bin / Cue
                         Release Date ...  01-19-2002
                         Release Size ...
                                           CD1: 19 x 15mb
                                           CD2: 23 x 15mb

[2017-10-14 01:17] zonkmachine opened #3880 "Arpeggiator overhaul"
Some issues with the arpeggiator and the note sorting algorithms.

If you play an arpeggio over one note only things generally work fine. There is the issue with occasionally dropped notes but if you use the function to skip notes and only arpeggiate over one note at a time, there is a chance that you will experience not a single glitch. If however you choose to arpeggiate over a chord, then you w

[2017-10-14 08:42] Spekular commented on #3880
Feature Request: Ability to convert an arpeggio played by the arp function to notes in piano roll.

[2017-10-14 09:15] zonkmachine commented on #3880
Added.

[2017-10-14 09:46] gi0e5b06 commented on #3879
I tried the other audio drivers, same problem.
I run it under gdb and it doesn't crash.
It seems @PhysSong has the same problem (or at least it looks like) #3881 (8th comment).

[2017-10-14 13:51] musikBear commented on #2582
Aa.. that would be expected, resources are being off'ed and at the same time new being fetched. Imo opening a different project at the same time one is playing, is not 'normal' user behaviour. I cant remember any program, that uses avi features, that can do that, but a simple ghost-press on *stop* if user chooses to press either the speedbar-icon or the file option *open*, will remediate this -rig

[2017-10-14 13:54] musikBear commented on #3696
this -in a way, also has functionality as bookmarks 👍

[2017-10-14 14:00] musikBear commented on #3880
Feature Request:
Allow notes to have different delay effects in the arpeggio. This is known from f.i. Oatmeal and Synth1 and is awesome

[2017-10-14 14:07] musikBear commented on #3880
How about the other way around -Eg building a pattern in piano-roll, including different note-length, pos, and velosity, and have that pattern exported to midi/ xml, and have arpeggiator able to import these *arp-templates* (partly known from FLs, but there is no edit-tool i know of)

[2017-10-14 18:01] Sawuare commented on #2582
It's normal, but not common.

• FL Studio using the `FL Studio ASIO` audio device: stops currently playing audio (not playlist/pattern), and when the project is opened, it starts playing the playlist/pattern.
• FL Studio using the `ASIO4ALL v2` audio device: has the same issue as the one here.

This is definitely an audio device/interface issue.

[2017-10-14 19:28] softrabbit commented on #3865
I have a benchmark. Using the code in #3882 I exported the same file from the GUI using the default export settings, first with `MemoryManager`:
[code]
See the slowdown on each successive run? Then a version using malloc & free instead:
[code]
I was so sure that my malloc/free hacking had left out something important that I listened to the exported wav file but no, it was fine... using MemoryManag

[2017-10-15 04:19] PhysSong commented on #3859
The code above is for interpolating automations, but it is applied even for non-automated changes. This part needs some works.

[2017-10-15 09:45] PhysSong commented on #3855
@Seedix1 Could you set your `Tmp` and/or `TEMP` environment variable to a path without non-ASCII characters and test if it works?

[2017-10-15 12:08] PhysSong commented on #3879
I got a crash and the backtrace looks like one in #777. If there are no evidences which show this isn't #777, this should be closed as a duplicate.

[2017-10-15 12:14] PhysSong commented on #3871
Well, there are "Set linear"/"Set logarithmic" in context menus. If you don't like log scale, you may set that to linear.

`<off-topic>`
You might know, but 1.2 is on a feature freeze. New features are targeted to `master` branch.
If we do something known as "rolling release", however, you may use new features before 1.3 rc.
`</off-topic>`

[2017-10-15 12:18] PhysSong commented on #3877
#3382 is for positions after automation patterns. I can't reproduce this.
@musikBear Without looking affected project file, we can't provide any solutions now.

[2017-10-15 12:32] PhysSong commented on #3879
You may want to take a look at #2539.

[2017-10-15 12:50] PhysSong commented on #2606
Good idea. I think we may apply this for whole `ThreadablJob`s, including FX channels.

Looks not so good, but not too bad. Sounds better than double processing at least.

[2017-10-15 12:55] zonkmachine commented on #2606
I meant this just to help trouble shoot the arpeggiator. For now at least if it's noticeably wasteful with cpu cycles.

[2017-10-15 12:59] PhysSong commented on #2606
And I have one more solution:

4. Add something into `NotePlayHandle` to check whether it is processing(or have processed) or not.

[2017-10-15 14:50] zonkmachine commented on #3880
As in delaying the note, like shuffle,  varying the amount of signal to a delay unit?

There is something called groove templates which are midi snippets that you can use to force the timing on a track. Ps. Did you see this PR https://github.com/LMMS/lmms/pull/3117 ? Check out the last video at the [bottom post](https://github.com/LMMS/lmms/pull/3117#issuecomment-279137755).

[2017-10-15 17:51] zonkmachine commented on #2606
I added this:   `qDebug() <<  "cnphv.size(): " <<  cnphv.size();` after
https://github.com/LMMS/lmms/blob/2d583db990385506bff7020f4b4109976af5835f/src/core/InstrumentFunctions.cpp#L355

Playing 3 note chords in a loop I got some instances that got the count wrong. This was pretty much expected. I think the issues we see in the arpeggiator mostly relates to https://github.com/LMMS/lmms/issues/2606.

[2017-10-15 19:52] lukas-w commented on #3877
Agreed. #3382 shouldn't cause this.

[2017-10-15 20:34] RebeccaLaVie commented on #3651
I've already put some thought into this issue.

There are enough colors being used in the song editor grid that finding a combination with enough contrast is very difficult. Changing the marked notes to black as @musikBear mentioned does seem to help (1), but I'm afraid, not enough.

![27430194-ebdab614-5747-11e7-835d-ac8777767256](https://user-images.githubusercontent.com/7960169/31588839-a772756

[2017-10-16 08:56] PhysSong commented on #3705
`stable-1.2` doesn't seems to support wineHQ, while `master` does.
@LMMS/developers Could we backport #3278 and #3708?

[2017-10-16 09:03] karmux commented on #3705
@PhysSong Wine-Staging and Wine-Devel for `stable-1.2` is in #3688.

[2017-10-16 10:03] PhysSong commented on #3705
@karmux Thanks! I didn't konw that.

[2017-10-16 13:16] tresf commented on #3705
@PhysSong sorry for the delay merging #3688.  I was waiting on @lukas-w to help out with this comment: https://github.com/LMMS/lmms/pull/3688#issuecomment-333726469.  We can merge now and open a new issue if this makes more sense.

[2017-10-16 13:49] zonkmachine commented on #3685
Closing this as a duplicate of https://github.com/LMMS/lmms/issues/3859.

[2017-10-16 13:49] #3685 closed

[2017-10-16 13:57] zonkmachine commented on #3859
I tried both and that worked. It also fixed the buggy project in https://github.com/LMMS/lmms/issues/3685. As I don't know how to deal with `loadSettings()` properly I'm not going to PR this. When testing I just tucked `m_oldValue = 0.0f;` to the end of `loadSettings()` but that looks a bit sketchy.

[2017-10-16 14:38] musikBear commented on #3877
@PhysSong i will make a demo at home, but the behaviour is as you see in the gif, but its too fast and confusing

[2017-10-16 14:45] zonkmachine commented on #3705
It makes enough sense. That is one long issue and it's getting hard to navigate.

[2017-10-16 14:46] musikBear commented on #3651
@RebeccaLaVie Would it destroy design if marked notes used blue shades?
Green and blue usually goes well together, but then theres the issue of the color-blind. (jah i just sunk my own idea.. 🤡 )
I then vote for black i think it stands out enough, and im bat-visionary 👀

[2017-10-16 14:53] Sawuare commented on #3257
When hovering over a channel, the time that passes before the tooltip appears (**initial delay**) is less than a second. When hovering between channels, the time that must transpire before subsequent tooltip windows appear (**reshow delay**)  is instant.
I too find this to be distracting, and annoying.

We shouldn't remove the tooltips.
I think we should (if possible) bump the initial and reshow d

[2017-10-16 14:57] zonkmachine commented on #3383
Yes, I seem to have mistaken. It's not in relation to other instruments. At least I can't reproduce that.

[2017-10-16 15:06] musikBear commented on #3880
@zonkmachine wooo that vid is impressive
It is not what i talk about though. I mean *delay* like in *echo*, but infact it is the velosity that changes.
I made a tut on how to build these 'velosity'-baselines, manually -Because that is possible!
https://www.youtube.com/watch?v=i_SQdvCzhhU
In **Oatmeal** he has an array of notes that can go into a sequenser (amazing VST btw, but very confusing)
In S

[2017-10-16 15:14] #3383 closed

[2017-10-16 16:27] tresf commented on #3719
@GuessWhatBBQ sorry if I've asked this already, but can you see if the `WeakJack` implementation that's been added to https://github.com/LMMS/lmms/pull/3688 corrects this?  A download link is available in the first post.

[2017-10-16 16:41] tresf opened #3886 "ZynAddSubFX can't edit preset"
A few symptoms are present in ZynAddSubFX when running from `.AppImage`.

I'm assigning @lukas-w based on my code review below.

* Zyn exports as sine-wave (originally reported by `seven#9849` on Discord [here](https://discordapp.com/channels/203559236729438208/242409373505159168?jump=367694449465098241))
* Cannot see or edit banks (reproduced here: https://github.com/LMMS/lmms/pull/3688#issuecomm

[2017-10-16 19:09] #3558 closed

[2017-10-16 19:19] tresf commented on #3705
#3688 has been merged.  The Ubuntu packaging issue isn't our problem and the OP states the AppImage fixes the linking issues.  Closing.

[2017-10-16 19:19] #3705 closed

[2017-10-16 19:33] tresf commented on #3558
AppImage support has been added to the source tree.  It can be performed by doing:

[code]

Due to the way the dependencies are bundled the install prefix currently must be something sandboxed, e.g. `$HOME/lmms/target`.  It will fail if the default `/usr/` location is used.

Also, this PR doesn't not handle automatic uploads of the AppImage packages.  @probonopd has recommended we use a service su

[2017-10-16 19:46] mitsoss opened #3888 "audio problem"
I change my audio interface from dummy to port audio, I press okay but then it becomes dummy again. I 've tried restartin etc. but nothing happens. Check it if you can and thank you in advance

[2017-10-16 19:59] Umcaruje commented on #3888
Set your audio interface to SDL

[2017-10-16 19:59] #3888 closed

[2017-10-16 20:09] #3857 closed

[2017-10-16 20:17] mitsoss commented on #3888
It doesn't work even when i set it to SDL

[2017-10-16 20:18] mitsoss commented on #3888
actually sometimes it works, sometimes it doesn't

[2017-10-16 20:18] Umcaruje commented on #3888
Can you hop over to our discord server at https://lmms.io/chat and go to #support

[2017-10-16 20:29] gi0e5b06 opened #3890 "-o - doesn't work"
`-r project.mmp -o -` should send the output to stdout.
Now it writes a file named `-.wav`

[2017-10-16 22:01] zonkmachine commented on #3880
Got it! Trying it out now and it grooves. Actually, I'm pretty sure #3117 can produce this already.

[2017-10-16 23:55] PhysSong commented on #3890
It is correct according to LMMS manpage. AFAIK there's no reason `-o -` should mean "output to stdout". For example, `gcc` generates a file named `-` if `-o -` is given.
If one needs render to standard output, adding `--stdout` can be an solution.

[2017-10-17 00:31] PhysSong commented on #2047
I found something was wrong in #3145: `m_ext_phaseOffset` is `const double &`, but some plugins still pass `float` variable to the constructor. If I change them to `double`, that works great and #3292 doesn't occur anymore.

[2017-10-17 03:24] tresf commented on #3890
Agreed.  `--render|-r`  outputs a single file whereas `--rendertracks` outputs several files.  I assume we'd want to support both.  I also don't have a problem with keeping `-o -` as @gi0e5b06 suggests.  @gi0e5b06 can you provide us a few command line applications that use this `-` flag for enabling `stdout`?

[2017-10-17 03:35] tresf commented on #3876
I know several desktop applications that write logs and they usually live within the user's home directory (e.g. `APPDATA` on Windows, `~/Library/Application Support` on MacOS and `~/.<folder>` on Linux).  Since none of these applications are DAWs, I'm not sure how relevant they are in a performance conversation (and I've never bench marked).

In regards to how many DAWs use logs... I don't know a

[2017-10-17 03:58] tresf commented on #3890
Found it... https://stackoverflow.com/a/3797806/3196753.

[2017-10-17 04:23] tresf commented on #3890
This looks like it will be some refactoring...

* `AudioFileDevice` interface [assumes we pass in a `QString` pointing to the output file](https://github.com/LMMS/lmms/blob/08201c202494c25ab8a151c98118dfa0359500e6/include/AudioFileDevice.h#L39) and the actual underlying device is doing the IO.  This means we'd need a special constructor to bypass physical file writing or use redundant logic in eac

[2017-10-17 06:02] Spekular commented on #3257
IIRC 300ms is the appropriate delay.

On Oct 16, 2017 16:54, "Hussam Eddin Alhomsi" <notifications@github.com>
wrote:

[2017-10-17 07:53] zonkmachine commented on #3859
Initializing m_oldValue in the constructor gave me a clearly reproducible NaN with one of my projects. Just keeping the one in loadSettings() still works though.

[2017-10-17 07:59] NETMANSKY commented on #3876
Gentlemen!
Calm down. I've been watching this debate from the start, but did not interfere with technical specialists. Without a doubt, that the log output to a file is preferable and will make the easy access of users to tech support. Another question is how will **logically structured information in the file**. Here should seriously consider the format and semantics of the output of technical in

[2017-10-17 09:10] PhysSong commented on #3859
I'm testing this for `setInitValue()`, seems to be work fine. After some tests and consideration for more situations, I'll create a PR. :)

[2017-10-17 10:04] zonkmachine commented on #3859
Yes, I was getting another bug. Backed some 20 commits and it was working again. :man_dancing:

[2017-10-17 15:04] lukas-w commented on #3886
The fix appears to be fine. :+1:

A couple of notes though:

* I can't create a new bank with or without this patch. An error dialog pops up saying

    The error text appears truncated (can't make a screenshot due to a VirtualBox bug)
* `workingDir()` should return a proper path, so I think the first change is unnecessary.
* This is not your fault, but the use of `QDir::separator()` is incorrect.

[2017-10-17 15:04] michaelgregorius commented on #3876
Regarding that "logs make everything slow": if we decided to use logging we must make sure to never put it into any code that's potentially executed from the audio thread anyway. So it would likely only end up in glue code and GUI related code where a few nanoseconds shouldn't matter. However, with the current code base where the distinction between realtime and non-realtime code is not made imple

[2017-10-17 15:05] musikBear commented on #3886
Just FYI(win32 xp3
 rc3 crashed when zasfx UI was opened, but rc4 does *not*

nb deepest setting AbstrSine will still crash zasfx, but *not* lmms!
After this component-crash the zasfx instrument *only* need to be refreshed with a new preset, and it works again, so in fact the only thing that does crash, is the actual *zasfx-internal preset!*
Imo, that point at zasfx-dev. eg a *not our bug* situati

[2017-10-17 15:09] musikBear commented on #3880
@zonkmachine

[2017-10-17 15:21] musikBear commented on #3257
Still the tooltip thing is inferior to #3239

[2017-10-17 17:59] tresf commented on #3886
@lukas-w how do you want to proceed with this?  I can patch Zyn in this one area as a stop-gap, but I feel a full review of #1719 may be more proper, and this review is not something I'm prepared to make.

[2017-10-17 18:40] lukas-w commented on #3886
Well as long as we don't revert #1719 we'll have to patch Zyn. I'll do that and open a PR in a minute.

There could be other places that were broken by #1719, potentially all places where non-Qt functions are used to access "data:" paths. We could see if we can find any more of them by searching for uses of `ConfigManager` functions such as `factoryPresetsDir()`.

[2017-10-17 19:26] michaelgregorius commented on #2047
Great find @PhysSong! Please create a pull request so that we can double check for #3292.

[2017-10-17 19:29] michaelgregorius commented on #3721
It seems that we can close this one with the merge of #3840. @zonkmachine, @PhysSong, what do you think?

[2017-10-17 19:38] tresf commented on #3886
I did a quick check on some other plugins and can't find another offender.  For example, VSTs use some String values, but I couldn't find any use of `foo:` style paths.  Plugins seemed ok at a glance too.  We'll just open a new bug report if this surfaces somewhere else.

[2017-10-17 20:25] zonkmachine commented on #3721
I'm cool with closing this, but didn't you and @PhysSong's analysis go a bit further?
Also, there was this other comment from the https://github.com/LMMS/lmms/pull/3692#issuecomment-314916491.

We don't really know what was meant with that comment but there's this case where tracks have gone all blank and that could be interpreted as notes randomly vanishing by a user. Could this be related https:

[2017-10-17 22:55] gi0e5b06 commented on #3890
`./lmms -r ~/lmms/projects/test6.mmp -f au -o - | play -q -t au -`

Done. At least for a very first version.
That brings a lot of opportunities (streaming for example) but also a lot of possibilities (ideas for future development). It's quite late here so more info tomorrow.

[2017-10-17 23:51] PhysSong commented on #3879
@gi0e5b06 Have you got any backtrace(s)? If so, please post it. It will help a lot.

[2017-10-17 23:56] PhysSong commented on #3694
Are there any problems with the test? Could you please explain more?

[2017-10-18 00:36] PhysSong commented on #3599
Notes are created when you click the copied pattern. https://github.com/LMMS/lmms/blob/1f903375231b296e6f3cd8abf5c9b8c47c4deae0/src/tracks/Pattern.cpp#L786
This code is done if and only if the type of the pattern is `Pattern::BeatPattern`. Since the type isn't changed after dropping, notes are added. https://github.com/LMMS/lmms/blob/1f903375231b296e6f3cd8abf5c9b8c47c4deae0/src/tracks/Pattern.cpp#

[2017-10-18 06:49] gi0e5b06 commented on #3879
Thanks @qnebra and @PhysSong, it helps a lot. It was indeed #777 (May 28, 2014).
I changed the size of the queue and it doesn't crash anymore:
MixerWorkerThread.h:
[code]
I also added this:
MixerWorkerThread::JobQueue:
[code]
I haven't had time to fix the problem but I will. It just needs a better queue.

[2017-10-18 07:16] #3879 closed

[2017-10-18 07:23] gi0e5b06 commented on #3876
We should distinguish between operation log and error log. I'm OK with logging anything that should be fixed by the user or the developper. I quite disagree on logging qInfo stuff. If your app outputs more than a few lines during a session, there is a problem.
BTW, #3865 is a fine example of what could be logged during the development phase.

@NETMANSKY Qt has qDebug, qInfo, qWarning, qCritical, q

[2017-10-18 07:27] gi0e5b06 commented on #3694
@PhysSong The buttons of (all) my hardware midi contollers generate NoteOn/NoteOff events. These events were discarded by the test so they never reach the controllers in LMMS (mute for example).

[2017-10-18 12:29] gi0e5b06 commented on #3890
@PhysSong The issue was more about support for stdout. As for -o, it is used by most programs, including lmms, for specifying the output. The most common pattern is
`[input_file [...]] [-o output_file]`
Since it is already the pattern used by lmms, I suggest __not to change__ it.
As for `"-"`, it's the usual way to represent stdin and stdout and the easiest to remember.

@tresf
- QFile can open Fi

[2017-10-18 15:02] #3865 closed

[2017-10-18 15:03] zonkmachine commented on #3775
This sounds to me like its another case where it would be easier to trouble shoot/test if https://github.com/LMMS/lmms/issues/2606 is fixed as some of the symptoms are overlapping. Dropped notes etc.

[2017-10-18 16:38] tresf commented on #3876
The ad hominem isn't tolerated, this is the first warning.  Let's keep this civil, please.

[2017-10-18 16:40] NickAcPT opened #3892 "New Controller"
My idea is to add another controller. This controller would have a knob with a custom range defined by the user.
With this, it would be possible to simulate those midi controllers with knobs. Each know would have its own id, and it could be used by any vst.

[2017-10-18 17:37] gi0e5b06 commented on #3876
@tresf warning for who? Because I'm saying exactly the same thing than you. Anyway, back to the topic:

- what exactly do you guys want to log?
- why is the Qt logging macros/framework not enough?
- why is a gdb trace is not enough?
- would a core be usefull? (Qt can generate core files)

[2017-10-18 18:23] tresf commented on #3876
For this statement: "I actually have more experience than you".

Agreed, we're all saying the same thing objectively, so let's move on.

My thoughts...

From the feedback and points above, the logging doesn't really seem like it will help LMMS at this point.  The main reasons are:

1. The software is very unstable.  The logs generally do not provide useful information in event of a  hard crash.
2.

[2017-10-18 18:48] gi0e5b06 opened #3893 "Command line option -p/--play to play a project file"
I would like to change the meaning of -p to play a project file.
Actually I have a prototype which works (no GUI at all), however it's not coreOnly (the GUI is built internally, just not shown). I'm sure someone can make it better that would work like the Renderer + audio.

-p is currently used as the short form for --profile. I think it is not used very often. Having only --profile (or better --p

[2017-10-19 05:31] softrabbit commented on #3893
I vaguely remember this being touched upon at some point (maybe on IRC, can't find anything here on Github). Back then `QCommandLineParser` seemed like the thing to do, but being a Qt 5 thing it wasn't really an option before now.

And yes, something more coherent would be great, now there are e.g. some options that have to come in a certain order due to the home grown parsing, which might surpris

[2017-10-19 14:32] tresf commented on #3893
👍 Since we're leaving Qt4 on master, this can be done any time.

👍 Agreed, changing the `-p` shouldn't be a huge problem.  These two requests aren't mutually inclusive though, we should track these as separate tasks.

[2017-10-19 14:38] tresf commented on #3893
@softrabbit perhaps this conversation? Doesn't mention the command line parsing at all really, but closest I could find... :)

In 2014-04-09 on the `lmms-dev` mailing list you wrote....

test script...)

volunteers for this. Or have I missed something, is someone on this already?

[2017-10-19 14:40] trebmuh commented on #3286
@tresf:

After a quick look into the LMMS sources, I can't find any mention to sf3. Has that be done and I'm not looking at the right place ?

[2017-10-19 14:42] tresf commented on #3286
No, reopening.

[2017-10-19 15:13] trebmuh commented on #3286
OK, thanks.

[2017-10-19 15:31] zonkmachine commented on #3286
Ah, I missed this part.

Yes indeed. Can you find a couple of sf3 files to try out?

[2017-10-19 17:12] trebmuh commented on #3286
@zonkmachine : there is one shipped with Musescore that you can find here: https://anonscm.debian.org/cgit/pkg-multimedia/musescore.git/tree/share/sound?id=8958f57f5e8b7dc59fec77941ba6f9efc9eb38cf

[2017-10-19 18:03] tresf commented on #3286
Here's a downloadable file: (the Debian archive loads in a binary view) https://github.com/musescore/MuseScore/blob/master/share/sound/FluidR3Mono_GM.sf3?raw=true

[2017-10-19 18:59] tresf commented on #3286
PR available for testing here: #3895

[2017-10-20 12:02] trebmuh commented on #3286
Nice. Talk to you at https://github.com/LMMS/lmms/pull/3895 .

[2017-10-20 16:09] zonkmachine commented on #3880
I don't think any more functionality like this is going to be in 1.2 . The first 1.3 RC should be out not long after 1.2 though., as I've understood it. As to your other ideas I've added 'temples' to the list for now. I'll look into the rest later.

[2017-10-20 16:15] zonkmachine commented on #3880
I think now pretty much all regressions from 1.0 should be fixed. The last long standing issue now is the issue with skippe/doublet notes which is currently held back by https://github.com/LMMS/lmms/issues/2606 . It's probably the same issue though.

[2017-10-20 18:58] musikBear opened #3896 "Difficult to move and delete automation points"
rc4 win 32
Irradiate/ random in occurrence

recreate:
* Open an automation
* insert any curve with ~10 points

The problem seams to be most common, at high resolutions:
* set magn to 800
* set Q to 1/192

The points are tiny, and it is difficult to 'grab' one. Quite often a new point will appear instead.
If the points were bigger, i believe this issue would be solved
Deleting one point often remov

[2017-10-21 00:17] zonkmachine commented on #3896
Something is going on there. I'll have a look.

[2017-10-21 01:27] PhysSong commented on #3599
https://github.com/LMMS/lmms/blob/9d560a310473f03d4de4a49e86d805952d982171/src/tracks/Pattern.cpp#L738
This seems more relevant. When you zoom in more than 800% in the song editor, empty patterns will look like BB patterns.
It's a feature, but it seems working in an undesirable way in this situation. Some UI event handlers treat a pattern as a BB pattern if it is empty and the length of this not e

[2017-10-21 09:28] LostPr3acherEDM opened #3897 "Presets with peak controller crash LMMS after previewing"

[2017-10-21 09:40] LostPr3acherEDM commented on #3897
Some specifics:
Version: 1.2.0-rc4 (beta) and ALL PREVIOUS NON-BETA ("STABLE") VERSIONS AS WELL.
This problem has never failed to faithfully occur for me, and I've used both 32 bit & 64 bit
versions (on the correct systems, don't worry).
_____________________________________________________
I'm not a coder, though in auld lang syne I have made hewo.c successfully lol. My issue is that I'm
unsure a

[2017-10-21 09:40] PhysSong commented on #3897
Can you provide your system informations and steps to reproduce?

[2017-10-21 09:43] PhysSong commented on #3897
@LostPr3acherEDM What Is your OS and which directory did you save your preset in?

[2017-10-21 09:46] PhysSong commented on #3846
What do you exactly mean here?

[2017-10-21 09:47] LostPr3acherEDM commented on #3897
Sys Info:
Win 10 Pro
Version: 1511
OS Build 10586.420
Processor: AMD FX(tm)-6100 Six-Core Processor 3.30 GHz
Installed RAM: 16.0 GB
System Type: 64 bit for both OS and processor.

Steps to reproduce:
Drag a 3xOscillator from instrument plugins. Set all signals to white noise.
Go to FX and drag in a peak controller. Save preset.
I saved to the default folder that LMMS provided upon clicking save:
"

[2017-10-21 09:49] LostPr3acherEDM commented on #3897
I'll be back momentarily to see what you typed. (smoke break) Thank you so much for this amazingly fast response. I truly appreciate it.

[2017-10-21 09:59] PhysSong commented on #3897
Does your username contain non-ASCII characters?

[2017-10-21 10:17] LostPr3acherEDM commented on #3897
My username consists of one word in English followed by a space and then around eight numbers. Do numerals count within ASCII? I used to make ASCII art lol, but I don't recall the specifics of what is or is not ASCII.

[2017-10-21 10:38] PhysSong commented on #3897
Then howabout preset file name? And what happens if you drop a preset or project file into song editor?

[2017-10-21 10:43] LostPr3acherEDM commented on #3897
![filename](https://user-images.githubusercontent.com/32978443/31850990-12459af2-b62b-11e7-8554-77d9c05dbec4.png)

[2017-10-21 10:46] LostPr3acherEDM commented on #3897
![savethencrash](https://user-images.githubusercontent.com/32978443/31851012-8c356266-b62b-11e7-88df-0f98c9260c5c.png)

[2017-10-21 10:48] LostPr3acherEDM commented on #3897
When I drag native presets onto the screen, I can save my work and nothing wrong occurs. However, if I dare attempt to drag one of my OWN presets and then save the program, it crashes every single time without fail.

[2017-10-21 10:53] PhysSong commented on #3897
Can you open loaded instrument before saving? If so, does it sound as expected?

[2017-10-21 10:58] LostPr3acherEDM commented on #3897
I just tried. I made the preset, saved it, refreshed the presets menu and dragged it back into the editor and as soon as I tried hitting play, it crashed.

[2017-10-21 11:00] ycollet commented on #3846
Sorry, I doubled check and these headers are checked by cmake.
I don't know what happened. Maybe a problem with my CMakeCache.txt.
I close this bug.

[2017-10-21 11:00] #3846 closed

[2017-10-21 12:38] gi0e5b06 commented on #3897
Confirmed. On Linux too.
[code]
(no no-ascii character was used)

[2017-10-21 12:42] gi0e5b06 commented on #3897
model() is null.

[2017-10-21 12:46] PhysSong commented on #3897
@LostPr3acherEDM If you load default TripleOscillator and save it to preset, does LMMS crash? If so, what if you save your own preset to the built-in preset directory?

[2017-10-21 13:11] musikBear commented on #3897
not able to reproduce on rc4 win32
@LostPr3acherEDM try this
* shut down lmms
* shut down pc *completely* -**not sleep**
Wait a mins
* start pc & lmms
* open myPresets | trippleOSC
* right-click on the preset that cause the crash
* select 'open in song-editor' from context menu

what happen?

Now try to drag it in
what happen?

[2017-10-21 13:33] tresf commented on #3897
@gi0e5b06 since you can reproduce this, can you please help document the steps that get this to happen each time and help provide a proper backtrace?  I too cannot reproduce this bug, we need some help. :)

[2017-10-21 13:34] tresf commented on #3897
... and @LostPr3acherEDM thanks for the kind words and well described bug report.  If @gi0e5b06 can trace the crash, we should be able to fix this in time for `stable-1.2`.

[2017-10-21 16:23] gi0e5b06 commented on #3897
@tresf I just followed the given instructions.
The backtrace of the segfault doesn't help because it's in paintEvent().
However, the backtrace of the constructor is:

stack trace:
[code]
The model is not set after that.
Related part of the preset:
[code]

[2017-10-21 22:21] eagles051387 commented on #3897
Is there a reason you are not on the latest version of windows 10 which is version 1703 currently? It might be potentially that this issue does not occur on the latest win 10 version

Sent from my iPhone

[2017-10-21 23:27] Z3R0C opened #3898 "mda Piano - noise burst"
i get a really loud sound-output if i use mda Piano vst together with Calf Reverb after re-open a project. using headphones can be very dangerous. i have to wait about a minute and then i can work normally again.

is that known?

linux 64bit, RC4-153

[2017-10-21 23:54] PhysSong commented on #3898
Could you attach affected project file? Please remove unnecessary parts if you can.

[2017-10-22 01:03] PhysSong commented on #3897
@gi0e5b06 Did you put a peak controller in your preset?

[2017-10-22 01:45] PhysSong commented on #3869
Looks like a  n upstream bug. I'll take a look at this.

[2017-10-22 02:24] Z3R0C commented on #3898
u dos'nt need a project file.
move mda Piano into BBE, drag the Calf Reverb Effect in the FX-Mixer, save the project and open it again. thats all.

without Calf Reverb i get a short "click" only. i think the clicking sound in combination with the reverb is the cause.

[2017-10-22 03:33] zonkmachine opened #3899 "lb302 inherits envelopes when dropped on an occupied track"
If you drop a new lb302 plugin on another plugin who has an envelope active the lb302 will inherit, at least a subset of the instrumentSoundShaping variables, and suddenly have components that will effect the sound but can't be edited. This doesn't seem to affect other single streamed instruments or lb302 presets.

lb302 preset that was created by dropping a new lb302 over a 3osc with a volume env

[2017-10-22 04:12] zonkmachine commented on #3898
Correct. If you have a transient/glitch and you run that through a reverb, it will build up a wall of noise before it's done decaying. Not totally pleasant.

[2017-10-22 04:40] PhysSong commented on #3898
There is a known issue with GUI-less VST(i)s, I guess it is the case.

[2017-10-22 05:59] gi0e5b06 commented on #3897
@eagles051387 The issue occurs on Linux too. It's related to Lmms, not to the OS.

@PhysSong Yes, I followed the instructions given by @LostPr3acherEDM to confirm the bug.

It looks like the peak controller is restored in an invalid state.

[2017-10-22 06:01] Spekular commented on #3898
mda Piano has a GUI.

On Oct 22, 2017 06:40, "Hyunjin Song" <notifications@github.com> wrote:

[2017-10-22 06:58] PhysSong commented on #3897
Maybe related: #193

[2017-10-22 07:14] zonkmachine commented on #3896
It's not the size of the points but the quantization level versus the zoom level. If there is a control point within the distance for the quantization the point will snap to the same level as the cursor and then you can drag it. I'm touching up the code so it'll be much smoother.

[2017-10-22 07:39] PhysSong commented on #3897
Wait, `ControllerView::paintEvent()` isn't in our code. It is added by @gi0e5b06 in gi0e5b06/lmms@a0bb009.
@gi0e5b06 Can you reproduce this with clean `stable-1.2` build?

[2017-10-22 08:12] PhysSong commented on #3897
Tested. add by context menu works properly. After you preview a preset, however, the peak controller created by previewing doesn't get deleted.

[2017-10-22 13:53] PhysSong commented on #3899
Confirmed. SF2 player too. LB302 and SF2 player use both `NotePlayHandle` and `InstrumentPlayHandle`. It is because `NotePlayHandle::framesLeft()` don't care if the parent instrument is single-streamed or not. I think it's quite easy to fix.

[2017-10-22 13:55] musikBear commented on #3899
This  #3419 is slightly related, because it it also about dropping presets, and have effects preserved

[2017-10-22 14:02] musikBear commented on #3896
@zonkmachine great 👍 -But *should* the points be that tiny? I would prefer the medium-big points, for easy mouse-grabbing. Same size in all magnifications. Imo no need to scale points

[2017-10-22 14:20] PhysSong commented on #3897
And there's one more issue: assume that issue is fixed. However, the peak controller from preview track will be saved if you save during previewing, the controller will be saved. The saved file won't be open correctly because of corrupted peak controller.

[2017-10-22 16:22] Sawuare opened #3901 "LMMS can't encode/decode audio files that contain Arabic letters/symbols in their names."
A string with Arabic letters and symbols for testing: `مُوسيقى`.

[2017-10-22 17:05] zonkmachine commented on #3899
Yes. At least for the end user they would appear same-ish.

[2017-10-22 19:55] BaraMGB commented on #3897
Does it make sense to save a peak controller with a preset?

[2017-10-22 21:52] PhysSong commented on #3897
Yes. For example, user might save that as a sidechain signal.

[2017-10-22 22:09] PhysSong commented on #3901
Duplicate of #1191

[2017-10-22 22:09] #3901 closed

[2017-10-23 03:38] Sawuare commented on #3901
Sorry, didn't search well enough. ;(

[2017-10-23 10:36] PhysSong commented on #3897
The simplest way is not to instantiate peak controller when previewing. It seems already implemented, but broken now. I'm going to fix that.

[2017-10-23 11:41] vwren opened #3903 "Beat/Bassline: New Tracks are not added at same scale as existing tracks"
If the Beat/Bassline Editor has had steps added greater than the default 16 beats, new tracks that are placed have the default 16 beats rather than the increased length.  This leads to inconsistent display which makes editing more confusing.  For example, the beat in these two tracks happens at the same time:
![bb_editor_timing](https://user-images.githubusercontent.com/33024401/31884766-d33a9788-

[2017-10-23 11:54] PhysSong commented on #2774
I got a *leak-process* when there was a problem with audio backend. Audio backend thread was hanging and the mixer were waiting for its FIFO buffer. If this is the reason, killing such threads might be helpful. I'm not pretty sure but I can't find any other possible reason for this.
@michaelgregorius Which audio backed did you use? Is this still there in rc4?

[2017-10-23 11:55] zonkmachine commented on #3903
This has been chaned in lmms-1.2 that hasn't been released yet.
Grab a preview version here: https://lmms.io/download/

[2017-10-23 13:23] musikBear commented on #3897
@PhysSong this 'preview' is also happening with VSTs **effects**. The VST UI will open is you prehear a preset, where a VST *effect* is placed on the FX-tab.
This will result in an orphan remoteVST, that only can be closed down in TM, so its a genuine mem.leak
Half of the issue was #300 (VST*instruments*), but the *effect-part* var not solved in #1587 (300 was solved in 1587).

[2017-10-23 13:26] gi0e5b06 commented on #3897
Fixed. Also a few other bugs in the file browser.
https://github.com/gi0e5b06/lmms/commit/52eed29a99043b8725acde20ae75e992cb8f0125
My new git assistant @Umcaruje will make a nice PR from that (or not). He volunteered on Discord.

@PhysSong For saving, nothing is done. However, I added a m_savingProject bool that works like m_loadingProject.

[2017-10-23 13:43] PhysSong commented on #3897
@musikBear If it can be reproduced, I'll re-open that. It may be added into 1.2.0 milestone if needed.

[2017-10-23 14:31] jayknowstheway commented on #1488
Is there any work done to make custom shortcuts an option? Default shortcuts are totally arbitrary and should be possible to change. Not being able to use LMMS without a mouse is actually my biggest reason for not using it, but even if I were able to and had shortcuts I couldn't change.. that would be tough.

[2017-10-23 14:33] vwren commented on #1438
This could actually be a consistency enhancement.  The Beat editor already has a drop-down that lists all the possible beat loops.  I think ghost tracks would be much more useful than multiple windows. A drop-down for ghost notes could be implemented similarly in the Piano Roll editor via a drop-down with check boxes (toggled) that would allow individual tracks to have their piano roll switched on

[2017-10-23 15:01] PhysSong commented on #3859
For 1.2, I have two choices:
- Fix issue with initial value only. It fixes this.
- Fix issue with non-automated changes too. Undesirable but not relevant to this issue.

[2017-10-23 15:21] #3899 closed

[2017-10-23 15:30] zonkmachine commented on #3859
Simplest?

[2017-10-23 15:35] gi0e5b06 opened #3906 "User controller activation in preset not restored"
The peak controller is controlling the cutoff frequency.
The user controller checkbox is not restored when adding the preset (to the song editor).
The xml data in the preset seems fine.
![preset-user-controller](https://user-images.githubusercontent.com/30031949/31897911-02e387a6-b818-11e7-9211-bbbd19a77696.jpg)

[2017-10-23 19:01] vwren opened #3907 "Measure number in piano roll editor to match song editor (V 1.2.0 RC4)"
Win32, 1.2.0 RC4
It would be very useful if the Piano Roll editor (and Automation Editor) measure numbers matched the Song Editor measure number.  I was putting in a ritardando in the middle of a song that lasted only a few measures.  I inserted the automation, dragged it out to three measures, CTRL-dragged the tempo on it and opened the Automation Editor.  The editor starts at measure 1, regardle

[2017-10-23 19:55] a2aaron opened #3908 "Wrong overlays being displayed on instrument plugins"
This bug occurs on `1.2.0-RC4` This bug does not occur on `1.2.0-RC3`.

OS: macOS 10.12.5
Kernel: Darwin 16.6.0
RAM: 8 GB, DDR3, 1600 MHz
CPU: Intel Core i5 @ 3.2 GHz
GPU: NVIDIA GeForce GTX 675MX

How to reproduce:

1. Open any project.

2. Add any plugin that isn't TripleOscillator.

3. Click on the plugin in the track.

4. Notice that the plugin overlay has the TripleOscillator overlay.

Exampl

[2017-10-23 20:03] a2aaron commented on #3908
It seems that occasionally, an added plugin will show the correct overlay, but then every plugin other plugin will show plugin's overlay. Sometimes, this seems to be the very first plugin that one adds after opening LMMS or will occur after wait a random amount of time.

It appears that the Monstro plugin shows the correct overlay always, regardless of this previous effect.

[2017-10-23 20:11] a2aaron opened #3909 "Extreamly harsh sound when no pattern is loaded on PatMan"
This bug occurs on 1.2.0-RC4 This bug does not occur on 1.2.0-RC3.

OS: macOS 10.12.5
Kernel: Darwin 16.6.0
RAM: 8 GB, DDR3, 1600 MHz
CPU: Intel Core i5 @ 3.2 GHz
GPU: NVIDIA GeForce GTX 675MX

How to reproduce:

1. Open any project.

2. Add PatMan.

3. Try to play notes in PatMan.

I can't seem to record the sound as it will only work when playing via keyboard (and randomly stops occurring after

[2017-10-23 21:48] PhysSong commented on #3906
Duplicate of #193.

[2017-10-23 21:48] #3906 closed

[2017-10-23 22:26] zonkmachine commented on #3909
Hi!

This bug was fixed in 6fc4577f102e5bb60cc246a426fb9ed8b4ac3be9
Pick up RC5 when it's done (no estimated release date).

[2017-10-23 22:26] #3909 closed

[2017-10-24 07:26] PhysSong commented on #3869
I can reproduce the same issue with other hosts(ex. Audacity). Since LMMS don't have per-plugin enable/disable feature, the only solution is renaming(or removing) affected csd files or removing csladspa completely.

[2017-10-24 07:26] #3869 closed

[2017-10-24 12:20] musikBear commented on #1488
@jayknowstheway Yes 1475. not sceduled

[2017-10-24 12:33] musikBear commented on #3907
*KInd*  of agree with you, but it would be easy to argue, that as an automation plan, it is easier to 'think' "it goes up the first 3 beats, then down for 2, and up for 4 - So 9 beats of automation
If your number-system is used we could have
"it goes 3 up at first from 56' beats, then down to 58, and up to 62 - So ... beats of automation?
But i guess its a question of temper ..
that aside-
I would

[2017-10-24 12:35] musikBear commented on #3908
looks like lack of graphical update

[2017-10-24 12:44] musikBear opened #3910 "Transparency setting for automation-editor"
Suggestion
I think it could be beneficial, if the window of automation-editor AE, could be made transparent (just a dial for alpha value). This would especially help, when detuning is made, because it would be possible to see the detune-lines in piano-roll, through the AE.
Since this is only used in editing, the transparency should not hit cpu significantly.

[2017-10-24 13:52] Sawuare opened #3911 "Monstro's osc 3 vol knob always uses percentages."
Monstro's osc 3 vol knob with the "Display volume as dBFS" setting enabled:
![capture20171024164622676](https://user-images.githubusercontent.com/25503477/31946683-23dbf6f0-b8db-11e7-9982-9d60fbe9d8fc.png)
![image](https://user-images.githubusercontent.com/25503477/31946846-966fe582-b8db-11e7-9af0-64c8a9b4eafc.png)

It uses percentages instead of levels in dBFS.

[2017-10-24 14:22] Spekular commented on #3910
This feels like a weird feature considering we don't have transparency
anywhere else afaik. Wouldn't ghost notes be a better solution (that would
also help when editing melodies)?

A lot of DAWs also allow automation to be edited in their equivalent of the
song editor, or directly on top of midi/audio patterns. This might
alleviate your problem a bit as well.

On Oct 24, 2017 14:44, "musikBear" <n

[2017-10-24 14:52] vwren commented on #3907
I certainly understand the advantage of your alternate scenario, but I think it also depends on what kind of automation you're doing, given that EVERYTHING can be automated (and your composing methods) as to which display would be most helpful.  That's why I favor it being an option, or something switchable (click on the measure track to toggle between absolute/relative index?)

The absolute measu

[2017-10-24 15:42] #3896 closed

[2017-10-24 16:46] zonkmachine commented on #3911
The other volume knobs has line to set them explicitly as a volume knob.
[m_osc2VolKnob -> setVolumeKnob( true );](https://github.com/LMMS/lmms/blob/stable-1.2/plugins/monstro/Monstro.cpp#L1680)
Try adding a line like that for `m_osc3VolKnob`, may be all that's missing in there.

[2017-10-24 16:55] GuessWhatBBQ commented on #3719
Nope still doesn't work.Jack works fine in the compiled version.I can't get any sound in the AppImage(Even under ALSA).
[code]

[2017-10-24 17:02] Sawuare commented on #3911
Tested you suggestion, it fixes the issue and works as expected, will open a PR soon.
Which branch should I target, `stable-1.2` or `master`?

[2017-10-24 17:03] zonkmachine commented on #3911
Bug fix, stable-1.2 would be fine.

[2017-10-24 19:01] #3911 closed

[2017-10-25 11:12] PhysSong commented on #3689
This bug seems minor, but flanger is the only plugin with this behavior AFAIK. So I don't know which branch is proper as the target.
@zonkmachine How do you think about this?

[2017-10-25 11:34] PhysSong commented on #3598
Currently, there's no way to determine where the dragged track from. There are some possible solutions.
One is to add source container information in `TrackOperationsWidget::mousePressEvent()`. It could be also done in `Track::saveSettings()`, but needs some extra checks because it won't allow distinguishing between tracks dragged from BB editor and presets saved from there, without workarounds.

[2017-10-25 12:40] musikBear commented on #3910
@Spekular

Ghost-notes are next to the holy graal imo :) -But in this special situation with detune, it would not work. Its the detune-*lines, in piano-roll*, that must be visible
.. in fact the issue only exists, because of the implementation of detune. It would be much more intuitive to just drop a marker directly in piano-roll, on the note the slide should include.

[2017-10-25 12:55] qnebra commented on #3907
It's a very logical proposal actually.

[2017-10-25 16:23] tresf commented on #3719
@probonopd the user is claiming JACK works fine with the compiled version but not `AppImage`.  Logs suggest we may be bundling some dbus libraries.  Could they cause these issues?  I can try to remove it from the build.

[2017-10-25 16:25] probonopd commented on #3719
This is best done by debugging it interactively with trial and error. A user who has the issue could download the AppImage, extract its content with `--appimage-extract`, and then delete the libraries that you suspect to cause the issue one by one. Each time run the application by executing AppRun and see whether it starts working. Probably the quickest way to debug this.

[2017-10-25 23:25] zonkmachine commented on #3903
I'm closing this as a duplicate. Please try the latest version of lmms and see if there are any more issues to address. :)

[2017-10-25 23:25] #3903 closed

[2017-10-26 07:38] pheek opened #3913 "lmms does not open an older project (mmpz) and gives no error messages"
Hello

I recently created an lmms file (see here https://gress.ly/mozz-05.mmpz).
Opening it half a year later using lmms (1.1.3 Linux/x86/64, Qt 4.8.7, Gcc 6.2.1 20161215) it closes all dialogs immediately after opening them.

No error message on the console (except the Notice: could not set real-time priority.), no crash, no error message in /var/log/syslog.

The application (lmms) stays open, bu

[2017-10-26 08:36] gandalf3 opened #3914 "Cannot adjust individual selected note velocities in piano roll"
According to https://github.com/LMMS/lmms/pull/1804, I should be able to alt+left click and drag to change the individual velocities of the selected notes. However, nothing happens when I do this. Other modifiers (or no modifiers at all) cause all of the selected notes to be set to the same velocity.

LMMS 1.2.0-rc3.56
Archlinux

[2017-10-26 10:50] zonkmachine commented on #3913
The song is there but opens up with the windows closed so it appears blank. Click on the song editor, the button underneath 'Create new project' and it should appear again.

[2017-10-26 11:39] zonkmachine commented on #3721
Could this be a similar issue working on the Song Editor? I've seen it quite a lot and have wondered what's going on. https://github.com/LMMS/lmms/issues/3913

[2017-10-26 12:27] zonkmachine commented on #3913
I've seen this too. Projects opening with the windows closed. I believe the the window states are saved [here](https://github.com/LMMS/lmms/blob/9715da332b0c279739414712d4be9f0335147f3a/src/gui/MainWindow.cpp#L737:L763).

[2017-10-26 12:32] zonkmachine commented on #3913
The song window from the project above is clearly saved as not visible.
```<trackcontainer width="953" x="139" y="16" maximized="0" height="628" visible="0" type="song" minimized="0">```

[2017-10-26 12:37] dozawndd opened #3915 "Compiling LMMS with VST on 64bit Linux"
With the new rc4 version it should be possible to get vst working as far as I can see on the update list for the version...

Fix VST plugin compilation in 64bit Ubuntu (#3593)

I have tried to compile lmms with vst, but it fails at 83% with the following error:
winegcc: File does not exist: /usr/lib/i386/wine/libwinecrt0.a

I am running 64 bit kubuntu 17 and I have tried both installing wine and l

[2017-10-26 12:49] zonkmachine commented on #3915
Try: `sudo apt-get install build-dep lmms` to pull in the dependencies in one swipe. I'm not sure that this covers wine though. The packages I have on my machine (Linuxmint) are. `wine1.6 wine1.6-amd64 wine1.6-dev wine1.6-i386`. For compiling it's the package ending with `-dev` you need. Possibly all of the others too. You are on a newer version than I am so it's not going to be wine 1.6 .

[2017-10-26 13:06] musikBear commented on #3914
i think you point the wrong spot. Its on the velosity columns, not the note
![velositysetting](https://user-images.githubusercontent.com/6662066/32054321-58075e9a-ba5e-11e7-96c6-d22134ee74c9.JPG)
If you click once the velocity change
If you double-click  the input-box for velocity change (picture) appear.
This is a help request, so you should use forum, *unless* none of the abowe works in linux, t

[2017-10-26 13:19] musikBear commented on #3721
I cant reproduce at all in rc4 on win32 xp
When i reopen the saved project, there is *no* instrument-window opened, both are closed.
I does not matter is i have the song-editor
* open
* closed
* windowed
* full size

In all circumstances there are no instrument window opened, and that confuses me like ****, because if i open older projects, there are often instrument windows opened
One possible di

[2017-10-26 13:34] musikBear commented on #3913
(?) the only thing is that the project is saved with **closed** song-editor -eg empty screen.
One click on SE-button, and all is normal
If the project is saved in this state, it loads in that state -Normally

Song-editor does not auto-open, when a project is opened **and that is a GOOD thing** !!!*
The reason its a GOOD thing, is that on inferior hw (mine amo) there is a clear difference between o

[2017-10-26 13:45] igggo123 opened #3916 "(Windows) Crashes withour any reason"
(Windows) Crashes withour any reason

[2017-10-26 13:48] GoAm commented on #3913
_Admin can delete this post (or move it somewhere else if possible) if it doesn't fit here._

I've seen these kind of objections several times regarding low-end hardware.
With the risk of being shot, wouldn't the minimum requirements for LMMS change during time?
I mean, at some point you have to take a decision to change these requirements otherwise this project will slowly die since it has to sup

[2017-10-26 14:02] vwren commented on #2633
Using 1.2.0-RC4, I get a zombie process every time I close and re-start LMMS on the WIN32 version (W7).  There's no errors displayed—just a process in the task manager that can't be killed.  I first noticed it because if I do a save then quit before the "File was saved" message box closes, that message box will not leave the desktop EVER. This seems to happen no matter what audio back-end I'm usin

[2017-10-26 14:22] zonkmachine commented on #3913
^OT Here is our discord channel: https://discordapp.com/invite/3sc5su7
Maybe we need to update the requirements, but people really are using LMMS on low grade machines. Raspberry Pi for instance. </OT>

[2017-10-26 14:28] zonkmachine commented on #3916
Without any more info I can only advice you to try out a version of LMMS with portaudio disabled.
https://cdn.discordapp.com/attachments/242409373505159168/368799501491634176/lmms-1.2.0-rc4-no-portaudio-win64.exe

[2017-10-26 14:28] #3916 closed

[2017-10-26 14:33] zonkmachine commented on #3916
Here is our Discord channel (forum/chat): https://discordapp.com/invite/3sc5su7
and here is our original phpBB based forum: https://lmms.io/forum/ with an excellent support.

[2017-10-26 14:42] zonkmachine commented on #3721
Was this intended for https://github.com/LMMS/lmms/issues/3913 ?

Tracks opening with ridiculous size is an issue on master and has been fixed.

[2017-10-26 14:49] zonkmachine commented on #3913
The default is to open the project as it was saved. The user has saved it with the project open. I have experienced this too. I always save the projects with windows open.

[2017-10-26 16:16] zonkmachine commented on #3915
I'm closing this to get it out of the developer work flow but please continue the discussion here.

However. For future questions it's better to use the designated support channels:
Here is our Discord channel (forum/chat): https://discordapp.com/invite/3sc5su7
and here is our original phpBB based forum: https://lmms.io/forum/ with an excellent support.

[2017-10-26 16:16] #3915 closed

[2017-10-26 16:27] tresf commented on #3915
I'd like to provide some more information as our documentation may be at fault here...

First, we do miss some packages in our documentation.  They're only provided in the Troubleshooting section here: https://github.com/LMMS/lmms/wiki/dependencies-ubuntu#troubleshooting.  Someone installing on a fresh 14.04 or 16.04 environment please help us make this documentation better.

Second, what you're s

[2017-10-26 16:41] tresf commented on #3810
Beta = bugs.  Tell him sorry.  He should be able to open and save with RC4 on the original PC and it should fix the problem.  200 projects is quite high, I would assume only newly created projects with RC1/RC2 would have this bug.  If it still happens with RC4 have HIM open a new bug report.

On a side note... @musikBear STOP filing bugs for other people please.  Just send them to discord (lmms.io

[2017-10-26 19:42] pheek commented on #3913
Thanks you all, specially zonkmachine. I have not known, that the window state is saved too. I will try to save the songs in the future also with at least one window open :-)

[2017-10-26 19:42] #3913 closed

[2017-10-26 19:57] zonkmachine commented on #3913
I'm not fully convinced that this isn't a bug actually. I'll keep one eye open. 8)

[2017-10-26 23:17] dozawndd commented on #3915
I managed to get it working, more or less without problems.
I have installed libwine, libwine:i386, libwine-dev, libwine-dev:i386, wine32:i386, wine64 and wine64-tools, after uninstalling wine several times.
I think the line that fixed my problem was from the troubleshooting link you provided.
I ran this:
sudo apt-get install libwine-dev libwine-dev:i386 gcc-multilib g++-multilib
I think libwine-d

[2017-10-27 01:07] PhysSong commented on #3914
You can do that with left click + drag or Alt + scroll. As @musikBear pointed, it should be done on the velocity section.

[2017-10-27 04:14] wtpisaac opened #3918 "Issue with Vestige + Helm"
I've noticed that when trying to use Helm as a VST under Windows, running on LMMS v1.2.0rc4, attempting to open a menu in Helm does not work.

**Expected Behavior:** Clicking on Distortion menu in the Helm synth opens the Distortion menu. Right clicking opens the right click menu.

**Actual behavior:** These menus open, but then close immediately, too quickly to interact with anything in it. _Very

[2017-10-27 04:22] gandalf3 commented on #3914
Tested with rc4, same behavior. I am dragging on the velocity columns.
<kbd>Alt</kbd>+scroll works, but it also works on unselected notes too:

![lmms_pianoroll_velocity_demo](https://user-images.githubusercontent.com/11167504/32087840-8bd5d1c2-ba93-11e7-84de-57360e9e08bf.gif)

[2017-10-27 05:21] tresf commented on #3918
Tagging @DomClark -- our resident expert with VSTs. :)

[2017-10-27 10:08] Sawuare opened #3919 "Piano views don't visualize playing of successive same-key notes."
![wow](https://user-images.githubusercontent.com/25503477/32099082-8f383b32-bb17-11e7-9a74-03a425e9c353.gif)

[2017-10-27 10:44] lukas-w commented on #3366
Closing since MemoryManager was replaced by rpmalloc via #3873.

[2017-10-27 10:44] #3366 closed

[2017-10-27 10:51] Sawuare commented on #2850
Confirmed with LMMS 1.2.0-rc.4.

[2017-10-27 10:51] qnebra commented on #3919
It looks like minor overseight.

[2017-10-27 11:39] DomClark commented on #3918
Successfully reproduced. I've found one other host where this problem occurs: Hermann Seib's [VSTHost](http://www.hermannseib.com/english/vsthost.htm) when the plugin is running with a different number of bits to that of the host, in which case it is loaded in a separate bridge process, like LMMS does. Presumably having the parent window in a different process messes something up somewhere. I'm qu

[2017-10-27 11:55] PhysSong commented on #3919
Does it happen on piano views on instrument windows?

[2017-10-27 12:11] musikBear commented on #2633
@vwren have you tried to shut completely down -*not* sleep, and then restart?
Then try open lmms and shut it down, normally.
Do you have a lmms process running in TM then?
-Cant reproduce on win32 xp rc4

[2017-10-27 12:16] Sawuare commented on #3919
Yes.

[2017-10-27 12:19] musikBear commented on #3914
@gandalf3
No that you cant do, but you can *un-select* one specific note in a selection-group with sh+left-click, and then you can adjust that *unselected note* and re-select it to the group with yet another sh+left-click.
-Again, its a help-request:

[2017-10-27 12:23] musikBear commented on #3919
if you magnify to max, are the notes
* overlapping,
* gapping

-or are they
* snapped?

[2017-10-27 12:40] Sawuare commented on #3919
@musikBear The notes are snapped.

[2017-10-27 13:47] tresf commented on #3915
@dozawndd thanks for the feedback.  I've [updated our wiki](https://github.com/LMMS/lmms/wiki/Dependencies-Ubuntu/_compare/c13944597e017a082a26a1df7959c52c359780ca...1c903e5a7a746e3a451b83efb5fad31366924217) to include the i386 and wine packages by default.  I've moved wine into the same section to isolate it for those not wanting VST support.

[2017-10-27 13:54] tresf commented on #3574
Sounds like https://github.com/LMMS/lmms/issues/764 which should have been fixed long ago in https://github.com/LMMS/lmms/pull/808.

[2017-10-27 14:00] vwren commented on #2633
@musikBear a full S5 restart is the way I've been getting rid of the zombie processes, though logging my user off should technically be enough to dump all processes running under my username (I haven't tried it).

Since you're not having a problem, (Albeit XP is essentially Windows NT, where Windows 7/Vista is quite a bit different under the hood), I wanted to be sure there was nothing left over f

[2017-10-27 15:51] tresf commented on #2633
@vwren does this occur when you use DummyAudio as the backend?   This may be a separate issue and I recommend we track it as such.  That said, we need someone to reproduce on similar OS and hardware.  I don't mean to sound like a broken record, but if you're running an SSD, scan it for errors, worn bits can cause the strangest of problems with Windows processes and it happens on two of my machines

[2017-10-27 17:13] GuessWhatBBQ commented on #3719
I'm willing to debug. Just need a list of the suspected libraries and maybe some sample commands.

[2017-10-27 17:25] probonopd commented on #3719
[code]

[2017-10-27 17:29] vwren commented on #2633
I wanted to make sure I was running clean, so I wiped everything off, including any registry mentions of LMMS, and installed 1.2.0RC4 from scratch.  I think this is a driver-related issue.  Interestingly enough, it's not sound-related.  If I put the audio to dummy, it still hangs.  If I point the MIDI to dummy, however, it does not hang.  I'm using an M-Audio MIDISport 2+2 (the original ugly green

[2017-10-27 18:20] tresf commented on #3719
Dbus is a hunch because every modern Linux distribution ships with it, but that's why I tagged you @probonopd I figured you'd have seen this before with the hundreds of other project implementations.  If not, we'll have to play some guesswork.  I'm not sure if the jack team has experiencing with AppImages but they may be a good resource as well.  I know falktx (kxstudio) is on the bug tracker.  Pe

[2017-10-27 18:53] vwren opened #3920 "Hang when closing related to WinMM MIDI driver"
Configuration:  Windows 7 SP1 32-bit, LMMS V1.2.0RC4, M-Audio MIDISport 2+2, driver version 6.1.3

When closing LMMS, a "zombie" LMMS process is left in the Task Manager which cannot be killed.  These chew up about 40MB at a time.  If LMMS is started and stopped repeatedly, more copies of the process will show up in the Task Manager.  In testing, I found that changing the audio back-end to "Dummy"

[2017-10-28 04:45] PhysSong commented on #3919
I think it's not hard to fix. I think it would be work correctly if we set the state based on the number of running keys instead of MIDI events.

[2017-10-28 05:09] gandalf3 commented on #3914
@musikBear That sounds horrifically tedious, and it also doesn't work for me; clicking the velocity bar while notes are selected adjusts all selected notes.

Is there now no way to quickly adjust the velocity of some notes while ignoring others? If so, I feel like this is a major regression (this used to be possible). If regressions not considered bugs, is there a separate place for them? (feature

[2017-10-28 05:36] zonkmachine opened #3922 "Instrument presets saves MIDI settings"
Instruments are saved with MIDI settings as is the case with some of our factory presets. When previewing these sounds the project is set to modified. Saving instrument presets should not save any MIDI information.
Examples: Monstro - Growl, HorrorLead

 - [x] Fix factory presets. (#4207)
 - [x] Check factory projects. (#4207)
 - [ ] Don't save MIDI settings.

Related: [Presets remember the contro

[2017-10-28 08:37] probonopd commented on #3719
No, I haven't seen this particular issue before. rncbc also has done many AppImages of sound applications such as Qtracor, I'd assume he is very knowledgeable in this are, too.

[2017-10-28 12:14] qnebra commented on #3922
Maybe this section is preset? Taken from Monstro - Growl preset:

<midiport inputcontroller="0" inports="" fixedoutputvelocity="-1" inputchannel="0" outputcontroller="0" writable="0" outputchannel="1" fixedinputvelocity="-1" fixedoutputnote="-1" outputprogram="1" basevelocity="63" readable="1"/>

[2017-10-28 12:27] musikBear commented on #3574
.BAK files are not wave-files in rc4 win32
Have they (.BAK) *ever* been ?
Never saw that, *ever*

[2017-10-28 13:18] musikBear commented on #3914
Ye.. it is a bit convulated. Agreed..
But i guess its a compromise between being able to select a group, and set their velosity at once, and also being able to set one note.
What is 'missing' is a *select-in-selection*, but honestly; Have you ever seen any program have that?!
Afaik, that does not exists(?)
But.. you know what...
I found a solution :D
Here it is:
https://youtu.be/ldMf5RURxGA

That

[2017-10-28 19:46] gandalf3 commented on #3914
@musikBear

I don't see why that would be necessary; the [original proposal](https://github.com/LMMS/lmms/pull/1804) for the new behavior suggested the old behavior should still work with <kbd>Alt</kbd> held.

I've created a [PR](https://github.com/LMMS/lmms/pull/3923) which fixes this for me; for reference here's the behavior I'm after:

![](https://user-images.githubusercontent.com/11167504/3213

[2017-10-28 19:53] DomClark commented on #3918
Here is a pair of Helm builds with `Process::isForegroundProcess` patched to always return `true`, which should behave slightly better. Build is of master at time of writing, at commit [81a65d0](https://github.com/mtytel/helm/tree/81a65d0e68980f59450c1e46d008a54784ca6674). Standard "this may break stuff" disclaimers apply.

[helmpatched.zip](https://github.com/LMMS/lmms/files/1424561/helmpatched.z

[2017-10-28 21:00] RobTranquillo opened #3924 "Make toolbar hideable"
Love LMMS, but on my tiny laptop screen every pixel is important. So for this  and therefor i never use the controls in the buttonbar/toolbar, it would be great to hide this very lage bar for more sceen estate via a menu entry and keyboard shortcut.

Thank you

[2017-10-28 21:57] qnebra commented on #3924
Optional hideable toolbar has more logic for me, or one line toolbar. Like newest libreoffice has. How tiny this screen is?

[2017-10-28 23:34] zonkmachine commented on #3918
Maybe this is a job for the Helm devs?
JUCE issue tracker here: https://github.com/WeAreROLI/JUCE

[2017-10-29 01:48] flynn16 opened #3925 "Switch to Qt 5.9 PPA"
Qt 5.9.2 for /opt Xenial is available here: https://launchpad.net/~beineri/+archive/ubuntu/opt-qt592-xenial

Would be nice to switch from Qt 5.8 to Qt 5.9.

[2017-10-29 04:49] zonkmachine commented on #3854
This is the only remark in here that isn't 'invalid' or mentioned elsewhere. I have to close this one.
With invalid I'm referring to the test information above about mp3 exporting actually working. We only need issue reports about what is **not** working.

[2017-10-29 04:49] #3854 closed

[2017-10-29 05:09] flynn16 commented on #3925
Here is an AppImage built on [Travis CI](https://travis-ci.org/flynn16/lmms/jobs/294336628#L8091) with Qt 5.9.2. It appears twice as big as my previous AppImage build.

[LMMS.AppImage](https://github.com/flynn16/lmms/releases/download/v1.2.0-rc4/LMMS.AppImage)

[2017-10-29 08:58] zonkmachine commented on #3685
@PhysSong Right. I hacked _peak above that line with: `_peak = fmaxf( 0.0000001, _peak );` and that of course fixed the limiter right up. I think we should fix that for 1.2 . How about introducing an LMMS_MIN constant to use when you need a `fmaxf` or `qMax( LMMS_MIN, Something )` to prevent 0? I've had use for it before and the FLT_MIN  constants in float.h is a bit brutal. `1E-37 or smaller` has

[2017-10-29 09:04] zonkmachine commented on #3685
Here: https://github.com/LMMS/lmms/blob/stable-1.2/include/lmms_constants.h#L51

[2017-10-29 10:23] michaelgregorius commented on #2774
@PhysSong If I remember correctly I did not make any changes in the options. Here's the relevant portion of the `.lmmsrc.xml`:
[code]
I am not able to reproduce the problem anymore but this might be related to changes in my hardware setup. I am now using a USB audio interface instead of an internal PCI sound card. I have tested with 1.2.0_rc2 (64 bit) and 1.2.0_rc4 (32 bit and 64 bit).

#3920 seem

[2017-10-29 10:44] PhysSong commented on #2774
If so, we should be somehow reproduce that. Then we may investigate and fix that. :+1:

[2017-10-29 11:26] #3456 closed

[2017-10-29 12:45] michaelgregorius commented on #3920
I can confirm the findings. It looks like it might be related to the M-Audio MIDI drivers. I have two sound devices that I can use for testing:
* M-Audio Audiophile 2496 (PCI card)
* Behringer U-PHORIA UMC204 HD (USB audio interface)

During the tests I have varied what device is set as the default sound device in Windows 8.1 and the MIDI driver that's used by LMMS:

Default sound device|MIDI driv

[2017-10-29 12:47] michaelgregorius commented on #2774
Please refer to my comment in #3920 for [more results](https://github.com/LMMS/lmms/issues/3920#issuecomment-340259867).

[2017-10-29 13:40] zonkmachine commented on #2774
Did I hear MIDI? I get this crash, https://github.com/LMMS/lmms/issues/3357 (with backtrace), on Linux. I haven't seen any other pattern than perhaps it happens when there are vst pluggins in the project.

[2017-10-29 15:37] RobTranquillo commented on #3924
Oh yeah, (full) customable toolbar would be great. Somebody even start to think about: https://github.com/LMMS/lmms/issues/387. But in my estimation is hideability the lower hanging fruit. My screen has 1366x768px. Got rid of the toolbar, would bring a lot of space as you can see:
![lmms_at_1366x768](https://user-images.githubusercontent.com/311739/32145207-e3919986-bcc4-11e7-8267-11e89a079d52.png

[2017-10-29 16:32] lukas-w commented on #3924
@RobTranquillo Seeing that you're on GNOME, you should try https://github.com/deadalnix/pixel-saver.

[2017-10-29 17:26] qnebra commented on #3924
Best for screen space saving is using QT4 lmms version on Unity. Because then lmms using global-menu and lmms subwindows can be in headless mode.

@lukas-w Is possible to make maximized subwindow in QT5 headless, maybe with window buttons in topbar? This will be saving some screen space.

Small comparison for @RobTranquillo
![ellemses](https://user-images.githubusercontent.com/11295229/32146355-7a

[2017-10-29 19:53] RobTranquillo commented on #3924
thx @qnebra and @lukas-w for the hints.
Oh no! /o\ Sadly with qt4 there is a unused space, where former the title bar was:
![lmms_qt4_at_1366x768](https://user-images.githubusercontent.com/311739/32147639-d88385ce-bcea-11e7-85a2-7aea910f3448.png)

[2017-10-29 20:49] gi0e5b06 opened #3926 "QCursor in AFP"
[code]

[2017-10-29 21:13] qnebra commented on #3924
Hm, maybe you should use a other GTK theme than default Gnome 3 Adwaita. This theme have a huge window title bar.

[2017-10-30 04:38] tresf commented on #3719
@probonopd thanks!

I can't find evidence he keeps the AppImage recipe in his source tracker.  Do you have a cross-link to any of his AppImage work?

[2017-10-30 04:48] PhysSong commented on #3926
What were you doing when LMMS crashed?

[2017-10-30 05:14] zonkmachine commented on #3782
It's the selection you're moving. It's just another way of doing it. This way you move all three settings at the same time.

[2017-10-30 05:14] #3782 closed

[2017-10-30 07:29] zonkmachine commented on #3312
With the new memory manager the loading speed is something like 2x faster for 'Onion' and 'Krem Kaakkuja'.