[2016-02-29 19:55] tresf commented on #2620
@oeai please properly uninstall LMMS first (like all version) and stop opening bug reports.

[2016-02-29 19:55] #2620 closed

[2016-02-29 19:56] #2621 closed

[2016-02-29 19:57] tresf commented on #2622
Duplicate of  #1189 #1781 #1918 #1942.

[2016-02-29 19:57] #2622 closed

[2016-02-29 19:57] oeai commented on #2621
https://lmms.io/download/#windows

[2016-02-29 19:59] T-boneG commented on #2617
Hey there!  I would be happy to take this on as an inspiring programmer hoping to get involved!  What is the standard etiquette on assigning bugs?

[2016-02-29 20:00] tresf commented on #2621
There's no RC2 there.  From your other bug report (theme bug) I suspect you never uninstalled.  If you did, the `%USERPROFILE%/.lmmsrc.xml` has your old config in it, duplicate of #2615.

Regardless, you've been on our tracker for far too long to be spamming it with new bug reports.  Please be courteous of our developers, they read every-single bug report.

[2016-02-29 20:01] tresf commented on #2617
Thanks!  P.S. "I got it" is perfectly valid for minor items like this, so your etiquette is just fine.  P.S. Welcome!

[2016-02-29 20:01] oeai commented on #2621
well really i didn't uninstall expecting that uninstaller will do that for me

[2016-02-29 20:06] tresf commented on #2621
No, it's never done that.  Take a crack at it if you'd like though: https://github.com/LMMS/lmms/blob/master/cmake/nsis/CMakeLists.txt

Here's one of many examples:
http://nsis.sourceforge.net/Auto-uninstall_old_before_installing_new

But this specific bug is better explained in #2615.  The preferences really don't upgrade well between versions, so if you really want this fixed for all platforms,

[2016-02-29 20:28] oeai commented on #2620
i've uninstalled LMMS (there was only 1.1.90 in programs list) then installed it back
lmmsrc.xml is 1.1.90
both errors are there

[2016-02-29 20:35] Umcaruje commented on #2620
Your `lmmsrc.xml ` is pointing to an outdated theme. Please clear out the theme field in your settings, and your LMMS will reset to the default theme.

[2016-02-29 20:39] oeai commented on #2620
ok, i found it, i'm using x64 version and theme was set to x86
C:\Program Files (x86)\LMMS\data\themes\default\\
some older version really exist there

[2016-02-29 20:47] oeai commented on #2620
thank you, both errors gone.

[2016-02-29 20:57] tresf commented on #2620
Which should be gone if you properly uninstalled.

I assume this time you installed the 64-bit version, so you had to versions installed side-by-side, which is not yet supported.

[2016-02-29 21:02] oeai commented on #2615
i'd propose to add new section in .xml/.rc file for each new version
in my case i had different versions in different paths,
so if some configs can be imported then to make it clean there can be a
"reset config" button and\or
"import config"
having just import config can be more tweaky, because if we have few versions, then we can switch between them at any time, and "default" config for each vers

[2016-02-29 21:15] tresf commented on #2615
So you want to blow away all old versions each time, or prompt when the version has changed?  What about patch versions (1.1.2 -> 1.1.3)?

[2016-02-29 21:36] oeai commented on #2620
well, installator needs more work, but i don't see it in rep
when i uninstalled x64 version, x32 wasn't in list and there's only 1 version LMMS for all,
so when i uninstalled x32, then x64 was also deleted from list of installed programs.
i'd use some registry marks for versions and installators so it was proprely registered in programs and removed if there is already some version or if they are t

[2016-02-29 22:03] zonkmachine commented on #1499
@softrabbit I tried this and when I ad some envelope... it affects the volume. I'm a bit surprised as I thought the instrument would handle this separately after the plugin.

![envelopevolume2](https://cloud.githubusercontent.com/assets/6368949/13408911/8d0ad74e-df30-11e5-82d3-1af87b10a0a6.png)

Well. Now I'm done... This bug is just weird.

[2016-03-01 03:16] IvanMaldonado commented on #2560
Not sure if relevant, but I was using 2 LFO controllers and a peak controller, closing and opening the project again produced this:

![captura de pantalla_2016-02-29_21-13-55](https://cloud.githubusercontent.com/assets/12549082/13416559/60b79d82-df29-11e5-80a3-8019378f73c7.png)

The fader controlled by the Peak controller was now connected to the LFO controller and the other LFO got disconnected.

[2016-03-01 03:45] IvanMaldonado commented on #2560
And sometimes this also happens (I just removed the Peak controller)

![captura de pantalla_2016-02-29_21-41-58](https://cloud.githubusercontent.com/assets/12549082/13417017/5de6e2da-df2d-11e5-9153-cf8217507052.png)

I also can't delete the controller by clicking on "Remove this plugin"

[2016-03-01 04:32] GNUMariano commented on #2435
@IvanMaldonado thank you! Sorry for the late reply (I was ill...) But now I'm into it, it'll be done by this weekend. I'll ask if in doubt of something. Luckily you can revise it soon and merge it soon.
Thanks for the help!

[2016-03-01 12:33] softrabbit commented on #1499
What happens is that the level of the organic volume knob becomes the signal, after which the signal goes through the usual processing just as you thought. So it's really not that surprising when you think about it.

[2016-03-01 15:42] Fastigium opened #2624 "Crash: Controls window of LFO controller is not destroyed upon closing a project"
Another SIGSEGV crash while making music with the `master` branch. Steps to reproduce:

1. Open the controls window of an LFO controller (create one if necessary)
2. Open a different project (either load one or create a new one)
3. Notice how the controls window is still there
4. Cause a redraw of the controls window (even moving the mouse cursor over it will do)
5. Crash!

As this is more of a GU

[2016-03-01 20:00] Fastigium commented on #1679
I'm going to assign myself to this one, as I just ran into it on my make-music-with-master-bug-hunt. This really should be fixed before releasing. I just hope I'll be able to find an acceptable solution where others have failed :sweat_smile:

[2016-03-02 00:02] IvanMaldonado opened #2625 "Presets remember the controller connections"
Steps to reproduce:

1. Open a plugin
2. Connect any knob to a controller (LFO for example)
3. Save it as a preset
4. Open a new project
5. Open your preset
6. Try to move the knob you previously linked to a controller

You have to remove the connection to be able to use the knob.

[2016-03-02 08:53] Fastigium commented on #2610
Right, pull request made: #2626. I'd be grateful if anyone could look it over. I'll be testing it myself by making music with it applied as well.

[2016-03-02 09:45] Fastigium opened #2627 "FxMixer: sends to moved channels are not saved/loaded properly"
Steps to reproduce:

1. Start with an empty project
2. Add 3 FX channels
3. Make FX 1 send to FX 3
4. Move FX 3 to the left, either using the context menu or by selecting it and pressing Alt + Left
5. Select FX 1 and confirm that it sends to the channel directly to the right of it now
6. Save the project and load it
7. Select FX 1 and notice that it sends to the channel *next to* the channel to th

[2016-03-02 14:04] zonkmachine commented on #2627
[code]

:tractor:

[2016-03-02 14:09] tresf commented on #2627
Thanks for the investigation.

Although no longer active on our tracker, @badosu is still around and usually hangs out on IRC #lmms.  I'll ping him. :+1:

[2016-03-02 14:37] badosu commented on #2627
@zonkmachine @Fastigium I am not properly setup to develop lmms these days, but let me know if I can help in any way

[2016-03-02 16:31] Bukarus opened #2628 "Vestige module is not listed despite it builds successfully"
I'm using arch linux x64. I'm trying to get lmms version with vestige module, but it doesn't show up.
I have all deps installed, when running cmake, it states that both vst instrument and vst effect are ok, also I see that everything related to vst compiled and linked successfully, but when I'm opening lmms itself, vestige module is not listed on the list. Compiling with gcc 5.3.0.

**Edit: @tresf

[2016-03-02 19:06] tresf commented on #2628
@Bukarus it looks like we're never displaying library load errors from our `plugins` directory.

For troubleshooting, can you please add this to [PluginFactory.cpp#147](https://github.com/LMMS/lmms/blob/master/src/core/PluginFactory.cpp#L147)

`PluginFactory.cpp#L147`
[code]

This will tell us what the error message is while loading.  For example, if I make a fake plugin:

[code]

Then I get the f

[2016-03-02 19:07] tresf commented on #2628
@Lukas-W should we add some debug info to the console for cases like this?  It seems quite strange that we offer no output when a lib fails to load, especially libs that are placed into the `/plugins` directory.

[2016-03-02 19:26] tresf commented on #2628
Ok... perhaps [new cmake `CMP0015` behavior](https://cmake.org/cmake/help/v3.0/policy/CMP0015.html) going on here...

What `cmake` version are you on?

@Bukarus can you add this to `/CMakeLists.txt#L11` and see if it fixes it?
[code]

[2016-03-02 19:50] #2041 closed

[2016-03-02 19:54] Bukarus commented on #2628
Putting libvestige.so to build's parent directory (root of the entire lmms folder) makes vestige appear on the list. Compiling with modified cmakelists (and clean lmms repo clone) didn't make any difference, thought.

[2016-03-02 20:26] tresf commented on #2628
Ok... I think this is a duplicate of https://github.com/LMMS/lmms/issues/2572.

The relevant portion is here:

The solution would be similar to [`pulls/#2758`](https://github.com/LMMS/lmms/pull/2578/files), scroll down to the `CMakeLists.txt` portion.

If this is correct, we'll need to fit it for `plugins/VstEffect` too.

[2016-03-03 01:56] liushuyu commented on #2628
Yes,  I also uses Arch Linux x86_64 version,  and this surely worked for me.

[2016-03-03 02:06] liushuyu commented on #2611
Not only on Windows, but also on the other platforms namely Linux and Mac can't select languages

[2016-03-03 03:35] tresf commented on #2611
@liushuyu thanks.  While looking for the language block you commented on, I noticed it was moved in https://github.com/LMMS/lmms/commit/ee3a99853b84d089fa99d4985d9d0b145d22bfb8.  Tagging @Lukas-W.

The language logic has moved quite a bit over the last year including moving from [`CMakeLists.txt`](https://github.com/LMMS/lmms/blob/df79601348ca3ed689f77ca128d3ff53f5802871/CMakeLists.txt#L545:L559)

[2016-03-03 03:38] tresf commented on #2628
@liushuyu can you please fork and pull request this change or post the diff so that one of us can implement it?  I assume #1875 is still broken afterward, right?

[2016-03-03 04:38] Lukas-W commented on #2611
Absolutely. Moved in 85011cdcf72fbba721bb0c10f140bfabf7a35725. That should fix the generation.

[2016-03-03 04:40] tresf commented on #2518
Is there a way for us to update the GUI with the text from the buttons?

[2016-03-03 05:33] tresf commented on #2511
Closing due to lack of response from bug reporter.

[2016-03-03 05:33] #2511 closed

[2016-03-03 05:41] tresf commented on #2577
Partially fixed per https://github.com/LMMS/lmms/issues/2611#issuecomment-191564863 via 85011cd.

This is still going to be a problem for Windows until this recommendation is done. https://github.com/LMMS/lmms/pull/1498#issuecomment-189782211

Reopening until we've shimmed our Windows packagers, documentation and Travis-CI scripts.

Test results (Apple):
![screen shot 2016-03-03 at 12 37 08 am](ht

[2016-03-03 05:43] tresf commented on #2611
As it does. :+1: Checking it off here as I'll track the Windows/Travis stuff in #2577 since it's not Qt5 related.

[2016-03-03 06:06] zonkmachine commented on #2455
So it's the bowed instruments then. It could be the stk package.

[2016-03-03 06:40] tresf commented on #2611
Hmmm... I'm having no luck with the splash screen bug... Qt version is `5.5.1_2`

This bug doest **NOT** seem to occur on Windows.

I tried the following to no avail (clicking it won't raise it).

Solutions I tried:
 * https://forum.qt.io/topic/31197/unset-qt-windowstaysontophint-flag-problem/5

Yuck:
 * http://stackoverflow.com/a/17575185/3196753

No mention of it in known issues:
 * http://doc.q

[2016-03-03 06:59] zonkmachine commented on #2455
Yeah, this is in 0.4.14 too.

@musikBear You reported on this issue on the mailing list around the 1.0.3 release.
What version of stk do you have?

[2016-03-03 07:11] tresf commented on #2455
He'll have whatever was bundled at the time of `1.1.3`/mingw32

[2016-03-03 08:22] #2148 closed

[2016-03-03 08:45] zonkmachine commented on #2455
OK. From the release notes for stk 4.4.3
`Updates to Bowed class (thanks to Esteban Maestre!)`

This place us in time around Ubuntu 12.04 and lmms-0.4.10

[2016-03-03 11:06] BeaQueen commented on #512
I tried all the solutions shared on this post and LMMS (version 1.1.3) is still not running on my computer {Windows 10 64bits}.
[Intel i7-6700K 4.GHz, 16RAM GB, Sound card Approx APPPCI71 PCI 7.1]
![lmms](https://cloud.githubusercontent.com/assets/16983449/13492440/511f7d20-e138-11e5-935a-833b809b06cf.png)

[2016-03-03 16:24] musikBear commented on #512
@BeaQueen This thread is for a general crash when LMMS is closed *down* fully normally with a click in the red-x, or the file context-menu.
If i understand you correctly, you cant run LMMS at all?
That is different, and does not belong *here*
''I dont have an emediate 'fix' for your issue. Others uses win10 successfully, but try
http://lmms.io/forum/viewforum.php?f=7

[2016-03-03 16:30] tresf commented on #512
No it's not, it's identical to her problem.

It's OK here.  Although it's a known issue, it's a quite severe one and @BeaQueen has at least posted to the topic versus creating a new duplicate.

@BeaQueen have you tried to reinstall your sound card drivers?  I've have a computer start working simply by uninstalling the sound card driver and getting a new driver from Windows.  In other cases the opp

[2016-03-03 17:50] softrabbit commented on #2611
I'm pretty sure I've seen those "ragged" MDI close buttons before, possibly in an LMMS/Qt5 build on Linux. Could they be a part of a style after all? And IMO they look too consistent for artifatcs.

[2016-03-03 18:07] tresf commented on #2611
[Indeed they are](https://cloud.githubusercontent.com/assets/6345473/13504078/cece89d4-e140-11e5-98e4-893e4daaed43.pn).  @Umcaruje any interest in tracking this one down?

[2016-03-03 19:01] Bukarus commented on #2628
@tresf could you give me instructions how to fix vestige and vsteffects cmakefiles.txt, so I could check if #1875 is still happens?

[2016-03-03 19:17] tresf commented on #2628
I was hoping @liushuyu would do that.  I don't have a machine ready to test the code on, wherease @liushuyu apparently does. :+1:

[2016-03-03 20:19] tresf commented on #2628
If I were to try, I'd start by adding [this line](https://github.com/LMMS/lmms/pull/2578/files#diff-8e97a3188216f613f844021537ce7b6cR6) to the `plugins/vestige/CMakeLists.txt` file. :+1:

If that fixes the listing, I'd repeat for the `VstEffects`, respectively.

[2016-03-03 20:31] Umcaruje commented on #2611
My life is pretty crowded rn, I can take a look, but not sure when I'll have the time for it (I have some other issues I'm looking at).

Isn't #2516 going to fix this though? We are loading custom pixmaps for the buttons there.

[2016-03-03 20:38] tresf commented on #2611
Well, it would certainly be a moot point if #2516 were to be implemented, but I'm not placing any bets on a hypothetical, and this would give us a better understanding of things, anyhow.

[2016-03-03 20:40] Umcaruje commented on #2611
What if I started working on #2516 until its mergeable? ;) (though idk how that would be organised)

[2016-03-03 20:45] tresf commented on #2611
Well, actually, that may be our only option... Here's Windows with the theme disabled... (still happens)

![image](https://cloud.githubusercontent.com/assets/6345473/13508861/ccc37be8-e156-11e5-8cf8-51029ff6a8db.png)

I'll take a second look at the code, but this may be a `not-our-bug`-type scenario after-all...

[2016-03-03 20:51] Lukas-W commented on #2628
Yes! It'd be helpful to have a output in the GUI as well but that's an ongoing discussion iirc (about how to do this while keeping engine and gui decoupled).

[2016-03-03 20:57] tresf commented on #2611
Adding new item to list...

[2016-03-03 21:51] tresf commented on #2628
They're being collected alright, not sure how best to log them (#1945, #1525, @Wallacoloo), nor where they're going #1524...

[2016-03-03 23:35] IvanMaldonado opened #2630 "Move an object in the stylesheet"
Issue a Pull Request or open an issue about this if you want, I'm locking this.

Just did.

No, I didn't
![4](https://cloud.githubusercontent.com/assets/12549082/13513401/3f09d86e-e166-11e5-8e31-1b84d627e5b0.png)

Ignore the .css edit, I'm just talking about the position of the text on the stylesheet

Also, the 1.1.3 stylesheet has this object in the position I'm telling you but titled as "QToolBu

[2016-03-03 23:39] Umcaruje commented on #2630
Please make your request clear in the new issue, better yet, fork the repo and just make the changes you want. Reviewing that will be a lot easier than hypothetically talking here :)

[2016-03-03 23:42] liushuyu commented on #2628
First, yes you are right. 😀
 so how to fix?
Just take a look at #2578, I found the same solution can be applied to Vestige compilation ('Linking',  more precisely).
What's more, I even tried to change  the link method to 'SHARED' of all the plugins, and expect a crash. But to my 'surprise', LMMS still worked like a charm. XD

**So just change the link method of Vestige from "MODULE" to "SHARED" wi

[2016-03-03 23:45] zonkmachine commented on #2455
lmms-0.4.2 / stk-4.2.0 Same issue, so the changes in stk above had nothing to do with it.

[2016-03-03 23:54] IvanMaldonado commented on #2630
Closed as the PR now exists.

[2016-03-03 23:54] #2630 closed

[2016-03-04 01:17] musikBear commented on #512
Why dig in the DB to recreate my mistake. I realized i was on the wrong track emediately and removed the comment?
@BeaQueen  If you already has tried as you wrote

Then the driver thing is also old news.
One way to get a working LMMS could perhaps be to try the 32x windows version, or perhaps this
https://lmms.io/forum/viewtopic.php?t=392&start=10#p15566
Is what you need?

[2016-03-04 03:22] liushuyu commented on #2628
Yes,  #1875 still exists... It takes forever to load the VST plugins under Arch Linux 64-bit (Other platforms have not tested, and I am afraid this could likely to happen on many 64-bit Linux systems) . 🌝

[2016-03-04 03:47] serdnab commented on #171
Is that the desired behavior?
If it is, I start working on it.

[2016-03-04 04:08] tresf commented on #171
@serdnab I'm having a hard time understanding @Sti2nd's test results, but if you understand what he's saying, go for it. :+1:

[2016-03-04 06:41] tresf commented on #2628
A Pull Request would be fantastic from someone who's already working on this code (including both `vestige` and `VstEffects` confirmed on a platform exhibiting the issues.  If not, we'll get to it... eventually.

[2016-03-04 15:22] tresf commented on #2628
@Lukas-W your auto-assign stuff, please turn it off. :+1:

[2016-03-04 15:49] musikBear commented on #2455
@zonkmachine /
current Systems Tool Kit c++ is the one @tresf bundled in the test RC g23d2824. This RC is '100%' stable for me. The new edit-features in piano-roll are incredible useful (saying that not because i suggested those :p, but current stk is ofcause of no relevance to the one at 1.1.3 release time. If i Can make any kind of experiment, that can be of interests? just let me know

[2016-03-04 18:25] #2628 closed

[2016-03-04 18:26] tresf commented on #2628
@Bukarus, fixed.  Please issue a `git pull` and you'll have the fix implemented.

@liushuyu much obliged. 🌝

[2016-03-04 19:56] tresf commented on #2611
Update:

**Closed:**
 * Menu bar colors hard to read - fixed via 5f48d1c.
 * Mac splash screen hides SetupDialog - fixed via 1058ea4
 * Inactive QMdiWindow titles - superseded by #2516
 * Visual artifacts in MDI window decorations - superseded by #2516

**Critical/Open:**
 *  Channel activity indicator on by default (screenshot in description above)

**Cosmetic:**
  * MDI window controls are incor

[2016-03-04 20:30] tresf opened #2633 "Crash when closing"
May only happen with DummyAudio, but no user-way to change it, since closing it crashes and the `~.lmmsrc.xml` file never gets written, so I consider this critical as it potentially makes master branch unusable on Mac to the average user.
- The crash occurs around here: [`Mixer.cpp#L214:L228`](https://github.com/LMMS/lmms/blob/master/src/core/Mixer.cpp#L214:L228)
- Seems to be stuck here: [`AudioD

[2016-03-04 20:32] Umcaruje commented on #2611
Well, on linux, I actually have no icons in the dropdown menu, so I don't know how they looked.

I increased the padding accordingly in #2567, but I'm not sure how the icons behave. They should be moved 3 px to the left I guess, though Qt should render them centered, and not aligned to left.

If it can't be fixed in code, we can revert the margins back.

[2016-03-04 21:15] Umcaruje commented on #2611
Fixed it via https://github.com/LMMS/lmms/commit/d098a39c76321293af73f398ab89965e827b4d12

![screenshot from 2016-03-04 22 13 58](https://cloud.githubusercontent.com/assets/6282045/13540415/9a1b7294-e256-11e5-9a9a-07fb75228549.png)

[2016-03-04 21:17] mikobuntu commented on #2611
@Umcaruje Refering to your comment about no drop-down icons, this is a known issue... iirc I was talking to tobydox several years ago about this and if my memory server me right it was an issue with the actual DR.
 I wonder if there is a method to override this behaviour? Thanks

[2016-03-04 21:18] Umcaruje commented on #2611
@mikobuntu well, the problem is gone for me when I compiled using qt5, so I guess when we switch to it, it wouldn't matter.

[2016-03-04 22:25] Umcaruje commented on #2611
@tresf I rebased #2516 and the `White line on edge of all QWidgets` is also gonna be superseded by it:
![screenshot from 2016-03-04 23 24 22](https://cloud.githubusercontent.com/assets/6282045/13542026/6573ee2c-e260-11e5-995c-1bcc5d98bec9.png)

[2016-03-04 23:00] zonkmachine commented on #2455
Yes. Just test mallets and see if you find anything of interest.

[2016-03-04 23:22] tresf commented on #2611
:+1:

:+1: :+1:

Do you guys get the LED indicator bug too on Linux?  I don't have a ready Qt5 Linux environment to test on.

[2016-03-04 23:41] IvanMaldonado opened #2634 "b+b editor background is linked to the mutedBackgroundColor"
![captura de pantalla_2016-03-04_17-37-44](https://cloud.githubusercontent.com/assets/12549082/13543331/eedabfa0-e22f-11e5-806b-e54cc95ca6b6.png)

![captura de pantalla_2016-03-04_17-38-28](https://cloud.githubusercontent.com/assets/12549082/13543332/ef2d0a62-e22f-11e5-90d5-14dc1e167a5a.png)
[code]

[2016-03-04 23:56] tresf commented on #2634
@IvanMaldonado thanks for the bug report.

Can you try to adjust it by adding it to `BBTCOView` per https://github.com/LMMS/lmms/blob/master/data/themes/default/style.css#L574:L577.

Also, please wrap all css code in (```css) code blocks, it makes the bug reports easier to read. :+1:

[code]

[2016-03-05 00:25] Lukas-W commented on #2628
Is it *still* doing that? I'll try, but I'll probably have to reach out to support…

[2016-03-05 00:27] IvanMaldonado opened #2635 "Add a colored rectangle in the loop area"
![flat](https://cloud.githubusercontent.com/assets/12549082/13543985/4fbd4f3a-e236-11e5-94f5-2c1442c3c5aa.png)

Adding just a rectangle with 20% opacity can help us to easily detect where we are working without having to locate the indicators individually and it also looks sexy as hell.

[2016-03-05 00:27] tresf commented on #2628
Is this "reversible" crane your doing as well? https://github.com/LMMS/lmms/pull/2632#issue-138433392  :laughing:

[2016-03-05 00:28] Lukas-W commented on #2628
Should be turned off now.

[2016-03-05 00:32] Lukas-W commented on #2628
No, it isn't. Promise :raised_hands:

[2016-03-05 03:46] RebeccaDeField opened #2636 "Determine how the Beat and Bassline Editor should work"
From what people have been saying, it seems like the current BB editor is not ideal, and it's more from a technical standpoint than just aesthetic.

[2016-03-05 03:57] tresf commented on #2636
Related: #2443

[2016-03-05 05:51] tresf commented on #2633
Came across this comment while working on another bug.  May be related to the crash:  https://github.com/LMMS/lmms/pull/2339#issuecomment-139929668

[2016-03-05 05:53] tresf commented on #2576
@musikBear here you are: [`tresf/lmms-1.1.90-gd098a39-win32-nosoundio.exe`](https://github.com/tresf/lmms/releases/download/v1.2.0-RC1.2/lmms-1.1.90-gd098a39-win32-nosoundio.exe)

Ok... after using DependencyWalker, I was able to track down `libsoundio.dll` causing the crash.  In short, compiling with `-DWANT_SOUNDIO=False` will allow LMMS to continue running on Windows XP.

Turns out `soundio`'s

[2016-03-05 06:35] IvanMaldonado opened #2637 ""Solo" terminates the sound in every send"
Not sure if this is intended or not.

What I get:

![captura de pantalla_2016-03-05_00-31-50](https://cloud.githubusercontent.com/assets/12549082/13546141/ee1843b4-e269-11e5-8ae4-8eca7066f4c6.png)

(There isn't any instrument in this channel, just the sends)

What I expect:

![captura de pantalla_2016-03-05_00-32-45](https://cloud.githubusercontent.com/assets/12549082/13546144/f35c56bc-e269-11e5-8

[2016-03-05 10:54] grejppi commented on #2576
@tresf libsoundio apparently [requires Windows 7 or newer](http://libsound.io/)

[2016-03-05 15:53] musikBear commented on #2576
@tresf very nice! Thanks! :wine_glass:
Perhaps this version could be the last farewell, with a informative note in the release doc, that hereafter winXP specifiv issues, will not be considered in future development. Then a nice clean sand-line has been drawn, with 1.2, and me and china will have to upgrade, or go linux.

[2016-03-05 17:59] mikobuntu commented on #2576
@musikBear just out of curiosity is XP still covered by security updates? And my 2 cents, I would recommend switching to Linux 😆

[2016-03-05 18:08] musikBear commented on #2455
@zonkmachine
Made a testbed with escalating automation for all instrument-dials.
I used wave-recording to illustrate the various functionalities.
The first series are for the presets:
*Marimba, vibraphone, agogo, wood1, reso, wood2, beats, two-fixed, clump*
That all have the same controller-dials
**Hardness**
![malletsvibraphonehardnessauto16bar](https://cloud.githubusercontent.com/assets/6662066/

[2016-03-05 18:53] BeaQueen commented on #512
Well, I'll tell you what happened.
First, I uninstalled all my sound card drivers, LMMS worked but it didn have any sound.
I installed all my sound card drivers, my headphones and my speakers didn't work but LMMS worked.
I configurated all the drivers software, LMMS stopped working again with the Runtime Error again but all my sound stuff was working again.
I downloaded Bitwig and replaced the por

[2016-03-05 18:59] Umcaruje commented on #512
@BeaQueen could you post your `.lmmsrc.xml` (its located in your user folder)

You can use a service like https://gist.github.com/ or http://pastebin.com/

[2016-03-05 19:51] IvanMaldonado commented on #2576
Who uses vista anyway? Lmms was lucky to run on Vista since many many things didn't work properly even in Vista times.

[2016-03-05 20:37] grejppi opened #2638 "Crash after rendering when using soundio"
cc @andrewrk

Steps to reproduce:

1. Select the `soundio` audio device.
2. Have something to export.
3. Export. LMMS will crash.

[code]

So what's happening here? LMMS pauses the audio device to temporarily replace it with the renderer. `AudioSoundIo::stopProcessing()` however destroys `m_outstream` which would be needed again in `AudioSoundIo::startProcessing()` and after that.

[2016-03-05 21:23] tresf commented on #2576
I appreciate the feedback.

What I haven't read yet is a Windows 7/8/10 user that has tried libsoundio from our 1.2-RC1 release to vote in its favor.  We can pull this library from our 1.2 release and offer XP support for a bit longer, but I'm not sure which is worth more.

On that note, I'm attempting to compile libsoundio using Mingw so that I can experiment with [`GetProcessAddress` and family]

[2016-03-05 23:20] zonkmachine commented on #2455
@musikBear We got pretty much the same result then. I'll add to this that:

 * The Vibrato knob in the last set of instruments isn't fully implemented and therefore 'stuck' in one position.
 * On reload the default/first set of knobs will be shown even if you have a sound after and including Tubular Bells. You need to manually change to another instrument and then back to what you had in order for

[2016-03-06 03:03] serdnab commented on #171
The original issue reported by @diizy (more a new feature than a bug) is working, it's from Song Editor to BB Editor.
The point made by @Sti2nd is, conversely, from BB editor to Song Editor (again a new feature).
As I said before, I will be glad to implement it.

[2016-03-06 05:11] tresf commented on #2576
So I tried to use `libsoundio` today on Windows 10 64-bit, and these are my results:

 * Audio backends:
  * `libsoundio: WASAPI (default device)`: Selectable, restart LMMS for changes to take effect.  Playback is too sporadic for daily use, but sounds ok when it does work.  Something seems to kill the audio randomly.  Note, this is not quite as bad as `PortAudio: Direct Sound`.  On a side note, `

[2016-03-06 08:51] liushuyu opened #2639 "Making the name of plugins translatable"
I found that plugins names are hard-coded and not be able to be translated. Therefore, making it more difficult for translators and users to translate and use LMMS.

Currently, and I found the template of a LMMS plugin is:
[code]
It's  obvious that the name `"YourPluginNameHere"` cannot be marked by linguist tool.
AFAIK, to do this, `QT_TRANSLATE_NOOP` should be used: http://doc.qt.io/qt-4.8/qtglo

[2016-03-06 09:12] liushuyu commented on #2587
@RebeccaDeField  Wow, this theme just made me refreshed! And I feel like I were using another software other than LMMS  XD!!
Just one little problem: I **personally** think the icon of `TripleOscillator` is a little worse than the original edition.

[2016-03-06 10:38] LVitall opened #2640 "not work DPI ( not DPI | windows 10)"
Hi,
windows 10
not work DPI ( not DPI )

thanks

[2016-03-06 11:45] liushuyu commented on #2640
What did you mean? Did you mean the poor support of HiDPI (High DPI) ?

[2016-03-06 11:58] LVitall commented on #2640
I have two monitors. And video DPI does not work. (very little size of chars in words and buttons) But I found the solution, windows allows you to disable DPI for one of the monitors. In General the problem is solved. But in LMMS is better to do at the software level

[2016-03-06 12:07] musikBear commented on #2576
@mikobuntu updates, no. I run some security stuff on top of xp. I consider that to be sufficient, and i have never had any incident. :four_leaf_clover:

@tresf those are interesting, albeit i do have to say that ASIO4ALL imo is the best 'other than SDL' for windows. At current ASIO is a no-go, because of the mandatory crash-at-shutdown #2584. On my system that causes the BSOD every time -Eg ASIO c

[2016-03-06 12:33] musikBear commented on #2455
:+1: very good

[2016-03-06 13:45] Umcaruje commented on #2639
Why would we even make the instrument names translatable? They are names, and as such they shouldn't be translated.

Imagine a spanish user reading our english documentation, and his confusion when he starts looking for a plugin in his software, but can't find it since the name is different.

[2016-03-06 14:04] midi-pascal commented on #2639
@Umcaruje :+1:

[2016-03-06 14:22] liushuyu commented on #2639
Maybe I didn't state clearly about my opinion:

I also agree this to some extent, for terms shouldn't be translated in common cases.

Yes, I'm aware of that. I mean, provide a chance for developer to choose whether the name can be translated. For instance, the string "LADSPA Plugin Browser" also exists in main UI,
thus making it awkward:

![spectacle qv98281](https://cloud.githubusercontent.com/as

[2016-03-06 14:30] #2610 closed

[2016-03-06 14:31] Fastigium commented on #2610
For the record: I decided to go ahead and merge, as it's a small change and I've tested it myself for numerous hours without crashes or deadlocks.

[2016-03-06 15:06] Fastigium commented on #2627
Pull request made: #2641. This fixes the test case for me. Testing welcome!

@zonkmachine Thanks for the bisect work :tractor:, that pointed me in the right direction.
@badosu If you could look the pull request over and give any comments/suggestions that come to mind, I'd appreciate it :+1:

[2016-03-06 15:19] zonkmachine commented on #2627
#2641 Tested, works! :+1:

[2016-03-06 15:22] Fastigium commented on #2624
@zonkmachine Should you feel like more bisect work, this problem isn't there in `stable-1.1` :wink:

[2016-03-06 15:31] zonkmachine commented on #2624
I'll try it but I can't reproduce it as described. I don't see the controls window still there but I get a crash and I guess that's the juicy part. I'm on the case...

[2016-03-06 15:48] Umcaruje commented on #2640
Duplicate of #2510

[2016-03-06 15:48] #2640 closed

[2016-03-06 17:05] tresf commented on #2627
Closed via 9ff8091.

[2016-03-06 17:05] #2627 closed

[2016-03-06 17:13] zonkmachine commented on #2624
:tractor:  Good run. No ambiguity.

[code]

Ping @michaelgregorius ! :wink:

[2016-03-06 17:25] Umcaruje commented on #2634
Actually, the whole portion of the BB editor (with the steps and whatnot) is drawn in `Pattern.cpp`, so this is a matter of making another qproperty and adding it in the ternary operator here:
https://github.com/LMMS/lmms/blob/master/src/tracks/Pattern.cpp#L967-L968
The property then could be defined in `TrackContentObjectView` or `PatternView` in the CSS.

This could be an easy issue for someone

[2016-03-06 17:33] Umcaruje commented on #2549
@ycollet is this still an issue?

[2016-03-06 17:37] Umcaruje commented on #2528
That's what we're doing in #2587 ;) And yes, I'll look into flattening all of those line things.

[2016-03-06 17:39] tresf commented on #2549
@Umcaruje this should probably remain open until we chain Carla into our build process.

It's quite simple to add stuff to travis, and the PR will show pass/fail for newly added items.

Repository can be added here: https://github.com/LMMS/lmms/blob/master/.travis/linux..before_install.sh
Package can be added here: https://github.com/LMMS/lmms/blob/master/.travis/linux..install.sh

Assuming the `C

[2016-03-06 18:08] michaelgregorius commented on #2624
Fixed with #2642.

@zonkmachine: Thanks for bisecting!

[2016-03-06 18:09] claell commented on #2528
@Umcaruje thanks for the link, did not know about this.

[2016-03-06 18:14] claell commented on #2587
I don't know how much can be themed, but there are still things looking old like the window borders etc.
Also how about using approaches of other Audio-programs as inspiration?

[2016-03-06 18:17] Umcaruje commented on #2624
@Lukas-W the auto-assign stuff still isn't off

[2016-03-06 18:37] Umcaruje commented on #2587
Look up #2516

[2016-03-06 18:56] #2624 closed

[2016-03-06 18:59] softrabbit commented on #2611
Yes, it's present.
LMMS 1.1.90-g2e2abdf
(Linux x86_64, Qt 5.4.2, GCC 5.2.1 20151010)

[2016-03-06 19:14] tresf commented on #2611
@softrabbit thanks for confirming.

Is there a chance this is just a bad initiation? Don't know the CSS side of things that well, but seems like this may be intended to be `Inactive` rather than `Active`.  Pinging @Umcaruje https://github.com/LMMS/lmms/blob/master/src/tracks/InstrumentTrack.cpp#L916:L920

[2016-03-06 19:16] tresf commented on #2611
Meh... nevermind that statement... that's more in regards to the QWidget being active or inactive from a user-interaction perspective.  I'm pretty sure Active is what we want, so this must be something else.

[2016-03-06 19:23] tresf commented on #2611
Ok, on second look, this is most likely due to the way Qt5 is handling the timer...

https://github.com/LMMS/lmms/blob/master/src/gui/widgets/FadeButton.cpp#L86:L100

When the `FadeButton` is initially created, this statement is most likely coming back as true.  `m_stateTimer` is `QTime`.  According to the Qt5 docs, we should be using [`m_stateTimer.isNull()`](http://doc.qt.io/qt-5/qtime.html#isNu

[2016-03-06 19:51] michaelgregorius commented on #2549
Now that there is a new issue for the Travis integration I think this one should be safe to close. The critical changes have been [reverted](https://github.com/LMMS/lmms/issues/2549#issuecomment-181075191) anyway.

[2016-03-06 19:53] tresf commented on #2549
Agreed to a point, but it's a new PR, not a new issue AFAIK, so if the PR gets closed by @Umcaruje out of frustration, the project can lose sight of the task at hand.

[2016-03-06 19:56] michaelgregorius commented on #2549
@tresf Ah, ok. Didn't notice that it was a PR.

[2016-03-06 20:16] michaelgregorius commented on #880
Seems like that knob is not used.

The magical code that @Wallacoloo has prophesied correctly can be found [here](https://github.com/LMMS/lmms/blob/master/src/gui/widgets/Knob.cpp#L114). For `knob04.png` to be used `m_knobNum` has to be 3. That member is initialized in the constructor of `Knob` (see [here](https://github.com/LMMS/lmms/blob/master/src/gui/widgets/Knob.cpp#L71) using an `enum`. The

[2016-03-06 20:23] RebeccaDeField commented on #2587
@claell As @Umcaruje said, the title bars, among many other elements on this theme, are being worked on. :)

[2016-03-06 20:30] pmache commented on #880
@RebeccaDeField Thank you for your reply. I understand that. And I hoping LMMS could get a proper desing. I'm crossing my fingers for that.

@tresf I see that somebody got a butthurt because truth has been spoken. I'm from community where some guys uses LMMS (ex. Loco) - I'm ok with that. I also used it, and I wishing LMMS everything best. That I have say my opinion (like some of my friends on for

[2016-03-06 20:56] Lukas-W commented on #2624
Meh

[2016-03-06 20:58] Lukas-W commented on #2611
Indeed, that fixes it. Fixed via 8768769450e245ef409fbe68cb6583c6253d90fc.

[2016-03-06 21:34] tresf commented on #2611
:+1:

This next item is our last noted issue...

I've spent a considerable amount of time researching this to no avail.  If anyone knows how to style these little buggers, please chime in. :+1:

[2016-03-06 21:38] tresf commented on #880
I'm not sure what you're talking about specifically, but if you'd like to contact me personally/directly on this matter I can investigate.

I'd much prefer we save the tracker from off-topic rants (or whatever is happening in your post). :+1:

[2016-03-06 21:42] michaelgregorius commented on #880
I have opened pull request #2644 which removes the unused knob 'knob04.png` and which also contains a proposal to rename the knob images so that they can be found better in the code.

And now I will let this closed issue rest in peace. :wink:

[2016-03-06 23:39] liushuyu commented on #2611
Ah, I consider this as the most difficult issue among these... I suppose that this may caused by the different rendering/parsing behavior between Qt 4 and Qt 5.

[2016-03-07 01:44] GNUMariano commented on #2435
Hello! I added a commit #4668f57 with the full translation to Spanish.
@IvanMaldonado there are two lines I couldn't translate ('hp grp' and 'lp grp'. I guess 'hp' stands for 'high pass' and 'lp' stands for 'low pass' but I can't figure out what 'grp' stands for.).
Sometimes the translated sentences are too long (ej: my presets == mis preconfiguraciones, etc) maybe I must abbreviate this like "mis

[2016-03-07 05:10] zonkmachine commented on #2435
'grp' is short for group. It's the Hi/Lo pass selection buttons (12dB, 24dB and 48dB) under numbers 1 and 8 in the equalizer.

[2016-03-07 05:28] serdnab commented on #171
I think this issue could be closed.
The original request made by @diizy is already implemented and working.
From what I understand from @Sti2nd, refers to another scenario (when you drag a track from BB editor to Song Editor, the reverse of what @dizzy is saying, that is from Song Editor to BB editor) and deserves another new feature issue.

[2016-03-07 05:56] #2576 closed

[2016-03-07 05:58] tresf commented on #2576
It is with mixed emotions that I say, we can continue using Windows XP on 1.2.0 per #2645. :smile:

Reasoning had most to do with the unreliability of `libsoundio` + LMMS.

![screen shot 2016-03-07 at 12 55 10 am](https://cloud.githubusercontent.com/assets/6345473/13561829/7df7e20a-e3ff-11e5-99e5-487fdfc022ab.png)

[2016-03-07 06:00] tresf commented on #2611
@musikBear:  Here's your binary: https://github.com/tresf/lmms/releases/download/v1.2.0-RC1.2/lmms-1.1.90-win32-qt5.exe

Can we get some test results?  Some of the aforementioned bugs won't be patched in this release, but we need more test results before making the decision to switch.

[2016-03-07 06:01] andrewrk commented on #2576
Thanks for doing this testing. I'll see if I can figure out what's going wrong with libsoundio on Windows. Although I'll be testing on Windows 7 or Windows 10 and not XP.

[2016-03-07 06:02] IvanMaldonado opened #2646 "Ideas for the plugins' icons"
I've worked on some ideas for the icons of some effects we have. I have to remark these are just ideas and not design proposals (As you will see, I draw like a kindergarten kid).

Some of them are conceptual, other funny, I hope you can get a good interpretation of them. :+1:

Waveshaper

![sh](https://cloud.githubusercontent.com/assets/12549082/13561844/44e93c6e-e3f7-11e5-8876-12d789e6081a.png)

[2016-03-07 06:14] tresf commented on #2576
Well, I got a [bit ambitious](https://github.com/andrewrk/libsoundio/commit/5f33f95) for a minute there, but quickly realized how much compat code would be needed just to prevent the Windows XP crash.  I'm still interested in a technique that allows it to silently fail, but I don't know enough about the compiler to tackle something like that.

Thanks. We have issues with our PortAudio DirectSound

[2016-03-07 06:16] andrewrk commented on #2576
That's not even the real issue, the real issue is that libsoundio would need to target a different audio backend than WASAPI for XP.

[2016-03-07 06:20] tresf commented on #2576
This is where my understanding of the linker gets a bit foggy... by "different audio backend" you're essentially saying to ship a separate DLL just for XP, right?  Because everything I read about the linker said to either use soft-links against KERNEL32 to detect missing symbols, or don't run on that platform.  My attempt to find another way was unsuccessful. :beer:

[2016-03-07 06:33] andrewrk commented on #2576
I mean that I would need to write a DirectSound backend for libsoundio since WASAPI was introduced in Windows Vista.

[2016-03-07 08:09] claell commented on #2587
@RebeccaDeField Alright.Thanks for creating this design.

[2016-03-07 13:09] musikBear commented on #2611
@tresf Thanks! :cake: I will install asa i get home, and test tonight. Sanity-tests, and are there anything else specific? Just let me know

[2016-03-07 13:35] tresf commented on #2611
Yes, Qt5, specifically.  We need to know if we can switch to it as a permanent replacement for Qt4, so any major bugs that aren't in RC1's Qt4 version are precisely what we're looking for.

[2016-03-07 16:07] trekkers2208 commented on #158
I'm having this same issue.  Using Mint 17 Cinnamon, LMMS will work fine for a while, then all of a sudden while previewing instruments, the sound goes distorted.  I suspected having the browser open at the same time as LMMS caused the issue so i quit doing that.  Even when LMMS is the only program open it still does it.  Audio settings are set to use the OS card and my speakers selected as the de

[2016-03-07 18:42] musikBear commented on #2611
@tresf
Install was a little different. The install lib was asked for twice, and an error appears every time lmms opens from desktop-icon/ associated-link:
![qt5pr_drive_not_ready](https://cloud.githubusercontent.com/assets/6662066/13578872/b8f5b44a-e49a-11e5-934a-763644addff5.png)
A click on *continue* opens lmms normally.
This error does not appear, if a new or existing project is selected inside

[2016-03-07 18:55] tresf commented on #2611
@musikBear

Thanks for the detailed feedback.  Please continue to do so.

In regards to indicator lights and "x" button, both are documented in the original bug report as either fixed or superseded by a future fix.

The mixer artifacts are new... I'll try to reproduce.  Much obliged.

[2016-03-07 19:02] tresf commented on #2611
Also, Apple testing has been very minimal at this point, but we've received a small amount of feedback from @sunnystormy per https://github.com/LMMS/lmms/issues/2504#issuecomment-188522060.  The build @sunnystormy is using (linked in the original bug report) was built on OS X 10.11 "El Capitan" which won't work on anything older than Yosemite 10.10, so getting a Qt5 build that's crated with 10.8 t

[2016-03-07 19:09] tresf commented on #2611
@musikBear

I'm unable to reproduce the Mixer graphical glitches https://www.youtube.com/watch?v=aMVmIvtfFKY

[2016-03-07 20:12] Umcaruje commented on #2192
Ok this happened again, I just played `RandomProjectNumber14253` by skiessi on a fresh build of master with qt5. Same stuff in the backtrace: `qvector.h` and `FxMixer`

@Fastigium since you seem to be the current wizard on this kind of stuff, could you take a look at this please?
[code]

[2016-03-07 22:01] tresf commented on #2510
I created a graphical representation of what works and what doesn't based on overlaying 100% with 125%.  This should help understand where the problems stem from and how to start identifying them and eventually fixing them.

It appears **ALL** pixmaps are drawn at their natural size, so that may be a fix-it-everywhere type patch.

Obvious but
 * :white_check_mark: `Green` = Scales properly
 * :no_

[2016-03-07 22:20] IvanMaldonado commented on #2510
Yo, where can I find the fork to test lmms with qt5?

[2016-03-07 22:33] tresf commented on #2510
No fork needed.

Just `export QT5=True` should do the trick .

All of our wiki tutorials have been updated to reflect this.

[2016-03-07 23:35] IvanMaldonado commented on #2510
When  or where do I have to do that?

[2016-03-08 01:21] tresf commented on #2510
`export FOO` is quite common on Linux, it really needs no explanation.

Your system has to have Qt5 available of course, but I'd rather not use a bug report about HiRes support as a Q/A for a tried and true build process.   Can you move your questions to the Qt5 thread please?

[2016-03-08 01:28] liushuyu commented on #2646
Wow, looks like pixel art 😃
I think this is somehow beautiful ()

[2016-03-08 01:30] liushuyu commented on #2639
Alright, it seems that you are not agreed to do this, that's also fine to leave them 'as-is'
Closing

[2016-03-08 01:30] #2639 closed

[2016-03-08 03:05] #2577 closed

[2016-03-08 06:56] tresf commented on #2510
Some more interesting information... (I tried this without much success, but I'd like to hear feedback from others... )

**Scale factor of 2, Qt 5.4 or higher required**
[code]

**Allow high-dpi pixmaps, Qt5.1 or higher required**
[code]

And to prevent crashes on older Qt versions...

[code]

References:
http://blog.davidedmundson.co.uk/blog/kde_apps_high_dpi
http://blog.qt.io/blog/2013/04/25/ret

[2016-03-08 09:55] SimoneIervasi commented on #2646
Nice ideas! The only thing i don't like is the Pac-Man monster in the spectrum analyzer icon :)

[2016-03-08 10:43] Fastigium commented on #2192
@Umcaruje Hm, an interesting crash. For starters, it is [Qt5-exclusive](https://github.com/qtproject/qtbase/blob/d35d847be32636de642211665b71be5adffe9859/src/corelib/tools/qvector.h#L392), as [Qt4 does not assert `isDetached()` when detaching](http://code.qt.io/cgit/qt/qt.git/tree/src/corelib/tools/qvector.h?h=v4.8.7#n147). Also, it would seem that the `[]` operator is used in many places in FxMix

[2016-03-08 15:10] tresf commented on #2611
I installed QtCreator for Windows to see how these are decorated natively, and there's quite a difference...

**WindowsVista**

[code]

![image](https://cloud.githubusercontent.com/assets/6345473/13604279/00f111e8-e510-11e5-8102-083b6add2f8a.png)

**Fusion**

[code]

![image](https://cloud.githubusercontent.com/assets/6345473/13604449/af297cd2-e510-11e5-9529-596f8156aad0.png)

**Windows** (classic

[2016-03-08 18:30] zonkmachine opened #2649 "BBTrack update bug"
Since f136ba3097d45b8651e45b494f8af5a6d606cd59 the BBTrack needs a little push once in a while to redraw properly.
To see the bug in action:
 * Open a a new project
 * Open a BBTrack
 * Open yet another new project... presto!
You need to resize the window to make the pattern fill out properly.
@Umcaruje
![bbtrack](https://cloud.githubusercontent.com/assets/6368949/13611636/d556044a-e563-11e5-81b7-

[2016-03-08 18:33] Fastigium commented on #2192
A-ha! The `foreach` macro makes a copy of the container it's iterating! That explains where the extra reference is made, namely [here](https://github.com/LMMS/lmms/blob/515ada610221832f5ef99e9c366eac5daea80458/src/core/FxMixer.cpp#L581). Replacing that with a const iterator should fix the source of this problem. I did so in pull request #2650. Testing and comments welcome!

[2016-03-08 19:33] tresf commented on #2192
@Fastigium nice catch.  We have quite a few of these `foreach` statements in our codebase.  Is there a chance this is happening in other areas as well?

[2016-03-08 19:56] tresf commented on #2611
I guess the important lesson learned here is, be careful what you ask for, you just might get it.... (5f83afc).

Safe to say, we're going to leave this QMdiWindow windowing controls as-is.  Please speak up if you object. ;)

**Ubuntu 12.04**
![image](https://cloud.githubusercontent.com/assets/6345473/13614306/d9fd8cd2-e53d-11e5-9e32-e05b277aaee6.png)

**Windows XP**
![image](https://cloud.githubus

[2016-03-08 20:04] Fastigium commented on #2192
@tresf Yeah, fun stuff :grin:. I'd like to verify that this fixes things and maybe dig a little deeper in Qt's reasons for this change before recommending anything big, but it sure looks like this may require a major overhaul.

@Umcaruje How often does this crash occur? Any chance to positively determine if it is fixed?

In general, how soon are we supposed to fully support Qt5? Should fixing Qt5-

[2016-03-08 20:37] tresf commented on #2192
@Fastigium I've added it to the Qt5 list (#2611)

Ideally, yes.  Practically speaking... that depends on this bug as well as whatever else crops up.

My initial hope was to put a line in the sand at RC2.  This would give us `dmg` and `exe` binaries for Mac and PC with Qt5 and should yield some good feedback from our users (FYI, RC1 is averaging 200 downloads per day).

[2016-03-08 21:05] IvanMaldonado commented on #2611
What will happen to the themeable title bars?

[2016-03-08 21:11] Umcaruje commented on #2192
It happens at completely random, I'm afraid. It crashed once after idiling, once while playing, and once when I pressed stop. I'll check the branch and do a thorouugh test, when I find some time off.

But I have to say that the random crashes are not only happening in qt5, I had this problem for over a year now (on different machines) You can check out the backtraces here:
https://gist.github.com/

[2016-03-08 22:00] tresf commented on #2611
We're going to roll our own still. :+1: Native look won't work as illustrated. :)

[2016-03-08 22:01] Umcaruje commented on #2649
Actually, it happens whenever I add a new BBtrack. That's weird. I don't recall touching that portion of the code...

I'll look into it.

[2016-03-08 22:09] Umcaruje commented on #2649
Ok, I removed
[code]

from the PaintEvent for Pattern. Note that this bug exists for automation tracks in 1.1.3:
![screenshot from 2016-03-08 23 06 31](https://cloud.githubusercontent.com/assets/6282045/13618126/a6d2aea6-e582-11e5-84d3-cc241f986c6d.png)

I'm not sure why this was in the paint-event though, shouldn't it have been in the constructor?

[2016-03-08 23:38] MingcongBai opened #2651 "L10n: zh locales should be available in different variants"
Currently LMMS has a `zh.ts` as the only zh_* (Chinese) locale data set available. In fact, there are many Chinese locales. LMMS should not assume that zh_CN (Chinese, China) is the only Chinese out there (and they can be quite different with each other, the best example is zh_CN and zh_TW).

In fact, here below is a list of Chinese locales supported by GNU C Library.

[code]

If you guys wouldn't

[2016-03-09 06:21] tresf commented on #2651
We're going over this same topic with the Spanish translation and due to the huge amounts of work it is to maintain multiple Spanish translations, the various Spanish translators agreed to work together on a single translation.

From [latinumnetwork.com/differences-regional-spanish-dialect-2](http://www.latinumnetwork.com/differences-regional-spanish-dialect-2/)

We can merge this, but I'm a bit u

[2016-03-09 06:25] tresf commented on #2646
We appreciate you sharing.

If you don't have a bug or enhancement to report, I'd suggest closing this out and referencing it down the road.

On a side note, the smaller version is plenty.  I'm not sure what the large drawings aim to achieve, but they make the issue much harder to read...

![screen shot 2016-03-09 at 1 24 28 am](https://cloud.githubusercontent.com/assets/6345473/13627090/c963e198-

[2016-03-09 06:27] tresf commented on #2617
@T-boneG do you need any assistance getting started on this one?

[2016-03-09 06:44] MingcongBai commented on #2651
Well, Chinese is a very different story in this case. Not only that the
dialects are different, the actual script/characters are wildly different
as well.

I would not be confident to assume that zh_CN and zh_TW can be made out as
one.

Maintaining as one language "until we have additional Chinese translations
available" is really a horrible idea: being unscientific (as not being
accurate in prese

[2016-03-09 07:14] tresf commented on #2651
Then we'll change it. :)

Sorry about that and thanks for the explanation. :beer:

I ended up looking this up no stackoverflow to understand a bit more.

:+1:

[2016-03-09 07:18] #2651 closed

[2016-03-09 09:12] Fastigium commented on #2192
@Umcaruje Thanks for [taking the time to test my PR](https://github.com/LMMS/lmms/pull/2650#issuecomment-193977736)! I'm responding here to keep the discussion in a single thread. The crash you're reporting now is of the same nature, but happens on a different variable, namely `FxChannel::m_sends`. My PR only contains a fix for `FxMixer::m_fxChannels`. `FxChannel::m_sends` is used in a foreach loo

[2016-03-09 10:45] StCyr opened #2653 "ProjectVersion tests never fail"
In "src/core/ProjectVersionTest.cpp", if you replace (for example) the test:

`Q_ASSERT(ProjectVersion("1.1.0", CompareType::Minor) > "1.0.3");`

by

`Q_ASSERT(ProjectVersion("1.1.0", CompareType::Minor) < "1.0.3");`

the tests still pass:

[code]

I don't exactly know why (maybe because Q_ASSERT does nothing if QT_NO_DEBUG was defined during compilation?)

Anyway, according to https://doc.qt.io/q

[2016-03-09 11:08] StCyr commented on #2653
PR: https://github.com/LMMS/lmms/pull/2654

[2016-03-09 13:45] musikBear commented on #2192
Not sure i should say anything here, but just fyi.
I have been using RC1 first waxspins' testversion for the new edit-options in piano-roll from 24 sept 15, then since 14. jan  g23d2824-win32  by tresf, then 5. mar. the no-soundlibio and since 7. mar. the qt5 PR (lmms-1.1.90-win32-qt5). The one thing i noticed is *stability*!
I have had no such random crashes as @Umcaruje has had. I wont speculate

[2016-03-09 13:52] tresf commented on #2653
Or just plain old `assert` according to this... http://faif.objectis.net/beware-of-q_assert/?searchterm=None.

Since @Lukas-W wrote the test code, I'll let him merge.  Nice find BTW. :+1:

[2016-03-09 13:57] tresf commented on #2192
@Fastigium https://github.com/LMMS/lmms/pull/1053.

[2016-03-09 15:43] IvanMaldonado commented on #2646
@tresf I know I have read somewhere here that it would be good to change the penguin that is already being used as an icon for the plugins, maybe it will be a good idea to reference it to that comment.

When I first uploaded the image with the original sizes I found them hard to see, that's why I did it this way.

[2016-03-09 15:48] tresf commented on #2646
Yeah, I had implied this was the intention, but currently @Umcaruje and @RebeccaDeField are working very hard on the branding portions and this isn't in alignment with their designs or our current design in my opinion.  I'm not trying to be critical of the artwork specifically, but rather what the end goal of this bug report is.

[2016-03-09 16:01] Umcaruje commented on #2649
@zonkmachine can you test out #2655?

[2016-03-09 16:37] IvanMaldonado commented on #2646
Neither I like what I did, I'm aware that these designs don't match the recent work on the style for lmms (they don't even match my themes), I was just offering ideas about how the designs could be, if someone someday wants to work on them (someone who actually know how to draw stuff).

If you don't feel this belongs here, feel free to close it, I saw #2243 and I thought this may be more or less t

[2016-03-09 16:41] Umcaruje commented on #2646
I like the idea for bitcrush and flanger, but Tres is right, this doesn't fit in with the new theme or the current one.

[2016-03-09 16:47] musikBear commented on #2584
FYI i (win32 xp) does not have this issue with Qt5 PR (lmms-1.1.90-win32-qt5.exe) There is no *mandatory* crash after clicking red-X. Doubtful imo, that it is related with qt5, but something must have worked
I will experiment with ASIO4ALL and see if that is usable with the qt5 PR. (results in qt5 thread #2611)

[2016-03-09 16:57] zonkmachine commented on #2649
:+1:

[2016-03-09 17:05] zonkmachine commented on #2584
I think the reason you don't see this bug is because the issue was fixed before your build.

[2016-03-09 17:13] tresf commented on #2584
Well, Windows handles crashes the crashes a bit differently from Linux/Unix.  In my experience, it's just less obvious.  @musikBear load a 32-bit VST and then close the software.

I also made a console version of the win32 build and you can see some errors before it closes (yes console is available via `-mconsole`, but it would appear the entire time the software is running).

[2016-03-09 17:16] tresf commented on #2646
We certainly don't want to discourage progress.  How about this... Fix the original bug report as requested and show some mockups and we'll leave it open.  Otherwise, it's getting closed. :+1:

[2016-03-09 17:19] tresf commented on #2549
We opened a new bug report and then closed it.  In short, we'll add this eventually, but the repos + Travis just don't make this easy yet. :+1:

[2016-03-09 17:19] #2549 closed

[2016-03-09 17:57] #2649 closed

[2016-03-09 18:26] musikBear opened #2656 "popup 'project version mismatch' imo anoying"
Its this one
![projvermismatch](https://cloud.githubusercontent.com/assets/6662066/13645543/bcd85f44-e62b-11e5-8cfe-a74fff6f9fca.png)
The user cant do anything, except clicking it away. Why does lmms show that popup?
Even the project used *here* made on 0.4.0 'cool-songs/Chris-RaveRiff.mmpz' *loads* and plays just fine. Imo popping that message will only worry some users, and for no reason. Stonea

[2016-03-09 18:27] Fastigium commented on #2192
@musikBear Thanks for the perspective, much appreciated :blush:

@tresf Thanks for the reference! Though its title is promising, its actual purpose seems to be to reduce lock granularity. In other words, it replaces a small amount of widely-used locks with a larger amount of more locally-used locks. But it doesn't fix what I was talking about.

Anyway, I'm prone to lose perspective sometimes. I'm

[2016-03-09 18:28] tresf commented on #2656
Duplicate of https://github.com/LMMS/lmms/issues/432.

[2016-03-09 18:28] #2656 closed

[2016-03-09 18:48] tresf commented on #2192
It also introduced more `foreach` syntax. :)

Agreed.  "Useful" is what we must deliver, "exactly perfect" is what we aim for.  Hopefully we meet somewhere in the middle.

[2016-03-09 19:27] tresf commented on #2656
@musikBear

A few items about this bug report...

 1. Search before submitting.  This is a feature was implemented in #432 as a collaboration between @Spekular and myself.  It's intended.
 2. Your title is horrible.
   * Current title:

   * Better title:

 3. Which brings us to WHY these messages appear... They appear because the tracks haven't been tested in a newer build of LMMS.  This is evide

[2016-03-09 20:45] #2653 closed

[2016-03-09 21:21] musikBear commented on #2656
I agree, i should have noted a way to reproduce, i just thought everyone knew. My bad. Added.
I dont know how i should have searched for the issue. 432 does not contain the words on the popup. Even the word popup is not in the text. I have often problems finding a ticket. Even those i know exists.

[2016-03-09 21:26] musikBear commented on #2611
I have made some more win32xp tests on the qt5PR.
Test for memory leak:

Idle out of focus
time     size in TM
18:50 : 163.768
18:55 : 163.792
19:00 : 163.820
19:05 : 164.080
19:10 : 164.092
19:10 : 164.080
19:15 : 164.088
19:30 : 164.100
19:40 : 164.100
19:45 : 164.100
19:50 : 164.100

Playing in focus
19:50 : 14.090
19:55 : 14.332
20:00 : 14.141
20:05 : 14.244
20:10 : 14.244
20:15 : 14.248
20:20

[2016-03-09 21:40] michaelgregorius commented on #2635
@IvanMaldonado Implemented with #2657.

[2016-03-09 22:19] T-boneG commented on #2617
Hi Tres!

Thanks for reaching out!  I am getting way more comfortable with the code
and in general using Qt creator.  I think I found a solution:

		{

			QDomNodeList list = elementsByTagName( "audiofileprocessor" );

			for( int i = 0; !list.item( i ).isNull(); ++i )

			{

				QDomElement el = list.item( i ).toElement();

				QString s = el.attribute( "src" );

				s.replace( QRegExp("bassloope

[2016-03-09 22:30] eagles051387 commented on #2617
Good evening ,

Just out of curiosity wouldn't it be better to git grep on the entire code base to find all instances of the mis spelling and correct it that way further simplifying our code and doing away with the complexities of regex all together

Sent from my iPhone

[2016-03-09 22:32] Umcaruje commented on #2617
Because we can't grep other people's projects.

[2016-03-10 00:51] IvanMaldonado commented on #2635
@michaelgregorius Muchas gracias! :smile: :+1:

[2016-03-10 01:35] IvanMaldonado commented on #2646
@tresf I'll see what can I do :+1:

[2016-03-10 09:28] Fastigium commented on #2192
Right, foreach is eliminated in PR #2658. @Umcaruje if you could run another stress test, that'd be much appreciated :blush:

Also, I got an almost exact replica of [bt2](https://gist.github.com/Umcaruje/bf88cfb78948224120a9#file-bt2) yesterday shortly after pressing play on `RandomProjectNumber14253', while not modifying anything at all. I'll look into that as well.

[2016-03-10 13:35] Fastigium opened #2659 "Crash when dragging arpeggiated note in piano roll"
Another SIGSEGV while making music with `master` in gdb. Steps to reproduce:

1. Start a new project
2. Enable arpeggio on the standard 3osc instrument
3. Open the piano roll for that 3osc
4. Left-click and hold somewhere in the note drawing area, and start moving the cursor up and down rapidly
5. Crash!

Backtrace:
[code]

@zonkmachine This does not appear to happen in `stable-1.1`, so if you fee

[2016-03-10 14:23] Fastigium opened #2660 "Regression: Pattern size is not updated when it is altered by changing note length"
Commit fcec8dd causes a regression in the drawing of Patterns on the song editor. To reproduce, enlarge any last note in a piano roll so that the Pattern becomes at least one measure longer. Now look at the song editor and notice that the Pattern still has its old length.

@Umcaruje As this is your commit, could you look into this regression? Let me know if you have trouble reproducing it.

[2016-03-10 14:59] tresf commented on #2635
@IvanMaldonado this issue will be closed automatically when the PR is merged.  No need to close it prematurely. :+1:

[2016-03-10 15:05] tresf commented on #2617
* You can mitigate this by replacing `\\bassloopes\\` and `//bassloopes//`.
* You can mitigate this further by only running it as an upgrade task between applicable project versions.
* If you really (really) want this to be 100% foolproof, you can check for:
 *  `briff01.ogg`, `rave_bass01.ogg`, `rave_bass02.ogg`, `tb303_01.ogg`, `techno_bass01.ogg`, `techno_bass02.ogg`, `techno_synth01.ogg`, `tec

[2016-03-10 15:32] zonkmachine commented on #2659
I can't reproduce this crash. Sorry.
`Version 1.1.90-g1f32fdc (Linux/x86_64, Qt 4.8.6, GCC 4.8.4)`

[2016-03-10 16:15] musikBear commented on #2584
@tresf Yes i know about the hanging or orphan *RemoteVSTprocess* after a crash or a TM shutdown. I have cleaned them away often :footprints:
But lmms *does* take care of VST (both presets and inserts) shutdown and removal, when it is closed down properly, but by

you mean **kill** the lmms process in TM, because *then* there are orphan every time.

[2016-03-10 16:26] #2660 closed

[2016-03-10 16:28] musikBear commented on #2646
Somehow this points in direction of a relation to theming
Down the road, there may be interests in making these icons *themeable* and @IvanMaldonado nice artwork, could then be a part of a theme, other than what i now call *RebeccaNoir* eg. #2587

[2016-03-10 16:40] musikBear commented on #2660
FYI enlarging last notes in tresf' qt5-build for xp, *does* enlarge the song-editor-block correctly. Eg, i could not reproduce on *lmms-1.1.90-win32-qt5*
I enlarged 1/16 from 1. to 4. tick to 2/4/6 and 8 bars length. The blocks were sized accordingly, both in enlarging and shortening.

[2016-03-10 16:41] Fastigium commented on #2659
@zonkmachine My bad, this bug appears to be specific to my PR #2658 :sweat_smile:. Thanks for trying, though! I'll still have to fix it, but I'll take that to the PR thread.

[2016-03-10 16:41] #2659 closed

[2016-03-10 16:44] Umcaruje commented on #2660
@musikBear this was caused by a commit I pushed yesterday, it couldn't have been in your build.

[2016-03-10 17:14] zonkmachine commented on #2659
He, he... we did find the bug though!
:tractor:

[2016-03-10 18:30] Fastigium commented on #2659
@zonkmachine Yeah, awesome bisect work! Only took you a single round :grin:

[2016-03-10 22:21] jmarianski opened #2662 "VST plugins fail to load from folders containing diacritical marks"
Problem looks just like with every VST loading problem.

Steps to reproduce:
1) Download any VST plugin into a directory, in which path there are diacritical marks (in Polish we have these: ąćęłńóśżź), for example C:/Users/Jacek Mariański/VST/plugin.dll
2) Try to load them.

Easily fixable by moving into any other folder. Like to C:/VST/

[2016-03-10 22:23] musikBear opened #2663 "Edit-menu. Item for mixer-channel clean-up is missing"
lmms-1.1.90-win32-qt5.exe
on xp
To reproduce
Click Edit in task-bar
This is shown
![editmenu](https://cloud.githubusercontent.com/assets/6662066/13686633/06df7cb2-e717-11e5-82f6-27d197fb08b2.png)
I noticed that some options has been taken off from the Edit-menu, one i  believe was there in last PR was options for removing unused mixer-channels eg #1206, but where is the dialog?
Has the feature bee

[2016-03-10 22:42] michaelgregorius commented on #2663
It's still there but it was an option in the context menu of the channel mixer from the start. Closing this one.

[2016-03-10 22:42] #2663 closed

[2016-03-11 01:08] IvanMaldonado opened #2664 "Plugins' notes blank space acts like a b+b pattern"
![frfr](https://cloud.githubusercontent.com/assets/12549082/13690088/58ffe546-e6f3-11e5-8af0-1e851d0a3661.png)

Zooming in.

![captura de pantalla_2016-03-10_19-01-05](https://cloud.githubusercontent.com/assets/12549082/13689997/960cd120-e6f2-11e5-8092-35cebca62f61.png)

You can even use this.

![captura de pantalla_2016-03-10_19-01-19](https://cloud.githubusercontent.com/assets/12549082/13689999/

[2016-03-11 02:58] tresf commented on #2664
This has always been like this.

[2016-03-11 02:58] #2664 closed

[2016-03-11 03:03] tresf commented on #2662
Related #1998 #1325 #1933 #1995

[2016-03-11 09:18] Fastigium commented on #2192
Small bit of progress on [bt2](https://gist.github.com/Umcaruje/bf88cfb78948224120a9#file-bt2): it seems to occur when QVector internal data `m_fxChannels->d` suddenly turns out empty (i.e. size 0, no members at all, though `ref` turned out to contain 6 in my gdb session). This smells like a freak race condition to me, it's certainly not supposed to happen. Chances are this crash becomes less freq

[2016-03-11 10:34] zonkmachine opened #2666 "PatternView ( ... ) does not have a property named "fgColor""
Since f136ba3097d45b8651e45b494f8af5a6d606cd59 I get `PatternView(0x3634750)  does not have a property named  "fgColor"`.
@Umcaruje

[2016-03-11 10:51] musikBear commented on #2663
:open_mouth: Oo then i remember it wrong, sorry ..

[2016-03-11 11:53] Umcaruje commented on #2666
Your theme is outdated, the `qproperty-fgColor` became `color`, while `color` became `background-color`.

[2016-03-11 12:13] zonkmachine commented on #2666
Ach so... Danke schön!

[2016-03-11 12:13] #2666 closed

[2016-03-11 14:17] Umcaruje opened #2667 "Qt5: crash when removing a channel that sends to another channel"
Steps to reproduce:
1. Open up a new project
2. In the default TripleOscillator enter a random melody pattern and loop it
3. Press Play
4. Add 2 FX channels
5. Route the instrument to FX1 and send FX1 to FX2
6. Remove FX1
7. LMMS crashes.

Version info:
[code]

Backtrace:
[code]

[2016-03-11 14:23] Umcaruje commented on #2611
Here's a Qt5 specific crash: #2667

Also, the about window needs some love:
![screenshot from 2016-03-11 15 23 19](https://cloud.githubusercontent.com/assets/6282045/13704648/3745f6f2-e79d-11e5-9f76-b3f6118079a0.png)

[2016-03-11 14:34] tresf commented on #2611
@Umcaruje, added to list, much obliged.

[2016-03-11 16:00] Fastigium commented on #2667
It's interesting that this one should be Qt5-specific. Does it only occur when playing?

[2016-03-11 16:15] michaelgregorius commented on #2663
@musikBear No problem! I has been found after all. :wink:

[2016-03-11 23:19] GNUMariano commented on #2435
Thanks @zonkmachine ! I'll mantain 'grp' in the translation ('group' in Spanish == 'grupo' so it works both ways!!). Now the translation is complete!

[2016-03-11 23:57] IvanMaldonado commented on #2435
@GNUMariano Is "Mis preconfiguraciones" intended to be here? because I feel there's enough space to be this way.

![captura de pantalla_2016-03-11_17-56-27](https://cloud.githubusercontent.com/assets/12549082/13718756/9cf20b16-e7b2-11e5-89f4-314c349adf8b.png)

[2016-03-12 04:07] Lukas-W commented on #2633
Trying this on Linux, I get a crash when closing with DummyAudio in line [`AudioDummy.h#L104`](https://github.com/LMMS/lmms/blob/master/include/AudioDummy.h#L104)

[2016-03-12 13:47] musikBear commented on #2611
some odd graphics *can* appear
There is no single action that reproducely will cause this, except mowing a lot of floating windows, and wait for it to happen.
![qt5graphicerr01](https://cloud.githubusercontent.com/assets/6662066/13723272/b6a7aa40-e85f-11e5-8287-3a26bde5a5ae.png)

This one here
![qt5graphicerr02](https://cloud.githubusercontent.com/assets/6662066/13723274/c5cc9dfa-e85f-11e5-8703-c9

[2016-03-12 13:48] zonkmachine commented on #2455
@LMMS/developers
What I'm thinking about this right now is:
 - Leave Mallets untouched.
 - Introduce 'Mallets 2' which has only the Modalbar stuff( first nine instruments ) but fixed up so the controls work properly. #2670
 - Tubular Bells is taken over by Borg Jr. #2668
 - Don't do anything new with BandedWG ( Last four instruments, Uniform bar - Tibetan bowl ). It will take unnecessary developme

[2016-03-13 04:19] tresf commented on #2667
It's not.

Reproduced on both Qt5 and Qt4 builds.

[2016-03-13 04:41] tresf commented on #2662
I can confirm this bug still exists in `master` despite StringPairDrag patch in #1325, either `RemoteVSTPlugin` or `Vestige` likely needs an additional patch to support UTF8 characters.

Furthermore, we have several locations in our code which [still rely on Latin1 and also need to be fixed](https://github.com/LMMS/lmms/search?q=toLatin1).

Results:
:white_check_mark: PASS: `Marianski/GTG DPC3.dll

[2016-03-13 04:55] tresf commented on #2637
You're clicking "solo" not "mute".  This is how solo behaves.  When I click the green indicator, non-related instruments routed through similar channels continue to play.  I think this is you confusing the purpose of the buttons.

Maybe solo doesn't make much sense when dealing with sends, but that's a "smart solo" feature, which is much (much) more complex than what we have today.

[2016-03-13 05:07] tresf commented on #2636
From a step-size perspective, I think all are in agreement that the steps need to be a predicable size, so that the pixmaps can be rendered correctly.

From a UI perspective there are some options...
 * Make BB editor more like the song-editor in the fact that it can have variable length patterns and all patterns are positioned and looped based on their location in the BB timeline.
  * Currently t

[2016-03-13 05:32] Xenofection commented on #1008
I've downloaded Kontact 5 after a friend recommended it, but didn't bother messing around with it until tonight. Spent a couple hours messing around with it in a project before switching to an old project to check something. When I switched back to my new project, LMMS kept crashing. Since I normally don't have this problem, I googled to see if there is an issue with LMMS and Kontact. Lo and behol

[2016-03-13 10:37] Fastigium commented on #2667
That's what I would expect, which is why I found it interesting that Umcaruje stated it was Qt5-specific ([here](https://github.com/LMMS/lmms/pull/2658#issuecomment-195384678)). Anyway, my plan is to refactor deleting FX channels so that the actual deletion happens between mixer rounds (kinda like adding and removing PlayHandles is done right now). Crash-free deletion during a mixer round would re

[2016-03-13 10:40] Fastigium commented on #2455
Maybe that could be addressed using `DataFile::upgrade()`?

[2016-03-13 10:56] DeRobyJ commented on #1911
I've got several questions about a single window UI...
First: what if I want to open more than one plugin, like 5 plugins, together?
Second: dual monitor
Third: smaller screens, are we going to state "1280x720" in minimum requirements?
Fourth: right now we have a FLstudio-like ui, so those users (mostly audio production newbies) can easily switch from one another. But having a flstudio workflow in

[2016-03-13 10:57] Umcaruje commented on #2667
That's weird, I can't reproduce this on my Qt4 build...

@Fastigium I just checked and this happens even without playing. I got an even longer backtrace when there is no playing:
[code]

[2016-03-13 11:00] Umcaruje commented on #2455
^What Fastigium said, making another version of the same plugin is the wrong approach to this problem imo.

[2016-03-13 12:07] zonkmachine commented on #2455
I'm sure there's way to manage the update but we need to take care of the other bugs first and they're in code related to/or in, the BandedWG module.
https://github.com/LMMS/lmms/pull/2671#issuecomment-195940322
If you find what's wrong in there bump me about it but for now I'm stuck. I just think the most clever way is to roll along with the two spin-offs of Mallets and instead find a way to hide

[2016-03-13 13:04] Fastigium commented on #2667
That's a rather impressive backtrace :astonished:. Should still be fixed by the refactoring I proposed, though. I'll see if I can do that in the upcoming week. Wrestling with  C++11 and Travis for now.

[2016-03-13 13:14] Fastigium commented on #2455
My plate is full with crash-fixing for the moment, but perhaps you might gain some insight by using conditional breakpoints in gdb. They should allow you to halt execution when a spike happens and trace where it might come from (`bt full` will show you values of local variables). Hope that helps, otherwise I'll see if I can take a peek sometime soon.

[2016-03-13 14:04] budislav commented on #1911
@DeRobyJ just to say somtehing first to you and everybody.
**I am done with this.**
I spent in this so much time and effort for nothing. I am not blame anyone it's all about what usres want. Some of you want ugly and non user friendly UI, some of you don't want to learn new things, some of you don't want any progress in this field and you know what I can't understand that. One thing is for sure. I

[2016-03-13 14:23] tresf commented on #1911
@budislav When we pull this off we'll need your help.

If opinions on this are too strong or causing too much conflict, we can lock the thread to prevent overly opinionated comments.

Undet the covers, this theme is more thans just how the software looks, but also about how the GUI component code is written.  The libraries we would hypothetically be using would improve the stability and complexity

[2016-03-13 14:23] fundamental commented on #1911
@DeRobyJ

There certainly is some tradeoff with moving towards a design which is mostly focused on a single window, but I don't think talking about this in terms of pixels is a particularly helpful measure. Small window sizes in terms of inches or centimeters makes a lot more sense IMO given that things should be able to resize smoothly. To me the mockup is readable to about a 10.5 in diagonal siz

[2016-03-13 14:54] IvanMaldonado commented on #2667
Umcaruje I can, this happens to me as well on Qt4

[2016-03-13 16:35] DeRobyJ commented on #1911
Thanks for the replies and I'm really sorry I couldn't find what had already been discussed during the last year. I had read half of this duscussion, and I had no more time, so I didn't get to the bottom. Also I'm not native English so reading sometimes takes some time.

Now, I'm not here to stop anything of course, I was just concerned.

Why am I concerned? Because some of us (lazerblade, cubicia

[2016-03-13 16:52] fundamental commented on #1911
@DeRobyJ  I agree at this point there really should be some nice summary of the more frequently discussed tradeoffs. Traditionally I've seen long discussions like this have a basic FAQ appended to the original posting, but this issue seems to have enough different sides to it that something more flexible like a few wiki pages could make more sense.

Excellent. Workflow based critique and concerns.

[2016-03-13 17:00] tresf commented on #1911
@fundamental's response came in just in time, mine wasn't as diplomatic.

On the topic of YouTube videos, if your tutorials are so highly demanded, consider joining our social media team and being part of the big picture solution.
 * Cubican outright refused to join our team.  He has other plans for his channel which are more personal and less pay-it-forward.
 * musikBear won't get a wide-screen m

[2016-03-13 17:04] tresf commented on #1911
Agreed, off-topic.... is this statement in regards to Zyn + LV2 + Carla perhaps?  We have carla disabled on OSX currently, but since that decision was made, @falkTX created binaries for Windows and Mac here: http://kxstudio.linuxaudio.org/Applications:Carla.  Perhaps we re-investigate that decision (preferably on a dedicated topic).

[2016-03-13 17:13] fundamental commented on #1911
@tresf this statement refers to plain old ZynAddSubFX i.e.https://github.com/zynaddsubfx/zynaddsubfx which as of the last release officially builds to a standalone program, a vst lib, a dssi lib, and a lv2 lib. VST and LV2 support were done by @falkTX and they're now part of the official distribution. There were some noteworthy bugs in the plugins at the last release (heh, when aren't there), but

[2016-03-13 17:20] tresf commented on #1911
Thanks @fundamental for clarification, I had read over:

:+1:

[2016-03-13 18:10] DrConsole opened #2673 "Wrong free Space displayed in installer"
Hey,
I'm new to this project and just installed it, when I noticed that if I switch to my data patition (6TB HDD) the installer displayes 4.6GB free space but it should be 4.6TB.

It's not a that important bug, but I think it's a small thing that can be debuged in one of the next releases.

NG
DrConsole

[2016-03-13 18:16] tresf commented on #2673
We only have a Windows, installer, so if this statement is correct, it belongs on the NSIS bug tracker and all NSIS-based Windows installers would suffer from it.  Closing, as it's not our bug.

http://nsis.sourceforge.net/Bug_Reports

[2016-03-13 18:16] #2673 closed

[2016-03-13 18:18] tresf commented on #2673
@DrConsole looks like they may already know about it... if that's the same bug, it will be fixed when we upgrade our Windows build environment.

https://sourceforge.net/p/nsis/bugs/896/

[2016-03-13 18:37] Calendis commented on #2618
Sorry for the unresponsiveness on my part. Anyway, the plugins in the lib64 folder are indeed 64 bit, according to file. Interestingly Audacity won't let me enable the plugins, so I cannot even attempt toad them. I can load other ladspa plugins just fine. It does seem like it is not your bug.

[2016-03-13 18:44] Umcaruje commented on #2618
Thanks for following up, I'm gonna close this.

[2016-03-13 18:44] #2618 closed

[2016-03-13 19:18] Umcaruje commented on #2667
How can't I reproduce it on my Qt4 build \*scratches head*

[2016-03-13 19:20] IvanMaldonado commented on #2637
Tresf Youre right, I don't know why I wrote Mute instead of Solo, anyway, I don't know much about programming but couldn't it just be like:

Channel 1, channel 2, channel 3... Channel n = true
If channel1.solo = true then channel 2, channel 3... Channel n = false
If channel n -> channel 1 = true then channel n = true and channel 2, channel 3... n+1 = false

Just remembered what I learnt in school

[2016-03-13 20:34] cubician commented on #1911
Tres, I'm reconsidering. I think it wouldn't hurt to have the navigation
and usage tutorials on the official LMMS channel. I can do specifics like
mixing and sound design on mine.

As far as redoing tutorials, I planned on it anyway considering the amount
of changes that have already taken place in lmms and the quality I can now
produce. If the UI went through this overhaul, id be glad to redo the

[2016-03-13 20:48] tresf commented on #2637
@IvanMaldonado what if other instruments are routed through the sends?  Are the sends intelligent enough to mute **only those instruments which have been exclusively marked for playback** ?  This sounds like it will only confuse people.

[2016-03-13 20:49] tresf commented on #2667
@Umcaruje mine was on Mac build I tested on (since I didn't have a Qt4 Linux build handy at that moment).

[2016-03-13 21:09] Umcaruje commented on #2637
Well, the solo function could be a bit more intelligent. For example, if Have 4 channels:  'Kick', 'Snare' 'HiHat' and 'Drums'.  'Kick', 'Snare' and 'HiHat'  all send to 'Drums' rather than to master. When I solo 'Drums', I expect to hear the output of the other 3 tracks as well.

[2016-03-13 21:10] IvanMaldonado commented on #2637
Alright, I will close this and see if there is a good chance to pull a smart solo feature in the future. :+1:

[2016-03-13 21:10] #2637 closed

[2016-03-13 21:35] Umcaruje commented on #2282
FYI: I turned this into a checklist, since I solved one of the issues in my recent PR.

[2016-03-13 22:18] Umcaruje commented on #1764
Yup, this seems to be fixed on master. @LocoMatt could you check if this is fixed in the latest RC? you can get it here: https://github.com/LMMS/lmms/releases/tag/v1.1.90

[2016-03-14 13:30] Fastigium commented on #1679
PR to fix this available at #2675, testing welcome!

[2016-03-14 13:30] Fastigium commented on #2667
PR to fix this available at #2675, testing welcome!

[2016-03-14 13:45] DeRobyJ commented on #2667
Any build I can test on win 7?

[2016-03-14 14:07] Fastigium commented on #2667
@DeRobyJ [Here you go](https://drive.google.com/uc?export=download&id=0ByJw4p5_PU1cVGFrcVBGQzJoeFk), although if you get a crash, it's not going to be trivial to get a backtrace. Still, if you can describe what you did when it happened, that might help :)

[2016-03-14 14:25] DeRobyJ commented on #2667
Fixed to me, did a bunch of tests, like deleting multiple channels with "unused" feature, or a channel sending to more than one other channel, and so on.

Win7 sp1 64bit

In fact, there is a problem.
Plugins do not change their FX strip even if the numberbox changes.
I mean: I opened an old project with 3 instrument in 3 different channels.
- Go to one of them
- Change FX channel
- Nothing changes

[2016-03-14 15:37] Fastigium commented on #2667
@DeRobyJ Glad that it fixed the crashes! And I think I know what causes the issue you describe, I'll try to reproduce and fix it.

[2016-03-14 16:38] Fastigium commented on #2667
@DeRobyJ [Another build](https://drive.google.com/uc?export=download&id=0ByJw4p5_PU1cSFAtRkdLcG9RZnc), and the problem you mentioned should be fixed now. There is a small chance that the fix introduced other problems, so if you could test again, I'd be much obliged!

[2016-03-14 16:56] LocoMatt commented on #1764
Works fine, Win7 x64

[2016-03-14 17:53] Umcaruje commented on #1764
ok great, closing :+1:

[2016-03-14 17:53] #1764 closed

[2016-03-14 19:43] tresf commented on #2667
FYI, the linked build is Qt4, not Qt5. :+1:

[2016-03-14 19:59] DeRobyJ commented on #2667
That build seems fine, fixed the bug and Iì'm not getting anything bad, but that is in qt4!!

[2016-03-14 20:23] zonkmachine commented on #2455
OK. I'll try and move my upgrades to Mallets instead and will read up a bit on gdb.

[2016-03-15 02:03] liushuyu opened #2676 "Consider using a localization platform?"
AFAIK, LMMS is very difficult to translate, for it contains many technical lingos. And thus a co-operative translation team should be established to care for the translations. So I suggest you to use a sort of localization platform like Crowdin and Transifex. **They are totally FREE for FOSS projects.** (I personally recommend Transifex https://www.transifex.com 😃)

I hope this can help you a bit.

[2016-03-15 02:04] liushuyu commented on #2676
Ah, I consider this can be tagged as 'enhancement'

[2016-03-15 02:05] tresf commented on #2676
@liushuyu can you help us understand what's needed to integrate with a service like this?  I assume you've worked with a translations service like this in the past?

[2016-03-15 02:33] liushuyu commented on #2676
@tresf Yes, I introduced someone to explain how this works for you. @JeffBai

[2016-03-15 02:34] MingcongBai commented on #2676
For instance, the usage of Transifex.

We have been using Transifex (yes, with @liushuyu) in our community to host some large scale translation projects (LMMS is among one of the largest that we've been putting our hands on. Services like Transifex can provide:

- An easier way to manage involvement, each language has a team, with a coordinator and (multiple) a reviewer, and translators that invol

[2016-03-15 02:45] tresf commented on #2676
@liushuyu @MingcongBai we may have a great candidate now with the back-and-forth with our Spanish translations, but I don't know the pain points currently.

#2359

@DiegoAccorinti @IvanMaldonado @GNUMariano, since you're working on a collab translation now, do you have time to see if this could help us?

[2016-03-15 03:18] IvanMaldonado commented on #2676
This reminds me on how Gnome manages its translations, using a system like this so the current translations could be improved and things that aren't translated are easier to find and easier to get translated since there is more than one person reviewing it.

When @DiegoAccorinti pull-requested the translation, I was half the way doing it so I just focused on what was missing or what could be impro

[2016-03-15 08:47] Fastigium commented on #2455
You may also find gdb's `frame` command useful. It allows you to enter the scope of any function in the backtrace and print members of local objects and such. Was invaluable to me in fixing those "index out of range" crashes.

[2016-03-15 09:01] Fastigium commented on #2667
@DeRobyJ And [here](https://drive.google.com/uc?export=download&id=0ByJw4p5_PU1cVmtBU3M4M0JTN0k)'s a Qt5 build to complete the testing. I hope it works, building it involved some guesswork and some doubtful warnings.

@tresf [The wiki page](https://github.com/LMMS/lmms/wiki/Compiling-lmms-%28Windows%29) doesn't seem to contain any instructions on building for Windows with Qt5. I consulted the `.tr

[2016-03-15 09:22] DeRobyJ commented on #2667
Ok, same behaviour. it doesn't crash when deleting or moving channels that send to others.
Instruments can be routed to channels, so everything fine here.

[2016-03-15 09:27] Fastigium commented on #2667
@DeRobyJ Awesome, thanks for testing!

[2016-03-15 13:25] DiegoAccorinti commented on #2676
ok, l'm in :+1:   @tresf @IvanMaldonado @GNUMariano @liushuyu @MingcongBai

[2016-03-15 13:57] MingcongBai commented on #2676
Awesome. One more vote to go.

[2016-03-15 17:13] skypce opened #2679 "recipe for create a deb package with cpack"
1.-Add this two lines to CMakeLists.txt of main folder of your project.
SET(CPACK_DEBIAN_PACKAGE_MAINTAINER "César R. Cid Méndez")
SET(CPACK_PACKAGE_CONTACT "César R. Cid Méndez")
Change the name by your name.
2.-inside main project;
mkdir build ; cd build ; cmake -DCMAKE_INSTALL_PREFIX:PATH=/usr .. ; sudo cpack -G DEB ..

[2016-03-15 17:18] tresf commented on #2679
@skypce I linked you the relevant bug reports for this... can you please close this out and have the conversation there?

[2016-03-15 17:25] skypce commented on #2556
Hello guys, i want contribute with a way to do it. with cpack: this is the recipe.
Add this two lines to CMakeLists.txt of main folder of your project.
SET(CPACK_DEBIAN_PACKAGE_MAINTAINER "César R. Cid Méndez")
SET(CPACK_PACKAGE_CONTACT "César R. Cid Méndez")

inside main project;
mkdir build ; cd build ; cmake -DCMAKE_INSTALL_PREFIX:PATH=/usr .. ; sudo cpack -G DEB ..

[2016-03-15 17:34] skypce commented on #2679
sure tres.

2016-03-15 14:18 GMT-03:00 Tres Finocchiaro <notifications@github.com>:

[2016-03-15 17:36] #2679 closed

[2016-03-15 20:27] michaelgregorius commented on #2457
@softrabbit I am not able to reproduce this using the latest master (5d3333b). Are you using any special settings for the export? Have you also tried to reproduce this with a complete fresh rebuild (also remove the build directory and let it create from scratch) and a fresh `.lmmsrc.xml`?

[2016-03-16 11:32] liftarn commented on #2636
On feature that would be nice to have is syncopated beats. Instead of just 1234 you would have 1a2a3a4a. You can do it as it is by either double the bpm and use half of them or going into the piano roll view, but neither of them is very user friendly.

[2016-03-16 13:12] softrabbit commented on #2457
I remove my build and target directories all the time, and now I made sure to delete the rc-file too. Seems like the most consistent way for me is a qt5 build, using ALSA out to the actual hardware device. ALSA to the "default" device, i.e. PulseAudio seems to be less problematic. This is a pretty sure way to reproduce on my box:

* Load Skiessi-Onion.mmpz
* export using default settings, the .wav

[2016-03-16 16:58] musikBear commented on #2636
@liftarn you mean *sving* right?
I hope #2255 will be in consideration. Building continuous sample in succession would open complete new powerful ways of using lmms.

[2016-03-16 20:21] liftarn commented on #2636
@musikBear Sving is not something I'm familiar with. Swing I know what it is, but that is changing the timing of the play. I'm talking about adding beats at the positions between the 4/4 beats. So instead of 1 2 3 4 you have 1 and 2 and 3 and 4 and.

[2016-03-16 21:01] T-boneG commented on #2617
So I'm trying to make an upgrade right now and I'm coming across a few issues.

1) It seems like either I can change `VERSION_PATCH` in [https://github.com/LMMS/lmms/blob/master/CMakeLists.txt](url) or let `VERSION_SUFFIX` update itself when a new commit is made.  Which should it be?

2) If `VERSION_SUFFIX`, how do I know what that suffix will be for the upgrade if-statement?

3) Just in general w

[2016-03-17 03:29] skypce commented on #2556
Hello again, i was uploaded the package to ppa : https://launchpad.net/~skypce/+archive/ubuntu/lmms
The steps that i was use are the follow:
sudo apt-get install dh-make bzr-builddeb
bzr dh-make lmms 1.1.90 /home/skypce/Downloads/lmms-1.1.90.tar.gz
cd lmms/debian
rm *ex *EX

in lmms/debian/changelog

  GNU nano 2.2.6              File: changelog

lmms (1.1.90-0ubuntu1) trusty; urgency=low

  * Ini

[2016-03-17 18:07] softrabbit commented on #2637
You're basically saying the sends should be "tapped" from the signal before the mute/solo function?

[2016-03-17 19:34] tresf commented on #2617
@T-boneG thanks for looking into this and sorry for the delay in response.

To help prevent the distribution of incorrectly versioned binaries, we have a process which calculates the version based on the git commit.  Although it doesn't sound exactly like what's happening, you can use it to force a particular version which is different than the one in `CMakeLists.txt`.  Here's where the logic resi

[2016-03-17 21:15] Umcaruje commented on #2192
Closed by #2669

[2016-03-17 21:15] #2192 closed

[2016-03-18 00:30] zonkmachine opened #2682 "Glitchy interference with dummy instruments"
If an instrument fails to load lmms will load a dummy instrument that has no sound.
Since around commit 857de8d the dummy plugin has decided to join in when it can...

[code]

Test project with a non existing instrument plugin
[dummyPlugginGlitch.mmp.zip](https://github.com/LMMS/lmms/files/178882/dummyPlugginGlitch.mmp.zip)

[2016-03-18 09:19] #2682 closed

[2016-03-18 12:27] musikBear opened #2685 "On/Off toggle button on instruments"
I suggest a small on/off toggle button directly on the instrument UI
![onofftogler](https://cloud.githubusercontent.com/assets/6662066/13877722/ed83a3e6-ed0c-11e5-9fdc-f44422a7bbcf.png)
That would make it possible to _activate_ the instrument on the instrument UI and not only on song-editors  _mute/unmute_ diode. The state of the new diode and the song-editor _mute/unmute_ diode, should of cause b

[2016-03-18 12:49] tresf commented on #2685
I think what you're asking for is to bring the mute and solo buttons over to the instrument screen.  Real-estate is probably the biggest issue currently, but the idea has merit.

Is this a piece of cabbage? :laughing:
![image](https://cloud.githubusercontent.com/assets/6345473/13878200/25d487be-ece6-11e5-9a54-0fa21ec634a0.png)

[2016-03-18 13:46] musikBear commented on #2685
:japanese_ogre: Mean man you - thats a diode :gem:
Its just to be able to un-mute an instrument/ preset, without having to click in song-editor, and cause the instrument to 'hide'
Could even actually be interesting in piano-roll, but there the handle situation would be even worse.

[2016-03-18 13:50] tresf commented on #2685
FYI, as a stop-gap, you can use "Always on top" with any widget. :+1:

Not the same, but helpful on occasion...

![image](https://cloud.githubusercontent.com/assets/6345473/13879635/d9e65900-ecee-11e5-9225-5cd5340948ae.png)

[2016-03-18 17:19] tresf commented on #1911
tutorials again and again

@cubician great.  This is what developers as well as designers need to hear.

[2016-03-18 19:27] ashafq commented on #1911
I really like this UI. Is it currently being implemented in a branch?

[2016-03-18 19:28] Fastigium commented on #2457
Been trying to reproduce this. Lots of funky stuff going on:

1. If I cancel an export, then start another one, it always gives a SIGSEGV, but in different code positions. This was with the SDL audio backend.
2. After setting the audio backend to ALSA (and restarting LMMS of course), I got a failed assertion somewhere deep in pulseaudio on starting the first export.
3. Then I tried again, and fina

[2016-03-18 20:36] IvanMaldonado commented on #1911
@budislav There is something I don't like about the newest version of the design. You changed the knobs for horizontal sliders on the controllers and there are no faders in the mixer.
Some programs like GIMP could use these flat graphics for the controls, because they have always used controls of this kind. Every control should stay like it has always been in my opinion.

[2016-03-18 21:07] tresf commented on #1911
Likely to save real-estate.

I think a better justification is that there's more control in granularity if the sliders are kept.  I tend to favor the sliders too, personally, as they're quite intuitive when placed directly next to the db readout.

[2016-03-18 22:08] zonkmachine commented on #2457
@softrabbit I tried a bit before that, 9bd4c4f, and it hang on me on onion/export two. I'll try and bisect it again.

[2016-03-18 23:10] zonkmachine commented on #2457
f7e5bf4

[code]

Cool. I'm just busy exporting Onion for the second time in Master... >:-)

As you said, fifoWriter. There was a waiting sequence that was removed in f7e5bf4

You change [this line ](https://github.com/LMMS/lmms/blob/master/src/core/Mixer.cpp#L219)back to
`m_fifoWriter->wait( 1000 );` and it's fixed.

[2016-03-18 23:48] zonkmachine commented on #2457
After reverting the line above I can do multiple exports with no problems but lmms will crash on exit, and this only after one export, with messag: `QThread: Destroyed while thread is still running`.
Doctor @Fastigium takes it from here...

[2016-03-19 02:09] serdnab commented on #1642
this sets if the control is logarithmic or linear when you load the plugin:

https://github.com/LMMS/lmms/blob/9a44eaf3c7fc7cf18bf278191c89017a1f3f0240/plugins/LadspaEffect/LadspaEffect.cpp#L457

There are three ways of saving the state of a knob in the .mmpz:
[code]
if you don't automate a linear knob it saves like the third way, then when you load the file it runs:

https://github.com/LMMS/lmms/

[2016-03-19 02:21] tresf commented on #1642
@serdnab yeah, I had suspected https://github.com/LMMS/lmms/commit/1cd3c9be2c4cddc0bdc7acef5d2fe6254293c06e as the culprit last I looked at this (about a year ago).

The logic is plain wrong to me... IIRC, it makes some bad assumptions...

Whenever I see an if statement that says `if (!foo) { bar = foo ? lorem : ipsum; }`  it's usually a clear sign a mistake was made.

[2016-03-19 10:07] musikBear commented on #2685
Yes i know that, thanks. I even suggested this as default behavior in 2087 (not dir. related)

 It is possible to set for *instruments* in a template, because windows attributes are preserved, even when presets are exchanged! But this is not possible for all effect-inserts, they have to be changed individually as they are loaded. Stay on top as default behavior for all non main components, would m

[2016-03-19 12:33] Fastigium commented on #2457
Someone called for the doctor :syringe: :yum:?

Yeah, adding a timeout argument allows things to continue without the `fifoWriter` thread actually having stopped. It fixes the symptom, but not the problem. Thanks for the :tractor:! Should help in my <del>investigation</del> diagnosis :grin:

[2016-03-19 13:50] eagles051387 commented on #2676
Good Afternoon,

I would like to propose a different platform.

http://pootle.translatehouse.org/

What I like about pootle is that most of the translations are done online,
and even have the option for translations to be done offline.  We would
need people to take charge of the Loco teams to ensure that the
translations are accurate. One massive projects that uses pootle is
Libreoffice. I am will

[2016-03-19 14:44] musikBear commented on #561
Related suggestion for piano-roll:
![piano-roll-tittlebar](https://cloud.githubusercontent.com/assets/6662066/13899236/59bcb804-ede9-11e5-94b2-386e16d27bfd.png)

[2016-03-19 14:55] zonkmachine commented on #561
?

[2016-03-19 15:47] Fastigium commented on #2457
Hm... I made PR #2687 which allows playback again after the first export, though it sounds strangely disfigured here. And the second export still hangs, waiting on some mysterious Qt-internal QMutex that can't be traced back to any LMMS code. More investigation work needed, but I need a break. Weird stuff.

[2016-03-19 15:52] TheTravelingSpaceman opened #2688 "Anti-Aliasing in automation editior"
For me (a relatively new user), a immediately recognisable issue is that the interface is not as well rounded as other music production software. The biggest eye-sore was the aliasing of the automation editor graph. It's probably not that noticeable to users with proper HD screens, but since I'm a scrub with a 720p display, it's horrible.

![example](https://cloud.githubusercontent.com/assets/1795

[2016-03-19 16:28] tresf commented on #2688
Words like "horrible" are rude and don't help get buy in for features like this.

Also, please stop comparing us to other DAWs.  State the problem, any insight, etc and leave the opinions out please.

I agree, this would be a nice addition.

Best regards.

[2016-03-19 16:47] TheTravelingSpaceman commented on #2688
Apologies, I was only referring to the way it displays on my screen compared to a proper one(which most people probably have). It wasn't an attempt to insult anyone, just a way of describing an effect exaggerated by my bad screen. I will limit my vocabulary in the future for the more sensitive readers.

[2016-03-19 18:44] tresf opened #2689 "Carla support for OSX"
@falkTX offers binary downloads for Mac.

![screen shot 2016-03-19 at 2 40 26 pm](https://cloud.githubusercontent.com/assets/6345473/13900609/8cba676e-ede0-11e5-89ff-68d8a84f63b9.png)

Since we already have Carla integration, I'd like to discuss the possibilities of enabling it for non-Linux platforms.

A good starting point would be to just [install the dependencies and see what happens](https://

[2016-03-19 18:49] #939 closed

[2016-03-19 22:02] Henelik opened #2691 "Organic Plugin Mislabeled Waveforms"
The wave forms in the Organic Plugin are mislabeled.  The wave labeled "Triangle" is actually a saw, the wave labeled "Saw" is actually a square, and the wave labeled "Square" is actually a triangle.

[2016-03-19 22:03] Henelik opened #2692 "State Variable LADSPA Filter isn't working correctly"
The filter labeled as "None" is actually some kind of low pass filter.

[2016-03-19 22:05] grejppi commented on #2691
Already fixed in master. 91aafceba5f15f47fc104abef063aa725cf18786

[2016-03-19 22:05] #2691 closed

[2016-03-19 22:12] tresf commented on #2692
Can you offer a screenshot?  We bundle many LADSPA filters and it will help to know which plugin you are referring to.

[2016-03-19 22:13] Umcaruje commented on #2692
This really isn't a problem with LMMS though, but with the developer of that LADSPA plugin.

[2016-03-19 22:17] tresf commented on #2692
Correct, but it depends on the publisher.  SWH doesn't update his own, so all patches have been from downstream projects like us.  We've provided a few patches to his repo.

Calf on the other hand has changed so much we haven't been syncing in changes.

The status of the bug rides on which plugin has the bug, then we can escalate as needed. :+1:

[2016-03-19 22:20] grejppi commented on #2692
@tresf this one is in SWH Plugins.

[2016-03-20 09:56] Fastigium commented on #2457
After investigating some more, I have a strong suspicion that this bug is at least partly caused by PulseAudio hijacking the alsa output. When a project is exported, the alsa audio thread fully terminates. PulseAudio seems not to like this. It uses a pthread_mutex_lock that fails an assertion at some thread terminations, but at others, the PulseAudio thread appears to keep running while the alsa t

[2016-03-20 10:30] falkTX commented on #2689
Carla as plugin does not work on Windows, my code for win32 pipes doesn't work yet..
It does work on Mac OS though.
Now the question is how carla build will be done - do you prefer to compile it at the same time as LMMS, or use pre-built binaries?

[2016-03-20 11:53] Umcaruje commented on #2518
@zonkmachine this is how it looks over on qt5:

![screenshot from 2016-03-20 12 52 11](https://cloud.githubusercontent.com/assets/6282045/13904261/b16eb06e-ee9a-11e5-9924-8ed7e7350656.png)

No icons, and button height varies, but the text seems to be there.

[2016-03-20 11:56] musikBear commented on #561
@zonkmachine i made a posting error :see_no_evil: The topic is still valid, and also not closed, so all is well :angel:

[2016-03-20 12:15] michaelgregorius commented on #2457
To me it sounds like the underlying problem is that the audio export is in some strange way coupled to the audio driver that's used for live playback in the first place. I would have thought that an audio export doesn't use an audio driver (ALSA, Pulse, SDL, etc.) at all and just uses something like a system independent file driver that will collect the audio stream as fast as possible and write t

[2016-03-20 12:23] musikBear commented on #2688
:imp: devils lawyer : Will antializing in song-editor cause a higher cpu usage?
If so, i would say no thank you.

[2016-03-20 12:41] musikBear commented on #2457
what i see is that the project is being silently replayed, not only counter, but even playhead moves during export. That would indicate that *two processes* take place at the same time? A normal, but silent replay, *and* a file-handling-process.

[2016-03-20 12:52] Umcaruje commented on #2688
No, it shouldn't. We don't redraw the Patterns all the time, only when they are changed, so this shouldn't affect CPU usage at all.

[2016-03-20 12:59] Fastigium commented on #2457
@michaelgregorius The project export uses a special audio interface that writes to a file instead of sending to a soundcard, so that is kind of what you expected. However, that special interface temporarily replaces the normal audio interface, terminating the thread of the normal one. The project renderer attempts to reverse the swap after exporting and restart the thread of the normal audio inter

[2016-03-20 13:14] michaelgregorius commented on #2457
@Fastigium That sounds good in principle. Thanks for the insight!

[2016-03-20 14:30] zonkmachine opened #2693 "Hangs/Crashes in BBTrack when cloning a track while playing"
Just clone a kicker track when playing and it will hang or crash pretty much all the time.
I don't see this in the stable versions but bisecting hasn't given anything useful.

[code]

[code]
`0xffffffffffffffe0` that's `0 - 0x000000000000001f
`

[code]

Full backtrace: https://gist.github.com/zonkmachine/62c27a133e817b57e211

[2016-03-20 14:42] tresf commented on #2689
I haven't tried installing Carla on Mac yet.  Does it put Carla in a predictable location?  i.e. Can we build with support for it and simply look there?

[2016-03-20 14:45] falkTX commented on #2689
Carla uses a regular OSX app bundle.
For LMMS on OSX it would be best to ship with the needed Carla stuff directly.

How do you build Qt on OSX? And is it Qt4 or Qt5?

[2016-03-20 14:54] tresf commented on #2689
Ok.

Stable uses Qt4.  We have plans to be on Qt5 when 1.2 is released, we've ironed out all major bugs.  My environment is Lion 10.7 though which Homebrew states won't work with Qt5 any longer, so I have to setup a 10.8 Mountain Lion environment.

We snag it from Homebrew currently (and do so on a very dated build machine to allow older OS X versions to still run it).

It gets bundled using qt's

[2016-03-20 15:05] falkTX commented on #2689
hmm Carla on OSX builds against Qt5, so for this to work we'd need to ship both.
(note that Carla's UI runs in a separate process so there's no symbol conflicts here)

I guess for this to work, we would:
1. download carla's latest osx release before building lmms
2. download some pre-setup carla-osx dev files (headers and pkg-config file)
3. build lmms as usual, now with lmms support (might need s

[2016-03-20 19:09] michaelgregorius commented on #2688
Fixed with #2694.

[2016-03-20 21:33] zonkmachine commented on #2688
![hint](https://cloud.githubusercontent.com/assets/6368949/13907271/f02895f4-eeea-11e5-88c7-f9b06787baf7.png)

:+1:

[2016-03-21 01:05] zonkmachine commented on #1105
Here's an odd thing from the 'off by one' family and possibly related.

If you change to a 5/4 beat and add something to the 5  ...
![bbtrack541](https://cloud.githubusercontent.com/assets/6368949/13908484/766620ba-ef03-11e5-92ab-b3572f8d911d.png)

... and then change back to 4/4 you now have 17 boxes to tick. The last counts as position one in a subsequent 4/4 beat.
![bbtrack44ghost](https://clou

[2016-03-21 02:11] IvanMaldonado opened #2695 "Make text of both MainToolbar and Tracks editable"
![captura de pantalla_2016-03-20_20-08-09](https://cloud.githubusercontent.com/assets/12549082/13909390/bbf49e9e-eed7-11e5-997b-8aab6a863f41.png)

It's hard to make clear themes with no way to change these.

[2016-03-21 02:37] tresf commented on #2695
@IvanMaldonado it's hard-coded here:

https://github.com/LMMS/lmms/blob/master/src/gui/widgets/LcdWidget.cpp#L189

[2016-03-21 10:13] amagnolo commented on #1875
This affects also Lubuntu 15.10 x64 + wine-1.8 + LMMS 1.1.3 from kxstudio repositories.
The tested VSTs (Synth1, Crystal) work all right when loaded in Carla instead of LMMS.

[2016-03-21 12:01] Fastigium commented on #2457
Ah, the SDL audio interface already does what I propose to do for alsa: write zeros when processing is stopped, keeping its thread alive. I was afraid not stopping the thread might make `stopProcessing()` semantically wrong, but apparently it's already in use that way. Time to change the alsa audio interface!

[2016-03-21 12:12] TheTravelingSpaceman commented on #2688
Seems like there are colour inconsistencies in the shading when the graph changes from a cure to a straight line:
![colors](https://cloud.githubusercontent.com/assets/17950515/13918218/6debc96a-ef6e-11e5-8dd3-a773145ddd2a.png)

[2016-03-21 12:42] tresf commented on #2688
@TheTravelingSpaceman good catch.  Some of this code has recently changed (f136ba3).  Tagging @Umcaruje in case he has any insight.

If you reset your code base to before f136ba3 (i.e. `git reset --hard b7d5b2d`) does this strange rendering still occur?

My initial instinct is that the gradients are being rendered from the wrong spot, but if that were the case, the rendering bug would exist before

[2016-03-21 13:03] TheTravelingSpaceman commented on #2688
I just reset my code base and added the line to introduce anti-aliasing.
Error still persists.
On 21 Mar 2016 2:42 p.m., "Tres Finocchiaro" <notifications@github.com>
wrote:

[2016-03-21 13:04] tresf commented on #2688
@TheTravelingSpaceman Thanks for testing, much appreciated.

I assume you've also moved your `~.lmmsrc.xml` file as well to make sure no strangeness is happening with the theme file?

[2016-03-21 13:08] TheTravelingSpaceman commented on #2688
Nope, I apologise for being a bit useless. First time I'm using github and working on any openSource project. This seems a bit over my head for now. Would love to contribute in the future. Still learning.

[2016-03-21 13:18] tresf commented on #2688
@TheTravelingSpaceman you are being very helpful actually.

The aforementioned XML file stores your LMMs preferences.  Old versions of this file can cause graphic anomalies.  Yours are unlikely to be caused by this file, but if you close LMMS and move it, it will regenerate with the details settings and eliminate it from the troubleshooting process. :)

[2016-03-21 13:33] musikBear commented on #2688
:+1:

[2016-03-21 13:35] musikBear commented on #2457
:+1: Great job @Fastigium !

[2016-03-21 13:47] Fastigium commented on #2457
Testing please! #2687 now fixes the export problem for me. However, I often get distorted sound when I switch projects after exporting. This distorted sound sometimes turns back to normal after a while (a minute or two). More weird stuff. Not sure how critical that is, though.

@musikBear Thanks :blush:! I was going to say insight alone doesn't fix a problem, but it's an essential step toward a fi

[2016-03-21 14:30] RoiEXLab opened #2696 "High pitched sound is played faster in Piano Pitch Editor"

[2016-03-21 14:42] tresf commented on #2696
This doesn't meet our guidelines for submitting a bug report.   Please correct and reopen as needed.

https://github.com/LMMS/lmms/wiki/Reporting-Issues

[2016-03-21 14:42] #2696 closed

[2016-03-21 15:09] Fastigium commented on #2638
If @andrewrk doesn't respond or is short on time I might fix this as part of my efforts on #2457. If I'm working on these parts of the code anyway...

[2016-03-21 15:50] zonkmachine commented on #2457
I'm testing this now with multiple exports and switching projects in between. Five different projects and counting, this now works. I had a project hanging on me but that's hardly related.

I haven't seen the noise you refer to but I've had it before, properly scrambled sound that is, and I think it's pretty much a known issue but I can't find the report for it right now.

[2016-03-21 15:59] tresf commented on #2457
I did some extensive testing with various backends for [this bug report](https://github.com/LMMS/lmms/issues/1600#issuecomment-69782663), not sure if the symptoms are similar or not...

[2016-03-21 16:15] zonkmachine commented on #2457
@tresf I think that's the bug report I was looking for.

I've now exported ten of the projects two to three times. Fixed for me. :+1:

[2016-03-21 16:21] Umcaruje commented on #2688
I actually did a more complex patch on a local branch to make a PR for this:
[code]

But I ran on the color issues. They are there because we draw the patterns using a loop, that adds up a lot of rectrangles one after another. Now, these rectrangles have odd values, like a width of `0,4769` or something like that, which causes the renderer to draw half-transparent pixels to compensate when antiali

[2016-03-21 16:48] tresf commented on #2688
Great investigation @Umcaruje.  You're completely right, better drawing code would use [fill rather than drawing a bunch of rectangles](http://stackoverflow.com/a/19356908/3196753).

I assume rounding to the nearest pixel doesn't help either?

[2016-03-21 16:51] Umcaruje commented on #2688
Well, it would just be a lot of rectangles chained together, it still wouldn't look as smooth as it could be if it was properly drawn.

[2016-03-21 17:03] Fastigium commented on #2457
@zonkmachine Thanks for the testing!

@tresf Thanks, that's some interesting reading! Places things in perspective.

@softrabbit If you have the time, I'd love to know if #2687 fixes this bug for you as well!

[2016-03-21 17:46] tresf commented on #2689
Well, we don't maintain `stable-1.1` any longer, so Qt5 should be fine.

Thanks... pardon my lack of inexperience on this topic, but which component should I be focusing on...

The `Carla.app` is obviously an application bundle that can be deployed, but what about the `carla.lv2` directory (Didn't see anything in the `README` about it)?

![image](https://cloud.githubusercontent.com/assets/6345473/

[2016-03-21 18:12] zonkmachine commented on #2455
Mallets is now ready for testing. https://github.com/LMMS/lmms/pull/2670

I used the same backward compatibility method as Kicker as I recently worked with it and it's familiar.
Most bugs fixed. Mallets seem more to have been abandoned before really completed and left with more or less the preset values from stk modalbar, BandedWG presets turned default off and only Tubular Bells from stk::FM real

[2016-03-22 03:08] tresf commented on #2457
Probably unrelated, but some interesting output from `openbsd` build... Pasting it here as it may relate in some way to export.

[code]

[2016-03-22 07:57] falkTX commented on #2689
The needed files are inside the main carla.app bundle.
libcarla_standalone2.dylib is the only thing we need for building, then for the rest (pkg-config + headers) I'll have to create a separate download.
the rest of the files will be copied during deploy.

[2016-03-22 09:25] Fastigium commented on #2457
@tresf Thanks for the heads-up! I've looked into it, but that use of strcpy is actually fine. No user input involved, so no chance of overflow or overallocation.

[2016-03-22 09:35] Fastigium commented on #2693
Could this be related to #2470?

[2016-03-22 10:36] Fastigium commented on #2638
Been reading `AudioSoundIo.cpp` and libsoundio documentation, and I see two possible approaches to fix this:

1. As there is no `soundio_outstream_stop()` or `soundio_outstream_close()`, stick with `soundio_outstream_destroy()`. Take the whole outstream initialization code out of the constructor and make it a separate method, to be called again in `startProcessing()` when needed.
2. Use `soundio_o

[2016-03-22 11:16] andrewrk commented on #2638
Fastigium has it right. :+1:

[2016-03-22 11:48] musikBear commented on #2688
Just a thought
It is actually not the filled shape thats represent the automation. Its only the peak-values:
![automatline](https://cloud.githubusercontent.com/assets/6662066/13950558/0494d7f4-f02c-11e5-9bfe-c389b24a6bf6.png)
Perhaps *that* was a way to go? I believe that pro-tools and Reaper also only represent the flow of automation with a line. I cant remember how FLS does it, but thats not all

[2016-03-22 12:13] tresf commented on #2688
This probably isn't a place to decide how to re-design the automation tracks.  Had it been, I would come back with my typical "draw automations over the tracks themselves" canned response.

Are you sure? Why wouldn't we still have this aliasing problem?

[2016-03-22 12:48] tresf commented on #2457
:+1:

[2016-03-22 23:31] kamnxt opened #2698 "LMMS scans entire home directory on first launch"
On my system, LMMS seems to hang on launching. After further examination using strace, I found out it tries to scan the entire home directory, which in my case contains a lot of files, causing LMMS to be unresponsive for several minutes.

[2016-03-23 00:18] liushuyu commented on #2676
It seems that we have stuck here... But, as the LMMS will roll up to 1.2 soon, from my perspective, we can not put off the topic for another week.

[2016-03-23 00:23] MingcongBai commented on #2676
+1 to @liushuyu. But at the same time... I don't know, the sooner the change, the less the pain.

[2016-03-23 00:34] kamnxt commented on #1875
Affects LMMS 1.1.90 built from source with wine-1.9.6 on Arch Linux x64.

Tried both 32 and 64 bit VSTs.

[2016-03-23 00:36] tresf commented on #2676
@liushuyu what are the next steps?  I don't think anyone is intentionally holding this up. :+1:

[2016-03-23 00:49] tresf commented on #2698
Sounds like it's doing a recursive scan of files.  If you move `~/.lmmsrc.xml` out of the way, does it still occur?  I ask because by default, the working directory for the application is `~/lmms`, which unless there's a bunch of strange symlinking going on, shouldn't be deep enough to exhibit what your'e describing.

[2016-03-23 00:51] liushuyu commented on #2676
Okay, next we need to decide which platform we are going to use. In fact, each platform comes with its unique advantage and disadvantage, and many of them have similar functions like translation memory, offline transition, and terminology lists.

From my perspective, if I were you, I will choose Transifex, as this one has good support for Qt translation files, and it is famous for having many tale

[2016-03-23 02:03] zonkmachine commented on #2099
Solved per this forum post:
https://lmms.io/forum/viewtopic.php?f=7&t=3403

[2016-03-23 02:03] #2099 closed

[2016-03-23 02:40] tresf commented on #2676
This is up to the translators, so decision has been made as far as I'm concerned. :smile:

[2016-03-23 02:45] liushuyu commented on #2676
Hmm, no. For **you** need to upload the translation files to the platform , assign language team, and keep translation files up-to-date.
We will need to arrange the translations before you collect the translations and merge back to git here.

If you choose to use Poolte, you'll need a server to host it, and if you choose to use Transifex or Crowdin, I and @MingcongBai can help you with that.

[2016-03-23 03:00] tresf commented on #2676
Let's not point any fingers here. If someone needs elevated access, email an admin, please.  I'm not the one that proposed this technology, so respectfully, no.

[2016-03-23 03:22] liushuyu commented on #2676
Sorry about that. But my point here is that we need a general localization manager, who has the direct write access to LMMS repo and has strong sense of responsibility. This person will take care of the things I mentioned before.... (Sorry, once I thought your were responsible for everything 😃  )

[2016-03-23 03:41] zonkmachine commented on #2693
No. That bug seem to have been introduced in #1704 / 6e68eca6f88a36a7c6fd13d907a8b6fe55069bbc and this issue should be placed in time somewhere around half a year prior to that.

[2016-03-23 03:58] zonkmachine commented on #2470
I can confirm that this is the case. Bug introduced in 6e68eca6f88a36a7c6fd13d907a8b6fe55069bbc

[2016-03-23 04:14] tresf commented on #2676
When a bruise gets poked over and over, it starts to get sore after a while.

This codebase is 500,000 lines long, and in addition to that, we maintain builds for dozens of operating systems (and many iterations of each OS) as well as release cycles, a website, an annual competition, social media, etc.

We're downloaded thousands of times per day, [just for Windows and Mac alone](https://api.githu

[2016-03-23 04:25] tresf commented on #2689
You'd ship something similar with the kxstudio ppas, right?  I can take a look there and see how far I get. :+1:

[2016-03-23 04:52] IvanMaldonado commented on #2676
@tresf, I think he is just talking about what it's needed to implement the idea here presented, and not what lmms needs in general.

If someone is needed to make this happen, count with me, I have seen how platforms like this work before and since we are just going to work with the translation files, those are the only things from the repo that we will need.

Everybody have access to the repo. 👍

[2016-03-23 04:55] liushuyu commented on #2676
Okay, @tresf maybe we have some misunderstanding,  I thought you'll in charge of this. Now, I have set up the project on Transifex here : https://www.transifex.com/lmms/lmms/

Thanks for your patience!

[2016-03-23 04:56] liushuyu commented on #2676
Just wait a few minutes while I am importing existing translations

[2016-03-23 04:57] tresf commented on #2676
@IvanMaldonado :+1: @liushuyu :+1:

Please speak up if access rights need to be changed.

[2016-03-23 04:59] IvanMaldonado commented on #2676
Maybe there could be another branch or repo exclusive for lmms translations (lmms-translations) so the changes in the translation files (done online) could be updated there to be then merged to the master branch.

[2016-03-23 05:10] tresf commented on #2676
We always can, but translations aren't something that get a whole lot of scrutiny today, because the admin approving it quite often doesn't speak the language being translated, so if the service you are using has the workflow, I'm pretty sure the admins will be happy with that.

On that note, if you're uncomfortable with turning on pushes to our live repo right away, you can always point it at you

[2016-03-23 06:05] liushuyu commented on #2676
Progress update: All existing translations have been successfully imported.
Cheers!
Next, I need the existing translators to register an account on Transifex:
https://www.transifex.com/signup

[2016-03-23 07:57] falkTX commented on #2689
Yes, correct.
I have plans for a carla release very soon (2.0-beta5 milestone has only 3 bugs left), but you can use the 'testing' dmg I linked before (just remember it requires 10.9 for now).

The pkg-config file is here:
https://raw.githubusercontent.com/falkTX/Carla/master/data/carla-standalone.pc
You'll need to adjust include and prefix to point to wherever you placed libcarla_standalone2.so,

[2016-03-23 08:20] softrabbit commented on #2457
@Fastigium: well done, #2687 seems to fix this issue. Haven't extensively tried to break it yet, but exported some 5 times in a row without LMMS hanging or breaking playback :+1:

[2016-03-23 08:43] Fastigium commented on #2457
@softrabbit Thanks for testing! I'll close this issue when #2687 is merged.

In the mean time, [a comment by Wallacoloo](https://github.com/LMMS/lmms/pull/2339#issuecomment-139947741) gives me pause. #2687 would introduce another such member that technically requires synchronization. Testing so far hasn't turned up any problems, but since these source files are compiled with C++11 enabled [any com

[2016-03-23 08:49] softrabbit commented on #1911
Horizontal sliders, I like them. It's easy to read the level (ok, round knobs with a clear highlighted sector around them aren't as bad as traditional hardware-imitating knobs), and they're easy to layout; you can stack sliders in a sidebar and make it pretty narrow without changing the layout.

[2016-03-23 16:15] TheTravelingSpaceman commented on #2688
I don't think it would remove need for anti-aliasing... Maybe make it easier but not remove it. Also, as a general rule I don't like the idea of making design changes based on the fact that it would be easier to implement(Easily said since I'm not the one doing the implementing).

[2016-03-23 19:40] tresf commented on #2688
:+1:

[2016-03-23 21:07] kamnxt commented on #2698
Still happens with .lmmsrc.xml removed.

The thing it hangs on is this:

    access("/home/<my user>/<directory>/<subdirectory>", R_OK) = 0

It seems like it's only being done 2 directories deep though. I've got a directory with around 72k directories in it, which seems to be the problem. If the directory is directly in my ~, it's being scanned (and hangs LMMS for quite a while), but if it's in a

[2016-03-24 02:47] tresf commented on #2676
@liushuyu thanks for setting this up.  Very nice.

A good way to ping some translators is to [browse through the changes made to our locale directory](https://github.com/LMMS/lmms/commits/master/data/locale) and check for GitHub IDs which were use for translation commits.

![image](https://cloud.githubusercontent.com/assets/6345473/14006996/f34e24c8-f148-11e5-9a22-ce875e29afc8.png)

[2016-03-24 02:51] liushuyu commented on #2676
Further more, I have set up serveral interesting tags to attract more
volunteers on Transifex to join our project. And so far, I witnessed
serveral strangers have joined already! 😃

[2016-03-24 04:16] liushuyu commented on #2676
Okay, I have invited as many people as I can, so far we've got 7 people here, more to come!

[2016-03-24 04:55] IvanMaldonado commented on #2676
@liushuyu You must be aware that LMMS use a lot of technic words and there should be just people who know about music production in general, for real, the last translation for spanish lmms had, had some bad interpretations about the controls, because we in spanish use words to define different things when english usually uses just one and you have to find the most coherent context.

I imagine that

[2016-03-24 05:01] liushuyu commented on #2676
So, what do you suggest me to do about it?

[2016-03-24 06:15] sonvirgo commented on #699
any thing news

[2016-03-24 10:15] musikBear commented on #2688
if you lit one pixel of each pixel-pos in screen, for a curve, that is the actual flow. I would not AA an actual measured flow, but this is just tedious derailing, since tresf already has dismissed the proposal for a single line-representation.

[2016-03-24 10:29] geldedus commented on #1875
Affects LMMS 1.1.3 (Linux/x86_64, Qt4.8.6, GCC 4.8.2) on Ubuntu 15.10

[2016-03-24 10:47] michaelgregorius commented on #2698
I investigated a bit on this one and I think that it's caused by the file browser which shows the user's home directory. I have used the following command for `strace`:
[code]
This will trace all `open` system calls and log them into the file `strace_result.txt`. Doing so gives me several entries of the following form:
[code]
If I comment out the following line in `MainWindow.cpp` these lines are

[2016-03-24 10:56] michaelgregorius commented on #2688
@musikBear Why wouldn't you antialias that line? If you only paint one pixel per coordinate of the y axis this is exactly what will give you aliasing:
https://courses.engr.illinois.edu/ece390/archive/archive-f2000/mp/mp4/anti.html

[2016-03-24 14:41] Spekular opened #2699 "Hang on Open/Save operations"
* I'm running Windows 7 Home Premium, 64 bit.
* I'm using 1.2.0-RC1 64 bit
* If I attempt to open, save, import, or export a file, LMMS hangs.
* If I install the 32 bit version, it works fine.

EDIT: Apologies for the eyesore of a title.

[2016-03-24 14:54] Umcaruje commented on #2699
Could you please provide us with a specific file where this issue happens, or does it happen with all files?

[2016-03-24 15:18] tresf commented on #2699
Sounds strikingly similar to #2698 (in symptom only of course)

[2016-03-24 15:27] IvanMaldonado commented on #2676
@liushuyu Do not let any person to join, they have to know what they are working with first.

[2016-03-24 15:30] Spekular commented on #2699
@Umcaruje happens when I first launch LMMS, without any file loaded.

@tresf could be. Thanks for cleaning up the title :+1:

[2016-03-24 15:31] liushuyu commented on #2676
I am aware of that, thanks! Actually, when someone want to join, they will
wait until @Tresf or I to accept the request. So I will take care of that.
Thank again! 😃

[2016-03-24 15:36] Umcaruje commented on #2676
Hey, so @liushuyu is this a paid service?

Also how do we update the translations with new strings? IIRC translators used to `lupdate` to manually update the translations with new/changed strings ( I recall @midi-pascal talking about that ).

How does transifex handle this? Also, how will you commit the new changes to the repo?

[2016-03-24 19:55] kernelcrasher commented on #1875
It has been over a a year now.
I was wondering if there could be some temporary workaround related to the Qt bug.
Wouldn't it be possible to intentionally pass the arguments in the wrong order so that sendXEmbedMessage actually passes them in the right order?
Also, it seems like someone on WineHQ has produced a temporary workaround:
http://source.winehq.org/patches/data/101921
has this been tested

[2016-03-24 20:07] tresf commented on #1875
Assuming it's the same bug, doesn't that require a patch to X11?

There is, @Narfinger wrote one https://github.com/LMMS/lmms/pull/2304.

Unfortunately, this was closed as the original author of the VST bridge didn't like the idea of pulling IPC support.  That spawned the first step to split the code https://github.com/LMMS/lmms/pull/2390 whereas the next step is to allow the Qt method to be toggl

[2016-03-24 22:07] karmux commented on #2537
`new GigInstance( _gigFile )` gets `RIFF::Exception` with every gig file I have. Same with latest 4.0 version of libgig and libgig-dev.

[2016-03-24 23:20] liushuyu commented on #2676
Well, it's free for open source projects. And I am setting up automatic
updating bot for you to update translations simultaneously. And when
translations reached certain progress, the bot will merge the translations
back....

[2016-03-25 01:09] mikobuntu opened #2701 "ZASF >Show GUI > Advanced crashes Xorg [ master branch ]"
Hi guys I am running the latest Master branch from git ( built with -DWANT_QT5=ON )

To reproduce load ZtnAddSubFX into a track and it will play the default sine wave as expected from the LMMS Plugin window, but click on " Show GUI " > " Advanced" and this will immediately crash my /usr/bin/xorg causing a logout . This makes a backtrace quite difficult.
 * note I have not yet tried building with Q

[2016-03-25 01:11] x42 commented on #2616
What's the issue with LV2 that lead to despair?

It's really straight forward, Most if not all of it is abstracted by liblilv  and the GUI part by libsuil. It works cross platform on the four+ major platforms out there.

Yet another plugin format? anything innovative?

[2016-03-25 02:08] tresf commented on #2701
Not our bug.  Duplicate of #2100. :+1:

[2016-03-25 02:08] #2701 closed

[2016-03-25 09:02] grejppi commented on #2616
@x42 the despair was not caused by LV2, but the fact that LMMS reimplements the same things for every plugin format.

[2016-03-25 09:19] amagnolo commented on #1875
I'm sorry I don't understand, is there currently any way to use VSTs with LMMS in Linux? Or this feature is broken and was abandoned one year ago?
What's the workaround to this bug, should I change Linux distribution, use an alternative to VeSTige, ...? Please don't tell me to install LMMS in Windows. ;-)

[2016-03-25 10:17] mikobuntu commented on #2701
@tresf  Are you 100% sure this is "not our bug" ?
I ask because I have no such issue with my local installs of ZynAddsubfx, which standalone version is Version: 2.5.3, I also have no issues with the linux VST version and also LV2 version running in other DAWs. This seems to only happen on my system in LMMS .

[2016-03-25 11:00] RoiEXLab opened #2702 "High pitched sound is played faster in Piano Roll Editor"
This is Issue #2696 reopened...
I'm using Windows 8.1 x64 and LMMS 1.1.3.
When using Bassdrum01 in the piano Roll editor the sample plays faster the higher you pitch it.
You'll recognize it easier if you are creating a scale in the editor.
You will notice that at some point the sample won't sound perfectly aligned.

[2016-03-25 11:17] Spekular commented on #2702
I'm fairly certain this is intended. Playing a sound faster will increase
the pitch, and vice versa.

[2016-03-25 12:03] michaelgregorius opened #2703 "Equalizer shows high frequency content for sine wave at 110 Hz"
Playing a sine wave at 110 Hz through an Equalizer results in some signal shown in the high frequency ranges, e.g. 5 kHz. As far as I know the sine in LMMS is computed using the `sin` function from the math library so I'd expect no signal to show in the higher frequencies because these frequency contents should already be well beyond -100 dB FS.

Here is a screenshot that shows the effect:
![equal

[2016-03-25 12:23] tresf commented on #2702
If that's not desired, use the soundfont.  Sound waves shrink as their pitched.  This is default.  Try it in Audacity.  This isn't a bug.

[2016-03-25 12:23] #2702 closed

[2016-03-25 12:27] tresf commented on #2701
The evidence I have is:
 1. Same symptom, X.org crashes
 2. Same version, 2.5.3
 3. Same action triggers the crash

If I'm wrong, reopen.  :+1:

[2016-03-25 12:30] tresf commented on #2701
@mikobuntu update, @Umcaruje actually opened the [upstream report](https://bugs.launchpad.net/ubuntu/+source/xorg/+bug/1449167) (expired) over at Ubuntu, so I'll let him chime in on this. :beer:

[2016-03-25 13:20] Umcaruje commented on #2701
Well, when I talked over with @fundamental over on IRC he said this is a bug that occurred with Xorg, and that there was a patch already submitted over at Xorg, but the Ubuntu version hasn't pulled in that patch yet.

So I'm pretty sure this is not our bug, since the main dev of Zyn said that its not his bug, and it's Ubuntu/Xorg's bug.

[2016-03-25 13:40] tresf commented on #1875
Unless using Carla, not that I'm aware of, at least not on most modern Linux versions (VSTs load fine on Ubuntu 12.04 for me).

You could always clone and build the branch in #2304 and try that out, but of course that's not up to date with the stability changes we've had to master.

Or an alternative to LMMS, if it's a deal breaker for your needs.  We need dev help on this.

:)

[2016-03-25 14:07] fundamental commented on #2701
@mikobuntu to confirm it is X11, compile one zyn (standalone) with fltk and one zyn (standalone) with ntk. The fltk version calls fl_arc which calls the x11 arc drawing routine. The ntk version simply draws a pixmap with no such x11 call. If the ntk version works and the fltk version crashes xorg, then it is almost certainly a bug in your version of X11.

[2016-03-25 14:12] tresf commented on #2701
FWIW, Mark helped me through this process here... https://www.kvraudio.com/forum/viewtopic.php?f=47&t=411406#p5746278

[2016-03-25 14:53] zonkmachine commented on #2702
This is because the frequencies are calculated as ratios of the sample mathematically. This bug was, kid you not, earliest described by Euclid and is called the [Pythagorean Comma](https://en.wikipedia.org/wiki/Pythagorean_comma). It's why piano tuners has to train for years to get it right with the 'tempered tuning'.
Samples that can be pitched up/down correctly use a more advanced file format an

[2016-03-25 15:21] michaelgregorius commented on #2703
While checking the spectral content of a 110 Hz sine wave generated by `sin` in Reaper I noticed that you can select different [window functions](https://en.wikipedia.org/wiki/Window_function) in the analyser which yields different results.

[Rectangular window](https://en.wikipedia.org/wiki/Window_function#Rectangular_window):
![sine110-rectangular](https://cloud.githubusercontent.com/assets/9293

[2016-03-25 17:08] zonkmachine commented on #2537
When I try the last of the original commits by @floft 205056621c353fe50316f963b479b6f824ca6246 the files don't reload either.
The saved project looks correct though.
I'm on LinuxMint, libgig6 3.3.0-2

[2016-03-25 18:18] kamnxt commented on #2698
@tresf Yep, this causes it to start pretty much instantly.

[2016-03-25 20:17] karmux commented on #2537
I entered full absolute path of gig file to the project file and it loaded correctly. Trying to fix it.

[2016-03-25 20:31] zonkmachine commented on #2537
@karmux  Cool, make sure file links are preserved in recovery files too.
These are my finds after probing it a bit but you posted in between so this may be nothing new to you.

[2016-03-25 21:21] IvanMaldonado opened #2704 "Make the mixer color editable"
The colors of the mixer are linked to the general background.

![edit](https://cloud.githubusercontent.com/assets/12549082/14054179/ce192464-f29c-11e5-94da-a7753bb4722c.png)

If possible, making the mixer editable could enrich the UI in color.

![captura de pantalla_2016-03-25_15-05-51](https://cloud.githubusercontent.com/assets/12549082/14054185/e260c9d6-f29c-11e5-9b32-8293db12def9.png)

[2016-03-25 21:59] curlymorphic commented on #2703
I would agree that being able to select the window type and size used could be a nice addition giving the plugin a more polished and professional analyzer function, The reading of a DFT display does require an understanding of the results presented, the window type  used and the size of the window if to be read accurately. The code in the eq uses the fft helper classes from lmms, which in turn are

[2016-03-25 22:03] mikobuntu commented on #2701
Thanks guys for all your input here, much appreciated. I will test this properly once i can figure what is wrong with my system/zyadd code or perhaps apply the Xorg patch manually?... as I'm having problems compiling the master branch for now, but I'm sure you are all right in it being an Xorg bug. thanks :)

[2016-03-26 08:27] #2667 closed

[2016-03-26 13:57] Fastigium commented on #2457
Welp, what a mess! I've been investigating the issue even more, and have reached this conclusion: a small redesign is needed in how LMMS stops processing audio. Let me explain:

1. This bug is a regression caused by f7e5bf4, as @zonkmachine determined.
2. Prior to f7e5bf4, stopping the processing of audio would be done by inserting a NULL buffer into the mixer's fifoBuffer, then waiting for the Au

[2016-03-26 15:48] Umcaruje commented on #2676
Closed by #2706

[2016-03-26 15:48] #2676 closed

[2016-03-26 19:10] midi-pascal opened #2708 "Crackling sound in master branch"
The sound is crackling while playing pieces.
I updated today from master, cleaned, rebuild and reinstalled from scratch.
This problem was not occurring one week ago or so (not sure though), the sound was perfect.
I tried a bit with some other instrument plugins and it seems the crackle happens especially at the beginning of each note with sounds having a neat attack. This is specially audible usin

[2016-03-26 22:47] zonkmachine commented on #2708
I actually tweaked kicker a weak ago and this for backward compatibility but I don't see this crackle.
https://github.com/LMMS/lmms/pull/2678

[2016-03-26 23:13] midi-pascal commented on #2708
@zonkmachine This is not kicker-specific. The crackling is just more audible with it because the sounds have a straight attack but I can ear the crackle while playing a piece through Sf2 or fiddling with other instrument plugins (mallets, for example). I would eliminate a hardware or external library problem since the same crackling piece plays just fine with Lmms 1.1.3 on the same machine. Other

[2016-03-27 01:00] zonkmachine commented on #2708
I got it too now and it began in 32b7e0418b55d2fb6e45bff9a32103e532a9dab5
@Fastigium

[2016-03-27 01:31] midi-pascal commented on #2708
@zonkmachine I am pleased to know I am not the only one encountering this issue and also to have detected it before 1.2 is out. This is a major issue since it impacts all  instrument plugins.

[2016-03-27 01:54] zonkmachine commented on #2708
![crackle](https://cloud.githubusercontent.com/assets/6368949/14063379/fa34c2a0-f3ce-11e5-8c6f-5bdbe0c89354.png)

It's little glitches going to zero and I get them with instruments that share a channel. ( This without testing it extensively though ). I add a simple project that has this noise in current master. If you change mixer channel on one of the instruments the noise goes away.

[issue-2708

[2016-03-27 02:00] GNUMariano commented on #2435
@IvanMaldonado Yes! There is enough space, but in 4:3 monitors it appears truncated ("Mis Preconfiguraci"). Yet you can resize  that panel till it appears complete, so I guess it'll be OK.

BTW I added a commit a few days ago. Is there anything else I can do to help getting the translation merged?

[2016-03-27 02:26] tresf commented on #2435
Probably best to ask in the relevant, open PR.  BTW, commits don't trigger any notifications to admins or @mention's, so if you ever add a commit to a PR and want peer or admin review, you have to bump it with a comment. :+1:

[2016-03-27 02:48] GNUMariano commented on #2435
Thanks @tresf I'll do so.
BTW I've read the topic on Transifex, is this going to change the way we [must] work on the translations?
PS: I've noticed I'm posting on a closed topic, maybe I shoud ...?

[2016-03-27 02:50] tresf commented on #2435
Great question.  @liushuyu is the person to ask, but in short, yes. :+1:

[2016-03-27 02:52] GNUMariano commented on #2435
Thanks, I'll ask him. About the PR I've noticed that it's closed. Should I open a new pull request commenting that commit?

[2016-03-27 03:14] tresf commented on #2435
I'm still not sure which PR you're talking about.

[2016-03-27 03:24] liushuyu commented on #2435
Well, in this case, you can feel free to contact me by email, Hangouts, or Telegram. Or you can comment on the closed thread.

[2016-03-27 04:58] GNUMariano commented on #2435
@liushuyu thank you. I'll do it!

[2016-03-27 05:11] GNUMariano commented on #2676
Hi @liushuyu ! I've missed this issue because of mail problems (I've received the mails from the last 20 days just today! Maybe I must change my mail account this delay causes me a lot of trouble...)
I want to say it's a great idea to coordinate efforts this way. I've already joined Transifex 'bout 2 hours ago and [almost] completed the Spanish translation. I hope @IvanMaldonado can help me review

[2016-03-27 05:16] liushuyu commented on #2676
Well, you are also a coordinator, so you can 'review' some by yourself😃.
If you encounter any problem leave me an email.

[2016-03-27 05:20] GNUMariano commented on #2676
Thanks! I'll keep in touch :smile:

[2016-03-27 07:30] Fastigium commented on #2708
On it, guys, thanks for the quick heads-up! On first sight, I may have been too enthusiastic removing [`m_fxChannels[_ch]->m_lock.lock()`](https://github.com/LMMS/lmms/commit/32b7e0418b55d2fb6e45bff9a32103e532a9dab5#diff-b6cdb0811e7a10721f0bfb60ea98f525L551). I'll try to reproduce and see if reintroducing that lock fixes it. Strange that this didn't turn up in testing #2675, though admittedly that

[2016-03-27 08:09] Fastigium commented on #2708
Hm, I can't reproduce the issue. I tried @zonkmachine's project, I tried playing with Kicker's small keyboard, I tried importing a MIDI file, all glitch-free here. Nevertheless, I still suspect the lock removal, so I made a pull request that reintroduces the lock: #2709. Please let me know if that fixes things for you!

[2016-03-27 11:29] midi-pascal commented on #2708
@Fastigium Yep! This PR definitely solves the problem. :+1: Pure crystal sound is back :smile:

[2016-03-27 12:07] Fastigium commented on #2708
@midi-pascal Glad to hear that!

@tresf I would merge #2709 now if not for the Travis build failing on the QT4 Mac build. Is that a freak random error or does it require action of some kind?

[2016-03-27 12:37] Umcaruje commented on #2708
I restarted that particular build now, Travis tends to glitch from time to time, so a restart is all that is needed.

[2016-03-27 13:02] Umcaruje commented on #2708
@Fastigium everything passes now :+1:, looks ok to merge to me.

[2016-03-27 13:02] Fastigium commented on #2708
@Umcaruje Heh, I have just merged it, thanks :yum:! Closing this issue now!

[2016-03-27 13:02] #2708 closed

[2016-03-27 13:08] tresf commented on #2708
:+1:

[2016-03-27 14:15] musikBear commented on #1471
Could the purpose of *Sample-track* have been 'misunderstood'? When was sample-track introduced, and by who? Tobydox is my guess, but in case someone knows better, please say:)
Sampletrack has been understood as the place to have long pieces of sound-files, like a vocal, but sampletrack can be used completely different. I wonder if *that* perhaps was the actual intended usage.
Regard sampletrack a

[2016-03-27 14:34] Umcaruje commented on #1471
The purpose of sample tracks is holding __samples__, no matter now long or short, sample tracks need to accommodate to them.

Now, in your video, you change the BPM of your song, so your project gets adjusted to the sample track and the loop is on beat. __That's not how sample tracks should work__. One should be able to accommodate the sample to fit to your project and not vice-versa.

So, LMMS sh

[2016-03-27 14:50] musikBear commented on #1471
@Umcaruje

But thats just it. It is not a very specific and limited usecase. You can take *any* loop and use that as a fill in your own track, and any number of loops, provided that they have the same BPM. The current sampletrack is infact ACID-studio. The program that was purchased by SONY and were then made into SONYacid. Sony sells sample*packs* that has high quality recordings in the same bpm

[2016-03-27 15:44] Fastigium commented on #2708
Special kudos to @zonkmachine, whose reproduction and pinpointing work made this a breeze to fix :+1:

[2016-03-27 15:51] midi-pascal commented on #2708
:+1: to @zonkmachine

[2016-03-27 22:42] zonkmachine opened #2711 "Silent tracks"
Lately I've seen tracks turning up silent on creation. I don't know when this started or how to reproduce it.
The buggy tracks will however save and i enclose two examples with an extra working version that's been recreated from scratch. As far as I can remember I've only seen this in BBTracks.
If I Ctrl+drag the silent tracks to the Song Editor they play just fine.

---

Test projects

 * silents

[2016-03-27 23:21] kamnxt opened #2713 "Crash on changing velocity of a note outside the piano roll"
LMMS segfaults after changing the velocity of a note that has been pushed above B8.

How to reproduce:
1. Create two notes, one higher than the other.
2. Select both notes.
3. Drag bottom note all the way up until the top note is above B8.
4. Change velocity of the top note.

Notes can't be dragged below C0, but they can be dragged above B8 (which causes the problem).

[2016-03-27 23:50] zonkmachine commented on #2713
Yup, crashes it does. It's also possible to crash it in step 3 above by just draging the bottom note as high as you can if the interval is a Major second or bigger.

[2016-03-28 01:49] T-boneG commented on #2617
Hey this can be closed! :)
[https://github.com/LMMS/lmms/pull/2712](url)

[2016-03-28 02:55] tresf commented on #2617
@T-boneG, closing.  Also, if you put `closes #2617` in the body of your PR or commit id, that will do it as well. :+1:

Thanks for the help!

[2016-03-28 02:55] #2617 closed

[2016-03-28 04:03] T-boneG commented on #2617
Great, thanks for all the tips!  I look forward to staying involved!

[2016-03-28 05:27] RebeccaDeField commented on #2587
Update:
We are finishing up the last tasks before this theme is completed. I ran into some computer issues that halted my progress, but those issues have been resolved.

Most of what needs to be done are things that only I can do, but I am very excited to see that the list is not very long!

**What I am working on**
I am currently working on the colors and contrast. I worked out a good idea of wha

[2016-03-28 07:06] oeai commented on #1700
still not fixed

[2016-03-28 08:33] Fastigium commented on #2711
It would seem `silentsnare.mmp` has an extra empty `<pattern>` element with the same position and length before the `<pattern>` element that contains the actual notes. Could it be that playback picks the first pattern in the right range it comes across, while the UI picks the last or processes them all?

Here's the extra `<pattern>` element:
[code]

[2016-03-28 09:57] Fastigium commented on #2457
Sorry for spamming this bug, but thinking "aloud" helps my thought process, and this gives other people with thoughts on the matter a chance to chime in :blush:

My vision for a redesign is somewhat hampered by an interesting property of the fifoBuffer: it blocks both when reading stops too early or too late *and* when writing stops too early or too late. Therefore, any synchronization mechanism t

[2016-03-28 11:33] musikBear commented on #2713
I can not reproduce on win32
Both in top and bottom notes that are dragged beyond the resp c0 & b8, will just 'line up' on obe note, no matter the previous position. Changing either velosity or pan for the *out-of-view* notes causes *not* a crash. If i use ctrl+a, i can bring the out-of-view note back into piano-roll, and it plays resizes and moves correctly.

[2016-03-28 11:46] musikBear commented on #2711
Perhaps related
#2147
But with the exact opposite end result. Blocks that has this behavior are *not* saved! They disappears at project-reload, even though they playback and *look* normal in lmms.
I can not advice a way to reproduce, it happens completely randomly.

https://www.youtube.com/watch?v=4U6EtpvfUcA

[2016-03-28 12:31] tresf commented on #2587
@RebeccaDeField I think at this point, we should be working from a PR so that developers can have some time to chime in before this is merged.

Pull Requests allow commits to be issued after the request has been made (to the originating branch) and they still show up in the request, so it provides a nice back and forth between the feedback process and the one requesting the change.

I had original

[2016-03-28 12:32] tresf commented on #2587
Just read this.  I'll switch you over for now as requested. :+1:

[2016-03-28 13:19] tresf commented on #2457
What change occurred to make this undesirable (can/should we go back to that original signal method)?

Yeah that's quite confusing indeed.  Perhaps `waitUntilProcessingHasStopped` could be `empty()` or something more `gulp` sounding. :)

[2016-03-28 13:25] tresf commented on #1700
@oeai we have 439 bugs that this statement is true for.  We need help to fix these, it is greatly appreciated.

[2016-03-28 15:59] oeai commented on #1700
@tresf i can say that in fact sustain is working, but just not recording
maybe it's a part of missing automation? because in piano-roll i suppose there's no such event if we only record notes and there should be some more complex behaviour maybe?

[2016-03-28 18:42] musikBear commented on #2074
I feel i have to add a new comment to this, because i yesterday was looking more closely on *sample-track*, and i discovered that *sample-track* has features that up to now is not documented in the wiki, and those features fully fill the need/ wishes for looping samples. Not only does sample-track allow seamless looping of short samples, *sample-track* will even *remove silence* from the loop-samp

[2016-03-28 18:51] tresf commented on #2074
You're posting off-topic content, it's poorly written and it's TL;DR.  Please keep your posts clear, on-topic and concise.

 * You are posting about a sample track on a thread about "no length notes"
 * You are ranting about no link to the mixer.  We have a bug for that. #1471 as well as #133 #1360 #2619.
 * Even if this WERE on topic, this block is rubbish:

   It should look like this:

   1. Pl

[2016-03-28 19:18] RebeccaDeField commented on #2587
@tresf Thanks for clarifying, that makes sense. I am finishing the last changes to my version of the theme that I will release on the LSP. Once this is completed, I will hand over all of the work to the LMMS admins and contributors to make as many changes as they please for the default theme version.

**The primary reasons for doing it this way...**
- I definitely consider all feedback, but I curr

[2016-03-28 19:23] tresf commented on #2587
I'm sorry, I should have been more clear.  The feedback I was referring to was not artistic, but rather technical.  Best regards.

[2016-03-28 21:25] Umcaruje commented on #2587
@tresf I don't really have access to the fork where rebecca's working on, so I can't help with the rebasing and issuing a PR. That said, @RebeccaDeField if you ever have any trouble with git or the new changes, let me know, I am here to help :)

[2016-03-29 00:03] RebeccaDeField commented on #2587
@tresf I understand and agree with you. :+1:

As of now, I can't move the files yet because most of what I need to do involves fixing and updating the css and it would cause some conflicts to move it over now. It will make sense and cause less problems if we move this into the PR once that is done.

The rest of the tasks I need to complete are very few. To keep things simple and efficient, I'm goi

[2016-03-29 02:58] zonkmachine commented on #2713
Bug introduced in f33d1f4972b08234d372130be2b6633bfdf85f8d :tractor:

[code]
@Fastigium I have a hunch this is a case for you. Crash, playhandles, mutex...

The crash you get from changing velocity/pan is only when drag the handle, not when you use the mouse scroll wheel.

[bt full](https://gist.github.com/zonkmachine/7508fa20103a3cba9fca#file-backtrace-full)
[code]

[2016-03-29 08:12] Fastigium commented on #2457
It is only undesirable because the whole existing fifoBuffer needs to be processed before the signal reaches the AudioDevice. But I called it undesirable before I learned that by default, the fifoBuffer holds a whopping 5.8 ms of samples :grin:

As for going back to the original method, I was proposing to do that. "So if I were to revert f7e5bf4 and 98346f7, modify `AudioSoundIo.cpp` to stop proce

[2016-03-29 08:20] Fastigium commented on #2713
@zonkmachine Thanks for the :tractor:!

But about this issue: isn't the real problem that it's possible at all to push notes beyond piano roll boundaries? If I were to fix that, this bug would be fixed, too, right?

[2016-03-29 08:49] Fastigium commented on #2711
@musikBear I've read the issues you linked (both before and after the edit :wink:) and have to agree with what is said there: the random nature of this bug makes it extremely hard to investigate. We'd need to have a debug build of LMMS running in gdb when it happens and a developer handy to poke around to find out what's going on.

What might help is to add an assert that fails if copying a patter

[2016-03-29 13:08] tresf commented on #2457
I was trying to help come up with a new name, that's all. :+1:

[2016-03-29 18:40] zonkmachine commented on #2713
Probably...
I'm a bit curious about why you can scroll but not drag the pan/velocity handle.

[2016-03-29 21:58] #2455 closed

[2016-03-30 04:06] zonkmachine opened #2714 "Automation editor cursor draw error"
![autometiondraw](https://cloud.githubusercontent.com/assets/6368949/14131117/7ea34c62-f638-11e5-99f2-ff7aa080a18a.png)

If a song is playing and an automation window is open.
If then you move the cursor(cross) outside of the automation pattern you will get a pattern drawn in the color of the cross with y-coordinate defined by the mouse cursor( but not outside of the automation pattern...) and the

[2016-03-30 06:12] tresf commented on #2714
Sounds similar to #1052 (PR #1846, Dupe #2485)

[2016-03-30 08:14] Fastigium commented on #2713
@zonkmachine Scrolling takes a different code path, via `PianoRoll::wheelEvent()` instead of `PianoRoll::mousePressEvent()` :wink:

[2016-03-30 17:40] JohnLopez38 commented on #1008
Hello , here I have the same problem and this for several years. I wish that this bug is studying me because it becomes so unbearable that I 'm about to change and take sequencer FL STUDIO

Problem , I am very attached to LMMS . It accompanied me since childhood .

I am running Windows 10, same problem W7 - W8- W8.1 -W10

KONTAKT launch at the start of a project , but he did not launch my extensio

[2016-03-30 19:33] tresf commented on #1008
We lack the experienced developers needed to fix this.  If this plugin is a show stopper, switch to a sequencer that can support it. :+1:

If you want to stick with LMMS, help find eager developers. :+1:

[2016-03-30 20:59] Umcaruje commented on #2043
@Bloody95 can you still reproduce this? @Fastigium has been fixed a lot of issues concerning the Mixer Channels, so there is a big chance this was fixed too.

[2016-03-30 21:01] Umcaruje commented on #2192
Ok, so another crash encountered today, different from the others (I can't reproduce yet, so not opening a new issue until I find a way). I was tweaking the pitch knob of a sample that was looped in the background, and got a crash:

[code]

[2016-03-30 21:08] Umcaruje opened #2715 "Missing GUI for the equalizer plugin"
`Version 1.1.90-g0f8a2e7 (Linux/x86_64, Qt 4.8.6, GCC 4.8.4)`

Compiled today. The equalizer plugin looks like this:
![screenshot from 2016-03-30 23 05 29](https://cloud.githubusercontent.com/assets/6282045/14157623/195d6268-f6cc-11e5-9297-0086b7428e61.png)

I also tried installing the project and running from the build directory, the problem persists.

[2016-03-30 21:50] midi-pascal commented on #2715
@Umcaruje Strange enough: I am on same platform (Linux/x86_64, Qt 4.8.6, GCC 4.8.4) and the equalizer looks alright:
![eq](https://cloud.githubusercontent.com/assets/6962451/14158729/c60e76e6-f69f-11e5-8bf1-885c7a3ca021.png)

[2016-03-30 23:22] zonkmachine commented on #2192
[code]

[BufferManager::acquire()](https://github.com/LMMS/lmms/blob/master/src/core/BufferManager.cpp#L59:L71)
If I read this correctly `i = 0` means that the buffer manager just handed out the last available buffer. This should be legal but the next round would give you a qFatal in the same function since `s_availableIndex` now holds -1. You do get a qFatal directly instead. !?
Idea! Maybe an ou

[2016-03-31 00:04] zonkmachine commented on #2192
I get a similar crash if I set `const int BM_INITIAL_BUFFERS = 0;` in BufferManager.h

I also get this output.
[code]

[2016-03-31 07:14] Fastigium commented on #2192
I agree that the crash is most likely caused by running out of buffers. OTOMH I see two possible causes: 1) LMMS was stressed real heavily and all the 512 buffers were actually in use, or 2) there is some code path that acquires buffers and does not release them. In case of 2, I'd very much like to find out which code path that is.

@Umcaruje was LMMS stressed heavily when the crash occurred? If n

[2016-03-31 10:14] Bloody95 commented on #2043
Selon Umcaruje <notifications@github.com>:

I will check it as soon as I can.

Regards

[2016-03-31 15:52] zonkmachine commented on #2714
Yup!

https://github.com/LMMS/lmms/blob/master/src/gui/editors/AutomationEditor.cpp#L1319

So what's needed here is something like a new test in there to also see if the cursor is over the widget and/or setting the alpha of the cross to zero if no cross is to be drawn. [Color set here.](https://github.com/LMMS/lmms/blob/master/src/gui/editors/AutomationEditor.cpp#L980)

[2016-04-01 08:40] #2593 closed

[2016-04-01 19:20] zonkmachine commented on #2192
Got it, thanks!

[2016-04-01 19:46] Umcaruje commented on #2192
Well, I had much more complex projects before, and this didn't occur. I know this has no connection with the original issue, but I don't want to open up new issues until I can surely reproduce the problem.

And even though I ran out of buffers, I don't think LMMS should crash and let me loose all my work :wink:

[2016-04-01 20:11] Glandulf commented on #1008
I've got the same problem, running LMMS 1.1.3, Windows 7, 32bits. Everything's fine until I wanna open a project which contains Kontakt 5, LMMS starts charging, then crashes.

[2016-04-02 11:16] Fastigium commented on #2192
Yeah, the BufferManager is in a [somewhat unfinished state](https://github.com/LMMS/lmms/blob/a29305350d3674aa5479da79cfb08e0bfe3cd381/src/core/BufferManager.cpp#L114). I reckon it hasn't been fixed because it hasn't been a problem so far. If you have the time to try what I wrote in my previous comment on this bug, it might shed some light on the problem.

[2016-04-03 01:13] whitephoenix0 opened #2718 "Saving then quitting leaves the "project saved" popup open and not responding"
Screenshot of issue: https://i.imgur.com/GV8AkHh.jpg
System info: Windows 10 64-bit running LMMS 1.2.0 RC1 64-bit

Steps to reproduce (on windows):
1. Open LMMS
2. Open a project
3. Save project
4. Close LMMS quickly

Description: When you save a project and then quickly close LMMS it leaves behind the project saved popup until you either kill LMMS in task manager or click "close program" in the w

[2016-04-03 09:10] DeRobyJ commented on #2718
I think it's duplicate of #2584

[2016-04-03 11:58] Spekular commented on #2718
Confirmed here too. Windows 7 64-bit with 32-bit RC.

[2016-04-03 11:59] Spekular commented on #2699
Is there anything I can do to get more info on this crash? Or should I just wait for RC2?

[2016-04-03 15:04] tresf commented on #2699
Probably worthy of Googling around a bit and reviewing the File dialog code.  This is very unlikely to be fixed in RC2, so don't hold your breath. :)

[2016-04-03 15:57] whitephoenix0 commented on #2718
@DeRobyJ I don't think so. This happens even if you don't load VSTs. In fact I just tried deleted everything from the song editor. Even if I reopen the saved blank project it does the same thing.

[2016-04-03 16:20] zonkmachine commented on #2718
@whitephoenix0 @DeRobyJ  @Spekular
Can you please check what your working directory is?
Edit->Settings->Paths( second icon to the left )

[2016-04-03 19:40] whitephoenix0 commented on #2718
@zonkmachine C:\Users\me\lmms\, I also changed my artwork and vst-plugin directory

[2016-04-03 21:19] DeRobyJ commented on #2718
Same working directory.
And in my first post in that issue I wasn't talking about vsts :v

[2016-04-03 21:44] whitephoenix0 commented on #2718
Oh, yeah. It goes away with file->quit so it must just be the same issue

[2016-04-03 21:59] RebeccaDeField commented on #2587
The controller icon has now been finalized, but I realized that the last bit of coding help I need is with the Title Bars. If we can finalize the title bars for the current default theme and make a pull request for the master branch, I can pull in the updates and code up the title bars for the Modern Noir theme.

I'm getting very excited about this as I'm wrapping things up :D

[2016-04-03 22:07] Umcaruje commented on #2587
Wellp, I was working on the title bars and I refactored @BaraMGB's code, but I'm having issues with the buttons. I'm about to fall asleep so I'll do a full write-up on my problem tommorow, but I'll probably need help from someone more experienced with qt than me to solve it.

[2016-04-03 23:53] #2718 closed

[2016-04-04 02:07] RebeccaDeField commented on #2587
@Umcaruje No problem! I'll talk to you more about this tomorrow then :)

Anyone more experienced with QT willing work with @Umcaruje find some solutions?

[2016-04-04 17:14] BaraMGB commented on #2587
I have a look at this in the next days. @Umcaruje can I pull your latest version anywhere?

[2016-04-04 18:32] Umcaruje commented on #2587
@BaraMGB https://github.com/Umcaruje/lmms/tree/subwindow

I'll write up my idea if I have the time this evening, Life is a bit crowded rn.

[2016-04-05 02:42] codythecoder opened #2719 "Language names not showing up in settings"
After downloading and installing RC1, I found that none of the language names showed up in the settings.
![temp](https://cloud.githubusercontent.com/assets/13900631/14269762/fe1fe1a2-fb2a-11e5-8c58-aa109bae6550.png) ![temp](https://cloud.githubusercontent.com/assets/13900631/14269769/0b8bc72a-fb2b-11e5-959a-12e5bed27eaf.png)
I'm running win10 64bit and LMMS 64bit. I can give any further details if

[2016-04-05 02:53] tresf commented on #2719
Duplcate of https://github.com/LMMS/lmms/issues/2577.

[2016-04-05 02:53] #2719 closed

[2016-04-05 02:55] codythecoder commented on #2719
:+1: Forgot to check closed issues.

[2016-04-05 09:41] Animtim commented on #2269
Hi,
I'm sorry to say I still have a bug with Zyn' show gui button making lmms freeze/crash.
I built 1.2.0 RC1 on mageia cauldron and still have this console log when clicking this button:
/usr/lib64/lmms/RemoteZynAddSubFx: error while loading shared libraries: libZynAddSubFxCore.so: cannot open shared object file: No such file or directory

Any idea?

[2016-04-05 10:33] Animtim commented on #2269
Sorry actually it happens only with a system-installed version from the rpm I made, and not with a local not-installed build. So it's probably just a path issue.

[2016-04-05 20:06] WinLin97 opened #2720 "LMMS atypical crashes..."
Hi all,

Sorry for my English - I use the Google Translator...
My LMMS crashes ... After I open a project ... In a short time (irregularly) following symptoms:
1. During playback, and sometimes even in idle LMMS suddenly switches itself off.
2. After loading the project, or during playback, there is a crash, which after some time disappears or is as long, until restart the LMMS.
In order to illust

[2016-04-06 13:14] DeRobyJ commented on #2720
Hi!
What's your LMMS version?
The current stable is 1.1.3

[2016-04-07 07:27] RebeccaDeField commented on #2587
Thank you @BaraMGB. I think that the title bars will be the last task that I need assistance with before this gets moved into the PR. :)

I've finished pretty much all of the graphical changes. Now, I just have to work with Github to get my fork straightened out and update the CSS so that we can move forward with the version via PR as @tresf said.

[2016-04-07 08:23] softrabbit commented on #2470
Compare the track order in the song editor and the B&B editor for an easy way to see the disorder happening.

![disorder_2470](https://cloud.githubusercontent.com/assets/6411463/14344794/6560143a-fcb2-11e5-9caa-96f597bb3431.png)

[2016-04-07 12:44] WinLin97 commented on #2720
No, it does not depend on what project is loaded. Projects which crashes, is more than two which are in the video.

[2016-04-08 20:28] kstr opened #2721 "Improve lmms/data/locale/nl.ts"
Some parts of the dutch locale are not or incorrectly translated.  I could help out by translating it...  Do i need to fork, or just email the improved version?
.

[2016-04-08 20:44] IvanMaldonado commented on #2721
We already have a localization platform online, you have to sign up and request the language you want to translate here:

https://www.transifex.com/lmms/lmms/

[2016-04-09 02:53] tresf commented on #2721
^ :+1:

[2016-04-09 02:53] #2721 closed

[2016-04-09 12:51] liushuyu commented on #2720
The VST handling has been a headache in LMMS for years...
I think this is relevant to  #2448 #1875

[2016-04-09 18:02] DjGGAV opened #2722 "Beta version"
When i open the LMMS program the Setup LMMS shows up, and when i wanna check for other languages, it doesn't show up. It's the Beta version Windows 64 download.
![uten navn](https://cloud.githubusercontent.com/assets/18368735/14405374/074bc7bc-fe8e-11e5-850c-23eb6dee47a0.png)

[2016-04-09 18:04] tresf commented on #2722
Thanks for reporting this bug!

This is a duplicate of #2577, so it will be fixed in the next beta release.

[2016-04-09 18:04] #2722 closed

[2016-04-09 20:35] #2695 closed

[2016-04-10 00:35] jasp00 opened #2724 "Interoperability between 32-bit and 64-bit code"
I am having locking problems with VST on amd64. It looks like sem_t cannot be shared between 32-bit and 64-bit processes.
https://sourceware.org/bugzilla/show_bug.cgi?id=17980

Inter-process communication should use new sem32_* functions, pipes or sockets. You may consider endianness too (VST on powerpc). Do you want me to code this feature?

[2016-04-10 14:14] tresf commented on #2724
If you believe you can fix it, yes please.
 * Do you believe it is the cause of #1875?
 * If so, should't a 32-bit OS not exhibit these problems?
 * Can you explain something... when Wine uses `sem_t`, does it interact with the 64-bit Wine executable?  If so, wouldn't it be immune to this problem?

You'll have plenty of people to test if you think you can fix this.

[2016-04-10 14:18] tresf commented on #2724
I assume you're talking about LinuxVSTs then?  We don't have any users actively testing against PowerPC architecture currently, so if you have something to compile/test on, we may have some other areas to work on for proper PowerPC support.

[2016-04-10 15:59] emlai opened #2726 "'fftw3.h' file not found"
I have `fftw3.h` in `/usr/local/include` but still get the following error when compiling:

[code]

Although during `cmake ..` it looks like it was found:

[code]

[2016-04-10 23:32] jasp00 commented on #2724
Possibly.

It should not.

I am not familiar with 64-bit Wine, but I believe 64-bit Wine cannot load 32-bit plugins and it cannot interact with 32-bit Wine using `sem_t`.

[2016-04-11 02:11] tresf commented on #2726
@emlai some more information about your build environment would be helpful.

For starters, I recognize the Mac-only `/Users/foo` folder syntax, suggesting you're building on a Mac.

We support Homebrew and MacPorts build environments per our dedicated Apple build tutorial [`Compiling-lmms-(Apple)`](https://github.com/LMMS/lmms/wiki/Compiling-lmms-(Apple)).

When I last tried on MacPorts, I believe

[2016-04-11 19:49] emlai commented on #2726
Yes. I'm building on a Mac with the default AppleClang setup + dependencies via Homebrew. I installed `fftw` with `brew install fftw`.

Now, I deleted the `build` directory, and did a fresh build with `.travis/osx..install.sh`, but still get the exact same error.

[2016-04-12 00:39] tresf commented on #2726
Then for some reason `cmake` is having problems finding it, I'd think... `include_directories` could help... you could try shimming it the root `CMakeLists.txt` to test (or add as a cmake command line param).

What version of OSX are you running?  AFAIK our automated build env is Yosemite and I test our builds on El Capitan.

You may also chose to reinstall some components for good measure.  If `c

[2016-04-12 10:02] emlai commented on #2726
I'm running El Capitan (10.11.4).

It builds without errors if I add `-DCMAKE_CXX_FLAGS='-isystem /usr/local/include'` to the `cmake` invocation, so I believe there's a missing `include_directories` for `fftw` in some `CMakeLists.txt` file, and your automated build probably searches in `<prefix>/include` by default. Just a guess though.

But until it is fixed, I'm fine with this. Thanks!

[2016-04-12 14:02] tresf commented on #2726
@emlai No one else has reported this and we can't reproduce on our environments which leads me to believe your homebrew `cmake` is unaware of your homebrew `include` dir.

I do not believe this to be true:

Reason being, `/usr/local/includes` has much more than just `fftw` headers.

I'm closing this as invalid for now.  Please feel free to reopen if someone else is able to reproduce.

[2016-04-12 14:02] #2726 closed

[2016-04-12 14:02] liushuyu commented on #2726
Travis CI set up many environmental variables prior to the actual building process. So your guess is likely to be correct.

[2016-04-12 19:04] michaelgregorius commented on #2698
@kamnxt Can you please try how your system behaves if you change the last parameter that's set to `true` in the code above to `false` so that it becomes the following:
[code]
The last parameter in `FileBrowser`'s constructor is called `recurse` and seems to control whether the content of the top level directories is loaded on initialization. Setting it to `false` should change the behavior so that

[2016-04-13 22:32] jasp00 commented on #2724
My versiont works on amd64. It should be easy to handle endianness in the future. I use Unix sockets because QLocalSocket does not work properly in my system; I hope local sockets will not be a problem in other systems. I will commit the code in a few days.

[2016-04-14 23:21] tresf commented on #1875
Can someone please test this patch on Arch #2728

I'm testing on ElementaryOS Freya and it seems to be working so as long as I putting the linking back to the old method.

![screen shot 2016-04-14 at 7 19 37 pm](https://cloud.githubusercontent.com/assets/6345473/14546810/e9dfd88a-0275-11e6-98bf-08fdfcb3bef2.png)

[2016-04-15 00:11] liushuyu commented on #1875
I also have the lastest Arch Linux, and I can test this out very soon.

[2016-04-15 01:37] liushuyu commented on #1875
No, unfortunately, still didn't work

[2016-04-15 23:33] Brewtroll commented on #2713
I have submitted a pull request for this bug. This is my very first pull request (and my first time using Git), so I hope I observed proper procedure and etiquette.

[2016-04-16 06:41] RebeccaDeField commented on #2587
If anyone noticed a bit of inactivity from me the last week or so it's because I've been really involved with an upcoming fundraiser in my local area with a tight deadline on some graphics.

Just want to keep you all updated :)

[2016-04-16 14:38] javiercordero opened #2730 "Hang when closing program if pop-up isn't closed after save"
# Description
LMMS stops working if the pop-up shown on save isn't gone before closing the program. What happens is the main window closes but the save notice stays as the program hangs.

# Specs
- Windows 10 64 bits
- Running LMMS Version 1.1.90 (win32/x86_64, Qt 4.8.7, GCC 4.9.4 20150716 (prerelease))

# Screenshot
http://s24.postimg.org/kr63ag445/LMMS_hang_if_pop_up_not_closed_after_save.png

[2016-04-16 15:14] Spekular commented on #2730
Duplicate of #2718 and #2584.

[2016-04-16 15:21] tresf commented on #2730
@javiercordero, Thanks for the detailed bug report.  Marking as duplicate, but we appreciate the time ad quality you put into this.  :+1:

[2016-04-16 15:21] #2730 closed

[2016-04-16 23:29] jasp00 opened #2731 "Standardized set of LADSPA plugins"
Debian has a bug report about reusing the LADSPA plugins in LMMS.
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=758888#25

The issue is whether we could get a compromise from LMMS developers about maintaining a stable set of LADSPA plugins with a proper namespace, such as `caps-lmms` instead of `caps`, so that they can be reused without conflict with third-party plugins. I could help writing a

[2016-04-17 02:03] tresf commented on #2731
We don't have a prompt to the user to fix broken plugins currently, so this "manual upgrad" proposal would be to edit a compressed XML file, which we'd never tolerate.

Can you please explain the existing "conflict" that you speak of?

[2016-04-17 02:05] tresf commented on #2731
I'd also like to add, there's nothing `lmms`-specfic about the LADPSA plugins we ship other than the install location and the potential outdated nature of them.  Redundant libraries happen all the time and Linux seems to be the only platform that gets upset about them.  Can you explain the problem in detail please?

[2016-04-17 12:33] jasp00 commented on #2731
We would like to share the LADSPA plugins from LMMS. For instance, that would mean to install `caps.so` in `/usr/lib/`<arch-triplet>`/ladspa`, which would conflict with our package `caps` (that should use the same location). We also have the packages `calf-plugins`, `cmt`, `swh-plugins` and `tap-plugins`.

The main justification is security updates. In general, when you want to debug or modify sof

[2016-04-17 13:03] tresf commented on #2731
Sure, but why?  So that you don't have to add an arbitrary search location to your LADSPA path?  What is the advantage of having it in `/usr/lib` over the app-specific location?

Again, any other platform just lives with this.  On Windows, if you are running Pidgin and you're running Gimp, updating one doesn't mess with the GTK used for the other.  This is quite extreme though, what you're talking

[2016-04-17 13:17] tresf commented on #2713
Yes you did.  One nice trick is to put the words `Closes #2713` in the description (rather than the title), which links the merge and the close operations from a bug-tracking perspective.

Also, the title of the PR could be a bit more descriptive.  `Fix for issue #2713` is hard to understand when reviewing history.  `Prevent crash when changing note velocity` would be a bit better.

This is all mi

[2016-04-17 13:18] tresf commented on #2713
Closed via 946ae85

[2016-04-17 13:18] #2713 closed

[2016-04-17 16:00] jasp00 commented on #2731
I see that this is related to #2366.

We do not manipulate `LADSPA_PATH` and LADSPA applications already look in `/usr/lib`. Installing plugins in `/usr/lib` is easier for the user if plugins are to be reused.

If you fix GTK, you have to update Pidgin and Gimp instead of GTK only.

The advantage is to have a stable set of plugins that will not change their names or behavior. That is why I am aski

[2016-04-17 16:36] tresf commented on #2731
Great.

Well in that case, make the upstream version a required lib.

Right, this is how most large application bundles happen, except in Linux.  When specific versions of shared system libraries become mutual hard-dependencies, it's just a headache for all involved.

For example, we could make Homebrew (or MacPorts) a requirement of LMMS on Mac and use the Qt version that's installed rather than

[2016-04-19 16:53] jasp00 commented on #2724
I am afraid the Windows builds will fail. I would be working blindly if I had to write the Windows implementation (using QLocalSocket, Gnulib or Winsock). Thus, I will leave the old implementation for that system.

[2016-04-19 17:07] tresf commented on #2724
We all work blindly when developing for Windows.  Microsoft provides 30-day VirtualBox images for testing against their OS:  https://developer.microsoft.com/en-us/microsoft-edge/tools/vms/windows/

[2016-04-19 21:02] jasp00 commented on #2724
Nice, I read 90 days. Unfortunately, my system does not have VirtualBox (nor the RAM). This may be handy in the future. Although I am concerned about whether I can legally use these images to develop LMMS; do you want me to find out about it?

[2016-04-20 01:04] tresf commented on #2724
Well you wouldn't be using it for development, but rather for testing.  The images were intended for testing, you're fine.  I use these images for testing many products on various Windows versions.

[2016-04-21 03:37] StakeoutPunch commented on #2611
@musikBear How much ram does your PC have, and what graphics (since it is a XP machine, probably older intel Q series, like Q945)?

I ask because it might be that these artifacts are from the age/specs of your machine. Older computers with very low integrated graphics (relative to today's standards) with low graphical memory or system ram tend to have random render tearing like you've shown.

[2016-04-21 11:28] musikBear commented on #2611
@StakeoutPunch True, its from 2007
Specs:
Processor Information:
    Vendor:  GenuineIntel
    Speed: 2671 Mhz
    2 logical processors
    2 physical processors
    HyperThreading:  Unsupported
    FCMOV:  Supported
    SSE2:  Supported

Network Information:
Network Speed:  DSL > 256k

Windows Version:
Windows XP (32 bit)
Network Information:
    Network Speed:  DSL > 256k

Windows Version:
    W

[2016-04-21 18:10] jasp00 opened #2733 "Restore metalish_dong01.ogg's quality"
The file pulled in #2392 has less quality; the original is stereo. I will send a version where the data is copied rather than re-encoded. It was created with:
`ffmpeg -i old/metalish_dong01.ogg -acodec copy new/metalish_dong01.ogg`

[2016-04-21 18:12] tresf commented on #2733
Just send over the PR please and we'll merge. :+1:

[2016-04-21 18:14] #2731 closed

[2016-04-21 18:15] tresf commented on #2731
Was this done intentionally?

[2016-04-21 18:27] jasp00 commented on #2731
Yes. We were done, right?

[2016-04-21 19:46] ddcovery commented on #1438
I think the main concept is:

- Piano roll and Song Editor must share the actual time point.

One possible implementation:

- Piano roll and Song Editor must be the same window.
-  left column with instruments and vol/pan are the same and user can switch between "all tracks" and "piano roll" view at the right side.
- When user clicks on left side (1 instrument) then piano roll shows this instrumen

[2016-04-21 20:25] ddcovery commented on #1438
In my opinio, the key for a music editor is to maintain 1 unique time point (time cursor) shared between piano roll and song editor and an easy way to jump from one instrument to other without losing the time position.

One possible implementation:

- Piano roll and Song Editor must be the same window.
-  left column with instruments and vol/pan are the same and user can switch between "all tracks

[2016-04-22 13:04] WinLin97 commented on #2720
Yes, this problem is in VSTs... Most likely the fault in the new version of wine.
On this hardware config, stable is: LMMS 1.1.3 + Wine 1.7.55 :)

Thanks for all replys :)

[2016-04-22 19:32] #2733 closed

[2016-04-22 19:33] tresf commented on #2733
:+1:

[2016-04-23 16:34] #915 closed

[2016-04-23 16:35] DeRobyJ commented on #2601
Closing this, it woulb be way better to implement #1387 !

[2016-04-23 16:35] #2601 closed

[2016-04-23 17:32] tresf commented on #2528
I think this was very close to be finished and the PR over at https://github.com/LMMS/lmms/pull/2599 has some commits since the last discussion.  @StCyr can we get an update on this?

[2016-04-23 21:27] #2425 closed

[2016-04-24 04:34] #2537 closed

[2016-04-24 19:48] karmux opened #2736 "Equalizer graph lag"
Equalizer graph is lagging at ~2 fps. When I hold mouse on one of the points (1-8) then graph shows very smoothly. I believe it should always be smooth.

[2016-04-24 21:18] BaraMGB commented on #2736
Can you give informations about your system and version of lmms? Thank you

[2016-04-24 21:31] IvanMaldonado commented on #2736
This happens to me as well.

Manjaro latest version (sorry, not at home)
Lmms 1.1.9

[2016-04-25 00:44] jasp00 commented on #158
I am unable to get any sound from PulseAudio. Is this still an issue with PulseAudio 8.0?

[2016-04-25 13:23] karmux commented on #2736
I'm using master on Kubuntu 15.04.

[2016-04-25 14:52] unfa opened #2737 "No MIDI drivers on Mac OS"
I have no MIDI drivers available when running on an Apple Macintosh computer, so I can't use any MIDI hardware with LMMS.

Is that correct?

[2016-04-25 14:54] unfa opened #2738 "ZynAddSubFX is not editable on Mac OS"
I'm running LMMS on Mac OS and ZynAddSubFX plays sounds, but the "Show GUI" button is grated out so I can't access the synth's interface to program it. Is this normal?

[2016-04-25 18:10] tresf commented on #2738
Disabled intentionally per #703

[2016-04-25 18:10] #2738 closed

[2016-04-25 19:03] tresf commented on #2737
*  :no_entry: `1.1.x`

*  :white_check_mark: `1.2.x`

Duplicate of #1153.

[2016-04-25 19:03] #2737 closed

[2016-04-25 19:22] jasp00 commented on #158
Yes, it is. The `PULSE_LATENCY_MSEC=60` workaround does not work. The glitch mode is triggered by high CPU usage and it may last indefinitely.
The solution would be:

1. Detect the likely interception (ALSA device set to default and the presence of `/usr/share/alsa/alsa.conf.d/pulse.conf`).
2. Switch to the PulseAudio back end.

Would this be OK?

[2016-04-26 08:58] StCyr commented on #2528
Hello @tresf

Your last request (25 Feb. in this issue) was to investigate the possibilty of having a larger (ie: taller) TabWidget for this specific toolbar.

I made this in commits dccf9f411996c8c866ff1086b65f15020ef08cd9 and https://github.com/LMMS/lmms/pull/2599/commits/7aad86efe0ff4e17e8cb5d3c7da7f823b8e5a065

In addition:

- I've reverted the change I made in commit 64efd68bfdcda7e12a6c2abaf

[2016-04-26 19:21] tresf commented on #2528
@StCyr thanks for the detailed response. I'd like to get this merged in soon.  Can you be so kind as to provide a final mockup so that we can discuss please?

@Umcaruje can you please help review this (tagging you since you've been administering the theme changes).

[2016-04-26 21:28] Umcaruje commented on #2528
Reviewed the code, it looks ok to me, I made some remarks over magic numbers and the fact that the tab widget is not themeable using css, but one could argue that the themeablity is out of scope for that PR, but it would definitely be a nice thing to have.

I haven't tested the branch yet though, I'll try to get around it, but can't make any promises :)

[2016-04-26 21:32] Umcaruje commented on #2528
Oh and I just read that gradients are still there, I'll look into that too when I get around testing this.

[2016-04-27 13:28] StCyr commented on #2528
Hello @Umcaruje, @Tresf,

As I said, the highlighting of tabs doesn't have gradient. I'll have a look
how to remove all TabWidget gradients.

For what concerne the themeability, I don't have any idea how to do that.
If you have any documentation pointers, and this isn't too much work ;-),
I'll be glad to do it.

I'll look at your other remarks and address them eventually.

Cheers,

Cyrille

2016-0

[2016-04-27 16:00] tresf commented on #2528
Here's a good recent example of how @Umcaruje's been doing it... https://github.com/LMMS/lmms/commit/f787982d9ab80fce38440076b0e81ce44eecf1dc

[2016-04-28 01:39] RebeccaDeField commented on #2587
Hey guys, I'm finishing up everything on the github end of things, but before this is moved into the PR I need to test some things and in order to test those things I need to have a current version of the Master LMMS (beta) to be compiled from source. I need to run it on Windows 7

This is not something that I currently know how to do, although I'm sure I could learn if no one is available, but I

[2016-04-28 02:30] tresf commented on #2587
@RebeccaDeField I'll fire one off and upload it to Github.  The build process is quite simple (timely) however it does currently require a Linux build machine which can take some time to setup properly.  We'd happily provide a build of latest master.  It will be a Qt5 release.

[2016-04-28 02:43] RebeccaDeField commented on #2587
@tresf Thank you for your time, assistance and direction :)

[2016-04-28 03:38] tresf commented on #2587
Build of latest master branch:  https://github.com/tresf/lmms/releases/tag/v1.2.0-RC1.3

32-bit is still compiling, upload to follow.

![screen shot 2016-04-27 at 11 36 51 pm](https://cloud.githubusercontent.com/assets/6345473/14874708/f749ef8c-0cd0-11e6-8324-3063206993f7.png)

[2016-04-28 09:24] softrabbit opened #2741 "MIDI import misplaces notes"
Reported on the forum: http://www.lmms.io/forum/viewtopic.php?f=7&t=5016

What happens is that notes seem  to be created at negative points in time when importing in LMMS, i.e. before the segment starts. The notes can be "resurrected" by opening the segment in the piano roll and moving the notes. Musescore always exports using [running status](http://www.blitter.com/~russtopia/MIDI/~jglatt/tech/mi

[2016-04-28 11:28] softrabbit commented on #2736
The fix could be as easy as creating a slot in the right class (```EqCurve```?) and connecting it to the same signal as the faders:
```connect( gui->mainWindow(), SIGNAL( periodicUpdate() ), this, SLOT( updateVuMeters() ) );```

[2016-04-28 21:34] paper-pauper commented on #2616
LV2 is standard, and supported by plenty of existing programs. I suggest not only that LMMS implements LV2 support, but also that it rewrites its own instruments (FreeBoy, Kicker, LB302, etc.) as LV2 plugins, so that they can be used outside of LMMS.

Someone has already done some ground work for the second point: [here](https://github.com/pgiblock/lmms-lv2).

I think this issue is very important,

[2016-04-28 21:37] tresf commented on #2616
Please do.  This isn't a Sunday afternoon task and it's easier to talk about it than it is to do it.  If you want to step in and coordinate, 1. Prove you can. 2. Do it.  Otherwise you're just saying `+1`.

[2016-04-29 09:59] paper-pauper commented on #2616
How am I, who's never contributed to LMMS or been involved in its development, to be trusted with raising funds for it?

If a trustworthy LMMS developer started a crowdfunding campaign I would gladly donate to it and promote it, but please don't expect people who just express an opinion to take responsibilities they don't have the authority to claim for themselves.

[2016-04-29 11:19] tresf commented on #2616
@paper-pauper, to keep the thread on topic, I'll ask you bring you "opinions" to the development list or a separate bug report.

[2016-04-29 13:28] DeRobyJ commented on #171
I think the problem mentioned by @Sti2nd is similar to the MIDI export BBtrack problem: #2384
That is: to transfer a track that was used in BB editor to the Song Editor and place its notes where the BB track was, probably using a pseudo-recording function.

[2016-04-29 13:43] paper-pauper commented on #2616
@tresf You went off thread by the way, by using an ad hominem. Consider my former post as a `+1` if you wish and it's still a valid comment, when both yours are useless and really bring nothing to the discussion.

[2016-04-29 13:46] DeRobyJ commented on #193
Status:
bug still here, but the problem is not really about peak controller, imo.

In general, if you save a preset with a control linked to something (e.g. to a controller created from the Rack), and then you open it on a new project, its options will show it is "Connected to <nothing>".
The difference with peaks controllers is that if you try to "edit connection", the program crashes, while if t

[2016-04-29 16:10] tresf opened #2745 "Crowdfunding LMMS"
Often the project gets messages like this on the tracker, facebook, `lmms-devel` and forums:

What does this imply?

Crowdfunding is often perceived as a way for those with money and enthusiasm (but perhaps not the skills or time) to pitch for a particular feature.

So from a funding perspective, what does "Crowdfunding LMMS" mean?
 * Enough people pitch money and feature becomes available.

From

[2016-04-29 16:10] #2745 closed

[2016-04-29 16:11] tresf commented on #2616
@paper-pauper I've started a discussion here:  https://github.com/LMMS/lmms/issues/2745. I've closed it out so that it won't show as open on our tracker, but comments are enabled.

[2016-04-29 22:07] paper-pauper commented on #2745
Thank you for opening this issue, @tresf.

I agree with your analysis - crowdfunding does require some involvement. But at the same time, the only way to bring in developers and make sure they work full time on the much needed features (#2616 is one of those IMHO, but also #1911) is to pay them.

Crowdfunding worked for Krita and OpenShot, which I assume both have a smaller userbase than LMMS (but

[2016-04-29 22:40] Umcaruje commented on #1679
@Fastigium @badosu is this fixed by #2675?

[2016-04-30 00:12] midi-pascal commented on #2741
@softrabbit  I personally use a custom (i.e. enhanced) version of QMidi (https://github.com/waddlesplash/QMidi) project extensively in other personal projects which does almost the same as midifile but more Qt-oriented. It works like a charm with Qt apps.
Just to let you know it does exists :smile:

[2016-04-30 00:29] liushuyu commented on #2745
What about joining Google Summer of Code? I've heard many projects got
benefits in this way. But in fact, still, this also requires many strict
conditions, and even require "mentors" to teach the applied students.
AFAIK, Musescore did this in 2016.

[2016-04-30 00:51] tresf commented on #2745
Right, I don't think anyone's questioning whether or not a crowdfunded campaign **could be** successful, but proposing the idea is worth absolutely nothing.
 * We all know about kickstarters, it's no longer a new or original idea.
 * We actually have money and we've no place to put it.  Money can be a burden in FOSS.  To do this proper, we'd need to either form as an official organization, or trus

[2016-04-30 08:02] paper-pauper commented on #2745
If you really have the money to hire a developer, why don't you place a job ad? There are plenty of professional C++ developers who'd work on LMMS for a reasonable sum.

About finding volunteers, I think that if there were better docs for developers written by the core contributors (those who know the LMMS codebase very well), it would be easier to contribute for any C++ programmer. For example, t

[2016-04-30 09:21] eagles051387 commented on #2745
From what I have seen on the libreoffice mailing list the deadline to
register even those interested in working through GSOC has passed. I could
be wrong though.

Jonathan Aquilina

On Sat, Apr 30, 2016 at 2:29 AM, liushuyu <notifications@github.com> wrote:

[2016-04-30 12:35] Fastigium commented on #1679
@Umcaruje I'm gonna go with "yes", unless you know of anyone who's been able to produce a channel removal crash after that PR was merged :blush:

[2016-04-30 13:07] IvanMaldonado commented on #1679
Not sure if useful, but I had the exact same Problem but didn't say it because the issue was already there, that PR fixed it for me.

[2016-04-30 13:49] Umcaruje commented on #1679
K :+1: Closing.

[2016-04-30 13:49] #1679 closed

[2016-04-30 16:18] tresf commented on #2745
No one said we have enough money to hire a developer.  However, for those that **have** actually placed job ads I'm sure they can agree
 1. It is stressful to vet out good coders
 2. There are a lot of false-positive applicants and it is a lot of work.
 3.  Large India-based devel firms will bait and switch you all day trying to take on the task.

It's a wiki, anyone can add it.

Well this is subj

[2016-04-30 20:11] jasp00 commented on #2366
The converted plugin works. I hope there are no licensing problems: the program from Achim Settelmeier is GPL-2+, which is compatible with SWH, but the version in LMMS is GPL-3+.

[2016-05-01 00:05] tresf commented on #2366
I received written permission from both plugin authors via https://github.com/LMMS/lmms/issues/2366#issuecomment-142045780.  If you're overly concerned with the license, I'd be happy to reach out again.

[2016-05-01 00:06] tresf commented on #2366
Did you do some more work on it?  Mine wasn't working when I last tested per tail end of https://github.com/LMMS/lmms/issues/2366#issuecomment-150322031:

[code]

[2016-05-01 00:39] jasp00 commented on #2366
I believe Hexasoft is the only one missing to ask.

Yes, although I did not get any symbol lookup error. I have made the pull request to SWH.

[2016-05-01 01:03] tresf commented on #2366
https://github.com/swh/ladspa/pull/28/files 👍

[2016-05-01 01:05] tresf commented on #2366
I don't understand, Hexasoft is listed as porting/bundling it with LMMS and is not mentioned at all in the source.  Can you help explain?

[2016-05-01 01:47] jasp00 commented on #2366
I think Josh Green and Hexasoft should be mentioned; I will do that later.
Someone has chosen the GPL-3+ for the LMMS version. I believe it was Hexasoft who made version 0.31 of the plugin and changed the license. To change back to GPL-2+, permission is needed from all contributors after the change to GPL-3+. Looking at the log, I assume we have permission from @tobydox and Raine M. Ekman, and tha

[2016-05-01 05:17] tresf commented on #2366
I'm not sure I understand.  The web page simply states:

Vocoder is GPL (any version, since none was specified).  That is `THE LICENSE`.

[SWH is GPL v2](https://github.com/swh/ladspa/blob/master/COPYING), that is `THE LICENSE`.

[LMMS is GPL v2](https://github.com/LMMS/lmms/blob/master/LICENSE.txt), that is `THE LICENSE`.

Well, Hexasoft must have though he was doing someone a favor, but legally

[2016-05-01 05:47] tresf commented on #2366
Bah... above post was TL;DR.  I'll email Hexasoft and see if we can get him to switch it.  @softrabbit and @tobydox should chime in here shortly. 👍

[2016-05-01 09:38] Umcaruje commented on #1735
@midi-pascal could you take a look at this one? Its the same problem we had in your PR:

[2016-05-01 09:45] midi-pascal commented on #1735
@Umcaruje Sure. I will check this one.

[2016-05-01 10:06] Umcaruje commented on #1839
About the `Many widgets not currently themable` point: Can someone make a list of what else is not themeable? During the efforts of making the new theme, we made a lot of previously hard-coded widgets themeable, so I'm curious at what's left hard-coded.

[2016-05-01 13:21] midi-pascal commented on #1735
@Umcaruje Very easy to fix this one: 1 line of code! :smile:

[2016-05-01 14:37] tobydox commented on #2366
I'm fine with whatever license change regarding the LADSPA plugins :-)

[2016-05-01 16:52] paper-pauper commented on #2745
But not anyone is capable to - only a few contributors are familiar enough with the LMMS codebase to be able to write about it in detail.

This attitude of "anyone can do it themselves" really has to change if we want good FOSS projects. If I could do it myself I would do it myself, but instead I admit I don't have the skills to do it and would gladly contribute some money to do it, but even that

[2016-05-01 17:05] tresf commented on #2745
Perhaps you are misunderstanding... That's exactly how the vast majority of us got here to begin with.

My story.... I was making an album with a Mac user and they wanted LMMS to run on his computer.  After asking, offering money, emailing over and over, I just did it myself.  Now we have Mac support.

"Do it yourself" is **EXACTLY** why the software is as good as it is today.  Is the idea "step i