[2017-10-30 07:38] gi0e5b06 commented on #3926
@PhysSong Nothing (playing a song) ;) I just had an AFP window opened, with a mouse moving over it.

[2017-10-30 08:03] lukas-w commented on #3312
👍 I think we should still keep this open until the `DetuningHelper` problem is resolved.

[2017-10-30 08:20] zonkmachine commented on #3703
No. It has nothing to do with envelope as the one you find in a synth, but is part of a physical simulation of a vibrating string. It depends on the other settings. Turn up the string stiffness, **S**, a bit and the length value will not be indefinite no longer. The parameter itself is an over sampling value and therefore a whole number.

[2017-10-30 08:20] #3703 closed

[2017-10-30 10:06] zonkmachine commented on #3685
I fixed that up as part of https://github.com/LMMS/lmms/pull/3927

[2017-10-30 12:40] michaelgregorius commented on #3312
Opening the project https://lmms.io/lsp/?action=show&file=10232 now takes 7 seconds (stop watch) using a release with debug info build of commit 68c85c8e0579827994759573698c5b27f9c71832.

A fresh valgrind run indicates that the problem with the `DetuningHelper` seems to be gone. The opening use case is now dominated by calls to `Song::updateLength()` which in turn calls `Track::length()` very ofte

[2017-10-30 12:47] michaelgregorius commented on #3312
For some further motivation I have put a `return` statement at the very top of `Song::updateLength` to see how this affects the the time it takes to load the [test file](https://lmms.io/lsp/?action=show&file=10232). It only takes 2 seconds in that case and the GUI state at the end of loading does not even look wrong (although this definitively is not a fix).

[2017-10-30 13:12] qnebra commented on #3924
@lukas-w QT4 display window buttons of maximized windows in separate "corner toolbar", and this toolbar can be hidden, without possibility to be restored, or I just not know how.

I just prefer working on maximized subwindows.

[2017-10-30 13:31] PhysSong commented on #3926
Confirmed. Steps to reproduce:

1. Add a AFP track.
2. Open it, and move the waveform display to overlap the track label button.
3. Close the AFP window and re-open it by clicking the track label.
4. Move the mouse pointer.

[2017-10-30 13:47] tresf commented on #3924
FYI, we set a Unity flag to explicitly bring the toolbar back due to https://github.com/LMMS/lmms/issues/488, added via https://github.com/diizy/lmms/commit/9c107f386081e8c8b6041d1b3c40b75076022992.

[2017-10-30 13:57] matt-bel commented on #1467
**Enterprise** - Oggi alle 14:38
i checked out on this
seems to be possible
putting that when the play and stop button are played could be possible i think
**umcaruje** 💣 - Oggi alle 14:41
The problem comes when you play from the piano roll
Or the bb editor
Bitwig doesn't have this problem since they don't do this
I reckon transport should only happen when playing from the song editor
**Enterprise

[2017-10-30 14:00] michaelgregorius commented on #3926
Using the steps given by @PhysSong I can also reproduce the crash.

The problem occurs because the code makes the implicit assumption that `AudioFileProcessorWaveView::enterEvent` (and hence `QApplication::setOverrideCursor`) is called before `AudioFileProcessorWaveView::mouseMoveEvent`. This is not the case when the waveform display is on top of the track label. In this case the AFP windows is op

[2017-10-30 14:05] musikBear commented on #3312
I would like to add an observation about windows states.
If i save a very large 'project' (~40 mins -its a scratch-book with  ideas) **with** song-editor **open**, then i can forget about opening that project again. I will have to convert to mmp, and change state 1 to 0 for 'open', then i can re-open the project. I have had the 'open-state' wait for 60 mins, but it does not open.
There is a peculi

[2017-10-30 14:06] qnebra commented on #3924
I don't know it is a bug @tresf. I personally very like that way of working with lmms, without any unnecesary things like window title.

[2017-10-30 14:25] tresf commented on #3924
It appears to be a bug, but I haven't re-tested with Unity and Qt5.  Regardless, we have to keep the menu bar until #387 is implemented.  To make things more complicated, Ubuntu is switching away from Unity so the future need to keep around 9c107f3 is uncertain.

In the end, the best way to reclaim this realestate is to help code around it.  It's fun and it will help others, which is why I think m

[2017-10-30 14:27] tresf commented on #3312
Can we please stop speculating on specs and performance please? <3

[2017-10-30 14:53] tresf commented on #3925
The file size increase may be [due to `libicudata.so.52`](https://askubuntu.com/a/664857/412004).  This file is 23 MB in size.  Is it needed?

[2017-10-30 14:55] tresf commented on #3918
@DomClark excellent investigation.  Can you please open a bug at JUCE describing the issue?

[2017-10-30 15:12] tresf commented on #3574
@musikBear the OP never claimed it was an LMMS backup file. ;)

[2017-10-30 15:12] probonopd commented on #3719
https://download.opensuse.org/repositories/home:/rncbc/AppImage/

[2017-10-30 15:13] tresf commented on #3719
I saw the evidence he offered them, just no evidence of a working recipe.  I'll email him for pointers, thanks for the referral. :)

[2017-10-30 15:16] probonopd commented on #3719
There are appimage.yml files on OBS for many of his projects in https://build.opensuse.org/project/show/home:rncbc.

For example, https://build.opensuse.org/package/view_file/home:rncbc/drumkv1/appimage.yml?expand=1

[2017-10-30 15:23] zonkmachine commented on #3574
The project title has a space before the suffix: **Future Bass .mmpz** I've never seen that with a project before. Maybe that's just fine. The exported project also adds this space to it. **Future Bass .wav**  Are you on windows? For me on Linux this project exports fine and it is recognized as a wav file and plays back fine although the samples are lacking so it's not a full test.

[2017-10-30 15:24] tresf commented on #3719
@probonopd thanks for sharing.  This is a good starting point.  He seems to just be deleting the dependency from the package, I think that puts him in worse condition than us.  I've email him in the meantime. 👍

[2017-10-30 15:28] tresf commented on #3574
RC3 handles the space just fine on Windows 10.  I think it's something else.

![image](https://user-images.githubusercontent.com/6345473/32179219-3b5cb5d8-bd65-11e7-9206-b35fe0b8063b.png)

[2017-10-30 15:48] probonopd commented on #3719
Thanks. Great to see collaboration on that front. Possibly something to mention on the [Desktop Linux Platforms Issues](https://github.com/AppImage/AppImageKit/wiki/Desktop-Linux-Platform-Issues) page; feel free to add it there.

[2017-10-30 16:16] zonkmachine commented on #3574
OK. So the export crashes in some way before the file is finalized? I think the working copy is given it's final name in the very last step. @Lechetunes What sound settings are you using SDL? What OS/version do you use?

[2017-10-30 16:19] probonopd commented on #3719
Indeed, this is not giving favorable results on systems without JACK:

https://github.com/AppImage/appimage.github.io/pull/128

Would https://github.com/x42/weakjack help here?

[2017-10-30 17:00] tresf commented on #3719
Probably.  Here's what the [wiki for WeakJack](https://github.com/x42/weakjack#usage) says...

Apparently [ringbuffer doesn't work](https://github.com/x42/weakjack#caveats) though.

I was more interested in pulling the dbus libraries since it's a [standard part of all modern linux distributions](https://dbus.freedesktop.org/doc/dbus-specification.html).  Unfortunately, I don't know much about JACK

[2017-10-30 17:13] tresf commented on #3574
@zonkmachine this [may be true for the project file](https://github.com/LMMS/lmms/blob/32f07ac317b42dda42a1d00b0a3b1fa1feef0655/src/core/DataFile.cpp#L273), but is this also true for the rendered file?  I can't find the code that uses `.bak`.

[2017-10-30 17:16] tresf commented on #3574
I think the OP is making an assumption that this is a backup file.  I think it's just a file with no extension.  @Lechetunes please send us the actual file extension of this file.  You can drag it into a CMD window to find out.

[2017-10-30 17:22] follower commented on #3601
@tresf I wonder if this would be better/also labeled `security` (as per https://github.com/LMMS/lmms/issues/3601#issuecomment-306372431)?

Also, who would be a good person from LMMS to get in touch with VideoLAN re: https://github.com/LMMS/lmms/issues/3601#issuecomment-306384638?

[2017-10-30 17:30] tresf commented on #3601
Done.

Anyone, really.  I personally have a license to sign Mac executables, so I'm hesitant to do this.  I wonder if it would make sense for an individual to just run with this as an independent developer for now?  We should have enough in donations to do it.

[2017-10-30 18:24] follower commented on #2890
My understanding is that there *is* actually some backward compatibility magic going on, with the correct configuration. :)

Specifically, [`CMAKE_OSX_DEPLOYMENT_TARGET`](https://cmake.org/cmake/help/v3.0/variable/CMAKE_OSX_DEPLOYMENT_TARGET.html) is used to set `-mmacosx-version-min` but if it is used to set the minimum version, then [`CMAKE_OSX_SYSROOT`](https://cmake.org/cmake/help/v3.0/variabl

[2017-10-30 18:30] follower commented on #2890
Having said all that, I have also noticed a more specific version of the workaround behavior--and it turns out the use of `option` may have been a red herring:

1) Press `command`.
2) Start the drag by left-clicking and then moving.
3) *Before* you get to the drop zone *release* the `command` key.
4) Drag over the drop zone and the `+` indicator should now appear.
5) Release the left button and th

[2017-10-30 20:20] follower commented on #2890
A couple of other things I just noticed:

 * Holding down `command` over the Song Editor switches to "Edit mode (select and move)" and highlights the appropriate toolbar icon.

 * Holding down `command` over the Piano Roll appears to switch to "Select mode" but doesn't highlight the related toolbar icon.

(I wondered if maybe this double duty might have been interfering.)

 * A message `QPixmap::g

[2017-10-30 20:43] gi0e5b06 commented on #1467
@matt-bel https://github.com/gi0e5b06/lmms/commit/d8fb40cdb4943e4c0589281f8c3a4ad2f4a2dc0c
lmms as a client, basic transport.

[2017-10-30 22:38] Umcaruje commented on #1467
@gi0e5b06 here's how you make a Pull Request out of that commit:

First, you add an upstream remote (ignore if you did this)
[code]
You need to check out a new branch:
[code]
Next, we need to hard reset that branch to the current master:
[code]
Then you want to cherry pick your commit on the new branch:
[code]
After that you can push your branch:
[code]
Then on the github UI on the website, when y

[2017-10-31 04:20] tresf commented on #3719
@GuessWhatBBQ  I attempted to setup a Ubuntu 14.04 VM with Jack as a baseline, but I couldn't get the Jack server to function.  Next, I tried the same with Fedora 26 in a VM and `qjackctl` deadlocked the VM; Cadence from KXStudios couldn't detect the Jack server.

The next step is trying to reproduce on physical hardware, which I don't have, so you're our best chance of fixing this unless we have

[2017-10-31 11:05] gi0e5b06 commented on #3926
Thanks to @PhysSong for confirming it and to @michaelgregorius for finding the root. The bug fix should go to both stable and master. Here is my proposal:
https://github.com/gi0e5b06/lmms/commit/8a10c52b506ea828ffea3f8a545ed5857132674a

For decades, global mouse grab and global cursor set have cause problems (with any language on any platform). Those should not be used. OverrideCursor is used in T

[2017-10-31 12:00] zonkmachine commented on #2850
Could be that the control value is simply interpolated and it is initially at a cutoff value defined by the calf people and when you open it fresh it will then do a bit of a trip to whatever value is defined by the lmms ladspa settings?

[2017-10-31 12:44] zonkmachine commented on #2850
If I read this correctly the cutoff value would start it's life [here](https://github.com/LMMS/lmms/blob/88b940fa05fc39b0f4c8bf9fa7b24ef6bf2881b1/src/core/LadspaControl.cpp#L39) with a knob value of '0'. Then it would get set to it's proper value [here](https://github.com/LMMS/lmms/blob/88b940fa05fc39b0f4c8bf9fa7b24ef6bf2881b1/src/core/LadspaControl.cpp#L76) and the value is interpolated [here](ht

[2017-10-31 14:10] Sawuare opened #3928 "Playing a sample or instrument with LS Filter's cutoff frequency near max mutes the project's audio."
The project's audio can be unmuted by:
• Reloading the project.
• Reloading the effect.
• Disabling the effect.

[2017-10-31 14:13] zonkmachine commented on #3574
It's the one you linked to. It's only used for the project files. The only one mentioning literally .bak is @musikBear and not the OP. I don't know where the rendered file is given it's name.

[2017-10-31 14:17] zonkmachine commented on #3928
confirmed, NaN...

[2017-10-31 14:19] zonkmachine commented on #3928
@Sawuare I assigned this to me but maybe you wan't to have a go at fixing this?

[2017-10-31 14:27] PhysSong commented on #3928
How can I reproduce that? Could you please provide steps to reproduce?

[2017-10-31 14:33] Sawuare commented on #3928
1. Load a sample in a sample track or load an instrument.
2. Add the `LS Filter` effect to what you loaded in the step above. Increase the cutoff frequency to max.
3. Play the sample or play a note.

[2017-10-31 14:34] PhysSong commented on #3928
@Sawuare I just reproduced that right before you post the comment. :smile:

[2017-10-31 14:39] Sawuare commented on #3928
@zonkmachine Sure, but how?

[2017-10-31 15:12] zonkmachine commented on #3928
We have a super special debug flag when compiling but it's only for Linux and if I remember it correctly you are on Windows, no?

[2017-10-31 15:18] PhysSong commented on #3928
https://github.com/LMMS/lmms/blob/68c85c8e0579827994759573698c5b27f9c71832/plugins/LadspaEffect/swh/util/biquad.h#L105-L118

Here `alpha` blows up for high frequencies, because `omega` approaches to π and `sn` to `0`. Here `a2` is set to `NaN` since it is zero times infinity.
Possible workaround is: `f->a2 = 1 -  a0r * 2.0;`

[2017-10-31 15:37] Sawuare commented on #3928
Yes, I'm on Windows. Is there an alternative?

[2017-10-31 15:39] zonkmachine commented on #3928
I got this with the fpe flag. It happened when I tried to open the pluggin controls. In my book that isn't a bad call to powf. If I enter -0,00401606411^0,36787945 in a calculator I get −0,131367367 ...

[code]

[2017-10-31 15:40] zonkmachine commented on #3928
I don't know how it works on Windows unfortunately. @PhysSong Is it possible to invoke the gnu debugger, gdb on Windows?

[2017-10-31 15:46] PhysSong commented on #3928
Yes. You can run `gdb` on Windows. However, it will provide less information than Linux.

[2017-10-31 16:11] tresf commented on #3928
Last we tried this, msys2 was broken with the debug flags.  https://github.com/LMMS/lmms/pull/2205#issuecomment-126917960

[2017-10-31 16:55] musikBear commented on #3574
well he does say

That *backup* kind of sound like backup to me 🙊  :D
(i dont think the OP knows about lmms' .bak at all:)
Kind of think that OP tried the export-feature, and expected mp3, but got the default wave..
If the OP also has hidden extensions on files, he will be unaware of what he has made.. idk.. 🤡me

[2017-10-31 17:06] musikBear commented on #3928
That is the reason. It will produce a sound with absurd low freq. If you have ambient time, like several hours, the wave-form will dead slowly normalize and sound is re-established
Look at the monitor-display, if im right, a horizontal line will be glued to the bottom of the display
Could actually be interesting to add a graphic-EQ or SPAN and see what they display in this situation
It is not the

[2017-10-31 17:23] zonkmachine commented on #3928
Probably not. See the [explanation above](https://github.com/LMMS/lmms/issues/3928#issuecomment-340796032).

[2017-10-31 18:23] zonkmachine commented on #3824
This issue could be from upstream. We recently updated the source to fix a long standing noise issue.

We probably use different versions of GBE.

It looks like we're missing an initialization [here](https://github.com/LMMS/lmms/blob/88b940fa05fc39b0f4c8bf9fa7b24ef6bf2881b1/plugins/papu/papu_instrument.cpp#L249:L283). According to this, channel 3 volume could be acting up a bit but I don't see any

[2017-10-31 19:52] zonkmachine commented on #3859
Sorry, I don't know what that means.

Does this mean what we tried above already? Sounds like a good idea then.

[2017-10-31 20:20] tresf commented on #3719
Reproduced, using `Catia` and a dummy Jack back-end.

It's not dbus, it's jack itself.  This shouldn't be bundled with the `AppImage` at all, so it may have been left from a previous build.

For now, extract and remove the jack library.
[code]

We'll fix this as soon as possible and upload a new AppImage.

![image](https://user-images.githubusercontent.com/6345473/32246941-0ea08b94-be57-11e7-8b02-

[2017-10-31 22:22] gi0e5b06 commented on #3928
[code]
http://fooplot.com/#W3sidHlwZSI6MCwiZXEiOiJ4KnNpbmgoMS94KSIsImNvbG9yIjoiIzAwMDAwMCJ9LHsidHlwZSI6MTAwMCwid2luZG93IjpbIi0xLjM1MTQ3NTIxMzU4NTI3NjEiLCIxLjU1ODkwNzgzMjA4ODA5MDciLCItNzkzNTYxLjEwNTU0MzUxMzEiLCI2NjE2MzAuNDE3MjkzMTcwNyJdfV0-

[2017-10-31 23:35] matt-bel commented on #1467
@gi0e5b06 i've tryed to compile with it but that patch is not working, are you finishing it out or just abandoned?

[2017-10-31 23:37] PhysSong commented on #3928
@gi0e5b06 No, you're doing definitely wrong math there. That is a little bit long to explain here.
Anyway, the real problem is `alpha`, which blows up toward infinity. In strict sense, infinity isn't   a number. It means it is larger than any number. However, we usually define 1 over infinity to be 0.
And there is a clear fact, 0 * infinity is not defined. That's what we call NaN.

[2017-11-01 01:43] PhysSong commented on #3928
@zonkmachine You did a wrong calculation. `-a^b` is `-(a^b)`(here `^` denotes power, not the xor operator in C++), not `(-a)^b`. Such value can be defined using some [mathematical techniques](https://en.wikipedia.org/wiki/Euler%27s_formula), but it never can be a real number. Moreover. there are some ambiguities with that, too.
So `(-0,00401606411)^(0,36787945)` doesn't make sense in `powf()` and

[2017-11-01 03:19] zonkmachine commented on #3928
Precisely that error. Doing it again I get an imaginary part. And yes, we're talking floating point operations.

[2017-11-01 05:26] floft commented on #3825
My guess would also be `it->isRelease == true` was for when we're looping. I can't find my .gig files with loops though, so I can't test it.

@michaelgregorius As for `expf`, I did not think about that. That's definitely a better way.

[2017-11-01 06:39] tresf commented on #3719
So it turns out that quite a few libraries that we bundle link against `libjack.so.0`, so `AppImageKit` is going to continue bundling it too as it recursively searches for dependencies of dependencies.

Although `WeakJack` helps LMMS compile without hard-links to JACK, it does little to help the various bundled 3rd party libraries avoid the hard-linking.

Here's an AppImage that bundles Jack2 inst

[2017-11-01 06:54] tresf commented on #2896
This is an upstream issue, most likely with ALSA per http://jack-audio.10948.n7.nabble.com/JACK-with-ALSA-backend-subgraph-times-out-td7858.html.  Closing as `not our bug`.  Please ask for reopen if you have evidence suggesting otherwise.

[2017-11-01 06:54] #2896 closed

[2017-11-01 08:18] gi0e5b06 commented on #3928
@PhysSong I double-checked and I don't see any problem.
In maths, zero times infinity is often well defined, here it is 1.
x->0 | (x-1)/(x+1) -> 1

[code]

[2017-11-01 08:49] zonkmachine commented on #3928
Given how this issue is developing? A friendly advice. Stay away from it. You may not come out of it in one piece.

[2017-11-01 10:02] PhysSong commented on #3928
@gi0e5b06 The problem is:
`abs(sn)<10E-10` looks harmless, but it is satisfied only if the frequency equals to the nyquist frequency.
`abs(M_LN2 / 2.0 * bw * omega / sn)<0.05` is definitely wrong, since `omega / sn` is always larger than 1, `bw` is between 1.0(resonance 0.0) and 0.1(resonance 1.0), `M_LN2 / 2.0` is 0.34657359 ... , so it may cause issues.

[2017-11-01 10:55] mestaritonttu commented on #2784
I confirmed it does not crash anymore with LMMS 1.2.0 RC4 and Helm 0.9! Thanks a lot.

[2017-11-01 11:21] zonkmachine commented on #2784
Great news, thanks for the feedback!

[2017-11-01 21:36] gi0e5b06 commented on #1467
The first patch was adding the `slave` mode (qjackctl controlling lmms).
The new patch (WiP) https://github.com/gi0e5b06/lmms/commit/45ccdc9e5b73c5ba9d38ea5890907d4e862837b9 adds the `client` mode (making the play/stop buttons in lmms working again) and introduces the ITransport interface.
I'm planning to add full `client` mode, however it is a bigger task because of the bad design.
I don't plan t

[2017-11-02 01:46] tresf commented on #3719
As promised, here's the version with `/usr/lib/libjack.so.0` removed from the `AppImage`.

https://github.com/tresf/lmms/releases/download/v1.2.0-rc4/lmms-1.2.0-rc4.30-linux-x86_64.AppImage

I haven't made a PR for this patch because it's so trivial.  If it helps the situation, I'll just commit it.  Testing appreciated.

[code]

[2017-11-02 06:13] probonopd commented on #3719
@tresf fails to run on a stock Ubuntu 14.04 with `usr/bin/lmms.real: error while loading shared libraries: libjack.so.0: cannot open shared object file: No such file or directory`. Some sort of wrapper is needed that would at least show a GUI dialog box telling the user what to do, otherwise users launching this via the menu will just see nothing at all and think it is entirely broken.

For exampl

[2017-11-02 11:39] PhysSong commented on #3920
Then LMMS should hang in `void MidiWinMM::closeDevices()`. As far as I know, there are two possibilities if that's right:

1. Hang in Win32 API function for some reason
2.  Stuck in while loop(less likely to be the issue)

[2017-11-03 12:24] Kubek0212 opened #3933 "Bit Invader wave length"
Greetings All,
I used LMMS quite a while, so it's time for my first (and for now- only) sugestion wich will help (I think).

I had a problem with Bit Invader wave.
Itself- wave has lenght for 4 up to 200.
When the leght is automatised (e.g.- 150 bit-long wave is getting cutted to 50 bit-long) program forgets about the cutted part.
(Which force You to create the wave from the very beginning).

The

[2017-11-03 12:45] zonkmachine commented on #3933
It sounds vaguely familiar. You could try one of the new 1.2 Beta versions as the Bit Invader is a bit different in this regard but I'm not sure if this currently is regarded as a bug or not.
https://lmms.io/download/#windows

[2017-11-03 17:03] zonkmachine opened #3935 "Automation pattern glitch"
Since the Anti-Aliasing fix of the Automation Editor (899e386df71bb0d88e0b6cd873348ec2b9bf9ad1)  there is a step left at the last automation point. The pattern is somehow off by one.

![automationpatternoff](https://user-images.githubusercontent.com/6368949/32386155-98eb65d8-c0c0-11e7-94f8-d6cc65080766.png)

[2017-11-03 18:06] superjosh364 opened #3936 "ZynAddSubFX Portament not working"
The portamento on the ZASFX front page doesn't work for the range 0-64, but if you turn it above 64 it works fine.

[2017-11-03 19:38] zonkmachine commented on #3936
It is portamento there from 64 and up but it's the same level. It sounds like we're sending an on/off message instead of a level value.

[2017-11-03 21:02] michaelgregorius commented on #3933
I think this is related to #3797.

[2017-11-03 22:59] zonkmachine commented on #3936
Right. What we have implemented in lmms is midi control message 65, portamento on/off. There are three other control messages for portamento. 5, 37 and 84. In the midi standard boolean values are realized with a value of 0-127, the lower half of a byte, where 0-63 is off and 64-127 is on.
Midi standard control messages:
https://www.midi.org/specifications/item/table-3-control-change-messages-data-

[2017-11-03 23:54] #3859 closed

[2017-11-04 05:13] PhysSong commented on #3926
Totally agree. I think we should replace it with local one for other widgets(editors, TCOs, etc.), too.

[2017-11-04 08:34] zonkmachine commented on #3741
Closed in https://github.com/LMMS/lmms/pull/3872

[2017-11-04 08:34] #3741 closed

[2017-11-04 12:51] musikBear commented on #3935
Great find!

[2017-11-04 12:54] musikBear commented on #3936
It has been so ever. There has never been a gradual porta control, so this ticket is a feature request, not bug

[2017-11-04 13:40] zonkmachine commented on #3936
You're probably right there.

[2017-11-04 22:09] gi0e5b06 commented on #1467
@zonkmachine About the crash on exit (if you're using Jack), this is fixed by https://github.com/gi0e5b06/lmms/commit/b21a9cf3e03f49091cd064c6afde38708198f45f . Jack was still processing in the destructor.

@matt-bel About the sync: both Jack and LMMS being fully digital, they should stay synchronized (at the frame level). So that's something that can be fixed somehow. I put the transportQuery() c

[2017-11-04 22:32] matt-bel commented on #1467
@gi0e5b06 just tested it and tryed to sync with ardour metronome (only jack transport) with slave master and client option, still not perfectly synced, there's like a some millisecond delay, tested the other day (not this build but would be the same result) with jack transport + midi clock = https://www.youtube.com/watch?v=2PYt4hJUA9o, perfect because the midi delay control

[2017-11-05 07:55] zonkmachine commented on #1467
@gi0e5b06 Thanks! I've bumped the #developer on Discord.

[2017-11-05 09:36] PhysSong commented on #3935
Confirmed. I have a fix and am testing that. I'll open a PR if it works.

[2017-11-05 12:23] zonkmachine commented on #3636
I just had a bad load again. Bumping to 1.2. Testing a fix for this right now.

[2017-11-05 21:15] boomshop opened #3942 "calf.so shipped with LMMS crashes Ardour and Calf plug-ins"
Dear Devs,

the calf.so containing the legacy LADSPA Calf plug-ins shipped with LMMS crashes Ardour in conjunction with the "real" Calf plug-ins as soon as one adds any Calf plug-in to a track or bus in Ardour.

https://linuxmusicians.com/viewtopic.php?f=24&t=17751#p87012
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=870473

Probably renaming of package and plugins could do the trick.

[2017-11-05 22:00] Reflexe opened #3943 "Sample track standalone recorder"
Hello guys,

I'm currently working on a standalone sound recorder for LMMS. Most of the code is already there (`SampleRecordHandle`). The only thing I've implemented is the actual recording for each device type (e.g. `ALSA`, `JACK`, ...).

Surprisingly, for JACK, it was pretty trivial so now JACK and PortAudio support recording and therefore support sample track recording too.

Just before I take

[2017-11-05 22:13] StakeoutPunch opened #3944 "Peak Controller connections lost on CTRL+Z"
**LMMS Version:** 1.2 RC4, Win64
**OS:** Win10

**Issue:**
Deleting a clip in the song editor belonging to an instrument with a peak controller in its FX chain will unbind the peak controller connections upon undoing the deletion (ctrl+z). It also removes any custom controller names and puts the peak controller in the bottom of the controller rack, like it is a new instance, however its settings a

[2017-11-05 22:35] tresf commented on #3943
@Reflexe thanks for running with this!  In regards to why the feature was removed, I don't think any of the current project maintainers were around when that decision was made.  The feature was added 9 years ago by the original author, Toby but it appears to have been coded by Csaba Hruska: https://github.com/LMMS/lmms/commit/1410f2bc92e560d3da7457bb0f002bc7feb407bd.

Thanks for the warm welcome.

[2017-11-05 22:46] tresf commented on #3942
We aren't the authors of `calf-ladspa`, so this really is a packaging issue and we don't package LMMS for any Linux platform currently.

Since LADSPA support was removed from calf quite a while ago, a forked version of the library has been bundled with LMMS since.  We can go back to mainline when LV2 is written, but that's a separate task.

If a packager puts our LADSPA plugins in the same place a

[2017-11-05 23:02] tresf commented on #3942
To add to the note about upstream cooperation, we do have an active initiative to move all of our plugins to be pulling from and contributing directly to upstream.   Our test case is swh (#3931) and we've made good progress on this.

Since all Calf plugins are bundled into one single library, the `calf.so` we ship could certainly be renamed to something different, but I think it would be better fo

[2017-11-06 04:10] Spekular commented on #3944
I believe I've had a similar thing happen. If you have a track of
automation clips automating a filter's high pass frequency (for example)
and delete one, the rest of the clips will disconnect from that filter's
high pass frequency if the deletion is undone.

Will try to reproduce this and OP soon (hopefully).

On Nov 5, 2017 23:13, "StakeoutPunch" <notifications@github.com> wrote:

*LMMS Version:

[2017-11-06 06:45] tresf commented on #3942
@boomshop I tested it as `veal.so` and it works fine.  I've forked upstream and renamed it as well to be consistent. https://github.com/LMMS/lmms/pull/3940/commits/28961688da860572fc235c5aa5b3f464e50c2922#diff-7594a73ab160d0bf3265845d9c8c42a7L5 🐄

[2017-11-06 09:31] boomshop commented on #3942
Thanks a lot for taking care of this problem.

True. This is a problem at least on Debain-based package management. KXStudio offers a workaround by having its own (completely empty) calf-ladspa package which is a dependency of calf-plugins now.

What makes me wonder is that on an Arch system the LADSPA calf.so was installed in some LMMS directory but still found by Ardour. Removing it from there m

[2017-11-06 12:42] boomshop commented on #3942
I fear that just renaming the shared object will not solve the problem. Additionally the name you've chosen might make the problem worse since users might be confused what to search for/delete to make their Ardour/Calf work again.

[2017-11-06 13:30] Kubek0212 commented on #3933
Yes, indeed this is what I was thinking about.
I am sincerely sorry for making a duplicate.

[2017-11-06 13:51] zonkmachine commented on #3933
No worries. :)

[2017-11-06 13:51] #3933 closed

[2017-11-06 14:45] zonkmachine commented on #3824
Do you think you could find out what version oof  Game Music Emu VLC is using?
Can you upload a zipped mmp project file that demonstrates the issue?

[2017-11-06 14:49] tresf commented on #3824
`0.6.0` according to their master branch.  Which version do we ship with?

https://github.com/videolan/vlc/blob/master/contrib/src/gme/rules.mak#L3

[2017-11-06 15:03] tresf commented on #3942
This is moot if it fixes the issue.

It's not a can of worms for us, but I don't know if it would help either.  I believe the root of this issue stems from an old decision to start bundling up the LMMS LADSPA plugins in part due to the `vocoder` plugin being blindly patched into `swh`.  Here's the conversation history:  https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=758888

@grejppi (and others

[2017-11-06 15:04] zonkmachine commented on #3824
[0.6.1](https://github.com/LMMS/lmms/pull/3723)

[2017-11-06 15:38] tresf commented on #3942
Looks like we just store the library name.  Should be pretty straight-forward for us shall we decide to do this (and if we can confirm from the bug submitters that this fixes the problem).

Project upgrade:
[code]

[2017-11-06 15:53] Fighter19 commented on #3824
I can provide a project file.
However this issue is easily reproducible.
It occurs on every note change, when another note is still audible.
Instead of simply terminating the old sample it plays on for a while, then it interferes with the new sample.

Let's assume we play a C. The C wave is generated, now we switch from C to D, the D wave is generated, but instead of simply stopping the C wave bef

[2017-11-06 16:20] Fighter19 commented on #3824
Here is an example project:
https://puu.sh/yg81f/1497dbc1e9.mmpz

2017-11-06 16:04 GMT+01:00 Oskar Wallgren <notifications@github.com>:

[2017-11-06 19:42] zonkmachine commented on #3824
![freeboyglitchcompare](https://user-images.githubusercontent.com/6368949/32459838-3127b014-c331-11e7-9a9c-9d3a6ca8acf3.png)

Here is the project above in a comparison between 1.1.3 and 1.2.0-RC4. It's been greatly improved by the update to 0.6.1 but there's still glitches in there. I think this has a high probability of being an issue in game-music-emu aka upstream.

[2017-11-06 20:27] zonkmachine commented on #3824
One of the noise shots up close. The wave is shifted down for ~770 samples. It's shifted down about the same level the whole wave would need to be shifted up in order to have no DC component.
![freeboyglitchlevelorig](https://user-images.githubusercontent.com/6368949/32461916-ceec617c-c337-11e7-82de-ea450b9b203d.png)

Faulty part nudged upward.
![freeboyglitchlevel](https://user-images.githubuserc

[2017-11-06 20:40] zonkmachine commented on #3824
768 is a multiple of 128 (6).

[2017-11-07 09:41] follower opened #3949 "Audit/replace use of `sprintf()` and friends..."
As per #3948 it would be a good idea to audit other uses of `sprintf()` (and similar functions) in the code base to ensure they don't have the same problem.

Ideally, we'd switch to a "safer" option such as `snprintf()`.

[2017-11-07 09:55] follower opened #3950 "Improve project stability/robustness via code auditing tools"
I discovered #3948 by enabling the Clang "Address Sanitizer" in debug mode.

It would probably be good to have this as a configuration option and/or automatically enabled for `Debug` builds. There is a performance impact from having this enabled but I don't know how significant.

There are other tools/options it would be a good idea to use/run over the code base (noted here for future reference):

[2017-11-07 10:12] follower commented on #3695
FWIW when I saw #3938 it occurred to me that while the right-most icon is "last" (at least in a left-to-right scanning culture) in the list, in terms of proximity to the main work area it's actually the closest icon--which implies importance which seems to be the opposite of what you're wanting to prioritise.

While I have no data to back this supposition up, I suspect the real-world "priority ord

[2017-11-07 10:45] follower opened #3951 "Xpressive plugin SEGV on application close"
Mac OS X 10.8.5 @ commit 9d317e158e09fb236da7bb75f81218d715e5dd2f ish (+ my 77f7948dc2761db5774b33d32f4b11ffc3457d3e)

I hadn't recompiled the plugins in Debug yet, so not as much detail.

[code]

[2017-11-07 12:08] BaraMGB opened #3952 "Automation Editor crashed/freezed"
reproduced on:
Ubuntu 16.04, LMMS latest stable-1.2, 64bit, Qt5

steps:
1. Create an automation track.
2. Select 1/16 Q.
3. Draw something that can't be drawn in 1/8.
4. Select 1/8 Q.
5. Press that thing that inverts automation (next to eraser button)
6. Kaboom

Sometimes it crashs, sometimes it freeze.

Backtrace:
[code]

[2017-11-07 12:17] Spekular commented on #3952
Welp. I don't think I have time to look at this right now but the (stupid) solution I would try is to:

1. Save the current quantization level
2. Set level to 192
3. Do the flip
4. Restore the proper level again

[2017-11-07 12:37] follower commented on #3949
See also https://github.com/LMMS/lmms/pull/3948#issuecomment-342446909 for a suggested refactoring.

[2017-11-07 14:02] coreybruce opened #3953 "Can't build RemoteVstPlugin.cpp build error"
[code]

[2017-11-07 14:37] gi0e5b06 opened #3954 "Split a beat"
In a beat, the features to isolate an instrument and to split all instruments into new bbtracks would save (me) a lot of time. To split is the same than to isolate each instrument (so saving a few clicks). The name of the new track is set to the name of the instrument.
`isolate` is implemented, `split` may come.
https://github.com/gi0e5b06/lmms/commit/e9e144eedf970261896b1ae719945cac887c2db2

[2017-11-07 14:50] tresf commented on #3954
@gi0e5b06 can you help give a visualization of what this feature would look like?

[2017-11-07 14:51] tresf commented on #3953
Please see the VST section of our dependencies.  https://github.com/LMMS/lmms/wiki/dependencies-ubuntu#vst

If you're not on Ubuntu, please try to find the equivalent package(s) for your distribution.

[2017-11-07 15:34] coreybruce commented on #3953
Just to let you know these packages on Ubuntu don't exist

corey@Corey-PC:/media/users/Storage/lmms$ sudo apt-get install wine-dev libwine-dev libwine-dev:i386 gcc-multilib g++-multilib
[sudo] password for corey:
Reading package lists... Done
Building dependency tree
Reading state information... Done
Package wine-dev is a virtual package provided by:
  wine-rt-dev 2:2.0.1-1~xenial1
  wine1.6-dev 1

[2017-11-07 15:36] zonkmachine commented on #3952
Unfortunately I still haven't succeeded in reproducing this.

@BaraMGB Can we have a full backtrace?  `bt full`

I thought about this too but it crashes in [tempValue = max - valueAt( ( iterate + i ).key() );](https://github.com/LMMS/lmms/blob/0dbdafc1f82ea0f6cb14a07bad4caab8e49643fc/src/core/AutomationPattern.cpp#L452) and I don't think quantization would be an issue there. The next line calls pu

[2017-11-07 15:47] lukas-w commented on #3953
@coreybruce Those packages do exist, maybe you should take a closer look to your error message:

Apparently you set up some third party package repository (KXStudio PPA?) that makes 'wine-dev` ambiguous.

[2017-11-07 16:10] BaraMGB commented on #3952
bt full:

[code]

[2017-11-07 16:11] coreybruce commented on #3953
The only PPA I have to do with wine is WineHQ-staging

[2017-11-07 16:15] tresf commented on #3953
I see a reference to Xenial.  @coreybruce can you confirm that you're on Ubuntu 16.04?  We can quickly test our own procedures and offer recommendation.  If you'd like to troubleshoot interactively, [Discord](https://lmms.io/chat) #support channel is a good place as well, there are often a few devs hanging out there.

[2017-11-07 16:16] coreybruce commented on #3953
Yes I am on Ubuntu 16.04 LTS, thank you for letting me know and testing it out for me, builds in the past worked fine until now but no problem I'm sure we can resolve this!

[2017-11-07 16:18] tresf commented on #3953
@coreybruce thanks.  Which branch are you compiling?

[2017-11-07 16:18] lukas-w commented on #3953
@coreybruce WineHQ-staging doesn't contain a package called `wine-rt-dev`, but the KXStudio repos do. Are you sure you don't have the KXStudio repos enabled?

Anyway, judging from the error message, you should be able to resolve this by explicitly selecting the package to install. Try running `sudo apt-get install wine1.6-dev`.

[2017-11-07 16:25] coreybruce commented on #3953
Don't worry after installing wine-rt-dev it fixed the issue!

[2017-11-07 16:34] tresf commented on #3953
Thanks for the update.  As @lukas-w points out you must have added the KXStudios repository at some point, so this is not a typical scenario.  We intentionally leave our Ubuntu instructions vague to use virtual package names like `wine-dev` instead of `wine1.6-dev` as it works on more Ubuntu version and is easier to maintain from a documentation perspective, so we won't be making any changes to th

[2017-11-07 16:34] #3953 closed

[2017-11-07 16:54] coreybruce commented on #3953
Your right I have, forgot I did that woops!

also I am using the rc versions from this git repo

[2017-11-07 16:55] Spekular commented on #3952
<https://github.com/LMMS/lmms/blob/0dbdafc1f82ea0f6cb14a07bad4caab8e49643fc/src/core/AutomationPattern.cpp#L442>
 be:
for( int i = 0; i < numPoints; i++ ) ?

I can't see/remember why it would be <=, but if that's wrong I feel like it
should break all the time and not only when following the steps above. Or
maybe it's wrong, but doesn't break anything.

FWIW I can reproduce this on Windows 10 64bit

[2017-11-07 18:11] gi0e5b06 commented on #3954
Isolate           <---           Before           --->           Split
![isolate_split_20171107](https://user-images.githubusercontent.com/30031949/32509873-fa391f66-c3ee-11e7-8ff1-05bb6938a072.jpg)

The initial state is at the middle. On the left, it is the result after isolating the snare. On the right, it is the result after splitting the beat.

[2017-11-07 18:18] EtornaZ opened #3955 "Lack of ability to pitch bend & pan inside Piano-Roll for ZASFX, LB302 & OpulenZ: idea for workaround"
As we know, ZASFX, LB302 and OpulenZ don't have the ability to pan and pitch bend inside the Piano Roll. I was thinking about this and I have an idea as a workaround.

What if the pitch knob (or even an invisible copy) for those synthesizers had its value connected to the pitch bending automation editor inside the Piano Roll, likewise with the panning knob's value on the note-panning sliders (or w

[2017-11-07 18:49] tresf commented on #3954
@gi0e5b06 thanks.  Where are the controls presented?  Can someone do multiple tracks?  Also for future reference, using a word like "split" and then showing chopped up (vertically) BB patterns can be confusing to initially read.

Perhaps a better name is "isolate track patterns" (which we can sort-of do already by CTRL + Dragging to song editor albeit currently not very intuitive or fluid)

[2017-11-07 19:21] #3613 closed

[2017-11-07 20:39] gi0e5b06 commented on #3954
@tresf The control is an entry in the track operation menu.

Ctrl-Drag doesn't work well. From the bbeditor to the song editor, a bbtrack becomes an instrument track, with a pattern that can be moved or copied (but it can be edited). From the song editor to the bbeditor, all notes are lost. Things could be improve here.

chop, demerge, divide, disunite, separate, ungroup, ...
but also extract, dis

[2017-11-07 22:09] gi0e5b06 opened #3956 "Failed Assert (TCO order)"
[code]
I was just editing when playing, moving patterns around and under the marker.

[code]

[2017-11-07 23:09] tresf commented on #3719
@probonopd can you test this one out?  https://github.com/tresf/lmms/releases/download/v1.2.0-rc4/lmms-1.2.0-rc4.96-linux-x86_64.AppImage

Added some creative logic via https://github.com/tresf/lmms/commit/cefe47bafa90a3e37a4d8c169d7922a4756bf2ff

[2017-11-08 05:17] probonopd commented on #3719
Yay! Looking good. Thank you very much.
https://github.com/AppImage/appimage.github.io/commit/d76534efceb8f13378f368f69eeb736435b0fa1d

[2017-11-08 12:28] fundamental commented on #3950
You may also be interested in [stoat](https://www.github.com/fundamental/stoat) which identifies realtime safety hazards (which LMMS has an abundance of) via clang/llvm's static analysis capabilities. I've talked about this particular tool in a few places with the most recent being LAC 2017 ( [proceedings](http://musinf.univ-st-etienne.fr/lac2017/lacproceedings.html) / [recording](https://www.yout

[2017-11-08 13:43] zonkmachine commented on #3952
Is this crash Qt5 only?

0 - 1. This is with a new automation pattern with no connections, right?

BBTrack?

Yeah, I thought so too.

[2017-11-08 14:13] musikBear commented on #3955
Njea I actually think lmms should rethink current pitch-bend edits. It would be so much simpler just to drop n objects on piano-roll for a selected note. Currently it is buggy to edit the pitch. A transparent editor is almost a must, so bottom line : Rethink UI for pitch-bend

[2017-11-08 14:18] Spekular commented on #3952
Still happens for me if I:

* Add an automation pattern
* Connect it to the default 3xOsc's volume
* Draw at 1/16th
* Reset to 1/8th quantization
* Flip

So it seems to happen with or without a connected control (the first time I
tried reproducing it was unconnected)

[2017-11-08 14:20] musikBear commented on #3954
If i understand @gi0e5b06 its a distribution of a composite B&B-line, with n instruments, into n single B&B-lines, eg making each instrument in a composite B&B-line have their own single new B&B. Its a good idea, i also think there should be an option for attaching new FX-channels to each new B&B instrument

Dont think it was like that in 1.1.3

[2017-11-08 14:29] musikBear commented on #3952
@Spekular FYI cant reproduce on win32 RC4
Flipping in any of the 3 shapes goes fine, copy fails.

[2017-11-08 14:54] tresf commented on #3954
This is out of scope.

[2017-11-08 14:57] tresf commented on #3955
This is out of scope.  What the OP is asking is to leverage a piano-style pitch bend on instruments that are piano-roll pitchable.  The UX implementation of the current piano pitch-bend can receive improvements regardless of this feature.

That said, I agree that the current implementation is very difficult to use in a MDI-style layered windowing environment.

[2017-11-08 15:12] EtornaZ commented on #3955
I agree with musikBear. Dragging values, specifically the panning, pitch and volume ones, onto individual notes in the Piano Roll and then having an automation editor open up would be a better solution than my idea.

[2017-11-08 15:35] PhysSong commented on #3952
Confirmed. The reason: `AutomationPattern::flipY()` doesn't pass `ignoreSurroundingPoints` to `putValue()` and its default value is `false`. Passing `true` there fixes this.

[2017-11-08 15:41] Spekular commented on #3952
Should that apply to flipX as well?

[2017-11-08 15:46] PhysSong commented on #3952
Haven't tested yet, but i think so.

[2017-11-08 16:07] zonkmachine commented on #3952
My work. Why can't I replicate this?

[2017-11-08 16:13] tresf commented on #3955
@EtornaZ I believe the problem with the piano-roll pitchbends is that it's all all-or-nothing problem.  We could leverage pitchbends in piano roll, but they wouldn't be per-note, they'd only be percieved visually as per-note.  If multiple notes were to be pitchbent at the same time, they'd be in a conflict with one another.

I think simply adding a warning to the user (perhaps something non-interu

[2017-11-08 17:25] EtornaZ commented on #3955
@tresf Alright, that's cool. :)
So how would you go about this? Just fix the UX so that the aforementioned synthesizers will pitch bend in the piano roll?

[2017-11-08 18:18] tresf commented on #3955
@EtornaZ that would be my vote, yes, but we would need a clear visual indicator to that instrument at that exact time that the pitch is being messed with so it's easy to find in the event of simultaneous instrument re-use such as stacked BB Tracks.

[2017-11-08 18:18] tresf commented on #3955
@EtornaZ that would be my vote, yes, but we would need a clear visual indicator to that instrument at that exact time that the pitch is being messed with so it's easy to find in the event of simultaneous instrument re-use such as stacked BB Tracks.

[2017-11-08 18:26] EtornaZ commented on #3955
@tresf Maybe the notes in the Song-Editor could have the pitch bent lines shown? Same with B&Bs, they could be made transparent in the Song-Editor if they have notes in them; that way, people could see the notes and pitch bends in them. Yes, I know if a B&B editor has more than one instrument/synthesizer with notes that could be visually messy, but people can stretch the B&B Editor in the Song-Edi

[2017-11-08 18:26] EtornaZ commented on #3955
@tresf Maybe the notes in the Song-Editor could have the pitch bent lines shown? Same with B&Bs, they could be made transparent in the Song-Editor if they have notes in them; that way, people could see the notes and pitch bends in them. Yes, I know if a B&B editor has more than one instrument/synthesizer with notes that could be visually messy, but people can stretch the B&B Editor in the Song-Edi

[2017-11-08 21:58] #3935 closed

[2017-11-08 22:26] mendomusic opened #3959 "CAPS plugins fail to build with g++ 5"
Using code pulled today:
[code]

[2017-11-08 22:31] tresf commented on #3959
@mendomusic are you on LLVM/Clang?  Also, can you provide the actual error?  The one you've posted doesn't have the actual error in it (this is common for make -j4).  See if you can scroll up and get the exact error.

[2017-11-08 22:44] BaraMGB commented on #3959
I had the same problems, but I used -DWANT_CAPS=OFF it's not a solution, only a quick work around.

[2017-11-08 23:03] BaraMGB commented on #3959
I have made this build and here ist my full log:
ubuntu 16.04 64bit, Qt5 latest master

https://gist.github.com/BaraMGB/0700308d7f17b5b89acf17dbd1f5e615

[2017-11-08 23:48] PhysSong commented on #3959
I can build CAPS with either g++ 6 or g++ 7, but I can't build it with g++ 5. 14b2028 fixes this, but it has been reverted since it breaks MinGW < 5.0 compatibility(which is currently used in Travis-CI).

[2017-11-09 04:30] PhysSong commented on #3959
https://gist.github.com/PhysSong/e3d863556525b37b36655dc4387a11bf

[2017-11-09 05:30] tresf commented on #3719
@GuessWhatBBQ can you please test the latest installer on  your system? https://github.com/tresf/lmms/releases/download/v1.2.0-rc4/lmms-1.2.0-rc4.96-linux-x86_64.AppImage

[2017-11-09 06:33] GuessWhatBBQ commented on #3719
Yup AppImage works right out of the box. Kudos @tresf

[2017-11-09 06:33] GuessWhatBBQ commented on #3719
Here's the terminal output:
[code]

[2017-11-09 06:36] #3719 closed

[2017-11-09 06:50] mendomusic commented on #3959
@tresf
what is `LLVM/Clang` ?

Here the full log:

[code]

[2017-11-09 06:54] tresf commented on #3959
Thanks.  LLVM/Clang is an alternative compiler for Linux and the default some unixes, but the issue was reproduced and @PhySong has a workaround he's working on.

[2017-11-09 13:10] zonkmachine commented on #3956
[Q_ASSERT()](https://github.com/LMMS/lmms/blob/d4d909cd9e440f3eba923d748938df2064a29c4c/src/core/TrackContainer.cpp#L275) introduced here: https://github.com/LMMS/lmms/pull/3481
@lukas-w

[2017-11-09 15:53] musikBear commented on #3952
Linux /Ubuntu only..?

[2017-11-09 21:50] gi0e5b06 commented on #3955
Every controller should be both setable per note and per automation track. If there is more than one setting, all settings should be combined.

[2017-11-10 02:36] PhysSong commented on #3855
Okay. I found a solution for most filename encoding issues: open a file with `QFile` first, and then re-open it using `fdopen()` or something similar.
The only exception is VST dlls. LMMS uses `LoadLibrary()` to load VST dlls. I think converting utf-8 to wide char(with Win32 API or something else) and using `LoadLibraryW()`.

[2017-11-10 04:53] tresf commented on #3855
@PhysSong good find.  Note, this article suggests to define the character type as `TCHAR` and `LoadLibrary` will automatically switch between `LoadLibraryA` and `LoadLibraryW` for you.
 https://stackoverflow.com/a/5208515/3196753

[2017-11-10 05:20] PhysSong commented on #3855
Right. In this case, however, I think `LoadLibraryW()` should be used explicitly to support every unicode characters. I think calling `LoadLibraryA()` is bad there.

[2017-11-10 05:24] tresf commented on #3855
Agreed.  The data should never be ANSI, `LoadLibraryW()` will work 100% of the time.

[2017-11-10 06:32] tresf opened #3963 "Submodule candidates"
#### Candidates

| PR | Plugin | Upstream | Comments |
|-------|-------|------------|-----------|
| #3873 | core/rpmalloc | github.com/rpmalloc/rpmalloc | ✅  Done |
| #3931 | ladspa/swh | github.com/swh/ladspa | ✅ Done |
| #3960  | ladspa/tap | github.com/tomszilagyi/tap-plugins | ✅ Done |
| #3940 #3987  | ladspa/calf | github.com/lmms/veal  |  ✅ 🍴 Done.  Upstream API changed, need to use fork. |

[2017-11-10 10:14] fyrebreak opened #3964 "Random notes deleted upon project reopen"
I can't find a way to consistently reproduce this bug, it always happens randomly

Whenever I close and reopen LMMS to the project I was once working on, a segment of notes would be deleted randomly from the Song editor. I always have to type in the notes again after that and risk them being deleted again.

I'm using LMMS 1.2.0 RC4, is this an already existent bug?

[2017-11-10 11:09] zonkmachine commented on #3964
No, it's not been reported in 1.2.0-rc4 , Not to my knowledge anyway. The closest would be https://github.com/LMMS/lmms/issues/3636 . The loading window has a cancel button and this one is connected to some standard set of buttons. `<Cancel>, <Return>, <Space Bar> and <Enter>`. If you press play to quickly, `<Space Bar>`, the project loading is interrupted and may be in an incomplete state. This w

[2017-11-10 13:20] qnebra commented on #3950
This will be very interesing, because LMMS maybe was never tested with complex code auditing tools, and some bugs are just unnoticed.

[2017-11-10 15:29] musikBear commented on #3964
@fyrebreak Please post your:
* OS (+service-pack-version)
* hardware specification (ram & soundcard is the most important)

Loss of song-editor blocks was seen in 1.1.3. I managed to record it, but there was indeed no way to reproduce.
However i found a method that would ensure that no blocks was faked in song-editor:

[2017-11-10 16:06] fyrebreak commented on #3964
@musikBear
OS: Windows 7 Ultimate, Service Pack 1
Intel i5-4278U 2.60GHz
8 GB RAM
LMMS runs on ASIO4ALLv2 (if that's a soundcard, I'm noob)

Do let me know if you need any other information.

If the song-editor block is still playing notes could it still be fake? I am certain the block was playing notes before I closed LMMS.

[2017-11-10 16:08] fyrebreak commented on #3964
@zonkmachine I was using one TripleOscillator plugin and 4 Zyn plugins. And a couple of samples. So I would not consider that 'big', to be exact. No external VSTs either.

[2017-11-10 18:58] tresf commented on #3942
@boomshop here's our LADSPA-compatible calf library.  We discussed quickly on discord and have decided to keep the name.  This will cause issues with software previously using the LADSPA version of the calf plug-in which does not provide an LV2 project-upgrade path.

[veal.so.tar.gz](https://github.com/LMMS/lmms/files/1462384/veal.so.tar.gz) (x86_64 only)

I assume this inconvenience of **potentia

[2017-11-10 19:06] zonkmachine commented on #3964
No. That small a project should open in a snap. So, from #2191 I gather that we need steps to reproduce this to be able to tackle it. I've never experienced this. Do you think that what @musikBear describes fits in on your issue?

[2017-11-10 20:44] EtornaZ commented on #3964
I have also experienced this problem, and I'd have to agree with @musikBear. It seems to be the exact problem he described.

[2017-11-10 20:53] boomshop commented on #3942
@tresf, thank you very much for the quick response/processing! I'll report back.

[2017-11-11 01:43] tresf opened #3966 "Travis-CI not working"
Seems to be something changed on the Travis-CI side of the fence...

[code]

I'm not sure what this `build` file is or what it's needed for, but it seems to be in the way... The conflict occurs on this line: https://github.com/LMMS/lmms/blob/master/.travis/script.sh#L15

[2017-11-11 02:20] tresf commented on #3966
Closed via 6c9e621.

[2017-11-11 02:20] #3966 closed

[2017-11-11 10:37] ghost opened #3967 "The unusual name of Aporggio6"
As the title says the name of the sixth arpeggio isnt arpeggio but aporggio in the Zyn preset folder.
This is super minor issue but it still is kinda weird.
This was found on lmms version 1.2.0 rc4.

[2017-11-11 11:55] fyrebreak commented on #3964
I acknowledge and understand the bug that @musikBear was talking about.

However as for my case the loading was rather not interrupted, but not complete. For instance the very first track (at the top) has one random song editor block missing upon full loading of the entire project.

[2017-11-11 15:17] killjoyrekt opened #3968 "volume of a certain vst in lmms"
Recently when i try to use the VSCO 2 community edition in lmms, the volume of the note played in the vst compared to the daw is different. The volume in the daw is very soft. Is there any solution to this?

thxx

btw another vst called nuclear by music weapons had the same issue

[2017-11-11 15:41] tresf commented on #3967
Seems to be a problem with the plugin, not with our code.

https://sourceforge.net/p/zynaddsubfx/instruments/ci/master/tree/banks/Arpeggios/

Please file a bug upstream and once fixed, we'll do the same in our fork.

[2017-11-11 15:52] Spekular commented on #3968
I leave it to someone else to decide if this is a bug or not but either way
you can always add an amplifier (or five) in the effects tab to make it
louder. It won't change the volume w/ the initial settings, so you have to
open the controls and turn the volume up. You can also crank both the left
and right knobs up by the same amount to get more amplification out of one
amplifier effect.

Obviousl

[2017-11-11 15:57] musikBear commented on #3964
@fyrebreak

That is the case. After un-interupted loading 'fake-blocks' will be missing. They do not need to be the last one added, nor does they need to be acting strange in the project (except for copy behaviour)
Eg

Yes, they exists as completely normal blocks IN the project, but it would be a logical way to explain the bug as *"fake-blocks are not written to file, when save is pressed"*
So you

[2017-11-11 16:06] musikBear commented on #3968
Have you checked if the base-velocity in the midi-tab, for 'some'(?) reason, is  low. afair default is 64

[2017-11-11 18:35] gnudles commented on #3951
Strange. looks like a problem in the help window.

[2017-11-12 08:16] follower commented on #2633
In relation to the "crash on close" issue in general, I recently noticed the following recommendation in the [`QApplication::exec()` documentation](http://doc.qt.io/qt-5/qapplication.html#exec):

It would appear LMMS doesn't currently follow this advice:

https://github.com/LMMS/lmms/blob/9d317e158e09fb236da7bb75f81218d715e5dd2f/src/core/main.cpp#L966-L980

Could be worth trying out the `aboutToQu

[2017-11-12 08:21] follower commented on #3371
Note to self: [try out `aboutToQuit()` approach mentioned here](https://github.com/LMMS/lmms/issues/2633#issuecomment-343720810).

[2017-11-12 08:35] follower commented on #2890
Two things in relation to https://github.com/LMMS/lmms/issues/2890#issuecomment-340539041:

1) I noticed the following caution in a random email I encountered ([[Development] HEADS UP: OSX build requirements for 5.7](http://lists.qt-project.org/pipermail/development/2016-February/024775.html)):

target on 10.8, where std::exceptions could not be caught ... compiling
against 10.8 sdk solved that is

[2017-11-12 09:15] follower commented on #3950
Thanks for the suggestion @qnebra, my personal preference is to prioritize the use of FLOSS tools but there's nothing stopping one of the project admins submitting LMMS to that service.

[2017-11-12 09:16] follower commented on #3950
Thanks for the pointer @fundamental, have added it to the list. Looks like some super-interesting talks/papers at that conference, thanks for the links.

[2017-11-12 10:44] zonkmachine commented on #2633
Possible duplicate here: https://github.com/LMMS/lmms/issues/3357
Crash on exit in `MidiPort.cpp` (backtrace).

[2017-11-12 11:10] follower commented on #3950
@qnebra Looks like a couple of people had already submitted LMMS a while back and now there are also a couple of official looking scans pending: https://scan.coverity.com/projects?utf8=%E2%9C%93&search=lmms :)

[2017-11-12 12:45] tresf commented on #2890
Historically, we don't handle exceptions in 99.9% of code, so this seems a bit wishful thinking.

Installing the old SDK should be possible without Travis.

 https://stackoverflow.com/questions/10335747/how-to-download-xcode-dmg-or-xip-file/10335943#10335943

I've always done legacy SDKs on the originally intended OS.  I don't have time to test this theory, but if someone can prove it, I'd be happ

[2017-11-12 13:24] follower commented on #2890
BTW re: https://github.com/LMMS/lmms/issues/2890#issuecomment-264785105 (`Symbol not found: _AudioUnitInitialize`) it seems it may have been the result of a 10.11 SDK bug.

See:

 * ["AudioUnitInitialize not found when running on 10.10"](https://forums.developer.apple.com/message/9308#9308)

 * ["xcode7-beta AudioUnit.framework dyld failure"](https://forums.developer.apple.com/message/16100#16100)

[2017-11-12 13:45] follower commented on #2890
Thanks for your reply, @tresf.

I seem to have not communicated my point re: the exception handling issue mentioned in the email I linked--I can see now that the email quote can be read two ways.

But the upshot is: if LMMS doesn't handle exceptions then we shouldn't run into issues with compiling for 10.8 with the 10.11 SDK. So, pretend I never quoted that email. :)

Nothing I am suggesting requi

[2017-11-12 14:03] follower commented on #2109
For future reference, in regard to application restart, I noticed a potentially relevant page on the Qt wiki about how to do a Qt application restart without a OS process restart (assuming a Qt-only restart is sufficient): ["How to make an Application restartable"](https://wiki.qt.io/How_to_make_an_Application_restartable)

[2017-11-12 14:04] follower commented on #3681
Related: #2109 & #3627.

[2017-11-12 14:23] follower commented on #3768
FWIW if Qt Creator's progress manager linked above isn't suitable, then (mis-)use of the following (on Mac OS X) might be another option:

 * `QWindow::setWindowIcon()` [[via](http://doc.qt.io/qt-5/osx-issues.html#dock)]

 * `QtMac::setBadgeLabelText()` [[via](http://doc.qt.io/qt-5/qtmac.html#setBadgeLabelText)]

[2017-11-12 23:05] StakeoutPunch opened #3969 "Mixer window looses focus when moving channels"
**LMMS Version:** 1.2 RC4, Win64
**OS:** Win10

**Issue:**
The mixer window will lose focus when moving channels across channels that contain VST effects.

**Steps to Reproduce:**
1. Create 3 mixer channels
1. Add a VST plugin to channel 1
1. Move channel 3 over channel 2 using the right click menu or by using the Alt+Arrow Key shortcut
1. Window is still in focus
1. Move channel 3 over channel 1

[2017-11-12 23:41] tresf commented on #2890
I've made attempts to force lower SDK version without the SYSROOT flag and the bug was still present.  I'll have to test it, thanks.

Yes, you can build artifacts using a PR that never gets merged, but even easier you can turn on Travis for your fork and upload to transfer.sh from your fork.  Travis allows this from any repo.  You can even remove the Win/Lin stuff to save on CPU cycles.

[2017-11-13 14:19] musikBear commented on #3969
1.2RC4 win 32 xp3
Cant reproduce with either alt-method or context-menu
Perhaps win64 only?

[2017-11-13 15:41] follower commented on #1091
I've just randomly found @teknopaul's groove support in #3296 via a snippet of diff context in another issue.

Given the interest in this functionality and all @teknopaul's effort implementing it, it seems a shame to stumble at the last hurdle due to source control tooling (believe me, I'm sympathetic on that count :) ).

From looking at https://github.com/LMMS/lmms/pull/3296/commits it seems like

[2017-11-13 16:06] tresf commented on #1091
@follower thanks for resurrecting this.  The issue is that @teknopaul closed his PR before the feature was tested and merged.  I've reopened it for work to continue.  If you are comfortable working on this, we'd happily add you to the dev team to nudge it along.  Being on the dev team will give you access to push to his fork and get the feature implemented.

[2017-11-13 16:07] tresf commented on #1091
This statement is true for anyone that's willing to help us with PRs, BTW

[2017-11-13 17:16] follower commented on #2221
With regard to a general scripting system for LMMS, I've spent some time researching potential approaches--primarily from the perspective of integrating Qt-specific solutions into LMMS.

Qt's in-built scripting system(s) are based on JavaScript/ECMAScript and are currently in a state of transition from a deprecated system to a "new hotness".

Python seems to be the most commonly used language outs

[2017-11-13 19:39] tresf commented on #1091
@follower I've rebased #3296 against master, fixed build errors.

[2017-11-14 03:02] vwren commented on #3920
I am not a programmer, but I wonder if this could be relevant (found on MSDN and related to WinMM and MIDI—even better, the person having the problem was using an M-Audio card).  The symptoms certainly sound similar.

https://social.msdn.microsoft.com/Forums/en-US/091b793e-ce74-40fb-8a77-f99d9f4e3aa5/how-to-close-an-audio-device?forum=vbgeneral

[2017-11-14 03:17] tresf commented on #3920
@vwren thanks for the research and the hint.  It appears we're attempting to call that in the `MidiWinMM` destructor: https://github.com/LMMS/lmms/blob/stable-1.2/src/core/midi/MidiWinMM.cpp#L253

The major difference is that the article you've posted closed by handle whereas we loop over all devices and close.  Also, the Microsoft API says that problems can occur if buffers are still busy.

This

[2017-11-14 07:33] tresf commented on #2890
Here's a 10.11 artifact using Qt5.5, `CMAKE_OSX_DEPLOYMENT_TARGET=10.8` and `CMAKE_OSX_SYSROOT=[...]/MacOSX10.11.sdk`

https://github.com/tresf/lmms/releases/download/vmaster/lmms-1.2.0-rc4.235-mac10.11.dmg

[2017-11-14 07:51] tresf commented on #2890
Note, although this build succeeded, it didn't actually make LMMS work on 10.8.

![screen shot 2017-11-14 at 2 50 15 am](https://user-images.githubusercontent.com/6345473/32768633-9adb7e68-c8e6-11e7-9185-c61a8c9021d3.png)

[2017-11-14 08:25] PhysSong commented on #3959
It seems affect to `stable-1.2`, too.

[2017-11-14 08:40] PhysSong commented on #3959
#3688 seems related, since the build error is related to C++11. See [the related part](https://github.com/LMMS/lmms/pull/3688/files#diff-fbfd80c945aeb574475a68ec8646735f).

[2017-11-14 11:22] fyrebreak commented on #3964
Thanks @musikBear . I think that should be the bug I was talking about.

If there is already an awareness of this issue then I shall interfere no longer. Thank you!

[2017-11-14 11:58] PhysSong commented on #777
Boost has a lock-free queue implementation, but I remember there were problems with finding Boost in CMake scripts. Could we somehow (re-)implement [the algorithm](http://www.dtic.mil/get-tr-doc/pdf?AD=ADA309412) or something similar?

[2017-11-14 14:52] follower commented on #2890
Thanks for testing the build with that configuration @tresf, I really appreciate it! :)

### Current status

I can confirm I get the same result as you (splash screen is displayed and then this crash):

[code]

More crash detail:

[code]

### Switching to dummy audio

If I run a different version and change the audio system to Dummy (rather than SDL), and then run your version again then the above

[2017-11-14 14:55] tresf commented on #3959
@PhysSong thanks for the patch in #3972.  We can also change this back to `C99` if needed.  This decision was done to all plugins in #3688 but only as a small cleanup effort to avoid specifying `C11` in every plugin.  If the header rearrange fixes it, that's probably the best solution.  We'll need to decide how to maintain this unmaintained code since upstream has no proper VCS to submit patches t

[2017-11-14 14:58] follower commented on #2890
Yeah, so, in theory the configuration you just used should still use the more recent SDK but with support for earlier ones...

Also, my motivation for this approach is two fold:

 1. Be able to return to a single Mac build/download.

 2. Fix the drag bug.

So, (1) would be useful even if we didn't manage (2).

But currently, I guess we're on (0). :/

(I also wonder if it would make any difference

[2017-11-14 15:02] tresf commented on #2890
@follower which OS were you testing on?  Mine did load on 10.11 and the drag didn't work either, but what's interesting is the toolbar toggles when Meta/Option is pressed, so this may be a problem with event propagation.

Anyway, I'm not putting more time into the mixed builds, I'll stick to the same SDK and OS, which has been enough of a challenge on its own.

No, it could probably be calculated

[2017-11-14 15:12] follower commented on #2890
Hmmm, actually, referring back to a file I linked in an earlier comment, perhaps we're not specifying the deployment target in a way that LLVM is detecting it correctly--because there's explicit code to handle the most recent functions we're having errors with ([via](http://llvm.org/doxygen/TargetLibraryInfo_8cpp_source.html#l00355)):

[code]

[2017-11-14 15:16] tresf commented on #2890
This would probably work, but we bundle 3rd party libraries that didn't necessarily take this into consideration, so we're packaging other people's problems into our code.

[2017-11-14 15:21] tresf commented on #2890
We are, I just think SDL won't because it's provided as pre-compiled binaries from Homebrew.  One idea is to just use `homebrew` to build everything from scratch, but this would take a long time to setup a build environment as all dependencies would have to build from scratch.

When I setup a 10.8 box, this is done naturally because Homebrew has no interest in storing binaries that old so it build

[2017-11-14 15:23] follower commented on #2890
Oh...

Okay, so, from looking at [`MACOSX_DEPLOYMENT_TARGET`](https://cmake.org/cmake/help/git-stage/envvar/MACOSX_DEPLOYMENT_TARGET.html) and [`CMAKE_OSX_DEPLOYMENT_TARGET`](https://cmake.org/cmake/help/v3.0/variable/CMAKE_OSX_DEPLOYMENT_TARGET.html) it seems perhaps we should be using `MACOSX_DEPLOYMENT_TARGET` and not `CMAKE_OSX_DEPLOYMENT_TARGET`:

(Although looking at [LLVM/CLang's `MACOSX_DE

[2017-11-14 15:25] tresf commented on #2890
@follower that's good to know, but I'm still not sure how it's going to be smart enough to go into pre-compiled binaries and make them work with an old OS.

[2017-11-14 16:12] follower commented on #2890
Sorry, @tresf I wasn't seeing your replies on GitHub in a browser for some reason...

10.8.5

:/

Yeah, I did notice that at one point--does it also do that on the builds that *do* have working drag?

Yeah, that's fair enough. :) Thanks for trying it out.

I guess normally one could use the deployment target/minimum OS version used for compilation but that won't work if we're using pre-packaged bi

[2017-11-14 16:29] tresf commented on #2890
I don't think so.  Apple is supposed to be binary compatible with older and newer OSs.  I believe it's +2 and -2, or in the case of current versioning, +0.2, -0.2, but this is math I'd rather not trust.

I meant from a target OS perspective.  The old formula may be needed for compiler features, but to rebuild from scratch against an older SDK -- AND -- not conflicting with the current SDK versions

[2017-11-14 16:40] tresf commented on #2890
I believe the toolbar/shortcut refactoring was recently done by @BaraMGB in 9b5d379, so this may be a good place to look if building the master branch and trying to prevent the capture of the Meta/Option key.

From what I understand, Qt tries to automagically switch Ctrl to Option for shortcut key purposes and this may be part of the problem, but it's just a guess.

[2017-11-15 02:21] Mark-Agent003 opened #3973 "Undoing mixer volume change only undoes partially"
How to reproduce:
Open LMMS 1.2.0-rc4
Change one of the mixer's volume knob
Press Ctrl-z a few times

The effect: The volume moves back a fraction of the way, instead of going straight back to 100%

[2017-11-15 03:00] tresf commented on #3286
Closed via #3895.

[2017-11-15 03:00] #3286 closed

[2017-11-15 04:40] tresf commented on #3592
Closed via #3592.

[2017-11-15 04:40] #3592 closed

[2017-11-15 04:42] #2112 closed

[2017-11-15 05:26] PhysSong commented on #3973
Confirmed. This seems to affect other faders, too. Note that knobs are not affected.
Technical details: `Knob` disables its model's journaling in `mousePressEvent()` and restores it in `mouseReleaseEvent()`. So, tweaking a knob creates only one journaling point for single action. However, `Fader` doesn't have such logic. In other words, So, adjusting a fader creates journaling points whenever the

[2017-11-15 11:51] Sawuare commented on #3592
@tresf You miss referenced the pull that closed this issue. It should be pull #3878. :D

[2017-11-15 13:18] musikBear commented on #3973
confirming for win 32 -but Actually if you tab ctrl+z n times, the slider will move to the previous pos, but not 'stay' there, instead it will start going in direction of the next-previous pos, aso

[2017-11-15 15:18] #3959 closed

[2017-11-15 15:18] tresf commented on #3959
FYI, I've contacted the CAPS author about leveraging a VCS, this was his response...

there are no plans to move it to a version control system.

[2017-11-15 20:18] follower opened #3975 "Add native VST support for Mac OS X (WIP)"
### Background

I had originally assumed that the reason for LMMS using WINE for VST (non-)support on Mac was because there weren't sufficient native Mac VSTs to justify adding native support. After playing with [Helio Workstation](https://github.com/peterrudenko/helio-workstation/) I discovered that there's plenty of native Mac VSTs so I decided to investigate adding support for them to LMMS.

##

[2017-11-15 20:54] follower commented on #3975
Today's additional progress was what led me to decide to actually post what I've got so far...

### Displaying a VST's GUI

I've managed to get multiple VST plugins to display their functional GUI within a standalone Qt application. What's particularly nice is that the approach I'm using doesn't require any Objective-C code to be written, we just need to pass around an opaque value retrieved via `

[2017-11-15 20:59] follower commented on #3975
Cross-references to related issues/PRs: https://github.com/LMMS/lmms/issues/1468#issuecomment-72732311, #698, #2393,

[2017-11-15 21:27] boomshop commented on #3942
Hey!

The guy who initially reported the issue was unable to build/test things by now unfortunately due to some package bugs in Arch. The issue is reported, he's waiting for a reply.

Additionally I asked FalkTX (KXStudio Maintainer) if he could test it in his build environment. He wasn't able to reproduce the problem, nonetheless he thinks only renaming the binary isn't enough in this case - let

[2017-11-15 21:55] tresf commented on #3942
We should be able to handle that.

Ok, we'll need a unit test to prove that this is fixed.  We'll keep this bug open until a test build with the namespace changes has occurred, but reproducing the problem is always a good baseline for comparison when determining if a fix has occurred. 🍻

[2017-11-15 21:59] boomshop commented on #3942
True, the user who came up with the bug needs to verify it at least. I'll let you know as soon as he's able to build from git. Thanks!

[2017-11-15 22:36] vlad1777d opened #3976 "Adding Carla support to appimage build of LMMS"
Hello dear friends.

LMMS 1.1.3 worked well with Carla, but new RC4 appimage build doesn't see it.
Maybe is there a way to add support for Carla to LMMS 1.2.0 ?
I never compiled LMMS itself, so I can't tell details.
Please, @tresf , correct me if I told something wrong.
@falkTX could you tell about: how difficult it can be ?

Thanks.
Best regards,
Vladislav

[2017-11-15 22:37] falkTX commented on #3976
I don't really know what is involved, since I never built Carla as appimage myself.
Carla's use of PyQt for the frontend might make things complicated, not sure...

[2017-11-16 00:56] PhysSong commented on #3975
Looks similar to the way LMMS embeds VST editors on Windows.

[2017-11-16 02:05] PhysSong commented on #3975
Looks similar to the way LMMS embeds VST editors on Windows. However, LMMS uses a bridge process to launch (Windows)VSTs. The process creates a window and LMMS either embeds it or lets the VST runs in a separate window. In other words, we don't use `QWidget` instance directly, for VST editor GUI.

[2017-11-16 02:24] tresf commented on #3942
Name space change proposed here: https://github.com/LMMS/veal/pull/1.

I understand this may cause confusion when a DAW has LADSPA and LV2 support as some plug-ins will be named similarly however Calf plug-in append `" LADPSA"` to the plug-in name descriptor for differentiation.

Library attached.  Testing appreciated.
[veal.so.tar.gz](https://github.com/LMMS/lmms/files/1477086/veal.so.tar.gz)

[2017-11-16 04:46] PhysSong commented on #3975
And you may want to look into #3786.

[2017-11-16 13:22] boomshop commented on #3942
Awesome! For me it worked without a flaw. I forwarded it to the guy who initially reported the bug for testing, will report back asap.

[2017-11-16 14:39] boomshop commented on #3942
He just dropped me a note that everything is fine on his box, i.e. Ardour sees both LV2 and LADSPA plugins and doesn't crash when adding any of those. Feel free to close this issue whenever you like.

Thank you very much, best
Markus

[2017-11-16 14:47] tresf commented on #3942
Ok, we have a few items on our side:
* [ ] Nudge submodule to latest commit
* [ ] Regression test the plugin against old project files

[2017-11-16 23:51] zonkmachine commented on #3964
Can anyone of you save such a defective project, in `.mmp` format, zip it and attach it here?
The smaller project the better.

[2017-11-16 23:53] PhysSong commented on #3922
Should we fix factory files in `stable-1.2`, or `master`?

[2017-11-17 00:34] zonkmachine commented on #3922
I think `stable-1.2`

[2017-11-17 01:03] #3636 closed

[2017-11-17 01:46] PhysSong commented on #3670
Fixed in #3941, with #3636.

[2017-11-17 01:46] #3670 closed

[2017-11-17 01:49] tresf commented on #3922
Yes, stable.  1.3.0 is slated to use the assets repo instead.

[2017-11-17 03:21] tresf commented on #3942
Tests pass, nudged.  Closed via https://github.com/LMMS/lmms/commit/d63cfe0980645c82f2a988b3c3893b4d2dc87189.  `veal.so` will build with the new namespace and the new library name from our master branch.

[2017-11-17 03:21] #3942 closed

[2017-11-17 03:22] PhysSong commented on #3922
In the checklist, first two things can be fixed easily. I can create a pull request addressing them.

[2017-11-17 03:42] zonkmachine commented on #3964
Incidentally this just happened to me for the first time. I created a triple oscillator track with one note, cloned this track and dragged the note of the new track to a new position. Upon cloning the track once more this third track turned up with an all empty track. When saving and comparing the project with a reconstructed file, as it was intended, the only difference is the missing pattern.

h

[2017-11-17 04:05] zonkmachine commented on #3721
Well, there is off course the issue reports about randomly disappearing notes: https://github.com/LMMS/lmms/issues/3964
I'm closing this as this seem to be the most likely candidate to the mysterious vanishing notes bug. I don't get how this would have been releated to the large sized tracks.

[2017-11-17 04:05] #3721 closed

[2017-11-17 04:10] zonkmachine commented on #3964
The earliest account of this issue could be from the old bug tracker, issue 3585927, as mentioned in https://github.com/LMMS/lmms/pull/3692#issuecomment-314916491.

[2017-11-17 06:10] tresf commented on #3942
Slightly off topic, but @JohannesLorenz is working on porting the 0.90 version to LADSPA on our veal fork.  Here's some progress he's had.

![image](https://user-images.githubusercontent.com/6345473/32931760-050d77c4-cb34-11e7-9ec3-a2c10bc33bfc.png)

[2017-11-17 12:07] boomshop commented on #3942
Don't get me wrong but wouldn't it be much easier to implement LV2 capabilities into LMMS? I would guess most of the Calf plugins are close to unusable without their generic interface.

[2017-11-17 12:08] boomshop commented on #3942
And thanks for the hint with the copyright information!

[2017-11-17 12:51] PhysSong commented on #3668
@tyehu Can you still reproduce this issue with 1.2.0 rc4?

[2017-11-17 13:38] HViktorTsoi opened #3978 "winebuild failed when compiling VST on Ubuntu 14.04"
**On Ubuntu 14.04,**
**Build logs:**
[code]

**The wine2.0.3 and following dependencies have been installed:**
[code]

[2017-11-17 14:37] musikBear commented on #3964
@zonkmachine that is sooo strange it should happen *now* 😮 -But was that also on 1.1.3 or have *you* now seen this on rc4, and what OS?

[2017-11-17 15:00] tresf commented on #3942
Yes, in the long run, adopting LV2 will make Calf much easier for integration.  It's also on the roadmap for offering a standard interface for our instrument plugins since we never added DSSI support.

In the short-term, we have an initiative to remove the hundreds of thousands of lines of code in our project that are provided solely by 3rd parties to 1. Clean up our project and 2. Encourage upstr

[2017-11-17 15:19] tresf commented on #3978
Did you also install `gcc-multilib g++-multilib` ?  Per https://github.com/LMMS/lmms/wiki/Dependencies-Ubuntu#vst

[2017-11-17 19:44] tresf opened #3979 "Upgrading CAPS LADSPA Plugins"
The [CAPS LADSPA plugins](http://quitte.de/dsp/caps.html) -- or more properly known in LMMS as "`C*`", are authored by Tim Goetze and they have changed considerably over the years.  The current version as of writing this is 0.9.24.

Current examples:
![image](https://user-images.githubusercontent.com/6345473/32966562-1da6f570-cba8-11e7-89c5-3ff25ebbee79.png)

To remain consistent with our goal to

[2017-11-17 20:11] StakeoutPunch commented on #3979
😄
New is good, people requiring the old plugin versions can use LMMS versions that contain them imo

[2017-11-17 21:46] michaelgregorius opened #3980 "Fonts of LMMS 1.2.0-rc4 are blurry on Windows compared to 1.2.0-rc2"
The fonts of LMMS 1.2.0-rc4 look quite blurry on my Windows 8.1 machine. Here's rc4 (click the image for full resolution to better see the differences):
![lmms-1 2 0-rc4-fontsblurry](https://user-images.githubusercontent.com/9293269/32970178-2e4541bc-cbe8-11e7-853f-a66fca8235a0.png)

And for comparison here's rc2:
![lmms-1 2 0-rc2-fontssharp](https://user-images.githubusercontent.com/9293269/32970

[2017-11-17 21:56] tresf commented on #3980
Yes, this is intentional until we can add proper HiDPI support.  More information here: https://github.com/LMMS/lmms/pull/3531

Duplicate of https://github.com/LMMS/lmms/issues/2510.

[2017-11-17 21:56] #3980 closed

[2017-11-18 01:46] tresf opened #3981 "JSON project format"
Proposal to add a new JSON-backed, ZIP-encapsulated project format.

Mockup:
![image](https://user-images.githubusercontent.com/6345473/32975599-cc161a4a-cbd6-11e7-8173-002e9b10556a.png)

![image](https://user-images.githubusercontent.com/6345473/32975673-ab4f6496-cbd7-11e7-89f6-c4a3f3436e4d.png)

 * JSON based
 * Standard ZIP format
   * Provides quick access for developers to open/debug projects

[2017-11-18 02:03] PhysSong commented on #3978
Installing multiple wine may break the build. Could you remove `wine-devel`, re-run CMake, and build it again?

[2017-11-18 02:07] zonkmachine opened #3983 "Crash in Fx-Mixer"
I got this while preparing https://github.com/LMMS/lmms/pull/3982
With 3982 you can't trigger the crash with the method described below but I think the issue could still be there.

[mixercrash.mmp.zip](https://github.com/LMMS/lmms/files/1484284/mixercrash.mmp.zip)

To replicte crash:
Open mixercrash.mmp
Add two mixerchannels, 4 and 5
Solo channel 5
Remove unused channels.
Add new channel 4
Solo ch

[2017-11-18 04:55] HViktorTsoi commented on #3978
Thx... I've installed `gcc-multilib` and `g++-multilib`, and removed `wine-devel`, but still it not work....

[2017-11-18 05:01] PhysSong commented on #3978
I forgot to.mention this: you need to remove `CMakeCache.txt` before you run CMake.

[2017-11-18 07:55] HViktorTsoi commented on #3978
Thanks.. I got the reasons... The error log shows
 `**winegcc: winebuild failed`
 and when I tried to run `winegcc --version` alone, it also shows
`winegcc: gcc-4.7 failed`
After google it, I found the reason is that, the `gcc-multilib` I've installed is `gcc-4.8-multilib`, but winegcc requires version 4.7, so I tried
` sudo apt-get install gcc-4.7-multilib`
And then build it successfully...

[2017-11-18 07:55] #3978 closed

[2017-11-18 13:44] musikBear commented on #3979
👍
Breaking compatibility is the worst thing any project can do. just saying
Personally, i would definitively miss c*Clip

[2017-11-18 18:34] zapashcanon opened #3985 "CMake warning"
Hi,

When using:

[code]

I got:

[code]

[2017-11-18 22:00] Mark-Agent003 commented on #3462
I don't think just adding an "Add FX" button is a good idea, what would the sliders control, the W/D? What about just being able to connect the per-note sliders to a knob, like how automation editors are connected by simply ctrl-dragging a knob into them. I think FL allows for this behavior, but I'll have to check on that. Adding a dropdown where the "Note Volume:" currently is may help make this

[2017-11-18 22:21] Spekular commented on #3462
+1 for per note sliders that connect to anything.

On Nov 18, 2017 23:00, "Mark-Agent003" <notifications@github.com> wrote:

[2017-11-19 01:50] #3952 closed

[2017-11-19 02:19] PhysSong commented on #3397
@PaulBatchelor Can you still reproduce this issue with latest `stable-1.2`?

[2017-11-19 02:23] PhysSong commented on #3397
If you still able to do so, could you please post backtrace with all threads(using `thread apply all bt`) and the problematic project file?

[2017-11-19 02:40] StakeoutPunch commented on #3979
c*clip was renamed to c*saturate.

[2017-11-19 03:07] StakeoutPunch commented on #3637
More information on bug: Clicking the volume slider and moving the cursor to the side (out of vertical alignment) will not trigger all the notes when changing the slider value.

[2017-11-19 03:52] tresf commented on #3979
Here's an exhaustive list of the plugins.

Note, I've already mapped:
*  Eq -> Eq10 via https://github.com/tresf/lmms/commit/5bee27cc40be8b11349660ed9a5ec1843bca2f61
* Plate2x2 -> PlateX2 via https://github.com/tresf/lmms/commit/5bee27cc40be8b11349660ed9a5ec1843bca2f61
* Clip -> Saturate via  https://github.com/tresf/lmms/commit/0e14f399c42ded79910e716ce4efb3b3dbba7ae2 (not 100%)

0.4 | 0.9
-- | -

[2017-11-19 04:02] PhysSong commented on #3623
Here's the backtrace:
[code]

[2017-11-19 15:53] follower commented on #2221
Here's a proof-of-concept of a (simple) Javascript-able application (using the newer but less capable `QJSEngine`): <https://github.com/follower/qtjs-test>

The application has a "dial" in its GUI and you can write a Javascript script to set the position of the dial:

![qtjs-test-screenshot](https://user-images.githubusercontent.com/189962/32992117-938d566c-cdab-11e7-85d5-1b59fef39db6.png)

If you

[2017-11-19 16:05] follower commented on #1257
Perhaps an interim step could be in creating a list of "dependencies" (like a Python/pip `requirements.txt` file) which could then be installed (either from files within a project package or from an existing site--using a similar process to something like Homebrew).

(And if the original site no longer exists perhaps it could prompt the person to "Make a noise like 'errrrr-wwwssshh-tnnnng'... Grea

[2017-11-19 18:06] gi0e5b06 commented on #3983
Bad design here... Solo should be a property of the mixer, not of the channels.
Anyway m_lastSoloed was not updated when deleting or moving channels.
https://github.com/gi0e5b06/lmms/commit/6e909bf4b17b7a6f1279ed4dd2fe50a3f041cd10

[2017-11-19 18:12] vlad0337187 opened #3989 "Some patterns in "Song-Editor" and "Beat+Bassline editor" are displayed larger than they are"
Hello.

Some patterns in RC4.96 are displayed larger than they are in Song-Editor.
In Piano roll they are displayed normally, also they are played normally.

Here is example:
![screenshot from 2017-11-19 20-02-34](https://user-images.githubusercontent.com/12682937/32993773-6d7e4e40-cd65-11e7-8660-fcc7deb18b6e.png)

Example with beat: https://github.com/LMMS/lmms/issues/3989#issuecomment-345537384

[2017-11-19 18:12] vlad1777d commented on #3989
Example with beat:

[2017-11-19 18:45] vlad1777d opened #3990 "LMMS freezes for a long time when pressing "Add effect""
Hello.

LMMS RC4.96 freezes for a long time when pressing "Add effect" in "FX-Mixer".

I don't know, is it needed, but I added strace output.
(`sudo strace '/home/vlad/Programs/audio/lmms-1.2.0-rc4.96-linux-x86_64.AppImage' --allowroot`)

Line in terminal was before I pressed "Add effect button":
`wait4(-1, VST sync support disabled in your configuration`
Strace output before closing (I pressed bu

[2017-11-19 19:45] zonkmachine commented on #3989
I don't see this on my machine. If you open one of the patterns in the Piano Roll and zoom to 800% you may find that the last note is extending into the following pattern. If not, please upload a project that shows this issue.

[2017-11-19 19:52] tresf commented on #3989
Sounds similar to https://github.com/LMMS/lmms/issues/2660

[2017-11-19 22:07] Mark-Agent003 commented on #3989
I've had this happen before also, although I could never figure out why.

[2017-11-19 22:15] vlad1777d commented on #3989
Yes, @zonkmachine is right. But I don't understand why was it happened.
I never changed quanting size of notes - it's 1 / 16, so it must be changed only in such diapason, never making that extra little size.
https://user-images.githubusercontent.com/12682937/32996167-eef8609c-cd87-11e7-908c-98570a115114.png

[2017-11-19 22:41] zonkmachine commented on #3989
@vlad1777d

Well. You could have slipped and made a `<Shift> + <Alt>` stretch which overrides the selected note length.
Then again, it could always be a bug in there... :)

Did you import this from 1.1.3 ?

[2017-11-19 22:49] vlad1777d commented on #3989
@zonkmachine , no, I started making beat from scratch.
Thanks for a tip. Now beats and patterns are needed width =)

[2017-11-19 23:35] zonkmachine commented on #3989
I think I know what happened here.

To replicate:
1. Add a note, 1/16 is a good length.
2. Hover over the right edge, press the left mouse button and drag it to the far left.
3. Let go of the mouse button.
4. Regret that move and drag it to the right and now you're slightly too long but it won't show at 100% zoom.
5. Since you have the setting to remember the last note length you're now set for a

[2017-11-19 23:43] vlad1777d commented on #3989
@zonkmachine , yes, right, I did so, I minimized my a mistake some notes
(I wanted to make them lesser, but by a mistake I often make them minimum size).

[2017-11-20 00:48] tresf commented on #3989
I'm not understanding this.  Do you mean quantization snapping?  Last note is exactly that... the last note, so I'm not sure what you're suggesting.

[2017-11-20 01:27] vlad1777d commented on #3989
@tresf , I think, that he means to make impossible resize note to size lesser, than amount of quantization.
For example, is quantization size is 1/16, than note must not be get lesser than 1/16 when you resize it.

[2017-11-20 01:38] zonkmachine commented on #3983
Thanks!

Tested and works. I had to adapt it a bit to Qt4/Stable-1.2.0 and left out stuff like whitespace fixes for now.

Here's the patch I tested with.
https://gist.github.com/zonkmachine/9a36ec5e58623daa34befb8edb46cde9#file-mixercrash-diff

[2017-11-20 11:24] gi0e5b06 commented on #3989
Same than for the automation: the last point should not belong to the note.
If you have 1/16, the length of the quantized note should be exactly 1/16 (or a multiple), not 1/16+1 frame.

[2017-11-20 15:37] tresf commented on #3989
@gi0e5b06 please stop deleting your messages on this tracker.  They make it very difficult to reply in-context when you do that.

For example, is quantization size is 1/16, than note must not be get lesser than 1/16 when you resize it.

Yeah, I guess this makes sense, I just use this bug a lot when I'm producing, so I'm used to it.  Perhaps I'm too biased to vote on this feature.

[2017-11-20 15:56] tresf opened #3992 "CheckSubmodules always fetches WeakJack"
`CheckSubmodules.cmake`'s logic for fetching submodules is currently flawed for `WeakJack`.

Per @PhysSong reported in #3970:

[2017-11-20 15:58] tresf opened #3993 "CheckSubmodules won't fetch rpmalloc"
`rpmalloc` uses a non-default branch and shallow clones (e.g. `--depth 1`) don't appear to like this.

The proposed workaround is to have CMake use a workaround when this specific error is detected.

[code]

[2017-11-20 16:01] tresf opened #3994 "CheckSubmodules isn't locale-aware"
`CheckSubmodules.cmake` uses some fallback detection logic, but it uses English keywords to detect certain scenarios.

Here's an example of a non-English message:

[code]

`CheckSubmodules.cmake` needs to be enhanced to work with non-English locales.

[2017-11-20 16:05] PaulBatchelor commented on #3397
I am still able to reproduce this bug. I have attached both the project file and the backtrace below:
[LMMS_3397.zip](https://github.com/LMMS/lmms/files/1488255/LMMS_3397.zip)

[2017-11-20 16:55] zonkmachine opened #3995 "Automation Editor - Draw line not aligned"
![drawline](https://user-images.githubusercontent.com/6368949/33030066-9bf8f45e-ce1a-11e7-8353-c83a56957fd1.png)

Using the `<Shift>` modifier draws one point at the same level at the beginning and/or the end of the line.

[2017-11-20 16:57] musikBear commented on #3989
OhUh careful -even though it looks as a good idea to not allow a 1/16 note to be sub-sized, enforcing that heuristic for all notes, would be really annoying for *longer* notes
Imo its up to user to make sure, no notes are overshooting, not lmms'

[2017-11-20 17:10] musikBear commented on #3397
I cant reproduce with your file on win32 rc4 (std settings wave)
@PaulBatchelor
I miss flg. info:
* what do you export to
* do you use two different names, or do owerwrite with same name?

In fact, could you list your exact reprocurable method?

[2017-11-20 17:15] gi0e5b06 commented on #3989
My post was not relevant to this issue. The problem here is different and appears in two steps:
1) there is a minimum length (and this is not 0)
2) the quantization applies to the length of the note and not to the end point.

Quantizazing the start, the length and the end of the note are three different things and I don't know what the expected behavior is. But setting a minimum length to one step

[2017-11-20 17:20] tresf commented on #3989
@gi0e5b06 thanks for the explanation.  In the future if you feel the need to delete a message it helps others to simply edit it and explain why.  The reason for this is that email notifications contain your messages and replies to those emails may be in response to your messages.  Alternately, you may use strikeout. `~~i didn't mean to type this~~`.

[2017-11-20 17:44] Umcaruje commented on #3995
I think the <kbd>Shift</kbd> behaviour can be dropped tbh, we can do proper lines now in the automation, and it's from a time where you couldn't do that, so you had to reside to the shortcut.

[2017-11-20 18:00] zonkmachine commented on #3995
Right. I'm perfectly fine with removing this.

[2017-11-20 19:01] Spekular commented on #3995
It's still useful. For example if you set quantization to 2Xths and draw a
line, then Xths and draw another you can get a triangle wave type shape
very quickly.

On Nov 20, 2017 19:01, "Oskar Wallgren" <notifications@github.com> wrote:

[2017-11-20 19:22] Sawuare commented on #3995
This `Shift` mode is handy.

![image](https://user-images.githubusercontent.com/25503477/33035887-c19b4e14-ce3d-11e7-9e48-ec2b3dd40a66.png) ![image](https://user-images.githubusercontent.com/25503477/33036054-60729308-ce3e-11e7-96ad-4c00630a9146.png)

[2017-11-20 19:36] PaulBatchelor commented on #3397
I'm running on Slackware Linux 14.1 64-bit, and I am using JACK version 0.124.1.

Here are the steps I do to get the bug:

1. start LMMS
2. open song one_note.mmpz
3. select export from menu
4. save as "one_note.wav"
5. leave all default settings (on my machine: 24-bit 44.1Khz, sinc Medium, no oversampling). hit start.
6. select export from menu again
7. save as "one_note.wav". yes to overwrite.
8

[2017-11-20 22:07] vlad1777d commented on #3989
@musikBear , I didn't get it:

And about:

As for me, I would vote for this feature. Because I don't see any use-case for resizing notes lesser than quantizing size. And if such will appear - it's easy to change quantizing size.

And changing size of note to be not multiple to quantizing size (in our case - lesser than it and not multiple to it)  contravenes to the essence of quantizing - making a

[2017-11-20 22:10] mendomusic commented on #3959
I confirm that it builds again.
Thanks!

[2017-11-20 22:33] PhysSong commented on #3397
@PaulBatchelor Does LMMS still hangs if you use other audio backend?

[2017-11-20 23:59] PhysSong commented on #3995
Confirmed. I just found another bug:

1. Add a point.
2. Hold shift key and click a position which is slightly closer to the first point than the exact position of the point which will be inserted.
3. One point in the line will be missing.

[2017-11-21 00:10] zonkmachine commented on #3995
OK. It looks like a majority is for keeping it. Hacking...

[2017-11-21 00:17] zonkmachine commented on #3995
@PhysSong I'm pretty much done straightening out the line. I have seen disappearing points but I'm currently failing to reproduce it from your recipe above.

[2017-11-21 00:59] PhysSong commented on #3995
@zonkmachine Could you try edited steps and test what happens?

[2017-11-21 01:12] zonkmachine commented on #3995
![steps](https://user-images.githubusercontent.com/6368949/33049627-52bf73c0-ce61-11e7-965e-b2fe05c60ae4.png)

[2017-11-21 01:17] PhysSong commented on #3995
@zonkmachine Could you retry with significant difference in Y position difference?

[2017-11-21 01:27] zonkmachine commented on #3995
Yes. I'm testing now with all settings I can think of but don't see anything. Is this supposed to be reproducible every time?

[code]

[2017-11-21 01:45] PhysSong commented on #2047
Okay... Target to `master`, or `stable-1.2`? I guess this issue isn't serious.

[2017-11-21 01:50] zonkmachine commented on #2047
`stable-1.2` I think. This is a regression that many have pointed out.

[2017-11-21 03:33] tresf commented on #3989
@vlad1777d what I mean is, I take advantage of the bug that allows note size smaller than quantization when it should not.  It's a convenience, but holding the modifier key to do so is OK too.

[2017-11-21 04:43] tresf commented on #3993
Closed via #3996.

[2017-11-21 04:43] #3993 closed

[2017-11-21 04:44] tresf commented on #3992
Closed via d634ed3.

[2017-11-21 04:44] #3992 closed

[2017-11-21 04:44] tresf commented on #3994
Closed via d634ed3.  Please ask to reopen if this patch does not work on your system.

[2017-11-21 04:44] #3994 closed

[2017-11-21 06:37] Spekular commented on #3989
I don't think the issue is with scaling a note to be smaller than the
current quantization. Scaling a note from 3/32 to 1/32 at 1/16 quantization
seems perfectly valid to me. The issue is when shortening the note by the
current quantization would result in a zero length note (instead we get a
really short note because a zero length note would be bad). The only
solution I can see to this problem is

[2017-11-21 11:03] lukas-w commented on #2047
Are you sure it is a regression? AFAIK we've always been using `float` for this.

Btw, if we want to increase precision further (as even `double` will have measurable error eventually especially with high sample rates as @michaelgregorius pointed out in https://github.com/LMMS/lmms/issues/2047#issuecomment-265543960), we could make use of a special algorithm such as [Kahan summation](https://en.wi

[2017-11-21 13:02] PhysSong commented on #2047
I think it can be fixed by using the method I mentioned above. I will make a quick test for that.

[2017-11-21 13:27] PaulBatchelor commented on #3397
@PhysSong seems to work fine using ALSA.

[2017-11-21 14:24] PhysSong commented on #2047
I've tested with `double` and it showed perfect sync for 1 minute note with 7040Hz(A8), sampling rate 192000Hz, oversampling x8. Theoretically, the error from `double` is negligiby small, even for one-day-long notes, if I remember correctly.

[2017-11-21 15:12] zonkmachine commented on #2047
No. I took it from memory. Memory wrong.

[2017-11-21 15:50] musikBear commented on #3989
Why should user not be able to modifier-drag f.i. a 1/4 note to <1/16 in a situation where Q is 1/16?
Or do you **exclude** modifier-drag from that rule?

[2017-11-21 15:51] musikBear commented on #3397
Linux issue, i step out

[2017-11-21 16:05] tresf commented on #3989
Correct, we're not talking about the modifier key.

[2017-11-21 22:16] gi0e5b06 commented on #1165
https://github.com/gi0e5b06/lmms/commit/1e3eb1b1b85bdefe9ee30e229c05a3374420dc22
![humanizer_20171121](https://user-images.githubusercontent.com/30031949/33099683-f2ff49b8-cf11-11e7-80b2-7a8fdc968f9f.png)

[2017-11-22 01:02] PhysSong commented on #3397
@PaulBatchelor Are you able to get backtrace using gdb with `thread apply all bt`? Providing other threads' state would be more useful.

Anyway, does the first export breaks playback as well as the second export? Those results can be useful when investigating this issue.

[2017-11-22 01:40] zonkmachine commented on #3989
Precisely what I meant.

A quick fix. Proposed new way is limiting note length to quantization value. Use `<Shift>` key as usual to set smaller value and that value will stick as before when lengthening the note. If you let go of the note, grab it at the end and drag it to the quantized minimum once more this extra bit will once more be gone. I like it anyway. :)
The main rationale is that a rando

[2017-11-22 01:44] zonkmachine commented on #3397
@PhysSong There's a backtrace zipped in this comment above: https://github.com/LMMS/lmms/issues/3397#issuecomment-345741619

[2017-11-22 04:35] PhysSong commented on #3397
Ah, thanks!

[2017-11-22 05:24] Spekular commented on #3989
@zonkmachine Am I misunderstanding or are you saying all notes will snap to
multiples of the current quantization? For example a 1/32nd note scaled up
at 1/16th Q snaps to 1/16th length rather than 3/32nds?

I know this solves this particular problem but think it's worse otherwise.

[2017-11-22 12:42] lukas-w opened #3999 "MSVC support"
Creating this issue to keep track of tasks required to make LMMS build compatible with MSVC (related to #3492). I'll try to keep this list up to date:

- [ ] LMMS core code & CMake: I have most of the necessary fixes locally, will open a PR soon
- [ ] Plugins that fail building:
  - [ ] LadspaEffect
  - [ ] Monstro
  - [ ] Organic
  - [ ] ReverbSC
  - [ ] SID
  - [ ] VST
  - [ ] Vibed
  - [ ] Xpre

[2017-11-22 12:50] zonkmachine commented on #3989
Yeah, turns out it kind of sucks a bit...

[2017-11-22 13:13] lukas-w commented on #3985
For the record, this is what [`CMP0026`](https://cmake.org/cmake/help/v3.0/policy/CMP0026.html) is about:

I don't think we're using the `LOCATION` property anywhere, so this should be safe to set to `NEW`. The only use of `LOCATION` was removed via 65919749fed576ed2b3a8d2785bd0290d238b6e9 (#1891).

[2017-11-22 17:55] zonkmachine commented on #3995
@PhysSong Can you test #3997 and see if this fixes the the issue you saw?

[2017-11-22 18:15] BLACKROB005 opened #4001 "Gltich causing Automation Tracks to forget their connections"
For what I can assure you is a very good reason, I am automating whether an automation track is muted.

When I leave the project and come back, the automation track muting other automation track loses all its connections.  So, it isn't connected to them anymore.

Does this happen in all cases, or is this unusual?

I don't recall having trouble when muting other types of tracks... so it is either j

[2017-11-22 22:09] PhysSong commented on #3995
Okay, I will.

[2017-11-22 23:01] tresf commented on #3985
Closed via 79e4775.

[2017-11-22 23:01] #3985 closed

[2017-11-22 23:17] vlad1777d commented on #3990
Do only I have such issue ?
It appears in both cases: when I'm trying to add effect in "FX-Mixer" and in instrument's "FX" tab.

[2017-11-22 23:49] vlad1777d opened #4003 "Piano Roll: not all notes are played, if one goes right after another."
Hello.

Problem.
Notes, that go just right after the same one aren't played by Piano Roll. They aren't intersected, I checked on 800 % of zoom.

Here are notes:
![screenshot from 2017-11-23 01-42-25](https://user-images.githubusercontent.com/12682937/33154271-edfc4e0a-cfef-11e7-9822-26af5980f4ad.png)

Same notes under zoom 800% (they doesn't intersect):
https://user-images.githubusercontent.com/12

[2017-11-23 01:08] PhysSong commented on #3397
https://github.com/LMMS/lmms/blob/55076d0bb05be9144dc0ca2bef892c51621a8e39/src/core/audio/AudioJack.cpp#L399-L403

After rendering finishes, `AudioJack`'s `m_stopped` is set to `false`. However, Mixer's FIFO buffer is empty at the same time. So JACK backend stops.

I think this condition should be removed and replaced properly.

[2017-11-23 02:09] PhysSong commented on #4003
I think this issue is two-fold: piano-roll display issue and note on/off issue. Display issue is already reported in #3919.
By the way, which instrument is problematic? I guess you mean a note does not play its sound. Is it SF2 player, ZynAddSubFX, or other instrument?

[2017-11-23 02:10] PhysSong commented on #4001
Duplicate of #3781.

[2017-11-23 02:10] #4001 closed

[2017-11-23 10:53] gi0e5b06 opened #4004 "Integrated EQ on each fx line"
It's quite common on mixing consoles to have at least an EQ on each channel.
![mixer_20171123](https://user-images.githubusercontent.com/30031949/33169262-492cb95a-d044-11e7-9a07-b1d3c4fa8dda.png)
Some code https://github.com/gi0e5b06/lmms/commit/dba523c5b7637548e09fb1f4e20a13778e0c1b38

[2017-11-23 13:26] PhysSong commented on #3397
FYI, #3207 might be fixed with the same way...

[2017-11-23 16:06] musikBear commented on #4003
@vlad1777d  can you upload project?

[2017-11-23 16:11] musikBear commented on #4004
but could it not just be an option in settings:
"Create all new Mixer-channels with default 10bandEQ"
Or an other EQ -Could be user selected as *Default-EQ*
I think that the cost i realestate for two dials is high

[2017-11-23 17:10] Z3R0C commented on #4004
why? the selection is the on/off button.

that's generally a good idea!

[2017-11-23 18:14] gi0e5b06 commented on #4004
Thanks for the feedback.
Yes, an option in the configuration to show/hide the dials (actually there are three) would be nice because it may not be useful for every one.It's mostly for live performances, even if it could be used when composing. This is why I picked up the DJ EQ effect to implement it. Please note that this effect is not part of the effect chain and it is applied after it. With the

[2017-11-23 18:18] michaelgregorius commented on #4004
I agree with @musikBear that we should not slap a default EQ on each channel. Mixer channels in DAWs are different from analogue mixing consoles in that they offer much more flexibility due to their ability to use different plugins as their inserts. This has the obvious advantage that the user can choose which EQ (s)he wants to use on a certain channel.

The implementation shown in the screenshot

[2017-11-23 18:23] michaelgregorius opened #4006 "Dependency perl-list-moreutils needed on Arch builds"
I noticed that I have to install `perl-list-moreutils` and it's dependency `perl-exporter-tiny` to be able to build the SWH plugins on Arch.

Is this a permanent new dependency? If the answer is "yes" then the dependencies list for Arch needs to be updated: https://github.com/LMMS/lmms/wiki/Dependencies-Arch

[2017-11-23 18:53] vlad1777d commented on #4003
@PhysSong , I use SF2 player.

[2017-11-23 18:56] vlad1777d commented on #4003
@musikBear , of course I can, but it's at home (I'll be there after 2 hours).
Also that project is really big, so I'll try to cut only "problem" place and create new project with only one instrument and pattern.

[2017-11-23 21:52] tresf commented on #4006
Done, thanks.

[2017-11-23 21:52] #4006 closed

[2017-11-23 21:55] tresf commented on #4006
Supporting documentation: https://github.com/LMMS/lmms/pull/3931

[2017-11-23 21:58] vlad1777d commented on #4003
@musikBear , here is example with bug in Piano Roll: [bug___lmms_piano_roll.mmpz.zip](https://github.com/LMMS/lmms/files/1500243/bug___lmms_piano_roll.mmpz.zip)

[2017-11-23 22:11] GingkathFox opened #4007 "MIDI for MacOS"
Idk if this was added, but could we add support for MIDI on Mac?
I might be able to help a little(I use Windows *cri*)!

[2017-11-23 22:42] PhysSong commented on #4007
We already have MacOS MIDI support since 1.2.0-rc1. Could you please download our newest release?

[2017-11-23 23:38] GingkathFox commented on #4007
Oh, kk!

[2017-11-24 00:13] PhysSong commented on #4003
Just tested. The second C5 note plays sound, but it's not displayed. I think this is a duplicate of #3919.

[2017-11-24 00:44] #4007 closed

[2017-11-24 00:47] tresf commented on #4007
Duplicate of https://github.com/LMMS/lmms/issues/1153.

[2017-11-24 01:03] vlad1777d commented on #4003
Yeah, it is.
Sorry, I searched by "note", "note not", "note not played", but didn't found that =)

[2017-11-24 11:12] lukas-w opened #4009 "Qt Assert failure: sendEvent across threads"
From #4000:

An assertion inside Qt fails when releasing a preview note (from presets, instrument window, or piano roll). Opening a demo project and playing works fine.

[code]

This can only be reproduced with a debug build of Qt.

Backtrace:

[code]

Looks like some object lives in a different thread than its parent, which is disallowed by Qt. I'm not sure how that's possible, because Qt usually

[2017-11-24 11:38] PhysSong commented on #4009
I think there should be `NotePlayHandle::~NotePlayHandle` in `<More>`.

It means "from UI thread". So `NotePlayHandle` and related instances(including `BoolModel` which inherits `QObject`) will be constructed in the UI thread. However, every `PlayHandle` instances are deleted in Mixer thread, which causes this assertion failure.
Note that this was not present before #3884, because of the wrong des

[2017-11-24 11:46] PhysSong commented on #4009
I just found this should be able to reproduced without #3884. With 1.2.0-rc4(or not too older), you should be able to trigger this by previewing audio samples(#3884 was merged after rc4).

[2017-11-24 12:27] lukas-w commented on #4009
Correct. I edited my comment to include the full stack trace.

Thanks for investigating. 👍 I think this can be fixed by just using `deleteLater` in `sharedObejct::unref()`.

[2017-11-24 13:52] lukas-w commented on #4003
Closing as duplicate of #3919.

[2017-11-24 13:52] #4003 closed

[2017-11-24 13:59] Sawuare opened #4011 "EQ handles aren't updated when entering values after dragging them."
To reproduce:
1. Add the LMMS "Equalizer" effect anywhere.
2. Drag any handle.
3. Change the gain, frequency or resonance of the same handle by entering a value (double-clicking the control and typing a value).

**Edit:** This bug doesn't affect the processing of input or the visualization of output, it's just a GUI issue with the handles.

[2017-11-24 14:58] Spekular commented on #3969
Reproduced with Ambience and LittleAlterBoy, both of which have a
"controls" button on the effect and a GUI. Doesn't occur with mda De-ess or
mda Image, neither of which have a "controls" button.

Moving an FX channel with an offending VST effect also causes the mixer to
lose focus. So it seems like any time a mixer channel containing a VST
effect with a GUI changes position, mixer focus is lost.

[2017-11-24 20:41] vlad1777d commented on #3954
Maybe such approach will be more seamless with Song-Editor:
https://github.com/LMMS/lmms/issues/3025
You could group instruments by your wish not depending on Beat-Bassline's pattern.
Some of them could be on several patterns.

[2017-11-25 14:04] musikBear commented on #3954
That is actually so simple to do by 'hand', that a method is overkill
Use the *select-all-notes-on-this-key* option n times, and x-them from one pattern, v-them to another empty TCO
A method is next to impossible, because selecting the notes, is really a creativity action

[2017-11-25 14:07] musikBear commented on #4003
Thanks, i try it out and see if i also get the bug

[2017-11-25 16:33] vlad1777d commented on #3954
@musikBear , maybe overkill, maybe. I really don't know.
It's just like adding tabs to termilal (or browser) when you can create separate windows of them in your OS =)
That would help to simply changing places of blocks.
But this is offtop =)

I want only to show that grouping instruments would be better idea, because it would give almost absolute freedom to user, not limited by free place in Song

[2017-11-26 02:39] PhysSong commented on #3785
@gi0e5b06 Can you provide backtrace for this issue? Currently no one can reproduce this bug, except you.

[2017-11-26 02:43] PhysSong commented on #3690
Related: #1950

[2017-11-26 02:56] PhysSong commented on #3928
Unlike most of SWH filters, LS filter can have cutoff near the nyquist frequency(e.g. 0.5 * sampling rate). The usual value is 0.49 or 0.45(at least in other SWH plugins) times the sampling rate.
https://github.com/LMMS/lmms/blob/46ef3c6a11e9713c24aa3e9b01c658b2941a58d6/plugins/LadspaEffect/swh/ls_filter_1908.c#L273

It is the same for [upstream](https://github.com/swh/ladspa/blob/692b4001120aea16

[2017-11-26 02:59] PhysSong commented on #3877
@musikBear Could you please upload minimal part of the project, or provide exact steps to reproduce?

[2017-11-26 03:04] PhysSong commented on #3760
Does this still happen for RC4?

[2017-11-26 03:11] PhysSong commented on #3668
This is fixed in `stable-1.2` branch and it will be in RC5, which will be released soon. If you still have issue with RC5, please feel free to request reopening. :)

[2017-11-26 03:11] #3668 closed

[2017-11-26 04:23] PhysSong commented on #3407
Confirmed with rc2(in my case, helm not crashed but hanged) and fixed in rc4. Closing.

[2017-11-26 04:23] #3407 closed

[2017-11-26 05:21] PhysSong commented on #2845
@unfa Can you reproduce this with latest `stable-1.2`?

JACK issue would be fixed in #4005.

[2017-11-26 05:51] PhysSong commented on #3995
I mean https://github.com/LMMS/lmms/pull/3997#issuecomment-346416449 there.

[2017-11-26 06:13] PhysSong commented on #3312
It seems fine to do nothing in `Song::updateLength` while loading projects and calling that once the loading finishes. Any opinions?

[2017-11-26 06:17] PhysSong commented on #3089
Fixed in #3872.

[2017-11-26 06:17] #3089 closed

[2017-11-26 06:26] PhysSong commented on #864
@musikBear Tested, seems to be fixed in rc4. If you can still reproduce this in rc4, please feel free to request reopening. :smile:

[2017-11-26 06:26] #864 closed

[2017-11-26 08:02] tresf commented on #3760
I'm skeptical of this.  It generally means some files in `/Applications/LMMS` were locked for editing, which means the `lmms` process is hung up in some way.

The "DO NOT ENTER" sign is a sign that the copy failed which can be a sign of hard drive corruption or the launchd service may be running very very slow.

Anyway, this issue is `invalid`, closing.  Evidence:

![screen shot 2017-11-26 at 3 00

[2017-11-26 08:02] #3760 closed

[2017-11-26 12:01] gi0e5b06 commented on #4004
I guess the main point was not understood: it's for live perfs (or quick changes for playing/emulating a different sound system). The EQs are not part of the song but belong to the LMMS configuration.
I already agreed the EQs should not always be visible (and when they are hidden, they are turned off).
Nothing is frozen, I'm experimenting. But I find it quite cool & useful so far.

Concerning the

[2017-11-26 13:25] vlad1777d commented on #4004
Hello.
Personally I use no eq in mixer tracks in most of time. I just use low pass filter + high pass filter + compressor + (maybe) some effect.
I'm not sure it's needed by default.

[2017-11-26 15:30] musikBear commented on #3877
I cant even get the dial into 'remember-mode' 😰
I will have to see if i can redo what i did, if i have success i will come back here, but if cant reproduce, then this is a fluke, that will resurface one gloomy day. -still... must be related to #3382

[2017-11-26 15:54] musikBear commented on #3877
I cant even get the dial into 'remember-mode' 😰
I will have to see if i can redo what i did, if i have success i will come back here, but if cant reproduce, then this is a fluke, that will resurface one gloomy day. -still... must be related to #3382

[2017-11-27 06:57] PhysSong commented on #3877
@musikBear I remember you said the original issue is:

From the project note:

I want to compose in this block, and i want to have the volume 100%
I manually set the volume 100%, and press play.

That's #3382, not the original issue

[2017-11-27 08:09] zonkmachine commented on #3995
Sorry, I didn't get that. Do you mean that you see the issues I describe in that comment on stable-1.2 ?

[2017-11-27 08:13] PhysSong commented on #3995
Not really the same, but something very similar. The issue with the start/end point and quantization. I can make a demo if you want.

[2017-11-27 08:40] zonkmachine commented on #3995
Demo, yes please!

[2017-11-27 09:28] PhysSong commented on #3995
![autoline](https://user-images.githubusercontent.com/12591074/33259494-667f21f0-d3a0-11e7-9ea2-01cad025e763.png)

1. Click a point 1/24 bar right from the very beginning.
2. Click another point 1/24 bar left from the beginning of second bar while pressing `Shift`.

The points will look weird, both with and without #3995.

[2017-11-27 09:46] zonkmachine commented on #3995
Pic please! As before I don't see anything odd here.

[2017-11-27 15:37] musikBear commented on #864
@PhysSong Yes RC2 fixed several VSTs issues. I made a post about all those i retested with success. Blue-cat-suit was among those!
https://github.com/LMMS/lmms/issues/493#issuecomment-328923662
Asa an official release is ..well released, i will remove all the working ones from the wiki's *no-go-list*, and add them to *tested-working* vst
But as long as 1.1.3 is last official, it is to early.

[2017-11-27 15:54] tresf commented on #864
@musikBear just add a note that some VSTs are 1.2.0 or higher.

[2017-11-27 15:59] tresf commented on #3877
Correct.  It's arguably even a bug.   This same behavior should occur after an automation point too.  When you ask a computer to turn a knob for you it has to make some assumptions, in this case, it locks the knob to the future value.  We'll need some musicians to speak for/against this behavior to make a decision.

[2017-11-27 16:00] tresf commented on #3877
You can, you have to fix the automation that it adjusting it

[2017-11-27 16:22] gi0e5b06 opened #4014 "Exporting Timeline as a Video"
First video ever created by LMMS!
![videoline_20171127](https://user-images.githubusercontent.com/30031949/33276587-41da5d92-d396-11e7-8edf-eb6bb4f2b75b.gif)
The video:
[videoline_20171127.zip](https://github.com/LMMS/lmms/files/1506600/videoline_20171127.zip)
Making video clips will be a lot eaiser using this as a reference.

[2017-11-27 16:37] gi0e5b06 commented on #3690
@PhysSong Yes. But there are two different concerns:
1) How to interpret/filter MIDI events
2) How to configure a LMMS controller (min, max, cur, reset values and scale)
Each of these concerns needs its own dialog, IMHO.

[2017-11-27 16:48] gi0e5b06 commented on #3785
@PhysSong It seems the problem has disappeared (for some unknown reason).

[2017-11-27 16:49] lukas-w commented on #3785
Closing as `invalid` then.

[2017-11-27 16:49] #3785 closed

[2017-11-27 17:01] gi0e5b06 commented on #3785
Not `invalid` but `gone`. May be the compiler or some packages or something else.

[2017-11-27 17:11] gi0e5b06 commented on #4014
And the code: https://github.com/gi0e5b06/lmms/commit/ba2902e56a7852839b0a52ca69a53f6b87ac3d82
I tried to create a M-JPEG and that worked but that was not practical (lack of frame rate) so instead, I call ffmepg as an external tool to create a MP4. All images are small and created in memory so it's fast (about 10% of the song time, most of the time being spent by ffmpeg for the compression).

[2017-11-27 17:46] tresf commented on #120
Some technical problems with this...

* The word "Pattern" is ambiguous in the codebase.  e.g. It can refer to a PianoRoll Segment, it can refer to an Automation Segment.
    * For example, the enum type `PlayModes -> Mode_PlayPattern` already exists.  We need to give this a better name, such as `PlayModes -> Mode_PlaySegment` or more accurately `PlayModes -> Mode_PlayPianoRoll`.  Note that not al

[2017-11-27 18:09] tresf commented on #120
@lukas-w made an important observation and that's that the ambiguous use of Pattern is even more confusing because `AutomationPattern` is not a subclass of `Pattern`, but rather they're siblings that are subclasses of TrackContentObject.  Refactoring TCO is now the first step.

[2017-11-27 18:12] Spekular commented on #3877
I think the most convenient for me would be that automations only "lock"
the dial when the playhead is on an automation pattern, but still seek
backwards otherwise when the playhead is moved w/ the mouse.

[2017-11-27 18:15] Spekular commented on #120
It might make sense then to call automation/instrument/bb patterns in the
song editor something else. "Clip" is used in some DAWs I think? Perhaps
this (or whatever other new name is decided on) could be used in the
codebase as well.

[2017-11-27 18:15] michaelgregorius commented on #4004
@gi0e5b06 Yes, in the context of LMMS they should indeed be called channel templates instead of track templates.

Concerning live performances I would assume that most people would rather prefer to be able to map arbitrary controls from LMMS to hardware controllers. It's much easier to precisely twist lots of knobs in a short time using real knobs instead of using a mouse.

[2017-11-27 18:25] michaelgregorius commented on #3312
@PhysSong I checked some more and found that the scrollbar of the Song Editor is not updated when I put a `return` at the top of `Song::updateLength`. This also matches the observation that the class `SongEditor` connects its `updateScrollBar` slot to the `lengthChanged` signal of the class `Song`. That signal is emitted at the end of `Song::updateLength`.

It also has to be made sure that all int

[2017-11-27 18:35] tresf commented on #120
@Spekular `Clip` seems to be the winner.

So.... `Clip.h` gives birth to `NoteClip.h`, `AutomationClip.h`, `PatternClip.h`, `SampleClip.h`.  This will touch most of the source files, making syncing from `stable-1.2` harder.  Will see if an IDE can help with the refactoring and go from there.

[2017-11-27 18:40] tresf commented on #120
Alternate proposals are **`MidiClip.h`**, `AutomationClip.h`, `PatternClip.h`, **`AudioClip.h`**

[2017-11-27 18:44] tresf commented on #3877
I'm not sure this helps.  If you have a fade-out in a song and you jump past it, how does the DAW know whether or not to process it?

[2017-11-27 19:01] tresf commented on #3877
... or is this more around the fact that the volume change should only occur when the cursor is manually moved and not happen mid-play unless it hits an Automation pattern?  This would allow the live-feedback and adjustment to occur despite it being reset if one were to drag it again?

[2017-11-27 19:22] Umcaruje commented on #4004
I think this is an absolute waste of mixer real estate, a 3 knob eq is very imprecise since it would have fixed values for the frequencies. We have a graphical EQ which can be added with a matter of few clicks that is incredibly more powerful and useful than a mixer one. So a big :-1: on this from me. Both from a UI and UX perspective.

[2017-11-27 19:34] Spekular commented on #3877
the volume change should only occur when the cursor is manually moved and
not happen mid-play unless it hits an Automation pattern?

Yup, this.

[2017-11-27 19:53] #4009 closed

[2017-11-27 19:53] lukas-w commented on #4009
Fixed via #4010

[2017-11-27 20:44] gi0e5b06 opened #4015 "Mapped Sample Files"
Using mapped files for samples has a lot of advantages:
- remove the size limit
- save memory
- save loading time
https://github.com/gi0e5b06/lmms/blob/master/src/core/SampleBuffer.cpp
One project of mine was taking 48s to load and 1.2GB of RAM (big samples), now it loads instantly (less than 1s) and only takes 80MB.

[2017-11-27 20:53] gi0e5b06 opened #4016 "Multiplexing Alsa Sequencer"
The current alsa sequencer lags a lot and even loses events where there is a lot of controllers. The reason is one port is open for each controller. Multiplexing solves this problem (and also makes it mmuch more manageable).
https://github.com/gi0e5b06/lmms/blob/master/src/core/midi/MidiAlsaGdx.cpp
As a bonus it connects automatically (based on names and not on port numbers).
![alsaseqgdx_20171127

[2017-11-27 21:56] lukas-w commented on #4015
The increase in project load time and decrease in memory usage you experience are explained by the fact that using memory-mapping for file access makes file I/O lazy. So the data is not actually fetched from disk until needed, which is why project loading is so much faster - your sample file is probably not being fetched at all.

However, this has disadvantages that are crucial for our use-case. W

[2017-11-27 22:29] tresf commented on #4015
Lazy loading is always a trade-off though.  To the OP's point, this lazy loading can and does have enormous performance gains.   e.g. To store an entire 10 minute WAV in memory may not be possible for all systems.  Is it worth making this a run-time option?

[2017-11-27 23:21] Umcaruje commented on #2934
@PhysSong your PR fixes the crash, but I still get the jack is kicked message, though that can be a seperate issue. I also noticed a crash when canceling exporting using any backend, so I think it's not related to your PR.

Good job :+1:

[2017-11-27 23:48] PhysSong commented on #2934
Does LMMS crash for every project, or some specific projects?

[2017-11-28 01:01] PhysSong commented on #2934
Could you run both jack server and LMMS on terminal and check for their output? It may help fixing the issue.

[2017-11-28 06:34] PhysSong commented on #4015
I think lazy loading is a good idea, but memory mapping doesn't look good for me. As @lukas-w pointed out, it may block audio processing and cause performance issues.
I'm thinking about using asynchronous I/O instead. We don't have to always store whole audio file in the RAM. That's inefficient and might cause lack of resources in some systems. With async I/O and suitable logic, we may save loadin

[2017-11-28 07:32] PhysSong commented on #3995
Ah, the line itself isn't weird, but the position of end-points are.

[2017-11-28 14:29] PhysSong commented on #3357
A little bit different crash, but I found a way to constantly reproduce this issue.

1. Open the default project
2. Connect the tempo to any midi controller.
3. Close the project.
4. LMMS will crash.

[code]
I'm investigating this...

[2017-11-28 14:57] musikBear commented on #4004
@Umcaruje how are you on https://github.com/LMMS/lmms/issues/4004#issuecomment-346678387
I like that, so does many others (well 4...

[2017-11-28 15:02] musikBear commented on #3877
at least should Using *context-Reset* work as a reset
-Thats logical.

[2017-11-28 15:06] musikBear commented on #864
Yes, that would be an idea, but what is the 1.2.0 final release actually has some forced regression, for other necessary reasons, then the confusion is total.

[2017-11-28 15:59] tresf commented on #864
What?  It's not an idea, it's a solution.  You said the following:

I'm stating, no, it's not too early.  Just document it.

[2017-11-28 21:25] trebmuh opened #4017 "i18n: one string appears to be non-translatable"
In [plugins/ladspa_browser/ladspa_browser.cpp line 51](https://github.com/LMMS/lmms/blob/stable-1.2/plugins/ladspa_browser/ladspa_browser.cpp#L51), the string "LADSPA Plugin Browser" is not translatable. I don't know how to make it so, then I'm opening this Issue rather than making a Pull Request. If someone tells me how to do so, I'm happy to send a PR.

[2017-11-28 23:06] Umcaruje commented on #4004
@musikBear I love @michaelgregorius's idea but I feel like it should be a seperate issue, since it could get buried with time.

I didn't adress it in my comment tho, my comment was directed to the original issue.

[2017-11-29 00:13] PhysSong commented on #4017
The display name isn't translatable for any other plugins. If you still want to translate this, however, you may wrap that with `QT_TRANSLATE_NOOP` as well as the description. Like this: `QT_TRANSLATE_NOOP( "pluginBrowser", "LADSPA Plugin Browser" )`

[2017-11-29 01:14] PhysSong commented on #3357
`MidiPort` destructor calls `MidiClient::removePort`. `MidiClient` instance is destroyed when the mixer is deleted. However, `Song` is destroyed after `Mixer`. So when such controller connection is cleaned up, the `MidiPort`'s `m_midiClient` points to invalid(already deleted) address.

[2017-11-29 01:14] trebmuh commented on #4017
@PhysSong : thanks.

OK, see https://github.com/LMMS/lmms/pull/4019 , am I done correct?

Yes.

[2017-11-29 03:57] jakethesnake26 opened #4020 "I messed up the VST plugins?"
Can someone help me please? I did something stupid. I renamed the plugins folder and now I can't use any of my VST plugins. It gives me this error when I load up any of my projects with VST plugins, "The VST plugin could not load for some reason. If it runs with other VST-software under Linux, please contact an LMMS-developer!".

[2017-11-29 04:28] jakethesnake26 commented on #4020
Never mind I fixed it.

[2017-11-29 04:29] jakethesnake26 commented on #4020
Never mind, I fixed it.

[2017-11-29 04:30] jakethesnake26 commented on #4020
Never mind, I fixed the problem.

[2017-11-29 04:52] #4020 closed

[2017-11-29 09:46] Holaf04 opened #4021 "lmms command line on OSX"
The lmms command line (for example to export mmpz to wav without the GUI) does not seem available on OSX. Would there be a way to add this functionality ?

[2017-11-29 10:16] lukas-w commented on #4021
@Holaf04 You can try using `/Applications/LMMS.app/Contents/MacOS/lmms` directly.

[2017-11-29 10:43] Holaf04 commented on #4021
That works well, thank you very much.

[2017-11-29 11:01] lukas-w commented on #4021
Reopening in case we want to add support for `open -a LMMS --args -r`

[2017-11-29 17:23] musikBear commented on #4004
Yes! True
@michaelgregorius -Maby a new separate is a good idea

[2017-11-29 17:25] musikBear commented on #864
Yes Sir! 🖖

[2017-11-29 19:52] michaelgregorius opened #4023 "Implement channel templates"
The implementation of channel templates was originally proposed in #4004 in [this comment](https://github.com/LMMS/lmms/issues/4004#issuecomment-346678387).
# Channel templates
The idea is to provide a way to quickly add channels which are preconfigured with certain settings and plugins.
## Creation of a channel template
If you want to create a channel template from scratch you
* Create an empty c

[2017-11-29 19:52] michaelgregorius commented on #4004
Channel templates are now covered by #4023.

[2017-11-29 21:07] #4004 closed

[2017-11-30 00:14] tresf opened #4024 "Strange Pixmap Behavior"
Using LMMS 1.2.0-RC4 on MacOS 10.12 is having some issues with the way pixmaps are drawn.  They seem to be related to the Equalizer plugin.

![ezgif-5-1273747bfe](https://user-images.githubusercontent.com/6345473/33406033-f78da5ba-d538-11e7-9318-c11f1ca7ae47.gif)

This problem disappears when using the `libeq.so` from 1.2.0-RC3.

[2017-11-30 00:39] trebmuh opened #4025 "Question about the calf/veal transition"
If I understood it right, the 1.2 version will have an internal forked version of the CALF-ladspa re-named [VEAL](https://github.com/LMMS/veal) which will avoid the calf.so clash which has been put in lights with the debian stretch package of LMMS. I think it's a great move and will help a lot of users.

Imagine a user which has made a LMMS project using some CALF-ladspa with the current version o

[2017-11-30 00:49] tresf commented on #4025
Yes, but 1.3.0, NOT 1.2.0.

Yes, the upgrade has already been written, but lives on the master (future home of `1.3.0`) branch.

[2017-11-30 00:50] trebmuh commented on #4025
OK thanks for the quick answer @tresf . I'm closing this issue now.

[2017-11-30 00:50] #4025 closed

[2017-11-30 02:17] PhysSong commented on #3781
This is a regression in 1.2, caused by #2875. When I reverted f97b431, the bug was gone.

[2017-11-30 05:31] tresf commented on #2429
@falkTX I've taken a second look at this and I think @ycollet's investigation is accurate... that the bug lies in the hard-coding of `/lib/carla`.  The cmake may help here, but they're still unnecessary if the prefix is already known in `dllName`.  The `/lib/carla` split seems only meant to isolate the `/usr` prefix, which is more part of the system's installed Carla version and less part of any L

[2017-11-30 07:37] tresf commented on #3976
It does, but it's also rather large in size, so for now I don't think it's a good candidate for LMMS to start bundling so we'll just assume it's installed.

I have a PR ready (#4026) where Carla loads, but I haven't done any actually functionality testing yet.  Testing appreciated.

![image](https://user-images.githubusercontent.com/6345473/33418680-07c3e390-d575-11e7-8994-ad5b29cb94d4.png)

[2017-11-30 07:46] tresf commented on #4021
AFAIK, the whole `open` idea relies on the GUI being able to process the post-opening events.  CLI and `open` may be mutually exclusive as it would be too late to fall back to a `QCoreApplication`, right?

[2017-11-30 07:54] Sawuare commented on #4024
Related: #3908.

[2017-11-30 09:00] falkTX commented on #2429
Using relative paths is for sure the right way to go.
(regarding using compile-time prefix, we have to remember carla can be installed on a different prefix, so we can't use this)
Since some distros use /lib64 instead of /lib, splitting using '/lib' is not very good.

I did some tests here, I recommend to use this:
[code]

This needs QFileInfo added as include on the top of the file.

I can do a P

[2017-11-30 10:35] PhysSong commented on #2783
Seems to be fixed in #3776, as well as #2784. @mestaritonttu Do you still have this issue with 1.2.0-rc4?

[2017-11-30 11:40] mestaritonttu commented on #2783
It works now, thanks!

[2017-11-30 11:40] #2783 closed

[2017-11-30 13:07] tresf commented on #2429
@falkTX, `/lib` handles both.  Take a second look, it matches `/lib64` too, we're grabbing before it, not after.

[2017-11-30 13:23] falkTX commented on #2429
Yes, though it will fail if there's a double /lib folder somewhere, as it's grabbing the first one.
Say a path like `/opt/libs/carla-appimage/lib/carla/libcarla_standalone2.so`.

The code I propose is more safe, as it uses the last `/carla/` string found. It will work even if there's more than one that matches "/carla/".

[2017-11-30 15:11] tresf commented on #4024
@Sawuare it's an exact duplicate.  Marking as such, thanks.

[2017-11-30 15:11] #4024 closed

[2017-11-30 15:13] tresf commented on #3908
Reproduced.

![ezgif-5-1273747bfe](https://user-images.githubusercontent.com/6345473/33406033-f78da5ba-d538-11e7-9318-c11f1ca7ae47.gif)

I'm not aware of any code changes in 1.2.0 that could have triggered this.  I suspect there's a bug with the build and this will go away with a fresh MacOS build.

Looking at the versioning, the build was created with 10.12 (I was using 10.11 for my environment),

[2017-11-30 15:20] tresf commented on #3908
@a2aaron can you see if a fresh build fixes this? https://github.com/LMMS/lmms/releases/download/v1.2.0-rc4/lmms-1.2.0-rc4-mac10.12.dmg

[2017-11-30 15:39] tresf commented on #2429
Thanks.

If we're introducing `QFileInfo`, why not just...

[code]

Instead of relying on string data, it will grab the grandparent of the shared object.

[2017-11-30 15:52] falkTX commented on #2429
That's even better :)
I'm so used to work with raw strings that I sometimes forget this.

[2017-11-30 15:57] #4011 closed

[2017-11-30 18:19] #3800 closed

[2017-11-30 18:51] tresf commented on #3976
@vlad1777d can you please test this latest build?  https://github.com/tresf/lmms/releases/download/v1.2.0-rc4/lmms-1.2.0-rc4.112-linux-x86_64.AppImage

[2017-11-30 21:34] vlad1777d commented on #3976
@tresf, of course, I will.
Maybe not today, but soon I'll continue making track on it.

Are there any incompatibilities between LMMS 1.1.3 file format and 1.2.0 ?

Because at first I created my project in 1.2.0, than when I failed to load window with ladspa plugins, I continued it in 1.1.3, than just ran on 1.2.0 again.
Can I loss some data so ?

[2017-11-30 21:39] tresf commented on #3976
There shouldn't be any major compat issues between 1.1 and 1.2.  if you find some please file a bug report worth a sample project so we can debug.

[2017-12-01 04:38] tresf commented on #3908
@lukas-w uploaded a new RC4 binary and this problem has gone away.  Please download and reinstall the RC4 beta from our download page.
![screen shot 2017-11-30 at 11 35 00 pm](https://user-images.githubusercontent.com/6345473/33468064-75fdab0e-d627-11e7-8698-67348fccacc5.png)

[2017-12-01 04:38] #3908 closed

[2017-12-01 07:03] Sawuare commented on #4023
Since the proposed channel template only saves the effects in the effects chain of a channel, and we have an effects chain in instrument plugins, I suggest we have `Effects Chain`s that are saveable/loadable in the mixer as well as in instrument plugins.

Poll:
👍 / 👎

[2017-12-01 09:06] falkTX commented on #3976
lmms-1.2.0-rc4.112-linux-x86_64.AppImage works for me here, but the GUI is scaled 1.5 to 2x which makes it unusable...
when I move the window to my other screen, everything gets too tiny instead (1.5x smaller than my usual desktop).
this is quite strange, as I have no scaling whatsoever enabled on my system (KDE5 neon).

[2017-12-01 09:24] vlad1777d commented on #454
Hello @tresf .
Had you seen my proposal https://github.com/LMMS/lmms/issues/3025

I think, it could fix all this problems in more elegant way.

Also, I think that having separate instruments per beat will increase loading of system very much, it's not needed. All could be fixed by adding grouping of instruments into Song Editor and Beat-Bassline Editor.

[2017-12-01 09:26] vlad1777d commented on #453
My proposal for this is just to add "alert" window before removing track short description what would happen.

[2017-12-01 09:33] vlad1777d commented on #120
Totally agree to rename it to "Pattern Editor" =)

[2017-12-01 10:57] lukas-w commented on #3976
@tresf We may want to revisit 8bc9e9d9b4785c47a2c809bdc7de907f11381c04…

Most likely unrelated, but that AppImage segfaults for me on start with my `.lmmsrc.xml`:

[code]

[code]

Removing `.lmmsrc.xml` fixes it.

[2017-12-01 13:12] musikBear commented on #4023
Does that 'need' a poll? It was obvious to me, that the savable chains would be valid in both preset-FX and mixer-FX
Or did i assume too much..

[2017-12-01 13:40] BenMcLean commented on #1471
LMMS can't really be even considered as even a partial replacement for FL Studio until it has the ability to cut up samples and change pitch and tempo. Doing that separately in Audacity doesn't make sense because in that case you have to know exactly what you want ahead of time and type it in as exact numbers instead of experimenting. This is a creative process and FL Studio does it in one fast in

[2017-12-01 14:04] BaraMGB commented on #1471
@BenMcLean we all are aware of the issues you pointed out. But what can you do to help?

[2017-12-01 14:18] tresf commented on #1471
We do have a request for testing on #3947 for those willing to test.  Please jump on our chat server to help push this forward.  https://lmms.io/chat.

In regards to slicing samples, to @BaraMGB's point, we need help first and foremost.  Our mission statement isn't to be a full replacement to commercial software so these types of comments often do more harm than good.

[2017-12-01 14:21] tresf commented on #4023
They're already save-able and load-able, just not directly, you have to save an entire preset.  I agree, the effects stack needs to be consistent across all implementations.  The original description should be updated to reflect instrument effect stacks as well.

[2017-12-01 16:02] BenMcLean commented on #1471
Evidently not, because I was responding to the guy who said, "Tempo-synch can be done in audacity, and it is honestly not a must-have feature in lmms," to point out that it is totally a must-have feature.

I don't know. This is such a basic feature that the whole project is kind of a non-starter without it, no offense meant. If I was going to get into music programming, I'm not sure if I'd be addi

[2017-12-01 16:14] tresf commented on #1471
@BenMcLean please rant elsewhere.  This is your first warning.  This thread is a place to talk about adding functionality, not complain about it.  If you have problems with the way we've worded our front page, please open an issue here: https://github.com/LMMS/lmms.io/issues/new.

Our mission statement is to provide a free, cross-platform tool for making music.  In order for it to remain free, we

[2017-12-01 16:15] Spekular commented on #1471
Alternative to != exact replacement. If you want sonething that's exactly
like FL Studio, that already exists. It's called FL Studio.

[2017-12-01 16:16] tresf commented on #1471
@Spekular please do not fuel the arguments, we need to move this conversation elsewhere, perhaps Discord https://lmms.io/chat, but not here.

[2017-12-01 16:29] tresf commented on #3976
Yeah, I've disabled it in my PR.  It's clearly broken in Qt, it can be toggled back on manually.  I've added the instructions in the Carla PR.

I think we have a bug with our sound device selection.  I've had it several times with 1.2.0 but haven't isolated the cause.  If someone else can shed light on what causes this, we can open a dedicated bug report for it.

[2017-12-01 18:09] michaelgregorius commented on #4023
If there are certain properties of a channel that should also be saved as part of a channel template then we should differentiate between the channel data that's saved and the effects chain data that's saved. An example for such a channel property would be the default amplification of the new channel, i.e. we might want to store that each new channel is set to -6dB by default. Or as another exampl

[2017-12-01 18:19] #3976 closed

[2017-12-01 18:21] tresf commented on #2429
Closed via d711b8b.  This fix is available in the `stable-1.2` branch.  It will not exist in master until the `stable-1.2` changes have been synced into master.

[2017-12-01 18:21] #2429 closed

[2017-12-01 19:05] tresf commented on #3979
I'm going to open a PR for this and close this as a duplicate.  I'll move the compat chart over as well.

Voting is closed.  The consensus is to upgrade.  Not a single person wants to keep the old version around.

0 people voted to keep old version.
7 people voted for blindly breaking compat.
2 people voted for keeping old and new bundled separately
2 person voted to upgrade but hack in some compa

[2017-12-01 19:20] tresf commented on #3979
Migrated to a PR #4027.

[2017-12-01 19:20] #3979 closed

[2017-12-01 23:42] rdrpenguin04 opened #4028 "Crashes during playing from piano roll."
When playing from the piano roll, when the cursor is in an area with no music, the program crashes.

How to reproduce:
Create a 2+ measure tune.
Delete the synth you were using and add a new one.
Only add one measure to this.
Hit play, program crashes.

Program version: 1.1.3
OS: Windows 10

[2017-12-02 00:02] PhysSong commented on #4028
Can you reproduce this with latest beta(1.2.0-rc4)?

[2017-12-02 06:26] PhysSong commented on #2934
Seems like an timeout error message of JACK2. @Umcaruje Do you use JACK MIDI interface? If so, does changing MIDI interface helps?

[2017-12-02 08:25] PhysSong opened #4029 "Tracks in BB editor aren't saved if there are no BB tracks in song editor"
To reproduce:

1. Open a default project
2. Add something in the BB editor
3. Remove all tracks in song editor
4. Open BB editor after saving and reloading project
5. There's nothing in the BB editor

Is it desired, or not?

Currently LMMS saves `BBTrackContainer`'s information in first BB track. I can't find any reason for that.

[2017-12-02 08:47] zonkmachine commented on #4029
Confirmed, this is in 1.1.3 . It looks like this could be the cause of https://github.com/LMMS/lmms/issues/2957 (I saw the `called Track::getTCO( 0 ), but TCO 0 doesn't exist` in some of the runs when trying to reproduce this).

Not. You would expect the pattern to load back as it was saved even if there are not BBTracks in the Song.

[2017-12-02 09:27] zonkmachine commented on #4029
If you delete a BBTrack it's pattern gets deleted. If there are no BBTracks left then the BB Editor will turn up empty. It's a bit more destructive when the last BBTrack is deleted and will look a bit odd/glitchy but the behaviour actually does appear consistent.

[2017-12-02 16:53] musikBear commented on #4028
No cant reproduce
@rdrpenguin04
Is This issue reproduceable with *ONLY* lmms presets, or are you using VSTs

[2017-12-02 17:00] musikBear commented on #4029
And that is a behaviour we already has agreed, should *not* happen
#2350
@PhysSong Good! find 👍

[2017-12-02 18:42] Martin1995 opened #4030 "Some of bundled LADSPA plugin causes crash on some system"
if i try to start lmms on my Arch Linux it crashes after the splashscreen since today.
The console gives me a little bit more output:

*Edited by tresf, added backtrace:*

[code]

[code]
can you help me please, because the git version was the better running solution for my system.

[2017-12-02 20:41] tresf commented on #4030
@Martin1995, `lmms-git` isn't a package we maintain, so this is really a question for whoever maintains that package.

That said, we have made some changes to TAP plugins very recently, so that's a good place to start looking.  https://github.com/LMMS/lmms/pull/3960

If you think some programmers can help you iron this out locally, we have a dedicated `#support` channel on discord here: https://lm

[2017-12-02 22:51] BaraMGB commented on #4029
Perhaps we should keep the pattern in the list with an [unused] tag in the title?

[2017-12-03 02:27] #3396 closed

[2017-12-03 02:27] #3397 closed

[2017-12-03 02:27] #3207 closed

[2017-12-03 03:48] PhysSong commented on #4029
It can be fixed easily by saving the `BBTrackContainer` information in other place, but it may break track counting logic:
https://github.com/LMMS/lmms/blob/dd4a73eb4bb31870ff4397539710b6d3f0bbf1c6/src/core/Song.cpp#L1059-L1076
I'm looking for a way for work around that issue.

[2017-12-03 13:49] musikBear commented on #4029
Wait a moment!
Something is not right here
I thought the pattern would be gone if a project was saved with **no TCOs** in the project, but thats not it at all.
You delete ALL tracks in songeditor -right?
Then you **also** delete the actual B&B-track that automatically is made IN songeditor, when the button *Add Beat/Bassline* is clicked!
That IS #2350
This is a duplicate

[2017-12-03 18:51] Martin1995 commented on #4030
While trying to reinstall lmms i had looked a littlebit around inside the PKGBUILD file that is used on every version of Arch to install it from the user repository and it seems that is using the latest sources from github
"git://github.com/LMMS/lmms.git" (thats the cloning source for the Package that  the package manager uses)

[2017-12-03 21:11] tresf commented on #4030
That changes with time.  It's currently stable-1.2 branch but will switch back to master when stabke-1.2 is released.

The stable-1.2 branch is a good branch to run, it's modern and stable, however this doesn't really help point at the problem.

When an undefined symbol occurs it's often a sign that a precompiled binary has changed.  Since we do not yet offer any precompiled binaries, we can't own

[2017-12-03 21:20] Martin1995 commented on #4030
ok i will try this tomorrow

[2017-12-04 18:29] musikBear commented on #2611
That "Drive not ready" thing?
![drivenotready](https://user-images.githubusercontent.com/6662066/33569145-0ae3830c-d929-11e7-9663-191a5918b760.JPG)
-that appears when lmms is loaded. I *suspect* that it is an error caused by the absence of a disk in Drive-B, or iow. This popup will occur, if the user do not have a SSD in drive-B, *and* the compiling is made on a system *with* a drive-B.
Could that

[2017-12-04 18:31] tresf commented on #2611
Nope.

[2017-12-04 18:52] Pyrif opened #4032 "SDL - Deadlock with gui option: File->Export Tracks"
LMMS consistently crashes after rendering 10 tracks with the "Export Tracks" file menu option. OS Windows 10, Version 1.2.0-rc4. Project file is 126 bars long, contains 5 empty beat/bassline tracks, 7 automation tracks, and 34 instrument tracks (11 ZASFX, 16 AFP, 9 3xOsc (2 of which are omitted from rendering)). Will grab and send additional system/project file/otherwise details if deemed necessar

[2017-12-04 19:19] SirStarstorm opened #4033 "Ghost bases bug"
Lately, this bug is happening to me a _LOT_.
I erase a base and the sound of the track continues to play, and when I save the track, the base returns to where it was. In this situation I have to start a new track. I don't know what triggers it.
Somebody knows how to fix it, or at least how to avoid it?

[2017-12-04 22:07] Martin1995 commented on #4030
If i'm trying to build it directly from github then i get some config errors out of cmake (see attached txt-file)
[log-lmms_build.txt](https://github.com/LMMS/lmms/files/1528385/log-lmms_build.txt)
but the package from whoever uploaded it compiles fine but lmms crashes and closes after the splash

[2017-12-04 22:17] tresf commented on #4030
@Martin1995, `git submodule update --init --recursive` will solve that problem.

[2017-12-04 23:04] PhysSong commented on #4033
- Which version of LMMS do you use?
- What does the `base` mean?

[2017-12-05 14:57] tresf opened #4035 "Toggle automatic uploads for PRs"
Steps to add a testable, downloadable build artifact for every PR against LMMS.

* [x] @PhysSong  to sync `stable-1.2` back into master to pull in any `.AppImage` improvements (e.g. #3958, #4026, d0194e6, f15acb8)
* [x] @Umcaruje /@tresf to communicate with power-users (e.g. @StakeoutPunch, @SecondFlight) how to fetch the binaries, possibly get a list of testers, post on Discord, etc.
* [x] ~~@luk

[2017-12-05 15:05] lukas-w commented on #4035
Haven't started any work on this. You may be thinking of my CircleCI PR #3921, which adds automatic uploading of AppImages to CircleCI's servers.

[2017-12-05 15:33] musikBear commented on #4032
@Pyrif This is not a general issue. Try one of the demo projects
Best is to open the Demo-project-folder: //projects\cool_songs/Skiessi-Onion.mmpz and export that. Does that fail?
Imo this is a `help-request`, for errors on one specific project.
I do a lot of that in *forum*
http://lmms.io/forum/
If you open a ticket there, please post your:
* OS (+service-pack-version)
* lmms version
* hardware s

[2017-12-05 15:37] musikBear commented on #4033
please post your:
* OS (+service-pack-version)
* lmms version
* lmms sound device chosen
* lmms instrument involved
* lmms preset (if a factory preset is used)
* a demo mmp
Best place for support-requests is forum
http://lmms.io/forum/
Devs has *plenty* to do with bugs..

[2017-12-05 15:56] Mialder opened #4036 "LMMS crash start."
Hello! Sorry, im from Ukrain. and I do not know English well. Im start LMMS with gdb and that's what I got:
Thread 1 "lmms" received signal SIGSEGV, Segmentation fault.
0x00007fff8bba7787 in QMetaObject::className() const ()
   from /usr/lib/libQt5Core.so.5

What can I do?
Arch linux x64.

[2017-12-05 16:09] tresf commented on #4036
Where did you get LMMS from?  Did you build from source or use a package manager?

Have you tried removing `~/.lmmsrc.xml`?
Have you tried reinstalling Qt5?

We also have a portable version for Linux here if interested:
https://github.com/tresf/lmms/releases/download/v1.2.0-rc4/lmms-1.2.0-rc4.117-linux-x86_64.AppImage

This comes bundled worth Qt5 so it should fix any issues that may have occurred

[2017-12-05 16:18] tresf commented on #4032
A crash is a bug.  @musikBear, stop directing bug reports to the forms.  Discord (https://lmms.io/chat) #support and here (GitHub) are the EXACT place to report bugs.

[2017-12-05 16:40] Mialder commented on #4036
Im get LMMS from AUR using yaourt.
Im remove ~/.lmmsrc.xml - nothin.
The reinstallation qt5 did not help either.

[2017-12-05 16:43] tresf commented on #4036
@Mialder then you'll have to contact them, this isn't our bug.  We didn't build it, we can't fix it.  We don't provide LMMS to any 3rd party websites, mirrors, etc.

That said, the portable version is in very good shape and I recommend trying it.  Just `chmod +x` and then double-click it as you would any application.

[2017-12-05 16:46] Mialder commented on #4036
Ok. Thanks for the help, anyway. I'll try to install "community" from the repository. If it does not help, I'll try the installer for your link.

[2017-12-05 18:34] Martin1995 commented on #4030
ok my fault, im not so familiar with git, because i'm not a programmer i only tinker around with arduino and shell scripts.
Thank you for the help now it compiles fine without any error

[2017-12-05 19:13] tresf commented on #4030
That's fine, submodules are not very intuitive to deal with in git yet.  Thanks for the update.

[2017-12-05 21:56] Martin1995 commented on #4030
oh i forgot testing the software itself, compiling worked now but if i start the software thre errors are gone but the software crashes anyway. i think libQt5Core.so.5 is the culprit but im not sure backtrace
[gdb-backtrace-full-lmms-2017-12-05.txt](https://github.com/LMMS/lmms/files/1533122/gdb-backtrace-full-lmms-2017-12-05.txt)
sorry @tresf

[2017-12-05 22:12] tresf commented on #4030
@Martin1995 thanks for the backtrace.  This is a regression caused by #3872.  I'm tagging @BumblingCoder and reopening.

[2017-12-05 23:01] tresf commented on #4035
Probably.  I'll tackle it then.  Work is happening on the `transfer` branch here: https://travis-ci.org/tresf/lmms/branches

[2017-12-06 01:30] PhysSong commented on #3918
Can be reproduced on Windows, but not on Linux. FYI one can work around this issue once #3786 is merged, by using separate VST window mode. Note that this isn't a complete fix...

[2017-12-06 01:39] PhysSong commented on #4036
From #4030:
[code]
Closing this as a duplicate of #4030.

[2017-12-06 01:39] #4036 closed

[2017-12-06 02:18] EtornaZ opened #4038 "Metronome starts skipping at fast tempo."
I am using LMMS 1.2.0 RC4.
The metronome in LMMS will start skipping if the tempo is faster than 218 BPM, in about 15-20 seconds. If the tempo is sped up to around 230 BPM, it starts skipping sooner, more like 5-7 seconds. When it's at 250 the metronome will immediately start skipping. I restarted LMMS just in case it was a temporary thing, but the bug still persisted.
This is all of the informati

[2017-12-06 02:36] trebmuh opened #4039 "Typo?"
I just saw that it's written LMMS_BULID_APPLE instead (I think) of LMMS_BUILD_APPLE in 2 occurrences here: https://github.com/LMMS/lmms/blob/dd4a73eb4bb31870ff4397539710b6d3f0bbf1c6/src/gui/MainWindow.cpp#L68

I don't know how this would impact building but I thought I could mention it here then the knowledgeable coding people can have a look.

HTH

[2017-12-06 02:41] tresf commented on #4039
Thanks, we'll take care of it!

[2017-12-06 02:57] PhysSong commented on #4038
Confirmed. Metronome is handled in `Mixer::renderNextBuffer()`.
https://github.com/LMMS/lmms/blob/dd4a73eb4bb31870ff4397539710b6d3f0bbf1c6/src/core/Mixer.cpp#L359-L375

With 4/4 time signature, one tick is 1.25/(tempo in BPM) seconds. It's about 5.79 ms if the tempo is 216BPM. And the buffer is about 5.80 ms long with 44100Hz, 256 frames. When one tick is shorter than one mixer period, this logic

[2017-12-06 02:59] #4039 closed

[2017-12-06 03:28] PhysSong commented on #4030
[code]
I got similar crash when I tried to load `TAP Dynamics (St)`. This occurs if I compile LMMS with gcc from [`ubuntu-toolchain-r/test`](https://launchpad.net/~ubuntu-toolchain-r/+archive/ubuntu/test). It was fine with default gcc shipped with Ubuntu 16.04. So I need to manually relink plugins with `libm`.

[2017-12-06 03:38] tresf commented on #4030
As @PhysSong has illustrated,  the TAP issue is a much less severe error that happened to appear before the segfault, it should be handled as a standalone plugin and not segfault LMMS.  So there were actually two unrelated issues in the same bug report.

We'll leave open so that the TAP issue can be confirmed as fixed as well.  @PhysSong thanks for the background info on the compiler.

[2017-12-06 04:04] PhysSong commented on #4029
This is a duplicate

Not a duplicate. #2350 is about notes/patterns, whereas this issue is about tracks.

[2017-12-06 05:18] #3995 closed

[2017-12-06 06:13] tresf commented on #4035
@musikBear, here's a 32-bit bit build of the `master` branch from Travis-CI.

Click here: https://travis-ci.org/tresf/lmms/builds/312198087

Click the win32 job here:
![image](https://user-images.githubusercontent.com/6345473/33647209-c97327f2-da21-11e7-80a6-5ed22248621b.png)

Click "Follow log"
![image](https://user-images.githubusercontent.com/6345473/33647250-2b42bbfa-da22-11e7-9656-053cbbe9f59

[2017-12-06 07:29] zonkmachine commented on #3301
This has greatly improved since 1.2.0-rc4 but is still a bit insensitive. In order for this to be fixed completely you could do something like a search to find the closest automation point and delete that one.

[2017-12-06 09:42] PhysSong commented on #4028
@rdrpenguin04 Could you post a project file wich causes crashes?

[2017-12-06 11:39] zonkmachine opened #4040 "Automation Editor - draw line function selects last point drawn for a drag"
A minor nuisance in the draw line function. When you draw a line the last automation point drawn is selected and ready to be dragged. This is a bit unintuitive and can lead to some unexpected results which is especially prone to happen if you work fast. The resulting drag action gives the illusion that it's the line draw action that is buggy with skipped points and/or nudged levels.

![drawlineaga

[2017-12-06 14:12] musikBear commented on #4029
@PhysSong No its exactly the same. Here 4029 you remove *all* tracks from a project, *including the BB-track*, and observe that the pattern in B&B-editor is deleted
In 2350 *only* the B&B-track in song-editor is removed, and *that* causes that  pattern in B&B-editor to be deleted
Bottom-line:
*Any* removement of any BB-track in song-editor, will also delete *that* pattern in B&B-editor

[2017-12-06 15:16] Martin1995 commented on #4030
Oh i hadn't known that you also have a precompiled portable version, just downloaded it and the portable version works fine on Arch. I think i have also to ask for help in the Arch Linux forum, somebody could also know a way to fix this Problem on Arch.

[2017-12-06 16:05] tresf commented on #4035
Bad news, `transfer.sh` has posted on Twitter that it's dying.  Switching to `file.io`.  https://twitter.com/dutchcoders/status/913835197237465089

[2017-12-06 17:56] tresf commented on #4035
`file.io` is working great.  Updated PR, updated instructions.  Testing appreciated.

[2017-12-06 22:49] NickAcPT opened #4042 "Redirect notes to VSTs"
My suggestion is to add a feature where we can direct midi/notes to VSTs.
I don't have that many examples where this would benefit, but here they are:
- [Kerovee](https://www.kvraudio.com/product/kerovee-by-g200kg)
- [GSnap](http://www.gvst.co.uk/gsnap.htm)

[2017-12-07 07:36] PhysSong commented on #2934
Since the crash seems to be fixed in #4005, I've changed the title. Waiting for informations...

[2017-12-07 07:52] PhysSong commented on #4042
Related: #3485. There are some differences between this and that. #3485 is about MIDI effects(pre-instrument, from MIDI to MIDI) whereas this is about sound effects which also gets MIDI input(post-instrument, from audio+MIDI to audio).

I think this is a duplicate of #1202, which is a part of #1472.

[2017-12-07 07:57] NickAcPT commented on #4042
@PhysSong You are totally right. Will close this issue because this is a duplicate.

[2017-12-07 07:57] #4042 closed

[2017-12-07 14:00] musikBear commented on #4035
@tresf  not at all, i will come back with results

[2017-12-07 16:18] tresf commented on #4035
Separate topic, really but I'll bite...

**Security of temporary uploads**

This depends on the security of the site we're uploading to.  If that site is compromised, the build would be as well.  Since Windows injections are the most common, the biggest attack surface would be the win64 executables as they represent about 80% of our downloads.

Some items that mitigate the attack surface: 1. The f

[2017-12-07 16:43] musikBear commented on #3898
Cant reproduce on win 32
1.2 RC 4.6493 (Travis through 4041 build
win32 winXPsp3

[2017-12-07 18:46] zonkmachine commented on #3898
Yes. I suspected this could have been fixed. Perhaps in 6fc4577f102e5bb60cc246a426fb9ed8b4ac3be9.

[2017-12-08 14:19] tresf commented on #4035
All builds are uploading, @musikBear was able to locate and run the build, so the last item is the branch sync.  I'm tempted to just merge #4041 as-is so we can start taking advantage of this now for new features like groove beats, track recording, etc  @PhysSong/@liushuyu thoughts?

[2017-12-08 15:23] musikBear commented on #4035
@tresf Thanks for clarification in respect to security 👍
I can add that it only took seconds to build online, and the procedure was simple
(i btw have a copy of the whole log. Just let me know if i should upload it)

[2017-12-08 16:43] zonkmachine commented on #3650
It would probably be implemented in: `lmms/src/core/SampleBuffer.cpp ` .

[2017-12-09 06:02] PhysSong opened #4045 "LMMS shows odd behaviors with non-default denominator"
LMMS supports variable time signature since bf077dd. There have been so many bugs and most of them have been fixed. Now LMMS seems to work correctly with any numerator.
However, there are still some bugs with meter denominator. Here's the list of bugs that I found:

- [ ] Piano-roll and automation editor displays weird grid
To reproduce:
1. Set time signature to 4/28
2. Open piano-roll or automati

[2017-12-09 07:00] gi0e5b06 commented on #4038
@PhysSong The best design would be the third one but that would involve too many changes. If the core got redesigned one day, that should be the best choice. You have a better understanding than me on how things work internally so just chose what works best among the two first ones.
Until then, I fixed the problem. The code for the metronome is now frame-exact and 100 times faster. It works fine u

[2017-12-09 07:34] PhysSong commented on #4038
@gi0e5b06 Thank you for the suggestion. That makes sense, but looks inefficient. I will try to find a better way.

[2017-12-09 07:49] PhysSong commented on #4033
Closing as a duplicate of #2306

[2017-12-09 07:49] #4033 closed

[2017-12-09 09:03] gi0e5b06 commented on #4038
@PhysSong The old code was inefficient because of the instantiation of the metronome samples at each beat. I removed that. The fact that it still uses NotePlayHandles is no big deal. But as a user, there is something much more problematic: the metronome is affected by the effects. Ideally it should be the last thing to be mixed, after everything else (so at the end of the master mix).

[2017-12-09 10:57] PhysSong commented on #4038
That's a problem too, but it looks like a separate issue. I meant the loop logic when I said "looks inefficient". It could be replaced by simpler and faster way.

[2017-12-09 13:11] zonkmachine commented on #3395
Related/Duplicate: https://github.com/LMMS/lmms/issues/874

[2017-12-09 16:28] musikBear commented on #2933
If .lmmsrc.xml was *not* kept in current system-folder, but instead locally in the LMMS installation, it would be possible to have more than one lmms-installation in the partition. Why must this pested dot file exist as a dot-file, and why in a systemfolder for the partition?
I suggest to *not* use dot-file-typ, and place it in root of the separate lmms-installation.

[2017-12-09 17:28] tresf commented on #2933
@musikBear, what you are describing is a portable install.  By default, applications write settings for persistent applications to the home directory, which aids in a sane upgrade process.

Portable installs can't really benefit from an upgrade process, but do have some advantages such as sandboxing, which makes multiple different versions a breeze.

The config should be written in a way which tri

[2017-12-09 18:11] tresf commented on #2933
Some part of that were confusing... rewriting...

@musikBear, what you are describing is a portable install.  By default, most applications write settings for persistent (system-installed) applications to some place within the user's home directory, which aids software developers and users through a sane upgrade process.

Portable installs can't really benefit from an upgrade process, since any se

[2017-12-09 18:28] tresf commented on #2933
To attack the original problem, simply supporting relative paths using `workingdir="./lmms" ... sf2dir=".lmms/samples/sf2/"` should be enough to close out this bug report.

[2017-12-09 18:54] musikBear opened #4047 "Let new-note stop current played-note's release"
Type: Enhancement
Many presets has very long *release*
F.i. the zasfx preset *002Vibraphone* in *Collections*, but there are many.
This long release can result in disharmony, if notes are played in fast succession.
In FLs they have a toggleable feature to prevent this:
*Cut-it-self*
The functionality is, that if a note of a preset is play*ing* that note will be silenced, if a *new* note *in that s

[2017-12-10 16:05] Sawuare opened #4049 "Off-grid automation points are not dragable."
To reproduce:
1. Open the automation editor.
2. Change the quantization value to 1/16.
3. Draw an automation point on the second step.
![image](https://user-images.githubusercontent.com/25503477/33806536-ba2305bc-ddda-11e7-96d4-cef5c3a88426.png)
4. Change the quantization value to 1/8.
![image](https://user-images.githubusercontent.com/25503477/33806541-c737d034-ddda-11e7-96f8-3d4889b668c5.png)
5.

[2017-12-10 16:08] tresf commented on #4049
Reminds me of https://github.com/LMMS/lmms/issues/391

[2017-12-10 16:40] musikBear commented on #2933
-ok then i see a reason in it, just a shame. The dot-file is such a pain in the ...

[2017-12-10 16:50] tresf commented on #2933
I don't understand this comment.  I think I properly explained that this old holdover will eventually go away.

[2017-12-10 17:36] zonkmachine commented on #2419
@tresf This seem to work fine now.
`linuxmint 17.3, Qt4`

[2017-12-10 17:40] tresf commented on #2419
Closed via #1719.  @zonkmachine thanks for the follow-up!

[2017-12-10 17:40] #2419 closed

[2017-12-11 15:51] zonkmachine commented on #4032
So it's one track that is problematic. You can just save it as a .mmp, zip it and submit here. Or you can first try and narrow the issue down a bit.

 - Make a new copy for debugging and then mute tracks until you're left with only the buggy one.
 - Delete the other tracks.
 - If you have effects, turn them off and see if they are the culprit.
 - Delete patterns of this last track until you have a

[2017-12-11 16:45] Pyrif commented on #4032
There's no singular problematic track. Tracks render from top to bottom, and after 10 tracks LMMS crashes. It doesn't matter which 10 tracks, if I disable the first 10 rendered, it renders the next 10 up and then breaks. If you would like to test the error, the file is attached.
[Haunt Me.zip](https://github.com/LMMS/lmms/files/1548594/Haunt.Me.zip)

[2017-12-11 17:08] zonkmachine commented on #4032
It exports just fine here on SDL on what is soon to latest stable-1.2 06c40fc821a321a92924d97092806e7e7c412d38 .
What audio interface are you using?

[2017-12-11 19:57] musikBear opened #4050 "One TCOs Loop points are controlling other TCOs play-head pos in piano-roll"
OS  : winXP sp3
LMMS RC4.6493

**Issue description:**
If one TCO has a block of notes encapsulated in looppoint, other TCOs will not play from 0 pos. Trying to do so, look like the notes vanish, and there will be no output. The reason is that lmms is playing inside 1. TCO loop-points, and there is ofcause no notes there in TCO-2.
Because of the 'short-ness' of 2. TCO, lmms will only show 2-5 bar o

[2017-12-11 20:00] musikBear commented on #4050
The zip
[issue_4050_TCOLooppointsInfluencePlay.zip](https://github.com/LMMS/lmms/files/1549214/issue_4050_TCOLooppointsInfluencePlay.zip)

[2017-12-11 21:09] zonkmachine commented on #3460
**Won't fix**?

How does ardour, bitwig do this?

[2017-12-12 08:58] zonkmachine commented on #3968
http://vis.versilstudios.net/vsco-community.html
Is it the vst version from Bigcat you're referring to?

[2017-12-12 11:31] zonkmachine commented on #983
Issues with not being able to delete Automation Points should now be fixed.

Yes. The buttons (A) should probably be removed as the functions are unimplemented.
The loop 'rectangle' (B) on the timeline will still be showing and can be set with the mouse but will have no action. A somewhat similar inconsistency is there in the Piano Roll where you can use set a loop but it will not be saved. I sugg

[2017-12-12 12:03] zonkmachine commented on #3635
@XXDrown Can you please test this with the latest lmms-1.2 beta?
(rc4 is the latest right now and rc5 is just around the corner)
https://lmms.io/download/#windows

[2017-12-12 12:19] zonkmachine commented on #471
@musikBear This was reported over three years ago. If you haven't seen this since I suggest we close this as likely fixed as part of some other issue. It can always be reopened.

[2017-12-12 12:39] zonkmachine commented on #2155
Right. If I understand this correct you are suggesting a method to implement 'ghost notes' but this already has an issue of it's own. Closing this as a duplicate of https://github.com/LMMS/lmms/issues/520.

[2017-12-12 12:39] #2155 closed

[2017-12-12 14:21] zonkmachine commented on #1135
Couldn't we have cmake warn the user if building from `~/`?

[2017-12-12 14:26] tresf commented on #1135
[code]

I think it's too late at that point.  I'm not sure how to handle this except perhaps move the default `LMMS WORKING DIRECTORY` to something like `~\Documents\lmms` or something more sane.  This approach would also make it easier for users to locate the directory, since most OSs (e.g. Mac, Windows) don't have a navigation to the user's home directory by default any more.

[2017-12-12 14:54] zonkmachine commented on #1135
Right. The damage is already done.

This is what the build instructions look like now.
https://github.com/LMMS/lmms/wiki/Accessing-git-repository

No suggestion on where to clone the source. I use a didrectory, `~/builds`, where I clone stuff but I don't know how people generally do this.

[2017-12-12 15:01] tresf commented on #1135
Yeah, I've written a lot of tutorials against lmms and they always assume `~/lmms` and it's what I use for all projects `~/foo`.   I'll use this for c, node, java, etc. so that home directory is common for me, I assume it's common for others.

This is a throwback to how old Linux build tutorials were written where they'd have you untar into `~` and then run the various make commands.  I think it's

[2017-12-12 16:31] zonkmachine commented on #3285
@musikBear Do you see this on Windows? I think this may be a Wine/Linux only issue.

[2017-12-12 17:44] #983 closed

[2017-12-12 18:00] zonkmachine commented on #3289
Maybe we can convert one of the sf2 patches/pianos in fluid-soundfont-gm to GigaSampler format?

[2017-12-12 18:24] Pyrif commented on #4032
I'm using SDL as well. Maybe the export options are at play here. During the usage of the Export Tracks option, I exported the tracks to OGG files, all options default save for setting the bit rate to 320kHz.

[2017-12-12 21:32] zonkmachine commented on #4032
No, I am at play here... I tested this wrong and I do get some bugs with rendering tracks with the demo project **Ashore**. I'll try and see if there's a pattern to this. Here's a backtrace

[(gdb) thread apply all bt](https://gist.github.com/zonkmachine/28a3bf455e3d888ca3f1e778ae898cff)
[code]

[2017-12-12 22:11] zonkmachine commented on #4032
[code]

[code]

[SDL_LockAudio()](https://www.libsdl.org/release/SDL-1.2.15/docs/html/sdllockaudio.html)

[2017-12-12 23:17] zonkmachine commented on #4032
@Pyrif It looks like rendering separate tracks from the command line might work. It does for me.

`$ ./lmms --rendertracks ~/builds/lmms/lmms/data/projects/demos/Ashore.mmpz -o ~/outputdirectory`

@PhysSong When I comment out `SDL_LockAudio();` and `SDL_UnlockAudio(); ` in `AudioSdl::stopProcessing()`, **File -> Export tracks...**  works as expected.

[2017-12-13 14:37] zonkmachine commented on #4032
Also: reverting 020f1652bf08208458d53aa9d9fe038d1689b5d2 seem to fix this crash. I remember testing that PR thoroughly but I think I did the testing predominantly from the command line as the crashes where the same as under the gui and I could script it.

@PhysSong Can you look at this? I'm putting it on the 1.2.0 milestone.

[2017-12-13 16:00] zonkmachine commented on #4032
So far this still works.

[code]

[2017-12-13 17:02] musikBear commented on #471
@zonkmachine Agree. Not reproduceable and maby a fluke. Put it asleep :)

[2017-12-13 17:07] zonkmachine commented on #471
:tractor:

[2017-12-13 17:07] #471 closed, assigned to nobody

[2017-12-13 17:13] musikBear commented on #3285
@zonkmachine No i have never seen that.
I have moved the GUI around aligning the edge to top botom left and right + center, and the mouse stays on the chosen controller in every pos, left/ right/ 3. mouse-click .
In Synth1 it does 'jump', but that is to the precise point of current value of the slider-position -Iow -Perfect
This looks like a linux issue only.

[2017-12-13 17:35] zonkmachine commented on #3285
Thanks! I'll try and see if this is reproducible on the latest wine.

[2017-12-13 21:32] zonkmachine commented on #3285
@amsynthdotcom Can you see if https://github.com/LMMS/lmms/pull/3786 improves it?
That fix has an AppImage (binary) so you can test it easily. Just download/make executable/run.
https://transfer.sh/pIL0f/lmms-1.2.0-rc4.106-linux-x86_64.AppImage

[2017-12-13 23:23] zonkmachine commented on #2646
Cool stuff!

As the new theme is done and the penguin is gone I close this.

[2017-12-13 23:23] #2646 closed

[2017-12-14 05:54] killjoyrekt commented on #3968
yeah, also, quite a few vsts have this problem, most of th time when theres a keyboard in the vst itself, the volume when played inside the vst has a different volume and velocity when played in the daw

[2017-12-14 10:56] zonkmachine commented on #3871
Logarithmic response is what I'd expect to find on a filter cutoff control. In the example given has the correct control in my opinion.

PS. The resonance control on the filter above seem to be inverted.

[2017-12-14 11:06] zonkmachine commented on #3780
I can confirm the issue but I didn't manage to find the cause. Since other reverbs aren't triggering in the same way after a possible glitch I think it's more likely to be a bug in Zita.

But they, most likely, filter out inf/nan glitches so the issue may come in the form of a minute 'tick' sound at project load or something similar.

[2017-12-14 14:47] musikBear commented on #3968
@killjoyrekt

We need names for those VSTs, we cant gues
also
* did you check the base-velosity?
* is it the bigCat version?
Please answer direct questions

[2017-12-14 15:09] PhysSong commented on #4032
Reproduced. This happens because LMMS restarts and stops the audio device between two track renderings. It can be fixed by changing the way renderer handles audio device changing.

[2017-12-14 17:23] Hevedy opened #4052 "Vestige freezes and crash LMMS with plugins that need verification"
This happen to me and other people with every VST that need verification from email or enter key at open, that opens the plugin window + a secondary or primary sub window to input the key or email.

On Windows 7 64.

Happen with MAGIX Vintage Effects Suite and other plugins that need any kind of input into a secondary window.

Event: "AppHangXProcB1" on the RemoteVstPlugin.exe at freeze then crash

[2017-12-14 17:31] zonkmachine commented on #4052
I believe you mentioned on Discord that there where free VST's that needed registration and failed like this. Can you link to one such project?

[2017-12-14 17:39] zonkmachine commented on #3807
Can you please come up with a better title without home made acronyms? :wink:

[2017-12-14 17:49] Hevedy commented on #4052
I have to find it, but that was like 1 year ago when tried hehe

[2017-12-14 22:53] Videowelder opened #4053 "Lmms 1.2 crash"
I have a track with the Mallets plug in running on solo and every time I try to add FreeBoy on it, the program freezes up and never recovers. When I try reopening and doing the same again, the same thing happens. When I remove the solo, same thing. Same thing for other instruments that I try putting in.

[2017-12-15 01:20] mixterioso opened #4054 "problemas"
saludos amigos tengo un problema cuando carga una nueva caja de ritmo se borran los instrumentos de las que ya estaban cargadas

[2017-12-15 05:00] killjoyrekt commented on #3968
bitsonic keyzone classic
atmos piano
sonatina symphonic orchestra (vst rompler)

[2017-12-15 05:02] killjoyrekt commented on #3968
i checked th base velocity
even if i change it it doesnt really make a difference

also yes its the bigcat version

[2017-12-15 08:18] Spekular commented on #4054
#### Español
No sé si alguien aquí habla español. Creo que todos los problemas deben describirse en inglés.

¿Qué significa caja de ritmo en lmms? ¿Puedes mostrar una imagen?

Si está cargando la caja de ritmo en "Vestige", "Vestige" solo puede cargar uno. Necesita una instancia de "Vestige" para cada instrumento VST que desee.

#### English

I don't know if anyone here speaks spanish. I believe a

[2017-12-15 09:11] Hevedy commented on #4054
I think him means that, you need to load one VST/Vestige per instrument, you can't store more than one.

No puedes tener mas de un instrumento por instancia/caja de VST/Vestige, necesitas uno por instrumento.

[2017-12-15 09:34] Sawuare commented on #3807
Sure.

[2017-12-15 09:45] Spekular commented on #4053
If this happens no matter what instrument you try to add, I don't think the
title should reference FreeBoy.

Do you have other projects that work normally? That would indicate that
this specific project file is bugged, in which case I think you should
upload a copy of the project somewhere so a developer can take a look at it.

On Dec 14, 2017 23:53, "Videowelder" <notifications@github.com> wrote:

[2017-12-15 13:43] PhysSong commented on #4035
@tresf I can't sync changes in `WeakJack` in #4026 because it is a submodule in `master`. Maybe need a PR against upstream?

[2017-12-15 19:10] tresf commented on #4035
@PhysSong done via https://github.com/x42/weakjack/pull/7.  I think you can technically reference the commit ID of my PR now although I always get mixed results leveraging a non-default branch.

[2017-12-15 20:44] tresf commented on #4035
@PhysSong x42/weakjack#7 has been merged.

[2017-12-16 01:13] tresf opened #4055 "Ability to disable ENABLE_ASSERTS for rpmalloc in Debug builds"
From @DomClark:

Here's the message if it's useful to anyone:

[2017-12-16 10:11] Reflexe commented on #4045
About the metronomes, see the last commit on the sample track recording PR. I think it may fix this problem.

https://github.com/LMMS/lmms/pull/3947/commits/205ec07bf61b43ae609e690fb9b5d7c5d4094e54

[2017-12-16 13:09] Spekular opened #4056 "Pasted melodies are quantized"
Tested on RC4, Windows 10 64bit.

Copying a melody and pasting it into piano roll will cause it to be quantized at the current quantization level. For example:
![image](https://user-images.githubusercontent.com/8918426/34070682-9976dfac-e26a-11e7-88e2-f55efdae2433.png)

I believe the melody should be preserved as-is. If a user wants the melody to be quantized they can use the quantize button.

[2017-12-16 14:34] Cookisstador opened #4057 "Starter problem"
When I restart a project he stop at 29%. I think it's a Vst problem but I can't do anything.

Please help me?

[2017-12-16 14:47] zonkmachine commented on #4056
I agree. This behaviour is in 1.1.3 too.

Code here: https://github.com/LMMS/lmms/blob/stable-1.2/src/gui/editors/PianoRoll.cpp#L3766

~Fixed by:

[code]

[2017-12-16 16:00] musikBear commented on #4057
@Cookisstador Yes most likely a flawed VST
Read:
https://lmms.io/wiki/index.php?title=Working_with_VSTs#VST_related_problems

[2017-12-16 16:14] Spekular commented on #4057
What version are you on? RC4 includes several VST related fixes.

[2017-12-16 16:21] ManfredHerr commented on #2741
I also tried to import a MIDI file created by MuseScore 2.1 on Ubuntu 16.04 into a new project within LMMS. The first track with channel 1 (GM Clarinet) starts with 3 measures pause. The two tracks for piano should start first measure beat 2. But the first three measures are missing. Furthermore, both instruments have a shift in the measure, i.e they do not fit.

[Arabesque valsante.mid.zip](https

[2017-12-17 11:49] Cookisstador commented on #4057
Version 1.1.3

[2017-12-17 12:23] algorev commented on #1387
So, how is the implementation going? Just stumbled on his issue and I am very interested in microtonal music. I seems that there has been no activity for a long time, though.

[2017-12-17 12:39] Cookisstador commented on #4057
ok It worked : I uninstall lmms, restart my computer and delete all file (lmms and wrong plug in).

Thank you very much ! You saved my life ;)

[2017-12-17 12:43] #4057 closed

[2017-12-17 13:50] zonkmachine commented on #4056
OK. When I saw the title of this issue I just assumed that it was a bug from a commit with my name on it. It wasn't but it was easy enough to fix so I hacked that in #4058 . I don't know what a proper issue label is but think fixing it in 1.2 is appropriate.

[2017-12-17 20:48] #4056 closed

[2017-12-17 21:07] zonkmachine commented on #4054
@mixterioso Este problemo no es muy claro.
(~This problem isn't very clear...)

[2017-12-17 23:36] zonkmachine commented on #4053
@Videowelder As already have been said, please upload a project file so we can look at the issue. You need to zip it in order to attach it to a github post. Also, try and remove what isn't part of the bug so you end up with a minimal project that still breaks. Thanks!

[2017-12-18 21:15] #2855 closed

[2017-12-19 01:24] Videowelder commented on #4053
I'll try to get that done.

On Sun, Dec 17, 2017 at 6:36 PM, Oskar Wallgren <notifications@github.com>
wrote:

[2017-12-19 15:05] ManfredHerr commented on #2741
After some investigation I noticed that the left hand is missing for the first measures only. The MIDI export of MuseScore uses for piano one channel but two tracks. LMMS tries to combine the two tracks into one segment for the channel. The right hand in the first track starts later than the left hand in the second track but determines the size of the segment. By combining the two tracks for the s

[2017-12-19 16:21] musikBear commented on #2741
@ManfredHerr i think its musescore that creates a special midi-file. When i import your midi-file, i get a bad result. But if i convert your file to midi0 in *Anvil*, i get a correct midi-import, however the TCO of the solo is placed out of clip-pos, eg between normal magnetics, at the 2½ bar pos, but that is *also* the case with your file! Except here it jumps to that in-between pos, as playback

[2017-12-19 16:30] musikBear commented on #3968
@killjoyrekt -You are **not** getting any sound difference if you put *base velocity* at 5 compared to *base velocity* at 127 ?
You get *same* loudness?

[2017-12-19 16:33] musikBear commented on #4057
..Omg **why** uninstall
Guide says nothing about that ...*sigh*

[2017-12-19 19:19] tresf commented on #3999
I've been putting some time into investigating `scoop.sh` for dependencies.  So far we have a working example of [`libsndfile`, `fftw`](https://github.com/lukesampson/scoop-extras/pulls?utf8=%E2%9C%93&q=+is%3Apr+author%3Atresf+) and I'm working with upstream on [`libsamplerate`](https://github.com/erikd/libsamplerate/pull/24#issuecomment-352308672).

Scoop's strategy is to use working-binaries of

[2017-12-19 19:39] DeRobyJ commented on #2948
This has been happening from time to time to me too since 1.2 beta version.
On this screenshot you see a project created with RC4, opened in RC5
![screenshot_2](https://user-images.githubusercontent.com/6437521/34175205-f354c938-e4fb-11e7-8a94-62e966e79938.png)
Windows 7 SP1 64-bit

I failed to understand what exactly causes the problem, I don't get what the affected projects have in common. This

[2017-12-19 19:39] JordanKyser opened #4059 "MIDI import malfunctions"
When doing MIDI imports of more than 8 tracks, it only shows the first 8 tracks in the MIDI, plus the percussion track. When there are changes in volume, it shows all of the automations (as if all MIDI tracks are present).

An even stranger part to this bug is that the MIDI tracks after the 8th MIDI track have their patches placed on the first MIDI tracks.

I found this out as an LMMS bug because

[2017-12-19 19:51] DeRobyJ commented on #2948
[crashing project.zip](https://github.com/LMMS/lmms/files/1573047/crashing.project.zip)
This is an example of a project that crashes upon opening.
I've added the old versions, which unfortunately happen to crash too :/

[2017-12-19 20:26] zonkmachine commented on #2948
@DeRobyJ The original crash reported here is pretty specific on a Debian machine and this doesn't look related.

...

@GNUMariano Can you still reproduce this bug?

[2017-12-19 20:34] DeRobyJ commented on #2948
Yeah, the backtrace is different from tresf's on discord.
I'll open an issue after today's findings

[2017-12-19 20:47] zonkmachine commented on #4059
Can you add an assortment of the files you're testing with in a zip?

[2017-12-19 21:05] michaelgregorius commented on #2948
The problem with the file "0036 (lento)-01.mmpz" is caused by a non-existent effect that's referenced by a peak controller. The relevant section looks as follows:
[code]
However, there is no effect with that ID and the string "12959" only shows up in the peak controller section throughout the whole file. This leads to a `nullptr` in `Song::restoreControllerStates` which triggers an assertion.

[2017-12-19 21:07] michaelgregorius commented on #2948
When I change the code as follows the file can at least be loaded:
[code]
Although I assume that the peak controller will not be connected in that case. But it might come in handy to save most of the project.

[2017-12-19 21:08] tresf commented on #2948
@michaelgregorius a few of us were hacking at it on Discord too, but I think this should be tracked as a separate issue.  I've asked @DeRobyJ to open a new bug report.  Also, <https://gist.github.com/tresf/a63ec5edcd061cdbbf67db80874d37d5> :)

[2017-12-19 21:30] DeRobyJ opened #4060 "Project crash on loading, controller loading error"
Some projects saved with 1.2 beta versions will always fail to crash.

Affected projects trigger this assertion:
[code]

backtrace
[code]

The bug is OS-independent.
These are two affected projects:
[crashing project.zip](https://github.com/LMMS/lmms/files/1573310/crashing.project.zip)

By unpacking "pentatonica emitonica-01.mmpz" using [this tool](https://gist.github.com/tresf/e5d4f1edb5a93b36f77

[2017-12-19 21:37] DeRobyJ commented on #4060
Removing the peakcontroller line in <controllers></controllers> will restore the project.

[2017-12-19 21:58] DeRobyJ commented on #4060
Reproduced on RC5
Steps:
- Create a new project
- Add a peak controller on a instrument track on the BB-editor
- Delete every BB-track on Song Editor, but don't touch the track with the peak controller

When saving, LMMS will delete every track in BB-editor because it's not needed, but it won't delete the peak controller, which won't be able to load!

[2017-12-19 22:08] tresf commented on #4060
Temporary workaround for those wondering how @DeRobyJ was able to remove the `<controllers>` section, the general syntax is

[code]

For a Windows user, something like this, perhaps:
[code]

Or Apple:
[code]

Or Linux:
[code]

Then you can edit the xml file according to @DeRobyJ's instructions and it will open just fine again.

[2017-12-19 22:14] JordanKyser commented on #4059
http://www.mediafire.com/file/w4che5wi2fmhdrd/MIDI%20tests.zip

Okay, I have included 3 MIDI files and an additional MIDI file that shows a bug when you import a MIDI file with percussion instruments as separate MIDI tracks (they will give the right patch, but the wrong bank (in which the percussion bank is Bank 128, thus playing the default piano).

[2017-12-20 05:14] PhysSong commented on #4060
Related: #4029
Fixing #4029 will stop producing such project files, but There's still a issue with previous project file.

[2017-12-20 09:36] PhysSong commented on #4035
@tresf Branch sync is done.

[2017-12-20 17:05] musikBear commented on #2948
Confirming for RC4.6493 on win 32
Last track to load correctly is *solitudine* a zasfx preset.

[2017-12-20 17:18] musikBear commented on #4060
@DeRobyJ

What about **1.1.3** Does files saved with 1.1.3 also have this bug?
I do not have a 1.1.3 saved file with peak-controller inserted (afair), but it would be bad if old 1.1.3 ao **even older** projects *with* peakcontrollers fails.
If it is 'only' files from 1.2beta, that is affected, then imo: *tuff-luck*
Betas *are* not production versions, and a manual fix exists.
Imo, the crucial poin

[2017-12-20 17:41] musikBear commented on #4059
I got a fake(?) positive warning for malware from that place, and an 'extension' to firefox, was deemed 'absolutely necessary' (ya right...)   :/ Mediafire is s*** - you can upload zip files directly here on hub, dont use mediafire.
Here are the library scanned and direct uploaded here
[MIDI tests.zip](https://github.com/LMMS/lmms/files/1576474/MIDI.tests.zip)

@JordanKyser Believe your issue to b

[2017-12-20 19:05] tresf commented on #4059
Agreed, but next time, just upload it and educate the user.  Mediafire is used for both good and bad software.  Let's keep the "malware" warnings out and just educate the users about the file attachment feature inside GitHub. 👍

[2017-12-20 19:59] JordanKyser commented on #4059
Oh okay, I will try that next time when I do a zip folder.

I believe that this has to do with how the tracks are rendered and not how the notes are rendered, but I have had that problem as well.

I will try to send screenshots for this issue.

[2017-12-20 20:21] JordanKyser commented on #4059
Okay, I have the situations here.

----

SITUATION 1:

The first and main situation is how the final MIDI tracks are not shown after rendering, but you can still see their corresponding automation tracks.

HOW THE LAST MIDI TRACKS ARE RENDERED:
![Final MIDI tracks are missing](https://cdn.discordapp.com/attachments/372171748613029900/393132176394420224/Screenshot_76.png "Final MIDI tracks are miss

[2017-12-21 00:48] PhysSong commented on #4032
Moving audio device (re-)storing from `ProjectRenderer` to `RenderManager` seems to fix this. LMMS restores audio device between track renderings, which turns out unnecessary.
It requires tiny refactoring in `Mixer` class, but it only affects rendering. I'll open a PR after doing some more tests. :smiley:

[2017-12-21 01:19] tresf opened #4062 "Windows does not display splash screen"
As reported on [Discord](https://lmms.io/chat) by @StakeoutPunch
* Reproduced on , 1.2.0-RC5 32-bit, , 1.2.0-RC5 64-bit
* Reproduced on Windows 7 and Windows 10

[2017-12-21 01:39] tresf commented on #4062
The splash that ships with the classic theme is working, default is not working:

* data/themes/**classic**/splash.png: (681x573, 24-bit RGB, non-interlaced, 71.5%)`
* data/themes/**default**/splash.png:  (681x573, **32-bit RGB+alpha**, non-interlaced, 92.2%)`

[2017-12-21 01:46] #4062 closed

[2017-12-21 02:11] PhysSong commented on #4059
https://github.com/LMMS/lmms/issues/815#issuecomment-45494509 seems related.

[2017-12-21 02:27] tresf commented on #2890
@follower this issue seems to finally be resolved with Xcode 9.2 and Qt5.10.  https://lmms.io/download (1.2.0-RC5).

Note, the 10.8 build still uses Qt5.5 and Xcode 5.1, so it still suffers this issue.

![untitled](https://user-images.githubusercontent.com/6345473/34237727-35f7e8e4-e5cc-11e7-9b3b-3f16efadd6e6.gif)

[2017-12-21 02:52] PhysSong commented on #3855
This issue seems to affect loading/saving VST settings, as well as ZynAddSubFX.

[2017-12-21 02:55] PhysSong commented on #2161
@ruggiero Can you still reproduce this on latest `stable-1.2` or `master`?

[2017-12-21 07:59] tresf commented on #703
From [Discord](https://lmms.io/chat), @PhysSong and I took a look at the backtrace from RC5, and this is our findings...

**tresf** - Today at 12:56 AM

[...]

[2017-12-21 08:07] PhysSong commented on #703
The backtrace from @tresf: https://gist.github.com/tresf/dc8730c127b5b6330f6e3199f3c3b9fb
Proposed fix: https://gist.github.com/PhysSong/322a8b1ed6ae443ec5a9f6e282a9b51c

[2017-12-21 09:33] PhysSong commented on #4060
https://github.com/LMMS/lmms/blob/eb9b460925ab7962620deb97a66a8ef1ca0c9c64/src/core/Song.cpp#L1291-L1294
This crashes LMMS, even for release build. Defining `QT_NO_DEBUG` will suppress such crashes, but it isn't a real fix.
LMMS should be able to cleanup broken connection after loading bad project files.

[2017-12-21 14:16] michaelgregorius commented on #4060
Copying my two comments from #2948 here for completeness (with one slight adjustment in the code snippet).

The problem with the file "0036 (lento)-01.mmpz" is caused by a non-existent effect that's referenced by a peak controller. The relevant section looks as follows:
[code]
However, there is no effect with that ID and the string "12959" only shows up in the peak controller section throughout th

[2017-12-21 14:41] tresf commented on #703
@PhysSong thanks! Yes, that fixes it on 10.8 at least.  I'll try 10.13 later and report back.

![image](https://user-images.githubusercontent.com/6345473/34260215-19b40494-e633-11e7-8e0d-e71a504facfa.png)

[2017-12-21 15:42] musikBear commented on #703
@tresf -you ned to go deeper. changing the waveform has been a crash issue in ealier releases. I have not yet installed rc5, but will do tomorrow at home

[2017-12-21 17:19] tresf commented on #1912
👍

[2017-12-21 17:19] #1912 closed

[2017-12-21 17:53] tresf commented on #703
@musikBear I assume you're talking about https://github.com/LMMS/lmms/issues/1001#issuecomment-68864497, https://github.com/LMMS/lmms/pull/1991#issuecomment-120735442.

Those are separate, unrelated issues.  From memory they only crashed Windows XP.  The upside is if this is caused by an obscure threading issue, this patch may help, but speculating won't help.  The next release will have this fix

[2017-12-21 19:11] y1ds opened #4064 "Multiple audio outputs"
Is there a way of sending different instruments  to audio outputs?
I am using jack and would like to send different instruments to different physical outputs of my soundcard.
maybe I am overlooking something, is this implemented or not?

[2017-12-21 19:14] DeRobyJ commented on #4060
Yes that will save old project, and there is nothing more to be done about it.
As for the bug itself, the problem is in #4029. Since the BBeditor tracks aren't present in the saved project, we can't have them restored.

[2017-12-21 19:33] JordanKyser commented on #4059
- Tracks, a MIDI file can contain an "unlimited" number of them.
- Channels, a track can contain events for several channels and a channel can be used in more than one track.
- Programs, i.e. instrument sounds, which can change on a channel at any time, and there's only one program in effect on the channel at any given time.
There are use cases for all kinds of splits: The file at hand now would'v

[2017-12-22 12:32] DevSynth opened #4066 "The first note that's played on the piano roll doesn't sound full."
When I play a note (which comes first) on the piano roll, I don't hear it fully and this applies to the Beat and Bassline editor

[2017-12-22 14:45] zonkmachine commented on #4066
Duplicate of https://github.com/LMMS/lmms/issues/2074 ?

[2017-12-22 20:29] #3914 closed

[2017-12-22 20:29] #703 closed

[2017-12-23 07:24] tresf commented on #2611
Closed via #4041.  The last remaining item was switching Travis to Qt5 and that is completed.

[2017-12-23 07:24] #2611 closed

[2017-12-23 07:26] tresf commented on #4035
@PhysSong thanks!  Merged #4041.  All PRs against master will now be uploaded to transfer.sh for Windows, Mac and Linux. :)

[2017-12-23 07:26] #4035 closed

[2017-12-23 11:15] P4ndaJ opened #4068 "AppImage Crash on Centos"
[code]

When i try to open the AppImage on **Centos 7**, this crash with the reported error.

[2017-12-23 11:24] P4ndaJ commented on #4068
Solved.

[2017-12-23 11:24] #4068 closed

[2017-12-23 13:30] tresf commented on #4068
@P4ndaJ what did you do to fix it?

[2017-12-23 20:36] P4ndaJ commented on #4068
I simply installed all dependencies reported for Fedora. I'm sorry for the futile issue.

[2017-12-23 20:46] tresf commented on #4068
It should be self-contained with all dependencies so it might be a bug.

[2017-12-23 22:33] flynn16 opened #4069 "[AppImage] Move lmms wrapper script into AppRun"
In the AppImage building process, there is originally a wrapper shell script named `lmms`, used to start the real LMMS executable `lmms.real`. This wrapper script is unused in the RC5 AppImage build. Instead, the `AppRun` script is used directly to start the LMMS executable. Code responsible for setting some environment variables, is not present in the `AppRun` script, which leads to issues like t

[2017-12-23 22:53] tresf commented on #4069
What makes you think this script is not being executed?

[2017-12-24 02:48] flynn16 commented on #4069
May be related
https://github.com/LMMS/lmms/commit/8bc9e9d9b4785c47a2c809bdc7de907f11381c04#commitcomment-25979076

HiDPI scaling is intentionally unset due to, Qt issues?

always flag it back on manually. I'll add this to the Carla PR and upload a
new AppImage.

This issue can be closed.

On Saturday, December 23, 2017, Tres Finocchiaro <notifications@github.com>
wrote:

https://ci4.googleusercon

[2017-12-24 03:51] tresf commented on #4069
@flynn16 yes, we had to turn it off.  You should be able to turn it back on with `QT_AUTO_SCREEN_SCALE_FACTOR=1 ./lmms-1.2.0-rc5-linux-x86_64.AppImage`. If that doesn't work, you can export it in a separate variable.  When this behavior becomes more reliable in Qt, we'll happily turn it back on.

[2017-12-24 03:51] #4069 closed

[2017-12-24 07:37] PhysSong commented on #3989
I think I can fix this for normal resizing. However, I don't know how to improve the logic for `Shift + <drag>` resizing. Any ideas?

[2017-12-24 23:53] Mark-Agent003 opened #4070 "File Browser Theme Styling"
The file browser currently doesn't respond to mouse hovering and is overall a bit user-unfriendly. Changing the color or spacing when a mouse hovers over an item makes it easier for users to know what item they are about to click, especially if their mouse is not near the item titles or in the margins. It also makes the interface seem more responsive and user-friendly. I have a style.css file wher