[2018-04-23 10:38] qnebra commented on #4110
Hmm, maybe completly ripoff "Show/Hide GUI" option in Vestige subwindow, and set show value pernamently to enabled? Both for instruments and effects.

[2018-04-23 11:32] JordanKyser commented on #4316
https://lmms.io/lsp/?action=show&file=13097
Here is the file. I use 64-bit LMMS (I think that maybe why, I am really not that sure).
I don't know if it had to do with the sf2 plug-in, but it happened to all of the sf2 pitch knobs I connected (which were Sections 1 to 3; each top instrument for each section is the main instrument for each section, and each instrument in that corresponding has their

[2018-04-23 14:12] GingkathFox commented on #4168
Okay! Thanks!

[2018-04-23 14:18] GingkathFox commented on #4289
If I can put a suggestion, maybe the drag and drop could be like a sample to the song editor? Just have a “samples sidebar”  with the LMMS logo, and the installation would be the “song editor”.

[2018-04-23 15:19] makepost opened #4317 "[1.2.0-rc5] Doesn't start on macOS"
Hello, I download 1.2.0-rc5, runs fine on Ubuntu. But both [macOS downloads](https://lmms.io/download/#mac) crash while app is loading, a few moments after splash screen appears. Removing Contents/Frameworks/libgig.8.dylib fixes the startup. What other info should I send for debug?

[code]

[2018-04-23 15:25] lukas-w commented on #4317
Looks similar to #4251.

[2018-04-24 01:07] davidhedlund opened #4318 "Wiki account request"
All entries labeled **DST** in the [VST database](https://lmms.io/wiki/index.php?title=Tested_VSTs) only have DLL files so they cannot be used in GNU/Linux.

I want to contribute to your wiki, can I get an account?

[2018-04-24 06:45] RWBYKing opened #4319 "Feature Request: Indepently functioning BBE tracks"
To the dev team,

To preface: If I am stepping on any toes by requesting this, I do not do so intentionally. I am new to this community, and as such, do not know any of the unwritten rules. Also of note, I should have RTFM before trying to use this software, but I didn't. I have read most of it now, but not before some hiccups, as detailed below.

I ask for this feature because I have accidentally

[2018-04-24 07:26] lukas-w commented on #3025
Closing this as duplicate of #735, I believe it's describing the same thing.

[2018-04-24 07:26] #3025 closed

[2018-04-24 07:28] lukas-w commented on #735
Here's a mock-up made by @vlad1777d, see #3025 for his proposal of this feature.

[2018-04-24 07:28] lukas-w commented on #4319
@RWBYKing You spent a lot of time describing the reasons for the change you suggest, but almost none at all describing what the actual change is. Can you describe in more detail the behaviour you wish to see? Maybe this is already covered by #453 or #454.

[2018-04-24 07:35] lukas-w commented on #4318
I believe @Umcaruje has access to the wiki and could create an account for you.

That said, LMMS supports Windows DLL VSTs through [Wine](https://www.winehq.org/). In fact, we don't support native Linux VSTs at the moment, see #416. So the Linux check marks on the page you linked are correct and refer to whether the VSTs work with Wine.

[2018-04-24 09:01] Sawuare commented on #2714
Note that this only happens when the automation editor windows is over the song editor time-line.

[2018-04-24 09:55] Spekular commented on #735
It would make a lot more sense to me to have the collapse/expand arrow on
the right, or just clicking anywhere on the track to collapse/expand.

On Tue, Apr 24, 2018, 09:28 Lukas W <notifications@github.com> wrote:

[2018-04-24 14:58] musikBear commented on #4316
ohh. you connect dial *with* dials..?!

[2018-04-24 15:06] musikBear commented on #4318
@davidhedlund you need *really good* insight in lmms before you start *changing* articles in the wiki. Writing *new* articles is super, but making *changes* to *existing articles* need **very deep insight** ..please :|

[2018-04-24 15:15] musikBear commented on #4319
i believe RBW has deleted BB-track in song-editor, and to his horror he realizes, that he also now has lost the actual notes in BB-editor.
So this is **Worse: How Newbies Fix This** from  #453

[2018-04-24 19:12] amelenty commented on #4305
hi, is it fine if I try to do this?

[2018-04-24 19:16] zonkmachine commented on #4305
@amelenty Absolutely! I don't think anyone is working on this at the moment so go ahead.

[2018-04-24 20:36] liftarn opened #4320 "VCV Rack VST hangs LMMS"
When loading the [VCV Rack](https://github.com/VCVRack/Rack) VST it causes LMMS to hang.
Running on Win 10 64 bit.

[2018-04-24 23:25] Umcaruje commented on #4318
@davidhedlund For a wiki account please send me your desired email and username to  `uros.maravic@gmail.com`

[2018-04-24 23:42] davidhedlund commented on #4318
@Umcaruje Thanks.

[2018-04-25 05:17] davidhedlund opened #4322 "lmms.io: Upload file error"
![screenshot from 2018-04-25 07 16 51](https://user-images.githubusercontent.com/6416073/39227408-b853fdd4-4858-11e8-9e27-cb2615a24388.png)

I got the same error (but with other ID codes in the square brackets) when I tried to upload a file again.

[2018-04-25 05:49] davidhedlund commented on #416
I've spent 5 hours to update https://lmms.io/wiki/index.php?title=Tested_VSTs

I started https://lmms.io/wiki/index.php?title=Tested_VSTs#Free_software and added three VST's to under that section.

[2018-04-25 05:52] #2914 closed

[2018-04-25 06:07] lukas-w commented on #4322
Let's track this in `LMMS/lmms.io`: https://github.com/LMMS/lmms.io/issues/new

[2018-04-25 06:07] #4322 closed

[2018-04-25 06:09] davidhedlund commented on #4322
https://github.com/LMMS/lmms.io/issues/261

[2018-04-25 06:09] davidhedlund commented on #4322
@lukas-w Thanks.

[2018-04-25 08:29] lukas-w commented on #4055
Reproduced on `master`, but I guess `stable-1.2` is affected too:

1. Open `demos/DirtyLove.mmpz`
2. Export Tracks (<kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>E</kbd>)
3. Choose an empty directory to export to
4. Press "Start"
5. The assertion will fail a the end of the render

Or render any project normally and press "Cancel".

Backtrace:

[code]

[2018-04-25 08:47] PhysSong commented on #4055
Reproduced too. I've tested with the latest revision of `rpmalloc` and it seems to fix the issue. @lukas-w Could you double-check this result?

[2018-04-25 08:59] lukas-w commented on #4055
@PhysSong Confirmed, 1.3.0 fixes it.

[2018-04-25 09:00] #4055 closed

[2018-04-25 18:13] zonkmachine commented on #4110
Since c26bd5bbd62ecd8cf2b3624ad151e73fcf4bdf82 (I believe), the VST gui will be always on top but its container window will work as for other effects, so a window on top of the VST will be in between the VST and its container.

The 3osc in this example is selected and dragged over the Ambience reverb VST but the reverb is on top and its constainer underneath the 3osc.
![overlap](https://user-image

[2018-04-25 18:36] amelenty commented on #4305
@zonkmachine

Got a question about implementation of this.

Please take a look at this function [setBufferSize()](https://github.com/LMMS/lmms/blob/7c71bc657c34b2722f247e4820000c5e46f4d05f/src/gui/SetupDialog.cpp#L1124-L1152) in the file you mentioned.

Basically each position _**x**_ on the slider corresponds to _**64x**_ buffersize option, so currently each selected option must be a multiple of

[2018-04-25 18:50] JohannesLorenz commented on #4305
@amelenty Thanks for trying this issue.

I would use 32 as the general step size (which should allow 32 as a minimum?). A buffer size of 64+32 should be acceptable, too.

On the other side, for cleaning up, I would limit the range to 4096:
* I experienced crashes with zyn with a buffer size > 4096
* Honestly, who uses such large buffer sizes? :smile:

[2018-04-26 04:01] PhysSong opened #4325 "Limiter No.6 causes deadlock when changing latency mode while processing"
To reproduce:
1. Load Limiter No.6 on master channel
2. Press "Fix. latency" while playing audio

Here's the relevant part of backtrace for `RemoteVstPlugin.exe.so`:
[code]

The problem is the callback tries to lock `m_shmLock` but it's already locked by `doProcessing`. I don't know which solution will be the best, but what I think is: make `m_shmLock` to a recursive mutex.

@DomClark Any ideas/su

[2018-04-26 09:01] Sawuare commented on #4312
The error reports use a [QMessageBox](https://doc.qt.io/qt-5/qmessagebox.html), which doesn't support scroll bars. It's supposed to support a size grip, but it doesn't seem to work when I tried it.

It takes _a lot_ of errors for the report to go off-screen. so I don't think it's worth a custom dialog.

[2018-04-26 13:40] PhysSong commented on #4316
Is it worth to implement loading/saving for that?

[2018-04-26 14:08] Sawuare commented on #4205
The steps to reproduce you provided don't works and they don't match what you demonstrated in the video.
However, I'm able to reproduce what happens in the video and I fixed your steps to reproduce.

This is a VST-specific bug. CC @DomClark

[2018-04-26 15:35] Sawuare commented on #3620
Closed via https://github.com/LMMS/lmms/commit/f7a0553e6a505d6a81e3e7ffbc1d6090ace7daf0.

[2018-04-26 15:35] #3620 closed

[2018-04-26 15:38] zonkmachine commented on #4316
If it isn't screaming hard, yes I think so. I sometimes find it useful to combine the decay and release of the envelope and turn the sustain to 0 to get a more classic AD/AR response.

[2018-04-26 16:01] Sawuare commented on #4316
We should also implement something to display control links, similar to how we display controller connections.
![connected controller](https://user-images.githubusercontent.com/25503477/39316981-2f269eb4-4983-11e8-9f9e-bcfb1cab9f93.png)

[2018-04-26 16:25] Sawuare opened #4327 "Cloning SF2 Player in BBE displays the string "Sf2 Player""
![sf2 player](https://user-images.githubusercontent.com/25503477/39318270-6128baf2-4986-11e8-8fca-e2551e26558a.png)
The second track is the cloned one and the string is on the first step.

I tested the other instruments and SF2 Player is the only one that does this.

[2018-04-27 12:32] musikBear commented on #4316
👍 absolutely, especially if dial-dial links are to be used. It would be almost crazy hard to investigate why a specific dial is moving, even a week after working on a project.
I have looked at many projects, and it does not look like project-notes are used often..
`sidetracking`
This dial-dial thing .. Somehow i think "What about a *generic-dial* a controller user can configure a bit, and then hav

[2018-04-27 12:48] Z3R0C opened #4328 "LMMS crashes if i'm using a big wav-file in the sampletrack"
if i'm putting a bigger sample (2-3 mins) in the sample track, i can playback the project 1 times.
the second time LMMS crashes immediately with following message:

`terminate called after throwing an instance of 'std::bad_alloc'
  what():  std::bad_alloc
[1]    12580 abort (core dumped)  lmms
`
the same wav-file in the AudioFileProcessor works fine.

LMMS 1.2.0-RC5.293 / Linux 64bit, QT 5.9.5

[2018-04-28 03:02] PhysSong commented on #4328
Do you have a backtrace for the crash?

[2018-04-28 05:38] IAmSaurex opened #4329 "Audio is Distorted in TripleOscillator"
Whenever I put a note above or overlapping another one and play it, it sounds all static and horrible. Then when a note is by it's self with nothing below or above it, it sounds normal.

[2018-04-28 05:53] PhysSong commented on #4329
This sounds like #113. You can simply lower the volume to avoid distortion.

[2018-04-28 05:53] #4329 closed

[2018-04-28 12:34] zonkmachine commented on #3920
Ardour stopped using midiOutReset() after getting hangs: https://github.com/Ardour/ardour/commit/d10913e2de736b8b34d5efe12548c50296add378

[2018-04-28 12:40] musikBear opened #4331 "Nescaline & Freeboy need to have noise CH disabled pr. default"
both instruments has special noise-generator, and it is wrongfully default enabled.
in Nescaline it is CH4 that is the noise-generator.
It should be disabled default

In Freeboy
CH 1 (oneshot-effects)
and
CH4 (noise channel)
Should be default disabled

Users complain about 'awful distorting instruments' because of this oversight.

[2018-04-28 13:54] Z3R0C commented on #4328
gdb telling me this:

`terminate called after throwing an instance of 'std::bad_alloc'
  what():  std::bad_alloc

Thread 12 "QThread" received signal SIGABRT, Aborted.
[Switching to Thread 0x7fff815c9700 (LWP 22585)]
__GI_raise (sig=sig@entry=6) at ../sysdeps/unix/sysv/linux/raise.c:51
51	../sysdeps/unix/sysv/linux/raise.c: Datei oder Verzeichnis nicht gefunden.
(gdb)
`

"Datei oder Verzeichnis ni

[2018-04-28 14:11] PhysSong commented on #4328
Could you type `thread apply all bt` after the crash and post the output?

[2018-04-28 14:40] Z3R0C commented on #4328
`(gdb) thread apply all bt

Thread 17 (Thread 0x7fff61478700 (LWP 25147)):
#0  0x00007ffff7bc7c60 in __GI___nanosleep (requested_time=0x7fff61477dc0, remaining=0x7fff61477dc0) at ../sysdeps/unix/sysv/linux/nanosleep.c:28
#1  0x00007ffff41ae27d in  () at /usr/lib/x86_64-linux-gnu/libQt5Core.so.5
#2  0x00005555556d39ea in ProcessWatcher::run() ()
#3  0x00007ffff3f7716d in  () at /usr/lib/x86_64-linu

[2018-04-28 15:16] Z3R0C commented on #4328
in another project i get this output:

`Thread 12 (Thread 0x7fff814f0700 (LWP 19612)):
#0  0x00007ffff3572e97 in __GI_raise (sig=sig@entry=6) at ../sysdeps/unix/sysv/linux/raise.c:51
#1  0x00007ffff3574801 in __GI_abort () at abort.c:79
#2  0x00007ffff3bc98fb in  () at /usr/lib/x86_64-linux-gnu/libstdc++.so.6
#3  0x00007ffff3bcfd3a in  () at /usr/lib/x86_64-linux-gnu/libstdc++.so.6
#4  0x00007ffff

[2018-04-28 18:40] KrukWeekend opened #4332 "Audio Multiple Outputs"
I just used the libportaudio64bit.dll of github and instantly was offered ASIO as an output option, which gets me channels 1-2 of my interface software returns.  However my interface has 8 software returns, and depending on the program I am looking at, I can choose them mono or stereo.
For instance the Studio One program has no problems busting them up into Mono or stereo, while OBS only sees them

[2018-04-28 18:47] KrukWeekend commented on #4064
funny I just started a thread Audio Multiple outputs.  Did you put the libportaudio.dll from github in your LMMS folder yet?  That will get your first 2 channels of your interface (sound card You mentioned).  It's not hard to do, here is the link to the libportaudio file as I found it just a while ago::
https://github.com/spatialaudio/portaudio-binaries/blob/master/libportaudio64bit.dll
the second

[2018-04-28 19:14] lukas-w commented on #4332
Duplicate of #4064.

[2018-04-28 19:14] #4332 closed

[2018-04-28 20:07] zonkmachine commented on #4110
In the mean time. Should we go ahead and release RC6 now as it looks like this issue will take a while to solve?

[2018-04-28 23:41] PhysSong commented on #4328
Thanks for the backtrack.FYI, you can wrap the backtrace with ```.

[2018-04-29 01:12] zonkmachine commented on #4110
@DomClark I tested your latest commits and the problem with the VST gui always on top is now fixed.

[2018-04-29 01:39] DomClark commented on #4110
I got Ubuntu on a VM in order to do a little more work here:

VST gui z-order problems now fixed in 93cfb1d, solving https://github.com/LMMS/lmms/issues/4110#issuecomment-384383045.
Always-on-top behaviour for non-embedded VSTs implemented for Linux in 4d27863, finishing @Umcaruje's suggestions.

Up-to-date replies to Umcaruje:

Cannot reproduce (Ubuntu 18.04, Qt 5.9.5, Wine 3.0) - can you investi

[2018-04-29 06:03] lukas-w commented on #4110
Added a workaround for this via e963287321257862ebfebdabbef6f614916b3aad.

[2018-04-29 06:10] lukas-w commented on #4110
Can't reproduce either.

I too had this problem since c26bd5bbd62ecd8cf2b3624ad151e73fcf4bdf82 with Qt5, but 93cfb1d6756400f324deec64c307a7d4d6d4f7e6 fixed it.

[2018-04-29 12:30] PhysSong commented on #4030
I can reproduce the `undefined symbol: _ZGVbN4v___expf_finite` issue with Ubuntu 18.04, gcc 7.3.0 when I try to open `unfa-spoken.mmp`. One should be able to reproduce it with [latest AppImage from CircleCI](https://51-15778896-gh.circle-artifacts.com/0/lmms-1.2.0-rc5.296-linux-x86_64.AppImage). I guess we need to link math library for the plugin.
Related: https://github.com/owlbarn/owl/issues/61

[2018-04-29 12:44] musikBear commented on #4030
@PhysSong - a question - if you open `'spoken.mmp'` in a code-editor, and changes all` 'open==1'` to `'open==0'` -eg _closes all sub-window_s, what happen then, if you try to open **that** project in lmms

[2018-04-29 12:54] PhysSong commented on #4030
It's related to LADSPA plugin build issue with new compilers, so that's not related.

[2018-04-29 13:40] LeandroStanger opened #4334 "Create a flatpak version of LMMS on flathub"

[2018-04-29 13:52] PhysSong commented on #4030
For some reason, It seems to work fine on `stable-1.2` and be broken on `master`. `COMPILE_FLAGS` property doesn't seem to be applied properly on `stable-1.2` and dropping `-ffast-math` fixes the issue.
If we still need the flag, I guess we need to link math library. I don't know if it can cause any issues.

[2018-04-29 14:08] lukas-w commented on #4334
Duplicate of #4109. We'd happily accept pull requests providing this, but there are no plans to spend any efforts on this at the moment as we already offer an AppImage version.

[2018-04-29 14:08] #4334 closed

[2018-04-29 20:48] lukas-w commented on #4014
I'm not sure what this issue proposes, but I'd say video creation is definitely out of scope for LMMS.

[2018-04-29 20:48] #4014 closed

[2018-04-30 05:54] #4168 closed

[2018-04-30 06:30] davidhedlund commented on #416
http://linux-sound.org/linux-vst-plugins.html is the most complete list of VST's for GNU/Linux that I've seen.

[2018-04-30 12:49] PhysSong commented on #4165
Reproduced. It looks like #3956 though I'm not sure. I'll post a test build with a potential fix in a couple of days.

[2018-05-01 04:58] JohannesLorenz opened #4337 "Enable effect output controllers and sidechaining"
There are many LADSPA effects that support port types that LMMS currently can not handle:
* audio output
* audio input (i.e. more than 2 audio inputs, e.g. for sidechaining)
* control output

It would be cool if we could enable those. Some thoughts:
* Control output: This is ideal for LMMS controllers. However, users would lose the overview when each effect adds controllers for all its outputs. On

[2018-05-01 05:01] PhysSong commented on #2448
No response, closing. please request re-opening if you the issue is still there.

[2018-05-01 05:01] #2448 closed

[2018-05-02 01:35] PhysSong commented on #4165
@Sauerstoffdioxid Can you still reproduce this issue? If so, could you test this version?
https://github.com/PhysSong/lmms/releases/download/vdummy/lmms-1.2.0-rc5.61-win64.exe

[2018-05-02 10:55] #777 closed

[2018-05-02 13:47] Sauerstoffdioxid commented on #4165
@PhysSong Seems to be fixed.  👍

[2018-05-02 14:10] PhysSong commented on #4165
Then I'll open a pull request soon.

[2018-05-04 11:31] GoAm commented on #3975
Looking forward to (at some point) see a native VST implementation for Mac OS running in LMMS.

[2018-05-04 15:24] vwren commented on #3920
It's possible that midiOutReset() is unstable.  I know that SimplePiano uses the Reset/Close destructor for MIDI out, and for MIDI in, uses midiInStop(), midiInReset(), midiInClose().  I have never had it hang on me when closing, but it would take a larger sample size to have more confidence in it.

Another issue might be caused by the Midi Stream manager.  http://mastersonicarts.uniroma2.it/wp-co

[2018-05-04 21:41] liushuyu commented on #4285
I don't know if German localization can have a shorter version of that, in the case of impossibility to make a shorter version of translation, we might want to make the UI respond to the variable text length.

[2018-05-05 08:51] Sauerstoffdioxid commented on #4285
As a German, I don't think the term can be abbreviated. However, since all other knobs use the English terms (well "rate" and German "Rate" are the same, so I don't know which is used here), one possibility would be to stick to the English terms, e.g. "Delay". Afterall the plugin itself is called Delay, too, so it shouldn't be confusing.

[2018-05-05 18:53] supernegativep opened #4341 "Soundfont Player Inaccuracies"
Don't immediately shoot this down as piracy, it isn't, but when importing a soundfont ripped with VGMtrans there are many inaccuracies present that are not there when played in other programs. This is NOT a VGMtrans bug because these soundfonts are fine, as they work in other programs with little to no inaccuracies. I don't know what it is about these soundfonts, that cause this, but clearly other

[2018-05-05 18:58] supernegativep commented on #4341
Forgot to mention this is both a issue seen in the latest beta and stable releases.

[2018-05-05 20:57] zonkmachine opened #4342 "Arpeggiator sometimes trigger one note too many"
_As reported on our Discord support channel._
Test project by Discord member `Half-Gray/7E7E7E`
[bass_test.mmp.zip](https://github.com/LMMS/lmms/files/1977065/bass_test.mmp.zip)

The arpeggiator sometimes triggers one arpnote to many at the end of a note with some settings.
Try turning up sustain a bit to trigger it.

The issue is there already in lmms-1.0.3 but not as obvious. In the test project

[2018-05-06 07:13] #4278 closed

[2018-05-06 07:13] #4286 closed

[2018-05-06 08:54] Sawuare commented on #4305
I agree, but I think we should limit it to 2048. That's sufficient, isn't it? And most DAWs have that as the limit. Check this small [poll](https://www.strawpoll.me/15634073/r) that I created on our Discord.

[2018-05-06 15:16] Sawuare commented on #1641
Implemented in `master` via #3649.

[2018-05-06 15:16] #1641 closed

[2018-05-07 01:55] MayuriIsNumberOne commented on #746
It's been years and such a feature to independently cut or merge just like in any other DAW is still not available. Any word on this? It's really frustrating that I can't run FL on Wine and LMMS is the only software  really feel comfortable with and it doesn't have that simple feature. It's really frustrating

[2018-05-07 04:15] JohannesLorenz commented on #4305
@Sawuare Doesn't this poll say that 40% of users use a buffer size > 2048?

[2018-05-07 08:26] lukas-w commented on #746
@MayuriIsNumberOne This project is run by a small number of volunteers. Complaining about the work they do or don't do doesn't help progress and is not tolerated here.

[2018-05-07 10:18] lukas-w opened #4345 "Hard-coded library paths in CMake"
We currently hard-code the paths of libraries we bundle in our packages in `make install` for Windows platforms:

https://github.com/LMMS/lmms/blob/c1b2728d656a41345d76854fa28fcf597a774296/src/CMakeLists.txt#L181-L218

This breaks `make install` for MinGW toolchains other than Toby's Trusty PPA and for MSVC.

Instead of hard-coding, we should use `FindPackage` to locate libraries.

[2018-05-07 12:45] PhysSong commented on #3920
@vwren @michaelgregorius Here's a new build without `midiOutReset`(`midiInReset` only):
https://github.com/PhysSong/lmms/releases/tag/v1.2.0-rc51/

[2018-05-08 00:08] #3357 closed

[2018-05-08 11:03] Sawuare commented on #4305
@JohannesLorenz It does, but I doubt they need to.

[2018-05-08 12:41] amelenty commented on #4305
I found some info on buffer size on [this page](https://lmms.io/documentation/Tuning_LMMS-installation#Buffer_size).

Apparently. small buffer size (up to 256) is good for recording and making real-time changes to tracks, while large buffer sizes are good for lots of non-realtime processing.

I honestly have no idea about how high the upper limit should be.

[2018-05-08 16:51] JohannesLorenz commented on #4305
@amelenty We're sorry, but someone else already committed a fix meanwhile: #4336 . Thanks for trying, anyways :1st_place_medal:

[2018-05-08 19:15] vlad1777d commented on #746
Also I think, that instrument system in Piano Roll should be reworked.
For example, to be able choosing several notes without switching between pen and frame.

Left mouse button could draw notes, right - remove, and middle - choose notes with a frame.
Or, as alternative, shift + left mouse button could select several notes by a frame.

[2018-05-08 19:25] vlad1777d commented on #735
Also, as Beat/Bassline editor is organized in a same way,

hope, it would be possible to create some "common" classes to use them in both:
Song Editor and Beat/Bassline Editor.

Also it would be good to display not just bars
(like Song Editor displays Beat/Bassline's patterns now),
but bars with notes
(like Song Editor displays Piano Roll's pattern now).

[2018-05-08 19:30] vlad1777d commented on #3989
@musikBear , I don't really know LMMS' codebase, but think, that "slide" notes could be marked with something like `slide: True` property on Note's instance.

[2018-05-09 04:29] #3956 closed

[2018-05-09 04:29] #4165 closed

[2018-05-09 09:02] BowB4YourSensei opened #4346 "Marking in Piano Roll does not work. (LMMS 1.2.0-rc5)"
Steps to reproduce

1. open piano roll
2. plot a note or chord
* RMB "mark/unmark current semitone"
* RMB "mark/unmark corresponding octave semitones"
* RMB "mark current scale"
* RMB "mark current chord"

LMMS does no marking.

OS: Windows 10 (64)

[2018-05-09 09:08] BowB4YourSensei commented on #4188
This seems to consistently happen when a scale is not selected.

[2018-05-09 09:16] BowB4YourSensei commented on #4346
Looks like it was addressed for rc6

[2018-05-09 09:16] #4346 closed

[2018-05-09 09:49] Sawuare commented on #3695
I'm convinced. Mixer before controller rack is better than the other way around. I edited the issue and I'll change #3938 accordingly.

[2018-05-09 12:56] musikBear commented on #3989
@vlad1777d Noo * 2
First 'zero-length-notes' was just a *name*, The graphical representation was 1/16, but distinctly different in color.

And no, 'sliders' should be a new type of notes. Look at this mock-up
![slider-mock-up](https://user-images.githubusercontent.com/6662066/39815536-882805ce-5398-11e8-8352-110ef7bc2c19.jpg)

User has chosen the new note *sliders* (pink) and inserted several. On

[2018-05-09 14:30] PhysSong commented on #4029
It occurs if I remove *all BB tracks* in song-editor.

That is #2350, but losing *tracks* in BB-editor isn't a part of #2350. In #2350, tracks in BB-editor are not affected.

[2018-05-10 06:44] PhysSong commented on #4342
https://github.com/LMMS/lmms/blob/5d90aecac90c16e9a4ec0b0450539cbe17ae7f6a/src/core/InstrumentFunctions.cpp#L344-L350
It looks like the logic uses (note length + release frames) instead of the real length. I think there's no reason to check release frames here.

[2018-05-10 07:12] PhysSong commented on #4342
Seems like LMMS plays arpeggio for released note and multiply release envelope value to new notes' volume. I don't know why/if we should...

https://github.com/LMMS/lmms/blob/5d90aecac90c16e9a4ec0b0450539cbe17ae7f6a/src/core/InstrumentFunctions.cpp#L505-L508

[2018-05-10 09:07] zonkmachine commented on #4342
Personally I haven't seen this problem a lot and thought that it had been solved simply because I've grown into the habit of using the same staccato like envelope with all of my arpeggios that wouldn't trigger the issue.

Yes. Just changing

[code]
to
[code]
seem to fix this.

[2018-05-10 09:56] Reflexe commented on #4030
It could be solved by this patch:
[code]

We basically have to use `target_link_libraries` instead of manually adding link flags. It changes the position of the flags in the command and make sure other targets that depends on this library get its flags too.

[2018-05-10 12:33] PhysSong commented on #4030
Recent gcc compiler use vector math when both `-ffast-math` and `-O3` is specified. These functions are implemented in `libmvec`(provided by `glibc >= 2.22`).
LMMS binary is linked against math library, so not linking math library is generally not an issue on POSIX systems. However, gcc doesn't link `libmvec` when `-lm` is passed unless vectorized functions are used.
Now there's a problem: some TA

[2018-05-10 16:14] musikBear commented on #4029
imo, 'bad' -Meaning that *painting patterns* inside song-editor, leads to laziness, and monotony in end result
(also, lmms-project should not recreate FLs 'solutions' -there is always a question of plagiarisms)

[2018-05-10 19:30] rghvdberg opened #4350 "Piano roll : unexpected snap to grid behavior"
When changing the grid from 1/16 to 1/12 (for example) and dragging a note , the note does not snap to the grid lines.

Recipe:
1) draw some notes with grid set to 1/16
2) change grid to 1/12
3) try dragging a note to a 1/12 grid line

[2018-05-10 20:18] Reflexe commented on #4030
@PhysSong Thanks for the detailed explanation; However, the same error still exist when specifically adding `-lm`.

This is the command before my patch (no libmvec):
[code]
And this is after my patch (have libmvec):
[code]

Am I missing another difference other than the place of `-lm`?
I think we just found another compiler mystery :D

[2018-05-10 20:27] zonkmachine commented on #70
I can reproduce this on LinuxMint-17.3 and just about any lmms version down to 0.4.90 .

 * Launch lmms
 * Open Demos->Skiessi->RandomProjectNumber14253

Open
![skiessi](https://user-images.githubusercontent.com/6368949/39892294-71693c46-54a0-11e8-963d-24f3093e59d4.png)

Maximize
![skiessi2](https://user-images.githubusercontent.com/6368949/39892302-7875879c-54a0-11e8-9ecb-da03f508e032.png)

Move

[2018-05-10 20:44] EtornaZ opened #4351 ""Sync VST Plugins to host playback" setting not working"
A new user account on my computer was created, and when I went into the settings in LMMS on the new account and selected the "Sync VST" setting and restarted LMMS, my VST plugins did not sync. I've tried to repeatedly turn the setting on and off, but that didn't work. This setting works on my other account on the computer, so I don't know if I need to do something else in this case.

If this helps

[2018-05-11 09:25] Sawuare commented on #3695
Closed via 0d73f32.

[2018-05-11 09:25] #3695 closed

[2018-05-11 11:25] zonkmachine commented on #70
If I drag the Song-Editor down so the lower part with the horizontal scrollbar is ever so little outside of the canvas and then maximize it, the full song is showing.

[2018-05-11 12:54] zonkmachine commented on #70
Could be an issue with x11. https://doc.qt.io/archives/qt-4.8/application-windows.html#window-geometry

[2018-05-11 13:39] musikBear commented on #70
Actually, its the whole win-border that is 'gone'
Look at this picture
![songeddnomaxwinborder](https://user-images.githubusercontent.com/6662066/39926755-711b914a-5530-11e8-9f75-ada4677309fe.JPG)

There are two states on the same picture. Top you see that if a right-ckick is done on the win-border, lmms shows a context menu.
Not 'shown' is the fact that a double-click will anywhere on this border

[2018-05-11 13:57] zonkmachine commented on #70
Under what circumstances? Sorry, I don't get your post. I see no context menu related issues.

[2018-05-11 17:11] EtornaZ commented on #4351
I am fairly certain they're both one installation. How do I know if it's two? Does that mean I've installed it twice?
And also, where is the .lmmsrc.xml file located?

[2018-05-11 19:15] curlymorphic commented on #4127
fixed by #4260

closing

[2018-05-11 19:15] #4127 closed

[2018-05-11 20:10] zonkmachine commented on #4342
https://github.com/LMMS/lmms/blob/5d90aecac90c16e9a4ec0b0450539cbe17ae7f6a/src/core/InstrumentFunctions.cpp#L505-L508

Right, you've got good eyes. This decay is for the releaseFrames (post above) giving a sort of pseudo delay end to an arpeggio with a long decay. I think it should just be removed along with the other change above (which makes it never execute anyway).

[2018-05-12 09:04] michaelgregorius commented on #3920
@PhysSong, with version RC51 I now get a crash when I close LMMS (but the process is gone :wink:). Here's some more information:
[code]

[2018-05-12 10:53] rghvdberg commented on #4350
I think the problem lies here
https://github.com/LMMS/lmms/blob/stable-1.2/src/gui/editors/PianoRoll.cpp#L2412-L2417
[code]
and later at line 2460
 `int pos_ticks = note->oldPos().getTicks() + off_ticks;`

this moves the notes just a number of quantized ticks and not to the grid as one would expect

[2018-05-12 10:56] musikBear commented on #70
@zonkmachine  > Under what circumstances?

with maximixed windows. I showed the 'context-thing' because it is a normal windows-feature, that a context-menu, can be accessed with right-click, nomatter if the window is popped out, or maximized. The picture shows, that in lmms, only popped-out windows *has* a normal windows-top-bar. Maximized windows does not have this normal windows-bar, in lmms.

[2018-05-12 11:01] zonkmachine commented on #70
This issue is about song elements not showing up when you maximize the Song-Editor. The issue only appear when all elements on the canvas prior to maximizing is within the canvas.
Do you see this precise issue on Windows?

[2018-05-12 11:04] musikBear commented on #4351
@EtornaZ  > where is the .lmmsrc.xml file located?

https://lmms.io/wiki/index.php?title=LMMS_Settings#Problems_with_Settings
But two different versions of lmms on the same pc, will lead to weirdness, -except YOU add one more complication: two *accounts*
You do mean TWO different windows-**accounts** (active-directory-accounts) right(?)
Must admit i have no idea if two accounts also co-use the dot

[2018-05-12 11:29] zonkmachine commented on #70
@musikBear I understand what you mean now. It's a completely different issue and by design. Now back to the original topic... please confirm if you see this issue or not.

[2018-05-12 12:27] zonkmachine commented on #70
@musikBear I've updated the middle picture in [my comment above](https://github.com/LMMS/lmms/issues/70#issuecomment-388175225) for clarity.

[2018-05-12 12:54] Sauerstoffdioxid commented on #70
I can confirm on Windows.
LMMS 1.2-rc5 x64 (from the website)

[2018-05-12 14:45] zonkmachine commented on #70
OK. So it's our issue then. Poked it some more...

If I stick `updateGeometry();` first in [this function](https://github.com/LMMS/lmms/blob/5d90aecac90c16e9a4ec0b0450539cbe17ae7f6a/src/gui/editors/SongEditor.cpp#L720:L723) the issue is fixed.

[code]

[2018-05-12 15:03] Vhami opened #4354 "LMMS Error When Exporting"
When i start a track with an automation clip and then i export it,it dosen't sound like the clip of the playlist,any ideas or suggestions to fix it?#

[2018-05-12 16:06] lukas-w commented on #4354
@Vhami We need more details. Please provide the behaviour you expect, the actual behaviour you get, plus exact instructions to reproduce or a minimal project file that shows the issue.

[2018-05-12 21:48] EtornaZ commented on #4351
I used the command prompt command to move the lmms file, and it disconnected all of the links I had set up in my LMMS, but I put the folder directories that I use back into the LMMS settings, turned on the VST Sync and now it works, somehow.
And yes, I meant two different windows accounts.

[2018-05-13 08:08] eagles051387 commented on #4351
Hi Guys,

From working with AD users each user has their own profile so there is
no cross sharing between user profiles. if the .lmmsrc.xml is on user A
user B will not work with that file of user A but it will have its on in
that users profile.

On 12/05/2018 13:04, musikBear wrote:

[2018-05-13 14:07] musikBear commented on #70
@zonkmachine -Yes i have experienced invisible blocks, but they did replay, and toggling song-editor up-down or dragging an other window over the invisible blocks, made them re-appear. so indeed a *graphical* glitch, witch is loosely connected to toggled sub-windows.
I dont think i have seen this in RC's since 1.1.3, but *that* may be because i by rule, only saved projects, with all windows closed

[2018-05-13 14:08] musikBear commented on #4354
also please post your:
* OS (+service-pack-version)
* lmms version

[2018-05-13 15:02] zonkmachine commented on #70
The question still stands. Can you **replicate** the issue with the given steps? No guessing or anecdotes from earlier versions. lmms-1.2.0-rc5.

 * Restart LMMS
 * Open a large project
 * All windows closed except Song-Editor
 * Adjust the size of the Song-Editor to be within the canvas
 * Maximize the Song-Editor

Do you see missing blocks. Yes/No?

[2018-05-13 19:50] rghvdberg commented on #4350
think I solved it
[code]

[2018-05-13 20:49] DeRobyJ commented on #4354
I think he's referring to the fact that some automation "points" are ignored during export, expecially at the beginning of the song.
I tend to record the playback on audacity instead of exporting, if I'm using a lot of automations.
But maybe it's another problem here.

[2018-05-13 21:12] SecondFlight commented on #4331
I vote to close this issue based on the discussion in the PR linked above. I would just do it but I'm still pretty new here.

[2018-05-13 21:23] #1521 closed, assigned to nobody

[2018-05-14 00:07] Wallacoloo commented on #4331
I had never used these instruments. However, I just opened them to understand this issue better - I will admit that not knowing anything about the instruments, I thought I had a problem with the sound configuration in LMMS when I first played a note on Nescaline. The default patches are distorted in such a way that _does_ resemble the same sound I get when using pulseaudio with too small a buffer.

[2018-05-14 01:06] SecondFlight commented on #3157
Closed via https://github.com/LMMS/lmms/pull/4348

[2018-05-14 01:06] #3157 closed

[2018-05-14 06:35] Wallacoloo commented on #4169
Relevant code:
[code]

I don't have a good grasp on how LMMS uses each thread, but since the stack trace doesn't go deeper than this, my guess is that another thread is interacting with `Song` in a way that causes `m_controllers` to change during the body of this loop (this could happen whenever `addController` or `removeController` gets called externally).

[2018-05-14 13:33] musikBear commented on #70
Yes (win32 sp3 xp RC5.6545
![disapearedatmaximixe](https://user-images.githubusercontent.com/6662066/40000335-d9e90eca-578b-11e8-8fed-1d432378a3a4.JPG)
That single block is all i have, after smallest possible song-ed. window, is maximized. You are correct!

[2018-05-14 18:57] slawekwaga commented on #3990
It's actually worse in my case. I'm waiting TWO MINUTES after klicking Add Effect and nothing happens.

[2018-05-14 19:33] lukas-w commented on #4200
This is almost certainly the same issue as #3990. You probably get a smaller delay the second time you click because of filesystem cache hits.

[2018-05-14 19:33] #4200 closed

[2018-05-14 19:34] justnope commented on #4345
About 90% of my time in issuing the latest patch for #4352 went into finding a solution of not hard-coding those paths. I eventually gave up. I know it's possible but my cmake knowledge isn't that advanced and internet searches didn't help.

Not hard-coding paths would also protect us when lib x suddenly uses lib y. Ideally, we don't need change anything, let the (cmake) system figure out what lib

[2018-05-14 19:37] lukas-w commented on #4345
Yeah this is not a trivial task and is best done by someone with experience with CMake. Until someone finds the time to work on this, it's probably better to use hard-coded paths for new systems than not supporting them at all.

[2018-05-15 02:40] SecondFlight opened #4358 "Piano roll: Pasted notes individually snap to current gird, should preserve relative positioning"
This is easier to show than to tell. Here is the current copy/paste behavior:

<img src="https://i.imgur.com/6d2lJ0V.gif">

----------------------------

This goes against shift + drag, which works as expected:

<img src="https://i.imgur.com/SbS0aR9.gif">

[2018-05-15 03:12] SecondFlight opened #4359 "Favorites list context menu for effects"
We have a _lot_ of effects. There's nothing wrong with this, but it creates a slowdown in the user's workflow when finding effects, and I think this can be avoided.

My thought to remedy this is to add a favorites list for effects. You would be able to add effects to the favorites list from the current effects list, and you could access the favorites list by right clicking anywhere in the backgrou

[2018-05-15 11:13] SecondFlight commented on #4358
It is, I searched for a good 5 minutes and didn't find that one.

[2018-05-15 13:20] musikBear commented on #3990
@slawekwaga
* Lmms ver. ?
* OS ?
* size of folder ?

[2018-05-15 23:25] PhysSong commented on #70
`TrackContentWidget::changePosition` is called when the viewport for song editor changes. It hides invisible TCOs(actually moves TCOs to outside of visible area).
However, the function isn't called when the window is maximized/restored.

[2018-05-16 01:18] SecondFlight commented on #3637
I can't reproduce on master, can someone confirm this before I close?

[2018-05-16 01:36] SecondFlight commented on #3623
I'm having trouble reproducing this bug on master. It doesn't appear that the single instrument window setting updates without a complete restart of LMMS. Could someone confirm this?

[2018-05-16 02:53] RWBYKing commented on #4319
@musikBear You are correct. That is the problem I was encountering.

@lukas-w I do suppose that the 'hide unused tracks' button that was suggested in #453 would be a workable compromise. It's less intrusive for the wider userbase and easier to implement, so I think I'd be able to live with a slightly-less-than-optimal UX in my personal case.

[2018-05-16 05:53] PhysSong commented on #3623
I've seen this issue, see the [comment](https://github.com/LMMS/lmms/issues/3623#issuecomment-345490368) above.

[2018-05-16 06:56] lukas-w commented on #4319
@RWBYKing Your answer still doesn't describe what would be the "optimal UX in your personal case".

As the only hint you've given about the improvement you suggest – the issue's title "Indepently functioning BBE tracks" – fits #453's description pretty well, I'm closing this as duplicate of #453. Feel free to correct me on this.

[2018-05-16 06:56] #4319 closed

[2018-05-16 08:02] BowB4YourSensei opened #4361 "[Feature Request] Piano Roll Chord Hot Key"
The chord feature in the Piano Roll is very handy for quickly making chords. However it takes me out of focus to move over and select a different chord pattern. Is it possible to add a hot key action to this? Something like Ctrl+Alt+Scroll Wheel and/or Ctrl+Alt+Up/Down arrow?

Forgive me if this has been asked before.

[2018-05-16 10:25] MisterTeeXD opened #4362 "Exporting a sample track cuts off the beginning"
LMMS Version: LMMS 1.2.0rc5, Win64
OS: Windows 10

Issue:
When a song gets exported, a small part of the beginning will get cut off

Steps To Reproduce:
1: Go to File
2: Select Export
3: Select Save (Any Directory)
4: Select Export
5: Play the Audio File

This issue was also in LMMS 1.1.3 and it is also in LMMS 1.2.0rc5, the audio file, when fixed, will play without the cutoff of the beginning

[2018-05-16 11:42] SecondFlight commented on #4362
Could you please update this with a project file where this happens for you? I haven't noticed the same issue, though I could have just missed it. How much of the beginning does it cut off?

[2018-05-16 12:46] PhysSong commented on #3623
Steps to reproduce:
1. Turn on the setting
2. Add four tracks(they shouldn't be opened)
3. Repeatedly open first two tracks(10 times will be enough)
4. Turn off the setting
5. Try to open the other tracks

I guess current window caching system is bug-prone with toggling the setting. I'll look into this once I have enough time.

[2018-05-16 13:00] musikBear commented on #4362
Also what export-settings, and export file-type, if it matters

[2018-05-16 21:14] lukas-w commented on #4319
This still sounds exactly the same to me as what's described in https://github.com/LMMS/lmms/issues/453#issue-29404765, which proposes "to allow the list of instruments to be stored specific to a Beat/Bassline". If that's any different from what you have in mind, please explain.

[2018-05-17 05:42] alexgleason commented on #1531
I'm on 1.2.0-rc5 and for the life of me can't figure out how to replace an existing instrument. Dragging on top of the instrument always creates a new one and I can't find any dialogs to replace the instrument. I'm guessing this has changed?

[2018-05-17 08:06] PhysSong commented on #4362
It always happens for me. The length of missing samples are one buffer (<= 256 samples) so it isn't easy to notice the issue.

[2018-05-17 12:41] musikBear commented on #1531
@alexgleason even though it is not agreed in this thread, using context-menu is the way to go.
You can do this:
1. In song-editor, click the instrument-buttons of the instrument you want to replace. That will make the instrument pop-up and show you the UI for that preset. **That** is now **active-instrument**!
2. go into sidebar| myPresets, and browse to the wanted preset
3. Right-click it
4. choo

[2018-05-17 12:44] musikBear commented on #4362
@PhysSong, can you make a demo project?

[2018-05-17 16:39] #4342 closed

[2018-05-17 17:33] Handlepower opened #4365 "Vestige Cuts Off Part of GUI After New Windows Update"
After the latest Windows update which I installed yesterday, Vestige displays the VST GUI off center, and the left side is not displayed on the window. I can only interact with the part that is showing. Screenshots below.

<img width="960" alt="arminator ss" src="https://user-images.githubusercontent.com/39383113/40193761-1524fec6-59bd-11e8-939d-6cb5c39ff425.png">
<img width="960" alt="oatmeal ss"

[2018-05-17 23:45] SecondFlight commented on #4365
Tagging @DomClark.

[2018-05-17 23:51] SecondFlight commented on #4365
@Handlepower That's not the latest version, and a lot of VST issues are fixed in the [current release candidate](https://lmms.io/download/#windows). Could you please download that and let us know if the issue still occurs?

[2018-05-18 00:50] SecondFlight commented on #1673
I'm not still having this issue on master, could someone test this and confirm before I close the issue?

[2018-05-18 01:19] SecondFlight commented on #323
This appears to be fixed in RC5.

[2018-05-18 12:54] musikBear commented on #4365
He is talking about a **win10** latest update, and that winUpdate has given  issues for others using 1.1.3. They cant use Vestige anymore..
I recommended RC5x64, and hope he gets back with info.
Have any devs installed this 'latest' (?) win10x64 update?
Afaik, it should be 2 or 3 days ago

[2018-05-18 13:06] musikBear commented on #1673
Confirming, i can play from bar 0:0:0 in songeditor even though pianoroll has  timer value paused at  5:2:0.
 If i stop play in song-editor and i reopen the paused piano-roll, it is now not at bar 5:2:0, but at bar 0:0:0
If i *pause*  in song-editor and i reopen the paused piano-roll, it is now at bar 5:2:0.

imo logical and good behaviour. Song-editor *stop* resets timer, is ok

[2018-05-18 15:13] justnope commented on #4306
In RemoteVstPlugin.cpp if you put in the function main(): CoInitialize(nullptr) and at the end CoUninitialize(); it works.
Maybe someone who has a lot of vsts should test if this doesn't break anything else.

[2018-05-18 17:34] #3689 closed

[2018-05-18 17:37] SecondFlight commented on #4306
I can do that, though I'm not sure what kinds of things to test. I wouldn't say I have a *lot* of vsts, but I have some commercial and quite a few free ones. It might be a bit before I can do this, since I won't be near my main machine for about another week. If you have a branch with this change, that would help a lot.

[2018-05-18 17:40] SecondFlight commented on #1673
Alright, I'm closing the issue based on that. If it works on master and the latest RC then I'm not worried.

[2018-05-18 17:40] #1673 closed

[2018-05-18 20:58] DeRobyJ commented on #1531
You can drag samples inside AudioFileProcessor!

[2018-05-19 08:05] PhysSong commented on #4362
I've done more test, and here's the result:
- In 1.1, silence of a buffer is added.
- In 1.2, a part of sample is silenced(see the picture).
![missing](https://user-images.githubusercontent.com/12591074/40266306-e1eab6a4-5b83-11e8-9775-8d7fa5cae09b.png)

The issue in 1.1 have been fixed in #1370. However, #3133 have introduced a new issue. A call to `Song::startExport` emits`playbackStateChanged`

[2018-05-19 10:04] justnope commented on #4320
It works in 1.2.0-rc5. could you download it from https://github.com/LMMS/lmms/releases and check if you still have this issue?

[2018-05-19 12:47] supernegativep commented on #4341
And you don't give a shit! Epic!

[2018-05-19 12:54] lukas-w commented on #4341
@supernegativep We have almost 700 issues and hardly enough contributors to handle even a tiny fraction of it. Complaining about the shortcomings of a couple of volunteers is not tolerated here and will result in a ban from our tracker. Consider this your warning.

[2018-05-19 14:08] supernegativep commented on #4341
And you know what? I can respect that. However, this has been a thing known online since at least Sept 2017. I know that the sf player is forked, but I don't know when last build or the original was updated.
I know you guys are struggling, but there at least have to be other sf players that can be ported as plugins.
Maybe I will try helping if I can learn some more C forks.

[2018-05-19 14:29] supernegativep commented on #4341
Heck, there can even be a disclaimer/warning in the ui aby it if you guys really can't afford to worry about it. my problem was that there has been nothing on it as far as I can tell for a long time.

[2018-05-19 14:30] supernegativep commented on #4341
I know I'm an asshole and not a good contributor. I am mean, but acknowledgement that it existed would have been enough for me.

[2018-05-19 14:38] supernegativep commented on #4341
If an example of the issue is needed, here it is: listen to the percussion.
https://youtu.be/lsYJhXv8rvA

[2018-05-19 15:18] musikBear commented on #4306
FYI TX16vx -i have that on the *win-no-go list*. It does not preserve settings.
Not tested on linux
(In fact, so far, no tested *sampler*, does work in windows

[2018-05-19 15:31] justnope commented on #4306
@musikBear thanks for the info. Is win-no-go list an actual list and if so where can I find it?

It's still an issue that needed to be fixed. If only for the reason that someone doesn't lose their recent changes because they opened a VST and the program hangs/crashed.

[2018-05-20 03:32] SecondFlight commented on #4362
@PhysSong Thanks for researching this!

[2018-05-20 03:35] SecondFlight commented on #4306
Well, then that's a separate issue. Not sure what that adds to this bug report.

[2018-05-20 06:19] PhysSong commented on #3623
Before fixing the bug, I'd like to ask opinions about desired behavior when the mode is turned on while multiple windows are being opened:
- Close every instrument window except last focused one?
- Ore Leave them as-is before user opens a new window?

[2018-05-20 08:56] foolo opened #4368 "ZynAddSubFX preview of presets sounds different after when clicking other preset"
**Steps to reproduce:**
Open fresh instance of LMMS (I used LMMS 1.2.0-rc5.67 on Ubuntu 16.04)
Click on presets:
1. ZynAddSubFX > Bass > 0001-Bass 1.xiz
2. TripleOscillator > SEGuitar.xpf
3. ZynAddSubFX > Bass > 0001-Bass 1.xiz (same as step 1)

**Actual result:**
Step 3 sounds very different from step 1 even though it's the same preset. (Lots of echo and distortion is now added. It sounds as if t

[2018-05-20 11:51] SecondFlight commented on #3623
I would prefer the first one, that way the user knows right away that their change had an effect. I can see the second option causing some confusion.

[2018-05-20 13:28] PhysSong commented on #4368
Related: #1644
Actaully this issue seems to include #1644.

[2018-05-20 13:34] PhysSong commented on #757
@foolo #3598 is open so we can keep track it.

[2018-05-20 15:19] DomClark commented on #4320
I can reproduce this in RC5, it hangs on the `IdVstGetParameterDump` and `IdSaveSettingsToFile` messages at least (called when opening the control dialog and saving the project, respectively). I won't have time to investigate for another month; if anyone else wants to have a look in the meantime, feel free.

[2018-05-20 15:30] DomClark commented on #4205
I can reproduce this too. It looks similar to #3598 visually, perhaps they are related? This doesn't seem like a bug in the VST interface itself though, more like there's some special case regarding VeSTige within LMMS, so it's not necessarily my "area of speciality" so to speak, but I can take a look when I have time.

[2018-05-20 16:03] justnope commented on #4320
Fixed in PR #4366
Download https://gist.github.com/justnope/6c1ea70edaf83cb1acec4a1dc60dc92b and let me know if it works.

[2018-05-21 14:13] musikBear commented on #757
@foolo There is a 'fast hack'
If you right-click the correct pattern (in your pic, it would be 'kicker') and then chose *copy-pattern*
In the erroneous (in pic 'test-instrument1')  right-click, and choose 'paste-pattern', then the pattern-slots, are inserted

[2018-05-21 15:30] slawekwaga commented on #3990
To @musikBear:
Lmms version: 1.2.0-rc5.67
OS: Manjaro 17.1.10
Size of queried folders:
- 1.  qApp->applicationDirPath() + '/' + LIB_DIR + "ladspa" : this is a global install, so none.
- 2. /usr/lib/ladspa : 103 plugins, 2 mb.
- 3. /usr/lib64/ladspa : duplicate of /usr/lib/ladspa since lib64 links to lib.
- 4,5 don't exist.
And yet in previous version (1.1.2) I had no problems. Regression?

[2018-05-21 20:37] Reflexe commented on #4315
Hello, the audio recording pr creator here, Sorry for the delay.

Windows and SDL are not good friends. We currently thinking about a replacement for it. PortAudio could be good, but if I understand it correctly, we can't redistribute it built with ASIO).

Could you give me more info about the way you've tested PortAudio? And could please provide us with the way you've compiled / you've got the go

[2018-05-22 00:18] GingkathFox commented on #4169
@Wallacoloo is it possible for me to get a deeper trace?

[2018-05-22 06:35] PhysSong commented on #4341
Could you provide the list of programs which work as expected? Also, could you test your soundfont with [MuseScore](https://github.com/musescore/MuseScore)(which uses FluidSynth as well as LMMS)?

[2018-05-22 15:15] zonkmachine commented on #3918
Seem to be a problem with Dexed as well ([forum comment](https://lmms.io/forum/viewtopic.php?f=7&t=27363#p54185)).

[2018-05-23 08:29] foolo commented on #757
@musikBear If i right-click the "kicker" pattern, i can select "copy". But when i right-click, the empty space on "test instrument 1", nothing happens, (no popup menu).

[2018-05-23 09:04] follower commented on #3975
@tresf I was wondering if you/lmms have a preference in terms of integrating the changes required to make VST cross-platform? The `#ifdef` approach "works" but feels pretty inelegant.

I wonder if having specific sub-classes implementing the platform-specific parts might work better in terms of keeping related code together while still sharing as much as possible. But anything other than the `#ifd

[2018-05-23 13:09] musikBear commented on #757
Oooo! Thats then different from earlier, but the click in current bassline is neat 👍

[2018-05-23 21:33] PhysSong commented on #3862
Note that the crash only happens if a track whose index equals to the index of source track doesn't exist in target LMMS instance.

[2018-05-25 03:48] Taurous opened #4375 "Unable to use undo on Clear Track"
I hit clear track instead of clone track and lost a lot of work. Was unable to use Undo to get my work back.

[2018-05-25 07:50] PhysSong commented on #4060
https://github.com/LMMS/lmms/issues/4060#issuecomment-353361373 fixes the crash, but it messes up controller connections. I think I can fix it.

[2018-05-27 17:14] BaraMGB commented on #4328
I can reproduce this with all kind of waves. I can reproduce on two different ubuntus (17.10 and 16.04 both 64bit)
[code]

[2018-05-27 20:07] Reflexe commented on #4328
Could you please upload a file that causes this crash? Since I've made a few large changes to SampleBuffer on #3947 , I want to check if it has solved that already.

[2018-05-28 04:49] PhysSong commented on #4375
Confirmed. It will be enough to add a check point before clearing track. I'll fix it.

[2018-05-28 04:49] #4375 closed

[2018-05-28 05:03] PhysSong commented on #3623
I succeeded to fix this bug. However, I'd like to ask opinion about keeping `InstrumentTrackWindow` caching. Currently I can't find major advantage of current caching logic, but I think it can be improved later. Should I
- Keep the caching system and fix the bug,
- Or remove entire caching system?

[2018-05-28 05:16] justnope opened #4379 "Double delete in xpressive"
XpressiveHelpView will already be deleted by qt. remove:
[code]

[2018-05-28 05:28] PhysSong commented on #4379
@justnope As @zonkmachine said, this looks like a duplicate of #3951. Sorry for saying you to open a duplicate issue.

[2018-05-28 05:28] #4379 closed

[2018-05-28 05:28] PhysSong commented on #3951
When `MainWindow` is destroyed, it will delete all MDI subwindows. And `module_destroy` is called after `main()` finishes execution. So I think dropping this function will be fine.

[2018-05-28 13:17] Sawuare commented on #4312
I tried to add a scroll area before and it did not work, but now it does. I will fix this.

[2018-05-28 20:36] rghvdberg commented on #4328
had the same bug
I can confirm that the fork by @Reflexe hasn't got this problem

[2018-05-28 21:09] T0NIT0RMX opened #4380 "Vestige keeps playing MIDI note when using a VSTi made in Cabbage"
**Steps to reproduce :**
Load in Vestige a VSTi made in cabbage like the one in example (in Cabbage)
Add a note on the pianoroll to hear the bug. (the note keeps playing)

**More Infos :**
Vestige loads perfectly the plugin and everything works well when the notes are played in the little piano of the Vestige window.
The bug only happens when the user click in the pianoroll to create a note : the

[2018-05-28 21:18] SecondFlight commented on #4380
Tagging @DomClark

[2018-05-29 04:10] PhysSong commented on #3855
Here's the list of file name issues that I found so far:
- ZynAddSubFX setting loading/saving (this)
- VST DLL loading (#2662)
- VST setting loading/saving
- Sample file decoding except OGG Vorbis (#1191)
- .wav exporting
- .gig file loading
- .pat file loading
- MIDI import
- STK rawwave path (on every platform, **Can crash LMMS!**)
- Carla: potential issues when added into Windows build

Here's

[2018-05-29 06:04] eagles051387 commented on #4380
Have you tried on a 1.2 release candidate?

Sent from my iPhone

[2018-05-29 09:15] BaraMGB commented on #4328
On master: every sample I've tested in the sampletrack crashes lmms. https://github.com/LMMS/lmms/pull/3947 seems to fix that for me.

[2018-05-29 10:05] PhysSong commented on #4328
Then I guess it's https://github.com/LMMS/lmms/pull/4310#discussion_r188837364.

[2018-05-29 13:25] musikBear opened #4381 "Better organizing of .bak files"
I suggest a user-setup folder for .BAK files.
It would make housekeeping faster and more simple, and the BAK files would not 'clutter' the project-folder.
Imo several benefits.

[2018-05-29 15:34] musikBear opened #4383 "Using Detune does not work 100% intuitively"
I noticed that making a detuning of a note, will not use the automation-editor as i expected
Here
![detuningdiscrepencie](https://user-images.githubusercontent.com/6662066/40668602-4219cf0e-6365-11e8-994d-b2645a522c4b.JPG)
I select the position for detuning at the red dot in pianoroll, but the automation editor opens with the point in 0.0 position -yellow pointer. It would be logical if it was in

[2018-05-29 16:36] SecondFlight commented on #4380
The post mentions that they tried the latest release candidate as well.

[2018-05-30 00:02] #1727 closed

[2018-05-30 00:02] #4110 closed

[2018-05-31 02:08] PhysSong commented on #4277
@musikBear Do you have any reliable method to reproduce? Does that always happen?

[2018-05-31 02:31] Sawuare commented on #4312
So applying a scroll area does not work as expected.

![image](https://user-images.githubusercontent.com/25503477/40757388-ec571702-6490-11e8-8ba1-6c2610a32054.png)
- The message box is inside a scroll area window, instead of its own window.
- The window is not centered and is non-modal (does not block input to other windows).
- Window title cannot be changed.
- OK button is not always visible.

I

[2018-05-31 07:50] VirToReal opened #4385 "[request] remove all midi connections from plugin"
Yeah, thats a request, not a real issue:
I'm using a novation Launch Control XL and connect it's knobs to a plugin, for example Triple OSC. After generating a nice sound, I have to disconnect every midi knob in order to save my creation as a preset. Because the midi connection will be saved in the preset-file (which is really great), all knob positions will be set to zero.

If there would be a but

[2018-05-31 10:28] PhysSong commented on #4385
Are there more use-cases for "remove all midi connections"? If preset saving is the only one, I can't find a reason for that button.

Related: #2625

[2018-05-31 12:13] VirToReal commented on #4385
Not really... just leaving the last midi-value on the knob while removing the connection would be great. Removing every connection would be nice, if there are, for example on the triple oscillator, all knobs connected to a midi-controller. Or maybe just a keyboard shortcut for removing the midi-connection while pressing the connected button/knob.

In each case of course, the midi-value should be p

[2018-05-31 13:55] musikBear commented on #4277
@PhysSong I have since updated to RC5-6545, and i cant reproduce. I looked for a file, im 'sure'.. i saved one, but on the other hand, why then not include it first way.. 8|
May have been a fluke, else it will reappear.
Close it for now, but remember about it, i think?

[2018-05-31 14:41] PhysSong commented on #3920
I found that I did something wrong with iterators. I've fixed the iterator issue and created new builds.
@vwren @michaelgregorius New binaries available: https://github.com/PhysSong/lmms/releases/tag/v1.2.0-rc52

[2018-05-31 15:32] #4277 closed

[2018-05-31 17:04] Hey-Holokin opened #4386 "SF2 Player does not properly handle loop points"
Version: 1.2.0rc5 64-bit, untested in prior versions
Operating System: Windows 10 Home Edition, 64-bit
Might specify on: #4341

I was looking to create a fan-made Mega Man X VGM track, and upon loading the soundfont I had downloaded into the SF2 player and playing a note in most of the patches, I realized these patches don't loop properly.
The soundfont in question: http://www.williamkage.com/snes

[2018-05-31 23:59] #4365 closed

[2018-06-01 01:02] SS5D commented on #4341
Something I'd like to note; I use and know plenty of other people who use VGMTrans, and while a great program and all, it can have inaccuracies in and of itself (it's been known to add too much sustain to sounds and is completely incapable of ripping PSG channels in DS games for instance). Before bringing it up as an issue with LMMS, _definitely_ test the soundfonts you've had problems with in oth

[2018-06-01 02:47] supernegativep commented on #4341
Ugh, finals suck. It works in synthfont, but I haven't had the time to try with anything else. I would not had made the issue if I wasn't certain that VGMTrans was likely not the problem. It does have its downfalls, but it is working fine with synthfont. I am pretty sure that the sf is accurate. I don't know if synthfont uses the FluidSynth dll files, but I know that it works. I will get back to t

[2018-06-01 13:12] #4268 closed

[2018-06-01 16:50] tresf commented on #4341
@supernegativep let's keep the talk to technology only please.  In your first sentence you mention "piracy" which sets the wrong tone.  The developers here don't really care where you got your soundfont, if there's a bug all you have to do is:

1. Provide the steps to reproduce, including the sample file the reproduces the problem
2. Tell us your expected results
3. Tell us your actual results
4.

[2018-06-01 18:26] tresf commented on #4317
Agreed.  I wonder if a similar [race condition such as when fluidsynth opening up the back-end](https://github.com/LMMS/lmms/pull/4300) is happening with other plugins as well.

[2018-06-02 11:55] zonkmachine opened #4388 "Piano Roll - Crash on mouse wheel scroll in the note edit area on a new/empty project"
In an empty Song Editor, new project before any notes has been entered. If you scroll the mouse wheel in the note edit area (bottom), lmms crashes.

Replicated on lmms-1.1.3 and the latest betas.

Original report in the forum and video (from the forum post):
https://lmms.io/forum/viewtopic.php?f=7&t=27410
https://www.youtube.com/watch?v=P8cQTYuCiJE

[code]

[2018-06-02 12:07] zonkmachine commented on #4388
It crashes here: https://github.com/LMMS/lmms/blob/08573fc96db564283f8580ae79de48085665f9dc/src/gui/editors/PianoRoll.cpp#L3203

[2018-06-02 12:08] zonkmachine commented on #4388
Putting `if( !hasValidPattern() ){return;}` before the for loop fixes this. I'm a bit unsure to as precisely where though.

[2018-06-02 12:27] PhysSong commented on #4388
I can find some more places where the check is missing. I'll try to find more crashes tomorrow.

[2018-06-02 12:53] zonkmachine commented on #4388
Oki! I suggest you assign this to yourself then.

[2018-06-02 17:32] SecondFlight opened #4389 "Equalizer: The visualizer takes up most of the processing time of the plugin, regardless of whether or not the plugin is open"
Tested on my current working branch (master from a week ago) with debugging symbols.

Steps to reproduce:
1) Add equalizers to the master channel until you see a significant cpu drop when you play a note.
2) Disable visualizers on all equalizers
3) Play a note, notice that the CPU is significantly lower.

With visualizers enabled:
![image](https://user-images.githubusercontent.com/6700184/40879127

[2018-06-02 19:15] DomClark commented on #4380
Reproduced (1.2.0-RC6, Windows 10 x64). Will investigate when I have time.

(I couldn't load the provided VST, but upon installing Cabbage and exporting a sample synth, the behaviour was exactly as described.)

[2018-06-03 02:04] SecondFlight opened #4390 "Closing piano roll with ctrl+w causes tool to be locked into selection mode when piano roll is opened elsewhere"
Reported by TripingPC#2094 on Discord

Steps to reproduce:
1. Open piano roll clip
2. Close with ctrl + w
3. Open different piano roll clip

![image](https://i-installed-freebsd.at-work.today/dc4075.gif)

[2018-06-03 03:02] PhysSong commented on #4389
Currently EQ uses `EqSpectrumView::paintEvent` to enable/disable analyzing, but the event function won't be called if the window is closed.
I think it should use the visibility of `EqControlsDialog`. I will fix this.

[2018-06-03 03:18] PhysSong commented on #4388
Functions which need the check:
[code]
Functions which lack of the check, but don't need the check:
[code]

[2018-06-03 07:07] PhysSong commented on #4284
The setting "Keep effects running even without input" may look unclear for user and it's even more unclear auto-quitting may cause bugs. I think it should be clear for users that the side effect exists, or the feature should be dropped.

[2018-06-03 09:38] BaraMGB opened #4394 "Equalizer: Lowpass filter broken at 48dB"
-🅱oublas- reported on Discord that the Lowpassfilter at 48dB is broken. I made some pictures to illustrate that:

Edit: I can reproduce this only in the latest master branch. In stable-1.2 it seems to be fine.
----------------------------------------------------------------------------------------------------------------------------

This is the EQ of an earlier version:
![eqshould](https://user-i

[2018-06-03 10:03] zonkmachine commented on #4388
Another one. `<Shift> + <Arrow key>`

[code]

[2018-06-03 10:10] Spekular commented on #4394
I tried reproducing this when I saw it on Discord, and again after seeing this issue, but I can't get it to happen. Win 10 64 bit on RC6 64 bit:

![image](https://user-images.githubusercontent.com/8918426/40885472-ddf2b1f6-6726-11e8-81f3-a7f0ad394ea4.png)

This screenshot is 3xOsc white noise played on the instrument keyboard, but it also works fine when I play a clip in the song editor as you did

[2018-06-03 10:12] BaraMGB commented on #4394
@Spekular can you test master?

[2018-06-03 10:18] Spekular commented on #4394
I can try, but I haven't tried compiling LMMS since the whole sub-modules thing was added, and even before that I struggled a bit with it 😅. I'll give it a shot as long as it doesn't eat up too much of my time.

[2018-06-03 10:28] BaraMGB commented on #4394
Since that sub-module thing I clone everything in a seperate folder.

``git clone --recurse-submodule -b master https://github.com/LMMS/lmms.git myNewFoldername``

works well for me.

[2018-06-03 10:34] T0NIT0RMX commented on #4380
Thanks a lot ! Yes, sorry, I forgot to include the .csd file that has to be in the same folder as the VST... I apologize for that.

And also, I found out that the VST settings are NOT saved with the project, which is an other problem. I'm not sure if it's related to LMMS or Cabbage, but I will also open an issue on Cabbage's forum to inform the dev about this problem !

[2018-06-03 10:40] PhysSong commented on #4388
That's also included, too.

[2018-06-03 10:56] Spekular commented on #4394
It seems to be even more broken than for you
![image](https://user-images.githubusercontent.com/8918426/40885786-77fc0ef4-672d-11e8-8d6e-17f360b20f5c.png)

Ubuntu 16.something LTS, if that matters. Compiled from master.

[2018-06-03 11:02] PhysSong commented on #4394
Can anyone try reverting 1e777cf94570a85139c11a41143dc2544ca4319e and then re-test?

[2018-06-03 11:06] zonkmachine commented on #4388
It doesn't seem to be. The above crash is on 7f1ffd0982d3372d3a695fa7a7dc2a77e5bd859f . I should probably have posted this in the PR.

[2018-06-03 11:10] PhysSong commented on #4388
Okay. It seems like I missed one call. I'll fix it.

[2018-06-03 11:15] Spekular commented on #4394
I'm trying but
`git revert 1e777cf` gives `error: Your local changes would be overwritten by revert.`
So I tried `git reset --hard`
But then a revert gives `fatal: Not a git repository: /home/spekular/Desktop/lmms/.git/modules/plugins/FreeBoy/game-music-emu`
So I tried `git init`, but then I'm back to `local changes would be overwritten`.

Gonna redo the whole clone I guess.

[2018-06-03 11:26] Spekular commented on #4394
Reverting that commit fixed it for me.

[2018-06-03 11:46] PhysSong commented on #4394
Then I guess it's a regression from #4260. Tagging @curlymorphic.

[2018-06-03 12:09] zonkmachine commented on #4394
Here's a line that mix 'hp/lp': https://github.com/LMMS/lmms/blob/1e777cf94570a85139c11a41143dc2544ca4319e/plugins/Eq/EqEffect.cpp#L127

[2018-06-03 12:15] PhysSong commented on #4394
@zonkmachine Good find! I think L125 and L127 should be dropped.

[2018-06-03 12:26] PhysSong commented on #4388
Fixed that. Please re-test the pull request!

[2018-06-03 12:39] PhysSong commented on #3861
Issue was wrongly closed by GitHub. As I guessed in #4293, it looks like a Qt bug or something similar. I'm sure there's nothing wrong in LMMS. I'll close this after switching to newer version of Qt and fix confirmed.

[2018-06-03 12:53] curlymorphic commented on #4389
I will correct this now.

[2018-06-03 12:55] curlymorphic commented on #4394
Please dont drop the lines, I will issue a fix shortly

[2018-06-03 13:02] PhysSong opened #4395 "Equalizer: Better spectrum display"
Current EQ has a spectrum display. It is nice, but it can be improved a lot. Here are some of possible enhancements:
- [ ] Allow changing visible range of audio level #3624
- [ ] Allow changing window function #3625
- [ ] Allow changing buffer size #3626
- [ ] Add more stereo linking method(RMS, maximum, etc.)
If you have some good ideas, please let us know!

[2018-06-03 13:02] PhysSong commented on #3624
Consolidated into #4395.

[2018-06-03 13:02] PhysSong commented on #3625
Consolidated into #4395.

[2018-06-03 13:02] #3625 closed

[2018-06-03 13:03] PhysSong commented on #3626
Consolidated into #4395.

[2018-06-03 13:03] #3626 closed

[2018-06-03 13:12] #4388 closed

[2018-06-03 13:13] PhysSong commented on #4060
Pull request ready: #4391.

[2018-06-03 13:36] SecondFlight commented on #4395
Enabling antialiasing would likely be a simple way to improve the look of it. It's incredibly easy to do, you just tell Qt that you want antialiasing. You ought to be able to Google for how to do it, I don't remember off the top of my head. You can also go to the code for my latest waveshaper PR and search for antialiasing.

[2018-06-03 19:41] SecondFlight opened #4398 "(Discussion) Path moving forward for UI/UX redesign"
For some background, read the discussion on this PR: https://github.com/LMMS/lmms/pull/4367. If you have no idea what I'm talking about, see this issue: https://github.com/LMMS/lmms/issues/1911.

------------------------------

I have become very interested in the UI redesign as of late. I would like to see it happen, and I am personally willing to put in the grunt work to make it happen. Things m

[2018-06-03 20:16] SecondFlight commented on #4398
Adding on to option 2, here's a comment from @michaelgregorius on [this thread](https://github.com/LMMS/lmms/issues/1911). I hadn't read it until now, but it lines up very well with what I was thinking.

I would be willing to take on a project lead role, regardless of what path we choose moving forward. I would also certainly be open to someone more qualified stepping up to the plate.

[2018-06-03 21:33] fundamental commented on #4398
This week I'm going to be giving a talk at LAC on the MRuby-Zest framework and several parts of that presentation (and to a lesser extent the details on the rtosc talk also being given at this LAC by myself) are quite relevant for this sort of planning discussion. Rather than just saying "Watch the talk and/or show up at LAC if you're in the area" (which you should do anyhow since LAC is pretty da

[2018-06-04 00:07] budislav commented on #4398
@SecondFlight I will just observe this because I am not programmer, I don't have any power here, but just want to say keep going with anything you want to make, even if nobody want to contribute please do not be discouraged and do whatever you can, but I hope many of active developers will involve into this. Good luck with this!
@fundamental thanks for sharing your presentation script it's great,

[2018-06-04 00:30] sthen opened #4400 "Request for full downloadable source archive as part of the github release"
Hello, the "source code (.tar.gz)" links on the github release page (https://github.com/LMMS/lmms/releases) is generated on-the-fly by github using git-archive, so it provides an incomplete download for LMMS (no submodules).

Would it be possible to create your own tar file and upload to add to releases (in the same way that you provide binaries i.e. as release assets) please? This would assist OS

[2018-06-04 03:05] PhysSong commented on #4400
I think this is a duplicate of #4100.

[2018-06-04 11:37] sthen commented on #4400
You are correct, my search didn't find that issue, it's good to know that it's already on the radar. Since this is a dup of an older issue I'll close this one to keep your tracker tidy. Thank you!

[2018-06-04 11:37] #4400 closed

[2018-06-04 15:47] Spekular opened #4402 "Effect groups/sub-chains"
It would be nice if effects in a chain could be grouped, and these groups could be:
* Named
* Collapsed/Expanded
* Muted/Unmuted

This could help organization with larger chains. Muting several effects would be particularly useful for A/B-ing.

[2018-06-04 15:52] SecondFlight commented on #4402
As an alternative, could we have a way to enable/disable effects for a channel? Then the same functionality could be accomplished via channel sends without the need for a complicated new UI feature.

I think part of the issue is that our widget for effects is so large, so trying to find an effect when you have as little as 5 requires scrolling.

[2018-06-04 15:54] Spekular opened #4403 "Effect Chain Wet/Dry"
The ability to mix between a dry signal and a signal affected by several effects would be useful. Currently this would require two mixer channels at minimum.

If this were implemented as a horizontal slider it wouldn't necessarily take too much real estate. In the English translation, there is space next to the "effects chain" header, for example. Otherwise it could be placed on a row by itself to

[2018-06-04 15:55] Spekular commented on #4402
Effects can already be disabled both in the instrument and mixer channel chains, but that's not the same functionality.

[2018-06-04 16:18] SecondFlight commented on #4403
I personally like the idea of a toggle better. I don't see a solid use-case for putting all your effects at halfway when there is already a way to fine-tune them individually. I do have a bias here since the software I use does it this way.

If you want the same effect as putting a channel at halfway, you could route your input to a different channel, route that channel to two separate channels, a

[2018-06-04 16:19] SecondFlight commented on #4402
No, I mean disable all effects on a channel. I think your new issue pretty much sums up the functionality I had in mind.

[2018-06-04 18:02] karmux commented on #2953
This is not an issue anymore in current master.

[2018-06-04 18:02] #2953 closed

[2018-06-04 18:47] zonkmachine commented on #2953
Did you test the Calf Bass Enhancer too? #2357

[2018-06-05 03:35] tresf commented on #3975
Agreed.  I've felt pretty strongly that the existing `#ifdef` approach is difficult to read but having touched very little of the code, I don't feel qualified to make a call on this.  Instead I'd defer this to @DomClark, @lukas-w and @PhysSong.  Dom's been doing the most of our VST fixes lately whereas Lukas and Phys have been making the X11 stuff work properly with Qt5.   Sorry to defer this one,

[2018-06-05 08:38] EnejJohhem opened #4404 "New Suggestion : Real Time Audio Stretching, Ability To edit automation directly in the playlist etc."
I Would Really Love LMMS If it Have These Features:-
Real Time Audio Stretching
Edit Automation Directly In The Playlist
Improve GUI (Some What Like Fl or Sonar Or Logic)

[2018-06-05 08:39] #4390 closed

[2018-06-05 10:33] rghvdberg commented on #4404
Where would you like to see that time stretching happen? In the sample tracks or the audio file player?

[2018-06-05 12:05] SecondFlight commented on #4404
Two of your suggestions are already on the tracker:
GUI: https://github.com/LMMS/lmms/issues/1911
Audio pitch/time stretching: https://github.com/LMMS/lmms/issues/1734
These are all things we would love to see as well. Since two of these are duplicates, I will modify your issue to just be about editing automation directly in the playlist. Even if they weren't duplicates, I would ask you to open se

[2018-06-05 13:41] musikBear commented on #4403
Its as automation the usecase exists. The DRY/WET amount on each of ..say four different effects are *different* from each other, and Specular' slider would fade the *chain* as a whole. This is quite often seen on pro-mixer-tables : proportional slider changes. I like the idea of being able to fade an effect *chain* in/out, but there is issues with what to do, if one DW dials goes < 0 or >max, as

[2018-06-05 14:05] SecondFlight commented on #4403
Well no, something like this would be implemented separately from the individual wet/dry mix knobs. Connecting them all together would create all sorts of problems and unnecessary complexity.

The question in my head is, is it worth the extra complexity in the UI to save the 30 seconds it would take to link 4 different automation clips instead of one. This would need to be used quite often to meri

[2018-06-05 14:33] Spekular commented on #4403
Automating the W/D of the channels separately isn't the same thing as a universal W/D though, it'll give a different sound.

[2018-06-05 14:39] SecondFlight commented on #4403
I suppose it would in some cases. But then going back to the alternative, can't you accomplish the same thing now with relative ease? That's what channel sends are for.

[2018-06-05 15:03] bhechinger commented on #3869
This is still broken in 18.04 and affects many tools. Is there an update to when the upstream provider may fix this?

[2018-06-05 15:47] metalgigio opened #4405 "RC6 and RC5 does not start on my windows 10"
Hi,
as subject RC6 and RC5 does not start on my windows 10. It appears splash screen but the program does not load.
1.1.3 version works correctly.
Theres some log i can check to se what happen?

[2018-06-05 15:52] lukas-w commented on #4405
Unfortunately, our debugging options on Windows are very limited at this time. What happens after the splash screen shows? Does LMMS crash, do you get any error messages?

[2018-06-05 15:56] Spekular commented on #4403
If the effects are placed on the instrument itself, you'd need to clone that instrument to get a clean signal, and keep the cloned tracks in sync. You could then send both these to the same FX channel to get a 50/50 mix, but you'd need to adjust their volumes to change the W/D mix. If something like a hard limiter is used in your effects chain, you'd have to use an amplifier for this volume adjust

[2018-06-05 16:04] metalgigio commented on #4405
On RC6  splash screen appears, then show some loading message on bottom left and then disappear but program does not start. No error messages.
RC1, RC2, RC3, RC4 start correctly, RC5 does not even show splash screen.
I use Windows 10 64bit updated to last version

[2018-06-05 16:21] SecondFlight commented on #4403
Yeah, I see where you're coming from. I think my objection comes down to the fact that I would never use this feature, but that's not to say nobody else would.

[2018-06-05 16:22] karmux commented on #2953
Tested now and didn't notice any clipping.

[2018-06-05 16:56] zonkmachine commented on #3869
According to [this thread](http://tracker.ardour.org/view.php?id=7502) on the Ardour bug tracker, this is an issue in csound and has been fixed. Try the latest release of csound. ~6.10.0 or later should work.

[2018-06-05 17:08] bhechinger commented on #3869
I had opened a ticket in the csladspa project and he said it was fixed. I'm not sure if the fix made it into 6.10.0 though, still waiting to hear back. 6.10.0 is what ships with 18.04 and I'm still seeing this as an issue.

[2018-06-05 17:12] zonkmachine commented on #3869
OK. I'm unsure about the specific issue I linked to but I don't have time to look into it right now. Can you try the latest of csound/csladspa? If the csladspa people say it's fixed it probably is. There's not much we can do here from lmms.

[2018-06-05 18:03] bhechinger commented on #3869
Nah, you guys aren't involved at this point. I'll leave you alone now. :)

[2018-06-05 22:31] PhysSong commented on #4405
I guess you're using PotrAudio. I've done a quick test:
1. Open LMMS 1.1.3 and set audio.backend to PortAudio
2. Open RC5 or later, it will crash
I'm not sure it's the identical issue, but I guess so because PortAudio have been disabled since RC5.

[2018-06-05 23:42] DomClark commented on #3975
I don't feel I've been with the project long enough yet to prescribe a solution here, but here's my opinion, along with some details on where I'd like to take VST support in future versions:
- `RemoteVstPlugin.cpp` currently implements support for Windows VSTs, on both Windows and Linux. Using it for Mac VSTs on Mac doesn't fit in well with this. I think it would be a worthwhile goal to support Wi

[2018-06-06 00:33] DomClark opened #4406 "SDL deadlock on exit"
Occasionally, when exiting LMMS, the process remains hanging. I don't have a backtrace unfortunately, because gdb takes ages to launch LMMS on my machine, and I can't reliably trigger the issue, but here's what I gleaned from Process Hacker on the 1.2.0-RC6 release:

Main thread is blocked on `SDL_LockAudio()` in `AudioSdl::stopProcessing`:
https://github.com/LMMS/lmms/blob/3bf3fab0e33b7bb199b2c4b

[2018-06-06 00:39] PhysSong commented on #4406
I've seen this a few time. I think https://github.com/LMMS/lmms/pull/4083#issuecomment-368321330 may be related, too.
I'll look into this.

[2018-06-06 03:13] peefTube opened #4408 "(Suggestion) Background Process for Checking Crashes / Other LMMS Background Processes"
I am certain the topic of how to deal with VST processes after an LMMS crash through programming has gone through the motions in this GitHub repository before. Even if not, I'd like to bring it to the developers' attention with a potential solution of my own.

The idea is to create a much smaller, background process (maybe a small .dll on Windows, or something very similar, either way it should ru

[2018-06-06 04:04] Wallacoloo commented on #4408
So the issue is that plugin processes are outliving LMMS whenever LMMS crashes?

I have very limited knowledge in this area of LMMS and in the operating system process model in general.

However, I expect we must instantiate our own process for each VST plugin, and that we can control what code that process runs. If that's the case, the very simplest answer is for the child to instruct the operati

[2018-06-06 04:05] peefTube commented on #4408
Yeah, I was thinking a parent-child hierarchy would be useful, lol.

[2018-06-06 05:22] PhysSong commented on #4406
LMMS uses two sort of audio backends:
- Thread-based: ALSA, OSS, sndio
- Callback-based: JACK, PortAudio, PulseAudio, SDL, soundio

FIFO buffer writes a null buffer to notify processing is stopped. It works fine for thread-based backends because `stopProcessing` waits for audio thread until it receives the null buffer.
However, the mechanism may fail for callback-based backends for some reason. It

[2018-06-06 06:02] lukas-w commented on #4408
I implemented this some time ago, but forgot to push apparently. Here's the diff:

[code]

I can push and open a PR if desired.

[2018-06-06 06:47] PhysSong commented on #4408
Remote plugins use sockets on POSIX system. Thus, `RemotePluginBase::read` will invalidate `RemotePluginClient` instances when LMMS crashes.
Alternatively, we may implement something like `ProcessWatcher`. It will require linking remote plugins against Qt libraries.

[2018-06-06 07:28] metalgigio commented on #4405
this is my lmmsrc.xml:

[code]

[2018-06-06 07:29] metalgigio commented on #4405
If the problem is related to PortAudio what should i do?
Do i have to disable it using 1.1.3?

[2018-06-06 07:40] PhysSong commented on #4405
If you use RC5 or RC6 now, please do so. FYI, we're going to work around the issue in RC7.

[2018-06-06 07:56] metalgigio commented on #4405
I confirm that now RC6 start correctly by setting audio to SDL in 1.1.3.
Thanks a lot

[2018-06-07 00:48] #2037 closed

[2018-06-07 12:05] DomClark commented on #4320
I can confirm that this seems to be fixed in RC6.

@liftarn Try downloading our latest beta version, and if you still experience the bug, please re-open this issue.

[2018-06-07 12:05] #4320 closed

[2018-06-07 14:13] Sawuare commented on #4119
Fixed via #4128.

[2018-06-07 14:13] #4119 closed

[2018-06-07 14:13] Sawuare commented on #896
Closed via #4128.

[2018-06-07 14:13] #896 closed

[2018-06-07 21:26] NETMANSKY opened #4409 "Automatization copy loses a connection"
If you copy an automatization pattern by dragging then all connections are losing.

[2018-06-07 21:28] DomClark commented on #4409
Sounds like a duplicate of #3781.

[2018-06-07 21:39] Sawuare commented on #4409
It is.

[2018-06-07 21:39] #4409 closed

[2018-06-07 21:42] NETMANSKY commented on #3781
Well is it fixed?

[2018-06-08 01:15] PhysSong commented on #3781
Not yet, but it will be likely to be fixed in RC7.

[2018-06-08 02:08] EtornaZ opened #4410 "Piano Roll plays previous paused pattern instead of current pattern"
I'm on version RC6 of LMMS, with a Windows 10 64Bit computer.

When a box of notes is selected, played and then paused, and a new box of notes is selected and played, the old box of notes plays instead of the new box of notes. If you press the stop button and then press play, the new box of notes will play as intended.

[2018-06-08 07:23] ahstro opened #4411 "VST UIs do not scale on HiDPI screens"
Using VSTs in VeSTige on a HiDPI screen opens a window that is much larger than the VST UI. I don't know if LMMS is capable of actually scaling up the VST UI to the "proper" size, but if not, we should at least make sure that the window size is correct.

Here's an image showing off the problem. The window size can not be made any smaller, so this bloats up the available UI quite a lot.
![vst-plugi

[2018-06-08 09:30] lukas-w commented on #4411
@ahstro Can you share the OS and LMMS version you're using?

[2018-06-08 10:04] ahstro commented on #4411
Running Arch Linux with latest kernel, here's the output of `uname -a
[code]

Using the AUR package `lmms-qt5-git`, so it pulls latest from `git`, which I built today. It says the version is `1.2.0.rc6.r5.g2f19fa11c-1`. The output of `lmms --version` is:
[code]

[2018-06-08 11:01] lukas-w commented on #4411
@ahstro Thanks.

Confirmed. For anyone without a HiDPI screen, this can be reproduced with e.g.
[code]

[2018-06-08 13:21] GingkathFox commented on #4410
I think he means chord groups @SecondFlight
play part of a chord, pause, skip ahead to second chord, error happens? @EtornaZ

[2018-06-08 13:30] EtornaZ commented on #4410
I'm sorry, I wasn't very clear at all. Here are some screenshots to hopefully clear the confusion up.
![image](https://user-images.githubusercontent.com/33297131/41160484-e0adc4f0-6afd-11e8-864b-8a7463cc7001.png)
I have a selection of notes in the Piano Roll above. I play them, and then pause the notes.
![image](https://user-images.githubusercontent.com/33297131/41160631-50327686-6afe-11e8-9227-7e

[2018-06-08 13:45] GingkathFox commented on #4410
_sneak peek at new track? lol_
Aight, that helps!

[2018-06-08 16:16] SecondFlight commented on #4410
Thanks for the screenshots! So just to confirm, when you say "note selection" you're talking about patterns?

[2018-06-08 16:35] SecondFlight commented on #4389
Fixed via the PR above.

[2018-06-08 16:35] #4389 closed

[2018-06-08 16:38] EtornaZ commented on #4410
Yes. I didn't know the correct name for them until now, heh heh.

[2018-06-08 16:43] SecondFlight commented on #4410
I'm using the FL term for them, I think it fits :)

[2018-06-08 17:45] GingkathFox commented on #4410
Yeah, that fits lol

[2018-06-08 17:45] GingkathFox commented on #4410
isnt there a debugging thing @SecondFlight? maybe u could use that @EtornaZ

[2018-06-08 17:50] GingkathFox opened #4413 "FL VSTi not running"
I tried to use a FL VSTi i have, and LMMS (or Windows?) says `QuickFontCache DLL not found!`
After closing that, another box pops up that says `Runtime error 216 at 04AD64AE`.

Windows 10, 64-bit
LMMS 1.2.0 RC6 64-bit
The VSTi is attached. There are two versions(?), and both throw the same error.
[VST DAWS-Software-20180608T174121Z-001.zip](https://github.com/LMMS/lmms/files/2085479/VST.DAWS-Softw

[2018-06-08 17:54] GingkathFox commented on #4413
I tried again, and another box popped up:
`Runtime error 216 at 04BA64AE

[2018-06-08 19:39] DomClark commented on #4413
I can't reproduce this - it loads fine for me. A quick internet search suggests you are missing some files required for FL studio - try reinstalling FL and see if that fixes things.

[2018-06-08 20:50] GingkathFox commented on #4413
thats the problem:  the VSTis just appeared.

[2018-06-08 20:51] SecondFlight commented on #4410
I don't know @GingkathFox, I haven't been active here for very long. If it's reproducible then that wouldn't be needed. I haven't had time to attempt to reproduce yet, but if I remember I'll do that this evening.

[2018-06-08 20:53] DomClark commented on #4413
That's your problem then; these are designed to load FL itself as a VST, so if you don't have FL they won't work.

[2018-06-08 20:53] SecondFlight commented on #4413
Sorry, I'm not sure what you're saying. Do you have FL Studio installed? As I understand it, the FL Studio VST is just a bridge to the full application.

[2018-06-08 20:55] SecondFlight commented on #4413
Alright, I'll close this issue then. If you still have trouble after installing FL, let us know. If you don't own FL you can still install the demo. I'm not 100% sure the demo works as a VST but I don't see why it wouldn't.

[2018-06-08 20:55] #4413 closed

[2018-06-09 04:49] GingkathFox commented on #4410
ok!

[2018-06-09 06:51] GingkathFox opened #4414 "Keyboard/mouse error"
theres a semi-weird thing on RC6 (W10) where when you have a plugin window open and use the keyboard to play notes, then try to use the mouse, the mouse will not respond, like it is locked.

[2018-06-09 07:16] lukas-w commented on #4414
This sounds like the OS disabling a touchpad while typing to prevent accidentally moving or clicking the mouse. @GingkathFox Are you using a laptop/touchpad? Can you reproduce this behaviour in any other applications?

[2018-06-09 11:39] saurid opened #4415 "Translation in Swedish displays % character in menu"
Menu option "View" in swedish shows "%Visa" instead of the correct "Visa". Windows 10 version 1.2.0-rc6
![image](https://user-images.githubusercontent.com/1075365/41191080-46694c64-6bea-11e8-8d54-c9a41b90c7f5.png)

[2018-06-09 12:01] PhysSong commented on #4415
I guess it should be `&Visa`. Ampersands are used for accelerator keys.

[2018-06-09 12:10] curlymorphic commented on #4394
Closed by #4396

[2018-06-09 12:10] #4394 closed

[2018-06-09 15:38] musikBear commented on #4410
Nahh Firstly, nothing is selected. Neither in piano-roll, nor in song-editor.
The *lightend* TCO shows that it is the one *currently opend in piano-roll!*
Even if you close piano-roll, it is still focused, and is still the one that are ready to play.
The (faint.. alas) outline, are there to help you find the block, you just had opened in piano-roll. It is not selected.
So if i understand you @Etor

[2018-06-09 15:50] musikBear commented on #4414
Look if the selected tool is **pen**. I have noticed that the 'tool' is often flipping to 'selector' (rubber-box), and that makes the mouse apparently not respond.
(This 'flipping' in RC6, is more frequent than before, but it has always been an issue.)

[2018-06-09 16:00] GingkathFox commented on #4414
@musikBear nope, its the normal pointer.
@lukas-w ok, I'll try on FL demo

[2018-06-09 16:43] saurid commented on #4415
Seems like it, yes. Alt-V is not working for this menu option, but does work for the other ones.

[2018-06-09 18:30] EtornaZ commented on #4410
No. I'm saying that when I have a pattern (also knows as a song-editor block) in the Song-Editor, play it in the Piano-Roll, pause it, select a new pattern/song editor block, and play that newly selected pattern/song-editor block in the Piano-Roll, the old pattern/song-editor block plays instead. To fix this, you can press the stop button in the Piano-Roll and then press the play button, and then

[2018-06-09 22:42] SecondFlight commented on #4414
Adding back response required, will go away again when OP responds with test results.

[2018-06-10 13:55] zonkmachine commented on #4415
I suggested a fix for this on Transifex but couldn't push it as I don't seem to be cool enough to do this. I just glanced over the Swedish translation and it looks like people have been pushing changes online without testing it against lmms.

[2018-06-10 14:43] PhysSong commented on #4415
For 1.2, it'd be sufficient to edit `sv.ts`.

[2018-06-10 14:48] zonkmachine commented on #4415
Translations won't be merged back from transifex before 1.2?

[2018-06-10 14:54] Spekular commented on #4415
I fixed it on transifex FWIW.

[2018-06-10 14:59] zonkmachine commented on #4415
OK. I resolved the Transifex issue.

[2018-06-10 15:18] SecondFlight commented on #4415
Can this be closed then?

[2018-06-10 15:20] musikBear commented on #4410
@EtornaZ :) Its was one word that explain it:
 *pause*
**That** is the reason.
If you does exactly the same, but *stop* play, you will not hear the previous pattern.
So it is a difference between *pausing* play, and *stopping* play, that causing this to happen.
I have tossed this pause-behaviour around a bit, but i cant find an usecase where it is beneficial.
Guess it could be solved with having *

[2018-06-10 15:22] zonkmachine commented on #4415
I'd like to know how changes are merged back to 1.2 first. I'm a total noob at Transifex.

[2018-06-10 16:49] GingkathFox commented on #4414
getting th demo now, its takin ages XD

[2018-06-10 16:56] lukas-w commented on #4414
@GingkathFox You don't need the FL Studio demo for what I'm asking. You can try any application, type some text and try to move the mouse at the same time or immediately after. If that exposes the same problem, this is a feature of your OS/driver and you need to disable it if you don't like the behaviour. Also, you didn't answer the question of whether you're using a touchpad.

[2018-06-10 17:07] GingkathFox commented on #4414
Yeah, its an OS/Driver issue. Should I close this? and I am using a touchpad.

[2018-06-10 17:27] lukas-w commented on #4414
@GingkathFox Thanks for confirming. Usually, touchpad drivers offer the ability to disable the feature in the system settings.

This means this is not an issue with LMMS and there's probably nothing we can do about it, so yes, this issue should be closed. Anyway, thanks for reporting and helping troubleshoot it! :+1:

[2018-06-10 17:27] #4414 closed

[2018-06-10 17:35] Guido1234 opened #4417 "Beat baseline clone seems to be reference instead of clone."
Version 1.2.0 rc6
Steps to reproduce:

Step 1: open LMMS
Step 2: Open "Beat/Baseline 0"
Step 3: Add beats to kicker
Step 4: Clone this track ("kicker")
Step 5: Change the kicker clone.
Step 6: Close beat baseline editor ("Beat/Baseline 0")
Step 7: Clone "Beat/Baseline 0"
Step 8: Open "Clone of Beat/Bassline 0"
Step 9: Remove second kicker.
Step 10: Close "Clone of Beat/Bassline 0"
Step 11: Open "B

[2018-06-10 17:35] GingkathFox commented on #4414
Wait, is it ossible for an app to override that feature, or is that not possible?

[2018-06-10 17:41] lukas-w commented on #4414
No, as far as I know this is not possible. You can disable it or reduce the timeout in your settings to mitigate the issue.

[2018-06-10 18:02] lukas-w commented on #4417
@Guido1234 Thanks for the well-written report. The steps you provide are great for understanding what you're saying.

However, this is intended behaviour and just how LMMS works currently. You can find more information about the workings of the BB Editor in our documentation (https://lmms.io/documentation/Beat_Bassline_Editor):

There have been suggestions to improve this like #453, which would ma

[2018-06-10 18:02] #4417 closed

[2018-06-10 18:52] curlymorphic opened #4418 "Crash when opening projects"
While trying to open the demo song "Unfa - Spoken" lmms closes, displaying the following line in the terminal

symbol lookup error: /home/curlymorphic/dev/lmms/lmmaster/build-lmms-Desktop-Debug/plugins/ladspa/sc4_1882.so: undefined symbol: _ZGVbN4v___expf_finite

git master 10 june 2017 commit 1bdaafc4889db9195cef236d7efbea742a607f5e
Ubuntu studio 18.10

Symbol lookup errors have also been reporte

[2018-06-10 19:03] lukas-w commented on #4418
Closing as duplicate of #4030. Please reopen if that's mistaken.

[2018-06-10 19:03] #4418 closed

[2018-06-10 19:13] xoitx opened #4419 "Fx crashes all!"
The latest git version crashes when trying to add an effect to an fx channel.

[2018-06-10 19:18] EtornaZ commented on #4410
Yes, that could be the way, but I figured that if someone pressed pause on a song-editor block and then moved to a new one, they would want their current song-editor box to play instead of the old one without having to press stop. That is how I feel, which is the reason why I reported this as an issue, so a developer could fix it. :)

[2018-06-10 19:45] zonkmachine commented on #4419
I can't replicate this on stable-1.2 .
Does this happen with all the effect you try?

Which branch are you on? (I believe the master branch shows lmms-1.2 on the Window title so use **`git status`** command to find out which branch you're on).

[2018-06-10 22:01] JohannesLorenz commented on #4419
LOL that error report...

@curlymorphic was just about to post a similar issue occuring on **master**, where some math functions are not resolved correctly after linking. @xoitx can you please post the whole crash output (and the branch, as zonkmachine says)?

[2018-06-11 00:21] Zyvver commented on #4419
Can reproduce by adding sc4 plugin to a mixer channel. The output/crash is `./lmms symbol lookup error: /home/user/desktop/lmms/build/plugins/ladaspa/sc4_1882.so: undefined symbol:_ZGVbN4v___expf_finite`

[2018-06-11 02:20] Jousboxx commented on #4361
This is a feature that is in FL studio (Alt + Right-click) and it's one of the main things I miss having when I switch to LMMS. Doesn't seem that complicated, so I'll try to make it my first contribution to the LMMS codebase.

[2018-06-11 04:05] PhysSong commented on #4419
@Zyvver That looks like #4030.
@xoitx Does it happen for specific effects?

[2018-06-11 16:17] lukas-w commented on #3999
I think Vcpkg is the best candidate at the moment. I updated the issue accordingly. I'll change the wiki instructions to vcpkg as well if you don't mind, @tresf.

[2018-06-11 20:22] karmux opened #4422 "Playing Sample Track inside BB Track does not always work"
1. If BB Track is played from the middle then Sample Track inside BB Track is silent.

2. If BB Track is played in the loop and loop is not in the beginning of the song then for first time Sample Track inside BB Track is silent and starts playing only when
a) playhead moves back to beginning of loop or
b) playhead starts playing sample again in a longer loop and pattern

Example project: [st-in-bb

[2018-06-11 20:32] tresf commented on #3999
If it works, 👍.  Does `vcpkg` have any pre-built binaries, or is it all downloaded and compiled?  `vcpkg` is going to be less reliant on us maintaining packages all the time, but will likely add much more time to the compilation process.

[2018-06-12 00:46] PhysSong commented on #4422
Tagging @BaraMGB, the author of #3133.

[2018-06-12 16:46] rghvdberg commented on #3186
I think preview should bypass master completely. Same for metronome.

[2018-06-12 17:20] SecondFlight commented on #3186
I may sound like a broken record to some people at this point, but FL doesn't do it. :tm:

I think this could go either way. You may want to hear a preset through your mastering chain, but if your chain is aggressive then maybe you would want to hear it raw.

Now the metronome is something entirely different. I can 100% agree that the metronome shouldn't be going through the master channel.

[2018-06-12 19:08] noahb01 opened #4423 "seperate FX sends"
It would be very useful if you could send the pure wet signal from an effect to a separate FX channel, i.e. a Reverb effect should be able to send just the reverb signal to FX2 while sending the pure, original signal to FX1. This would allow for further manipulation of the effect output without compromising the original signal. For example, I've always wanted to sidechain the reverb without sidech

[2018-06-12 19:36] SecondFlight commented on #4423
Try this:
Send your instrument to FX1. Send FX1 to FX2 and FX3, and send FX2 and FX3 to FX4.
Put your reverb on FX2 with the signal set to 100% wet.

Now you have a completely wet signal in FX2 and a completely dry signal in FX3, and you can add effects to them separately on FX2/FX3 or together on FX4.

This is pretty much what @karmux is saying, but this will also let you put effects on the input

[2018-06-12 20:34] noahb01 commented on #4423
@SecondFlight @karmux I didn't think of that, good idea! However, it would still be easier to allow the effect to send wet/dry signals to different channels, and it would only use 2 fx channels instead of 4

[2018-06-12 20:42] Spekular commented on #4423
You can still achieve this with two, SecondFlight's method just adds some
flexibility. The simpler method, as mentioned is:

 * Instrument to Channel 1
 * Channel 1 to Master & Channel 2
 * Reverb on Channel 2

I use this kind of setup all the time to sidechain my reverb.

Your proposal seems like it might be interesting in other usecases though,
although I can't think of any off the top of my hea

[2018-06-12 21:06] T0NIT0RMX commented on #4380
@DomClark @SecondFlight I investigated. I found something in the `pianoroll.cpp`, in the `testPlayNote` method which is triggered when a user click on the pianoroll, it is used to preview the note.

When I commented the 3 last lines, Cabbage VTS's works perfectly.
I think there is an issue with the 2 midi events generated by this method, one with `handleKeyPress`, and the other with `processInEven

[2018-06-12 21:22] SDwarfs opened #4424 "VSTi: Can't change value of dropdown select box"
The following has been tested with LMMS 1.1.3, 1.2-rc5 and 1.2-rc6 under Windows 10, but also tested LMMS 1.1.3 under Windows 7.
The VST-Plugin used is TAL NoiseMaker (4.2.2.0, 64-bit), which has several dropdown select boxes (e.g. to change the wave form of the oscillators between SAW, PULSE, NOISE etc). When clicking on the option the drop down menu opens, but is flickering (closed immediately)

[2018-06-12 23:23] DomClark commented on #4424
Sounds like a similar issue to #3918. I'll investigate and see if they are indeed related.

[2018-06-12 23:57] PhysSong commented on #4415
Editing this part should work:
https://github.com/LMMS/lmms/blob/2f19fa11c886374adcc74990e52d3ed0473fbf08/data/locale/sv.ts#L3941-L3942
Though not directly related, I also found one place where accelerator is missing:
https://github.com/LMMS/lmms/blob/2f19fa11c886374adcc74990e52d3ed0473fbf08/data/locale/sv.ts#L306-L307

[2018-06-13 04:24] noovaa opened #4425 "VST effects in the mixer // RC-7"

[2018-06-13 05:09] PhysSong commented on #4380
@T0NIT0RMX Thanks for investigation! It seems like Cabbage plays a note when receives custom MIDI meta event `MidiNotePanning`.
I think we shouldn't send that event to anywhere outside LMMS because this is a custom event. Sending custom one doesn't make sense because we can't expect how the event will be handled.

I think the real problem is the last 3 lines here. If so, I suggest removing this ov

[2018-06-13 05:50] #4060 closed

[2018-06-13 08:47] SDwarfs commented on #4424
@DomClark: #3918 is indeed related. I downloaded the Helm-VST and had the same issues with the menu which is to change the "type" under "Distortion" from initial value of "sft clp" to something else. So it's now sure that this issue is not a bug in this special VST-GUI, but in VeSTige.

[2018-06-13 09:38] lukas-w commented on #4425
@noovaa What is the purpose of this issue?

[2018-06-13 13:02] SecondFlight commented on #4423
I personally don't see enough use cases to merit this kind of extra complexity. If this truly did allow you to do something new that you couldn't do before then I could see the case for it, but as far as I can tell it doesn't.

[2018-06-13 13:04] SecondFlight commented on #4425
You can currently put VST effects in the mixer. Check your VST folder in the settings and make sure it's correct. If the folder is correct then the plugins will show up in the list along with all the other effects.

If this does not cover your issue, please comment here with more info, and I will reopen your issue.

[2018-06-13 13:04] #4425 closed

[2018-06-13 15:22] musikBear commented on #4424
@SDwarfs
Looks like this could be a 64x issue. I can use the DD's fine on RC6 with the x32 TALnm:
![tal_nm_32_dropdowns](https://user-images.githubusercontent.com/6662066/41361015-50160fee-6f2e-11e8-8779-5cc8ffd46a55.JPG)

[2018-06-13 17:58] SDwarfs commented on #4424
@musikBear
I tried the 32bit-Version of TAL NoiseMaker with Windows 10 (64bit) and LMMS 1.2-RC6 too, but I had no luck. I tried both, 32bit and 64bit Version of LMMS.
Which Version of TALnm did you use? And do you also use the 32bit Version of LMMS? Which Operating System? And do you have a 32bit or a 64bit Operating System installed?

[2018-06-13 19:56] SecondFlight commented on #4424
He's on 32-bit Windows XP, which means his LMMS and TAL Noisemaker are both 32-bit as well. He will have to say which version of TAL Noisemaker he's using.

[2018-06-13 21:56] DomClark commented on #4424
I've downloaded the plugin and tested it out. It appears to work fine under "No embedding"; the issues appear when the UI is embedded within LMMS. This is the same as with Sylenth and Helm. The menu bug appears to be slightly different in this case compared to the other two - in Helm the menu doesn't appear at all, or only appears very briefly; in Sylenth the menu appears but disappears as soon as

[2018-06-13 21:59] SDwarfs commented on #4424
Ok, I got an old version of TAL Noisemaker (32bit) from:  https://web.archive.org/web/20170228183957/https://tal-software.com/downloads/plugins/TAL-NoiseMaker.zip -- and it's working. So @musikBear  possibly has some old version, too. So it's somehow related to a change in the Plugin.

[2018-06-13 22:14] SDwarfs commented on #4424
@DomClark - I can confirm that its working with "No embedding" Option (Edit->Settings->MISC: "Plugin Embedding" = "No embedding").

[2018-06-14 15:40] musikBear commented on #4424
TALnm v3.10 32 bit, so yours @SDwarfs are indeed newer.
(it actually a good plugin!
About HELM, it did not preserve changed dials, when i tested it, and i did put it on the no-good list, for that reason.

[2018-06-15 17:06] zonkmachine commented on #4415
Yes, but isn't the translations going to be merged back from Transifex?

[2018-06-15 18:06] zonkmachine commented on #3918
The [lines just ahead of this code](https://github.com/WeAreROLI/JUCE/blob/481221a25612d032a33a4fb5c4c1ac20e58e9789/modules/juce_gui_basics/menus/juce_PopupMenu.cpp#L1078:L1080) recently changed. Don't know if it applies to this case though.

[2018-06-15 23:43] PhysSong commented on #4415
IIRC Transifex is synced with `master` now. @liushuyu Is it correct?

[2018-06-15 23:48] supernegativep commented on #4341
My colleagues have imformed me that ripped N64 soundfonts can be fixed by extracting samples and outputting a dls to convert to sf2. I'm gonna investigate this with other software along side them.

[2018-06-15 23:48] supernegativep commented on #4341
Sorry for being a ass. Thanks for tolsrating me and helping me become better.

[2018-06-15 23:50] supernegativep commented on #4341
Also I would advise finding a alternative git hoster.

[2018-06-16 00:40] zonkmachine opened #4426 "Failing to save on exit will continue to exit and the work is lost"
If you exit lmms and it prompts to save, if it fails to save (invalid name or permissions...) it continues to exit and the work is lost. On failing to save a project it should no longer exit.

To reproduce:
 - New project and enter a note
 - Press 'x' to exit
 - When prompted to save, chose save and enter an invalid file name or try saving in a directory where you have no permissions (root).
 - Af

[2018-06-16 00:50] PJ-Finlay opened #4427 "Github wiki for installing build dependancies on Fedora includes lib-alsa-devel which isn't in Fedora package repository"
The [Github wiki for installing build dependencies for Fedora](https://github.com/LMMS/lmms/wiki/dependencies-fedora) under the "Qt4" header includes lib-alsa-devel which isn't in the Fedora repositories. I think that this was intended to include alsa-lib-devel which is included under the "Qt5" header.

[alsa-lib](https://admin.fedoraproject.org/pkgdb/package/rpms/alsa-lib/)
[lib-also](https://adm

[2018-06-16 01:29] PhysSong commented on #4427
I think you're correct. You can edit that yourself.

[2018-06-16 01:35] PhysSong commented on #4030
No, that's THE reason. Some compiler/linker flags may lead to different results when their places are changed. In this case, `-lm` should be passd after relevant object files are specified. That's strange but how gcc works...

@Reflexe Do you have this issue on `master`(and branches based on it) only? I've never seen this issue on `stable-1.2` though.

[2018-06-16 03:13] #4427 closed

[2018-06-16 12:32] Umcaruje commented on #4341
Why? Github has been serving us really well over the years.

[2018-06-16 19:51] franny23dmt opened #4429 "Using logo art on album release"
Is it ok to use the LMMS logo on my album cover artwork?    "written & produced on ...." etc
I'd love to rub this into all the Logic/Cubase/FL Studio users :D
.
From a historical POV, my album is going to be the longest artist album ever published yet (~12 hours) :)

PS> i was told to ask here on LMMS forum and , I tried FB LMMS page but didnt get a reply

[2018-06-16 20:06] franny23dmt commented on #4351
what does "Sync VST" setting do?  it never worked for me, projects wouldnt load with it on, but VSTs seemed well synced with LMMS?  I leave it off

[2018-06-16 20:31] Reflexe commented on #4030
@PhysSong I do have the problem with the current master (1bdaafc48). However,  `stable-1.2` does crash to on the start ("double free or corruption (out)").

[2018-06-16 20:51] supernegativep commented on #4341
Well, as a negative person I usually know when it is safest to rationally assume the worst will happen later down the line. While many people seem optimistic nothing will happen I would rather jump ship and set a example before I give a chance for the worst to happen.

[2018-06-16 20:54] supernegativep commented on #4341
I haven't thought such things in a while but I really don't trust a platforms controlled by ms anymore. Google may be bad with data but at least they keep it protected. Considering windows' security situation, I doubt I should stic around.

[2018-06-16 20:54] zonkmachine commented on #4341
Please stop...

[2018-06-16 21:18] supernegativep commented on #4341
What?

[2018-06-16 21:19] supernegativep commented on #4341
That's not a joke. My username is a joke, but I am a negative person.

[2018-06-16 21:29] supernegativep commented on #4341
I understand. I'll get on that when I can. Thanks.

[2018-06-16 23:52] PhysSong commented on #4030
@Reflexe Do you have a backtrace for `stable-1.2` crash? If you have some `master`-only plugins(Freeboy, OpulenZ, Xpressive) in your plugin directory, you need to delete them first.

[2018-06-17 04:48] Reflexe commented on #4030
@PhysSong
[code]
It would only happen when I compile lmms with `make`:
[code]
Comping with QtCreator and Ninja is ok.

[2018-06-17 05:10] PhysSong commented on #4030
Strange. I'll try 1.2 with from both manual `cmake`/`make` and QtCreator.

[2018-06-17 05:34] PhysSong commented on #4030
Test summary:
- TAP: Crashes both `stable-1.2` and `master` for gcc 8
- SWH: Crashes `master` for gcc 7 and 8(`stable-1.2` works fine)

[2018-06-17 05:39] Reflexe commented on #4030
@PhysSong The difference between QtCreator was probably the compiler (QtCreator: Clang, Default: Gcc)

[2018-06-17 07:50] PhysSong opened #4430 "Switch to modern ways to add compiler flags/link libraries"
Currently our CMake scripts use three ways(I don't know if there are more) to add compiler:
- `add_definition`
- `set_target_properties` with `COMPILE_FLAGS` property

And for link libraries:
- `set_target_properties` with `LINK_FLAGS` property
- `target_link_libraries`

Some compiler requires those flags to be placed in appropriate places, e.g. https://github.com/LMMS/lmms/issues/4030#issuecommen

[2018-06-17 07:52] PhysSong commented on #4030
It seems like we're setting compiler flags for SWH in 1.2 in wrong way. The second `SET_TARGET_PROPERTIES` overrides setting added by first one, instead of appending. Also,
`-c` here looks like a mistake because it means "Do not link" and has no meaning here.
https://github.com/LMMS/lmms/blob/407973ad6f304c9af07dd50fa94fe498df188896/plugins/LadspaEffect/swh/CMakeLists.txt#L20-L24

As of CMake 2.8.

[2018-06-17 13:08] JohannesLorenz opened #4435 "Instruments get saved on each new block in the SongEditor"
Performance issue, not directly critical.

Each time you add a block in `SongEditor` (e.g. because you want to edit this block and add some notes in it), `SerializingObject::saveSettings` is being called. For zyn, and assumably VST, this causes `QTemporaryFile` creation, i.e. file system operations on each edit. If a Linux user deosn't have /tmp as a tmpfs, this is very bad.

[code]
Suggestions:
*

[2018-06-17 15:47] saurid opened #4436 "Panning knob in song-editor partially hidden in swedish"
The panning knob in the song-editor is pushed to the right, making it difficult to see what value it has.
![image](https://user-images.githubusercontent.com/1075365/41509504-2aafb302-7255-11e8-9fea-5c67c8b6bfed.png)
Looking in the sv.ts file on row 5985, I think the translation to swedish should be the shorter PAN. The knob is centered beneath the longer PANORERA, which makes the knob partially di

[2018-06-17 16:01] musikBear commented on #4436
PAN must be enough for my neighbours. Danes would also say 'Panorere' or 'Panorering' but Everyone would understand PAN

[2018-06-17 16:10] saurid commented on #4436
It's still named PAN in stable version I think. Not sure about other languages, but if it is more than three characters, i guess they also have the same problem as I do. VOL is also a short, so I think it was just a mistake during translation :)

[2018-06-17 16:20] Spekular commented on #4415
Updated the "Copy Value" translation to "&Kopiera värde (%1%2)" as well. I was unsure about that earlier since it changes the accelerator key, but I guess it's better than not having one at all.

[2018-06-17 16:48] SecondFlight commented on #4429
Yes, that is fine :)

[2018-06-17 16:48] #4429 closed

[2018-06-17 17:53] zonkmachine commented on #4436
This has already been fixed in master but we probably need to change it manually on stable-1.2

Correct.

This has indeed been reported for other languages on Transifex and I do see this on stable-1.2

[2018-06-17 18:32] SDwarfs opened #4437 "MIDI Output: Events for NoteOn/NoteOff sent out in wrong order"
I noticed that NoteOff/NoteOff-Events are sent in the wrong order. This is an issue if a note with the same MIDI-Note-Number is played multiple times without a gap (e.g. a D3 1/2-note is played 2 times within a bar).

In that case you'll see the following Midi Events:
TIME: 0 -- NoteOn: C4, Velocity: 64
TIME: 2 -- NoteOn: C4, Velocity: 64
TIME: 2 -- NoteOff: C4
TIME: 4 -- NoteOff: C4

This is like

[2018-06-17 19:57] zonkmachine commented on #4437
Could this be the cause of https://github.com/LMMS/lmms/issues/3297 ?

[2018-06-17 22:10] SDwarfs commented on #4437
Nope, the issue seems not related to that. The MIDI Pattern from #3297 for some reason survives the obove described test (internal midi-loop). In the pattern from #3297 there is a little gap between the notes, which is visible if you use a 400%-zoom. However, if I replace the three notes by three full length 1/32th notes, only the first note is played correctly... And using LMMS 1.2.0-rc6 this doe

[2018-06-18 01:00] PhysSong commented on #4437
Note on event is sent in `NotePlayHandle` constructor, while note off event is sent in `NotePlayHandle::noteOff`. When playing a pattern, the constructor is called at the beginning of a mixer cycle. However, `noteOff` function is called while processing. It leads to sending MIDI events with wrong priorities.

[2018-06-18 01:58] #4415 closed

[2018-06-18 02:03] PhysSong commented on #4415
i18n strings in `stable-1.2` have never been updated since 9 May 2017 so I fixed it manually in 1bae047b98558981c20c85edc44550f4aa9714d9.

[2018-06-18 15:01] musikBear opened #4440 "strange popup from REA-vst"
OS  : winXP sp3
LMMS RC6

**Issue description:**
I am not sure if this popup is related to lmms or to windows. If i can understand it, it is complaining about an part of REAeq, that is not a _valid graphic element_(?) Unless 'image' refer to win-image, but then it makes even less sense. Could 'old'ish' graphics be a problem for qt5?

**Recreate         :**
I dont know if it can be done. But i incl

[2018-06-18 15:40] DomClark commented on #4440
Here "image" is not referring to a picture, but a file containing executable code; the definition is closest to [definition 3 here](https://en.wiktionary.org/wiki/image).
I can't reproduce this issue; the VST loads fine for me. It appears to be a 64-bit DLL though - is your system 32- or 64-bit? If 32, this may be the cause of the issue. Either way, it sounds like it's a problem on your end.

[2018-06-18 16:34] michaelgregorius commented on #3920
@PhysSong, I have installed [the 64 bit version of LMMS 1.2.0-RC52](https://github.com/PhysSong/lmms/releases/download/v1.2.0-rc52/lmms-1.2.0-rc52-win64.exe) and I am still getting a crash when I close the application even if I do not switch to the M-Audio interface. Steps are:

1. Start LMMS 1.2.0-RC52.
2. Quit with CTRL+Q.

Additional info (does not look like it will help much though):
[code]

[2018-06-18 18:57] DomClark commented on #3918
I've found a workaround here: if one clears the `WS_CHILD` style from the LVSL window, then `GetForegroundWindow` assumes it's a top-level window and will return its handle when opening the menu, so `isForegroundProcess` behaves as desired and everything works properly. This doesn't have any immediately obvious side effects, but I'm going to test it out for a while as this is somewhat abusing Win3

[2018-06-18 19:53] DomClark commented on #4325
I don't think making `m_shmLock` recursive is a good solution in general - the purpose of the mutex is to prevent `m_inputs`, `m_outputs` and the shared memory from being deleted during a call to `m_plugin->processReplacing`. It might work in this particular case, but for other plugins it may well result in use-after-free crashes within the plugin.
In this case, the plugin is using `audioMasterIOC

[2018-06-19 00:32] #4030 closed

[2018-06-19 03:42] PJ-Finlay commented on #1676
Does anyone mind if I try to take this issue?

[2018-06-19 15:54] musikBear commented on #4440
@PhysSong -loL I got the dll mailed to me, from one that had updated to RC6, and now he had fails with the Eq most of his projects was made with "Could i try if i could help him"
Sure!
He just forgot to tell me that he was on x64 (or i forgot to ask :p
It is however very interesting that you can load, and use this eq, because that could indicate, that the VST does work in RC6.. I cant avoid wonder

[2018-06-19 19:32] lukas-w commented on #4099
Can't reproduce this on macOS 10.13.5. Tried current `stable-1.2` and both RC6 downloads from https://lmms.io/.

[2018-06-19 19:59] #4426 closed

[2018-06-19 21:49] franny23dmt commented on #4429
awesome : )

[2018-06-20 04:35] tresf commented on #4099
This is still reproducible on my system:

https://gist.github.com/tresf/4c6d27623cff6f3528e14e643ca59809#file-lmms-1-2-0-rc6-crash-log

[2018-06-20 06:14] PhysSong commented on #4099
@tresf Could you post the list of available backends/devices for `libsoundio` if available?

[2018-06-20 08:15] PhysSong commented on #4099
Or can you try building `libsoundio` with debug mode and use that with LMMS? If that doesn't give enough information, does `libsoundio`'s unit tests?

[2018-06-20 11:16] xoitx commented on #4419
I'm using this version
https://aur.archlinux.org/packages/lmms-beta/

It crashes when I try to add any effect to any fx channel.

How do I check the log? I tried running from terminal and there was no messages.

[2018-06-20 11:30] PhysSong commented on #4419
@xoitx You can launch LMMS by typing `gdb lmms` and then `run` in gdb. Once you get crash, please type `backtrace` and post the output.

[2018-06-20 15:09] tresf commented on #4099
![screen shot 2018-06-20 at 10 46 43 am](https://user-images.githubusercontent.com/6345473/41665959-5493bbae-7477-11e8-9e6e-cf294ec47057.png)
![screen shot 2018-06-20 at 10 46 22 am](https://user-images.githubusercontent.com/6345473/41665960-54a56606-7477-11e8-8fb6-945ee7c5d4c9.png)

Yeah, I can try that too... I just wrote [this snippet](https://apple.stackexchange.com/a/328283/147537) for adding

[2018-06-20 15:10] musikBear opened #4442 "RC6 plays at least one group of zasfx presets different from previous ver."
OS  : winXP sp3
LMMS RC6

**Issue description:**
In zasfx we have the Cormi collection
In that collection we have a group named Trillo<>
These FX-presets replayed as randomised beeps -as in a alien cp environment -i guess..
In RC6 this is changed to a continuous sine-wave. The variation over time is gone.

**Recreate         :**
You need need an earlier RC , to hear the correct output -I used RC4.

[2018-06-20 15:37] musikBear commented on #4442
Here is a spectrum
![rc4vrc6](https://user-images.githubusercontent.com/6662066/41668770-6bef3808-74b0-11e8-885c-2aa0dbed5203.JPG)

It has to do with vibration, or pulsating, and i have found many more. This is a general zasfx issue

[2018-06-20 18:37] zonkmachine commented on #3918
Fine, but please open an issue up-stream. I can't do this out of lack of competence on the matter.

[2018-06-21 03:05] PhysSong commented on #4442
Do those presets play well in 1.1.3? I can't reproduce the bug with any 1.1\~1.2 releases.

[2018-06-21 05:44] PhysSong commented on #4099
@tresf I don't have much knowledge with Mac, but could you turn off Soundflower and re-test it? It looks somewhat suspicious...

[2018-06-21 05:49] eagles051387 commented on #4099
Soundflower just allows you to reroute audio i used to use it to re
route audio through my surround sound speakers that were connected to a
usb midi keyboard i have.

On 21/06/2018 07:44, Hyunjin Song wrote:

[2018-06-21 06:31] PhysSong commented on #3920
@michaelgregorius `QMapIterator` seems to behave somewhat strange, so I needed to work around it. Here's a new 64bit installer: [lmms-1.2.0-rc6.14-win64.exe](https://github.com/PhysSong/lmms/releases/download/vdummy/lmms-1.2.0-rc6.14-win64.exe)
I hope it will work this time.

[2018-06-21 08:43] lukas-w commented on #4099
@tresf You wrote the crash happens when opening the setup dialog, but your `suondio` backtrace suggests it crashes when closing it. It looks like we have multiple unrelated crashes here… Do you get any soundio-related error messages in the console?

The backtrace with debug symbols shows that an assertion inside `soundio_device_unref` is failing, which is probably [this one](https://github.com/and

[2018-06-21 16:29] musikBear commented on #4442
@PhysSong

All of the presets in the attached file, has difference. Both on my meager HW and on a win10 highend x64 HW

As i wrote, i used RC4 (correct output) v. RC6 (wrong output)
Here is a recording from now
https://soundcloud.com/musikbear/trillo4v6 RC4 first, then flawed RC6

[2018-06-21 17:02] michaelgregorius commented on #3920
@PhysSong With [lmms-1.2.0-rc6.14-win64.exe](https://github.com/PhysSong/lmms/releases/download/vdummy/lmms-1.2.0-rc6.14-win64.exe) the crashes are gone and I also do not get any hanging processes anymore when I close the application. Looks like we can close this issue. :+1: :tada:

@vwren Can you please test with the latest RC if the issue is fixed for you as well?

[2018-06-21 19:29] Daniele71 commented on #4442
HI guys, first time here !
I can confitm the issue on openSUSE TW.
lmms-1.1.3 ok, 1.2-RC6 (appimage) is not.
Discovered the bug with the patch  "Filter Trem clean" from XAdriano Petrosillo.
It seems that in Zyn, Amplitude LFO Frequency is resetted to 0.

Sorry for my bad english ;)

Daniele.

[2018-06-21 20:54] PhysSong commented on #3920
I'll just upload 32bit binary and open a pull request. Good to hear that's working!

[2018-06-22 01:56] PhysSong commented on #4442
It seems like a locale issue. That's why I failed to reproduce the bug(my locale is `ko_KR.UTF-8` and it uses periods as decimal point). By forcing some European locales, I was able to confirm that.

This bug seems like a regression in #4244. I suggest this one to handle both `.` and `,` for separators:
[code]

[2018-06-22 14:51] musikBear commented on #4442
@PhysSong im afraid it is more complicated
Take a look here
https://youtu.be/7ewD4cuSkTE
It looks like **in RC4** it is related to whether a preset is inside a loaded file, or if it *is* being loaded to a file.
At least *that* is reproduceable!
In RC6 i cant get that to happen. Fail no matter loading or loaded (same project)
If you use < RC6 with my project-file, and repeat what i do in the video-

[2018-06-23 00:02] PhysSong commented on #4442
@musikBear That's what I expected. Once those presets are loaded into 1.2.0-RC6/1.1.x, some data can be lost if the decimal separator in the preset doesn't match what the system locale uses. It's a permanent loss so old 1.2 RC can't recoveer it.

[2018-06-23 03:49] PhysSong commented on #4442
In Qt4, `QString::toFloat`(as well as `toDouble`) tries default locale first and then fallback to C locale. The behavior has been changed in Qt5, it doesn't fall back to C locale. So there should be a new function that handles both separators correctly.
In other words, `DataFile::LocaleHelper` also needs some changes. I'll find related potential issues and fix this.

[2018-06-23 08:37] PhysSong commented on #4442
I wrote [a header file](https://gist.github.com/PhysSong/dcffc3de229cacea5796f56f8daebffd) with some helper functions, but I don't know where to include this file. I can find every `toFloat`/`toDouble` calls, but including the file every time doesn't look efficient. `AutomatableModel.h` might be a good home, but I wonder if there are any better ways...

[2018-06-24 11:16] Ffsharp opened #4444 "vst's gui is strange"
OS : Windows 10, 64bit, maybe latest version
LMMS : 1.1.3 version

I loaded these VST(synth1, TAL-Reverb, Krush, Model-E)  by VeSTige.
I didn't find any problems in sounds, knobs, etc.
It works well, except GUI.
All these VST's GUI were cut like this.
<img width="608" alt="1" src="https://user-images.githubusercontent.com/40537341/41818506-60e4f45a-77eb-11e8-9bf4-46cc098773de.PNG">
I didn't touch

[2018-06-24 11:21] karmux commented on #4444
Hi,

Try [1.2.0 RC](https://lmms.io/download/#windows). There are lots of VST fixes.

[2018-06-24 11:23] Ffsharp commented on #4444
I already tried RC6. but...#4405

[2018-06-24 11:56] lukas-w commented on #4444
@Ffsharp The issue you linked contains information on how to resolve the error. Change to an audio backend other than PortAudio using RC5 or just delete your `lmmsrc.xml` if you don't mind losing your settings. Please try that and report back, or try if RC5 fixes the VST issue.

[2018-06-24 12:04] PhysSong commented on #3877
Then do we need to keep this open?

[2018-06-24 13:48] musikBear opened #4445 "Make MMP the default saving-option"
I suggest that lmms default saves as MMP, and not as now, in MMPZ.
If something goes wrong, then crippled mmpz files are useless whereas crippled mmp-files can contain almost all of the project. Crippled mmpz-files cant be converted either. The conversion does not create a valid file.

[2018-06-24 14:15] musikBear commented on #3877
Did i ever get to do that rewrite.. cant remember -*sorry*
@PhysSong No not as an open issue. I will close it now, rewrite the issue as a request, and make a reference from the new ticket, to this. Then the history of this is kept intact

[2018-06-24 14:15] #3877 closed

[2018-06-24 14:35] musikBear opened #4446 "Improve logic for controllers in automation-locked state"
This is a request rewrite of the bug #3877
The Issue:
An automation will lock controllers so *manual* changes are impossible
This is because of #3382
The controller 'remember' last downstream automation setting, and is locked in that value.
A feature is needed to force that controller to 'forget' any lock-value, and be able to stay in any *manual* made position.
The logical feature would be
**cont

[2018-06-24 16:19] lukas-w commented on #4445
I suppose by "cippled" you mean an incomplete file produced if LMMS crashes while saving? If so, it's better to actually guard against that happening instead of trying to mitigate the issue with workarounds. I'll create an issue for it.

[2018-06-24 16:28] lukas-w opened #4447 "Add error messages if VST loading failed"
From discussion in https://github.com/LMMS/lmms/pull/4421#discussion_r196263427. Currently when loading a VST fails, such as when trying to load a 64bit VST on a 32bit VST, no error message is shown. The user should be notified of the error and we should provide a reason for failing when possible. For the 32bit vs 64bit example, this means we should check if the user's computer and the LMMS instal

[2018-06-24 16:32] PJ-Finlay commented on #1676
I made a pull request that should fix this issue #4448.

[2018-06-25 11:40] MisterTeeXD opened #4449 "[Feature Request] Ghost Channels"
The feature i want to see in LMMS is Ghost Channels, Ghost Channels are Notes that show in a blank Piano Roll from a previous Melody Pattern that will help make your Beat play on point and accurately, i think its a nice feature to have in LMMS

[2018-06-25 11:52] PhysSong commented on #4449
Is #4303 and/or #520 what you're looking for?

[2018-06-25 11:58] MisterTeeXD commented on #4449
Oh Crap, did not realise that was already requested, let me close this issue

[2018-06-25 11:58] #4449 closed

[2018-06-25 14:15] SecondFlight commented on #4445
No need to fill the tracker with unnecessarily open bugs. Feel free to reopen this if the conversation merits it.

[2018-06-25 14:15] #4445 closed

[2018-06-25 19:58] musikBear commented on #4445
Partly true, but if it is first save, there is noting saved.
-but if i am the only one, seeing benefits from default uncompressed saving, so be it.

[2018-06-25 20:29] musikBear commented on #4444
@lukas-w Wouldent it be best, with a note on DL-page for 1.1.3, that vst's does not work correctly on win10, and that RC6 should be the choice instead.
Its almost daily, that i have to tell win10 & 1.1.3 users to de-install, and get RC6 installed, because they have issues with chopped-of VSTs UI's

[2018-06-25 21:53] MisterTeeXD opened #4452 "Cannot Automate Equaliser"
There is a problem in LMMS where you cannot Automate the Equalizer, If I bind the Equalizer to a Automation Track, it does not Automate the correct Equalizer Effects, instead it would just fade the Audio Out.

[2018-06-25 23:40] SecondFlight commented on #4452
Can you provide a project file with an example of this happening?

[2018-06-25 23:50] PhysSong commented on #4452
Is #3642 what you're looking for?

[2018-06-25 23:58] MisterTeeXD commented on #4452
Ok apparently, if you put the automation frequency too high then it will cause the audio to fade out, i guess i have fixed it myself, i will close this issue

[2018-06-26 02:46] DomClark commented on #3918
I've had a look at what some other DAWs do and it turns out FL also uses the `WS_CHILD` trick, so it should be safe to include.
JUCE issue opened here: https://github.com/WeAreROLI/JUCE/issues/401.

[2018-06-26 03:50] tresf commented on #4099
The original bug report claims quite clearly that it happens at different times.

Yeah, it doesn't seem to help... this is what closing saving the preferences does with the recommended patches...

[code]

That's been bothering me for a while actually because this is a fresh MacOS install and I don't remember putting Soundflower on it.  I'll remove the kernel extension and see if it helps.

route a

[2018-06-26 03:56] tresf commented on #4099
I've removed the Soundflower kernel extensions and the crashing seems to have gone away. :D

[code]
![screen shot 2018-06-25 at 11 56 32 pm](https://user-images.githubusercontent.com/6345473/41888429-65cd358e-78d3-11e8-8045-e1a26a9ba3ea.png)

[2018-06-26 04:00] PhysSong commented on #4099
@tresf Thanks for testing! I found a related upstream issue. https://github.com/andrewrk/libsoundio/issues/57
It has been fixed, but no release with the fix is available.

[2018-06-26 04:01] tresf commented on #4099
I think it's safe to say that Soundflower was the culprit.  A guess would be that the kernel extension wasn't compatible with the MacOS version or perhaps the `soundio` library hadn't been tested fully against it.

As an aside I'd like to also mention that I use SoundSiphon/SoundControl to be able to use software to control the volume of my HDMI output (similar to how Windows allows this) so it co

[2018-06-26 04:01] #4099 closed

[2018-06-26 04:07] tresf commented on #4099
We should be in OK shape.  SoundFlower is [abandonware](https://github.com/mattingalls/Soundflower/releases/tag/2.0b2) at this point, which is why a new machine shouldn't have had it installed.  If users are installing SoundFlower, uninstalling it is perfectly sane advice.

I pay a few dollars for SoundSiphon/SoundControl and strongly recommend it as a suitable replacement, which is what we can re

[2018-06-26 08:18] PhysSong commented on #4317
The backtrace seems to point to:
[code]
@makepost It may indicate that your CPU doesn't support some instructions used by `libgig.8.dylib`. Could you run `sysctl -a | grep machdep.cpu` and post the result here?

[2018-06-26 10:47] PhysSong commented on #2774
@michaelgregorius Then should we close this one?

[2018-06-26 12:45] makepost commented on #4317
Here it is:

[code]

[2018-06-26 13:40] PhysSong commented on #4317
@makepost Thank you for information! It seems like your CPU is old and doesn't support AVX instruction sets. It seems like RC5 release uses `libgig.8.dylib` built from source.
Since RC6 release for macOS 10.13 uses bottle provided by Homebrew, it should work fine. Could you try RC6 and tell us if that works?

[2018-06-26 13:44] PhysSong commented on #4251
@mchorse I'm not sure, but I suspect your CPU doesn't support some instruction sets as well as #4317. Could you run `sysctl -a | grep machdep.cpu` and post the result here?

[2018-06-26 15:08] makepost commented on #4317
Yes, RC6 works. Great!

[2018-06-26 15:08] #4317 closed

[2018-06-26 15:14] PhysSong commented on #1825
Confirmed. Since toggling GUI locks `m_pluginMutex`, it blocks whole audio processing, which is definitely undesired. Launching and initializing remote plugin may take long time and cause audio dropout.
I suggest not to call `QMutex::lock` in `play`. I think `tryLock` should replace it and no sound should played if locking fails. This may apply to VST as well.

[2018-06-26 15:25] musikBear commented on #1825
👍

[2018-06-26 15:59] MisterTeeXD commented on #4452
Hello, i had to reopen this issue because i went ahead and tested this problem, apparently, when you try to Automate the Equaliser on a preset from a default plugin in LMMS, for example, Light Drops Preset from the BitInvader Plugin, it will just fade out the audio, i have attached a video recording of this problem, i hope it helps.

Video Recording :
[2018-06-26 17-30-31.zip](https://github.com/L

[2018-06-26 23:59] #3920 closed

[2018-06-27 00:01] PhysSong commented on #2774
Closing for now because #4451 fixes #3920 and there seems like no more hangs.

[2018-06-27 00:01] #2774 closed

[2018-06-27 01:04] PhysSong commented on #4452
@MisterTeeXD Are you really sure that your audio is faded? The `Light Drops` preset doesn't have many harmonic contents and looks not suitable for testing.
![Spectrum](https://user-images.githubusercontent.com/12591074/41947228-606390b0-79f1-11e8-869c-97bb3f8d4ece.png)
You may try saw waveform and widening automation range. If the issue still persists, please let us know.

[2018-06-27 01:04] SecondFlight commented on #4452
ah you beat me

[2018-06-27 01:07] SecondFlight commented on #4452
Hi, thanks for posting a video! This is very helpful in diagnosing the problem.

The sound you're putting through the equalizer is sine-based, and as such it only has one harmonic. That sound is exactly what I would expect from highpassing a sine tone.

Try this: open up the light drops plugin and draw a random shape on the graph with your mouse. Try the experiment again, and you should notice a d

[2018-06-27 07:16] mchorse commented on #4251
Yeah, there it is:

[code]

[2018-06-27 10:18] PhysSong commented on #4251
The backtrace looks very weird for me. Can you reproduce this issue with official RC6 release?

[2018-06-27 11:51] Sawuare commented on #3297
I cannot reproduce this manually or with the provided `test.mid` using various SF2s in LMMS RC6.

[2018-06-27 14:46] MisterTeeXD opened #4453 "LMMS Uses Version Of ZynAddSubFX"
It appears that LMMS is using an old version of ZynAddSubFX, there is a new one available here :
http://zynaddsubfx.sourceforge.net/

[2018-06-27 14:47] PhysSong commented on #4453
It seems like a duplicate of #4179.

[2018-06-27 14:48] MisterTeeXD commented on #4453
Oops, my bad

[2018-06-27 14:48] #4453 closed

[2018-06-27 15:36] MisterTeeXD commented on #4452
Okay, i have tried what you asked and this is the result :

[2018-06-27 17-31-05.zip](https://github.com/LMMS/lmms/files/2141885/2018-06-27.17-31-05.zip)

[2018-06-27 19:18] michaelgregorius commented on #2774
From my point of view also OK to close this one.

[2018-06-27 22:44] SecondFlight commented on #4452
Like this:
https://cdn.discordapp.com/attachments/390734899549831171/461662897739661322/vokoscreen-2018-06-27_18-42-00.mp4

[2018-06-27 22:46] MisterTeeXD commented on #4452
I did do that

[2018-06-27 22:47] kairuip00p opened #4454 "Lmms Keeps Crashing When I play"
I have been working on a LMMS project for a couple of weeks now but I keep experiencing a problem. Whenever I play it, it crashes consecutively at the same spot in the project. I am using windows 10 and i am wondering if someone could help me out here. Thanks.

[2018-06-27 22:55] SecondFlight commented on #4452
It looks like you missed the step of drawing a random shape in bitinvader. What I see in your video is exactly what I would expect. What happens when you try the same steps that are in the video I posted?

[2018-06-27 22:57] MisterTeeXD commented on #4452
Ok, i will test this and then report back

[2018-06-27 23:00] SecondFlight commented on #4454
What version of LMMS are you using? If you're using 1.2.0 RC6, do you have any VSTs in the project, and if so, what are they? If you're *not* using 1.2.0 RC6, please download it [here](https://lmms.io/download/) and let us know if you still have the issue.

[2018-06-27 23:03] kairuip00p commented on #4454
Alright I'll try it out, Thanks!

[2018-06-27 23:21] kairuip00p commented on #4454
Installing the newest version doesn't seem to work. I have 11 VSTs. Perhaps that's stretching the limit? I have 7 synths, 1 piano plugin, 1 sub-bass plugin, and 2 guitar plugins.

[2018-06-27 23:32] DomClark commented on #4454
Do you mean that the newest version won't work at all, or that it still crashes in the same place? Could you tell us which VSTs you're using?

[2018-06-27 23:53] kairuip00p commented on #4454
@DomClark I am able to install the newest version, it's just that it doesn't solve my problem. I'm using the VSTs listed above

[2018-06-28 00:03] DomClark commented on #4454
Could you list the names of the VSTs you are using? If you wouldn't mind, could you also provide your project file? You can just drag and drop it into the comment box.

[2018-06-28 00:31] SecondFlight commented on #4454
@kairuip00p We're asking about the specific VSTs you're using. VSTs can break LMMS in a whole host of different ways, and so we can't test the issue you're having without being able to reproduce the same environment.

[2018-06-28 01:11] kairuip00p commented on #4454
@SecondFlight @DomClark Okay, I understand. I can't provide the project file so I'll describe the VSTs. For the piano plugin, I'm using DSK Akoustik Keyz, the synth is Sinnah by NUsofting, the guitar plugin is DSK Akoustik Guitarz, and the sub-bass is just called Sub. Thank you all for taking your time to help me.

[2018-06-28 01:29] DomClark commented on #4454
Can you figure out which track is making it crash? You can check if a particular track is responsible by making a copy of the project and removing all of the other tracks, then playing the troublesome spot. Do this for each track and you should find out which one is causing the problem.
Also, if you're not happy about putting your project somewhere public like the bug tracker, but wouldn't mind pr

[2018-06-28 01:38] kairuip00p commented on #4454
@DomClark Alright thanks I'll try it out

[2018-06-28 01:51] kairuip00p commented on #4454
@DomClark Thanks, I deleted one of the tracks and it stopped crashing. Thank you everyone who took their time. I really appreciate it.

[2018-06-28 07:46] Spekular commented on #4454
Which VST did you remove to stop the crashing?

On Thu, Jun 28, 2018, 03:51 kairuip00p <notifications@github.com> wrote:

[2018-06-28 18:30] Jernemies opened #4455 "ZynAddSubFX crashes when trying to save instrument"
If you try to save an .xiz file from the Zyn UI's "save instrument option", the Zyn window rapidly "pings" itself, then crashes. Only the plugin crashes, LMMS is fine even after that, and after opening the Zyn UI again, it resets to a default sine sound. 1.2.0RC6 on Windows 7 64-bit

[2018-06-29 08:10] PhysSong commented on #4455
Confirmed. It's a Windows-only issue.
It happens when the mouse position at the time you click the menu is on any dial knobs. You can work around by selecting the menu by keyboard while mouse is outside the ZynAddSubFX's GUI.

This issue seems like a bug of FLTK as well as ZynAddSubFX(at least our version). FLTK has introduced a Windows-specific code in `Fl_Window::hide` because of [a bug](http://

[2018-06-29 12:54] SecondFlight commented on #4454
To be clear, LMMS *shouldn't* break when you have 11 VSTs. This isn't just a support forum, we actually want to fix the issue you were having, but we can't fix a bug that we can't reproduce. As of right now you have not given us enough information to reproduce it.

[2018-06-29 13:45] SecondFlight commented on #3816
I think this should be closed or at least revisited per https://github.com/LMMS/lmms/pull/4397.

[2018-06-29 15:39] kairuip00p commented on #4454
@SecondFlight @DomClark @Spekular What other information should I provide?
The VST I removed was one of the Sinnah synths.

[2018-06-29 15:52] zonkmachine commented on #4454
Which one?

The best information we could get would be a minimal project that crashes just including that VST.

[2018-06-29 16:02] kairuip00p commented on #4454
@zonkmachine How do I provide the file? It doesn't let me drag and drop.

[2018-06-29 16:05] zonkmachine commented on #4454
@kairuip00p Save it as .mmp (uncompressed lmms format) and then zip it. That's what I usually do.

[2018-06-29 16:18] kairuip00p commented on #4454
[Copy..zip](https://github.com/LMMS/lmms/files/2150100/Copy.zip)
Okay here it is.

[2018-06-29 16:37] DomClark commented on #4454
@kairuip00p Thank you for the file; I've managed to reproduce the crash and will investigate. Hopefully we can fix this for a future version.

[2018-06-29 18:31] SecondFlight commented on #4454
@kairuip00p Thanks for your help investigating this issue!

[2018-06-29 18:47] lukas-w commented on #3975
Sorry for the late response.

I agree with most points made here. The current `#ifdef` approach is really hard to read and to maintain, efforts such as #2390 are needed to improve this.

Native VSTs will likely be more stable and certainly easier to implement than the remote approach. However, I think we should at least delay its implementation. I'm not sure if that's what you're suggesting @DomCl

[2018-06-29 20:49] kairuip00p commented on #4454
Thanks for helping me out!

[2018-06-30 23:28] DomClark commented on #4454
I've found the cause of the bug: the list of MIDI messages LMMS sends to VSTs occasionally isn't sorted chronologically. Such a list causes Sinnah's message processing code to enter an infinite loop. I'll fix this in my next VST PR.

[2018-07-01 13:15] PhysSong commented on #4455
I'm going to report to FLTK upstream when possible. It definitely looks like a bug of it.
BTW, I think we(downstream) can work around the issue by checking for recursion. I'll try to fix this.

[2018-07-02 02:34] PhysSong commented on #4419
@xoitx Please try to get a backtrace and post it once you succeed.

[2018-07-02 05:31] enp2s0 opened #4458 "dB Meters on FX Mixer/Effects"
As of now there are no dB meters/graduations on the FX Mixer sliders/meters. This would also be useful  on the LMMS Equalizer native plugin.

IMO this is one feature that almost every other DAW (free and proprietary) has that LMMS is lacking.

[2018-07-02 07:14] lukas-w commented on #4458
Related to #1271.

[2018-07-02 17:02] noahb01 commented on #4458
Combining this and #1271, I think we should move towards an Ardour-like mixer.
![ardour mixer](https://user-images.githubusercontent.com/22487040/42176698-db96b55a-7df7-11e8-937f-0da6811f4186.png)
We would have to make each channel wider and taller, but I think this is necessary anyway because we are running out of real estate for the channel names.

[2018-07-02 17:13] DevSynth opened #4459 "The oscilloscope color can't be changed"
Line 176 below, won't change the color of the background of the oscilloscope and it wont change the color of the sound waves

VisualizationWidget  {
	background: none;
	border: none;
}

[2018-07-02 20:57] DeRobyJ commented on #4386
Confirmed on 1.2.0 RC6 64-bit on windows using this http://www.williamkage.com/snes_soundfonts/final_fantasy_6_soundfont.zip

It seems to randomly set loop points at start and end of the sample.

This, however, it is not our bug, it's a FluidSynth bug.
Here is a discussion about it:
https://github.com/FluidSynth/fluidsynth/issues/149
Apparently it should be fixed as of 1.1.7, https://github.com/Fl

[2018-07-03 05:48] PhysSong commented on #4455
It seems like this bug can be worked around. This patch fixes the crash, but FLTK doesn't allow hiding tooltip of the `WidgetPDial` under mouse. It's an unavoidable side effect unless we patch FLTK.
[code]

[2018-07-03 19:29] eugene-s-nesdev commented on #2930
The bug still present in 1.2.0-RC6 (i hope it will be fixed in final 1.2.0 release)

[2018-07-03 21:56] NotAFile commented on #2847
Considering how much better the graphic EQ is now and how useless the base spectrum analyzer still is, this should really be done. How would you estimate the difficulty of this?

[2018-07-03 23:56] SecondFlight commented on #2930
I know this is labeled as a bug, but fixing this will be more like adding a new feature. Some significant functionality would need to be changed. We are on a feature freeze for 1.2.0 right now, which means that no new features are being added, and so this very likely won't make it to the full release. That doesn't mean it will never happen, just that it probably won't happen in time for the next r

[2018-07-04 01:13] PhysSong commented on #4459
I suggest you to change `output_graph.png` file. It's the background image for the oscilloscope.

[2018-07-05 11:13] PhysSong commented on #3119
@Jousboxx Can you still reproduce this issue with RC6?

[2018-07-05 15:38] Jousboxx commented on #3119
Yes, I just reproduced the issue in rc6. I installed a fresh copy of Maximus in a folder that has nothing but the Maximus DLLs and files. I was able to open it successfully on my admin account but not on my standard one. It's also worth pointing out that this is a different install of Windows than I was using when I started this thread.

[2018-07-05 17:16] jibin1573 opened #4461 "LMMS shows only a part of the NI Reaktor 6 interface"
I am using LMMS 1.2.0 RC6 (64bit) on Windows 10 version 1803. I loaded the free Native Instruments Realtor 6 (version 6.2.2) into LMMS (through vestige) , and part of the interface was missing. This happens only for the "Lazerbass.ens' patch on Realtor 6.

[2018-07-05 17:25] jibin1573 opened #4462 "Feature suggestions"
Feature suggestions:

1. Embedding Linux sampler:

Is it possible to embed "Linux Sampler" into LMMS? Then the developers can concentrate more on the LMMS DAW instead of plugins like GIG, SF2 player etc. Linux sampler would be a great sample player, which is being systematically developed. I checked some other threads relating to samplers, but no one is talking about embedding Linux sampler into L

[2018-07-05 17:27] #4462 closed, assigned to nobody

[2018-07-05 17:33] Spekular commented on #4462
@jibin1573 there are existing github issues for 2 and 3, so you don't need
to open those.

On Thu, Jul 5, 2018, 19:27 Lukas W <notifications@github.com> wrote:

[2018-07-05 17:34] jibin1573 commented on #4462
Oh! I already posted!

On Thu 5 Jul, 2018, 11:03 PM Spekular, <notifications@github.com> wrote:

[2018-07-05 17:38] jibin1573 commented on #4461
Yes! That is what is happening. The VST works fine but chopped-off part is
inaccessible.

On Thu 5 Jul, 2018, 10:56 PM Lukas W, <notifications@github.com> wrote:

[2018-07-05 17:48] jibin1573 opened #4463 "Embedding Linux Sampler"
Is it possible to embed "Linux Sampler" into LMMS? Then the developers can concentrate more on the LMMS DAW instead of plugins like GIG, SF2 player etc. Linux sampler would be a great sample player, which is being systematically developed. I checked some other threads relating to samplers, but no one is talking about embedding Linux sampler into LMMS.

[2018-07-05 17:51] jibin1573 opened #4464 "Button "hover" effect"
Can we have glowing buttons, like in FL studio. Like when we press a button, it should light up with a different colour.

Thank you!

[2018-07-05 18:02] jibin1573 opened #4465 "Bring back Portaudio (WASAPI)"
I was using LMMS 1.2.0 RC4 on Windows 10 Home, version:1709, OS build: 16299.402.
I used a USB  MIDI keyboard. And my buffer size was 192 frames and latency was 4ms. I tested both SDL and Port Audio (WASAPI) at 140bpm with Piano One vsti, and found that WASAPI was better than SDL, in terms of latency.
I also found that, while exporting the songs at a sample rate higher than 44100hz, some tracks wo

[2018-07-05 20:16] DomClark commented on #4461
Reproduced; sounds like #4087 too. I have a fix in development.

[2018-07-05 20:40] Tarmist25 commented on #4419
@xoitx This happened to me as well. The problem was that LMMS was scanning my entire home folder for VST plugins which caused it to lock up due to how large my home folder is. Changing the VST plugin directory in LMMS' settings fixed it for me.

[2018-07-06 02:07] #2662 closed

[2018-07-06 02:07] #3855 closed

[2018-07-06 04:18] MrcSnm opened #4466 "Piano Roll: Show note labels on notes"
![51234](https://user-images.githubusercontent.com/10136262/42359729-306b5a3a-80ba-11e8-9212-4642eee2e3c9.png)

This is basically what i want you to do, when you used too much fl studio you really miss this, it is quite boring needing to make a horizontal line with your eyes backing to you can know what note you're actually playing, for some reason just appear the root note, already searched for t

[2018-07-06 06:01] PhysSong commented on #4466
For piano keys, you can turn on `Enable note labels in piano roll` in Edit->Settings. It's not implemented for notes, but I think it won't be hard.

[2018-07-06 06:29] MrcSnm commented on #4466
So, the problem is that I find it pretty polluted
![5123](https://user-images.githubusercontent.com/10136262/42363133-af48af6c-80cc-11e8-8aba-09b8da799cd5.png)

Dunno if it is just for me, but it really is hard to be seeing things like this.

[2018-07-06 10:02] lukas-w commented on #4466
@MrcSnm Note labels on keys have already been implemented via #2285 and will be part of the 1.2 release:

![image](https://user-images.githubusercontent.com/2879917/42373058-21173428-8114-11e8-9b9e-d4a9f82a5778.png)

Having note labels on each note is covered by #521. However, #521 lacks a screenshot illustrating the proposal so I'll close that one as a duplicate.

[2018-07-06 10:03] lukas-w commented on #521
Closing as duplicate in favour of #4466.

[2018-07-06 10:03] #521 closed

[2018-07-06 10:56] lukas-w commented on #3999
Unfortunately, no. Mixing official Qt binaries together with libraries provided by vcpkg appears to work fine though.

[2018-07-06 20:51] DomClark commented on #4183
Qt issue opened at https://bugreports.qt.io/browse/QTBUG-69343.

[2018-07-07 14:47] MisterTeeXD commented on #4269
Hello, this issue has not been fixed in RC6

[2018-07-07 14:56] michaelgregorius commented on #4466
Implemented with #4467. Here's how it looks:

![lmms-4466-notetext](https://user-images.githubusercontent.com/9293269/42412102-59b8904a-8206-11e8-9c09-e9b878ed162e.gif)

[2018-07-07 17:47] musikBear commented on #4466
@michaelgregorius -lovely little added feature. Will benefit newcomers, and since it's toggable in Settings, no adverse things here - Nice ! 🎆

[2018-07-08 12:36] #4444 closed

[2018-07-08 12:52] jibin1573 commented on #4466
Great!! Thanks!

[2018-07-08 16:22] naturbua opened #4469 "VST-Plugins tune off when exporting on LMMS 1.1.3"
Certain VST-Plugins, including seemingly everything by DSK and some others, tune off when I export a song. While working with the plugins in the daw itself, everything sounded fine, but after exporting, the exported wav/ogg itself and the projekt sounded off. Only certain VSTs are affected by this, as I already mentioned. I remeber using them on Windows 8 and an older LMMS version without having t

[2018-07-08 16:29] DomClark commented on #4469
Thank you for the bug report. We've been improving VST support recently and there may have been changes in this area; can you try downloading our latest beta version (under "Beta Versions" at https://lmms.io/download/) and see if the issue still persists?

[2018-07-08 22:38] SecondFlight commented on #4269
We are on feature freeze for 1.2.0 as we fix up a few more bugs for release. If someone does decide to fix this issue for 1.3 then they will close it when it is fixed.

[2018-07-09 04:09] jibin1573 commented on #4469
I know this problem. You can try using Portaudio in audio settings. I have tried this.  Portaudio can export the song without detuning. Portaudio was removed from RC5.

SDL detunes even in RC6. And the amount of latency is also high.

[2018-07-09 04:13] jibin1573 commented on #4469
And most important. SDL will detune only if you cross 44100hz (audio quality). And as you keep increasing the audio quality, the pitch goes upwards.
For the portaudio to work properly, you have to make the entire song with Portaudio enabled. (From the beginning of the song)

[2018-07-09 15:01] DomClark commented on #4469
My apologies, I thought I'd fixed this but it turns out the code never made it as far as GitHub. I'll address this in an upcoming PR.

[2018-07-09 16:29] musikBear commented on #4469
@jibin1573 Those 2 https://github.com/LMMS/lmms/issues/4469#issuecomment-403354780 are very good finds! Especially because SDL is LMMS' fixed standard for windows OS.
*That* said, i have never actually experienced this. Must some oversampling take place, or does other export settings play a role too?
(I will try exporting Onion.mmpz with a Synth1 VST as lead)

[2018-07-09 16:31] jibin1573 opened #4470 "Deleting BB Blocks in the Song editor"
Using Windows 10 (Version 1804)
LMMS 1.2.0 RC6

I'm not able to delete more than one BB Block together. I can only delete them individually. ( It becomes a tedious task to delete lots of small BB Blocks!)
Is it possible to select more than one BB Block and delete them together?

Also, the Delete key on the keyboard cannot be used for deleting even one BB Block in the song editor.

(Don't know whet

[2018-07-09 16:45] jibin1573 opened #4471 "Undo not working properly in Song editor"
Using Windows 10 (Version 1804)
LMMS 1.2.0 RC6

I opened a song project, and took the playhead to the start of the song and then pressed Shift+Insert key to add 5 empty bars; then I tried to undo it, but there is no response at all! LMMS is unable to undo this.

(Also note that, I went through the above mentioned steps directly after opening the project, so there is nothing else to be undine.)

[2018-07-09 16:54] jibin1573 opened #4472 "Feature request: Ctrl+ Drag =Selection in Song editor"
In the Piano roll, Ctrl + Drag=selection. Can this feature be provided for the Song editor as well?

[2018-07-09 17:04] jibin1573 opened #4473 "Few colour suggestions"
1. Can we change the colour of the loop marker. Because we need to have some contrast when there is an instrument track (of the same colour) just below it.

2. It possible, please change the colour of the progress bar in the export menu, for contrast. Like green.

[2018-07-09 17:55] jibin1573 commented on #4469
Thanks @musikBear! Some of the VSTi that cause problems are:

1.MaxSynth's Bass Module (Free): Effect: pitch shifts upwards
Cause: happened when I was exporting wav @ 24bit with sample rate at 96000hz.
(No problems were found when I exported it at 44100hz @24bit.)

2. Helm:
Effect: pitch shifts upwards
Cause: happened when I was exporting wav @ 24bit with sample rate at 96000hz.
(No problems were

[2018-07-09 18:18] naturbua commented on #4469
So I tested some of the vsts which caused issues in 1.13 in RC6 and they seem to be vanished (aside from that I had some hassle with Port Audio, which doesn't exist in RC6 so I had to switch to SDL in 1.13 to make it start; also see #4405 ) . Even some Big Cat  VST instruments (e.g. Iowa Piano) which caused crashes when saving and reloading a project run now smoother and didn't cause crashes at al

[2018-07-09 19:54] Sawuare commented on #4464
In LMMS 1.2.0 RC6, all buttons glow when pressed.

[2018-07-09 21:00] Sawuare commented on #4470
This has been implemented for version 1.3, where pressing the Delete key deletes selected blocks.

Implemented in `master` via #3649.

[2018-07-09 21:00] #4470 closed

[2018-07-09 21:03] Sawuare commented on #4472
This has been implemented for version 1.3, where holding the Ctrl key toggles the selection mode.

Implemented in `master` via #3649.

[2018-07-09 21:03] #4472 closed

[2018-07-10 01:30] GingkathFox opened #4474 "Accessing Presets/Samples in .zip folder"
This is good for people with small HDs.
Is it possible to access files within a .zip file (or any other archive format)?

[2018-07-10 02:13] #4406 closed

[2018-07-10 02:54] banti101 opened #4475 "No panning knobs in sample tracks when "Compact track buttons" is set"
There is no leveling on Song-Editor in lmms 1.2.0-rc6. only icon . that is annoying. also no panning in sample track. @lmmsservice
![capture](https://user-images.githubusercontent.com/41033357/42486929-2b65a8e6-841c-11e8-8653-4a4e182de1a7.JPG)

[2018-07-10 03:00] banti101 opened #4476 "two main things are lagging...1/ no slice tool. 2/need more option in sample editing."
two main things are lagging...1/ no slice tool. 2/need more option in sample editing. there is almost no option in sample editing section in sample track.

[2018-07-10 04:30] jibin1573 commented on #4469
@naturbua, if possible, please try out LMMS 1.2.0 RC4 with Portaudio also. You can test exporting with Portaudio and also test the latency while playing MIDI.

[2018-07-10 04:35] jibin1573 commented on #4464
I mean the buttons should light up. Please check this theme, and you'll understand. Link: https://lmms.io/lsp/?action=show&file=11356

(After downloading this file, you have to convert the file to tar.bz2)

[2018-07-10 05:43] PhysSong commented on #4475
Do you mean track labels? If so, you can turn off **Compact track buttons** setting.

You can use panning after turning off the setting, but it should be there even if the setting is turned on. Thank you for reporting this!

[2018-07-10 05:57] PhysSong commented on #4476
They are already known issues and now part of #1471. Closing as a duplicate of #1471.
If you need something not reported/suggested, please feel free to open a new one. Don't forget to search for existing issues!

[2018-07-10 05:57] #4476 closed

[2018-07-10 06:00] banti101 commented on #4475
thanks... its work well.

[2018-07-10 06:06] PhysSong commented on #4475
Opened a pull request #4477. The bug you've reported will be fixed in RC7. Removing `[SOLVED]` and leaving this open for now, but I'll close this one once #4477 is merged(GitHub will automatically close this).

[2018-07-10 06:37] jibin1573 opened #4478 "Vestige track as default"
Please provide a Vestige track as default in the Song editor. This might help the new users. It also reduces a few steps of pulling the sidebar and dragging the Vestige to the Song editor.
(I know we can create templates, but it would be great to have it as default)

[2018-07-10 07:20] jibin1573 commented on #2563
We can even place the mute/solo button vertically. Like this, link: https://m.imgur.com/a/MxG4XF6

[2018-07-10 07:38] BaraMGB commented on #4473
If you think, there are problems in the default theme, please can you make a mock up in a paint app for demonstration?

[2018-07-10 07:49] jibin1573 commented on #2563
We can also replace the gear icon with a spanner icon. It will provide even more space. Like this:
https://m.imgur.com/a/IdFduKk

(Please bear with the horrible art work. It is just to give an idea)

[2018-07-10 10:11] Sawuare commented on #4464
AFAIK, the draw mode and edit mode buttons have 3 states: hover, pressed, checked. When a button is checked, it doesn't respond to hover/pressed. That's why a checked button doesn't glow when hovered/pressed.

I don't think we can change this behavior, but I think it makes sense.

[2018-07-10 10:37] jibin1573 commented on #4473
@BaraMGB, please check this mock up which I have created, with the appropriate colours for the title bars,  the loop indicators (both the marker and the button) and the colour for the progress bar in the export menu.
Link: https://m.imgur.com/a/WCh4MYJ

[2018-07-10 10:46] jibin1573 commented on #4464
@Sawuare, I wish if the default theme could do that. This same property is applied even in LMMS Classic theme.

[2018-07-10 11:03] jibin1573 commented on #4473
For a clearer image please try this link: https://photouploads.com/image/EpBa

[2018-07-10 12:21] SDwarfs commented on #4437
This seems to be a good solution. This should even work for adjacent notes (note1.endTime == note2.startTime), if the check is based on the current on/off-state for that MIDI-noteNumber on the same MIDI-channel.
However, make sure, the counter is reset, whenever the "stop" button is pressed or any other event that stops the music playing (where all the notes currently "on" are sent a NoteOff).. El

[2018-07-10 13:17] Spekular commented on #4478
You can use [File>Save as default template] to set your own default startup
file if you'd like vestige to be there when you start a new project. I
personally don't think the default new project should have more tracks than
it already does, or that beginners wpuld benefit from it.

On Tue, Jul 10, 2018, 08:37 jibin1573 <notifications@github.com> wrote:

[2018-07-10 13:19] SecondFlight commented on #4478
If a user doesn't know how to get Vestige, they probably don't know how to use it either. I don't see a reason to keep this issue open, I'll let someone else on the dev team open it if they feel it has merit.

[2018-07-10 13:19] #4478 closed

[2018-07-10 13:38] SecondFlight commented on #4469
RC4 is old and does not have all the latest VST fixes so I do not see the purpose of testing this in RC4 as it does not relate to this issue. The issue author said that their issues were fixed in RC6.

If you're having issues exporting with different samplerates, that is a separate issue. I suggest opening it as such.

44100 is the samplerate your computer will play back at. Increasing the sampler

[2018-07-10 13:44] jibin1573 commented on #4478
My main intention was to remove the number of steps involved in starting a VST instrument. Like, once you have a Vestige instrument, you can go on cloning the track as much as you want (almost like an  "add instrument track".
And also, Vestige is something that most users will always use; I think, more than the other defaults.

[2018-07-10 13:53] DouglasDGI commented on #4478
Actually, even though I use VSTs in almost every song, I'm rarely pulling out VeSTige because they're all VST effects rather than VSTis.  ZynAddSubFX gives me most of what I need.  I can't speak for others, but I do know there are many people out there who never even use VSTs to begin with.

I already got into the habit of loading the "Empty" project preset, but if I was still just clicking the de

[2018-07-10 13:59] jibin1573 opened #4479 "Detuning at higher sample rates"
I'm using Windows 10 (version 1803)
LMMS 1.2.0 RC6

When I export songs at a sample rate higher than 44100hz, there is an increase in the pitch of certain VST instruments. I have found out some VST instruments which get detuned:

1.MaxSynth's Bass Module (Free): Effect: Pitch shifts upwards
Cause: Happened when I was exporting wav @ 24bit with sample rate at 96000hz.
(No problems were found when I

[2018-07-10 14:04] jibin1573 commented on #4478
Is there an option to open LMMS directly with a user template, rather than the default template?

[2018-07-10 14:10] SecondFlight commented on #4478
As @Spekular said,

file

[2018-07-10 14:12] jibin1573 commented on #4478
But it does not open as default. You have to go to the template folder to open it like a project.

[2018-07-10 14:13] SecondFlight commented on #4478
That was not my understanding of what he said but I can't confirm this as I am at work.

[2018-07-10 14:22] Spekular commented on #4478
Saving a project as default template will load it on startup and when using
File>New.

[2018-07-10 14:25] jibin1573 commented on #4478
Frankly, there a lot of steps in using vestige.
1. Open the sidebar
2. Load vestige to song editor
3. Click vestige
4. Click browse
5. Then search for the vsti
6. Click the vsti.
So long!

[2018-07-10 14:36] DomClark commented on #4469
Since the OP says their issues are fixed in the latest RC/by using SDL, I'm going to close this and track @jibin1573's issue in #4479.

@naturbua:
Glad to hear RC6 is working better for you.

Is this the whole file or just the VSTs? If just the VSTs, this is probably the same as @jibin1573's issue. If it's the whole file, can you provide an example, with a file at the correct pitch and a file at t

[2018-07-10 14:36] #4469 closed

[2018-07-10 14:54] jibin1573 commented on #4478
Yes. I also saw another post where there was a discussion on a "My VST folder" in the sidebar. It would be great if that gets implemented. Then, we just have to drag the VSTs from the sidebar.

[2018-07-10 14:58] RoxasKH commented on #4478
Yeah a vst scanner with a sidebar should be really implemented, it's standard on all other DAWs like FL, reaper, mulab...

[2018-07-10 14:59] RoxasKH commented on #4478
So we won't need to go through vestige, if this will done automatically by the software

[2018-07-10 15:07] DouglasDGI commented on #4478
Yes, that would be a good idea, though it's kind of off-topic from this issue, and also the ability to simply drag in whatever you want from the side will make a feature like having an empty VeSTige track in the default new LMMS project even more pointless.  Which is what we're discussing right now, I'm sure there's already a Github issue open for a VST sidebar issue.  Right now we're discussing h

[2018-07-10 16:11] jibin1573 commented on #4478
I'll post it as a new topic

[2018-07-10 16:15] jibin1573 opened #4480 "VST folder in the sidebar"
Is it possible to provide a VST folder in the sidebar. Then we can directly drag VSTs from that folder; reducing the number of steps involved in loading a vestige track from the sidebar.

(I'm not sure but I think there is an issue related to this topic)

[2018-07-10 18:12] naturbua commented on #4479
I tested a selection of VSTs on different sample rates: https://soundcloud.com/user-498225535/detuning-at-higher-sample-rates-some-plugins/s-zw9Fd

First pass is @44100 Hz, second one is on 48000Hz, third is on 192000Hz

VSTs:
Triple Oscillator (Preset "Garfunkel")
4Front Piano Module (VST)
Tone2FireBird (VST)
Keyzone Classic (VST)
DSK Indian DreamZ (VST)

(using LMMS RC6 on Windows 10)

[2018-07-10 20:45] michaelgregorius commented on #4466
Closing this issue as #4467 has just been merged into `master`.

[2018-07-10 20:45] #4466 closed

[2018-07-10 21:56] musikBear commented on #4469
@jibin1573 Ohh! Its VST specific! Then i can understand why i have not experienced it!
I tried with Synth1 in Onion, and i made a discovery. Onion is 'base-noted' -eg tuned, in lots of ways! The reason is, that it mostly uses *samples*, and they are 'pitch-by-ear' Onion is completely wrong for this purpose. In fact, i think i will find a new standard-song for tests. A test-project should be based

[2018-07-10 23:21] PhysSong commented on #4480
#3048?

[2018-07-11 03:17] jibin1573 commented on #4480
Thank you  @PhysSong! #3048 is the same issue. Has this been implemented?

[2018-07-11 03:39] PhysSong commented on #4480
#3048 implements this, but it has some issues, e.g. mixes instruments and effects.

[2018-07-11 03:46] jibin1573 commented on #4480
Are we talking about showing the user specified vst folder in the sidebar?
If that's the case, users mostly segregate their VSTs into VSTi and VSTs (in that folder). Like in my VST folder, I have made separate folders for piano, Synth, organs etc. So, the sidebar has to just show up this folder, right?

[2018-07-11 09:04] lukas-w commented on #3059
@PhysSong Yup!

[2018-07-11 09:04] #3059 closed

[2018-07-11 09:22] lukas-w commented on #4473
@jibin1573 Please don't use external image hosters. You can include images by just copy-pasting them into the comment box.

[2018-07-11 10:38] jibin1573 commented on #4473
Is it possible through the mobile phone? I didn't find such an option. Sorry!

[2018-07-11 14:22] DomClark commented on #4205
The reason this happens with VST plugins only is that they process events while loading. The following sequence of events seems to be what happens:
- `Track::create` calls `Track::createTCOsForBB` to create a TCO for the cloned track for BB0
- `Track::loadSettings` deletes the TCO, then calls `loadTrackSpecificSettings` which in `InstrumentTrack` loads the instrument
- Loading the VST instrument c

[2018-07-11 17:18] musikBear commented on #4473
@jibin1573

[2018-07-11 17:37] jibin1573 commented on #4473
Can't find such an option on mobile.

[2018-07-12 00:49] #4475 closed

[2018-07-12 05:43] jibin1573 commented on #4471
I have encountered another problem with Undo. Recently, I opened a project and changed the colour of a BB track in the Song editor and tried to undo this, but there is no response.

[2018-07-12 06:07] PhysSong commented on #2389
I think this bug was fixed quite a long time ago, and [1.2.0-RC6](https://github.com/LMMS/lmms/releases/tag/v1.2.0-rc6) shouldn't crash. @rcorre Could you test against RC6?

[2018-07-12 18:44] musikBear commented on #2389
Specific Linux -right?
(I cant crash RC6 with redo-events)

[2018-07-13 04:05] PhysSong commented on #4205
@DomClark Thank you for the investigation! I'll look into this while fixing #3598.

[2018-07-13 15:02] rcorre commented on #2389
I dont have a PC for the next week or so, but I'll check when I can.
- Ryan

On July 11, 2018 11:07:08 PM PDT, Hyunjin Song <notifications@github.com> wrote:

[2018-07-13 15:05] MichaelHabib opened #4484 "ZynAddSUbFX fails to export"
Hi,
I have the ZynAddSUbFX FREQ nub connected to a controller and managed by an Automation Track but on export the nub <> controller connection is lost and the ZynAddSUbFX track is not included in the exported file.

I've attached a copy of the project file below. The problem with the 4 Automation tracks at the bottom.
[test1.mmpz.zip](https://github.com/LMMS/lmms/files/2193138/test1.mmpz.zip)

Te

[2018-07-13 19:58] makepost opened #4485 "Knob automation shortcuts"
While the song is playing, a knob should provide an interface to set/clear the record of connected automation tracks. To enhance a looped automation recording live. I think context menu options would be the easiest. Drag and drop connection the most intuitive.

Knob should also have an "automate me" feature, which would add an automation track to the song, initialized with a connection, with the l

[2018-07-15 09:48] jibin1573 opened #4488 "Suggestions for Track view"
Please check this mock up I have made I have also taken the idea from #2563 . I don't know if it will help.
![demo track view](https://user-images.githubusercontent.com/40867393/42732601-10ac7636-8842-11e8-96ed-8f2acae729f5.png)
Will a fader type volume and pan help in saving space? Also, the recording button is actually intended as an recording arm, and more buttons can be added, as needed. Those

[2018-07-15 15:12] Nesdood007 opened #4489 "ZynAddSubFX'x ADSynth Frequency LFO Value not being saved and read correctly."
Windows 10 1803 x64
LMMS 1.2.0-rc6

I noticed that when opening a project, the Frequency LFO Value in the ADSynth module of the ZynAddSubFX plugin is not being read correctly from the project file. When I loaded the file, the frequency value was either 0 or 1, and nothing in between. The value normally should range from 0.00 to 1.00, like a float value, but I think it may be being read as an integ

[2018-07-15 16:13] DomClark commented on #4489
Sounds like #4442 to me.

[2018-07-15 16:42] jibin1573 opened #4490 "Casio CTK6300IN keyboard supported by LMMS"
I have been using the Casio CTK6300IN Keyboard with LMMS as a MIDI input through USB, and it works flawlessly with LMMS for playing notes. So. I just wanted the name of my keyboard to be added in the list of supported keyboards for LMMS.

I'm using LMMS 1.2.0 RC6 (I have used 1.1.3 also) on Windows 10 version 1704

[2018-07-15 17:57] jibin1573 commented on #4478
UPDATE:

Sorry!! I didn't notice that there was a super easy way of creating default templates in LMMS. Steps involved:

1. You just have to set LMMS, the way you want.

2. Go to "File"  and then press "Save as default template!

3. Restart LMMS.

 Viola!! You have a custom default template!!
(I wouldn't have opened this issue if I knew about this feature)

[2018-07-15 20:39] Umcaruje commented on #4490
There's no such list because all MIDI keyboards work with LMMS.

[2018-07-15 20:39] #4490 closed

[2018-07-16 03:31] jibin1573 commented on #4490
Oay, thank you!

[2018-07-16 16:02] musikBear commented on #4484
@MichaelHabib When i do a standard replay of your project, there are apparently no connected automation. Could you explain what dials in the two controllers, you have connected

[2018-07-16 23:13] LostRobotMusic opened #4491 "Arpeggiator in Random and Sort mode does not randomize notes of a played chord"
When using LMMS arpeggios in Sort mode, it isn't currently possible for it to randomly select notes in the played chord.  Random mode only randomizes the notes chosen in the selected chord type, not the notes of a chord plotted in Piano Roll.  Hopefully I explained this well enough for you all to understand what I'm talking about.

I am unsure whether this would be considered a bug fix or an enhan

[2018-07-17 00:56] PhysSong commented on #4484
@musikBear ZynAddSubFX4's frequency knob is connected to a LFO controller.

[2018-07-17 02:11] jibin1573 opened #4492 "Loading Instrument from Song Editor"
I wanted to give a suggestion regarding, loading instruments directly. The idea is:

Steps to load an instrument:

1.  "Right click" in an empty space in the Song-editor window and a "Context Menu" will open up. The Context menu will show an option to "Add Instrument".
2. Select "Add Instrument " and it will open the user's VST folder, browser window.
3. Now you can directly click and load the ins

[2018-07-17 09:36] lukas-w commented on #4492
I don't think this makes sense when native instruments are still added using the sidebar. We should reduce the number of workflows for adding instruments (such as with #4480/#3048), not increase it. So I'm closing this because I believe #3048 is a better solution. Feel free to object.

[2018-07-17 09:36] #4492 closed

[2018-07-17 10:36] jibin1573 commented on #4492
I am aware of #3048, but just thought of suggesting a way that would reduce a few more steps in loading an instrument. In the Sidebar implementation, you have an extra step in the process, namely:

1. "Opening the Sidebar and

2.  Then opening the VST location.

 But with the Instrument button,  you can directly open the VST browser on clicking the "instrument button". And I think that is what mos

[2018-07-17 11:38] zonkmachine commented on #4491
_From my answer on Discord_

it would need a bit of tweaking that one. The note to be played is selected here: https://github.com/LMMS/lmms/blob/3cf2afd8312252a0f1842cda25d81c064ed84beb/src/core/InstrumentFunctions.cpp#L402 The master notes are more or less agnostic of each other and calculate separately if it's their turn to generate a note. I have no ready idea how to fix that in a good way righ

[2018-07-17 13:00] Bleuzen opened #4494 "Effects delay the sound"
LMMS Version: 1.2.0-rc6
OS: Linux (Manjaro)

Hi I wanted to add the "TAP Pitch Shifter" effect to a sound. This worked, but now the sound is delayed in the whole song. If I disable the effect, the sound plays where it should again.
I also tryed some other plugins and some seem to add more delay and others add nearly no delay.

LMMS should handle effect delays and apply the effect a little sooner s

[2018-07-17 13:11] jibin1573 opened #4495 "Batch Selecting Custom Notes in piano roll?"
I don't know if this is already there, but just wanted to ask: In the Piano Roll, can we select custom notes, together?
(Like, in a word document, you can hold control and select different words, together. Can we do this with the notes in the Piano Roll?

[2018-07-17 13:39] jibin1573 opened #4496 "Custom Panning and Velocity Templates"
Is it possible to create custom templates for Velocity and note panning, in the Piano Roll?
Mock up:

![note panning templates](https://user-images.githubusercontent.com/40867393/42820563-155d66f0-89f4-11e8-9bd7-0de101d002a7.png)

![mockup](https://user-images.githubusercontent.com/40867393/42924728-1a81a582-8b49-11e8-9dbd-d54d31a4b0fe.png)

Like, on right clicking, a context menu,  it will show t

[2018-07-17 14:04] zonkmachine commented on #4495
It is. Please ask in any of our existing support channels before opening an issue here.
Here: https://lmms.io/forum/viewforum.php?f=7

[2018-07-17 14:04] #4495 closed

[2018-07-17 14:21] jibin1573 commented on #4495
Ok, sorry about that.

[2018-07-17 14:30] SecondFlight commented on #4494
Some effects will have a delay like this due to how the effect works and completely unrelated to how they are implemented in LMMS. Most effects should not have an audible delay, but realtime pitch shifting is something I'm not surprised has an audible delay.

How much delay do you experience with the TAP pitch shifter? You mentioned other effects. What other effects do you notice a delay with, and

[2018-07-17 14:56] zonkmachine commented on #4494
Possible duplicate of https://github.com/LMMS/lmms/issues/4143
This is probably an issue upstream. Maybe more so a case of 'just the way this fx operate'.

@Bleuzen Can you try and play around a bit with the Buffer Size in Settings?

[2018-07-17 15:49] Bleuzen commented on #4494
@SecondFlight I tryed all the plugins which appear when searching for "pitch" in LMMS, all have a delay (not only TAP effects!). I guess all effects have a delay, but in most cases it is not hearable.
I can only guess how long it is delayed.. don't know.. maybe about 250 ms. Some plugins have a higher delay, some a little lower delay.

@zonkmachine Yep I tryed it. Makes no difference.

[2018-07-17 15:56] Spekular commented on #4496
You can select several notes and change velocity for all of them at once,
which would help with this pattern.

On Tue, Jul 17, 2018, 15:39 jibin1573 <notifications@github.com> wrote:

[2018-07-17 15:59] jibin1573 commented on #4496
Don't know how to select custom notes! I have posted another issue relating to this, which was closed. Please help.

[2018-07-17 16:14] zonkmachine commented on #4285
Same issue in our native flanger. I'll fix this in https://github.com/LMMS/lmms/pull/4482

[2018-07-17 17:01] SecondFlight commented on #4494
@Bleuzen No need to be super accurate, I'm just curious about roughly how much delay you noticed. Do you see this issue when using any plugins that are *not* pitch shifter plugins?

I suspect this is not an issue we can do much of anything about, as plugin implementation, and as a result plugin delay amounts, are completely up to the original plugin designers. We can't affect baked-in plugin delay

[2018-07-17 17:11] SecondFlight commented on #4496
Not quite sure what you're asking. You can use ctrl+drag to select multiple notes at a time.

Easy way to get the first three bars:
1) Add the first two notes and pan them as you have in the picture.
2) Ctrl+drag to select them (or use ctrl+a).
3) Shift+drag to duplicate the two notes, and place them after the two you already have.
4) Ctrl+a to select all four notes, and then shift+drag the notes

[2018-07-17 17:16] jibin1573 commented on #4496
I want to select random notes, "together".

[2018-07-17 17:16] jibin1573 commented on #4496
I want to select random notes, "together".

[2018-07-17 17:18] jibin1573 commented on #4496
I want to select random notes, "together".

[2018-07-17 17:21] jibin1573 commented on #4488
I have updated a few elements of the Track view mock up.
![track view 2](https://user-images.githubusercontent.com/40867393/42834176-fa63b2da-8a13-11e8-8480-9d4b26de2eea.png)

[2018-07-17 17:48] Bleuzen commented on #4494
@SecondFlight No until now with the plugins that I used there was no noticeable delay. But I'm not sure if there is really no delay or if it is so short that I don't hear it.

Well, in Ardour for example it displays the delay of each plugin. Ardour then plays the current track / audio / sound a little earlier (depending of the latency reported by the plugins) to match the mix again. That way you c

[2018-07-17 19:17] lukas-w commented on #4496
@jibin1573 This is the same question as in #4495, where you've already been told to use our support channels instead of this tracker which is for development only. Please ask these kind of questions in https://lmms.io/chat/ or https://lmms.io/forum/.

[2018-07-18 04:05] jibin1573 commented on #4496
Ok, thank you!

[2018-07-18 10:04] mixalakis opened #4497 "pads and lmms"
is there any way i can play with my lpd8 , in lmms , different instument , and not just different notes of the same instrument

[2018-07-18 11:06] lukas-w commented on #4497
@mixalakis This issue tracker is for development related discussion only. Please use https://lmms.io/chat/ or https://lmms.io/forum/ for support requests.

[2018-07-18 11:06] #4497 closed

[2018-07-18 13:53] SecondFlight commented on #4496
Just for the record, and as musikbear pointed out in the forums, this is already possible with ctrl+shift.

[2018-07-18 13:55] SecondFlight commented on #4494
If there is increased delay in a recent version, which version were you using before that did not have this delay?

[2018-07-18 13:57] jibin1573 commented on #4496
@SecondFlight, I'm not taking about copying notes here. I had posted a separate issue purposely.

[2018-07-18 14:09] Bleuzen commented on #4494
For me there is no hearable increased delay between 1.1.3 and 1.2.0-rc6. All versions I used (only 1.1.3 and 1.2.0-rc6) have this delay, but I noticed it only now.

[2018-07-18 15:06] SecondFlight commented on #4494
I think it's safe to say this isn't a LMMS issue. Plugin delay compensation would likely be a lot of work to implement but I think it would be worthwhile all the same. If you'd like to suggest that, please make sure it hasn't already been suggested and then add a new issue as an enhancement request.

I'll let someone else look over this and decide whether or not to close. I don't think this is our

[2018-07-18 17:22] musikBear commented on #4496
@jibin1573 i told you some day ago, that you cant. Tou can make a suggestion for the feature in Forum. Eventually, it may come into consideration

[2018-07-18 17:29] jibin1573 commented on #4496
@musikBear, thanks! You seem to have understood what I was saying. I want this issue to be considered as a feature request. So can this issue be opened again?

[2018-07-18 17:41] SecondFlight commented on #4496
You have gone into very little detail about how this would actually work aside from saying this would add "templates". What are templates, and how do they work? If you would like this to be a feature request, please add specifics about how you would expect a feature like this to work.

[2018-07-18 23:23] MichaelHabib commented on #4484
Hi, sorry about the late reply.
The LFO Controller uses automation tracks to automate the Frequency knob on ZynAddSubFX4, but on export the links are broken and the exported track in incorrect. I might have uploaded the files after an export (and after the links where broken).
You can reproduce the error by connecting a Controller to the Frequency knob on ZynAddSubFX4 , CTRL+Drag the SPEED knob fr

[2018-07-19 06:11] jibin1573 commented on #4496
@SecondFlight , I have uploaded this mock-up. I hope this helps.

![note panning templates](https://user-images.githubusercontent.com/40867393/42924624-b61ef612-8b48-11e8-816e-2472f6577f1c.png)

[2018-07-19 13:15] SecondFlight commented on #4496
Thank you for putting that together. I have added the enhancement tag. This will remain open in case somebody wants to implement this.

[2018-07-19 13:29] jibin1573 commented on #4496
Thanks you so much @SecondFlight!

[2018-07-20 12:15] andydld opened #4498 "VST-host sync doesnt work"
When you use the AcidBox-VSTi in "host sync"-mode, it starts and keeps playing since the plugin is loaded. LMMS doesnt control the play/stop (but it should). You can try this with the demo-version:

https://www.audioblast.me/acidbox.html

With other DAWs this works like excepted.

I talked to AudioBlast, the maker of AcidBox and they wrote to me the following lines:

"in fact, LMMS (or Vestige) do

[2018-07-20 12:50] lukas-w commented on #4498
Possibly a duplicate of #4351.

[2018-07-20 13:53] jibin1573 commented on #4462
@Spekular, can you please lead me to the post with "Audio file tagging"and c"ustom Colors for instrument track"?

[2018-07-20 13:59] jibin1573 commented on #4462
I'm quite excited!!

[2018-07-20 14:55] DomClark commented on #4498
@andydld Have you enabled "Sync VST plugins to host playback" in settings? If not, try doing so, restart LMMS and see if the problem persists.

[2018-07-20 15:09] Spekular commented on #4462
Custom colors: https://github.com/LMMS/lmms/issues/1665
(and https://github.com/LMMS/lmms/issues/1160)

Samples: https://github.com/LMMS/lmms/issues/4309

On Fri, Jul 20, 2018, 15:59 jibin1573 <notifications@github.com> wrote:

[2018-07-20 15:11] andydld commented on #4498
With activated "Sync VST..." the problem has changed. After loading AcidBox and click play on LMMS nothing happens within the plugin. After changing from "host sync" to another mode and switch back to "host sync" and an click on play, the pattern starts playing, but it seems, thats an wrong speed. If i then click stop and play again, nothing happens again.

[2018-07-20 15:13] jibin1573 commented on #4462
Thanks a lot @Spekular!

[2018-07-20 17:30] jibin1573 commented on #4473
I'm a visually impaired person. And I thank all the developers of LMMS for creating the new Black LMMS default (1.2.0) theme and for the custom Color option in BB tracks. It's a boon for people like me.

Visually impaired people like me require an extra bit of contrast in the themes.  Black theme has always made life easier for me (esp while working on the computer). As a visually impaired person,

[2018-07-20 17:46] SecondFlight commented on #4473
That gives some more context to this request. You will be hard-pressed to convince the theme people to make these changes; however, an argument could be made to have a high-contrast accessibility theme.

That said, is this anything you cannot accomplish by modifying the theme yourself?

[2018-07-20 17:55] jibin1573 commented on #4473
Thank you @SecondFlight! I can apply a different theme, but just wanted some different colour on the title bars (any colour that contrasts the Black background) and also the loading indicator, because I love the default theme. I don't want to alter anything else.

[2018-07-20 18:34] musikBear commented on #4473
@jibin1573 - im next to blind-as-a-bat 🦇 So i have made many changes in CSS to get more contrasts, perhaps you would like to try out my CSS?
I have:
![cssmb](https://user-images.githubusercontent.com/6662066/43019118-2322ec96-8c5c-11e8-9df4-7cb9007c30c6.JPG)
I have never felt that the color of the loop, was a problem, but i can try to find a 'maby' way
As you can see, i use black for scale, and a

[2018-07-21 06:01] jibin1573 commented on #4473
Thanks @musikbear! But my main issue is with the title bar, because it has the same shade of the background; and with the loop indicator in the Song-editor, which has the same colour of the instrument track. I'll try to make a theme. Thanks!

[2018-07-22 11:35] PhysSong commented on #1676
Closed via #4448.

[2018-07-22 11:35] #1676 closed

[2018-07-22 21:58] PJ-Finlay opened #4499 "Running Cmake warns you about Policy CMP0071 not being set"
When you run Cmake version 3.11.2 you get this error:

[code]

[This](https://cmake.org/cmake/help/latest/policy/CMP0071.html) is the policy that isn't being set. I can make a pull request to fix this.

[2018-07-23 19:41] EtornaZ opened #4500 "Free Distortion VST Temper resets values when project is re-opened"
I've recently installed a great distortion VST called Temper. My problem with it is that whenever I close a project with a Temper effect in it and re-open the project, the effect has reset back to its default values. This can be fixed by connecting every value to an automation track (7 values total), but that's rather annoying in cases where you're not automating.
I'm on a Windows 10 computer usin

[2018-07-23 21:37] SecondFlight commented on #4500
Reminds me of https://github.com/LMMS/lmms/issues/1049, but that's been closed for a while.

[2018-07-24 06:57] PhysSong commented on #3781
Here are some ideas:
- (temporary) Revert #2875. Fixing a major bug can be preferable to fixing a potential issue.
- (temporary) Use `idToSave` only if saving projects. The issue described in #2875 remains.
- Decouple automation from journaling. Maybe a `master` thing, but it will be much better if implemented correctly.

On a side note, #2875 doesn't fix the collision perfectly. For example, you

[2018-07-24 07:20] PhysSong commented on #4180
There can be some compatibility issues if we use some paths which weren't used. I think we can use them for loading first, and then for saving.
I don't know if this is needed for 1.2, but I think we should eventually do this.

[2018-07-24 13:44] zonkmachine commented on #3781
Something like

... for rc7 and

... for the final 1.2 release?

[2018-07-24 16:48] jibin1573 commented on #4473
@musikBear , I have prepared a theme by tweaking few pngs from the default theme, but I don't know how to change the title bar. I saw this #2450 post, regarding 'title bar theming support'  and saw the work done by @BaraMGB ; that is exactly what I want. I am not a technical person and I don't know how to do that.

Here is the screenshot of the theme that I made:
![jbn lmms theme](https://user-ima

[2018-07-24 16:59] jibin1573 commented on #4473
I wanted to share this theme on the LMMS sharing platform also. But, I get an error message regarding some proprietary issue.

[2018-07-24 17:41] zonkmachine commented on #4500
Sounds like this could have been fixed in https://github.com/LMMS/lmms/pull/4401
Test RC7 when it's released.

[2018-07-24 19:21] EtornaZ commented on #4500
Will do.

[2018-07-24 19:46] qnebra opened #4501 "Ubuntu, Wine HQ (opt/wine-staging), latest master version of lmms, compilation fail"
Here's are logs of compilation. I skip parts where is no issues, it mean all previous messages:

[code]

  It fails with the following output:

[code]

**Edit** by @PhysSong: Wrap logs into code blocks

[2018-07-24 21:08] musikBear commented on #3781
May i ask why the` <object id="...."/>`is lost from the datastructure?
Is that understood, and not repairable?
-why not reuse of a string concat ... idk.. :| should propl shut up.. 🙊

[2018-07-25 05:18] PhysSong commented on #4500
No, it's not. I can still reproduce this with #4401. It's also different from #1049 because Temper uses a chunk for loading/setting settings.

I don't know if this is LMMS bug or upstream one, but here's some information I found so far:

- Upstream repo: https://github.com/creativeintent/temper
- Related parts of the plugin: https://github.com/creativeintent/temper/blob/17d1a4f288105f9e6f72fc4b28a

[2018-07-25 05:33] PhysSong commented on #3781
@musikBear After #2875, new objects and saved objects use different ranges of ID. When saving, new objects' IDs are converted by `idToSave` function.
When you copy an automation pattern, LMMS saves the pattern's data and reloads it. While the process, the ID conversion occurs and LMMS will try to find objects by wrong IDs. So the connection can't be re-established and the missing block is the cons

[2018-07-25 06:32] andydld commented on #4498
Just one more feedback from AudioBlast:

"I also activated the "Sync VST to host playback" in LMMS and it's a little better, but LMMs has a problem with the "transport bar changed"  flag : it sends continuously "changed" when playing, that's not the "standard" for VST hosts, this flag should be used for these cases only :

changing from stop to play
changing from play to stop
manually changing the

[2018-07-25 13:57] qnebra commented on #4501
[winegcc_wrapper.txt](https://github.com/LMMS/lmms/files/2228127/winegcc_wrapper.txt)

It should be here.

[2018-07-25 17:11] musikBear commented on #3781
@PhysSong

Oh.. i understand. Good explanation 👍

[2018-07-26 00:35] PhysSong commented on #4501
Thank you! It seems like the replacement logic for WineHQ is broken in MSVC pull request.

[2018-07-26 06:04] PhysSong commented on #4501
See https://github.com/LMMS/lmms/pull/4421/files#discussion_r205339593 for detail.

[2018-07-26 13:35] qnebra commented on #4501
@PhysSong 1.2 is installed without problems

[2018-07-26 16:46] lukas-w commented on #4501
@qnebra can you check if 515fefa6ce734fcc5cf119b8eff8c3c0db65cdfc fixes it?

[2018-07-26 17:29] qnebra commented on #4501
So I am closing issue.

[2018-07-26 17:29] #4501 closed

[2018-07-26 17:47] lukas-w commented on #4501
You're not late at all, it's been less than an hour. :) Thank you for confirming :+1:

[2018-07-26 19:04] lukas-w commented on #4289
Has there been any response from @michaelizer? Should we close this or move it to 1.3.0?

[2018-07-26 19:11] tresf commented on #4289
No.

Hard to triage the creative stuff.  Probably bump it.  @Umcaruje wanted to replace the main icon, but that will update on the DMG automatically.  I reached out to @michaelizer on April 8th and conversation didn't really progress.  He was putting time towards finishing the 1.2.0 LMMS icon at that point but I think it died with his first proposals.  Now it's been almost 4 months without any pro