[2017-04-01 10:57] jasp00 commented on #3472
I would like to know what is the problem with tabs for people using a smart editor. I use different kind of tools, so I need indentation with tabs, and I need to indent because I am a human, not a compiler. Using a smart editor, there may be no difference between a tab and a group of spaces. The problem is when people using groups of less than 8 spaces want to add content to the extra columns, thu

[2017-04-01 11:46] musikBear commented on #3447
Sorry, @jasp00 this

I would say no.
If you have been coding all day, and are bound to code again tomorrow, then i honestly doubt, that a 'rest' with coding will be the first thing in your mind.
But imo the discussion miss its target.
The gist is:
*does the project itself, that being either the 'culture' in the group, or the complicity of the actual code, lead to people leaving the project*
Everyt

[2017-04-01 12:15] #3245 closed

[2017-04-01 12:43] musikBear commented on #3474
..nee imo no
But something on FB that is of subtle yet amusing style and of cause trickery..
Like announcing going commercial and 2.0 will cost money..
or putting it up too peeps that 'we' have decided that users starting with a letter need to pay for server-time.. other really wacky stuff
something where peeps would fall in and write something 'uncontrolled'
I believe @Umcaruje did a neat thing l

[2017-04-01 14:08] zapashcanon commented on #3473
@jasp00: not sure if this is what you're asking but:

SC2086: Double quote to prevent globbing and word splitting.
(plus a little `^` showing which var it's talking about)

SC1090: Can't follow non-constant source. Use a directive to specify location.
(plus a little `^` showing which var it's talking about)

From their wiki. They have a very good wiki I have to say. If you just google `SCxxxx` you

[2017-04-01 14:14] zapashcanon commented on #3472
You'll be able to use hard tab on your editor to indent. Astyle will change it for you into spaces. You'll even be able not to indent at all, it will do it for you.

If we use spaces, there's no need to change your editor to do anything. Astyle can take care of this for you. But only if we're using spaces...

[2017-04-01 14:51] jasp00 commented on #3447
Well, at least I am talking for myself. Ten years ago I was a full time programmer for proprietary software and I was coding for LMMS and other FOSS projects too. I am convinced I am not the only case in the world.

@musikBear, the answer to that question is no. The causes have been [identified](https://github.com/LMMS/lmms/issues/3447#issuecomment-289659509). Formally, the main reason is the lack

[2017-04-01 17:36] jasp00 commented on #3473
Thank you, @zapashcanon. As I thought, messages give no clue about how to disable these errors, which come from shellcheck's limitations rather than the code. Because of mentioned disadvantages, these checks should be disabled from the command line to decouple scripts from the specific tool.

[2017-04-01 17:54] fundamental commented on #3447
On 03-31, Fastigium wrote:

Sure. I'll add another disclaimer upfront as many individuals don't
specify their day job obligations, so information is much more sparse
compared to "I'm leaving due to X" style rants.
My general interpretation is below with regards to linux-audio, but take
it with a hefty grain of salt.

From what I've seen (on a broad scale) many simply do not.
One fairly normal tren

[2017-04-01 18:18] zapashcanon commented on #3473
So you'd rather disable this warning and miss a lot more of cases where quoting is necessary ?

[2017-04-01 18:36] camatthew88 commented on #2913
never i wont bother

[2017-04-01 18:36] tresf commented on #3473
Stop this madness.

[2017-04-01 18:36] #3473 closed

[2017-04-01 18:57] jasp00 commented on #3472
Meaning that I will not be able to use tabs, that I will need to navigate through spaces, parse spaces, and erase spaces. Why cannot Astyle or your smart editor change spaces into tabs?

Why would I not indent?

Why do we need fine-grained indentation? Why are spaces a requirement for such indentation?

I think I have [explained](https://github.com/LMMS/lmms/issues/3472#issuecomment-290901676) mys

[2017-04-01 19:03] tresf commented on #3472
We've read your opinion, thanks.  We will likely keep tabs for historical purposes.  We also will likely keep tabs to lessen the burden it causes when using non-space configured editors.

If we can find sane ways to breadcrumb space support into the major editors automatically that would be a good compromise as well.

The points @zapashcanon is trying to make is that if we automated it, it wouldn'

[2017-04-01 21:16] midi-pascal commented on #3447
Hi all,
I would like to express my view on this topic.
Perhaps I am not a typical contributor to LMMS because I contributed (very) sporadically in the passed 5 years.
I love LMMS, use it and do not want it to ever disappear.
In the passed years i solved some bugs and contributed to the French translation with pleasure and enjoyed the great help from @tresf and others LMMS masters to make my fixes

[2017-04-01 21:50] zapashcanon commented on #3472
I guess people here know how to use `git commit --amend` or `git rebase -i`...

[2017-04-01 21:52] jasp00 commented on #3473
@tresf, could you explain why cannot this enhancement be achieved? Dropping these comments would help.

I am concerned that a newcomer may try to fix a false positive, without a hint that it may be so, and go unnoticed; she may not look for SC2086 and may double quote as instructed. Thus, I have suggested to disable the warning. This was my first impression, now I am not so sure.

Should we disabl

[2017-04-01 21:53] tresf commented on #3472
So you plan to chain it into cmake?

[2017-04-01 21:55] Umcaruje commented on #3472
I guess I've seen things fucked up by improper use of these tools.

I said my opinion on tabs v spaces and I'll say it again:

I don't mind either. I use Atom which adapts to whatever is at hand. I don't see an advantage in switching to spaces, and switching the whole project to spaces just to use spaces is too much work in my opinion.

That said at the end of the day I don't really care about thi

[2017-04-01 21:57] tresf commented on #3473
You're [bikeshedding](https://en.wiktionary.org/wiki/bikeshedding).  If someone finds a clean way to remove the comments without adding unnecessary complications to these very simple shell scripts, we'd happily merge.

[2017-04-01 22:03] zapashcanon commented on #3472
I planned to provide a script to do it. It's like 20 lines to run kwstyle, astyle and shellcheck. A call to it could be made from cmake I guess.

[code]

And it's done...

[2017-04-01 22:22] tresf commented on #3472
This is going to be interesting.  So on apple, we do a post-install step.  I assume a post-compile step could be added.

We're also going to need a quick way to turn this off.  Adding additional post-compilation script in travis would be redundant (travis should be testing, not committing).

Also, we'll need some solid proof of concept on this execution, such as a secondary branch in LMMS that we

[2017-04-01 22:27] tresf commented on #3454
Closed via #3463

[2017-04-01 22:27] #3454 closed

[2017-04-01 22:30] zapashcanon commented on #3472
My plan was the following:

- add scripts to run astyle, (and maybe kwstyle and shellcheck) for developpers
- add scripts in travis to run shellcheck and kwstyle, the build will fails if something is wrong, and also one to run astyle and parsing the output to know if it had to format a file: if something has been changed it means developper forgot to run astyle so we tell the build to fail

I'm no

[2017-04-01 22:38] tresf commented on #3451
Since `ZynAddSubFxInstrument ` inherits from `InstrumentTrack`, can't we simply try adding [`updatePitchRange();`](https://github.com/tresf/lmms/commit/808e18f20ace9b8d57cd6ef12881da1c91bf77aa) to [`reloadPlugin()`](https://github.com/LMMS/lmms/blob/master/plugins/zynaddsubfx/ZynAddSubFx.cpp#L375) ?

I still feel there's an underlying bug though... shouldn't `loadSettings(...);` handle this since

[2017-04-01 22:41] tresf commented on #3451
... or is this a matter of Zyn [overriding `updatePitchRange`](https://github.com/LMMS/lmms/blob/master/plugins/zynaddsubfx/ZynAddSubFx.cpp#L390) and not calling it's parent class?

[2017-04-01 23:35] jasp00 commented on #3473
Yet you have closed the issue, so no one will look for a clean way.

[2017-04-02 08:08] jasp00 opened #3480 "Prospective return of former contributors"
This issue originates from https://github.com/LMMS/lmms/issues/3447#issuecomment-289659509. This keeps track of former contributors that may return if we can solve their situation given enough technical and economic resources; if there is no way to solve the case, it does not belong here. Causes should be identified. Each case should be an issue; list open ones in this entry.

* `@JaneDoe` #NNNN:

[2017-04-02 08:09] jasp00 commented on #3447
Taking care at #3480.

[2017-04-02 08:09] #3447 closed

[2017-04-02 09:34] jasp00 commented on #3472
It is feasible with free software editors.

[2017-04-02 10:57] Lukas-W commented on #3464
@karmux Thanks for reporting! #3481 should fix it once merged.

[2017-04-02 13:18] Fastigium commented on #3447
@fundamental Wow, thanks for the detailed and thorough analysis 👍. Food for thought, and I recognize myself in many aspects of your interpretation. Helps me see things in perspective.

@midi-pascal Thanks for sharing your view as well. It all gives me a lot to think about. I need to let this stew for a while. Glad to hear there's someone else who loves LMMS and wishes he could contribute more ❤️

[2017-04-02 16:16] tresf commented on #3480
Really?  Now LMMS is in the business of fixing personal/employment/bandwidth problems?  No.

[2017-04-02 16:54] Umcaruje commented on #3480
I don't see how this is a meta issue, it'd be more appropriate under `conversation` or something

[2017-04-02 17:44] tresf commented on #3480
Because he wants each fallen soldier to write a testimonial in a separate bug report that we can cross-link to fix the problem as a whole.

I think I get the motive... if we can find things that are similar, we can correct the problem, but I don't know if going after past developers helps at all, it will only add unnecessary exposure to the developers.

I'd much rather work with some new aspiring

[2017-04-02 17:59] tresf opened #3483 "IDE Support"
A major part of contributing to a large codebase is support for a particular IDE.  This lowers the barrier to entry for a particular project because it gets developer hands on the code quicker.

### Objectives

* [ ] **Setup**: The initial setup of the IDE.  This will vary depending on platform, but short steps on how to install and configure the build environment can speed things along.
* [ ] **B

[2017-04-02 18:01] karmux commented on #3464
@Lukas-W thanks! #3481 fixes it.

[2017-04-02 18:39] midi-pascal commented on #3483
LMMS being a Qt based application, Qt Creator is the IDE of choice for it.
It is multi-platform, easy to set up and to use.
The debugging and source control are well integrated and easy to use.
I must say, it is my preferred IDE now, even for non-Qt apps, on any platforms.
so :+1:

[2017-04-03 01:57] tresf commented on #3451
I'm not sure if it's related but the export seems to ignore Zyn piano roll pitch bends as well.

[2017-04-03 08:28] Umcaruje commented on #3451
AFAIK Zyn like all other midi based instruments does not support piano roll
pitch bends

On 3 Apr 2017 03:57, "Tres Finocchiaro" <notifications@github.com> wrote:

[2017-04-03 11:20] softrabbit commented on #3451
Those pitch settings are saved, loaded and ignored. Looks to me like ```loadSettings``` only is concerned with the Zyn-specific few knobs and relaying the contents of the ```ZynAddSubFX-data``` XML element onwards to Zyn.

That ```updatePitchRange``` looks fine, but calling it isn't enough. The problem here is the pitch knob [which is handled like this in InstrumentTrack.](https://github.com/LMMS/

[2017-04-04 07:49] jasp00 commented on #3447
Following comments from #3480,

May I remind you of #2745? LMMS is in the business of features. To get new ones and fix current problems, we need qualified developers. If you are not interested in former contributors, could you let me handle those who actually want to return?

No, I would like people to tell us which obstacle prevents them to contribute. #3480 lists pending cases.

I am going afte

[2017-04-04 07:50] jasp00 commented on #3480
Reply to off-topic matters at https://github.com/LMMS/lmms/issues/3447#issuecomment-291421914.

Former contributors that want to come back to LMMS, but cannot for whatever reason, you may open a separate issue for your case. As long as I am available, you will get feedback from me.

[2017-04-04 14:19] liftarn opened #3485 "Internal routing of MIDI from step-sequencer to instrument"
This don't seem to be mentioned here, but there is a discussion at for instance https://sourceforge.net/p/lmms/mailman/message/32465913/

What I want to do is
1. Load a step-sequencer VST like BlueARP as an instrument (this works)
2. Feed input from the piano roll into the VST (this works)
3. Feed the MIDI output from the step-sequencer VST to another instruments MIDI in (this don't work)

Some ot

[2017-04-04 23:03] tresf commented on #3447
First, I'll preface my statement with a satirically polite:

Please screw off with that glittering generality bullshit. ❤️

LMMS already is professional grade for [many musicians](https://lmms.io/showcase/) and getting strong developers is only a piece of that puzzle.  [Branding](http://vaccieaux.deviantart.com/art/LMMS-logo-01-259773565), [stability](https://github.com/LMMS/lmms/commits/master?au

[2017-04-05 21:37] tresf commented on #2990
There are some nice ideas here, however since the post is just a proposal, I feel we can close this out for a larger instrument redesign effort.  I'll let @RebeccaDeField decide. :)

[2017-04-05 23:07] scottwolff commented on #2269
On my system with these specs (post 1607 cumulative update):

-----------------------------------------------------------------------------
OS Name	Microsoft Windows 10 Pro
Version	10.0.14393 Build 14393
Other OS Description 	Not Available
OS Manufacturer	Microsoft Corporation
System Name	DESKTOP-V22RDSM
System Manufacturer	MSI
System Model	MS-7693
System Type	x64-based PC
System SKU	To be filled

[2017-04-05 23:54] tresf commented on #2269
@scottwolff your problem is unrelated to the original problem (his was Linux related).

Since you are running Microsoft Windows, your problem may be a permissions issue with the `.zynaddsubfxXML.cfg` file or the directory it is contained within.

Please look in either `%userprofile%\lmms\.zynaddsubfxXML.cfg` or in your LMMS_HOME directory for this file and ensure your profile has sufficient permis

[2017-04-06 00:00] RebeccaDeField commented on #2990
I agree with @tresf on this. We can reuse some ideas here if need be in a more standardized instrument redesign project.

[2017-04-06 00:00] #2990 closed

[2017-04-06 00:05] scottwolff commented on #2269
What would be the appropriate resource to put this information in, for those that were having the same problem as I?

[2017-04-06 00:10] tresf commented on #2269
Well, running as administrator is not a recommended solution, so I suppose that depends on whether or not the above steps help.

[2017-04-06 00:57] scottwolff commented on #2269
![lmms permissions](https://cloud.githubusercontent.com/assets/19482044/24732885/9628b8a6-1a39-11e7-9ebe-6260bfe7bdec.png)

I don't see anything wrong with the permissions. Even after setting the same for LMMS in the program files it still hangs. I was already in the administrators group for my pc.

I deleted the .zynaddsubfxXML.cfg file with the same results.

[2017-04-06 01:17] tresf commented on #2269
@scottwolff thanks for trying.  Probably best to track this issue in a [new topic](https://github.com/LMMS/lmms/issues/new) since it's not a quick fix.  Please provide as many details as you can including what you've tried, what's work and what hasn't.

The next thing I would recommend is performing a disk check as some new solid state drives (SSDs) in Windows can get back security descriptors and

[2017-04-06 01:36] scottwolff opened #3488 "ZynAddSubFx Not Responding on clicking Show Gui"
Happens in LMMS version 1.1.3, on my system with these specs (post 1607 cumulative update):

-----------------------------------------------------------------------------
[code]

![speccy snapshot](https://cloud.githubusercontent.com/assets/19482044/24733534/f6bad18c-1a3d-11e7-94a5-7266012abb7a.png)

I caused LMMS to lock up (not responding) while trying to click Show Gui in the ZynAddSubFx.

![lm

[2017-04-06 01:50] tresf commented on #3488
@scottwolff I notice one of the drives in your system is solid state.  Please run the following command from cmd.exe

[code]

When prompted to scheduled the disk check after reboot, say yes.

Assuming this does not correct the problem, download and run [`ProcMon.exe`](https://download.sysinternals.com/files/ProcessMonitor.zip) from Microsoft and set a filter on:
* ![image](https://cloud.githubuser

[2017-04-06 01:57] scottwolff commented on #3488
I am running the Intel SSD program for data integrity at the moment. As soon as that's finished I will do the chkdsk.

Curious, the filter is on RemoteZynAddSubFx.exe. When I go to run it independently, with or without LMMS open I get this error:

![remotezynaddsubfx](https://cloud.githubusercontent.com/assets/19482044/24734353/74c16984-1a42-11e7-91fb-147fdc1d70dd.png)

[2017-04-06 02:14] tresf commented on #3488
`RemoteZynAddSubFx.exe` can only run with certain libraries on the path and they're all located a directory higher, in `\lmms\`, rather than `\lmms\plugins\`.

It's not really intended to be run stand-alone though, so even if you fix the `.dll` errors, you'll still hit a wall.  It must be launched from within LMMS.

[2017-04-06 02:26] scottwolff commented on #3488
![full ssd scans](https://cloud.githubusercontent.com/assets/19482044/24735000/2b0fe78a-1a46-11e7-8dac-4c28158d82a9.png)

Ran that first, including optimizations and full scan.

After that I ran the checkdisk, scanned before loading windows, now it works after that. 👍

Gosh darn, and I thought SSDs were all stellar improvements over spinning XD

[2017-04-06 02:35] tresf commented on #3488
Great news!

This single problem has been my only complaint.  After getting burned a few times, I just run `chkdsk /f` as soon as a program starts acting up.

I'm glad to hear this fixed your problem.  Thanks kindly for sharing your information.  Your results are sure to help others experiencing the same problem. 👍

[2017-04-06 02:35] #3488 closed

[2017-04-06 09:36] qnebra commented on #2990
I can doing small help with redesign if this was be possible.

[2017-04-06 15:14] tresf commented on #1620
I'm closing this in favor of #2932.  Although a universal installer may be frowned upon by many Linux users, the efforts dedicated to a universal Linux installer will offer a much faster release cycle to end users without setting a particular preference to an OS.  (e.g. why not RPM? type arguments).  For now we'll leave the distro-specific packaging to each particular distribution.  Please feel fr

[2017-04-06 15:14] #1620 closed

[2017-04-06 18:15] RebeccaDeField commented on #2990
@qnebra Sure, if you're still available when we start the instrument plugin design efforts you can help with as many of the designs as you want :)

[2017-04-06 20:36] qnebra commented on #2990
@RebeccaDeField Let's see what will be happen in future. Recent desings is something between anarchy and narcotic trip.

[2017-04-06 21:10] #3464 closed

[2017-04-06 22:47] vlad1777d commented on #2990
That (first) design was great =)
It must be in some instrument )

[2017-04-06 23:16] RebeccaDeField commented on #2990
@vlad1777d I agree. I want to clarify that by closing this, I am not scraping any mockups, just prepping the issue tracker for a more organized effort that may incorporate any of these ideas where needed. :+1:

[2017-04-07 06:55] gnudles commented on #3456
Will it be fixed for 1.2RC3?

[2017-04-07 09:41] #2779 closed

[2017-04-07 17:02] tresf opened #3490 "fluidsynth license"
@jasp00 can you please explain this stir you are causing?

https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=859793

**Edit:** Also, https://github.com/LMMS/lmms/pull/3489/commits/4ec90b7a85c0a840a73cc1c53dac9b8f2eea5a1a

[2017-04-07 17:06] tresf commented on #3490
From your message to Debian...

Are you implying the author in his words `freely redistributable and may be used for any purpose` does not explicitly or implicitly right to modify?

[2017-04-07 17:17] tresf commented on #3346
You really can't modify a license by putting a friendly disclaimer in it.  Unless you are the sole author, how do we know which components are yours and which are others?  I'd recommend you start dual-licensing your work.  I'm not sure the blurb accomplishes anything except a false peace of mind for you and only you.

[2017-04-07 21:42] JordanKyser opened #3491 "AFP Relative File Paths Broken"
This is an LMMS 1.2.0-rc2 issue mainly. When you open .mmp or .mmpz files from https://lmms.io/lsp/ and they contain AudioFileProcessor files, it mostly does not autodetect any of these files in your LMMS directory. This needs to be fixed as many songs will use `<yourfilepath>/data/samples/drumsynth/` files, will nearly all of them will go missing through auto-detect and then viewing the error mes

[2017-04-08 02:43] tresf commented on #3491
@JordanKyser can you link us one failed file, so we can use it as a unit test for fixing this bug?

[2017-04-08 06:48] jasp00 commented on #3447
So where we are? What is our perception about current state of LMMS? Professional or amateur?

* @tobydox: "horrible core and architecture", https://github.com/LMMS/lmms/issues/3447#issuecomment-288874162
* @Umcaruje: "major issues in it's core and poor audio editing and non-existent audio recording features", https://github.com/LMMS/lmms/issues/3447#issuecomment-290340605

Then let us not discard

[2017-04-08 07:35] tresf commented on #3447
I've decided not to respond to this thread any further.  It is not constructive use of my time and it's stressing the fuck out of me.

[2017-04-08 07:40] tresf commented on #3480
@jasp00 please add some information which properly categorizes this as a `meta` which can be tracked and updated.  Alternately, I would recommend you close this out as simply a free-to-comment `conversation` thread.  P.S. `@JaneDoe` is a real profile, probably shouldn't tag her unless she used to be a past developer.

[2017-04-08 08:46] tresf commented on #3490
The Debian email thread has been updated.  This is a file from the SoX project.  The team is familiar with this library and this license and are working out the details with @jasp00.

[2017-04-08 09:45] jasp00 commented on #1620
This problem would be fixed if we packaged for the [Canterbury](https://web.archive.org/web/20110613021211/http://techshift.net/a-unified-linux-the-canterbury-distribution/) distro, a la [LSB](https://en.wikipedia.org/wiki/Linux_Standard_Base), but main distros are not fond of joining efforts.

[2017-04-08 09:54] ghost opened #3492 "Building LMMS on Windows should be easier"
I have attempted to build LMMS from source, following the suggested tutorial in the wiki: https://github.com/LMMS/lmms/wiki/Compiling-lmms-(On-Windows).

Unfortunately, the main build script supplied, `msys_helper.sh` (retrieved from https://raw.githubusercontent.com/lmms/lmms/master/cmake/msys/msys_helper.sh), fails to fetch and build all of the dependencies, and I had to edit /lmms/blob/master/c

[2017-04-08 10:22] jasp00 opened #3493 "Add include-what-you-use support"
As suggested by #3429, a tool like `include-what-you-use` should be integrated.

[2017-04-08 16:36] tresf commented on #3492
We welcome PRs to make this process better.

I don't think we ever got `libgig` working.  If we can fetch the upstream `.pc` file, that would be ideal since like you mentioned the other environments have this already, it would be redundant to bundle in our own `.pc`

The long term goal for Windows development is to offer full `MSVC++` support on a non-POSIX environment.  This means moving from msy

[2017-04-08 16:45] tresf commented on #3492
Hmm.... We used to only build packages from source which suffered from name mangling and segfaults but some recent work from @DragonEagle have changed this in
https://github.com/LMMS/lmms/pull/3369.  Restoring the old functionality would likely get gig back and working on Windows I think

[2017-04-08 17:40] Umcaruje commented on #3492
@edition-ben what's your windows version? I did a fresh clean install from my windows 10 and it worked perfectly. The only problem I had was the script couldn't acquire the libgig tar cause the linuxsampler website had issues. I solved it by replacing the link with one from the web archive.
Comment here: https://github.com/LMMS/lmms/pull/3369#issuecomment-284223945

[2017-04-08 17:55] CaitlinChoban opened #3494 "Audiofileprocessor Sample Bug"
I have found whenever i save a project, upload samples in audiofileprocessor, and then shut down my computer that the samples listed in audiofileprocessor are not there.

Say there is a 5s sample i upload into audiofileprocessor called outside clap. When i save the file, the next time i load the project. Audiofileprocessor will say that there is a sample loaded as outside clap, but the sample leng

[2017-04-08 17:59] CaitlinChoban opened #3495 "Freeboy Plugin crashes LMMS"
I made a few melodies with the plugin freeboy. However, i haven't been able to listen to it all the way though because LMMS crashes whenever it gets to a certain time length.

[2017-04-08 18:11] tresf commented on #3490
Yes, but I will only explain it once, and I have no interest in a discussion.

If any contributor is going to create a conquest where he/she must hold themselves in GPL violation by strict adherence to the discrimination clause, the unravelling effect is going to cut off the nose, despite the face of said project.

But it's a license, right?  We need to follow it, right?  Yes.  However... although

[2017-04-08 18:11] #3490 closed

[2017-04-08 18:17] tresf commented on #3495
@CaitlinChoban can you please upload sample project file on our [lsp](https://lmms.io/lsp/) which reproduces this problem?  Also, if you can post here a link to the file after uploaded as well as provide your OS, the LMMS version and how you obtained LMMS, that will help.

[2017-04-08 18:19] tresf commented on #3494
@CaitlinChoban this sounds similar to https://github.com/LMMS/lmms/issues/3491.  Is the issue the same?

[2017-04-08 20:08] JordanKyser commented on #3491
https://lmms.io/lsp/?action=show&file=10633 This file is an example (all of the AFP files are in the factory directory, but LMMS does not detect them).

[2017-04-08 20:30] tresf commented on #3491
@JordanKyser thanks.  It's very clear that this file was saved with absolute file paths.  This likely occurred when the project author installed LMMS into a non-standard location.  I would guess this was done to allow both versions of LMMS to work simultaneously however this is a configuration we do not yet support.  Even when installed in separate locations, LMMS shares the same `%userprofile%/.l

[2017-04-08 20:33] tresf commented on #3491
**Edit:** On second thought... I'm still going to ping a developer about this problem since this user isn't actually leveraging `LMMS_HOME`.  Perhaps is there's a bug we did not catch.

[2017-04-08 20:39] jasp00 commented on #3490
Who does that? What does all you have said have to do with closing issues and pull requests?

So, I point out legal problems in the project and I suggest how to fix them. In response, you refuse to fix the issues by closing them rather than waiting, you tell me that you will not discuss the problems, you do not want to understand them, and you threaten to kick me out if I report further legal matt

[2017-04-08 20:45] JordanKyser commented on #3494
This is the same problem

@CaitlinChoban Do you use LMMS 1.2.0-rc2?

[2017-04-08 20:49] jasp00 commented on #3490
You [look like](https://github.com/LMMS/lmms/pull/3489#issuecomment-292742921) you want to understand. I will keep the discussion.

[2017-04-08 20:53] JordanKyser commented on #3491
Since AFP uses .ds files mainly, any .ds file in the main directory that appears in a .mmp/.mmpz file, but 1.2.0.-rc2 causes the majority of .ds files to be detected as missing, corrupted, or misplaced. A developer should try to implement a code in some way that will detect any AFP files in any directory in the LMMS (or the filepath directory, if LMMS folder is either named something else and/or p

[2017-04-08 21:01] tresf commented on #3490
Rather than continuing in an endless discussion, I'd like to be very clear that if anyone is able to illustrate a measurable tort against the project or their members, they're very welcome here.

In this case, `Copyright (C) 1998 Juergen Mueller And Sundry` are the copyright holders and it is their right to raise a copyright violation against responsible parties.  They haven't done this in 19 year

[2017-04-09 01:47] midi-pascal commented on #3490
@tresf :+1: Sometimes enough is enough. You have my entire support on this matter.

[2017-04-09 10:44] eagles051387 commented on #3492
Has anyone tried to use the Linux subsystem on windows to build? It might help make things easier. I have tried it and it's based on ubuntu. Not sure what version though

Sent from my iPhone

[2017-04-09 14:06] tresf commented on #3492
No, not yet.  Bash on Windows 10 is ELF based, so it would still require Toby's PPAs and the Linux cross compiler.

[2017-04-09 17:19] jasp00 commented on #3346
I am not modifying the license, but supplementing with a compatible term.

New version:

[2017-04-09 17:42] jasp00 commented on #3447
Questions are welcome.

[2017-04-09 17:56] jasp00 commented on #3480
It has such information. What data do you request?

This is not a conversation thread.

I realized later, JavaScript did not show the profile. She is welcome anyway.

[2017-04-09 19:13] jasp00 commented on #3491
An upgrade method should detect missing files and replace absolute paths.

[2017-04-09 19:41] jasp00 commented on #3490
So you do not understand the problem. I will explain gradually.

Does this sentence unambiguously grant the right to modify the source code?

[2017-04-10 01:08] tresf commented on #3491
That sounds nice a nice enhancement.

For the purposes of this bug, we should focus our primary efforts on the regression that caused this.

[2017-04-10 08:44] jasp00 commented on #3490
I want you no harm, @tresf; I am only stating facts. [Negligence](https://en.wikipedia.org/wiki/Mens_rea) is no valid defense; you [know](https://github.com/LMMS/lmms/issues/3490#issuecomment-292745337) this is a violation. Do you not have the strength to discuss this? Then let someone else help you. @midi-pascal has [expressed](https://github.com/LMMS/lmms/issues/3490#issuecomment-292757937) his

[2017-04-10 09:34] Lukas-W commented on #3491
This appears to be a regression from #1719. When saving a project, the relative path is constructed in [`SampleBuffer::tryToMakeRelative`](https://github.com/LMMS/lmms/blob/e65b1c8ba85728cfb8728840c15e7e167014da19/src/core/SampleBuffer.cpp#L1414) by checking if the file's absolute path begins with the factory data path `ConfigManager::inst()->factorySamplesDir()`.
The factory data path however is

[2017-04-10 11:52] tresf commented on #3491
It seems to be affecting LMMS_HOME files as well.

[2017-04-10 14:33] tresf commented on #3490
Our stance is already stated above.  Locking.  Please instead fill up the `fluidsynth` tracker with this rhetoric.

[2017-04-10 15:09] tresf commented on #3055
No response from OP, but closing as completed.  👍

[2017-04-10 15:09] #3055 closed

[2017-04-10 15:18] tresf commented on #3480
No she's not, she's not a former contributor.  Fixed.

We generally work from a true [bulleted list of work](https://github.com/LMMS/lmms/issues?q=is%3Aopen+is%3Aissue+label%3Ameta) in order to fly the `meta` tag.

This bug report is more like an open-ended invite, and one that would really have to be spearheaded, since it's unlikely past developers are just going to find this bug and decide they

[2017-04-10 15:40] tresf commented on #3447
I don't think anyone has any more questions, but since you're taking a binary approach at this problem, here we go...

Probably not, but we can leave that for the dedicated topic you've created #3480.

Crowdfunding a project as large as LMMS has some serious implications as illustrated in #2745, but the most important being organization of it all.  I too think this is in our future and there may b

[2017-04-10 16:44] tresf commented on #3346
Hmm... from what I'm reading:

1. The term is a part of the license conditions, and the GPL clearly states you are not allowed to modify the license.  To me, this is a modification to the license.
1. You can't revert the penalties defined in GPL2 and you can't permanently (perpetually) reinstate a license.  It's not your right to reinstate the GPL2 license.
1. If you are the sole copyright holder

[2017-04-10 19:59] jasp00 commented on #3490
You are making it worse, @tresf.

[2017-04-10 20:15] tresf commented on #3490
Once the upstream decision is made, please let us know and we'll reopen this topic and start to discuss the repercussions, if any it has on LMMS.

The project has an [accepted workflow](https://github.com/LMMS/lmms/pull/3489#issuecomment-292976079) for this until a decision is reached.

[2017-04-10 20:22] jasp00 commented on #3480
I meant JaneDoe is welcome as a new contributor.

How about a `former contributor` tag for these issues?

I will add information to the wiki, not about specific contributors.

[2017-04-10 20:38] jasp00 commented on #3447
If we like the result, he is a candidate for #3480. Welcome, @Vzor-.

[2017-04-10 20:55] Vzor- commented on #3447
Thank you. I look forward to working with everyone here!

[2017-04-10 21:41] jasp00 commented on #3346
It is a supplement, not a modification, and it is not an invalid further restriction; thus it is legal. What term do you believe is modified?

Regarding my contributions, I can. What term do you believe says otherwise?

This is independent of FSF activities.

[2017-04-10 21:55] karmux opened #3498 "VeSTige preset left and right arrows are gone"
In VeSTige instrument left and right arrows to browse presets are missing. Instead it shows something that looks like dead pixels. I remember that I was using these arrows about month ago on master branch.

![screenshot_20170411_004313](https://cloud.githubusercontent.com/assets/2575235/24884144/cfe69778-1e50-11e7-8684-089fd43643a5.png)

This picture from Wiki shows how it used to look:

![](https

[2017-04-10 23:21] BaraMGB commented on #3498
Those pixels appears if a pixmap couldn't be found.

[2017-04-11 06:51] Floffah opened #3499 "Lmms settings and application crashing"
I installed lmms 1.1.3 (the latest) from the official site and its the 64 bit version and originally when i tried to open the settings it crashed but now after reading this site https://github.com/LMMS/lmms/issues/1865 it now crashes when i open it and i took all the steps carefully and it just made it worse so please help
edit: it says
Microsoft visual c++ Runtime Library (what it says at the top

[2017-04-11 07:02] HummusSamurai commented on #3466
Correction: Mouse is still visible and moving, but clicks do no register anywhere.

[2017-04-11 10:49] JordanKyser commented on #3491
It is hard to find the actual initial point of the bug, but the fix (as I stated earlier) is to place an auto-detect system for AFP (this will take a bit longer depending on how many AFP files are present in a .mmp/,mmpz files).

[2017-04-11 14:14] musikBear commented on #3499
#512 is perhaps the solution?

[2017-04-11 17:59] karmux commented on #3498
@Lukas-W , when I revert 9f905bce3eee4e24a2338d9d8a104af6bdbec8ad I get icons back.
After looking into it a bit I have no idea why some certain pixmaps always get missing.

[2017-04-11 18:01] tresf commented on #3498
@karmux please see this comment... https://github.com/LMMS/lmms/pull/1891#issuecomment-289303030

[2017-04-11 18:09] karmux commented on #3498
@tresf but vestige has no underscore in the name, nor has stepper-left.png. I can make stepper-left pixmap visible if I use it for "Show/hide GUI" button instead of zoom pixmap.

[2017-04-11 18:14] tresf commented on #3498
@karmux good call.  What if you make this line match the others (such as in vibed):

[vestige](https://github.com/LMMS/lmms/blob/9f905bce3eee4e24a2338d9d8a104af6bdbec8ad/plugins/vestige/CMakeLists.txt#L12)
[code]

[vibed](https://github.com/LMMS/lmms/blob/9f905bce3eee4e24a2338d9d8a104af6bdbec8ad/plugins/vibed/CMakeLists.txt#L3)
[code]

[2017-04-11 18:26] tresf commented on #3498
Scratch that... that won't change anything and these don't exist in that directory anyway.  These appear to be shared artwork.  Still hunting...

[2017-04-11 18:29] tresf commented on #3498
Ok... I think we need to replace [`PLUGIN_NAME::` with `embed` for shared LMMS (non-plugin) resources](https://github.com/LMMS/lmms/blob/9f905bce3eee4e24a2338d9d8a104af6bdbec8ad/plugins/vestige/vestige.cpp#L444-L447).  @Lukas-W should confirm...

[2017-04-11 19:14] simonvanderveldt commented on #3055
@tresf sorry, read the notification on my phone and then forgot to take a look at it later :x
Seems like they are all fixed now, so good job to all involved! :)

[2017-04-11 19:37] karmux commented on #3498
I got all pixmaps back by replacing `PLUGIN_NAME::getIconPixmap` with `embed::getIconPixmap` in vestige.cpp only for missing pixmaps. Replacing every pixmap made other pixmaps missing.

state_stop icon actually seems like missing (also on Wiki image).

[2017-04-11 19:46] zonkmachine commented on #3408
This is a complex one and we've fixed some related issues:
https://github.com/LMMS/lmms/pull/3428
https://github.com/LMMS/lmms/pull/3425

I think this can be bumped to 1.3 but I will probably not have time to work on this.

[2017-04-11 20:02] zonkmachine commented on #1842
Yes. Shouldn't be too complicated to implement but I haven't got the time to do it personally.

[2017-04-11 20:10] zonkmachine commented on #2373
I tried my hands at this but failed miserably. I don't know how to verify it other than uninstalling 1.2 like you did and see if it runs. If you want feedback on this I think you should [submit a Pull Request](https://github.com/LMMS/lmms/wiki/Submitting-a-patch) against the master branch.

[2017-04-11 20:25] michaelgregorius commented on #2373
@speedy-software-ch, if you are compiling under Linux you use the `ldd` command to check which libraries are linked. Pipe to `grep` to check if SDL is somewhere in the results. Execute the following command in the directory where the `lmms` executable was build:
[code]
In my case the result is that `libSDL-1.2` is linked.
[code]

[2017-04-12 04:13] kungfooman commented on #1110
I got the same problem in 1.1.3, deleting the Bass Lines fixed it (thanks krafczyk for the info).

[2017-04-12 11:44] zonkmachine commented on #822
Bump to 1.3 ?

[2017-04-12 12:38] Umcaruje commented on #822
Agreed.

[2017-04-12 13:44] fadelm0 opened #3500 "Note detuning editor window doesn't show whole note when zooming"
When detuning a note using the dedicated window and zooming in horizontally to have precise control, the window doesn't show the whole range anymore and cuts it at a certain point depending on the level of zoom. Moving the view using the horizontal scrollbar is not fully possible.

[2017-04-12 14:01] zonkmachine commented on #2168
@Umcaruje I won't have time to implement this anytime sone so I'm unassigning. The code I've got so far is a dummy version with the button implemented that deletes the old unit and then adds a new effect at the end as usually. I can drop that code somewhere if it's of any use.

[2017-04-12 17:29] karmux commented on #3498
VeSTige in #3501.

![screenshot_20170412_202826](https://cloud.githubusercontent.com/assets/2575235/24970877/9af9406e-1fbe-11e7-9f90-11c25c0380cf.png)

[2017-04-13 15:40] tresf commented on #3490
Update from the Debian mailing list... I'm sure there will be more dialog about this.

[code]

[2017-04-14 21:16] Vzor- commented on #3483
This looks like a good place to start. I'm on this one.

[2017-04-14 21:22] tresf commented on #3483
@Vzor- I'm not sure if you'll need it but we're in the process of rewriting our Compiling tutorial.  [Here's our draft](https://github.com/tresf/lmms/wiki/Compiling), if it's of any assistance.

[2017-04-16 12:57] #3182 closed

[2017-04-17 14:48] zapashcanon commented on #3471
I'm closing, will do it another way.

[2017-04-17 14:48] #3471 closed

[2017-04-17 14:48] zapashcanon commented on #3472
I'm closing, will do it another way.

[2017-04-17 14:48] #3472 closed

[2017-04-17 17:44] nelsonkane opened #3504 "the LMMS font sizes are too small to read."
I see where a lot of people have complained about this.
It looks like LMMS doesn't want users directly contacting the company.
Oh well! :)

[2017-04-17 18:50] tresf commented on #3504
I'm sorry if you feel this way.  The developer team prefers users to file bugs directly on our tracker.  Perhaps you can share where you got this impression and we can correct it.

There is no company.

Correct.  The fix is not straightforward and requires a lot of work.  We're all volunteers here.

Thanks for submitting.  Closing as duplicate of the bug report here: #2510

[2017-04-17 18:50] #3504 closed

[2017-04-17 20:07] UnityParadox opened #3505 "LMMS Parametric Equalizer Ignores Wet/Dry Effect Knob"
On 1.2.0 RC2, the wet/dry knob seems to have no effect on the built-in parametric EQ. Uncertain of whether or not this is either a setup or system issue, as opposed to a bug.

[2017-04-17 21:24] Spekular commented on #3505
Same problem here. Win 10 64 bit and 64 bit 1.2.0 RC-2, fwiw.

[2017-04-17 23:52] JordanKyser commented on #3505
I have actually had the same problem.

[2017-04-18 07:11] Erudition commented on #3086
My MIDI device allows adjusting the volume of a note whilst playing it. That said, I have to turn this feature off with LMMS because then the non-zero-crossing clicks happen at every sample, causing a buzz of clicks throughout the note. Can't wait for this to be fixed!

[2017-04-18 10:53] sksar commented on #3197
For the past few weeks, i digged into the CSound project (http://csound.github.io/) and found it to be quite useful for this Modular Synth Designer....

The redesigned idea is that, to port the CSound into LMMS, and users have the ability to create either modules, or create synth visually (like those is MAX/MSP) by using those modules...

There will be a default set of modules provided with LMMS i

[2017-04-19 21:15] JordanKyser commented on #3491
@tresf Any hopes on fixing this issue?

[2017-04-20 03:14] tresf commented on #3491
Yes, this will be fixed before the 1.2.0 release.  It should be relatively trivial to do expansion on `data:/foo/`
 from within `tryToMakeRelative` however @Lukas-W was responsible for the code which caused the regression, so we'll give him an opportunity first.

[2017-04-20 14:53] Oddwarg opened #3507 "Feature request: Option to disable animated expand/collapse of panels"
This is a minor issue, and I am using Windows 7.

In the Instrument Plugins menu, moving the mouse over the instruments will make the panels slowly expand and collapse, offsetting the items below in the list and creating an artificial delay before the user can read the full description. This behaviour slows down user interaction.

![image](https://cloud.githubusercontent.com/assets/6345473/2523723

[2017-04-20 15:01] tresf commented on #3507
I believe this is a `10ms` call to `updateHeight()`.

https://github.com/LMMS/lmms/blob/master/src/gui/PluginBrowser.cpp#L235

Simply changing [`+1` to `+10`](https://github.com/LMMS/lmms/blob/master/src/gui/PluginBrowser.cpp#L221) should do the trick for faster animation.

[2017-04-21 11:04] JordanKyser opened #3508 "Frequency Error through WAV conversion"
I don't know how this happen, but I will provide 3 examples.

FM Gain Error: http://www.newgrounds.com/audio/listen/735349
Filter Frequency Error: http://www.newgrounds.com/audio/listen/733510
                                    http://www.newgrounds.com/audio/listen/740543

Anyways, a demonstration of what is most likely happening will be very appreciated.

[2017-04-21 20:38] speedy-software-ch commented on #2373
After I've changed the settings in my environment, build settings and linked *.h files, i got this as a result to the above command.
ldd lmms | grep SDL
	libSDL2-2.0.so.0 => /usr/lib/x86_64-linux-gnu/libSDL2-2.0.so.0 (0x00007fe93d52c000)
So i think it works with SDL 2.0. Do you want me to commit this changes back to the github repository?

[2017-04-22 22:10] tresf commented on #3491
I've made my first attempt to patch this in 4153247.  This should address problems specific to `data:/samples/`, which is for the factory samples.  Testing appreciated.

[2017-04-22 22:19] tresf commented on #3494
@CaitlinChoban if you can clarify if this is a duplicate of #3491 that would be appreciated.

[2017-04-23 14:16] Umcaruje opened #3511 "Sample Tracks won't export if they have VST effects on them"
`stable-1.2` branch, elementary os Loki, also happened on RC2 on windows 10.

If you have a sample track and put a VST effect on it, it won't export, you only get silence.

Steps to reproduce:
1. Put a sample in the sample track
1. Add a VST effect (Ambiance reverb in my case)
1. Export

When playing back the file everything works as expected and the master channel meter shows output, however when

[2017-04-23 14:21] Umcaruje commented on #3508
Can you explain what is happening here? What was expected to happen and what did actually happen? An isolated test case or p a project file with this issue would be appreciated.

Is this about zynaddsubfx?

[2017-04-23 14:21] Umcaruje commented on #3507
I agree on this.

[2017-04-23 14:29] Umcaruje commented on #3500
What the OP is trying to say is that the horizontal range of the note detuning tool is fixed, and won't stretch further than 8 bars on 100% (or less or more depending on zoom). This does not happen with regular automation pattern, which get their range dynamically updated based on the pattern length (from what I can see)

Reproduced on `stable-1.2` branch, elementary os Loki x64

[2017-04-23 14:37] Umcaruje commented on #3491
@JordanKyser there's no need to put the LMMS version in the title since this bug has been properly labeled and milestoned.

I'll test out @tresf's PR ASAP :+1:

[2017-04-23 14:40] tresf commented on #3491
@Umcaruje FYI #3510 DOES NOT have an upgrade routine to relativize existing samples (e.g. in broken RC2 projects). Newly dragged samples should be fixed. Clicking "browse" and reselecting samples should fix existing.

[2017-04-23 18:03] Umcaruje commented on #3468
Is this related to or the same as #3498 ?

[2017-04-23 18:09] tresf commented on #3468
Yes per [@karmux's branch](https://github.com/LMMS/lmms/compare/stable-1.2...karmux:3498_missing_vestige_icons#diff-00e08b1a3bdce754576149caf3643db6R429), this is one of the file affected.

Closing, marking as duplicate of #3498.

[2017-04-23 18:09] #3468 closed

[2017-04-23 20:29] JordanKyser commented on #3064
I found this bug on this file: https://lmms.io/lsp/?action=show&file=7410

[2017-04-23 20:30] JordanKyser commented on #3508
It is ZynAddSubFX.

[2017-04-23 21:53] Umcaruje commented on #3508
You should try to get an isolated test case. Are you automating the knobs? Are they clean from any global automation?

You still didn't specify what exactly happens. Do the values change on exporting? Or do the values stay the same but the frequency / FM gain goes to a specific value on export?

The more specific information we get about this bug, the higher the probability will go for fixing it.

[2017-04-23 22:01] JordanKyser commented on #3508
I have provided a link to one of the above songs:

FM Gain Usage: https://lmms.io/lsp/?action=show&file=10518 (http://www.newgrounds.com/audio/listen/735349)

On the MP3 file (the MP3 file given has the same sound as the WAVE file), on the Talker. the FM Gain has a glitch to where it stops at random spots (the courtesy of the remix is of FGKOfficial and credits of the original go to both Texxiliat

[2017-04-23 22:02] Umcaruje commented on #2566
No activity in months, closing.

[2017-04-23 22:02] #2566 closed

[2017-04-24 22:44] Umcaruje commented on #3105
@hedwig2013 can you retest with the RC2 please?

[2017-04-24 22:44] Umcaruje commented on #664
Should we move this to the 1.3.0 milestone?

[2017-04-25 18:51] JohannesLorenz commented on #664
I'm not sure why this has not been finished. Actually I planned to do it, but then @diizy said he'd do it. What exactly is missing and why should it not be coded for an earlier version?

[2017-04-25 18:58] ollieperree commented on #1911
Is anyone currently working on this? I'm willing to help.

[2017-04-25 19:10] Umcaruje commented on #664
@diizy hasn't been around the project for a while, and well no work has been done concerning this issue. We're short on devs, so if you would like to work on it, that would be really appreciated. If you want to work on it sometime soon and if it's not a too complex patch, please target it at the `stable-1.2` branch :)

[2017-04-25 21:06] michaelgregorius commented on #2373
Looks good, @speedy-software-ch! The "normal" way to integrate changes is as follows:

1. Create a separate local feature branch and commit your changes there.
2. Push this local branch to your remote LMMS repository on Github.
3. Create a pull request for that branch.

That way other developers can review and test them before they are merged into master.

Is https://github.com/speedy-software-ch/

[2017-04-25 21:19] tresf commented on #2373
Agreed, `master` is the better branch for this.  I've left some comments on the PR [here](https://github.com/LMMS/lmms/pull/3509#issuecomment-296811571).

[2017-04-25 21:21] tresf commented on #1911
No one is working on this.  You are welcome to start, but warning it is a very large initiative.  If you are not yet familiar with the codebase I strongly recommend you patch a few minor bugs to get familiar prior to tackling such a large first effort.

[2017-04-25 22:08] ollieperree commented on #1911
Right, that's what I'm planning to do in the next couple of months, then in July and August I'll hopefully be able to contribute to this project.

[2017-04-27 20:39] RebeccaDeField commented on #2831
@Kitty-Dyson I just wanted to follow up with you on the bitcrush plugin. If you need any assistance at all, please don't hesitate to ask.

[2017-04-27 20:58] Mark-Agent003 commented on #3474
![splash2](https://cloud.githubusercontent.com/assets/25230510/25504103/3f76aae2-2b62-11e7-89ee-543df14524c0.png)
This could be the christmas logo. :)

[2017-04-27 23:12] Mark-Agent003 opened #3514 "Sample track reverts back to original size after changing tempo"
This gets annoying when I am importing files through the sample tracks and they just revert back to full length after I edit the tempo

[2017-04-28 07:03] WinLin97 commented on #3021
Pretty easy? So... When will this be fixed?

[2017-04-28 08:06] Umcaruje commented on #3021
There's nobody currently working on this issue. We're short on devs. Do you
volunteer?

On 28 Apr 2017 09:03, "WinLin97 (NicramZ)" <notifications@github.com> wrote:

[2017-04-28 08:31] BaraMGB commented on #3514
Yes, thank you for reporting this. I will fix it for the final release.

[2017-04-28 17:49] Mark-Agent003 commented on #3474
This was kinda what @tresf mentioned. It's not too intrusive and it shouldn't confuse any users. It's just a little easter egg. If somebody can make this (or something else) show up through December or some time around December 25, and y'all like it, I can touch it up a bit.

[2017-04-28 20:23] michaelgregorius commented on #3021
Now. :) Implemented with pull request #3516.

[2017-04-28 21:08] michaelgregorius commented on #1911
The following steps might be feasible to get this one finally going without getting entangled in the existing LMMS code base:
1. Acquire the assets from @budislav.
2. Add a new library to the `CMakeLists.txt` which only has dependencies to Qt. This library has no connection to LMMS and its functionality.
3. Implement the different user controls that are needed to compose @budislav's design in that

[2017-04-28 21:43] karmux commented on #3498
Fixed in #3501.

[2017-04-28 21:43] #3498 closed

[2017-04-28 23:06] Mark-Agent003 opened #3517 "New SoundFont GUI interface look proposition"
I have been looking at a few plugins, and I think soundfont player needs an update. Here's a rough draft:

![image](https://cloud.githubusercontent.com/assets/25230510/25550259/44cfec2a-2c3d-11e7-919d-382f2fc90b35.png)

I went with pink because of the SF2 logo in the corner.

[2017-04-28 23:11] vlad1777d commented on #1911
I think, that there's no need in replacing with this standard design. Our new design seems very good to.
Maybe it would be better to do, what @michaelgregorius told, but don't slowly change current design to this, but leave two possibilities:
- use window-based design
- use this mono-window design

And to implement this color scheme as a variant of LMMS theme and add possibility to choose between

[2017-04-29 00:27] RebeccaDeField commented on #3517
@Mark-Agent003 Thank you for your work on this!

There are plans to make a coordinated effort to redesign the Instrument Plugins, just as we are doing here #2831 to match the new default theme. Would you be interested in helping us to create a SoundFont design that follows much of the same guidelines as the Effects Plugins? :smile_cat:

[2017-04-29 01:09] Mark-Agent003 commented on #3517
Correct me if I'm wrong. Do I need to make it look more like the current effects plugins in the sense of making things like the knobs green or do you mean more like tweaking the fonts and gradients to the specifications? (Btw, I used the current (orange) triple oscillator plugin as a reference)

[2017-04-29 01:45] Mark-Agent003 commented on #3517
And yes, I would be interested 👍

[2017-04-29 02:38] RebeccaDeField commented on #3517
@Mark-Agent003 I know that we have agreed that the plugins do need a more standardized redesign, but I'm not sure there has been an official consensus on what, exactly, those standards should be. Looking at past discussions, I can see that people do like to have some extra style and design elements to differentiate these types of plugins.

**I have come up with three options so far:**
- The same l

[2017-04-29 02:42] Mark-Agent003 commented on #3517
Ok great! In my opinion I'd like either of the first two options, but preferably the second. It would just give enough uniqueness to the plugins as opposed to the effects.

[2017-04-29 10:26] qnebra commented on #3517
@RebeccaDeField First option is good for me, but logos without big visual extravaganza.

[2017-04-29 12:40] musikBear commented on #3474
imo its shading looks great with the roughish shades on the logo
The combined appearance made me think of a green-haired 'Heidi' / Pippi-Longstocking at a Christmas rave :)

[2017-04-29 14:22] michaelgregorius commented on #3021
The pull request now also adds some other improvements to the export dialog:
* Enable variable bit rate for Ogg exports.
* Only show relevant widgets depending on the selected export format.

See the comments in #3516 for more details and screenshots.

[2017-04-29 15:23] Umcaruje commented on #3517
I would disagree with the instruments looking the same as the effect plugins. It would make the GUI look bland imho.

I always saw them as works of art that should express how the actual plugin sounds. I'd rather we have general guidelines for plugins that would still allow artistic freedom, like not using too many gradients and keeping it simple, than restraining them like we did for the effect p

[2017-04-29 17:33] UnityParadox opened #3518 "libgig fails to compile in msys_helper.sh"
Under branch stable-1.2
System: Intel i5-6400 with Windows 10, Creator Update

![image](https://cloud.githubusercontent.com/assets/27585517/25557491/52f7e138-2ce0-11e7-97b5-f6e51e9cf59f.png)
![image](https://cloud.githubusercontent.com/assets/27585517/25557493/5ded7d28-2ce0-11e7-87f7-ae5d64a0c09a.png)

*@tresf edited, added searchable keywords*
[code]

[2017-04-29 17:36] Umcaruje commented on #3518
Please add the information about your system, and the branch you're compiling

[2017-04-29 17:45] UnityParadox commented on #3518
Information added.

[2017-04-29 18:03] Umcaruje commented on #2000
I think this issue can be worked on now. The patents for mp3 have expired: https://www.iis.fraunhofer.de/en/ff/amm/prod/audiocodec/audiocodecs/mp3.html
[code]

So we're now completely free to use mp3 in LMMS

[2017-04-29 18:20] budislav commented on #1911
@michaelgregorius consider first item on the list without a hitch :)
I have all .psd files so that is not problem.

@vlad1777d

Can you explain me what standard design mean?

Maybe it would be better to do, what @michaelgregorius told, but don't slowly change current design to this, but leave two possibilities:

This new concept is all about usability, I think it should be nice to have possibility

[2017-04-29 23:06] Nitrocell12345 opened #3519 "Unusual static noise"
The LMMS version I have is 1.1.3 64 bit, and I have been enjoying and experimenting with it for a couple of days now. Today, however, something is wrong: the notes in the song adopt a semi-static, semi-chipping noise when played a few seconds after they're struck. This happens to every instrument I used in the song, as well as the ones in other projects as well. I've restarted my computer, let alo

[2017-04-29 23:18] tresf commented on #3518
I think the relevant portion is:
[code]

This dependency should have been met when `mingw64-x-libsndfile` was installed via the [`fetch_ppa.sh`](https://github.com/LMMS/lmms/blob/stable-1.2/cmake/msys/fetch_ppa.sh) script.   `fetch_ppa.sh` is [called automatically by `msys_helper.sh`](https://github.com/LMMS/lmms/blob/stable-1.2/cmake/msys/msys_helper.sh#L39) so as long as `$HOME/ppa` doesn't exis

[2017-04-29 23:37] tresf commented on #1911
@vlad1777d, if LMMS is able to, the single-window design is going to happen.   This isn't really a vote on current theme versus single-window.  At our current rate, single-window 5yrs+ out and by then we'll be ready for a new theme anyway.

The existing MDI window interface is not well received by newcomers and it's really a design element of the 90s that had it's place but in modern age computing

[2017-04-29 23:53] tresf commented on #2000
Well... technically we've always been free to use mp3 in LMMS.  Now we are potentially free to bundle mp3 libraries too.

From wikipedia:

This is all good news.  We should be able to offer [LAME support](https://github.com/LMMS/lmms/issues/2000#issue-69972164) on all platforms quite easily.

[2017-04-30 05:56] tresf commented on #3518
Closed via 2f51062.

[2017-04-30 05:56] #3518 closed

[2017-04-30 05:58] tresf commented on #3518
Typo.  Closed via f9e01b5. Thanks @edition-ben for the fix.  Cherry-picked from #3492.

`cd ~; rm -rf lmms ppa; ./msys_helper.sh` and you should be all set.

[2017-04-30 07:00] tresf commented on #3492
Me too.  Just did a fresh build on Server 2016 Core and it worked.  Interestingly enough, so did @UnityParadox after committing f9e01b5 and his `libgig` compiles but his LMMS won't.

Me too, fixed via f9e01b5, thanks for the code.

At this point I'm wondering if something is accidentally wiping out or caching and old value of `PKG_CONFIG_PATH` and/or `PKG_CONFIG_PATH` as the cmake step has been fi

[2017-04-30 07:08] tresf commented on #3492
To elaborate a bit more on the PKG_CONFIG suspicion...

 * @UnityParadox and I investigated this and found the file is located in `/mingw64/lib/pkgconfig`.
 * When we check this against `echo $PKG_CONFIG_PATH`, we get `/mingw64/lib/pkgconfig:/mingw64/share/pkgconfig`, which looks reasonable.
 * Finally, we run `pkg-config.exe --modversion sndfile` and get `1.0.26pre5`, so it appears to be working.

[2017-04-30 09:44] karmux commented on #3517
I agree with Umcaruje. The appearance of instruments should give a similar feeling than the sound they are producing.

[2017-04-30 12:33] musikBear commented on #3519
@Nitrocell12345 you do not tell what OS you are on.
If it is windows, it sounds like you are using the wrong backend
Please read:
https://lmms.io/wiki/index.php?title=LMMS_Settings#Audio_Settings
And for windows select **SDL**

[2017-04-30 16:22] tresf commented on #3492
Ok, we worked through it... It appears something is different between environments, specifically `$PKG_CONFIG_PATH`.  Fixed via 4e76b78 on `master` branch.

Please confirm and then we can close this issue out.

In regards to the other requests (`lib/` and `include/` points), they really are going to rely on the long-term build system we use and should be a discussion (perhaps on Disord) to see how

[2017-04-30 16:35] tresf commented on #3492
Ok... Reverted 4e76b78.  @UnityParadox was accidentally working from `msys2` launcher, not `mingw64` launcher.   Added **Important:** note to wiki.  This should be in good shape.  Please confirm so we can close it out.

[2017-05-01 00:29] RebeccaDeField commented on #3517
I tend to lean more towards what @budislav [has posted in the past](https://github.com/LMMS/lmms/issues/2404#issuecomment-149056388) in terms of what the instruments should look like. :honeybee:

That being said, I am willing to compromise and open to other ideas.

What would you think if we allowed for artistic freedom in the layout, logo, fonts and additional design elements, but use the same co

[2017-05-01 00:48] Mark-Agent003 commented on #3517
That's beautiful 😮

I like this idea, but I think we should use the same _design_ of knobs (not the same color), same font, and limit gradient usage. However, I think colors shouldn't be limited. I think a great example is the new TripleOscillator:
![image](https://cloud.githubusercontent.com/assets/25230510/25569469/c71ac262-2ddd-11e7-8dba-8a1fe236ce01.png)

[2017-05-01 08:30] WinLin97 commented on #3021
Great, big thanks Michael! :D

[2017-05-01 11:57] michaelgregorius commented on #2000
I have found a CMake find script for lame [here](https://github.com/xbmc/audioencoder.lame/blob/master/FindLame.cmake):
[code]
I guess it would be integrated quite similar to the [Ogg Vorbis support](https://github.com/LMMS/lmms/blob/stable-1.2/CMakeLists.txt#L309).

[2017-05-01 12:01] michaelgregorius commented on #2000
And here's a simple example on how to use the library: https://stackoverflow.com/questions/2495420/is-there-any-lame-c-wraper-simplifier-working-on-linux-mac-and-win-from-pure/2496831#2496831.

[2017-05-01 14:29] plumpNation commented on #1700
Is there a workaround for this issue? I would love to help but my coding skills simply aren't up to the job.

[2017-05-01 14:35] plumpNation commented on #1700
Is this fixed in 1.2?

[2017-05-01 16:27] vlad1777d commented on #1911
@budislav , under "new design" I mean such colors in theme:
![lmms_theme_new](https://cloud.githubusercontent.com/assets/12682937/25585327/a22d978e-2ea2-11e7-83a5-7c6a6da09106.png)
![new automation](https://cloud.githubusercontent.com/assets/12682937/25585328/a23073e6-2ea2-11e7-9984-30360643c93c.png)
![new grid](https://cloud.githubusercontent.com/assets/12682937/25585326/a22c8830-2ea2-11e7-8a1c-5

[2017-05-01 17:54] tresf commented on #1911
It would be as dynamic as humanly possible.

If we keep it `.css`, this will be possible.

[2017-05-01 18:04] Texxiliator opened #3523 "Lmms does change some colors when user changes"
So i was just making song when i for a moment switched to a diffrent user.
When i came back Lmms has changed color : ![ggfsdf](https://cloud.githubusercontent.com/assets/22986832/25588558/145114d4-2ea9-11e7-885b-87a114210eb4.png)
I only found that i changes only this but it maybe could effect other items in lmms that i dont know about.
(sorry if this topic has been already brought up by someone el

[2017-05-01 19:09] budislav commented on #1911
No, not like blender but more easier, faster and suitable for LMMS. You can resize those tabbed windows and reorder them, move them on a second monitor, and they are automatically snapping to all edges so you don't need to worry about overlapping, resizing them ect. You can make a lot of personal layout with this system depending on your screen size.

You only can't resize width of controller rack

[2017-05-01 19:39] budislav commented on #3517
Appreciate it @RebeccaDeField

This artwork you guys like very much "The appearance of instruments should give a similar feeling than the sound they are producing." is possible now in this present gui system but in my single window concept definitely not.

By default they must have the same look of ui controls like the rest of software! But if you really want they can make this editable so you can

[2017-05-01 20:19] zonkmachine commented on #1681
Unfortunately I had to revert #3361 so I'm reopening this issue.

[2017-05-02 02:20] #3505 closed

[2017-05-02 02:29] UnityParadox opened #3527 "LMMS Filters Pop and Often Cease to Output Audio"
If putting a filter or equalizer band to a frequency outside of a certain range (usually within lower numbers), the filter will occasionally "pop," becoming so loud as to push most audio outside of the maximum LMMS output. Occasionally, this issue will cause the filter or equalizer to break and halt all signal processing altogether.

Branch: stable-1.2
OS: Windows 10

[2017-05-02 07:13] softrabbit commented on #3527
Any filter in particular you'd like to single out for punishment? :smiling_imp:

[2017-05-02 13:05] curlymorphic commented on #3527
@UnityParadox

Can you give clear instructions on how to reproduce this bug please

the instructions may look like this --

start new project
play a c2 on tipple oscillator
put the duel filter on , and set the lp to 20hz

Instructions like this this really makes bug fixing a lot easier.
I am aware these bi-quad filters can be brittle, but we  need access how often this happens as to the solution I

[2017-05-02 13:24] musikBear commented on #3527
propl. its the Infinite loud sound 'bug'

[2017-05-02 15:06] JohannesLorenz opened #3528 "Pressing the "add effect" key can cause (almost) endless loops in case of a bad VST dir"
Pressing "add effect" leads to LMMS scanning for "VST sub-plugin features":

If you have a VST directory "x" with a subdirectory "y" containing a symbolic link to "x", e.g. "x/y/z" points to "x", [this loop](https://github.com/LMMS/lmms/blob/stable-1.2/plugins/VstEffect/VstSubPluginFeatures.cpp#L75-L81) causes almost endless recursion, like "x/y/z/y/z/y/z..."

You can temporary fix this by setting

[2017-05-02 15:23] JohannesLorenz commented on #664
It could be confirmed that both mentioned issues (cursor tooltip in the automation editor and knob tooltip) are *not* present in the stable-1.2 branch (for whatever reason).

This bug is solved.

[2017-05-02 15:23] #664 closed

[2017-05-02 15:24] tresf commented on #3528
Can you please explain the use-case for having recursive directories?

[2017-05-02 15:34] JohannesLorenz commented on #3528
In my example, I had "~/.wine/dosdevices/", which contains symbolic links to my root and home directory. This seems to be common in WINE installations.

My VST directory was $HOME, which caused the problem.

Btw: IMO it's no bug that needs to be fixed urgently. The workarounds should suitable for all use-cases.

[2017-05-02 15:50] tresf commented on #3528
Ok.  This seems like an edge-case.  You really shouldn't be using the root of home for VST plugins.

One option is to short-circuit the scanning process to omit `~/.wine/dosdevices/` completely.  This directory is very common on Linux machines and seems like it would fix the problem.  A more elegant but more difficult solution would be to write our own recursion detection, which I'd prefer to avoi

[2017-05-02 15:53] Umcaruje commented on #3528
I kinda second this. You shouldn't keep your VST DLL's in the root of your home directory.

[2017-05-02 16:06] JohannesLorenz commented on #3528
I agree, but I wonder why my VST directory is set to $HOME. IIRC, I never changed it. From looking at  src/core/ConfigManager.cpp, it looks like the default is never $HOME, but "$PWD/plugins/vst/" instead. So it should probably not happen to people installing LMMS for the first time.

Concerning a cycle detector, I currently don't have a good idea. Maybe wait for a week or two until anyone comes u

[2017-05-02 16:58] tresf commented on #3528
Can you please perform two unit tests:

1. Close lmms, move your `~/.lmmsrc.xml`, relaunch, see if it occurs.
2. Make the VST Plugins path in the settings dialogs blank, relaunch, see if it occurs.

If neither of these trigger it, we'll close out as invalid for now.  Adding a tripwire for known problematic paths is a fine solution if this becomes more common.  Auto-detecting requires a way to cach

[2017-05-02 17:28] Mark-Agent003 commented on #3517
@budislav  You have a very convincing argument. @RebeccaDeField would you like to create a new issue, for redesigning the instruments?

[2017-05-02 17:47] JohannesLorenz commented on #3528
In both cases, LMMS resets the VST path to $HOME/lmms/plugins/vst and the bug does not occur.

If you wish to close it now, that would be OK.

[2017-05-02 18:07] #3528 closed

[2017-05-02 19:21] QuirkyCowfish opened #3529 "LMMS IMPOSSIBLE TO READ"
I have a surface pro 4 and just downloaded LMMS and everything is super tiny impossible to see what everything is. It works fine on my desktop I don't understand why this is an issue. I had this problem with an older version of photoshop a while ago, I was able to fix it, used the same method on LMMS and it did not work. HELP!!

![wtf](https://cloud.githubusercontent.com/assets/28314741/25635109/f

[2017-05-02 19:30] tresf commented on #3529
We don't have a fix yet.  Duplicate of #2510.  I'm closing this out as a duplicate, but the issue still remains open over at #2510.

[2017-05-02 19:30] #3529 closed

[2017-05-03 03:01] UnityParadox commented on #3527
@curlymorphic Any filter will reproduce the issue, however it seems that the bandpass filter plugins have the worst of the issue, with lowpass and highpass coming close second, being easier and more methodical to reproduce.

To reproduce:

Open a synth instance with any waveform.

Should ENV/LFO be enabled on this synth, go to the envelope list and turn the filter on. Alternatively, add a pass fil

[2017-05-03 03:51] tresf commented on #3276
@zonkmachine do you have time to test this out the proposed fix? #3522

[2017-05-03 13:15] #3276 closed

[2017-05-03 13:37] vlad1777d commented on #1911
@budislav , @tresf , than all is well =)
It would be great if we could switch from this color theme to that dark, that's currently in LMMS.

[2017-05-03 13:43] tresf commented on #1911
@vlad1777d changing the color is always going to be possible however the mockup above would most likely be the initial target for the first release.

[2017-05-03 14:17] acajaja commented on #2192
Hi, I see this is closed. I'm using the current version of LMMS on Raspberry Pi 3 Jessie.
All of this stuff mentioned here is still happening for me. I've tried a lot of stuff including installing and using Simple DirectMedia Layer, disabling PulseAudio (this will be a dedicated kiosk machine, so it isn't necessary to have Pulse), changing buffer size, etc.

I'd be happy to upload my project and g

[2017-05-03 14:23] tresf commented on #2192
@acajaja a good starting point is to tell us the version you have running.

Where did you get LMMS from?  Was it [compiled from source](https://github.com/lmms/lmms/wiki/Compiling) or did you find it with `apt-get`?

The [most useful debug information](https://github.com/lmms/lmms/wiki/Compiling#debugging) is generally not available when downloading pre-compiled versions, such as through `apt-get`

[2017-05-03 14:24] acajaja commented on #2153
Hi. I'm trying to get LMMS working reliably on Raspberry Pi 3 Jessie. Having all the same crashing probs. I will follow the debug instructions above. I am not a Linux dev, but I do [web] programming (PHP, Python, etc) so I know hot to debug and all that.

I'm excited to get this working on Pi and I hope we can figure it out. I think you should reopen this thread.

[2017-05-03 14:27] acajaja commented on #2192
Sounds good (pun intended with a ba-dum-dum)! I am using the pre-compiled binary from `apt-get`. I will add more details later tonight when I get home. I also saw #2153 and will follow those debug instructions.

[2017-05-03 15:44] tresf commented on #2153
@acajaja live performance is something we all want to offer, but it isn't a single bug report, so it's impossible to track until it's started.

One component of that which suits some users is 99.9% stability.  We're a long way from there.  We have some plugins that either crash or silence output reliably and those bug reports will be our focus for time to come.

If we offer a live mode (like how A

[2017-05-03 20:35] budislav commented on #1911
@vlad1777d Theme from this design is already "dark" (white on black), just with blue tones. I choosed that color scheme because of LMMS 1.1.3. I wanted to make something common, to look like a child of old LMMS, not to destroy him completely. It is made to be good on laptop screens with very low screen brightness and for good monitors. Contrast should not be a problem but I didn't received any fee

[2017-05-03 21:05] budislav commented on #1911
I just noticed it have past two years and 33 days since I presented this to community.

![65874759](https://cloud.githubusercontent.com/assets/3619927/25681393/71805f32-3054-11e7-8948-a4ac3f06026a.jpg)

[2017-05-04 17:27] tresf commented on #2510
A workaround for Windows is available here: #3531, ready for testing.

This does not "Fix HiDPI" but rather creates a workaround by telling Windows to scale the entire UI by making LMMS as non-HiDPI capable, a compatibility feature flag.

[2017-05-04 20:12] michaelgregorius commented on #1911
@budislav I think we are all aware that this issue is open for quite some time now. :) However, it's no small feat to implement a completely new design. That's why I proposed to handle it as a project with a coarse plan to get it going.

I think a big factor in what's holding LMMS back is that most of the features are implemented by individual developers and that there is only so much an individua

[2017-05-04 20:33] tresf commented on #1911
I don't think it has a whole lot of value in `lmms/artwork` as a proof of concept.

I'm not sure if that's true.  Most of the mockup above is a style sheet, font or very small glyph (or perhaps eventually an svg).  The small glyphs really don't have a home until the UI starts to take shape I think and if for some reason @budislav becomes unavailable we have several capable people that can re-creat

[2017-05-04 23:22] BaraMGB commented on #1911
Do you mean a complete rewrite?

[2017-05-05 10:57] budislav commented on #1911
@michaelgregorius @tresf I am aware this is not small task but why two years just to make a new branch or fork or to start Core/UI separation? :)
I think @Wallacoloo started doing Core/UI separation?

I am not programmer and I don't know how LMMS code works but this is what I would do if I am developer like you guys.

Decide you really want this new UI. I think almost everyone from community agree

[2017-05-05 18:09] tresf commented on #1911
This says it all:

It's a lot of work.  Let's not criticize or minimize the ongoing effort to get this done.  For example, the theme change is hardly related to single window.  They both change appearance and require new art, but that's where the similarities end.  This task will start when someone has either 324 days of extra, thankless time on their hands or alternately a very organized rewite a

[2017-05-06 08:27] #3491 closed

[2017-05-06 09:46] Lukas-W opened #3533 "Upgrade method for broken sample paths"
#1719 introduced a bug that made all sample paths being saved as absolute in project files (reported in #3491).

 #3510 fixed the regression, but we should try to find a method to fix/relativize samples from existing projects since `1.2.0-rc2`.

[2017-05-06 14:44] tresf commented on #2819
Marking as duplicate of https://github.com/LMMS/lmms/issues/3488.  There are several issues that can cause this and most are either permission related (in the case of #3488 fixed with repairing his drive) or audio back-end related, which requires better debugging capabilities on Windows.

If someone has the ability to provide [debugging information](https://github.com/lmms/lmms/wiki/Compiling#debu

[2017-05-06 14:44] #2819 closed

[2017-05-06 14:45] tresf commented on #2814
@DarkenLX can you please let us know if this still occurs with RC2?

If so, can you please read this thread and let us know if it helps?  https://github.com/LMMS/lmms/issues/3488

[2017-05-06 18:27] RebeccaDeField opened #3534 "Instrument Plugins Redesign"
We are going to be enhancing the instrument designs. I'm looking for a balance between an exciting ui (letting each plugin have its own unique style to represent and visually distinguish its sound) and good ux (maintaining some consistency so that the user does not become surprised/confused and understands that these plugins have relation to LMMS.

Bellow, I have listed all of the elements and des

[2017-05-06 18:37] Texxiliator commented on #3534
So basically you are asking if people could make a new desing for the synths?
Ok could i do Monstro? (If i got something wrong sorry)

[2017-05-06 18:53] RebeccaDeField commented on #3534
@Texxiliator thanks for talking to me on Discord. I have added you to the Monstro plugin. Feel free to let me know if you have any questions.

[2017-05-06 20:53] JordanKyser commented on #3534
I could take the ZynAddSubFX plugin if that's okay with you. I will try my best to re-design (I am pretty much saying what Texxiliator said).

[2017-05-06 21:07] IvanMaldonado commented on #3534
I onced started a issue (#2404) proposing an artwork for the organic plugin and I was implyied it needed some specific reasons to change an artwork, and that redisigning was more than just re-skinning, I also had a lot of difficulties trying to convince some people here that changes like these could be a good a idea.

I'm happy to see things are changing here.

[2017-05-06 21:11] JordanKyser commented on #3534
@IvanMaldonado I agree that the Organic plug-in needs redesigning. This also goes for the AudioFileProcessor, Patman (who uses this?), GIG (and this?), SID, ZynAddSubFX (in which I just asked to volunteer to re-design this)

[2017-05-06 21:29] JordanKyser commented on #3534
@RebeccaLaVie In case you didn't hear yet, I have request ZynAddSubFX redesign and IvanMaldonado has requested to redesign Organic

[2017-05-06 21:37] Umcaruje commented on #3534
@JordanKyser relax. This project will span over months, and all of us read comments, but not instantly, so please just be patient. No need for repeating youself. Also if there's no name next to a plugin, nobody is currently assigned to it, but I would not suggest taking on more than one plugin per person at a time.

I will assign you and @IvanMaldonado to the respective instruments.

[2017-05-06 21:40] JordanKyser commented on #3534
I will assign you and @IvanMaldonado to the respective instruments

I am stating plugins that have not have redesigning for the past 3 or more updates.

[2017-05-06 21:45] Hussam-Eddin-Alhomsi commented on #3517
I totally agree with @budislav

I think that instruments and effects plug-ins should have similar GUIs so that they look more uniformed and belonging to LMMS.
This doesn't mean that they have to look bland. They can have beautiful GUIs while staying around a main theme.

[2017-05-06 22:02] Umcaruje commented on #3534
The redesign of the instrument plugins does not affect the 1.2 release. Also all unchecked instruments are a subject to redesign.

[2017-05-06 22:03] RebeccaLaVie commented on #3534
I was going to reach out to you about working with my on the organic plugin, so I'm glad to see that you're interested.

Not only have I read over your comments regarding this, but I have also supportive of all your efforts. We weren't ready for a full redesign project while the effect plugins were incomplete and I am still working on the last effects plugin.

These sort of redesign projects take

[2017-05-07 02:46] DarkenLX commented on #2814
I'll have to do a clean install of RC2 and let you know asap

On May 6, 2017 10:45 AM, "Tres Finocchiaro" <notifications@github.com>
wrote:

[2017-05-07 07:20] tresf commented on #3533
Started the upgrade logic here https://github.com/tresf/lmms/commit/08581c55b07b3f0d4fe024b4b8d55e6986e0ea3a, but something's broken.  Can't get the debugs to fire.  Second set of eyes appreciated.

[2017-05-07 10:37] berserk82 opened #3536 "Please use CMake"
Hello there.
My name is Ivano Arrighetta and I'm Italian.
I would like to suggest to use CMake for creating build projects for Windows and Mac OS, other than Makefiles for *nix.

I'm pretty sure everyone would benefit from this.

Bye, Ivano.

[2017-05-07 10:44] Lukas-W commented on #3536
We are using CMake.

[2017-05-07 10:44] #3536 closed

[2017-05-07 10:46] berserk82 commented on #3536
Yes, you're right. I'm really sorry, I noticed *after* I downloaded the GIT repo.
Please excuse me.

[2017-05-07 10:46] Lukas-W commented on #3536
No worries.

[2017-05-07 12:03] Umcaruje opened #3537 "MIDI Sustain ignored when envelope is on."
While doing some testing for #1700 I noticed another bug.
In non-midi-based instruments when you have the envelope on, the sustain pedal gets ignored.

Video of the behavior (first part of the video is the piano roll recording problem):
https://youtu.be/PA0mxaMIVrc?t=33s

[2017-05-07 12:42] Umcaruje commented on #181
it seems that this is not the case anymore, it was probably changed again somewhere in the subsequent commits.

[2017-05-07 12:45] zonkmachine commented on #181
OK, I'll look into it.

[2017-05-07 16:30] SolarPolarMan opened #3538 "How to enable the metronome."
How do I enable the metronome while recording?

![image](https://cloud.githubusercontent.com/assets/13716824/25782917/da89738a-334a-11e7-9e2c-483c5807d2d6.png)

It's not at the top as suggested in other places on the internet.

[2017-05-07 16:36] Spekular commented on #3538
Github isn't for support requests. You can try the [forum](https://lmms.io/forum/) or [discord](https://discordapp.com/invite/5kSc32Z).

That being said:
In 1.2 the metronome should be in the top bar, but as you're on 1.1.3 it might be elsewhere, I don't remember. Try checking your settings or using the "record and play" button (circle with a cut out triangle). If that doesn't work, you can make a

[2017-05-07 16:54] curlymorphic commented on #3527
Having spent some time trying to reproduce this, I have failed,

[2017-05-07 17:53] #3538 closed

[2017-05-07 19:43] Hussam-Eddin-Alhomsi commented on #3534
@RebeccaLaVue
I'm new to LMMS and I have a question.
Can LMMS's instrument plug-ins be used in other DAWs?
If they can, I agree that with you on "letting each plug-in have its own unique design to represent and visually distinguish its sound".
But if they are only to be used inside LMMS, I think that they should be redesigned around a main theme that is similar to LMMS without too much variation.

[2017-05-07 19:52] Texxiliator commented on #3534
@Hussam-Eddin-Alhomsi i think you cant use any instrument in other DAW (other then vst,soundfont and so) they are only in lmms. And thats what im trying to go for. Look like it is part of Lmms.

[2017-05-07 19:56] Mark-Agent003 commented on #3534
That's what we are trying to do now, we are trying to make the instruments follow the same theme, look like they are part of LMMS, and also:

Currently the instrument visuals are outdated, so that's what this is. 😄

[2017-05-07 20:00] mendomusic opened #3539 "Enable MIDI clock"
according to the following thread it does currently not seem to be possible to synchronise tempo through midi clock with external gear:
[How Can I Sync LMMS with External Midi Device's Midi Clock](https://lmms.io/forum/viewtopic.php?t=1555#p6733)

Please try to add this. It would make it possible to work with outboard gear.

[2017-05-07 21:12] #3064 closed

[2017-05-07 21:34] Hussam-Eddin-Alhomsi commented on #3534
@Mark-Agent003 Thank you for clarifying. :)

[2017-05-07 21:48] tresf commented on #3533
I had run into a self-inflicted snag checking for newer project versions.  I'm glad I did... Although first instinct is to honor this logic, making samples relative can fix an annoyance occurred when the LMMS WORKING DIRECTORY is misconfigured.  So I'm proposing to run this upgrade task on each run, thus no longer calling it an upgrade at all.   Thoughts and testing welcome.  PR available in #3540

[2017-05-07 23:55] vlad1777d commented on #1911
@budislav , I told about that new design, because I made several mockups for it =)

Your design I saw firs time near 2 years ago, so I got used to it. I posted it in our Russian LMMS community: https://vk.com/wall-87783789_470 , that's proof that I liked it.
**But** new "black-green" one is good too. It's clean and nice. If somebody told me: choose: which of them will be in LMMS, other we will del

[2017-05-08 04:02] tresf commented on #3523
@Texxiliator I've never seen this before and I don't believe it can technically happen without something incorrect happening to your profile or configuration... let me explain...

 * The way colors are stored are in a file `style.css`.  This file is `%PROGRAMFILES%\LMMS\data\themes\default\style.css`.  This file is part of the LMMS installation and cannot be altered unless admin and UAC is disable

[2017-05-08 04:37] tresf commented on #3493
The tool mentioned claims to have [many caveats](https://github.com/include-what-you-use/include-what-you-use#caveat).  It's in alpha condition, requires the clang compiler -- it acts as the compiler.  Other caveats are that each non-class paired header needs to be explicitly added and it doesn't yet work with `C` code (just `C++`).

I like the idea of automatic header cleanup though a task, but i

[2017-05-08 04:40] tresf commented on #3517
Closing as this has been merged into #3534.  Please feel free to continue discussion about SoundFont Player redesign here, however the issue will remain closed in the tracker in favor of the open meta issue.

[2017-05-08 04:40] #3517 closed

[2017-05-08 04:57] tresf commented on #3474
I like the artwork done by @Mark-Agent003 and I think the old logo is a funny concept, but as a professional tool, the April fool's concept is really just confusing and I'm not sure how that helps the software move forward.  If someone really wants to add this through a pull request, we can have a poll.  @Umcaruje likes to do some jokes on Facebook around April 1st and it seems to go well, so ther

[2017-05-08 06:57] berserk82 opened #3542 "Compiling LMMS on Windows 10 using Visual Studio Community 2017"
As in the subject, how do I compile LMMS on Windows 10 using Visual Studio Community 2017?

Thanks in advance for any help.

Bye, Ivano.

[2017-05-08 09:42] BaraMGB commented on #3474
I agree with Tres here.

[2017-05-08 11:06] Texxiliator commented on #3523
@tresf Did you tryed this? Maybe it's just my PC being weird (again).

[2017-05-08 11:11] Spekular commented on #3523
I've had weird issues happen in LMMS when windows locks automatically and I
have to sign in again, so I don't think it's only you.

I haven't been able to reliably reproduce and it was a while ago, but iirc
it caused the same color issues as here.

On May 8, 2017 13:06, "Texxiliator" <notifications@github.com> wrote:

[2017-05-08 13:41] Texxiliator opened #3544 "Beat and Bassline glitch"
When BaB is played and you selelect to play some other instrument outside BaB there is the chance that at the same time note plays in BaB the instrument that plays it will lose all effects.

[2017-05-08 13:44] Texxiliator commented on #3544
Could be dangerous if you have an effect that makes instrument very quiet so you put volume up so when a note plays its EXTREMLY loud.

[2017-05-08 13:46] tresf commented on #3542
Sorry, we do not yet offer MSVC++ support per https://github.com/LMMS/lmms/wiki/Compiling#compiler.

If you have experience setting up projects with MSVC++, please stop by our [Discord server](https://discord.gg/5kSc32Z), we have a `#devhelp` channel that we can discuss on.

[2017-05-08 13:46] #3542 closed

[2017-05-08 14:32] Mark-Agent003 commented on #3474
@tresf, I totally understand and agree. 👍

[2017-05-08 14:37] tresf commented on #3523
Confirmed.  Thanks for the bug report.

Steps to reproduce from Windows 10:

1. Log in as your standard desktop user
1. Open LMMS 1.2.0-RC2 or higher
2. Open sidebar
3. Switch users using Windows, User, Switch Account
4. Sign right back in as the same desktop user

![image](https://cloud.githubusercontent.com/assets/6345473/25808204/56852038-33d7-11e7-9736-c818b24b1408.png)

This occurs on 1.2.0-R

[2017-05-08 14:45] tresf commented on #3474
Thanks.  Closing out as wont-fix for now.

[2017-05-08 14:45] #3474 closed

[2017-05-08 14:56] BaraMGB commented on #3523
I had a similar experience when I installed lmms the first time on Windows 10. But after restart lmms it looked normal. So I don't give something on it.

Look at the Knobs on the second picture. They looked odd too on my installation. Also the mixer looked odd.

[2017-05-08 15:01] Umcaruje commented on #3523
Hmm, back when I worked on the theme, I'd sometimes get a similar effect when the style-sheet wouldn't get fully parsed, due to a syntax error. Though this only happens on a user switch, I'm not certain if there's a correlation.

[2017-05-08 16:04] Mark-Agent003 commented on #3534
I think it goes without saying, but I will work on the SF2 Player.

[2017-05-08 16:08] Texxiliator commented on #3534
@Mark-Agent003 Wow you are really good ! :D

[2017-05-08 16:15] karmux commented on #757
I get the same issue like @davidgerard in current master.
Only saving and reopening project allows to insert notes to drag and dropped instrument.

[2017-05-08 17:38] tresf commented on #3534
No and there are no plans to be unless they are rewritten as LV2 plugins.

[2017-05-08 18:41] RebeccaLaVie commented on #3534
@Mark-Agent003 By this, I mean that anyone can use any of the colors in the palette above and a custom logo to add a little bit of slightly distinguish each plugin, because this has been requested by the community. We still want the knobs, colors, and style to stay the same.

I already added you to the sf2 player. :+1:

[2017-05-08 19:11] BaraMGB commented on #3534
Okay, one question before it is to late. There were a lot of requests in the past for change the size of the instrument window. Shouldn't we think about this issue before the instruments are redesigned?

Wanna link this issue https://github.com/LMMS/lmms/issues/3067

[2017-05-08 19:40] RebeccaLaVie commented on #3534
**A couple things that I think should be discussed regarding the instruments:**

- Changing the size of the plugins would help to bring the design closer to the single window concept. What size would we want to change it to? Should the height have a fixed size, but the width depend on the instrument?
- It reduces and simplifies the code if we leverage the stock knobs. I know there were a lot of re

[2017-05-08 19:57] davidgerard commented on #757
I just compiled current master from source and it was OK for me.
About: version 1.2.0-rc2.154
git: 241d5f7479023d2903a2658307223672c2b623f3

now on Xubuntu 16.04, amd64, Lenovo X240

[2017-05-08 20:04] Umcaruje commented on #3534
Not really, you'd need to just have double sized renders for hidpi. There's just some stuff you can't do without pixmaps.

[2017-05-08 20:09] farvardin commented on #46
Hello,

In the last message, it says it was implemented in master, for milestone 1.2 and 1.1

I've tested it on LMMS 1.1.3 and latest LMMS 1.2.0-rc2, and it doesn't seem to be implemented. Have I missed something?

[2017-05-08 20:15] farvardin commented on #46
Ok, I see now:
- It works in 1.2.0-rc2 if I select some parts, then CTRL+clic
- It doesn't work with left clic menu (copy a group + paste doesn't past the group, only the first selected element) (it would be intuitive to have this as well)
- It dosn't work at all in 1.1.3 (but I've read this comment https://github.com/LMMS/lmms/issues/2302#issuecomment-136142208)

[2017-05-08 20:30] Mark-Agent003 commented on #3534
@RebeccaLaVie,

Yes, I understand. 😄
Also, I agree we need to change the instrument dimensions at some point, and, in my opinion, the height should be fixed, and the width should be variable.

[2017-05-08 21:04] RebeccaLaVie commented on #3534
@Texxiliator @IvanMaldonado @Umcaruje @BaraMGB @Mark-Agent003 @JordanKyser

Okay, so after a discussion with many of you on Discord, this is the direction we are going to take with the redesigns. We are going to use the same layout for the instruments as the single window concept, with the same colors and design elements of our current theme. We will be using the same design for all of the knobs,

[2017-05-08 21:10] Hussam-Eddin-Alhomsi commented on #2587
@RebeccaLaVie
I think that the steps in the "Beat + Bassline editor" should be green just like the notes in the "piano roll". It doesn't make sense that these steps are the only thing that is cyan and everything else is green.

[2017-05-08 21:24] karmux commented on #757
I have same version, tried both Qt4 and Qt5.
OS is Kubuntu 17.04.

[2017-05-08 21:44] rogersachan opened #3546 "Support for Windows Store via the Desktop Bridge"
With the release of Windows 10 S, many consumers (and students like me) will be switched by their companies/schools/etc. to an OS that only supports applications from the Windows Store. Will this app be available eventually on the store?

[2017-05-08 21:52] BaraMGB commented on #3534
These are the layouts we want to use. Sorry for the quality. I compressed it.

 - We want to use the layout that means fixed in height but width can be different.
 - the designer can use any Color from the modern noir palette (see above)

![budislav_instruments](https://cloud.githubusercontent.com/assets/6502580/25826833/ab09cfde-3448-11e7-8cc1-da0daea40026.jpg)

[2017-05-08 21:57] sub26nico commented on #2934
Same issue here, distro :Librazik (Debian Jessie audio oriented), with
 Lmms version 1.2.0-rc2 (Linux/i386, Qt 4.8.6, GCC 4.9.2).
Exporting  with Jack crashes Lmms. No problem with Alsa.

[2017-05-08 22:20] sub26nico commented on #2934
Lmms version  1.1.90+20170508~gitff4ffd1-0librazik1

[2017-05-08 22:39] trebmuh commented on #2934
...which is package from https://github.com/LMMS/lmms/commit/ff4ffd17f41ffd04ab179492868c40a55c591f35
(I'm the packager)

[2017-05-09 01:00] tresf commented on #3546
No, there are no plans to publish.  If there are ModernUI requirements, then it won't be possible.

Furthermore, the restrictions of choice that are being imposed stifle competition and innovation.  The decision to use Windows 10S for an educational desktop that plans to use classic desktop software like Gimp, LMMS, Pidgin, Putty, VirtualBox, Blender must be made very carefully.

[2017-05-09 01:34] tresf commented on #3546
Take this with a grain of salt, but this is a respected game developer expressing concerns about the Universal Windows Platform: https://soundcloud.com/polygon-newsworthy/4-tim-sweeney-on-microsofts-evil-plan

Microsoft has come back with open arms, but the task of switching to an "everything" platform really doesn't fly with a strictly C++ cross-platform project like LMMS.

VLC was able to [kicks

[2017-05-09 01:39] #3546 closed

[2017-05-09 06:31] mavas opened #3547 "Font really tiny on Windows 10, for 1.1.3 and 1.2.0 RC2"
Hello,

On Windows 10, I downloaded and installed version 1.1.3, opened it up, and the font was incredibly tiny.

I uninstalled version 1.1.3, and then downloaded and installed the latest release candidate beta, and it was the same thing.

Thank you.

[2017-05-09 13:59] musikBear commented on #757
Just a 5€
Dragging is causing several problems, this one is only one of them
The most troublesome is the vst-**effects** plugin GUI that will open in the background, they are not always associated correctly with the preset -eg, not opened with the *show-GUI-button*, and are in fact orphans with no shutdown options
There is a perfectly good context-menu, that gives the user 100% control over preset

[2017-05-09 14:08] musikBear commented on #3544
@Texxiliator
I think that this:
* noticed it only works with this projects / couldnt reproduce*
is the most important here.
I think that it is a project issue, and not a general lmms issue, so in that light, this is not a lmms-bug, it is a one project-specific-issue
I will take a look at you project, and try to figure out what is the reason

[2017-05-09 14:11] musikBear commented on #3547
@mavas
Please read:
http://lmms.io/forum/viewtopic.php?f=7&t=24335
Report back about the result.

[2017-05-09 14:37] tresf commented on #3547
@musikBear please be more responsible.  There are duplicate issues right here on the tracker that don't involve @mavas scrolling through a conversation on a different site.

@mavas, this is a duplicate #2510.

We a patched installer available here: https://github.com/LMMS/lmms/issues/2510#issuecomment-299253698

[2017-05-09 14:37] #3547 closed

[2017-05-09 16:47] musikBear commented on #3544
No, it is indeed a Monstro bug
There is no need for any additional notes in song-editor.
The issue is emphasized progressively with shortening the note in ENV.
To reproduce:
* Create an empty project
* insert default Monstro in B&B
* Set VOL of B&B to 17% (safety
* Set Monstro ENV
**D 0
** Att 10
** H 0
** D 0.15
** S 0
** R 0.1
( eg as pluck note )
* insert notes in B&B for the track either as BB

[2017-05-09 16:50] Texxiliator commented on #3544
@musikBear ohh

[2017-05-09 17:08] mavas commented on #3547
Thanks for the link; that's interesting.

I'm glad you folks are already aware of this and are working on it.

LMMS is awesome, thanks!

[2017-05-09 17:12] tresf commented on #3547
@mavas, did you try the patched installer?

[2017-05-09 17:20] ilazarte opened #3548 "VST parameter changes do not take effect until after show/hide is toggled."
Windows 10 64 bit LMMS.  I'm working with Voxengo Boogex (http://www.voxengo.com/product/boogex/) although this happens with other Voxengo plugins and the u-He Tyrell N6 as well as other examples.

Basically, any change to the vst will kill sound, until a show hide is triggered on the vst, either through the plugin window itself or via the "hide controls" button in the fx tab.

[2017-05-09 17:21] idoleat commented on #3548
Same here.

[2017-05-09 17:38] mavas commented on #3547
I did just now and it works, thanks.

[2017-05-09 18:18] Mark-Agent003 commented on #3534
@RebeccaLaVie, in my understanding, we are only supposed to change color on the knobs to match the logo, and every other color should be either the green/gray/black in the theme?

[2017-05-09 18:29] Umcaruje commented on #2854
We're switching to QT5 for 1.2 anyways, so this should really not be an issue

[2017-05-10 04:41] tresf commented on #2854
The releases will, but the codebase is still able to be compiled against Qt4.  We haven't discussed pulling Qt4 support entirely from the codebase yet.  Probably a worthy discussion, but probably a bad idea for the 1.2 release.

[2017-05-10 16:58] FierceSavitar opened #3549 "I moved the piano roll window too high now I cant move it down"
![image](https://cloud.githubusercontent.com/assets/25285581/25911007/dcbde07e-35a1-11e7-9fc7-d6489f979365.png)

[2017-05-10 16:59] tresf commented on #3549
Have you tried using the scrollbar?

![image](https://cloud.githubusercontent.com/assets/6345473/25911059/7c4ed02a-3580-11e7-8fc3-48c237c0468b.png)

[2017-05-10 17:00] FierceSavitar commented on #3549
whoa you commented fast, and yes but Im talking about the piano roll window, I moved it too high and I want to make it the normal size

[2017-05-10 17:01] FierceSavitar commented on #3549
Thanks, it helped `how could I not see that`

[2017-05-10 17:03] #3549 closed

[2017-05-11 03:36] tresf commented on #3533
Fixed via #3510, we just didn't know it at the time.  Explanation here: https://github.com/LMMS/lmms/pull/3540#issuecomment-300448858

[2017-05-11 03:36] #3533 closed

[2017-05-11 22:44] Mark-Agent003 commented on #3534
@RebeccaLaVie
![image](https://cloud.githubusercontent.com/assets/25230510/25974931/1d3d7356-3671-11e7-83f1-0d869d5745de.png)
(rough draft)
Is this the style you were looking for? I used the dimensions from the single window concept.

[2017-05-12 16:15] Texxiliator commented on #3534
@Mark-Agent003 she is not going to reply in some time. She is on a break.

[2017-05-12 17:31] RebeccaLaVie commented on #3534
@Texxiliator @Mark-Agent003

I'll try to reply to everything on my next weekend.

I'm just really busy right now with work.

:blush:

[2017-05-12 18:22] Texxiliator commented on #3534
@RebeccaLaVie oh
Deseiver told me you are.

(do you know that there is worst of lmms?)

[2017-05-12 19:11] #3021 closed

[2017-05-13 09:04] Texxiliator commented on #3534
@RebeccaLaVie so is @Mark-Agent003 style the thing you are looking for?

[2017-05-13 10:24] BaraMGB commented on #3534
@Texxiliator can you please stop rushing the people? This isn't a chat channel here. Slow down a little bit!

[2017-05-13 10:25] Texxiliator commented on #3534
@BaraMGB alright, sorry.

[2017-05-13 19:39] RebeccaLaVie commented on #2587
@Hussam-Eddin-Alhomsi The BBeditor is blue to match the color in the song editor, just as the automation is purple and the piano roll is green.

![shot-2017-05-08_16-38-26](https://cloud.githubusercontent.com/assets/7960169/26028617/379a72da-37d9-11e7-956f-463fda553b7d.png)

[2017-05-13 20:26] JordanKyser commented on #3534
If someone else wants to redesign ZynAddSubFX, they can do it. I don't have much spare time to do it (even if it is for a couple months). ☹️
I am very sorry for the inconvenience.

[2017-05-13 20:28] RebeccaLaVie commented on #3534
@Texxiliator I appreciate your enthusiasm, but I'm going to need just a bit more patience. :+1:

@Mark-Agent003 Perhaps the contrast could be increased and the design could benefit from being lighter, but yes, I believe that mockup is headed in the right direction.

I think an important question to ask is if we want the height to be the same as it is in the single window design? That size might no

[2017-05-13 20:46] BaraMGB commented on #3534
In my understanding we do not redesign the instruments for 1.2. That would mean that we had to rewrite the layout of the complete instrument window. I guess it were incompatible to the current instrument window. With 1.2 we should make a point and think for the future. I am very confident that we can have a single window GUI for 1.3 but redesign the instruments for 1.2 layout is a waste of time if

[2017-05-13 21:02] RebeccaLaVie commented on #3534
@BaraMGB I'm sorry if I confused everything be responding to the feedback here.

When I said

I just didn't want people to start mocking up ideas before the size has been finalized. Whether the single window concept can be fully realized at 1.3 or not, we still need to think about what height would be best for the ui when we get there, and especially before any mockups are made.

Yes, I agree that

[2017-05-13 21:15] BaraMGB commented on #3534
Yes, I'll make some mockups and try to start envelope a concept for the single window GUI. I'll open a new issue for this when I have some results.

[2017-05-14 06:44] Serkan-devel commented on #2556
Any updates in appimage support?

[2017-05-14 06:53] tresf commented on #2556
None, but if you have experience with relinking and packaging Linux applications, please offer some assistance over at #2932, we could use the help!

[2017-05-14 06:56] Serkan-devel commented on #2556
I already have problems packaging by myself (https://github.com/probonopd/AppImages/issues/237) but I can try

[2017-05-14 07:10] tresf commented on #2556
That bug you linked... That script right before the copy is probably bombing out, could be a multitude of reasons but probably a basic script error that's not getting echoed to the screen properly and erroring in the wrong place and never being caught.  We're moving to `set -e` for this reason.

Our packaging problems are more library copying and relinking related.  AppImage will be possible once

[2017-05-14 07:22] tresf commented on #2556
Actually you aren't specifying the right extract folder when you extract the tarball, that logic won't work.  Also expect everything to use a random directory inside tmp.  What is so attractive about AppImage btw?  Makeself does the same exact thing and is very universal.

[2017-05-14 10:22] #3514 closed

[2017-05-14 16:54] Umcaruje commented on #2774
I used lmms-1.2.0-rc2 in windows 10 and I didn't encounter this. Does this still happen to you @michaelgregorius?

[2017-05-14 18:29] probonopd commented on #2556
Please see https://github.com/LMMS/lmms/issues/2556#issuecomment-259509205 - I have made AppImage no one has commented on so far.

If people like, we can also package the build artifacts from Travis CI as AppImages. Let me know if there is interest.

[2017-05-14 18:32] probonopd commented on #2556
Providing an [AppImage](http://appimage.org/) would have, among others, these advantages:
- Works for most Linux distributions (including Ubuntu, Fedora, openSUSE, CentOS, elementaryOS, Linux Mint, and others)
- One app = one file = super simple for users: just download one AppImage file, [make it executable](http://discourse.appimage.org/t/how-to-make-an-appimage-executable/80), and run
- No unpa

[2017-05-14 19:38] zonkmachine commented on #3544
Bisected. This is buffer noise related to the Memory Manger, https://github.com/LMMS/lmms/pull/1088 .

[2017-05-14 19:44] tukkek commented on #2556
Every single application I've seen that uses AppImage _just works_™. I think that is saying a lot since, even today, downloading and running Linux apps is always a shot in the dark unless you're installing it directly from your distribution's repositories.

Just wanted to add that I'm very happy with how it worked for me as an user in the past for other projects. If Debian continues to offer a `lm

[2017-05-15 02:44] tresf commented on #2556
I mean over the tried and trued `.run`.  Portable, self contained applications are nothing new.  It's how Mac and Windows do it.

The diff feature seems OK if a package manager is being used, and signing is good if you know who to trust, but the other points are just describing how a self contained app works, not why it's better than a `.run`.

All serious apps I've installed are `.run` files and

[2017-05-15 04:23] eagles051387 commented on #2556
Tukkek you do know if someone is willing to package and put them in a
ppa repository you can get the latest versions of lmms for your version
of debian/ubuntu from there.

---
Regards,

Jonathan Aquilina

On 2017-05-14 21:44, tukkek wrote:

Links:
------
[1] https://github.com/LMMS/lmms/issues/2556#issuecomment-301335086
[2]
https://github.com/notifications/unsubscribe-auth/AAV-MO173awPwdOevhqO3Xb

[2017-05-15 10:21] #3401 closed

[2017-05-15 11:02] zonkmachine opened #3555 "Delay based effects - occasional crashes on export"
LMMS sometimes crashes on export when using delay based effects.
This has been seen with: Delay, Flanger , Multitap Echo and ReverbSC  all native effects.

See discussion here https://github.com/LMMS/lmms/pull/3403#issuecomment-285455640

[code]

[2017-05-15 13:28] tukkek commented on #2556
Comparing AppImages with `run` files makes it clear you have no idea what you're talking about and didn't even bother reading the thread and the thoughtful, thorough comments other people wrote here.

@eagles051387 the current Debian package (on the `testing/stretch` release) is the latest stable version of LMMS. It's currently being maintained by 4 people plus the entire Debian Edu team so chance

[2017-05-15 14:07] Umcaruje commented on #2556
so @probonopd I just tried your Appimage, and I must say I'm impressed with this. The size is similar to the one of our windows installers, it also has an option to integrate with your environment and it works like a charm. Also everything works with a click and it's not intrusive to the system. I love it, and I would really be interested if we could provide this to the users, and if we could get

[2017-05-15 16:53] tresf commented on #2556
If it doesn't contain the [majority of dependent libraries](https://github.com/LMMS/lmms/issues/2556#issuecomment-233216697) then it [won't work cross-distros](https://github.com/LMMS/lmms/pull/2932#issuecomment-243313240).

- Works for most Linux distributions (including Ubuntu, Fedora, openSUSE, CentOS, elementaryOS, Linux Mint, and others)

makeself already does this.

makeself already does thi

[2017-05-15 18:18] qnebra opened #3557 "Pianoroll background scrolling mismatch."
My title is very inaccurate, so I explain it here.

![ituqirq](https://cloud.githubusercontent.com/assets/6345473/26074208/f0e945d0-397e-11e7-9df4-4dae074afbf4.gif)
*tresf edited, added screenshot to post*

1. Set time signature to non standard value (4/4 is standard).
2. Scroll pianoroll horizontally.
3. Expected: background synchronized with bars.
4. Really happen:

Time signature 5/4 gif as exa

[2017-05-15 18:25] zonkmachine commented on #3557
This? https://github.com/LMMS/lmms/issues/3389

[2017-05-15 18:31] qnebra commented on #3557
Well, no. On standard 4/4 all is correct, but if you set to 3/4 or 5/4 or some other unstandard "time sig" you should have glitches.

[2017-05-15 19:18] tukkek commented on #2556
If your best argument is "makeself does everything that AppImage does" then why are you so invested against AppImage? You just proved they're both on par - except me and others here seem to think AppImage is a better solution. If you have tried to express any reason why `makeself` is clearly superior then it didn't come across for me and I, politely and nonadhominenly ask that you please try once

[2017-05-15 19:23] tukkek commented on #2556
I don't think that `makeself` can beat this. As far as I understand it extracts files into a temporary folder instead of mounting an image like AppImage does. This means that it's pretty easy to run into free-space issues, especially if the `run` file uses /tmp/ by default, which many distributions use a separate (and thus fixed-size) partition for - not to mention "live" distributions which would

[2017-05-15 19:40] tresf commented on #2556
This is the wrong place to cast a vote for a package bundler.  If there's limitations, point them out.   Anything else is simply wasting valuable developers time.  Please stop arguing and keep the content technical or this thread will be locked in favor of a PR.

Now to answer the actual content of these long-winded replies...

This isn't a democracy.  We accept code that works and the admins that

[2017-05-15 20:20] tukkek commented on #2556
I installed an nvidia driver yesterday (they use `.run` files) and had to set the execution permission manually. `makeself` clearly doesn't have an answer to this. Unless you're packaging the file on a `.tar.gz` or similar format that supports `+x` then there is no way around this as far as I know - and of course, you shouldn't be distributing an AppImage or `.run` file inside a compressed archive

[2017-05-15 20:35] michaelgregorius commented on #2774
@Umcaruje, unfortunately I can still reproduce the problem with [LMMS-1.2.0-RC2](https://github.com/LMMS/lmms/releases/download/v1.2.0-rc2/lmms-1.2.0-rc2-win64.exe) using Windows 8.1.

When I try to kill these processes for the first time nothing happens. When I try again I get an error message (I think something like that I have no rights to do that) and the process still persists.

[2017-05-16 00:44] tresf commented on #2556
Two reasons...

1. We don't yet have a deb packaging script.
1. Because a deb package is a distro-specific package format.  In short, debian packages generally don't bundle what they need, they fetch them.  Thus, wrapping an LMMS deb file into yet another package format is a bad permanent design.

No one made claim that it did.  It was only a rebuttal to the glittering generality of this statement

[2017-05-16 09:50] zonkmachine commented on #2612
@curlymorphic This issue is related to https://github.com/LMMS/lmms/pull/1593 and https://github.com/LMMS/lmms/pull/1597 . Turning "Enables the use of Master Pitch" on/off affects other instrument tracks than the intended in an unpredictable way.

[2017-05-16 14:40] musikBear commented on #2774
Even running as admin ?! ..outch
RC1.1.9+ does 'this' after shotdown-crashing **much** less often, for me, than <=1.1.3, but it *can* happen, but on xp the leak-process can be killed, with no problems from TM

[2017-05-16 14:45] tukkek commented on #2556
Neither does `.run` files. In this sense, you haven't answered my question from a few comments ago asking you to point out if `.run` has any advantages over AppImages (legacy systems aside, as they're non-critical). You went to some length to prove they're both equivalent solutions and since then we've been doing nothing but discuss technical AppImage advantages. If you (or anyone) cannot provide

[2017-05-16 14:52] tresf commented on #2556
Since the intent of most recent comments are around "being right" instead of "whats right" by the continual `ad homium` references, locking.  Please pick technology camps elsewhere.

[2017-05-16 15:01] tukkek opened #3558 "Create a Pull Request for an AppImage Travis build"
@probonopd can you create a pull request adding your recipe into something the project can use? You mentioned in #2556 that you were willing to make it happen as a Travis artifact build, if there was any interest. I think it's safe to say now that there is a real interest here despite that issue being locked over purely non-technical issues.

[2017-05-16 15:31] tresf commented on #3558
Duplicate of #2556.  Closing.

[2017-05-17 04:02] tresf commented on #3558
Splitting this off so we have a place to discuss prior to the PR.

[code]

@probonopd  can you nudge this in the right direction?
 * What's the difference between an `AppDir` and and `AppImage`?  Am I doing it right?
 * What steps are missing to convert the `AppDir` to an `AppImage`?  Should it just spit out an `.LMMS.AppImage` file side-by-side the `LMMS.AppDir` or am I using it wrong?
 * What ex

[2017-05-17 10:21] #3335 closed

[2017-05-17 13:38] zonkmachine commented on #3195
Closed in https://github.com/LMMS/lmms/pull/3524

[2017-05-17 13:38] #3195 closed

[2017-05-17 18:11] CaitlinChoban commented on #3494
I use LMMS 1.1.3 on Windows 8 64bit that i downloaded from the LMMS website.
I looked at 3491. It is not a duplicate, but similar. They were talk about .mmp or .mmpz files being autodetected and an error coming up. I'm guessing from the middle left column that has my projects, my samples, my presets (audiofileprocessor) etc.
I don't get an error, i just get silence where there should be a sample (

[2017-05-17 18:22] tresf commented on #3558
Updated.  Here's an AppImage created directly from Ubuntu 14.04 adapted using our existing build process.

The above steps are still causing me a bit of grief.  I'll wait to receive some help from @probonopd on Gitter or here before submitting a packaging script.

https://github.com/tresf/lmms/releases/download/v1.2.0-rc2.113/lmms-1.2.0-rc.2.portable.AppImage

[2017-05-17 18:37] CaitlinChoban commented on #3495
Here is a link to the file on LSP.
https://lmms.io/lsp/?action=show&file=10923

I am running Windows 8 64bit. LMMS 1.1.3 that i obtained from the LMMS website.

[2017-05-17 19:37] #3557 closed

[2017-05-17 19:41] karmux commented on #2560
I just noticed that this bug doesn't exist on master anymore. Somebody has secretly fixed it :)

[2017-05-17 19:41] #2560 closed

[2017-05-17 20:36] zonkmachine commented on #3495
It doesn't look like Freeboy itself is the problem here but the Piano Roll pattern at bar 15 that is faulty. There are multiple notes hidden under the top ones. There are hundreds of them so it looks like a copy/paste maneuvre gone wrong.
To fix this you need to redo the patterns that crash the song

[2017-05-17 20:50] Mark-Agent003 opened #3560 "AudioFileProcessor deletes loop/start point after export"
Whenever I export a file from LMMS that uses AudioFileProcessor and I have edited the starting, loop, and ending points inside AFP, it resets them to the default values.  I am using 1.2.0 RC2.

[2017-05-17 21:06] zonkmachine commented on #3560
This https://github.com/LMMS/lmms/issues/2779 !

[2017-05-17 22:06] probonopd commented on #3558
Hi @tresf thanks for your work on this. Sorry I wasn't able to chime in quicker. To your questions:

The AppDir is a directory that contains the payload application and supporting files and has an executable file called `AppRun` as its entry point. It is what goes inside an AppImage, which is a self-mounting filesystem image that contains an AppDir.https://github.com/AppImage/AppImageSpec/ has mor

[2017-05-17 22:24] probonopd commented on #3558
https://github.com/probonopd/lmms/blob/patch-1/.travis.yml has a work-in-progress `.travis.yml` file for generating an AppImage on Travis CI.

[2017-05-18 12:41] Andrew344 opened #3561 "LMMS crashes when using VST"
I use LMMS 1.1.3 (64-bit ver.) on Windows 7 64bit, аnd I have problem with VST plugins.
Neither one doesn't work acceptable.
Watch the video: https://www.youtube.com/watch?v=FxKjCU7Bcao
This happens regardless of instrumemts, and number of track in project.
It can happens even if project is empty.
I can't see what's error because, the terminal displays nothing.
![default](https://cloud.githubuserc

[2017-05-18 13:35] tresf commented on #3561
FYI, Unlike Linux, Windows can't show terminal output without recompiling with the `mconsole` flag, which permanently makes `lmms.exe` open a command window on launch.  This is a limitation of the platform.  We will address this in a future release using a logging framework.

In regards to your problem, does it go away with the latest RC build? (At the time of writing this, 1.2.0-rc2)

[2017-05-18 14:38] Andrew344 commented on #3561
Sorry, I forgot to write, in LMMS 1.2 this problem remains.

[2017-05-18 15:01] musikBear commented on #3494
Was/ are those samples placed in the folder **mySamples**, and properly linked to in **Settings**?
If i understand you correctly, the issue is gone?

[2017-05-18 15:09] musikBear commented on #3561
@Andrew344
Could you try with a VST that is on the list:
https://lmms.io/wiki/index.php?title=Tested_VSTs#Keys
I recommend MDA-piano, because it is tiny in dl and quite good as a piano emulator.
"Predator" is not tested

[2017-05-18 16:16] Andrew344 commented on #3561
MDA piano works OK. Probably, I downloaded the wrong plug-ins. I'm not going to close the issue now. I will try to use different plugins for two more days, if the problem does not appear, the issue will be closed.

[2017-05-18 16:21] Mark-Agent003 commented on #3560
@zonkmachine, does that mean this has been fixed? In what version?

[2017-05-18 16:27] zonkmachine commented on #3560
Yes. Fixed in upcoming RC3.

[2017-05-18 16:27] #3560 closed

[2017-05-18 16:43] Andrew344 commented on #3561
I will try another plugins.

[2017-05-18 22:40] DIpsum opened #3562 "Translation error in the French version of the software (1.2.0-rc2)"
There is a translation error in the French version of the software (1.2.0-rc2)

In "File" it says "Sauvegar**d**der en tant que **om**dèle par défaut".

Here's the correction: "Sauvegarder en tant que modèle par défaut"

[2017-05-18 23:41] speedy-software-ch commented on #3562
I think there is a .po or .mo translation file, or am i missing something?

[2017-05-18 23:44] liushuyu commented on #3562
Tagging our French translator @trebmuh

[2017-05-19 07:48] PhysSong opened #3563 "Pattern length does not change automatically while shifting notes"
Hello,
I'm using LMMS 1.2.0-rc2.

When I press Ctrl(or Shift)+Left(or Right) to shift some notes in piano-roll, the note moves but pattern length does not change automatically.

I think adding m_pattern->updateLength(); to PianoRoll::shiftPos may solve this bug.

[2017-05-19 11:35] musikBear commented on #3561
Ok then that *Predator* is not 'liked' by lmms. A few VST instruments and more FX is that way. Its being looked at.
Does the CPU load stays high after loading?
The best VST in lmms is Synth1. You need to install, but both quality and cpu-load is magnificent
(Your ram-usage looks to be really high, are you running a lot of programs simultaneous with lmms? Soundcard using programs does not like that

[2017-05-19 14:20] Andrew344 commented on #3561
CPU usage is 20% max. I don't run many programs. It's antivirus, system control manager (needs for touch panel working), and qbittorrent.
 I can assume that the problem is in the error operating system because sometimes, I see a blue screens. It all appeared after use "cleaners". I will re-install Windows and then write about the results.
Thank you for help.

[2017-05-19 15:26] BaraMGB commented on #3563
If you want you can provide a pull request for your solution.

[2017-05-19 15:46] probonopd commented on #3558
The file above produced
https://transfer.sh/HKhdZ/LMMS-git.f5fa745-x86_64.AppImage
Please test, and please use the yml file linked above as an inspiration for the pull request.

[2017-05-19 15:51] probonopd commented on #3558
By the way, while I agree `makeself` can do many things, it's not so much about the wrapper format (be it zip, makeself, or AppImage) but how one makes the actual payload binaries that go inside what determines the "out of the box" compatibility with different target systems (distributions). And makeself needs to extract the contents of the entire archive before it can execute the payload, whereas

[2017-05-19 16:05] n-pigeon opened #3564 "VST compilation fail on Ubuntu 17.04"
```File does not exist: /usr/lib/i386-linux-gnu/wine/libwinecrt0.a```

Full log:
https://hastebin.com/pubopoteke.erl

tresf suggested that this workaround could fix this for 17.04:
https://github.com/LMMS/lmms/pull/3130/files

[2017-05-19 16:31] n-pigeon opened #3565 "New theme not active by default in 1.2"
When I've compiled 1.2 and tried it first time new theme didn't load properly.

I've fixed it going to `Settings` and changing `Theme directories` to `classic` and back to `default`.
I think it uses windows like `appdata` shortcut thats why it doesn't load correctly.

[2017-05-19 18:46] Texxiliator commented on #3565
Isnt that normal you dont have classic theme by default?

[2017-05-19 19:37] Andrew344 commented on #3561
I re-installed Windows, and VST doesn't work. Again.  I install Visual C++ , and  it 's still doesn't work.
![lmms](https://cloud.githubusercontent.com/assets/28777908/26263970/a09029ce-3ce3-11e7-95ac-fff691c6bf5b.png)
![lmms2](https://cloud.githubusercontent.com/assets/28777908/26263977/a66a032e-3ce3-11e7-8b68-fa7ede50689a.png)

[2017-05-19 20:01] Andrew344 commented on #3561
ART PYRITE free works OK, but it's crashed after three minutes using. I will continue experiments.

[2017-05-19 20:17] n-pigeon commented on #3565
@Texxiliator
Sorry if I wrote something confusing.

I've opened LMMS 1.2 and I had broken theme, some stuff were new theme some old.
I wanted to fix it, so first I've turned ON classic theme. It fixed it but looked like classic :P
Then I've turned ON new default theme and it looked like it should this time. It loaded properly.

I hope this clarifies things.

[2017-05-19 20:32] BaraMGB commented on #3565
@n-pigeon may be you haven't properly deinstalled the old version of lmms? You also have to remove the .lmmsrc file.

[2017-05-20 01:08] PhysSong commented on #3563
I know, but I wonder if there are any better solutions. If there's no better solution, then I'll make a pull request.

[2017-05-20 01:13] PhysSong commented on #3563
@BaraMGB I know, but I wonder if there are any better solutions. If there's no better solution, then I'll make a pull request.

[2017-05-20 09:10] BaraMGB commented on #3563
We should give it a try. Please make a pull request against stable-1.2

[2017-05-20 17:38] zonkmachine commented on #3495
As this looks solved I'm closing this now. Please check out the forum and specifically the [support](https://lmms.io/forum/viewforum.php?f=7) section which has more traffic than the github site.

[2017-05-20 17:38] #3495 closed

[2017-05-20 17:46] Umcaruje commented on #3562
@DIpsum please refer to https://github.com/LMMS/lmms/wiki/Creating-a-localization#how-to-create-a-translation

to help improve the translation

[2017-05-20 19:31] DIpsum commented on #3562
ok, I've send a request to join the Transifex LMMS team

@trebmuh

[2017-05-20 19:44] ghost opened #3566 "About C* Eq, C* Eq2x2 and Multiband EQ in LMMS 1.1.3 (French version in Win7)"
About C* Eq, C* Eq2x2 and Multiband EQ in LMMS 1.1.3 (French version in Win7)

1) An error of labeling :

When you add C* Eq (=mono), it's C* Eq2x2 (=stereo) that appears
When you add C* Eq2x2 (=stereo), it's C* Eq (=mono) that appears

2) When you add C* Eq or C* Eq2x2, it appears that a notch filter is automatically applied to the signal at +/- 22 kHz (I see this through Sonogram SG-1). It seems

[2017-05-21 08:33] Andrew344 commented on #3561
I installed someone's plugins  from https://lmms.io/wiki/index.php?title=Tested_VSTs#Keys and it works OK, LMMS doesn't crash. I will use this.

Thanks.

[2017-05-21 08:33] #3561 closed

[2017-05-21 11:40] karmux opened #3568 "Zoom button has inverted functionality"
This issue is about Piano Roll, Automation Editor and Song Editor. Before it worked same way as in wiki: https://lmms.io/documentation/Song_Editor#Zoom_Control

Scenario 1: For example in piano roll current zoom is 100%. To see notes a little bit closer I want to zoom in. I use mouse left button to click the "100%" button. I expect piano roll to zoom in because in most programs (Audacity etc) left

[2017-05-21 11:52] Umcaruje commented on #3568
I agree on this :+1:

[2017-05-21 13:57] zonkmachine commented on #3568
:+1: Please fix this.

[2017-05-21 16:41] karmux commented on #3568
This bug was introduced by #3273. I reverted it and fixed scrolling in different way. Now zooming works correctly with both mouse scrolling and mouse clicking.

[2017-05-21 18:17] zonkmachine commented on #3568
You can scroll the zoom combo box or 'Ctrl + scroll' the window you want to zoom. With your fix the scrolling action now works in opposite directions for these two options. This was one of the things I tried to fix in #2517.

[2017-05-21 19:15] karmux commented on #3568
@zonkmachine ctrl + scrolling windows is still working as expected. If you look changes of my PR you see I switched -- and ++ there.

About scrolling zoom combo box you are correct. Forgot to that I can scroll it. But it seems to be consistent with other comboboxes now if clicking or scrolling on it. What about reverse sorting items in combo box so that 800% is on top and 12.5% is on bottom? In th

[2017-05-21 19:42] Umcaruje commented on #3568
:+1:

[2017-05-21 19:45] DIpsum commented on #3562
OK, I corrected the error in the Web Editor

[2017-05-21 19:47] Umcaruje commented on #3562
:+1:

[2017-05-21 19:47] #3562 closed

[2017-05-21 20:25] midi-pascal commented on #3562
Merci :-)

On 17-05-21 03:45 PM, DIpsum wrote:

[2017-05-21 21:09] BaraMGB commented on #3563
Works like a charm.

[2017-05-21 21:09] #3563 closed

[2017-05-22 14:35] BaraMGB commented on #3449
Perhaps we can put out a warning for users. I don't have a clue how to fix it at the moment.

[2017-05-22 15:46] karmux commented on #3568
Actually this wouldn't make anything better but again inverts zooming when clicking that #3570 is trying to fix.

I'd leave PR as it is right now since:
- ctrl + scrolling windows works in correct way
- clicking on zoom combo box works in correct way
- scrolling zoom combo box options works exactly like scrolling Q, scale, chord or any other combo box options

[2017-05-22 16:01] musikBear commented on #3449
@BaraMGB is cmd-line rendering important? Is this used by many users?

[2017-05-22 16:09] musikBear commented on #3568
@karmux

That was my thought too, one thing that perhaps could be an improvement in selects, was to let them loop. Ive done that in AS3 for scaling of things like text, and it is often a help to get to the wanted value faster. -Up to you :)

[2017-05-22 16:59] zonkmachine commented on #3568
///

If you want the scroll to work in the same direction you could stop inverting the action on 'Ctrl + WheelEvent'. I'd rather see the action be the other way if it's possible but at least this way they would work the same direction. In any case it's not a big deal for me and I'm happy to see it the same way as in 1.1.3 .

That would be too confusing for me. I like the scroll to stop at the end

[2017-05-22 18:54] BaraMGB commented on #3449
The problem is in the current version we have a crash. Crashes are always bad. If we catch this up and print out "you can't render a project with Vst plugs on the command line". This were a few better behavior.

[2017-05-22 19:24] zonkmachine commented on #3449
Could this be related to https://github.com/LMMS/lmms/issues/2143?
A project with a VST instrument will open the instrument GUI by default. In the projects I've tried the GUI is hidden behind the other windows but it's open nonetheless.

[2017-05-22 20:05] BaraMGB commented on #3449
Yes, if we fix this one here we could fix https://github.com/LMMS/lmms/issues/2143

But I don't know a way to use a Vst without gui.

[2017-05-22 20:17] Umcaruje commented on #3449
Well when the window is closed, the gui is destroyed and you still use the VST, right?

[2017-05-23 11:49] trebmuh commented on #3562
Yep, good eyes @DIpsum .
I had already submitted a patch for those 2 typos 2 weeks ago ( https://github.com/liushuyu/lmms-translations/pull/7/files ) and that have been merged already. So I hope there will not be a conflict here. @liushuyu please, advise.

[2017-05-23 21:38] #3166 closed

[2017-05-24 16:58] miketurn commented on #1974
@tresf
Hello, it has been a while.
I forgot that my comment generated a couple of responses here, good to see that others are possibly still interested in this feature.  Hopefully this issue gets "Opened" again someday, rare to see an idea on this site completely closed the way this one was.
I have been trying to convince someone I know to join this forum, most of my ideas have actually come from

[2017-05-24 17:15] miketurn commented on #3302
That is a shame that the left and right shift keys can not be distinguished between each other.
I am not greatly familiar with all the LMMS hotkeys to suggest other keys.
Any other ideas for some keys that can be used to achieve this, if this is still a desired feature to be added by others.

[2017-05-24 17:27] miketurn commented on #3154
Noticed this was never given any kind of labeling, as mentioned this isn't a huge deal but I would have thought that more would agree against the behavior of how it currently functions.
Usually when in a specific window I would expect the scrolling to stop at the end of that windows scrollbar.

[2017-05-24 17:58] BaraMGB commented on #3154
I guess this is a specific Qt behavior that we can't change.

[2017-05-24 18:11] BaraMGB commented on #1974
I think this is a valid issue. We should reopen this. @tresf?

[2017-05-24 18:19] tresf commented on #3154
Qt events propagate upwards (to parents) by default when nothing is left to receive events (such as mouse click, keystrokes, mouse wheel).  This behavior can be overridden.

[2017-05-24 18:35] BaraMGB commented on #3154
Okay, I set it on the list.

[2017-05-24 20:49] Lechetunes opened #3574 "Exports .WAV as Backup File"
**Issue**: LMMS exports .wavs as a backup file.
![test export pic](https://cloud.githubusercontent.com/assets/28935168/26424800/aefe0954-408f-11e7-81e0-067b2625b035.png)
**Version**: 1.2.0-rc2
Had the issue for the last few months now.
First saw problem when I updated to the 1.2 beta.

**Can Be Avoided by**
- Re-exporting through audacity.
- Exporting between loop markers.

**Export Settings**
Fil

[2017-05-25 18:54] CaitlinChoban commented on #3494
They were not linked in my settings at the time. However i did do that recently when I was referencing the manual. So they are now.
The issue seems to be gone. i still have not had any more problems with audiofileprocessor.

[2017-05-26 04:54] tresf commented on #3494
Thanks for the update.  Closing as `invalid`.  Please request a reopen if the issue reoccurs.

[2017-05-26 04:54] #3494 closed

[2017-05-26 05:55] tresf commented on #3564
@n-pigeon thanks for the bug report.  `libwinecrt0.a` missing seems to be a common problem amongst build environments.  Can you please `updatedb` and post the output of `locate libwinecrt0.a` so that we can see where it's located and why it's failing?

[2017-05-26 20:29] Andrew344 opened #3577 "About track position"
It would be convenient if the position window was near the mouse cursor, but not near the end of the track. The problem is that if the track doesn't completely fit on the screen, it's hard to work with it.

![image](https://cloud.githubusercontent.com/assets/28777908/26511032/c601aa9a-4268-11e7-9969-e8f3d2fba1ea.png)

![lmms](https://cloud.githubusercontent.com/assets/28777908/26511165/7289e5c0-42

[2017-05-27 04:28] B4Hire opened #3578 "Music slower than its supposed to be?"
For some reason the music is playing really slow, its very weird.

[2017-05-27 09:14] Texxiliator commented on #3578
???
Give us more info! We cant fix a problem when we dont know what or how it works!

[2017-05-27 14:41] Umcaruje commented on #2831
We've successfully redesigned all of the effects. Thank you to everyone involved :tada: :tada: :tada:

[2017-05-27 14:41] #2831 closed

[2017-05-27 16:18] musikBear commented on #3577
I think thats what we call *the view*
i do not get what you mean. You have 2 screenshots the 2. is magnified x900, where do you want the view to focus?
Should the drawed  q-marks be in view-center?

[2017-05-27 16:20] musikBear commented on #3578
@B4Hire Sounds like a hidden 'global automation'
Right-click the BPM-gadget, and find the item

[2017-05-27 17:35] unfa opened #3579 "Save/Load windows layout"
I've recently started using LMMS on dual FHD monitors, it's amazing how much stuff I can fit!

However, when I loaded a project that I worked on with the dual monitors (LMMS windows stretched to cover all my display space) I had to maunally restore the window layout so something that'll fit on one screen.

So an Idea came to me - could LMMS have window layout presets?

I could prepare myself windo

[2017-05-27 18:09] midi-pascal commented on #3579
:+1:

[2017-05-27 18:16] miketurn commented on #1974
@tresf
@BaraMGB
Thank You for this

[2017-05-27 18:27] miketurn commented on #3154
@tresf
@BaraMGB
Thank you for this also

[2017-05-27 19:24] tresf commented on #3578
Per @musikBear please see https://lmms.io/wiki/index.php?title=Working_with_Automation#Song-global_automation.

If this doesn't fix it, let us know and we'll reopen.

[2017-05-27 19:24] #3578 closed

[2017-05-27 19:25] tresf commented on #3577
@Andrew344 are you requesting that the zoom feature always zooms at the mouse position?  (If so, I agree, but the title and description should be edited to reflect this).

[2017-05-27 19:42] Spekular commented on #3577
I'm pretty sure they're talking about the "current position" tooltip not
being visible when the end of the track is offscreen. It could be anchored
to the mouse x position to fix this.

On May 27, 2017 21:25, "Tres Finocchiaro" <notifications@github.com> wrote:

[2017-05-27 20:05] B4Hire commented on #3578
@Texxiliator Instead of the music going regular time, a second is taking longer than it should have so its going kinda like slow motion. When I first downloaded lmms it didn't have this problem so idk if I pressed something and made it go like that.
@musikBear I tried to remove global automation from the BPM but it didn't change the music really. It made it a little faster but it wasn't the normal

[2017-05-27 20:40] zapashcanon commented on #3578
Are you using Windows, Mac OS X or Linux ?

[2017-05-27 22:31] B4Hire commented on #3578
Windows

On Sat, May 27, 2017 at 4:40 PM, Léo Andrès <notifications@github.com>
wrote:

[2017-05-27 22:57] Hussam-Eddin-Alhomsi opened #3580 "The "master pitch control" doesn't work all the time."
I have a _sample track_ and an _instrument plug-in track_ in a normal LMMS project.
The **MASTER PITCH** control in **GENERAL SETTINGS** > **MISC** is off by default for both of them, but it doesn't do its job. Both are getting affected by the **master pitch** slider when I change it. I tried turning the control on and off but that doesn't seem to have an effect.
It worked once with an _instrument

[2017-05-27 23:00] Hussam-Eddin-Alhomsi commented on #3580
.

[2017-05-27 23:01] Hussam-Eddin-Alhomsi opened #3581 ""Time-line position marker" GUI bug in "Song-Editor"."
This is how the "time-line position marker" looks after opening LMMS:
![lmms song position 1](https://cloud.githubusercontent.com/assets/25503477/26524757/a8730224-4346-11e7-8aa2-24bfe6b8a378.PNG)
This is how the "time-line position marker" looks after moving it/playing the song (this is how it should look like, right?):
![lmms song position 2](https://cloud.githubusercontent.com/assets/25503477/2

[2017-05-27 23:02] Hussam-Eddin-Alhomsi commented on #3580
Closed the issue by mistake.

[2017-05-27 23:15] BaraMGB commented on #3577
@Spekular that's what I understand, too. I agree with the issue opener.

[2017-05-27 23:58] tresf commented on #3578
Please change sound settings to SDL and reboot your computer and post your results.

[2017-05-28 00:41] zonkmachine commented on #3580
I believe this is a duplicate of https://github.com/LMMS/lmms/issues/2612

[2017-05-28 01:38] B4Hire commented on #3578
@Texxiliator <https://github.com/texxiliator> That fixed it, thanks

On Sat, May 27, 2017 at 7:58 PM, Tres Finocchiaro <notifications@github.com>
wrote:

[2017-05-28 10:52] musikBear commented on #3581
sorry cant see any difference - can you make pictures that only focus the issue, and not the whole screen. Pictures look identical to me

[2017-05-28 10:59] Umcaruje commented on #3581
ah I get it, it doesn't extend to the end of the screen when it gets loaded, yeah this is a bug

[2017-05-28 11:00] Umcaruje commented on #3580
Duplicate of #2612

[2017-05-28 11:00] #3580 closed

[2017-05-28 11:34] GuessWhatBBQ commented on #3564
Workaround not affective.Compiled with `make -Bi` to get operational app.
Output of `sudo updatedb` then `locate libwinecrt0.a`:
 `foo@foo:/media/foo$ sudo updatedb`
`foo@foo:/media/foo$ locate libwinecrt0.a`
`/usr/lib/i386-linux-gnu/wine/libwinecrt0.a`
`/usr/lib/x86_64-linux-gnu/wine/libwinecrt0.a`

[2017-05-28 12:19] GuessWhatBBQ opened #3582 "VST compilation fail on Ubuntu 16.10"
Errors:
`/usr/bin/ld: skipping incompatible /usr/lib/x86_64-linux-gnu/wine/libwine.so when searching for -lwine`
`/usr/bin/ld: cannot find -lwine`

https://hastebin.com/uvumutoman.erl

[2017-05-28 17:22] n-pigeon commented on #3564
Oh sorry forgot about this.
Here is location: `/usr/lib/x86_64-linux-gnu/wine/libwinecrt0.a`

Sorry for late reply :<

[2017-05-28 18:52] karmux commented on #3564
@n-pigeon is `libwine-dev:i386` installed?

[2017-05-28 18:54] karmux commented on #3582
Hi @GuessWhatBBQ have you looked into #3142?

[2017-05-28 19:13] n-pigeon commented on #3564
@karmux yes

[2017-05-28 20:44] tresf commented on #3564
@n-pigeon reproduced on 17.04.  `libwine-dev:i386` installs `/usr/lib/i386-linux-gnu/wine/libwinecrt0.a` properly, but cmake still finds the 64-bit version...

This appears to be caused by `wine64-tools`, somewhat explained here #3142 (thanks @karmux!)

Note, `wine32-tools:i386` will remove `wine64-tools` and compilation will succeed.  I've added this information to our wiki here: https://github.c

[2017-05-28 20:47] tresf commented on #3582
@GuessWhatBBQ per @karmux's research in #3142, can you please run:

[code]

This will remove `wine64-tools` and install the `wine32-tools`, which should allow the build to succeed.

[2017-05-28 22:59] Hussam-Eddin-Alhomsi opened #3584 "2 "Beat+Bassline Editor" GUI bugs."
There are 2 bugs with the "Beat+Bassline Editor".

(1) The first bug: the right side of the "B+B E" near the last 2 steps of the fourth beat gets cropped when the "B+B E" opens.

An example:
Opening LMMS then opening the "B+B E":
![beat bassline editor 1](https://cloud.githubusercontent.com/assets/25503477/26532646/01fd8332-440f-11e7-830f-5b8d1ab8fae2.png)

(2) The second bug: when the "B+B E" is

[2017-05-29 01:54] 1bcow opened #3585 "Nexus"
Nexus doesn't work after saving project and reloading the project.

[2017-05-29 07:48] GuessWhatBBQ commented on #3582
Thank you @karmux
Research followed through.
Compilation success with full(hopefully) Vst support only for 32bit dlls (64bit dlls still fail but that's another story).

[2017-05-29 13:15] Hussam-Eddin-Alhomsi opened #3586 "LMMS's native samples."
I was browsing through LMMS's native sample and I found some bad issues that need to be fixed:
•  Bad naming, sorting and grouping.
• The peak amplitude of the samples isn't consistent.
• Unnecessary silence.
• Most of the samples use the Ogg file format which is a lossy compression format.
• Unwanted noise and compression artifacts.
• Aliasing.
• Click, pops.

Where do these samples come from and

[2017-05-29 13:19] Hussam-Eddin-Alhomsi commented on #3586
Fixing these issues is essential.
I have experience in audio editing and I would like to work on them or add new ones.
Where can I start?

[2017-05-29 13:39] Spekular commented on #3586
There's an initiative to completely replace the default samples, which would most likely fix all of the above issues as well. Check out the LMMS samples repository here: https://github.com/LMMS/samples

You can also get on Discord, there's been some discussion of the sample project there as well:
https://discordapp.com/invite/PHcQDx3

[2017-05-29 13:40] Umcaruje commented on #3586
The samples replacement project is ongoing on https://github.com/LMMS/samples @iamwontolla took point on this and already made some samples. There is always help needed on actually discussing and testing the samples, but that is all handled in the other repo.

Also if you ever want to talk with us directly, the easiest way is our discord server: https://discord.gg/PHcQDx3

[2017-05-29 13:40] Umcaruje commented on #3586
@Spekular ninja'd

[2017-05-29 13:53] #3511 closed

[2017-05-29 14:00] BaraMGB commented on #3584
both bugs confirmed. They are related. I look into it.

[2017-05-29 14:13] BaraMGB commented on #3584
A quick workaround is to resize the bbEditor window.

The problem here is, the size of the window is saved with the project. But our new theme uses more space in width for the B+B editor. So the right side is cropped.

[2017-05-29 14:26] Hussam-Eddin-Alhomsi commented on #3584
I'm aware of that.

Got it, 😉

[2017-05-29 14:32] Umcaruje commented on #1731
Seeing as this is not a new bug, should we get this moved out to the 1.3 milestone?

[2017-05-29 14:49] musikBear commented on #3586
Important!

[2017-05-29 14:51] musikBear commented on #3586
-remember **not** to use **file-names** already used in current packs, that would destroy existing projects. That would be a bad thing.

[2017-05-29 15:33] zonkmachine commented on #1731
OK with me.

[2017-05-29 16:40] #2030 closed

[2017-05-29 16:41] Umcaruje commented on #3105
The op hasn't replied in more than a month and #3576 should fix this. It will be available in RC3. If this issue still exists in RC3, @hedwig2013 let us know so we reopen.

[2017-05-29 16:41] #3105 closed

[2017-05-29 17:03] SirBothersome commented on #3586
@Umcaruje So I guess @unfa and my work is just gonna sit in Limbo then? ;-; I've had two PR's sitting there for months... Whatevs tho

[2017-05-29 17:07] tresf commented on #3586
Let's discuss those in the samples repository and/or Discord please.  At the time of typing this there are 47 open pull requests for the codebase alone.  We are backlogged and samples are lower on that priority.

[2017-05-29 19:53] BaraMGB commented on #3565
Not answered in ten days. I close this issue. If this problem is not solved for you please inform us.

[2017-05-29 19:53] #3565 closed

[2017-05-29 19:57] BaraMGB commented on #3519
@Nitrocell12345 I close this issue by not answering in 29 days. If this issue is not resolved for you please inform us.

[2017-05-29 19:57] #3519 closed

[2017-05-29 21:23] BaraMGB commented on #3584
Okay, after a deeper dive into this problem I found it. If a project will be saved and a window is hidden a given size will be saved with the project. In case of the BB Editor this is 640 x 400 Pixel.

@Wallacoloo Do you know why this is necessary? This leads to this bug.

[2017-05-29 21:39] Wallacoloo commented on #3584
@BaraMGB I vaguely remember changing that code. IIRC: Previously, the behavior was that all open windows have their positions/sizes saved so that the workspace remains identical when the project is reopened. But oftentimes people arrange the windows specifically (e.g. mixer on right, B+BE on left) and minimize/hide them when not in use. When they save the project & these windows aren't visible, th

[2017-05-29 21:42] Umcaruje commented on #3584
We removed minimization of windows, they can only get closed now.

[2017-05-29 21:46] Wallacoloo commented on #3584
It might have covered both minimized and closed windows - not sure (maybe
hunt down the commit message).

On May 29, 2017 2:42 PM, "Umcaruje" <notifications@github.com> wrote:

[2017-05-29 21:47] BaraMGB commented on #3584
If we'd fix that and save the actually size no matter the window is hidden or not the problem persist for older projects. It would be only fixed for projects which will be saved with this new program version.

[2017-05-30 07:46] BaraMGB opened #3590 "sampletrack mutes the playing sample by muting a different one"
![mutingsampletrack](https://cloud.githubusercontent.com/assets/6502580/26573085/add4c1b2-451c-11e7-9538-bdc66b076f52.jpg)

By muting/unmuting a sample on a sampletrack the playing sample will be muted, too.

[2017-05-30 09:13] PhysSong commented on #3590
Changing sample file of other sample track object also mutes the playing sample track, too.

https://github.com/LMMS/lmms/blob/stable-1.2/src/tracks/SampleTrack.cpp#L168
Engine::mixer()->removePlayHandlesOfTypes( getTrack(), PlayHandle::TypeSamplePlayHandle );
in SampleTCO::playbackPositionChanged()

It removes play handle(s) of currently playing sample(s). I think it causes this problem.

[2017-05-30 11:41] farvardin commented on #3288
oh, the stop, then rewind to start was annoying as hell! I'm glad I've learned the button close to the magnifier was for changing this behavior: stop rewind to start / stop rewind to previous position / stop and do nothing else. Maybe it could be set to stop and do nothing else by default.

[2017-05-30 15:43] musikBear commented on #3288
Duplicate of a duplicate, its been up *many* times to have a key-short for just **stopping** -eg the same behaviour as when **pause** is mouse-clicked

[2017-05-30 17:23] tresf commented on #3582
Yes, this is a problem.  I spent a day trying to crack it but it appears something with either `gcc`, `winegcc` or the `winebuild` utility are broken and upstream probably needs a bug report.

According to the docs I'm reading, `gcc` should be perfectly capable of compiling using `m32` but somewhere along the way [`winegcc` (a wrapper around `gcc`)](https://linux.die.net/man/1/winegcc) started lin

[2017-05-30 17:56] GuessWhatBBQ commented on #3582
I really think a dedicated issue report would attract more willing developers to try and solve this problem instead of a closed issue.(A simple copy paste of the above should do it)
@tresf

[2017-05-30 18:20] tresf commented on #3582
I've crawled the internet and back again and it appears only a handful of people have solid experiencing hacking `winegcc`, or at least those that use it don't talk about it much.  For I've emailed Toby to see if he can point us in the right direction.  We can use this bug report for tracking it and I'll close the other as a duplicate of this.

[2017-05-30 18:21] tresf commented on #3564
Closing as duplicate of #3564.  We'll work towards a more permanent solution over there.

[2017-05-30 18:21] #3564 closed

[2017-05-30 18:55] Sawuare opened #3592 "Moving and dragging & dropping tracks enhancement."
* When clicking on a "move-grip" or the track label  or any empty space in a track, this is what happens:
![bug 1](https://cloud.githubusercontent.com/assets/25503477/26597071/6d0a4618-4579-11e7-8295-92cd8fa68702.png)
"Move-grip", "Actions for this track" and "Mute this track" disappear but "Solo" doesn't.

* Dragging & dropping a track can only be done after pressing & holding Ctrl then clicking

[2017-05-30 19:35] tresf commented on #3582
So here's a conversation including @jasp00 in regards to this new(ish) `wine64-tools` package which seems to be the difference between the working Ubuntu 16.04 and the broken Ubuntu 16.10 environments.

https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=824673#27

To quote the mailing list...

@jasp00 writes:

He specifically mentions the `-L` flag which is identical to this PR https://github.com/L

[2017-05-31 02:25] tresf commented on #3582
Ok... I deleted `build/plugins/vst_base` and `#3220` seems to fix it.   Since @gnudles's original branch is deleted, reopened under https://github.com/LMMS/lmms/pull/3593.

@GuessWhatBBQ @n-pigeon can you reinstall `wine64-tools` and do a fresh build with this patch applied?

[2017-05-31 07:33] PhysSong commented on #3592
Actually (2) isn't a bug. It is a feature that shows the track is moving.
See link below:

https://github.com/LMMS/lmms/blob/stable-1.2/src/core/Track.cpp#L1770-L1774

[2017-05-31 07:41] BaraMGB commented on #3592
But why the solo button isn't hide? This is a little bit confusing.

[2017-05-31 08:11] karmux commented on #3592
(3) is #757. Seems that some people have this issue (me and @Hussam-Eddin-Alhomsi) while some don't (@davidgerard).

[2017-05-31 09:37] GuessWhatBBQ commented on #3582
Do I just `git pull` and then `make clean` and `make` ?

[2017-05-31 13:15] Hussam-Eddin-Alhomsi commented on #3592
I removed the bug (that's what I thought) from my first comment that was about the ability of moving a track when clicking & holding & dragging in areas other than the "move-grip" because @BaraMGB said that it's a feature,
But there's a new bug that I noticed which is the third one now.

[2017-05-31 14:28] Umcaruje commented on #2528
Closed via #3569

[2017-05-31 14:28] #2528 closed

[2017-05-31 14:36] tresf commented on #3585
Duplicate of #3274 .

[2017-05-31 14:36] #3585 closed

[2017-05-31 14:39] #3586 closed

[2017-05-31 15:17] tresf commented on #3480
No cross-references in 2 months.  Closing as a duplicate of #3447.

[2017-05-31 15:17] #3480 closed

[2017-05-31 16:21] musikBear commented on #3592
OS? Lmms vers? ..
Not seen on win32 xp up to 1.190 at least

[2017-05-31 16:29] musikBear commented on #3586
in Principe yes, but it would be so natively wrong to have different data with same names. Current samples will be preserved by everyone that has used lmms before the arrival of a **new** (up till now elusive) sound-sample-pack, and it will be hell for those users (us) if different data-elements has same names
Lets for GS avoid that!
And **LOCK** this now, and force this issue to discord!

[2017-05-31 16:36] Hussam-Eddin-Alhomsi commented on #3592
I'm on Windows 10 Pro 64-bit using LMMS 1.2.0-rc2.

[2017-05-31 16:40] karmux commented on #3592
Linux master and with both Qt4 and Qt5.

[2017-05-31 17:05] tresf commented on #3586
Two separate arguments but I don't disagree.  It's quite common sense to not use the same name twice in an interface but the severity is much different.

More appropriately, discord and the samples repository.  I recommend anyone that is not already subscribed to the samples repository but interested in following these types of topics to do so here:

https://github.com/LMMS/samples/subscription

D

[2017-05-31 17:08] tresf opened #3594 "Fix semantic versioning"
We've been using the `1.0.0-rc1` style releases, however this is not proper.

According to semantic versioning, it should be "rc.1" instead of "rc1". (e.g. `2.0.0-rc.1`)

http://semver.org/spec/v2.0.0-rc.1.html

[2017-05-31 17:14] tresf commented on #3582
@GuessWhatBBQ I assume `libwine-dev:i386` is still installed and that `/usr/lib/i386-linux-gnu/wine/` exists on your machine?

I would recommend firing off a brand new build if possible (e.g. remove the `build` directory completely).  I've had mixed results if I don't.

[2017-06-01 03:39] PhysSong commented on #3592
@BaraMGB

Should we hide solo button? or just hide move-grip and action button only?

[2017-06-01 07:15] BaraMGB commented on #3592
I'm not sure if hiding is a good idea at all. It has a taste of bug. @umcaruje @tresf @other?

[2017-06-01 07:22] Spekular commented on #3592
A transparent gray box over the whole track label to signal "inactive"
might look less buggy?

On Jun 1, 2017 09:15, "Steffen Baranowsky" <notifications@github.com> wrote:

[2017-06-01 10:00] GuessWhatBBQ commented on #3582
This is the error without libwine-dev:amd64 installed with `make VERBOSE=1`(I deleted the build directory as asked):

cd /home/guesswhatbbq/lmms/build/plugins/vst_base && /usr/bin/wineg++ -I"/home/guesswhatbbq/lmms/build" -I"/home/guesswhatbbq/lmms/include" -I"/usr/local/include/wine/windows" -I"/usr/local/include" -I/usr/include/wine/windows "/home/guesswhatbbq/lmms/plugins/vst_base/RemoteVstPlug

[2017-06-01 10:26] GuessWhatBBQ commented on #3582
After installing libwine-dev:amd64 and libwine:amd64
<pre>
<code>
[ 83%] Generating ../RemoteVstPlugin
cd /home/guesswhatbbq/lmms/build/plugins/vst_base && /usr/bin/wineg++ -I"/home/guesswhatbbq/lmms/build" -I"/home/guesswhatbbq/lmms/include" -I"/usr/local/include/wine/windows" -I"/usr/local/include" -I/usr/include/wine/windows "/home/guesswhatbbq/lmms/plugins/vst_base/RemoteVstPlugin.cpp" -ansi -

[2017-06-01 10:54] GuessWhatBBQ commented on #3582
Deleted a bunch of useless packages that may cause conflict:
[code]
[code]
No ball

[2017-06-01 12:06] GuessWhatBBQ commented on #3582
I edited the Ubuntu dependency page to also install the `libwine-dev:amd64` package

[2017-06-01 12:10] GuessWhatBBQ commented on #3582
Note: Addition of `-L/usr/lib/i386-linux-gnu/wine/` has no effect if `wine32-tools:i386` is also installed

[2017-06-01 13:05] Hussam-Eddin-Alhomsi commented on #3592
We need an indicator of the ability of moving the track inside the "BB E".

If we are not going to hide anything (which I agree with) I think this would look nice:
![track idea 1](https://cloud.githubusercontent.com/assets/25503477/26680777/51a5a8ca-46e3-11e7-9ea7-311d1f1ed9cf.png)
^ The same green as the "mute this track" button.

If we are going to hide, I think hiding the "Action" button only a

[2017-06-01 14:05] Sawuare opened #3598 "Dragging and dropping tracks in the "Beat+Bassline Editor" GUI bug."
When you move a track from the "Song-Editor" to the "BB E" OR from the "BB E" to itself by pressing <Ctrl> and clicking on "move-grip" then dragging and dropping, this is what happens to the track moved:
![bug 1](https://cloud.githubusercontent.com/assets/25503477/26595244/75368e92-4573-11e7-9aa5-dc8b1916ebef.png)
This bug can go away by playing the current beat/bassline.

[2017-06-01 14:09] Hussam-Eddin-Alhomsi opened #3599 "Dragging and dropping tracks from the "Song Editor" to the "Beat+Bassline Editor" bug."
When you move a track from the "BB E" to the "Song-Eidtor" by pressing <Ctrl> and clicking on "move-grip" then dragging and dropping a note will be added to the moved track.
This is the original track that I moved (it contains no notes or active steps):
![bug 3](https://cloud.githubusercontent.com/assets/25503477/26596205/995a9464-4576-11e7-9ff7-04925c3e9b0a.png)
This is the "Song-Editor" view of

[2017-06-01 14:16] Hussam-Eddin-Alhomsi opened #3600 ""Beat+Bassline Editor" excess steps GUI bug."
When you have a track in the "BB E" with this bug: https://github.com/LMMS/lmms/issues/3598 and then add steps, this is what happens:
![bug 4](https://cloud.githubusercontent.com/assets/25503477/26633251/6ebd9580-461b-11e7-98c7-97d5868f2911.png)
^ The first track is normal, the second has the bug.
This bug can go away by removing steps to the minimum steps in the "BB E" that is 16 steps.

[2017-06-01 14:58] tresf commented on #3582
Please use `wine64-tools` as that's the baseline for this bug report as well as the fix proposed in the PR.  `wine64-tools` conflicts with `wine32-tools` so all testing should use `wine64-tools` specifically.

I think simply `libwine-dev` will do the same thing, as `amd64` is the default architecture.  Anyway, once we determine if the `-L` trick works, we need to do a clean-build on a fresh instal

[2017-06-01 16:05] musikBear commented on #3592
since earlier (<1.9n) ver. did not have this, it points at qt5

[2017-06-01 16:42] zonkmachine commented on #3600
Since this is not an issue if you press play and the pattern is visible before you add steps, it's probably just another aspect of https://github.com/LMMS/lmms/issues/3598 and not an issue of its own.

[2017-06-01 16:49] zonkmachine commented on #3599
Confirmed. This is not in old stable. I'm bisecting this.

[2017-06-01 16:49] BaraMGB commented on #3592
This issue is reduced to only one issue. We only talk about what's described in the first comment now.

[2017-06-01 17:20] GuessWhatBBQ commented on #3582
Well this is embarassing...
Fixed it

Ditto about this ^.
Modified extra packages required for 64-bit in Ubuntu Dependency Wiki. Does my edit become live instantly ?

Would a simple liveboot suffice as a clean install would be too time consuming, for me at least

Noted. Switched back to `wine64-tools`

Compilation Succeeded with `-L/usr/lib/i386-linux-gnu/wine/`
As per [verbose_output.txt](https:/

[2017-06-01 19:11] zonkmachine commented on #3600
I found that this issue is introduced in the same commit as #3598

[2017-06-01 19:11] #3600 closed

[2017-06-01 19:13] zonkmachine commented on #3598
Behaviour introduced in commit 703a42e77cc5e14cf435adbc799feb7079a781fc

[code]

[2017-06-01 20:01] tresf commented on #3582
Yes.

If your RAM can afford it.  If not, I can do it.  Anyway, merging and closing.  Thanks a ton!

[2017-06-01 20:02] tresf commented on #3582
I've done it 5 times now so it was an educated guess. 😆

[2017-06-01 20:03] #3582 closed

[2017-06-01 20:31] tresf commented on #3592
1. There's no such version as `1.9`
2. On discord we reproduced with 1.1.3, which uses qt4

Please test, reproduce and post.

[2017-06-02 01:36] #3581 closed

[2017-06-02 04:25] tresf opened #3601 "MacOS Signed Installer"
LMMS on MacOS is distributed in DMG format, which is a simple, drag-and-drop process for installation.

Unfortunately, the software icon will not run when first installed unless you Right Click, Open.  This is due to [Gatekeeper](https://support.apple.com/en-us/HT202491).

The way to fix this is to become a certified Apple developer and then [provide an Apple certificate with our executable](https

[2017-06-02 04:48] tresf opened #3602 "Windows Signed Installer"
Windows XP and higher puts restrictions on desktop installers:
 * Microsoft Edge and IE11 [warn about the download of untrusted executables if there is not a valid file signature](https://cloud.githubusercontent.com/assets/6345473/26710974/5fb210c8-472b-11e7-87b8-d43d74eaa58d.png).
 * A [smartscreen filter](https://cloud.githubusercontent.com/assets/6345473/26710997/79250cea-472b-11e7-9b51-fd9b2fb

[2017-06-02 08:02] GuessWhatBBQ commented on #3582
I didn't buy 8 Gigs for nothing(Not a lot I know,but enough).I'll do it within today

[2017-06-02 09:20] GuessWhatBBQ commented on #3582
Minimal packages required seem to be:
[code]
`libc6-dev-i386` unnecessary as it's installed as a dependency of `gcc-multilib`. As per:
[code]
Other people's mileage may vary but I required a few extra commands to get apt to detect i386 packages in the repo mirror :
[code]

[2017-06-02 09:25] GuessWhatBBQ commented on #3582
Note:Trying to run Synth1(32-bit) without `wine32` package installed yeilded
[code]

[2017-06-02 12:50] musikBear commented on #2357
Should not be closed - now it looks looks this specific Bass-Enhancer export-issue is fixed, it is not: http://lmms.io/forum/viewtopic.php?f=7&t=25726&p=46417#p46417

[2017-06-02 13:27] GuessWhatBBQ commented on #3582
I just read the bug report on debian and the whole point of the `-L/usr/lib/i386-linux-gnu/wine/` flag was to safely allow compilation without installing the `libwine-dev:amd64`. Any idea on why that doesn't work ?

[2017-06-02 13:35] tresf commented on #3582
I think it does, you just don't have the 32-bit Wine environment to run it.  I don't believe `wine32-tools` is the same as `wine32`.

[2017-06-02 13:45] tresf commented on #2357
It's not closed as fixed, it's closed as a duplicate of #2953.

[2017-06-02 16:36] GuessWhatBBQ commented on #3582
Understood.Should I go ahead and edit the Dependency page ?

[2017-06-02 17:25] tresf commented on #3582
Sure.  I assume you've verified that `wine32` fixes the message.

[2017-06-02 17:37] GuessWhatBBQ commented on #3582
It does.
As per the message itself and my own experience.
I'm confused about whether this is arch specific or not though.
Any advice ? @tresf

[2017-06-02 18:22] Tipbang opened #3603 "Everything is black"
![screenshot 235](https://cloud.githubusercontent.com/assets/8940216/26739173/71cdfd74-4796-11e7-86a4-f83116236623.png)
![screenshot 236](https://cloud.githubusercontent.com/assets/8940216/26739171/71cbe188-4796-11e7-90d5-e00e4255ccfd.png)
![screenshot 237](https://cloud.githubusercontent.com/assets/8940216/26739172/71cd0536-4796-11e7-9432-2434a3502524.png)

[2017-06-02 18:24] Tipbang commented on #3603
Ok. Nvm. I closed and reopened the program and everything looks good now. It was the first time I opened it after installing that that happened.

[2017-06-02 18:56] eugene-s-nesdev commented on #2930
The bug described at topic start is still present in 1.2.0-RC3

[2017-06-02 19:43] #3603 closed

[2017-06-02 19:45] tresf commented on #3582
I've done some reading on 64-bit wine versus 32-bit wine and I'm not entirely sure myself.  I can't figure out if 64-bit wine is capable of running 32-bit binaries or not.  I've found some forum posts that suggest 64-bit wine can't do it, which sort of validates what we are seeing, but I simply don't know enough to say how this should work.

[2017-06-03 08:40] GuessWhatBBQ commented on #3582
I'll add it as a separate warning/tip then.

[2017-06-03 08:56] aFoxNamedMorris commented on #3582
Wine64 can and does run 32-bit applications. For example, I run Halo Custom Edition, which is a 32-bit executable in my 64-bit Wine prefix.

[2017-06-03 09:11] GuessWhatBBQ commented on #3582
I know. I've run 32-bit applications under Wine64 as well. Doesn't work all the time though.

[2017-06-03 12:56] karmux commented on #2616
I see you've deleted branch with preliminary changes. Are you still working on this?

[2017-06-03 15:21] Hussam-Eddin-Alhomsi opened #3605 "Implementing oversampling in plug-ins."
• Instrument plug-ins (synthesizers only):
When playing high notes on a synthesizer using a harmonically rich wave like a saw wave, there are probably some frequencies that will go above the nyquist frequency, so aliasing occurs.

Just play the note C8 on TripleOscillator using a saw wave to hear the aliasing noise.

My idea about the GUI implementation is a bunch of radio buttons in the plugin ta

[2017-06-03 16:38] aFoxNamedMorris commented on #3582
This is true, but so long as one is using Wine Staging, this is becoming
less so fairly quickly.

[2017-06-03 16:59] GuessWhatBBQ commented on #3582
Haven't tried Wine-Staging sadly.Still using packages from the outdated ubuntu repos 😅

[2017-06-03 18:32] karmux commented on #3582
I'm using Wine-Staging 2.8 and haven't seen 64-bit VST plugin yet that can be run in LMMS.

[2017-06-03 19:09] karmux commented on #2213
I can't reproduce with exact same plugins. LMMS 1.2.0-master and Carla 1.9.7.

[2017-06-03 19:58] mamins1376 commented on #3544
It's not just with Monstro! I can reproduce it with others like Triple and BitInvader. seems the problem comes from envelope function.
- add a default BitInvader on a BaB
- make a pad-like envelope (some ATT, H=D=0, SUS=100%, some R)
- add some notes
- hit play inside piano roll
- deactivate BaB inside playlist

[2017-06-03 21:32] tresf commented on #3582
Pretty sure we need to port a 64-bit bridge then.  Windows does a 64-bit bridge as well as a 32-bit bridge.  AFAIK, Linux has always been 32-bit only.

[2017-06-04 06:37] GuessWhatBBQ commented on #3582
~~Why a 32-bit bridge ?~~
Why does it even need a bridge ?

[2017-06-04 09:44] ghost opened #3606 "Beat+Bass patterns go over grid"
The title says it all. The beat + bass patterns :
![image](https://cloud.githubusercontent.com/assets/22986832/26760525/fce59748-491a-11e7-8df9-0f9b233f6519.png)
goes over the grid.
We could do something like this to prevent it :
![image](https://cloud.githubusercontent.com/assets/22986832/26760530/20da1a16-491b-11e7-8b40-df0753243069.png)
and also this :
![image](https://cloud.githubusercontent.c

[2017-06-04 13:50] styken opened #3608 "Crash when clicking "Quantize" in a Piano-Roll with no pattern"
Reproduce:
1 - open pianoroll
2 - press quantize

[2017-06-04 13:52] Texxiliator commented on #3608
Nothing happens
atleast for me

[2017-06-04 13:52] Texxiliator commented on #3608
What OS are you using?

[2017-06-04 13:54] karmux commented on #3608
I can reproduce.

[2017-06-04 16:04] musikBear opened #3610 "xml structure of project-notes"
I have serious problem with a project. The project will load to 98%, and then it revert to 82% and freeze.
Studying the xml of the mmp, i found a quite complex structure of the xml in the project-notes:
`
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" font-size:12pt;">der bruges ENTEN </span></p>
<p style=" margi

[2017-06-04 16:13] DeRobyJ commented on #3608
I cannot reproduce in Windows 8.1 or Windows 7, 64-bit

[2017-06-04 16:17] musikBear commented on #3610
Better picture:
![xml](https://cloud.githubusercontent.com/assets/6662066/26763356/00ff7fe2-4952-11e7-8401-193ce02148b3.PNG)

[2017-06-04 16:36] musikBear opened #3611 ""Loading project" percentage incorrect"
lmms 1.1.90
win32 xp3

Is there a std sequence in project loading.
More specific, does loading always follow the *same* sequence,
First loading is instruments, then automation then.....
OR
is it different from project to project, depending on the actual structure of the projectfile. Eg loading as a kind of 'what is to come first on screen, will be loaded first'.
I am trying to figure out what the

[2017-06-04 19:27] karmux commented on #326
I tried updating to newer files from https://github.com/kode54/Game_Music_Emu but the noise remained.

[2017-06-04 19:50] tresf commented on #3611
Yes.

[2017-06-04 19:56] tresf commented on #3610
If you have a project that freezes lmms, please share, and let a developer debug.  It's a waste of time for everyone involved to speculate.  `CDATA` tags are always hard to read because it's HTML inside HTML.  A quick Google search would have discovered this.  Also, you should use code  tags for  XML raw data, not a picture.  This bug report is not of acceptable quality.  Please clean it up or it

[2017-06-04 23:04] zonkmachine commented on #326
OK. I had another go at searching and [this repo](https://bitbucket.org/mpyne/game-music-emu/wiki/Home) looks more like a proper upstream and with [more recent commits](https://bitbucket.org/mpyne/game-music-emu/issues).

[2017-06-05 07:50] styken commented on #3608
Do you have an empty roll? I only have the text "Please open a pattern...".
Then I press 'Q' to the left of the scissors.

[2017-06-05 16:56] musikBear commented on #3611
@tresf That is not enough information
One word is not.
So in what situation, and did you manage to find a reason for a revert from 98% to 82%
*If* the loading sequence is sequential, then a revert would mean some kind problem in that sequence.
If you have information about the loading sequence it would be valuable.

[2017-06-05 17:21] tresf commented on #3611
We are all seeing the 68%, 36%, 99% problem and the intent of my `Yes` answer was to answer the portion that was known, without speculating.

Perhaps you can learn C++ and help yourself out.  That would be valuable and would avoid unnecessary `ad hominem`.

[2017-06-05 17:26] musikBear commented on #3610
I only ask if the project notes are over complicated in structure.
With respect to the freeze, i can read the mmp myself, and i have discovered something interesting, that perhaps can explain the chunk issue: #493
I suspect that vst-ui controllers of non-dial or slider type, one example could be a x-y-patch, actually make one entry in the chunk for each **possible** point position!
Synth1 is prope

[2017-06-05 17:42] musikBear opened #3612 "Code question for Whom did implement the VST-dial array"
I have a question for the dev that implemented the array of automateable VST controllers:
Is there is a way to discover, if a controller *on the VST* is saved as a automateable lmms-controller in that array?
If so, maby #493 can be solved

[2017-06-05 18:18] tresf commented on #3612
@musikBear can you please move this discussion to #493 as well as your thoughts?  Opening a brand new bug report to pin down a developer isn't the right way to bring attention to an already open issue.

[2017-06-05 18:28] tresf commented on #3610
CDATA and chunk are considerably different.  CDATA is verbatim, usually HTML parsable data that is intentionally embedded inside HTML to about overkill character escaping.

Chunk data on the other hand is binary/blob data that cannot be represented with a CDATA chunk, but is usually encoded onto the ASCII-compatible base64 encoding scheme, which allows something as complex as an image or a bunch o

[2017-06-05 18:58] miketurn opened #3613 "Remove Message From Project Notes"
Doesn't necessarily matter, but probably can remove the
"Put down your project notes here." from the Project Notes window.
In 2017, probably don't need to tell people how to use a text editor, especially when the window itself is called "Project Notes" :)
This message also causes the user to have to highlight and delete it, in order to start typing.
Sure many will not care about this but, just tho

[2017-06-05 20:51] idtownie commented on #120
I know this thread is super old, but, as a newcomer to LMMS, I think this very much still needs to happen because I was at first completely unaware of the fact that you can put melodies and stuff in the BB editor via the piano roll, not just beat patterns. This was in part due to the UI not making it obvious that you can access the piano roll, but also due to the name. I second "pattern editor".

[2017-06-05 21:01] michaelgregorius commented on #2000
Implemented with #3615 for the export via the GUI. Export via the command line is not supported yet and might be covered by a new issue once #3615 is merged. MP3 import is also not covered by #3615 and should also go into a new issue.

[2017-06-05 21:09] RebeccaLaVie commented on #3606
@Texxiliator Can you update your screenshots with the default theme so that I can better understand your issue?

[2017-06-05 22:08] tresf commented on #2000
`brew install lame` should do the trick for Mac.  If we keep consistent with Windows, we'll need @tobydox to add lame to his ppa for mingw to fulfil the dependency on Windows.  Regardless, it shouldn't be disabled, just built without support, similar to if `libogg` was missing, etc.

[2017-06-06 03:34] follower commented on #3601
Another reason to consider signing the executable is to avoid a similar situation to the recent Handbrake malware incident which as I understand it is at least in part attributable to a non-signed executable: https://forum.handbrake.fr/viewtopic.php?f=33&t=36364

[2017-06-06 05:19] follower commented on #3601
Just discovered the VideoLAN organisation offers various build & signing support for audio projects so it might be worth getting in contact with them about this and #3602: https://github.com/HandBrake/HandBrake/issues/619#issuecomment-299862421 (From Handbrake issue regarding code-signing.)

[2017-06-06 12:10] Texxiliator commented on #3606
@RebeccaLaVie yeah
![image](https://cloud.githubusercontent.com/assets/22986832/26828446/bf380900-4ac1-11e7-96e5-7504aa9107e8.png)
![image](https://cloud.githubusercontent.com/assets/22986832/26828461/d47ef346-4ac1-11e7-953b-95c8c163d87e.png)
![image](https://cloud.githubusercontent.com/assets/22986832/26828465/d868bc58-4ac1-11e7-8b05-4a60a7f01561.png)

[2017-06-06 12:19] Umcaruje commented on #3606
Note that this is intentional with regular patterns cause they have an actual border. The reason BB patterns are borderless is to fit nicely inside the BB editor. Now this has always been an edge-case but I suppose we could add a border to BB tracks that are in song editor.

[2017-06-06 12:29] musikBear commented on #3610
Ok, then no reason to look into the structure with the abundance of identical style defs. 👍

[2017-06-06 12:29] #3610 closed

[2017-06-06 13:24] musikBear commented on #3612
done, doubt it will catch the person in questions eyes

[2017-06-06 13:24] #3612 closed

[2017-06-06 13:25] musikBear commented on #493
a question for the dev that implemented the array of automateable VST controllers:
Is there is a way to discover, if a controller on the VST is saved as a automateable lmms-controller in that array?

[2017-06-06 15:18] michaelgregorius commented on #2000
@tresf The windows build is not disabled completely, it's just always building without MP3 support. I guess once @tobydox has added lame to the PPA we can simply adjust the `CMakeLists.txt` and the corresponding Travis script for Windows as was done for OS X (969ade26b9652b71d4435c2d78deb0c53e526d8c) and then all three platforms will support MP3 encoding via Lame.

[2017-06-06 15:34] tresf commented on #2000
I know, I'm asking you to stop doing that.  Cmake is smart enough to know if it's there.  Forcing off is pointless.

[2017-06-06 16:18] tobydox commented on #2000
mingw[32|64]-x-lame is now available at https://launchpad.net/~tobydox/+archive/ubuntu/mingw-x-trusty - might take a few minutes until package has been published

[2017-06-06 20:16] zonkmachine opened #3616 "24-bit export noise. Integer overflow."
At levels over +/- 1.0f the signal will fold over.

![24bitclip](https://user-images.githubusercontent.com/6368949/26849761-9f232c14-4b05-11e7-8568-4dbc55a81cd0.png)

@michaelgregorius

[2017-06-06 21:08] michaelgregorius commented on #3616
Fixed by #3617. All wave exports will now clip data to 1.0 or -1.0 like it was already done for the 16 bit and 32 bit exports.

[2017-06-06 22:24] karmux commented on #326
Sound that I get from Freeboy is actually correct.
Channel 4 is meant to be noise: https://github.com/LMMS/lmms/blob/stable-1.2/plugins/papu/papu_instrument.cpp#L271

All channels sound exactly same in Linux and Windows for me.

[2017-06-07 01:10] zonkmachine commented on #1110
Correct. You can get the latest 1.2.0-rc3 here: https://lmms.io/download/#windows
Testing is appreciated! :wink:

[2017-06-07 04:13] zonkmachine commented on #1110
This is fixed. Somewhere in the work around LMMS Memory Manager #1088 this was fixed.
I couldn't pinpoint the commit as the build fails around where the Memory Manager was introduced but here are, in my opinion,  the most likely commits to have fixed this.
I'm closing this issue but please reopen if it reappears.

## More likely:

commit 857de8d2c829dc688745f41ba8eddbe148a63a20
Date:   Wed Aug 27

[2017-06-07 04:13] #1110 closed

[2017-06-07 13:38] Hussam-Eddin-Alhomsi commented on #3608
The issue's title should be "Quantizing in Piano-Roll causes a crash.".

[2017-06-07 17:51] #3616 closed

[2017-06-07 19:10] zonkmachine commented on #2854
When I open a VST I get a temp file and after I delete the temp file is deleted too.
If I close a project with VSTs in it the temp files are deleted. If LMMS crash or is terminated from the command line the temp files stays. After restarting the computer they are gone. This is under Linux though. It looks like Windows doesn't clear out temp files automatically on restarting.
In any case, I don't t

[2017-06-07 21:12] zonkmachine commented on #3608
Closed in https://github.com/LMMS/lmms/pull/3609

[2017-06-07 21:12] #3608 closed

[2017-06-08 00:10] miketurn opened #3619 "Error Message With VSTHost After LMMS 1.2.0 RC3 Install"
A friend of mine found something and asked if I could mention it here because he does not have an account yet.  I have tried this out as well and experienced the same error.

Using
Windows 7 (64Bit)
LMMS 1.2.0 RC3 (32Bit)
VSTHost 1.54 / 1.55 / 1.56 (32Bit) (Tried all three versions)

VSTHost works fines, but if you uninstall LMMS 1.2.0 RC2 and install 1.2.0 RC3 when you try to run VSTHost again an

[2017-06-08 04:05] zonkmachine commented on #2612
It looks like this could be related to song-global automation.

[2017-06-08 10:31] #3590 closed

[2017-06-08 13:41] musikBear commented on #2612
@zonkmachine  #403 -i vote remove

[2017-06-08 14:25] musikBear commented on #3619
Debug Help Library
https://msdn.microsoft.com/en-us/library/windows/desktop/ms679309(v=vs.85).aspx

Cant see why that should have anything to do with either vstHost or lmms

[2017-06-08 14:46] tresf commented on #3619
I downloaded VSTHost 1.5.6 and couldn't reproduce.  I'm not sure technically how LMMS (installed into C:\Program Files\) and VSTHost (extracted to an arbitrary location) can impact each other.  Neither write to system files and neither modify the default `PATH` for Windows.

Furthermore, the bug description is vague.  It should explain exact steps.  For example, if an LMMS project that uses a VST

[2017-06-08 15:12] Sawuare opened #3620 ""Effects chain" & "User controller" LEDs should be responsive"
This button ![effects chain](https://user-images.githubusercontent.com/25503477/26935803-8fd417b6-4c75-11e7-9619-5e150ef55431.png) turns on automatically when an effect is added in the effects chain of a mixer track or in the effects chain of an instrument plug-in. Why doesn't it turn off automatically when there are no plug-ins, too?
Lesser clicks and time, better UX.

[2017-06-09 04:30] Texxiliator commented on #3606
*update* This happens to everything :
![image](https://user-images.githubusercontent.com/22986832/26961167-220d95b4-4cdd-11e7-9ce8-1b72061d62b7.png)

[2017-06-09 06:48] Spekular commented on #3606
Patterns are supposed to go over the grid, and they have notches every bar.

On Jun 9, 2017 06:30, "Texxiliator" <notifications@github.com> wrote:

[2017-06-09 11:56] musikBear commented on #3606
Nono! as specular says that is intended! Think about it:  it would be absurdly confusing if you move a block, and have no idea what actually is part of the block, before it is moved. There should not be grid over blocks!

[2017-06-09 14:27] musikBear commented on #3619
Well, something *is* wrong with rc3 in install
I get 3 new error-popups, for 3 different dlls inside the main folder:
libwinpthread-1.dll
Qt5Core.dll
zlib1.dll
And one for
RemoteVstPlugin.exe in the plugin-folder
To me it looks like these files are protected for editing/ deleting
The simple fix is to rename / remove the 4 dll files. It is not even necessary to redo the installationprocess, the pop

[2017-06-09 15:13] tresf commented on #3619
This is the wrong place for this discussion.  If you have problems with the RC3 installer, you need to ask on the support channel on discord and then file a bug.

When DLLs are locked, it's because they're in use.  They aren't protected and our installer does no such thing.  Please keep this on topic.

[2017-06-09 20:09] RebeccaLaVie commented on #3606
The OP is no longer on github, so I can't really investigate their problem with the grid much further, but I do think the borderless empty tracks might be a valid issue, in addition to adding a border to BB tracks that are in song editor.

![d868bc58-4ac1-11e7-8b05-4a60a7f01561](https://user-images.githubusercontent.com/7960169/26992353-20f7a2ce-4d13-11e7-8fd7-6a5e44b11dd4.png)

I wonder if anyone

[2017-06-09 20:22] DeRobyJ opened #3622 "Triple Oscillator - knob friction on negative values"
- Open triple oscillator
- In the plugin tab, try to turn down any knob to negative values

Turning down while on positive values is ok, turning up is always ok, the bug happens only when turning down while on negative values.

[2017-06-09 20:45] zonkmachine commented on #3622
I believe this 'stickyness' was fixed in https://github.com/LMMS/lmms/pull/3597

[2017-06-09 23:01] BaraMGB commented on #3622
Yes that is fixed.

[2017-06-09 23:02] #3622 closed

[2017-06-10 00:13] miketurn commented on #3619
@tresf
I have updated my initial post with the following
Windows 7 (64Bit)
LMMS 1.2.0 RC3 (32Bit)
VSTHost 1.54 / 1.55 / 1.56 (32Bit) (Tried all three versions)

When launching VSTHost, I am using the vsthost.exe not the VSTHostBridge file.
I uninstalled LMMS 1.2.0 RC2 (32Bit) completely before installing LMMS 1.2.0 RC3 (32Bit)
No plugins used with LMMS, no project loaded, it was a fresh install, s

[2017-06-10 00:21] tresf commented on #3619
I had not tried with the 32-bit LMMS version.  I will do that and report back my findings.  The problem did not occur with 64-bit LMMS.

[2017-06-10 01:24] tresf commented on #3619
I just tried running the 32-bit VSTHost on 32-bit Windows and it won't load, regardless of whether or not LMMS is installed.  Since this message is identical to that posted in the original bug report, I assume it's related but the steps to reproduce are different.

Perhaps someone on Windows 7 x64 can reproduce on physical hardware.  I can't get anywhere with this, not through ProcessExplorer and

[2017-06-10 03:09] Hey-Holokin opened #3623 "Bugs with toggling One Instrument Track Window Mode"
I, along with one other person, have found bugs when toggling this feature.

To reproduce my own issue regarding the feature, perform the following steps (may be dependent on other fundamental data which i was unable to gather at the time):
Open LMMS with the "One instrument track window mode" setting on (located in the first tab of the Settings window)
Open an instrument track window
Turn the afo

[2017-06-10 10:18] michaelgregorius opened #3624 "Equalizer: Enable the user to change the scale used in the analysis window"
The analysis window of the Equalizer plugin shows the signal in a range of [-18 dB FS, 18 dB FS]. The lower bound of -18 dB FS is too high and can hide a lot of spectral content in the higher frequencies.

Here's an example of a saw wave that's played at A1:
![equalizer-current](https://user-images.githubusercontent.com/9293269/27001959-6a7bfb52-4dd6-11e7-9461-a48210b5ec66.png)

As can be seen it

[2017-06-10 10:22] michaelgregorius opened #3625 "Equalizer: Enable the user to switch the windowing function used by the analysis display"
Enable the user to switch the [windowing function](https://en.wikipedia.org/wiki/Window_function) used by the analysis display of the Equalizer plugin:
![equalizer-current](https://user-images.githubusercontent.com/9293269/27002027-7de82f70-4dd7-11e7-9155-2872876cede6.png)

See #2703 and #3530 for more details.

[2017-06-10 10:25] michaelgregorius opened #3626 "Equalizer: Enable the user to change the buffer size used for the analysis display"
The current implementation of the Equalizer's analysis display uses a buffer size of 2048. Enable the user to switch the buffer size to larger and smaller sizes as a trade off between accuracy and latency:
![equalizer-current](https://user-images.githubusercontent.com/9293269/27002055-e858110e-4dd7-11e7-81fd-ffdd8973d703.png)

See #2703 and #3530 for more details.

[2017-06-10 12:01] musikBear commented on #3606
Doubt it :´) - imho no reason to spend any time on this

[2017-06-10 12:09] musikBear commented on #3619
So two different fail sequences in respect to windows version (xp v. >=7)
RC3 runs on xp, after namechange of dll mentioned above
So far i have noticed significant slower loading of projects
Would you be interested in a sanity test-sequence?

[2017-06-10 12:19] tresf commented on #3619
RC3 runs on xp, after namechange of dll mentioned above
So far i have noticed significant slower loading of projects
Would you be interested in a sanity test-sequence?

Please stay on-topic.  The problems you have with your LMMS install belong elsewhere.  I recommend `# support` on Discord.

So no issues with Windows XP 32-bit?  Please be as specific as possible.

[2017-06-10 13:47] Texxiliator commented on #3606
@RebeccaLaVie i still am on github just on diffent account :^)

[2017-06-10 16:21] mikobuntu opened #3627 "Edit > Settings: Restart notification behaviour."
Hi guys I think the popup window below should not be shown unless we have actually changed a setting in
 Edit>Settings.
![restartnotification](https://user-images.githubusercontent.com/335217/27004432-13e20964-4e01-11e7-9e16-a5654521c9de.png)

* Right now the default behaviour is to show the Restart notification even if we don't click on anything in the settings window

[2017-06-10 16:31] Texxiliator commented on #3627
Yeah this should be fixed.

[2017-06-10 18:27] tresf commented on #3627
I vote we take it a step further and not be vague.  Something like a boolean flag for notifying only when an actual restart setting was changed, then make the wording explicit.

[2017-06-10 18:33] farvardin commented on #46
I think this issue should be reopened because the way the song editor works is not very consistent with the rest of the copy/paste behavior (like in the piano roll):
- select several items, and delete them with the "delete" key
- copy items with ctrl-C, clic on a position, paste items with ctrl+V.

Copying multiple segments with ctrl + drag is useful, but not in all occasions, like if you need to

[2017-06-10 18:35] miketurn commented on #3619
@musikBear
Thank you for giving this a try, so it works fine in Windows XP 32Bit.

@tresf
Thank you for trying this out again, so to kind of recap, you mention you tried VSTHost 64Bit out with a 64Bit version of LMMS with a version of Windows that is newer than Windows 7 and it worked.
When you tried VSTHost 32Bit on a 32Bit Windows system, you get this error regardless of if LMMS is installed or

[2017-06-10 18:38] #528 closed

[2017-06-10 19:55] #3568 closed

[2017-06-10 20:49] unfa opened #3628 "Can I disable Wine dependancy when building?"
I can't install any wine-dev package. I don't need it though, because I won't use any VSTs.

How can I disable VST support so I can build LMMS without the Wind dependancy?

[2017-06-10 21:41] zonkmachine commented on #3628
Add `-DWANT_VST=OFF` to your cmake command should do the trick.

https://github.com/LMMS/lmms/wiki/Compiling

[2017-06-10 22:29] unfa commented on #3628
It works, thank you!

[2017-06-10 22:29] #3628 closed

[2017-06-10 22:35] unfa opened #3629 "How to enable ZynAddSubFX when building 1.2.0 RC3 from source?"
I've managed to build LMMS 1.2.0. but I have no ZynAddSubFX instrument available.
I don' have any zynaddsubfx-dev packages available, what should I do to have that?
Also - the Cmake configuration screen didn't list anything I could install to have ZynAddSubFX onboard.

[2017-06-11 08:49] rknonchalance opened #3631 "CPU usage spikes after ZynAddSubFx GUI is opened"
In the latest 1.2.0 RC3 build once I click on Show GUI to display the interface of ZynAddSubFx after I've added it as an instrument on my new project, CPU usage spikes high enough to temporarily freeze the desktop and the audio to be on a temporary loop in case the track is being actively played (note that it does not happen when I do not load the interface yet; however, the layout of the GUI once

[2017-06-11 09:14] karmux commented on #3629
Do you have FLTK development files installed?

[2017-06-11 12:57] Raltux opened #3633 "Feature Request: Concatenate subsequent patterns (segments)"
Alas, Ubuntu Xenial provides an old version of LMMS (=1.1.3-1build1), maybe it is fixed already:

It is neither possible in a straight forward way, to copy patterns within the same track, nor can
I then combine two subsequent patterns to one pattern (merge, melt, concatenate).

There is so many good things to say about LMMS, I think this feature would make it perfect.

Thanks
Raltux

[2017-06-11 13:22] musikBear commented on #3619
Specific
The install **failed** specificity naming the aforementioned dlls
I removed them in sequence, and the install continued, and RC3 runs fine, VST-host runs fine too
RC3 32bit
*Basic function test*
* installs
* opens
* preserve settings
* uses locale
* can change UI language
* load older project
* create project from template
* replay
* saves
* exports (new as loops too)

correctly & with no

[2017-06-11 14:56] Raltux commented on #2389
same here, crash while playing and undo deleting a pattern.
1.1.3-3 from kxstudio for linux.

[2017-06-11 15:37] follower commented on #3627
Related to #2109?

[2017-06-11 16:55] BaraMGB commented on #3633
Yes, I planned to implement such a knife tool for sample tracks. For an melt or glue tool we would do a little bit more. For this the track content object needs to be able to have more than one sample buffer.

[2017-06-12 01:36] tresf commented on #2389
Since `1.1.3` is not receiving updates, please test against `1.2.0-RC3` to see if this crash is still relevant.

[2017-06-12 08:02] zonkmachine commented on #2384
Exporting needs more time it seems. No one is working on this so should we bump MIDI export to 1.3?

I tried it out and exporting instrument tracks gives me all tracks together in one MIDI track when I import it back into LMMS(Track 0, pic). I haven't had time to test it enough though.
![midiscrambled](https://user-images.githubusercontent.com/6368949/27023855-a2d07800-4f54-11e7-85c1-27a0720a9cc5.

[2017-06-12 11:10] unfa commented on #3629
I don't think so. I'll try installing them and building again.

[2017-06-12 13:30] musikBear commented on #2384
@zonkmachine i believe prosponeing midi-export already has been agreed on?
I vote bump to 1.2x

[2017-06-12 17:03] miketurn commented on #3619
Setup a different hard drive and ran another test
Windows 7 (64Bit) fresh install
No LMMS installed
I unzipped VSTHost 1.56 (32Bit) tested and it works fine
This time I installed LMMS 1.2.0 RC3 (64Bit Version)
When I go to open up VSTHost again, the same error occurs

So this error occurs after the installation of both the 32Bit and 64Bit versions of LMMS 1.2.0 RC3

[2017-06-12 17:36] mohamed--abdel-maksoud commented on #2384
I have not followed this thread for some time, I think the Javascript file converter is very promising and I could take inspiration from it handling b&b
When is the scheduled release date for 1.2?

[2017-06-12 17:51] zonkmachine commented on #2384
@mohamed--abdel-maksoud Awesome! I'll do a proper round of testing then.

There is no set release date but I think the general idea is 'a couple of months' or so. Basically it's released when we're done but we haven't released anything in years so we need to get this out. However... The next release, 1.3, will not be years away so if the pain of coding this becomes unbearable there's no reason to

[2017-06-12 17:53] tresf commented on #3629
@unfa for future reference, we have a `# devtalk` channel on [Discord](https://discord.gg/3sc5su7) that would have yielded the same answer but much quicker.

[2017-06-12 19:25] tresf commented on #3619
Found it.  This was caused by this chang in our installer.
 https://github.com/LMMS/lmms/commit/d2e50df3ce2f8a56fd1750cc077eff3e76a6867d

VSTHost seems to have a problem with setting this registry key.  I recommend pinging the developer and asking him if he can provide a patch.

Workaround:
 1. Open registry editor
 2. Search for `PreferExternalManifest`
 3. Change the value from `1` to `0`
 4. VS

[2017-06-12 19:26] tresf commented on #3619
Note, this above workaround will make LMMS very small on HiDPI display.

[2017-06-12 19:29] tresf commented on #3619
Alternately if more programs experience this crash, we can disable this installer feature on Windows 7 and older as well.

[2017-06-12 19:32] tresf commented on #3619
Per [winaero.com](http://winaero.com/blog/how-to-fix-apps-that-look-small-on-high-dpi-and-high-resolution-displays/):

We'll code a fix for this.  Sorry for the inconvenience this has caused.

[2017-06-12 22:04] miketurn commented on #3619
@tresf
I gave this solution a try and it works great, I mentioned this to my friend that originally found the error and it worked great for him as well.  He mentioned to thank you and that it was okay it wasn't a huge inconvenience, he was just happy to help, and the same goes for me as well.
Thank you for sticking with this, I am so glad you were able to find this, and even better you were able t

[2017-06-12 22:12] #3619 closed

[2017-06-12 22:22] tresf commented on #3619
Fixed in b2919d6.  So it turns out Windows 8 detection is [bugged and it's only available in NSIS 3 beta](http://nsis.sourceforge.net/Get_Windows_version#Semi-Obsolete) and including the newer versions wasn't successful (Travis-CI runs `2.46-7`).

Anyway, this calls for some ugly code, but it works:

[code]

The only downside is this will inject the registry key for Windows 8.0 and higher (versus

[2017-06-12 22:49] tresf commented on #3619
Thanks @miketurn for persisting.  This was as strange of a bug as they get and it's of great value to weed this out in the RC phase when the user impact is minimal, manageable.

[2017-06-13 01:30] XXDrown opened #3635 "Sound/Settings issue"
I go to Edit>Settings and to sound, and select the audio interface (Port Audio) and select the "Backend" and "Device", and click okay. Window pops up and says that most changes won't take effect until LMMS is restarted. I click okay, and I'm in. The only problem is that it can't play sound. I go back to the settings and it's back on dummy (no sound). I change it again to what I had previously, and

[2017-06-13 01:50] tresf commented on #3620
Slightly off-topic, but I feel the controller dropdown should behave like the EFFECTS CHAIN and select the LED for you.  Good proposal.

[2017-06-13 02:32] Hussam-Eddin-Alhomsi commented on #3620
@tresf
Which "controller dropdown"?

[2017-06-13 03:43] tresf commented on #3620
@Hussam-Eddin-Alhomsi this one...

![screen shot 2017-06-12 at 11 43 10 pm](https://user-images.githubusercontent.com/6345473/27065052-f0336c64-4fc8-11e7-825b-452f1607d6f6.png)

[2017-06-13 04:33] zonkmachine commented on #2074
It seem to depend on the settings of the envelope even though it's off. The release doesn't count and the decay counts until it reaches sustain level. Either that or until the sample ends if loop isn't enbled.
With `DEL + ATT + HOLD + DEC` all the way up and `SUST` down you get about 40 seconds of playing, and that's maximum time for a sample played via the AFP. The sample basically stops playing

[2017-06-13 04:51] zonkmachine commented on #2074
`m_pahdFrames`

[2017-06-13 07:10] softrabbit commented on #2384
@zonkmachine, how does that MIDI file behave when importing in something else? That would probably be the most common case. And it could be that the import code is less than perfect...

[2017-06-13 08:42] PhysSong commented on #3625
I think this things are needed:

- Add a combo box to select window functions
- Add a LED button to turn on/off FFT windowing
- Implement various window function generators
- Update windows buffer(maybe need to be thread safe)

Then it will be a very cool feature.

[2017-06-13 08:43] PhysSong commented on #3624
Would some sliders be a good interface to enable such things?

[2017-06-13 10:31] #3584 closed

[2017-06-13 11:54] Spekular commented on #3635
Have you tried restarting LMMS after changing the device? If that doesn't
work, try changing the setting, saving a project, and then restarting LMMS.

On Jun 13, 2017 05:05, "XXDrown" <notifications@github.com> wrote:

[2017-06-13 13:21] musikBear commented on #3635
@XXDrown If you use windows the correct setting is SDL
https://lmms.io/wiki/index.php?title=LMMS_Settings#Audio_Settings
This not a general lmms issue, so forum http://lmms.io/forum/ is the correct place for more discussion/ help

[2017-06-13 14:57] zonkmachine opened #3636 "Improve the cancel function of loading projects."
When testing to load, play and close lmms I have had an on/off problem with projects not loading completely. As it turns out I had forgotten that there is a cancel button when loading and pressed play too fast which instead triggered the cancel action. I think this button should be pressed specifically and not be tied to any key but perhaps `ESC` . Or we could have some message function confirming

[2017-06-13 20:47] Umcaruje commented on #3636
I agree that when we cancel the project, it should get cleaned out.

[2017-06-13 21:28] XXDrown commented on #3635
The settings that I select don't save.

[2017-06-13 22:07] BiRD4 commented on #3631
I've experienced this also, even in 1.1.3.

[2017-06-13 23:13] StakeoutPunch opened #3637 "Enabling instrument envelopes causes unwanted piano roll triggering"
**OS:** Windows 10
**Version:** Public 1.2 RC3
**Steps to reproduce:**
1. Open an instrument to the env/lfo tab and enable any envelope (volume, cutoff, or reso).
1. Open instrument in the piano roll and place down any chord you wish.
1. Select one note using CTRL+drag or select tool.
1. Drag the note's volume slider around. This will cause every note occurring at the same timeline position in the

[2017-06-14 00:58] Hussam-Eddin-Alhomsi commented on #3151
I agree too.
I have some ideas for the list (like the one in the image in tresf's first comment) that pops after clicking the "Add instrument track":
• The list should be compact.
• The list can have different views:
Simple: Views all instrument plug-ins sorted from A-Z or Z-A.
Categorized: Views the samples in a categorized way:
Samples manipulators - VST - Additive synths - Subtractive synths, F